[2017-11-26 02:18] darkn3rd commented on #722
This would be nice to have, currently Inspec is not feature parity with ServerSpec for `interface`.  With ServerSpec, you can do:

[code]

I would hope to do something similar with Inspec
[code]

[2017-11-27 16:02] chris-rock opened #2339 "use --vendor-cache instead of --cache"
### Description

With the introduction of #2309, we have two types of caches now:
- dependency cache directory
- backend caching

Therefore, I propose that we should deprecate `--cache` and use `--vendor-cache` instead, so we can make this clean for InSpec 2.0.

### InSpec and Platform Version

1.44.9

[2017-11-27 16:11] adamleff commented on #2339
I'm :+1: on this. Any change to add clarity to the CLI is a good thing.

Let's add the new flag and a deprecation warning to the old one in InSpec 1.x, and then add the removal of `--cache` to our checklist in #1728.

[2017-11-27 16:30] adamleff commented on #2330
Thanks for raising this issue, @lavahot! It's clear we need to make the `group` resource work properly on macOS. I've marked this as a bug and hopefully someone can submit a PR to help us, or we'll get to it as soon as we're able!

[2017-11-27 16:39] #2331 closed, assigned to nobody

[2017-11-27 16:40] adamleff commented on #2333
Thanks for submitting this issue, @atomic111. We first need to fix the existing behavior to be accurate, and then we can certainly enhance the resource to allow the testing of any menuentry. I'll flag this as a bug.

[2017-11-27 16:45] adamleff commented on #2335
It does appear that while it returns data, the connection remains open leading to the timeout.

We cannot simply rely on `-i` giving us the headers because it will be a GET request instead of a HEAD. However, we can detect when the user asks us to perform a HEAD request and modify the command we use instead to use `-I/--head`. I'll submit a PR to do so.

[2017-11-27 16:51] mmb commented on #1700
I see the same issue with Concourse CI.

I think this is due to the use of colors which require a 256 color terminal. Could inspec be changed to use only basic colors?

[2017-11-27 17:04] adamleff commented on #2337
Thanks for the feature request, @oblutak!

[2017-11-27 17:05] adamleff commented on #2338
That's a very interesting idea, @darkn3rd. I'm not sure if the underlying transport libraries we use support this or if we'd have to supply the logic ourselves, but I'll flag this as a feature request.

[2017-11-27 17:17] #2335 closed, assigned to nobody

[2017-11-27 23:20] TheLonelyGhost opened #2343 "Windows file permissions regression (No such method on NilClass)"
### Description

Given the example code below, I expect the control to pass. It does not. It looks like there's an issue with if and how a variable is returned when upgrading ruby versions from 2.3.x to 2.4.x.

This occurs for both the `be_allowed` and `be_executable` styles of noting permissions on Windows.

### InSpec and Platform Version

Using inspec v1.45.13 on macOS 10.12.6

### Replication

[2017-11-28 03:58] ryancurrah commented on #2105
I'm getting this issue with the RPM provided. I do not have Ruby installed on my vagrantbox

[code]

[2017-11-28 08:18] #2343 closed, assigned to nobody

[2017-11-28 08:58] dmytro-malovany opened #2345 "Profile attributes are not discovered correctly while using a profile dependent of another one"
Initial idea was to discover _ALL_ Oracle instances running on a system and iterate over them.
So I decided to search for the instances and create an array where I store all the attributes related to each instance in separate hash.

But I've got a problem with passing of attributes to multiple profiles (when one profile is dependent of another one).
I will describe it further.

So, we have two pro

[2017-11-28 09:28] rmestrum opened #2346 "Only one formatter can be used"
### Description

When I execute a test I want the output to be available in different formats (for example html and junit) without running the test multiple times.

### InSpec and Platform Version

OS Fedora: 26
Inspec: 1.45.13

[2017-11-29 09:59] atomic111 commented on #1011
i need this resource too

[2017-11-29 10:25] einsteinchen commented on #1011
Just filling a need and not necessary a good solution:
- I copied the iptables ressource
- modify the command in the resource file (my hint: add a „6“ in iptables)
- store it in your profile in the libraries folder
- same rules apply like in iptables
As said, that is a hack and better solutions should be thought of (I spent some time but my results did not provide what I wanted, e.g. Change iptabl

[2017-11-29 11:01] #2260 closed, assigned to nobody

[2017-11-29 13:16] Afterglow commented on #2241
is further information required for this?

[2017-11-29 13:30] adamleff commented on #2241
No additional information is needed, @Afterglow - we simply haven't had time to address this issue. If you're willing to take a stab at submitting a PR, we'd be happy to review.

[2017-11-29 13:40] jesstracy commented on #431
+1

[2017-11-29 16:23] TheLonelyGhost commented on #2338
Looks like this feature request would be best suited for the [train gem](https://github.com/chef/train), which is Inspec's underlying transport library. It uses `Net::SSH` as a dependency, which has an option to use `/etc/ssh/ssh_config` and/or `~/.ssh/config` to read in default configurations with its [`Net::SSH::Config` class](https://net-ssh.github.io/net-ssh/Net/SSH/Config.html).

All this is

[2017-11-29 16:30] adamleff commented on #2338
@TheLonelyGhost yes, often we get requests in this repo for things that are best solved in Train. However, this change will likely affect both InSpec and Train as this behavior is likely something that should be opt-in, and the user experience remains with InSpec.

[2017-11-29 17:28] alexpop opened #2351 "inspec check/json fails with the cis-docker-benchmark profile"
**Before:**
[code]

**Now:**
[code]

[2017-11-29 18:48] kmf opened #2352 "Issue verifying Docker Image if the if the registry has a port number"
### Description

Issue verifying Docker Image if the if the registry has a port number

### InSpec and Platform Version
1.45.13
Ubuntu 16.04.3

### Replication Case
[code]
Code I use to verify images
[code]

Output from Inspec
[code]

[code]

[2017-11-29 19:25] adamleff commented on #2351
Recent enhancements to the JSON resource to raise exceptions and properly handle the “command” parameter during `check` operations have made it so that a JSON resource that failed to initialize will return `nil` for params.

This is fine for tests, but not fine for method chains outside of a describe. I will fix this later today.

[2017-11-29 21:31] #2351 closed, assigned to jquick

[2017-11-29 23:00] adamleff commented on #2241
Hi, @afterglow! I had some time to look at this today.

Unfortunately, this appears to be an issue with Ubuntu's iproute2 package for 14.04. Since `netstat` is officially deprecated, InSpec looks for `ss` first, and if it's there, we use it. Here's the output of `ss -tulpen` on a 14.04 instance:

[code]

... even though two of those entries are actually UDP, all four are labeled TCP. If you drop t

[2017-11-30 02:07] juju4 opened #2355 "[idea] report to remote syslog"
### Description

I'm looking to check compliance of many systems and use my syslog server to aggregate results.
On linux, I can pipe to logger command to achieve that with for example a json output.
On windows, I would need a more integrated way.

For now `inspec exec` has no output option (https://www.inspec.io/docs/reference/cli/)
It would be nice to be able to natively send to stdout (current),

[2017-11-30 16:32] adamleff commented on #2345
@bratdim thanks for submitting this issue, sorry you're running into some problems.

I have to admit I'm having trouble deciphering where the problem is in your problem report. While it's very detailed, I don't have quite as easy of a reproducible test care for me to start digging into where the problem is.

My main concern here right now is potentially a misunderstanding of our InSpec Attributes

[2017-11-30 16:36] adamleff commented on #2346
Thanks for your feature request, @rmestrum. I'm currently working on a side-project to revamp the formatter/reporter section of InSpec and this is part of my work. I don't have an ETA on it, but the plan is hopefully by the end of the year or first part of January as time allows.

[2017-11-30 16:56] adamleff commented on #2352
@kmf thanks for the excellent reproducible test case! I'll take a look at this.

[2017-11-30 17:04] adamleff commented on #2352
@kmf workaround until I fix the options parsing:

[code]

Rather than supplying a string, you can supply each individual component of the image you're looking for and that will solve your problem for now. But I'll still get this fixed.

[2017-11-30 18:18] kmf commented on #2352
Thanks!

[2017-11-30 21:22] atomic111 opened #2357 "rsyslog resource"
### Description

I am implementing the CIS RHEL7 Benchmark and it would be nice to have a rsyslog resource to parse the configuration.

[2017-11-30 21:31] atomic111 opened #2358 "syslog-ng resource"
### Description

I am implementing the CIS RHEL 7 Benchmark and it would be nice to work with a syslog-ng resource to parse the configuration.

[2017-11-30 22:43] adamleff commented on #2355
Thanks for your feature request, @juju4

[2017-12-01 09:24] #2352 closed, assigned to nobody

[2017-12-01 13:07] rmestrum opened #2360 "oracledb_session resource cannot be run if ORACLE_HOME is not set correctly"
### Description

When I use the oracledb_session resource and the ORACLE_HOME is not set correctly the test fails with  `∅  undefined method '[]' for nil:NilClass`

The test looks like
[code]

The result I was expecting was that the query is executed and the query result is validated.

### InSpec and Platform Version

InSpec: 1.45.13
OS: RHEL 6.7
Oracle: 12.1.0.2

### Possible Solutions

In issue

[2017-12-01 15:35] aaronlippold commented on #2357
Please reach out to @dromazmj as he did some initial work on looking at this resource.

[2017-12-01 15:36] aaronlippold commented on #2358
Please reach out to @dromazmj and @jburns12 as they did some initial work on looking at this resource.

[2017-12-01 21:25] jquick opened #2361 "Wrong control cli output when test are identical"
### Description

If there are two tests who have the same exact command, output, start time, and runtime. They will be merged together in the control summery output. This can give false report back the the user.

You can see an example of this here:
[code]

The important part here is that its outputting "...(1 failed)" when actually 2 test failed.

[2017-12-04 11:53] walterdolce opened #2365 "Newest releases not on Rubygems"
Hi guys,

Looks like all the tags after 1.46.2 are not available in Rubygems.

The `Gemfile`:
[code]

The output:
[code]

[2017-12-04 12:09] jesusvazquez opened #2366 "Upstart info_service enabled not working properly"
### Description

Inspec reports a service is enabled when it is not.

### InSpec and Platform Version

[code]
[code]
[code]

### Replication Case

Set the following upstart config for consul service:
[code]

Run the following code with ansible:

[code]

[code]

Run verify... inspec will report the service is enabled, when it is not.

### Possible Solutions

Instead of [matching the upstart configu

[2017-12-04 15:01] alexpop opened #2367 "RFC: enhance git fetcher "version constraint" behavior - "Profile x from git has a version 2.2.0 which doesn't match 2.1.1""
With `linux-baseline` profile at version `2.2.0` in github:
[code]

Workaround for now:
[code]

[2017-12-04 15:08] stevendanna commented on #2367
The issue here is that by default the `git` source will pull the latest master branch unless `branch`, `tag` or `ref` is specified in the dependency description (or if an inspec.lock is in use).

Once pulled, we then additionally check that any `version` constraint is satisfied.

The documentation says we do "git tags via semantic versioning" which we could certainly do.

[2017-12-04 16:57] adamleff commented on #2365
Hi, @walterdolce. This is "behaves as expected." Every time code is merged to master, we automatically tag it and perform some release processes: we build an Omnibus package which goes into the "current" channel on downloads.chef.io, we push up a docker container to `chef/inspec` which is tagged as "unstable" and then "current" (after our Jenkins tests pass), and we publish to Habitat Builder a bl

[2017-12-04 16:57] #2365 closed, assigned to nobody

[2017-12-04 21:27] atheiman opened #2369 "Inspec docs: serverspec migration guide doesnt mention tests need to be in `controls/` dir"
### Description

no idea if this is the right location for a docs issue, but this just tripped us up. It looks like when migrating from serverspec to inspec you need to move your test files into `test/integration/<suite>/controls`. This isnt mentioned on the migration guide https://www.inspec.io/docs/reference/migration/

[2017-12-05 02:41] peco8 commented on #1886
+1

[2017-12-05 04:13] adamleff commented on #2367
While I'm not a huge fan of adding magic, I think we can make the git fetcher and dependency finder smarter in this case with the intention of harmonizing the experience between the `compliance` fetcher and `git` fetcher. With the `compliance` fetcher, if you supply a constraint list in the `version` field, we'll find the profile that best matches. I think we can do the same here.

Pre-requisite:

[2017-12-05 04:24] adamleff commented on #2369
Thanks for the docs suggestion, @atheiman! This is a fine place to log it.

You are correct that tests belong in the `controls` directory, but only if you're using an "InSpec profile" structure (i.e. if you have an `inspec.yml` file, etc.). We obviously recommend that because structuring your tests in a profile provide additional benefits, such as inheriting other profiles, adding custom resources

[2017-12-05 10:48] stevendanna commented on #2367
@adamleff Your write-up looks reasonable to me!  A couple of Qs below:

If we don't find a tag, this will be a behaviour change for existing users.  I wonder if we want to "pull master and see if that satisfies the constraint" as a final step before failing.

I'm assuming the same behavior for `tag:` and `branch:` as well.

[2017-12-05 12:03] adamleff commented on #2367
@stevendanna:

Yes, agreed. We also need to debug-log the hell out of our decision-making process so people have a way to figure out our madness.

Yes absolutely. I implied but wasn't explicit. I view all three of those keywords as similar but should've been clearer. Thank you for asking!

I appreciate the feedback.

[2017-12-05 12:06] adamleff commented on #2367
Situation:
 * user supplies: `version: 1.2.3`
 * InSpec successfully finds tag `v1.2.3`
 * inspec.yml has `version: 1.2.2`

Result: raised exception with clear error message

I don't think we want to trust that just because it's tagged with a version string that the version string is correct. In the compliance profile store, the inspec.yml is authoritative.

Another option is to ignore tags and wa

[2017-12-05 12:07] #2361 closed, assigned to jquick

[2017-12-05 12:18] atheiman commented on #2369
Ahh, thank you for clearing that up for me

[2017-12-05 12:49] #2345 closed, assigned to nobody

[2017-12-05 13:13] #2175 closed, assigned to jerryaldrichiii

[2017-12-05 13:13] #2237 closed, assigned to jerryaldrichiii

[2017-12-05 14:43] clintoncwolfe opened #2370 "RFC: Lazy column fetching for FilterTable-based resources"
Over at [inspec-aws issue #100](https://github.com/chef/inspec-aws/issues/100), we've been discussing the need for and advantages of being able to "lazy load" columns in the underlying dataset in a FIlterTable-based resource.

As a non-AWS example, the pattern we keep seeing is one in which we have a generic data fetching operation (say, listing running processes) with a property which must be pop

[2017-12-05 15:01] aduric commented on #2370
PR can be found here: https://github.com/chef/inspec/pull/2371

[2017-12-05 21:46] qubitrenegade opened #2373 "Package resource passes when no packages are defined"
### Description

When describing a package and not defining a package name, the inspec test will pass.

### InSpec and Platform Version

Confirmed on 1.45.13, CentOS 6.5

### Replication Case

Create a package resource with no packages defined:

[code]

[code]

### Possible Solutions

I think, this should fail or generate an error that "package name" is undefined for "package" control/resource

##

[2017-12-05 22:18] adamleff commented on #2105
I have tracked down this issue and it is fixed in #2374 and should be fixed in the next stable release of InSpec. Thanks for your patience.

[2017-12-05 22:48] adamleff commented on #2373
Thanks for submitting this issue, @qubitrenegade! This is totally a bug as the resource is useless without a package name.

[2017-12-05 22:51] jerryaldrichiii commented on #2325
This is fixed via https://github.com/chef/inspec/pull/2349

[2017-12-05 22:51] #2325 closed, assigned to nobody

[2017-12-05 22:53] jerryaldrichiii commented on #584
Closing this due to its age, please reopen if this is still an issue.

[2017-12-05 22:53] #584 closed, assigned to nobody

[2017-12-05 23:10] dcijj opened #2375 "Inspec Compliance Login Failures on "Opsworks Automate""
### Description

When attempting to login to the Inspec Compliance server at AWS (it's a fresh Opsworks + Chef Automate build) I receive the following error which has no information on google (yet).

```/Users/josiah/.rvm/gems/ruby-2.4.0/gems/inspec-1.47.0/lib/bundles/inspec-compliance/api/login.rb:24:in `login': Unable to determine if https://chef-opsworks-<redacted>.us-west-2.opsworks-cm.io is a

[2017-12-06 07:06] jerryaldrichiii commented on #1692
@adamleff, is this still an issue? I see that we return `false` if `info.nil?`

https://github.com/chef/inspec/blob/master/lib/resources/package.rb#L56

[2017-12-06 07:11] jerryaldrichiii commented on #1692
I like the idea of returning `{}` though. I think it's cleaner.

Could you expand on your thoughts about better exception handling now that we have the `ResourceSkipped`/`ResourceFailed` exceptions?

[2017-12-06 07:20] jerryaldrichiii commented on #1692
In the meantime, here's a quick stab at having `info` return `{}` and some exceptions being tweaked.

Let me know what you think.

https://gist.github.com/jerryaldrichiii/ea4be62ff4c0542d8d5f0b40355a4a41

[2017-12-07 12:50] #2105 closed, assigned to nobody

[2017-12-07 15:27] tpetchel opened #2379 "Unable to target Docker containers from Windows"
### Description

I am unable to target Docker containers from a PowerShell session on Windows. For example, this command fails:

[code]

### InSpec and Platform Version

[code]

[code]

[code]

### Replication Case

1. Install Docker for Windows and InSpec.
2. Pull down a Linux container.
[code]
3. Start the container in the background.
[code]
4. Get the container ID.
[code]
5. Scan the container.

[2017-12-07 17:43] heathsnow commented on #431
Here's what I've come up with so far:
[code]

[2017-12-07 17:57] jekriske-lilly opened #2380 "XML resource docs need updating: key with periods fails."
### Description

According to the current documentation, something like
[code]
should function, but instead this results in an error trying to call 'artifactory' as a method in this case.
[code]

### InSpec and Platform Version

inspec 1.42.3
RHEL 7.4

### Replication Case

Try the xml resource with a leaf key that has periods.

### Possible Solutions

An alternate syntax, in this case:
[code]
wor

[2017-12-07 18:02] adamleff commented on #2380
@jekriske-lilly we cannot make a "string act like a string" in this case because the underlying library in use `rspec-its` takes the string, splits on period, and creates the method chain.

We can, however, and will update the documentation to include the alternate syntax like we have for the JSON and INI resources as well. Thanks for submitting this issue.

[2017-12-07 18:08] gordonbondon commented on #431
For me Inspec works through jumphost with `ProxyCommand` in `~/.ssh/config`:
[code]

And then `inspec exec profile -t ssh://ubuntu@10.11.22.33`

[2017-12-07 21:23] jerryaldrichiii commented on #1692
This also fixes #2373  😄

[2017-12-07 21:45] miah commented on #1461
Hello =)

The crontab resource has been updated to support system crontabs! You'll find this change in our [1.48.0](https://github.com/chef/inspec/blob/master/CHANGELOG.md#v1480-2017-12-07) release.

Example use:
[code]

[2017-12-07 21:45] #1461 closed, assigned to miah

[2017-12-07 22:12] heathsnow commented on #431
Okay, I used @gordonbondon suggestion and now run the following in a rake task:
[code]

[2017-12-08 14:23] markri opened #2383 "Firewalld test fails"
### Description

Try to use firewalld test. Rule is there but inspec says the rule doesnt exist

### InSpec and Platform Version

Inspec: 1.48.0
OS: Ubuntu 16.04
RVM: Ruby 2.4.1p111

Target OS:
CentOS 7.4.1708

### Replication Case

Create a script "firewall.rb"

[code]

Create a firewall rule on OS in firewalld

`firewall-cmd --add-rich-rule 'rule family=ipv4 service name=http accept'`

Test insp

[2017-12-08 17:27] terraform-ctc commented on #2346
Glad to hear this functionality is coming.  In our use case, we use Jenkins to run our tests and would like to have the progress output to capture on the job's console, while still being able to save the results in junit format for jenkins.

[2017-12-08 20:36] SteveDelFante opened #2384 "InSpec exec switches PS standard out to red to show an error but forgets to unset the color"
### Description

From Windows, InSpec exec switches PS stdout to red to show an error but forgets to unset the color. I am told this also happen in MacOS.

### InSpec and Platform Version

InSpec v1.48.0  and Windows 10 Pro

### Replication Case

Tell us what steps to take to replicate your problem.

We discovered this while testing this tutorial: https://learn.chef.io/modules/try-inspec/

Then wh

[2017-12-10 19:22] aaronlippold commented on #2383
Hi.

We will look into it.

Thanks,

Aaron

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Fri, Dec 8, 2017 at 9:23 AM, markri <notifications@github.com> wrote:

[2017-12-11 20:36] aboutte opened #2387 "xml resource interpreting contents"
### Description

XML resource interpreting contents of XML file

### InSpec and Platform Version

1.45.13
Mac 10.11.5

### Replication Case

- use the provided inspec code
- use the provided xml file

inspec:

[code]

xml file:

[code]

### Stacktrace

[code]

[code]

[2017-12-12 15:31] #2380 closed, assigned to nobody

[2017-12-12 15:34] adamleff commented on #2387
Hi, @aboutte! Thanks for your issue.

The problem isn't that InSpec is evaluating the XML, but rather that it's seeing periods in your XPath parameter and trying to turn that into a Ruby method chain. I just put up PR #2389 to clarify in the docs that there is an alternate syntax where you wrap your string with `[ ]` to prevent the underlying library from seeing the periods and trying to turn them

[2017-12-12 15:34] #2387 closed, assigned to nobody

[2017-12-12 16:04] aaronlippold commented on #1486
This would be key to an effective way to develop resources easily - for example - our work on the inspec-aws resources.

[2017-12-12 16:28] #2339 closed, assigned to jquick

[2017-12-13 12:29] kmf opened #2394 "JSON resource to do remote API calls"
I would love to use the JSON resource to test remote API calls over https or http

[code]

[2017-12-13 19:52] adamleff commented on #2394
@kmf great use case, I'll log this as a feature request. We'd need to be careful in how we implement because we don't want to reproduce all of the existing `http` resource. Perhaps the `json` resource could be modified to take a built-up `http` resource to use to fetch the content, etc.

In the meantime, I would totally join/stack resources here to get what you need. It should hopefully be pretty

[2017-12-13 20:25] kmf commented on #2394
Thanks for your help @adamleff

How would I use that with a Auth Token?

[code]

[2017-12-13 22:49] adamleff commented on #2394
@kmf you should be able to do that easily with the `http` resource as well. I'm going to break it up into multiple lines to make it easier to read given the potential length of the `http` resource call now.

[code]

[2017-12-14 02:08] pinterl opened #2396 "Your version of InSpec is out of date! after upgrade"
### Description

I have upgraded InSpec on my Mac. After the successful install and reboot, I still get the message:

### InSpec and Platform Version

Installed inspec-1.48.0-1.dmg
Mac OS 10.12.6.

### Replication Case

I had InSpec version 1.36.1, downladed inspec-1.48.0-1.dmg and installed it.
After the successful install and reboot I still get the same message.

[2017-12-14 07:45] jerryaldrichiii commented on #2396
@pinterl interesting issue,

Could you put the output of the command: `which inspec` here?

[2017-12-14 21:06] pinterl commented on #2396
@jerryaldrichiii
$ which inspec

[2017-12-14 21:35] TheLonelyGhost commented on #2277
Can confirm that I was confused by the singular versus plural forms of, e.g., `user` vs. `users` and `package` vs. `packages`. I can see how it would be useful for fuzzy-finding a particular resource where an identifying attribute matches a certain pattern.

All that said, perhaps it would be better to include a uniform list pattern where it only gives back whether the query returned any results,

[2017-12-14 21:38] TheLonelyGhost commented on #107
This seems to be tied functionally to the result of #2277

[2017-12-15 18:52] #1692 closed, assigned to jerryaldrichiii

[2017-12-15 18:52] #2373 closed, assigned to jerryaldrichiii

[2017-12-15 19:20] jerryaldrichiii commented on #2396
@pinterl Ah, I see the issue.

Since you have ChefDK installed, the version of InSpec that is shipped with it is taking precedence. ChefDK bundles tools together to ensure functionality.

I would recommend you either wait for the next ChefDK release or use the ChefDK from the  `current` channel. https://downloads.chef.io/chefdk/current

[2017-12-15 19:33] pinterl commented on #2396
@jerryaldrichiii Thank you so much for the info. So it looks like there is no need to install InSpec separately, I can just delete the InSpec folder from "/opt" and update ChefDK only in the future. It would be nice to state this on the InSpec download page because I guess most or all InSpec users already have ChefDK installed on their workstation.

[2017-12-15 19:39] jerryaldrichiii commented on #2396
@pinterl Actually, I was surprised to learn that a significant number of people use InSpec without Chef or the ChefDK.

After switching to this role, I don't even have the ChefDK installed anymore :smile:

[2017-12-15 19:40] jerryaldrichiii commented on #2396
Mind if I close this issue to keep our backlog clean?

[2017-12-15 19:55] pinterl commented on #2396
Thank you @jerryaldrichiii, please close the issue.

[2017-12-15 19:55] #2396 closed, assigned to nobody

[2017-12-15 23:35] ryancurrah commented on #4495
This or a wait functionality would be great. It can take awhile for Windows instances to setup WinRM.

[2017-12-18 18:05] jquick opened #2404 "Add supports keyword to InSpec resources and profile yaml"
### Description

This change is part of the larger platforms RFC here: #1661. This change adds in the supports field for resources and profiles.

## Platform in profiles

Profiles can specify a list of supported platforms. This is done via the `supports` field and includes:

* `os-name`: for OS-specific platform names
* `os-family`: for OS-specific platform families
* `platform`: to target platfor

[2017-12-19 03:20] adamleff commented on #2258
We have verified this is potentially a problem for InSpec being included in ChefDK. Closing this card and opening a new one to investigate the best way to proceed.

[2017-12-19 03:20] #2258 closed, assigned to jerryaldrichiii

[2017-12-19 16:51] clintoncwolfe commented on #2258
To clarify a bit: If inspec-aws were to depend on AWS SDK v3, it would cause a conflict with several products that pin to v2, including chef-dk, omnibus, and chef-provisioning.  We currently do not need to move to v3 (see aborted https://github.com/chef/inspec-aws/issues/108), and so *we do not currently have a conflict*.

When we do move to v3, we'll need to coordinate across product lines.

[2017-12-19 23:32] burtlo commented on #719
While exploring profiles I had a similar question to this:

[code]

In the event that a profile has defined an attribute that conflicts with another profile makes me think that we should:

1. As a best practice suggest that individuals use attribute names which incorporate the name of the profile:

[code]

2. Change the way that attributes are defined in the attributes file to namespace them under

[2017-12-20 10:58] reddeppas opened #2406 "executing profiles from git on remote server throwing a error"
### Description

When i execute profiles from http://github.com/repo/profile  on remote server .

inspec exec $git_url --backend ${protocol} --user '${ad_domain}\\${ad_username}' --password '${ad_password}' --host ${server} --sudo --format json-min

WARN: Unrecognized content type: text/html; charset=utf-8. Assuming tar.gz

### InSpec and Platform Version
Inspec version: 1.47
OS: Windows 2008

###

[2017-12-20 13:51] jquick opened #2407 "Force lowercase/underscore platform names"
### Description

https://github.com/chef/train/pull/228 now converts all platform names to lowercase and underscores. This change is a breaking change for InSpec. We need to update the os/platform code to auto correct this for profiles with a warning saying this is going to be finalized in InSpec 2.0.

[2017-12-20 15:57] #2330 closed, assigned to jerryaldrichiii

[2017-12-20 17:32] lavahot commented on #2330
Woo!

[2017-12-20 22:58] adamleff commented on #1515
@Devon21 I think the rb-readline component here is unrelated. This looks like your real error:

[code]

That looks like you're missing an `end` somewhere in `/etc/sensu/plugins/inspec-cis-apache13.rb`

[2017-12-20 23:11] adamleff commented on #2406
@reddeppas thanks for submitting this issue.

The telltale warning is this one:

`Unrecognized content type: text/html; `

This indicates to me that the URL you were attempting to use for your profile (`$git_url`) is not GitHub URL but rather something that may act like GitHub (perhaps GitHub Enterprise) or another Git system, like Altassian Bitbucket.

When you supply a URL to InSpec, it will fir

[2017-12-20 23:11] #2406 closed, assigned to nobody

[2017-12-21 10:06] megamorf opened #2409 "Cannot use XML resource with XPath to test attribute value"
### Description

We're trying to check a connection string that is stored in an xml file as a node's attribute value. The xml resource doesn't seem to yield correct results.

### InSpec and Platform Version
[code]
The replication case below was tested against SLES 11 SP4 and Ubuntu 16.04.3 LTS.

### Replication Case
**database.xml** (Store as `/tmp/database.xml` for test purposes)

[code]

**test.

[2017-12-21 11:32] megamorf commented on #2379
The Windows docker daemon is listening on a named pipe by default (similar to a unix socket) and can optionally be [configured](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon#configure-docker-with-configuration-file) to also listen on a given TCP port.

But since you're trying to access the docker daemon from within the official inspec conta

[2017-12-21 12:06] megamorf commented on #2384
By the way, it'd be good to add very specific windows version information since each Windows 10 release can be considered a major release with changes to the Windows console host and other internals.

[code]

[2017-12-21 16:18] y0nigt opened #2411 "ntp_conf resource and testing clock drift"
Hi,
According to the [ntp_conf resource reference](https://www.inspec.io/docs/reference/resources/ntp_conf/)

The following example -
[code]
has the title 'Test for clock drift against named servers'
but it seems like it only validates the servers are defined in the ntp configuration file, nothing more. Is it possible to use this resource to test for clock drift?

[2017-12-21 17:46] chris-rock opened #2412 "json-min report should include shasum of the profile"
### Description

The json format includes the profile sha:

[code]

But the `json-min` does not include this information:
[code]

### InSpec and Platform Version

1.48.0

### Replication Case

run commands above

### Possible Solutions

Add sha sum to json min and update the schema

[2017-12-21 18:48] stephenlauck opened #2413 "Use of password flag should default to prompt on no password given"
### Description

Briefly describe the issue and the expected behavior

When running inspec exec using SSH the `--password` flag with no password given should default to password prompt instead of error.

### InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using

Chef Development Kit Version: 2.4.17
chef-cl

[2017-12-21 18:51] jerryaldrichiii commented on #2413
Great idea @stephenlauck! I agree that we should prompt for a password if `--password` is used and/or an SSH Key fails.

I've marked this as a feature request so it can be addressed.

[2017-12-21 18:52] adamleff commented on #2413
Great feature request. To whoever implements this, we should ensure we only prompt if a PTY/TTY is detected. Otherwise, users who have automated InSpec and accidentally include an improperly-formatted `--password` flag/value may find themselves blocked.

[2017-12-21 21:30] adamleff opened #2415 "Formatter/Reporter Overhaul"
## Goals

* Provide ability to output multiple formats during a single inspec exec
* Provide ability for output to go to different files per format
* Fix the annoying "split the lines after the 2nd word" formatting choice in the CLI formatter for non-control tests
* Eliminate dependence on RSpec formatter classes wherever possible
* Provide a more structured layout in the codebase for code that ha

[2017-12-22 01:11] SDBrett opened #2417 "passwd - undefinded method 'filter'"
### Description

When using passwd to verify unique users and also number of members in a group, I'm getting an error that 'filter' is an undefined method.

### InSpec and Platform Version

CentOS 7
Inspec 1.48.0

OSX
Inspec 1.47.0

### Replication Case

control 'count users' do
  describe passwd.filter(user: 'root') do
    its('count') {should eq 1}
  end
end

control 'count group members' do
  d

[2017-12-22 01:42] jerryaldrichiii commented on #2417
Thanks for submitting this @SDBrett. It looks like `.filter` should be `.where`.

I also see this is incorrect in our documentation so I will fix that.

[2017-12-22 01:42] adamleff opened #2418 "Fail resources when required content is not available"
Historically, resources have called `skip_resource` when a required component is not available, such as a command or a file not being present. In most cases, it would be more appropriate for this to be a failure since InSpec was not able to complete the assertion. With the proper handling of `Inspec::Exceptions::ResourceFailed`, we can accomplish this now.

Since this would be a breaking change, t

[2017-12-22 02:06] adamleff commented on #2411
@y0nigt Your assumption is correct - the `ntp_conf` resource only reads the configuration. It doesn't actually interrogate the NTP daemon which would be required to determine if there is drift.

I'll flag this as a feature request and perhaps someone can implement a new `ntpd` resource... it would be cool to see something like this:

[code]

[2017-12-22 02:09] jerryaldrichiii commented on #2417
Digging further I noticed some incorrect behavior related to passing an expression `.where(user: 'root')` vs passing a block `.where { user == 'root' }`.

I will investigate, but in the meantime @SDBrett the solution to your issue is to use the following:

[code]

[2017-12-22 02:12] adamleff commented on #2417
@jerryaldrichiii It should be `passwd.where { user == 'root }`

You don't want to call `.filter` - it doesn't exist.

[2017-12-22 02:14] jerryaldrichiii commented on #2417
Gah! I messed it up in my response :face_with_head_bandage:

@SDBrett, @adamleff is correct it should be:

[code]

[2017-12-22 02:43] jerryaldrichiii opened #2420 "Using '.where' on the 'passwd' resource fails when passing a hash of parameters"
### Description

The `passwd` resource should accept both a block and an expression passed to `.where`.

See the following for examples:

#### Fails

[code]

#### Passes

[code]
### InSpec and Platform Version

InSpec Version: 1.48.5
OS: Arch Linux

### Stacktrace

[code]

[2017-12-22 03:23] SDBrett commented on #2417
Thanks for that, the where statement is working for user

[2017-12-22 03:59] #2417 closed, assigned to nobody

[2017-12-22 06:53] sharathj007 opened #2422 "Docker for windows"
### Description

Unable to switch the docker to Linux container on Windows server 2016, i have installed the windows docker community edition in my one of the Virtual Machine. I am badly struck up with this issue from couple of months, any solution provided here will be very much helpful.
Thank you in advance.

### InSpec and Platform Version

Docker version installed:
Docker Community Edition Ver

[2017-12-22 13:25] reddeppas commented on #1237
Do we have any update on this?

[2017-12-22 14:01] #2375 closed, assigned to jerryaldrichiii

[2017-12-22 16:04] adamleff commented on #2422
I think you meant to log this issue in the Docker/Moby project. This is the InSpec project which is a compliance-as-code solution. Closing issue.

[2017-12-22 16:04] #2422 closed, assigned to nobody

[2017-12-22 16:07] #1241 closed, assigned to miah

[2017-12-27 00:32] tarcinil commented on #2409
I ran into this as well.  I looked into it as well.

While the XPATH is correctly returning
[code]
while being method mapped to text() which is located in REXML::Element
[code]
https://github.com/chef/inspec/blob/master/lib/resources/xml.rb#L23

however, attributes are returned from REXML::Attribute which does not contain a text method.

I am also looking into creating a PR to fix this.

[2017-12-27 08:33] megamorf commented on #2409
Nice! I just tested it and got this because I was still comparing the result with a string literal rather than an array:

[code]

But since the eval is returning an array I simply switched to cmp and it works:

[code]

Thanks a lot! That's a great Christmas present ;-) Now I just have to wait until the PR is merged and released with an Inspec update.

[2017-12-27 20:55] sarahbakal opened #2424 "Inspec not generating result lines on large test"
### Description

Control is describing 4k files x 11 tests and takes an extreme amount of time (we've waited over an hour) to generate the last two result lines.

### InSpec and Platform Version

RHEL 6.9
Inspec 1.42.3 and 1.48.0

### Replication Case

/var/log has around 4,000 files
last control describes 11 items per file.
Inspec displays the outputs of each test, but the final 2 summary lines d

[2017-12-27 22:20] raghureddy45 opened #2425 "error uploading inherited profile to compliance server"
### Description
created a inherited profile and skipped controls that i don't need. when i try to upload to compliance server getting following error.

### InSpec and Platform Version
chef compliance version => 1.12.1
inspec version => inspec-1.34.9

##Steps done so far
1) inspec compliance login https://chef.compfinal.com --insecure --user='hitman45' --refresh_token='xxxx'
2) inspec init profile

[2017-12-29 06:58] megamorf opened #2426 "[Documentation] exec formatter docs lacking"
### Description

Running tests with the `inspec exec` subcommand allows you to choose from one of the following formatters:

- cli
- progress
- documentation
- json
- json-min
- junit

However, the following aspects are either not covered in the docs or very difficult to find:

1. what does each formatters output look like
2. how can they be customized (saw a few issues about providing placeholder

[2017-12-29 08:42] chrisLeeTW opened #2427 "Unable to use docker relative resource with chef/inspec docker image."
### Description

Unable to use docker relative resource with docker instance (chef/inspec), always return empty results.

### InSpec and Platform Version
Inspec Version : 1.48.0
Docker version Docker Community Edition Version 17.09.1-ce (macOS)

### Replication Case
1. install docker for MacOS
2. run inspec with docker image - chef/inspec
[code]
3. enter this command in inspec shell
[code]
4. will

[2017-12-29 11:47] megamorf commented on #2409
@tarcinil Could you also add one or two of the test cases as examples to the [docs](https://github.com/chef/inspec/blob/master/docs/resources/xml.md.erb) so that one doesn't have to look at the tests/source code in order to see how to target attribute values instead of nodes.

[2017-12-29 13:03] axelfast commented on #1846
@walterdolce I owe you a big cold 🍺

[2017-12-30 19:26] tarcinil commented on #2409
@megamorf I have updated the docs for the xml resource.

[2018-01-01 04:22] tarcinil commented on #2383
Upon my investigation, it appears line 88 of `inspec/lib/resources/firewalld.rb` is causing this, by prepending another rule onto your rule.  Thus, ending up with "rule rule family=ipv4 service name=http accept" which will return false because it will cause an error in firewall-cmd.

[code]

@markri
It appears that the `have_rule_enabled?` method is not supposed to have `rule` string passed into i

[2018-01-02 18:15] kagarmoe opened #2433 "UI: scroll bug on at least one docs page"
### Description

Scrolling down the page using the keyboard arrows is impossible; scroll stops and bounces back to top of page. Similar difficult behavior with the mouse.
https://www.inspec.io/docs/reference/cli/

### InSpec and Platform Version

Website

[2018-01-02 18:19] adamleff commented on #2433
I'm unable to reproduce this. Can you let us know browser/version, and perhaps upload a screencast somewhere showing the behavior you're seeing? Can you reproduce this on multiple browsers?

[2018-01-02 19:04] #1740 closed, assigned to jquick

[2018-01-02 19:04] #1908 closed, assigned to jquick

[2018-01-02 19:04] #2188 closed, assigned to jquick

[2018-01-02 19:04] #2404 closed, assigned to jquick

[2018-01-02 19:15] kagarmoe commented on #2433
It is possible that it only happens when the screen is not maximized. Reproduced it in Chrome with browser sized to 50% of the screen, did not happen with browser at 100%. I work with browsers at 50% of the screen much of the time.

[2018-01-02 22:31] adamleff opened #2434 "Enable "check_mode" during an "inspec json" operation"
When running `inspec check`, we enable "check_mode" on the `Profile` object in order to ensure certain operations that should only happen during an `exec` don't take place, such the evaluation of `only_if` block contents (which is pointless to do during an `inspec check`).

We need to enable the same for `inspec json` as that's another example of an operation that just checks the validity of a pro

[2018-01-03 17:10] #2434 closed, assigned to jerryaldrichiii

[2018-01-03 21:38] megamorf commented on #2415
See #2346 #2426 #2166 #2118

[2018-01-04 01:18] tarcinil commented on #1518
@chris-rock

I have looked into this a little bit, tell me what you think?

I conceived functions like this that would take a filter and start doing the same work as `iis_app`.  The filter would be XPath for IIS

Docs for `Get-WebConfiguration`: https://technet.microsoft.com/en-us/library/ee790561.aspx

[code]

I am going to use `authentication mode` and `forms.cookieless` as examples:

[code]

[2018-01-04 15:06] adamleff opened #2439 "resource request: dns"
While we have some support for this on the `host` resource, a fully-fledged DNS resource to check DNS records and configuration would be mighty cool to have.

This feature request inspired by the [rspec-dns](https://github.com/spotify/rspec-dns) project which looks pretty awesome.

[2018-01-04 19:15] #2407 closed, assigned to jquick

[2018-01-04 19:39] #1486 closed, assigned to arlimus

[2018-01-05 00:54] tarcinil commented on #1815
This was created in commit e23249d & c21ce06.

Current:
[code]
This is just doing a `Get-HotFix -Id KB4012212`   for example.

Is anything more than this required?

[2018-01-05 02:16] kagarmoe opened #2442 "Inspec Download page not findable from sidebar"
### Description

This page doesn't exist in the left navbar:
https://www.inspec.io/downloads/

### Possible Solutions
HTML magic.

[2018-01-05 08:17] ViolentOr opened #2444 "Customized fail message"
### Description
It would be nice, to have possibility to define custom failure messages for each check. It can be usefull to show remediation steps, for example. Or to change message, when it's not obvious what (and where) has gone wrong.
Pretty much, like RSpec allows it
[code]

### InSpec and Platform Version
1.33.12

### Replication Case
In my case -- i have an issue with MS SQL Server complian

[2018-01-05 09:25] chris-rock commented on #1815
I think we are going for now. Thank you for the highlighting this @tarcinil
@trickyearlobe Please reopen if you are still missing functionality.

[2018-01-05 09:25] #1815 closed, assigned to nobody

[2018-01-05 11:14] jvanlieshout opened #2445 "appbundle-updater chefdk inspec <git_ref> missing rake as of version 1.47.6 of inspec"
### Description

As of Inspec version 1.47.6 `appbundle-updater chefdk inspec <git_ref>` fails with an error that rake is missing.

### InSpec and Platform Version

chefdk 1.6.11
appbundle-updater 0.5.1

### Replication Case

broken:
[code]

still working:
[code]

### Possible Solutions

No idea... revert commit 5be9739ec1ccbd98e0573d92fbaa2afa6d1cd6de perhaps?

### Stacktrace

[code]

[code]

[co

[2018-01-05 20:47] adamleff commented on #2444
Thanks for your feature request, @ViolentOr. I can see how that would be frustrating.

In the meantime, you may find value in changing these tests to use `expect` syntax instead of `should` syntax. It would give you more control over the output format and you could use that to clue your users into what test actually failed. While we still advocate for using the `should` syntax wherever possible (a

[2018-01-05 21:18] adamleff commented on #2442
Thanks - #2448 updated to fix the `Get InSpec` link to point to the local downloads page

[2018-01-08 15:55] ViolentOr commented on #2444
Wow. Didn't know that was an option. i'll definetly give it a try. Thanks for pointing in that direction, @adamleff

For now, i made custom resource as a wrapper to mssql_session.

[code]

It gives some sweet results like

Hope it can help others with same situation =)

[2018-01-09 18:49] joegoggins opened #2453 "http headers documentation is incorrect"
### Description

The documentation on https://www.inspec.io/docs/reference/resources/http/ is incorrect.

Capitalization of http headers like `its('headers.Location') { should cmp 'http://foo.com' }` results in a false failure like:

[code]

Because `headers.Location` is empty.

The correct way to do it is `its('headers.location') { should cmp 'http://foo.com' }`

### InSpec and Platform Version

[2018-01-11 00:14] adamleff opened #2454 "Merge inspec-azure into core"

[2018-01-11 00:15] adamleff commented on #1951
Duplicated by #2233
Duplicated by #2454

[2018-01-11 00:15] #1951 closed, assigned to nobody

[2018-01-11 00:18] adamleff commented on #613
With the addition of `FailResource` and `SkipResource` exceptions, we've accomplished a clean way to skip resources in a variety of ways. That combined with other completed issues, a) b) and c) are complete.

I think we need to break d) and e) out into separate feature requests and consider closing this issue.

[2018-01-11 00:22] adamleff commented on #2290
This should be ready to implement once @jquick completes #2415

[2018-01-11 00:22] adamleff commented on #1716
This should be ready to implement once @jquick completes #2415

[2018-01-11 00:22] adamleff commented on #1825
This should be ready to implement once @jquick completes #2415

[2018-01-11 01:08] adamleff commented on #2412
This should be ready to implement once @jquick completes #2415

[2018-01-11 21:23] adamleff commented on #613
e) declared good enough by way of grouping controls by file with a file-level `only_if`

d) no current use cases for different skip categories, especially with the platforms / supports work

[2018-01-11 21:23] #613 closed, assigned to nobody

[2018-01-11 21:56] clintoncwolfe commented on #2453
HI @joegoggins - thanks for catching this, and diagnosing a fix.  The doc file is located at https://github.com/chef/inspec/blob/master/docs/resources/http.md.erb , near line 84.  To make a change, fork the repo in github, clone it locally, make a branch with a name of your choice ('fix-http-docs', perhaps), make your fix, push the fix, and then open a Pull Request in the github web UI.

Thanks ag

[2018-01-11 22:00] clintoncwolfe commented on #2426
Hi @megamorf !  Thanks for pointing this out.  @jquick has been working on the reporting / formatting subsystem, and can likely address this.

[2018-01-11 22:12] clintoncwolfe commented on #2424
Hi @sarahbakal!  I'm sorry you're experiencing some difficulties, and I'm grateful for the report so we can try to get this fixed.

The last two lines of the output are typically a summary, counting the number of controls and tests.  Depending on how your controls and tests are laid out, our implementation of the summary code may be badly performing.  I don't think the stack trace is anything unus

[2018-01-11 22:13] clintoncwolfe commented on #2424
@jquick also, I see the JSON formatter in the stack, any thoughts?

[2018-01-11 23:26] tarcinil commented on #2424
@clintoncwolfe

I remember speaking with @sarahbakal in Slack and here is a link to the thread.

https://chefcommunity.slack.com/archives/C1XB6U6MN/p1514406557000344?thread_ts=1514404153.000081&cid=C1XB6U6MN

but the control in question looks like:

[code]

[2018-01-12 01:04] adamleff commented on #2453
I actually think this needs a code change too.

## with local worker (i.e. Net::HTTP)

[code]

## with remote worker (i.e. curl)

[code]

We should downcase the headers we receive with `curl` to match the `Net::HTTP` headers. That would happen around here: https://github.com/chef/inspec/blob/master/lib/resources/http.rb#L200

[2018-01-12 09:21] markri commented on #2383
Thnx, somehow overlooked the double "rule". Nevertheless, I just removed the "rule"  in my test. Just as you described. However... It still gives me this same error. I changed my initial post (script and output) to prevent confusion about it.

So unfortunately the issue is a bit more complex

[2018-01-12 09:30] markri commented on #2383
Ok, just edited the firewalld.rb locally. As it turns out

`firewalld_command("--zone=#{query_zone} --query-rich-rule=#{rule}") == 'yes'`

needs to be changed to

`firewalld_command("--zone=#{query_zone} --query-rich-rule='#{rule}'") == 'yes'`

In order to prevent the rule to be split up into extra arguments. That's all. I just created a PR for this
https://github.com/chef/inspec/pull/2455

[2018-01-12 12:19] ferrarimarco commented on #1701
Hi, any updates on this? I have been bitten by `netstat`, `hostname` and `ps` commands missing...

[2018-01-12 17:41] joegoggins commented on #2453
Rock on peeps! Thanks for "teaching a man to fish".

While I'd love to dig in and conquer this, I don't think I'll have the bandwidth to do so for a while.

Thus, if someone else wants to "Jump In!" or this update get cooked into a release in das future, please do so!

[2018-01-12 18:29] sarahbakal commented on #2424
I'm reproducing the issue with test-kitchen since the original affected VM had a session timeout which made it difficult to wait for completion. Will post when the summary lines appear.

[2018-01-12 22:27] adamleff opened #2458 "Remove deprecations in 3.0"
This is a issue to collect all deprecation removals that should be done in InSpec 3.0.

- [ ] Remove the `apache` resource (#2494)
- [ ] `--format` / `output` reporter options removed in favor of `--reporter`
- [ ] Shadow resources user/password/last_change/expiry_date

[2018-01-12 22:33] adamleff commented on #2453
@joegoggins @clintoncwolfe I've opened PR #2457 to make the headers hash support fetching headers using case-insensitive keys. This should fix the problem.

[2018-01-13 00:38] adamleff commented on #1701
@ferrarimarco This is an ongoing improvement as we work on each resource. If you have a specific resource that you ran into an issue on, please open a separate issue for that and we'll be happy to make the user experience better. We're also going to work on #2418 over the next month which should also provide better error messaging.

I'm going to close this issue since it will be addressed through

[2018-01-13 00:38] #1701 closed, assigned to nobody

[2018-01-13 01:30] sarahbakal commented on #2424
@clintoncwolfe @tarcinil

Profile Summary: 1 successful control, 3 control failures, 0 controls skipped
Test Summary: 55901 successful, 13658 failures, 0 skipped

Timeline:
Started at 10:22am, at 10:34 the individual test results were outputted, at 3pm Profile Summary outputted and at 7:26pm Test Summary

[code]

[code]

[2018-01-13 15:05] jquick commented on #2426
This is correct. https://github.com/chef/inspec/issues/2415 will address this ticket. The default will continue to be the CLI format unless you define otherwise. Look forward to a new batch of docs describing the new "reporter" framework.

[2018-01-15 19:09] tas50 opened #2460 "docker_container resource needs to be able to check status"
### Description

Currently we have a is_running matcher for the docker_container resource, but there's more to docker containers that is/isn't running. Did it exit? Is it paused? We need to support all status types so we can really check the status of the container.

### InSpec and Platform Version

1.48.0 on Ubuntu 14.04

### Replication Case

Pause a docker container
Use the docker_container res

[2018-01-15 19:12] tas50 commented on #2460
It should also be noted that we currently consider paused to be running, which is wrong

[2018-01-16 04:56] kmf commented on #2460
watching this.

[2018-01-16 22:04] #2148 closed, assigned to nobody

[2018-01-16 22:18] jerryaldrichiii commented on #1708
Great catch @adamleff! I was unable to reproduce this on Debian 8.10, but I see this is an issue on 8.7.

I can't see a way to verify the service is enabled using the `/etc/init.d/apache2` script. Any objections to catching that error and attempting `sysv_service('apache2').enabled?` instead? This uses the files in `/etc/rc*.d` which will give the answer we are looking for.

[2018-01-16 22:20] #2383 closed, assigned to nobody

[2018-01-16 22:25] #2442 closed, assigned to nobody

[2018-01-16 22:26] #2409 closed, assigned to nobody

[2018-01-16 22:30] #2453 closed, assigned to nobody

[2018-01-17 08:50] linuxnix opened #2463 "Support for checking architecture within package resource"
### Description
We have a requirement for installing the same package(compat-libstdc++-33) for a couple of architectures. The inspec "package" resource supports checking the version of a package installed but not architecture. This is good to have if we want to install the same package for different architectures for various reasons. Some example code like below.

describe package(‘my_xyz_package’

[2018-01-17 18:40] tas50 opened #2467 "processes is not finding running processes on RHEL 6"
### Description

I'm using the processes resource to find several processes on RHEL platforms. It works great on RHEL 7, but on 6 it fails when the processes are actually running.

### InSpec and Platform Version

1.42.3 on CentOS 6.9

### Replication Case
[code]

[2018-01-18 19:05] jquick commented on #1754
With the new reporter work https://github.com/chef/inspec/pull/2464 you can now set an output path for each format.

[2018-01-18 19:13] aaronlippold commented on #1900
i.e. utilizing the matchers and function to construct the message

[2018-01-18 21:20] #2333 closed, assigned to jerryaldrichiii

[2018-01-19 11:48] vkatsikaros opened #2471 "ssh_config and owner/mode keys"
### Description

I am using this example from  https://www.inspec.io/docs/reference/resources/ssh_config/

but I can't make the test understand the owner/mode of the file. Is this bug in the inspec code or documentation, or am I doing sth wrong?

### InSpec and Platform Version

[code]

### Replication Case

recipes/default.rb
[code]

files/default/ssh_config
[code]

test/smoke/default/default_tes

[2018-01-19 22:05] adamleff commented on #2460
@tas50 so, right now, InSpec considers any container that hasn't exited to be "running" (i.e. if it shows up in `docker ps` output) whether or not the execution has been paused. In its current incarnation, seeing as there are no other statuses available to check, I do not believe this is a bug but rather simply the first iteration of how we viewed containers when the resource was created.

I'd enc

[2018-01-19 22:13] adamleff commented on #1708
That seems like a fine approach, @jerryaldrichiii. We probably want to guard against assuming that just because it fails as a systemd unit that it will work as a SysV service (i.e. we may need to do an exists check before trusting sysv_service().enabled?)

[2018-01-19 22:24] juju4 opened #2472 "Key exchange algorithm - 25519 series wanted for ssh"
### Description

when user inspec from docker hub registry through ssh, I got an error
[code]
net-ssh supported curve25519-sha256@libssh.org since 4.0 https://github.com/net-ssh/net-ssh/issues/214

### InSpec and Platform Version

1.50.1

### Replication Case

[code]
on a server with only above Kex authorized in sshd_config

### Possible Solutions

Ensure net-ssh is recent enough

Aha! Link: https

[2018-01-19 22:57] jerryaldrichiii commented on #1708
Great point. I'll make it happen. PR incoming :smile:

[2018-01-20 00:09] tas50 commented on #2460
It's like 1/2 way between the two.

[2018-01-20 05:25] clintoncwolfe opened #2474 "Library file load order is non-deterministic"
### Description

Load order of the library files within a profile is non-deterministic.  If library files `require` each other, errors may occur if the load order changes, especially across OS's.

I just recently observed this effect after upgrading to Mac OS High Sierra; prior to that, the file list was sorted alphabetically by the filesystem, but now it appears to be in random (but consistent) o

[2018-01-22 03:40] samcornwell commented on #2474
This seems like a non-issue.  Why don't resources just `require` the modules they need?  My PR in inspec-aws fixes the dependency issue in inspec-aws on my machine.  I had the same dependency problem pop up when I upgraded to High Sierra.

chef/inspec-aws#199

[2018-01-22 04:04] aaronlippold commented on #2474
@samcornwell I think both approaches have a place, sorting the library load order helps us get a handle on the semi-random load order but 💯 agree that just making it standard practice to `require _aws` at the start of the resources is the safest solution.

[2018-01-22 14:31] clintoncwolfe commented on #2474
Keep in mind this is the inspec core repo, not inspec-aws.  Any resource pack author who relies on libraries will want to be able to reason about the load order.  Typically in a ruby project, you have a single point of entry - a Thor command file, or a top-level gem library that then selects files as needed, possibly auto-loading.  Inspec core is peculiar in that regard as it insists all library f

[2018-01-22 15:45] Kamrad117 commented on #1535
Also looking into this, for now hacked with class variable.
Idea was to skip http response body validation if response status differs from '200'

[code]

Gives output:

[code]

[2018-01-22 21:17] #2474 closed, assigned to nobody

[2018-01-23 20:34] #1708 closed, assigned to jerryaldrichiii

[2018-01-24 14:22] Constantin07 commented on #1085
Having the same issue, is there a way to turn off this message ?

[2018-01-24 15:54] adamleff commented on #1085
This is not seen in recent versions of InSpec's omnibus package (which is downloadable from downloads.chef.io) or the Docker image published at `chef/inspec`

If you have a way to reproduce this problem, please open a new issue with details. I'm going to close this issue since it duplicates prior similar issues and all known instances of this problem have since been resolved.

[2018-01-24 15:54] #1085 closed, assigned to nobody

[2018-01-24 17:18] kmf commented on #2471
running this as root
[code]
[code]

The 2 controls should be the same, but it's not.
Looks like a bug!

[2018-01-25 02:44] haidangwa opened #2478 "Add not_if"
### Description

Reading about `only_if`, I assumed that `not_if` would work, since it's a DSL method in chef recipes. I guess that was an incorrect assumption. Please add `not_if`.

### InSpec and Platform Version

InSpec 1.45.13
kitchen-inspec: 0.20.0

### Replication Case

Simply try to exclude a test case with `not_if`, intending the opposite of `only_if`. Then run `kitchen verify`.

### Stack

[2018-01-25 13:43] chris-rock commented on #2478
Is there a use case why we would need `not_if` in the dsl? Keeping only one method to define exceptions would help us just have one approach.

[2018-01-25 13:48] chris-rock commented on #2425
Are you running inspec on Windows?

[2018-01-25 14:29] #1831 closed, assigned to nobody

[2018-01-25 15:37] haidangwa commented on #2478
I can think of a few, but the most common use case for us is running only
certain tests against specific operating systems, like filtering on `not_if
{ os.windows? }` would be a very common one for us. Internal teams have
many other reasons for blacklisting/whitelisting tests based on their own
criterias, but there's precedence in chef where code is cleaner using
not_if versus only_if.

On Thu, Ja

[2018-01-25 16:06] joelhandwell commented on #1392
Closing as I'm not migrating from serverspec but using ChefDK generated inspec tests. Other people may re-open if same issue found.

[2018-01-25 16:06] #1392 closed, assigned to nobody

[2018-01-25 23:24] burtlo opened #2480 "inspec.io docs do not use syntax highlighting"
### Description

The inspec.io site has a lot of ruby code in code blocks that have not specified that they are ruby. When I made a change to one of those pages to add a language to the code block it correctly identified the syntax but there is no stylesheet associated with the site to properly display Ruby syntax.

### Examples

[Docs: Apache Conf](http://localhost:4567/docs/reference/resources/a

[2018-01-26 00:30] jerryaldrichiii commented on #1704
@tejas-shah I was unable to reproduce this issue with InSpec version `1.45.13`.

My test box didn't have the exact key you mentioned but I did test it with the following:

## Chef Recipe
[code]

## InSpec Test
[code]

Given the age of this issue I'm going to close it, but please reopen if this is still causing you trouble.

[2018-01-26 00:30] #1704 closed, assigned to jerryaldrichiii

[2018-01-26 00:36] cjbischoff opened #2482 "Is Remote/Standalone access via Atlasssian Stash supported?"
### Description

Is the remote execute only supported from Github?

### InSpec and Platform Version

 1.51.0.

### Replication Case

Profile is located on Atlassian Stash repo

inspec.yml

[code]

### Possible Solutions

If you have already ideas how to solve the issue, add them here.

### Stacktrace
[code]

[2018-01-26 07:57] #2463 closed, assigned to jerryaldrichiii

[2018-01-26 16:20] kmf commented on #2482
@cjbischoff I would say it's a problem ....
I imported a profile to my gitlab account and got the same error ...
[code]

However when I ran it like this .... it worked ...
[code]

[2018-01-26 22:00] cjbischoff commented on #2482
I will test, but Stash does allow for this method to download in a compressed format - ```/archive?format=zip'```

[2018-01-27 03:33] tarcinil commented on #2482
InSpec url fetcher is only configured for GitHub and Bitbucket (bitbucket.org) for transforming to the gzip formats for those sites.
Source: https://github.com/chef/inspec/blob/master/lib/fetchers/url.rb#L65

The error that is posted above says that the mime type is `text/html` is being returned, and the url fetcher only supports the following mime types.
[code]
The URL fetcher will work as long a

[2018-01-27 17:32] haidangwa opened #2483 "Windows service: Add More Matchers"
### Description

I tried using the service resource to test Windows services. The only one that seems to work is `should be_installed`.

### InSpec and Platform Version

- Windows 2012 Server R2 running in a openstack VM
- kitchen-inspec 0.20.0
- inspec 1.45.13
- chefdk 2.4.17

### Replication Case

My inspec file contains this stanza, which is verifying that the Symantec Intrusion Detection servi

[2018-01-28 18:28] rndmh3ro opened #2485 "nginx_conf - Wildcard include-support not working"
### Description

The `include` in the `nginx.conf` directive breaks then inspec nginx_conf resource.

### InSpec and Platform Version
Inspec 1.51.0

Tested on CentOS7 and Arch Linux

### Replication Case

1. create a minimal nginx.conf:
[code]

2. create a .conf file in `/etc/nginx/conf.d/` with the following contents:
[code]

3. run inspec shell. Empty response.
[code]
4. comment the include-line

[2018-01-28 18:30] rndmh3ro commented on #2485
CCing @arlimus and @jerryaldrichiii.

[2018-01-28 18:50] rndmh3ro commented on #2485
Same problem as https://github.com/chef/inspec/issues/2278 and https://github.com/chef/inspec/issues/1998 and maybe https://github.com/chef/inspec/issues/2157

[2018-01-28 19:08] rndmh3ro opened #2486 "nginx_conf - quotes in config break the resource"
### Description

If there are quotes (single or double) in a config setting of nginx, the nginx_conf resource fails.

### InSpec and Platform Version
Inspec 1.51.0

Tested on CentOS7 and Arch Linux

### Replication Case
1. create a minimal nginx.conf:
[code]
2. run inspec shell. Empty response.
[code]
4. comment the line and run inspec shell again. Correct response:
[code]

[2018-01-29 16:59] jquick opened #2488 "InSpec platform utility in schema output"
## InSpec platform utility

InSpec provides all platforms with grouping criteria via:

[code]

Please note that this is a hidden command, as it is only required for dev integrations.

The schema provides all information on currently supported platforms and may go beyond this document.

Example output:

[code]

[2018-01-29 16:59] jquick commented on #1661
Moving outstanding work here:
Train API - https://github.com/chef/train/issues/238
Add platforms to schema command - https://github.com/chef/inspec/issues/2488

[2018-01-29 16:59] #1661 closed, assigned to jquick, arlimus

[2018-01-29 17:42] adamleff commented on #2480
Great suggestion - logged as a feature request for our backlog.

[2018-01-29 18:05] adamleff commented on #2482
Hi friends, and thanks @tarcinil for chiming in with what I was going to say :)

If we can detect a public GitHub or Bitbucket repo URL, we'll translate it automatically to the right thing. This obviously doesn't work for private GH/Bitbucket servers, or other git implementations InSpec does not understand.

The best thing to do is supply a direct URL to a compressed archive (either .tar.gz or .zi

[2018-01-29 18:05] #2482 closed, assigned to nobody

[2018-01-29 18:20] adamleff commented on #2483
Thanks! I'll log this as a feature request. I appreciate you showing how you'd solve this as it might be a great way for us to implement this in InSpec.

[2018-01-29 18:25] adamleff commented on #2485
Yup, looks like a bug. I'll log it as such.

[2018-01-29 18:26] adamleff commented on #2486
Another bug in our parser config - thanks for finding that, and let's log this as a bug to get fixed.

[2018-01-29 22:30] jerryaldrichiii commented on #2379
@tpetchel, @megamorf is on the right track. The `docker-api` gem that Train uses to connect to the Docker API uses a Unix socket by default. To the best of my knowledge Unix sockets (Socket::AF_UNIX) are not supported on most Windows.

As @megamorf said, you can configure Docker to listen on a TCP socket, but the `docker-api` gem does not have handling to attempt a TCP socket connection if the def

[2018-01-29 22:30] #2379 closed, assigned to jerryaldrichiii

[2018-01-30 08:57] lorenzbausch opened #2490 "Set variable from within describe block"
### Description

I'm trying to test email dispatching and delivery with Exim on a linux target. To do so I would like to trigger an email and save the filename containing the mail to a variable.
This variable holding the filename can then be used for other tests.

### InSpec and Platform Version

InSpec: `1.51.0` running with Docker on Debian 9

### Replication Case
To do so, I wrote a control whi

[2018-01-30 11:07] pwshfan commented on #1616
@mhedgpeth I'm very interested about how you got inspec to run through powershell, especially if it's in a domain environment. My goal is to run inspec against a fleet of servers in a domain environment, maybe through a jenkins pipeline where I can specify the hostnames to run it against.

[2018-01-30 15:12] raghureddy45 commented on #2425
from Mac(workstation), I was trying to uploading inherited profiles to compliance server(redhat).

[2018-01-30 17:19] adamleff opened #2491 "Start testing on Ruby 2.5"
Ruby 2.5 is now available and considered a "normal maintenance" branch. We need to add Travis/Appveyor testing for Ruby 2.5.

[2018-01-30 17:38] adamleff commented on #2490
@lorenzbausch I think you're going to find this type of testing rather fragile and subject to race conditions. Depending on the resource, InSpec may do some work / execute some commands as the profile is loaded in and evaluated before it even starts "testing" your `describe` blocks. And when one test makes a change to a system that is then tested via another test, InSpec may work faster than the a

[2018-01-30 17:38] #2490 closed, assigned to nobody

[2018-01-30 18:56] cjbischoff opened #2492 "Output Meta for powershell resource"
### Description

Is it possible to add metadata to a control output; specifically for PowerShell resource checks? When a kitchen verify is performed the output of a successful check is limited to the resource and setting

### InSpec and Platform Version

[code]

### Replication Case

.kitchen.yml

[code]

**This is the control**

[code]
**This is the output from a kitchen verify**

[code]

### Pos

[2018-01-30 19:00] adamleff commented on #2492
Hi @cjbischoff!

If you remove the `format: doc` from your `verifier` section, you will get the InSpec CLI formatted output which includes the control name and ID so you at least know what control the Powershell resource was tested in.

If you want more control over the output, you can switch some tests to use `expect` syntax. See here for more: https://www.inspec.io/docs/reference/profiles/#shoul

[2018-01-30 19:17] cjbischoff commented on #2492
Hey @adamleff

Thank you. I tested without the `doc` setting and that works well for tests that pass, but tests that fail have limited output (with `doc` the failed tests had more meta), but I can definitely work with this - thank you again

I will check out the link

[2018-01-30 19:19] adamleff commented on #2492
well, that's certainly not intended! I thought our output was pretty verbose when it came to failures. Can you include an example of a failure from both `doc` and no-`doc` so we can see and potentially address? Obtuseness is never expected. :)

[2018-01-31 07:02] lorenzbausch commented on #2490
@adamleff Thanks for your quick and detailed reply. I will try your alternative approach, it sounds promising and more reliable.

[2018-01-31 11:23] mgrobelin opened #2501 "x509_certificate resource: fetch cert from remote"
### Description

Dear Chef's,

this is a feature proposal/request for the `x509_certificate` resource.

Currently it expects the cert to be available on a filesystem of SUT.

This might not be possible due to access restrictions or technical barriers (e.g. lb/firewall/gateway appliances).

So what do you think of adding the possiblity to pass a socket instead, e.g. like  `x509_certificate('google.

[2018-01-31 12:47] adamleff commented on #2501
Hi, @mgrobelin! Thanks for submitting this.

I think this is a terrific idea. However, your proposed method of handling this introduces a problem we initially had with the `http` resource: if InSpec is scanning a remote machine (i.e. with `inspec exec /path/to/profile --target ssh://myhost`, the socket will still be created on the machine actually executing InSpec rather than the system under test

[2018-01-31 13:03] Wolfsrudel opened #2503 "undefined method `architectures' for System Package"
[root@c-two-mysql-sandbox-01 bin]# /usr/bin/inspec -v
1.51.2
[root@c-two-mysql-sandbox-01 bin]# /usr/bin/inspec shell
Welcome to the interactive InSpec Shell
To find out how to use it, type: help

You are currently running on:

    OS platform: oracle
    OS family: redhat
    OS release: 7.4

inspec> describe package('compat-libstdc++-33') do
inspec>   its('architectures') { should include 'x86_6

[2018-01-31 13:07] adamleff commented on #2503
The “architectures” feature is implemented on the `packages` resource (plural), not the `package` resource. Can you please try that instead and report back?

[2018-01-31 13:53] Wolfsrudel commented on #2503
Oh man, sorry for that. My fault. :) Now it's working as designed.

[2018-01-31 13:53] #2503 closed, assigned to nobody

[2018-01-31 14:26] mgrobelin commented on #2501
@adamleff Thanks for your feedback! Indeed I didn't reflected at all on "who" actually initializes the socket connection.

I have some problems to understand the benefits of the scratched interim step. Most likely a regular profile author is not able / don't want to maintain connection/transport related code, right? Pardon if I underestimate capabilities here.

So in contrast, it would be appropri

[2018-01-31 16:30] adamleff commented on #2501
I mean, I don't think everyone should need to know how to set up sockets, but if they have a need, then modifying the core resource to accept an in-line certificate is one step in that direction. I offered that as an interim step for you to meet your needs since this is the first time we're hearing of it and don't want to solve for a need that's not yet pressing.

The Local/Remote worker model is

[2018-02-01 15:48] chris-rock commented on #448
https://github.com/chef/train/pull/247 fixed the detection for Cisco devices via ssh

[2018-02-01 18:27] mlcooper opened #2509 "virtualization resource should detect vmware"
### Description

This is an enhancement request for the inspec virtualization resource to detect vmware.

### InSpec and Platform Version

1.49.2

### Replication Case
[code]
results in the following error on a known good VMware guest (RHEL 7.4)
[code]

[2018-02-01 18:29] adamleff commented on #2509
Thanks for your feature request, @mlcooper.

[2018-02-01 18:47] arlimus commented on #448
@username-is-already-taken2 Hi Gary, i hope these last fixes are bringing some of the Cisco equipment closer. Let's get in touch if you see something I might have missed. Also there is still some stability work to be done on ssh in cisco IOS12

[2018-02-05 07:33] jerryaldrichiii commented on #2245
@lehn-etracker thank you for opening this issue. I was unable to reproduce this on InSpec 1.45.13.

I tested by running the following on a remote CentOS 7.1 node:

[code]

Then running the following InSpec test (I tested with the options inside the `http()` as well):

[code]

[code]

The test passed and here was the response from the server:

[code]

Given these results, I'm closing this issue for

[2018-02-05 07:33] #2245 closed, assigned to jerryaldrichiii

[2018-02-05 10:49] JazJas opened #2531 "check if a registray key exist in only_if"
### Description
This is not a bug but rather a simple question.

I want to perform a test only if a given registray key does NOT exist.

Here is my sample code:
  only_if do
    not registry_key('HKLM\SOFTWARE\Policies\blahblah_key').exist?
  end
  describe blahblah do
    blahblah
  end

However, it appears “not registry_key('HKLM\SOFTWARE\Policies\blahblah_key').exist?” always return true regard

[2018-02-05 15:22] jquick commented on #2531
Hey @JazJas! I think you actually want the resource 'exists?' instead of the ruby exist? function. something like this should work:
[code]

[2018-02-05 21:21] woneill opened #2532 "`inspec check` on a non-virtualized host stacktraces if referencing virtualization.system"
### Description

Running `inspec check` on a non-virtualized host results in a stack trace if the test has a conditional block such as:

[code]

### InSpec and Platform Version

[code]

### Replication Case

Run `inspec init profile testcase` and copy this in place of `example.rb`:
[code]

Then run `inspec check testcase` and you'll get a stacktrace

### Possible Solutions

Add some error checking

[2018-02-05 22:55] MichaelMcClanahan commented on #2425
I too am hitting this issue and can reproduce with a generic InSpec profile.

**InSpec version:** `1.50.0`
**Compliance version:** `1.12.1`

**Local Mac Workstation:**
[code]

[code]
[code]
[code]

**Compliance server:**
[code]

[2018-02-06 04:55] jerryaldrichiii commented on #1898
Closing this error in favor of tracking in https://github.com/chef/train/issues/235.

[2018-02-06 04:55] #1898 closed, assigned to jerryaldrichiii

[2018-02-06 22:44] murashid786 opened #2534 "Bootstrapping a Node!!!"
I am trying to bootstrap a node (centos 7 machine) with chef server and getting multiple issues:

1) Following is my environment info...
Chef Development Kit Version: 2.4.17
chef-client version: 13.6.4
delivery version: master (73ebb72a6c42b3d2ff5370c476be800fee7e5427)
berks version: 6.3.1
kitchen version: 1.19.2
inspec version: 1.45.13

2) knife bootstrap ip-00-000-000-171 -x centos -i ~/key-chef

[2018-02-06 23:45] cheeseplus commented on #2534
This isn't remote related to inspec and the issue is that the bootstrap proxy is returning an error. Best to join up in [Chef Community slack](https://community-slack.chef.io/) for asking questions. As this isn't a relevant issue, closing.

[2018-02-06 23:45] #2534 closed, assigned to nobody

[2018-02-07 00:35] jquick commented on #2532
@woneill - Thanks for letting us know about this!

[2018-02-07 17:41] jerryaldrichiii commented on #2532
@woneill Thanks for this issue. I think I know how this is happening and will try to resolve it in the `virtualization` resource.

In the meantime, I recommend you use `only_if` instead of `if`.  We created `only_if` so we can control it's behavior instead of using Ruby's `if`.

In the case of `inspec check`, `only_if` blocks are not evaluated.

For more info see: https://www.inspec.io/docs/refere

[2018-02-08 09:05] chris-rock opened #2546 "document new inspec reporters"
### Description

With #2464  we implemented #2415 but we have not documented the behavior properly. I think it could be easily its own reporter section, especially since we plan to add more reporter. It should be referenced here https://www.inspec.io/docs/reference/cli/

### InSpec and Platform Version

latest

### Replication Case

n/a

### Possible Solutions

document the cli

[2018-02-08 09:06] #2415 closed, assigned to jquick

[2018-02-08 09:06] #1546 closed, assigned to jquick

[2018-02-08 09:06] #1754 closed, assigned to jquick

[2018-02-08 09:06] #1823 closed, assigned to jquick

[2018-02-08 09:06] #2346 closed, assigned to jquick

[2018-02-08 09:06] #2412 closed, assigned to jquick

[2018-02-08 09:21] xianlin opened #4506 "kitchen inpect test cannot recognize the resource "firewalld" (CentOS 7)"
I have a inspec test rb file:

[code]

After run it gives the error:

[code]

While I run other resources such as "iptables" it is successful.

Why the inspect in kitchen cannot recognize the resource "firewalld"? I am running a CentOS 7 VM for testing.

[2018-02-08 10:23] chris-rock opened #2547 "Reporting to Automate"
### Description

At this point, InSpec is not able to report to Automate standalone. At this point, InSpec needs to be embedded into Chef https://github.com/chef-cookbooks/audit to be able to report to Chef Automate.

With the introduction of #2464 we have the capability to move the reporter implementation from the audit cookbook to InSpec 2.0. This would have the following benefit:

- audit cookb

[2018-02-08 14:24] megamorf commented on #2546
See #2426 for additional feedback

[2018-02-09 03:32] xianlin opened #2555 "How to use linux command piping in Inspec command resource"
### Description

I would like to use linux command line piping inside inspec command resource such as:
[code]

### InSpec and Platform Version

Inspec 1.51.0

running the above code I got error:

[code]

Clearly the command was broken when inspec reads "|" piping symbol.

[2018-02-09 12:01] watanabe-kyohei opened #2556 "integration tests are not executed in 1.51.6"
### Description

After upgrade inspec, kitchen verify does not execute my integration tests.
inspec shows nothing about test results.

### InSpec and Platform Version

[code]

### Replication Case

using docker(kitchen-docker) as provisioner.
bundle update from 1.51.0 to 1.51.6 and run `bundle exec kitchen test`.

I tried to rebuild my containers(rerun kitchen test), but nothing is changed.
And re

[2018-02-09 16:15] chef-ci opened #2558 "configure_test_environment should fail if env exists"
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Monday May 29, 2017 at 13:30 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/53_

----

Currently, the **configure_test_environment** creates a new e

[2018-02-09 16:15] chef-ci commented on #2558
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Thursday Jun 08, 2017 at 15:13 GMT_

----

Just need a quick test on this one--we expect this to exhibit the desired behaviour once the fixes to #40 and #52 are in.

[2018-02-09 16:15] chef-ci commented on #2558
<a href="https://github.com/mtjandra"><img src="https://avatars2.githubusercontent.com/u/1176292?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mtjandra](https://github.com/mtjandra)**
_Friday Jun 30, 2017 at 12:01 GMT_

----

I don't think the PRs referenced will fully satisfy your needs. It will fail if you try and create an environment with the same name, but it w

[2018-02-09 16:15] chef-ci opened #2559 "Determine Integration Tests for the IAM Password Policy"
<a href="https://github.com/mtjandra"><img src="https://avatars2.githubusercontent.com/u/1176292?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mtjandra](https://github.com/mtjandra)**
_Tuesday Jun 13, 2017 at 23:35 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/59_

----

See https://github.com/chef/inspec-aws/pull/47. It would be good to have a

[2018-02-09 16:15] chef-ci opened #2560 "Add support for using AWS credentials from an instance's role"
<a href="https://github.com/scarolan"><img src="https://avatars1.githubusercontent.com/u/403332?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [scarolan](https://github.com/scarolan)**
_Monday Jul 03, 2017 at 18:33 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/68_

----

I think this should be fairly simple to implement.  (Famous last words...)

F

[2018-02-09 16:15] chef-ci commented on #2560
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Dec 04, 2017 at 21:17 GMT_

----

I'm not totally clear on what's being requested here - are you wanting to audit AWS IAM roles, or are you wanting to run inspec

[2018-02-09 16:15] chef-ci commented on #2560
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Thursday Feb 01, 2018 at 15:47 GMT_

----

This will be a  primary capability used for the AWS / GovCloud. As there are separate teams managing the AWS core infrastructure

[2018-02-09 16:15] chef-ci commented on #2560
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Thursday Feb 01, 2018 at 22:13 GMT_

----

@scarolan @clintoncwolfe would this be the basic order we would be looking for in the _aws_connection.rb?
[code]

[2018-02-09 16:15] chef-ci commented on #2560
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Feb 02, 2018 at 01:47 GMT_

----

Just a heads up, #219 changes how inspec-aws authenicates, pushing all credentials management into chef/train .  It's now in tra

[2018-02-09 16:15] chef-ci commented on #2560
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Friday Feb 02, 2018 at 02:03 GMT_

----

Do we need to add the code that Roni made for the old process to allow for instance roll credentials? It looks like this code has

[2018-02-09 16:15] chef-ci commented on #2560
<a href="https://github.com/rx294"><img src="https://avatars3.githubusercontent.com/u/17052944?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rx294](https://github.com/rx294)**
_Friday Feb 02, 2018 at 05:01 GMT_

----

Looks like the new train implantation allows AWS SDK to pull creds out of the ec2 instance's role...
So it looks like no further action is needed once

[2018-02-09 16:15] chef-ci opened #2561 "Add has_virtual_mfa_devices? to root_account"
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Jul 12, 2017 at 18:33 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/73_

----

For recommendation 1.14.  See the `aws iam list-virtual-mf

[2018-02-09 16:15] chef-ci opened #2562 "Add has_policies? and has_attached_policies? to user."
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Jul 12, 2017 at 18:40 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/74_

----

For recommendation 1.16.  See
[code]

in the CIS benchmark

[2018-02-09 16:15] chef-ci commented on #2562
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Oct 04, 2017 at 19:26 GMT_

----

These should be populated via the provider class from #46 .

Did some preliminary investigation into the CLI behaviour:
* `l

[2018-02-09 16:15] chef-ci commented on #2562
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Oct 11, 2017 at 18:54 GMT_

----

See https://www.terraform.io/docs/providers/aws/r/iam_user_policy_attachment.html for docs on creating an attached policy in

[2018-02-09 16:15] chef-ci commented on #2562
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Thursday Nov 23, 2017 at 16:20 GMT_

----

I must have accidentally closed this.

[2018-02-09 16:15] chef-ci opened #2563 "[SPIKE] Consider a Policies resource for recommendation 1.24"
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Jul 19, 2017 at 18:43 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/77_

----

Challenges:
1. How do we query for policies based on their

[2018-02-09 16:15] chef-ci opened #2564 "[SPIKE] Figure out Role/Policy resources for Recommendation 1.18"
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Jul 19, 2017 at 18:48 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/78_

----

We need to assert that a role allows and denies specific a

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/Stiffni"><img src="https://avatars1.githubusercontent.com/u/9171326?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Stiffni](https://github.com/Stiffni)**
_Thursday Oct 26, 2017 at 18:34 GMT_

----

We looked over the CIS Foundations Benchmark for 1.18, just want to clarify that this recommendation wants us to verify that a user or group is

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Thursday Oct 26, 2017 at 20:03 GMT_

----

From the audit section of the recommendation, I took a few tests:

“Rolename”: “<iam_master_role_name>”

This one is just che

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Oct 26, 2017 at 20:31 GMT_

----

Hmmm.  In the middle of page 50 of the CIS AWS Benchmark v.1.10, there is also the sentence "No user or group should be able t

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Friday Oct 27, 2017 at 01:46 GMT_

----

Thanks for the feedback, Clinton, and clarification of the recommendation.  (Apologies, Steffanie, if that's what you meant!)

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Oct 27, 2017 at 14:23 GMT_

----

Well, we could do this.... mind you, this is fairly ruby-ish.

[code]

Using "filter criteria"-style (rather than the more compl

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Friday Oct 27, 2017 at 18:32 GMT_

----

Ah, neat!  I didn't know (or maybe I just didn't recall) that filter methods can take arguments.  🎉

[2018-02-09 16:15] chef-ci commented on #2564
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Nov 01, 2017 at 18:59 GMT_

----

I see two clear stories here:
1. Add a role resource with an exists property.
2. Add a can_assume to users' filter-table (as

[2018-02-09 16:15] chef-ci opened #2565 "WIP: add aws cloudformation stack resource"
<a href="https://github.com/chris-rock"><img src="https://avatars3.githubusercontent.com/u/1178413?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-rock](https://github.com/chris-rock)**
_Wednesday Aug 16, 2017 at 12:53 GMT_
_Originally opened as https://github.com/chef/inspec-aws/pull/85_

----

This PR adds an InSpec resource for AWS Cloudformation Stacks. It all

[2018-02-09 16:15] chef-ci opened #2567 "RFC:`aws_s3bucket` and `aws_s3buckets` resources for vpc and or iam_groups??"
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [aaronlippold](https://github.com/aaronlippold)**
_Thursday Oct 05, 2017 at 20:43 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/91_

----

Examples of Questions of Concerns:

i.e. ensure users didn't o

[2018-02-09 16:15] chef-ci commented on #2567
<a href="https://github.com/chris-rock"><img src="https://avatars3.githubusercontent.com/u/1178413?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-rock](https://github.com/chris-rock)**
_Sunday Oct 08, 2017 at 20:02 GMT_

----

@aaronlippold that is a great idea. Do you want to recursively test all files? The iam policy is interesting! I think we need to find a

[2018-02-09 16:15] chef-ci commented on #2567
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Thursday Nov 02, 2017 at 18:24 GMT_

----

Both would be great, put remember limits for recursion have to be in place. The buckets first, the files second.

[2018-02-09 16:15] chef-ci commented on #2567
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Monday Dec 04, 2017 at 19:01 GMT_

----

@clintoncwolfe @chris-rock Is this were we want to push the "question list" for the S3 resource or do we want to start a new RFC?

[2018-02-09 16:15] chef-ci commented on #2567
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Dec 04, 2017 at 20:42 GMT_

----

Thank you for your thoughts, @aaronlippold . I think this is a fine place for people to discuss their ideas about what they'd li

[2018-02-09 16:15] chef-ci commented on #2567
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Tuesday Dec 05, 2017 at 14:45 GMT_

----

@clintoncwolfe I agree we should create a use_case for each interaction but I think that our first use case is the one in the new

[2018-02-09 16:15] chef-ci commented on #2567
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Tuesday Dec 05, 2017 at 19:19 GMT_

----

As I mentioned, I'd like to see a simple base first.  That means the ability to search for a bucket by name, and that's about i

[2018-02-09 16:18] #2565 closed, assigned to nobody

[2018-02-09 16:20] chef-ci opened #2568 "[SPIKE] Investigate filter-table lazy-column-loading"
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Thursday Oct 12, 2017 at 15:09 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/100_

----

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Wednesday Oct 18, 2017 at 17:27 GMT_

----

With some (minimal) changes to `FilterTable`, we are able to:

1. Specify a table where fields can contain `Proc`s as their values
2. Defer the ex

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Wednesday Oct 18, 2017 at 17:46 GMT_

----

FYI @chris-redekop @Stiffni @chris-rock

I don't want to put a PR without getting some comments about the approach:

Comparison:
https://github.co

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Wednesday Oct 18, 2017 at 18:13 GMT_

----

This looks like I was expecting. When asked to filter on a field, we replace the name of the field with the results of a cal

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Wednesday Oct 18, 2017 at 18:23 GMT_

----

`Proc` is a closure. There are other ways to define closures as well. Not sure which one we want here.

http://augustl.com/blog/2008/procs_blocks_

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Thursday Oct 26, 2017 at 15:10 GMT_

----

Getting some more eyeballs on this: @jerryaldrichiii @clintoncwolfe

Context it to have `FilterTable` be able to load attribute values lazily (when

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Oct 26, 2017 at 19:37 GMT_

----

So admittedly, I stared at this for a good hour before I understood that this was lazy _column_ fetching, not lazy _row_ fetch

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Thursday Oct 26, 2017 at 21:02 GMT_

----

Hey Clinton, thanks for the feedback!

1) Totally agree, this is something that the resource author would use for sure.
2) Embedding the Procs in t

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Friday Oct 27, 2017 at 18:29 GMT_

----

Agreed on 1. and 3.

On 2. and 4., I think that might be putting too much code in the schema/DDL.  I could imagine the schema s

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Oct 27, 2017 at 20:22 GMT_

----

I don't think I'm communicating my intent well on why placing the "data fetcher" in the add() call make sense to me.

Sorry if t

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Wednesday Nov 01, 2017 at 16:55 GMT_

----

Thanks for the explanation Clinton.. I understand the merits of the schema-based approach, and I think that it is worthwhile exploring. My initial

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Wednesday Nov 08, 2017 at 19:52 GMT_

----

Wanted to get some final comments on the latest POC.. @clintoncwolfe @chris-redekop

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Nov 09, 2017 at 18:44 GMT_

----

Thanks for the bump - looks like I'll be able to have a look either this weekend, or Monday at the latest.  I keep finding pla

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Monday Nov 20, 2017 at 15:41 GMT_

----

@clintoncwolfe Do you think we should create an issue in the inspec project for the lazy loading work (if one doesn't exist already), then I can link

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Tuesday Nov 21, 2017 at 17:56 GMT_

----

Yes, I think that should be the next step - thanks!

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Dec 04, 2017 at 21:22 GMT_

----

@chris-redekop , did you make an issue on https://github.com/chef/inspec ? I didn't see one, and that's definitely where the cha

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Monday Dec 04, 2017 at 21:40 GMT_

----

I did not, no.  @aduric , did you?

[2018-02-09 16:20] chef-ci commented on #2568
<a href="https://github.com/aduric"><img src="https://avatars0.githubusercontent.com/u/444683?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aduric](https://github.com/aduric)**
_Monday Dec 04, 2017 at 21:53 GMT_

----

I had a look at the changes again and it breaks some unit tests (I neglected to run the entire test suite before). I would like to fix those up befor

[2018-02-09 16:20] chef-ci opened #2569 "Docs - Add Properties to docs for existing resources."
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Oct 13, 2017 at 15:18 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/102_

----

Add properties (or whatever terminology is decided on) to the

[2018-02-09 16:21] chef-ci opened #2570 "Docs - Document filters for existing resources"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Oct 13, 2017 at 15:33 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/103_

----

Document what filters may be used with each resource

[2018-02-09 16:21] chef-ci opened #2571 "Upgrade AWS SDK 2 -> 3"
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [chris-redekop](https://github.com/chris-redekop)**
_Tuesday Oct 17, 2017 at 20:59 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/108_

----

As discovered in #90 , upgrading the AWS SDK necessitates t

[2018-02-09 16:21] chef-ci commented on #2571
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Oct 18, 2017 at 14:12 GMT_

----

Also note that we need to add explicit major version pinning (~> 1, for example) to the Gemfile.

[2018-02-09 16:21] chef-ci commented on #2571
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Thursday Nov 23, 2017 at 16:17 GMT_

----

@clintoncwolfe , this is marked in review, but I don't see a review in-progress.  Would you please update?

[2018-02-09 16:21] chef-ci opened #2572 "Avoid using resource parameters for internal use"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Oct 27, 2017 at 14:58 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/110_

----

A resource parameter is an argument to the resource construct

[2018-02-09 16:21] chef-ci commented on #2572
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Friday Oct 27, 2017 at 18:51 GMT_

----

Thanks for tidying up, Clinton!

The last three arguments are used as cheap DI for our unit tests, so we can mock those collabo

[2018-02-09 16:21] chef-ci commented on #2572
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Oct 30, 2017 at 14:31 GMT_

----

Thanks - reading the unit tests for aws_iam_access_key has been very educational.  I see where it's being used for DI now.   The

[2018-02-09 16:21] chef-ci commented on #2572
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Oct 30, 2017 at 16:50 GMT_

----

Here's the WIP branch for `aws_iam_access_keys` if you'd like to have a look.  I have the "DI via factory method" bit in place.

[2018-02-09 16:21] chef-ci commented on #2572
<a href="https://github.com/chris-redekop"><img src="https://avatars1.githubusercontent.com/u/6529949?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chris-redekop](https://github.com/chris-redekop)**
_Tuesday Oct 31, 2017 at 16:02 GMT_

----

Thanks, Clinton, for being so tactful here.  :-)  Factory methods work well and I'm A-OK with using them instead of constructo

[2018-02-09 16:21] chef-ci commented on #2572
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Nov 06, 2017 at 16:55 GMT_

----

After some discussion internally - especially motivated by wanting to be consistent with inspec-core - it looks like we're going

[2018-02-09 16:21] chef-ci opened #2573 "Integration tests randomly fail due to eventual consistency"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Nov 22, 2017 at 18:46 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/122_

----

Portions of the integration tests (which talk to real AWS

[2018-02-09 16:21] chef-ci commented on #2573
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Saturday Dec 16, 2017 at 14:15 GMT_

----

So Yarick and I ran into this type of an issue with Terraform when we were building out the s3 bucket and then adding objects to

[2018-02-09 16:21] chef-ci opened #2574 "Add ability to query for ingress rules to security group resources"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Dec 14, 2017 at 15:47 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/137_

----

I'd like to be able to do something like:
[code]

So, for t

[2018-02-09 16:21] chef-ci commented on #2574
<a href="https://github.com/aaronlippold"><img src="https://avatars3.githubusercontent.com/u/1486440?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aaronlippold](https://github.com/aaronlippold)**
_Saturday Dec 23, 2017 at 14:19 GMT_

----

@dromazmj and @hackershark are working. Look for PRs soon.

As a side note, from our research it doesn't seem like the API has t

[2018-02-09 16:21] chef-ci commented on #2574
<a href="https://github.com/burtlo"><img src="https://avatars0.githubusercontent.com/u/244426?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [burtlo](https://github.com/burtlo)**
_Wednesday Feb 07, 2018 at 00:17 GMT_

----

Does the order of the rule matter? The use of `first` and `last` seemed a little strange to me in this situation.

I started to think about how I

[2018-02-09 16:21] chef-ci opened #2575 "AWS Shim fails to load AWS lib loader when vendored"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Dec 14, 2017 at 20:10 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/138_

----

@aaronlippold reporter

To reproduce:

1. Make simple profi

[2018-02-09 16:21] chef-ci commented on #2575
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Dec 15, 2017 at 03:27 GMT_

----

Well, the require_relative is not likely to ever succeed.  inspec core reads each library file (here, aws_aaa_shim.rb) and then

[2018-02-09 16:22] chef-ci opened #2577 "Add resources for Config"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Monday Dec 18, 2017 at 18:56 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/147_

----

There are a couple of resources needed to describe an AWS Con

[2018-02-09 16:22] chef-ci commented on #2577
<a href="https://github.com/rx294"><img src="https://avatars3.githubusercontent.com/u/17052944?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rx294](https://github.com/rx294)**
_Wednesday Jan 24, 2018 at 16:53 GMT_

----

Hello Clinton, please let me know are you still working on these resources...if not, I would like to take a hack at it if you don't mind...

[2018-02-09 16:22] chef-ci commented on #2577
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Feb 01, 2018 at 21:01 GMT_

----

@rx294 I'm not actively working on it, no.  There is a very outdated branch, which basically just contains partial docs files

[2018-02-09 16:22] chef-ci opened #2578 "Differences with format output of integration tests"
<a href="https://github.com/dromazmj"><img src="https://avatars1.githubusercontent.com/u/28717645?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [dromazmj](https://github.com/dromazmj)**
_Thursday Dec 21, 2017 at 16:06 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/154_

----

There is some differences of the output of the different resources integ

[2018-02-09 16:22] chef-ci commented on #2578
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Jan 05, 2018 at 16:58 GMT_

----

Verified.  IAM user and IAM users tests are differently formatted.  Looks like the User and Users tests are not wrapped in contr

[2018-02-09 16:22] chef-ci opened #2579 "Add RDS Instance Resource"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Jan 03, 2018 at 20:15 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/164_

----

Add a skeletal RDS instance resource, singular and plural.

[2018-02-09 16:22] chef-ci commented on #2579
<a href="https://github.com/HackerShark"><img src="https://avatars3.githubusercontent.com/u/16725004?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [HackerShark](https://github.com/HackerShark)**
_Monday Jan 08, 2018 at 15:26 GMT_

----

I'll get started on this

[2018-02-09 16:22] chef-ci opened #2580 "Add KMS Key resources"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Jan 03, 2018 at 20:17 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/165_

----

Add skeletal singular and plural resources for KMS Keys.

[2018-02-09 16:23] chef-ci commented on #2580
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Feb 01, 2018 at 21:06 GMT_

----

Added in #188 and #189

[2018-02-09 16:23] chef-ci opened #2581 "Flow Logs Resources"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Jan 03, 2018 at 20:26 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/167_

----

Skeletal singular flow log resource.  Needs search by id,

[2018-02-09 16:23] chef-ci commented on #2581
<a href="https://github.com/dromazmj"><img src="https://avatars1.githubusercontent.com/u/28717645?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dromazmj](https://github.com/dromazmj)**
_Thursday Jan 18, 2018 at 19:05 GMT_

----

Im working on this now.

[2018-02-09 16:23] chef-ci opened #2582 "AWS API Pagination Ignored"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Jan 05, 2018 at 16:05 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/171_

----

In many locations where we make an API call to AWS using the

[2018-02-09 16:23] chef-ci opened #2583 "Document meaningfulness of terraform workspace when integration testing"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Jan 05, 2018 at 17:46 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/173_

----

There's been some confusion about what you should answer when

[2018-02-09 16:23] chef-ci opened #2586 "Add platform support declarations to aws resources"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Jan 11, 2018 at 21:12 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/178_

----

Each AWS resource must declare which Train platforms it sup

[2018-02-09 16:23] chef-ci commented on #2586
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Jan 11, 2018 at 21:13 GMT_

----

Refs https://github.com/chef/inspec/issues/1661

[2018-02-09 16:24] chef-ci opened #2587 "Add properties / matchers to read cloudwatch state of a CloudTrail"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Tuesday Jan 23, 2018 at 17:19 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/206_

----

For CIS 2.4,  we need to know if a trail is configured to se

[2018-02-09 16:24] chef-ci opened #2588 "Fluency / UX improvements"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Tuesday Jan 23, 2018 at 17:28 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/207_

----

Before inspec-aws leaves incubator status, we should check t

[2018-02-09 16:24] chef-ci opened #2589 "Update aws unit tests to use mock runner / resource approach"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Tuesday Jan 30, 2018 at 18:59 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/216_

----

To be more consistent with the core resource unit tests, the

[2018-02-09 16:24] chef-ci opened #2590 "Post inspec-2 Docs updates for inspec-aws"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Thursday Feb 01, 2018 at 16:22 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/220_

----

Some documentation updates, which we're willing to postpone

[2018-02-09 16:24] chef-ci opened #2591 "Re-namespace AWS resources under Inspec::Resource"
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Friday Feb 02, 2018 at 01:54 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/223_

----

[2018-02-09 16:24] chef-ci opened #2592 "EC2 Instance - Tags are cumbersome to assert"
<a href="https://github.com/burtlo"><img src="https://avatars0.githubusercontent.com/u/244426?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [burtlo](https://github.com/burtlo)**
_Tuesday Feb 06, 2018 at 19:21 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/225_

----

The current system to verify the tags for an `aws_ec2_instance` feels cumbersome

[2018-02-09 16:24] chef-ci commented on #2592
<a href="https://github.com/burtlo"><img src="https://avatars0.githubusercontent.com/u/244426?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [burtlo](https://github.com/burtlo)**
_Tuesday Feb 06, 2018 at 21:35 GMT_

----

OR

[code]

[2018-02-09 16:24] chef-ci commented on #2592
<a href="https://github.com/lnxchk"><img src="https://avatars0.githubusercontent.com/u/588600?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lnxchk](https://github.com/lnxchk)**
_Wednesday Feb 07, 2018 at 10:46 GMT_

----

I was thinking about this too while working on a talk. In some instances, I'd just like to know that a tag exists on the object and has some value

[2018-02-09 16:24] chef-ci commented on #2592
<a href="https://github.com/burtlo"><img src="https://avatars0.githubusercontent.com/u/244426?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [burtlo](https://github.com/burtlo)**
_Wednesday Feb 07, 2018 at 13:45 GMT_

----

@lnxchk that's important for some of the organizations here at Chef that set up those reaper scripts based on a particular tag. And right now that

[2018-02-09 16:24] chef-ci commented on #2592
<a href="https://github.com/lnxchk"><img src="https://avatars0.githubusercontent.com/u/588600?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lnxchk](https://github.com/lnxchk)**
_Wednesday Feb 07, 2018 at 14:17 GMT_

----

@burtlo oh. I couldn't get that to work.
     ×  EC2 Instance i-01bc3ca909b7e67f3 tags.keys
     undefined method `keys' for #<Array:0x007ff9056a1

[2018-02-09 16:24] chef-ci commented on #2592
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Feb 07, 2018 at 14:31 GMT_

----

Over in inspec-azure, tags are handled by generating method names:

[code]

`tags.CreatedBy { should cmp 'Inspec Azure Integr

[2018-02-09 16:24] chef-ci opened #2593 "EC2 Instance - security_groups should return an AwsEc2SecurityGroups collection"
<a href="https://github.com/burtlo"><img src="https://avatars0.githubusercontent.com/u/244426?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [burtlo](https://github.com/burtlo)**
_Tuesday Feb 06, 2018 at 22:02 GMT_
_Originally opened as https://github.com/chef/inspec-aws/issues/226_

----

Currently if I want to verify a security group for an `aws_ec2_instance` it can b

[2018-02-09 16:24] chef-ci commented on #2593
<a href="https://github.com/clintoncwolfe"><img src="https://avatars3.githubusercontent.com/u/156460?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clintoncwolfe](https://github.com/clintoncwolfe)**
_Wednesday Feb 07, 2018 at 14:24 GMT_

----

I agree that the security_groups property is a bit awkward, being an array of hashes (what I term "raw" values).  But moving

[2018-02-09 16:31] chef-ci opened #2594 "Add resources to check security policies"
<a href="https://github.com/thomasrg"><img src="https://avatars2.githubusercontent.com/u/1976625?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [thomasrg](https://github.com/thomasrg)**
_Thursday Oct 05, 2017 at 08:21 GMT_
_Originally opened as https://github.com/chef/inspec-azure/issues/46_

----

- Check that a policy is active
- Check that resources adhere to the pol

[2018-02-09 16:31] chef-ci opened #2595 "Add resources to check Locks"
<a href="https://github.com/thomasrg"><img src="https://avatars2.githubusercontent.com/u/1976625?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [thomasrg](https://github.com/thomasrg)**
_Thursday Oct 05, 2017 at 08:22 GMT_
_Originally opened as https://github.com/chef/inspec-azure/issues/47_

----

- Resource locks
- Resource group locks
- Subscription locks

[2018-02-09 16:31] chef-ci opened #2596 "Add resources to check Azure Subscriptions"
<a href="https://github.com/thomasrg"><img src="https://avatars2.githubusercontent.com/u/1976625?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [thomasrg](https://github.com/thomasrg)**
_Thursday Oct 05, 2017 at 08:23 GMT_
_Originally opened as https://github.com/chef/inspec-azure/issues/48_

----

[2018-02-09 16:46] MichaelMcClanahan opened #2597 "InSpec 1.51.6 - Chef::Handler::AuditReport raised #<NoMethodError: undefined method `empty?' for nil:NilClass>"
### Description

When using InSpec `1.51.6`, the Audit cookbook is unable to access the Chef Compliance server. If I downgrade to InSpec `1.51.0` there are no issues.

### InSpec and Platform Version

InSpec version `1.51.6`
Chef Compliance `1.12.1`
Audit Cookbook `6.0.1`
Chef `12.21.31`
MacOS

### Replication Case

Run `chef-client` with the Audit cookbook using similar attributes:

[code]

### P

[2018-02-09 16:49] MichaelMcClanahan commented on #2425
For now, I was able to work around this by uploading a profile with no dependencies. I just copied all controls from the upstream profile into my current profile.

[2018-02-09 17:22] clintoncwolfe commented on #2575
This is no longer relevant with the AWS resources being in core.

[2018-02-09 17:22] #2575 closed, assigned to nobody

[2018-02-09 17:26] clintoncwolfe opened #2598 "Migrate aws_s3_buckets resource PR from inspec-aws repo"
This issue is a reminder to migrate @dromazmj 's PR introducing `aws_s3_buckets` resource, from https://github.com/chef/inspec-aws/pull/162 .

[2018-02-09 17:32] clintoncwolfe commented on #2581
Reminder to migrate work on https://github.com/chef/inspec-aws/pull/211 to inspec core.  @clintoncwolfe has committed to adopting and performing that migration work.

[2018-02-09 17:34] clintoncwolfe commented on #2580
Singular resource still needs to be migrated from an inspec-aws repo PR - see https://github.com/chef/inspec-aws/pull/188 .

[2018-02-09 17:36] clintoncwolfe opened #2599 "Migrate s3_bucket_object PR from inspec-aws repo"
Reminder to move https://github.com/chef/inspec-aws/pull/160 here at some point.

[2018-02-09 21:03] jerryaldrichiii opened #2602 "virtualization_resource: Add unit tests"
### Description

The `virtualization` resource lacks full unit test coverage. This should not be the case.

[2018-02-10 16:34] aaronlippold opened #2605 "reminder:s3_bucket_object(s) PRs need to be pulled in as well."
Reminder to pull in @dromazmj work on these

Note to implementer : we will need fine grained access to ACL and policy settings

[2018-02-11 07:55] burtlo commented on #2592
@lnxchk you currently have to us:

[code]

[2018-02-12 02:50] MichaelMcClanahan opened #2608 "InSpec 1.51.x - kitchen verify does not output test results"
### Description

`kitchen verify` with InSpec `1.51.0`, `1.51.6`, or `1.51.15` does not output test results.

For example, I write a test that verifies that package `httpd` is installed. This test will fail because I have not installed the package yet in my recipe. I would expect to be told the reason for the failure but I am not.

#### Bad output

My `Gemfile` is using `1.51.x` (`1.51.0`, `1.51.6

[2018-02-12 03:00] MichaelMcClanahan commented on #2608
Debug logs for a failure: https://gist.github.com/MichaelMcClanahan/8d1f00b38b625c9b7d156b5e0a76c04e

_Edit - Now in a gist!_

[2018-02-12 08:57] lnxchk commented on #2592
I like the granularity of the Azure code, @clintoncwolfe I think that would be very helpful to have on the AWS components too.

[2018-02-12 09:24] Annih opened #2609 "'documentation' is not a valid reporter type"
### Description

Our kitchen-tests are now failing with the following error:

This seems to be related to the reporter feature (#2464).

### InSpec and Platform Version

Failing with Inspec *v1.51.15* on CentOS 7.2

### Stacktrace

[code]

*Cc.* @aboten

[2018-02-12 13:43] jquick opened #2611 "InSpec detect platform support"
The `inspec detect` command currently caters to only operating systems. This command's wording needs to be changed to "platforms". The code should also be moved from the os.rb to platform.rb resource.

We should update so family is taken from train so it works for both api/os. Release could also be used for api versions if we set them in train. Arch should hide if not set?

We should also wrap the

[2018-02-12 13:48] jquick opened #2612 "Azure/Aws connection documentation"
Documentation: It is not easy to get started. We need documentation about how to setup (e.g. get the access token) and we need to support the default aws/azure client configuration to make the experience seamless. (e.g.  ~/.aws/credentials and ~/.aws/config)

[2018-02-12 13:51] jquick opened #2613 "Azure/Aws resources should not hard fail on API exceptions"
A profile needs to be executable, but a control may fail. We currently throw exceptions for resources that stop full profile execution, resulting in no report. This will lead to issues if we expect json output e.g in Chef Automate. The controls needs to fail (ie, have a failure outcome but absorb any exceptions) if the resource cannot be executed, but we need to generate a report.

We should hook

[2018-02-12 13:53] jquick opened #2614 "Document IAM permissions needed for AWS resources"
All AWS resources need IAM permissions to use them. We need to make sure that they are documented or referred to AWS documentation that states them.

Since nearly all InSpec resources use the AWS client API (as opposed to the REST API), the method names directly relate to the AWS Action needed.  So, this should be straightforward, if tedious.

In the meantime, you can use a service user with the R

[2018-02-12 14:03] jquick opened #2615 "Dynamic reporter error categories"
From @aaronlippold:

For the labeling of ‘critical’, ‘major’, ‘minor’ - we will need a way to ‘pass in’ a new category matrix. i.e. in the IC/MIL space - 1.0 would be ‘critical’, 0.0 is N/A and High >= 0.7, Medium = 0.6 - 0.4, Low <= 0.3.

I think we will find very quickly that ‘hard coding’ these will lead us to issues we could address fairly easily.

We end up having to parse the json data, chec

[2018-02-12 14:12] adamleff commented on #2615
I think this is too much for a single feature enhancement ticket and would suggest breaking it down.

Any changes to the way impacts are mapped to severity levels should be written up as an RFC with actual user stories / use cases. See a sample RFC template in the chef/chef-rfc project that would work well. I'll make my comments there once it's written up, but off the cuff, having this setting be

[2018-02-12 18:18] clintoncwolfe commented on #2613
The example @chris-rock gave - in which a run hard-failed with "The specified log group does not exist" - is not a connection error.  It's an uncaught AWS API exception.

[2018-02-12 18:38] clintoncwolfe commented on #2605
Duplicate, refs #2599

[2018-02-12 18:38] #2605 closed, assigned to nobody

[2018-02-12 18:48] clintoncwolfe opened #2622 "Unidentified AWS resource fails with "No such Log Group" API error"
### Description

When running the InSpec 2.0 `test:aws` integration tests with no fixtures in place, one of the controls immediately hard fails with an AWS API exception, "The specified log group does not exist."

This is an example of #2613

### InSpec and Platform Version

InSpec 2.0 pre-release, tip 60352f20

### Replication Case

Run the AWS integration tests without setting up the test enviro

[2018-02-12 18:54] clintoncwolfe commented on #2613
For AWS resources, we may be able to wrap the call to `fetch_from_api` - which gets called in the constructor for both AwsSingularResourceMixin and AwsPluralResourceMixin "mixees".

[2018-02-12 20:34] clintoncwolfe commented on #2613
@chris-rock , @jquick, @arlimus - Here is an example of intercepting a missing credentials exception, failing the controls individually, and issuing a log error message (the default AWS error message here is "unable to sign request without credentials set")

[code]

So, I'm issuing a long-form message via `Inspec::Log.error`, and a short message via `fail_resource`.

[2018-02-12 21:05] clintoncwolfe commented on #2613
In progress on branch cw/catch-cloud-exceptions

[2018-02-12 21:05] clintoncwolfe commented on #2612
In progress on cw/catch-cloud-exceptions

[2018-02-13 12:54] aaronlippold opened #2632 "RFC: Support for encrypted file system inspection"
Looking for comments on how we might want to approach a resource or set of resources that support asking questions about the file system configuration of full disk encryption and encrypted partitions.

This is one area where we are lacking, in that we would like to be able to ask particular types of questions to address concerns of data-at-rest issues.

I believe we could support this both on the

[2018-02-13 12:57] aaronlippold commented on #2632
One follow-up is that we probably want to support these properties in AWS and azure

[2018-02-13 17:17] clintoncwolfe opened #2633 "Normalize internal implementation of 3 AWS resources"
### Description

Three AWS resources, aws_iam_password_policy, aws_ec2_instance, and aws_iam_root_user were implemented early in the life of the project, using dependency injection for testing and 'resource' style AWS API calls.  Those choices are valid in isolation, but all other AWS resources use a standardized approach using the AwsSingularResourceMixin or AwsPluralResourceMixin, which provides

[2018-02-13 20:18] jquick commented on #2609
@Annih - Hey thanks for this post, this should be resolved in v1.51.18. Please let me know if your still having issues under that version. Thanks!

[2018-02-13 20:19] jquick commented on #2608
@MichaelMcClanahan - Hey, thanks for this report. Can you try using the new version v1.51.18? This should be fixed. Thanks!

[2018-02-13 20:22] jquick commented on #2478
Agreed, for now we can just reverse it:

`only_if { not os.windows? }`

Understand not_if would be cleaner and more inline with the chef reverse though.

[2018-02-13 20:24] jquick commented on #2531
Hey @JazJas, im going to close this issue. If your still having issues we can reopen this. Thanks!

[2018-02-13 20:24] #2531 closed, assigned to nobody

[2018-02-13 20:27] #2546 closed, assigned to jquick

[2018-02-13 20:56] MichaelMcClanahan commented on #2608
Looks to be fixed! Thank you.

[2018-02-13 23:32] #2608 closed, assigned to nobody

[2018-02-13 23:34] jquick commented on #2597
@MichaelMcClanahan  - Hey, I think this one should also be resolved with version 1.51.18. Thanks for the report.

[2018-02-13 23:38] jquick commented on #2556
@watanabe-kyohei - Thanks for the report. This issue should be fixed in the most recent v1.51.18 release. Please let me know if you still have issues.

[2018-02-14 01:32] watanabe-kyohei commented on #2556
@jquick
Thanks for your response.
Excellent!! It works as expected.

[2018-02-14 01:32] #2556 closed, assigned to nobody

[2018-02-14 03:27] #2491 closed, assigned to miah

[2018-02-14 04:27] clintoncwolfe commented on #2622
Fixed on #2623

[2018-02-14 04:27] #2622 closed, assigned to clintoncwolfe

[2018-02-14 05:00] clintoncwolfe commented on #2592
Here's how I'd express the "I want to ensure there is a tag, with one of several known values" use case (assuming we implement dynamic tag properties, like azure):

[code]
`be in ARRAY` is an RSpec built-in, so we get it for free.

[2018-02-14 15:06] ghost commented on #4506
I am also experiencing this issue.

[code]

[code]

[2018-02-14 16:00] ghost commented on #4506
fyi this was a typo for me. I had somewhere in the recipe..
[code]

The .service was messing with it

[2018-02-14 18:37] MichaelMcClanahan commented on #2597
Thanks @jquick!

[2018-02-14 19:16] clintoncwolfe commented on #2613
Fixed by #2636

[2018-02-14 19:16] #2613 closed, assigned to nobody

[2018-02-14 19:47] tas50 opened #2639 "Service state not detected correctly on Amazon Linux 2.0"
I suspect we're hard coding things when we're on Amazon Linux, but Amazon Linux 2.0 is systemd.

https://travis-ci.org/chef-cookbooks/chef-client/jobs/341544040

[2018-02-14 20:28] burtlo commented on #2593
Sounds good @clintoncwolfe. I can see your point about the output becoming convoluted as far as that goes. My experience with working with ActiveRecord and relational information led me to the proposed syntax above as it tends to bring clarity to the final syntax written by the composer.

I think the hard, right thing to do is be consistent. It sounds like a standard has been defined.

Perhaps the

[2018-02-15 02:45] #2612 closed, assigned to miah

[2018-02-15 02:45] #2611 closed, assigned to jerryaldrichiii

[2018-02-15 21:00] jquick opened #2656 "Support legacy format output"
### Description

The old inspec reporter supported passing in `:output` option to the inspec runner. This would use the rspec output code to write to a file. With the new reporter work we need to update the code here:
https://github.com/chef/inspec/blob/master/lib/inspec/base_cli.rb#L101

To also look for `:output` and if its set then set the file path. This will use the new file writer accordingl

[2018-02-16 12:24] lehn-etracker opened #2660 "Use SemVer to provide more stable versions"
### Description

We are using InSpec within our CI/CD pipeline with jenkins and junit reporting. Our Version pinning for inspec was pinned to version 1.51.0 and allowed all patch upgrades.

With release of inspec 1.51.6 the new reporter replaced the old one and broke our configuration.

### InSpec and Platform Version

#### ruby gems
  * inspec (1.51.18)
  * kitchen-inspec (0.20.0)
  * kitchen-syn

[2018-02-16 13:44] jquick opened #2661 "Add supports field to all resources"
### Description

With the new platforms work we need to add supports to all resources. To be safe we want to use very general supports for now unless explicitly defined within the resource. So for most we want to just use:

`supports platform: 'unix'`
or
`supports platform: 'windows'`

This must come sometime after the name is declared on the resource.

[2018-02-16 13:45] jquick opened #2662 "API supports not working correctly"
### Description

When using aws on azure you get errors along with azure on aws. The resource supports should be preventing this and skipping tests accordingly.

[2018-02-16 13:53] jquick opened #2663 "Example profiles for AWS and Azure"
### Description

We need to generate some example profiles and set them into the examples directory. We can use most of @clintoncwolfe stuff here for aws: https://github.com/clintoncwolfe/inspec-cloud-demo

For azure you will probably want to pull out a bit from the integration tests/terraform.

[2018-02-16 14:11] aaronlippold commented on #2663
Hi,

Rony has the example profile and terrafrom for the CIS AWS benchmark
already. So we are good there.

A

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Fri, Feb 16, 2018 at 8:53 AM, Jared Quick <notifications@github.com>
wrote:

[2018-02-16 15:51] ticktockhouse commented on #2555
I'm also getting this on the command:
[code]
Result:
[code]

[2018-02-16 18:16] burtlo opened #2664 "Scanning with a supermarket profile against a remote target produces an parameter error"
### Description

Executing a scan with a supermarket profile against a remote target returns an error in the `diagnose` method.

`inspec supermarket exec dev-sec/linux-baseline -t ssh://root:password@target`

Despite the generic names for the user, password, and target system I promise you they are real in my environment.

![image](https://user-images.githubusercontent.com/244426/36321816-c4b2de92

[2018-02-16 18:27] burtlo commented on #2664
Perhaps this is not an issue. I saw it locally but then removed my `Gemfile.lock` and then performed a `bundle install`.

[2018-02-16 18:30] burtlo commented on #2664
I was incorrect. I mistakenly ran `inspec` and not `bin/inspec` or `bundle exec bin/inspec`.

[2018-02-16 18:54] jquick opened #2666 "Catch aws ArgumentExceptions with fail_resource"
### Description
some parts do not run well with the aws integration test resources. When I try to execute those against my account, I get the following:

<img width="479" alt="screen_shot_2018-02-16_at_12 08 25_960" src="https://user-images.githubusercontent.com/574637/36323981-e09f4c0c-1320-11e8-8347-8760d812a0bf.png">

Re: the `rtb-` exception, that's being thrown early - in validate_params.  Ma

[2018-02-16 19:28] jquick opened #2668 "Fix supermarket/compliance exec overrides"
### Description

The supermakert and compliance bundles override the exec commands to work. This has changed in inspec 2.0 and needs to be fixed.

[2018-02-16 19:37] jdgoins commented on #2597
@jquick - I'm on Inspec 1.51.18, chef client 13.6.4 and am also receiving this error.

[code]

[2018-02-16 20:15] #2662 closed, assigned to jquick

[2018-02-16 20:25] aaronlippold commented on #1900
for example,

[code]
produces:
---
Control Skipped: The `httpd` package was not installed.
or 'the httpd service is not enabled.

[2018-02-16 20:39] jquick commented on #2597
@jdgoins - Thanks for this report, this seems to be a different issue. Looks like its blowing up when running your tests. Do you mind testing to see if this is working correctly on inspec 1.51.0? If not it may be a test syntax issue.

[2018-02-16 21:01] jdgoins commented on #2597
@jquick You're right, duh me. This is related to the content matcher of the file resource. Either this is a bug or the code's just written incorrectly. Regardless, IGNORE ME!

[2018-02-17 01:32] burtlo commented on #2664
Sounds like this is covered in Issue #2668

[2018-02-17 15:49] #2668 closed, assigned to jquick

[2018-02-17 15:50] #2666 closed, assigned to jquick

[2018-02-18 09:49] #2664 closed, assigned to nobody

[2018-02-18 10:00] burtlo opened #2687 "inspec shell and inspec detect do not report the same OS families"
### Description

[code]

### InSpec and Platform Version

[code]
COMMIT: 5179eabc

[2018-02-18 10:02] burtlo commented on #2687
On my mac:

[code]

[2018-02-18 10:32] burtlo opened #2688 "inspec shell - asking a resource its available methods should be more straighforward"
### Description

When you enter InSpec shell you have some really great helper methods to get you started: `help`; `help resources`; and `help RESOURCE`.

However, if I want to explore the available methods on a resource it is rather cumbersome.

Becuase they are Ruby objects, I suggested:

[code]

Looking past the problem that its Array of Symbols and how you might 'send one of these messages' to

[2018-02-18 10:38] burtlo commented on #2688
Haha, oh right. I would probably tell someone to sort them as well. The full command would be ...

[code]

[2018-02-18 11:12] #2663 closed, assigned to jerryaldrichiii

[2018-02-18 11:16] chris-rock commented on #4506
This is an issue in inspec, not kitchen-inspec. I propose we are going to open an issue there

[2018-02-18 11:17] #2656 closed, assigned to jquick

[2018-02-19 06:51] burtlo opened #2693 "InSpec verifier in Test Kitchen does not support the new reporter output"
### Description

Perhaps this an issue with https://github.com/chef/kitchen-inspec?

I started working on this module with the current InSpec 2.0 on master. In this module you use test kitchen with InSpec and kitchen-dokken.

At one point the module you demonstrate how you can set the format to JSON. I did that and execute:
[code]

I see the deprecations so I switch the verifier from `format` to `

[2018-02-19 06:58] burtlo commented on #2693
Alright, I see [kitchen-inspec](https://github.com/chef/kitchen-inspec) is probably not working with the new `reporter` values. I haven't worked with that gem much but I don't see any mention of the parameters being passed along: https://github.com/chef/kitchen-inspec/blob/master/lib/kitchen/verifier/inspec.rb#L200-L201

Feel free to push the issue there or have me open it over there.

[2018-02-19 14:26] #2661 closed, assigned to miah

[2018-02-19 16:45] burtlo commented on #2693
Moving to kitchen-inspec.

[2018-02-19 16:45] #2693 closed, assigned to nobody

[2018-02-20 02:16] aaronlippold commented on #2688
I actually opened an issue on this exact topic over a year ago. Great to see it coming up again. +1 on this for me.

[2018-02-20 02:18] aaronlippold commented on #2688
It would also help us streamline documentation as well. one of my guys wrote this up for the aws resources https://github.com/rx294/inspec_aws_test_doc_generator which perhaps we could generlize

[2018-02-20 04:10] burtlo commented on #2688
@aaronlippold, please link the issue to this one. I would enjoy seeing the conversation that entailed.

Show this crazy thing to your guy: https://github.com/burtlo/inspec_docgen/blob/master/property_finder.rb
Which generated the README: https://github.com/burtlo/inspec_docgen/blob/master/README.md

It doesn't handle filter tables correctly because I didn't understand them until I finished it. But

[2018-02-20 05:50] burtlo opened #2709 "Building the www/demo requires some additional commands"
### Description

I was unable to build the demo that accompanies the site.

[code]

There were errors that complained certain types were not available. I was able to get the site to build when I ran the additional commands:

[code]

Should these things be added to the README? Is there something that I am missing

### InSpec and Platform Version

Commit: bd7327b9

### Stacktrace

[code]

[2018-02-20 06:11] juliandunn opened #2711 "shell with -t aws:// throws a before_session hook failed error"
### Description

Somehow commit 7b23fa479c516beaa0bd81d209ecf63133af2488 is causing an error to be thrown when using the InSpec shell with the AWS driver.

### InSpec and Platform Version

InSpec 2.0.16

### Replication Case

* Check out tag `v2.0.11`
* `bundle exec bin/inspec shell -t aws://` works fine
* Check out tag `v2.0.12`
* `bundle exec bin/inspec shell -t aws://` now throws this error:

[

[2018-02-20 12:37] #2687 closed, assigned to nobody

[2018-02-20 12:37] #2711 closed, assigned to nobody

[2018-02-20 14:26] aaronlippold commented on #2615
@jquick Should I add in the use cases here? Thanks.

[2018-02-20 14:47] jquick commented on #2615
With the new directive of removing critical/major/minor from inspec all together makes this kind of a mute point. With inspec 2.0 we only have pass/fail and serve up the impact so whoever digests them can formulate their own.

[2018-02-20 14:55] jquick commented on #2688
I like this idea, but its going to be hard sometimes. This wont pick up filter table bindings or the dynamic ones we create like for azure.

So whats the use case here? wanting to know what you can do with a resource from the shell instead of going to the docs?

[2018-02-20 15:17] lorenzbausch opened #2713 "HTTP/2 Push Headers with Same Names are not Testable"
### Description

When headers with the same name are present multiple times only the last one can be inspected

### InSpec and Platform Version

2.0.16

### Replication Case

Make a http request to a url which is delivered with HTTP/2 Push and sends multiple Link-headers.

`its('headers.link')` is not an array but the last `Link`-header sent.

[2018-02-20 16:28] jquick commented on #2609
Hey @Annih - The new versions of 1.x or 2.x should not have this issue. Feel free to open a issue or reach out in the community slack if your still having issues after upgrading!

[2018-02-20 16:28] #2609 closed, assigned to nobody

[2018-02-20 16:37] jquick opened #2714 "Refine resource platform supports"
### Description

We need to pull out os restrictions from the initialize block and leave it to the supports to handle. This will be a resource by resource task.

Also once https://github.com/chef/train/pull/261 is merged in we will want to use the new os group to define all os's. This is generic resources like json, yml, csv.

[2018-02-20 17:34] burtlo commented on #2688
@jquick a few instances where I see value:

* I am using an older version of InSpec and the docs site displays the latest release.
* I am using the current version of InSpec and find that it does not behave as the documentation describes.
* I am using the current version of InSpec and the docs are incomplete. Currently, the documentation is generated and maintained by humans in the community.
* I

[2018-02-20 17:54] burtlo commented on #2688
As minor updates to resources are merged there are no tests that ensure that the documentation passes or includes those changes. Humans intervention is required to request those changes and that creates a scenario where the documentation is going to fail. Documentation is an external resource and external resources require coordination with the release of every product.

[2018-02-20 17:56] burtlo commented on #2688
Within InSpec Shell you execute `help RESOURCE` and that resource will provide you a link to the docs page which is a great start of connecting those resources. I am a proponent of tools that teach and this is a great first step. That next step feels like properties that when defined are self-documenting.

[2018-02-20 18:01] burtlo commented on #2688
I think the use of `method_missing` in InSpec resources is an incorrect design choice. I remember when I first started working with Chef you could pause the execution with Pry and examine the available methods within the recipe context. You could see every helper method, but you were unable to see any of the available resources because they were implemented behind a similar dynamic system like `me

[2018-02-20 18:21] burtlo commented on #2480
I opened a PR. Since then the new site rolled out with highlights.js to handle the styles. I'll call this complete.

[2018-02-20 18:21] #2480 closed, assigned to nobody

[2018-02-20 19:38] dee-kryvenko opened #2717 "AWS connection region not always required"
I'm not sure this is still actual after https://github.com/chef/inspec-aws going into 2.0 since it's not in chefdk yet and I can't test. But in chefdk 2.4.22 + master inspec-aws, when using `AWS_PROFILE` or EC2 instance profile or ECS task profile, I'm getting `Failed to complete #verify action: [missing region; use :region option or export region name to ENV['AWS_REGION']] on default-terraform`.

[2018-02-21 04:29] clintoncwolfe commented on #2717
Thanks for the report!  Let me give you an update on how it works in inspec 2.0, and then I'll paraphrase what I think you're asking about.

Upon merging to master, we introduced a new way of passing credentials - using the `--target aws://` option.  InSpec 2.0.16 currently supports three forms of this:
1. `-t aws://REGION/PROFILE-NAME` - explicitly specify both region and profile name
2. `-t aws:

[2018-02-21 04:32] clintoncwolfe opened #2719 "Add has_attached_policies filter criteria to aws_iam_users"
For CIS Benchmark recommendation 1.16 and other uses, it would be great to add a `has_attached_policies` filter criteria to `aws_iam_users`.

Refs https://github.com/chef/inspec-aws/pull/123

EDIT: For 1.16, I believe we would also need a `has_inline_policies` filter.

[2018-02-21 04:36] clintoncwolfe opened #2720 "Add basic aws_billing_reports resource"
For CIS Benchmark recommendation 1.17, we'd need to be able to enumerate billing reports, and filter on their delivery interval and s3_bucket setting.

[This](https://docs.aws.amazon.com/sdkforruby/api/Aws/CostandUsageReportService/Client.html#describe_report_definitions-instance_method) looks to be the proper API call.

[2018-02-21 09:25] tpoindessous opened #2722 "Add support for Google Cloud Platform (GCP)"
Hi

I make this issue to ask (kindly ;) ) for support of the Google Cloud Platform (GCP).

I see that an project exists in https://github.com/martezr/inspec-gcp

Thanks !

[2018-02-21 13:46] aaronlippold commented on #2615
I hope to reopen the discussion on this at the sync call today. @jquick it would be great if you could join us.

[2018-02-21 16:33] burtlo opened #2723 "404 page shows GitHub pages 404 and not InSpec branded 404."
### Description

![image](https://user-images.githubusercontent.com/244426/36491562-a4998e42-16f0-11e8-82c5-84571047756f.png)

### Replication Case

Visit any url that is not defined.

[2018-02-21 16:58] rx294 opened #2724 "YAML Resource Enhancement"
### Description
Please consider the following enhancement to the YAML resource
I will use the elasticsearch.yml file as an example here
On the yml file for example following three definitions are valid

[code]
[code]
[code]
However the YAML resource exposes these values differently in each case.
[code]

This will make it very hard to write exhaustive tests to check if the right params are set.

Pl

[2018-02-21 19:21] clintoncwolfe commented on #2722
Hi!  As you mention, there is currently a community member working on a GCP resource pack.  That's a great place to contribute for now.  In the immediate wake of the 2.0 release, we're working on shoring up support on AWS and Azure; but GCP is certainly on our radar.

[2018-02-21 19:33] jquick commented on #2660
Thanks @lehn-etracker for this report! We will look into this issue.

[2018-02-21 19:37] clintoncwolfe commented on #2688
(I'll be using terminology from the [InSpec Glossary](https://www.inspec.io/docs/reference/glossary/)  here)

My viewpoint, FWIW, is that Ruby-level introspection won't ever be the right answer here.  Properties, matchers, and resource criteria all appear to be methods at the Ruby level; and some of them go through aliasing.  And then you've got method_missing, which I don't like either.  Bleh.

I

[2018-02-21 20:13] dee-kryvenko commented on #2717
Official AWS CLI (and many 3rd party/opensource tooling around it) generally supports something they call default credentials provider chain. Here is some links

https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html#credentials-default
https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#credentials

If I understood correctly, what you're saying is inspec looking in

[2018-02-21 23:31] aaronlippold commented on #2485
I am seeing this issue as well but am surprised we are seeing it again - I thought we had squashed this already

[2018-02-22 05:44] jerryaldrichiii commented on #2485
@aaronlippold @rndmh3ro

I was unable to reproduce this. Could you look at the below and verify it fails for you:

Here is the `Vagrantfile` I used to spin up the NGINX server:

[code]

Here is the output from `inspec shell -t ssh://vagrant:vagrant@192.168.33.10`:

[code]

[2018-02-22 05:44] jerryaldrichiii commented on #2485
I was able to verify that quotes surrounding the path does not work however.

See: https://github.com/chef/inspec/pull/2726

[2018-02-22 10:47] tpoindessous opened #2727 "InSpec 2.0.17 for macOS 10.13 doesn't work (Gem::GemNotFoundException)"
### Description

After installing InSpec from macOS 10.13/64bits download, I can't launch inspec in command line, I get an error `Gem::GemNotFoundException`

### InSpec and Platform Version

- macOS 10.13.3
- https://packages.chef.io/files/stable/inspec/2.0.17/mac_os_x/10.13/inspec-2.0.17-1.dmg

### Replication Case

- Download https://packages.chef.io/files/stable/inspec/2.0.17/mac_os_x/10.13/ins

[2018-02-22 13:48] adamleff commented on #2688
I'm in 100% agreement with @clintoncwolfe. Ruby magic is the wrong choice for a variety of reasons, mostly due to design choices made within InSpec itself. A more robust DSL for defining resources and their properties will allow this sort of user-facing documentation to be generated in a sane fashion. In fact, the Chef project is doing that very thing with self-documenting custom resources' proper

[2018-02-22 15:44] jquick commented on #2727
Looking into this, for now please just use `gem install inspec` which should work for you.

[2018-02-22 16:33] tpoindessous commented on #2727
Thanks, I will try it.

I should note that I use rvm :

<17:31:58>[thomas:~]$ which ruby
/Users/thomas/.rvm/rubies/ruby-2.3.0/bin/ruby

Le jeu. 22 févr. 2018 à 16:44, Jared Quick <notifications@github.com> a
écrit :

[2018-02-22 18:02] aaronlippold opened #2729 "new reporters missing 'start_time' from report"
The 'start_time' data which used to be in the 'controls' array in the JSON and other reports didn't make its way down the new 'stats' array to record the start time of the profile execution.

This needs to be put back into the reports as the `profile_sha` and or `profile_name` + `start_time` is a way to ensure that when we ship results to other systems or for post processing that unique results se

[2018-02-22 18:43] alecxvs commented on #450
I encountered an issue with the path while using the port resource. On my Vagrant VM, the `ss` binary is located in `/usr/sbin` but that's not specified in the PATH when inspec runs a command (whether sudo or not). The workaround for me is to install the deprecated net-tools during my tests and use netstat just because it lands in another bin directory that inspec can see, which really doesn't fee

[2018-02-22 18:56] jquick commented on #2660
Thanks @lehn-etracker - This should be resolved in both v1.51.21 and v2.0.17. Depending if you want to upgrade to 2.0 or not.

[2018-02-22 21:22] miah commented on #2727
Thanks for the report. I'm able to reproduce this locally, and a quick workaround would be putting InSpec at the front of your path:

`PATH=/opt/inspec/bin:$PATH`

[2018-02-22 21:50] jquick commented on #2729
The same data should be available under the results section in profile controls.

[2018-02-22 23:48] jerryaldrichiii commented on #2485
I think I know the issue here:

[code]

TL;DR: If there are no files found with `/etc/nginx/conf.d/*.conf` then the command exits 1.

[2018-02-23 06:52] burtlo opened #2734 "aws_ec2_instance resource displays id and not name in results"
### Description

A user is able to define an `aws_ec2_instance` by `id` or `name`. When you use a `name` and execute a scan the output shows the id of the `aws_ec2_instance`.

### InSpec and Platform Version

InSpec 2.0.17, Mac OSX 10.13.13, targetting AWS

### Replication Case

I create two `aws_ec2_instances`.

I define two controls for `aws_ec2_instances`:

[code]

I execute a scan with this co

[2018-02-23 14:03] maxdelorme opened #2735 "Add support for OpenStack"
At the moment we have found only https://github.com/andybrucenet/inspec-openstack

Is there plan to add full support for OpenStack ?

[2018-02-23 17:53] jquick commented on #2660
To comment about the SemVer. We do try to keep all breaking changes to a major SemVer release version like 2.0. This bug you uncovered in a few 1.x versions was not suppose to be breaking and was a regression. Please reach out if you run into any more issues!

[2018-02-23 18:33] burtlo opened #2736 "aws_ec2_instance resource find by name should fail the resource if multiple instances match"
### Description

The use of the name field to find the `aws_ec2_instance` worked correctly in identifying the instance but seems to be problematic when I have instances that are now terminated that share the name.

### InSpec and Platform Version

InSpec 2.0.17, Mac 10.13.13

### Replication Case

I create an instance with the tag Name: 'webserver'. I terminate that instance.

I create a new insta

[2018-02-23 18:36] burtlo commented on #2734
I am no longer seeing this as an issue. I must have created the issue.

[2018-02-23 18:36] #2734 closed, assigned to nobody

[2018-02-23 20:18] burtlo opened #2738 "Defining an attribute without the additional Hash of options generates an unhelpful error"
### Description

An `attribute` incorrectly defined in a control file does not provide details in the error message that the incorrect definition is the exact cause of the problem.

### InSpec and Platform Version

InSpec 2.0.17, Mac 0SX 10.13.13

### Replication Case

I define an attribute with a control file of my profile without the Hash of additional options.

[code]

When I execute this contr

[2018-02-24 20:36] burtlo opened #2739 "Using the =~ matcher generates a RSpec should deprecation"
### Description

When I defined an individual test that uses the `=~` matcher a DEPRECATION warning is displayed. I chose this matcher because it will compare Arrays without concern for the order.

As InSpec has long since embraced the `should` method existing on every Object in Ruby it surprised me to see this DEPRECATION appear.

### InSpec and Platform Version

InSpec 2.0.17, Mac 10.13.13

###

[2018-02-24 21:43] burtlo opened #2740 "Terraform returns a RouteTable id that contains an extra prefix and additional characters"
### Description

I created a Terraform plan that generates a RouteTable. The resulting output ID for this route table includes an additional prefix and more characters. This may be an error on the part of Terraform as the AWS interface only supports `rtb` followed by 8 hexadecimal characters.

![image](https://user-images.githubusercontent.com/244426/36635223-f4d16078-1976-11e8-9bf8-75d543a4e905.p

[2018-02-25 00:18] clintoncwolfe commented on #2736
Looks like the issue is [here](https://github.com/chef/inspec/blob/master/lib/resources/aws/aws_ec2_instance.rb#L64), in which a tag-based search is executed, then the first result is used.  Current doctrine is for singular resources (like this one) to fail the InSpec resource if more than one AWS Resource matched the search parameters.

`aws_ec2_instance` needs a rewrite anyway; this might be a g

[2018-02-25 00:31] clintoncwolfe commented on #2739
My $0.02 is that you are actually running two tests, and (as an auditor who may not know or care what an Array is, and who prefers English-like readability over programmatic structures like `=~`), the preferred way to express your tests would be your last example:

[code]

If you have a lot of them to check, and you (or your profile author) doesn't mind a bit of readable Ruby, you can still loop t

[2018-02-25 02:46] clintoncwolfe opened #2741 "aws_route_table resource should validate route table ID lengths properly"
### Description

As reported by @burtlo on #2740 , `aws_route_table` allows `rtb-` IDs of arbitrary length, when they should be limited to 8 hex chars.  Be sure to check that limit in AWS docs; many IDs are being lengthened (e.g. EC2 instance IDs); but even the long identifiers have a known length.

### InSpec and Platform Version

InSpec 2.0.17, Mac 10.13.13

### Replication Case

Create a contro

[2018-02-25 02:47] clintoncwolfe commented on #2740
Hi @burtlo!  Thanks for all the testing and issue reports over the last few days.

As mentioned on the [Terraform issue](https://github.com/terraform-providers/terraform-provider-aws/issues/3515) you opened, r-rtb-66f60c1a1080289494 is an identifier Terraform creates to refer to a specific route on a route table, in lieu of an identifier being created by AWS.

If you want to get a route table iden

[2018-02-25 02:47] #2740 closed, assigned to nobody

[2018-02-25 02:50] clintoncwolfe commented on #2738
Thanks for the report!   That would be a very opaque and frustrating experience for the user.  Should be an easy fix.

[2018-02-25 02:59] clintoncwolfe commented on #2735
Thanks for the question!

In the near-term, we're focused on expanding support for AWS and Azure in InSpec core.  GCP and some others are on deck.  At the same time, we're also very interested in helping community members succeed with creating support for the platforms that they are using.  So, we're happy to help with removing obstacles for OpenStack (such as, for example, adding an `openstack://

[2018-02-25 03:11] clintoncwolfe commented on #2724
Hi @rx294 !

Yes, I agree that sounds painful, and something should be done to make checks more regular regardless of the YAML source.  I'm not personally familiar with how difficult that would be, so I'll defer on that.

[2018-02-25 03:28] clintoncwolfe commented on #2717
To be clear, we're not re-implementing the SDK's credentials loading mechanism, and we do indeed rely (indirectly, using the SDK's facilities) on the config and credentials files.  I think we're (as you said) misbehaving in the case in which no region or profile information is available from env vars or the --target option, and treating that no-creds case as an error, when instead we should be all

[2018-02-25 03:35] #2593 closed, assigned to nobody

[2018-02-25 03:37] clintoncwolfe commented on #2717
Refs #2560 , rely on instance profile for creds

[2018-02-25 14:25] burtlo commented on #2739
@clintoncwolfe I definitely agree with what you are saying. With that audience in mind, It makes the inspec.io [matchers document](https://www.inspec.io/docs/reference/matchers/) incredibly important to be absolutely clear how each matcher behaves. I do not think that `=~` is the clearest matcher in the toolbox.

InSpec is also an Integration testing tool for engineers. Engineers may find this mat

[2018-02-26 02:15] mohamednazar opened #2744 "How do I use Chef Attributes in Chef Inspec"
### Description

How do I use Chef Attributes in Chef Inspec

### InSpec and Platform Version

PS C:\Users\Administrator> inspec --version
1.30.0
OS: Windows 2012 R2

for example I am passing attribute for SQL Service account (default['cookbook']['sqlservice'] ="example.com\sqlservice"). This attribute will assign MSSQLSERVER service account via chef recipe. I have to validate via Chef Inspec whet

[2018-02-26 02:26] mohamednazar commented on #664
@chris-rock please let me know whether this feature enabled in any version of inspec? or any other way we can use chef attributes in chef inspec.

Regards,
Mohamed Nazar

[2018-02-26 15:59] jquick commented on #2739
I agree here with @clintoncwolfe - We should keep tests on a single layer of abstraction to make it easy to understand IMO.

[2018-02-26 16:05] clintoncwolfe commented on #2739
I just came across [contains_exactly](https://relishapp.com/rspec/rspec-expectations/v/3-7/docs/built-in-matchers/contain-exactly-matcher) - that seems to do what you want.

[2018-02-26 16:35] clintoncwolfe commented on #2558
I believe this issue is obsolete - since we now prompt for Terraform workspace name (instead of generating a random name each time), trying to run `test:aws:setup` with an existing workspace will cause Terraform to error out informatively.  You may still have a wedged test setup, requiring you to go into the testing directory and manually (ie not via rake) destroy or otherwise fix your infrastruct

[2018-02-26 16:35] #2558 closed, assigned to nobody

[2018-02-26 18:01] clintoncwolfe commented on #2559
This was added on #2638

[2018-02-26 18:01] #2559 closed, assigned to nobody

[2018-02-26 18:01] #2233 closed, assigned to nobody

[2018-02-26 18:59] burtlo commented on #2739
Yes, that does work @clintoncwolfe. I'll use that going forward.

But why does `=~` generate a deprecation message?

That makes me think there are other 'matchers' used by the community that may also generate these deprecations.

[2018-02-26 19:39] clintoncwolfe commented on #2739
As an implementation detail, InSpec is based on RSpec.  I believe `=~` is provided by RSpec, and the RSpec project may deprecate features as it sees fit.

`<RSpec Soapbox>`
InSpec is not RSpec.  InSpec does not generally support arbitrary RSpec features.  On the universal (as opposed to resource-specific) matchers page, the InSpec project documents the matchers that are most commonly used in InSpe

[2018-02-26 21:37] #2578 closed, assigned to nobody

[2018-02-27 03:57] clintoncwolfe opened #2748 "Add full admin detection to aws_iam_policies"
### 🎛 Description

Add a high-level filter criteria to `aws_iam_policies` to detect "full admin" policies.

"Full admin" here means that it contains a statement with:
- Effect: 'Allow'
- Resource: '*'
- Action: '*'

A full policy analysis facility is out of scope for this issue - just looking to cover one common case, and not yet expose implementation details that are likely to change as we develo

[2018-02-27 04:21] clintoncwolfe commented on #2580
refs #2746

[2018-02-27 04:37] clintoncwolfe opened #2749 "AWS IAM policy statement search facility"
### 🎛 Description

Several IAM and S3 resources support inline policies.  Additionally, there are self-contained IAM policies, which may be attached to IAM users, groups, and roles.  Policies are composed of a list of Statements, each with certain well-formed properties.  You can read about the data structure in the [AWS docs](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_ele

[2018-02-27 04:48] clintoncwolfe opened #2750 "Add hardware MFA matchers to aws_iam_root_user"
### 🎛 Description

🙋 feature request

See https://github.com/chef/inspec-aws/pull/124 - add support for _hardware_ MFA detection.  Ensure that we have matchers for "any" mfa, virtual MFA, and hardware MFA.  A positive integration test for this is out of scope.

[2018-02-27 05:21] clintoncwolfe opened #2751 "Route query facility for aws_route_table"
### 🎛 Description

🙋 feature request

We'll need some basic ability to query routes on a route table.   For CIS recommendation 4.5, that means a VPC peering endpoint ID; I think people will also expect to be able to query by CIDR.

### 🌍 InSpec and Platform Version

2.0.26

### 💁 Possible Solutions

I haven't thought about the syntax.

[2018-02-27 06:08] burtlo commented on #2739
I was mistaken here. I knew that Ruby supported `=~` but it does not function in the same way that it functions within used within the context of `should`.

Is your statement the feeling for the project? Should they be captured here: https://www.inspec.io/docs/reference/inspec_and_friends/#sts=RSpec or https://www.inspec.io/docs/reference/matchers/ ?

Should I use `contains_exactly`?  And if you a

[2018-02-27 06:11] burtlo commented on #2739
Should the example that we are talking about be provided on this page https://www.inspec.io/docs/reference/resources/aws_ec2_instance/?

[2018-02-27 14:54] burtlo commented on #2454
I assume that this work has been completed. Unless I woke up in an alternate timeline

![](https://media.giphy.com/media/kk1zu1tVwuecM/giphy.gif)

[2018-02-27 14:55] jquick commented on #2454
Yes! Thanks @burtlo. This is completed.

[2018-02-27 14:55] #2454 closed, assigned to jquick

[2018-02-27 18:39] clintoncwolfe commented on #2739
Thanks for calling out the need to clarify the InSpec-RSpec relation on the "InSpec and Friends" document.  I've opened a PR with some words to that effect, #2753 .  Those are the viewpoints of the team.

You're free to use `contains_exactly`, or any other RSpec matcher you like.  It is not a _supported_ universal matcher, so if it broke, it's not likely fixing it would be a high priority - or eve

[2018-02-27 18:41] jquick commented on #2739
I am closing this issue as undocumented RSpec matchers are not supported in InSpec. Thanks for the notes and clarification on the documentation.

[2018-02-27 18:41] #2739 closed, assigned to nobody

[2018-02-28 17:02] TheLunaticScripter opened #2757 "inspec check doesn't produce warning for leading zero's in version"
### 🎛 Description

This a 🐛 bug report

When an inspec.yml file contains a version that has leading zero's inspec check doesn't warn against them
Example inspec.yml:
``yaml
name: semver_test
...
version: 001.001.0
[code]

### 🌍 InSpec and Platform Version

inspec 2.0.17

### 🤔 Replication Case

Create a profile and change the version to be 001.001.0

### 💁 Possible Solutions

Validate a conversion

[2018-02-28 18:47] #2727 closed, assigned to miah

[2018-02-28 19:22] #2532 closed, assigned to jerryaldrichiii

[2018-03-01 00:23] jinfante5 opened #2758 "SELinux resource type needs to be migrated to InSpec"
### 🎛 Description

**Choose one:** is this a  🙋 feature request?

SELinux resource needs to be migrated to InSpec

### 🌍 InSpec and Platform Version
InSpec 2.0.17
Red Hat Enterprise Linux Server release 7.4 (Maipo)

### 🤔 Replication Case

Resource is not avaliable

### 💁 Possible Solutions

Migrate the resource to InSpec

### 💻 Stacktrace

none

[2018-03-01 03:58] mmukherjee opened #2759 "netcat requirement for the 'host' resource"
### 🎛 Description

**bug report**

I am trying to use the **'host'** resource, but ending up with this error -
[code]
I have built a custom inspec docker image, built on top of the inspec docker image  (from docker hub). The customisations are to install 'nc' and 'ncat' on it, apart from openssh. I am sure that the nc and ncat commands are installed on the docker container.

[code]

### 🌍 InSpec a

[2018-03-01 08:12] jerryaldrichiii commented on #2759
@mmukherjee the `host` resource is ran on the machine you are scanning with InSpec. It is that machine that must have `nc`/`netcat` installed. Is that how you are currently doing things?

[2018-03-01 08:19] mmukherjee commented on #2759
Yes @jerryaldrichiii . The command is running on the inspec container which has 'nc' and 'ncat' installed.

[2018-03-01 08:59] jerryaldrichiii commented on #2758
Great suggestion @jinfante5! I'm going to tag this as a feature request. I also searched through the open issues and found a few that are related. I'll mention them here so it can be tracked.

https://github.com/chef/inspec/issues/563
https://github.com/chef/inspec/issues/534

[2018-03-01 09:04] jerryaldrichiii commented on #2757
Great catch @TheLunaticScripter. I'm going to mark this as a bug. We should not accept leading zeros in the Major, Minor, or Patch version numbers.

https://semver.org/#spec-item-2

[2018-03-01 09:27] jerryaldrichiii commented on #2744
@mohamednazar there are a few ways to accomplish this. See: https://github.com/chef/inspec/issues/541

However, I personally would advise against using Chef attributes in your InSpec tests.

A common use case for InSpec is doing exactly what you describe, having Chef make a configuration change and using InSpec to verify the change actually took place.

The issue here is that if you use the same i

[2018-03-01 09:27] #2744 closed, assigned to nobody

[2018-03-01 09:31] jerryaldrichiii commented on #2723
Great catch! No reason we should have a branded 404. I'm going to mark this as a `feature request` and `docs` since I think it is tangentially related.

To whomever takes this on, I think this may help:
https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/

[2018-03-01 11:25] mohamednazar commented on #2744
@jerry thanks for the detailed response, but however please see my scenario below.

We have to create users based on application name, each server hosted with one application. Once we provisioned the server we want to make sure those application users are created using chef recipe.

The application name will be mentioned in Chef attribute, using that the recipe will add some values in suffix and w

[2018-03-01 14:39] jquick commented on #2759
if you do a `inspec shell` and then type in:
`inspec.command('nc').exist?`
`inspec.command('ncat').exist?`

What do they return? You can also check the stdout/stderr

[code]

[2018-03-01 15:31] jquick commented on #2744
I agree with @jerryaldrichiii that this assurance should come from chef as that is implementing it. With that said you could use attributes file for each server via https://www.inspec.io/docs/reference/profiles/. But it sounds like you want to be able to do it dynamically. For that you would have to get server/app name at the beginning of your inspec control file. Something like:
[code]

If you ha

[2018-03-01 16:05] trickyearlobe opened #2760 "aws-iam-users only retrieves 100 users"
### 🌍 InSpec <= 2.0.30 on OSX

### 🤔 Replication Case
With more than 100 active users in the AWS account

[code]

### 💁 Possible Solutions

Loop over the `backend.list_users` function in `fetch_from_api` using the `marker` and `is_truncated` variables in the returned API object.

I will submit a PR for this issue shortly.

[2018-03-01 16:54] trickyearlobe commented on #2760
Seems pagination in general is already raised in #2582

[2018-03-01 16:56] #2760 closed, assigned to nobody

[2018-03-01 18:53] jerryaldrichiii commented on #2744
To pile on what @jquick is saying, the way I would solve it is with separate profiles for each application.

For example, create a generic application profile (one that fits most cases) then specific application profiles that include the generic profiles and modifies controls where needed via an attributes file (or a file in `files/` like [this](https://www.inspec.io/docs/reference/profiles/#profi

[2018-03-01 20:07] mmukherjee commented on #2759
Thanks @jquick. The command output show up as 'false' despite the fact that I have explicitly installed nc/ncat on the inspec container. Please note, I am running inspec out of a docker container.

[code]

Clearly, the results aren't consistent. The 'exist' command returns false, but the stdout and stderr show expected results. Does inspec expect 'nc/ncat' to be installed in a particular location?

[2018-03-01 21:16] mmukherjee commented on #2759
More updates, I reverted to the default inspec docker container - rather than using the custom one which has nc/ncat installed. I observed that even the basic commands like - `inspec.command('mkdir').exist?` returns false.

What could I be doing wrong?

[2018-03-01 23:37] teknofire opened #2767 "skip_control should output a message if it can't find the given control name"
### 🎛 Description

🙋 feature request

When running `inspec check` or `inspec exec` `skip_control` should print a warning if it can't find any controls with that name.  It currently appears to just ignore the `skip_control` call and continues to process the wrapper.

If there is a large list of controls being skipped and a couple get typo'd it becomes very hard to determine which ones are not worki

[2018-03-02 00:08] trickyearlobe commented on #2574
Yes, order does matter greatly.
The rules are processed in strict order, top to bottom.

[code]

If the drop-all rule was moved to the top, there would be no access to anything.
Moving the top rule down would allow the previously blocked 10.0.4.1 host to SSH to 1 server.

[2018-03-02 00:45] jerryaldrichiii commented on #2759
@mmukherjee the issue here is that the Docker instance that is running InSpec is Alpine Linux and I bet that `bash` doesn't exist. Thereby, causing https://github.com/chef/inspec/blob/master/lib/resources/command.rb#L53 to fail which is why things are returning `false`

This also causes https://github.com/chef/inspec/blob/master/lib/resources/host.rb#L198 to fail which is why your control is also

[2018-03-02 04:16] jerryaldrichiii commented on #2767
@teknofire Great suggestion! I'll mark this as a feature request.

[2018-03-02 05:47] Wing924 opened #2769 "http resource should handle connection failed (ex. port is not open)"
### 🎛 Description

🐛 bug report

http resource raise a error when connection error.

### 🌍 InSpec and Platform Version

inspec 1.45.13
OS: centos 7

### 🤔 Replication Case

[code]
It fails with `Failed to complete #verify action: [undefined method `lines' for nil:NilClass]`

### 💁 Possible Solutions

check curl exit_status code and handle this.

[2018-03-02 12:56] lehn-etracker commented on #2660
@jquick We've tried out v1.51.21. There is still a little issue with creating the output path directory.

v1.51.0 did create output path, v1.51.21 doesn't

It would be perfect if next patch release of v1.51 whould create output directories again.

[2018-03-02 13:39] jquick opened #2771 "Create reporter output directory if it does not exist"
### 🎛 Description

The inspec file writer for reporters does not create directories. We should add mkdir_p to:
https://github.com/chef/inspec/blob/master/lib/inspec/reporters.rb#L28

[2018-03-02 13:40] jquick commented on #2660
@lehn-etracker - Thanks for that feedback. I have created https://github.com/chef/inspec/issues/2771 to resolve this issue.

[2018-03-02 14:02] #2759 closed, assigned to nobody

[2018-03-02 16:27] burtlo opened #2772 "inspec.io all non-index pages generate errors"
### 🎛 Description

🐛 bug report

![image](https://user-images.githubusercontent.com/244426/36909465-a2859820-1e03-11e8-963e-fddbf8dcb605.png)

### 🌍 InSpec and Platform Version

Visit the website on 3/2/218. Commit? 01357e1e29346f261811a5f9ba714715727dec92

Do you version the releases? I want to use the commit version of master but I don't know if that is what is delivered.

### 🤔 Replication Case

[2018-03-02 18:45] #2582 closed, assigned to nobody

[2018-03-02 20:11] artem-sidorenko opened #2773 "Inspec is failing even if everything is ok"
### 🎛 Description

**Choose one:** 🐛 bug report

It might be also related to the kitchen-inspec. Inspec fails even if everything is okay.

[code]

### 🌍 InSpec and Platform Version

[code]

### 🤔 Replication Case

[code]

/cc @chris-rock FYI, I'm noticed that after inspec update to 2.0.32 in https://github.com/dev-sec/chef-os-hardening/pull/199

[2018-03-02 21:27] tas50 opened #2774 "Windows Feature resource incorrectly sees features as installed"
### 🎛 Description

This a 🐛 bug report

The windows feature matcher currently sees InstallPending state as being installed. InstallPending isn't installed until a reboot so auditing that the features are installed will lead you to believe they are in fact fully installed when they're not.

### 🌍 InSpec and Platform Version

Inspec 1.51.21
Windows 2016

### 🤔 Replication Case

Install a feature lik

[2018-03-03 01:11] jerryaldrichiii commented on #2773
I was able to verify that this occurs.

I see failures when I run the below, but no failures when running `kitchen verify`

[code]

I'm marking this as a bug.

[2018-03-03 04:44] #2586 closed, assigned to nobody

[2018-03-03 21:40] aaronlippold commented on #2729
Yes the run time for each control - but we are looking for an overall start time for the profile as a whole. Can we assume the first entry for the for the first control result is the start time of the profile?

[2018-03-04 05:29] ghost commented on #4495
just checking in ...

[2018-03-04 21:12] mmukherjee commented on #2759
Validated on the new docker image - 2.0.36. All good. Thanks :-)

[2018-03-05 09:12] marzdgzmn opened #2777 "Inspec iptable rule tests fail when including the sudo cookbook."
### 🎛 Description

**Choose one:** 🐛 bug report

Inspec iptable rule tests (e.g. it { should have_rule('-A FWR -i lo -j ACCEPT') }) fails when including the sudo cookbook.

### 🌍 InSpec and Platform Version
Inspec version: 1.36.1
Platform: CentOS 7.2

### 🤔 Replication Case

Apply iptable rule using the iptable cookbook, then create inspec tests for the iptables. Include the sudo cookbook (e.g inc

[2018-03-05 13:33] jquick commented on #2773
This is probably due to the new exit codes introduced into inspec 2.0. If you have skipped tests you return 101 instead of 0 now. If we want this to return green still we would want to update kitchen-inspec.

[2018-03-05 13:35] frezbo commented on #2773
+1 on this, kitchen-inspec has not been updated in quite a long time

[2018-03-05 13:36] jquick commented on #2769
Thanks for this report!

[2018-03-05 18:59] burtlo opened #2779 "Resources inconsistently define exist? / exists? methods"
### 🎛 `exist?` and `exists?`use is inconsistent across resources

🙋 feature request

The `user` resource defines `exist?` but not `exists?`.
The `file` resource defines `exists?` but not `exist?`.

Having a consistent method or supporting both will make it an easier experience when working with InSpec resources.

### 🌍 InSpec and Platform Version

InSpec 2.0.17, Mac 10.13.13

### 🤔 Replication Cas

[2018-03-05 19:03] burtlo opened #2780 "Docs prefer os.family over os[:family]"
### 🎛 Description

 🙋 feature request

The documentation for the `os` resources shows usage with the 'Hash' notation. The `os` resource defines a `family` method. Most resources define methods it feels as though the `os` behaves more like the other resources if the documentation showed the `os.family` version.

### 🌍 InSpec and Platform Version

Inspec 2.0.17, Mac OSX 10.13.13

### 🤔 Replication C

[2018-03-05 20:04] #2773 closed, assigned to nobody

[2018-03-05 20:26] jquick commented on #2773
Hey @artem-sidorenko - The new kitchen-inspec 0.23.1 resolves this issue. Thanks for the report.

[2018-03-05 21:16] JohnVonNeumann opened #2782 "bug - aws_iam_access_key - cannot find by access_key_id"
### 🎛 Description
Bug Report

Whilst using the aws_iam_access_key resource, I have attempted to use access_key_id when calling the resource, the module fails out.

I ended up just finding by `username` instead and then doing a `cmp` on `access_key_id` inside the block of the test, and that worked just fine. Maybe I'm doing something wrong? At first I thought it could be a permissions issue with sa

[2018-03-06 00:12] jerryaldrichiii commented on #2777
@marzdgzmn I think I found the issue. I don't think it is related to the sudo cookbook.

Basically, the `iptables` InSpec resource is trying to run `iptables` but `iptables` is not in the path (due to how the transport works). Instead it should use `/usr/sbin/iptables`.

I'm working on a fix now and will update here with the solution.

[2018-03-06 13:56] #2777 closed, assigned to nobody

[2018-03-06 14:18] jquick commented on #2729
It `should`. We do not guarantee it as it based on the underline test runner. Its the same guarantee used before with the controls array in the json though as that was based of this.

[2018-03-06 14:58] trickyearlobe opened #2784 "Add `aws_ec2_instances` plural resource"
### 🎛 Description

Inspec contains singular and plural resources for various AWS objects, but seems to be missing a plural resource for EC2 instances.

Its quite helpful to have a plural resource for performing filter driven tests across large numbers of objects.

I have some basic code which

* exposes a collection of EC2 instances
* filters them using Inspec's built in FilterTable class.

I'll s

[2018-03-06 15:22] jekriske-lilly opened #2786 "Documentation for http resource has an error"
### 🎛 Description

This a 🐛 bug report

https://github.com/chef/inspec/blob/master/docs/resources/http.md.erb#L157
this is a boolean true or false not the string 'true' or 'false'

### 🌍 InSpec and Platform Version

1.45.13 MacOS and Linux

### 🤔 Replication Case
see https://github.com/chef/inspec/blob/master/docs/resources/http.md.erb#L157
`ssl_verify: 'true') do`

### 💁 Possible Solutions

Line

[2018-03-06 15:34] james-stocks opened #2787 "Inspec CLI returns 0 for a non-existent command"
### 🐛 Description

inspec CLI returns 0 when a non-existent command is provided at command line.
Since it's possible to add plugin commands to inspec; it is realistic to want to test whether the command exists or not.
If the plugin command is not correctly loaded then inspec should not return 0 for that command.

### 🌍 InSpec and Platform Version

1.51.21
OSX 10.12

### 🤔 Replication Case

[code]

[2018-03-06 16:12] #2154 closed, assigned to jerryaldrichiii

[2018-03-06 16:12] #1728 closed, assigned to jerryaldrichiii

[2018-03-06 16:48] russellseymour opened #2788 "Allow arrays to be accessed using ordinal values"
### 🎛 Description

🙋 feature request

When interrogating system things often come back as arrays. To test for things other than `first` and `last` the element number has to be specified, e.g. `its ('return[3]') { should be 'russell' }` which is not terribly readble (and is the 4th element).

### 💁 Possible Solutions

By using this library - https://github.com/kdisneur/ordinal_array - it would be p

[2018-03-06 18:23] jquick commented on #2787
@james-stocks - Thanks for reporting this!

[2018-03-06 18:26] jquick commented on #2774
@tas50 - Thanks for reporting this!

[2018-03-06 22:58] sauravnz opened #2789 "Execute inspec tests on containers hosted on remote docker host"
### 🎛 Description

🙋 For now we are able to connect to the docker service running locally on my machine. Request to provide a feature to connect to remote docker API and execute inspec tests for those containers.

Briefly describe the issue and the expected behavior

### 🌍 InSpec and Platform Version

Inspec Version: **2.0.32** on MAC (**10.13.3**)

### 💁 Possible Solutions

As we can provide a re

[2018-03-06 23:31] samcornwell opened #2790 "nginx_conf resource cannot handle include of empty files"
### 🐛 Description

The `nginx_conf` resource will return an empty `params` if an included configuration file is empty. This also occurs if the included configuration file consists of only comments. An empty included file should have no effect. The use case where this issue occurred was where we had an `nginx.conf` include a sample configuration file which is itself completely commented out.

### 🌍

[2018-03-07 12:48] russellseymour opened #2791 "Allow custom reporting method within a profile"
### 🎛 Description

🙋 feature request?

When testing multiple resources using InSpec it is necessary to use a FilterTable. This works well when it is just one resource that is being sought, however the reporting is not so good when you need to test something across multiple resources.

For example. Take a set of 10 servers of which you want to check that the BIOS version is consistent across all of

[2018-03-07 14:31] #2265 closed, assigned to miah

[2018-03-07 15:02] aaronlippold commented on #1677
Use case:

A project has selected 51 critical controls ( i.e. controls taged with nist controls ) for the multiple application stacks and I will be using dependent profiles to run validation tests up and down the stacks ( AWS -> OS -> App -> Ports/Protocols ) and the ask is that we focus our testing on all controls for the MVP.

Assume I have for example:
 - RHEL_7_baseline
- nginx_baseline
- aws_

[2018-03-07 15:09] #2787 closed, assigned to nobody

[2018-03-07 22:56] eugeneromero opened #2796 "Testing of chocolatey packages in Windows"
### 🎛 Description

**Choose one:** 🙋 feature request

Packages installed through `chocolatey` (including `chocolatey` itself) don't show up as installed programs in the Programs and Features window. I might be missing something, but it seems inspec does not see these packages. Would be nice to be able to test for at least the existence of these packages.

### 🌍 InSpec and Platform Version
inspec v

[2018-03-08 04:04] #2769 closed, assigned to nobody

[2018-03-08 09:37] frezbo commented on #2796
Ref: https://github.com/chef/inspec/pull/2793

[2018-03-08 14:45] eugeneromero commented on #2796
Wow, great timing! Will wait for that PR to be merged. Thanks!

[2018-03-08 17:55] sharepointoscar opened #2799 "Add Azure Virtual Network Resource"
**Feature Request**
Though we have the `azure_generic_resource`, it would be nice to have some foundational network resources starting with a vNET (`azure_virtual_network`)

InSpec 2.0.32 on OS X 10.12.6

[2018-03-08 17:58] sharepointoscar opened #2800 "Add Azure Network Security Group Resource"
**Feature Request**
Though we have the `azure_generic_resource`, it would be nice to have some foundational network resources including  `azure_network_security_group`

InSpec 2.0.32 on OS X 10.12.6

[2018-03-08 20:46] #2660 closed, assigned to nobody

[2018-03-08 20:46] #2771 closed, assigned to jquick

[2018-03-08 21:01] #2714 closed, assigned to nobody

[2018-03-09 07:52] artem-sidorenko commented on #2773
@jquick many thanks!

[2018-03-09 13:51] jquick commented on #2780
Yeah with the new train backend we should be using the dot notation. +1

[2018-03-09 13:55] jquick commented on #2779
This is a good point! I know ruby moved to `exist?` and deprecated `exists?` for its File methods. Not saying we should because of that but noting it. I would say lets pick one and deprecate the other.

My vote is to move them to `exist?`

[2018-03-09 13:56] jquick commented on #2782
@JohnVonNeumann - Thanks for reporting this!

[2018-03-09 13:57] jquick commented on #2786
@jekriske-lilly - Thanks for this!

[2018-03-09 13:58] jquick commented on #2779
Note, if we plan on updating the file to support `exist?` That would be a Train change.

[2018-03-09 14:00] jquick commented on #2789
Thanks @tonan  - This would be a https://github.com/chef/train request but we can track it here. This would be a great feature though!

[2018-03-09 16:31] jquick commented on #2799
Thanks for this request!

[2018-03-09 16:31] jquick commented on #2800
Thanks for this request!

[2018-03-09 16:33] jquick commented on #2790
@samcornwell - Thanks for reporting this!

[2018-03-09 16:39] #2597 closed, assigned to nobody

[2018-03-09 16:43] jquick commented on #2471
Thanks @vkatsikaros for reporting this!

[2018-03-09 17:43] sharepointoscar commented on #2799
Thank you @jquick, I actually cloned the repo and have created the `azure_virtual_network` resource, I am now writing the unit test as per the contributing guidelines.  Just running into a small issue, but hopefully get it to a point where I do the pull request soon.

[2018-03-09 18:57] rx294 opened #2805 "parse_config_file resource fails when an empty file is provided"
### 🎛 Description

parse_config_file fails when an empty file is provided.

Expected behavior:

resource should skip if file is non existent or unreadable.
if the file is empty no params should be returned.

### 🌍 InSpec and Platform Version

inspec-2.0.45

### 🤔 Replication Case

The bug appears when an empty file is provided to parse_config_file
the code bug resides in line 78

[code]

file reso

[2018-03-09 19:33] pinterl opened #2806 "Display the actual value found in the registry, not just "got false""
**Feature Request**

When I test a value in the registry it would be great to see the actual value, not just an error message. SeverSpec displayed the actual value too, InSpec only displays "got false"

    ∅  HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full should have property value "Release", :dword, 460805
     expected #has_property_value?("Release", :dword, 460805) to re

[2018-03-09 22:41] aaronlippold commented on #2806
Hi, you would actually want to add a property to the resource called value
which could then return the actual value under the inspection. Methods with
a '?' should always return a Boolean value.

On Mar 9, 2018 2:33 PM, "Laszlo Pinter" <notifications@github.com> wrote:

[2018-03-09 23:03] pinterl commented on #2806
@aaronlippold
I use this test. How can I see the actual value on the console?
[code]

[2018-03-11 15:50] aaronlippold commented on #2790
@jquick see: https://github.com/chef/inspec/issues/2805 @rx294 put in a small fix to cover this?

[2018-03-11 17:02] samcornwell commented on #2790
@aaronlippold
No, these are two unrelated issues.

[2018-03-11 22:08] ViolentOr commented on #2791
Feels like i had pretty similar problem a while ago (#2444 ). Or did you mean something else?

[2018-03-12 13:02] #2425 closed, assigned to jerryaldrichiii

[2018-03-12 14:15] jquick commented on #2805
@rx294 - Thanks for reporting this!

[2018-03-12 16:53] jquick opened #2808 "Scroll bar bug on website"
### 🎛 Description

 🐛 bug report

With the latest website update there are now scroll bars for the getting started code sections:
https://www.inspec.io/

[2018-03-12 17:02] #2780 closed, assigned to nobody

[2018-03-12 23:35] sharepointoscar commented on #2800
I'll take on this one as well.

[2018-03-13 03:36] mrcasablr opened #2810 "Feature request: Check if AWS S3 bucket is encrypted"
Check if an s3 bucket is encrypted using the default encryption - https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html

Many compliances have the requirement that data at rest is encrypted.

[2018-03-13 03:39] mrcasablr opened #2811 "Feature request: check if AWS EC2 EBS volume is encrypted"
AWS allows encrypting of EBS volumes attached to EC2 instances.  We need to have a check to verify if a volume id attached to an instance is encrypted

[2018-03-13 12:57] russellseymour commented on #2791
@ViolentOr That is along the lines of what I am trying to achieve. I will see if I can come up with something like that for the scenario I have.

[2018-03-13 23:26] virtualbubble opened #2813 "Azure Terraform Testing - Example required."
### 🎛 Description

Ignore

[2018-03-14 13:32] jquick commented on #2813
@virtualbubble Hey! Not sure if you already found it but here is our Azure integration tests which use terraform:
https://github.com/chef/inspec/tree/master/test/integration/azure

[2018-03-14 13:32] #2813 closed, assigned to nobody

[2018-03-14 13:33] jquick commented on #2810
@mrcasablr - Thanks for this request!

[2018-03-14 13:33] jquick commented on #2811
@mrcasablr - Thanks for this request!

[2018-03-14 13:37] jquick opened #2814 "Set backend-cache to default true"
### 🎛 Description

🙋 feature request

Now that 2.0 has been released we should upgrade backend-cache to default to true.

We should include a new train pin in this minor bump also.

[2018-03-14 16:25] frank-carnovale opened #2817 "port.rb should die with suitable msg when no 'ss' or 'netstat' method exists"
### 🎛 Description

Bug report.

Even when a port is listening, a 'should be_listening' test will report failure; if running on a Linux installation with neither netstat nor ss tools installed.  This can be the case for e.g. thin Docker containers that are being used to run Chef tests.

### 🌍 InSpec and Platform Version

[code]

### 🤔 Replication Case

To replicate: remove/disable 'netstat' and 'ss