[2017-06-26 02:45] rx294 opened #1965 "skip_resource"
### Description
The skip_resource method does not skip the resource, when the methods of the resource are directly called for the test.

eg:
describe pg_hba_conf.where { type == 'local' } do
  its('auth_method') { should eq ['peer'] }
end

The OS test and skip condition was defined in the initialize method.
The following eg does skip the resource :

describe pg_hba_conf do
  describe pg_hba_conf.w

[2017-06-26 04:36] chris-rock commented on #1965
You cannot skip resources outside of the initialization method as you do in https://github.com/chef/inspec/pull/1964/files#diff-2b6b0ee3585089bb08a90b49541ea7e1R72 right now. We want to cover your use case and that is tracked in #613

[2017-06-26 04:37] chris-rock commented on #1946
@kplimack Is there anything we can improve, otherwise I would like to close this ticket

[2017-06-26 04:38] chris-rock commented on #1945
So I hear that we need a written style guide and a tool that implements verifies that style guide. Is that your understanding too?

[2017-06-26 04:39] lilmansplace commented on #1361
Seems like just getting it to work with an SSH key is hardly a fix to the issue where a password isn't working.  Does the inspec verifier not support SSH with passwords?  I'm able to ssh into the host with username and password, but inspec command doesn't work with username and password.

[2017-06-26 05:41] chris-rock commented on #1361
@lilmansplace InSpec works with username and password with no issue. Please open a new issue for that case

[2017-06-26 05:49] kmf commented on #1945
Yes. Please.

[2017-06-26 08:03] chris-rock commented on #541
Since I've just discovered your responses. Please open a new issue if the json loading is not working

[2017-06-26 12:17] timusmc96 commented on #1908
@chris-rock what are your overall thoughts on this one?   I just want to pass timeline on what we are thinking here.  As this function is important to really simply the profiles example supporting rhel6 and rhel 7 today.  The one profile with the others depend, makes this more manageable.

[2017-06-26 12:27] chris-rock commented on #1908
Would you like to push a PR for that? The issue is located here https://github.com/chef/inspec/blob/e254f79392ad064dfdc622d16f29562e08822f35/lib/inspec/metadata.rb#L91-L103 and it references to https://github.com/chef/inspec/blob/e254f79392ad064dfdc622d16f29562e08822f35/lib/inspec/metadata.rb#L52-L79

[2017-06-26 12:36] timusmc96 commented on #1908
@chris-rock thanks, let me test it out and will go from there.

[2017-06-26 12:44] kmf opened #1967 "Weird encoding issue when launching inspec shell"
### Description

Weird encoding issue when launching `inspec shell`

### InSpec and Platform Version
- inspec 1.25.1
- Ubuntu 16.04.2

**Does not work in:**
 - gnome-terminal 3.18.3
 - tilix 1.6.1
 - terminator 0.98-1

**Works in:**
 - xterm

Any ideas?

![terminator](https://user-images.githubusercontent.com/78700/27539630-85b7b830-5a7d-11e7-8b20-0d4b3dc6c66e.png)
![tilix](https://user-images.git

[2017-06-26 13:03] arlimus commented on #1967
Yesssss, I'm finally not the only one seeing these anymore!! Also just confirmed on Windows 10. Let's fix it :+1:

[2017-06-26 15:07] lilmansplace opened #1970 "inspec exec or kitchen verify is not working with un/pw for SSH"
### Description
I can't get inspec to work with SSH username and password.
It works with SSH keypairs but not with username and password.

### InSpec and Platform Version

[code]

macOS Sierra - 10.12.5

### Replication Case

When attempting to run:
[code]

or run:
[code]

yet I can run:
[code]

[2017-06-26 15:09] lilmansplace commented on #1361
@chris-rock - Done: https://github.com/chef/inspec/issues/1970

[2017-06-26 17:24] conn commented on #1655
Debian 9 has been released. I can confirm that inspec isn't able to get port information on new installations. As all major and modern distributions of Linux come packaged with `ss`, would it be acceptable to just switch over to `ss` completely? Or would it be better to use `ss` by default and then use `netstat` as a fallback?

[2017-06-26 19:45] #1788 closed, assigned to nobody

[2017-06-27 03:42] aaronlippold opened #1972 "Add control `impact` to the json-min output."
### Description

I am working on building out some reporting for profile results and it would be **very useful** if the control impact was added to the json-min format output. I am surprised this hasn't come up already given that the impact of a pass or fail would be a core reporting element in my way of thinking.

[code]

[2017-06-27 14:49] stonesbg commented on #1793
@adamleff Sorry it has taken so long to get back to you on this.  I have installed the latest chefdk 1.5.0 and everything is working perfectly.  So might of be just been an old bug that is now resolved.

Thanks for looking into this we can close this issue off.

[2017-06-27 15:00] adamleff commented on #1793
@stonesbg no apologies necessary! I'm just glad you're squared away. Thanks for getting back to us.

[2017-06-27 15:00] #1793 closed, assigned to nobody

[2017-06-27 15:24] trevor-vaughan opened #1974 "Add sub-directory property to Git fetcher"
### Description

In my experience, various users have issues with large numbers of closely related repositories being combined into a reference platform.

See https://github.com/chris-rock/acme-inspec-profile/blob/master/inspec.yml#L10-L21 for a small example.

It would be nice to be able to specify named subdirectories for those projects that wish to use a single repository for InSpec content.

E

[2017-06-27 15:30] chris-rock commented on #1974
Once we harmonized the vendoring mechanism https://github.com/chef/inspec/issues/1659, one solution could be to set the path:
[code]

[2017-06-27 21:13] adamleff commented on #1965
Additionally, expecting InSpec to be able to not execute instance methods because skip_resource is called somewhere would require some massive monkeypatching of Ruby to accomplish. I suspect this request is coming from the issues a recent PR of yours and @aaronlippold's had on Appveyor where you did not expect the unit tests to fire on Windows.

The solution to the unit-test-on-a-different-platfor

[2017-06-27 21:13] #1965 closed, assigned to nobody

[2017-06-27 21:21] adamleff commented on #1970
@lilmansplace thanks for submitting this issue.

Unfortunately, I was not able to reproduce this issue. These are the steps I took:

 * set up a brand new Vagrant box using the `bento/ubuntu-16.04` image
 * logged in, created a new user named `demo` and password `demo@demo123` to match yours, just to be on the safe side
 * Created a standalone test file, named `test_spec.rb` which contains the fol

[2017-06-27 21:24] adamleff commented on #1655
@decomposite it's always important for us to maintain compatibility with as many older versions of Operating Systems as possible without increasing our maintenance burden unnecessarily. Since it's easy for us to detect whether a command is available to us, I'd rather see us try to use `ss` first, and if it's not available, use `netstat`. That way older OSs that don't have `ss` by default do not lo

[2017-06-27 21:55] conn commented on #1655
@adamleff sounds like a good idea. We'll have to branch at two places [here](https://github.com/chef/inspec/blob/master/lib/resources/port.rb#L269) and [here](https://github.com/chef/inspec/blob/master/lib/resources/port.rb#L338). Looking at other resources, I can see that most choices made about executables are solely based on which OS or distribution of Linux is being ran. Since things would be

[2017-06-28 00:39] adamleff commented on #1655
@decomposite I'm taking a day off tomorrow but I'll reply when I'm back. I'm sure we can come up with a way that's clean and advises duplication. If you want to start on a WIP PR and check the box that lets me commit to it, I'll be happy to tag-team this with you.

Talk to you on Thursday.

[2017-06-28 01:39] conn commented on #1655
@adamleff sounds good to me. I'll try mocking something up if I have time

[2017-06-28 10:21] #1959 closed, assigned to nobody

[2017-06-28 10:31] chris-rock commented on #1972
@aaronlippold From my perspective there is no reason to have this as part of `json-min`. We have `json` reporter for that use case. `json-min` has only the minimal runtime information and is optimized to work hand in hand with `inspec json /path/to/profile`

[2017-06-28 10:32] chris-rock commented on #1974
@trevor-vaughan would that approach work for you?

[2017-06-28 13:08] aaronlippold opened #1975 "Control with no tests defaults to 'pass' - false positive reporting"
### Description

In working on some reporting for a customer I noticed that when a control has no tests it defaults to a 'passed' status. Logically yes the control did 'pass' all its tests but given that we cannot know from the reporting data if it passed because it complied with all its statements or didn't have any I think it leaves us in a state where we could be reporting a 'false positive' re

[2017-06-28 13:32] aaronlippold commented on #1975
@chris-rock In thinking about it more, I think we should add a *`no tests`* status, we actually already have it in a way, `inspec check` already correctly reports that data - i.e. `control x has no tests`. I think putting in the execution path makes just as much sense. The system should report consistently in all its modes right?

[2017-06-28 13:32] trevor-vaughan commented on #1974
@chris-rock So, I definitely need the ability to pull from Git directly since I can readily have that everywhere with no changes to infrastructure. The `path` key would work fine as long as it just starts at the top level of the repo/unpacked directory/whatever and looks down from there.

[2017-06-28 15:41] chris-rock commented on #1517
fixed by https://github.com/chef/inspec/pull/1905

[2017-06-28 15:41] #1517 closed, assigned to nobody

[2017-06-28 20:37] jerryaldrichiii opened #1976 "Add ability to redact sensitive output (e.g. command resource)"
### Description

The `command` resource can output potentially sensitive information.

### Replication Case
[code]

### Possible Solutions
  - Add a sensitive option to the `command` resource
  - Add a sensitive attribute to the InSpec DSL (so it can support other resources)

[2017-06-29 15:01] #1821 closed, assigned to chris-rock

[2017-06-29 15:04] adamleff commented on #1810
Originally submitted in #1812, the first stab at fixing this is in branch `adamleff/fix-json-formatter`

[2017-06-29 19:49] adamleff opened #1979 "inspec.io docs for nginx_conf resource"
Hey @arlimus, can you write up a doc page for your awesome new `nginx_conf` resource you added in #1889? :)

[2017-06-29 20:24] spkane commented on #1436
Another note regarding netcat/nc. CoreOS only ships with `ncat`, which already causes some grief for certain Inspec functionality.

[2017-06-29 20:32] spkane opened #1980 "Support `ncat` and `nc` (for CoreOS)"
### Description

CoreOS does not ship with `nc` and only has `ncat`. There is also no reasonable way to install `nc` on CoreOS, since it doesn't have a package manager.

### InSpec and Platform Version
* Client:
[code]

* Host:
[code]

### Replication Case

Try to do something like this on CoreOS:

[code]

### Possible Solutions

Add checks for `ncat` in addition to `nc` and utilize whichever one

[2017-06-29 21:38] conn commented on #1655
Just following up: some life stuff came up and I probably won't be able to tackle this for a couple of weeks. If this issue exists passed mid-July, I'd be happy to lend a hand.

[2017-06-30 13:59] adamleff opened #1981 "InSpec + Habitat Delightful Integrations"
Starting an issue to track ideas on how InSpec and Habitat can work better together. In what ways can InSpec take advantage of data provided by Habitat and the supervisor to make writing profiles easier?

Add comments to this thread, or if you have access, add another checklist item to this description.

- [ ] use the port bindings info from hab-sup and be able to check that the ports are listenin

[2017-06-30 16:57] adamleff commented on #1972
Per #1973, this is not a change we'll be moving forward with in order to keep `json-min` focused on being minimalist as well as keeping to run-time results instead of control metadata. The `json` formatter will provide the information required.  Thanks!

[2017-06-30 16:57] #1972 closed, assigned to aaronlippold

[2017-06-30 16:59] adamleff commented on #1946
Since there hasn't been any movement on this issue, I'm going to close it for now. But if we need to re-open it @kplimack, please let us know!

[2017-06-30 16:59] #1946 closed, assigned to nobody

[2017-07-03 12:11] ghost opened #1982 "Incompatible with PowerShell 2.0"
### Description

Inspec is incompatible with PowerShell 2.0 due to the lack of `ConvertTo-Json` cmdlet.
The behavior of inspec on PowerShell 2.0 is misleading because it returns a null instead of error.

### InSpec and Platform Version

`inspec-1.20.0-1.sles12.x86_64`

### Replication Case

All inspec resources that utilize `ConvertTo-Json` cmdlet

### Possible Solutions

Creating a custom helper

[2017-07-04 04:51] Wing924 opened #1983 "How to enable sudo in specific resource?"
Hello!

I have a question. How to enable sudo in specific resource?

For example:
Because of the security issue,
I can't give `ALL =  NOPASSWD:ALL` to inspec executing user.
When I execute `crontab` resource, it needs sudo to get details.
How to enable sudo only for this resource?

[2017-07-04 11:45] chris-rock opened #1984 "Allow upload to specific organization"
### Description

Right now, `inspec compliance upload` only supports the upload to the user namespace. Many organizations want to upload profiles to a shared namespace. The CLI should support that.

### InSpec and Platform Version

1.30.0

[2017-07-04 18:09] trickyearlobe opened #1985 "Problem reading registry keys locally"
### Description
When testing the existence of properties(values) of a registry key locally, Inspec says they don't exist when in fact they do. The problem only occurs when testing locally using built in Inspec and doesn't happen remotely over WinRM (even against localhost).

The problem seems to be related to the fact we are running under MinGW 32bit ruby in a WOW 32/64 environment. Doing a bit of

[2017-07-04 19:08] trickyearlobe commented on #1752
Check with `inspec version` if you have an old version of inspec lying around that's not part of the latest ChefDK. This sounds like bug #1508 and should have been fixed by PR #1510

[2017-07-04 19:33] trickyearlobe commented on #1985
Tried updating to `Inspec 1.30.0` and `train 1.25.0`
The ruby that comes with `ChefDK 1.5.0` for Win2012R2 x86_64 is `ruby 2.3.1p112 (2016-04-26 revision 54768) [i386-mingw32]`

Same problem exists.

[2017-07-04 19:34] chris-rock commented on #1984
this already works via:

[code]

Since we do not support user/password login anymore, we should consider to deprecate `user` and use `owner` or `namespace` instead

[2017-07-04 20:01] trickyearlobe commented on #1985
This stackoverflow article seems to suggest a few solutions https://stackoverflow.com/questions/630382/how-to-access-the-64-bit-registry-from-a-32-bit-powershell-instance

[2017-07-04 20:10] trickyearlobe commented on #1985
Using this `regtest.rb`
[code]

The shipped 32 bit ruby gives me
[code]

And a 64 bit ruby gives me
[code]

[2017-07-05 02:24] adamleff commented on #1983
Hello, @Wing924! Unfortunately, this is not currently possible nor is it currently planned to be supported. One of the reasons is that it's not possible to escalate privileges in Ruby for a single command which would cause problems when scanning locally vs. remotely.

A possible workaround is to break out the one `crontab` test into its own profile and execute two, but only use sudo with one profi

[2017-07-05 02:24] #1983 closed, assigned to nobody

[2017-07-05 07:40] ghost commented on #1982
Related to https://github.com/chef/inspec/issues/660

[2017-07-05 07:49] ghost commented on #1982
In case there will not be a solution provided for PowerShell 2.0, then at least inspec should warn the end user about the incompatibility, both in the docs and when executing the affected resources on Windows node that only has PowerShell 2.0.

Affected resources (`inspec-1.30`):
* bridge
* groups
* host
* iis_app
* iis_site
* interface
* oneget
* package
* pip
* port
* registry_key
* service
* us

[2017-07-05 09:02] Happycoil commented on #1982
While the docs state that _"For Windows 2008 and 2008 R2 an updated Powershell (Windows Management Framework 5.0) is required."_ , they could be a lot clearer. Those platforms along with Windows 7 are the only platforms in the supported list whose default PowerShell installation is below 3.0. As far as I can remember the resources only require 3.0, not 5.0.

With PowerShell 6.0 around the corner a

[2017-07-05 09:33] chris-rock commented on #1982
Thank you for the clarification. Any PR to make the docs more clear is welcome!

I do not think that we a simple backport of ConvertTo-JSON will be enough. I assume there are a lot more edge-cases. Since Powershell can be easily updated on Windows machines, what is preventing you from doing so?

[2017-07-05 09:41] #1643 closed, assigned to nobody

[2017-07-05 14:00] ghost commented on #1982
@chris-rock I totally agree that upgrading to PowerShell 3.0 should be the way to go and I understand that the benefit of creating such a backward compatibility is low compared to the effort and resources that are required.
If someone still out there on PowerShell 2.0, they should skip the above listed resources and use the `powershell` resource for a workaround

[2017-07-05 15:37] polobo commented on #1752
v1.19.1 - but the description in bug report #1508, while similar, is not the same.  I'm not seeing buggy behavior here - my output seems to match the code.  What I'm seeing is a choice to code "0 failures" with a red foreground on a black background which makes it appear to be a bad thing when in fact having 0 failures is good; or at least neutral since the "successful" count is communicating the

[2017-07-05 15:43] polobo commented on #1752
Put differently the colors for the three result outputs should differ depending on whether the corresponding count is zero or non-zero.  The existing code, when I checked a while back, didn't have any branching in place for this purpose.

[2017-07-05 17:06] adamleff commented on #1752
@polobo I completely understand what you're talking about. I frequently make the joke "if there's anything I know about computers, it's that 'red is bad'", so I can understand having InSpec display red text even when there are no errors be perceived as incorrect.

While it would be a relatively easy code change to only color the success/failure summaries green/red respectively only if the count >

[2017-07-05 18:33] adamleff commented on #1598
I can reproduce this, and it's super-weird. I'm going to try digging into it.

[2017-07-05 19:12] jamietanna opened #1990 "Port matcher fails when `net-tools` not installed on Debian Jessie"
# Description

the port matcher works without needing additional dependencies installed.

# InSpec and Platform Version

1.25.1 and Debian Jessie (Docker: 7b0a06c805e8)

# Replication Case

it returns `false` (not-listening) when indeed it is up. installing `net-tools` manually fixes this issue.

# Possible Solutions

- Add the requirement for `net-tools`
- Document the requirement for `net-tools`

[2017-07-05 19:28] #1982 closed, assigned to nobody

[2017-07-05 19:55] adamleff commented on #1598
OK, I think figured out what's going on here.

RSpec does some unholy things globally in order for it to do what it does, and InSpec uses RSpec under the covers. Even though each of the concurrent verify jobs runs in a different thread, RSpec does its global state munging thing... so each InSpec runner actually sees the "profile" (even if we make one up if you're using flat spec files and not an I

[2017-07-06 14:55] trickyearlobe commented on #1985
So... bit more investigation reveals that this is only a problem for ChefDK... not For Chef-Client + inspec Gem. The 64 bit client package ships a 64 bit ruby... but 64 bit ChefDK ships a 32 bit ruby.

The fix seems to be "ship a 64 bit ruby in 64bit ChefDK" like we do in 64 bit client.

[2017-07-06 17:19] #1980 closed, assigned to nobody

[2017-07-06 17:30] #1598 closed, assigned to nobody

[2017-07-06 17:35] spkane commented on #1980
Thank you! @adamleff

[2017-07-07 04:36] kmf opened #1997 "using --password should provide a prompt"
### Description

using --password should provide a prompt for a password if none is specified.

### Ouput
[code]

### InSpec and Platform Version
- inspec 1.30
- Ubuntu 16.04.2

##### Sidenote: I could have sworn it did work like this .... maybe I'm getting old.

[2017-07-07 10:22] atomic111 opened #1998 "nginx_conf to support include by wildcard"
### Description

i started a nginx docker container with docker run -it nginx bash and then i connected with inspec shell -t docker://<containerID> to the container. But i do not get a result with nginx_conf.params

[code]

the nginx conf looks like:
[code]

If i do this on my arch linux host system, the nginx_conf resource is working. But it includes not the other configs, which are include in th

[2017-07-07 16:46] jeremymv2 opened #2000 "DRY common profile overrides in meta profile"
### Description

As of inspec version 1.31.1, if you have the following meta profiles:
[code]
[code]

There is not yet a built-in pattern for handling the above scenario where Acme org creates meta/wrapper profiles for the standard CIS ones but wants to use the same overrides in each wrapper profile, without having to maintain that duplicate override code across meta profiles.

A real-world exampl

[2017-07-07 18:09] aogail opened #2001 "host ipaddress no longer honors /etc/hosts entries as of Inspec 1.31"
### Description

The host resource no longer honors /etc/hosts entries when verifying the ipaddress of a host, as of version 1.31.0. This worked in Inspec 1.30.0.

### InSpec and Platform Version

I am using kitchen-inspec to verify an Oracle Linux 7.2 VM from my Mac running Mac OS 10.11.6.

Working Inspec version:

[code]

No longer working Inspec version:

[code]

### Replication Case

Add an en

[2017-07-07 19:01] adamleff commented on #2001
Hi @aogail and thanks for submitting this issue!

This is likely because we changed from using `getent hosts` to `dig` on Linux targets because `getent hosts` does not return full results (i.e. if a v6 address exists, it only returns v6 and not the v4 addresses) and to make the implementation on Linux and Darwin similar. However, it does have the side effect that `dig`/`host` only use the host res

[2017-07-07 19:39] adamleff commented on #1997
@kmf you're not getting old... well, we're all getting old, but that's not the reason for your perception of this issue. 🙂

We never supported InSpec itself prompting for a password. What was actually happening was when you provided `--password` without passing a value, InSpec would pass an empty password string to the SSH library which would try to log in with an empty password. The SSH library i

[2017-07-07 19:46] kmf commented on #1997
I was busy doing some training for some colleagues on Inspec, so I made them look away a few times, I would like a option eg.
[code]

[2017-07-07 20:01] adamleff commented on #1997
Yeah, I agree we could make this better.

Until then, if you find yourself in the same situation, set your password to a variable in your shell and then your users won't see it. Yeah, I know, it's ugly and you shouldn't need to do it, but I at least want to tell you what I would do in your situation if I couldn't use SSH keys:

[code]

[2017-07-08 04:24] adamleff opened #2004 "RuntimeProfile overwritten when executing multiple profiles"
### Description

RuntimeProfile overwritten when executing multiple profiles, preventing a profile from reliably accessing its profile object via `inspec.profile` in a control file.

As `Inspec::Profile` objects are created, a `Inspec::RuntimeProfile` object is created its object is stored in `@backend.profile`. A single backend instance is created by `Inspec::Runner` and is passed to `Inspec::Pro

[2017-07-10 03:58] pratri07 opened #2005 "Run Inspec test with different user for example ORACLE"
### Description

sql = oracledb_session( user: 'system', pass: 'XXXXXX', host: 'chefd.local.com', sid: 'chkdb', sqlplus_bin: '/u01/db12201/bin/sqlplus' )
describe sql.query('SELECT NAME FROM v$database;').row(0).column('name') do
  its('value') { should cmp 'CHKDB' }
end

I want to run above test as "Oracle" user, since it has to login to database and run sql query

It errors like below,
  SQL Col

[2017-07-10 05:24] kisoku opened #2006 "Inspec::Resources::Deb fails to see a package that is marked as 'held' as installed"
### Description

Package resource fails to see debian packages marked as 'held' as being installed

### InSpec and Platform Version
[code]
The platform being tested against is Ubuntu 16.04 LTS

### Replication Case

Install a package and mark it as held

[code]

Run the following inspec test

[code]

### Possible Solutions

Fix Inspec::Resources::Deb to permit `hold ok installed` to be a valid ins

[2017-07-10 07:49] doertedev commented on #1293
:+1: need the same. One option would be to enable --ssh-options or something similar via CLI. Then, you could send a shell-"-t" which would force a pseudo-TTY. This doesn't always help, its just an idea.

[2017-07-10 17:15] kplimack opened #2009 "crontab matcher incorrectly matches hours/minutes"
### Description

the `minutes` matcher is wrong, it is trying to compare `minutes` to `hours + minutes` instead of properly splitting the intervals.  this worked locally and during testing, but is failing on my prod systems.

[code]

[code]

[code]

yet oddly
[code]
### InSpec and Platform Version

centos6.7, inspec (1.27.0)

[2017-07-10 19:08] timusmc96 commented on #1940
What are your thoughts on this one?  Thanks

[2017-07-11 10:54] chris-rock commented on #2005
We had some issues with the oracle resource that has been fixed in latest inspec. Also you need to provide the resource a service now instead of a SID. Please have a look at https://www.inspec.io/docs/reference/resources/oracledb_session/

[2017-07-11 13:50] pratri07 commented on #2005
Thanks chris, i will try with service. but can you please help me how can we run this test using oracle user? because oracle is installed and running part of oracle, not vagrant or root. Is there any way to run this with oracle? any modification needed in kitchen.yml file?

Because i tried kitchen verify and inspec exec default/oratest.rb -t ssh://oracle@192.168.33.8 --password 'XXXX'

when i trie

[2017-07-11 19:32] #2001 closed, assigned to nobody

[2017-07-12 11:15] 0xbadshah opened #2011 "Windows 2008 R2 is not detected"
### Description
Inspec is not detecting Windows Server 2008 R2. The server is my guest OS running in VirtualBox connected to host in host-only mode. I have seen the issues #346 and #453 and tried to install Windows Management Framework 5.0. Even after the install and a complete restart there is no use.

### InSpec and Platform Version

Inspec version : 1.31.1 (running on my host - Ubuntu Linux)
Gu

[2017-07-12 14:30] jeremymv2 opened #2012 "Cannot access `registry_key` property values if they contain `.`"
### Description

If a registry_key property contains a period it cannot be accessed.

### InSpec and Platform Version

1.30.0
Windows 2012R2

### Replication Case

[code]

Or

[code]

Or

[code]

Yields:
[code]

[2017-07-12 15:58] jeremymv2 commented on #2012
closing as duplicate of https://github.com/chef/inspec/issues/1281

[2017-07-12 15:58] #2012 closed, assigned to nobody

[2017-07-12 20:39] adamleff commented on #2005
@pratri07 InSpec runs as the user you tell it to, but you cannot tell it to use another user for a particular control/test.

If you're performing tests locally, simply become that user and then call `inspec exec /path/to/profile`

If you're performing tests remotely, you supply the user in your `--target` command line flag value... for example:

[code]

Please note that InSpec does not acquire an

[2017-07-12 20:39] #2005 closed, assigned to nobody

[2017-07-14 20:28] arothian commented on #1535
Somewhat related use case, is if a check is being performed on a file with sensitive data, it would be great if none of the comparison content is shown at all. I think this probably mostly applies to the file resource. I'm thinking something along the lines of the common 'sensitive' flag that exists in chef for resources - https://docs.chef.io/resource_common.html

[2017-07-14 23:29] martinisoft commented on #325
I'd like to see this or even just a flag on the matcher.

[2017-07-16 21:11] pratri07 commented on #2005
thanks so much for your tips,

when i am running kitchen test it's trying to login as vagrant and oracle database is running as oracle user. i want to run this test as oracle. i shifted everything from .profile to .kshrc but still not working.

kitchen verify
-----> Starting Kitchen (v1.16.0)
-----> Verifying <default-centos-69>...
       Loaded tests from test/smoke/default
[DEPRECATED] use `pass

[2017-07-17 10:22] walterdolce commented on #871
I think there's more than one output issue there. With the following spec:
[code]

I get the following output:
[code]

[2017-07-17 13:40] aaronlippold commented on #2005
Hi,

Have you tried to use the sudo: and sudo_options: in your kitchen.yml file?
i.e.

verifier:
  name: inspec
  sudo: true
  sudo_options: "-u postgres"

Is what I am using to test the postgres profiles.

Yours,

Aaron

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Sun, Jul 16, 2017 at 5:11 PM, Prashant Atri <notifications@github.com>
wrote:

[2017-07-18 00:28] pratri07 commented on #2005
thanks so much, i updated .kitchen.yml with this but still giving same error. do i need to do any additional sudo settings on instance created by test kitchen?

---
driver:
  name: vagrant

provisioner:
  name: chef_zero

# Uncomment the following verifier to leverage Inspec instead of Busser (the
# default verifier)
verifier:
   name: inspec
   sudo: true
   sudo_options: "-u oracle"

platforms:

[2017-07-18 02:33] rx294 opened #2018 "Matcher : be_in"
### Description

It will be very very useful to have a matcher that serves the following use case

describe nginx do
  its('user') { should be_in AUTHORIZED_USER_LIST }
end

describe nginx do
  its('module') { should_not be_in VULNURABLE_MODULE_LIST }
end

describe nginx do
  its('user') { should_not be_in UNAUTHORIZED_USER_LIST }
end

### Possible Solutions
The following code in matches.rb does t

[2017-07-18 08:58] n-rodriguez opened #2019 "mysql_session is broken"
### Description

I got this error when using `mysql_session` : `Can't connect to MySQL instance for SQL checks.`

### InSpec and Platform Version

inspec 1.31.1

### Replication Case

[code]

### Possible Solutions

See : https://github.com/chef/inspec/pull/2020

[2017-07-18 12:38] primate-2016 commented on #1687
Hi there - is there any update to this? We've run into this problem due to some complexities with the way we need to package profiles. Cheers.

[2017-07-18 13:52] budgester opened #2021 "kitchen verify doesn't find default inspec paths on dependant cookbooks"
When I create a CHEF cookbook (my-cookbook) with inspec tests in the default location

test/integration/default

If I include that cookbook in another cookbook and add to the inspec.yml with something like

depends:
  - name: my-cookbook
    git: git@git.mycorp.com:myorg/my-cookbook.git

The verifier does not look at test/integration/default for the inspec.yml or controls, it expects them to be in

[2017-07-18 14:04] budgester commented on #2021
On things I've tried it to create symlinks in the base of the cookbook

controls -> test/integration/default/controls
inspec.yml -> test/integration/default/inspec.yml

It appears that inpsec doesn't respect the symlink to the controls

`martin.stevens@martinstev-ltm1 ~/src/cookbooks/as-jenkins-server (test) $ inspec check .
WARN: Unresolved specs during Gem::Specification.reset:
      excon (>= 0

[2017-07-18 14:05] budgester commented on #2021
If I run from the test/integration/default directory everything is peachy.

`martin.stevens@martinstev-ltm1 ~/src/cookbooks/as-jenkins-server/test/integration/default (test) $ inspec check .
WARN: Unresolved specs during Gem::Specification.reset:
      excon (>= 0.38.0)
      thor (~> 0.19)
      rake (>= 0)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
Location

[2017-07-18 15:28] #2019 closed, assigned to arlimus

[2017-07-20 00:13] arlimus commented on #2018
Love the direction of this @rx294 !! :)

[2017-07-20 02:41] 0xbadshah commented on #2011
Found the solution:
**1. Install dotNet 4.5**
**2. Install Windows Management Framework 5**
But it works only when connected via winrm. Doesnt detect / work when connecting via ssh.

[2017-07-20 02:41] #2011 closed, assigned to nobody

[2017-07-20 16:46] rx294 commented on #2018
Thank you @arlimus, hope you guys can decide on the matcher's name soon...unless it can remain 'be_in' :)

[2017-07-20 17:53] timusmc96 opened #2024 "Include_controls with skip control, then be able to add new control"
### Description

Trying to reorder controls in a windows profile.  Basically to have the Skip and then updated control, then a skip and next updated control.  Seeing weird return as the skip control becomes the cis control and then we have 2 skipped controls instead of one, is this not designed to work this way:   Example below:

include_controls 'cis-windows2012r2-level1-memberserver' do

skip_co

[2017-07-20 20:39] jburns12 opened #2025 "contain_match returns false positives in auditd_rules resource"
### Description

When the auditd_rules resource is used along with contain_match, any provided input to match upon is returning a successful result.

### InSpec and Platform Version

Running on macOS Sierra 10.12.6 on Rhel7 VM on Virtualbox. Inspec version 1.31.1.

### Replication Case

Execute the following with an empty /etc/audit/audit.rules and auditd_rules.lines containing only ["No rules"]:

[2017-07-20 23:38] aalmenar commented on #1497
I can add that this happens also with a simple test also, but only fails on ubuntu 16.04 images on debian images it works ok. (All images are bento images)

sample_spec.rb:
describe processes 'haveged' do
  it { should exist }
end

ps axo label,pid,pcpu,pmem,vsz,rss,tty,stat,start,time,user:32,command output:

LABEL                             PID %CPU %MEM    VSZ   RSS TT       STAT  STARTED

[2017-07-21 10:46] aidda opened #2026 "packer & inspec for windows"
I want to run inspec with a packer for windows OS.
I tried this command but it doesn't work
`c:\opscode\chef\embedded\bin\ruby c:\opscode\chef\embedded\bin\inspec.bat\ exec c:\Downloads\test.rb`
I need to fix this to day ;)

[2017-07-21 18:24] jerryaldrichiii commented on #450
Quick notes that may help. All of the below is executed on a CentOS 7.3 node.

It seems like executing with `--sudo` will "fix" the issue, but the real issue is related to `PATH`

## SSH remote command (without sudo)
[code]

## SSH remote command (with sudo)
[code]

## Command executed after logging in via SSH (without sudo)
[code]

## Command executed after logging in via SSH (with sudo)
[code]

[2017-07-24 06:00] arlimus commented on #1687
Not yet @primate-2016 but we are working on updating the vendor mechanism. This is definitely a part of it :) We are reaching to complete https://github.com/chef/inspec/issues/1659 which this falls into.

Happy to take contributions if someone is faster.

[2017-07-24 06:01] arlimus commented on #1659
Make sure to include local paths: https://github.com/chef/inspec/issues/1687

[2017-07-24 06:06] arlimus opened #2028 "InSpec cannot read vendored tar's with PAX extensions"
### Description

Some tar files may be archived in a "special" way. When looking at them in the Ruby debugger, we see something called the pax header:

[code]

### InSpec and Platform Version

1.31.1

### Replication Case

Try `inspec json archive.tar.gz` on a file with vendored tar archives with pax.

### Possible Solutions

Do not embed vendored tar archives, use flat files instead which don't s

[2017-07-24 06:06] arlimus commented on #2028
For full information on this case see: http://pubs.opengroup.org/onlinepubs/9699919799/utilities/pax.html#tag_20_92_13_03

[2017-07-24 06:06] arlimus commented on #2028
Another reference for Ruby https://stackoverflow.com/questions/34688392/paxheaders-in-tarball

[2017-07-24 06:07] arlimus commented on #2028
We will address the symptoms in https://github.com/chef/inspec/issues/1659
Preventing the inclusion of vendored archives

[2017-07-24 06:08] arlimus commented on #1659
Fixes: https://github.com/chef/inspec/issues/2028

[2017-07-24 15:10] Azaroths opened #2030 "hide profile and version when inspec exec"
Hello,

I have a question about inspec.

When you execute the inspec exec file.rb command, is it possible to hide profile : and version : in the test result ?

Best regards,
Azaroths

[2017-07-24 15:17] chris-rock commented on #2030
@Azaroths Can you share your use case a little bit more in detail?

[2017-07-25 10:33] aalmenar commented on #1990
Specinfra solved this using the ss command. This is available on all debian distros since jessie.

[2017-07-25 12:23] Azaroths commented on #2030
I execute inspec test inside docker container with :
inspec exec file.rb -t docker://my_container

I have this result :

Profile: tests from 12746.rb
Version: (not specified)
Target:  docker://8b181a17bf232805e5e383270453c465d7f180df72173227977dd8c78c7c8e67

  Command ps
     ✔  -U root exit_status should eq 1

Test Summary: 1 successful, 0 failures, 0 skipped

I would know if it's possible to hid

[2017-07-26 12:39] abielikesu commented on #2005
Hi,
Thanks to the comments in this thread, I managed to make it work.

On the database VM I have the following users:

oracle
uid=502(oracle) gid=501(oinstall) groups=501(oinstall),502(dba),504(asmdba)

dbaas (or vagrant if/when using it)
uid=500(dbaas) gid=100(users) groups=100(users),500(dbaas),502(dba)

# Make sure  the dbaas (or vagrant) user could connect to the database using sqlplus:

1. in

[2017-07-26 19:26] adamleff commented on #2030
@Azaroths thank you for your reply. We understand your request, but we're not understanding the *why* of what you're asking. 🙂 If you could help us understand *why* you're looking to filter that out, that would help us determine whether this is something we should account for.

In the meantime, you could pipe the output through `egrep` and fliter out those lines:

[code]

To provide you an alterna

[2017-07-26 23:27] pratri07 commented on #2005
Thanks for given steps and detailed info.

**## Make sure the dbaas (or vagrant) user could connect to the database using sqlplus: See my comment below.**

Even if we don't make vagrant user part of dba group, as long as database listener is running and profile is set, it can connect to database as "vagrant" os user. i made it work like this,

**# Write the inspec file (oracle_inspec.rb) as ...See

[2017-07-27 01:57] aaronlippold opened #2032 "The sticky bit function does not seem to be documented in the file resource"

[2017-07-27 07:25] stefanandres commented on #1598
Thanks a lot for the effort :)

[2017-07-27 08:22] n-rodriguez commented on #2019
Hi! You forgot to update the CHANGELOG : https://github.com/chef/inspec/blob/master/CHANGELOG.md

[2017-07-27 12:52] adamleff commented on #2019
@n-rodriguez We're going through some small changes to how we generate version numbers and update the changelog. We'll manually modify it accordingly, but this PR got merged before we started the new process, but also before we would've manually updated the changelog during our release process (which is when we normally updated the changelog - now it will auto-update after each merge to master).

[2017-07-27 14:00] adamleff commented on #2032
@aaronlippold can you please elaborate? Are we talking about the `setuid` permissions bit you can enable on a file/directory? If so, isn't that just part of the file mode (i.e. 1777)?

[2017-07-27 14:20] n-rodriguez commented on #2019
Ok. Thank you!

[2017-07-27 18:27] MFAnderson opened #2034 "Unable to detect running processes on Alpine-based Docker containers"
### Description

When executing against a running Docker container based on Alpine Linux, `processes` appears unable to detect running processes. I am super new to InSpec so very open to the possibility I'm just doing something wrong.

### InSpec and Platform Version

InSpec 1.31.1 against Alpine 3.6 as Docker container on macOS 10.12.4

### Replication Case

Launch an Alpine container with a proc

[2017-07-28 16:41] rx294 opened #2035 "nginx_conf resource does not handle multiple virtual server definitions"
### Description

nginx_conf resource does not parse and expose multiple virtual server definitions in the included conf files. It parses just one and adds it to params

### InSpec and Platform Version

OS: Cent 7

### Replication Case
nginx -T output (shows all included server defs)
![image](https://user-images.githubusercontent.com/17052944/28727091-bed365c4-7391-11e7-84f2-9d0894684a70.png)

ngin

[2017-07-28 16:54] rx294 commented on #2032
@aaronlippold  is referring to the following method in the file resource
    def sticky
      (mode & 01000) > 0
    end

When the sticky bit is set on a directory, files in that directory may be unlinked or renamed only by root or their owner. Without the sticky bit, anyone able to write to the directory can delete or rename files. The sticky bit is commonly found on directories, such as /tmp, th

[2017-07-31 02:31] meringu opened #2036 "YAML resource with symbol keys"
### Description

The yaml resource assumes the yaml file has strings as keys

### InSpec and Platform Version

[code]

### Replication Case

For a given file on disk `file.yml`

[code]

And a test:

[code]

Outputs:

[code]

### Possible Solutions

The YAML resource inherits this logic from the JSON resource. As there is no such thing as Symbol in JSON, this isn't an issue for the JSON resource.

[2017-07-31 04:53] Wing924 opened #2037 "bug: multiple dependent profiles with files are out of order"
### Description

Multiple dependent profiles with files don't work correctly.

### InSpec and Platform Version

[code]

### Replication Case

There are those profiles:

#### profile A
[code]
[code]

#### profile B
[code]
[code]

#### profile C
[code]
[code]
It will fail with `Cannot find file default-a.yml in profile.` . If we comment out one of `profile-a` or `profile-b`, it works.

[2017-07-31 12:08] adamleff commented on #2037
Hello! This is already fracked in #2004.  Please watch that issue for further updates. Thanks for reporting this issue.

[2017-07-31 12:09] adamleff commented on #2037
Duplicate of #2004

[2017-07-31 12:09] #2037 closed, assigned to nobody

[2017-07-31 15:13] mschuchard opened #2038 "inspec check subcommand does not accept --attrs flag"
### Description

`inspec check` subcommand does not accept `--attrs` flag. This makes unit testing of controls within profiles that have code which relies on attributes impossible for cases where default data is not applicable, and inaccurate for cases which do.

### InSpec and Platform Version

current version according to documentation

### Replication Case

n/a

### Possible Solutions

Adding t

[2017-07-31 16:27] aalmenar commented on #1356
This issue it's not really en enhancement but a bug, because since debian 8 and centos 8 and ubuntu 16.04 net-tools are no longer installed as default.

[2017-07-31 17:18] chris-rock commented on #2038
@mschuchard Thank you reporting. I am not sure I understand why `inspec check` would need attribute support. It just verifies that the profile is correct.

[2017-07-31 19:17] mschuchard commented on #2038
It also verifies the code in controls. If the `attribute` method is used in the controls without an appropriate default and the code makes use of the attribute value (which it would do for almost all scenarios), then the `check` fails.

[2017-07-31 21:13] chris-rock commented on #2038
Would'nt the solution then to set sensible defaults? Inspec check is intended to be executed with any arguments. Or is there another solution that you can think of?

[2017-07-31 21:30] adamleff commented on #2038
@mschuchard interesting idea, but at that point, you're testing InSpec's ability to raise Ruby exceptions and your system's ability to pass attributes, rather than exercising policies or doing a proper unit test. I'm interested to learn more about what problem you're trying to solve. Thanks!

[2017-07-31 21:54] pinterl opened #2039 "The link to issues on the CONTRIBUTING.md page does not point to the issues, it points to itself"
### Description

The link to issues on the CONTRIBUTING.md page does not point to the issues, it points to itself: https://github.com/chef/inspec/blob/master/CONTRIBUTING.md#issues

### InSpec and Platform Version

InSpec GitHub repository
"1. Reporting an issue or making a feature request **here.**"

![2017-07-31_14-48-53](https://user-images.githubusercontent.com/12851573/28800073-05fa5d2a-7600-

[2017-07-31 22:19] mschuchard commented on #2038
In some scenarios, I cannot set defaults. For example, we are supplying attribute data for certain characteristics of a system to compensate for the lack of a `host_inventory` like SpecInfra provides for ServerSpec. I cannot set a reasonable default value for, say, the type of processor on a system. Any attempt to do so would allow the `check` to pass, but cause undesired behavior with `exec`.

[2017-07-31 22:42] adamleff commented on #2039
Thanks! We'll get that fixed. Feel free to send up a pull request yourself, or I'll fix it later this week when I return from vacation 🙂

[2017-08-01 15:05] tpetchel opened #2041 "Errors packaging and validating wrapper profiles having dependencies"
### Description

While specifying dependencies from a wrapper profile, I can use `url`, but not the other fields, to package and validate my profile.

* 👍 `url`
* 🙅‍♂️ `git`
* 🙅‍♂️ `github`
* 🙅‍♂️ `compliance`

### InSpec and Platform Version

[code]

macOS 10.12.4
Chef Automate 1.5.46  (using Chef Automate Pilot)

### Replication Case

* Run `inspec init profile` to create a profile.

[code]

* M

[2017-08-02 13:21] aidda opened #2042 "Dependency cookbook inspec in .kitchen.yml"
I`m wondering to know, is there anyway to add dependencies inspec`s cookbook to main cookbook?
For instance I have a cookbook to install an application, lets say tomcat, and I have another cookbook to do the OS hardening and the hardening cookbook has an inspec script. I`m running application cookbook with hardening, but I want to use hardening inspec inside the application cookbook.
So, do you ha

[2017-08-02 16:23] starx opened #2044 "Incompatible character encodings: UTF-8 and ASCII-8BIT while crawling a page which contains UTF Characters."
### Description

In a test, trying to verify contents of a web address by crawling is failing.

[Kitchen Log](https://pastebin.com/k36mGEY7)

### InSpec and Platform Version

Inspec: 1.31.1
Kitchen: 1.16.0

### Replication Case

A simple test case like this is enough. The page it is crawling should have Unicode characters.

[code]

[2017-08-02 20:27] jburns12 opened #2045 "Libraries with custom resources not accessible when running controls outside of full profile"
When a custom library is added to the libraries folder of a profile, the only way to run a single control is to pull in the full profile.

For instance, the profile must be executed using "inspec exec profiles/<profile name>" which iterates through all controls vs. "inspec exec profiles/<profile name>/controls/<control name>" or even "inspec exec profiles/<profile name>/controls/."

Otherwise the

[2017-08-03 02:41] adamleff commented on #2038
Thanks for explaining, @mschuchard.

I believe this is outside of the scope of the `inspec check` command which is designed to check profile accuracy. Whether an attribute is supplied or not doesn't speak to the accuracy of the profile  but rather the accuracy of the system or person asking InSpec to execute that profile. I therefore agree with @chris-rock that this is not functionality we should

[2017-08-03 02:48] adamleff commented on #2041
@tpetchel thanks for the issue!

re `github`: I honestly don't think we ever supported this per my reading of the code. I think this is a documentation error and that section of the docs should be removed. @arlimus @chris-rock keep me honest here, but I can't find any `github` fetcher that would've triggered if someone used it in a `depends` metadata item.

re `git`: this profile fetcher is in nee

[2017-08-03 02:51] adamleff commented on #2042
Hi @aidda, and thanks for submitting your issue!

I'm afraid I'm having a hard time understanding what you're trying to achieve. Would you mind trying to explain it a different way so we can better understand and hopefully point you in the right direction?

Ultimately, if you're trying to execute InSpec profiles as part of a Chef run, I'd strongly recommend checking out [the audit cookbook](https:

[2017-08-03 10:30] RayBeaumont commented on #1497
InSpec 1.31.1
Ubuntu 16.04
Ruby 2.1.10

On linux `Inspec::Resources::Processes#ps_axo`  uses the command `ps axo label,pid,pcpu,pmem,vsz,rss,tty,stat,start,time,user:32,command` which produces the following line of output for mysql on my server:

[code]

`Inspec::Resources::Processes#ps_axo` defines the following Regex, which is used in `Inspec::Resources::Processes#build_process_list` to filter t

[2017-08-03 12:19] mschuchard commented on #2038
So my assumption was that `inspec check` should be validating the base functionality and behavior of a profile. What is its intended use case?

[2017-08-03 13:00] zbikmarc commented on #534
Any updates on that feature?

[2017-08-03 14:18] arlimus commented on #2035
Tested and confirmed. Having multiple server files for some reason doesn't seem to include the all the virtual servers. might be more

[2017-08-03 14:50] rx294 commented on #2035
@arlimus @aaronlippold

Here is the second parsing issue, please note that the param after the line
add_header X-XSS-Protection "1; mode=block";
does not parsed properly
nginx -T screenshot
![image](https://user-images.githubusercontent.com/17052944/28927791-73395568-7839-11e7-9ca8-3d66a291c762.png)
inspec shell nginx_conf.params
![image](https://user-images.githubusercontent.com/17052944/28927810

[2017-08-03 21:34] #2039 closed, assigned to nobody

[2017-08-03 22:33] mattlqx opened #2051 "docker_container.tag should use last element of split"
### Description

A docker image may contain multiple colons if the repository has a port specified. The `tag` attribute apparently only does a split on `image` and takes the second element. This will result in the port and image name instead of the tag.

### InSpec and Platform Version

1.32.1

### Replication Case

Add a port number to a repository and pull an image. `docker ps` will show you som

[2017-08-04 13:42] adamleff commented on #2038
@mschuchard `inspec check` does not validate functionality or behavior but rather proper composure/formatting. It checks things like ensuring the metadata file is correct and is not missing required fields, that specified controls are not missing required fields, Ruby syntax is correct, etc. It does not execute the profile.

At this time, I'm going to close this issue. However, if you think the ab

[2017-08-04 13:42] #2038 closed, assigned to nobody

[2017-08-04 13:50] mschuchard commented on #2038
Ok, sounds good. Do you have a suggestion for a good way to validate the controls prior to deploying a profile (we already spec test libraries and syntax/style check everything so we just need control unit testing)?

I know we could acceptance test them with test kitchen but just looking for unit at the moment.

[2017-08-04 14:04] adamleff commented on #2038
This was a conversation just had internally at Chef yesterday, as a matter of fact!

Currently, the best practice is to simply run `inspec exec` against an existing host, since it's safe to run InSpec given that its resources do not make changes to the target host. It's hard to test a test framework... With something like Chef, which makes changes to the system in question, testing that the change

[2017-08-04 14:22] chris-rock commented on #2038
I propose we add a ticket for that use case: "How to test the tests" :-) and try to drill down each types of tests you potentially wanna do: unit tests, test against different os types etc. I like the thinking...

[2017-08-04 14:28] adamleff commented on #2038
As long as the issue is to start exploring the use cases, then I'm totally fine with that. I'm still concerned we don't exactly understand why we need to "test" other than "testing is good, so we should test." What are we testing for? What issues do we expect or desire to uncover?

I'm afraid that as we start exploring this, we'll find it's a relatively large effort to provide a testing framework

[2017-08-04 14:40] chris-rock commented on #2038
I'd like to start to discuss the use cases not the technical implementation. Then we can see if this is in scope for InSpec or if we recommend another tool for doing so.

[2017-08-04 16:08] mschuchard commented on #2038
@adamleff I just hope to have testing that would uncover issues greater than syntax, but less than acceptance. To go back to my earlier use case, an example would be a bad `attribute` method invocation in a control.

@yarnhoj FYI on this.

[2017-08-04 20:29] mattlqx commented on #1409
Ran into this as well trying to get some smoke testing with InSpec added into my Chef Automate Workflow. :(

[2017-08-04 20:29] adamleff opened #2053 "Windows file permissions checks don't take group membership into account"
### Description

With a test like:

[code]

... the test will fail unless the `vagrant` user has been granted explicit read privileges. It does not take group membership into account. This is a different experience than linux, etc. which uses tools that are capable of testing readability/writability with group membership accounted for.

Additionally, the principal must be an exact match (i.e. it m

[2017-08-04 22:42] larry-herz commented on #2042
If I am understanding the question properly, I think that the best way to do what you are suggesting, is to create (or copy) the inspec profile that you are using from your hardening cookbook into its own file, which can then be called in your .kitchen.yml as in the test suite. I have done this with both profiles stored on my compliance server and profiles hosted in git.

Not sure exactly if this

[2017-08-06 12:32] jeremymv2 commented on #2041
@tpetchel @adamleff

I think there could also be two other things going on here:
https://github.com/chef/inspec/issues/2028
and/or
https://github.com/chef/inspec/pull/2027

Just recently, I've resolved the `inspec check` failure of a vendored profile because it had an empty file entry (related to #2027)

## install latest

chef gem install inspec

## update the version linked in DK

chef gem insta

[2017-08-06 13:20] jeremymv2 commented on #1659
@arlimus @chris-rock one thing we should keep in mind is the byte length of each entry name in the archive because of the 100 char limit: https://stackoverflow.com/a/2079165

An implementation to handle reading archives with those type entries is https://stackoverflow.com/a/19139114

As you can see, we're currently affected by this in 1.32.1:
[code]

The vendor'd path above is limited to 100 chars

[2017-08-06 13:22] jeremymv2 commented on #2028
@arlimus PaxHeaders can in theory show up anywhere, not just in the vendored path:

[code]

I think we should still handle this scenario in inspec

[2017-08-07 08:42] chris-rock commented on #2041
I agree, we should remove `github` from the documentation since we can just work with the github url

[2017-08-07 14:05] #2018 closed, assigned to nobody

[2017-08-07 15:25] timusmc96 commented on #1908
@chris-rock when you get a moment lets work through this one if we can.  Thanks

[2017-08-08 07:34] CosminG commented on #1374
👍

[2017-08-08 12:41] richarddb opened #2054 "Can never find files on FreeBSD; other methods work"
### Description

When using the file-based resources against a FreeBSD target, the error message 'Can't find file "xxx"' is always returned (where "xxx" is the full-path file target). But running command resources such as "cat" to the same files, works.

I've compared the same code against an OpenBSD target, where the problematic file-based code works without issue.

### InSpec and Platform Versio

[2017-08-08 13:07] denniswalker commented on #2034
Ditto.  I'm guessing the ps command is different in Alpine.  Was able to accomplish something similar using the command resource.

describe command('ps') do
    its('stdout') { should include 'influxd' }
    its('exit_status') { should eq 0 }
  end

[2017-08-09 07:58] theist commented on #268
The only way to specify targets is CLI parameters?  It will be useful to have some DSL dedicated to it or some way to use a chef query to specify targets. I'll love to do a `knife inspec "query" -x user test_file.rb` and receive a report for each server in the query

[2017-08-09 19:57] amitseth7 opened #2055 "Reporting Inspec profile runs to chef-automate"
### Description

Can someone guide or provide reference to article to setup .kitchen.yml to have inspec test report data to chef automate.

I have setup a local instance to chef automate using the demo. I am able to report converges using
data_collector.server_url: 'http://localhost/data-collector/v0/'
    data_collector.token: '93a49a4f2482c64126f7b6015e6b0f30284287ee4054ff8807fb63d9cbd1c506'

[2017-08-10 11:24] alexpop commented on #2055
At the moment, kitchen verify won't report the inspec results to automate.
If you want test-kitchen to send inspec profile reports to Automate, you have to use the [audit cookbook](https://supermarket.chef.io/cookbooks/audit) with the chef-client `audit_mode` disabled.

Here are some sample `.kitchen.yml` attributes for the audit cookbook:
[code]

[2017-08-10 12:57] #2051 closed, assigned to nobody

[2017-08-10 16:31] amitseth7 commented on #2055
thank you for the insight.

That worked.

[2017-08-10 16:32] #2055 closed, assigned to nobody

[2017-08-11 20:39] kagarmoe opened #2059 "File names don't match resource names"
### Description

The file names don't match the resources:
https://github.com/chef/inspec/blob/master/docs/resources/etc_passwd.md.erb => passwd
https://github.com/chef/inspec/blob/master/docs/resources/etc_shadow.md.erb => shadow

### Possible Solutions

Obvious fix.

[2017-08-11 21:30] kagarmoe commented on #2059
PR #2060

[2017-08-13 00:34] anweiss opened #2062 "Provide ability to use non-standard gems in profiles"
### Description

If a profile contains a custom resource with vendored dependencies, executing the profile via `docker run --rm -it -v $PWD:/share chef/inspec exec .` fails with `cannot load such file - <dep>` errors.

### InSpec and Platform Version

chef/inspec:latest -> v1.33.1

### Replication Case

1. Create profile that includes a custom resource containing vendored dependencies
2. Bind-moun

[2017-08-14 20:51] chris-rock commented on #2062
@anweiss are you using custom ruby gems in your profile of is that a basic profile?

[2017-08-14 20:58] anweiss commented on #2062
Yea, using custom gems

[2017-08-14 21:14] chris-rock commented on #2062
We do not support custom gems in InSpec at this point of time, since the profile is not portable then.

[2017-08-14 21:16] chris-rock commented on #2062
Also be aware with using gem, since they mostly expect local execution. InSpec is intended to run locally and remotely, therefore we need to wrap those things in InSpec resources. Can you share the uses cases where you need gems for?

[2017-08-14 21:18] chris-rock commented on #2045
You can select single controls. See `inspec help exec`:

[code]

Therefore you can run the profile and select the control you need. Is that solving your problem?

[2017-08-14 21:19] chris-rock commented on #2054
Which FreeBSD version are you testing against?

[2017-08-14 21:27] chris-rock commented on #2026
if you installed the inspec package, you can just call out to inspec. Otherwise `c:\opscode\chef\embedded\bin\inspec.bat exec c:\Downloads\test.rb` should also work.

[2017-08-14 21:29] chris-rock commented on #2006
Thank you @kisoku for reporting this issue. A PR is very welcome to fix this issue.

[2017-08-14 22:06] kplimack opened #2071 "sshd_config mismatches on comments"
### Description

So far this has only occured on cent6 during my testing.
the matcher is parsing comments which should be ignored and then returning arrays for config parameters containing the commented out config

#### Example config data in /etc/ssh/sshd_config
[code]

#### Inspec Results
[code]

### InSpec and Platform Version

* inspec 1.33.1
* centos 6

### Possible Solutions

I can get aroun

[2017-08-14 22:19] anweiss commented on #2062
I may have misspoke. The gem I'm depending on is this one -> https://github.com/httprb/http

[2017-08-15 13:45] clintoncwolfe commented on #2034
Mhmm.  Looks like Alpine has ps from busybox, which does not support the 'command' field - see
https://github.com/gliderlabs/docker-alpine/issues/173

inspec is branching on ```inspec.os```, and requesting the command field specifically.

https://github.com/chef/inspec/blob/e6f89664bbe9dd6a1d175612ed9dd0077e22642f/lib/resources/processes.rb#L82

[2017-08-15 16:43] jburns12 commented on #2045
This works, but since it requires processing of the entire profile it makes the testing of a single control time consuming, especially with large profiles such as the Rhel7 profile that we are working on. For example, in our case it takes over 1 minute to process the profile before executing the single control that is specified.

We have been renaming our controls folder and adding single/multiple

[2017-08-15 17:20] chris-rock commented on #2045
Which OS are you on? It seems like we want to improve the load time for inspec. resources for inspec are tight to a profile, you cannot use additional resources without a profile.

[2017-08-15 17:39] adamleff commented on #268
Hi, all! This issue is currently out-of-scope for InSpec. We have decided to optimize InSpec for the scanning of a single target (whether that be a host or another non-host platform) and currently have no plans to support the ability to scan multiple targets with a single InSpec command. Thank you!

[2017-08-15 17:39] #268 closed, assigned to nobody

[2017-08-16 19:40] richarddb commented on #2054
I'm using the latest stable HardenedBSD; HardenedBSD-11-STABLE-v1100048.1-amd64. I can spin up a latest stable vanilla FreeBSD and test that if you'd prefer.

[2017-08-16 19:44] #2024 closed, assigned to nobody

[2017-08-16 19:44] timusmc96 commented on #2024
work around

[2017-08-16 20:00] chris-rock commented on #2054
If you could provide a full describe block that fails, that would help a lot

[2017-08-17 15:16] gopearls42 opened #2085 "describe host(...) output"
### Description

Is there any way to control output of inspec `host` resource to specify the port and protocol when it outputs results?

For example, I've coded:
[code]
and the output I get is:
[code]
where, in fact, I'd like to know which port connection is being checked, as in:
[code]
### InSpec and Platform Version
1.32.1

[2017-08-17 20:51] anweiss commented on #2062
@chris-rock ... here's my use case -> https://github.com/docker/compliance/tree/17.06/validation/inspec/FedRAMP/Moderate/libraries

[2017-08-18 15:29] #2006 closed, assigned to nobody

[2017-08-20 13:33] aaronlippold commented on #1975
@chris-rock totally agree.

[2017-08-22 22:01] clintoncwolfe commented on #2034
Hrm, or maybe it isn't the 'command' option... when run manually, that seems to work without error on the current alpine  / busybox.
[code]
However, @MFAnderson 's repro script does indeed work - it finds no tail process.  The exact command run by the resource does in fact "work" - but it ignores all formatting instructions.
[code]
For comparision, here's the same thing on ubuntu 14.04:
[code]

So

[2017-08-23 01:12] clintoncwolfe commented on #2009
I wrote a simple script to try to reproduce this - https://github.com/clintoncwolfe/inspec-2009-repro .

You mentioned it worked OK locally and in testing but failed in prod; I can't reproduce the issue locally, using Docker.

[code]

Any light you can shed on the possible differences in prod?

[2017-08-23 14:29] #1752 closed, assigned to nobody

[2017-08-23 14:30] adamleff commented on #1752
@polobo I just merged PR #2094 that makes the summary colors conditional on the results as you suggested. It will be part of the next InSpec release!

[2017-08-24 07:33] tonybaloney commented on #516
happy to pick this up.

[2017-08-24 16:28] ghost opened #2098 "[QUESTION] do resources such as inetd_conf, xinetd_conf support drop in configuration?"
do resources such as inetd_conf, xinetd_conf support drop in configuration?  like `/etc/xinetd.d/*` or `/etc/inetd.d/*`?

[2017-08-24 17:55] tpcwang commented on #2004
Just to provide another data point... I have a profile 'A' with files, and 'A' depends on another profile 'B'. Controls in 'A' cannot find the files in 'A' with inspec.profile.file because the code ended up looking for files in 'B'.

[2017-08-25 11:19] alexpop opened #2100 "report['platform']['name'] is null on AIX 7.2"
### Description

Got this inspec report from a user scanning an AIX node:

[code]

Would it make sense to return a valid string, say `unknown`, for platform.name and platform.release when they cannot be detected?

[2017-08-25 11:38] adamleff commented on #2100
@chris-rock is going to spin up an AIX node to test.

My vote: don't send `unknown` but instead fail to run InSpec and raise an exception. Many resources depend on valid and accurate OS information (name, version, family). If we're generating a report and we don't have proper OS characteristics, I'd prefer we simply fail to run until the OS is properly supported, even if it behaves similarly to an

[2017-08-25 21:08] leftathome commented on #1855
I ran into this bug this week!  It's still here as of InSpec 1.34.1.  Found it on the very first cookbook I decided to migrate from using Serverspec to InSpec.  :(

The good news is that I fixed it just by monkey-patching `container_info()` to also check if `names` started with `opts[:name] + ","`, which should satisfy the above test case.

[2017-08-27 10:34] chris-rock commented on #2100
My first test shows, that this is not a pure inspec issue:
[code]
Also running a pure inspec report shows no issue:
[code]

[2017-08-27 11:42] chris-rock commented on #2100
I installed chef 13.3.42.1 on AIX 7.2 and audit cookbook and used the latest audit cookbook with:
[code]

I saw the following result:
[code]

[2017-08-27 11:46] chris-rock commented on #2100
@alexpop I cannot reproduce the issue with Chef 13 + audit and with pure inspec. I tested on AIX 7.2 only

[2017-08-27 12:54] chris-rock commented on #1926
I was running AIX 7.2 with Chef 13 + audit cookbook 4.2 and had no issue. See https://github.com/chef/inspec/issues/2100

[2017-08-27 18:07] chris-rock commented on #2054
I just tested with https://app.vagrantup.com/bento/boxes/freebsd-11.1 box and had no issues. Are you sure that the user for the inspec test has access to the file? The test should be skipped then. In those case you need to set the `--sudo` option.

[code]

[2017-08-27 18:44] chris-rock commented on #1732
I installed `apache24` on a fresh freebsd installation and tested with:
[code]
and got the following result:
[code]
By setting https://github.com/chef/inspec/blob/master/lib/resources/service.rb#L150 to `elsif %w{freebsd}.include?(platform.downcase)`, I get the following result:
[code]
Therefore the issue is not in inspec or the service resource. The real problem is in train, extracting the platfo

[2017-08-27 21:36] clintoncwolfe opened #2102 "Resource Tests appear broken on MacOS"
### Description

When running the 'resource' set of tests (which are docker-based) under MacOS (and possibly others), it always results in `0 examples, 0 failures` summary.  It may be a reporting error, or the tests may not be run at all.

### InSpec and Platform Version

[code]

### Replication Case

Using the command from the README (here, I have commented out all images except centos6.6 in test

[2017-08-28 07:48] chris-rock commented on #2085
@gopearls42 In order to achieve that we need to adapt the `to_s` method to return host, port and protocol in https://github.com/chef/inspec/blob/master/lib/resources/host.rb#L116

[2017-08-28 07:56] chris-rock commented on #2044
@starx Are you sure this is happening with every page? I just tested it with `google.com`:
[code]
and got the following output:
[code]

This error also feels like the ruby/inspec file itself was stored in a wrong charset. Can you ensure your editor stores it in utf-8?

[2017-08-28 11:39] adamleff commented on #2100
I'm going to close this issue for now since it's not reproducible, but if we can get some repro steps added to this issue, I'll immediately reopen it.

[2017-08-28 15:08] adamleff commented on #2085
@gopearls42 this is a great idea. If you feel like trying your hand at submitting a PR, the spot where @chris-rock mentioned is where the change would need to be. The logic would look something like:

[code]

[2017-08-28 16:29] starx commented on #2044
@chris-rock Hi yes, Google works for me too, try a page which has UTF8 characters, not just the encoding. Try my blog http://blog.mrnepal.com

[2017-08-28 18:15] clintoncwolfe commented on #2098
It looks like "no".

The inetd.conf resource simply reads the main config file, and does not loop over any file located in a drop-in directory.  See [the inetd.conf reading code](https://github.com/chef/inspec/blob/master/lib/resources/inetd_conf.rb#L37)

The xinetd code is similar.

As a counterexample, the postgres_conf resource _does_ look for "drop-in" config files, and loops over them, readin

[2017-08-28 18:25] ghost commented on #2098
Is this something worth supporting?

On Aug 28, 2017 2:15 PM, "Clinton Wolfe" <notifications@github.com> wrote:

[2017-08-28 18:41] adamleff commented on #2098
Hi friends, @pantocrator27 and @clintoncwolfe!

Unfortunately, the `inetd_conf` resource does not support drop-in configuration.

However, the `xinetd_conf` service does actually parse drop-in files. It specifically looks at the config file (`/etc/xinetd.conf` by default, but a non-standard path can be provided), reads that in, and looks for any `includedir` directives and parses all files in thos

[2017-08-28 18:41] #2098 closed, assigned to nobody

[2017-08-29 03:33] adamleff commented on #2102
Thank you @clintoncwolfe for raising this issue!

@chef/inspec-maintainers I think we have way more coverage in the `test/integration` stuff than we do in the `test/resources` directory and we can likely just delete `test/resources` to avoid future confusion. What are your thoughts?

[2017-08-30 08:22] dialex opened #2105 "Unresolved specs during Gem::Specification.reset (rake)"
### Description

I get a warning every time I run inspec:

[code]

### InSpec and Platform Version

Version: 1.34.1
Operating System: Ubuntu (actually a Docker image from [Microsoft](https://hub.docker.com/r/microsoft/vsts-agent/))

### Replication Case

1. Pull the docker image.
2. Install ruby: `RUN apt-get update && apt-get install -y ruby-full`
3. Install bundler and rake: `RUN gem install -N

[2017-08-30 09:23] zbikmarc opened #2106 "be_linked_to resolves symlinks too deep"
### Description
`be_linked_to` of `file` resource resolves links "too deep".
It may be similar or same as https://github.com/chef/inspec/issues/974

Image situation, that we have application residing in directory which name contains version, like `/opt/myApp-1.0`. We created non-versioned/latest symlink to this directory `/opt/myApp-1.0 -> /opt/myApp`. And in this directory there are few other dir

[2017-08-30 20:04] #516 closed, assigned to nobody

[2017-08-30 21:45] adamleff commented on #1655
@MariusCC and @decomposite - I have opened PR #2110 that updates the `port` InSpec resource to use `ss` if it's available, otherwise fall back to `netstat`, on Linux targets.

[2017-08-31 07:53] #1655 closed, assigned to nobody

[2017-08-31 07:57] arlimus commented on #82
Kudos to @jonathanmorley for solving this one without additional dependencies 🎉

[2017-08-31 07:57] #82 closed, assigned to nobody

[2017-08-31 12:55] cheeseplus commented on #2021
By my reading isn't really a core inspec issue so much as `kitchen-inspec`

[2017-08-31 12:57] cheeseplus commented on #2042
This definitely seems like a use case for profiles, closing since we haven't heard back in a few weeks and the question has been answered.

[2017-08-31 12:57] #2042 closed, assigned to nobody

[2017-08-31 13:04] cheeseplus commented on #2105
You mention a Gemfile but it doesn't appear you're using bundler anywhere in the above steps. This is a classic Rubygems warning that to resolve you'll need to make sure that InSpec is either isolated in a bundle install and executed via `bundle exec` or install InSpec via it's own installer/ChefDK which both effectively bundle ruby and the gemssets so you don't have to do so.

Even then it's poss

[2017-08-31 13:08] cheeseplus commented on #2026
Closing as answered 👍

[2017-08-31 13:08] #2026 closed, assigned to nobody

[2017-08-31 13:11] einsteinchen opened #2111 "inspec can not open profile in directory path with special characters"
### Description

InSpec can not resolve a profile in a folder which uses special characters.

### InSpec and Platform Version

1.31.1 on an Ubuntu 14.04 with latest core

### Replication Case

exemplarily, here is what we are doing in two steps, showing first what we want to do and that it breaks and in the second part that it is in principle working.

we are having a folder with special character

[2017-08-31 15:05] adamleff commented on #2105
Hi @dialex, thanks for the issue!

This issue isn't specific to InSpec but rather the Ruby environment you're installing in your container. The `ruby-full` APT package has some weirdnesses with it that include a non-default directory in the GEM_PATH that the `gem` command won't look into unless you specifically tell it to.

This error specifically means that it couldn't load `rake` (even though In

[2017-08-31 15:16] adamleff opened #2113 "Feature Request: gem dependency checks for profile"
When writing a custom resource, a user may wish to utilize a gem that's not part of InSpec's dependency tree. While I don't think vendoring gems or providing a method for installing them should be part of InSpec core (at least for right now), it would be great to define a gem as a dependency and have InSpec fail if the gem is not available.

I'd love to see the required gems listed in the `inspec.

[2017-08-31 16:22] dialex commented on #2105
Thank you so much Adam! Even though it was not related with InSpec, you gave a detailed answer that solves my problem. Cheers mate 🙏

[2017-08-31 18:38] adamleff commented on #2106
Hi @zbikmarc and thanks for this issue!

This is definitely related to #974... the link_path that Train (our underlying connection and execution library) renders is the ultimate destination, not the first link destination. InSpec simply uses that data to complete the tests. You are correct that we use `File.realpath` today, but that's only if InSpec is scanning a local machine... if InSpec is scan

[2017-08-31 18:41] adamleff commented on #2106
Also @zbikmarc, while I was looking to reproduce your issue, I uncovered a bug in Train having to do with resolving links that I likely wouldn't have stumbled upon if you didn't raise your concern, so thanks for that!

https://github.com/chef/train/pull/194

[2017-08-31 19:33] poblahblahblah opened #2114 "method link_target for file resource does not exist"
### Description

The `link_target` method for the file resource does not exist, even though it's in the documentation. Looking at the code base, I don't see any reference to this method beyond the documentation.

### InSpec and Platform Version

inspec version: 1.35.1
platforms: Centos 6x, Centos 7.x, Ubuntu 14.04, Ubuntu 16.04

### Replication Case

[code]

### Possible Solutions

If you have alr

[2017-08-31 19:46] adamleff commented on #2114
This should totally be `link_path` and not `link_target`. I'll fix the documentation.

Thanks, @poblahblahblah!

[2017-08-31 20:51] #2114 closed, assigned to nobody

[2017-09-01 13:09] aalmenar commented on #1356
This pull request #2110 should solve this.

[2017-09-01 13:09] aalmenar commented on #1990
This pull request #2110 should solve this.

[2017-09-01 13:27] adamleff commented on #1356
That's true! Please let us know if there are any issues with the new functionality.

[2017-09-01 13:27] #1356 closed, assigned to nobody

[2017-09-01 13:28] adamleff commented on #1990
That's true! Please let us know if there are any issues with the new functionality.

[2017-09-01 13:28] #1990 closed, assigned to nobody

[2017-09-01 15:28] arlimus commented on #713
Sorry for the long wait on this ticket. We improved some of the UI performance in the course of development. Major pieces of new UI have landed with Chef Automate and we will upgrade the entire compliance story with a more lightweight implementation in a few months this year. I'm also closing this and let's move it to the company's bugtracker. Thank you!!

[2017-09-01 15:28] #713 closed, assigned to nobody

[2017-09-01 16:25] anniehedgpeth commented on #2053
Not sure if this is related, but I'm looking for the owner of a directory like this:
[code]
..and it returns with this...
[code]
...even though `get-acl C:/foo/bar` returns withe the proper owner.

[2017-09-01 17:33] adamleff commented on #2053
@anniehedgpeth I replied to you in the community slack, but I don't think these two issues are related. Owner can only be a single principal, but read/write/execute permissions can cascade. Owner should always return the string, and provided your InSpec user has access to the top-level directory, it should be able to provide the owner. I'd like to pair with you on this if you need it, or we should

[2017-09-01 19:28] adamleff commented on #2059
Fixed in #2060

[2017-09-01 19:28] #2059 closed, assigned to nobody

[2017-09-01 19:39] jblaine commented on #765
Likewise, the `inspec supermarket...` command does not pay any attention to typical proxy environment variables.
[code]

[2017-09-02 02:37] conn commented on #1655
@adamleff brilliant! thanks

[2017-09-03 18:43] #2032 closed, assigned to nobody

[2017-09-04 11:50] trickyearlobe commented on #1902
How about `--prompt-for-password true` ?

[2017-09-04 14:12] dialex opened #2118 "Display execution time of each test step"
### Description

It would be helpful if each line outputted by InSpec on `format=cli` had the execution time of that specific step. For `control` lines, it could display the sum of its test steps.

This is useful to find which tests are taking the longest, so we can optimise our suite execution time.

### Example

[code]

[2017-09-04 15:55] arlimus commented on #2100
We received some feedback on this issue, I'm starting to think it's still valid:
[code]

[2017-09-04 15:56] arlimus commented on #2100
I'm starting to suspect https://github.com/chef/train/blob/master/lib/train/extras/os_detect_unix.rb#L17
(kudos @alexpop for finding it)

[2017-09-04 19:42] arlimus commented on #2102
@adamleff Great point, at the point where we are at we don't need test/resources anymore! When we initially started, we had a division between `test/integration` and `test/resources` because the latter were said to only ever run on containers while the former would easily expand into VMs and things that required longer to execute. It was an easy way to speed up tests and catch blatant resource fai

[2017-09-04 21:47] trevor-vaughan opened #2120 "Chained InSpec Profiles use the wrong base path"
### Description

If a dependency path is specified in an `inspec.yml` file, any relative paths should be relative to the referencing `inspec.yml` file.

### InSpec and Platform Version

Version: 1.35.2

### Replication Case

During my spec tests, I separate out the inspec profiles and external dependencies into the following directories.

[code]

The bottom `inspec.yml` has the following content:

[2017-09-05 02:29] trevor-vaughan commented on #2120
Not sure why the functional tests are failing. It seems to work fine when I do everything I can think of by hand.

[2017-09-05 02:32] trevor-vaughan opened #2122 "There should be a method for running all tests and returning the results, not stopping on first failure"
### Description

Presently, there is `describe` and `describe.one`. I am proposing a `describe.all` which will output the results of all tests that have run regardless of the failure state.

The use case for this is tests that have to be dynamically generated from the state of the target system and which may encompass a lot of different items.

For instance, the STIG rule V-72095 'All privileged f

[2017-09-05 02:49] #2122 closed, assigned to nobody

[2017-09-05 02:49] trevor-vaughan commented on #2122
Disregard, this was apparently just me missing something in the language

[2017-09-05 12:29] adamleff commented on #1902
We actually have a reasonable solution for this now, and we fixed it with `--password` already. I'll reopen this and flag it as a feature request.

[2017-09-05 12:36] #1497 closed, assigned to nobody

[2017-09-05 12:37] adamleff commented on #2102
Thanks, @arlimus!

@clintoncwolfe I'll put up a PR to get rid of these tests and update the README to avoid future confusion. Again, thanks for raising this issue.

[2017-09-05 13:30] trevor-vaughan opened #2123 "auditd_rules does not handle disabling of file watches properly"
### Description

If you enter `auditctl -A exit,never -F path=/tmp/foo -F perm=x` this effectively removes the file watch from the list.

However, the `auditd_rules.rule` hash has the following: `{:file=>"/tmp/foo", :key=>nil, :permissions=>"x"}`.

### InSpec and Platform Version

1.35.2

### Possible Solutions

The `auditd_rules` processor needs to handle `exit,never` cases.

[2017-09-05 15:27] clintoncwolfe commented on #2113
For the gem listing in inspec.yml, do you envision that including versioning constraints?

[2017-09-05 15:50] adamleff commented on #2113
Not necessarily for the first iteration, but it's the natural progression of a feature like this to go from "make sure this gem is here" to "make sure a gem matching this constraint is here" to "install this gem if needed"

I want to stop at the constraint evolution first to see how people use this kind of feature, especially given how many various ways InSpec can be used and how we likely won't b

[2017-09-05 17:44] clintoncwolfe commented on #1783
Just to clarify, is it acceptable to have profiles in subdirectories so long as their names are slugged?
[code]

Or is the goal here to require profiles be at the same level on the filesystem?

[2017-09-05 19:45] adamleff commented on #2118
Thanks for your feature request, @dialex! I agree this would be good information to have.

I would hesitate to include it in the CLI formatter by default just because it might clutter up the output for users who don't currently care about output, but I would definitely support a new formatter that subclasses the existing CLI formatter (maybe call it `cli-with-times` or something like that that wou

[2017-09-05 19:48] adamleff commented on #2111
InSpec itself totally allows you to init a profile with "special" characters, like curly braces!

[code]

[2017-09-05 19:52] adamleff commented on #1783
@clintoncwolfe totally fine for there to be profiles in subdirectories and for the CLI to honor them, much like you discovered with `inspec init profile`. There just shouldn't be any non-sluggable characters in the profile name.

I just discovered that you can do `inspec init profile \{\{foo\}\}` and it will totally create a directory called `{{foo}}` and also set the profile name to `{{foo}}` in

[2017-09-05 19:52] adamleff commented on #2111
This is semi-related to #1783 where we need to ensure all profile names are sluggable names.

[2017-09-05 20:00] adamleff commented on #2111
Problem is the `Inspec::RelativeFileProvider` object for this profile is not returning any files, so the SourceReader plugins aren't matching (as they look for the existence of certain files, etc.).

[2017-09-05 20:07] adamleff commented on #2111
The problem is here: https://github.com/chef/inspec/blob/master/lib/inspec/file_provider.rb#L75

[code]

The `{` and `}` characters are getting interpreted rather than taken literally. If I escape them, it works:

[code]

If I make that change in the code:

[code]

I don't know what side effects this might have, but that seems like a plausible solution to account for non-standard character directo

[2017-09-05 21:39] adamleff commented on #2071
@kplimack I'm afraid I have not been able to reproduce this issue. Here's what I did:

 * started a CentOS 6.8 VM using Vagrant
 * logged in, and as root, hand-edited the `/etc/ssh/sshd_config` file to include the two lines you have above
 * Connected to the VM with InSpec Shell and pulled the AuthorizedKeysCommand parameter:

[code]

The only way I've been able to reproduce this is by having anot

[2017-09-05 21:39] #2071 closed, assigned to nobody

[2017-09-05 21:45] adamleff commented on #2045
Closing this issue as this is currently working as-designed. Please open a new issue for any performance-related problems you are encountering so we can troubleshoot them accordingly. Thank you!

[2017-09-05 21:45] #2045 closed, assigned to nobody

[2017-09-05 21:48] adamleff commented on #2062
I've updated the title of this and flagged this as a feature request to possibly support gems within profiles other than those that InSpec itself depends on.

Please note that InSpec can be run in a variety of manners: as a standalone gem, as an Omnibus install, as part of a Test Kitchen run, as part of Chef via the audit cookbook, as part of a Docker container as a layer... the list is almost end

[2017-09-05 21:50] adamleff commented on #2054
@richarddb I'm going to temporarily close this issue since we haven't heard from you for a while since our last reply, but I'll be happy to reopen it once you can provide us some additional reproduction help. Thank you!

[2017-09-05 21:50] #2054 closed, assigned to nobody

[2017-09-05 21:58] adamleff commented on #2044
I have been able to successfully reproduce this using Test Kitchen / kitchen-inspec. I could not reproduce it using InSpec directly however. I do not believe this is an issue with InSpec core itself.

@starx I'm not 100% sure if this is an issue with Test Kitchen core or with the kitchen-inspec verifier. I'd start with `kitchen-inspec` - could you please open an issue on that repo with your findin

[2017-09-05 22:03] adamleff commented on #2036
@meringu thanks for submitting this issue. I did reproduce this one successfully.

There are a couple of options here, probably more. Removing the `#to_s` call will likely uncover other issues, but we could be smarter about checking for the unconverted key first, return that if it exists, otherwise try for the string.

Another option could be to convert symbol keys to strings on the way in. Again,

[2017-09-05 22:16] adamleff commented on #2034
@clintoncwolfe is spot-on... `ps` on alpine happily ignores any and all parameters you pass it, and the only it does accept is a `-o` to configure the columns to display. Alpine passes the `os.linux?` check so we try and run the standard linux `ps` command which doesn't work.

To properly support Alpine, we would need to change the ps command to something like this:

[code]

... and either add tha

[2017-09-05 22:17] #2030 closed, assigned to nobody

[2017-09-05 22:18] adamleff commented on #2025
@jburns12 with the recent work on the auditd stuff, is this still an issue?

[2017-09-05 22:21] adamleff commented on #2021
Hi @budgester! Dependencies in InSpec must be paths to profiles. You cannot provide a path to a cookbook that contains InSpec profiles, etc. This is not something we plan on changing in the foreseeable future.

[2017-09-05 22:21] #2021 closed, assigned to nobody

[2017-09-05 22:29] adamleff commented on #2009
@kplimack I'm afraid I haven't been able to reproduce this either.

1. Started up a CentOS 6.8 VM in vagrant
1. Ran `crontab -e` as root, added the two lines above (comment, and the entry)
1. Dropped into an InSpec Shell and got the following output:

[code]

I have to believe there's something else in your crontab because it's returning `["15", "2"]` for the hours, but your hours are `02` and the

[2017-09-05 22:29] #2009 closed, assigned to nobody

[2017-09-05 22:33] adamleff commented on #1997
Duplicate of #1902

@kmf I'm going to close this issue in favor of #1902 in which we hope to provide a CLI flag to prompt the user for the password. We originally had to cancel those plans because of some limitations in Thor but we believe we have a reasonable workaround that we can implement in an effort to provide this functionality. Please watch that issue for further details. Thanks!

[2017-09-05 22:33] #1997 closed, assigned to nobody

[2017-09-05 22:34] adamleff commented on #1985
Closing this issue as it appears to be a Ruby runtime issue vs. an issue with InSpec core. Please tell me if I'm mistaken. Thank you!

[2017-09-05 22:34] #1985 closed, assigned to nobody

[2017-09-05 22:36] adamleff commented on #1976
Added in #2017 - closing!

[2017-09-05 22:36] #1976 closed, assigned to nobody

[2017-09-05 22:36] adamleff commented on #1970
Closing due to lack of follow-up. We'll be happy to reopen if needed. Thank you!

[2017-09-05 22:36] #1970 closed, assigned to nobody

[2017-09-05 22:40] adamleff commented on #1936
This should no longer be an issue. For Linux variants, we first try to use `ss` and then use `netstat`.  We only use `lsof` if the OS is AIX or Darwin. Please comment here if this is still an issue with additional information we can use to troubleshoot. Thanks!

[2017-09-05 22:40] #1936 closed, assigned to nobody

[2017-09-06 04:48] kmf commented on #1997
@adamleff it's cool.

[2017-09-06 09:08] dialex commented on #2118
That makes perfect sense! I don't mind using a specific formatter like `cli-timestamped`.
Please ping me when such feature is implemented.

[2017-09-06 10:05] #2102 closed, assigned to nobody

[2017-09-06 10:06] #2120 closed, assigned to nobody

[2017-09-06 12:19] #1979 closed, assigned to arlimus

[2017-09-06 16:43] username-is-already-taken2 commented on #1728
Hi there,

I would like to find a way of helping you with getting inspec to 2.0.  May I ask how do you manage the PR's for the release?  For something like removing passwd.count from the passwd resource.  If I was to raise a PR that removes that functionailty do you store these up or apply them to a 2.0 branch that you raise to master at some point?

Never been involved with something like this, h

[2017-09-06 17:05] adamleff commented on #1728
Hi, @username-is-already-taken2! We greatly appreciate your willingness to help!

This kind of problem is always tricky... no matter what approach, we're going to be dealing with merge conflicts, etc.  So here's what we agreed to do a while back:

 * there is a branch called `release-2.0` where we will store any 2.0-related items that should NOT be released in a 1.x release
 * Any PRs that address

[2017-09-06 17:16] clintoncwolfe commented on #1783
We'll need to actively slug, at least based on this line, which will create invalid (space and slash containing) names when the target is a local path:

https://github.com/chef/inspec/blob/29c80110a81e1bb01055407ed40038a8f082d279/lib/inspec/metadata.rb#L215

[2017-09-06 17:23] adamleff commented on #1783
Well, we have to be careful not to break existing functionality considering InSpec can run tests with those tests being a fully-fledged InSpec profile. That's where the "tests from" stuff originates. In this case, there's no metadata file and no actual "profile name" to slug... and that's probably OK.

[2017-09-06 19:34] jburns12 commented on #2025
I need to test and see if the issue is with the matcher or resource. I'll post an update here in the next couple days. Thanks!

[2017-09-07 09:59] calonso commented on #504
I've been diving into the code a bit to see if I could work around this and I found quite an elegant way.

Just compose the key into an array. e.g:

`its(['mysqld', 'port']) { should eq '3306' }`

[2017-09-07 10:23] aalmenar commented on #1267
Im currently having the same issue.

in inspec.yml:

[code]

inspec -v
1.33.1 (This is the latest with latest chef-dk)

[2017-09-07 11:34] username-is-already-taken2 commented on #1967
Your not the only one, really glad it's not just me.  I think Christoph thought I was nuts when I happened to mention that I get little acid house faces within my shell ;)

![image](https://user-images.githubusercontent.com/13700297/30161399-32bcd776-93c8-11e7-96ef-27c53f14e38a.png)

I might see I can track this down, It's defiantly something to do with our fonts. At least I can troubleshoot on a

[2017-09-07 11:51] username-is-already-taken2 commented on #1898
@adamleff - what do you think about adding a md5 method to the file resource and shelling to compute the hash?

Doing something like this in windows?

![image](https://user-images.githubusercontent.com/13700297/30162035-0171fa40-93cb-11e7-9f5a-5b2efe204d16.png)

[2017-09-07 11:56] adamleff commented on #1898
I know so little about Windows... is `Get-FileHash` something guaranteed to be installed on most Windows machines? If so, I'm totally good with it, but I wouldn't add it to InSpec... I'd probably modify Train's `md5sum` method to calculate the hash on the target.

This is where it's defined in Train: https://github.com/chef/train/blob/master/lib/train/extras/file_common.rb#L44-L50

I'd override th

[2017-09-07 11:58] adamleff commented on #1967
"little acid house faces" is how I will always refer to these now.

[2017-09-07 15:36] jburns12 commented on #2123
@trevor-vaughan

I think this is moreso related to the behavior of auditctl. When I run this auditcl -A command, it adds the following file watch rule to the beginning of the rules list as perceived when running auditctl -l:

`-w /tmp/foo -p x`

It seems that since it's in file format vs. syscall format then exit, never isn't parsed. Since the auditd_rules resource uses auditctl -l to grab the rul

[2017-09-08 12:43] #1943 closed, assigned to jerryaldrichiii

[2017-09-08 17:21] rx294 commented on #2035
@arlimus @aaronlippold
Thank you dominik for the update on nginx_conf. I makes the UI much easier :).
However the above issues are still present after the update.

[2017-09-08 18:34] anniehedgpeth opened #2129 "Not Red for 0 failures"
### Description

Currently, in the below example, `88 successful` would be green, `0 failures` would be red, and `0 skipped` would be grey.

[code]
I would love it if `0 failures` were a non-red color if there were NO failures but still red for 1 or more failures. :)

### InSpec and Platform Version

InSpec 1.36.1
MacOS 10.12.6

[2017-09-08 18:42] adamleff commented on #2129
@anniehedgpeth I just made this change in a recent version! We had a long-standing issue #1752 which I addressed in #2094 which was released in v1.34.1. See the below screenshot:

![screen shot 2017-09-08 at 14 40 22](https://user-images.githubusercontent.com/3221128/30226350-ae4b5828-94a3-11e7-9b7c-34f37f61dd4d.png)

Can you share a screenshot of your `inspec version` output and your `inspec exec

[2017-09-08 19:06] anniehedgpeth commented on #2129
Oh awesome! It looks like I just accidentally lied about my version; I'm actually on 1.31.1 - don't know how that happened! I'll update and close the issue. :-P Thanks, Adam!

[2017-09-08 19:06] #2129 closed, assigned to nobody

[2017-09-09 22:46] jerryaldrichiii commented on #1207
This is no longer an issue :smile:

[2017-09-09 22:46] #1207 closed, assigned to nobody

[2017-09-10 04:16] antoniobeyah commented on #1914
I ran into this problem as well, only slightly different.  I am using the [dev-sec/cis-kubernetes-benchmark](/dev-sec/cis-kubernetes-benchmark) and it contains an `only_if` in each control file.  All works well until one of the only_if blocks returns false and then that is set in stone and the only_if is no longer evaluated.

References:
[1_1_master_node_api_server.rb](/dev-sec/cis-kubernetes-benc

[2017-09-11 16:21] ViolentOr opened #2132 "Suggestion to implement describe.all"
### Description

Sometimes it's necessary to have complex check, that includes AND cases inside of OR clauses.

For example i need to check if service exists. If it does -- run few checks on it. Currently it's quite hard, but it would be swell to do smth like
[code]

Or am i missing smth?

P.S.
I know it's possible with only_if, but then test will be skipped, and not passed.

[2017-09-11 16:43] adamleff commented on #2132
@ViolentOr very interesting feature request, thank you for submitting.

Can you give a specific control / use case where this logic flow is necessary?

[2017-09-11 16:59] ViolentOr commented on #2132
@adamleff thank you for replying.

I described one of cases in topic above (in my case it's actually much harder, as it's flow goes as following):

It would look swell with this option:
[code]

dreams, dreams, dreams =)

[2017-09-11 17:02] adamleff commented on #2132
@ViolentOr I was actually looking for a specific problem you were trying to solve... your update of explaining that you were trying to test for a complex set of logic around registry keys is helpful, and I already understood your request at a high level. I'd love to know more about the specifics in case there is a better way to solve it. I'm still happy to keep this issue open and logged as a feat

[2017-09-11 17:42] ViolentOr commented on #2132
@adamleff i don't see what extra info i can provide on this case. It's just badly written service with no clear priorities in configuration =(

But, in general, this could solve another issue (probably easier). Currently, cases that are filtered by "only_if" clause are marked as "SKIPPED" (and that is expected behavior most of the time). But sometimes i would like to mark such tests as passed?
For

[2017-09-11 17:51] adamleff commented on #2132
Thanks @ViolentOr. We'll keep this issue open as a feature request; we cannot commit to a time when this might be implemented however. If you want to try your hand at submitting a PR to add the functionality, we'll be happy to take a look as well!

[2017-09-11 18:27] adamleff commented on #1463
@arlimus fixed a whole bunch of these and this happens way less often. We'll triage them as they occur, but the frequency is now much lower.

[2017-09-11 18:27] #1463 closed, assigned to nobody

[2017-09-11 18:36] adamleff commented on #1401
Believe this is fixed in #1406, so I'm going to close this issue. Please reopen if that's not the case. Thanks!

[2017-09-11 18:36] #1401 closed, assigned to nobody

[2017-09-11 18:38] #1230 closed, assigned to nobody

[2017-09-11 18:41] #1580 closed, assigned to nobody

[2017-09-11 18:42] #507 closed, assigned to nobody

[2017-09-11 19:21] jkerry commented on #1463
Awesome.  Thanks for knocking it out

[2017-09-11 19:48] jerryaldrichiii commented on #586
This issue hasn't been updated in quite a while. Therefore, we are closing it to help us remain focused on active issues. We will be more than happy to reopen this issue if needed though, just reach out here.

[2017-09-11 19:48] #586 closed, assigned to nobody

[2017-09-11 19:50] jerryaldrichiii commented on #577
Using Kitchen version `1.17.0` and InSpec version `1.33.1`, I was able to verify that using `kitchen verify -c` and 4 platforms no longer raises an error.

I'm closing this issue, but please reopen if necessary. Thanks!

[2017-09-11 19:50] #577 closed, assigned to nobody

[2017-09-11 19:51] jerryaldrichiii commented on #606
I also cannot reproduce your issue. Given the issue's age I'm going to close it. Please reopen if this is still an issue. Thanks!

[2017-09-11 19:51] #606 closed, assigned to nobody

[2017-09-11 19:52] jerryaldrichiii commented on #784
@mhedgpeth, is this still an issue?

[2017-09-11 19:53] jerryaldrichiii commented on #1091
@jeremymv2, is this still an issue?

[2017-09-11 19:53] jerryaldrichiii commented on #1414
@brentm5, is this still an issue?

[2017-09-11 21:01] jeremymv2 commented on #1091
This fixes the issue! Thanks.

[2017-09-11 21:01] #1091 closed, assigned to nobody

[2017-09-11 21:30] jerryaldrichiii commented on #871
@unixorn, for checking file modes with InSpec, using `cmp` instead of `eq` is preferred. This is due to how `cmp` and `eq` are implemented under the hood. That will fix your conversion to decimal output issue.

@walterdolce, I suspect your issue is that the file mode of `/usr/local/scripts` is `2755` instead of `0755`. Could you provide the output of `stat /usr/local/scripts`?

[2017-09-12 01:00] ctbarrett commented on #1574
I just ran into this today as well, and it appears to be related to the command used by the `Brew` class [here](https://github.com/chef/inspec/blob/master/lib/resources/package.rb#L196):

[code]

The command relies on finding `/usr/local/bin/brew` in the PATH, but if using the test-kitchen defaults (vagrant / ssh), this means the inspec runner is executed in a non-interactive shell, which doesn't

[2017-09-12 14:15] arlimus commented on #1998
This request requires the conf to read the wildcard that the user is requesting, e.g.:
[code]

[2017-09-12 14:15] arlimus commented on #1998
@jerryaldrichiii ^^ this might be an easier start into nginx 😁

[2017-09-12 14:40] rx294 opened #2135 "command resource does not handle '*' wildcard"
### Description
@arlimus @adamleff @aaronlippold
The command resource does not handle commands with  '*' wildcard
This issue shows up when the backend is 'ssh' and sudo is active.
it is NOT an issue when the backend is docker (no surprise since you are root) or local (WinRM should be different since this is caused by sudo).

This is a pretty serious issue.

### InSpec and Platform Version

Inspec

[2017-09-12 14:42] arlimus commented on #2135
This is caused by an unprivileged glob extraction before sudo permissions are actually given. It can easily be replicated by running the command manually (`sudo ls /something/with/no/perms*.glob`)

[2017-09-12 14:42] arlimus commented on #2135
Possible workaround for now: `bash` or wrap in another shell (`sudo bash -c ...`)

[2017-09-12 16:04] giorgian opened #2136 "Add error handling for unsupported PowerShell versions"
### Description

When a spec that uses the helper `registry_key` is executed on a Windows machine that has PowerShell < 3.0, an error is produced ("convertFrom-Json is not recognized as the name of a cmdlet") and ignored, and the assertion wrongly fails.

It would instead be better to either support PowerShell 2.0 or to fail early, stating that PowerShell >= 3.0 is required.

### InSpec and Platfo

[2017-09-12 16:07] jerryaldrichiii commented on #2136
Since PowerShell < 3.0 is not supported could we change the title of the issue to:

[code]

[2017-09-12 16:14] danhiris opened #2137 "SysV service should be running bug"
### Description

The service test is failing.

This is my spec test:
`describe service('nslcd') do
  it { should be_enabled }
  it { should be_running }
end`

This is the output:
`  Service nslcd
     ✔  should be enabled
     ∅  should be running`

The problem stems from this code:
/opt/chefdk/embedded/lib/ruby/gems/2.4.0/gems/inspec-1.35.1/lib/resources/service.rb

on SystemV systems,

service <

[2017-09-12 21:37] adamleff commented on #504
Additionally, you can use dot-notation in the `its` parameter:

[code]

I'm chalking this up to a documentation issue and I'll put up a PR to address it.

[2017-09-12 21:55] ViolentOr opened #2139 "Suggestion: implement file_audit resource"
### Description

Sometimes (for example, pci dss compliance) it's necessary to set up file audit in windows, and, as a result, we should check that it is set correctly.
It's like this (on windows) - right click on file/directory -> security -> audit

### InSpec and Platform Version

Windows

### Possible Solutions

As a quick win i made custom resourse.
[code]
it can be used like this
[code]
I kno

[2017-09-12 21:58] adamleff commented on #1267
I have been unable to reproduce this with InSpec v1.36.1. Here's what I've done:

 * Created a new profile named "supports" with `inspec init profile supports`
 * Modified the `inspec.yml` file and added the following:

[code]

 * Ran `inspec exec .` within the profile directory on my macOS machine, and the profile executed
 * Spun up a Ubuntu 16.04 Vagrant box
 * Ran `inspec exec . -t` against my

[2017-09-12 21:58] #1267 closed, assigned to nobody

[2017-09-12 22:04] adamleff commented on #1914
Totally able to reproduce this. Created a new profile with 5 controls files, each contained a single control that looked like this:

[code]

In my `redhat_controls.rb` I did not include the `only_if`. And yet, here's my output:

[code]

In no way should the `http` control have executed. 🙁

[2017-09-12 22:18] adamleff commented on #1574
My [comment](https://github.com/chef/inspec/issues/1574#issuecomment-305919730) may be a red-herring because I was testing within InSpec's bundled dev environment and there's a `json` gem version conflict. When I test outside of that environment, it works correctly.

I suspect the root cause of the issues is what @ctbarrett is pointing out, and I think the easiest way to solve this it to see if `b

[2017-09-12 22:25] adamleff commented on #2136
I'm updating the PR title now to make it clearer. However, this is an issue across the board and I wouldn't want to copy-pasta a bunch of powershell version checks across any resource that requires powershell.

We have an open RFC regarding platform support (#1661) and as part of that RFC implementation (and as part of #1205, providing the ability to surface exception messages to the user), we sho

[2017-09-12 22:27] adamleff commented on #2139
Thanks for your suggestion, @ViolentOr! I'm glad to see that you used a custom resource to meet your immediate needs. That is definitely the right path when a resource you want does not yet exist in core InSpec.

I'll keep your issue opened as a feature request.

[2017-09-13 10:27] #1397 closed, assigned to nobody

[2017-09-13 12:16] #504 closed, assigned to nobody

[2017-09-13 12:16] #1855 closed, assigned to nobody

[2017-09-13 12:41] #1574 closed, assigned to nobody

[2017-09-13 17:43] grimm26 commented on #1267
I was only following the docs at the time.  They have since been fixed: https://github.com/chef/inspec/commit/4bc1c1df4e0a97cc27438df42c4572b5322d9b58#diff-fdaae96cd1c2c7521458af30135c4d77

[2017-09-13 17:45] jerryaldrichiii commented on #1397
@rjhornsby, thanks again for finding this. The issue has been fixed in Chef Compliance and will ship with the next release: `>1.11.5`

[2017-09-13 18:29] adamleff opened #2142 "RFC: XCCDF Specification Support"
# Support XCCDF for control metadata and specification

## Motivation

    As an user focused on compliance in my organization,

    I want to use InSpec to execute my compliance tests
    and consume already-created control specifications,

    so that I avoid duplication of effort when creating
    compliance profiles and reduce the time necessary to
    begin using InSpec to audit my fleet.

Th

[2017-09-13 18:57] adamleff commented on #1267
@grimm26 even we make mistakes. :)

[2017-09-13 20:11] adamleff commented on #2123
@trevor-vaughan I'm inclined to close this issue based on @jburns12's response. Do you feel there is any further action to be taken on this issue?

[2017-09-13 20:48] trevor-vaughan commented on #2123
@adamleff I need to run through it manually again and see if I can repeat what I was doing.

[2017-09-13 20:50] adamleff commented on #2123
OK @trevor-vaughan that's fair. I'll keep this issue open for a week or so, close it if we don't hear from you, and then we can always reopen it if necessary!

[2017-09-13 21:49] adamleff opened #2145 "Add deprecation warnings to the existing auditd_rules resource"
A new `auditd` resource has been created in #2133. As a result, we need to add deprecation warnings now so we can remove it in InSpec 2.0.

[2017-09-13 22:31] yzl opened #2147 "semver comparison of version numbers"
### Description
It would be convenient to have `semver` as a method on `package` that returns the semver version, so that one could do something like:

[code]

Additionally, a generic `semver` resource that could be used with any version string would be lovely.

Note that, as @adamleff and @mivok explained to me, inspec already pulls in the `semverse` gem, allowing one to do semver comparisons lik

[2017-09-14 14:01] adamleff commented on #2142
@trevor-vaughan we're kicking around an approach to properly support XCCDF as a way of specifying control metadata/specifications. I'd be interested in your feedback for this RFC. Thank you!

[2017-09-14 14:32] dmytro-malovany opened #2148 "mssql_session resouce missing "port" attribute"
My MSSQL server is running on custom port, normally I connect to it using sqlcmd with a custom option:
sslcmd -S "localhost,1533" ...

Looking at [mssql_session resource](https://github.com/chef/inspec/blob/master/lib/resources/mssql_session.rb) there is no such functionality.

Could you please add the "port" attribute to this resource?
Thanks.

[2017-09-14 15:20] trevor-vaughan commented on #2142
@adamleff Thanks for the heads up, I definitely want to be part of this.

* Suggestion: Link back to the original XCCDF PR since this format seems to be directly derived from that
* Thought: I think that this format is ideal for my purposes including ease of understanding and use
* Thought: Should we provide a way to capture other information?
  * Probably not for the first cut
* Thought: We *may*

[2017-09-14 19:07] adamleff commented on #2142
@trevor-vaughan

 * link to the prior PR has been added
 * I opted to just focus on title/description for the first cut because a) it's a pretty easy win based on prior feedback, and b) we want to approach this iteratively so we better understand how people are using this and what other pain points exist
 * I'm not sold on multiple specifications because controls can (and should) only have one tit

[2017-09-14 19:15] trevor-vaughan commented on #2142
@adamleff I'm fine with all of this. My main issue is that I'm rapidly finding that there needs to be a solution for reusable checks since there is a LOT of cross-pollination. For round 1 all of this is just fine and we can figure out the rest as we go along.

[2017-09-14 19:15] adamleff commented on #2142
Thanks for taking the time to provide your feedback, @trevor-vaughan!

[2017-09-14 19:20] strocknar opened #2153 "Host resource only using ping to test ports and erroneously reporting them valid."
### Description

When using the "host" resource to attempt to discover whether a target can connect to a remote server on a given port, the test will pass as long as the remote server is 'pingable'

### InSpec and Platform Version

1.25.1

### Replication Case

I was using the the following `test.rb` file to verify that specific ports were reachable from the target on a set of remote hosts:
https:

[2017-09-14 19:23] adamleff commented on #2153
@strocknar 1.25.1 is actually quite old. v1.28.0 got a fix that addressed TCP reachability checks on Linux OS machines. Can you please try upgrading and report back your findings?

[2017-09-14 19:28] adamleff commented on #2153
As we discussed in Slack, this is likely caused by the older ChefDK in use so we're going to close this issue for now. Happy to reopen it if needed!

[2017-09-14 19:28] #2153 closed, assigned to nobody

[2017-09-14 19:49] adamleff commented on #2148
Thanks for the issue, @bratdim! We'll keep this open and logged as a feature request.

[2017-09-14 19:51] adamleff commented on #2147
Thanks for the feature request, @yzl! I agree this would be great to have.

[2017-09-14 20:19] adamleff commented on #1825
NOTE TO IMPLEMENTER: since this is a breaking change, the PR should target the `release-2.0` branch, NOT `master`

[2017-09-14 20:19] adamleff commented on #1716
NOTE TO IMPLEMENTER: since this is a breaking change, the PR should target the `release-2.0` branch, NOT `master`

[2017-09-14 20:31] adamleff opened #2154 "Remove login_automate command after #1795"
Once #1795 has been addressed, the `login_automate` command can be removed. Because this is a breaking change, this needs to occur in a major release, so I'm targeting this for InSpec 3.0.

[2017-09-14 23:10] jerryaldrichiii commented on #2137
@danhiris, which OS are you testing on? I am unable to replicate this behavior on using InSpec 1.35.1 and CentOS 5.10.

Most code paths pass in `/usr/sbin/service` or `/sbin/service`, however the following paths would lead to just `service` being ran:

  - Using Wind River Linux:
    https://github.com/chef/inspec/blob/v1.35.1/lib/resources/service.rb#L145
    https://github.com/chef/inspec/blob/v

[2017-09-14 23:30] jerryaldrichiii commented on #584
I'm seeing a few issues here:

Firstly, an incorrect path (`etc/ssh/sshd_config`) in a Compliance profile. I cannot find the incorrect path in the current profiles. @YarNhoj if you could verify if the controls that were giving you issues are fixed that would be awesome.

Secondly, not using `--sudo`. The sshd_config is only readable/writable by `root` so sudo is needed here. Usually this means pas

[2017-09-15 10:04] Richard-The opened #2155 "`cmp` fails when items in the arrays are out of order"
### Description

Comparing two arrays fail in some cases if the items are out of order. For instance,
[code]

### InSpec and Platform Version

InSpec version: 1.33.12
Operating System: CentOS Linux release 7.2.1511 (Core)

### Possible Solutions

One solution that I can think of is to sort the arrays before comparing.

[2017-09-15 14:53] adamleff commented on #2155
@richard2191 thanks for submitting this issue!

This is working as intended. In many cases, array order matters and sorting the array prior to comparing it would yield incorrect results for other users and tests.

I can think of two options to solve your issue. First, you could break it out into two tests:

[code]

Or, you can presort the value before comparing it, like this:

[code]

Hope that he

[2017-09-15 14:53] #2155 closed, assigned to nobody

[2017-09-15 18:45] rx294 opened #2157 "find_files does not handle wildcard '*' path"
### Description

find_files does not capture files when a path with with wildcard '*' is provided.
This issue shows up when the backend is 'ssh' and sudo is active.

This is due to issue #2135 with the 'command' resource which find_files uses to run the commands.

[2017-09-15 20:06] adamleff commented on #2135
After thinking about this for quite a while and after some lengthy discussions, I believe this is "working as designed." If you log into a host and run the example command `sudo ls /something/with/no/perms*.glob`, it will also fail because the glob expansion happens before the arguments are passed to `sudo`. Any change to the `command` resource to add some magic to make this work will either elimi

[2017-09-15 20:06] #2135 closed, assigned to nobody

[2017-09-15 20:37] #1998 closed, assigned to jerryaldrichiii

[2017-09-15 20:37] #2035 closed, assigned to arlimus, jerryaldrichiii

[2017-09-18 19:48] #2145 closed, assigned to adamleff

[2017-09-19 16:26] #1281 closed, assigned to nobody

[2017-09-19 19:02] jerryaldrichiii commented on #1778
@AnotherWorkingNerd I'm unable to reproduce this behavior.

Could you send me your `sshd_config`? Also information about the target would be awesome.

Thanks!

[2017-09-20 01:24] jerryaldrichiii commented on #1769
The `github` fetcher did not exist and was an error in documentation. The error in documentation was fixed here: https://github.com/chef/inspec/pull/2075.

Apologies @smith.

[2017-09-20 01:24] #1769 closed, assigned to nobody

[2017-09-20 06:33] jerryaldrichiii commented on #598
Closed accidentally, confirmed this is still an issue. Apologies.

[2017-09-20 20:11] adamleff opened #2164 "Can't pass "false" as an attribute value"
Assuming the following control file:

[code]

... and the following attributes file:

[code]

... you get the following results from `inspec exec`:

[code]

Something is swallowing `false` values and needs to be fixed.

Originally logged in chef/kitchen-inspec#138

[2017-09-20 20:14] adamleff opened #2165 "Support tag/version in supermarket fetcher"
Originally submitted by @marcomancuso in chef/kitchen-inspec#134

---

Inspec profiles don't seem to be versionable in Chef-Supermarket.
It should be possible to pin a specific version of the supermarket profile in .kitchen:

[code]
Error is:

[code]
Similar issue even using the version defined in .inspec.yaml

[code]

It seems to be only possible when git instead:

[code]

[2017-09-20 20:35] adamleff opened #2166 "Alter CLI formatter to make it easier to grep for results"
Originally submitted by @tpetchel in chef/kitchen-inspec#85

---

Consider the scenario where you have a large number of compliance failures (for example, from the CIS benchmarks) and you want to tackle a few at a time.

With local remediation through Test Kitchen, you can scan temporary instances directly against a full compliance profile. `kitchen verify` potentially produces a huge volume of ou

[2017-09-20 21:06] jayhendren opened #2167 "Support profiles not at root level of a git repository"
Please add the ability to specify a relative path when using the `git` fetcher such that InSpec can support using a profile in a repo where the repo is not at the root directory, such as a Chef cookbook used by Test Kitchen, or a repository that contains multiple profiles.

(The above is an updated description of this feature request.  Below is the original description.)

----

This was discussed

[2017-09-20 21:09] adamleff commented on #2167
@Poohblah the profile must be in `test/integration/$suite/inspec` only if you wish to accept the default paths. You can choose to not use that at all and instead set the `inspec_tests` config parameter in the `verifier` section (either globally, or per-suite).

The recommended practice is to place your profiles in separate git repos, and they can either inherit from each other, or they may each be

[2017-09-20 21:37] jayhendren commented on #2167
So the desire here is: as a cookbook author, I want to write cookbooks with integration tests, and as a consumer of those cookbooks, I want to be able to consume their tests.

Yes, but then if I put my profile in the top-level directory of my cookbook so that I may export my profile, the `libraries` directory conflicts with Chef (since `libraries/*.rb` files are evaluated by both Chef and InSpec).

[2017-09-20 21:44] adamleff commented on #2167
OK, so let me try to understand the real issue here as I feel we've conflated your particular use case with how InSpec works vs. how Test Kitchen works...

In Cookbook A, stored in its own git repo, you have a `test/integration/$suite/inspec` directory that contains an InSpec profile.

In Cookbook B, you wish to consume the profile from `test/integration/$suite/inspec` from Cookbook A. However, In

[2017-09-20 21:51] jayhendren commented on #2167
That is an accurate summation! :)

[2017-09-20 21:54] adamleff commented on #2167
Phew! OK. So I think what we need to do is turn this issue into a feature request that looks like this:

**Title:** Support profiles not at root level of a git repository

How does that sound? If that sounds good, would you please modify the issue accordingly? I'm happy to do so as well but would like us to agree on what you're looking for.

[2017-09-20 22:21] jayhendren commented on #2167
Updated.  Thanks for taking the time to make sure we were both on the same page!

[2017-09-21 15:43] dialex opened #2171 "Feature request: override inspec to run a single control/describe section"
### Description

I've used [mocha](https://mochajs.org/) on my previous project and with that framework I can append `.only` to a single test or test file and it will run just that. I could really use a similar feature on inspec.

Context: I did a small ruby hack to implement a guard and run inspec every time a test file is changed (since there's no `--watch` flag). It works great but I still have

[2017-09-21 16:17] #2164 closed, assigned to adamleff

[2017-09-21 16:21] #1834 closed, assigned to jerryaldrichiii

[2017-09-22 06:56] arlimus opened #2175 "InSpec `check` and `only_if`"
We currently execute all code in `only_if` statements during the `inspec check` operation. I have a feeling there may be little value in doing so, as the statement doesn't provide any useful input to the check command. It will execute the code in the block but it may also lead to executing code that doesn't fully compute (e.g. `nil` values because it doesn't talk to a target system). I wonder if w

[2017-09-22 11:10] adamleff commented on #2175
Since you can't pass a `--target` to an `inspec check`, and many uses of `only_if` are around os parameters, etc., I'm in full support of not executing those blocks during a check. This actually feels like a bug to me. :)

[2017-09-22 11:24] arlimus opened #2176 "Attribute behavior during inspec check"
Attributes may lead to complex failures during `inspec check` and all related actions.
See

Possible solutions:
1. One universal object that returns itself on all interactions: https://github.com/chef-cookbooks/audit/issues/282#issuecomment-331418765
2. Type-specific zero-value objects (e.g. `0`, `""`, `[]`, `{}` <= with a way to return itself on every value retrieval). Use option 1 if no type is

[2017-09-22 11:34] adamleff commented on #2176
Even though it feels ugly, I find myself gravitating toward option 1 because of the deep hash access potential (i.e. a[:b][:c][:d]) and a desire to avoid the dreaded "undefined method [] on NilClass" error all Ruby users know and "love."

[2017-09-22 11:36] adamleff commented on #2176
Option 2 feels good too, honestly. But so little of InSpec is type-specific (and we actually go out of our way to provide the "cmp" matcher to avoid it), so I'm curious about the learning hurdles our users may face with that.

[2017-09-22 11:53] arlimus commented on #2176
@adamleff The default case for non-typed attributes would be option 1, which i really like 😁
I though of only resorting to option 2 if people specify types. What do you think?

[2017-09-22 11:56] adamleff commented on #2176
Yeah... I mean, I'm never going to argue that type specificity is a bad thing, except from a non-technologist's point of view. As long as it's an opt-in behavior and we still protect the user experience from NilClass errors, I'm all for it!

[2017-09-22 11:56] arlimus commented on #2176
Awesome, fully agreed (it is opt-in)!! Let's do it then 👍

[2017-09-22 12:28] arlimus commented on #2176
This implements option 1 ^^.
Option 2 doesn't make sense yet as the type checking hasn't been implemented yet. So let's leave it out and wrap until we revisit the rfc for attributes.

[2017-09-22 14:31] arlimus commented on #2176
Good enough for option 1 now. Option 2 when types are here.

[2017-09-22 14:31] #2176 closed, assigned to nobody

[2017-09-22 17:40] jerryaldrichiii commented on #2171
To make sure I understand, you want to be able to add some text to tests in a file that will allow InSpec to only execute those tests. (e.g. `describe.only`) and you do not want to modify the `inspec exec` command (e.g. not using the `--controls` flag or modifying the path).

Kinda like: https://github.com/chef/inspec#or-tests-testing-for-a-or-b but not for `A || B` logic but the whole profile.

R

[2017-09-23 07:16] #2111 closed, assigned to jerryaldrichiii

[2017-09-23 07:17] #2157 closed, assigned to jerryaldrichiii

[2017-09-24 18:02] rx294 commented on #2157
Thank you for the fix @jerryaldrichiii !

[2017-09-24 20:05] aaronlippold commented on #2171
It seems to me you want to be able to have Rake pass inSpec the --control option

[2017-09-25 09:32] username-is-already-taken2 commented on #1281
@adamleff - Hi Adam, I tried taking a punt on this one early on so I've got keen interest to see how this was resolved.  Thanks for the PR :)  If I'm honest I don't really understand what you did :) I can't see how you ended up knowing (or why) defining a missing method function fixes it.  Would you be willing to explain?

[2017-09-25 17:56] kplimack opened #2183 "inspec 1.38.8 breaks chef 12.17.44"
### Description

the new `train` gem breaks dependencies of `net-ssh`.
[code]

### InSpec and Platform Version

1.38.8

### Possible Solutions

downgrade to 1.38.7

### stacktrace
[code]

[2017-09-25 18:00] adamleff commented on #2183
@kplimack thanks for raising this issue. We'll investigate to see if there's something we can do. This won't be an issue in later version of Chef 13 because uses later versions of net-ssh. I'm not sure if we can safely backport that to Chef 12, or make InSpec a little more lenient. A change between net-ssh 4.1 and 4.2 required us to do some evasive maneuvers.

I'll update this issue once we have s

[2017-09-25 18:03] kplimack commented on #2183
@adamleff thanks for looking into this.  unfortunately my cheffery is no where near ready for chef13, so i'm stuck supporting an older version of 12 for now.

[2017-09-25 18:16] dialex commented on #2171
Right, a `describe.only` usage pattern.

The workflow most of my team uses is having a window with the unit test and another with the console, constantly running the unit tests with every change -- TDD fashion. We don't want to change the Rakefile and then accidentally commit it. And that `A||B` logic doesn't solve our problem.

We only have two profiles, one for unit and another for acceptance. I

[2017-09-25 19:27] adamleff commented on #2183
@kplimack no worries. I just put up this PR to Train which will support older net-ssh versions while still fixing the deprecation warning issue in net-ssh >= 4.2.0:

https://github.com/chef/train/pull/199

Once we get that approved and merged, I'll cut a new release of Train and InSpec.

[2017-09-25 20:54] adamleff commented on #2183
@kplimack PR https://github.com/chef/inspec/pull/2185 opened to address this by bumping Train to 0.28. I'll have a new version of InSpec released in about 10-15 minutes.

[2017-09-25 21:21] #2183 closed, assigned to nobody

[2017-09-26 10:14] mgrobelin opened #2187 "How to compare a commands String output with be-Matcher?"
Hi,
i played around with InSpec and had some great moments while experimenting. Now I am stuck on a use case, which might be more likely a usage issue from my side, than a bug.

### Description

I want to check a systems amount of RAM, e.g. to be greater than 128 GB.

Using the [command](https://www.inspec.io/docs/reference/resources/command/) resource with the available ```be``` does not work, as

[2017-09-26 13:16] adamleff commented on #2187
Hi, @mgrobelin! Great to hear that you've had success with InSpec so far - thanks for giving it a try!

This is a pretty easy problem to solve... first, we need to strip that newline, and then we can use a slightly different matcher. Here's how I would write that test:

[code]

The two small changes I made were:

 * Add `.strip` to the item you're trying to match. InSpec will join these methods to

[2017-09-26 13:16] #2187 closed, assigned to nobody

[2017-09-26 13:57] adamleff commented on #1281
@username-is-already-taken2  Absolutely! Sorry if I explain anything you already know. :)

The `its` syntax takes the contents of the argument to `its` and then tries to call that method chain on the subject, which in this case, is an InSpec resource instance.

So, if I had the following test:

[code]

... it would create an instance of `my_resource`, and then try and call `foo` on it (i.e. `my_re

[2017-09-26 18:56] arlimus commented on #1825
great stuff!!

[2017-09-27 00:53] mattray opened #2188 "inspec.yml should support which version of InSpec is required for a profile"
### Description

When a new resource is added to InSpec it would be nice to be able to ensure that profiles that use it are not used with older releases of InSpec.

### Replication Case

Try using a new resource (like windows_hotfix) with an older version of InSpec

### Possible Solutions

Add ```inspec_version: '>1.39' ``` to the inspec.yml to use SemVer to check for versions.

### Stacktrace

[c

[2017-09-27 01:10] jerryaldrichiii commented on #2188
Good find! This is related to: https://github.com/chef/inspec/issues/521

I will label this as a bug.

[2017-09-27 09:10] Mykolaichenko opened #2189 "Inspec http headers"
### Description

headers works only in lowercase

### InSpec and Platform Version

1.39.1, os x

### Replication Case

[code]

### Possible Solutions

allow both variants

[2017-09-27 09:11] Mykolaichenko commented on #2189
Also fix readme please)
Thanks

[2017-09-27 10:34] mgrobelin commented on #2187
@adamleff Thank you for very clear explaination - it's behaving as suggested.

Now I encounter a other (usage) issue with the ```user``` resource, obviously facing an encoding issue.

The primary group for a user ```myuser``` shall be ```domänen-user``` (mind the german ä-Umlaut).

My three approaches failed as follows:

1)
[code]

2)
[code]

3)

[code]

Do you have a suggestion?

[2017-09-27 14:46] jerryaldrichiii commented on #2188
After some discussion, I think this is a feature request rather than a bug.  The ability to set version restrictions in a profile is not currently available.

Relabeling as such.

[2017-09-28 23:58] jerryaldrichiii commented on #1813
Closing with offline permission from Hannah.

[2017-09-28 23:58] #1813 closed, assigned to hannah-radish

[2017-09-29 14:03] jburns12 opened #2195 "etc_fstab resource: method nfs_file_systems not working as expected in relation to given example"
### Description

The method nfs_file_systems in the etc_fstab resource was returns a single hash vs. an array of hashes as expected in the given examples.

### InSpec and Platform Version

1.39.1

### Possible Solutions

Solution is represented in PR #2190

[2017-09-29 15:53] jkodroff commented on #1436
Is there a preferred workaround for this?  Seems like testing that your target is correctly serving some content or forcing an HTTPS redirect is important to verify.

If there is a preferred workaround, would be good to put this in the docs as well.

[2017-09-29 18:12] trevor-vaughan opened #2197 "The `kernel_parameter` resource is misnamed"
### Description

The `kernel_parameter` resource should be called `sysctl` or the like.

These are kernel parameters: https://github.com/torvalds/linux/blob/master/Documentation/admin-guide/kernel-parameters.txt

More importantly, users need to be able to query kernel parameters from `/proc/cmdline` in a sensible way to validate that the system is configured properly.

### InSpec and Platform Vers

[2017-09-30 22:51] trevor-vaughan opened #2198 "Inspec JSON output contains non-JSON information"
### Description

A run of `inspec exec --format=json <profile>` > output.json results in an output file that contains non-JSON information.

The `json-min` output format is also affected.

Example Output:

[code]

### InSpec and Platform Version

InSpec 1.40.0 (from RPM)
CentOS 7.3

[2017-10-01 01:09] aaronlippold commented on #2198
That comes from the linux-patches resource that is being run in the rhel7
base profile. @jburns12 has resolved that issue and it is part of the
push/fix of the profile.

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Sat, Sep 30, 2017 at 6:51 PM, Trevor Vaughan <notifications@github.com>
wrote:

[2017-10-01 21:12] trevor-vaughan opened #2199 "Tags do not appear to be enhanced upon inheritance"
### Description

The following code attempts to add a `tag` to the control `V-72079` but the tag is not present in the resulting output:

[code]

The relevant results:

[code]

### InSpec and Platform Version

InSpec 1.40.0 (from RPM)
CentOS 7

### Possible Solutions

1. New tags should be added to the `tags` Hash
2. Existing tags should be overridden in the `tags` Hash
    * This should possibly

[2017-10-02 13:30] dialex opened #2200 "How to perform a setup/init before running the real test"
### Description

My specific use case is I want to login to Azure, then execute a command, and finally assert the result on stdout.
- The login is the **test setup** or init.
- The azure command is the **test action** and uses your `bash` resource.
- The assertion is the real check.

So far I have to include the test setup with the test command and run both in a single bash command (or inspec reso

[2017-10-02 14:17] jburns12 commented on #2198
As a heads up...this isn't something that has been resolved quite yet. It is related to linux-patches resource in our Rhel7 profile, however.

[2017-10-02 19:57] arlimus opened #2201 "Merge incubation projects into core InSpec"
inspec-aws
inspec-azure
inspec-vmware

[2017-10-02 19:58] arlimus commented on #2201
work + what this means: tbd.

[2017-10-02 20:01] #2201 closed, assigned to nobody

[2017-10-02 20:01] arlimus commented on #2201
duplication https://github.com/chef/inspec/issues/1951
🤦‍♂️ ugh....

[2017-10-03 11:03] stevendanna opened #2204 "File type comparisons only accept symbols despite documentation"
### Description

This issue was found by @Vasu1105 when working on https://github.com/chef/train/pull/193

The documentation here: https://www.inspec.io/docs/reference/resources/file/ states you can check the type of a file with code such as:

[code]

However, the `type` of a file is a symbol and it seems no coercion is done using either `eq` or `cmp`:

[code]

[2017-10-03 19:09] cattywampus commented on #2100
I was able to reproduce this error using Inspec v1.19.1, which yields the following output from `inspec detect`

[code]

However, after I upgrade to v1.40.0 the `Name:` is filled out properly as `AIX`.

[2017-10-03 20:40] clintoncwolfe commented on #2147
What should we do when we can't parse a platform's version numbers?

Semver seems to do OK on most platforms - though it may be a bit lossy.  The only one I've hit a problem with is windows packages of the form w.x.y.x (like Chef: 12.12.15.1) - Semverse throws an exception on that (see https://github.com/berkshelf/semverse/blob/master/lib/semverse/version.rb#L18 )

[2017-10-03 21:25] #1565 closed, assigned to nathenharvey

[2017-10-03 22:08] adamleff commented on #2147
Ideally we'd raise an exception that would indicate we couldn't parse the version. If not, we should just return `nil` for now.

[2017-10-03 22:10] adamleff commented on #2100
Given that feedback, I'm going to close this since we're unable to reproduce with newer InSpec versions. Thanks!

[2017-10-03 22:10] #2100 closed, assigned to nobody

[2017-10-03 22:17] adamleff commented on #2204
Thanks for the find, @stevendanna and @Vasu1105! We should probably override the `type` method in the InSpec `file` resource to `to_s` what we get back from Train, and then perhaps consider enhancing the `cmp` matcher to be crafty with symbols vs. strings. Either way, I personally think the docs are the "right way" and we just need to make the resource better.

[2017-10-03 22:28] adamleff commented on #2201
@arlimus ❤️  🙂

[2017-10-04 05:54] Vasu1105 commented on #2204
I have come across one more issue in relation to `type` matcher..
The Documentation here : https://www.inspec.io/docs/reference/resources/file/ here states `c (the file is a character device); use 'character to test for this file type`
```its('type') { should eq 'character' }```
However it fails since the value which compared this with is :character_device
[code]
Same is the case with block device

[2017-10-04 06:25] Vasu1105 commented on #2204
Few more file resource bug
[code]

[2017-10-04 15:16] qvallance-ctc opened #2212 "[Feature] Ability to specify number of matches"
### Description

When using matchers it would be useful to able to specify whether there should only be one match (or possibly, the number of matches).  Currently, we can only determine if there is one or more matches in a file.  This can be problematic if duplicate entries are accidentally added to a file, as it will pass the match and be deemed compliant by Inspec but be an invalid config.

[2017-10-04 16:32] ghostsquad commented on #1436
I'd love inside-inside testing, but outside-in (current functionality) seems fine. The only problem is that when running in kitchen, I don't have a domain to use, nor do I know the IP address of the remote box. How can those be collected?

[2017-10-04 16:34] adamleff commented on #1436
Hey folks - PR #2209 is open to add the ability for the http resource to properly execute on the scanned target (provided the scanned target has `curl` installed).

[2017-10-04 17:55] clintoncwolfe commented on #2147
Implementing as proposed is a bit problematic, as we'd have to constantly be trying to coerce things from strings into Semverse package versions (without any hint that we're looking at a version).

However, it turns out that InSpec implements a [custom matcher](https://github.com/chef/inspec/blob/master/lib/matchers/matchers.rb#L269), `cmp`, which is intended for exactly the case when you want to

[2017-10-04 18:04] adamleff commented on #2147
@clintoncwolfe that approach seems totally fine to me, with an exception raised with a helpful message if we couldn't coerce the version into a valid SemVer string with which to compare.

Re: syntactic sugar, it'd probably be good to just make a standalone resource that can be used:

[code]

... then users can use that in their own custom resources or anything else that might emit a version string

[2017-10-04 18:52] clintoncwolfe commented on #2147
It appears that Gem::Version may be better; it can already parse things like "1.2.3.4".  `cmp` intercepts the exception and falls back to string comparison if it can't parse.

So, it looks like the desired functionality is already in place using cmp - this just works:
[code]

I'm less clear on the uses of a dedicated semver resource, but I don't see any obstacles there.

[2017-10-04 20:42] #2085 closed, assigned to nobody

[2017-10-04 20:44] #1436 closed, assigned to nobody

[2017-10-05 01:17] JazJas opened #2215 "os resource does not work as expected"
### Description

when using the 'os' resource in inspec shell, it appears the os resource does not work as expected. For instance:

inspec> os[:family]
=> "debian"
inspec> os[:debian]
=> nil
inspec> os[:family] == 'debian'
=> true
inspec> os[:windows]
=> nil

os[:debian] should NOT return nil.

### InSpec and Platform Version
`#inspec version`
WARN: Unresolved specs during Gem::Specification.reset

[2017-10-05 01:29] JazJas commented on #2215
According to https://www.inspec.io/docs/reference/resources/os/

`if os[:debian]`
`  describe port(69) do`
`    its('processes') { should include 'in.tftpd' }`
`  end`
`elsif os[:redhat]`
`  describe port(69) do`
`    its('processes') { should include 'xinetd' }`
`  end`
`end`

os[:debian] should be of a correct syntax.

[2017-10-05 13:21] jquick commented on #1778
I was able to reproduce this here:
![screen shot 2017-10-05 at 9 19 21 am](https://user-images.githubusercontent.com/574637/31229328-51bc943a-a9ae-11e7-8ca9-259fc1561c39.png)
This seems to happen if the ssh user does not have read access to the /etc/ssh/sshd_config file. For now we can add a nil catch to clean it up till #1205.

[2017-10-05 16:57] adamleff commented on #2198
Since this doesn't appear to be an issue with InSpec itself but rather a profile that is outputting additional data to stdout, I'm going to close this issue.

[2017-10-05 16:57] #2198 closed, assigned to nobody

[2017-10-05 18:16] adamleff commented on #2215
This is a documentation error. The only "parameters" available for the `os` resource are:

[code]

... so `os[:debian]` won't work... however, `os.debian?` will.

We need to fix the doc bug in the last example on that page.

[2017-10-05 18:25] adamleff commented on #2215
PR #2218 submitted to fix the docs online.

[2017-10-05 23:03] aaronlippold commented on #2212
Could you provide some example use cases so we can better understand the scope of what you are trying to describe in your tests.

[2017-10-06 13:03] jquick commented on #615
Closing this in favor of #616. If that does not fully cover this case we can reopen.

[2017-10-06 13:03] #615 closed, assigned to nobody

[2017-10-06 13:41] #1778 closed, assigned to jquick

[2017-10-06 13:44] #2215 closed, assigned to nobody

[2017-10-06 13:48] #2123 closed, assigned to nobody

[2017-10-06 14:25] qvallance-ctc commented on #2212
Sure.   We use a config management tool (Ansible) to configure systems as part of our image building pipeline.  We also use Inspec to test the final state of the image configuration before promoting it.   Sometimes, rather than managing a file's configuration using a template, we will perform a search and replace to add an entry to a file.   We've encountered issues we're someone has made a mistak

[2017-10-06 17:24] #2036 closed, assigned to nobody

[2017-10-06 17:32] #1664 closed, assigned to chris-rock

[2017-10-06 17:32] #2034 closed, assigned to nobody

[2017-10-06 17:36] #2004 closed, assigned to adamleff

[2017-10-06 18:00] ryancurrah commented on #2212
I think an example of what he is trying to explain is...

/etc/somesettings.conf

[code]

It would be nice if there was a matcher that ensures there is only one match of `some_setting1 =` in this file and it’s value should equal 100. Otherwise fail the match.

[2017-10-06 18:07] adamleff commented on #2204
PR opened to fix docs for block_device, character_device, type (which should use `cmp` to ensure string-to-symbol coercion) and add symbol/string coercion to the `cmp` matcher

[2017-10-06 18:17] adamleff commented on #2204
All fixes (most of which were documentation fixes) have been added to PR #2224

[2017-10-06 18:58] adamleff commented on #2028
I don't think this has anything to do with the PaxHeaders themselves, but it seems as though it has to do with the way the target files are returned.

For a non-pax format tar:

[code]

... but from a pax-formatted tar:

[code]

Notice the inconsistency... `inspec.yml` vs `./inspec.yml`. In the source reader (https://github.com/chef/inspec/blob/master/lib/source_readers/inspec.rb#L14), we only loo

[2017-10-06 21:58] adamleff commented on #1732
Closing since it's tracked in the train repo.

[2017-10-06 21:58] #1732 closed, assigned to chris-rock

[2017-10-07 10:28] #2204 closed, assigned to nobody

[2017-10-08 19:28] adamleff commented on #2212
It's not easy to modify matchers to permit this behavior because, by the time the matchers are invoked, the content has already been read and parsed by the resource.

However, you can take advantage of some core InSpec functionality to do this. For example, we provide a `parse_config_file` resource that uses our `SimpleConfig` parser underneath. By default, SimpleConfig only permits one value per

[2017-10-08 19:28] #2212 closed, assigned to nobody

[2017-10-09 11:19] adamleff opened #2228 "http resource: enable_remote_worker should be true by default in InSpec 2.0"
The `http` resource now supports a remote worker via curl, but it is currently opt-in behavior. In InSpec 2.0, this should become the default behavior and the deprecation warnings removed.

[2017-10-09 14:05] username-is-already-taken2 commented on #1281
@adamleff - I'm sorry for not replying sooner.

I very much appreciate your response, thank you for taking to the time to explain this.  I've shared your repsonse around internally so you have helped a few of us here understand ruby a bit better :)

See you at the summit tomorrow

[2017-10-09 14:14] adamleff commented on #1281
My pleasure, @username-is-already-taken2! See you tomorrow!

[2017-10-09 20:10] clintoncwolfe commented on #2147
Knowing that the `cmp` matcher can be used with any resource, and will attempt version string comparison prior to string or numeric comparison,  is there still a need for a semver resource?

[2017-10-09 21:26] thomascate opened #2232 "Checking processes on a port resource fails in newer versions of inspec"
### Description

Running a port resource like so, works in inspec 1.30.0 and up to 1.36.1 in some tests.

describe port(80) do
  its('processes') { should include 'nginx' }
end

However in current versions of inspec you get this output.
  Port 80
     ∅  processes should include "nginx:"
     expected ["nginx\",1856,6),(\"nginx\",1855,6),(\"nginx\",1854,6),(\"nginx\",1853,6),(\"nginx"] to include

[2017-10-09 21:48] arlimus opened #2233 "Merge inspec-aws into core"
https://github.com/chef/inspec-aws
review AWS inspec resources to get them to a state where they can be comfortably merged into core inspec:

* [x] review CIS benchmark and identify resources https://d0.awsstatic.com/whitepapers/compliance/AWS_CIS_Foundations_Benchmark.pdf
* [ ] develop missing resources
* [ ] review MITRE feedback on AWS
* [ ] combine with InSpec 2.0 Platforms RFC: https://github

[2017-10-10 09:36] #2028 closed, assigned to nobody

[2017-10-10 09:55] linusguan opened #2236 "BUG: etc_fstab resource returns a list of list instead of just a list"
### Description

When using etc_fstab resource, `its('mount_options')` returns a list of list (i.e. `[['value']]`) instead of just a list (i.e. `['value']`).
This behaviour is not consistent with other resources like `passwd` and made `include` matcher useless.

### InSpec and Platform Version

1.41.0 running on macOS against Amazon Linux

### Replication Case
[code]
### Stacktrace
[code]

[2017-10-10 14:57] clintoncwolfe commented on #2233
Here's where AWS is maintaining some CIS benchmark tooling.  May be useful for gap analysis.  https://github.com/awslabs/aws-security-benchmark  Was hoping to find a SCAP file, but it looks like they generate it from a YAML file - mainly focused on Config rules

[2017-10-10 16:35] narkaTee commented on #2232
I'm also experiencing this problem.

I was able to track down the cause of the problem:
This regexp [`/users:\(\(\"(\S+)\"/`](https://github.com/chef/inspec/blob/ca19ef55708c9e42610d6f665507d40173688da0/lib/resources/port.rb#L551) does not work correctly when multiple processes share the same fd (which is the case with nginx).

`ss -tulpen` outputs this line for nginx:
[code]

which results in thi

[2017-10-10 19:08] yzl commented on #2147
I don't have a strong opinion either way, since you've documented that `cmp` will do version string comparisons in a reasonable way.

[2017-10-10 20:08] clintoncwolfe commented on #2233
Some things we've identified as potential detailed work items:
* [x] identify highest value resources based on CIS controls targeted
* [x] Update and validate development and testing instructions and code
* [x] Check integration testing process for concerns about hijacking; consider mocked AWS infra like `localstack`
* [x] Get temporary target / connection functionality in place while waiting on P

[2017-10-10 20:36] jburns12 commented on #2236
Hi @linusguan .... @adamleff may have additional feedback, but this I believe this is actually the expected behavior for the resource at this point. A two-dimensional array is returned when using the where clause because there may be multiple entries in etc_fstab based on the given option. Even though you wouldn't likely see two entries with this same mount_point, this is a by-product of using the

[2017-10-10 22:55] linusguan commented on #2236
Thanks a lot @jburns12, your solution is much elegant than my workaround.
I was using
[code]
I will close the ticket and learn more Ruby =)
Maybe we should include some common patterns of manipulating data using Ruby in the documentation.

[2017-10-10 23:05] JazJas opened #2237 "syntax check on os.name.include?('Windows') failed but the code actually works"
### Description
I have a only_if test to run a test only if the host is a windows server.
[code]
The code works, including running it in inspec shell:
[code]
However, when running "inspec check", I received the following error:
[code]
The content of the test.rb is shown below:
[code]
Briefly describe the issue and the expected behavior

As the code works, the check should pass.

### InSpec and Pla

[2017-10-10 23:21] #2236 closed, assigned to nobody

[2017-10-11 03:02] jerryaldrichiii commented on #2237
@JazJas the issue here is that `inspec check` uses a `mock://` connection for its backend. This prevents the `os` resource from gathering system details. This is related to: https://github.com/chef/inspec/issues/2175.

I will investigate possible solutions and mention this issue in my PR.

[2017-10-11 09:45] adamleff commented on #2147
I'm fine closing it until we have more demand for a standalone resource.

[2017-10-11 09:45] #2147 closed, assigned to nobody

[2017-10-11 10:38] adamleff commented on #2236
@linusguan as you discovered, this is a side-effect of a component in InSpec called `FilterTable` (which is where the `where` method comes from). As @jburns12 described, items in the FilterTable can contain multiple values so they are returned as an Array. And a `where` method can return multiple items, so it will return an Array... so that's the origin of the Array-within-an-Array response you go

[2017-10-11 10:40] linusguan commented on #2236
@adamleff Thanks for your explanation. I have subscribed to the backlog item. Cheers!

[2017-10-11 19:20] aaronlippold commented on #2233
Hi,

Not to worry, we have a parser for that :) We should be sending you a nice
profile starting point within a day or two - just fixing an issue or two
with parselet.

Aaron

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Tue, Oct 10, 2017 at 4:08 PM, Clinton Wolfe <notifications@github.com>
wrote:

[2017-10-11 22:58] mostafahussein commented on #1460
Hello @erenfro ,
Have you tried this [ini](https://www.inspec.io/docs/reference/resources/ini/) resource ?

[2017-10-12 12:20] Afterglow opened #2241 "Port protocols don't include udp when using ss on ubuntu 14.04"
### Description

Checking protocols of ports does not appear to correctly detect ports listening on UDP

### InSpec and Platform Version

Inspec Version: `1.41`
Running within a `bento/14.04` VM

### Replication Case

1) Using Vagrant...

[code]

2) Install inspec 1.41
`sudo apt-get update`
`sudo apt-get install curl`
`curl https://omnitruck.chef.io/install.sh | sudo bash -s -- -P inspec -v 1.41`

[2017-10-13 01:43] linusguan commented on #1461
I second this request.
@adamleff As a system engineer, I generally don't use user crontab for servers and use system crontab instead, it's just easier to manage this way.
I usually store entries in `/etc/cron.d/` but it could be beneficial to also support `/etc/cron.daily/`, `/etc/cron.deny`, `/etc/cron.hourly/`, `/etc/cron.monthly/`, `/etc/cron.weekly/` and `/etc/crontab`
Something like this woul

[2017-10-16 15:07] lehn-etracker opened #2245 "http resource: unable to override User-Agent header"
### Description

http resource is unable to override User-Agent request header.

### InSpec and Platform Version

* Debian Jessie
* Inspec 1.41

### Replication Case

Try following code with ssh target and you will see, your HTTP-Server will get curl User-Agent and not defined string.

[code]

### Possible Solutions

Idea: Extract User-Agent header and override it by curl option.

[2017-10-17 12:45] #2232 closed, assigned to nobody

[2017-10-17 12:47] #1914 closed, assigned to jerryaldrichiii

[2017-10-17 12:52] #1967 closed, assigned to arlimus

[2017-10-17 13:01] #1743 closed, assigned to nobody

[2017-10-18 00:33] hassanaftab90 commented on #534
Whenever I find selinux disabled in a system, a little part of me dies inside. This should be included in inspec tests.

[2017-10-18 01:15] mattray opened #2251 "describe.one should exit as soon as there is a match"
### Description

When using a describe.one loop, all conditions are checked even if there has already been a successful match.

### Replication Case

In the [WannaCry profile](https://github.com/adamleff/inspec-profile-wannacry-exploit/blob/master/controls/hotfixes.rb) 86 Hotfixes are checked even if there has already been a successful check, and this very slow on older versions of Windows.

[code

[2017-10-18 08:51] chris-rock commented on #534
Lets define what we want first. Is the following covering the needs?

## InSpec selinux resource

[code]

## Serverspec compatibility mode

[code]

We are NOT going to support the following Serverspec syntax:
[code]

[2017-10-18 10:17] mgrobelin opened #2256 "user resource: System groups with ISO-8859-1 characters"
### Description

I cannot check a users group name, if it includes ISO-8859-1 characters like ä (german a-Umlaut).

### InSpec and Platform Version

master

### Replication Case

Users on systems authenticating with an german Active Directory are receiving the default primary group named 'domänen-benutzer'.

Besides this seems not really intended in Linux-world (one cannot ```groupadd domänen-benu

[2017-10-18 11:34] adamleff commented on #2251
This is probably worthy of some additional discussion since this would be breaking behavior. The current behavior is to show the result of all passed tests. While it should be technically possible to break out of the test cycle for a `describe.one` block once a passed test is hit, we would be eliminating the success results of any other tests that succeeded.

I think it might be better to see if w

[2017-10-18 11:46] adamleff commented on #2256
Thanks for submitting this issue, @mgrobelin.

As a workaround until we can dig into this some more, you may have better luck using the `expect` syntax where you can do more Ruby-ish things directly than you can with the `its...should` syntax. For example, something like this might work (though I haven't tested it personally

[code]

[2017-10-18 12:27] chris-rock commented on #2251
I think that is a very dangerous move and we should not mix system logic with ruby logic. @mattray is there any reason why the following is not working?

[code]
Maybe we can simplify the code still, but essentially that problem should be already solvable in ruby and we are not adding any additional compliance logic. Are we?

[2017-10-18 12:36] adamleff commented on #2251
I'm not sure I see the difference between "system logic" and "ruby logic" in this case. I also don't know that I'd call it "dangerous"... it's just a different use case where the acceptance criteria isn't as strict.

For example, for an integration test user, if they're testing that 1 of 7 things must pass, they likely only care that at least 1 passed and don't really care the success status of AL

[2017-10-18 12:42] chris-rock commented on #2251
I agree with you @adamleff making it fast is the first priority. Maybe we need to return a result from the describe block, to avoid the call to the resource twice?

[2017-10-18 13:27] Paladin commented on #534
Something for the booleans as well. Maybe like:

[code]

Pick a syntax (selinux_boolean or selinux.boolean) that's consistent with the rest. If convenient, it'd be great to treat the booleans the same way modules are treated, within limitations (e.g., "selinux.booleans.where {mode == 'on' }" to collect the all booleans that are true) but that's more a "gee it'd be nice" feature rather than a neces

[2017-10-18 13:33] chris-rock commented on #534
@Paladin Great addition. I think we should stick to the selinux wording to stay consistent. Based on your idea, that would look like:

[code]
Does this feel right to you?

[2017-10-18 15:18] mgrobelin commented on #2256
Thanks for the suggestion @adamleff , workaround does fine for me!

[code]

[2017-10-18 18:29] jerryaldrichiii opened #2258 "Verify inspec-aws Gem version pinning doesn't break other products"
In order to proactively prevent issues with #2233 we need to verify that moving the Gem pinning from https://github.com/chef/inspec-aws doesn't break https://github.com/chef/chef

[2017-10-18 19:55] clintoncwolfe commented on #2258
I think you're saying that inspec-aws's Gemfile may declare dependencies that, when we merge into inspec, may cause conflicts with the chef client.

Which gems are you referring to?

Is this in the context of the audit cookbook?

[2017-10-18 20:04] jerryaldrichiii commented on #2258
@clintoncwolfe it was a topic that came up in standup and yes your description is correct.

We are specifically worried about `aws-sdk` since we currently use that in Chef for things like chef-provisioning.

I do not think this is in the context of the audit cookbok.

[2017-10-18 21:09] clintoncwolfe commented on #2258
We've discovered at least one potential issue. ChefDK 2.3.4 ships with AWS SDK 2.10.45, possibly caused by Omnibus pinning it to `~> 2` in its gemspec - https://github.com/chef/omnibus/blob/master/omnibus.gemspec#L24

[2017-10-19 14:33] Paladin commented on #534
Going with "state" (as you did) rather than "mode" feels better for a boolean. I used mode in the filter example simply because it was there, but "state" is the better word for it.

So yes, looks good to me.

[2017-10-19 15:33] clintoncwolfe commented on #2258
re: audit cookbook, my understanding is updated: when the audit cookbook runs, the chef client's audit handler loads the InSpec gem (and dependencies) - which will trigger a conflict.

[2017-10-19 18:53] TheLonelyGhost opened #2260 "WMI resource does not escape double-quotes"
### Description

I cannot specify a filter on a WMI resource that is a string containing double-quotes. Doing so will make it so WMI does not find any resources matching the given filter.

### InSpec and Platform Version

Currently using v1.36.1 (part of ChefDK 2.3.4) on MacOS 10.12.6 targeting Window Server 2016

### Replication Case

[code]

### Possible Solutions

This is an issue with key-valu

[2017-10-20 01:32] mattray commented on #2251
I tried rolling in @chris-rock's version, it works.

I opened the issue to point out that ```describe.one``` should be optimistic and exit as soon as ```one``` match was made. I've made the code more efficient by splitting the testing by Windows versions, but exiting on a match would be even faster. Feel free to close it if we don't want to optimize this.

[2017-10-20 14:01] clintoncwolfe commented on #2258
@jerryaldrichiii can you link in where it is used in chef-provisioning?

[2017-10-20 17:41] jerryaldrichiii commented on #2258
@clintoncwolfe https://github.com/chef/chef-provisioning-aws/blob/master/chef-provisioning-aws.gemspec#L20

[2017-10-24 15:21] Paladin commented on #534
Just thought of one other possible use-case.

the os resource has things like os.redhat? that can be used to skip tests that don't apply. I'm wondering if an equivalent, such as selinux.installed? could exist to skip tests on systems selinux isn't installed on.

Example: currently I don't install SELinux when building an ubuntu box (might revisit that decision later, but last time I tried it was a

[2017-10-24 15:23] adamleff commented on #534
@Paladin once it's a resource, and it has the right methods/matchers created, you can easily use it in `only_if` statements.

For example, if you could write a test like this:

[code]

... you'd be able to do this in a control:

[code]

It just works like magic :)

[2017-10-24 15:27] Paladin commented on #534
Oooooh. (Don't do things like that to me! It's really hard to get drool out of this keyboard.)

[2017-10-24 22:11] adamleff opened #2265 "Update shadow resource to use FilterTable"
The current `shadow` resource has FilterTable-like but doesn't actually use FilterTable. It should be updated for consistency and to reduce complexity.

[2017-10-26 15:29] mattlqx commented on #2228
On the current 1.42.3 release, I'm still getting the deprecation warning even when I explicitly set `enable_remote_worker: false` on the `http` resource. I'm not sure if this is intended behavior.

[2017-10-26 15:31] adamleff commented on #2228
@mattlqx It is currently intended behavior because we were not planning on allowing a user to force the `http` resource to operate locally when scanning a remote target (since it would be inconsistent with all of our other resources). Is that something you think we need? If so, can you explain a use case so I can better understand?

[2017-10-26 15:32] #1795 closed, assigned to jerryaldrichiii

[2017-10-26 15:37] mattlqx commented on #2228
I have an InSpec profile for a basic smoke test hooked into Workflow. I prefer allowing a local HTTP request on the runner as this allows an end-to-end connection test from outside the application host, even if a bit contrived since it's only being run on my Automate runners. From this, I at least get the benefit of ensuring some basic level of proper network configuration. There may be scenarios

[2017-10-26 15:39] adamleff commented on #2228
@mattlqx Thanks for that explanation!

I would argue that test belongs in a separate profile that is run separately from your "scan for stuff on the host" profile. That way that profile can be executed in a variety of situations, not just as part of the workflow, and can be decoupled from testing aspects of the host-under-test itself.

[2017-10-26 15:42] mattlqx commented on #2228
I want to re-arrange the test recipe anyway in order to parallelize tests against the deployed hosts. Running an extra profile wouldn't be too bad in that case. Thanks for the suggestion.

[2017-10-26 15:44] adamleff commented on #2228
If you can think of another case where it makes sense to support this behavior, by all means, PLEASE let us know. We will always strive for consistency wherever we can, but it's possible to consider different behavior if the use cases warrant it. I still think a separate profile is the right call, but again, our minds remain open :)

[2017-10-28 14:16] aaronlippold opened #2272 "Tags with same key being overwritten"
When a control has a tag with the same name on multiple lines inspec is not pushing the data onto a stack but rather just taking the last value. This is causing data loss in the json and other output formats.

I am hoping we can update the processing to be a little smarter so that when we hit a 'key' that is already defined we could push onto an array or hash so that the data is retained. In the e

[2017-10-30 02:59] Wing924 opened #2273 "service.enabled? in SysV system fails if home directory have fles named S*"
### Description

service.enabled? in SysV system fails if home directory have fles named S*

### InSpec and Platform Version
InSpec: 1.36.1
Platform Version: CentOS 6.3

### Replication Case

[code]

execute `inspec exec spec.rb`
[code]

Then, create a file named `STDOUT` in home directory.

execute `inspec exec spec.rb`
[code]

### Possible Solutions
https://github.com/chef/inspec/blob/master/lib

[2017-10-30 16:42] TD-4242 commented on #742
In addtion to this I would really like to see some type of on_failure way to gather information such as:
[code]
there is likely better syntax to get the same result, but this would be very helpful to find out why the latest build on the CI server didn't start before it was terminated.

[2017-10-31 20:43] adamleff commented on #2272
I'm :-1: on this feature request. If a user creates the tag first with a value of a Hash and then tries to add a String, what would the experience be? The only sane thing to do is to assume an Array, but I'm very much against assumptions and magic; we need to embrace the element of least surprise.

Instead, I'd rather see us warn the user that they're overwriting the tag so they can go back and fi

[2017-10-31 20:48] adamleff commented on #2273
Thanks for submitting this bug, @Wing924, and the subsequent PR!

[2017-11-01 17:15] rlaveycal opened #2276 "JUnit output has incorrect "class" attribute on <testcase>"
### Description

Running inspec via Test-Kitchen with junit output produces an XML file with entries like:

[code]

I'm consuming this in Team City and it ignores the `class` attribute. From what I can see the attribute should be called `classname` (http://help.catchsoftware.com/display/ET/JUnit+Format)

### InSpec and Platform Version

1.36.1 on Windows (via ChefDK)

### Replication Case

Run ins

[2017-11-01 19:39] clintoncwolfe opened #2277 "RFC: singular vs plural resources"
This originated as a discussion on https://github.com/chef/inspec-aws/issues/111 .

Consider the resources `package` and `packages`.  I call those a "singular" and a "plural" resource.  We typically say that you use the singular to identify a single resource and work with its rich properties, while you use a plural resource to search broadly and audit the collection as a whole.

There are some thi

[2017-11-02 09:56] chrisLeeTW commented on #2106
Hi @adamleff, does has there any good workaround right now ?

thanks.

[2017-11-02 11:28] chrisLeeTW opened #2278 "nginx_conf is not correctly parsing map directive"
### Description
nginx_conf will return empty object when there are map directive in nginx.conf

### InSpec and Platform Version
inspec version : 1.43.5 via docker (https://hub.docker.com/r/chef/inspec/)
target OS platform: ubuntu
target OS family: debian
target OS release: 16.04

### Replication Case
#### example nginx.conf
[code]
#### enter inspec shell
#### enter command
[code]
#### will return

[2017-11-02 14:03] #2273 closed, assigned to nobody

[2017-11-02 17:31] dialex commented on #2200
Hello?

[2017-11-02 17:34] dialex opened #2279 "Run a bash cmd before the command that needs to be asserted"
### Description

- Run command A, get result into a variable
- Use variable to build the command B string.
- Assert the stdout of running command B.

### InSpec and Platform Version

1.42.3, even though this might be a Ruby question.

### Replication Case

This is my template, from @adamleff at https://github.com/chef/inspec/pull/2017#issuecomment-340828879:

[code]

help is appreciated 🙏

[2017-11-02 19:23] adamleff commented on #1940
While `1.4.0-1` is a valid SemVer version string, the `-` indicates it's a pre-release string and therefore many of the standard comparisons will not work as one would expect. The InSpec profile should use the `+` character instead to indicate the `1` is a build number, not a pre-release version number.

I'm still going to correct InSpec to properly compare/constrain SemVer versions, but ultimatel

[2017-11-02 19:28] arlimus commented on #1940
Interesting, wasn't aware of the recommendation on `+` for build version, very interesting!
For reference here:
http://semver.org/#spec-item-10

[2017-11-03 12:39] chrisLeeTW opened #2281 "http resource execute locally should not be deprecated"
### Description
In current latest version, If you use http resource with ```enable_remote_worker: false```
you will got deprecated warning message.

But in some testing scenarios. you will need http resource execute locally, such as testing location allow directive with different ip ranges with docker.

If make http resource always execute remotely, you will not be able to testing such scenario.

[2017-11-03 12:42] dialex opened #2282 "Bug: InSpec returns diff test results when var is reassigned"
### Description

The `describe` and `subject` syntaxes produce different test results when reusing a Ruby variable. The test code below should make it clear.

### InSpec and Platform Version

InSpec ~~v1.42.3~~ 1.43.8 on Ubuntu (Docker)

### Replication Case

[code]

### Results

Expected: all pass.
Actual:

[code]

[2017-11-03 13:17] adamleff commented on #2281
@chrisLeeTW the decision to deprecate this behavior is important to maintain consistency with all other InSpec resources. All other resources operate on the local system when executed remotely, and on the remote system when scanning a remote target. Blurring this behavior for a single resource will yield a more confusing experience for our users.

Is there any reason you couldn't break out your HT

[2017-11-03 13:22] adamleff commented on #2282
@dialex this is actually not an issue with InSpec but rather how RSpec operates, and it is expected behavior.

Essentially, an RSpec run has two phases - the phase where all the tests are read in (or "compiled," for lack of a better term), and then the phase where the tests are actually executed. When you place the resource in the `describe` block, any variable used in that argument are evaluated

[2017-11-03 13:22] #2282 closed, assigned to nobody

[2017-11-03 13:48] dialex commented on #2282
I sure wish/hope you have an awesome karma in your life, because you always reply to my issues blazingly fast and packed with information. My hat's off to you sir 😁 🎩

It's alright, I understand now. It was weird and frustrating for a bit, but when I found what was causing it, it was only a matter of using two variables instead of reusing the same.

Have an awesome day 👍

[2017-11-03 14:22] adamleff commented on #2279
Replied to @dialex via Slack, but for posterity, this can be achieved by calling the `command` resource directly:

[code]

[2017-11-03 14:22] #2279 closed, assigned to nobody

[2017-11-03 14:23] adamleff commented on #2282
I appreciate the kind words - thank you! 😃

[2017-11-03 15:24] adamleff commented on #2276
@rlaveycal good find, I do believe you're correct re: it being `classname` and not `class`.

Regarding the condition, InSpec supports tests inside and outside of a control. Control titles are arbitrary strings, sometimes full sentences! I believe the author's intention was to use the presence of a `title` property to determine whether or not we were in a control or just a "naked" test. I'll test t

[2017-11-03 15:27] adamleff commented on #2276
Yeah, we do generate a unique ID if it's outside of a control structure, such as:

[code]

... so the intent is to use the existence of the title to determine if we're in a control structure, that's all. Good question :)

[2017-11-03 16:31] schisamo opened #2284 "nested profile files cannot be found"
### Description

Files in a nested structure cannot be loaded

Given a profile files directory like:
[code]

and attempting to load one of these files using a relative path from the profile root:

[code]

...the following failure is returned:

[code]

This worked on a previous version of InSpec.

### InSpec and Platform Version

InSpec 1.36.1 from ChefDK 2.3.4 on macOS 10.13

[code]

### Replicati

[2017-11-03 17:01] schisamo commented on #2284
This appears to be fixed in later versions of InSpec. I no longer experience the issue in InSpec 1.43.5 which is part of the latest ChefDK from the `current` channel:
[code]

[2017-11-03 17:14] adamleff commented on #2284
Based on that info, I'm going to close this issue. Please lemme know if it crops up again and I'll take a look!

[2017-11-03 17:14] #2284 closed, assigned to nobody

[2017-11-04 15:40] chrisLeeTW commented on #2281
@adamleff Thanks for your reply and I'm fully understand the reason.

Currently I want to http resource execute locally is because I want to testing allow directive with my server location in nginx.conf.

So If http resource always execute remotely, then I was not able to access nginx with another ip different to 127.0.0.1.

And I will never know nginx allow directive is fully functional.

[2017-11-06 03:40] xianlin commented on #534
looks like this "selinux" resouce feature is still on the way and not implemented yet.

My question is that if I just want to know if my selinux configuration is "disabled" or not, can I just use current "File" resource and read the "content" of it to verify?

Or can I just use "inspec" to read the linux command output and verify it like "command $(getenforce) result should be "disabled""?

Or do

[2017-11-06 12:09] bdellegrazie opened #2288 "http resource doesn't obey read_timeout"
### Description

http resource obeys connect timeout (open_timeout) but no option is supplied for the read_timeout to the underlying curl call. The result is read_timeout is not observed.

### InSpec and Platform Version

 inspec (1.43.5)

### Replication Case

Create a site that permits connection but doesn't respond beyond that (i.e. hangs)

### Possible Solutions

Add behaviour to the curl comm

[2017-11-06 13:46] mgrobelin commented on #2276
I am a bit worried that this might break/alter reporting for Jenkins' junit "[integration](http://kerryhouse.net/chef/2016/11/18/kitchen-inspec-jenkins.html)" users.

[2017-11-06 14:04] rlaveycal commented on #2276
[this](https://pzolee.blogs.balabit.com/2012/11/jenkins-vs-junit-xml-format/) is a bit old but says it should be `classname`. I think [this](https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/resources/jenkins-junit.xsd) is the XSD which also says `classname`

[2017-11-06 14:42] alexpop opened #2290 "inspec report time fields"
json full report snippet:
[code]

For inspec 2.0, can we look at reporting time into a standard time format like RFC3339?

[code]

[2017-11-06 15:25] adamleff commented on #2290
Hey, the current time format is standard in that it's the standard way Ruby prints out Time objects as a string! 🙂

That said, I'd be in favor of adopting an RFC standard and RFC3339 is fine by me.

[2017-11-06 15:30] chris-rock commented on #2290
@adamleff I think we should make this a standard for InSpec 2.0 Thank you @alexpop for proposing this solution

[2017-11-06 15:31] adamleff commented on #2290
I've added this issue to the 2.0 milestone. This is an easy change and can be made at anytime with the PR targeted at the release-2.0 branch.

[2017-11-06 18:28] #1205 closed, assigned to jquick, jerryaldrichiii

[2017-11-06 21:45] adamleff commented on #2106
@chrisLeeTW I'm afraid I do not know of a workaround as of right now. This is still an open feature request but no one has yet implemented or proposed an implementation.

[2017-11-06 21:47] adamleff commented on #2278
Reproducible on current master of InSpec.

[2017-11-06 21:52] adamleff commented on #2278
Initial error is here: https://github.com/chef/inspec/blob/c2ec4b95458ab27ecf14289088bbcc4c1fcb1420/lib/utils/nginx_parser.rb#L59

[code]

[2017-11-06 22:42] adamleff commented on #2278
Turns out it's not the existing of the `map` directive but rather this line:

[code]

... as it's not a valid identifier according to our existing Parslet rules. The `NginxParser` class will need to be updated to account for identifiers like this.

If you delete that line from your sample nginx.conf, you'll see that it parses. :)

[2017-11-07 10:14] mgrobelin commented on #2276
I just applied the suggested change within my inspec installation and observed the Jenkins report output. In sum the change breaks my so-far intention, as there seems to be some parsing magick within Jenkins Junit Plugin, which generates the links/structure within HTML markup based  on `classname` and/or `class`.

Nevertheless reports and their relations work fine for me again, if `classname` is p

[2017-11-07 14:33] jmery opened #2291 "sql*plus connection string broken in oracledb_session resource"
### Description

When using the oracledb_session resource AND `sql` is not available, the connection string used for `sqlplus` is incorrect (missing escaped `"` required for `sqlplus` per Oracle's documentation.

### InSpec and Platform Version

MacOS High Sierra & OEL 7.4
Inspec 1.36.1 & 1.39.1

### Replication Case

1. Pull this docker container: https://store.docker.com/images/oracle-database-e

[2017-11-07 19:01] #1500 closed, assigned to nobody

[2017-11-07 19:05] adamleff commented on #2276
@mgrobelin @rlaveycal Can either of you provide me documentation as to how Jenkins uses `class` instead of `classname`? I've been unsuccessful at finding anything, and therefore I'm inclined to merge the pending pull request because all documentation I can find refers only to `classname`

Please let me know ASAP if there's any reason I should hold off on merging the pending pull request.

[2017-11-07 19:25] adamleff commented on #2291
Been discussing this in Chef's company Slack with @jmery... I've been unable to reproduce, either at the command line manually or via `inspec shell` and using the resource. sqlplus appears to properly parse the connection string without any additional quotes.

Raw sqlplus:

[code]

... and via inspec shell:

[code]

sqlplus was used because sql was not available:

[code]

[2017-11-07 22:21] adamleff commented on #2281
@chrisLeeTW your use case makes perfect sense to me, and I'm glad to see you use InSpec for that purpose.

The solution will be to move those HTTP checks to a separate profile and run them in local execution mode, rather than with `--target`, so that the HTTP calls will be initiated from your local machine instead of from within the remote machine. You can use InSpec Attributes to make the HTTP ho

[2017-11-07 22:21] #2281 closed, assigned to nobody

[2017-11-08 07:27] mgrobelin commented on #2276
@adamleff Didn't see anything about `class`. For `classname` see [CaseResult.java](https://github.com/jenkinsci/junit-plugin/blob/b98cb6eba3b1207a3eba70a2e0766f3e26953b4e/src/main/java/hudson/tasks/junit/CaseResult.java#L121), [SuiteResult.java](https://github.com/jenkinsci/junit-plugin/blob/master/src/main/java/hudson/tasks/junit/SuiteResult.java#L241) and [ClassResult.java](https://github.com/je

[2017-11-08 08:47] rlaveycal commented on #2276
@mgrobelin I don't understand your concern. You've highlighted code that shows that Jenkins expects `classname` and uses the suite name (or part of it) if it doesn't exist. The PR now sets classname. This is obviously going to change the behaviour of anything processing the file and break any linkages to previous test results, but that's unavoidable. The PR is implementing correct behaviour.

[2017-11-08 09:40] mgrobelin commented on #2276
@rlaveycal The concern is, that people using Jenkins will see their reports structure break. I understand that you want to receive results from Team City, but so I do with Jenkins.

My suggestion is to use `classname` in the format `ProfileName.ControlName` as shown above. This should render good results within both CI tools, if I understand [these docs](https://confluence.jetbrains.com/display/TC

[2017-11-08 15:19] rlaveycal commented on #2276
I've run a quick test and can confirm that TeamCity is happy with the format you propose. My Test-Kitchen tests don't have an explicit profile - they're just controls. I'm assuming that a suitable default is set (ideally the parent directory rather than the full path as used for the suite name.

[2017-11-08 16:02] mgrobelin commented on #2276
Excellent! @adamleff do you adapt this in the PR?
[code]

Regarding the failing test you mentioned in the PR: it searches for`class` attribute via Xpath, which now has changed to `classname`. Change this in `test/functional/inspec_exec_junit_test.rb` line 54 col 72 and it should pass, right?

[2017-11-08 17:28] adamleff commented on #2276
@mgrobelin @rlaveycal I'm hesitant to use the profile name because there's no guarantee it won't have spaces or other odd characters in it. How would Jenkins and Team City react in that situation?

Would it be OK to use the sha256 of the profile instead? How would that look in the respective UIs?

[2017-11-08 17:42] #2278 closed, assigned to nobody

[2017-11-08 17:55] chris-rock commented on #1926
I am going to close this until we get new information. @tpmullan please feel free to re-open if you think this issue is still there.

[2017-11-08 17:55] #1926 closed, assigned to nobody

[2017-11-09 10:11] #2288 closed, assigned to nobody

[2017-11-09 10:11] joerg commented on #2233
Is there a timeline for this merge? We are moving to AWS right now and I would love to show our internal security what Inspec with those resources can do.

[2017-11-09 11:29] #1940 closed, assigned to nobody

[2017-11-09 11:32] #1954 closed, assigned to nobody

[2017-11-09 12:07] ManishMehra opened #2299 "Local installation of Inspec gem doesn't work"
We understand that Chef Inspec is not supported on Windows 2008 32 Bit Operating systems. Hence we tried installing Inspec gem on Ruby. We followed following steps:
 1. Installed Ruby: Version 2.4
 2. Installed all dependencies for Inspec Gem
 3. Installed Inspec Gem: 1.43.8
Now, I am expecting inspec exec command to work. But it fails with following error:

[code]

Any suggestions?

[2017-11-09 13:47] trevor-vaughan opened #2300 "Add a 'sudo_required' feature to tests"
### Description

Based on the conversation over at https://github.com/simp/inspec-profile-disa_stig-el7/issues/2, it would be nice to have the ability to indicate that a test requires `sudo` privileges to run.

This would allow tests to fail and/or be skipped if the user does not have permissions to run commands under `sudo`.

### Possible Solutions

I would suggest a `sudo_required` keyword to ef

[2017-11-09 14:22] clintoncwolfe commented on #2233
There's a lot of activity over on https://github.com/chef/inspec-aws . I've updated my checklist [above](https://github.com/chef/inspec/issues/2233#issuecomment-335592261) with current progress.  We'd like to cover CIS AWS Benchmark as much as possible (about 8 recommendations are not automation-friendly) in the next few weeks.  That won't result in a "general purpose" kit (there is nothing about

[2017-11-09 18:08] Paladin commented on #534
The command resource is exactly how I've been doing it, along with the package resource to test if it's installed.

[2017-11-10 11:06] mgrobelin commented on #2276
I played around a bit and can confirm that Jenkins Junit can more and less handle exotic profile/control names like `Some exßotic pröfile "'#<>&?:-_.`

It doesn't render perfect html results within the UI - obviously because non-URL safe chars are replaced  `#&?`) - but it also doesn't influence the working things, so in sum for me it behaves ok'ish. See https://github.com/mgrobelin/inspec-exotic-

[2017-11-11 06:49] nkk1 opened #2303 "multiple versions of same package errors with old version"
### Description

I have two versions of same package
[code]

[code]

[code]

i tried with match and include matchers also still it fails

[code]

### InSpec and Platform Version

[code]
running on mac

### Replication Case

see above

[2017-11-12 16:42] aaronlippold opened #2304 "sshd_conf resource and downcase and or issue with the `cmp` matcher"
### Description

When working with the SSHD conf - and I would assume other resources - it seems we need to define a pattern ( I like the idea of downcase all) for the `params` method or perhaps review the `cmp` matcher is playing nicely?

https://github.com/chef/inspec/blob/master/lib/resources/ssh_conf.rb#L44-L50 downcases the params and if I recall the expected behavor of the `cmp` matcher shou

[2017-11-13 21:11] adamleff commented on #2299
This is unfortunately outside of the scope of the InSpec project as it appears to be an issue with the `ffi` gem on your platform. Sorry we could not be of more assistance.

[2017-11-13 21:11] #2299 closed, assigned to nobody

[2017-11-13 21:15] adamleff commented on #2300
While I totally understand the use case, I'm :-1: on adding something specific to sudo being required. The end-state for the user is the same: they need some feedback as to why their test was skipped or failed. That COULD be done initially by the control/test author, but in fact could affect more than just root privileges.

We recently implemented a change that allows resource authors and the InSp

[2017-11-13 21:20] trevor-vaughan commented on #2300
@adamleff That makes sense. The reason I was thinking this for `sudo` is that it's probably, by far, going to be the thing that causes issues across the board. No issue with the closure.

[2017-11-13 21:21] adamleff commented on #2300
In some ways, `sudo` is the hammer with which you solve the symptom, but in fact it could mask the real issue. For example, it's perfectly acceptable for a non-root user to do a `file` test against a file for which the user cannot read the file. Perhaps that's on purpose, but without surfacing that feedback, the user won't know. And "run with sudo" may not be the right option.

[2017-11-13 21:30] trevor-vaughan commented on #2300
That was actually the idea.

This may explain it better:

[code]

[2017-11-14 03:03] adamleff commented on #2291
Closing this issue for now @jmery but please reach out, reopen, or ping me if I can help further.

[2017-11-14 03:03] #2291 closed, assigned to nobody

[2017-11-14 03:33] adamleff commented on #2276
@rlaveycal and @mgrobelin: thanks for the feedback, I've accepted @mgrobelin's patch and prefix the classname with the profile name and the PR is updated.

[2017-11-14 03:41] #2276 closed, assigned to nobody

[2017-11-14 20:00] adamleff commented on #2303
Hi @karthik-altiscale and thanks for your report.

The `package` resource only supports a single package for a given name, and on Red Hat based systems, it will be the last package listed in the output of `rpm -qia <package name>`

However, if you use the `packages` resource (plural, with an "s" at the end), you can get tabular data back (using our internal `FilterTable` system) and get at the dat

[2017-11-14 20:00] #2303 closed, assigned to nobody

[2017-11-14 20:07] adamleff commented on #2304
@aaronlippold the decision on how to handle the keys of parameters must be implemented on a resource-by-resource basis. In the case of OpenSSH configs, the keys are case-insensitive, but that's not the case in other configurations. Therefore, we cannot assume a case-insensitive match at all times.

As you noted, the `params` method of the `sshd_config` resource returns all the params as downcase.

[2017-11-14 20:07] #2304 closed, assigned to nobody

[2017-11-15 20:00] scalp42 opened #2310 "Manipulate http body"
Assuming a remote host running a `http` resource against a Consul server for example:

[code]

It's failing as Consul API returns JSON `"xx.xx.xx.xx"`. How can I manipulate the `body` here to strip quotes for example?

Even better, just parse the `body` through `JSON.parse` for example and get the string directly.

Thanks in advance!

[2017-11-15 20:31] adamleff commented on #2310
Hi @scalp42!

The problem with the `Resolv::IPv4::Regex` is that it has beginning/end of string anchors making it difficult to use in the manner you tried.

What I would do is break out the http resource into a separate variable, and then use two resources: one to get the HTTP parameters, and one to parse the JSON, like so:

[code]

Hopefully that helps!
~Adam

[2017-11-15 20:31] #2310 closed, assigned to nobody

[2017-11-15 21:45] scalp42 commented on #2310
Totally makes sense @adamleff

Thanks again 👍

[2017-11-15 21:49] scalp42 commented on #2310
Update: looks like it's a no go:

[code]

The answer from Consul is just a string like `"10.10.10.10:8300"` and it appears that the `json` resource insists on a file:

[code]

[2017-11-15 21:55] adamleff commented on #2310
Oh, that's funny. `"1.2.3.4"` isn't actually JSON... `{ "ip_address": "1.2.3.4" }` would be.

[2017-11-15 21:57] adamleff commented on #2310
@scalp42 let's try a different approach. If the full body that you get back via that HTTP call is just an IP address wrapped in double-quotes, try this to see if it would work:

[code]

[2017-11-15 21:58] adamleff commented on #2310
I used a different syntax (`expect` instead of `should`) so I could have better control over the text output that shows up in the InSpec report. Otherwise, if there was an invalid IP address, you'd just get a message that say "foo did not match blah" instead of helpful messaging like "it should be a valid IP address"

[2017-11-15 22:01] scalp42 commented on #2310
I'm wondering if it's the port `:8300` being problematic but I believe match should be fine. I tried your approach but no luck:

[code]

(Unrelated, what is the correct syntax? `should` vs `expect`? I see examples in the doc with `should` but I believe RSpec moved away from it, just curious.)

[2017-11-15 22:03] scalp42 commented on #2310
Thats what it was!

[code]

[code]

Thanks a lot @adamleff, much appreciated!

[2017-11-15 22:04] adamleff commented on #2310
it's absolutely the port causing problems!

[code]

So, let's try this again :)

[code]

[2017-11-15 22:05] adamleff commented on #2310
Re: `should` vs. `expect` - the InSpec project has standardized on `should` because it, combined with our use of `rspec-its`, reads more easily for non-technical people. RSpec has moved away from it but it still works and it's still our preferred language choice.

However, `expect` still works and I prefer it personally. It's user choice at this point. I wrote up a little blurb about it on the web

[2017-11-16 00:15] scalp42 commented on #2310
Thanks again for the feedback, I'll share with the team.

[2017-11-16 16:37] james-s-nduka commented on #431
+1
This is a feature Hashicorp Terraform has for remote execution on instances. It would be really helpful for inspec testing

[2017-11-17 11:15] sheenaajay opened #2314 "owner and permissions problem for /etc/shadow"
### Description

Briefly describe the issue and the expected behavior

owner and permissions problem for /etc/shadow

### InSpec and Platform Version
 inspec version -tested on 1.2.1 1.3.0 1.9.0
centos version 7.2
Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using

### Replication Case

Tell us what steps to take to replicate your

[2017-11-17 13:37] sheenaajay commented on #2314
similar  to this issue
https://github.com/chef/inspec/issues/1264

[2017-11-17 17:57] jjasghar opened #2315 "No skip example in the documentation"
### Description

We are missing a verbose `skip` example in the https://www.inspec.io/docs/reference/profiles/ page. I believe having them in the example profiles is helpful, but looking at the documentation would be quicker to search against.

[2017-11-17 18:24] jjasghar commented on #2315
https://github.com/chef/inspec/blob/master/docs/dsl_inspec.md#exclude-specific-test

[2017-11-17 18:26] jjasghar commented on #2315
https://github.com/chef/inspec/issues/613 is worth linking here too.

[2017-11-17 18:26] dragon788 commented on #1598
If we switch from serverspec to InSpec will that fix our issue here and and the chef/kitchen#135 trouble? We currently have a mix of both across all our repos.

[2017-11-17 18:30] jjasghar commented on #2315
Useful example here to: https://discourse.chef.io/t/inspec-conditional-testing-based-on-node-attributes/8908/2

[2017-11-17 18:33] oblutak opened #2316 "INI resource documentation clarification"
### Description

Enhance documentation to cover case where ini file has sections and how to reference the attributes

### InSpec and Platform Version

1.45.9

### Replication Case

Current doc only has simple example
[code]

### Possible Solutions

If your ini file looks like
[code]

To test the value would look something like

[code]
The above worked for me.  Not sure if other method exists.

[2017-11-17 19:48] oblutak commented on #2316
@adamleff pointed to me that
[code]
would also work.  Looks more clean and ruby'ish

[2017-11-17 21:18] adamleff commented on #2314
@sheenaajay thanks for your report. This is a bug in chef/train 0.29.1 and I've opened chef/train#215 to fix it.

Depending on how you've installed InSpec (i.e. as a standalone download, or via gems, etc.), you may be able to downgrade to an earlier version. This is not an issue in Train 0.28.0.

Thanks!
~Adam

[2017-11-17 21:38] adamleff commented on #2315
@jjasghar we have a section for this already here: https://www.inspec.io/docs/reference/dsl_inspec/#exclude-specific-test

I recognize the docs are laid out a bit poorly, but there's an effort underway to revamp all of inspec.io. But I believe your concern is already addressed at the above link. Can you confirm?

[2017-11-17 22:02] jjasghar commented on #2315
It seems that eventually, i realized i could just write:

[code]

And get the desired effect. It feels like this should be documented a tad bit better. If yall are working on overhauling that's awesome and looking forward to it.

[2017-11-17 22:02] #2315 closed, assigned to nobody

[2017-11-17 23:02] adamleff commented on #2316
@oblutak thanks for submitting this issue. I've opened PR #2320 to add clarity to the docs.

[2017-11-20 12:08] #2316 closed, assigned to nobody

[2017-11-20 21:15] #2314 closed, assigned to nobody

[2017-11-21 14:54] chris-rock opened #2325 "inspec exec/check does not work with skip exceptions properly"
### Description

Resources are emitting skip exceptions now, but this lead to errors during execution, since we are not catching the exception properly

[code]

### InSpec and Platform Version

1.45.12

### Replication Case

A sample profile is pushed to https://github.com/chef/inspec/tree/chris-rock/skip-exception

### Possible Solutions

Add handling for those exception, so that the control is s

[2017-11-21 16:31] chris-rock opened #2326 "undefined method `unix_mode_mask' for #<Train::File::Local::Unix:0x000000034aec98>"
### Description

as reported by @jujugrrr in https://github.com/chef/inspec/pull/2306#issuecomment-345960533:

Trying to use inspec 1.45.9 with train 0.29.1 I'm getting errors on the following test cases:
[code]
[code]
Rolling back to 1.44.8 and train 0.28.0 fixes the issue.

### InSpec and Platform Version

1.45.9

### Possible Solutions

Release train with https://github.com/chef/train/pull/215

[2017-11-21 16:33] jujugrrr commented on #2326
Thank you @chris-rock, I should have reported the issue rather than just comment. 👍

[2017-11-21 19:04] #2326 closed, assigned to nobody

[2017-11-21 22:30] b-dean commented on #2105
I get the same error for this `Dockerfile`.

[code]
(note that this is in the context of a larger Dockerfile with other stuff, but this smaller example also has the problem).

Then when I run

[code]

I'm not sure I understand the explanation @adamleff gave earlier. There shouldn't be any weird GEM_PATH stuff going on, I installed the omnibus package. I wouldn't think it'd have more than one rake

[2017-11-22 08:17] jerryaldrichiii opened #2329 "Default `grub_conf` resource on CentOS 6 uses `grub.cfg` and not `grub.conf`"
### Description

On the CentOS 6.9 vagrant box I'm using (`bento/centos-6.9`) the Grub config is located at `/boot/grub/grub.conf`.

However, the default path for RedHat-ish systems is set to `/boot/grub/grub.cfg` here:

https://github.com/chef/inspec/blob/master/lib/resources/grub_conf.rb#L53

### InSpec and Platform Version

Inspec: `1.36.1`
Platform: Arch Linux

### Possible Solutions

Check if

[2017-11-22 08:24] jerryaldrichiii commented on #2329
Closing because I'm an idiot and can't read code...

https://github.com/chef/inspec/blob/master/lib/resources/grub_conf.rb#L49

That, dear reader, is a `<`...this means that on CentOS 6 it uses `/etc/grub.conf` which is symlinked to `/etc/boot/grub.conf` which is the desired behavior.

:man_facepalming:

[2017-11-22 08:24] #2329 closed, assigned to nobody

[2017-11-22 17:15] lavahot opened #2330 "group resource is broken on macOS"
### Description

The group resource looks at /etc/group like a normal UNIX machine for groups, but on macOS groups created with dscl are put into the Directory Service, which is not always reflected in the /etc/group.

In fact, the /etc/groups reads: `Note that this file is consulted directly only when the system is running in single-user mode. At other times this information is provided by Open D

[2017-11-23 11:05] atomic111 opened #2331 "wrong grub path for rhel based os in grub_conf resource"
### Description

There is the wrong path for rhel based OS's in grub_conf defined.

### InSpec and Platform Version

inspec version: 1.45.9
os: rhel 7.4

### Replication Case

Take a look at https://github.com/chef/inspec/blob/master/lib/resources/grub_conf.rb#L53

### Possible Solutions

@conf_path = path || '/boot/grub2/grub.cfg'

I will provide you a PR for this

[2017-11-23 11:42] atomic111 opened #2333 "grub_conf resource parsing the wrong kernel"
### Description

The grub_conf resource is parsing the wrong menuentry on RedHat and Centos 7 OS. All the time i get the menuentry from the last menuentry of the grub.cfg, but this is not the default menuentry.

### InSpec and Platform Version

inspec version: 1.45.9

OS: RHEL 7.4 and Centos 7.1

You can use this box `https://github.com/holms/vagrant-centos7-box/releases/download/7.1.1503.001/Cent

[2017-11-23 16:29] chris-rock commented on #2331
Thank you for finding this issue @atomic111

[2017-11-24 12:38] wunzeco opened #2334 "auditd resource does not support auditd 2.3.2 though it claims to support >=2.3"
### Description
According to your documentation on `auditd` resource,
[This resource supports versions of audit >= 2.3](https://www.inspec.io/docs/reference/resources/auditd/). But it fails to run on a host with audit v2.3.2.

Here is my experience

[code]

### InSpec and Platform Version

- inspec (1.45.13)
- Ubuntu 14.04.4 LTS (x86_64)

### Replication Case
Steps to replicate:

On a Ubuntu 14.04

[2017-11-24 12:58] JuananOc opened #2335 "HTTP Resource HEAD timeouts"
### Description

When using the http resource with head parameter, the curl command that executes gives a timeout because it´s malformed.

### InSpec and Platform Version

InSpec version: 1.43.8
Platform: Amazon Linux AMI 2017.03 (Based on RHEL Fedora)

### Replication Case

Create a describe block like this:
[code]

And execute inspec with `-l debug`.
You will see that the command who is been exe

[2017-11-24 13:33] wunzeco commented on #2334
PR awaiting review -  https://github.com/chef/inspec/pull/2336

[2017-11-24 22:07] oblutak opened #2337 "Support for HOCON file format"
### Description

Add resource/support for parsing files formatted as [HOCON](https://github.com/lightbend/config/blob/master/HOCON.md)

### InSpec and Platform Version

inspec --version
1.45.13

### Replication Case

N/A - Feature Request

### Possible Solutions

There is a ruby gem, [hocon](https://rubygems.org/gems/hocon/versions/1.2.5) to parse the file format.

[2017-11-26 00:24] twdamhore commented on #2105
I hit the same error. Solution provided by @b-dean worked for me.
``` /opt/inspec/embedded/bin/gem list | grep rake```
Make sure there is only one version of rake installed.

[2017-11-26 00:37] adamleff commented on #2105
If you all are getting this with our omnibus packages, that needs further investigation. I’ll reopen this issue.

[2017-11-26 01:19] darkn3rd opened #2338 "Inspec CLI Support for SSH-Config File Option"
### Description

This is a feature request to add an `-F` option to select a ssh-config file, so that a user could simply use:

[code]

Currently, one has to do something like this:

[code]