[2016-10-21 12:06] chris-rock commented on #1237
As discussed in #1236 we have different locations, where multiple profiles are stored:
- Compliance Server
- Supermarket
- Git (not yet working)

By separating out the profile locations and the profile we are executing, we cover that. Its similar to a run-list in chef, but I still want to make keep the simplicity of the current system. Therefore `inspec exec` should keep working as long as you jus

[2016-10-21 16:32] jburandt opened #1238 "Inspec check/archive fails with controls using File.read"
**### Description**

I'm writing a control that will read the contents of a file and verify that the only strings that are listed in there are the ones I am checking for using File.read, and that will determine the pass/fail of the test.

However, when I run inspec check against it, the check fails because I need root privilege to be able to read the file. Due to the nature of inspec check should

[2016-10-24 06:36] gsaslis opened #1239 "`runit_service` does not work for ubuntu"
### Description

Even though I create runit services using the runit chef cookbook `runit_service` resource,  I cannot verify them with inspec.
### InSpec and Platform Version

1.2.1
### Replication Case

chef cookbook:

[code]

inspec, which DOES NOT pass.

[code]

inspec, which DOES pass (as a temporary workaround):

[code]

Please note that I've used inspec's own code as a guide for the above:

[2016-10-24 10:45] daxroc opened #1240 "TestKitchen - Duplicate testing when verifier specified in suite definition"
### Description

Unclear if this is a test-kitchen or inspec bug.

Using inspec - TestKitchen, I’m seeing duplicate inspec executions for the included tests. Single suite with path defined to test/recipes/<suite> containing two files with one control in each but see four controls executed in the kitchen test/verify output.

[code]

One observation I've noted is the duplicated paths

[code]
### Rec

[2016-10-24 10:49] chris-rock commented on #1240
@daxroc Thanks for reporting. That is an issue in https://github.com/chef/kitchen-inspec. Could you please move to `kitchen-inspec`?

[2016-10-24 10:51] daxroc commented on #1240
@chris-rock Will do

[2016-10-24 10:54] daxroc commented on #1240
@chris-rock Created - https://github.com/chef/kitchen-inspec/issues/109 please close/delete thanks

[2016-10-24 11:15] chris-rock commented on #967
@arlimus What should the format look like. Is this a archive or a plain signed json?

[2016-10-24 11:22] chris-rock commented on #1239
@gsaslis Which operating systems are you using?

[2016-10-24 11:24] gsaslis commented on #1239
Hi @chris-rock !  : )

[code]

[2016-10-24 11:25] chris-rock commented on #1239
Are you using systemd as default?

[2016-10-24 11:28] gsaslis commented on #1239
[code]

and:

[code]

...hope this helps...

[2016-10-24 12:00] chris-rock commented on #1238
@jburandt Thanks for the issue. We recommend not to use local ruby File method, because that prevents InSpec from running that profile remotely.

During the inspec check call, we load the ruby file an evaluate the script in order to read all controls. In cases where you use plain ruby instead of InSpec resources, this code will be executed, which happens in your case. To prevent this behavior, you

[2016-10-24 15:00] chris-rock commented on #967
We should also think about reusing some well-defined standards for reports: https://tools.ietf.org/html/rfc7515#section-3

[2016-10-25 05:12] gsaslis opened #1241 "apache_conf does not correctly parse server aliases"
### Description

In the case where there is an extra space character after the last server alias in the apache config file `ServerAlias` definition, inspec includes the ending whitespace character in the value it parses for ServerAlias. (see error below)
### InSpec and Platform Version

inspec 1.2.1
ubuntu 14.04
### Replication Case

just edit an apache config under sites-enabled directory (apache

[2016-10-25 07:25] #1240 closed, assigned to nobody

[2016-10-25 12:20] chris-rock commented on #1236
Or we use a run-list like approach with `inspec exec run.yml`

The `run.yml` could look like the following:

[code]

[2016-10-25 14:28] chris-rock commented on #966
Very good comparison for JSON signing https://medium.facilelogin.com/json-message-signing-alternatives-897f90d411c#.rkh1114mz

[2016-10-25 18:57] jeremymv2 commented on #1236
I think that is in the same spirit as `Berksfile` for Chef cookbooks that is really simple and works well:

Format:

[code]

Examples:

[code]

Adapting for inspec becomes a matter of enumerating all the key words for sources and their various options. `.yml` is probably easier to consume though..

[2016-10-25 21:07] ryankeairns opened #1249 "Cannot deploy website"
### Description

After making a small change to the inspec.io webiste, I was unable to complete the 'Releasing' step in the README.
### Replication Case

When I run the `bundle exec rake www` command I see the following error:

![screenshot 2016-10-25 16 06 18](https://cloud.githubusercontent.com/assets/446285/19704383/0b99abdc-9acd-11e6-86f6-57cf49d719e9.png)

Side note: it is not clear which dir

[2016-10-26 02:56] vikatgithub opened #1250 "Passing attributes to inherited profiles"
### Description

I am using a 2 level hierarchy of profiles. I pass a attributes yml file to the top level profile.

inspec exec [profile path] --attrs [attrib file path]

But these attributes are not visible in the inherited profile.

Is there any other setting besides 'depends' section in inspec.yml that is required for this to work?
### InSpec and Platform Version

InSpec 1.0

[2016-10-26 03:10] vikatgithub opened #1251 "Using arrays as expected values"
### Description

I have a profile to check a config file with groups and users in this format:

[code]

By using custom assignment_re and group_re, I can do a check like this:

[code]

But this not precludes a 'User3' from being there in Group1. What is desired is a way to compare the entire list so that any unwanted users are flagged as failure. Something like:

[code]

Is there a way to achive t

[2016-10-26 07:40] humboldtux opened #1252 "inetd and xinetd resources inconsistencies"
### Description

On a system with no inetd and xinetd conf files i don't get the same behavior when i exec a profile:

[code]

The previous spec is green if there is no inetd conf, which is what i'm expecting.

[code]

The previous spec is failing if there is no inetd conf, which is not what's expected, and inconstistent with inetd_conf.
### InSpec and Platform Version

Inspec version 1.2.0 instal

[2016-10-26 07:47] humboldtux commented on #1252
Bad configuration from my part.
Sorry about that.

[2016-10-26 07:47] #1252 closed, assigned to nobody

[2016-10-26 08:26] humboldtux opened #1253 "inetd_conf resource error"
### Description

When i execute the following example from the documentation:

[code]

I get the following error:

[code]
### InSpec and Platform Version

InSpec 1.2.0 installed via ChefDF, on Debian 8.6.

[2016-10-26 10:55] Anirudh-Gupta commented on #1253
@humboldtux You need to give the inetd_conf path along with it.

[code]

[2016-10-26 12:20] humboldtux commented on #1253
@Anirudh-Gupta thank you for your help but:
- You don't need to specify a path when using the defaut inetd conf path (/etc/inetd.conf), look at the end of http://inspec.io/docs/reference/resources/inetd_conf/ for an example.
- _shell_ and _login_ services are not returning error, it's just a problem with _exec_
- Actually, i don't even have an /etc/inetd.conf file on my test server, but i tested w

[2016-10-26 13:58] alexpop opened #1255 "inspec supermarket profiles - update for new supermarket api"
In PR https://github.com/chef/inspec/pull/1254 an intermediate fix for issue https://github.com/chef/inspec/issues/1219 has been merged.

As the issue suggests, once https://github.com/chef/supermarket/issues/1454 is implemented, we should update inspec to use the new supermarket search api call.

Adding the solution @robbkidd mentioned in https://github.com/chef/inspec/issues/1219:

---
### Possi

[2016-10-26 14:00] alexpop commented on #1219
Robb, ok to close this issue based on merged PR https://github.com/chef/inspec/pull/1254 and issue https://github.com/chef/inspec/issues/1255 ?

[2016-10-26 15:55] alexpop commented on #1091
Thanks for bringing this up Jeremy. I had to install push jobs server today and gave this a go.

It looks like it's the [SSLShake.hello](https://github.com/chef/inspec/blob/v1.2.1/lib/resources/ssl.rb#L72-L74) that's freezing for the `ssl2` protocol test:

[code]

[2016-10-26 16:01] alexpop commented on #1091
`testssl.sh` is getting stuck as well:

[code]

[2016-10-26 19:29] alexpop commented on #1091
Jeremy, can you confirm this fixes your port blocking: https://github.com/arlimus/sslshake/pull/3 ?

A customer reported the same issue an IHS(IBM HTTP Server) ssl port. ^ fixes it for them.

[2016-10-27 03:22] gsaslis commented on #1250
+1

[2016-10-27 11:16] PowerKiKi commented on #741
@jorhett what was the solution you used to access node attributes ?

[2016-10-27 11:45] chris-rock commented on #1253
@humboldtux just added the following to inetd.conf as test

[code]

Then I used the `inspec shell` to test it:

[code]

Now testing `shell` and `login`:

[code]

Now lets test `exec`

[code]

Therefore I can confirm that this issue only happens in combination with RSpec its. Another issue related to https://github.com/chef/inspec/issues/875

[2016-10-27 11:52] chris-rock commented on #1251
@vikatgithub Could you share a sample of the source file? I assume you use `parse_config`? Have you tried the `multiple_values: true`?

[code]

[2016-10-27 12:01] chris-rock commented on #1250
I can confirm that issue. You are doing everything right. This is an issue in InSpec

[2016-10-27 12:13] chris-rock commented on #1249
At this point, you need to checkout the gh-pages branch before the execution:

[code]

The rake script needs to be executed from root directory.

[2016-10-27 12:13] chris-rock commented on #1249
@ryankeairns I pushed the latest update

[2016-10-27 13:05] humboldtux commented on #1253
Thank you @chris-rock for the extensive report. It reminds me i need to use the inspec shell a little bit more.

[2016-10-27 17:05] jeremymv2 commented on #1234
I noticed the same for file testing when there's a space in the path, for instance: 'File C:/Program Files/foo/baz'

[2016-10-27 17:18] jorhett commented on #741
I used what was outlined in #541 but using a profile as described in #813 may be more consistent and appropriate for documentation

[2016-10-27 21:49] grimm26 opened #1261 "apt resource fails corner cases with optional second column"
### Description

If a deb source line is something like:
`deb      [arch=amd64] "http://apt.somewhere.com" trusty default`
or
`deb      [trusted=yes] "https://packages.chef.io/stable-apt" trusty main`
the read_debs method is thrown off and puts `arch=amd64` or `trusted=yes` as the url, etc etc.
### InSpec and Platform Version

inspec 1.2.0 on OSX El Capitan (running with kitchen-inspec on various

[2016-10-28 09:09] #1222 closed, assigned to chris-rock

[2016-10-28 09:19] #1253 closed, assigned to nobody

[2016-10-28 14:32] vikatgithub commented on #1250
Thanks @chris-rock.

[2016-10-28 17:29] ghost commented on #952
Doh, the bug isn't fixed, apologies for the false confirmation,  but I am still getting deprecation warning added to the test results.jason file. Can this issue be re-opened please?
Inspec 1.2.0,  rspec 3.5.0

[2016-10-28 18:28] vjeffrey commented on #952
@mshate123 i've re-opened the issue. has anything changed from when you first reported the issue?  if it has, or if you have some recent results you can paste/post here, that would be much appreciated, so we can ensure we can reproduce quickly and easily

[2016-10-28 23:18] #1219 closed, assigned to nobody

[2016-10-29 23:31] vikatgithub commented on #1251
@chris-rock I have implemented a sample profile with a custom matcher 'be_subset_of' to compare two lists: https://github.com/vikatgithub/inspec.examples

I need this matcher in several of my profiles. What is the best way to share it in multiple profiles? Profile inheritance? (I have not tried that yet)

Is there any other better way to do this with the existing matchers?

[2016-10-31 16:12] ghost commented on #952
@vjeffrey Hi Victoria, thank you for reopening. Nothing has changed except that we are using Inspec 1.2.0. The 'Deprecation warning..' text still appears in the test output before the {..test results.json...}

[2016-10-31 17:32] ahenroid opened #1264 "/etc/passwd and /etc/shadow checks fail on CentOS"
### Description

With 1.3.0 InSpec release, file mode checks now fail for /etc/passwd and /etc/shadow
on CentOS despite correct values on filesystem. Tests report "Invalid usergroup/owner
provided".

  ✖  os-02: Check owner and permissions for /etc/shadow (5 failed)
  ...
  Invalid usergroup/owner provided
  ...
  ✖  os-03: Check owner and permissions for /etc/passwd (7 failed)
  ...
  Invalid use

[2016-10-31 17:39] sean-horn opened #1265 "Solaris Sudo Not Always In /usr/bin/sudo"
### Description

The InSpec executable expects that sudo will be found in /usr/bin/sudo, however, some older Solaris installs install it after the fact in /usr/local/bin/sudo.

### InSpec and Platform Version

* Inspec Version:
* Solaris Version: Any modern supportable Solaris with a non-bundled install of sudo

### Replication Case

1. Run InSpec against Solaris system with `--sudo` option
2. If

[2016-10-31 17:40] sean-horn commented on #1265
Discussed with the developers. It's best to handle this one of two ways
- Fix the path on the Solaris side
- Use the --sudo_command option workaround to point at the desired sudo command

[2016-10-31 17:40] #1265 closed, assigned to nobody

[2016-10-31 18:30] artem-sidorenko opened #1266 "Undefined method `users` for group resource"
### Description

If you try to use `its('users')` on the `group` resource like [described](http://inspec.io/docs/reference/resources/group/) in the docs, you will get an error `undefined method 'users' for Group`:

[code]

### InSpec and Platform Version

[code]

Verified on Centos 7, ubuntu 16.04

### Replication Case

Create a group `docker`, user `vagrant`. Add `vagrant` to `docker`. Use follow

[2016-10-31 21:45] chris-rock commented on #1266
@artem-sidorenko That feature has not been implemented and is an error in our documentation caused by the fact that the cmp resource is a shared partial: https://github.com/chef/inspec/blob/master/docs/resources/group.md.erb#L39

[2016-10-31 21:45] chris-rock commented on #1266
Lets assume we would implement the `users` method, shouldn't it be something like:

[code]

[2016-10-31 21:46] chris-rock commented on #1266
We should at least fix the documentation

[2016-10-31 21:46] chris-rock commented on #1264
I can confirm that issue

[2016-11-01 15:48] grimm26 opened #1267 "Profile documentation is wrong for `supports`"
### Description

The documentation at https://github.com/chef/inspec/blob/master/docs/profiles.md indicates that you can specify multiple `supports`  to support multiple OS's:

[code]

I'm guessing these are joined with an AND or something because when I specify this list I get `Failed to complete #verify action: [This OS/platform (debian) is not supported by this profile.] on default-debian-710`

[2016-11-01 18:12] pburkholder opened #1268 "Bug or doc problem with `registry_key`"
### Description

http://inspec.io/docs/reference/resources/registry_key/ has this:

[code]

The `key` clearly has an issue with the double single quote, but it seems to indicate that key path can start with a backslash.  But using a path like `\SYSTEM\CurrentControlSet\services\Schedule' will result in something like:

[code]

### InSpec and Platform Version

[code]

### Replication Case

A cookbo

[2016-11-01 18:16] chris-rock commented on #1268
Actually both:
- we prefer not to have a leading backslash, therefore we should update the documentation
- since it is very clear what happens with a leading backslash, we should just ensure that the path is properly joined

[2016-11-01 18:40] robbkidd commented on #1219
Tuning back in after Summit, my opinion is that this issue is _not_ fixed. My understanding of PR #1254 is that the results will be whichever compliance profiles that appear in the latest 100 tools updated in a Supermarket. That might yield happy-enough results today, but I don't think it correctly or fully addresses the issue described here.

[2016-11-01 20:06] hj70ft opened #1269 "Windows Service State incorrectly interpretted for use in describe service."
### Description

When running an InSpec test against a Windows service and attempting to utilize the be_enabled option the code as written will only consider 'Auto' as a valid enabled state for a service, but this is incorrect as 'Manual' is also a valid state for a Windows server to be considered enabled.

The code effectively treats the enabled state as a binary with Auto being enabled and Manua

[2016-11-01 20:09] jeremymv2 opened #1270 "Improve error message when git is not installed and using a git fetcher"
### Description

When using inspec 1.2.1 I get "Unable to resolve master to a specific git commit" when attempting to run an inspec profile from a git repo when GIT binary is not installed.

### InSpec and Platform Version

1.2.1
ubuntu 14.04 no git installed

### Replication Case

Run an inspec profile from a git repo on a node that does not have git binary installed.

### Possible Solutions

If

[2016-11-02 23:05] chris-rock commented on #1269
@hj70ft Thanks for highlighting this issue. A PR is very welcome to fix it!

[2016-11-02 23:08] chris-rock commented on #1270
@jeremymv2 We will not support downloading from git on nodes that have not git installed. I agree, we should improve the error message? Is that the expected response?

[2016-11-02 23:19] chris-rock commented on #1238
@jburandt anything else we can help with?

[2016-11-02 23:21] chris-rock commented on #1261
@grimm26 Great finding. We need to adapt this regular expression then https://github.com/chef/inspec/blob/master/lib/resources/apt.rb#L92

[2016-11-02 23:32] chris-rock commented on #1226
we always generate gh-pages. We source content from `docs` and `web` directory. In this case its located here: https://github.com/chef/inspec/blob/f7b85c047f8ea5fcde759860da1dae3e04c3dbb4/docs/dsl_resource.md

[2016-11-03 15:17] hj70ft commented on #1269
Working on the details now. Code fix checks out on my end and seems to be working after tests. I'll get a PR done as soon as I figure out how to do all this stuff for the first time. I'm a bit of a noob when it comes to github.

[2016-11-03 15:24] chris-rock commented on #1269
@hj70ft No rush, let us know if we can help

[2016-11-03 16:20] jburandt commented on #1238
I think that will do it, thank you for the insight.

[2016-11-03 16:20] #1238 closed, assigned to nobody

[2016-11-03 18:31] artem-sidorenko opened #1275 "Output of describe command is sometimes broken"
### Description

Output of describe command is sometimes broken. If you use the example of replication case, you get following output:

[code]

Expected output:
[code]

I see here two problems:
 - The argument to the command is not on the line with command itself, but on the lines with tests (dup of #1234)
 - One of stdout tests is suppressed, however it gets checked and works properly in case of

[2016-11-03 20:58] chris-rock opened #1277 "Add file integration tests for docker"

[2016-11-03 20:58] #1264 closed, assigned to nobody

[2016-11-03 21:19] chris-rock commented on #1275
@artem-sidorenko Is this a duplicate of https://github.com/chef/inspec/issues/1234?

[2016-11-03 21:24] artem-sidorenko commented on #1275
@chris-rock the first issue - yes, the second - not. I've updated the description

[2016-11-03 21:56] NickRycar opened #1279 "--sudo does not appear to elevate privileges when evaluating local systems."
### Description

Using the inspec CLI to evaluate the contents of a local directory only executable by root fails, even when passing the --sudo and --sudo-password flags.

Same script provides expected results when:
* Run directly as the root user
* Run by the same user, prepended with sudo (as opposed to the provided flags)
* Run over SSH with the --sudo flag (works as expected)

### InSpec and P

[2016-11-04 09:09] #1277 closed, assigned to nobody

[2016-11-04 09:11] chris-rock commented on #1269
Solved with #1274

[2016-11-04 09:11] #1269 closed, assigned to nobody

[2016-11-04 09:53] chris-rock commented on #1227
This has been implemented in audit cookbook 2.0, kitchen-inspec 0.16

[2016-11-04 09:53] #1227 closed, assigned to nobody

[2016-11-04 17:15] #1250 closed, assigned to nobody

[2016-11-04 23:30] mengesb commented on #897
I get similar results when matching against tcp6 sets:

[code]

The netstat -na output that should be matched is:

[code]

Example output (snipped):

[code]

It gives me that parsing error for every port inspec test that I run.

[2016-11-05 00:13] username-is-already-taken2 commented on #1214
Hello @modille My name is Gary

My colleague and I are learning ruby and your suggestion might be something we could get our teeth stuck into, can't promise it would get commited into core but we might be able to get something running that you could import into a compliance profile as a library and use.

Could you give me your thoughts on the spec.

We may have to get a stear later with resource n

[2016-11-06 04:20] pburkholder opened #1281 "registry_key fails when item has a '.' in name"
### Description

Checks like this where the item, 'explorer.exe' has a dot ('.') in the name, always results in a NoMethodError:

[code]

results in

[code]

### InSpec and Platform Version

1.4.1

### Replication Case

Tried this in two 2012R2 instances...

[code]

Try the above example...

### Possible Solutions

If you have already ideas how to solve the issue, add them here.

### Stacktrace

P

[2016-11-07 04:17] chris-rock commented on #1236
An idea from @arlimus
`inspec exec hardening/ssh-hardening -o supermarket_url=https://supermarket.my.com hardening/os-hardening -o supermarket_url=https://supermarket2.my.com`

[2016-11-07 13:20] chris-rock opened #1282 "`xinetd` resource does not create the expected results for SUSE"
### Description

As described in https://discourse.chef.io/t/sles12-false-ve-test-result/9635/5, the `xinetd` resource does not create the expected results for SUSE

[code]

### InSpec and Platform Version

Chef Compliance 1.5.6

[2016-11-07 15:28] modille commented on #1214
Thanks for being willing to contribute this, @username-is-already-taken2.

I'm not entirely sure about the criteria around enabled/disabled/scheduled -- for example, I think other possible states are Queued and Unknown, so you'd have to account for those.

Otherwise, those matchers would be very helpful in my opinion.

[2016-11-07 16:28] chris-rock opened #1283 "Vendor dependent profiles in archive"
### Description

Lets assume we have a meta-profile like https://github.com/chris-rock/acme-inspec-profile

[code]

That depends on a couple of other profiles:

[code]

Now we can use InSpec to archive the profile:

[code]

Only the profile is packaged, not the dependencies.

[code]

I still need all dependencies available and accessible at their location during runtime

### InSpec and Platform Ve

[2016-11-07 16:31] arlimus commented on #1283
LGTM :+1:

Also needed for air-gapped environments and self-contained packaging of profiles.

[2016-11-07 20:06] chris-rock opened #1284 "InSpec check should show inspec.yml errors"
`inspec check /path/to/profile` should verify that the yml is valid.

[code]

[2016-11-07 21:07] username-is-already-taken2 commented on #1214
Hi

Together @cdbeard2016 and I have made some good progress with this and we have something ready for testing

changed a couple of things, the resource is now `windows_task` (much quicker to type :)
and we have expanded the coverage to cover some additional scenarios.

Here are some examples

[code]

feel free to clone it from here https://github.com/username-is-already-taken2/windows_task
or

`i

[2016-11-07 23:49] mhedgpeth commented on #1283
I really like this approach, it will serve us well.

One potential confusing aspect is that a user should **not** look to the Compliance UI for dependencies, or else can do so but look (on the UI) inside of the profile as a similar tree level.

To me that's straightforward, I'm just saying keep it straightforward at all levels.

[2016-11-08 04:05] robbkidd commented on #1255
Prospective fix for chef/supermarket#1454 opened for review in chef/supermarket#1463. Would love :eyes: and feedback.

[2016-11-08 10:40] username-is-already-taken2 commented on #1281
Hi there

I thought I would take a punt last night and see if I could find where the problem lies (I'm still find my way with ruby/pry)

the registry_key resource looks to be OK IMHO, the values looks to gathered correctly and the def registry_property_value does evaluate correctly if it has the right property :)

but at this point the property is now an array `["explorer", "exe"]
`
digging a bit

[2016-11-08 15:12] username-is-already-taken2 commented on #1281
Me again, I have a workaround for the time being, calling the `have_property_value` directly

[code]

Hope that helps

Best Regards

Gary

[2016-11-09 02:04] AnotherWorkingNerd opened #1287 "How is the bash resource different from the command resource."
I feel this is documentation that will lead to much confusion. If I compare http://inspec.io/docs/reference/resources/bash/ with http://inspec.io/docs/reference/resources/command/ They appear to be very similar with the following exceptions:
- The bash resource has an example in the Syntax section that the Command does not.
- The Command resource page has many examples at the bottom of the page in

[2016-11-09 04:27] chris-rock opened #1288 "Add omnibus package uninstall description"
### Description

Currently, we do not have specific description for uninstallation of omnibus package

### InSpec and Platform Version

1.x

### Possible Solutions

Similar to https://docs.chef.io/uninstall.html#chef-dk

[2016-11-09 20:04] username-is-already-taken2 commented on #1283
Looks good

[2016-11-09 20:15] username-is-already-taken2 commented on #885
I know it might sound strange but could we consider also adding
--version

Which i know is two more chars then if I just typed version but when you are auto pilot ;)

Would then match chefdk etc.

Also and I really don't know what's involved but having tab complete would be pretty cool :)

[2016-11-09 20:17] chris-rock commented on #885
@username-is-already-taken2 tab completion is available via `eval "$(inspec env)"`

[2016-11-09 20:26] username-is-already-taken2 commented on #821
I like the idea of passing a config to the init command, I've been thinking around the idea of creating dynamic profiles so this might help with this.

[2016-11-10 20:06] Paladin commented on #534
Maybe even a resource for the boolean with a syntax like:

describe selinux_boolean 'httpd_can_network_connect' do
  it { should be_true }
end

(or be_on, to make it align with the results of getsebool, if seems better.)

[2016-11-10 20:22] vikatgithub opened #1293 "Passing options to SSH target to enable tty for sudo"
InSpec version: 1.4.1

I am trying to audit the .ssh/authorized_keys file for a user different from the target user. And the --sudo-options or --sudo-comands flags do not work, because the sudo command requires tty.

This can be verified by using simple ssh commands like this:

[code]

Note the '-t' option to ssh that made the difference.

I created a InSpec control with command resource

`describ

[2016-11-11 16:17] vikatgithub commented on #1293
Also tried the --shell option:
`inspec exec control-path -i key/path --sudo --shell -t ssh://user1@hostname`

Still getting same error

[2016-11-11 18:10] donwlewis commented on #533
This feature is currently available now correct?  I am attempting to follow what I think is the proper configuration for this to work, and getting the following error message:

[code]

I am currently just using a simple profile that is using include_controls to include existing profile controls.

[2016-11-11 19:16] vikatgithub commented on #1293
This issue shows up only if 'requiretty' option is enabled in the sudoers file on target host.

[code]

In my environment,  I cannot change that option on the target hosts.

[2016-11-12 21:07] chris-rock commented on #783
@mhedgpeth @jeremymv2 added file permission support for Windows. Do we need anything else?

[2016-11-12 21:10] #1255 closed, assigned to nobody

[2016-11-14 15:27] chris-rock commented on #783
@mhedgpeth I am closing this issue. Please reopen if it continues to be an issue

[2016-11-14 15:27] #783 closed, assigned to chris-rock

[2016-11-14 16:28] chris-rock opened #1294 "inspec compliance upload of a meta-profile"
### Description

`inspec compliance upload` uploads profiles to Chef Compliance. With #1283 we need include two steps in that process:
- vendor a profile (download all dependencies)
- upload the vendored profile

### InSpec and Platform Version

1.x

[2016-11-15 15:34] chris-rock opened #1295 "inspec compliance profiles should support automate as a backend"
### Description

The inspec subcommand `compliance` should be able to work with the automate backend. We should configure everything during `inspec compliance login`. All other subcommands should then work as expected eg. `inspec compliance profiles` and `inspec exec compliance://namespace/name`

### InSpec and Platform Version

1.x

[2016-11-16 06:36] lamont-granquist commented on #1005
There's going to be a lot of duplication with ohai here.  Highly encourage you to look at that code, since detecting virtualization and cloud platforms is something that we've been fighting with there for years now.

[2016-11-16 06:54] chris-rock commented on #1005
Awesome @lamont-granquist Lets see how we can reuse that.

[2016-11-16 10:07] poshpaws opened #1298 "profile upload fails to compliance server"
### Description

Simple inheritance test profile (attached)
attempting to upload it yelds a 500 error :  Error: Response from server was: exit status 1 [status code 500]

inspec cli upload gives a slightly more verbose output , but fails:

I, [2016-11-16T10:53:25.952791 #14377]  INFO -- : Checking profile in IGM_CIS-RHEL6-L1
I, [2016-11-16T10:53:25.953354 #14377]  INFO -- : Metadata OK.
I, [2016-1

[2016-11-17 22:11] ricardolupo opened #1299 "`inspec check` does not error on older `its(:matcher)` method calls"
### Description

`inspec check` does not flag matches that use the old matcher methods

### InSpec and Platform Version

InSpec version 1.4.1
== Operating System Details

Name:      Windows Server 2012 Standard
Family:    windows
Release:   6.2.9200
Arch:      x86_64

== Operating System Details

Name:      mac_os_x
Family:    darwin
Release:   10.12.1
Arch:      x86_64

== Replication Case
Create

[2016-11-18 00:11] jeremymv2 opened #1300 "custom resource subclass of existing inpec resource no longer works"
### Description

I’ve got a simple custom profile with a custom library that is a subclass of `JsonConfig` resource:
[code]

That used to work, but now I get
[code]

is that expected?

### InSpec and Platform Version

inspec 1.4.1  Mac OSX

### Replication Case

The profile is here: https://github.com/jeremymv2/test-inspec/tree/master/test/integration/profile

[2016-11-18 10:58] jkerry opened #1301 "support JUnit format"
### Description

JUnit output format support would be nice to allow for CI systems like jenkins to aggregate and report run status

### InSpec and Platform Version

inspec version: 1.4.1
OS: Any

### Replication Case

--format JUnit should be supported

### Possible Solutions

Looking at the source it seems like a more robust abstracted format layer might be justified before this is added although

[2016-11-18 11:58] chrisevett commented on #1301
+1

[2016-11-18 12:21] stevaaa commented on #1301
👍
I'm looking for that tooooooooo :(

[2016-11-18 20:42] donwlewis commented on #1298
I seem to be having the same issue.  Here is the error message I am getting on the compliance server:

[code]

[2016-11-18 20:43] donwlewis commented on #1298
Seems like you are including existing controls as well.  Mine is a simple include_controls only:

[code]

[2016-11-19 08:02] poshpaws commented on #1298
@donwlewis I tried both simple skip's and then tried the overloaded control as all the examples show the overloaded version . I figured it was worth a try.

To be honest it looks like your not running a inspec compliance login first or if you are .then maybe this is another issue ;)

[2016-11-20 06:25] donwlewis commented on #1298
Yes I am running the inspec compliance login before, and I get the same
error.  But that log message is what I get from the compliance server logs
when I am trying to upload via the web UI.

On Sat, Nov 19, 2016, 12:03 AM poshpaws notifications@github.com wrote:

[2016-11-20 13:26] jkerry commented on #951
Anyone have a color palate suggestion that is preferred? Pretty sure this can be toggled pretty easily in the cli rspec formatter class

[2016-11-20 23:50] walterdolce commented on #71
Hi @chris-rock, I see this is not yet implemented in 1.4.1.
Should the milestone be updated to something else?

Is there any work being done already by someone else you are aware of?
I ask as I'd like to have this implemented and would be happy to contribute to this by working on it.

[2016-11-20 23:58] walterdolce commented on #71
Probably related: given Inspec has ["Serverspec at the core"](https://blog.chef.io/2015/11/04/the-road-to-inspec/), were the [docker related resources implemented in Serverspec](http://serverspec.org/resource_types.html#docker_container) purposefully removed in Inspec?
(given it's was initially an extension of Serverspec I assume all the resources available in Serverspec would be available out of

[2016-11-21 04:29] chris-rock commented on #71
@walterdolce InSpec is not using Serverspec anymore. Part of the docker resource got implemented here: https://github.com/dev-sec/cis-docker-benchmark/blob/master/libraries/docker.rb

[2016-11-21 04:57] #1261 closed, assigned to nobody

[2016-11-21 05:23] chris-rock commented on #71
@walterdolce Could you share the specific use case that you would like to run with InSpec. This helps to prioritize the work to get this into InSpec.

[2016-11-21 05:24] chris-rock commented on #1299
@ricardolupo Could you share which matcher and resource you are using?

[2016-11-21 09:48] walterdolce commented on #71
I see. Thank you for clarifying.

Sure. There are many use cases I can see. From simply verifying a container gets created and its status is asserted (just like you shown above), to going *in* the container and verifying what's _inside_ the container; or to verify two containers are linked; or verifying two containers are part of the same network; etc.

Some examples expressed in [Gherkin](https:/

[2016-11-21 19:16] arlimus commented on #951
One more confirmation for this one from this morning: We demoed it via test-kitchen and were running on dark background. Any failed results were so hard to read, that we must really switch this. We'll get our UX expert on it. Let's get this closed quickly.

We have overridden the formatter for reporting, but it should stay very easy :grin:

[2016-11-21 19:18] arlimus commented on #951
@jkerry yeah, spot on: https://relishapp.com/rspec/rspec-core/v/2-14/docs/formatters/configurable-colors
I'd love to disconnect it slightly from RSpec core, but have it pull these colors in if they are available.

[2016-11-21 19:20] arlimus commented on #951
pulling this ticket into waffle :wink: https://waffle.io/chef/inspec

[2016-11-21 19:42] arlimus commented on #951
cc @Hannah-radish

[2016-11-22 12:49] poshpaws opened #1309 "is this a typo.... inpsec?"
### Description
when running a check on my profile , I get a strange stacktrace that seems to sugest a typeo :

$inspec check IGM_CIS-RHEL6-L1
/opt/inspec/embedded/lib/ruby/gems/2.3.0/gems/inspec-1.4.1/lib/bundles/inspec-compliance/target.rb:43:in `resolve': uninitialized constant Compliance::Fetcher::Inpsec (NameError)
Did you mean?  Inspec
	from /opt/inspec/embedded/lib/ruby/gems/2.3.0/gems/insp

[2016-11-22 13:03] alexpop commented on #1309
It was indeed, sorry about that. Looking at the CHANGELOG, it looks like it was fixed in 1.5.0. Can you please update?

[2016-11-22 13:05] poshpaws commented on #1309
sorry for the noob question , can you point me at a package for 1.5.0 or is it a gem to install ?

[2016-11-22 13:16] alexpop commented on #1309
It's just a gem install.

[2016-11-22 15:56] vjeffrey opened #1310 "Prompt for token in inspec compliance login > automate"
### Description

As discussed here https://github.com/chef/inspec/pull/1297, we should prompt the user for token when using the cli command: ` inspec compliance login > automate `

The user would only input server, user, and ent to begin with, and then be prompted to enter the dc token or user token:

inspec compliance login > automate http://delivery --user=admin --ent=cd

Please specify a token

[2016-11-22 15:57] vjeffrey opened #1311 "Introduce colors to the inspec compliance cli"
### Description

Introduce colors to inspec compliance cli, as discussed here: https://github.com/chef/inspec/pull/1297

cc @hannah-radish

[2016-11-22 16:00] vjeffrey commented on #1310
https://github.com/arlimus/inquirer.rb

[2016-11-22 18:26] walterdolce commented on #71
Hmm. I think I'm having second thoughts regarding my contributions on this issue.
I suspect I'm treating InSpec as a normal testing tool in my context, while instead it's something which specifically targets security compliance related checks. Please correct me if I'm wrong.

What I wanted in my context is to verify the existence of one or more containers and from there develop more complex scenar

[2016-11-23 00:15] hannah-radish commented on #951
<img width="604" alt="screen shot 2016-11-22 at 4 14 07 pm" src="https://cloud.githubusercontent.com/assets/18180779/20547106/c50b51c6-b0ce-11e6-9088-c9e763e0e85a.png">
<img width="566" alt="screen shot 2016-11-22 at 4 14 16 pm" src="https://cloud.githubusercontent.com/assets/18180779/20547107/c5c8cbd4-b0ce-11e6-9a60-d0e08fae8e5a.png">

Updated the style guide here as well: https://github.com/chef

[2016-11-23 03:46] vjeffrey commented on #1311
![image](https://cloud.githubusercontent.com/assets/10341541/20550609/7c7bf5e6-b105-11e6-9a27-3754e04ae1f2.png)

[2016-11-23 05:25] chris-rock commented on #71
@walterdolce Thank you very much for the use case.

Those resources have never been part of InSpec. We rewrote all resources from scratch. We learned a lot from Serverspec. Defining resources in InSpec is much easier than in Serverspec. Also we allow users to define their own resources outside of the core project, which is especially useful in organizations that have custom applications. We implem

[2016-11-23 05:28] chris-rock commented on #71
@atomic111 Do you mind adding the docker resource from https://github.com/dev-sec/cis-docker-benchmark to core inspec. We could work from there then.

[2016-11-23 06:26] poshpaws commented on #1309
confirmed fixed in 1.5.0

[2016-11-23 06:26] #1309 closed, assigned to nobody

[2016-11-23 10:36] walterdolce commented on #71
That's great. Am I right in saying this is not currently documented on the official InSpec website, though?
A quick googling gave me only [this](https://tech.spaceapegames.com/2016/09/23/custom-inspec-resources/) (which I haven't read yet).

I think documenting how to create custom resources it will help boosting the proliferation of those made by the community and to have the same to be potential

[2016-11-23 15:44] chris-rock opened #1316 "InSpec tries to re-fetch profiles even if lockfile exists"
InSpec creates a `inspec.lock` to ensure we execute the right profiles. If dependencies are vendored, we should not try to refetch profiles since they are available locally.

This is required to ship #1283

[2016-11-23 15:50] walterdolce commented on #71
I think I was wrong. I just went through the docs again and [I found this](http://inspec.io/docs/reference/dsl_resource/).

[2016-11-23 19:00] walterdolce opened #1318 "command resource check doesn't fail when it should"
### Description
Provided from the terminal I get:
[code]

Given the following control:
[code]

When I run InSpec it doesn't fail.
I would expect it to fail given the test says "make sure there's no executable named `telnet` callable from within the $PATH".

### InSpec and Platform Version

InSpec version is `1.0.0`
Platform info:
[code]

### Replication Case
You should be able to run the control a

[2016-11-24 11:00] walterdolce commented on #1318
I am investigating this issue while someone comes in and replies.

[This line of code](https://github.com/chef/inspec/blob/master/lib/resources/command.rb#L51) is being executed and it's returning:
```bash: line 0: type: which telnet: not found```

But if I do:
[code]

Or:
[code]

Why are commands being run this way?
[code]

[2016-11-24 11:09] walterdolce commented on #1318
Hm. I guess I should change:
[code]

To just:
[code]

Or change the expectation:
[code]

[2016-11-24 11:10] walterdolce commented on #1318
I think I answered my own question. Will use:
[code]
Which I find more readable and does strip the dependency on `which` out.

[2016-11-24 11:10] #1318 closed, assigned to nobody

[2016-11-24 11:11] alexpop commented on #1316
Can be reproduced with this profile: [acme-inspec-profile.tar.gz](https://github.com/chef/inspec/files/611148/acme-inspec-profile.tar.gz)

When inspec check is targeting the unpacked profile.

[2016-11-24 11:12] alexpop commented on #1316
`inspec check` failure:
[code]

[2016-11-24 11:14] alexpop commented on #1316
Same issue with `inspec json`:
[code]

[2016-11-24 11:35] alexpop commented on #1316
Running `inspec check ~/profile/dir/`

When the `check` method in `cli.rb` calls `Inspec::Profile.for_target`, it's not passing a `:cache` option for `opts`.
Because of this, the `for_path` method in `profile.rb` is not calling `copy_deps_into_cache`.

When running `inspec exec ~/profile/dir/`, `runner.rb` initializes @cache and passes it to `Inspec::Profile.for_target`. This triggers the `copy_de

[2016-11-24 13:29] alexpop commented on #1316
https://github.com/chef/inspec/compare/ap/check-vendor-cache

I fixed the `check` and `json` when targeting a profile unpacked in a directory.
Fixed check of tarball by providing system cache.

[2016-11-24 16:26] alexpop opened #1322 "inspec.lock not loaded from tarball profiles"
[acme-inspec-profile.tar.gz](https://github.com/chef/inspec/files/611796/acme-inspec-profile.tar.gz)

Using this ^ profile as an example `inspec check/exec/json`, the `inspec.lock` file is not found and because of that vendored dependencies are not used.

Output:
[code]

[2016-11-25 11:58] alexpop opened #1324 "Local path dependencies are not vendored"
I have a meta profile with the following inspec.yml:
[code]

When I vendor it, I get the following debug output:
[code]

In the `vendor` directory of the profile, I only get 4 archives named after their sha256:
[code]

[2016-11-25 18:26] chris-rock opened #1325 "inspec archive vendoring"
### Description

We we call `inspec archive` I would expect that the profile and all its dependencies are packaged into one archive. Therefore inspec creates a package that can be executed standalone.

If users want to archive all dependencies with an archive, they just have to call the `inspec vendor` command before the `inspec archive` command is executed.

Therefore, vendoring is optional for `

[2016-11-25 18:33] #1301 closed, assigned to nobody

[2016-11-25 19:26] walterdolce opened #1326 "InSpec loads whichever *.rb file it finds along the way causing itself to fail"
### Description

I started implementing an InSpec profile and I obviously wanted to do it by adopting a BDD/TDD workflow. I have setup the components required to test various scenarios for the profile. You can have a look at the overall structure [here](https://github.com/walterdolce/inspec-profile-telnet/tree/feature/add-initial-integration-tests-setup).

The problem is simple, when running `insp

[2016-11-25 19:59] chris-rock commented on #1326
@walterdolce I cannot reproduce that issue:

[code]

[2016-11-25 21:02] walterdolce commented on #1326
@chris-rock you didn't checkout the feature branch

[2016-11-25 22:53] chris-rock commented on #1326
@walterdolce I can confirm that issue now. The old versions of InSpec allowed placing tests in `test` directory instead of `controls`. PR #1327 is removing this behavior. Once this is merged, your code works just fine. Thank you for reporting this issue.

[2016-11-26 15:51] walterdolce commented on #1326
Thank _you_ @chris-rock for the promptly PR. Will be waiting for it to be merged. 🍺

[2016-11-28 10:21] #1326 closed, assigned to chris-rock

[2016-11-28 12:04] chris-rock commented on #1326
@walterdolce InSpec 1.6.0 is released now

[2016-11-28 12:11] walterdolce commented on #1326
![](https://media.tenor.co/images/65175072d8f08782faa0dab522fb00ef/raw)

[2016-11-28 12:52] vjeffrey commented on #951
fixed by: https://github.com/chef/inspec/commit/91fe22f044b85a55f85078408f3dfbb57e2d90d2

[2016-11-28 13:29] vjeffrey commented on #1311
@hannah-radish can you post the ansi color codes for each of those colors, please?

[2016-11-28 14:09] chris-rock commented on #951
Thank you @vjeffrey @hannah-radish for the great improvement

[2016-11-28 14:09] #951 closed, assigned to arlimus

[2016-11-28 14:12] chris-rock commented on #1294
We we call `inspec archive` I would expect that the profile and all its dependencies are packaged into one archive. Therefore inspec creates a package that can be executed standalone.

If users want to archive all dependencies with an archive, they just have to call the `inspec vendor` command before the `inspec archive` command is executed.

Therefore, vendoring is optional for `inspec archive` b

[2016-11-28 14:13] chris-rock commented on #1325
Now covered in #1294

[2016-11-28 14:13] #1325 closed, assigned to nobody

[2016-11-28 16:41] jeremymv2 commented on #1300
@chris-rock took a little peek into this.  The uninitialized constant error above can be easily fixed by adding `include Inspec::Resources` to the anonymous class that gets created for providing the profile context to be instance_eval'd against, just after this line:  https://github.com/chef/inspec/blob/master/lib/inspec/library_eval_context.rb#L36

However, the next issue is that the `node` objec

[2016-11-28 16:47] chris-rock commented on #1300
Is

[code]
working?

[2016-11-28 16:52] jeremymv2 commented on #1300
@chris-rock No, but `::Inspec::Resources::JsonConfig` does.  I believe that's due to https://github.com/chef/inspec/blob/master/lib/inspec/library_eval_context.rb#L43  which creates a overlapping namespace so that there is only the `.resource` singleton method available under `Inspec`.

[2016-11-28 22:20] vikatgithub opened #1330 "parse_config resource check fails for dotted property name"
### Description

The 'parse_config' resource checks fails if the config file property name has dots

### InSpec and Platform Version
InSpec 1.4.1

### Replication Case

If the config file has key value pairs like:

```module.user.name = 'foo'```

The parse_config check like this:

```its ('module.user.name') {  should eq 'foo' }```

will fail with following error:

```undefined method 'user' for n

[2016-11-29 07:02] Wing924 opened #1332 "RegExp in processes resource can't match long-run process"
### Description

It use ```([^ ]+)``` to match each ps columns in file: lib/resources/processes.rb.
But as man page of ps says, start format may be mmm dd or HH:MM:SS.
Because ```mmm dd``` comtains space, it can't be match with the RegExp.

man of ps
[code]

### InSpec and Platform Version

Tested against 1.5 and 1.6

### Replication Case

[code]

It will output
[code]

### Possible Solutions

Cha

[2016-11-29 08:09] Wing924 commented on #1332
CI test failed on Oracle-linux installing openssh-server phase :(

[2016-11-29 18:34] vjeffrey commented on #1311
wip: https://github.com/chef/inspec/commit/6f04cdda391154c8c9a43d922b047c9d4146e14b formatting is off. looking into it.

[2016-11-29 22:46] #1316 closed, assigned to nobody

[2016-11-29 22:51] chris-rock opened #1335 "Link kitchen-inspec Github project from inspec.io"
At the moment, we do not link to https://github.com/chef/kitchen-inspec to http://inspec.io/docs/reference/plugin_kitchen_inspec.html

[2016-11-29 23:44] #1322 closed, assigned to alexpop

[2016-11-30 09:13] #1332 closed, assigned to nobody

[2016-11-30 17:22] #1295 closed, assigned to nobody

[2016-11-30 21:30] chris-rock opened #1338 "Package Uninstall instructions"
We should add uninstall instructions to our website. Those are analog to https://docs.chef.io/uninstall.html#chef-dk

[2016-12-01 14:13] chris-rock opened #1339 "Documentation of InSpec Compliance CLI"
### Description

inspec.io does not contain information about the Compliance CLI. We should add information:

[code]

### Version

1.6.0
http://inspec.io

[2016-12-01 15:10] #1294 closed, assigned to nobody

[2016-12-02 11:55] chris-rock opened #1341 "vendoring a profile should not have archives"
### Description

When we vendor a profile like:

[code]

we get the following result:

[code]

If we use git as source in our `inspec.yml`, we get a different result:

[code]

results in:
[code]

As defined in #1283 all vendored profiles should be always extracted and placed into `vendor` directory.

### InSpec and Platform Version

1.7.0

### Possible Solutions

Extract tars after download

[2016-12-05 22:21] chris-rock opened #1344 "Document package repositories"
### Description

While a download page is great, often users just want to use package repositories. Since we have this available, we should document this on our website/readme.

Further information is available at https://docs.chef.io/packages.html

[2016-12-07 16:50] aaronlippold commented on #1279
+1 @chris-rock @arlimus @alexpop Have we had a chance to look into this one? This was put in by one of the MITRE team folks.

[2016-12-07 20:48] emilyay opened #1346 ""Soft Pass" Feature"
Currently, "if" and "only_if" can be used to execute tests only when certain criteria is satisfied. If the criteria is not satisfied, then the test is skipped. The output indicates the test was skipped due to only_if conditions and it is counted as a skipped test. However, it would be nice to implement a "soft pass" feature that you can use with "if/only_if" that would output information that the

[2016-12-07 20:56] jaxxstorm opened #1347 "Correct way to execute commands in libraries"
### Description

I'm trying to execute a command from a library, and assign the result to a variable as normal. I read the [execution docs](http://inspec.io/docs/reference/ruby_usage/) here and it seems the right way to do this is:

[code]

However, when I try to this, I get the following:

[code]

I've worked around this for the time being by executing with backticks, but it explicitly states thi

[2016-12-07 21:28] chris-rock commented on #1347
@jaxxstorm Seems like you want to transfer a file. In that case you can do:

- use cat: `@raw_xml = inspec.command('cat /command/that/outputs/xml')`
- use `file` resource: `inspec.file('/some/command/that/outputs/xml').content`

The `file` resource has the charm that it is platform independent:

[code]

References:
- http://inspec.io/docs/reference/resources/command/
- http://inspec.io/docs/refere

[2016-12-07 21:30] chris-rock commented on #1330
This is related to https://github.com/chef/inspec/issues/875. Right now, you need to use `its (['module','user','name']) { should eq 'foo' }`

[code]

Reference:
- http://inspec.io/docs/reference/resources/json/

[2016-12-07 21:48] jaxxstorm commented on #1347
Hi @chris-rock actually it's not transferring a file, the command outputs XML to stdout.

Your shell command example got me where I needed to go though. I used this:

[code]

Thanks for clarifying!

[2016-12-07 21:48] #1347 closed, assigned to nobody

[2016-12-08 14:22] jaxxstorm opened #1350 "inspec-archive should create a zip with version string"
### Description

When packaging up a profile using `inspec archive` the tarball/zip that gets created is simple `<profilename.tar.gz>`

This makes it difficult to do custom downloads without chef compliance server and other distribution methods, as versioning them becomes difficult.

### InSpec and Platform Version

`inspec 1.7.1`
`train 0.22.0`

### Replication Case

Simple create a profile and r

[2016-12-09 11:21] chris-rock opened #1353 "Allow use of `include_controls` multiple times"
### Description

Currently we do not support calling `include_controls` multiple times for the same profile. Therefore the following example will not provide the expected results:

[code]

### Possible Solutions

From the user perspective it should not matter if I call `include_controls` multiple times, since all controls have a unique identifier per profile.

### InSpec and Platform Version

1.7.

[2016-12-10 19:46] nevins-b opened #1356 "Port resource on Linux should try ss as well"
### Description

Currently the port resource for linux uses netstat, on newer verions (like Centos 7) netstat has been replaced by ss.

### InSpec and Platform Version

- inspect 1.72
- Centos 7
### Replication Case

with centos/7 platform
[code]
### Possible Solutions

If netstat is not available try ss

[2016-12-12 02:13] makotots opened #1358 "JSON resource's error message is missing filename when file is not found"
Hello!

### Description

In an example below, I expect filename is printed in its error message:

[code]

### InSpec and Platform Version

InSpec version : 1.7.1
Platform Version: macOS Sierra 10.12.1

### Replication Case

See demo.rb above - run a test with a non-existent json filename.

### Possible Solutions

According to resources/json.rb, the error message refers to @conf_path, which is unde

[2016-12-12 17:58] poshpaws opened #1360 "inspec compliance upload fails on automate server"
### Description
inspec compliance upload should work

### InSpec and Platform Version
1.7.1 mac s x
Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using

### Replication Case
build a compliance profile and upload it.

### Possible Solutions

none
### Stacktrace

from workstation:
[code]

server error log:
[code]

[2016-12-12 18:01] poshpaws commented on #1360
inspec compliance profiles
An unexpected error occurred (HTTP 404): Not Found
Could not find any profiles

so profile is already vendored is bogus.

[2016-12-12 18:01] chris-rock commented on #1360
@poshpaws Right now, Compliance in Automate is shipped with a feature flag. Have you activated it? https://docs.chef.io/install_chef_automate.html#compliance

[2016-12-12 18:02] chris-rock commented on #1360
Not sure what you mean by that?

[2016-12-12 18:17] poshpaws commented on #1360
yes its enabled

- 2016/12/12 18:59:31 [error] 15059#0: *22822 open() "/opt/delivery/embedded/nginx/html/compliance/profiles/admin" failed (2: No such file or directory), client: 192.168.1.4, server: automate.lab.sus.private, request: "GET /compliance/profiles/admin HTTP/1.1", host: "automate.lab.sus.private"

/opt/delivery/embedded/nginx/html/compliance is missing

Now the bogus statement - the i

[2016-12-12 18:47] anniehedgpeth opened #1361 "inspec exec doesn't work for SSH"
### Description

I'm giving a presentation on InSpec tonight and can't run a test on a remote host.

### InSpec and Platform Version

InSpec version 1.7.2
OS X El Capitan
Version 10.11.6

### Replication Case
With my Azure vm running, I ran an `inspec exec` command to run a profile from github to an Azure vm by ssh'ing into it, and it would not allow me. I was, however, able to run my github profi

[2016-12-12 18:59] chris-rock commented on #1361
@anniehedgpeth Are you able to log into the machine via `ssh` command?

[2016-12-12 19:00] chris-rock commented on #1361
It also looks like you used your public key instead of the private key: `-i /Users/anniehedgpeth/.ssh/id_rsa.pub`. It should be `-i /Users/anniehedgpeth/.ssh/id_rsa`

[2016-12-12 19:01] anniehedgpeth commented on #1361
I was. I deleted that machine, though, so I'm going to try another. Michael told me to use public - ha. I'll change that, too.

eta: was misunderstanding about pub vs private, but I get it now - thanks

[2016-12-12 19:04] chris-rock commented on #1361
The public key must be set in `~/.ssh/authorized_keys` on the server. See https://www.digitalocean.com/community/tutorials/how-to-configure-ssh-key-based-authentication-on-a-linux-server

If you use `ssh-add` InSpec can pick up your local ssh config as well.

[code]

[2016-12-12 19:09] chris-rock commented on #1360
Ah I see. InSpec vendors all dependencies of a profile. We should change the terminology to `Profile dependencies are already vendored` More information about that is available here: http://lollyrock.com/articles/chef-compliance-meta-profiles

[2016-12-12 19:09] chris-rock commented on #1360
Which version of Automate are you using? This feature is available since 0.6.6 https://discourse.chef.io/t/chef-automate-release-0-6-6/9899

[2016-12-12 19:13] anniehedgpeth commented on #1361
Awesome, that works. Thanks so much, @chris-rock !!!!

[2016-12-12 19:13] #1361 closed, assigned to nobody

[2016-12-13 01:20] qvallance-ctc commented on #738
The documentation for the [auditd_rules](http://inspec.io/docs/reference/resources/auditd_rules/) resource recommends using 'contain_match' as the preferred way of matching lines for audit >= 2.3.  If 'contain_match' is being deprecated, what is the preferred method for matching lines with audit >= 2.3?   Also, noticed that using 'contain_match' with the auditd_rules always returns success when ma

[2016-12-13 17:27] burtlo commented on #1338
This issue is ...
![_157-](https://cloud.githubusercontent.com/assets/244426/21151157/16dd4708-c127-11e6-9e94-a59c5b24dc74.jpg)

[2016-12-14 01:11] tas50 commented on #931
I'm having a similar problem that I think may have the same root cause. I'm installing and enabling nginx on Debian 8, which is systemd based, but the package installs a sys-v script. Inspec correctly detects the service is running, but not that it is enabled for boot. I suspect this is because 'systemctl status nginx' properly returns the status, but 'systemctl is-enabled nginx' fails as the unit

[2016-12-14 08:13] stevendanna commented on #931
## The original report

The case in the original report works as expected for me:

[code]

## @tas50 follow-up
@tas50 what you are describing would be the opposite of the original report wouldn't it?  In the original report, `systemdctl is-enabled` (which inspec uses) was working as expected, whereas in your case `is-enabled` returns incorrect results.

Note, on debian-8 using the latest bento ima

[2016-12-14 12:33] zambien commented on #431
I would also like to see this added.

[2016-12-14 14:22] arlimus commented on #1350
Love it, great suggestion @jaxxstorm !!

[2016-12-14 14:23] chris-rock commented on #1350
@jaxxstorm I full agree with that. Not sure why this hasn't been brought up before 👍

[2016-12-14 14:28] chris-rock commented on #1358
@makotots Great finding. Are you pushing up your PR again? I am happy to help with the unit tests.

[2016-12-14 14:29] chris-rock commented on #1356
Great idea @nevins-b Are you pushing a PR to add this support?

[2016-12-14 14:33] nevins-b commented on #1356
I've started coding up a solution, I'll submit a PR once I have it closer to ready.

[2016-12-14 15:25] arlimus commented on #1217
Duplicate of #1189

[2016-12-14 15:25] #1217 closed, assigned to nobody

[2016-12-14 15:27] arlimus commented on #1189
We have talked internally; We will be moving to HTTPS and will check if we set up our own buckets for hosting the site or manage to keep it here github. We'll talk to some friends at our SSL provider and see what what the next steps are.

[2016-12-14 16:49] #1350 closed, assigned to nobody

[2016-12-15 02:41] makotots commented on #1358
@chris-rock Can you take a look at this PR (1363, not 1345) and help with the failed functional test?  Thanks!

[2016-12-15 06:44] eheydrick commented on #516
I'd like the ability to check virtualenvs too. A workaround is to use the `command` resource to run pip.

[code]

[2016-12-15 14:17] #1358 closed, assigned to nobody

[2016-12-15 14:36] chris-rock commented on #1214
This was made available with #1306

[2016-12-15 14:36] #1214 closed, assigned to nobody

[2016-12-15 15:27] #1114 closed, assigned to arlimus

[2016-12-16 13:56] jeremymv2 opened #1370 "easier method for walking directories"
### Description

As a secops person, I want have an easy to use pattern for enumerating directory children, so that it works as expected both locally and when executing remotely.

From internal conversation:
Since InSpec can be executed on a remote target, any `Dir.foreach` will not work as expected, since this reads files from the workstation not from the remote target. Since this is a common iss

[2016-12-16 15:42] smford22 commented on #1370
A big 👍 for this as well.

[2016-12-16 16:18] chris-rock commented on #1370
Thanks @jeremymv2 I tend to go with:
[code]

[2016-12-16 22:07] smford22 commented on #1370
@chris-rock would `.children` be used for both `files` and `directories`?

[2016-12-16 22:24] jcarapet commented on #1236
+1 on this feature. I have been looking for an easy option to run profiles from private supermarket outside of our test-kitchen suite. Secondary enhancement would be to have `inspec supermarket upload profile_name` an option, but probably better served when separating out plugngs.

[2016-12-17 06:37] tas50 commented on #931
@stevendanna You're right my bug is actually the reverse. I should have clarified that we're not talking about the nginx package that debian provides. This is the nginx package that nginx.org provides and it does not seem to include a systemd config. I'm modifying our docker config in travis to add systemd-sysv-install so hopefully inspec just magically sees the right thing. I would agree though t

[2016-12-17 11:42] jaxxstorm commented on #1344
@chris-rock I'm happy to contribute here, where do you want this putting?

[2016-12-19 15:04] jeremymv2 opened #1374 "Apache_conf should be able to understand configuration sections"
### Description

As a secops engineer I should be able to write inspec controls that verify content of Apache's configuration sections so that I can ensure my entire configuration is secure.

Apache's configuration sections: https://httpd.apache.org/docs/current/sections.html

For example:
[code]

Currently, everything is flat key/value:
[code]

[2016-12-19 15:36] jaxxstorm opened #1375 "Writing custom resources documentation"
### Description

I'm trying to write a library that detects a value that is used by multiple controls and other libraries. I think maybe my ruby newbiness may be holding me back, but I wondered if maybe a quicker pointer would help.

I want to write a new resource for a custom application we use internally (it's very unlikely this will be open sourced, otherwise I'd contribute it back). I want to

[2016-12-21 10:08] dushyant28 commented on #541
Hi,

I am not able to use this approach.

Fixture cookbook (export_node)

ruby_block "Save node attributes" do
  block do
    require 'json'
    if Dir::exist?('/tmp/kitchen')
      IO.write("/tmp/kitchen/chef_node.json", node.to_json)
    end
  end
end

default_spec.rb:

require 'json'
node = json("/tmp/kitchen/chef_node.json").params

describe file("#{Chef::Config[:file_cache_path]}/asset.json")

[2016-12-21 15:30] #804 closed, assigned to chris-rock

[2016-12-21 19:31] kelvints opened #1377 "Output indicates that zero tests were run if --attrs is specified before profile path"
### Description

Zero tests are run if --attrs is specified before the profile path argument. If --attrs is specified after the profile path, the tests in the profile are run as expected.

### InSpec and Platform Version

inspec 1.8.0
Debian Wheezy

### Replication Case

Running the profile-attribute profile in the examples directory:

	$ inspec exec profile-attribute --attrs profile-attribute.yml

[2016-12-22 10:18] username-is-already-taken2 commented on #1298
Hi there

I'm running inspec 1.8.0 on windows and I'm having an issue with `inspec compliance upload` command.  it may be a sepreate issue but I think its relivent to this thread, I get POST error as above but I thought I would attempt to upload the temp profile generated by the command using a web browser and it fails.  In the compliance log I get ```2016-12-22_10:16:39.66759 /opt/chef-compliance

[2016-12-22 12:03] username-is-already-taken2 opened #1378 "inspec archive on windows (.tar.gz)"
### Description

There is something wrong with the output generated from the `inspec archive` command on windows using the default tar.gz format

### InSpec and Platform Version

Windows 10, inspec 1.8.0

### Replication Case

generate an archive  on windows

[code]
Then check it
[code]

### Possible Solutions

using `--zip` works for the time being.

[2016-12-22 12:06] username-is-already-taken2 opened #1379 "inspec compliance upload profile.zip [feature request]"
### Description

Could we have the option to upload profiles in zip format please.

### InSpec and Platform Version

windows 10 inspec 1.8.0

### Replication Case

[code]

[2016-12-22 21:01] ronykr commented on #1370
This is awesome.
One request is that wildcards be allowed in specifying directory paths. This works in ruby, but seems to not work via the file / directory resources.

For example, this line from the proposal

 directory('/private/tmp').files do |d|

should also work like this:

 directory('/private/*/important_files').files do |d|

So that Inspec finds all important_files in that are inside a dir

[2016-12-29 03:43] makotots opened #1382 "json.rb produces stacktrace when a target file is unreadable"
### Description

When ini resource tries to open an unreadable file (file mode = 000), InSpec dies with backtrace.

### InSpec and Platform Version

InSpec 1.8.0, Debian 7.10

### Replication Case

[code]

### Possible Solutions

When a given file is unreadable, Train returns [file.content = nil](https://github.com/chef/train/blob/master/lib/train/extras/file_linux.rb#L12).

Expected result is ret

[2016-12-29 08:56] quulah opened #1383 "JUnit XML dumping fails"
### Description

I'm a bit unsure where to file this bug. I use test-kitchen to run InSpec tests on our Chef cookbooks using Bamboo. The verifier's output is set to JUnit. Every now and then the tests fail.

[code]

I modified the output a bit to get just the relevant stuff. The "failed to parse test result" lines are from Bamboo's JUnit parser.

The reason it fails is that, suite1's XML is empty

[2017-01-02 10:02] chris-rock commented on #1375
@jaxxstorm A sample profile is available here: https://github.com/chef/inspec/tree/master/examples/profile You need to create a `libraries` directory and place your InSpec resources there. This is documented here: http://inspec.io/docs/reference/dsl_resource/

Do you want to use the same resource in multiple profiles?

[2017-01-02 10:03] chris-rock commented on #1377
@kelvints Tests are executed, but the output is misleading. We should rename the issue to fix the misleading output.

[2017-01-02 10:04] chris-rock commented on #1378
Thank you for the report @username-is-already-taken2

[2017-01-02 10:06] chris-rock commented on #1379
This issue may be related to https://github.com/chef/inspec/issues/1378. We should support that option, since all pieces are available in InSpec already.

[2017-01-02 10:07] chris-rock commented on #1382
@makotots This is a great idea. Are you going to open a PR to fix this issue?

[2017-01-02 10:08] chris-rock commented on #1383
Are you running kitchen-inspec with multiple suites in parallel?

[2017-01-02 10:11] quulah commented on #1383
Yeah, I had concurrency set to 3. After filing the bug, I set it to 1 after realizing that might be it.

Since then the problem hasn't popped up.

[2017-01-02 10:14] chris-rock commented on #1383
This issue is related to https://github.com/chef/kitchen-inspec/issues/119. I expect it to be a general problem in kitchen inspec and not related to our junit reporter. If it is okay for you, lets track this in https://github.com/chef/kitchen-inspec/issues/119

[2017-01-02 10:21] quulah commented on #1383
Sure, let's do that.

[2017-01-02 10:21] #1383 closed, assigned to nobody

[2017-01-02 11:32] chris-rock commented on #1298
You need the latest version the Chef Compliance Server 1.7.7. If the issue continues with that version, please let us know.

[2017-01-02 11:44] #1382 closed, assigned to nobody

[2017-01-02 15:37] jvrplmlmn opened #1385 "The 'file' resource doesn't support path expansion."
### Description

The `file` resource doesn't support path expansion.

### InSpec and Platform Version

[code]

### Replication Case

[code]

### Possible Solutions

The following change makes the scenario described in the `Replication Case` pass:

![image](https://cloud.githubusercontent.com/assets/1429460/21591829/10a3bfca-d108-11e6-84cd-b10ef4b47940.png)

[code]

but this makes some test scenari

[2017-01-02 16:54] jvrplmlmn opened #1386 "The 'package' resource is broken in OSX (with brew as package manager)"
### Description

The 'package' resource is broken in OSX (with brew as package manager)

![image](https://cloud.githubusercontent.com/assets/1429460/21593050/8d27bcbc-d113-11e6-8fdc-3e7d1e40531a.png)

### InSpec and Platform Version

[code]

### Replication Case

On OSX, install a package with `brew`, and use `InSpec` to verify that it is installed:

[code]

See https://github.com/chef/inspec/pull

[2017-01-03 09:03] chris-rock commented on #1374
Indeed, that would be great!

[2017-01-03 09:17] chris-rock commented on #1385
@jvrplmlmn Great idea to support this. In general I would still recommend to use absolute paths where possible.

We cannot use the Ruby `File.expand_path`, since our tests can be executed remotely. Eg. you tests a Windows host from Linux. This will not work then. Therefore we need to find another way to support this.

[2017-01-03 09:24] chris-rock commented on #1385
A workaround for Unix systems with bash would be:

[code]

This would output the following:

[code]

[2017-01-03 14:54] jvrplmlmn commented on #1385
@chris-rock thank you for the proposed workaround, it does the trick for me 👍

[2017-01-03 15:00] #1386 closed, assigned to chris-rock

[2017-01-03 19:10] kelvints commented on #1377
I renamed the issue

[2017-01-04 01:53] Wing924 opened #1390 "Yum.repo should show correct name"
### Description

YumRepo doesn't define to_s.
We expect output like this:
[code]
but actual like this:
[code]

### InSpec and Platform Version

1.8.0

### Replication Case

spec_rb:
[code]

execute:
[code]

will output:
[code]

### Possible Solutions

Implement YumRepo#to_s

[2017-01-04 04:25] joelhandwell opened #1392 ""No tests executed" on some test case in serverspec like directory structure in 1.8.0"
### Description

After upgrading inspec from 1.7.2 to 1.8.0, serverspec like directory structure (not using profile yaml files) tests stopped being executed with showing message ```No tests executed.``` When I change the directory structure with profile yaml with name and version, it worked in 1.8.0. Following is the output I got:

### InSpec and Platform Version

inspec: 1.8.0
OS: Windows 10.0.14

[2017-01-04 05:44] joestump opened #1393 "UDP ports not parsing correctly on Ubuntu 16.04"
### Description

I have a test to ensure that a `statsd` server that's running on the usual port `8125`. When I log into the Docker container (using `kitchen-dokken`), and run `netstat` it appears to be listening as expected:

[code]

However, when I run the tests I see this in the output:

[code]

I've also confirmed that the processes are running fine.

I even copied the parsing code from `Linxu

[2017-01-04 06:17] carldjohnston opened #1394 "apache_conf resource does not include files from *.d directories when using conf_path parameter"
### Description

apache_conf resource does not include files from *.d directories when using conf_path parameter.

### InSpec and Platform Version

InSpec version 1.7.1 on Oracle Linux 7.3

### Replication Case

Install httpd on an EL7 flavor of linux.  Then we'll test for something that's included into the `/etc/httpd/conf.d/autoindex.conf` file in a default install.

From within inspec shell (on

[2017-01-04 09:32] chris-rock commented on #825
This issue has been fixes and is available with the next version of InSpec

[2017-01-04 09:32] #825 closed, assigned to nobody

[2017-01-04 09:38] #1390 closed, assigned to nobody

[2017-01-04 11:18] chris-rock opened #1396 "RFC: Allow loading of arbitrary files in InSpec resources."
### Description

InSpec Resources do not allow users to load files via `IO.read(File.dirname(__FILE__))`. Sometimes InSpec resources store meta information in json or xml files to separate data from code. InSpec resources should support loading data from files.

I propose we add an optional `files` directory to our profiles.
[code]

Once the directory is available, InSpec resources are allowed to

[2017-01-04 11:39] ronykr commented on #1374
👍

[2017-01-04 15:06] rjhornsby opened #1397 "base/ssh compliance profile: /etc/ssh should be 0755"
(Apologies, this was the closest place I could find to log an issue related to chef compliance. Please redirect me as appropriate.)

### Description

The permissions of `/etc/ssh` should be `0755`, and this is what ssh-baseline ensures[1].

However, the Chef Compliance dashboard, base/ssh profile, seems to be confused on this item.

![screenshot 2017-01-03 12 29 02](https://cloud.githubusercontent

[2017-01-04 18:17] gscho opened #1398 "Inspec os audit resource missing CentOS"
### Description
Inspec os resource should include a symbol for centOS.
ie: `os[:centos]`

### InSpec and Platform Version
Inspec v 1.0.0

http://inspec.io/docs/reference/resources/os/

[2017-01-05 04:25] pariminaresh opened #1400 "user resource is not fetching groups for windows"
### Description

Inspec user resource is not fetching groups for windows platform.

### InSpec and windows2012R2

Tell us which version of InSpec : 1.7.2

### Replication Case

1. create a user and add to a group
2.check for inspec test
describe user('user1') do
  it { should exist }
  its('groups') { should include %r{admins} }
end
3. Inpec test fails with "expected nil to include /admins/, but i

[2017-01-05 05:01] carldjohnston opened #1401 "apache_conf does not read symlinked configuration files"
### Description

Symlinked configuration files are not read by the apache_conf resource.

Using the apache2 cookbook to configure apache will create links to configuration files from `conf-enabled/configfile.conf` to `conf-available/configfile.conf`; the `conf-enabled/*.conf` directory is then included through an `IncludeOptional` apache directive. I believe this is the default behavior on Ubuntu

[2017-01-05 09:46] chris-rock commented on #1398
Since CentOS is a Redhat system, you can detect it via

[code]

What is missing for you?

[2017-01-05 09:50] chris-rock commented on #1397
@rjhornsby Thank you for highlighting this issue. We are going to fix this in Chef Compliance. Going forward, we are going to contribute our base profiles to the dev-sec project. This allows us to have a better public review process.

[2017-01-05 09:52] chris-rock commented on #1400
Indeed, groups are not fetched. See https://github.com/chef/inspec/blob/master/lib/resources/users.rb#L630

Dou you know an easy way to fetch the groups for a user via Powershell?

[2017-01-05 12:35] chris-rock commented on #1346
@emilyh315 I like the idea to have an informational control. Do you have a specific example that we can use to discuss a solution?

[2017-01-05 13:05] emilyay commented on #1346
From the CIS Docker 1.11.0 Benchmark v1.0.0:
Control 1.11 Audit Docker files and directories - docker.socket (Scored)
Audit: If the file does not exist this recommendation is not applicable. If the file exists, verify that there is an audit rule corresponding to the file.

Current workaround:

`  if docker.socket
      rule = '-w ' + docker.socket + ' -p rwxa -k docker'
      describe auditd_rules

[2017-01-05 15:05] gscho commented on #1398
My mistake.
I'll submit a pull request to include it in the os resource documentation the same way other downstream distros are.

[2017-01-05 15:05] #1398 closed, assigned to nobody

[2017-01-05 18:04] pariminaresh commented on #1400
Don't see the actual powershell script is fetching user groups there.But can try out other commands to fetch user groups and parse it as part of 'collect_user_details'.Interested to try out and see.

[2017-01-05 23:35] smith commented on #1298
@chris-rock I'm getting this running latest master.

[2017-01-05 23:58] smith commented on #1298
When profiles are uploaded the compliance server shells out to `inspec check` to validate the profile: https://github.com/chef/chef-compliance/blob/52cd86fd34e61677f891a677c4fb23b80c70d6a6/core/compliance/inspec.go#L312-L343

If the profile has no dependencies, this works fine, but if there are dependencies it needs to be authenticated to download them from the compliance server. If I'm not logged

[2017-01-06 09:19] poshpaws commented on #1360
Sorry for delay , I wanted to rebuild my env from scratch - but same results

delivery 0.6.64

Component                   Installed Version   Version GUID                                                                                                                Overridden From
---------------------------------------------------------------------------------------------------------------------

[2017-01-06 11:25] chris-rock commented on #1393
@joestump Can you provide us with a dockerfile or cookbook that helps us to quickly reproduce that issue?

[2017-01-06 11:26] chris-rock commented on #1394
@carldjohnston Are you saying we need to update the directories here: https://github.com/chef/inspec/blob/master/lib/resources/apache.rb#L12-L24?

[2017-01-06 11:27] chris-rock commented on #1401
Are you opening up a PR to fix that?

[2017-01-06 12:02] chris-rock commented on #1392
Not related to that issue, but you should load `kitchen-inspec` instead of `serverspec` in your gem file.

[code]

I can confirm that the UI is showing a new section for each file, but tests are executed as part of the first section (file). This is only an issue with the reporter, tests are still executed properly. The json reporter is doing the grouping properly. Therefore this issue is only rela

[2017-01-06 13:45] guilhem opened #1404 "Add a way to retry a test if failing"
### Description

Currently, we are using serverspec with https://github.com/NoRedInk/rspec-retry gem
It would be wonderful if _inspec_ was having a way to do the same.

### Why the hell do we need that?

We are using it to test some orchestration framework (like _marathon_) and this need some time to scale resources and make it ready.

### Possible (crapy) Solutions

Adding a `sleep` instead of a

[2017-01-06 17:23] smith commented on #1298
@donwlewis If you upload using the latest version of inspec (1.8.0 right now), it should vendor all of the dependencies before upload and you won't have this problem on the server, since the vendored dependencies will be present in the tarball that gets uploaded. See http://lollyrock.com/articles/chef-compliance-meta-profiles/ for a good explanation of how that stuff all works.

@username-is-alrea

[2017-01-06 17:23] #1298 closed, assigned to nobody

[2017-01-08 00:02] carldjohnston commented on #1394
Hi @chris-rock, I think that code in apache.rb only gets called when we don't specify a conf_path and it does get the correct conf_dir.
If we specify a conf_path then this line in apache_conf.rb just takes the PWD of the httpd.conf file as the conf_dir, which is incorrect (and behaves differently from above):
https://github.com/chef/inspec/blob/master/lib/resources/apache_conf.rb#L24

[2017-01-09 01:33] carldjohnston opened #1408 "apache_conf resource does not preserve/merge configuration values across multiple files"
### Description

The apache_conf resource does not preserve/merge configuration values correctly when the directives are duplicated across multiple files. The parser only retains the values from the last file parsed.

An example is having multiple LoadModule directives across multiple files (which is a pretty common httpd configuration), one .conf file for each module to load; the parser will only

[2017-01-09 05:14] greenantdotcom opened #1409 "Inspec does not allow passing `auth_methods` to the `Train` driver"
### Description

In working on a Chef recipe for an installation of [DUO's MFA implementation](https://duo.com/docs/duounix#public-key-authentication), and specifically the flavor of disallowing passwords.

While running `kitchen verify`, all phases before run smoothly until `inspec` was invoked to verify the installation. Run after run, this error would come out at that stage:

[code]

The `kitch

[2017-01-10 10:30] JSGUYOT opened #1410 "Check group with file does not work on AIX"
### Description

On AIX, group check by file module doesn't work, it take user instead of group

### InSpec and Platform Version

[code]

### Stacktrace

**On my client :**

[code]

**My check :**

[code]

**My launch :**

     ✔  File /var/adm/cron/cron.allow should exist
     ✔  File /var/adm/cron/cron.allow owner should cmp == "bin"
     ×  File /var/adm/cron/cron.allow group should eq "cron"

[2017-01-11 14:49] pariminaresh commented on #1400
Well, tried with 'net user <name>'.The challenge here is parsing the output and ConvertTo-Json returns a raw string of user info.

 $grs = net user $_.Name[0] | ConvertTo-Json
 groups = $grs

We get unformatted string. but we can check a group existence in user info with something like  user('username').groups.include?('group'). that returns true/false.

Appreciate any comments :)

[2017-01-13 02:31] rjhornsby opened #1411 "un-wrapped "<command> is not supported" output outside JSON"
### Description

When running `inspec check --format json` there's a possibility that a warning is output outside of the json object, confusing any JSON parsers which are expecting only JSON. Specifically, we're seeing this confuse the JSON parser of the Chef Compliance server when uploading an inspec profile in certain cases. The parser error causes the `POST` to fail, which bubbles up into an HT

[2017-01-13 17:16] rjhornsby commented on #1411
So as not to confuse things, I didn't want to add this part until I was sure. This morning I was able to confirm that the unusual behavior where the chef compliance server (running on CentOS) treats or sees the _is not supported_ message as part of `stdout` happens when you run the `inspec upload ...` command from Windows.

I do not know why it behaves this way. The `inspec check --format json` is

[2017-01-16 15:19] brentm5 opened #1414 "Compliance server actions do not auth correctly with refresh token"
### Description

If you login to a compliance server with a refresh token the token will only be valid for the max age before a token expires.  This happens because the login action simply takes the refresh token and generates a token which gets saved with the configuration on disk.

### InSpec and Platform Version

All Versions of inspec

### Replication Case

run the following with valid values

[2017-01-16 19:40] unitsche commented on #431
+1

[2017-01-17 11:53] chris-rock commented on #1414
Thank you @brentm5 Indeed, this is annoying.

[2017-01-17 22:44] pkleanthous-zz opened #1415 "How can we extend inspec exec backends"
### Description

How can we add support for more backend methods?
We would like to add support for network devices. Most of them already have a python driver.

Examples:
https://github.com/Juniper/py-junos-eznc
https://github.com/fooelisa/pyiosxr

### InSpec and Platform Version

`inspec version: 1.7.2`

### Replication Case

N/A

### Possible Solutions

Somehow call python libraries from ruby ?

[2017-01-18 03:50] ghost opened #1417 "apt resource should include support for local files"
### Description

The apt resource appears to only support files coming form http and https: https://github.com/chef/inspec/blob/master/lib/resources/apt.rb#L74

However a perfectly valid use case is when somebody hosts an apt-repository locally on the Chef node for caching purposes and the location of the apt-repository is file://....

### InSpec and Platform Version

1.7.2

### Possible Solutions

[2017-01-18 12:24] chris-rock commented on #1417
@pantocrator27 Great idea. Are you going to adapt the regular expression and to add unit tests?

Unit tests are implemented here: https://github.com/chef/inspec/blob/master/test/unit/resources/apt_test.rb#L10-L14

Mock is reading the simulated file here:
https://github.com/chef/inspec/blob/master/test/helper.rb#L235

Which loads the content from:
https://github.com/chef/inspec/blob/master/test/uni

[2017-01-18 12:31] chris-rock commented on #1415
@pkleanthous Which underlying protocols do both systems use? Are those custom?

[2017-01-18 12:32] chris-rock commented on #1410
The abstraction for AIX is done in train: https://github.com/chef/train/blob/master/lib/train/extras/file_aix.rb#L7-L19 Do you want to open a PR to fix that?

[2017-01-18 12:34] pkleanthous-zz commented on #1415
@chris-rock
Juniper's library is using their Junos XML API.
IOSXR again is using their XML API.

Also, I tried inspec with some Mikrotik routers, it seems to work with ssh as backend.

[2017-01-18 12:45] chris-rock commented on #1409
@greenantdotcom This is a really good discussion. We could find a balance and have the most common settings available via CLI. Once you need more advanced configuration we could use a json or yml file as input to configure the targets.

cc @arlimus

[2017-01-18 14:11] straeth1 opened #1418 "switch to using winrm-elevated for domain user privileged commands"
### Description

I am trying to use inspec to test whether Remote Desktop Services on a Windows Server 2012 R2 box have been correctly configured. As a first test I want to make sure that the RDS Session Collection created as part of the cookbook installation exists.

My inspec test is very simple:
[code]

To run the tests, I use the following command
[code]

**Information:** The Powershell cmdlet

[2017-01-18 14:26] chris-rock commented on #1418
@straeth1 I'd like to separate the issue into two steps:
- is the test working locally
- is the test working remotely

Can you install InSpec on Windows and run the test locally as domain user? Packages can be downloaded here: https://downloads.chef.io/inspec

Once we verified everything works locally, we can identify why this is not working remotely.

[2017-01-18 14:49] JSGUYOT commented on #1410
Hi !

I prefer that you do the PR.
Thank's

Regards,

[2017-01-18 14:55] straeth1 commented on #1418
@chris-rock It is the same result when I execute the inspec test locally on the Windows Server. So it's neither working locally nor remotely.

[2017-01-18 14:56] chris-rock commented on #1418
Is the powershell script returning the correct result if executed via powershell?

[2017-01-18 14:57] chris-rock commented on #1418
The only thing that InSpec/train is doing on top is to encode the command: https://github.com/chef/train/blob/master/lib/train/extras/command_wrapper.rb#L135-L154

[2017-01-18 15:00] straeth1 commented on #1418
Yes, if I run the command in a Powershell console, it returns the CollectionName succesfully.

I added the following test as well to make sure it's not a general problem
[code]

This test successfully runs.

[2017-01-18 15:13] chris-rock commented on #1418
Normal powershell:
[code]

I converted it into an encoded command with
[code]

This results in:
[code]
Can you try that in plain Powershell?

[2017-01-18 15:26] straeth1 commented on #1418
OK. I have reviewed my code again and I have seen that I missed two things:
* The parameter to the `Get-RDSessionCollection` command is **`-CollectionName`** and not `-Name`
* I have not included `Import-Module RemoteDesktop` in the inspec test

After correcting this, the inspec tests run perfectly local, but still not remote. Sorry for the confusion.

[code]

[2017-01-18 15:28] chris-rock commented on #1418
Can you try to run the powershell command with `Enter-PSSession -ComputerName COMPUTER -Credential USER`? Just to verify it works with plain powershell remotely? If it works with that user it should use with InSpec as well. Lets see.

[2017-01-18 19:38] Sinjo commented on #229
So I ended up finding my answers in [this podcast](http://foodfightshow.org/2016/02/inspec.html).

I took a tonne of notes, but they're in a totally raw form right now. If it'd be helpful, and something maintainers would like, I'll happily tidy them up and PR them as a doc to this repo - perhaps linked to from the `README`.

Let me know either way. It's most likely I'll have time to do this in Feb

[2017-01-18 20:27] chris-rock commented on #229
@Sinjo It may be a great opportunity to extend our migration guide https://github.com/chef/inspec/blob/master/docs/migration.md

[2017-01-20 00:11] ghost commented on #1417
@chris-rock I normally would but at the moment am bandwidth constrained.  Once my time get freed up, I can, unless someone else gets to it earlier ...

[2017-01-20 08:51] straeth1 commented on #1418
When I run the command in the PSSession, it does not work:
[code]

But I figured out that this is a problem in Powershell when doing PSSessions. I had to `Enable-WSManCredSSP -Role Server`and then `Enable-WSManCredSSP -Role Client -DelegateComputer COMPUTER.domain`. Once I have done that I could enter a PS session using `Enter-PSSession -ComputerName COMPUTER.domain -Credential domainuser@domain -

[2017-01-20 09:13] chris-rock commented on #1418
@straeth1 awesome finding. Is your InSpec test working on remote machines, too?

[2017-01-20 11:00] chris-rock opened #1420 "New Inspec.io is crashing on Edge if window is resized to a smaller window"
### Description

inspec.io is crashing on Windows 10 Edge. Users report, it also happens on Windows 10 Mobile.

### Replication Case

Open Edge on Windows and resize the window. It seems to happen only if the Windows is resized to less than 770px.
![capture2](https://cloud.githubusercontent.com/assets/1178413/22148032/2049c232-df0c-11e6-8672-88f3e5c16336.PNG)

### Possible Solutions

Unclear. Poss

[2017-01-20 11:04] chris-rock opened #1421 "Wrong rendering of InSpec.io header"
### Description

If the window is resized, the download button is a little bit off.

![capture](https://cloud.githubusercontent.com/assets/1178413/22147360/850b2b88-df08-11e6-80f6-7b02bbe5236f.PNG)

[2017-01-20 11:30] chris-rock commented on #1420
@hannah-radish do you have an idea?

[2017-01-21 12:19] straeth1 commented on #1418
Using inspec the test still does not work as it requires a PSSession that is created using the CredSSP command. Is there any way to add the two commands
- `Enable-WSManCredSSP -Role Server -Force`
- `Enable-WSManCredSSP -Role Client -DelegateComputer COMPUTER.domain -force`

in inspec code and run the actual tests in a PSSession created with CredSSP authentication?

[2017-01-21 16:09] edupo commented on #1393
@chris-rock I'm having a similar problem:

With the _port_ resource checking for _listening_ on 16.04 and not on 14.04.

You can check the [repo](https://github.com/edupo/chef.cb.devpi) and the build 13 on [travis](https://travis-ci.org/edupo/chef.cb.devpi)

[code]
Meanwhile in the shinny shores of Ubuntu 14.04...
[code]

[2017-01-22 08:03] mhedgpeth opened #1425 "Can't find train plugin "https" with no direction on what to do"
### Description

I'm running this command after just having installed InSpec with the msi installer on windows:

[code]

I get the following error, which doesn't provide any actionable direction for me:

[code]

### InSpec and Platform Version

InSpec version 1.7.2 on Windows 10

### Replication Case

Run the command in the description after installing InSpec from the MSI installer

### Possible S

[2017-01-23 13:42] chris-rock commented on #1425
@mhedgpeth https is not a backend. You try to download a profile from https, run the url directly:

[code]

The `-t` options gives you the ability to run the profile against a remote machine. eg.:

[code]

[2017-01-24 19:28] arlimus opened #1427 "expose password age in `passwd` resource"
### Description

Tell me how old my passwords are on Linux.

### Possible Solutions

Either add a field or give me docs on how to do it.

[2017-01-25 14:15] chris-rock opened #1429 "fix functional tests"
Current functional tests are broken. We need to fix those.

[2017-01-25 15:44] guilhem opened #1430 "windows_task fails if multiple triggers"
### Description

`windows_task` fails if there are multiple triggers in a task.

### Replication Case

Just create a task with 2 dummy triggers.
Any test will fail on it because of code wait for a `{ Type: ""... }` and get `[ { Type: "" ....}, { Type: "" ...} ]`

### Possible Solutions

* Use `win32ole` lib instead of a `schtasks.exe` command.
* Test if response is an array and get first (the obje

[2017-01-25 16:26] chris-rock commented on #1370
So far, we can use the `find` command:

[code]

[2017-01-25 18:40] aladmit commented on #993
I will add the version method. And I think we should add **have_version** matcher with the following syntax for compare versions:

[code]

[2017-01-25 18:43] chris-rock commented on #993
@postgred Do we really need the have_version matcher or would cmp matcher work? cmp already understands version comparison.

[code]

[2017-01-25 19:31] #1429 closed, assigned to chris-rock

[2017-01-25 19:46] chris-rock commented on #1430
@guilhem Can you push a chef example for our integration tests, so that we can use that for testing?

[2017-01-25 19:49] chris-rock commented on #1418
This boils down to https://github.com/WinRb/WinRM/issues/212 @mwrock do you have an idea how we can achieve the test?

[2017-01-25 20:27] aladmit commented on #993
@chris-rock You are right, cmp will work.

[2017-01-25 20:29] nvtkaszpir commented on #993
Good to know, so maybe just update docs with more examples?

[2017-01-25 20:30] chris-rock commented on #993
@nvtkaszpir We still need to implement the version method in https://github.com/chef/inspec/blob/master/lib/resources/kernel_module.rb#L23-L37

[2017-01-25 20:32] chris-rock commented on #993
[code]
may do the trick

[2017-01-26 11:36] mwrock commented on #1418
Adding CredSSP support is not likely to happen any time soon. However, I think that we could make that irrelevant if inspec uses the elevated shell. This may be as simple as changing https://github.com/chef/train/blob/master/lib/train/transports/winrm_connection.rb#L177 to use the `:elevated` shell and requiring the winrm-elevated gem.

[2017-01-26 13:26] chris-rock commented on #1418
@mwrock do you think we should use your proposal as default?

[2017-01-26 13:56] mwrock commented on #1418
I do. We have not seen any residual bad behavior using the elevated shell in test-kitchen and other apps like vagrant use it by default. I think it would just eliminate these edge case scenarios where winrm fails.

[2017-01-26 17:28] coderanger commented on #336
This should be reopened as the new resource doesn't seem answer the same use case, specifically it looks like it runs the HTTP connection locally within InSpec and so cannot test local host connections.

[2017-01-26 19:04] chris-rock commented on #336
@coderanger Thank you for bringing this up.

[2017-01-26 21:22] artem-sidorenko opened #1434 "cmp matcher should also compare string to single-element array"
### Description

From the [docs](http://inspec.io/docs/reference/matchers/):

[code]

I have a use case from the other side: `its('HostKey')` of `sshd_resource` might return a string for a single value, or an array for multiple values. My idea was to use `cmp` for comparing array-to-array or string-to-single-element-array, but I get following:

[code]

### InSpec and Platform Version

`1.5.0` on u

[2017-01-26 21:26] chris-rock commented on #1434
@artem-sidorenko Agreed, we can implement this in here: https://github.com/chef/inspec/blob/master/lib/matchers/matchers.rb#L296-L302

[2017-01-27 10:57] chris-rock opened #1436 "`http` resource cannot access localhost of the target"
### Description

The current http resource is executed on the inspec `workstation` where ruby is executed. A simple test like

[code]

demonstrates the complexity. It does not matter if I run:

[code]

The current implementation will always run against `inspechost` and never against `remotetarget.com`. This may lead to confusion, since all other inspec resources are targeting the OS on `remotetarg

[2017-01-27 10:58] chris-rock commented on #336
I close this in favor for the more detailed ticket https://github.com/chef/inspec/issues/1436

[2017-01-27 10:58] #336 closed, assigned to nobody

[2017-01-27 18:31] aaronlippold opened #1437 "Inspec.io and IE11"
Hi,

The new inspec.io site is having background and stylesheet issues when being viewed in IE11 at least on my MITRE box. Just thought I would let you know it is casing issues in not only the header but also in the mid-page code examples etc.

Aaron

[2017-01-27 20:07] ryancurrah opened #1438 "jUnit reports are hard to read"
### Description

The jUnit exporter is organizing tests under invalid control names. This makes it really hard to read when importing tests results into test reporting tools.

### InSpec and Platform Version

InSpec version: ``1.9.0``
Platform version: ``RedHat 7.2``

### Replication Case

1. Import a control from another profile

audit_config_spec.rb:

[code]

2. Generate a junit report

jUnit re

[2017-01-27 21:01] cullenmcdermott opened #1439 "The `be_reachable` matcher in the Host resource should use the port/protocol provided"
### Description

The `reachable?` method for the Host resource should do more than check if a host is reachable via ping. If ping is blocked then the test will fail.

### InSpec and Platform Version

Inspec 1.10.0
Ubuntu 16.04

### Replication Case

1) Setup a firewall rule that blocks icmp traffic from Host A to Host B
2) Create an simple test that checks reachability on Host A and run it:
[code]

[2017-01-27 21:04] davidcpell opened #1440 "Inspec.io - Add InSpec Resources drop-down?"
### Description

It would be great if, while browsing the InSpec resources in the docs at inspec.io, a drop-down with each resource could open up in the left navigation like it used to when the docs were at docs.chef.io. As it is now, you have to click back to the main resources index each time you want to go from one resource to another.

[2017-01-27 21:09] aaronlippold commented on #1438
👍

[2017-01-28 09:30] arlimus commented on #1440
Kudos @davidcpell !!
@hannah-radish sounds like a great idea 😁

[2017-01-30 11:40] 8la opened #1443 "Demo unstructured output when using ssh"
### Description
When using ssh output is hard to read due to wrong tabbed output

### InSpec and Platform Version

Online Demo

### Replication Case
Use the demo either on firefox 50.2 or chrome 50.0.2661.86 (64-bit) on Linux (Ubuntu 16.04)

### Possible Solutions

Fix css
![seleccion_005](https://cloud.githubusercontent.com/assets/315194/22421794/edd50f3c-e6e0-11e6-8a03-292e9fc9eddc.png)

[2017-01-30 17:53] thiagonache commented on #431
I did small patch, but I'm not sure how to get proxy variable from kitchen yml
https://github.com/chef/train/compare/master...thiagonache:master

can you guys help?

[2017-01-30 19:50] chris-rock commented on #1438
This work will require us to build a junit reporter being based on-top of our InSpec JSON format instead of RSpec

[2017-01-30 21:19] joestump commented on #1393
The cookbook is private. It doesn't really do anything interesting other than install the Datadog agent and "dogstatsd" using their community cookbook:

https://github.com/DataDog/chef-datadog

When I try and test that "dogstatsd" is running on port 8125 I get the errors described above. I also don't have a `Dockerfile` because this is being built with `kitchen-dokken`. Here's my `.kitchen.yml` th

[2017-01-31 04:13] jkerry commented on #1438
I put the original junit reporter together and came here to log the same issue so I can cobble together a PR in the next week or two but you did all the hard work for me :+1:

I'll see what I can do with this assuming nobody else picks it up first

[2017-01-31 18:15] chris-rock commented on #1443
@8la Thank you, yes this is broken.

[2017-01-31 18:32] chris-rock opened #1446 "Better UX for regular expression on output"
### Description

Let's assume we run the following test:

[code]

we run a regular expression on `stdout` and compare the result of a match. I would prefer something as part of the language to avoid especially `[1]`. Although this works is unreadable. First, lets split up the problem into two: 1) fetching data, 2) running a regular expression on it.

[code]

We should not try to abstract ruby rege

[2017-01-31 18:59] chris-rock opened #1447 "Re-add stability index and minimum inspec version for each resource"
### Description

Originally we had the stability index attached to each resource e.g. stable, experimental etc. This is missing in latest docs. Additionally it would be helpful to see the InSpec version when the resource was added.

### InSpec and Platform Version

1.10

[2017-01-31 22:59] jkerry commented on #1438
Well on the way here. the mapping is like so: Any feedback would be appreciated @ryancurrah @chris-rock @aaronlippold .  Items to still accomplish:
* Add in failing test block / reasons for resources that failed

Format:
* test suites are profiles
* test classes are controls, anonymous for resources outside controls
* test cases are individual resources
[code]

[2017-02-01 02:43] ryancurrah commented on #1438
Wow looking good @jkerry. I imported your jUnit into a test Jenkins job it's a lot easier to read. Screenshots below. Only comment in addition to your TODO is add run time to the results as well.

I took a look at the code. Based on @chris-rock feedback it looks like the class [InspecRspecJUnit](https://github.com/chef/inspec/blob/master/lib/inspec/rspec_json_formatter.rb#L751-L760) has to look a

[2017-02-01 02:51] jkerry commented on #1438
Thanks!  That's exactly right on the formatter.  I'm actually cheating and using nokogiri to build the xml up from the output hash that the json formatter rolls up. Not the most efficient allocation of resources but it'll do. I'll get a PR submitted tomorrow morning.

[2017-02-01 13:56] chris-rock commented on #1447
It would be nice to have something like:

[code]

The definition of states is defined here: https://github.com/chef/inspec/blob/47c6427082d5622b77bb0769229cd8fab9dec62c/docs/README.md#stability-index

The inspec value should be the same as in https://github.com/chef/inspec/blob/master/lib/inspec/metadata.rb#L78-L81

Once this is in code, we should use it to incorporate those values into our docume

[2017-02-01 14:56] chris-rock opened #1449 "401 error message for profile uploads"
### Description

[code]

The user was authenticated via `inspec compliance login_automate https://example.com --user admin --ent='adm' --dctoken ''`

When the token is not valid anymore, the user only sees the 401. Instead we should show that the authentication failed and the token may be invalid.

### InSpec and Platform Version

1.11.0

### Possible Solutions

Add a more helpful error message.

[2017-02-01 17:23] tduffield opened #1450 "`skip` parameter ignored inside `describe` block"
### Description

When specified inside the `describe` block, the `skip` parameter is being ignored.

**Test:**
[code]

**Output:**
[code]

### InSpec and Platform Version

Latest (master)

### Replication Case

Tell us what steps to take to replicate your problem.  See [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)
for information on how to create

[2017-02-01 17:36] tduffield commented on #1450
After discussing with @chris-rock, this is actually the intended functionality.

[2017-02-01 17:36] #1450 closed, assigned to nobody

[2017-02-02 21:16] chris-rock opened #1453 "Add test case to ensure inspec runs without ruby-dev"
### Description

InSpec should not require a dependency on a gem that requires `ruby-dev`. We need to have an integration test for that.

### InSpec and Platform Version

1.11.0

[2017-02-02 21:44] yvovandoorn commented on #1453
I completely agree with this @chris-rock. Avoiding compilation on a Linux instance is definitely :+1:, but close to a :100: requirement on Solaris.

Would the integration test be platform family specific (one for debian, rhel, solaris, etc) or can it cover all platforms in one test?

[2017-02-03 14:17] jkerry commented on #1438
@ryancurrah PR submitted.  Would you have time to build the PR and run a test or two to make sure it fits what you're looking for?

[2017-02-03 17:25] artem-sidorenko opened #1456 "After inspec update from 1.5 to 1.10 it breaks with [undefined method `[]=' for nil:NilClass]"
### Description

inspec breaks with `undefined method []=' for nil:NilClass` after the update inspec 1.5.0 -> 1.10.0

### InSpec and Platform Version

- inspec 1.10
- kitchen-inspec 0.17.0

### Replication Case

I could not easily replicate the problem, but it looks like there is a relation to the multiple test sets in the `.kitchen.yml`:

[code]

If I leave only one path there -> it works

**UPDA

[2017-02-03 23:31] erenfro opened #1459 "Requesting x509_certificate and x509_private_key"
### Description

ServerSpec supports x509_certificate and x509_private_key, which is very useful to validate servers are being deployed the right certificate and key in integration testing, and in routine inspection to insure sanity is maintained in the systems.

[2017-02-03 23:33] erenfro opened #1460 "Requesting php_config support"
### Description

ServerSpec supports php_config to validate configuration being set up in a way that may be specific to compliance, even simple things such as timezone being set properly. Use of this serverspec resource could be used during integration testing and continued compliance testing to maintain security and setup of running systems, reporting any potential issues.

[2017-02-03 23:37] erenfro commented on #534
I definitely want this as well. Checking for things like selinux enabled, modules loaded, and even booleans set a specific way would all be quite beneficial. Especially in integration and compliance testing and reporting.

[2017-02-03 23:41] erenfro opened #1461 "Requesting cron resource"
### Description

ServerSpec supports the resource for cron, however it is limited in ways that could be improved, such as being able to do checks against the system-wide /etc/cron.d files. For the remaining directories, like /etc/cron.hourly and /etc/cron.daily, those are just regular scripts in place so they can easily be validated with existing matchers, but cron has a specific structure and sho

[2017-02-04 01:56] ubergeekgirl opened #1462 "redirect URL downloads.inspec.io to https://downloads.chef.io/inspec"
We at Chef are creating InSpec 3x5 conference cards and want to have downloads.inspec.io point to downloads.chef.io/inspec

[2017-02-04 19:31] jkerry opened #1463 "Functional tests are unstable in travis builds"
### Description

The last 2 pull requests I've submitted have been temporarily blocked by failing functional tests in Travis. These tests eventually pass by re-running the build

### InSpec and Platform Version

N/A

### Replication Case

Submit a pull request when master is green. In theory you should get some failures on repeated runs

### Possible Solutions

RCA unstable functional tests and sh

[2017-02-05 20:29] ryancurrah commented on #1438
Hey @jkerry just built off of your feature branch on my rhel7 vagrant box. It worked like a charm, the results are WAYYY more readable now. This is awesome man. I imported the results into Jenkins just fine too. Here is the gist of the resulting jUnit file https://gist.github.com/ryancurrah/f8ca7f5606a11e83f06fc27f1a8821bb. And screenshots below.

My only comment, which is minor at this point. Is

[2017-02-05 20:35] jkerry commented on #1438
You can only organize under one thing so it would have to be profile or control ( the control is in the class field for the test cases )

@chris-rock what's better for the product: picking one of these and running with it or adding some kind of runtime config / flag to make it user selectable?

[2017-02-06 15:01] scottopherson opened #1464 "Ignore me"
Wrong repo :(

[2017-02-06 15:43] scottopherson commented on #1464
Derp. Wrong repo to create this in.

[2017-02-06 15:43] #1464 closed, assigned to nobody

[2017-02-06 20:09] #1462 closed, assigned to nobody

[2017-02-06 20:56] arlimus opened #1465 "Add events.inspec.io and download.inspec.io"
As requested by @ubergeekgirl

cc @hannah-radish

[2017-02-06 20:58] ubergeekgirl commented on #1465
downloads.inspec.io

[2017-02-06 22:20] raghuteja9 commented on #611
Hi All,

I have a requirement of converting our bladelogic script to controls.
Blade logic code :
----------------
if
   "Command:cat /etc/redhat-release".Out_Put is not one of ["x", "y", "z"]
then
   "File:/etc/inittab".Contents contains "id"
end
----------------
Note: Out_put can be considered as stdout.

Inspec code what I have written.

if describe file('/etc/inittab') do
    its('content') {

[2017-02-07 19:42] billmeyer opened #1469 "Display meaningful error message when uploading profiles to a server with self-signed certs"
### Description

When attempting to upload profiles to a Compliance or Automate Server that uses self signed certificates, a more meaning error message should be displayed if inspec was not logged in with the --insecure option.

### InSpec and Platform Version

1.7.1

### Replication Case

inspec compliance upload <profile name>

### Possible Solutions

Produce a friendly error message that the `i

[2017-02-08 09:51] poshpaws commented on #738
I am in the same boat as  qvallance-ctc  .
 I am being directed to this issue when trying to use contain_duplicates , telling me its deprecated from inspec 1.0 .. .yet I am running 1.7.1

Whats my alternative ?

control 'check-passwd-duplicates' do
    impact 1.0
    title 'check for duplicate uids'
    desc 'there should be no duplicate uids'
  describe passwd.where(item: 'value', itemp: 'value')

[2017-02-08 12:20] billmeyer opened #1473 "inspec compliance login* should support a hostname for the SERVER argument"
### Description

inspec compliance login SERVER and inspec compliance login_automate SERVER don't specify if SERVER argument is a hostname or a URL.  When using a hostname, the login will fail with an exception (see below).

### InSpec and Platform Version

1.7.2

### Replication Case

$ inspec compliance login chefcompliance01.billmeyer.corp --insecure --user='bmeyer' --token='eyJh...qqpQ'

### P

[2017-02-08 13:23] arlimus commented on #1473
For solution see https://github.com/chef/inspec/pull/1471

[2017-02-08 13:56] poshpaws opened #1474 "inconsistant results from inspec exec runs local vs remote - regex parse issue?"
### Description
When I execute my tests via ssh , I get a different result than running them locally :

remote exec :
[code]

Local - created with inspec archive , scp to target and ran
[code]
all the regex tests fail :(

### InSpec and Platform Version
inspec 1.7.1 , on MacOS 10.12 and RHEL 6.8

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distributio

[2017-02-08 14:57] #1469 closed, assigned to arlimus

[2017-02-09 19:11] artem-sidorenko commented on #1456
I have this problem on inspec 1.14.0 too,

Here is the replication case: https://github.com/artem-sidorenko/inspec-test

[2017-02-09 20:23] artem-sidorenko commented on #1456
I wonder somehow that I'm the only one who reports this problem,

I tried it in a sane environment via installing the last gems and can see this problem:

[code]

@arlimus @chris-rock do I miss something here? Can you reproduce this problem? Is it a problem?

[2017-02-09 20:37] Paladin commented on #1456
I have the same issue as well, if it's any consolation. The only real difference is I'm running in ChefDK (version 1.2.22) with kitchen-inspec (the version of inspec in kitchen 1.15.0). I have two paths for tests as well, and I've even tried it with adding a name to the second path:

[code]

[2017-02-09 20:40] artem-sidorenko commented on #1456
@Paladin great! I'm not alone and its even confirmed on chefdk :)

[2017-02-10 03:47] vjeffrey opened #1483 "go /profiles service modifications"

[2017-02-10 03:47] vjeffrey commented on #1483
darn you waffle! i wanted that in chef-compliance!

[2017-02-10 03:47] #1483 closed, assigned to nobody

[2017-02-10 15:56] adamleff commented on #1456
Hi friends! Thanks for the report! I'll be looking at this either today or Monday. I can confirm that I can reproduce this with @artem-sidorenko's repro repository and the latest ChefDK.

[2017-02-10 16:40] jaselit opened #1485 "Create url for demo that can be pointed to from outbound campaigns"
### Description

the demo needs a unique url, not http://inspec.io/#. The issue is that we are trying to do outbound campaigns for trying the inspec demo, but we have no url to point to. How quickly can this be resolved? we have campaigns scheduled in the next week or two.

once this is done can you please notify me that the change has been made. Thanks!

Jason

### InSpec and Platform Version

Te

[2017-02-10 17:06] arlimus opened #1486 "InSpec Shell should support custom resources"
### Description

InSpec shell doesn't load my custom resources.

### InSpec and Platform Version

all

### Replication Case

Just run inspec shell, there is no option to tell it which dependency profile to pull or include nor resource to load locally.

### Possible Solutions

Add an option to load resource packs.

[2017-02-10 17:17] Paladin commented on #1456
Found an interesting tweak: If you change the path to point to specific test files (path/to/test/test.rb) you lose the undefined method error. Seems only to be an issue if you pass a directory. Given that and a few other cues I saw, similar to [1392](https://github.com/chef/inspec/issues/1392) I'm wondering if this also isn't a bug coming from the reporter, instead of the verifier?

[2017-02-10 17:29] adamleff commented on #1456
Issue is in the rspec json formatter within InSpec itself. When it goes to add the example to the control, the control itself is nil and has not yet been created. This only appears to happen for a particular test, not all of them. Still digging into why that is the case. I'll have more to share soon.

[2017-02-10 18:42] adamleff commented on #1456
I've found the issue here. When you're not using a full compliance profile but rather raw controls, InSpec essentially creates a profile for you under the covers.

When the formatter runs, it tries to tie examples back to a given profile. In this case, the example has a nil profile ID, and the profile itself has no name (which is used as the ID). When we get to the second set of tests, InSpec was

[2017-02-10 19:20] Paladin commented on #1456
Interesting. I was on my way back with further info I'd dug out over lunch when I read this, and it fits with what you wrote in the notes above.

Given:
Series of test files with 1 or more control sets in each file
Path to each listed as in my previous message.
As you noted, no profile made for this suite, yet.

If the first file has empty versions of every control set given in every test file you

[2017-02-13 11:22] rkgade commented on #931
Same issue as the original report but didn't check systemctl .
'service' resource type isn't responding correctly for enabled and running status.

Following Latest Versions. List as follows:
Base OS: Ubuntu 16.04

raj@hydrogen:~/chef-repo/cookbooks/LAMP_Ubuntu
 =>$ chef -v
Chef Development Kit Version: 1.2.22
chef-client version: 12.18.31
delivery version: master (0b746cafed65a9ea1a79de3cc546e7922

[2017-02-13 11:49] chris-rock commented on #514
@nvtkaszpir We have a `crontab` resource now https://github.com/chef/inspec/pull/1482

[2017-02-13 11:51] chris-rock commented on #514
The x509 resources are tracked in https://github.com/chef/inspec/issues/514

[2017-02-13 11:51] chris-rock commented on #1459
This is a great idea!

[2017-02-13 14:05] erenfro commented on #1459
Yeah, I had thought so. I was actually a bit surprised it was one of the few things that was specifically not included from the features of ServerSpec. I've just been getting into using InSpec with Chef a lot more lately, and anything I find that I used that was in ServerSpec, but not in InSpec, resource-wise at least, I've been requesting. :)

[2017-02-13 14:15] chris-rock commented on #1459
x509 resources have not been excluded specifically from InSpec. We just implemented the resources based on user needs. It is good to see the demand for those resources now.

@erenfro Could you share a specific use case? Are you verifying https certificates? Or something else?

[2017-02-13 14:22] erenfro commented on #1459
Sorry, excluded may not've been the right word. Not implemented yet is a better statement. :)

I've been using x509 tests for serverspec to check a number of things. For integration testing specifically, I've actually used be_certificate, be_valid, validity_in_days, subject, issuer, email, have_purpose, keylength, and subject_alternative_name. For both internal and externally signed certificates.

[2017-02-13 18:00] adamleff commented on #1459
I :heart: these use cases.

[2017-02-13 18:15] adamleff commented on #1456
@artem-sidorenko and @Paladin: I've opened #1488 to correct this issue.

[2017-02-13 18:20] artem-sidorenko commented on #1456
@adamleff cool, thank you!

[2017-02-13 21:35] trumant commented on #1427
Should this be on the `passwd` resource or the `users` resource? The user resource already exposes mindays, maxdays and warndays around password expiry by parsing the output of `chage -l user`

[2017-02-14 20:01] #1485 closed, assigned to arlimus

[2017-02-14 20:09] adamleff commented on #1485
Site released, /tutorial.html is now a thing  💥

[2017-02-14 20:43] adamleff commented on #1461
@erenfro Hi, Eric. Thanks for your suggestion.

I recently added a `crontab` resource but is currently limited to user crontabs.

For your use case, are you looking for a resource that reads in *all* the cron.d files and returns all the entries, or the ability to specify a particular file and just read in the entries from that one file?

I suppose I could see supporting both - if you don't supply

[2017-02-14 20:49] erenfro commented on #1461
In my case, specific files that exist in /etc/cron.d and can verify certain values.
Specifically, each type of value for the schedule, just as you can set them with chef, what user to run as, and what command to run.

For the other /etc/cron.*/ directories, those are just scripts, so wouldn't likely need a specific InSpec function for that as they could be compared with the file resource.

[2017-02-14 20:52] erenfro commented on #1461
I don't know what's been done for the user crontabs, but similar checking would be essential, the only difference would be only checking a schedule and command, no user. How to differentiate between a each user's crontab and a cron.d entry though, would be curious. Ideally you'd want to verify exact specifics, because user crontabs have many values, as can a cron.d file entry.

[2017-02-14 20:59] erenfro commented on #1460
Some of my use cases here would be to go over basically every configuration value of the php.ini, insuring certain settings exist and are set a specific way.

For example, date.timezone = America/New_York, a very often important value that needs to be known, verified, and set accordingly, because for some reason PHP can't seem to know this value from the system with accuracy. heh

Per other things

[2017-02-15 01:57] schisamo commented on #1436
This makes me 😢 , hopefully we can implement executing HTTP requests locally on the target node soon.

[2017-02-15 10:53] username-is-already-taken2 opened #1491 "[chef-compliance] Scan Report Calculations"
### Description
I've noticed within the scan report that skipped controls (due to using an only_if statement) are being counted as critical's

[code]

![image](https://cloud.githubusercontent.com/assets/13700297/22970963/fa928ad2-f36b-11e6-9b6e-c98f8718c231.png)

### InSpec and Platform Version

Chef Compliance 1.7.7

### Possible Solutions

At the moment we are having to patch the results (ie sub

[2017-02-15 12:26] chris-rock commented on #1491
Just tried to identify where the issue is located
[code]

The following result is generated by `inspec exec trials/count.rb --format=json | jq .`

[code]

Therefore the counting is done incorrectly in Chef Compliance instead of InSpec.

[2017-02-15 12:33] chris-rock commented on #1491
This is an official ticket for our support now. Next steps will be tracked in https://getchef.zendesk.com/agent/tickets/13766

[2017-02-15 12:33] #1491 closed, assigned to nobody

[2017-02-17 00:07] hannah-radish opened #1492 "Inspec.io: Create Events Feed"
Events feed: create a new page for events that pulls the feed fromevents.chef.io/category/inspec (this filter is currently being built into the events site)
Requestor: Jason Little

[2017-02-17 00:07] hannah-radish opened #1493 "Inspec.io: Change Demo URL"
Demo url should be inspec.io/demo (not /tutorial, we already have /tutorials)

Requestor: Jason Little

[2017-02-17 00:08] hannah-radish opened #1494 "Inspec.io: Try Demo Button Bug"
Update Try Demo Button a href with new demo URL.
Test the try demo button on every page (in page and in the nav bar) to make sure it is pointing to the /demo. It seems to be broken
Requestor: Jason Litttle

[2017-02-17 00:10] hannah-radish opened #1495 "Inspec.io: Add webinar/notifications bar in index.html"
Develop a consistent and tasteful way to merchandise/promote events and content, and doing it above the fold.
Requestor: Jason Little

[2017-02-19 17:11] nick-oliver opened #1496 "Develop an inspec test for selinux"
### Description
Currently there is serverspec test for selinux, however there is no similar test in inspec. This test is described here:
http://serverspec.org/resource_types.html#selinux

One of the items that we verify in our base provisioning of our linux systems is that selinux is configured in a disabled mode.  Using inspec, this cannot be confirmed.

Please include the stacktrace output or li

[2017-02-20 13:42] LordGaav opened #1497 "Processes resource fails in certain cases"
### Description

Trying to use this spec:

[code]

Fails on certain distributions of Linux.

### InSpec and Platform Version

inspec version 1.11.0. Host OS is Ubuntu 14.04, running Kitchen using dokken. Tested on Guest OS in Dockers: Ubuntu 14.04 and 16.04, CentOS 6 and 7 .

### Replication Case

1. Run a Docker using CentOS 6: `docker run -it --rm centos:6 bash`
2. Run the processes regex from p

[2017-02-21 09:09] chris-rock commented on #1496
@nick-oliver Thank you for reporting. Is this a duplicate of #534 ?

[2017-02-21 09:11] chris-rock commented on #1497
@LordGaav Could you pipe the output into a file to see if the newlines are just in terminal due to window width or if they are inside the ps output?

[2017-02-21 09:15] LordGaav commented on #1497
Both, depending on the OS. I believe on CentOS they are split over two lines, on Ubuntu they are not.

[2017-02-21 09:47] chris-rock commented on #875
Right now, you would need to use:
[code]

[2017-02-21 14:21] aaronlippold opened #1498 "Create a page of 'supported or maintained profiles' for compliance server"
A few users of compliance server have been asking what profiles do I get when I download and use Compliance Server or Chef Automate.

We should have a list of profiles that are bundled so folks know what they get out of the box and what they would have to maintain or create themselves.

"@shoekstra
sure, am interested in what comes bundled with Compliance so I don’t create for myself what I could

[2017-02-21 14:31] adamleff commented on #1498
@arlimus I think this is a great suggestion and we should be more transparent with our users with at least what commercial profiles are available, and some statement about how we keep them updated, etc. I don't necessarily think we should maintain this list on inspec.io but rather on a chef.io page about Automate.  What are your thoughts?

[2017-02-21 14:32] aaronlippold opened #1499 "InSpec Profiles for Chef Server, Automate and Compliance - CIS and DOD/IC"
We should create two sets of profile to support the ongoing use and deployment of the Chef product suite.

1. CIS Compliance for all three products to support commercial clients
2. DOD Compliance to support other clients for all three products

These profiles should show that the installers and chef recipes that install Server, automate and compliance server setup and configure the services to mee

[2017-02-21 14:36] mattstratton opened #1500 ""inspec compliance upload" command does not allow to specify namespace"
### Description

When uploading a profile to the Automate profile store using the `inspect compliance upload` command, the namespace is forced to be the namespace of the uploading user. It would be much better to be able to specify the namespace as part of the upload.

### InSpec and Platform Version

InSpec 1.7.2

[2017-02-21 15:01] voroniys commented on #412
I'do have an option
Protocol 2
in sshd_config, but nevertheless Inspec is complaining about it.
How is it possible?

[2017-02-21 21:43] arlimus opened #1502 "Send data to visibility collector / automate"
Move capabilities from audit cookbook to an inspec plugin.

[2017-02-21 22:52] adamleff commented on #1474
@poshpaws thanks for submitting this issue!

Unfortunately, I haven't been able to replicate this. I did the following:

 * created a new Vagrant box running CentOS 7
 * created a new profile with your replication case control
 * ensured my `/etc/audit/audit.rules` file in my VM had `-e 2` in the file
 * Ran `inspec exec` with a `-t` pointing to my VM via SSH
 * Ran `inspec archive` on my profile,

[2017-02-22 07:39] samsonkolge opened #1503 "Inspec login fails"
### Description

inspec compliance login fails

### InSpec and Platform Version

inspec -v
1.14.1

### Replication Case
$ inspec compliance login https://chef-compliance --insecure --user='admin' --token='5/_GleTs...-w=='
WARN: Unresolved specs during Gem::Specification.reset:
      multi_json (~> 1.10)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.

API access t

[2017-02-22 11:02] poshpaws commented on #1474
I think I may have self solved this issue by switching all regex to use the %r{} wrap
the example was also probably too simple to cause too much trouble anyway ...

this one would fail if it was without the %r
[code]

[2017-02-23 01:12] scboucher opened #1504 "be_reacheable matcher for host resource should not always use ping on linux"
### Description

host resource always use ping on linux. When the proto is set to tcp or udp it should at least warning the use it is going to use ping instead.

See also #1439

### InSpec and Platform Version

inspec --version
1.14.1
linux debian

### Replication Case
Here is an example of control that

[code]

### Possible Solutions

host could use netcat when proto is 'tcp' or 'udp'
tcp
[code]

[2017-02-23 02:57] adamleff commented on #1503
@samsonkolge Thanks for your issue, and I'm sorry you're experiencing a problem.

I do not see any evidence of your output that indicates that the login failed. You are receiving a warning because of an unsatisfied gem dependency, but `inspec` indicates that the login was successful.

Since the issue involves one of our commercial offerings (Chef Compliance) and we don't have enough data here to r

[2017-02-23 02:57] #1503 closed, assigned to nobody

[2017-02-23 03:00] adamleff commented on #1504
@scboucher Thanks for submitting this issue! It does appear we could offer better transparency and better functionality here.

Since this enhancement is already requested in #1439 as you've indicated, I'm going to close this issue as a duplicate of that one. Please feel free to subscribe to that one for further updates. In addition, as a friendly reminder, Pull Requests are always welcome. 😄

Than

[2017-02-23 03:00] #1504 closed, assigned to nobody

[2017-02-23 16:45] chris-rock commented on #412
@voroniys Could you share the content of the sshd config and the inspec check that you are using?

[2017-02-23 18:59] adamleff opened #1506 "Docs page for `packages` resource"
A new `packages` resource is available and the website needs to be updated with new docs.

[2017-02-23 20:57] aladmit opened #1507 "kernel_module doesn't work in CentOS 7.2"
### Description

Kernel_module doesn't work in CentOS 7.2

### InSpec and Platform Version

InSpec 1.11.0
ChefDK 1.2.22
My OS: macOS Sierra 10.12.3
Server's OS: CentOS 7.2

### Replication Case

[code]

### Possible Solutions

`command('lsmod').stdout` return empty string, but `command('/sbin/lsmod')` return normal output. So, I think we should remove condition about [`inspec.os[:release]`](https:

[2017-02-23 21:22] aladmit commented on #1507
Yeah, my solution is work, I'll send PR.

[2017-02-24 01:17] trickyearlobe opened #1508 "Colours and symbols broken on Windows"
### Description

* Passing inspec tests display white on a red backround instead of green on black.
* Failing inspec tests display white on black instead of red on black
* Fancy UTF-8 checkmarks show as ? or box character (depends which terminal used)

### InSpec and Platform Version

* Inspec 1.11.0, 1.14.1
* Windows 2012R2, Windows 2008R2, Windows 10
* Powershell, ConEmu

### Replication Case

M

[2017-02-24 01:29] hannah-radish commented on #1465
Hi @ubergeekgirl, I'm not sure how events.chef.io is built or how the content is managed, but is there an API that we can fetch the latest event data from and display in events.inspec.io?

Regarding downloads.inspec.io, do you mean bringing the packages over to inspec.io so the user does not have to go to downloads.chef.io to download Inspec?

[2017-02-24 04:43] hannah-radish commented on #1420
@chris-rock Still trying to diagnose the issue.
Resizes perfectly fine for IE10, IE11. This issue is only happening for Edge

[2017-02-24 04:52] hannah-radish commented on #1421
@chris-rock WIP, these changes will be reflected once I am done working on https://github.com/chef/inspec/pull/1512

[2017-02-24 04:52] hannah-radish commented on #1494
Done. These changes will be reflected in https://github.com/chef/inspec/pull/1512

[2017-02-24 04:53] #1494 closed, assigned to hannah-radish

[2017-02-24 04:53] #1495 closed, assigned to hannah-radish

[2017-02-24 04:55] hannah-radish commented on #1437
IE10, IE11 and Edge support for stylesheet once I'm completed with https://github.com/chef/inspec/pull/1512

[2017-02-24 16:23] arlimus opened #1514 "warn users not to use native ruby OS calls"
### Description

Users who know Ruby or read some of our previous docs on InSpec (or Chef) may try calls like this one:

[code]

These will result in different results from local vs remote calls.

### InSpec and Platform Version

all

### Possible Solutions

It'd be great to warn users during

[code]

or other inspec calls in case they ever use `File`, `Dir`, or ruby OS detections. We shouldn't st

[2017-02-24 16:48] adamleff opened #1515 "rb-readline 0.5.4 breaks functional tests"
### Description

When running `rake test:functional` with a Gemfile.lock containing rb-readline 0.5.4, some shell tests break as so:

inspec shell tests::shell#test_0007_runs anonymous tests that fail [/Users/aleff/projects/inspec/test/functional/inspec_shell_test.rb:166]:
Expected "Welcome to the interactive InSpec Shell\nTo find out how to use it, type: \u0001\e[1m\u0002help\u0001\e[0m\u0002\n\n

[2017-02-24 18:06] hannah-radish commented on #1420
@chris-rock Solved the problem. Clip-path is widely unsupported, but the use of clip-path with a media query made Edge confused to where it refused to load the site when resized to specific breakpoints. Anyways, fix is in https://github.com/chef/inspec/pull/1512.

[2017-02-24 18:07] #1437 closed, assigned to nobody

[2017-02-24 18:07] #1420 closed, assigned to nobody

[2017-02-24 20:10] adamleff commented on #1515
ConnorAtherton/rb-readline#135 submitted in hopes of fixing this upstream.

While we could fix this by pinning to 0.5.3, the omnibus rb-readline software definition defaults to pulling from master, so we'd need to change it there too and ensure that ChefDK builds don't cause issues. Since pry requires readilne, it will have a tendency to get loaded/activated first, so if 0.5.4 is in the gem path,

[2017-02-24 20:38] #1421 closed, assigned to nobody

[2017-02-24 20:42] hannah-radish commented on #1421
@chris-rock this issue is resolved in https://github.com/chef/inspec/pull/1512

[2017-02-24 20:59] adamleff commented on #1465
@hannah-radish I think the ask was to have an actual domain called `downloads.inspec.io` and have it go to our downloads page. The way the site is currently set up (using GitHub pages), this isn't possible, and the need that preceded this issue (creation of the InSpec conference cards) I think is done now -- the cards are already printed.

I think we can close this issue.

[2017-02-24 21:59] #1456 closed, assigned to nobody

[2017-02-24 22:00] adamleff commented on #1456
@artem-sidorenko and @Paladin the PR fixing this has been merged to master. Feel free to give it a try, but we also plan on cutting a new release of InSpec on Monday which will include the fix.

Thanks for your patience!

[2017-02-24 22:00] hannah-radish commented on #1440
hey @arlimus could you help me with the dynamic pages for resources to load in :side_bars in the yml?

[2017-02-24 22:32] adamleff commented on #1508
Closing, fixed in #1510.

[2017-02-24 22:32] #1508 closed, assigned to nobody

[2017-02-24 22:34] adamleff commented on #1496
Thanks for submitting this request, @nick-oliver! It does appear (to me, at least) that this is a duplicate of #534 as @chris-rock mentioned. Therefore, I'm going to close this issue as a duplicate and ask that you subscribe to #534 for further updates.

However, if you feel this isn't a duplicate, please reopen the issue or comment here asking us to do so, and I'll be happy to.

Thanks again!

[2017-02-24 22:34] #1496 closed, assigned to nobody

[2017-02-24 22:36] adamleff commented on #1463
@jkerry just wanted to acknowledge this issue and let you know we've got it. Since starting my new role with the InSpec team, this has annoyed me for quite a bit. I will definitely look into this as soon as I'm able.

[2017-02-24 22:43] #1226 closed, assigned to nobody

[2017-02-24 23:02] hannah-radish commented on #1465
@adamleff I just got off a zoom with Jessica, and I added a redirect from inspec.io/downloads (what's on the cards) to downloads.chef.io.

I'm going to leave this ticket open, if it's alright with you, to remind myself to work on the events stuff once marketing is ready.

[2017-02-25 03:29] adamleff commented on #1465
Fine with me 🙂

[2017-02-25 05:52] jkerry commented on #1463
Great!  let me know if there's any way I can assist.

[2017-02-25 16:31] artem-sidorenko commented on #1456
@adamleff thank you for fixing this :)

[2017-02-26 19:53] trickyearlobe commented on #1514
Actually, this would be a great feature as I get a lot of questions about why people can't upload profiles to Compliance server (they don't get a meaningful error).

It often turns out the profiles are rejected because they made native Ruby calls which work locally when they test, but which Compliance couldn't use in a remote scan.

[2017-02-27 09:31] chris-rock opened #1517 "IIS app pool resource"
### Description

Right now, InSpec cannot verify the IIS App Pool configuration

[code]

We should also consider merging the `iis_website` and `iis_app_pool` into one `iis` resource and provide a `iis.website` and `iis.app_pool` instead. This would be analog to our `yum` resource.

### References

* https://www.iis.net/learn/manage/configuring-security/application-pool-identities
* http://serversp

[2017-02-27 11:00] chrisevett commented on #1517
@chris-rock ill have time this week to implement this feature and make the requested changes to iis_website as well

[2017-02-27 11:01] chris-rock commented on #1517
@chrisevett Awesome, that would be so helpful!

[2017-02-27 11:29] chris-rock opened #1518 "Extend IIS application configuration parsing"
### Description

We need an InSpec resources to cover configuration available via [AppCmd](https://www.iis.net/learn/get-started/getting-started-with-iis/getting-started-with-appcmdexe). Instead of using `AppCmd` directly, we should continue to use (Web Server (IIS) Administration Cmdlets in Windows PowerShell)[https://technet.microsoft.com/en-us/library/ee790599.aspx]. This would allow us to read

[2017-02-27 17:00] #1438 closed, assigned to nobody

[2017-02-28 02:59] nathenharvey commented on #1465
It looks like inspec.io/downloads is currently a 404.  It would good if either or both of the following worked:

downloads.inspec.io does a 301 redirect to https://downloads.chef.io/inspec

inspec.io/downloads does a 301 redirect to https://downloads.chef.io/inspec

The events portion of this ticket is captured in #1492 so I think this ticket's title could be updated to remove the bit about downlo

[2017-02-28 03:02] nathenharvey commented on #1465
the reason behind the request, as @adamleff mentioned, is that we are printing some InSpec reference cards to give out at conferences and meetups.  The easier the URLs are to remember the better.  Additionally, following a common convention across all of our project sites will help (downloads.chef.io, downloads.inspec.io, downloads.habitat.sh)

[2017-02-28 12:16] arlimus commented on #884
This would have prevented a mistaken exposure in the `--format json` I merged, fail 🤕

[2017-02-28 18:39] billmeyer opened #1521 "Failure to parse tcp6 URI"
### Description

When running Tomcat 8.5 on Centos 7, it creates a tcp6 socket on port 8005 that Inspec fails to parse properly.

### InSpec and Platform Version

Inspec 1.7.1
Centos 7.3

### Replication Case

1. Run Tomcat 8.5 on Centos 7.3.
2. Run netstat to see tcp ports:

[code]

3. Run inspec on the Centos7 target:

[code]

Inspec will report this error:

[code]

From [https://github.com/dev-

[2017-02-28 19:35] jayhendren opened #1522 "Exporting convenience methods or parameterized examples from profiles"
I'm investigating moving my team's infrastructure tests from Severspec to Inspec.  One of the features of Serverspec we use quite a lot is [shared examples (which come from RSpec)](https://www.relishapp.com/rspec/rspec-core/docs/example-groups/shared-examples).  Essentially, these are convenience methods with a little bit of RSpec syntactic sugar. For example, we have libraries that define helper

[2017-02-28 19:43] chris-rock commented on #1522
@Poohblah If I understood you correctly, the main purpose is to reuse the same tests in different contexts with different parameters. Is that correct?
Are you using the serverspec tests with test-kitchen? If so, can you share your kitchen configuration?

[2017-02-28 19:57] jayhendren commented on #1522
@chris-rock that's correct. We want to reuse the same tests not only in different contexts with different parameters, but also within the same context multiple times with different parameters each time.

We are indeed currently running our serverspec tests with testkitchen.  I'm not sure which part of our kitchen configuration you're interested in, but all of our cookbooks have a .kitchen.yml simi

[2017-02-28 21:09] jayhendren commented on #1522
Ok, I figured out a way to do this from native Inspec using a little bit of monkey patching. Not sure if this is "supported" or even desirable, but it seems to work just fine.

In one profile, I created a `libraries/foo.rb` that looks like this:

[code]

Then, in a contingent profile, I wrote a control file that looks like this:

[code]

And when the tests are run on the contingent profile, I get

[2017-03-01 09:15] lijoyoung commented on #1411
I am facing the same issue. Is there any fix or workaround for this yet?  Thanks!

[2017-03-01 14:16] aaronlippold opened #1523 "Small bug on the registry_key docs page"
describe some_resource do its(‘setting’) { should cmp 'raw’ } its('setting’) { should cmp 'RAW’ } end

is not formatting as code on the docs page for the http://inspec.io/docs/reference/resources/registry_key/ page.

I am sure we just forgot a style id somewhere ...

[2017-03-01 14:21] aaronlippold commented on #1523
Looks like a
pre class="highlight plaintext"
is missing around the <p> block.

And for the life of me I couldn't put that in that html code block without Markdown trying to actually render it, do you know how we would get markdown to not parse the html?

[2017-03-01 15:02] mwrock commented on #1436
Agreed that there is a need to test http endpoints on the target machine. I'd love to be able to respond to https://github.com/test-kitchen/test-kitchen/issues/1200 with "yes. Inspec can test a test-kitchen target's HTTP API."

[2017-03-01 22:26] ecbrodie opened #1526 "Crontab regex matching"
### Description

The crontab resource is unable to apply Regex matching via the `to match` matcher. It would be nice if this were a feature, since I prefer to match a part of the command instead of the whole command in my test. This is especially useful if there are parts of a command that don't care too much about to verify working behaviour, such as paths to a command that are dynamically create

[2017-03-02 07:54] valter-silva-au commented on #1474
@poshpaws Have solved the problem with `contain_duplicates` being `DEPRECATED` ?
I'm using the code below extract from [inspect docs](http://inspec.io/docs/reference/resources/etc_group/).
[code]

And still got the following output:

[code]

[2017-03-02 09:06] chris-rock commented on #1522
@Poohblah That looks a little bit complicated and I do not encourage you to use monkey patching, since we may change our internal api at any time.

Wouldn't a simple loop work in your case?

[code]

If you want to abstract the java pkg name generation, you could do the following:

[code]

This allows you to write
[code]

We use a mixed approach of describe and resources in https://github.com/dev-s

[2017-03-02 09:26] poshpaws commented on #1474
no not solved yet , its messy and annoying , but its works for me just now , i will circle back and try again when time allows.

[2017-03-02 09:35] chris-rock commented on #1474
@poshpaws it really feels strange. Especially since the regex is evaluated in ruby, if executed remote or locally. Therefore our implementation is exactly the same. The only difference is how the file content is transferred.

Lets double-check the following:
1.) ensure the local user has permissions to read the content of `/etc/audit/audit.rules`? eg. test this via `cat /etc/audit/audit.rules`
2.)

[2017-03-02 11:40] #1523 closed, assigned to chris-rock

[2017-03-02 12:56] adamleff commented on #1474
I tried to reproduce with the more "complicated" regular expression, both with `/ /` notation and `%r{}` notation with no luck. It works whether I run it locally or not.

I wonder if @chris-rock is right and this is another case where InSpec should be modified to provide much more helpful error messaging to indicate why a test failed. I'm able to reproduce your issue if I run InSpec as a user othe

[2017-03-02 12:57] adamleff commented on #1474
And, for the record, I feel a `should_not` match should NOT succeed if we couldn't read the contents of the file for comparison. That feels like a bug to me.

[2017-03-02 13:05] adamleff opened #1528 "Request for Discussion: better error handling for file read failures"
There have been a few issues lately, including most recently #1474, where the failure for train to read a file (due to permissions, for example) causes what I believe to be incorrect InSpec results.

Example: if a user does a `should_not match` on a file that the user cannot read and that file contains the pattern, the test will succeed, but when run as root, it will not.

[code]

Seeking opinions

[2017-03-02 13:06] adamleff commented on #1474
Following our hunch and to address what I believe is a bad user experience, I've opened up #1528 to discuss regex matching on file content where the inspec user could not read the file.

@poshpaws if you believe this is still related to regex parsing somehow, please help us with a reproducible test case so we can get to the bottom of it. But I do believe this is a permissions issue and not a RegEx

[2017-03-02 13:14] chris-rock commented on #1528
@adamleff I think one of the first steps is to handle exceptions properly as pointed out in https://github.com/chef/inspec/issues/1205. Once we have the exception why something is failed, we can think about the error message.

[2017-03-02 13:43] adamleff commented on #1528
@chris-rock yeah, I looked through #1205 already. I definitely believe `skip_resource` is the wrong approach for something like this. If something underlying raises an exception, the exception should bubble-up but should not stop the run. This is already standard RSpec behavior:

[code]

[2017-03-02 18:12] chris-rock opened #1529 "Profiling for controls"
### Description

I would be good to do some basic profiling around controls. InSpec could output the amount of time each control takes during execution. This could be highlighted if a report is shown in a debug mode.

[2017-03-02 21:56] jayhendren commented on #1522
@chris-rock I really appreciate you taking your time to help me with this issue, however I believe you are missing the forest for the trees.

The solutions you gave address the specific Java example I gave, but not the problem in general:

In reality, the Java test that we have actually looks like this:

[code]

Since we have many cookbooks that depend on Java, I would like to run Java tests in my

[2017-03-02 22:10] hannah-radish opened #1532 "Get your Inspec Swag Module"
Swag module, with embeddable form
Request from Jason Little

[2017-03-02 23:17] adamleff commented on #1521
@billmeyer thanks for submitting this issue! It's super-annoying where netstat will tell us it's a v6 port but provide a v4 IP address. We've seen this problem with Elasticsearch in the past too.

I'll work on a bug-fix for this and should have something in the next few days once I get through some other work.

[2017-03-03 06:40] adbejpauli commented on #541
@arlimus

I'm excited for this. Any updates here?

Would an inspec chef_node resource type be an option?
I'm a little surprised I haven't seen one yet, but maybe there's a reason for that.

[2017-03-03 13:30] chris-rock commented on #1532
Not sure what this means. Is that for the website or an command line issue?

[code]

[2017-03-03 14:17] aladmit commented on #1436
I think we should add parameter `run: remote/local` and use `remote` by default, because all other resources run on remote host.

Example for remote host:
[code]

For local host:
[code]

[2017-03-03 15:29] sbommu opened #1534 "InSpec resource host not working for port check"
### Description

InSpec host resource is not working as expected. Using host resource to check a particular host is reachable on specific tcp port,  this test is always going success even though the specified port is not listening on the host.  Looks to me it is only checking host is pingable or not but not checking for specified port listening or not on the host.

Here is the code
describe host('

[2017-03-03 16:07] adamleff commented on #1534
@sbommu thank you for submitting this issue! I believe this is a duplicate of #1439, so I'm going to close this issue as a duplicate. If you feel I am incorrect, please comment here and I'll reopen the issue. Otherwise, I encourage you to subscribe to #1439 for further updates once they become available.

Thank you!

[2017-03-03 16:07] #1534 closed, assigned to nobody

[2017-03-03 16:18] senorcinco opened #1535 "Option to disable Diff output within exec"
### Description

When running `inspec exec`, I'd like the ability to disable the Diff output on failed tests.

### InSpec and Platform Version

Inspec 1.7.1 on Mac OS X 10.9.5

### Replication Case

    /opt/inspec/bin/inspec exec cis_oracle_db_12c_test.rb -t ssh://oracle@dbserver01.example.com

    Target:  ssh://oracle@dbserver01.example.com:22

    ×  cis-oracle-db-12c-3-4: 3.4 Ensure 'PASSWORD

[2017-03-05 03:44] makotots opened #1537 ""inspec version" waits for connection timeout inside firewall"
### Description

`inspec version` command waits for timeout inside certain firewall setup.

### InSpec and Platform Version

InSpec: 1.16.0
Operating System distribution: Debian 7.0 (Wheezy)

### Replication Case

I live in such a firewall where connection to https://rubygems.org/ times out:

[code]

This causes `inspec version` to wait for timeout too:

[code]

### Possible Solutions

https://git

[2017-03-05 23:35] adamleff commented on #1537
Thanks for opening this issue and for PR #1538 which will correct this.

[2017-03-06 16:23] #1537 closed, assigned to nobody

[2017-03-06 18:48] kcorupe commented on #1436
I can agree with expecting different behavior because all other tests run locally. I am using kitchen and attempting to use the http resource and couldn't figure out why it was not working until I found this issue.

I was also hoping to use the same tests in kitchen and remotely. But I'll need to use the curl command as a work around.

[2017-03-06 22:09] shoekstra opened #1541 "inspec outputs full hash when testing ini style file option with [header]"
### Description

When testing config in a mysql conf file with a `[mysqld]` header using the `mysql_conf` resource, the entire hash is returned in the test result instead of just the config option being tested.  This could affect other INI style files too.

Instead of seeing:

[code]

I would expect to see this (as you would without the ini style section header):

[code]

### InSpec and Platform V

[2017-03-06 22:14] shoekstra opened #1542 "include custom location/path in test result if specified"
If specifying a file name for the `mysql_conf` resource - or maybe any resource where you can specify a location instead of using the defaults as decided by inspec? - the location/path should be included in the test result output.

If you have a test with a custom file path:

[code]

Current output (and should remain if using default location):

[code]

Proposed output if custom config specified:

[2017-03-06 22:21] shoekstra opened #1543 "should access hash keys using strings when testing options in INI files"
When testing an INI style config file you cannot specify the hash key as a string, for example if you have a file:

[code]

You currently write a test like this:

[code]

We should be able to access config options/parameters using strings, e.g.:

[code]

[2017-03-06 22:50] adamleff commented on #1541
@shoekstra when #1544 is merged and released, to correct this issue, you'll want to access the data as such:

[code]

We'll look at #1543 separately.

[2017-03-06 22:51] jayhendren opened #1545 "Inspec profile attributes are not inheritable/composable"
I believe Inspec attributes should be inheritable in the same way that Chef attributes are inheritable and for the same reasons. An Inspec profile contains controls, resources, and attributes in much the same way that Chef cookbooks contain recipes, resources (LWRPs and HWRPs), and attributes.  It seems strange to me that Chef cookbooks inherit all three types of entities from their dependencies w

[2017-03-06 22:51] adamleff commented on #1542
This isn't something we can fix globally, but most resources do provide this additional context. The `mysql_conf` one simply does not, and it will be easy to fix. :)

[2017-03-06 23:04] jayhendren commented on #1522
@chris-rock after looking through some of the other issues posted to this project, I believe this is quite similar to https://github.com/chef/kitchen-inspec/issues/25 and https://github.com/chef/inspec/issues/338.  I'll leave it up to you to decide whether or not to close this as a duplicate of those, but it is fine with me if you would like to close this issue as a duplicate. :)

[2017-03-06 23:12] adamleff opened #1546 "Properly output resource names in CLI output"
When a resource name is more than two items when split into an array, the items after the 2nd element roll into the example output.

[code]

In this case, `at /tmp/my.cnf` should be on the same line as `MySQL Configuration`

[2017-03-06 23:13] adamleff commented on #1542
Not such an easy fix due to how we parse the resource string from the example string. See #1546.

[2017-03-07 05:22] adamleff commented on #1526
Hi, @ecbrodie! Thanks for submitting this issue!

With resources such as `crontab` that use our FilterTable module under the covers, the way we normally accomplish this is with a `#where` filter:

[code]

Would this approach meet your needs?

[2017-03-07 09:08] #1521 closed, assigned to nobody

[2017-03-07 09:11] chris-rock commented on #1546
@adamleff I propose we built the CLI reporter on top of our JSON reporter. Similar to what we've done with the JUnit reporter. This would allow us to load a json report and display that on CLI, too.

[2017-03-07 09:13] chris-rock commented on #1546
Please have a look at #532, #742, #839 too

[2017-03-07 09:19] chris-rock commented on #1546
Colors in travis are broken, too :-(
<img width="903" alt="screen shot 2017-03-07 at 10 18 17 am" src="https://cloud.githubusercontent.com/assets/1178413/23649654/81572a2e-031f-11e7-934a-7c8c01e1f72f.png">

[2017-03-07 13:00] chris-rock commented on #1522
@Poohblah Thank you for your extensive feedback.

I see your point. If you want to run the same tests (without different parameters) in multiple test suites, I recommend to go with profile inheritance. This is explained in more detail here: http://lollyrock.com/articles/chef-compliance-meta-profiles/ and http://inspec.io/docs/reference/profiles/ Based on that concept, you write reusable tests in a

[2017-03-07 13:08] chris-rock commented on #1436
@postgred @kcorupe Thank you for your feedback. I agree that we may should use the curl command / powershell as a default right now (local) until we have a proper concept for the requested remote capabilities. Seems like most of the tests target the local machine. Is that correct?

[2017-03-07 18:20] chris-rock commented on #1522
@Poohblah Just saw you deleted a comment. Would love to help you more, but without seeing the code and working on a specific example it is very difficult to solve your problem. Let me know if you could share that somehow.

[2017-03-07 18:26] jayhendren commented on #1522
The deleted comment was because I wrote a reply to your most recent post and then realized I had misread your post.

I am not sure what more you want from me in terms of examples.  I have already provided several examples in this issue: https://github.com/chef/inspec/issues/1522#issue-210883532 https://github.com/chef/inspec/issues/1522#issuecomment-283161316

[2017-03-07 19:12] graham1228 opened #1549 "Need better error message for improper inspec.yml formatting"
### Description

If your inspec.yml file is not formatted properly you will receive an error that give little direction to what the issue is. InSpec should have a better error message.

### InSpec and Platform Version

InSpec 1.7.2
Red Hat Enterprise Linux Server release 7.3 (Maipo)
kernel 3.10.0-514.el7.x86_64

### Replication Case

1. Create a inspec.yml file with the following
https://gist.gith

[2017-03-07 20:43] adamleff commented on #1549
Thanks for the issue, @graham1228! We can definitely make this better.

[2017-03-07 21:38] aladmit commented on #1436
@chris-rock Yes, that is correct.

[2017-03-08 21:15] adamleff commented on #1549
New output will be:

[code]

... giving the user a clear indication that the error is caused by inspec.yml rather than getting a full stacktrack from the YAML parser.

[2017-03-08 21:53] nvtkaszpir commented on #771
Sigh, wasted a bit time today because of this issue. The fact that json() expects a file and not a string was a bit confusing. Did not want to use a hack presented in #763 comment, though...

Now I'm using kinda 'retarded way' command with output to file and then later on load that json file, for example:

[code]

Kinda ugly, leaves some content after tests but works.

[2017-03-09 00:06] shoekstra opened #1553 "yum.repo with should_not exist fails with NoMethodError: undefined method `[]' for nil:NilClass"
### Description

While converting a cookbook from Serverspec to Inspec I found testing for a yum repo using `yum.repo` that does not exist causes Inspec to break.

### InSpec and Platform Version

1.11.0 (ChefDK 1.2.22)

### Replication Case

Using the original resource from my serverspec test:

File:

[code]

Output:

[code]

Using the new `yum.repo('name')` format.

File:

[code]

Output:

[code

[2017-03-09 15:53] nvtkaszpir opened #1554 "LVM resource"
### Description

I'd like to be able to parse LVM related data.
This is a placeholder for future improvements.

### InSpec and Platform Version

N/A

### Replication Case

N/A

### Possible Solutions

Use custom parameter parser with lvs/pvs/vgs commands with custom formatting: https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Logical_Volume_Manager_Administration/custo

[2017-03-09 17:34] #1549 closed, assigned to nobody

[2017-03-10 21:47] ecbrodie commented on #1526
@adamleff This code did the trick and allowed me to apply the regex matching on my crontabs like I intended.

I would say that it would be nice to support a regex matcher through an `its` statement instead of through `where`. If that's not feasible, then I say at least add this an an example to the documentation.

[2017-03-10 22:45] tylerkron opened #1556 "Add Regular Expression Support to Service Resource"
### Description

It would be beneficial if the service resource could take in as input a regular expression.  An example use case is looking for an Oracle TNS Listener service.  The oracle database name can change but the TNS Listener service is guaranteed to have "TNSListener" at the end of its name (i.e. OracleOraDB12home1TNSListener).

A good example is the package resource which currently acce

[2017-03-11 14:52] aaronlippold commented on #1459
I would say this is a **## very key resource** to get into place. At least with the the minimum ability to parse and compare the elements of the certificate or chain to test for values. This will be KEY to automating the validation and thusly deployment of production services that require certificate based authentication. ( i.e. for OS, web servers, databases, basically everything that a user woul

[2017-03-11 14:55] aaronlippold commented on #1459
Technically we will need it for the Chef Automate deployments, for setting up stacks ( i.e. a web server and db that must use ssl ) etc. etc.

[2017-03-11 15:13] aaronlippold commented on #1459
Another use case could be that I want to ensure that a root cert is installed in a certificate store, like firefox. i.e. ensure the dod root cert and intermediate cert - which are signed and valid are in the firefox certificate store, properly owned by root and are valid ( i.e. return a true from an OSCP response ). This may mean that a 'certificate_store' resource might make sense.

https://www.s

[2017-03-13 17:01] ffpollock opened #1557 "Verify Chef Automate is reach-able after login"
### Description

remfpollock01:supported fpollock$ inspec compliance profiles
/opt/chefdk/embedded/lib/ruby/gems/2.3.0/gems/inspec-1.11.0/lib/bundles/inspec-compliance/http.rb:70:in `send_request': Unable to parse URI: automate.automate-demo.com/compliance/profiles/workstation-1 (RuntimeError)
	from /opt/chefdk/embedded/lib/ruby/gems/2.3.0/gems/inspec-1.11.0/lib/bundles/inspec-compliance/http.rb:2

[2017-03-13 18:55] hannah-radish opened #1558 "Calendar for Line Chart"
Calendar widget to set a range of time for the line chart

[2017-03-13 18:57] #1558 closed, assigned to nobody

[2017-03-14 02:00] adamleff commented on #1526
@ecbrodie I'm glad to hear that you're unblocked.

Native RSpec doesn't support using `match` with an array return:

[code]

... requiring you to do something like this:

[code]

In addition to the `where` syntax, you could convert the `commands` array to a string and match that:

[code]

I think the `where` syntax is cleaner and allows you to pass a more complicated block if needed, but you do ha

[2017-03-14 13:41] schegi opened #1560 "json resource array index access not working"
### Description

Currently trying to use the json resource. Array access via index is not working as described in the documentation.

I got the following json in test.json
[code]
and the following control:
[code]
And i get the following output:
[code]
Hash access and access to the array node itself is working as expected but indexed access to the array is not working, only returning nil objects.

[2017-03-14 14:52] adamleff commented on #1560
@schegi agreed, it does appear that something is incorrect with the implementation or possibly the docs.

If you only care about the first or last element, you can use the `first` and `last` methods:

[code]

However, accessing the array items by index number does appear to be taking the full array contents and then replacing the values with `nil` instead. I'm not sure why and need to go dig in th

[2017-03-14 16:31] adamleff commented on #1560
I believe I have found the bug, and I'm putting up a PR shortly to fix it and to add some tests to the ObjectTraverser class that is responsible for this functionality.

[2017-03-14 19:27] JackChance commented on #1131
Seeing this same issue.

[code]
**chef -v:**
Chef Development Kit Version: 1.1.16
chef-client version: 12.17.44
delivery version: master (83358fb62c0f711c70ad5a81030a6cae4017f103)
berks version: 5.2.0
kitchen version: 1.14.2

**chef gem list  inspec:**
debug_inspector (0.0.2)
inspec (1.7.2)
kitchen-inspec (0.17.0)

Guest server OS is 2012r2 with powershell 4

[2017-03-14 19:46] chris-rock commented on #1131
@JackChance Can you do me a favor and update to the latest ChefDK to ensure we have that issue in the latest versions? ChefDK is available here: https://downloads.chef.io/chefdk/1.2.22

[2017-03-14 20:14] grv87 opened #1562 "cannot load such file -- nokogiri"
Looks like library uses nokogiry inside, but it isn't declared as dependency.

InSpec version 0.16.1

I use `kitchen-inspec` plugin. Stacktrace:
[code]

[2017-03-14 20:18] adamleff commented on #1562
Thanks for raising this bug. This is definitely an issue.

In a recent PR we accepted, we now use Nokogiri to create JUnit output. However, the nokogiri gem was added to the Gemfile instead of the gemspec.

https://github.com/chef/inspec/pull/1454/files#diff-8b7db4d5cc4b8f6dc8feb7030baa2478R11

We should remove it from the Gemfile and put it in the gemspec instead for sure.

[2017-03-14 20:34] MooreDerek commented on #1439
I'd be interested in helping to fix this, from the proposed solutions there are some interesting issues when looking at Windows and *nix support of available commands.

**Proposed Solution - \*nix**

Use, in order, *nc, wget, telnet, bash* then *ping*.  Use *exists* to determine if they are installed and report in the output which command was used.

The main issue that I've come across in testing

[2017-03-14 20:53] JackChance commented on #1131
@chris-rock upgraded my chefdk and I'm still seeing the same behavior.

[code]
Host machine is windows 10 btw.
Also would have expected only 1 failure report as those both exist in a describe.one block, not that it matters much.

[2017-03-15 04:39] #1526 closed, assigned to nobody

[2017-03-15 10:41] #1560 closed, assigned to nobody

[2017-03-15 14:21] iancward opened #1565 "No suites run with kitchen inspec if `inspec_tests` directive is not specified."
### Description

The documentation for kitchen-inspec provides information on how to pull suites from a Chef Compliance Server, and how to pull suites from Supermarket; however, it does not clearly provide information on how to use an inspec suite from a local cookbook.

### InSpec and Platform Version

inspec: 1.16.1
kitchen-inspec: 0.17.0
platform version: workstation is Fedora 25, running tests

[2017-03-15 19:28] adamleff commented on #1565
Thanks for raising this issue. We'll get the docs updated to be clearer on that, and to be on par with the docs in the kitchen-inspec README on GitHub which is a bit more clear.

[2017-03-15 20:02] adamleff commented on #1439
@MooreDerek I'm super excited you're willing to contribute to this, thank you!

Some of my thoughts:

 * For tools where we cannot control the timeout, I'd simply eliminate them as possible options (i.e. telnet and bash) until we can add functionality to Train for the caller to provide an execution timeout parameter and have it handle that gracefully with proper exception raising. Currently, to my

[2017-03-16 00:08] trickyearlobe commented on #1459
Hi @chris-rock I have some working code I can contribute that does a lot of this (with tests and docs)

[2017-03-17 09:57] chris-rock opened #1568 "gem resource needs support for different ruby environments"
### Description

As reported by @howdoicomputer in https://github.com/chef/kitchen-inspec/issues/107

[code]

[code]

[code]

### InSpec and Platform Version

latest

### Possible Solutions

Mitigation:
[code]

We need to be able to overwrite the path of the ruby environment that we want to check. Since ChefDK overwrites the path in your shell, that may only be valid in user shell, but not all rub

[2017-03-17 12:05] mr-exz opened #1569 "YAML file extensions support only (.yml)"
### Description

Ignoring loading of attributes files

[code]

### InSpec and Platform Version
os: CentOS 7
inspec: 1.16.1

### Possible Solutions

here: https://github.com/chef/inspec/blob/725e0a1bc50008c8ad252bd8d5c833a7af20c606/lib/inspec/secrets/yaml.rb

You use filter for file name ```target.end_with?('.yml')```

But in wiki for YAML file we have both extensions https://en.wikipedia.org/wiki/

[2017-03-17 16:17] tylerkron opened #1571 "Give error when using Process Resource on Windows"
### Description

The Process Resource is not supported on Windows.  Using the resource will simply cause a failed test case rather than an error or warning that it is not supported on the OS.  It would be nice to either have it implemented in Windows (powershell supports the ps command it is using for linux) or give an error message saying that it is not supported.

### Replication Case
The follow

[2017-03-17 19:35] chris-rock commented on #1569
Agreed @mr-exz Are you going to open a PR to fix that?

[2017-03-17 19:37] mr-exz commented on #1569
ok i'll try do it

[2017-03-18 02:25] aaronlippold opened #1573 "Need to add 'tags' and 'ref' support to the inspec/lib/inspec/objects/control.rb object."
puts #{see subject}

The control.rb object should support accepting either a hash of hash's of tags and references or an array of arrays, or in the simple case, a simple, array for references and simple hash for tags.

{tag, nist, ac-10}
[ref,http://www.you.are.here.com]
{tags}->{tag, development},{tag,disa,v-12348}
{remediation, http://myfiles,com/chef/recipes/myfix.rb}

Given I have done more Pe

[2017-03-18 03:56] AndrewRussellHayes opened #1574 "Inspec appears to incorrectly fail os x 10.12.3 package verification."
### Description

When running tests to verify packages currently installed on OS X, tests return failures.

### InSpec and Platform Version

This has been tested and happens with inspec versions 1.7.1 and 1.16.1
The Operating system is OS X 10.12.3

### Replication Case

I have an OSX 10.12.3 laptop. I have used the install files for this os version with packer to make a virtualbox vm to use for c

[2017-03-18 12:19] trickyearlobe commented on #1436
Another use case:-  you may want to check a target node can reach some external endpoint, perhaps through a proxy (eg. A machine in an enterprise datacentre that consumes the Twitter REST API through a proxy for sentiment analysis)

[2017-03-18 21:04] mr-exz commented on #1569
create PR #1575

[2017-03-20 01:39] jkerry commented on #1562
I'll take care of this, as I broke it.

[2017-03-20 03:17] jkerry commented on #1546
If I recall correctly one drawback of consuming the JSON reporter is that there will be no in progress reporting on the CLI. All of your data will dump at the end. If you go that route id suggest some kind of progress or work indicator with a cli toggle while the run is processing

[2017-03-20 12:39] #1562 closed, assigned to nobody

[2017-03-20 18:46] grv87 opened #1577 "command('diff') fails on Windows"
Problem with command('diff') resource on Windows.

InSpec version: 1.16.1
Platform: Windows 7 SP1, Windows 8 SP1

Replication case: https://gist.github.com/grv87/afcbd158686c81893a3ea0731248cab2

Output on Ubuntu - everything's OK:
[code]

On Windows, firstly, I get the folowing question:
[code]
After pressing Enter test fails:
[code]

As far as I can say the problem is with `diff` command only. A

[2017-03-20 21:08] DeltaWhy opened #1578 "Allow multi-valued tags"
We'd like to be able to add tags with multiple values, e.g.:

[code]

This should result in a tags structure that looks like:
[code]

We could do this now by passing an array to the 'tag' command but this seems like a more readable way to accomplish it. Thoughts?

CC @aaronlippold

[2017-03-21 09:38] samsonkolge commented on #1360
Team,

I am struggling with uploading a profile on Chef Automate.
[code]

I am able to ping the server from my workstation. Further below is the automate status as well
[code]
Am I missing something? Why is the compliance link not accessible?

[2017-03-21 17:44] alexpop opened #1580 "inspec json/exec missing control code data"
### Description

The output of `inspec json` or `inspec exec --format json` is missing the code details for controls when using an archived profile.

### InSpec and Platform Version

[code]

### Replication Case

[code]

You can see `"code":""` in the output of `inspec json /tmp/profile/master.zip`. Same issue for remote profiles(e.g. `inspec json https://github.com/nathenharvey/tmp_compliance_pro

[2017-03-21 17:47] amunoz951 opened #1581 "windows_feature is not detecting IIS-WebServerRole"
### Description

  describe windows_feature('IIS-WebServerRole') do
    it { should be_installed }
  end

Inspec does not find that the feature is installed

### InSpec and Platform Version

Running inspec 1.16.1 on Windows2012r2

### Replication Case

Run the above test on a machine with IIS installed. (inspec exec .)

### Error

  Windows Feature
     [MAJR]  'IIS-WebServerRole' should be instal

[2017-03-21 18:33] stephenlauck opened #1582 "Inspec installed via Habitat errors on SSL"
### Description

When running `hab pkg exec chef/inspec inspec exec https://github.com/dev-sec/ssl-baseline` I get the error `/hab/pkgs/core/ruby/2.3.1/20161214031900/lib/ruby/2.3.0/net/http.rb:933:in `connect_nonblock': SSL_connect returned=1 errno=0 state=error: certificate verify failed (OpenSSL::SSL::SSLError)`

### InSpec and Platform Version

[root@automate ~]# hab pkg exec chef/inspec inspe

[2017-03-21 18:52] alexpop commented on #1580
Traced it down [here](https://github.com/chef/inspec/blob/v1.16.1/lib/inspec/rule.rb#L249):

[code]

[2017-03-21 20:27] adamleff opened #1586 "Fix-up www build processes due to Gemfile change"
In #1585, the simulator gems were moved into the `www` Gemfile since they're not needed for omnibus / gem builds and were causing issues in Chef's jenkins infrastructure for multiple projects.

We need to update Rakefiles, build processes, and documentation for building the website, ensuring we can kick off the whole build from the `www` subdirectory.

[2017-03-21 22:21] vahidn83 opened #1588 "Invalid name argument error after upgrading Inspec"
### Description
After upgrading the Inspec on my Windows server, I get the following error:

### InSpec and Platform Version
I upgrade from Inspec 1.14.1 to 1.16.1 on Wiindows Server 2008 R2.

### Replication Case
I run the following command on the Windows box to inspect a Linux box:
`> inspec exec core.rb -t ssh://root:123@host`

[2017-03-22 08:52] #884 closed, assigned to arlimus

[2017-03-22 11:30] #1459 closed, assigned to chris-rock

[2017-03-22 11:34] adamleff commented on #1569
New PR for this is #1589.

[2017-03-22 11:35] adamleff commented on #1588
@vahidn83 thank you for submitting this issue, and our apologies that you're experiencing a problem.

Unfortunately, I'm unable to replicate the issue with the information provided. Can you please provide an exact control/test that you are using that fails, and can you please provide the full output of `inspec exec`?

Thank you!

[2017-03-22 11:37] mr-exz commented on #1569
Thx, i forgot to linked it

[2017-03-22 11:39] adamleff commented on #1577
@grv87 Thank you for submitting this issue.

From my initial look at this, it's actually functioning as I would expect. On Windows, the `should exist` check succeeds, but the output from the `diff` command doesn't match what you specified in your control. That's because it's finding the Windows `diff` powershell command on your Windows machine and not the GNU version.

So my suggestion would be to

[2017-03-22 11:46] adamleff commented on #1569
No worries!

[2017-03-22 13:36] #1569 closed, assigned to nobody

[2017-03-22 16:54] chris-rock commented on #1588
@vahidn83 Be aware that we have a `package` and `packages` resource. `packages` is not supported on Windows yet. Are the tests the same after the upgrade?

[2017-03-22 17:15] chris-rock commented on #1574
@AndrewRussellHayes I can verify it works on 10.12.3. From your examples I see that tests for `brew` and `bash` would fail. `brew` is not a brew package. In InSpec we verify packages in brew only at this moment. You should see something like:

[code]

In order to debug this issue. Could you do `kitchen login` and run `brew info --json=v1 tree `. Lets see what is happening here.

[2017-03-22 18:48] grv87 commented on #1577
No, it doesn't.

I expect that command resource would check the command in the system, not in the specific implementation of test framework. The goal for me is to check that environment has all required tools, versions etc. So that it could be used to run builds. These builds would be run without PowerShell or inspec.

If there is a need to test the command of PowerShell, it could be tested with c

[2017-03-22 18:59] adamleff commented on #1577
@grv87 InSpec operates by interacting with the shell on the target system. In the case of Windows systems, that shell is obviously going to be PowerShell. The reason InSpec approaches testing in this manner is to eliminate any need to install software on remote targets in order to effectively test and report the compliance of that target.

That does mean that when you execute raw commands and test

[2017-03-22 19:03] grv87 commented on #1577
I propose this behavior (for Windows):
If the specified command doesn't have an extension then try extensions from PATHEXT environment variable. If something is found in the current directory or in the PATH then use it.
If nothing is found then go with the current behavior.

[2017-03-22 19:13] grv87 commented on #1577
Another solution is to always specify file extension in command resource on Windows.
This could be noted in the documentation.

But that would make cross-platform tests awkward.

[2017-03-22 19:18] adamleff commented on #1577
I'm not particularly a fan of either of these solutions. The first behavior change suggestion, which it makes the behavior of InSpec very explicit, would be a different behavior than what is done today and would not necessarily be backward compatible. In addition, it adds additional logic when running commands that are not matched on other operating systems. If we were to adopt this, it would have

[2017-03-22 19:26] grv87 commented on #1577
OK, I got you.
I agree that this would be a breaking change and couldn't be implemented before 2.x.

I don't want to write platform-specific tests in any way (with the choice of extension or with `only_if`), so I'll write my own resource implementing search with extension.

[2017-03-22 19:40] vahidn83 commented on #1588
@chris-rock I'm not inspecting anything on Windows, I just use Windows for auditing Linux boxes.
@adamleff I think I found the root cause of the issue. The issue is that I have a function named 'packages' and apparently it has conflict with an internal method with the same name. However, I'm not sure why I'd never faced such issue on the previous Inspec versions.

[2017-03-22 19:43] adamleff commented on #1588
@vahidn83 I'm not sure either, as the packages resource did exist in 1.14.1 according to git history. I'm glad you found the issue. I'll be closing this issue, but please let us know if we need to reopen for further assistance.

[2017-03-22 19:43] #1588 closed, assigned to nobody

[2017-03-22 19:46] #1541 closed, assigned to nobody

[2017-03-22 19:47] chris-rock commented on #1586
That is solved via #1585

[2017-03-22 19:47] #1586 closed, assigned to nobody

[2017-03-23 01:41] aaronlippold opened #1592 "Update to the profile definition to include a primary reference"
### Description

I think we should consider updating the definition of a profile to include a primary reference which all the controls of the profile can include by default. We may not actually call it a 'reference' we could call it 'guidance' to be more in line with the general nature of the inspec.yaml file.

name: ssh
title: Basic SSH
```guidance: 'http://<...>/myguidance.pdf'```
maintainer: Ch

[2017-03-23 02:44] AndrewRussellHayes commented on #1574
@chris-rock

I see about brew and bash. So, should i just come up with another way to verify they exist. Like, for example, ensuring the binary exists?

here is the result of the brew info:

`[{"name":"tree","full_name":"tree","desc":"Display directories as trees (with optional color/HTML output)","homepage":"http://mama.indstate.edu/users/ice/tree/","oldname":null,"aliases":[],"versions":{"stable

[2017-03-23 10:07] adamleff commented on #1578
I'm not opposed to this type of change if it makes the UX cleaner.

My only feedback is that I would want it to be an append-unless-exists model. In other words, I wouldn't want the output to be `nist_rev: ['4', '4']` but rather `nist_rev: '4'`, no matter how many times you called `tag nist_rev: '4'`. I'm not sure duplicating values offers any value to the user and will likely require them to `#un

[2017-03-23 10:10] adamleff commented on #1360
Hi folks, including recent commenter @samsonkolge!

Since this is a feature/issue dealing with one of Chef's commercial products, even if the issue stems from a problem in the open-source tool, I'd like to ask you to please submit a support request to [Chef Support](https://www.chef.io/support/). We want to assist you in resolving your issue, but to ensure the issue gets the appropriate attention

[2017-03-23 10:10] #1360 closed, assigned to nobody

[2017-03-23 10:37] adamleff commented on #1592
I'm definitely not opposed to additional metadata if there's a use case present for it. Anything to allow the receivers of compliance reports to better understand the results is a huge :100: from me. But I'd like to tease out this current experience a bit more for some better shared understanding.

From what I'm reading, it sounds like you are building a profile based on a reference document and y

[2017-03-23 14:01] aaronlippold commented on #1592
Hi Adam, the Para2 is correct. And my further thoughts were generated from thinking about what the object structure - in a formal sense - would expect as we look at inheritance and instance variables of objects in the inheritance chain.

I think - as a middle ground - the top level DSL ref in each control file would be fine.

Again, not a huge issue, copy and paste works fine just wondering if it

[2017-03-24 02:06] rylarson commented on #1236
@jcarapet Can you explain how you are able to run profiles from private supermarket inside of test kitchen?

[2017-03-24 02:26] mhedgpeth commented on #1236
+1 on this feature; this would really help us

On Thu, Mar 23, 2017, 21:06 Ryan Larson <notifications@github.com> wrote:

[2017-03-24 04:16] jcarapet commented on #1236
@rylarson we actually never did. Kept having trouble recognizing the git tags. What we ended up doing was writing build job to tarball profiles, and upload to a remote repo. Now just reference the tarballs in inspec.yml as dependencies. If you want more info, happy to talk, but don't want to pollute this issue.

[2017-03-24 13:44] jerryaldrichiii commented on #1436
Quick note about the possible solution @chris-rock mentioned:

I believe `curl` is not available by default on Ubuntu 16.04. Also, the default Bash ins't complied with `/dev/tcp` support, so we can't do `cat /dev/tcp/127.0.0.1/80`.

So we will need to find another way to test a TCP connect on Ubuntu 16.04.

[2017-03-24 14:44] Belogix commented on #1131
I am having the same issue as you. My work-around for now is to use the child folder `1033`. Why it can access the child folder but not the main folder I have no idea!

Please try and see if this works for you too.

    describe registry_key('HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full\1033') do
      it { should exist }
      its('Release') { should cmp '394271' }
    en

[2017-03-24 14:59] adamleff commented on #1553
@shoekstra thanks for submitting this issue, and for your patience! I have submitted PR #1593 to fix this problem.

[2017-03-24 15:07] shoekstra commented on #1553
@adamleff no worries, looks good! Thanks for picking this up 👍

[2017-03-24 22:21] rylarson commented on #1236
@jcarapet I think `kitchen-inspec` will work fine if the inspec folks merge this pull request:

https://github.com/chef/inspec/pull/1595

Part of the InSpec Supermarket API client class was broken and unconditionally looked for profiles on public supermarket only.

[2017-03-25 00:37] jkerry commented on #1436
that's going to be tough.  It would be pretty sweet if we should open a temporary SOCKS proxy into the ubuntu box over ssh and send traffic from the local faraday gem but that doesn't seem possible with the train gem.

I'd hate doing it but it might make sense, at the start, to detect if curl is available and to send a skip resource if not windows and no curl. I'm sure community demand would drive

[2017-03-25 00:41] jkerry commented on #1436
@jerryaldrichiii netcat is an option but..  not a pretty one

[2017-03-25 10:57] guilhem commented on #1436
I may be wrong... but best option to me is to create a simple `go` application who can be used as proxy for resources.
Binary is copy on target host, executed with parameter or with an API.

Why _go_? because it works on many systems (Linux/Darwin/NT/Freebsd...) and is statically link avoiding libraries problem.

It's a quite huge change... but I think it's the cleanest solution

[2017-03-25 14:24] anandchida opened #1597 "inspec fails to install on centos 7"
### Description

Briefly describe the issue and the expected behavior
[code]
above command fails on centos 7 with
[code]

### InSpec and Platform Version
[code]
Ruby version on centos 7 is
[code]
centos 7 instance is up-to-date

[2017-03-25 17:45] jerryaldrichiii commented on #1436
@jkerry does `netcat` come on both Ubuntu and CentOS by default? I think one has `nc` but the other doesn't.

Not 100% sure though.

@guilhem, I had considered something like that, or a C program that uses kernel socket. That is a huge conceptual change though.

[2017-03-25 17:49] adamleff commented on #1436
@guilhem that indeed would be the most predictable method, however as @jerryaldrichiii said, that would be a major shift in how we talk about InSpec... we really pride ourselves on not needed to install ANY software on the remote machine in order to successfully scan, and this would be a violation of that design. That's not to say that we wouldn't consider that approach in the future, but we'd nee

[2017-03-25 17:59] jkerry commented on #1436
Pretty sure Ubuntu has netcat, not sure on centos. The main problem there is you won't be able to follow http forwards / redirects without a lot of wheel reinvention. I personally prefer the skip if you don't have PowerShell 4+ or have curl in your image approach since the former is already an active assumption for the use of json conversion and the later can be patched in with a layer PR based on

[2017-03-25 18:03] adamleff commented on #1436
@jkerry I'm with you... I have very little interest in reimplementing an HTTP client by way of netcat commands. :)

My vote is to try for curl or wget, and if it doesn't work, we `skip_resource` that resource with a very clear message as to why, and how to rectify.

[2017-03-27 07:50] stefanandres opened #1598 "no implicit conversion of nil into String when using inspec with kitchen --concurrency N"
### Description

When using inspec with kitchen test --concurrency N (N being >1) often (randomly) some verify actions fail. Retrying will let other tasks fail each time.

All my test suits are using flat profiles (so no profiles at all)
e.g. webhooks.rb:
[code]

### InSpec and Platform Version

Ubuntu-16.04
InSpec-0.17.0

### Stacktrace

[code]

kitchen-log:
[code]

[2017-03-27 16:58] adamleff commented on #1597
@anandchida thanks for submitting this issue. You will need to update your Ruby version to at least 2.1 because of the nokogiri dependency. Ruby 2.0 is end-of-support (as of Feb 2016). Ruby 2.1 is still in maintenance but only for security updates.

I will put forth a change to require Ruby 2.1 for InSpec for the rest of the maintainers to review. Sorry for the inconvenience.

[2017-03-28 03:19] erinn commented on #534
+1

[2017-03-28 19:31] lamont-granquist opened #1602 "port should be_listening busted in 1.17.0?"
this block had been working prior to bumping from 1.16.1 to 1.17.0 (although the comment suggests we've had issues with this in the past?)

[code]

the listening check seems to be blowing up now:

[code]

that's from the chef/chef kitchen-tests running under kitchen-dokken on docker containers, ubuntu/debian guests along with centos-7 (but not centos-6) all seem to be busted the same way...

[2017-03-28 19:35] adamleff commented on #1602
@lamont-granquist there were definitely some changes to that resource to address some v4/v6 issues, so it looks like we introduced a bug. I'll take a look at this soon.

[2017-03-28 20:55] #1597 closed, assigned to nobody

[2017-03-28 21:34] adamleff commented on #1602
Reproduced, PR submitted to properly handle truncated IPs from netstat output. Thanks for bringing this to our attention, @lamont-granquist

[2017-03-29 06:44] #1602 closed, assigned to nobody

[2017-03-29 08:54] #1553 closed, assigned to nobody

[2017-03-29 12:31] szymonpk opened #1604 "Netstat output for ports resource can give different result across kitchen runs"
### Description

My test case:

[code]

It works when inspec is run locally, it fails on CI (gitlab runner with ssh executor)

[code]

### InSpec and Platform Version

[code]

### Replication Case

I can't replicate this outside my environments. It works locally, fails on CI which is configured as a mirror of my local env. Issue is caused by netstat (details below).

### Details

CI netstat
[code]

[2017-03-29 12:40] szymonpk opened #1605 "Processes for port resource should be a string if it's array with single element"
### Description

Suggested by @adamleff on slack. If processes for port is single-element array it should be possible to do:

[code]

### InSpec and Platform Version

[code]

### Possible Solutions

As suggested, If processes for port is single-element array it should be a string..

### Stacktrace

[code]

[2017-03-29 14:04] chris-redekop opened #1606 "Support method arguments in 'its' assertions"
### Description

Please add the ability to pass arguments to the method call in an `its` assertion.  Something like
[code]

### InSpec and Platform Version

InSpec 1.10.0 on Ubuntu Linux.

### Possible Solutions

The **README** at https://github.com/rspec/rspec-its describes support for "metadata parameters".  I understand (from my **Gemfile.lock**) that InSpec depends on rspec-its, so I'm don't u

[2017-03-30 14:38] stephenlauck commented on #410
Did this ever happen?

[2017-03-30 14:48] adamleff commented on #410
@stephenlauck yes, the `inspec init profile` command will create a profile structure. I'm going to close this issue.

[2017-03-30 14:48] #410 closed, assigned to nobody

[2017-03-30 14:58] lukehinds opened #1609 "Cannot install on CentOS 7"
### Description

Cannot install to CentOS7

### InSpec and Platform Version

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"

### Replication Case

gem install inspec fails

    ERROR:  Error installing inspec:
	ERROR: Failed to build gem native extension.

Full stack trace below.

### Possible Solutions

I have suspicions

[2017-03-30 15:02] lukehinds commented on #1609
Just read 2.0 is end of life, so will close this as its not an issue for you to have to resolve.

[2017-03-30 15:02] #1609 closed, assigned to nobody

[2017-03-30 15:02] adamleff commented on #1609
@lukehinds the stacktrace and error isn't complete enough to determine what the problem is unfortunately. I suspect it's because gcc or other required libs aren't available for building the `rainbow` gem.

That said, with the InSpec release scheduled for today, our minimum Ruby version will be 2.1 because some dependencies (`nokogiri`, specifically) has a minimum version of 2.1, and Ruby 2.0 is en

[2017-03-30 20:26] sclark007 commented on #1410
Just ran into this while working on AIX based hardening with chef. Would this also cause issues with chef-compliance based tests?

[2017-03-30 22:42] 8la opened #1612 "Make inspec locale aware"
### Description

Validation fails even with right configuration applied. Because of the locale on the system bein tested.

### InSpec and Platform Version

Ubuntu 16.04 + Inspec 1.17.0

### Replication Case

Try to check mebership for vagrant user on a recently created kitchen-vagrant virtual machine, on a system with ES_ES.UTF-8 locale. This is de use-case that fails to me, but this thing can fai

[2017-03-31 00:57] aaronlippold commented on #1554
👍 I would also agree with this, we would also be able to support OS X as well I think.

[2017-03-31 01:01] aaronlippold commented on #1535
👍 Having been working with more profile development this week, I second this. I would even say a --compressed output could be as simple as:

[code]
Profile Summary: 1 successful, 1 failures, 0 skipped

[2017-03-31 02:26] 4-20ma opened #1613 "Resource class inheritance error"
### Description

I'm having trouble with custom resource class inheritance.

ResourceC inherits correctly from ResourceB, but ResourceA does not properly inherit from ResourceB.

It appears the resources are loaded alphabetically; inheriting from a resource with filename alphabetically before the current file loads properly whereas an error is generated for a filename later in the alphabet.

I can

[2017-03-31 12:35] yurylevin opened #1614 "Wrong regexp for Chef automate URL"
File https://github.com/chef/inspec/blob/master/lib/bundles/inspec-compliance/target.rb contains wrong regexp for uploading compliance profiles"

    def compliance_profile_name
      m = %r{^#{@config['server']}/owners/(?<owner>[^/]+)/compliance/(?<id>[^/]+)/tar$}.match(@target)
      "#{m[:owner]}/#{m[:id]}"
    end

That regexp matches standalone Compliance server, but not server, embedded into

[2017-03-31 12:41] mhedgpeth commented on #1614
I'm not sure what level of support the inspec gem currently has with automate, but it doesn't appear to be working for us. This is using 1.16

[2017-03-31 13:08] adamleff commented on #1613
@4-20ma thanks for submitting this issue. This is indeed a tricky one, and we see this issue with library files in Chef Cookbooks as well.

I'm not sure there's an easy fix or if it's something we'll be able to tackle near future. The most common workaround is the one you've already identified - naming in such a way to alter the load order and limiting inheritance where possible. I've frequently n

[2017-03-31 13:13] adamleff commented on #1612
@8la thanks for submitting this issue, and sorry for the inconvenience this caused!

While it's unlikely we'll be able to truly "localize" InSpec given the amount of time and resources that would take, I think it's completely reasonable for us to dictate that we use a uniform LC_MESSAGES setting across all systems.

This change may indeed be better implemented in [train](https://github.com/chef/tr

[2017-03-31 13:23] 8la commented on #1612
No problem, hope this helps.

P.S.: I forget to mention that you can simply force LC_MESSAGES at the begining of the execution.

[2017-03-31 13:24] adamleff commented on #1612
@8la that is very likely what we will need to do under the covers... instruct Train to use `LC_MESSAGES=C` by default but allow a non-InSpec user of train to override as needed. We'll definitely look into it!

[2017-03-31 15:22] 4-20ma commented on #1613
@adamleff thanks for confirming the issue. I thought I was doing something wrong with something as simple as multiple level class inheritance (related resources made sense to refactor and apply DRY) and failing to require the right library (still not sure why this doesn't work). I can work around it through appropriate file naming.

Is it possible for this to be documented in the custom resource d

[2017-03-31 19:33] aaronlippold opened #1615 "NGINIX Resource"
### Description

I would like to request that we look at creating an NGINIX resource that mirrors the apache and httpd_conf resources. I will be doing work with NGINIX soon.

### InSpec and Platform Version

All

[2017-03-31 20:53] juju4 opened #1616 "Inspec multi-server queries"
### Description

Any integrated option or plan to query multiple systems at once?
Any alternative recommendation like
https://github.com/hack2learn/inspec-multi-server

Typical use cases:
- check a fleet for compliance
- monitoring interface like sensu json input (sadly only one I know doing that, https://www.slideshare.net/m_richardson/serverspec-and-sensu-testing-and-monitoring-collide)

Thanks

[2017-04-01 00:45] aaronlippold commented on #1578
Hi, I think @chris-rock  and @arlimus  actually resolved this in their ever kick butt response time 👍

We can call this closed as of v.0.17.0 I think. https://github.com/chef/inspec/pull/1590/files

see: https://github.com/chef/inspec/blob/master/test/unit/dsl/objects_test.rb#L352-L363.

I then used it like this, https://github.com/aaronlippold/xccdf2inspec/blob/master/demo.rb#L31-L34

[2017-04-01 01:21] 4-20ma opened #1617 "dh_params resource (proposed)"
### Description

I propose a `dh_params` resource to validate Diffie-Hellman parameters stored in a file.

### InSpec and Platform Version

Current

### Replication Case

Resource would be based on `x509_certificate`.

### Possible Solutions

Proposed interface (feedback encouraged):

[code]

Example output:

[code]

I've written a working resource for a private project; would a PR for this resour

[2017-04-03 12:51] chris-rock commented on #1617
@4-20ma This is a great addition for InSpec!

[2017-04-03 12:56] billmeyer opened #1620 "SSL Resource - Protocols Filter has wrong description"
### Description

On [http://inspec.io/docs/reference/resources/ssl/](), the __protocols__ section has the wrong description.

[code]

It would also be helpful to have the list of allowed values from [https://github.com/chef/inspec/blob/master/lib/resources/ssl.rb#L36]() supplied in the documentation for the `protocols` filter.

### InSpec and Platform Version

Tell us which version of InSpec (`ins

[2017-04-03 13:00] adamleff commented on #1617
I 100% support this, and since you already submitted a PR with this functionality, I'm going to close out this issue and we'll continue the discussion in #1618.

Again, thanks for your contribution!

[2017-04-03 13:00] #1617 closed, assigned to nobody

[2017-04-03 14:57] adamleff commented on #1578
@DeltaWhy do you agree that this functionality exists as you expect and we can close this issue?

[2017-04-03 19:25] adamleff commented on #1616
@juju4 thank you for submitting this inquiry.

I am unaware of any current plans for InSpec itself to query multiple systems. At Chef, we have some commercial offerings that allow you to use the [audit cookbook](https://github.com/chef-cookbooks/audit) (which is open source) to run InSpec profiles every time Chef runs on your node so you don't have to actively scan your infrastructure - it will co

[2017-04-03 20:08] chris-rock commented on #1616
@juju4 Thank you for bringing that up. Thank you @adamleff for the clarification.

InSpec is following the unix principle: 'Do One Thing and Do It Well'. Therefore we aim to provide the best tool for infrastructure testing and compliance scanning. InSpec is prepared for on-top automation. We use InSpec as the compliance engine for Chef Automate and Chef Compliance. Please checkout our CLI json fea

[2017-04-03 20:12] #1616 closed, assigned to nobody

[2017-04-03 20:15] #1620 closed, assigned to nobody

[2017-04-04 11:06] starx opened #1625 "Resource "command" does not find command `cd`"
### Description

When you describe a command to change directory and run a command, for example:

[code]
Outputs the following during `kitchen verify`

[code]

Running the same from inspec shell also gives the same result:

[code]

### InSpec and Platform Version

Inspec version: 1.11.0
Guest os: Ubuntu 16.04
Workstation: Windows 10 MingW64
Guest driver: vagrant

[2017-04-04 11:46] juju4 commented on #1616
Sadly, if I'm very happy with inspec, I'm not in a Chef environment, so need to review how to best used it widely else go back to serverspec.

[2017-04-04 11:51] mhedgpeth commented on #1616
@juju4 we have successfully run inspec by using a powershell script. You could also use ansible or saltstack to do it. We may be using jenkins as a runner and the nunit output formatter to see the tests in Jenkins. There are a lot of options there for you, even if it's not built into the product.

[2017-04-04 12:08] juju4 commented on #1616
Thanks @mhedgpeth
Good to know!

Was not worrying much about Jenkins use but more how to translate with other inventory tools like the one of ansible or salt. There is ansiblespec tool which does that for serverspec and an issue exists to include inspec support but for now, it's pending contributions.