[2018-11-28 19:45] nexeck commented on #3614
It seems, that the dependency to the train package in inspec wasn't update?

With inspec-3.0.60-1.el7.x86_64 i keep getting the error.
It keeps using train version 1.5.6

[code]

[2018-11-28 21:22] nandudb commented on #2413
Any progress or update on this? We have similar requirement?
I want to know whether any option to either prompt for password or  hide password or read pwd from any file?
Any help would be much appreciated

[2018-11-28 22:12] jerryaldrichiii commented on #2413
No progress @nandudb...apologies.

As far as hiding the password you can pass options in via a JSON file with `--json-config` or you can use and ENV variable:

Examples:

[code]

[code]

[2018-11-29 00:52] paul1994 opened #3635 "Habitat InSpec Package uses BusyBox` rpm` which does not support remote querying"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

BusyBox's `rpm -qi` does not support querying remote packages (only supports local RPMs) (Trust me :D)

The Habitat package `chef/inspec` does not have `core/rpm` so the default `rpm` command is BusyBox's `rpm` this breaks package detection in InSpec because the `package` resource (on RHEL like systems) uses `rpm`. See: https://github.com/

[2018-11-29 04:30] miah commented on #3017
A lot of good ideas here =)

I'd like to see optional `message` support in `waiver_if` and similar.

We should also consider waivers at the `inspec.yml` level, this could be performed by excluding tags.

It might look like this

[code]

[2018-11-29 14:00] aaronlippold commented on #3017
Hi all, this is one of the most sensitive areas of our compliance work. We
need to be very careful about how we approach this as we must not forget
that risk decisions versus compliance data are two different processes. We
need a way to articulate accepted risk decisions but while doing that we
need to ensure that we don't obfuscates or mute the compliance data
necessary that informs those risk de

[2018-11-29 17:20] clintoncwolfe commented on #3316
From my perspective, I don't think we should introduce the term "dangerous" - that implies that running InSpec is sometimes risky.  Here, you're saying there may be a performance impact (which I acknowledge is an operational risk), so I think we should focus on that aspect.  Perhaps 'slow', 'heavy', 'load:high', etc.

Of course, each org can use whatever terminology they prefer in their tags.

It

[2018-11-29 18:22] clintoncwolfe commented on #3631
Attn: @james-stocks

Refs: #2992 #2980 #3136

[2018-11-29 19:32] clintoncwolfe opened #3636 "Add plugin dependency information to profile metadata"
### 🎛 Description

🙋 feature request

With the addition of #3557, DSL-type Plugins, you can now write profiles that rely on DSL functionality provided by a specific, non-core plugin. However, there is currently no way to inform InSpec of that requirement; so running the profile without the plugin installed will fail, in uninformative and possibly ugly way.

If a required plugin is not installed, w

[2018-11-29 19:56] clintoncwolfe opened #3637 "How shall profiles rely on gems?"
### 🎛 Description

🙋 feature request

The InSpec project suggests packaging custom resources in special profiles called [resource packs](https://www.inspec.io/docs/reference/glossary/#resource-pack) which typically contain no controls, but define new controls in the `libraries/` folder.

Often, those custom controls need (or want) to rely on specific Ruby Gems - not inspec plugins, but simply gems

[2018-11-29 20:46] jquick opened #3638 "Convert old plugins and functionality to V2 plugins (reporters, fetchers, secrets, etc)"
### 🎛 Description

🙋 feature request

We currently have a mix of v0, v1, and v2 plugins internally in InSpec.  v0 is total chaos; v1 is undocumented and unstable; and v2 is our publicly declared plugin API. By converting the plugin types, we empower passionate community members and partners to customize InSpec for their environment.

To convert the old functionality, we need to define plugin types

[2018-11-29 22:41] trevor-vaughan commented on #3316
@clintoncwolfe Running InSpec *is* sometimes risky, particularly when running on production systems.

1. InSpec logs into systems directly via SSH and runs privileged commands automatically
    * This is mitigated if you prohibit this behavior
2. InSpec runs automated privileged commands that exercise various security subsystems
    * Sometimes, the only way to figure out if a security subsystem i

[2018-11-30 11:04] james-stocks commented on #3631
Thanks for the heads up @clintoncwolfe

The user/users changes were previously an issue for us, but we're currently only using `shadow.where` and it appears https://github.com/inspec/inspec/pull/3627 won't alter how `where` filtering works at all.
So no objections from our team on making this change.

[2018-11-30 19:45] jquick opened #3640 "Create an input provider for Hashicorp Vault"
### 🎛 Description

🙋 feature request?

Create an input provider (plugin?) and include HashiCorp vault.

TBD

[2018-11-30 19:54] clintoncwolfe opened #3642 "Ability to scan a habitat installation"
### 🎛 Description

🙋 feature request

Have enough train capabilities to talk to a Habitat installation, and audit the conceptual objects it contains.

Package and services are most important. As it is distributed, harder to verify that a

Use cases (in order of priority, no commitment implied):
 * specify that certain packages are not allowed to be installed
 * specify that certain services are en

[2018-11-30 19:55] jquick commented on #2881
Closing in favor of https://github.com/inspec/inspec/issues/2976

[2018-11-30 19:55] #2881 closed, assigned to nobody

[2018-11-30 19:58] jquick commented on #2950
Is this still an issue? We are unable to reproduce with the current release.

[2018-11-30 19:59] clintoncwolfe commented on #3316
Just found we have #1677, which is about adding a --tags flag

[2018-11-30 20:07] aaronlippold commented on #3316
Yes, I very much agree with Clinton. I have been working with many
different teams utilizing inspect profiles and given the knee-jerk reaction
and misperceptions of things in general about what does it mean we have to
be very political about anything we introduced into the system.

On Thu, Nov 29, 2018, 12:20 PM Clinton Wolfe <notifications@github.com
wrote:

[2018-11-30 20:15] jerryaldrichiii commented on #3091
I am unable to reproduce this with 3.0.61.

I created a profile_a which has a dependency defined of profile_b. The controls in profile_b look like so:

[code]

I've tested both the below in profile_a and it behaved as expected:

[code]

[code]

[code]

[2018-11-30 20:17] jerryaldrichiii commented on #3433
I agree with @chris-rock. This might be `filter_table` only or any code in the profile body (because it is executed during load). It looks like `--controls` works as expected when using a basic use case. See: https://github.com/inspec/inspec/issues/3091#issuecomment-443326217

[2018-11-30 20:41] clintoncwolfe commented on #3316
Personally, I like #1677 - then you can make up whatever tagging scheme you want, and enforce it however you want.  While all of @trevor-vaughan's points are valid at *their site, for their use case,* InSpec has no way of knowing if an audit operation (like, say, something I/O intensive) is risky to the main functionality of the machine.  In other words, the definition of "dangerous" will vary fro

[2018-12-01 00:17] walker233 opened #3643 "[Stretch] group resource: members returns nil"
### 🎛 Description

This is a 🐛 bug report

On Centos 7.5 the group resource members returns nil, but the equivalent groups resource with members returns the list.

### 🌍 InSpec and Platform Version

InSpec 2.2.112, Centos 7.5, running through kitchen-inspec 0.24.0

### 🤔 Replication Case

When you have a group named sftpusers exists with a single entry 'sftponly' the following code succeeds for gr

[2018-12-01 03:14] aaronlippold commented on #3605
Well given MITRE runs the CVE database I will see how we could push on this a bit. What I need from you guys is some thoughts and suggestions on what do we really need for an interface to the CVE database - what makes sense - what would scale etc.

[2018-12-02 20:43] trevor-vaughan commented on #3316
@clintoncwolfe The tag approach is certainly fine with me. I'm more concerned about having consistent guidance about the types of things that should not be run by default as a best practice when creating profiles.

For example, if I decide not to read the 24k+ lines of a module because "the inspec community is responsible, right" and it does a `find /` and nukes my production HDFS instances during

[2018-12-03 19:32] clintoncwolfe commented on #3316
Hrm.  So, I think you're looking for something in which a particular resource (or matcher or property on the resource) declares that it does something that is (hardware) resource-intensive?

I can see cases where we decided not to do something (`aws_s3_bucket` does not examine object permissions, because there is no scalable way to do that) for that very reason.  But, there are certainly places wh

[2018-12-04 16:03] g1ps commented on #3594
Also found #2907 today, so it's not just me. How about fixing this?

[2018-12-05 00:07] #3479 closed, assigned to alexpop, jquick, vjeffrey

[2018-12-05 01:16] phiggins opened #3648 "Inconsistent handling of warnings with log-level and stderr"
### 🎛 Description

This is a bug report.

Occasionally I find profiles that make inspec generate warnings. This causes problems when we're expecting inspec to generate parseable json, for example. The bug I'm experiencing is that the various inspec commands seem to inconsistently honor the `--log-level` flag and printing warnings to stderr, both of which I could use to workaround the issue without

[2018-12-05 14:17] robthew opened #3649 "Impact boundary definitions"
### 🎛 Description

🙋 feature request

According to the [InSpec docs](https://www.inspec.io/docs/reference/dsl_inspec/), the current impact boundaries are defined as:

0.0 to <0.01 these are controls with no impact, they only provide information
0.01 to <0.4 these are controls with low impact
0.4 to <0.7 these are controls with medium impact
0.7 to <0.9 these are controls with high impact
0.9 to 1.

[2018-12-05 15:09] rx294 opened #3650 "attribute() doest not work inside describe.one"
### 🎛 Description

This is a 🐛 bug report

Pulling attribute values using attribute() does not work inside a describe.one block

### 🌍 InSpec and Platform Version

3.0.61

### 🤔 Replication Case

The following defenition will fail
[code]
Error:
[code]

However this works fine:

[code]

### 💻 Stacktrace

[code]

[2018-12-05 17:42] jerryaldrichiii commented on #3648
I believe the issue is `warn` vs `Inspec::Log.warn`. The former will not be affected by `--log-level`. We should do a search and replace throughout the code base in my opinion.

[2018-12-05 18:50] clintoncwolfe commented on #465
My personal desired approach would allow this sort of behavior.
* A deprecation facility that is available throughout InSpec, core code or core resources.  It is less likely to be useful to resource pack authors, but it could be.

Using it, you might say:

[code]

There are other ways we could call Inspec.deprecate, of course.

Next, along with the calling mechanism, we have a config file, perhaps

[2018-12-05 18:57] clintoncwolfe commented on #3642
@clintoncwolfe 	split ticket, create separate one for extension of storing creds profiles in json-config

[2018-12-05 19:00] jquick commented on #3174
This would be a huge breaking change if we started erroring instead of skipping on file/comman issues. A lot of profiles would be redone to accommodate it.

[2018-12-05 19:02] jquick commented on #3638
This needs to be divided out into sub tasks. We need to decide which ones we want/need. I think it would be roughly Medium size for each plugin time we are looking to convert.

[2018-12-05 19:05] jquick commented on #3017
Need to finalize UX for filter properties in the inspec.yml

[2018-12-05 19:20] frezbo commented on #3174
@jquick Agree a lot of profiles would need to be re-written, but using Inspec as a compliance scanning tool requires the test to fail if the file does not exist, or if something fails the test should error out, rather than skipping, this could be well converted to an RFC.

[2018-12-05 20:06] majormoses commented on #3174
I agree that it will break things but this is a bug fix not a feature enhancement/request/change. Testing and more specifically compliance is pass/fail world. Just because it's an upstream bug does not change the fact that its fundamentally flawed. We may choose to version it as a major version to avoid people complaining but that does not change the fact that the tests/profiles that are written a

[2018-12-06 13:50] g1ps opened #3652 "Inspec broken after upgrade."
### 🎛 Description

**🐛 bug report

Inspec doesn't work after upgrading to 3.0.61. Worse still, it breaks all usage of Inspec. I tried repairing, and rebooting. Both failed After reverting to 3.0.52 that now won't run and fails with the same error. Inspec is now dead on this machine.

### 🌍 InSpec and Platform Version

^
Windows 7 Pro

### 🤔 Replication Case

upgrade and run the tool.

### 💁 Possib

[2018-12-06 17:16] g1ps commented on #3652
My mistake. It turned out to be an uncommented comment causing an issue. The excessive amount of unhelpful output misled me. I'd offer that as a reason to improve what's reported.

[2018-12-06 17:16] #3652 closed, assigned to nobody

[2018-12-07 05:49] amitsaha opened #3653 "docker: label matching not working with multiple labels"
### 🎛 Description

🐛 bug report

Label matching doesn't seem to work correctly when we have multiple labels. It seems like `include` is doing an exact match? Please see below.

### 🌍 InSpec and Platform Version

OS: Linux
[code]
### 🤔 Replication Case

Test:

[code]

Run an example container:

[code]
Run test:

[code]
The issue seems to be that `["app=redis, version=foo"]` should really be `["app=

[2018-12-07 05:52] amitsaha opened #3654 "docker: "include" labels support for `where`"
### 🎛 Description

🙋 feature request

One of the examples for the docker resource is:

[code]

It also mentions that i can use `labels` in the where criteria.  How do I say, select containers which includes a label? Is something like this possible `..where { labels include 'my=label'}` ?

### 🌍 InSpec and Platform Version

NA
### 🤔 Replication Case

NA
### 💁 Possible Solutions

I would try to impl

[2018-12-07 14:04] jquick commented on #3650
Thanks for reporting this @rx294. We are in the process of converting attributes to a internal plugin so we will add this to our test cases. @clintoncwolfe

[2018-12-07 14:10] jquick commented on #3649
Looks like the documentation is a bit off on the boundaries.

The implementation seems to be correct and in compliance with the CVSS spec https://www.first.org/cvss/specification-document which we adhere to. We will update the documentation to remove any confusion.

[2018-12-07 17:48] klub commented on #3614
Hi guys. Do you have any estimate when then train library that comes with inspec will be updated to contain a version that supports Amazon Linux 2 please? Are there any suggested work arounds you can advise in the meantime?

[2018-12-07 18:11] clintoncwolfe commented on #3648
InSpec code is all over the place on this, calling bare `puts` in places, using Inspec::Log in others, and `warn` in other places.

I am very much in favor of fixing this, but note this will also involve a lot of corrections in the tests, since they current looks for errors in the "wrong" locations.

[2018-12-07 20:01] nexeck commented on #3614
@klub I am using this workaround:

[code]

[2018-12-08 00:00] jerryaldrichiii commented on #3614
@klub The release yesterday should have the newest version.

Can you update and try again?

[2018-12-09 12:12] akr257 commented on #3614
I have the same error on an Amazon Linux2 instance

[2018-12-09 17:38] jaredledvina commented on #3614
https://github.com/inspec/inspec/pull/3657 should bump `train` to the latest release which actually has the fix. If I understand correctly, that needs to be merged and another Inpsec release has to be cut.

[2018-12-10 03:28] aaron-lane opened #3658 "InSpec does not adhere to Semantic Versioning for Minor Versions"
### 🎛 Description

This a 🐛 bug report.

Enhancements, new features, and new resources have been added in patch releases of version 3. These releases seem to contradict InSpec's proclaimed adherence to Semantic Versioning.

### 🌍 InSpec Version

[v3.0.12](https://github.com/inspec/inspec/blob/master/CHANGELOG.md#v3012-2018-10-24)
[v3.0.25](https://github.com/inspec/inspec/blob/master/CHANGELOG.md#

[2018-12-10 10:25] wiebe opened #3659 "mysql_session: Failure when a query returns a row that begins with the string 'error'"
This happens for example if you use SHOW VARIABLES which has a variable named error_count.
[code]

The warning that will appear:

It's because of the last part of this regex, it checks for lines that start with error

https://github.com/inspec/inspec/blob/v3.0.64/lib/resources/mysql_session.rb#L33

[code]

A real error seems to always start with the text ERROR and is followed by a space and a numb

[2018-12-10 19:53] clintoncwolfe opened #3661 "Formalize InSpec config file handling"
### 🎛 Description

🙋 feature request

Currently, the `--json-config` option takes a path to a file (defaults to `~/.inspec/config.json`).  That config file currently is treated as follows:

 * We read it.  There is no validation or file format version or schema.
 * We merge it into the hash of CLI options that Thor parsed.  This makes it very powerful!

However, some things have just been glued in

[2018-12-10 20:14] clintoncwolfe commented on #3658
EDIT:

I had a little defensive message about breaking changes and major versions; re-reading the OP, I absolutely concede the point: we definitely have introduced features on patch releases, which should have been minor version bumps.

We do have a CI engine tag which will bump the minor, but it has to be manually added.  We also have a cultural issue on the team, I think, that a minor version bu

[2018-12-10 20:40] miah commented on #3658
I don't consider a minor version bump a big deal really. I'm fine with proliferation of minor versions. I for one welcome InSpec version 3.1337.0 =)

I agree that any time we see 'New Feature' in the ChangeLog we should probably be seeing a Minor bump.

As long as we don't have a artificial ceiling on minor version numbers this should never be a issue.

I'm also curious about impact, but I could s

[2018-12-10 20:47] clintoncwolfe commented on #3658
It would be good to be able to pin properly - say, a new resource you rely on was introduced in 3.1.12, and you could pin your profiles to insist on `~>3.1`, to ensure you get 3.1+ but not 4. That's an argument for including resources in minor bumps.

[2018-12-10 22:45] nellshamrell opened #3662 "Small bug in habitat inspec integration"
### 🎛 Description

🐛 bug report

Hello!  I am playing with the Habitat InSpec integration.  I found a minor bug when running an InSpec profile packaged with Habitat.

When I run my package like this:

[code]

I get this error:

[code]

I took a look at the file in question, and it looks like it's owned by root

[code]

If I manually change ownership of that file to hab

[code]

Then the profile ru

[2018-12-10 23:01] nellshamrell commented on #3662
And it turns out I was seeing this because I was running it on a box that had run a previous version of the profile and that file was left over.  It works fine on a fresh box!

Closing issue.

[2018-12-10 23:01] #3662 closed, assigned to nobody

[2018-12-11 04:05] aaron-lane commented on #3658
@clintonwolfe no worries; I didn't even see it before you edited it. :wink:

Updating the minor version of the gem when backward compatible features are added would be helpful for projects like Kitchen-Terraform which depend on InSpec as a gem rather than a command-line tool. Semantic versioning makes it easier to ensure dependencies can easily be updated in a predictable way, and end users can ch

[2018-12-11 18:43] frezbo opened #3664 "Git fetcher fails on machine with FIPS enabled machines"
### 🎛 Description

** 🐛 bug

Git fetcher fails on FIPS enabled machines as Inspec only checks if `stderr` is empty. We get the FIPS mode initialized in stderr. Ref: https://github.com/inspec/inspec/blob/master/lib/fetchers/git.rb#L92

### 🌍 InSpec and Platform Version

All

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

Change the logic to check `exit_status`

[2018-12-11 22:31] clintoncwolfe opened #3666 "Convert Attribute providers into a v2-API plugin Type"
### 🎛 Description

🙋 feature request

Refs #3638

InSpec, as of 3.0.61, supports 4 ways of setting inputs, though they are implemented inconsistently and scattered throughout the code.

* directly in profile control files (`attribute('something', default: 12)`)
* via a "secrets file" (--attrs my-secrets.yaml)
* via profile metadata
* embedded in calls to Inspec::Runner.new (this is how kitchen-ins

[2018-12-11 22:32] clintoncwolfe commented on #3666
Work is underway on https://github.com/inspec/inspec/tree/cw/plugins-attribute-provider-type

[2018-12-11 22:38] clintoncwolfe opened #3667 "Convert Reporters to a v2-API Plugin Type"
### 🎛 Description

Refs #3638

🙋 feature request

Reporters (output formats) are semi-modular (a "v0" plugin).  Most are based off of the RSpec JSON format; but there are kludges involved.  Adding a new reporter is not a clear or easy task, but is often requested.

* [x] Make a Reporter v2-API plugin type
  * [x] Should support one-shot (wait-for-everything) mode
  * ~Should support incremental (p

[2018-12-12 09:43] klub commented on #3614
Unfortunately its still failing with the same error:

[code]

[2018-12-12 17:15] clintoncwolfe commented on #3658
I think we're all on-board. Thursday's release will be a 3.1 series, and we'll be bumping minor much more often.  We're still working out how fine-grained that should be in some areas, but I think it will be much more reliable.  Thanks for bringing up a pain point!

[2018-12-12 18:05] jerryaldrichiii opened #3668 "Clean up URL fetcher to reduce repeated URI parsing / stringification"
### 🎛 Description

We elected to merge https://github.com/inspec/inspec/pull/3633 as is since the risk for harm is low. However, the entire URL fetcher needs to be given another look. Mainly to remove all the changes to and from a string throughout.

I'll mark this as tech debt for cleanup later.

Aha! Link: https://chef.aha.io/features/SH-2203

[2018-12-12 18:05] #3626 closed, assigned to nobody

[2018-12-12 18:23] clintoncwolfe commented on #3631
Refs #3648 #465

[2018-12-12 18:32] #3659 closed, assigned to nobody

[2018-12-12 19:08] #3664 closed, assigned to nobody

[2018-12-13 22:46] bytemarcz commented on #3594
Hello @g1ps , I've been on the Slack channel getting support from several people. It sounds like my environment variables may not be set correctly when I run the oraclesb_session resource. I feel like I've done exactly the same as you covering my ground. I sorta have the same situation going on.

Scenario:
I'm on a Windows machine where I use Inspec to run tests remotely. I have gotten certain con

[2018-12-13 22:47] bytemarcz commented on #3255
Hello, @ehaselwanter did you get this resource to work on a unix/linux system?

[2018-12-13 23:08] clintoncwolfe commented on #3658
Thanks again for opening this. I've made a small announcement about semver on the 3.1.3 release announcement.  I'm going to go ahead and close this, thanks!

[2018-12-13 23:08] #3658 closed, assigned to nobody

[2018-12-14 02:49] aaron-lane commented on #3658
@clintoncwolfe thank you for the swift response!

[2018-12-14 09:07] ehaselwanter commented on #3255
@maczamora yes. you need to decide what you use as the executable. We decided to go with sqlplus. and the other thing which might hit you is that you need to fix the LD_LIBRARY path for sqlplus, since you are coming in over ssh and it might be missing.

something like:

[code]

[2018-12-14 23:32] bytemarcz commented on #3255
@ehaselwanter so if the executable for sqlplus and LD_Library aren't a factor would you recommend to try running the test from a unix/linux based system? I'm currently running from host (Win) sshing to AIX IBM server where the db is located.

[2018-12-16 16:46] avishefi commented on #2426
Closed by #2617 ?

[2018-12-16 22:06] lain0 commented on #3653
try to update inspec, this works fine vs inspec 3.1.3

[code]
[code]

[2018-12-17 05:28] amitsaha commented on #3653
thanks for that @lain0 - `docker_container` works for me.

However, I see the same result with my original issue where I use `describe docker.containers.where `.

[2018-12-17 23:49] amitsaha commented on #3653
Example `docker ps`:

[code]

[2018-12-18 00:11] jerryaldrichiii commented on #3654
This (#3673) will make it so you can do ```.where { lables.include?('my=label') }```.

Is that fine?

[2018-12-18 02:20] amitsaha commented on #3653
Thanks to @jerryaldrichiii for helping on this and trying to fix it up in #3673 . For now, this alternative approach works (with the fix):

[code]

[2018-12-18 02:22] amitsaha commented on #3654
Yes, that will work. closing this.

[2018-12-18 02:22] #3654 closed, assigned to jerryaldrichiii

[2018-12-18 15:02] clintoncwolfe commented on #2426
Yes, it appears so - see https://www.inspec.io/docs/reference/reporters/

[2018-12-18 15:02] #2426 closed, assigned to nobody

[2018-12-19 03:01] FilBot3 commented on #2045
There isn't an include libraries option for InSpec?

[2018-12-19 06:33] amitsaha opened #3675 "Support AWS SQS Queue"
### 🎛 Support AWS SQS Queue

 🙋 feature request

I started on supporting `aws_sqs_queue` as a resource. Please see https://github.com/inspec/inspec/pull/3674/

### 🌍 InSpec and Platform Version

AWS

### 🤔 Replication Case

Not relevant

### 💁 Possible Solutions

NA

### 💻 Stacktrace

NA

[2018-12-19 07:10] grantbee commented on #3353
The following inspec code was written to work around this error, and is probably a better way of achieving the same outcome.

[code]

[2018-12-19 07:14] #3353 closed, assigned to nobody

[2018-12-19 20:04] clintoncwolfe opened #3681 "Group CLI Transport Options by prefix"
### 🎛 Description

🙋 feature request

The CLI options related to transports are very inconsistent.

These are some SSH options:
[code]

These are some winRM options:
[code]

`inspec help exec` shows the options in (apparently) random order.

#3669 adds more winrm options, but prefixes them with `--winrm-`.

Most transports move a lot of their options into a target URL, but that solution is almost

[2018-12-20 02:04] samcornwell opened #3682 "Control `descriptions` inconsistent json representation"
### 🎛 Description

🐛 bug report

Both profile json (from `inspec json`) and results json (from `inspec exec`) contain an array of controls. The JSON representation for a `description` of a control differs between the two.

### 🌍 InSpec and Platform Version

3.0.52
macOS

### 🤔 Replication Case

Take any profile, and run `inspec json .`

The resulting descriptions for some control in the array of c

[2018-12-20 15:53] aaronlippold commented on #3682
This looks like a small bug in formatter. Maybe we can just push a small PR
to fix this. What would be the preferred format type a or type b?

On Wed, Dec 19, 2018, 9:05 PM Sam Cornwell <notifications@github.com wrote:

[2018-12-20 17:31] #3653 closed, assigned to jerryaldrichiii

[2018-12-20 18:13] clintoncwolfe opened #3683 "Unit tests failing on inspec json inheritance test"
### 🎛 Description

🐛 bug report

When run locally, and occasionally on TravisCI, the unit tests fail when testing the `inspec json` command.

### 🌍 InSpec and Platform Version

3.1.3

### 🤔 Replication Case

[code]

### 💻 Stacktrace

[code]

[2018-12-20 19:09] clintoncwolfe opened #3684 "Improve integration testing of databases"
### 🎛 Description

🙋 feature request

For database-targeted resources such as postgres_session, oracledb_session, etc , no formal integration testing exists.  Some unit testing exists, but unit testing simulates responses from outside systems.  Many recent issues have been reported which would have been caught by testing with real databases - see #4573

Fixing these issues is also difficult since

[2018-12-20 19:33] #3675 closed, assigned to nobody

[2018-12-20 21:04] miah commented on #3684
I see a few solutions here

1. Vagrantbox files included with our repository so that developers have a easier time spinning up databases for local development.

1. Travis can give us [databases to test against to keep our test loop short](https://docs.travis-ci.com/user/database-setup/). Appveyor also has [database support](https://www.appveyor.com/docs/services-databases/). Neither supports Oracl

[2018-12-20 22:31] clintoncwolfe commented on #3684
I'm not sure we need it under automated CI yet - as a "baby step", I'd like to first be able to run a rake task and run all database tests, or run a different rake task and only run against one RDBMS system, etc.

I also don't want to optimize for test loop speed, at least not yet.  Slow setup is OK; so long as we split the tasks finely (setup, load data, run tests, tear down), we can run setup, t

[2018-12-21 10:00] gsreynolds commented on #3684
Thanks @miah and @clintoncwolfe 👍

For testing #3680 I spun up Oracle Standard Edition in AWS RDS. If we are looking for the one way to test all the databases, RDS seems like a good option as you can spin up temporary Postgres, MySQL/MariaDB, Oracle and MSSQL instances. Agree that it should be selectively tested initially.

[2018-12-21 17:18] jerryaldrichiii opened #3688 "Add supported platforms to resource docs"
It would be nice to be able to tell what platforms are supported by a specific resource without having to look at the resource code.

Aha! Link: https://chef.aha.io/features/SH-2202

[2018-12-21 20:03] clintoncwolfe commented on #3688
Refs #3165

[2018-12-22 18:54] tbugfinder commented on #765
on my end, common PROXY settings are not used by inspec:
[code]

[2018-12-24 06:40] nsr99 commented on #2394
I am trying to test Azure Load Balancer with inspec using the API calls. My control file looks like below:

**Control file:**
[code]

**Profile file inspec.yml**
[code]

When running the test I am getting below error:

 **×  file_check: /home/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx/newtest/test/integration/new_profile/controls/basic.rb:13
     ×  Control Source Code Error /home/xxxxxxxx-xxxx-xxxx-xxxx

[2018-12-28 16:45] clintoncwolfe commented on #1515
Functional tests pass today at inspec v3.2.6 and rb-readline 0.5.5  - closing.

[2018-12-28 16:45] #1515 closed, assigned to adamleff

[2018-12-28 16:50] clintoncwolfe commented on #3682
#3424, shipped in inspec 2.3.4, introduced multiple descriptions per control; the reporter output was adjusted to include a merged copy of the descriptions, as well as a per-label copy.

Clearly, the profile output command `inspec json` was not updated, and should have been.

[2018-12-28 21:05] clintoncwolfe opened #3694 "Remove personal repo references from tests"
### 🎛 Description

🐛 bug report

Several tests refer to Git repos that are owned by individuals (generally test fixture profiles).  As we cannot guarantee their future availability, we should consolidate and move those to be in repos that are under the inspec/ Github org.

Seach for these (not a comprehensive list):
 * [ ] nathenharvey
 * [ ] chris-rock
 * [ ] jquick
 * [ ] clintoncwolfe
 * [ ] ar

[2018-12-29 18:51] srb3 opened #3695 "habitat inspec package has world writable files"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

A customer ran the `CIS RHEL Server level 1 benchmark` inspec profile against an automate 2 server,
one of the controls that failed was:
xccdf_org.cisecurity.benchmarks_rule_6.1.10_Ensure_no_world_writable_files_exist
out of the world writable files found on the A2 system most where in the inspec hab package
[code]
tested again on the late

[2019-01-02 11:05] dud225 commented on #3614
I can confirm that the bug is still present on train v1.6.3.
@artyomtkachenko could you please reopen this issue ?

[2019-01-02 16:20] jerryaldrichiii commented on #3614
@dud225 can you add the output of your stacktrace/error here?

[2019-01-02 18:00] jerryaldrichiii commented on #3614
I cannot reproduce this with InSpec 3.2.6:

[code]

[2019-01-02 19:00] jerryaldrichiii opened #3697 "Investigate relationship between Chef and InSpec attributes"
A common topic that comes up with our users is how Chef attributes are handled in InSpec. Historically, we've been hesitant to recommend using Chef attributes in InSpec due to the issues inherent is using the same data for both Chef implementation and InSpec verification (e.g. Chef creates user `bobb` from attribute, then InSpec uses that attribute to verify `bobb` exists...but the intention was f

[2019-01-02 19:08] jkugler commented on #3697
My use case looks like this:

There can be differences in the finished environment based on chef attributes. It would be nice if inspec could branch on a chef attribute to figure out which test to run.

Something easy to access like `chef_attribute()` would be nice.

Even just loading up a `node` object would solve all my chef attribute issues. :)

[2019-01-02 19:10] jerryaldrichiii commented on #3697
@jkugler, could you elaborate a bit on that? Maybe a simplified example? I'm a bit worried about dynamically defining tests, save for using `only_if`.

[2019-01-02 19:29] jkugler commented on #3697
One example. When testing, we may point a machine to a testing repository or a stable repository (the branch in the Chef code keys off of attributes in kitchen.yml). When we then run the inspec code and verify the repository to which the machine is pointing, it would be nice to access that Chef attribute to know the repository to which the machine should be pointing. I'm sure I can think of other

[2019-01-02 19:44] clintoncwolfe commented on #3697
Refs #3666, new 'attribute_provider' plugin type

[2019-01-02 20:02] clintoncwolfe opened #3698 "Internal links on Glossary page are broken"
### 🎛 Description

When you visit the [glossary page](https://www.inspec.io/docs/reference/glossary/), there are many internal links, which use underscores to connect words.  However, the link generator uses dashes, so all internal links are broken.

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/COD

[2019-01-03 14:07] dud225 commented on #3614
Hello @jerryaldrichiii

I'm sorry I was wrong, I can now definitely confirm that the issue is indeed fixed.

I was not using Inspec directly but was relying on Kitchen-dokken. As it happens, Kitchen-dokken is using the local Inspec installation despites Inspec being also already present on the provisionner Docker image. So yesterday I just updated the Docker image, but left my local installation a

[2019-01-03 16:41] jerryaldrichiii commented on #3614
No worries @dud225, that definitely didn't sound like an easy one to diagnose.

[2019-01-03 17:37] aaronlippold commented on #3682
Any idea when this fix will be pushed?

[2019-01-03 17:42] aaronlippold commented on #3682
So just to confirm: we are going with the `inspec exec` model for the data representation and the `inspec json` output will be updated in a PR.

[2019-01-03 17:45] aaronlippold commented on #3682
Also, a point of clarification, if we have multiple labels with the same key are we appending the data values together?

[2019-01-03 17:47] aaronlippold commented on #3682
Lets say I made a key 'notes' and I added three of them would I get

[code]
or
[code]
or
[code]

[2019-01-03 17:48] aaronlippold commented on #3682
I would say the first one makes the most sense, as we are not destroying data, if we do we have to at least throw a warning on exec that we are overwriting data.

[2019-01-03 19:26] caarlos0 opened #3699 "processes: clarify or simplify commands property"
### 🎛 Description

🙋feature request: if I have a process `processes` spec like the following:

[code]

It is not possible to match it, as `commands` is a list and `match` only works against strings.

It can be workaround by wrapping the regex in an array, which is not obvious nor documented.

[2019-01-04 21:41] phiggins opened #3704 "Inspec can't be installed on versions of ruby older than 2.5"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

This is a bug report.

The latest version of mixlib-log drops compatibility with versions of ruby older that 2.5 (chef/mixlib-log#47). Inspec has an unbounded dependency on mixlib-log so attempting to install the latest gem release (and presumably many other versions) fails on older ruby versions.

### 🌍 InSpec and Pl

[2019-01-05 01:21] phiggins commented on #3704
A new version of mixlib-log was released with relaxed ruby version requirements, so this is no longer urgent: https://github.com/chef/mixlib-log/pull/48

[2019-01-07 00:46] samcornwell commented on #3682
@clintoncwolfe I don't know what you mean by

There's simply two different ways `descriptions` is being formatted, one in `inspec json` and one in `inspec exec --reporter json`. Anyway, I tracked down where the difference was coming from. It seems that `descriptions` is stored as a `Hash` under the hood throughout InSpec, and so `inspec json` just outputs this `Hash` as-is. The `inspec exec --repo

[2019-01-08 04:01] tvigers opened #3711 "Inspec omnibus version doesn't work with ED25519 based ssh keys missing dependencies"
### 🎛 Description

🐛 Bug report

When trying to run an inspec profile against a remote host using SSH as a backend inspec produces the error below (under Stacktrace).

Command ran is the following:

`inspec exec -t ssh://user@example.com ~/Documents/Development/inspec/linux-baseline -i ~/.ssh/serversumo`

### 🌍 InSpec and Platform Version

**Inspec Version:** 3.2.6
**OS Version:** Mac OS X 10.14.2

[2019-01-08 04:39] frezbo commented on #3711
@tvigers I saw the conversation in the slack channel, just including these gems is not going to solve the issue with ED25519 keys, `net-ssh` library still cannot parse these keys. I had an open issue there. Seems they have fixed it. Ref: https://github.com/net-ssh/net-ssh/issues/633

[2019-01-08 22:31] clintoncwolfe commented on #3682
Actually, we need to hold off on this for a bit; we need to ensure that the things consuming the JSON output are able to handle the change.

[2019-01-09 22:34] clintoncwolfe commented on #2472
I'm going to close this as a duplicate, as we have this covered on the train repo.

[2019-01-09 22:35] clintoncwolfe commented on #3711
Duplicates #2472 and https://github.com/inspec/train/issues/353 , though I think the repro steps here are excellent.

I'm going to close this as a duplicate, as we have this covered on the train repo.

[2019-01-09 22:35] #3711 closed, assigned to nobody

[2019-01-10 00:00] clintoncwolfe opened #3714 "Perform trial builds of other Chef projects that include InSpec"
### 🎛 Description

Sometimes, when we update dependencies in the gemspec, we introduce impossible constraints when other products that include InSpec, such as:

 * [ ] ChefDK
 * [ ] Chef client
 * [ ] Chef workstation
 * [ ] Kitchen InSpec

This ticket suggests that we create a Rake test command that can perform a trial build of each of the projects that includes InSpec.

This issue just aims to p

[2019-01-10 00:01] clintoncwolfe commented on #3714
attn @tas50

[2019-01-10 00:06] #2720 closed, assigned to miah

[2019-01-10 15:33] wyardley commented on #1700
`$COLORTERM` would not be set, which is the point, but it doesn’t seem to be universally implemented among terminals that do use extended colors.

Having another flag (`—basic-color`? Or `—extended-color` with basic the default) might make the most sense? I think the current approach is maybe a little too magical for not much benefit, but I don’t know if there would be buy-in to simply getting rid

[2019-01-10 18:49] clintoncwolfe opened #3715 "Use Inspec::UI consistently"
### 🎛 Description

#3618 introduced a facility for standardizing UI interactions, but did not apply those changes to the InSpec codebase.

So... let's use Inspec::UI throughout the codebase.

Consider carefully any changes that would be breaking, and make those on a separate PR.

### 🌍 InSpec and Platform Version

3.2.x

### 🤔 Replication Case

List key points here?

### Related issues

#1700, #36

[2019-01-10 18:51] clintoncwolfe commented on #2564
This was implemented a while ago.

[2019-01-10 18:51] #2564 closed, assigned to nobody

[2019-01-10 18:52] clintoncwolfe commented on #1346
I'm going to close this, as most of the needs are covered by #3017 and further discussion should occur there.

[2019-01-10 18:52] #1346 closed, assigned to nobody

[2019-01-10 18:57] clintoncwolfe commented on #2355
refs #3667

[2019-01-10 20:01] juju4 commented on #3667
would be interesting to report
- as log (classical syslog, json...)
- as metrics (graphite, prometheus...)

[2019-01-10 20:26] lamont-granquist commented on #3714
you can find what we do in chef/chef here:

https://github.com/chef/chef/blob/master/.travis.yml#L84-L11

that calls this script:

https://github.com/chef/chef/blob/master/tasks/bin/run_external_test

that is all complicated by the way that we need to:

1.  checkout e.g. chefspec into a temp directory
2.  splice our checked out master version of chef/chef and/or ohai into the Gemfile of the extern

[2019-01-11 05:31] wyardley commented on #3715
@clintoncwolfe thanks for this.
Question though, it doesn't seem like `lib/inspec/ui.rb` currently has any kind of support for color terminals that don't support 256 colors, so that even if we switched to this, #1700 would still be an issue, right?

[2019-01-11 06:07] amitsaha commented on #3441
hey folks, I am going to take a stab at this.

[2019-01-11 22:21] clintoncwolfe commented on #1700
We currently have --color and -no-color, a pair of boolean options.  We could make --color take argument, default :fancy (or something).  We could then accept `--color basic`, and if `--no-color` is seen, set color to 'none'.  Thoughts?

[2019-01-11 22:23] wyardley commented on #1700
@clintoncwolfe that sounds great to me!
I guess the other question would be whether dumbing down the UTF-8 symbols (as was done in the current test reporter) in certain cases should be tied to that option, or a separate option?

[2019-01-11 23:15] clintoncwolfe commented on #3017
Summarizing a discussion with a customer success engineer JS at Chef Rally:

* His uses involve things like POAMs. He'd like to have the ability to inject customer-centric terminology into any messaging.
* I'd been thinking that the need to make waivers, etc conditional was very general - that a block similar to an `only_if` (perhaps `waiver_if { ... }`) was what was needed. That may be desirable,

[2019-01-11 23:57] clintoncwolfe commented on #3682
OK, we have a way forward - we need to version the schema, and add a CLI option to do so.  See https://github.com/inspec/inspec/pull/3706#pullrequestreview-191906474

[2019-01-12 03:22] mmb commented on #1700
Most CI systems have no problem showing the UTF-8 so there may be fewer users who want to disable them.

[2019-01-12 03:26] wyardley commented on #1700
@mmb yes, that’s true. But the current test output formatter makes both changes on Windows (hard-coded), so thought maybe they caused an issue there?

[2019-01-12 04:07] aaronlippold commented on #3017
Hello, I think this would be a good topic for us to bring up at our next
sync meaning I will make sure that our security accreditors and security
control assessors are on the call. I will forward this message to them and
they can provide additional feedback but we have talked internally on the
pros and cons on this topic numerous times and we need to make sure that we
balance the ability of users

[2019-01-12 05:09] jerryaldrichiii opened #3721 "Investigate failing test when using `m` and `test/unit/profiles/profile_context_test.rb`"
Running the below

[code]

Errors with:

[code]

This works when doing `bundle exec rake` so I suspect there is a path through the code that fails to load something but I couldn't find it after searching for 20 minutes.

[2019-01-14 16:30] clintoncwolfe commented on #3373
Link to [an internal chat](https://chefio.slack.com/archives/C6JED4R8W/p1547482539101700) with info on how to spinup an EC2 instance of A2

[2019-01-14 16:49] aaronlippold opened #3722 "platform: Formatting of 'version' on Mac OSX"
I think we should decide which version is our standard. I think most folks will 'assume' we are using the Apple version `10.x.y` - but from a technical perspective I can see why we are pulling the `darwin 17.x.y` data.

 chefdk to 3.6.57 on a mac machine (OSX 10.13)

`inspec shell` cmd old output

[code]

Latest data:

[code]
https://en.wikipedia.org/wiki/Darwin_(operating_system)#Release_history

[2019-01-14 17:46] aaronlippold commented on #3017
[code]

[2019-01-14 17:46] alex-w-k commented on #3722
I'm experiencing this as well with `chef -v`:
[code]

[2019-01-14 18:07] aaronlippold commented on #3017
This is basically getting us to the end point of our `exit codes` in the 'groups'.

[2019-01-14 18:46] ejaronne commented on #3017
I understand, but I think we have plenty of flexibility with overlays and description sub-sections for "caveats" such as waivers, deviations, exceptions, risk-based decisions, risk-based acceptances, its currently being worked in a POAM, "I'm still working on its", whatever.

If we _*must*_ go down this path, where we're trying to differentiate between failures the developer already knows about, a

[2019-01-14 19:08] clintoncwolfe opened #3724 "Improve testing support for SysV Un*xes"
### 🎛 Description

In our standard integration tests, we run tests on a variety of Linux distributions, but no Solaris (or Illumos) or other SysV UNIX-like OSes - see
https://github.com/inspec/inspec/blob/master/.kitchen.yml

This makes fixes like #3700 dubious.

### 🌍 InSpec and Platform Version

3.2.x

### 💁 Possible Solutions

Consider adding some Sysv OSes to the build matrix, if possible, usi

[2019-01-14 19:21] clintoncwolfe commented on #3722
Hi! Thanks so much for reporting this.  However, the functionality you describe is actually handled by
an underlying library, [train](https://github.com/inspec/train), which is used to detect platforms and
connect to remote scanning targets. Any new features or fixes would need to be contributed there.

In fact, an issue has been opened already in train on this topic, https://github.com/inspec/tra

[2019-01-14 19:21] #3722 closed, assigned to nobody

[2019-01-14 21:14] jerryaldrichiii commented on #3695
@devoptimist thanks for submitting this issue!

Essentially, the `timeliness` gem is creating world writable files. That gem is a transient dep and comes from adding support to Azure.

@miah is going to open an issue https://github.com/adzap/timeliness, but that project hasn't been touched in years.

In the meantime we (@miah) will fix this in our `plan.sh` and we'll hopefully have it out by our n

[2019-01-14 23:46] amitsaha opened #3726 "New resource: aws_launch_configuration"
### 🎛 Description

**Choose one:** 🙋 feature request

This issue is to track implementing a new resource `aws_launch_configuration` for inspecting AWS auto scaling launch configuration

### 🌍 InSpec and Platform Version

NA

[2019-01-14 23:47] amitsaha commented on #3726
PR: https://github.com/inspec/inspec/pull/3727

[2019-01-16 18:24] clintoncwolfe opened #3730 "Improve formatting of inspec exec --help"
### 🎛 Description

🐛 bug report

The output of `inspec exec --help` is pretty ugly.  #3447 adds more exit codes, and it looks bad (80x25):

![screen shot 2019-01-16 at 13 23 58](https://user-images.githubusercontent.com/156460/51270080-0e755180-1992-11e9-84b2-4a8d0c782bb0.png)

### 🌍 InSpec and Platform Version

3.2.x

### 🤔 Replication Case

Run `inspec exec --help`

### 💁 Possible Solutions

See

[2019-01-17 14:59] clintoncwolfe opened #3733 "Some unit test files may not run"
### 🎛 Description

🐛 bug report

We've had a report on https://github.com/inspec/inspec/pull/3729/files#r248246195 that at least one unit test file, `test/unit/profiles/profile_test.rb` is being omitted during `rake test:unit`.

### 🌍 InSpec and Platform Version

3.2.x

### 🤔 Replication Case

`bundle exec rake test`; at the beginning there will be a large block showing the command line invocation

[2019-01-17 15:39] djhaynes commented on #579
Just curious, is there a timeline for when this feature might be supported?

[2019-01-17 20:08] #465 closed, assigned to nobody

[2019-01-17 20:59] clintoncwolfe commented on #3721
Looks like a missing require.

[2019-01-17 23:11] challs1 opened #3735 "azure:: how to pass in credentials?"
when running in azure where should we keep the profile value to run locally by using "inspec exec test.rb"
? iam getting error as" Could not fetch inspec profile in "test.rb". Kindly help me in this regard thanks

[2019-01-21 17:42] bwaterkamp opened #3738 "yaml-Parser: Can't test hierarchical values"
### 🎛 Description

I'm trying to parse elasticsearch-Config with the YAML ressource. The smallest test file looks like this:

[code]

Chris suggested this way to access sub values like name  in #554:

[code]
I'm getting the following error:

[code]

If i change the file to this notation, the same test succeeds:

[code]
The dot notation ("node.name") is the default one in Elasticsearch Config, so i

[2019-01-21 22:32] jerryaldrichiii opened #3741 "Mock files to clean up `test/unit/resources/mount_test.rb` unit test output"
Running `bundle exec m test/unit/resources/mount_test.rb` shows that some files are not mocked.

[code]

I was not able to figure out how to mock these files using our current helpers. I suspect we need to mock how Ruby `File` returns mount status.

:crossed_fingers: Hope someone can help here.

[2019-01-21 22:49] jerryaldrichiii opened #3742 "Capture output from `Gem` in plugin unit tests"
When running the unit tests for plugins, a few lines are output that need to be removed.

[code]

I've tried a few things like `capture_io` and `proc` but I can't seem to remove those lines from the output.

[2019-01-22 18:06] clintoncwolfe opened #3745 "Use deprecation facility throughout code"
### 🎛 Description

🙋 feature request?

Throughout the code, we have comments and warning messages mentioning to deprecate a feature in the future.  With #3690, we now have a centralized deprecation facility.

 * Search throughout the codebase and find deprecation comments and warning messages.
 * Create groups in etc/deprecations.json
 * Replace the deprecation comments with calls to Inspec.deprec

[2019-01-22 18:33] mogthesprog opened #3746 "Don't use hardcoded path for sysctl in kernel_parameter resource"
### 🎛 Description

 🐛 bug report

I've recently started using the [devsec.io Linux-Baseline](https://github.com/dev-sec/linux-baseline) tests to test our linux infrastructure. The tests make heavy use of the `kernel_parameter` resource to test the linux kernel parameters, which under the hood uses `sysctl` to check kernel configuration.

It looks like the `kernel_parameter` resource [has a hardcod

[2019-01-22 20:11] clintoncwolfe commented on #3316
At this point I'm going to close this in favor of #1677 ; you would then be able to add whatever tags you like, with whatever meaning you like.

[2019-01-22 20:11] #3316 closed, assigned to nobody

[2019-01-22 20:15] clintoncwolfe commented on #3746
Would it make sense to broaden this issue to cover all `command` invocations when running under sudo?

[2019-01-22 20:15] clintoncwolfe commented on #3746
attn @miah 	any thoughts?

[2019-01-22 20:54] #3695 closed, assigned to miah

[2019-01-23 00:19] nellshamrell commented on #765
Looking into this

[2019-01-23 07:02] kmf commented on #2478
Would love `not_if`

[2019-01-23 16:13] clintoncwolfe commented on #3738
Thanks for the report!  However, I don't think your question has anything to do with InSpec, but rather the YAML parser that ships with Ruby.

If I understand you correctly, you are asking for a YAML file which contains text like 'node.name: example.com' to parse as `{ node: { name: 'example.com' } }`.

However, the YAML parser does not see dots as significant, and so:
![screen shot 2019-01-23 at

[2019-01-23 16:20] clintoncwolfe commented on #3735
I'm not sure exactly what you are asking, but our Azure credential information is here - https://www.inspec.io/docs/reference/platforms/

[2019-01-23 18:26] teknofire opened #3747 "Users resource causes high memory usage on windows domain controllers"
### 🎛 Description

🐛 bug report

On a Windows DomainController node the `users` resource can cause a large amount of cpu and memory usage.  This happens because the resource will fetch all the user accounts from the DomainController and attempt to filter them in memory.

Here are some examples of control code that will trigger this from cis-windows2012r2-level1-domaincontroller 2.2.1-1

[code]

##

[2019-01-23 18:44] jerryaldrichiii commented on #3747
The issue here I suspect is that all users are loaded into memory then acted upon. See:
https://github.com/inspec/inspec/blob/master/lib/inspec/resources/users.rb#L614

[2019-01-23 20:14] bwaterkamp commented on #3738
@clintoncwolfe thanks for your support! Now i get it: I thought this was a YAML syntax element, but the way to flatten config files with "node.name: example.com" instead of writing

[code]
 is built into Elasticsearch: https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html#_config_file_format

So "node.name" is valid YAML, parsed like the version shown above. I now understan

[2019-01-23 22:42] jerryaldrichiii opened #3748 "RFC: Rename 'attributes'"
The word `attributes` is a bit overloaded in Chef/InSpec. Do you folks have any suggestions on other names?

The only requirement is that it cannot be mentioned in the [InSpec Glossary](https://github.com/inspec/inspec/blob/master/docs/glossary.md) and preferably doesn't conflict with the terminology used in Chef.

Like all breaking changes, this would be introduced over two major versions - n+1 w

[2019-01-23 22:53] jerryaldrichiii commented on #3748
Grr...early return while trying to hit `"` coupled with GitHub showing edits to the title is quite infuriating.

[2019-01-23 22:58] aaronlippold commented on #3748
Parameters?

On Wed, Jan 23, 2019, 5:42 PM Jerry Aldrich <notifications@github.com wrote:

[2019-01-23 23:01] jerryaldrichiii commented on #3748
@aaronlippold might conflict with a resource [parameter](https://github.com/inspec/inspec/blob/master/docs/glossary.md#resource-parameter).

[2019-01-23 23:08] miah commented on #3748
Some ideas:

trait, facet, characteristic, quirk

[2019-01-23 23:45] aaronlippold commented on #3748
Are you trying to separate the connection between InSpec and Chef attributes, if so, I don't think the name of `attributes` is really the source of the issue is the marketing of Chef and `Chef` InSpec placing too close a connection between the two distinct languages so that a fundamental confusion is formed that they are connected when in fact they are not.

`a Chef recipe is a collection of confi

[2019-01-23 23:59] aaronlippold commented on #3748
Just my two cents here - I think our most effective approach here is to market as:

`It isn't Chef InSpec` its `InSpec By Chef` or just `InSpec`.

I think the Marketing folks will go with the first option - but I think `InSpec by Chef` or `InSpec supported by Chef` is really the way that we let folks know that the great open-source project InSpec has `big backing` which is really the concern we ar

[2019-01-24 08:06] jerryaldrichiii opened #3749 "Result from `ulimit -n` is empty"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

The value of `ulimit -n` is empty but not when redirecting output. See:

[code]

Other shell built-in commands seem to work as expected. See:

[code]

Also, it works when calling bash specifically see:

[code]

[2019-01-24 17:29] clintoncwolfe commented on #3748
We're not really looking to drive *separation* between Chef Software, Inc. products.

For this RFC, we're just looking to keep the scope to: "what if a different word was used for attributes, that doesn't collide across the Chef ecosystem?"

[2019-01-24 17:29] clintoncwolfe commented on #3748
My favorite so far is `vars` or `var`.

[2019-01-24 17:47] lamont-granquist commented on #3748
@aaronlippold no, the namespace collision between inspec attributes and chef attributes really is the start and the end of the problem.

we already ran into this problem within chef itself and spent the time to rename resource attributes to properties.  the lesson learned there was that the namespace collision caused a lot of issues, and those issues largely went away with the renaming, and it was

[2019-01-24 17:48] lamont-granquist commented on #3748
and to plagiarize from chat the confusion arises when the two concepts naturally mix -- in the audit cookbook and in test-kitchen when you naturally are forced to deal with attributes and attributes and they're not the same thing.

[2019-01-24 17:49] TheLonelyGhost commented on #3748
If we're going this direction, to prevent future confusion, I feel like `attributes` is only one collision between `chef-client` and `inspec`. There are plenty of instances where "custom resource" needs more context.

I would think about naming it `input`, which might then lead to an optional interactive prompt (maybe hidden behind a CLI flag to enable it?) for each input if it's not given at the

[2019-01-24 17:58] lamont-granquist commented on #3748
yeah the conceptual overlap between chef resources and inspec resources is also poor, but we should keep this on topic just about renaming inspec attributes.

[2019-01-24 19:07] clintoncwolfe commented on #3748
Hrm, I'm liking input.  'inputs section of your kitchen.yml'.  'Use `--inputs <filename>`.  'In code, call `input('some_name')`'  'A custom `input_provider`'  Those all sound nice.

Though with `input`, a plugin that provides inputs could more naturally be called an `input_source plugin` - `inspec_input_prompt` would be a possible one.

[2019-01-24 23:34] chrisg-fastlane commented on #3749
I've found these BASH builtins exhibit similar behaviour: _declare, dirs, enable, help, shopt, typeset, ulimit_.  I get the same behaviour in centos and mac_os_x (if the builtins exist).

    Name:      centos
    Families:  redhat, linux, unix, os
    Release:   7.4.1708
    Arch:      x86_64

    Name:      mac_os_x
    Families:  darwin, bsd, unix, os
    Release:   17.7.0
    Arch:      x86_64

[2019-01-25 04:49] clintoncwolfe commented on #3738
You can keep playing with the arguments to `its` - those come from https://github.com/rspec/rspec-its , and please refer there for more possibilities.

Much more simply, though, you can call `yaml` outside of a control block.

[code]

[2019-01-25 11:19] jerryaldrichiii opened #3752 "Reporting expected value vs actual value in JSON"
An internal employee brought up a neat bit of reporting that would help our users (in this case a customer).

Essentially he is wondering if it is possible to extract the 'Expected value' vs 'Actual value' from the failed tests in an InSpec report.

The data is there...but a possible issue is that currently these values come in a `'message'` string in the JSON.

See:
[code]

Is there anyway we can

[2019-01-25 11:45] rubycut opened #3753 "'inspec --help' does not load plugins, so no usage message"
### 🎛 Description

🐛 bug report

When I run ```inspec --help``` the existence of init command is not even mentioned

If I run ```inspec help```, then it is visible.

### 🌍 InSpec and Platform Version

3.2.6

[2019-01-25 16:56] #3418 closed, assigned to nobody

[2019-01-25 17:55] clintoncwolfe commented on #3753
Bug at https://github.com/inspec/inspec/blob/033d534b47b0211ce89266e9df3eddfccb14edb6/lib/inspec/plugin/v2/loader.rb#L92

[2019-01-25 20:47] anthonygrees commented on #3752
Thanks for raising this issue Jerry.  Customers need this so they can store the actual and expected values for their Audit process.

[2019-01-25 21:00] clintoncwolfe opened #3756 "Attributes: Rename 'default' option"
### 🎛 Description

Currently, to set the value of an attribute in control code, you say:

[code]

Likewise, in the metadata file, if you set a value, you use:
[code]

In addition, in control code, we have the `value=` method...

attribute('user').value = 'susan'

This sets up a scenario where it might imply that there is some kind of precedence going on, like the Chef Client's default/normal/overr

[2019-01-26 02:12] rakheeuob commented on #3752
Thanks Anthony and Jerry -this is our precise requirement

[2019-01-26 22:46] jerryaldrichiii commented on #3752
Digging a bit more in to this and `message` is indeed coming from RSpec. I'm not sure even a custom RSpec formatter can solve this since it comes from the matchers. See:

https://github.com/rspec/rspec-expectations/blob/master/lib/rspec/matchers/built_in/eql.rb#L10

The only option I see on our end is to parse the string and split, but text processing of strings provided upstream (which are likely

[2019-01-26 23:32] aaronlippold commented on #3752
What's the example data structure you'd like to see? Or maybe more
specifically what use case are we trying to cover?

On Sat, Jan 26, 2019, 5:46 PM Jerry Aldrich <notifications@github.com wrote:

[2019-01-26 23:39] jerryaldrichiii commented on #3752
The use case is mentioned in the description. The requester is wanting different fields for `expected` vs `actual` values in a report. Something like:

[code]

[2019-01-28 06:29] clintoncwolfe commented on #3749
I'm not clear on how this falls under InSpec's purview.  If a shell handles certain builtins differently when they think they are not being redirected, that's a (mis?)feature of that shell.

Is an InSpec resource calling one of these built-ins? If so, we could change its behavior to pipe through `cat` or something.

But if we're just speculating "there are certain builtins that act unexpectedly if

[2019-01-28 06:36] clintoncwolfe commented on #3738
As this is a support question, and I think we've answered it, I'm going to close this issue.  If you have any further questions on this topic, please feel free to re-open.

[2019-01-28 06:36] #3738 closed, assigned to nobody

[2019-01-28 06:37] clintoncwolfe commented on #3735
As this is a support question, and I think I have answered it, I am closing this.  Please re-open if you have any further questions.

[2019-01-28 06:37] #3735 closed, assigned to nobody

[2019-01-28 09:54] james-stocks opened #3760 "skip_control may be confusing (it doesn't skip)"
### 🎛 Description

A customer wants to temporarily skip some controls. They use `skip_control` in a wrapper profile but find these controls have _no_ result rather than being skip results.

I believe this is as intended - `skip_control` and `skip` are different things. And `skip_control` would be more clearly named `exclude_control` ?

### Workaround

Use an `only_if`in the control with an appropr

[2019-01-28 12:26] bwaterkamp commented on #3738
@clintoncwolfe , is was out of office and now had time to test your suggestion: works as expected. Thanks for your support!

[2019-01-28 15:28] james-stocks commented on #3760
I believe this has been explained to the customer in question and they won't need an update on this; but I'll leave the issue open with the Question label - it might come up again.

[2019-01-28 16:06] clintoncwolfe commented on #3017
Thanks for all the feedback.

One thing that I didn't mention in the notes above was that I found myself reminding my colleague that we don't have to use existing structures - as he tended to tell me how they were using only_if, or impact, or filters on a JSON report using descriptions, to implement the features we're describing on this issue.  This is similar to what was described above.

So just

[2019-01-28 16:11] clintoncwolfe commented on #2555
As this appears to have an answer, and has had no activity for a while, I'm going to close this issue. If you have further discussion for this topic, please feel free to re-open.

[2019-01-28 16:11] #2555 closed, assigned to nobody

[2019-01-28 18:20] jerryaldrichiii commented on #3749
I think the `command` resource should provide the output of any command that provides output on the shell. I think there is an issue here with the resource (or Train). It is particularly odd that there is neither stdout or stderr is being captured when using those commands (but output is presented when using `bash -c 'ulimit -n'`).

All this being said, I see your point about it's relevance. This

[2019-01-28 19:49] btm commented on #2571
@cliffano the next major release of ChefDK (released around April) will remove the blockers for moving to aws-sdk 3.

https://github.com/chef/chef-dk/pull/1614

[2019-01-28 22:40] #3756 closed, assigned to nobody

[2019-01-28 23:07] clintoncwolfe opened #3761 "Rename DEFAULT_ATTRIBUTE to ATTRIBUTE_WITH_NO_VALUE"
### 🎛 Description

🙋 feature request

The InSpec attribute system allows you to have an attribute with no value set. If you stringify the attribute, you'll get output indicating including the name of the attribute and a message that it has no value.

If you perform type checks agains the value of a valueless attribute, you'll find it is of the class DEFAULT_ATTRIBUTE. This is unfortunate, as the w

[2019-01-29 05:02] prashanthbgoud opened #3762 "command java -version does not return properly with command/powershell resource"
### 🎛 Description

🐛 bug report

Command resource for `java -version` returns nothing on windows 2008, I also see the same on all versions/flavors of windows.

my test:
[code]

output:

[code]

then when I run the test with another version of the command:

[code]
output:

[code]

This is the same case with powershell resource.

### 🌍 InSpec and Platform Version
3.2.6
Windows 10, windwos 2008 R2.

[2019-01-29 08:12] frezbo commented on #3762
@prashanthbgoud you can use this:

[code]

This is what I have been using for a long time and works both on Unix and Windows.

[2019-01-29 15:54] james-stocks opened #3764 "grub_conf cannot query config with `.` character"
### 🎛 Description

 🐛 bug report

For `grub_conf` it is not possible to query a config value with a `.` character due to the way that InSpec will assume that character is method chaining.

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

In `registry_key` we use the workaround of passing an array to escape the `.` character:
https://github.com/inspec/inspec/blob/master/lib/resources/regis

[2019-01-29 17:46] jerryaldrichiii commented on #3760
Yup, I think this should be `exclude_control` and then we can discuss if there should be a `skip_control`.

https://github.com/inspec/inspec/blob/a4362e7a0798af2c3eac3287fc083f6dc0529021/lib/inspec/control_eval_context.rb#L179

[2019-01-29 17:49] jerryaldrichiii commented on #3465
This may be an unrelated issue but if you are downloading profiles from [here (internal link only)](https://github.com/chef/compliance-profiles/tree/master/dist/a2/supported) then you are actually getting a symlink.

You'll need to download the profile from here instead:

https://github.com/chef/compliance-profiles/tree/master/dist/latest/supported

[2019-01-29 17:56] james-stocks commented on #3465
It would be helpful if in the event that the attempt to gzip extract the profile ( https://github.com/inspec/inspec/blob/master/lib/inspec/file_provider.rb#L194 ) fails, the error (e.g.  `not in gzip format` ) is presented to the user.
I'm not sure if it's feasible to make this a `check` error, but at least if InSpec crashes but the stack trace the user sees has an error about gzip validity at the

[2019-01-29 18:50] teknofire opened #3765 "Unhandled exception for inspec check with invalid tar.gz files"
### 🎛 Description

🐛 bug report

The `inspec check` doesn't validate if it's given a valid profile archive file.  Given the following scenario where a user downloads or creates an invalid `.tar.gz` profile archive then you will get the following error:

[code]

Essentially in the `walk_tar` method in https://github.com/inspec/inspec/blob/master/lib/inspec/file_provider.rb#L193-L198 if `Zlib::GzipF

[2019-01-29 19:04] clintoncwolfe commented on #3748
After internal discussion, we've decided to go with 'input'.  We intend 'input' to become available as an alternate in the 3.x series.

We also commit to an elongated deprecation schedule:
 * v4.0 - issue deprecation warning, but continue to document --attrs and `attribute` DSL
 * v5.0 - issue deprecation warning, only document `input`
 * v6.0 - immediately (but gracefully) exit with code 3 if att

[2019-01-29 19:58] clintoncwolfe commented on #1872
Related: #3667

[2019-01-29 22:46] lamont-granquist commented on #3748
One thing to consider is after the deprecation and you've scrubbed the docs in v5.0 that you're getting the bulk of the payoff.  You could gather information from users/customers after that point and decide on how aggressive to be with removal.  For example, I did a 2 year long deprecation cycle with `node.set` because I understood it would be painful.

[2019-01-30 05:02] prashanthbgoud commented on #3762
@frezbo I see this

[code]

I tried this on my windows 10 laptop

[2019-01-30 05:35] frezbo commented on #3762
Which java version are you on?

[2019-01-30 05:42] prashanthbgoud opened #3768 "issue with custom aws library - execution expired"
### 🎛 Description

🐛 bug report

I have a library folder in a profile as below:
**aws\libraries\aws_tg.rb**

[code]

**test:**

**aws\controls\test_tg.rb**

[code]

**output:**
**command: inspec exec aws -t aws://us-east-1**

[code]

I get execution expired, I also see all the inspec aws resources have the same issue except s3.

sometimes I see the **exception**:
[code]

### 🌍 InSpec and Platform

[2019-01-30 05:59] prashanthbgoud commented on #3762
$ java -version
 java version "1.7.0_55"
Java(TM) SE Runtime Environment (build 1.7.0_55-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.55-b03, mixed mode)

[2019-01-30 06:16] jerryaldrichiii opened #3769 "Unclear error message when using `include_controls` with a profile not defined in `inspec.yml`"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

Running `inspec check` on a profile that has an incorrect name or a name which is not defined in `inspec.yml` leads to the following error:

[code]

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

Prevent this error and raise a more descriptive one.

[2019-01-30 08:55] james-stocks commented on #3765
See also https://github.com/inspec/inspec/issues/3465 - I hesitate to call these 2 issues duplicates because the cause of #3465 is unconfirmed

[2019-01-30 16:12] clintoncwolfe opened #3771 "port: Allow user to select implementation"
### 🎛 Description

🙋 feature request

Per #1675, we found that for the user, `ss` is much slower than `netstat`.

### 🌍 InSpec and Platform Version

3.4.x
Requested back port to 1.x

### 🤔 Replication Case

See #1675

### 💁 Possible Solutions

Consider adding a resource parameter, perhaps `use:`, taking a symbol name of an implementation.  These would not be command names, nor class names, but a r

[2019-01-30 16:27] clintoncwolfe opened #3772 "command: Add Timeout resource parameter"
### 🎛 Description

🙋 feature request

This issue is a narrow-scope case of #1675.

Add the ability for a `command` resource to time out.

If it does time out, currently fail the resource, but this should be an Unable resource case per #3174.

Proposed syntax:

[code]

If the command finishes in less than 30 seconds, the resource should finish in less than 30 seconds (in other words, don't wait out

[2019-01-30 16:35] gonchalo620 commented on #2822
Instalé la versión 1.51 y el módulo http en windows funcionó correctamente. Lo que hice como  una solucion temporal fué cambiar el módulo http.rb de la versión 3.4.1 por la del 1.51. Hice una prueba y funcionó correctamente.
C:\opscode\inspec\embedded\lib\ruby\gems\2.4.0\gems\inspec-1.51.25\lib\resources\http.rb

Machine translation:
I installed version 1.51 and the http module in windows worked c

[2019-01-30 16:51] clintoncwolfe commented on #1675
The OP's specific problem is being addressed on #3772 and #3771.  This issue is now about exploring how possible it would be to add a few different timeout features:

 * A per-resource timeout, as a resource parameter (like #3772, but for everything)
 * A per-control timeout, likely as a control DSL
 * A global timeout - perhaps a CLI option that restricts the entire run to finish in a certain tim

[2019-01-30 16:59] clintoncwolfe commented on #1675
Just to keep the discussion informed for the constraints, doing timeouts in Ruby is unusually difficult; see the [caveats](https://medium.com/@adamhooper/in-ruby-dont-use-timeout-77d9d4e5a001). The standard library is unsafe; and making timeout changes to each resource would require changes that are specific to the underlying libraries they use (which may be a win, if the libraries support timeout

[2019-01-31 18:16] clintoncwolfe opened #3774 "inspec archive always clobbers, regardless of --overwrite"
### 🎛 Description

🐛 bug report

Observed on #3750, it appears that `inspec archive PROFILE tarball.tgz` will always overwrite tarball.tgz if it exists.

### 🌍 InSpec and Platform Version

3.4.1

### 🤔 Replication Case

TODO

### 💁 Possible Solutions

Somewhere in the innards of vendoring.

[2019-01-31 20:53] #3721 closed, assigned to jerryaldrichiii

[2019-01-31 20:54] #3753 closed, assigned to nobody

[2019-01-31 21:14] #3769 closed, assigned to nobody

[2019-01-31 21:21] clintoncwolfe commented on #3765
Thanks for the extensive diagnostics!

[2019-01-31 21:38] clintoncwolfe commented on #3768
Looks like it is blocking on accessing the internet (see frame 3 of your stacktrace) and that is being triggered by the AWS SDK as it is listing the names of the methods it can call (see frames 39-42).

Whatever alternate endpoint you are using, you need to to tell the AWS client about it, because I would think it is using the default endpoint, which would require internet access.

This is an issu

[2019-02-01 19:02] clintoncwolfe opened #3777 "filesystem: Improve internals and add integration testing"
### 🎛 Description

We don't have very good integration testing on the filesystem resource. For example, does it behave correctly with drives that are 4k-block or 512-bytes block, or does that skew the size property?

There is a library that provides a cleaner, more portable interface:
https://github.com/djberg96/sys-filesystem

InSpec 3.5.0

Inspired by #3767

[2019-02-01 19:08] b-dean commented on #1675
Also, it might be nice to have some way to set timeouts for connecting to the Train transport. I'm using an ssh target and the target is not necessarily up before Train's [default connection timeout + retries](https://github.com/inspec/train/blob/c93845e722998b6ea3c617064cd08d14f3f85f2a/lib/train/transports/ssh.rb#L55-L57) (should be 80 seconds for all the retires) expires.

The `inspec exec` CLI

[2019-02-01 20:45] clintoncwolfe commented on #1675
Indeed, https://github.com/inspec/train/issues/352 tracks adding Train connection timeouts.

[2019-02-04 19:04] picatz commented on #2822
Adding `supports platform: windows` fixes the local testing issue on windows (2012 R2)

<img width="577" alt="screen shot 2019-02-04 at 1 51 28 pm" src="https://user-images.githubusercontent.com/14850816/52230444-60204600-2885-11e9-9002-261b641f32d6.png">

The only line that I added to `http.rb`.
<img width="337" alt="screen shot 2019-02-04 at 1 52 40 pm" src="https://user-images.githubusercontent

[2019-02-04 19:07] bgshacklett commented on #2822
It's curious that the existence of that `supports platform: 'windows'` line actually seems to have an effect on how the module is loaded. With the line missing it seems that `http_method` is being called prior to `initialize(...)`, leading to `@opts` being dereferenced while its value is nil.

[2019-02-04 22:30] dave-pollock commented on #2200
I'm also interested in the correct approach for test setup

[2019-02-05 01:08] nellshamrell commented on #765
I'm having some trouble replicating this:

I set up a workstation server and a proxy server (the workstation only allowed outbound traffic to the proxy server) using this Terraform config https://github.com/nellshamrell/tf_workstation_to_proxy

The Terraform config also sets http_proxy to the proxy_server and appropriate port on the workstation.

I then installed inspec on the workstation and ran

[2019-02-05 08:03] prashanthbgoud commented on #3768
Thanks for the response.
we use s3 endpoint, it works and aws does not have endpoints to all of its resources, any suggestions/work around?

[2019-02-05 14:39] rx294 opened #3779 "Attributes in inspec.yml of an overlay profile does not override attributes values in dependent profile"
### 🎛 Description
Attributes defined in inspec.yml of an overlay profile **does not** override attribute default values in the dependent profile.

The only way seems to be to use the old style `--attrs attributes.yml`

This is this a 🐛 bug report

The expected behavior is attributes defined in the inspec.yml of the overlay profile will override attrs values without having to use `--attrs`

### 🌍 I

[2019-02-05 15:08] aaronlippold commented on #3779
Please label as a bug. This will bring up two issues as I can see:

What is the load order and precedence.

We will either have to set that the order of the listed depends will be last in first our or add a prop to the attribute to be 'overwrite' or 'priority' I think. The second option would be needed if we can't guarantee in what order the 'depends' are loaded or stacked.

I think there is an ex

[2019-02-05 18:42] jerryaldrichiii opened #3780 "Change `inspec compliance` to `inspec automate`"
The Chef Compliance server is EOL as of December 31, 2018. See: https://blog.chef.io/2018/06/29/end-of-life-announcement-for-chef-compliance-server/

I think we should:
  - Rename `inspec compliance` to `inspec automate`
  - Add an alias and deprecation for `inspec compliance`
  - Update README [here](https://github.com/inspec/inspec/tree/master/lib/plugins/inspec-compliance) and remove mentions o

[2019-02-06 09:51] eloyekunle opened #3782 "Port resource does not detect process"
### 🎛 Description

Bug report

The port resource does not detect the associated process.

### 🌍 InSpec and Platform Version

Inspec 3.4.1 on Ubuntu 18.10.

### 🤔 Replication Case

With Postgres installed and listening on port 5432, create a control:

[code]

Output:
[code]

The output of `netstat -tulpen | grep postgres` is:
[code]
From the above, we can conclude that the process is currently runn

[2019-02-06 11:22] eloyekunle opened #3783 "postgres_conf: Stacktrace on Postgres 10+ when using default path"
### 🎛 Description

Bug Report

### 🌍 InSpec and Platform Version

Inspec 3.4.1 on Ubuntu 18.10.

### 🤔 Replication Case

With Postgres 11 installed, create a control:
[code]
And execute it. Stacktrace below.

If you specify a configuration path, you don't get an error and the test passes:
[code]

### 💻 Stacktrace

[code]

[2019-02-06 13:06] eloyekunle commented on #3783
I've not tested it but it seems the code was not designed to work with Postgres 10 & 11 because the inspec command picking out the current installed Postgres version [here](https://github.com/inspec/inspec/blob/master/lib/resources/postgres.rb#L68) is designed to work with Postgres versions < 10.
From version 10 onwards, Postgres only uses the major version to name its configuration directories.

[2019-02-06 15:55] clintoncwolfe commented on #3779
I think we need to pin down the version in which this appeared - it's likely this was a regression from #3756 , released in v3.4.1

[2019-02-06 16:35] clintoncwolfe commented on #3779
My understanding of the repro:

inspec version is 3.4.1 or greater
Profile W depends on profile B
Profile B contains statements in its control files of the form `attribute('an-attribute', default: 'inline-value')`
Profile W's metadata file, inspec.yml, contains

[code]

Upon execution, the expected value of `attribute('an-attribute')` is `value-from-wrapper-metadata`
Actual value is `inline-value`

[2019-02-06 17:29] clintoncwolfe commented on #3780
Refs #3426 - this could be considered a sub-task

[2019-02-06 17:34] clintoncwolfe commented on #3768
I think this is a question for AWS support.

[2019-02-06 18:07] clintoncwolfe commented on #2200
There is something that could be said here about avoiding modifying the test subject - inspec is intended to test and only test, no changes if possible.  So, it's unlikely setup / teardown support would ever be directly supported.

That said, if you want to run a command and not have it appear as a test, simply use the `command` resource outside of a `control` or `describe` block:

[code]

So, tha

[2019-02-06 18:12] clintoncwolfe commented on #3762
This also worked for me on 1.7 and 1.8; I'm not sure what may be going on there, but I don't think we can really diagnose it without knowing more.

If you are trying to determine the version of Java installed, could you use `package` or `file` to read the installed version without executing `java` itself?

[2019-02-06 23:27] rx294 commented on #3779
Hey @clintoncwolfe
In the scenario I tried out both profile W and B and attributes defined inspec.yml like so
profile B
[code]

profile W
[code]

and the control files grab the attribs using attribute('an-attribute')....we do not have a default value defined in the controls.

During the exec of Profile W ... attribute('db_name') is expected to return 'value for W'
but, currently its still returnin

[2019-02-07 02:56] clintoncwolfe commented on #3779
What happens if you use the YAML key `value` instead of `default`, in both places?

profile B
[code]

profile W
[code]

[2019-02-07 06:46] prashanthbgoud commented on #3768
:) thanks for the help, closing this.

[2019-02-07 06:46] #3768 closed, assigned to nobody

[2019-02-07 08:27] #2200 closed, assigned to nobody

[2019-02-07 10:52] mogthesprog commented on #3746
Any news on this? it's a bit of a blocker for security testing if you can't use sysctl.

I may have time in a week or so to get this building locally and fix it myself if nobody gets to it. I'd rather get the thumbs up before spending time implementing it.

[2019-02-07 10:52] mogthesprog commented on #3746
also, i'd be interested in fixing just this one for now, since changing all commands sounds like a more significant change. :)

[2019-02-07 12:25] rx294 commented on #3779
Hey @clintoncwolfe, just tried it out...same behavior. Attributes values in `profile W` inspec.yml is not used during the run

[2019-02-07 15:52] clintoncwolfe opened #3786 "inspec-habitat: Add functional tests"
### 🎛 Description

🐛 bug report

No functional tests currently exist for `inspec habitat`.  So, when we make changes to the CLI plugin system or the CLI startup system, we can break it without knowing it.

### 🌍 InSpec and Platform Version

3.5.x

### 💁 Possible Solutions

If functional tests are defined in `lib/plugins/inspec-habitat/test/functional/`, `bundle exec rake test:functional` will pick

[2019-02-07 16:59] clintoncwolfe commented on #3746
We'd certainly welcome any contribution - thanks!

[2019-02-08 00:53] rbclark opened #3787 "Train 1.7.2 breaks Inspec 2.3.24"
### 🎛 Description

🐛 bug report

After updating to train 1.7.2 I am unable to use the SSH executor with a password provided.

### 🌍 InSpec and Platform Version

MacOS 10.14.3
InSpec 2.3.24 (Installed via bundle install)
Train 1.7.2

### 🤔 Replication Case

    $ bundle exec inspec exec spec-file -b ssh --user root --host [REDACTED] --password [REDACTED]
    Client error, can't connect to 'ssh' bac

[2019-02-08 01:39] clintoncwolfe commented on #3787
How are you installing InSpec?

Also, is there anything preventing you from using 3.6.2?

[2019-02-08 01:54] clintoncwolfe commented on #3787
Refs https://github.com/inspec/train/issues/404 ; workaround used there briefly was to pin to 1.7.1 of train; and inspec failed-forward on 3.6.2

[2019-02-08 02:10] rbclark commented on #3787
I am currently dependent on inspec_tools which does not yet support inspec 3.x https://github.com/mitre/inspec_tools/issues/22

I installed using bundler, I assume if this is a known issue then 1.7.1 will work as well, I stopped once I tracked down that 1.6.3 works

[2019-02-08 16:12] clintoncwolfe opened #3792 "Piping config broken on certain CLI commands in v3.6.2"
### 🎛 Description

🐛 bug report

@stevendanna reports on #3791 that when reading config from STDIN, certain code paths read STDIN twice, resulting in a failed JSON parse on the second attempt.  The parse exception is caught and the run is gracefully aborted, but expected behavior is to read the config and operate normally.

Config is intended to generally be safe to instantiate multiple times; thi

[2019-02-08 16:15] clintoncwolfe commented on #3762
As this appears to have some suggestions, and has had no activity for a while, I'm going to close this issue. If you have further discussion for this topic, please feel free to re-open.

[2019-02-08 16:15] #3762 closed, assigned to nobody

[2019-02-08 16:22] stevendanna commented on #3792
That's gonna be a no-go since STDIN is usually going to be a pipe.

[2019-02-08 22:27] clintoncwolfe commented on #3787
Ok, we have built inspec 2.3.28, which is pinned to train 1.7.1 .

https://rubygems.org/gems/inspec/versions/2.3.28

Please re-open if trouble persists.

Thanks for the report!

[2019-02-08 22:27] #3787 closed, assigned to nobody

[2019-02-08 22:48] #3792 closed, assigned to clintoncwolfe

[2019-02-09 05:51] bianxi opened #3797 "Make reporting consistent/predictable"
(edited by @zenspider to strike out prescriptive aspects of this issue)

### 🎛 Description

🙋 feature request

~~Sort control files before loading them to allow results to be predictable (This is similar to pull requests [#3887](https://github.com/inspec/inspec/pull/3887))~~

Customer wants reports to be in a consistent order.

### 🌍 InSpec and Platform Version

inspec version: **4.6.9**
Operating

[2019-02-11 12:35] burdena opened #3799 "plugins now install docs"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

### 🌍 InSpec and Platform Version

3.6.4 ( docker image )

### 🤔 Replication Case

docker run -it --rm chef/inspec:3.6.4  plugin install inspec-iggy

### 💁 Possible Solution

[2019-02-11 16:52] james-stocks opened #3801 "Debug output appears (some commit since 3.5.0)"
### 🎛 Description

 🐛 bug report

InSpec appears to have begun outputting debug logging.

### 🌍 InSpec and Platform Version

[code]

Also occurs with 3.6.2
Does not occur with 3.5.0

There are no other interim versions on RubyGems to try out.

### 🤔 Replication Case

`inspec detect --host 'me.example.com' --user 'administrator' --password 'hunter2' -b 'winrm'`

Output contains a lot of debug loggi

[2019-02-11 16:53] james-stocks commented on #3801
Explicitly setting `--log-level=warn` or other logging levels does not get rid of the output

[2019-02-11 17:04] james-stocks commented on #3801
Also note that `inspec detect -b 'mock'` does not cause any debug output to appear (so reproducing the bug may require a real target to connect to)

[2019-02-11 17:30] clintoncwolfe opened #3802 "Rename attributes to inputs"
### 🎛 Description

🙋 feature request

Per #3748, InSpec `attributes` will be renamed to be InSpec `inputs` to avoid confusion with Chef attributes.

Thusly:

 * [x] Rename test files - #3796
 * [x] Rename code files - #3803
    * [x] Check for external inclusion from other projects
 * [x] Add deprecation group - #3805
 * [x] Rename classes and non-DSL methods #3811
 * [x] Decide what to do about D

[2019-02-11 17:32] clintoncwolfe commented on #3748
Thanks for all the discussion!  I'm closing this in favor of #3802, which will be the implementation tracking issue.

[2019-02-11 17:32] #3748 closed, assigned to nobody

[2019-02-11 17:41] mogthesprog commented on #3746
See PR above. I've also included (what i think) seems to be the files that would need changing in order to make the larger change.

Let me know on the PR if you'd like me to follow through with that, and if i've missed anything. I'm happy to do that based on the size of the list there.

[2019-02-11 17:58] vjeffrey opened #3804 "inspec exec: Logging data going to STDOUT when using json-automate reporter"
### 🎛 Description

🐛 bug report
in our codebase, we ensure output from stdout is correct by ensuring the first char is 123 '{' and the last one is 125 '}'.
Looks like the latest version of inspec, `3.6.4`, is throwing some extra chars out into stdout. I'm getting char 68 - D.

### 🌍 InSpec and Platform Version

3.6.4

### 🤔 Replication Case
[code]

[2019-02-11 18:01] jerryaldrichiii commented on #3804
I was able to reproduce this:

[code]

[2019-02-11 18:11] clintoncwolfe commented on #3804
Does it happen without config piping?

[2019-02-11 18:13] clintoncwolfe commented on #3804
Possibly related, #3801

[2019-02-11 18:15] jerryaldrichiii commented on #3804
@clintoncwolfe it appears so:

[code]

[2019-02-11 18:17] jerryaldrichiii commented on #3804
It does not occur when using this config:

[code]

[2019-02-11 20:26] #3801 closed, assigned to nobody

[2019-02-11 20:26] #3804 closed, assigned to nobody

[2019-02-12 21:44] jerryaldrichiii opened #3810 "Version comparison incorrect with `cmp` matcher and `Gem::Version`"
### 🎛 Description

Using `cmp >=` (and thus `Gem::Version`) with a version containing a `-` (should be valid https://semver.org/) gives an incorrect result.

I'm not sure if this is our issue or Gem::Version so I thought I'd open an issue just in case.

### 💻 Stacktrace

[code]

Aha! Link: https://chef.aha.io/features/SH-2200

[2019-02-12 22:23] wswheeler commented on #1649
I started using the http resource as part of running tests against webservers that I was building up with Chef. The feature that I think would be most useful is if there was a way to lie about DNS to validate SSL certificates as well as well configurations. For example, I'd like to go to the full host name with https and validate that it connected and additionally got the expected content. Right n

[2019-02-13 01:11] clintoncwolfe commented on #765
As we can't seem to replicate this, I'm going to go ahead and close this.  If anyone has a clear replication script using a recent InSpec, please feel free to re-open.

[2019-02-13 01:11] #765 closed, assigned to nellshamrell

[2019-02-13 01:16] clintoncwolfe commented on #3810
@jerryaldrichiii have a look at https://github.com/inspec/inspec/issues/2147 ; it is similar.

[2019-02-13 17:42] PopPopDevOps commented on #2509
I think this could be as easy as the following:

[code]

(@zenspider: edited formatting)

[2019-02-14 16:54] calebwhitt commented on #760
@walterdolce sounds like a great idea. This is still not the case, and I only found https://www.inspec.io/docs/reference/dsl_inspec/#exclude-specific-test because I remembered where I'd seen a mention of `only_if` before in the docs. Are there any updates on this? I feel the current documentation for `only_if` isn't extensive enough.

[2019-02-14 22:49] djhaynes opened #3815 "Conversion Error with JSON Reporter"
Similar to https://github.com/inspec/inspec/issues/3375, we are seeing an Encoding::UndefinedConversionError with the JSON reporter.

.../inspec/reporters/json.rb:8:in `encode': "\xE2" from ASCII-8BIT to UTF-8 (Encoding::UndefinedConversionError)

[2019-02-15 22:41] nellshamrell commented on #2822
I've replicated this using a Windows workstation. Here are the steps I took (based in part on https://lollyrock.com/posts/inspec-windows/)

* Created Windows workstation
* Installed InSpec
* md inspec
* cd .\inspec
* code test.rb

test.rb
[code]

* inspec exec .\test.rb

This resulted in the stack trace rather than the expected test output.

[2019-02-16 00:30] nellshamrell commented on #2822
I think I know what is going on here (including why adding the line 'supports platform: window' to http.rb fixes the issue).

(One note - this error occurs on both local and remote workers)

The key is this part of Inspec::Runner:

lib/inspec/runner.rb
[code]

In particular:

[code]

As it is in the current master branch, the http resource does not support the Windows platform. Rather than returni

[2019-02-16 00:48] nellshamrell commented on #2822
I was wrong - the key part is this section of Inspec::Runner#load

[code]

That line does NOT return an error with this test:

[code]

It DOES return an error with this test

[code]

[2019-02-19 05:06] jerryaldrichiii commented on #3815
This is likely a bad character in the output of a resource which is making it into the report, could you provide steps for us to replicate this issue? Without that we don't have much to work on.

The command listed here may help: https://github.com/inspec/inspec/issues/3375#issuecomment-419882128

[2019-02-19 07:13] mcgege opened #3819 "Docker platform not recognized if KVM installed"
### 🎛 Description

🐛 bug report

On a system where both KVM and Docker is running, only KVM is recognized and the `virtualization` resource describes the system as an KVM host. We run tests that rely on detecting container environments, and those tests fail on this system.

BTW: In a Docker container (e.g. Ubuntu 16.04) running on this host I get this output:

[code]

### 🌍 InSpec and Platform Ver

[2019-02-19 07:18] artem-sidorenko commented on #3819
@mcgege this is related to the scenarios, where the discovery is done inside of docker container running on KVM guest, right?

[2019-02-19 07:23] mcgege commented on #3819
Right - if KVM is present/used on the host (or guest), then KVM is also detected inside the docker container.

[2019-02-19 20:45] johnypony3 commented on #609
this issue is now three years old. can you update this please?

[2019-02-19 21:41] AnotherNerdHere commented on #609
Apologies. I am no longer with that company and no longer using _any_ chef product. I would say close it

[2019-02-19 23:44] nellshamrell commented on #2822
Alright, after more evaluation - the key things happening are:

* the http resource currently is not supported on Windows (this can easily be fixed with adding "supports platform: 'windows'" to the http resource)
* the larger issue, however, seems to be that when http is used on an unsupported platform,
[code]
is nil.
* This matters, because the to_s method on the http resource is overwritten as:

[2019-02-20 06:47] jerryaldrichiii commented on #3733
I haven't done any work on this, so I'm going to unassign myself so expectations can be managed.

[2019-02-20 06:48] jerryaldrichiii commented on #3411
I haven't done any work on this, so I'm going to unassign myself so expectations can be managed.

[2019-02-20 06:53] jerryaldrichiii commented on #3185
Apologies all, I did not know this was assigned to me and missed a notification. I have done no work nor am I looking into this currently. I'm going to remove my assignment so expectations are set properly.

[2019-02-20 06:54] jerryaldrichiii commented on #2167
This should be closed if the above PR gets merged, given this I'm going to remove the assignment to me.

[2019-02-20 16:44] stiller-leser commented on #1665
Hi,

sorry for adding a "me-too" comment, but hopefully I can add some extra value. In my case I am using InSpec not to test chef cookbooks, but things happening in docker containers. I am for example testing the connection to a cloud provider. Due to random failures in my setup (that unfortunately have to be acceptable) I want to add a retry (since the failures are not test related and sporadic).

[2019-02-20 20:03] clintoncwolfe opened #3821 "inspec shell: --depends only supports local profiles"
### 🎛 Description

🙋 feature request

Related: #3411

I don't often use `shell` with remote repos, but when I went to do it today, I found that inspec shell balked at downloading a remote profile.

### 🌍 InSpec and Platform Version

3.6.4

### 🤔 Replication Case

`inspec shell -t aws// --depends https://github.com/inspec/inspec-aws/archive/master.zip`

### 💁 Possible Solutions

Properly use the fe

[2019-02-20 20:32] clintoncwolfe opened #3822 "Externalize AWS resources, use AWS SDK 3"
### 🎛 Description

This is an implementation issue to track work related to pushing the AWS resources out to a resource pack, and using AWS SDK v3.

Obsoletes #2571
Obsoletes https://github.com/inspec/train/issues/350

 * [x] Revive https://github.com/inspec/inspec-aws - thanks to @skpaterson!
 * [x] Create inspec 4 branch (See 4-stable)
 * [x] Release train 2.0 with no AWS deps
 * [x] Release tra

[2019-02-20 20:47] clintoncwolfe commented on #2571
Closing, obsoleted by #3822

[2019-02-20 20:47] #2571 closed, assigned to nobody

[2019-02-20 22:16] #1942 closed, assigned to nobody

[2019-02-20 23:27] clintoncwolfe commented on #609
An attribute/input system as described above was indeed implemented. Our current work in this area is in making the input system modular.  See #3666 .

[2019-02-21 00:56] #444 closed, assigned to nobody

[2019-02-21 01:03] clintoncwolfe commented on #596
Refs #3351

[2019-02-21 01:11] clintoncwolfe commented on #617
As attributes are now present, I'm closing this.

[2019-02-21 01:11] #617 closed, assigned to nobody

[2019-02-21 01:12] clintoncwolfe commented on #623
Closing as stale

[2019-02-21 01:12] #623 closed, assigned to nobody

[2019-02-21 01:13] clintoncwolfe commented on #626
Looks like this can be handled via attributes and only_if blocks.

[2019-02-21 01:13] #626 closed, assigned to nobody

[2019-02-21 01:16] clintoncwolfe commented on #630
These decisions pre-date me, but the product design for InSpec is to have it be two layers deep at most - control and describe. InSpec != RSpec, though it is based on it.

So, I'm closing this as Declined.

[2019-02-21 01:16] #630 closed, assigned to nobody

[2019-02-21 01:17] clintoncwolfe commented on #634
Closing in favor of #3174

[2019-02-21 01:17] #634 closed, assigned to nobody

[2019-02-21 01:19] clintoncwolfe commented on #664
InSpec does provide an attributes facility, though it is different than Chef Attributes.  We plan to link the two in mid-2019.  Please see #3697 for detail.

[2019-02-21 01:19] #664 closed, assigned to nobody

[2019-02-21 01:21] clintoncwolfe commented on #685
Pretty sure we don't support running ServerSpec and InSpec in the same process.  Please re-open if there is discussion on this point.

[2019-02-21 01:21] #685 closed, assigned to nobody

[2019-02-21 01:23] clintoncwolfe commented on #107
Closing as dupe of #709

[2019-02-21 01:23] #107 closed, assigned to nobody

[2019-02-21 01:25] clintoncwolfe commented on #740
cmp is well documented today at https://www.inspec.io/docs/reference/matchers/#cmp

[2019-02-21 01:25] #740 closed, assigned to nobody

[2019-02-21 01:30] nellshamrell commented on #2822
Went down a rabbit hole, but as I climbed out I found something interesting.

When running this code on Windows, @opts in the Inspec::Resources::Http class is nil, which is why when the http_method attempts to run

[code]

it returns the error "/opt/inspec/embedded/lib/ruby/gems/2.4.0/gems/inspec-2.1.10/lib/resources/http.rb:62:in `http_method': undefined method `fetch' for nil:NilClass (NoMethodE

[2019-02-21 01:51] clintoncwolfe commented on #393
There are many things that could go wrong here, from file permissions to SELinux contexts to TTY requirements - and I don't think InSpec would be able to differentiate those cases.  If there  is desire for this feature, let's open a new issue to focus on that.

[2019-02-21 01:51] #393 closed, assigned to nobody

[2019-02-21 01:57] #611 closed, assigned to nobody

[2019-02-21 02:00] clintoncwolfe commented on #660
Looks like this was "fixed" with advisory docs in #1982

[2019-02-21 02:00] #660 closed, assigned to nobody

[2019-02-21 10:56] JumpSplat96 commented on #4495
Any idea if anyone is working on this?

[2019-02-21 14:09] TheLunaticScripter opened #3825 "Add windows support for `inspec habitat` command"
### 🎛 Description

A 🙋 feature request to add a switch or something so that the `inspec habitat` command can support both a Linux and Windows plan.

The `inspec habitat` command is very useful in creating a habitat plan for Linux but not for Windows. It would be nice to be able to use a switch like `--platform` to create either a habitat plan for Linux or Windows.

### 🌍 InSpec and Platform Versio

[2019-02-21 15:49] Nklya opened #3826 "git fetcher: Add ability to specify branch when using `inspec exec`"
### 🎛 Description

It's a 🙋 feature request.

Hello. I cannot find information about this anywhere so I think it's impossible for now.
I need to define branch for `inspec exec` when using https git repository. This is convenient to test changes in profiles.

### 🌍 InSpec and Platform Version

3.4.1/macOS, 3.0.61/Ubuntu 18.04

### 🤔 Replication Case

I use InSpec profiles to check infrastructure st

[2019-02-21 19:07] clintoncwolfe commented on #2167
This is a duplicate of #1974

[2019-02-21 19:07] #2167 closed, assigned to nobody

[2019-02-21 19:11] clintoncwolfe commented on #3826
It seems like we do support this, but clearly if it's not documented, that doesn't help.  Needs to be at least checked.

[2019-02-22 07:34] jerryaldrichiii commented on #3741
FWIW, I'm not seeing this on master...though nothing has changed.

I'm going to close this for now, please reopen if this resurfaces.

[2019-02-22 07:34] #3741 closed, assigned to nobody

[2019-02-22 11:00] clintoncwolfe commented on #3825
Ref #3818

[2019-02-22 11:15] clintoncwolfe opened #3830 "deprecation: Enhance testing support"
### 🎛 Description

🙋 feature request

On #3447, a system was added to manage InSpec's deprecations.

When doing testing with a potentially deprecated feature, we need to easily detect when a deprecation has occurred.

In the unit test helper, let's add some block-based methods:

[code]

### 🌍 InSpec and Platform Version

3.6.10

### 💁 Possible Solutions

Clever things in test/unit/helper

[2019-02-22 12:36] ehbello commented on #3779
Does anyone know any workaround for this in some version 3.x of InSpec? I'm trying to force some values the child profile attributes from the parent profile, just by avoiding the use of the `--attrs` parameter :thinking:

[2019-02-22 15:42] skpaterson commented on #3822
Thanks for this @clintoncwolfe ! Couple of updates:
* Migrate open PRs and issues to https://github.com/inspec/inspec-aws  - we're currently working on open PRs and targeting early next week for transferring/closing out AWS related issues
* On 4-stable branch, update `inspec init --platform aws` to generate profiles with a `depends` on the resource pack - see #3831

[2019-02-22 18:25] jerryaldrichiii commented on #3635
This was fixed via https://github.com/inspec/inspec/pull/3645

Apologies for not closing it until now.

[2019-02-22 18:25] #3635 closed, assigned to nobody

[2019-02-22 21:28] kpettijohn commented on #1810
Just ran into this when attempting to generate a dashboard using the json reporter from a inspec profile with `include_controls` used. I was able to filter out the duplicates by excluding controls with no results. Looking forward to this being fixed within the reporters.

[2019-02-25 14:28] skpaterson commented on #3534
These have been added in the new InSpec AWS resource pack e.g.
https://github.com/inspec/inspec-aws/blob/master/docs/resources/aws_ecs_cluster.md

[2019-02-25 14:28] #3534 closed, assigned to nobody

[2019-02-25 14:35] skpaterson commented on #3441
`aws_auto_scaling_group(s)` have been added to the new InSpec AWS resource pack: https://github.com/inspec/inspec-aws/pull/9

[2019-02-25 14:35] #3441 closed, assigned to nobody

[2019-02-25 14:45] #3303 closed, assigned to nobody

[2019-02-25 15:15] skpaterson commented on #2811
EBS volume now has a helper method to check for encryption:
[code]
Feel free to open an issue here if anything is missing:
https://github.com/inspec/inspec-aws/issues

[2019-02-25 15:15] #2811 closed, assigned to nobody

[2019-02-25 15:16] skpaterson commented on #2784
This is available in the new InSpec AWS resource pack:
https://github.com/inspec/inspec-aws/blob/master/docs/resources/aws_ec2_instances.md

[2019-02-25 15:16] #2784 closed, assigned to nobody

[2019-02-25 15:17] #2751 closed, assigned to nobody

[2019-02-25 15:19] skpaterson commented on #2736
This is the behaviour in the new InSpec AWS resource pack, but let us know if not:
https://github.com/inspec/inspec-aws/blob/14f7a881f292c32803ba85be6309e93b29fc8966/libraries/aws_ec2_instance.rb#L43

[2019-02-25 15:19] #2736 closed, assigned to nobody

[2019-02-25 15:30] skpaterson commented on #2717
Tracking this issue in the new AWS resource pack here:
https://github.com/inspec/inspec-aws/issues/5

[2019-02-25 15:30] #2717 closed, assigned to nobody

[2019-02-25 15:33] #2633 closed, assigned to nobody

[2019-02-25 15:34] #2599 closed, assigned to nobody

[2019-02-25 15:35] #2598 closed, assigned to nobody

[2019-02-25 15:35] #2592 closed, assigned to nobody

[2019-02-25 15:36] #2591 closed, assigned to nobody

[2019-02-25 15:36] #2590 closed, assigned to nobody

[2019-02-25 15:36] #2589 closed, assigned to nobody

[2019-02-25 15:37] #2588 closed, assigned to nobody

[2019-02-25 15:41] #2583 closed, assigned to nobody

[2019-02-25 15:42] #2573 closed, assigned to nobody

[2019-02-25 15:43] #2572 closed, assigned to nobody

[2019-02-25 15:43] #2570 closed, assigned to nobody

[2019-02-25 15:43] #2569 closed, assigned to nobody

[2019-02-25 15:44] #2568 closed, assigned to nobody

[2019-02-25 15:46] #2563 closed, assigned to nobody

[2019-02-25 15:47] #2562 closed, assigned to nobody

[2019-02-25 15:47] #2561 closed, assigned to nobody

[2019-02-25 15:48] #2560 closed, assigned to nobody

[2019-02-25 15:51] clintoncwolfe commented on #3726
Will be implemented in inspec/inspec-aws .

[2019-02-25 15:51] #3726 closed, assigned to nobody

[2019-02-26 00:38] clintoncwolfe commented on #3779
Not at the moment.  A big part of our current work is overhauling the attributes/inputs system.  We're at 3.6 now, and I'd guess it will be in the next few minor versions, we'll have the inputs system based on plugins - certainly before 4.x.  At that point you can do what you please, as onw could make a plugin that does whatever you like.

I'm also not sure what the specified behavior really is he

[2019-02-26 00:40] clintoncwolfe commented on #3761
Fixed on #3832

[2019-02-26 00:40] #3761 closed, assigned to nobody

[2019-02-26 18:24] clintoncwolfe commented on #3826
It is indeed a real feature, and documented at https://www.inspec.io/docs/reference/profiles/#git .

[2019-02-26 18:27] Nklya commented on #3826
I was asking about how to set branch directly in inspec exec with remote profile in git repo.

[2019-02-26 18:27] Nklya commented on #3826
And the link you attached is completely about another feature.

[2019-02-26 21:49] clintoncwolfe opened #3837 "Create Input Plugin Type"
### 🎛 Description

feature request

Create an actual Plugin Type for inputs.

 * Be able to fetch a value by name and profile name
 * (eventually) list inputs the plugin is willing to service
 * (eventually) bulk fetch inputs

[2019-02-27 13:57] james-stocks commented on #3747
I think we can fix the singular case `user` by adding a new method to get just 1 user from the backend instead of collecting all user details.

I see that the plural case `users` is not trivial because its an implementation of FilterTable and we might want something fundamentally different here.
Maybe we should just document a warning for `users` (and I expect also `groups`)?

[2019-02-27 19:15] clintoncwolfe commented on #3747
`user` should be fixable, as you mention - pass some identifier (username, possibly qualified) and then use PowerShell to query.  That should help.

For `users`, we have a problem.  FilterTable is built to fetch-all, then filter-in-memory.  The only way around that is to add a resource parameter which would be used to do target-side filtering in PowerShell.  We'd have to implement whatever criteri

[2019-02-27 19:21] clintoncwolfe commented on #3783
Closed by #3833

[2019-02-27 19:21] #3783 closed, assigned to nobody

[2019-02-27 19:57] clintoncwolfe opened #3838 "Deprecations for InSpec 4.0"
### 🎛 Description

This is a list of known deprecations.  For the most part, we're just advancing the deprecation group action in `etc/deprecations.json`.

(list moved to PR #3973)

This change only flips the deprecation warning system - removing old code will be on (several?) future PRs.

[2019-02-28 00:56] Kiranjith83 opened #3841 "Inspec 3.6.6 fails to upload to Chef Automate"
### 🎛 Description

**Choose one:** is this a 🐛 bug report
 Uploading compliance controls fails with inspec version 3.6.6. But works well with other version 3.2.6.

[code]

### 🌍 InSpec and Platform Version

3.6.6

### 🤔 Replication Case

Install version 3.6.6 and try uploading a controller to Chef Automate.

### 💁 Possible Solutions

If you have already ideas how to solve the issue, add them here.

[2019-02-28 13:47] clintoncwolfe opened #3845 "Magically associate inputs with controls to force outcome"
### 🎛 Description

Refs #3017

One idea that comes up occasionally (see also the secondary topic on #3840) is a desire to alter the output of a control based on an input (formerly known as attributes). Today, you would need to have something that has a naming standard for inputs, explicitly examines the loaded controls, then call something like `skip_control` on each that was marked to skip or fai

[2019-02-28 13:48] clintoncwolfe commented on #3017
We could toggle controls on and off more easily if each control were associated with an input (attribute) - see #3845

[2019-02-28 13:49] clintoncwolfe commented on #3845
Attn @TheLunaticScripter
Attn @mschmeitz

[2019-02-28 20:09] miah opened #3846 "Telemetry"
The InSpec team would like to gather, and report on details regarding usage to help make better decisions about how InSpec is being used.

Data we might want to collect:
 - Runtime environment (OS, Ruby Version)
 - Target(s) (unix, windows, network device, http, database, etc)
 - Runtime environment specs (memory, architecture, ipv(4,6)
 - InSpec features used (attributes, profiles, resources, plu

[2019-03-01 17:31] kmf commented on #3841
I can confirm I had this as well.

[2019-03-01 17:44] clintoncwolfe commented on #3841
This was fixed in #3834, but we have not had a release since that was merged. Fix will be in the next release.

[2019-03-01 19:03] miah opened #3848 "Telemetry - Local File Endpoint"
As a user I want to collect telemetry around my InSpec run and write a report to local disk.

This should include whatever is in the collection and data series.

Sync up with others at Chef doing Telemetry.

[2019-03-01 19:53] miah opened #3849 "Telemetry - Opt In/Out"
As a user I want to opt in or out of Telemetry Collection. I should be able to do this with command line arguments, as well as through a configuration file. I may want to configure this through the ENVIRONMENT too.

[2019-03-01 19:55] miah opened #3850 "Telemetry - instrument invocations"
Our first instrumentation point we'd like to implement within InSpec is:

Whenever Chef InSpec is invoked as a Thor subcommand, we'd like to know:
 * InSpec version
 * duration of the run
 * subcommand (`exec`, `shell`, `check`, etc) that was run
 * installation type (omnibus, workstation, gem, etc)
 * inspec client platform
 * timestamps

Note that this is about invocations, not "Runner runs" so

[2019-03-01 19:58] miah opened #3851 "Telemetry - Internal Dashboard"
As a developer I want to utilize reported telemetry data to make informed decisions about the future of InSpec. This data should be presented through our internal dashboard system.

[2019-03-01 20:46] miah commented on #464
I do appreciate the sentiment here, but I'm going to close this. Everybody should feel free to re-open and add additional Thank You's in the future <3

[2019-03-01 20:46] #464 closed, assigned to nobody

[2019-03-01 20:48] clintoncwolfe commented on #564
This sounds like a desire for `inspec check` to be extensible - to allow you to author custom rules, and have them applied when you run the check.

refs #3549

[2019-03-01 20:54] clintoncwolfe opened #3852 "Inputs: Consolidate input access to Registry, and use value voting"
### 🎛 Description

🙋 feature request

Currently, inputs (formerly known as `attributes`) are created in several locations, and precedence is determined by exection order.

To make a plugin system, we need to consolidate this, and enforce a new precedence system.

### 🌍 InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distributi

[2019-03-01 20:56] clintoncwolfe opened #3853 "Attribute -> Input rename: Rename DSL access points"
### 🎛 Description

🙋 feature request

Renamed the control DSL method `attribute` to `input`.

Continue to support `attribute`.

Like `attribute`, `input` should automatically evaluate to the value of the Input object.

Introduce a new DSL method, `input_object`, which returns the unevaluated Input.  For advanced usage, document the diagnostic features of the object.

Update docs.

Update tests (th

[2019-03-01 20:57] clintoncwolfe opened #3854 "Attribute -> Input rename: Rename profile metadata field"
### 🎛 Description

Rename the `attributes` field in the metadata file to be `inputs`.  Continue to support `attributes`, but warn deprecation in v4.

Update tests and docs.

[2019-03-01 20:58] clintoncwolfe opened #3855 "Rename CLI option for inputs"
### 🎛 Description

Change the Tor option to `exec` from --attrs to --input-file, while maintaining backwards compatibility.

### 🌍 InSpec and Platform Version

3.7.x

[2019-03-01 20:59] clintoncwolfe opened #3856 "Rename Runner API inputs field"
### 🎛 Description

As part of #3802, rename the runner API inputs field.

This is closely tied to https://github.com/inspec/kitchen-inspec/issues/224

Refs https://github.com/chef-cookbooks/audit/issues/360

[2019-03-01 21:52] clintoncwolfe opened #3857 "Spike whether a source code error can stacktrace"
Spike https://github.com/inspec/inspec/issues/521

[2019-03-02 00:47] miah commented on #565
This should be supported, it may have been added after this issue was opened.

From the docs:
[code]

If this is still a issue I'll re-open.

[2019-03-02 00:47] #565 closed, assigned to nobody

[2019-03-02 00:58] miah commented on #598
There are other auditd resource issues here: #2025, #2334, #710

[2019-03-02 01:09] miah commented on #752
Going to close this in favor of #2983

[2019-03-02 01:09] #752 closed, assigned to nobody

[2019-03-02 01:23] miah opened #3859 "Expeditor should build and deploy website"
As a developer when I release a new version of InSpec I would like Expeditor to also release a updated website.

[2019-03-04 19:03] lmayorga1980 opened #3862 "Docker resources fail on Inspec 3.7.1"
### 🎛 Description

I am trying to use the Inspec Resources as declared

[code]

### 🌍 InSpec and Platform Version

**3.7.1**

### 🤔 Replication Case

`docker ps`

CONTAINER ID        IMAGE                                     COMMAND             CREATED             STATUS              PORTS               NAMES
a2d89209d1b2        my-regystry/my-dir/container:latest   "/bin/cinder"       7 minutes a

[2019-03-04 20:11] lmayorga1980 commented on #3862
Closing the issue. The current user does not have `sudo` permissions.

[2019-03-04 20:11] #3862 closed, assigned to nobody

[2019-03-04 20:37] clintoncwolfe commented on #3841
Fixed in 3.7.1 release

[2019-03-04 20:37] #3841 closed, assigned to clintoncwolfe

[2019-03-05 06:48] glennsarti commented on #2822
~~@nellshamrell Not sure if this is helpful or not. I know why opts is nil but I have no idea HOW it does it.  The [initialise](https://github.com/inspec/inspec/blob/master/lib/resources/http.rb#L27) method for that class is not called prior to calling `to_s`.  Verified by throwing some pry statements in there.  The initialize pry statement never tripped.~~  Whoops...should read scroll back.  Alre

[2019-03-05 06:49] glennsarti commented on #2822
Also, I'm having the same error thrown for a simple usecase

Inspec: 3.7.1
OS:Windows 10 - 1803
Ruby: 2.5.1 x64 with DK
Inspec installed: Via rubygems
Remote testing: Nope...just local.

spec.rb
[code]

[2019-03-05 06:57] glennsarti commented on #2822
Also @nellshamrell The documentation for the http resource makes no mention that this is a unix only resource https://www.inspec.io/docs/reference/resources/http/  😞

[2019-03-05 07:10] glennsarti commented on #2822
For anyone hitting this error, you _could_ use this workaround.

NOTE - This is just a workaround, doesn't solve the actual problem, and monkey patches the http class.  Use at your own risk etc. etc.

[code]

[2019-03-05 20:21] hazardsec commented on #2338
Any update on this? Many of the cloud images I am using have very specific SSH settings out of the box and I am having to change them to get inspec to run against the remote instances. Is there any way to add Ciphers, KexAlgorithms, or MACs since it seems to be ignoring ~/.ssh/config and /etc/ssh/ssh_config?

[2019-03-05 20:58] miah opened #3864 "InSpec Agent"
There have been a few conversations in the past about having a InSpec Agent, and I'm starting this issue to gather notes and ideas about what this would look like and do.

- a daemon that accepts requests over the network
- request can define profiles
- daemon can fetch profiles from automate, git(hub,lab), http endpoint, supermarket?
- ability to spawn new inspec processes
- can spawn multiple in

[2019-03-05 21:04] miah opened #3865 "Update 1-stable branch with recent CI changes for new habitat builds"
We need to release a new build of 1-stable against current habitat core, to do this we also need to update our CI pipeline with recent changes from master.

ref: https://github.com/inspec/inspec/pull/3863

[2019-03-06 01:38] miah opened #3866 "Allow `#run_command` to set mixlib-shellout options during execution."
As a user, I'd like to execute some resources with altered PATH settings, or specify a command timeout.

As a user, I'd like to set additional command options like PATH in a global location.

The `command` resource makes use of Trains [`#run_command`](https://github.com/inspec/inspec/blob/master/lib/resources/command.rb#L43-L45) to allow us to pass through execution to various backends.

mixlib-sh

[2019-03-06 09:51] james-stocks opened #3867 "`inspec-plugin-template` may be on plugin path, causing InSpec to crash"
### 🎛 Description

🐛 bug report

It's unlikely to affect many people, but it is possible that `lib/plugins/inspec-init/templates/plugins/inspec-plugin-template` may end up on the path(s) used to load plugins and will crash InSpec when it attempts to load the template as an actual plugin.

[code]

### 🌍 InSpec and Platform Version

3.7.1 via gem

### 🤔 Replication Case

 * Have an InSpec plugin pro

[2019-03-06 12:07] ghost opened #3868 "Add Azure Application Gateway WAF Rules"
🙋 feature request?

It would be great to have application gateway WAF rules support.

Use Case: A Terraform change to our application gateway caused a config change without us realising it. Having these types of tests would enable us to catch these issues immediately.

[2019-03-06 14:39] kevin-j-smith opened #3869 "json reporter: Add network/host identifying information"
### 🎛 As a government contractor we have to report our inspec findings as a checklist xml file.   It would nice to have inspec generate one of those or to at minimum have the reporter report more information about the machine the test was being ran on.   This is more than just a ip and target_id.

Currently we use: https://github.com/mitre/inspec_tools "inspec2ckl" (at least at this time a slightl

[2019-03-06 15:22] aaronlippold commented on #3869
Hi Kevin,

Happy to hear the tools are working for you and I'd love to see your
enhancements and your PR. Let's setup some time to talk in this and see
what we can do.

Aaron
MITRE InSpec Team

On Wed, Mar 6, 2019, 9:52 AM Kevin J. Smith <notifications@github.com>
wrote:

[2019-03-06 15:40] clintoncwolfe opened #3870 "Add inspec-habitat resource pack to website docs"
### 🎛 Description

Once it has reached some level of maturity, add the `inspec/inspec-habitat` to `etc/contrib.json` so we will show the resource docs on the main inspec website.

[2019-03-06 15:57] clintoncwolfe commented on #1981
Closing in favor of https://github.com/inspec/inspec-habitat/issues/15

[2019-03-06 15:57] #1981 closed, assigned to nobody

[2019-03-06 16:01] clintoncwolfe opened #3871 "Ship train-habitat with InSpec"
Once train-habitat matures, add it to the gemspec, so we ship it with all inspec installs.

It's pure ruby with no special deps, should be painless.

[2019-03-06 16:20] aaronlippold commented on #3869
This relates to https://github.com/inspec/inspec/issues/3181

[2019-03-06 16:22] aaronlippold commented on #3869
We talked about this about 6 to 10 months ago and we have put it on the priortiezed list.

[2019-03-06 16:33] wiskaso opened #3872 "registry_key seems to ignore regex on children"
### 🎛 Description

**Choose one:** 🐛 bug report

I’m basically using a very vanilla Windows box and wrote a control like this:
[code]

Now on this system the screen saver isn’t enabled so I would expect this to fail.. but for whatever reason.  I’m getting this:
[code]
This happens thousands of times as it tests paths that don’t seem to match the regex.  Am I just misunderstanding the use of the ch

[2019-03-06 16:43] aaronlippold commented on #3869
However, I think the use of inspec_tools - e.g. the data transform / normalization stage - should be speerate to inspec evaluation itself. Because we are talking about another phase of the business process. So the workflow we use is, basically:

`(a) inspec exec <proifle> ... | (b) inspec_tools compliance <json_results>  | (c) inspec_tools inspec2ckl <json_results> && (d) curl <json_results> resul

[2019-03-06 20:41] kevin-j-smith commented on #3869
@aaronlippold We have a basic workflow.  Here is our process:

[code]

I haven't used compliance and we have talked about a heimdall or similar server, but have yet to get that far.

*** Side note ***
As to enhanceGeneratedInspec, I created a ruby cli that runs through each generated control ruby file and allows the user to in-place edit its contents and locally test the logic, then move on to the

[2019-03-07 15:40] james-stocks commented on #3747
Spent time today trying to get the single user case working.

It is possible to cut the current loading of user data down to a single user by changing the `where` clause:

` $adsi.Children | where {$_.SchemaClassName -eq 'user'}` --> `$adsi.Children | where {$_.SchemaClassName -eq 'user' -and $_.Name[0] -eq 'Administrator'}`

However when I added 3000 users to the machine I found this got increasi

[2019-03-07 15:54] vjeffrey opened #3874 "add "projects" to pass through metadata"
### 🎛 Description

 🙋 feature request

in order to complete the rbac work being done in automate, we're going to need to pass a field called `projects` through on reports, with an array of strings as the value (`projects: ['foo', 'bar']`).
https://github.com/inspec/inspec/blob/master/lib/inspec/reporters/automate.rb#L31

note: while we're at it, maybe correcting the spelling on `recipes` would be

[2019-03-07 16:27] clintoncwolfe commented on #3874
Where is the value to be passed through desired to be passed in?  Is this through a command line argument, or in the JSON-formatted config file?

[2019-03-07 16:33] vjeffrey commented on #3874
the JSON-formatted config file

[2019-03-08 00:12] jkugler opened #3876 "File resource doesn't properly check for symlinks"
### 🎛 Description

🐛 bug report

When specifying `its('type') { should eq :link }` in an inspec test, it seemd to report on the file it points to, not on the link itself.

### 🌍 InSpec and Platform Version

Inspec 3.0.51, running against an Ubuntu from an OS X host.

### 🤔 Replication Case

[code]
but
[code]
Also:
[code]
But it just found the file to test its owner. :)
### 💁 Possible Solutions

N/

[2019-03-08 12:23] clintoncwolfe commented on #3849
Here's a screenshot of `hab` asking the user for opt-in:
![screen shot 2019-03-08 at 07 23 19](https://user-images.githubusercontent.com/156460/54028461-12904500-4173-11e9-8f11-ee161c2dcbcb.png)

[2019-03-08 14:30] clintoncwolfe opened #3877 "inspec habitat: Missing package name in last line of `create` output"
### 🎛 Description

🐛 bug report

Refs #3818

After running `inspec habitat profile create test-profile`, the .hart package is built, and this is the last few lines:

[code]
The last line is intended to contain an artifact name, but it is an empty string.

### 🌍 InSpec and Platform Version

3.7.x

### 🤔 Replication Case

[code]

[2019-03-08 14:51] #3786 closed, assigned to nobody

[2019-03-08 15:36] jvogt commented on #3815
I encountered this issue with the following run locally on my mac:
[code]

[2019-03-08 15:55] jvogt commented on #3815
And after some debugging, its coming from a failed control's diff of the expected vs actual stdout of `pwpolicy -getaccountpolicies` for the macos CIS control `xccdf_org.cisecurity.benchmarks_rule_5.2.4_Complex_passwords_must_contain_a_Numeric_Character`

So would resolution be to not use ASCII when capturing stdout?  Or is this a localized OS setting that the end user is responsible to maintain?

[2019-03-08 16:08] clintoncwolfe opened #3878 "Attributes -> Input rename: Update examples"
### 🎛 Description

As part of #3802, update references in examples to refer to attributes as inputs.

 * [ ] lib/plugins/inspec-init/templates/profiles/gcp/README.md (--attrs)
 * [ ] lib/plugins/inspec-init/templates/profiles/aws/README.md (--attrs)
 * [ ] ...

### 🌍 InSpec and Platform Version

3.7

Aha! Link: https://chef.aha.io/features/SH-398

[2019-03-08 16:08] jvogt commented on #3815
And FWIW, I'm not proposing this as the solution, but it validates the original source of the bad encoding.

The issue is resolved by changing

[code]
to
[code]
inside https://github.com/inspec/inspec/blob/706493f2f386a2cb3a23dcedcee7c30e4281704e/lib/resources/command.rb#L48

[2019-03-08 17:59] kevin-j-smith commented on #3760
Hi, I have been looking for a possible solution to skipping a control inside of a control.  See the only_if solution, which your documentation states:
[code]

Does not actually report the control or mark it skip.  It just excludes it.   (inspec version 3.7.1).  As to the skip command with in a describe block:
[code]

The only way for this to work is to wrap everything in a control structure but th

[2019-03-08 18:21] kevin-j-smith commented on #3760
How can I get the whole control to return the status as skipped.   I can do things in a ruby control structures to get all results to have status skipped.  That is without having a profile skip tests.  I am looking for a programmatic way to skip tests during run time.

[2019-03-08 18:29] clintoncwolfe opened #3880 "Attribute->Input rename - Documentation Update"
### 🎛 Description

As part of #3802, update existing documentation to refer to attributes as inputs.

Retain mentions of the former name.

Check for broken links going to anchor URLs whose section names are changing.

[2019-03-08 18:45] clintoncwolfe opened #3881 "Attribute->Input rename - Update Learn Chef materials"
### 🎛 Description

As part of #3802, update the training materials for InSpec regarding attributes.

https://learn.chef.io/#/

Consider holding off until the plugin-ability is established (#3666).

Aha! Link: https://chef.aha.io/features/SH-2479

[2019-03-09 15:07] clintoncwolfe opened #3882 "Config: Add fields for setting input provider options"
### 🎛 Description

🙋 feature request

When the InputRegistry starts, we need to be able to configure the input providers that are mentioned in the config file. Also, the input providers need to be able to have extra information (such as hostnames or credentials for a remote KV store) available to them.

Extend the configuration file format to support these needs.

[2019-03-09 15:16] clintoncwolfe opened #3883 "Move core input providers into a plugin"
The inline, runner-api (audit cookbook, kitchen-inspec), metadata, and cli-file input sources are all currently defined directly in the InputRegistry. These should be pushed out, if possible, into one or several plugins that are shipped with inspec.

The goal here is consistency of interface and ensuring they do not behave with privilege compared to non-core input providers, as well as simplifying

[2019-03-09 15:26] clintoncwolfe opened #3884 "Input plugins - update docs and init template"
At some point after #3837, update the user plugin docs, dev plugin docs, and `inspec init plugin` to be able generate plugins with the `input` hook type.

[2019-03-10 02:44] burtlo commented on #3165
@kagarmoe is probably referring to the very hacky introspection that I created to generate some docs: https://github.com/burtlo/inspec_docgen/blob/master/property_finder.rb

[2019-03-10 06:14] burtlo commented on #3165
In the following [repository](https://github.com/burtlo/inspec-introspection/tree/master/introspection/controls) I am [monkey-patching](https://github.com/burtlo/inspec-introspection/blob/master/introspection/libraries/meta.rb) in an Introspection prototype.

Here is an example of `InSpec::Resources::Cmd` with `resource_parameter`, `property`, and `matcher` https://github.com/burtlo/inspec-introsp

[2019-03-10 13:59] aaronlippold commented on #3165
I'm very happy to see this capability moving forward we very much need it

On Sun, Mar 10, 2019, 1:14 AM Franklin Webber <notifications@github.com>
wrote:

[2019-03-11 09:58] james-stocks commented on #3760
Hi @kevin-j-smith -

You said that for `only_if`...

This should cause a skipped result; and it's a bug if it doesn't.
I just tried in 3.7.1

[code]

[code]

[2019-03-11 14:13] kevin-j-smith commented on #3869
I created a pull request with inspec/train so that train will report the necessary platform information.   I do have the corresponding logic for inspec/inspec to handle this extra information.

If we want to add logic for extra tags then we should work it in the other issue.   I think this work is complete as it.

[2019-03-11 16:24] jerryaldrichiii commented on #3815
FWIW, I think we should fix this higher up...but `result.stdout.force_encoding(Encoding::UTF_8)` would solve the bulk of issues. I don't see the harm of making that change.

[2019-03-12 14:23] clintoncwolfe commented on #3165
@burtlo, thanks for the effort on this.

However, we really can't use monkey-patching to pull this in. Our plan was to implement a new version of the Resource API. Current resources inherit from v1 (thus providing a certain DSL); this effort would implement v2 (which allows us to maintain the same approach used throughout inspec, while changing the DSL).

This is a large effort, and involves a new

[2019-03-12 14:42] clintoncwolfe commented on #3869
Refs #722

[2019-03-12 17:26] burtlo commented on #3165
I realize that InSpec as a project wouldn't want to merge this monkey patched code. Currently this monkey patched code exists inside of an InSpec profile specifically for exploration of the introspection language over a variety of resources to understand the nuances that would assist in coming to that modeling review with a better understanding

Before implementing this monkey patch I would not ha

[2019-03-12 17:30] burtlo commented on #3165
What I mean to say is that I have no expectations that my code is accepted as written. I'm providing it here to give some additional details to those joining in this conversation. ❤️

[2019-03-12 17:50] #3865 closed, assigned to miah

[2019-03-12 18:00] clintoncwolfe commented on #3351
Refs #596

[2019-03-12 18:00] clintoncwolfe commented on #3648
Refs #874

[2019-03-12 18:10] clintoncwolfe opened #3886 "Resource Request: Ohai Resource (system information)"
### 🎛 Description

It is common to want to have available information about the target machine, such as networking information, detailed OS version, and other similar information.

The Chef project [`ohai`](https://github.com/chef/ohai) provides exactly that, in a modular fashion. Create an InSpec resource that can be used as an informational resource to query aspects of the target environment.

C

[2019-03-12 18:28] clintoncwolfe commented on #3869
Hi,

Thanks for describing your use case so well!

I think a good approach here would be implementing (some or all of) #3886 'Ohai Resource', then implementing a custom report that suits your needs. #3667, 'Make Reporters into Plugins', would make that much simpler (and more supported), but it is still possible on today's codebase.

Pulling the identifier information from train gives Train some sc

[2019-03-12 18:43] clintoncwolfe commented on #3165
Thanks for clarifying, I'll read as exploratory - thanks and ❤️!

[2019-03-13 22:02] StefanScherer opened #3888 "Detect windows also with ssh transport"
### 🎛 Description

🐛 bug report

InSpec can be used for Windows targets, but it seems that this works only if the communication is down via WinRM. I want to be able to use InSpec with a SSH connection to a Windows target machine.
This doesn't work at the moment and InSpec terminates with an error "Sorry, we are unable to detect your platform (Train::PlatformDetectionFailed)".

### 🌍 InSpec and Pla

[2019-03-14 17:20] burtlo commented on #3165
Continuing my exploration:

https://github.com/burtlo/inspec-introspection/commit/84d636d65b91f1b438303d2ea9e2e088b5454201

## matchers

This work brought up interesting questions. Like matchers really are properties used in a particular situation and so it may be better to define all matchers as properties and add a flag to them to denote their "matcher-ness". At the moment the only matchers that

[2019-03-14 22:23] rybons opened #3891 "inspec compliance exec command fails after successful login"
### 🎛 Description

Unable to run `inspec compliance exec <profile>` for a variety of profiles I have stored in Automate 2.

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

🐛 report

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

### 🌍 InSpec and Platform Version

M

[2019-03-15 18:20] clintoncwolfe commented on #640
Refs #874 #3094

[2019-03-15 18:20] clintoncwolfe commented on #640
At this point I believe that stacktraces are hidden by default, but I am not sure that `--debug` will cause it to display.

[2019-03-15 18:24] clintoncwolfe commented on #728
As this is an old ticket, and the compliance UI is not part of InSpec, I'm closing this.  Thanks!

[2019-03-15 18:24] #728 closed, assigned to nobody

[2019-03-15 18:31] burtlo commented on #3165
Alright, I took on `FileResource` as an example with matchers that take arguments.

I implemented it first using a [hash](https://github.com/burtlo/inspec-introspection/blob/master/introspection/controls/file.rb#L44-L59) to provide the details to the matcher.

[code]

Ultimately it felt like it would be an even worse way to create a clear description of the resource. I imagine that above would be

[2019-03-15 18:33] clintoncwolfe commented on #3876
I seem to recall file resource having an option to dereference, but could be wrong - will check.

[2019-03-15 18:36] clintoncwolfe commented on #3874
refs #3181

[2019-03-15 18:46] jkugler commented on #3876
It has
[code]
and
[code]
but that checks where it points to. That shouldn't affect the output of `type should eq :link`

[2019-03-16 13:48] aaronlippold commented on #3886
I would be happy to help with this. Would this inherit from the JSON resource base?

[2019-03-16 13:56] aaronlippold commented on #3181
I think this should prioritize #3886 as well as it would stabilize the underlying data collection and in theory, we could then collect or pass-through almost all the data from ohai on demand from the end-user. This would truly enhance our secondary processing and correlation of results. Big win in the ongoing compliance puzzle.

[2019-03-17 21:35] aaronlippold opened #3893 "file: add `more_permissive_than?` matcher"
There is a common type of check in security guides that looks something like the following and is not particularly easy to write in InSpec using the current file resource permission bits.

- ` The file {file} must have mode 0644 or less permissive` ( singular )
- `All local initialization files must have mode 0740 or less permissive.` ( plural )

May users mistakenly try to use the `cmp` matcher t

[2019-03-18 15:03] clintoncwolfe commented on #3601
https://github.com/inspec/inspec/pull/3894/files?file-filters%5B%5D=.erb#diff-d5649edf81252e84c39532b350ddeea1R133 - "subject" syntax

[2019-03-18 18:50] rdonkin opened #3896 "Content match on http GET succeeded despite TCP connect failing"
### 🎛 Description

🐛 bug report

Simple  HTTP GET check that verifies the HTTP status code and some content.    (Domain name anonymised)

[code]

*Part 1 - DNS still stabilising*

The domain name was resolvable, but I had created the domain name in Route53 just a minute or so before.

I got these errors showing one check failed and the other succeeds.

     ×  http GET on https://XXXX.co.uk/ statu

[2019-03-18 19:38] clintoncwolfe commented on #3896
Thanks for the report, @rdonkin! We'll look into this.

[2019-03-18 19:39] clintoncwolfe commented on #3896
attn @nellshamrell 	- Would you have time to look at this?

[2019-03-18 19:45] clintoncwolfe commented on #3888
Refs https://github.com/inspec/train/pull/416

[2019-03-18 19:55] clintoncwolfe commented on #3868
Hi! Thanks for the suggestion.  However, Azure resources are being developed on the the inspec/inspec-azure repo.  Please make your suggestion there.  Thanks!

[2019-03-18 19:55] #3868 closed, assigned to nobody

[2019-03-18 21:15] joegoggins commented on #498
Funny.  I just googled "how to use Inspec resources inside of Rspec" and came across this GH issue I posted almost three years ago...

Here I am again in the same/similar situation.

I want to use the awesome `http`, `port`, `host`, `yaml`, and MANY other Inspec resources in the context of another RSpec project (that doesn't get executed via `inspec exec`)

Is there a `InspecDsl` module I could `i

[2019-03-18 22:56] mattlqx commented on #1830
I can't believe this has been hanging for so long! Seems super basic to me to be able to verify interface configuration. Oh well, here's a PR. 🤓

[2019-03-19 01:54] aaronlippold commented on #3601
my_file = file('/etc/passwd')
    describe "The file #{my_file.path} with permissions: `#{my_file.mode.to_s(8)}`" do
      subject { my_file }
      it { should_not be_more_permissive_than?('0644') }
      it { should be_more_permissive_than?('0000') }
    end

[2019-03-19 02:03] clintoncwolfe commented on #3867
`inspec plugin install path/to/some/plugin` is the intended way to do development.  I think the symlinking, vendoring, etc. is not supported in this use case.

[2019-03-19 02:03] #3867 closed, assigned to nobody

[2019-03-19 02:07] clintoncwolfe commented on #498
Over the years, InSpec has probed deeper and deeper into RSpec, modifying the Runner behavior as well as the Reporter side, and also 5 total DSLs we inject into RSpec.  Today InSpec uses RSpec as an implementation detail; no parts of that interface are intended to be stable enough for public consumption.

That's not to say it isn't possible; just that I don't know what it would take to pull off, a

[2019-03-19 02:07] #498 closed, assigned to nobody

[2019-03-19 05:36] burtlo commented on #3165
The [docker](https://github.com/inspec/inspec/blob/master/lib/resources/docker.rb) and the [nginx_conf](https://github.com/inspec/inspec/blob/master/lib/resources/nginx_conf.rb resources stand out from the other resources in their usage of `FilterTable`. `FilterTable` is defined a number of inner-classes that when created are given the data to do the filtering necessary. It foiled the simple appro

[2019-03-19 17:32] joegoggins commented on #498
Groovy. Thanks. It's very useful to know that. I'm unblocked and should be able to make sensible architecture decisions with that knowledge.

[2019-03-20 14:44] mhackethal commented on #3571
dear @clintoncwolfe , @jquick ,
any update on this issue?
I currently run in the same issue. If a profile has no inspec.lock but dependencies. Then inspec check fails.
Since i use some CI/CD functions that perform a inspec check on any update and the lock file is not created all profiles with dependencies are failing.
Thanks and regars Markus

[2019-03-20 15:06] #3698 closed, assigned to clintoncwolfe

[2019-03-20 15:07] clintoncwolfe commented on #3351
Fixed by #3889

[2019-03-20 15:07] #3351 closed, assigned to nobody

[2019-03-21 13:02] burtlo commented on #3886
Here is some starting code for that solution: https://github.com/burtlo/inspec-ohai_resource/blob/master/ohai/libraries/ohai.rb

* It can't rely on loading the ohai library inside of Ruby without some serious error handling as ohai and inspec load different versions of mixlib libraries that are direct conflict with one another.

* It isn't platform independent. It uses `inspec.command('which ohai'

[2019-03-21 16:40] burtlo commented on #2724
@rx294 It sounds like the elastic search supports this format in YAML but by default I don't think fits the YAML standard. Looking at how Ruby and JavaScript parse these two files and they treat any keys with dot-notation as the whole key. I thought perhaps it was something that was by standard supported in java properties files but I it doesn't appear to be so either.

So it sounds like what you

[2019-03-21 17:53] v-cardoso opened #3900 "profiles with git dependencies on CentOS fail upload to Chef Automate"
### 🎛 Description

 🐛 bug report

Description of issue: On a CentOS 7 system, Uploading a profile to Chef Automate that contains a "git" dependency returns success, but the profile is never uploaded.

Expected behavior: Profile should be correctly uploaded to Chef Automate

[Full process without debug](https://gist.github.com/vdvcardoso/39a2d1cedc2bb2da344259579c6701db)

[Vendor debug output](http

[2019-03-22 04:04] clintoncwolfe opened #3901 "unf_ext dependency broke the build"
### 🎛 Description

While we can build omnibus packages, they immediately fail at runtime:

[code]

We're pulling unf_ext from @jquick's personal git repo (probably should not do that), and the project Gemfile has the git reference to v0.0.7.6, which only exists on @jquick's repo; the last published gem is 0.0.7.5.

Prior to #3860, that dep was handled within omnibus, so the oddball "0.0.7.6" gem w

[2019-03-22 05:20] #3901 closed, assigned to nobody

[2019-03-22 14:52] aaronlippold commented on #3886
We are very interested in moving forward with this. After some conversations out of band, I think we need to decide if we want to push this into train. The ideal situation would be to not require ohai on the target if possible - which I think means we need to do this via train. What are folks thoughts? If we can define a 'first cut' I can put some resources on it. @burtlo made a good point that pe

[2019-03-22 17:42] burtlo commented on #3886
I think an ohai resource would be a nice thing to have and the example implementation I provided above is a decent starting point. What you are after sounds like something entirely different to me. I'll summarize things as I understand it:

@aaronlippold you mentioned to me that ideally you would be able to initiate a scan and gain additional information about the system, akin to what you would ca

[2019-03-22 21:50] thePhilGuy commented on #3643
This also happens to me with InSpec 3.5.0 on ubuntu 14.04

[2019-03-23 22:37] aaronlippold commented on #3845
I like this idea: the one thing to keep in mind is that the above classes waiver, plan of action and milestones (POAM) and exception are all a reporting decisions that are separate from the test results themselves and for the most part we accreditors still want and should see the results of the tests by default regardless of if we decide in our assessment that the results of those tests do or do n

[2019-03-23 22:49] aaronlippold commented on #3088
One small note on this is that we should also make sure we allow for the conection to be both interface and socket etc.

[2019-03-23 23:07] aaronlippold commented on #2896
@clintoncwolfe et all:

I know I am a bit late to this discussion, however we must remember that when we truly skip we do not know the 'result' and so we do not know the state unless we report it or 'cast' it-  aka update the impact or update a describe block to report the 'deviation' as valid.

From the assessment point of view we must always group into a known state and `skip` helps us do this.

[2019-03-24 17:32] aaronlippold commented on #3601
Always have a result for your tests
[code]

[2019-03-25 18:36] clintoncwolfe commented on #3846
Suggested data point - Ruby exceptions https://github.com/inspec/inspec/pull/3903#issuecomment-475866638

[2019-03-25 18:44] aaronlippold commented on #3846
So does this encapsulate also the open issue we have with pass through metadata from the user as well as the discussion around the ahi resource and the expansion of the reporters to collect and report on this type of information?

[2019-03-25 18:44] aaronlippold commented on #3846
I don't want us to diverge too much with those three different open items if we're going to hopefully centralize them here in a consolidated conversation.

[2019-03-26 03:01] clintoncwolfe commented on #3846
Telemetry is about optionally collecting runtime data and sending it to Chef, for use in future product decisions.

If you want to capture network identifying data (as on #3869) and include it in the results of the run, with the intended recipient being the user, then you want a Reporter.

[2019-03-26 03:13] clintoncwolfe commented on #3165
I might suggest that you avoid looking at the OS and Docker resources for examples of clear behavior. As you found, Docker uses FilterTable in a way no other resource does, and I don't think we want to generalize to support that (better to just separate and rewrite the docker resources).

Many of the OS resources were written at a time when ServerSpec compatibility was a high priority. We now valu

[2019-03-26 03:17] clintoncwolfe commented on #3165
For my part, I don't think matchers are properties. They are both *methods*, but that's where it ends.

Here's from one write-up:
[code]

Properties are used with `its`.  Properties never take parameters. Properties have interesting (non-Boolean) return values, and never end with `?`.

And matchers:
[code]

Matchers are used with `it`. Matchers may take parameters, and can unlock powerful function

[2019-03-26 03:21] clintoncwolfe commented on #3165
All that said, I think your conclusions in https://github.com/inspec/inspec/issues/3165#issuecomment-474204799 are spot-on; we started some design work on such a Reflection facility in June 2018.

[2019-03-26 13:47] clintoncwolfe commented on #3888
I think all work for this will occur in train; I'm going to close this. Please do re-open if I am mistaken.

[2019-03-26 13:47] #3888 closed, assigned to nobody

[2019-03-26 17:01] clintoncwolfe commented on #3874
OK, I've had a look at this.  @vjeffrey what would you think about, instead of adding `properties` at the top-level, we add `passthrough` at the top-level, and you can put anything you want in there, and InSpec will echo it back, under a top-level key 'passthrough'?

This approach would do two things:
 1. Eliminate the need to modify InSpec when A2 wants another passthru field
 2. Stop polluting t

[2019-03-26 23:51] vjeffrey commented on #3874
I like the idea of having a `passthrough` field that we could add anything we want to. the two points you mentioned are definitely good to have.
**however**, that would be a breaking change for Automate.
why?
because our elasticsearch mappings expect certain fields, like node_name, job_id, environment, and projects to be at the top level of the report. changing this would require us to support bot

[2019-03-27 12:02] james-stocks opened #3904 "Cannot load git-referenced bundled plugin"
Using 3.7.11 from a gem install

[code]

The plugin source is at `/Users/jamesstocks/code/my-cool-project/vendor/bundle/ruby/2.3.0/bundler/gems/inspec-something-812f55372c8e/lib/inspec-something.rb`

Looking at the supported plugin loading cases [here](https://github.com/inspec/inspec/blob/master/lib/plugins/inspec-plugin-manager-cli/lib/inspec-plugin-manager-cli/cli_command.rb#L225) it looks like

[2019-03-28 04:06] clintoncwolfe commented on #3661
This was implemented on #3750 and #3713

[2019-03-28 04:06] #3661 closed, assigned to clintoncwolfe

[2019-03-28 04:11] clintoncwolfe opened #3905 "Allow Reporters to be versioned"
Many requests to add features to reporters are delayed or declined out of fear of breaking consumers of those reports.

If the reporters' output format schema could be versioned, the user could request a particular version and be assured they get output that matches a schema they can parse. If no schema is specified, they get the oldest known version.

Assuming the reporter format supports it, we

[2019-03-28 04:13] clintoncwolfe commented on #3874
I did not intend to suggest that existing top-level fields `node_name`, `job_uuid`, `environment`, and `roles` be moved. I agree we should move toward that in the future.

I will implement a new top-level field, `passthrough`.  If you send a configuration file like this:

[code]

Then the top-level fields `node_name`, `job_uuid`, `environment`, `roles`, and `passthrough` will be available. `passth

[2019-03-29 18:04] #738 closed, assigned to nobody

[2019-03-29 18:05] miah commented on #742
ref: #3174

[2019-03-29 18:06] #742 closed, assigned to nobody

[2019-03-29 18:12] miah commented on #798
We believe this is all handled through the vendor command and various reporters, if we are mistaken please reopen.

[2019-03-29 18:12] #798 closed, assigned to nobody

[2019-03-29 18:13] miah commented on #817
I think this would be handled through: ref: #3667

[2019-03-29 18:13] #817 closed, assigned to nobody

[2019-03-29 18:27] miah opened #3908 "Telemetry - Object Model"
Implement the core telemetry object model.

[2019-03-29 18:33] miah opened #3909 "Telemetry - Send reporter summary"
Collect data from the reporter / run report.

ref: #3903

[2019-03-31 11:48] clintoncwolfe commented on #821
`inspec init plugin` exposes template vars on the command line; we could do the same here.

If not provided, the params are prompted interactively

[2019-03-31 14:18] clintoncwolfe commented on #3904
Thanks, the https://github.com/inspec/inspec/blob/master/lib/plugins/inspec-plugin-manager-cli/lib/inspec-plugin-manager-cli/cli_command.rb#L225 area is indeed where we would need to add a case in which the containing folder looks like a gem name with a hex digest suffix.  This is a fairly straightforward change, if a new contributor is interested!

[2019-04-01 11:29] Zordrak commented on #3819
This is not specific to KVM - the same is true for docker running in VirtualBox.

The virtualization system detection mechanism checks for the presence of indicators for all types of virtualization - and then returns the first it found in priority order, where the priority order is:

[code]

[2019-04-01 19:07] #3874 closed, assigned to clintoncwolfe

[2019-04-01 20:00] clintoncwolfe commented on #3871
Added in #3912

[2019-04-01 20:00] #3871 closed, assigned to clintoncwolfe

[2019-04-04 09:10] valentinvsbg opened #3916 "Resource Elasticsearch fails with undefined method `[]' for nil:NilClass"
### 🎛 Description
Elasticsearch resource throws exception
[code]
in the following cases:
1) when the private resource function `verify_json_payload` is called.
2) when there are no elasticsearch modules or plugins on a given node.

The first issue happening because the private function checks for a property that does not exist. At https://github.com/inspec/inspec/blob/master/lib/resources/elastics

[2019-04-05 16:31] jerryaldrichiii opened #3919 "Using InSpec Inputs (Attributes) requires `description:`"
### 🎛 Description

When using attributes, `description:` is required, but I don't see it in the documentation nor does the error hint that that is the case.

This fails:

[code]

This succeeds:

[code]

### 🌍 InSpec and Platform Version

3.6.15

### 💁 Possible Solutions

Change the error output to indicate `description:` is required, or make `description:` not mandatory. I personally prefer the la

[2019-04-07 01:56] wilrodriguez opened #3920 "Interface resource doesn't implement the name property"
### 🎛 Description

**Choose one:** 🐛 bug report

According to the [documentation](https://www.inspec.io/docs/reference/resources/interface/), there are two parameters for the interface resource, speed and name. Well, it turns out that there's no method to expose the name property, even though it is available in `@interface_provider` from both of the platform providers.

### 🌍 InSpec and Platform V

[2019-04-07 06:25] kmf commented on #3886
I would use this.

[2019-04-07 20:24] wilrodriguez opened #3921 "Filesystem resource doesn't work on RHEL 5/6 systems with long filesystem names"
### 🎛 Description

**Choose one:** 🐛 bug report

The filesystem resource tends to break on RHEL 5/6 for devices with a long filesystem name, due to the filesystem wrapping to the next line. This behavior is easily avoidable by adding the `-P` (portable) option to the `df` command that is executed in `LinuxFileSystemResource`

### 🌍 InSpec and Platform Version

3.9.0 on RHEL 5/6/7

### 🤔 Replicatio

[2019-04-08 10:04] kmf opened #3922 "inspec shell: readline throws stacktrace on SLES 12 SP3"
### 🎛 Description
When running `inspec shell` on a `SLES 12 sp 3` I get errors

### 🌍 InSpec and Platform Version
`InSpec 3.9.0`
[code]

### 🤔 Replication Case
`inspec shell`

### 💻 Stacktrace
[code]

[2019-04-08 10:21] kmf opened #3923 "Feature Request: OS resource should include a End-of-Life option"
### 🎛 Description
 🙋 Would love to have a OS resource option that would tell me a system is End-of-Life

### 💁 Possible Solutions

[code]

[2019-04-09 15:46] #3855 closed, assigned to clintoncwolfe

[2019-04-09 22:27] nellshamrell commented on #2822
We could add Windows support to the resource itself - but I'm trying to figure out where I can capture an error like that in the future. On a larger scale, we should have a consistent (and clear) error returned for when someone tries to run a resource on a platform that does not support. FINALLY back to working on this.

[2019-04-09 22:37] scalp42 opened #3929 "Discrepancies between Ohai/Chef and Inspec platform with AmazonLinux"
### 🎛 Description

Ohai/Chef and Inspec don't report the platform family in the same way with AmazonLinux.

Chef will report the family as `amazon` and Inspec will report it `redhat`.

### 🌍 InSpec and Platform Version

`3.6.6`

### 🤔 Replication Case

[code]

[code]

### 💁 Possible Solutions

Probably more of a discussion but it bit us.

Thanks!

[2019-04-09 23:15] nellshamrell commented on #2822
Upon further inspection this appears to have been already fixed in this commit:

https://github.com/inspec/inspec/commit/2857d07151f6cb57d1015b497c08f2b2b2f2d84d

This means it will fail explicitly when running on Windows, rather than returning the long backtrace.

The question now is do we want this resource to support Windows?  I'm unsure of whether that is in the scope of this issue.

[2019-04-10 00:26] glennsarti commented on #2822
IMO it depends on your point of view. The docs don't say it's not supported. And NOT being able to do a trivial HTTP get request, in Ruby, on Windows, when the gem needed is already there; seems a terrible oversight

Granted, the `curl` call is annoying and problematic on Windows.

[2019-04-10 13:36] clintoncwolfe commented on #2822
I'm not clear on how https://github.com/inspec/inspec/commit/2857d07151f6cb57d1015b497c08f2b2b2f2d84d fixed the issue - that only touched the inline examples, as far as I can tell. I do see that prior to that, the `supports` restriction was `unix`.

[2019-04-10 16:52] scalp42 opened #3932 "http: Allow enable_remote_worker flag to be set to false again"
### 🎛 Description

🙋 feature request

With InSpec 2.x, we could use the `enable_remote_worker` flag for the http resource which would allow controlling whether the http check would be running from the remote or local target.

InSpec 3.x defaulted to always run from remote target if a remote target is passed and locally if local target.

Unfortunately, we lost the behavior to be able to use both wh

[2019-04-10 19:05] aaronlippold opened #3933 "Expose full winrm transport options in inspec cli"
### 🎛 Description
🙋 feature request?

Working with a few of our teams / customers. We are doing inspec evalutations of windows systems and the concern of exposing `--password` on the CLI has come up.

In reviewing the train and winRM gems it seems that the supporting auth methods negociate, ssl, kerberos, and plaintext are coded into the WinRM gem and Train gems already.

I would like to expose th

[2019-04-10 19:11] aaronlippold commented on #3933
To make this stable we would have to add a `--prompt-password` flag so that the default behavior is still to error out when `--password` is not supplied.

[2019-04-10 19:11] aaronlippold commented on #3933
This could really be a useful thing for all transports if we could add a password prompt that has `********` as you type etc.

We run into this a lot as we are screen sharing with customers etc.

[2019-04-11 03:39] moodwrench opened #3934 "passing attributes from one profile to another"
### 🎛Description

**Im unsure if this is a 🐛 bug report or 🙋 feature request or my own stupidity

Im having trouble passing an attribute defined in the inspec.yml of one profile from a call using include_controls in another profile.  I've been trying and I can't seem to find any way to set the variables other then the cli which will not work for us as we are using inspec via Chef Kitchen.

### 🌍 I

[2019-04-11 07:12] nqb commented on #3933
See also #2413 on same subject.

[2019-04-11 15:34] pkleanthous-zz opened #3936 "question: what's the proper way to run inspec under Windows?"
### 🎛 Description

question: what's the proper way to run inspec under Windows?
I'm getting the error at the Stacktrace section when I'm running inspec from powershell.

### 🌍 InSpec and Platform Version

inspec --version
3.9.0

Windows 10

### 🤔 Replication Case

run inspec from a powershell terminal

### 💻 Stacktrace

inspec : Cannot process the XML from the 'Error' stream of 'c:\opscode\inspec\

[2019-04-11 20:44] clintoncwolfe commented on #3933
I believe all of this (aside from input masking) would be covered under https://github.com/inspec/inspec/issues/3681, which proposes:

 * allowing inspec to list all options for all transports (train can do that, just a matter of connecting the dots)
 * allow inspec to expose every internal Tranport Option as a (prefixed) CLI option

[2019-04-11 20:48] clintoncwolfe commented on #3929
That is unfortunately as intended; InSpec does not use ohai for platform detection, and has its own implementation with its own foibles.

Changing that at this point would break a lot of existing profiles; we'd need to implement the change with a lot of gradual deprecation and backwards compatibility.

[2019-04-11 20:49] clintoncwolfe commented on #3929
This is actually a concern of train, the connection / platofrm detection library; I'm going to close this issue here.

[2019-04-11 20:49] #3929 closed, assigned to nobody

[2019-04-11 21:02] clintoncwolfe commented on #3934
Until very recently, this was undocumented behavior.  In the next (or following) release of inspec, this should be more clearly defined.

[2019-04-11 21:05] clintoncwolfe commented on #3923
Thanks for the idea, but keeping a database of when a particular OS is EOL, or what that specifically means for a particular OS vendor, is well out of scope for the core InSpec project.

It does sound like a great idea for a resource pack, perhaps providing an interface to an external source of such data.

[2019-04-11 21:05] #3923 closed, assigned to nobody

[2019-04-11 21:08] clintoncwolfe commented on #3922
I'm not sure we'll be able to reproduce or fix this; InSpec is just a dumb consumer of pry, which is a consumer of rb-readline. We might be able to determine a working version and pin to it.

[2019-04-11 21:17] nellshamrell commented on #2822
@clintoncwolfe - I linked to the wrong commit, apologies! This commit is the one that fixed it:

https://github.com/inspec/inspec/commit/af5d6e92854eb69adc5101db84d89f4addf64d7b

[2019-04-12 02:39] moodwrench commented on #3934
Can you give me a hint?

[2019-04-12 13:49] #3870 closed, assigned to nobody

[2019-04-12 15:53] aaronlippold commented on #3934
So does the depend on the depend respect the second level attribute value?

[2019-04-12 16:01] aaronlippold commented on #3779
I think the expected behavior should be a last in first out unless you specifically scope the input to a particular profile. aka if A -> B -> C an input / attribute called 'input_x'.

if C defines 'input_x' and B and A also define 'input_x' then C's version wins.
if we wanted to use A.input_x or B.input_x we would have to give the ability to scope it

Right now this behavior is respect if you use

[2019-04-12 17:34] clintoncwolfe commented on #3779
On #3875, we have implemented the explicit naming approach. One of our main goals is to have an inputs system that is easy to reason about, and explicitly naming the profile in which you wish to perform an override is very clear, if less convenient.

[2019-04-12 17:51] clintoncwolfe opened #3943 "InSpec v4 Release"
Placeholder for InSpec v4 Epic.

[2019-04-12 17:52] #3943 closed, assigned to nobody

[2019-04-12 17:54] clintoncwolfe opened #3944 "InSpec v4 release"
Issues not otherwise tracked that must ride in InSpec 4

[2019-04-12 18:00] clintoncwolfe commented on #3934
Discussion on this is occurring on https://github.com/inspec/inspec/issues/3779 - I'm going to close this one as a duplicate.

[2019-04-12 18:00] #3934 closed, assigned to nobody

[2019-04-12 18:08] clintoncwolfe commented on #821
My gut feeling is that using the config.json is not a good idea (that config file is for inspec as a whole; `inspec init` is a very specific subcommand). No other command has specific fields.

I don't grasp how "data from the machine it is running on" would work.

Since `init plugin` uses CLI opts, I think it would be consistent to do the same.  It should of course also provide defaults.

[2019-04-12 18:12] clintoncwolfe commented on #829
This issue hasn't been touched in a while, and I don't know what inspec was like in 2016.  Today, we have vendoring, many different reporters, and profile inheritance.

I think we have covered everything asked for.  Please re-open if you disagree.

[2019-04-12 18:12] #829 closed, assigned to nobody

[2019-04-12 18:24] clintoncwolfe commented on #871
As this appears to have an answer, and has had no activity for a while, I'm going to close
this issue. If you have further discussion for this topic, please feel free to re-open.

[2019-04-12 18:24] #871 closed, assigned to nobody

[2019-04-12 18:25] adamday2 opened #3945 "Misalignment of impact levels to numeric values"
### 🎛 Description

The documentation describes that the impact values are based on CVSS, but do not align correctly the CVSS. The cutoff for low should be 0.1, not 0.01.

InSpec - https://www.inspec.io/docs/reference/dsl_inspec/

0.01 to <0.4 these are controls with low impact
0.4 to <0.7 these are controls with medium impact
0.7 to <0.9 these are controls with high impact
0.9 to 1.0 these are cri

[2019-04-12 18:28] clintoncwolfe commented on #875
This would involve rewriting a complex gem with many edge cases, to cover a few rare edge cases. Workarounds (splitting into param lists) exist, so I think we should close this.

[2019-04-12 18:38] miah commented on #3900
I suspect there might be a timing issue or race condition happening here. Could you try doing this with a added sleep?

something like:

`inspec compliance upload linux-inspec --log-level=debug && sleep 120 && inspec compliance profiles`

[2019-04-13 00:54] aaronlippold commented on #829
Actually this is still something we need to work out a little bit. I think in the next few months we will actually have some good answers around how we think these two tool chains could work together.  Fundamentally the alignment comes from tagging of 800-53 controls to the inspect tests and then doing a data transform to help push the results though results through to the compliance masonry detai

[2019-04-13 13:25] pburkholder commented on #829
I agree it makes sense to close this and take the work to a PR.

[2019-04-13 19:04] aaron-lane commented on #3944
@clintoncwolfe is v4.0.8 considered to be released? The Changelog has been updated but the latest release on RubyGems is v3.9.0.

[2019-04-15 17:41] trevor-vaughan opened #3947 "Users should have the ability to inhibit the display of inherited controls"
### 🎛 Description

🙋 feature request

As a user, I find it confusing when I am inheriting from another profile and a large list of items is printed stating that they were not executed and a similar (or same) list of items is printed under my profile (which did the inheritance) stating that the check was executed.

I would prefer that this be stated in a manner where it is clear that the check was:

[2019-04-15 19:48] clintoncwolfe commented on #3945
Thanks for the great description!

[2019-04-15 19:58] clintoncwolfe commented on #3933
Let's open two new issues (or check for existing ones) for
 * prompting for missing but required options
 * input masking for prompted sensitive options

[2019-04-15 20:23] clintoncwolfe commented on #3922
Just to verify, this appears to be an omnibus install of inspec - is that correct?

[2019-04-15 20:29] clintoncwolfe commented on #3919
Revisit after #3875 merges

[2019-04-16 13:06] kief opened #3949 "Check whether there is a running instance with a given name, even when there is a terminated instance of the same name"
### 🎛 Description
 🙋 feature request?

Given that I have terminated and recreated an ec2 instance with a particular name, I want to check that the new instance is running. However, the aws_ec2_instance resource may select the terminated instance, so that the matchers return results on that.

The aws_ec2_instances resource does not provide a way to filter on instances by either name or status, so I

[2019-04-16 14:07] kmf commented on #3922
this is from the RPM on downloads.chef.io

[2019-04-16 18:41] #3893 closed, assigned to nobody

[2019-04-16 18:47] clintoncwolfe opened #3950 "Ruby 2.6 compatibility"
### 🎛 Description

InSpec currently fails tests on 2.6 . Before adding 2.6 to the test matrix, fix any issues that will cause it to fail.

### 🌍 InSpec and Platform Version

3.9.3

### 🤔 Replication Case

[code]

### 💁 Known Issues

* [x] Plugin tests fail under 2.6 #3978
* [x] MSSQL header parsing, #3971
* [x] ss parsing code for IPv6 #3962 (may be platform-specific to archlinux)

[2019-04-16 19:24] aaronlippold commented on #3933
Agreed

On Mon, Apr 15, 2019, 3:58 PM Clinton Wolfe <notifications@github.com>
wrote:

[2019-04-16 21:32] miah opened #3951 "Website CLI docs missing standard options"
When the website is built it generates the [cli doc](https://www.inspec.io/docs/reference/cli/) site based on cli options. It does not include the standard options like `log-level`, `--disable-user-plugins`, etc

[code]

[2019-04-17 13:24] kmf commented on #534
Would love this!

[2019-04-17 14:17] TheLunaticScripter opened #3955 "Attribute has to be defined prior to being called."
### 🎛 Description

🐛 I have a boolean attribute in a profile if the attribute is not scoped out in either the `inspec.yml` or the profile itself. When I use the attribute in an `only_if` there is no warning or error that the attribute is being ignored. If I use a `puts` with the attribute I get a message that the profile doesn't have an attribute with that name.

### 🌍 InSpec and Platform Version

[2019-04-17 15:57] #1830 closed, assigned to nobody

[2019-04-17 20:06] sethRait commented on #2444
FWIW, I would also love to be able to define custom messages on failing.  Expect does give better options than Should, but it's still not perfect.

[2019-04-18 12:25] rx294 opened #3957 "RFC: Session management in resources"
### 🎛 Description

Requesting ideas regarding session management in Inspec Resources for authenticated API sessions.

We have an WIP RSA Archer evaluation profile using a local resource shown here
[https://github.com/mitre/rsa-archer-6-security-configuration-guide-baseline/blob/master/libraries/archer.rb](url)

To prevent successive login/logout calls between controls I am maintaining session toke

[2019-04-18 16:13] rdonkin commented on #760
I agree that the documentation is not complete for `only_if` - from reading https://www.inspec.io/docs/reference/dsl_inspec/#exclude-specific-test it's not clear whether this applies to the whole `control` clause, or is tied to the next `describe` only.

It would also be good to have documented somewhere how this differs from using `skip if ...`:
[code]
Examples like in that page are great, but de

[2019-04-18 20:43] nellshamrell opened #3959 "Add Windows support for the http resource"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

Feature request, though this feature request came from a Bug Report in #2822

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

A user should be able to use the http resource on windows.

i.e.

[code]

[2019-04-18 20:44] nellshamrell commented on #2822
Opened a new issue to request http resource support when using Windows (#3959) , going ahead and closing this one.

[2019-04-18 20:44] #2822 closed, assigned to nellshamrell

[2019-04-18 23:48] burtlo commented on #2822
Farewell, my old friend.

[2019-04-19 08:24] eceglov opened #3960 "RPM repo data for v3.9.3 may be broken"
### Description

InSpec RPM package https://packages.chef.io/repos/yum/stable/el/7/x86_64/inspec-3.9.3-1.el7.x86_64.rpm cannot be installed/updated to.

### InSpec and Platform Version
inspec-3.9.3-1.el7.x86_64.rpm
CentOS Linux release 7.6.1810 (Core)

### Replication Case
YUM Install or updated (to) the specified InSpec version.

### Possible Solutions

Regenerate repo metadata.

### Stacktrace
[

[2019-04-20 03:05] tas50 commented on #3704
Closing this out since we relaxed the dep

[2019-04-20 03:05] #3704 closed, assigned to nobody

[2019-04-22 12:57] robkinyon-roivant opened #3964 "Add support for AWS DynamoDB"
### 🎛 Description

This is 🙋 feature request

Please support AWS DynamoDB.

### 🌍 InSpec and Platform Version

Running Inspec 3.9.3 (packaged with ChefDK 3.9.0) on AmazonLinux/2

### 🤔 Replication Case

Feature is not documented in https://www.inspec.io/docs/reference/resources/

### 💁 Possible Solutions

This should be a similarly sized PR as adding AWS SQS Queue in https://github.com/inspec/insp

[2019-04-22 17:49] clintoncwolfe commented on #3964
Thanks for the request!  However, all new work on AWS resources for InSpec will be performed at [inspec/inspec-aws](https://github.com/inspec/inspec-aws). This repository (inspec/inspec) is no longer accepting contributions for AWS work. This allows the inspec-aws project to proceed at a faster, more independent pace than the main InSpec project.

[2019-04-22 17:49] clintoncwolfe commented on #3964
Issue moved to [inspec/inspec-aws #81](https://github.com/inspec/inspec-aws/issues/81) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-22 17:49] #3964 closed, assigned to nobody

[2019-04-22 19:20] clintoncwolfe commented on #1249
Closing as stale

[2019-04-22 19:20] #1249 closed, assigned to nobody

[2019-04-22 19:26] clintoncwolfe opened #3966 "Improve website+docs Rake tasks"
### 🎛 Description

The procedure for releasing the website is problematic:

 * It uses a separate Rakefile, though some tasks are shared with the Docs tasks. This is confusing.
 * It has a separate gemfile, which is deeply crufty
 * during execution, it switches the repo to the `gh_pages` branch.
   * If an error occurs, you are stuck on that branch
   * The source code for the task is not on that

[2019-04-22 19:33] miah opened #3967 "Add no-op backwards compatible license option to v3"
We need a `--chef-license` option in v3 stable for backwards compatibility.

[2019-04-23 15:42] clintoncwolfe opened #3972 "inspec check mixes warnings into STDOUT when `--format json` is provided"
### 🎛 Description

When running inspec with `--format json`, if a warning appears (such as from the deprecation system), it is emitted to STDOUT, instead of STDERR. This corrupts the JSON stream.

### 🌍 InSpec and Platform Version

3.9.x
4.1.x

### 🤔 Replication Case

On 4.x, see test/functional/inspec_check.rb line 16

### 💁 Possible Solutions

Other CLI commands use `base_cli.rb/configure_logger

[2019-04-23 17:00] clintoncwolfe opened #3974 "Move plugin install tests from unit to functional"
### 🎛 Description

The unit tests for the inspec-cli-plugin-manager currently perform live-fire installs, upgrades, and uninstalls of gems. This is slow, surprising, noisy (#3742), and requires network connectivity.

### 🌍 InSpec and Platform Version

3.9.x
4.1.x

### 🤔 Replication Case

`bundle exec rake test`

### 💁 Possible Solutions

Determine if the functional tests include such tests.  If no

[2019-04-23 19:16] #3967 closed, assigned to miah

[2019-04-23 21:04] miah opened #3976 "sporadic test failure: NameError for FaradayMiddleware::RedirectLimitReached"
[code]

[2019-04-24 07:58] doertedev commented on #2187
I think you're facing the typical encoding problem - when you don't specify how a string is encoded before the transformation you most likely will hit a wall. I would try the encode method with two parameters instead: windows-something to utf-8.

[2019-04-25 12:30] javierbertoli commented on #3782
The issue seems to be related to the fact that the `port` resource [is still using `netstat`](https://github.com/inspec/inspec/blob/master/lib/resources/port.rb#L141-L144) (from the `net-tools` package in most distros) which is deprecated in favor of `ss`. It seems #2110 missed it, or was re-added?

[We've seen a similar situation](https://travis-ci.org/myii/postgres-formula/jobs/524291442#L1799-L

[2019-04-25 15:10] #3950 closed, assigned to nobody

[2019-04-25 15:23] ahelal commented on #3411
i am experiencing this issue, the profile is local

[2019-04-25 17:28] clintoncwolfe opened #3979 "Refactor CLI option and command setup"
### 🎛 Description

The way we handle certain things in lib/inspec/cli.rb is problematic, and a lot of things are "working by accident".

 * Which should happen first? Accept the license? Setup logger? Read config, Parse CLI opts? That breaks a test, among other things
 * Each command individually initializes the logger, reads the config file, etc - and they do so inconsistently

### 🌍 InSpec and P

[2019-04-25 19:49] clintoncwolfe commented on #3945
Fixed on #3961

[2019-04-25 19:49] #3945 closed, assigned to nobody

[2019-04-25 22:17] clintoncwolfe opened #3981 "Package inspec executable as a separate gem"
### 🎛 Description

Currently, with #3969, we have removed the inspec executable from the gem, but during omnibus and habitat builds we are simply copying it back in. That means that RubyGems won't be able to lookup the executable based on the gem name, which may cause problems; it also makes updating the Dockerfile hard.

### 🌍 InSpec and Platform Version

4.1.10+

### 💁 Possible Solutions

Create

[2019-04-25 22:56] #3838 closed, assigned to nobody

[2019-04-26 08:50] mgrobelin commented on #2187
btw back then I solved it like so

[code]

[2019-04-26 17:59] #1059 closed, assigned to nobody

[2019-04-26 17:59] #3852 closed, assigned to clintoncwolfe

[2019-04-26 18:18] miah commented on #885
This definitely works now. Closing =)

[2019-04-26 18:18] #885 closed, assigned to nobody

[2019-04-26 18:19] #886 closed, assigned to nobody

[2019-04-26 18:22] miah commented on #897
Possibly related: #3962

[2019-04-26 18:27] miah commented on #910
Closing in favor of #3426

[2019-04-26 18:27] #910 closed, assigned to nobody

[2019-04-26 18:31] miah commented on #939
Closing in favor of: #633

[2019-04-26 18:31] #939 closed, assigned to nobody

[2019-04-26 18:39] clintoncwolfe commented on #3799
Looks like all plugins are now installing docs due to a change in Rubygems.

[2019-04-26 18:43] Themercee commented on #3349
Is there any way to fit it? I still can't run the postgres test with inspec version 3.9.3

[2019-04-26 18:48] adamday2 commented on #3945
Thanks for fixing this @aaronlippold !

[2019-04-27 00:08] miah opened #3990 "Supermarket fetch and git transform cause Intermittent Test Failure"
https://ci.appveyor.com/project/chef/inspec/builds/24133481/job/ccmr6mdl9gmd4254

[code]

[2019-04-28 04:52] manikann opened #3991 "Error running inspec CLI with --input-file option"
Error running inspec CLI with `--input-files` option

#### InSpec and Platform Version

I tried with 3.9.3 as well as 4.1.4.preview

#### Replication Case

`bundle exec inspec exec --no-backend-cache --no-create-lockfile --input-file=input.yml zonal_private_cluster`

#### Possible workaround for now

Change the position of --input-file option to be the first one

`bundle exec inspec exec --input-f

[2019-04-29 13:36] trevor-vaughan opened #3992 "Add a PAM Resource"
### 🎛 Description

🙋 feature request

A PAM resource should be available that handles the complexity of full-stack PAM matches.

[2019-04-29 15:38] clintoncwolfe commented on #3990
I believe https://github.com/inspec/inspec/pull/3693 was intended as a fix for this

[2019-04-29 17:17] clintoncwolfe opened #3995 "Expand build smoke tests"
Our existing CI smoke test simply runs `inspec version` to verify it can run.

Other product do much more, see https://github.com/chef/chef/blob/master/ci/verify-chef.sh

[2019-04-29 18:04] clintoncwolfe commented on #3830
This was implemented on #3445

[2019-04-29 18:04] #3830 closed, assigned to clintoncwolfe

[2019-04-29 18:10] clintoncwolfe commented on #3991
I think this is a special case of #3558. We do also mangle the array processing, so that may make this worse. Anyway, a fix for this would be based on a fix for #3558.

[2019-04-29 20:08] zenspider opened #3996 "Ensure that each test file passes separately"
I want to ensure that all test files are individually runnable. I've seen some things that suggest that they aren't. I need to get green first, then do this, then start to attack the intermittent failures we've seen here and there.

[2019-04-29 20:20] clintoncwolfe commented on #3957
Possible ideas include:
 * explicit caching
 * start / finish hooks that cache state
 * Something like connection pooling

Is this needed just for HTTP calls or generic caching?

[2019-04-29 23:24] #3981 closed, assigned to nobody

[2019-04-30 10:49] micheelengronne opened #3999 "gem install of 4.3.2 does not install executable"
### 🎛 Description

🐛 bug report

The last version 4.3.2 does not simply work on debian and ubuntu. 3.9.3 works like a charm.

    inspec: command not found

### 🌍 InSpec and Platform Version

inspec:4.3.2

OS: debian (via Docker image ruby:latest ) & ubuntu (via Docker image ubuntu:bionic )

### 🤔 Replication Case

Install inspec 4.3.2 on these systems via a Gemfile and try to call inspec. The ter

[2019-04-30 17:15] clintoncwolfe commented on #3944
4.3.2 is the first fully public release.

[2019-04-30 17:15] #3944 closed, assigned to nobody

[2019-04-30 17:19] clintoncwolfe commented on #3960
Determine if this affects only 3.9.3 or others additionally

[2019-04-30 17:23] clintoncwolfe commented on #3996
I believe the rake task `rake test:isolated` is intended to do exactly this - see https://github.com/inspec/inspec/blob/b4ae6cb342f6ed422ad2b67204c1775c0f24c1be/Rakefile#L74

[2019-04-30 18:10] clintoncwolfe commented on #3972
Refs #3979

[2019-04-30 18:31] miah commented on #3715
I've fixed most of these in #4000, but there are 3 remaining:

[code]

[2019-04-30 19:12] clintoncwolfe commented on #3999
Thanks for the report! However, this is intentional behavior. As of version 4, Chef InSpec is distributed as two gems: `inspec`, a library gem which does not contain the executable, and the `inspec-bin` gem that contains the executable which requires accepting the Chef License. See the [FAQ](https://www.chef.io/bmc-faq/) and [Licensing Info](https://docs.chef.io/chef_license.html) for more informa

[2019-04-30 19:12] #3999 closed, assigned to nobody

[2019-04-30 20:13] phiggins commented on #3648
#3972 #4001

[2019-04-30 20:14] arothian commented on #3999
Does it make sense to add some documentation around inspec-bin to this section: https://github.com/inspec/inspec/blob/master/README.md#install-it-via-rubygemsorg?

This is kinda confusing for folks that have used this gem for quite some time. Perhaps even a better callout in the changelog about the changed behavior as well.

[2019-04-30 21:49] zenspider opened #4002 "Switch from jsonschema to json-schema?"
jsonschema was last released in 2012 and emits warnings on load.

json-schema was last released in Oct 2018 and has ~16m downloads. It is probably a much better bet for us in the long term.

[2019-04-30 22:28] BGaudreault-EDR opened #4003 "Windows Registry_Key Documentation Image Incorrect"
### 🎛 Description

🐛 bug report

On https://www.inspec.io/docs/reference/resources/registry_key/, the first 2 images are identical, but I'm pretty sure they should not be since the text describing them is different.

### 🌍 InSpec and Platform Version
N/A
### 🤔 Replication Case
N/A
### 💁 Possible Solutions
Update the 2nd image.
### 💻 Stacktrace
N/A

[2019-05-01 00:33] miah opened #4005 "Standardize lib/ layout"
The [lib](https://github.com/inspec/inspec/tree/master/lib) directory contains several sub directories, it should only contain a `inspec` directory, and a `inspec.rb` file. Each directory in `lib` appears in the ruby require load path.

Because of this it is possible to `require` libraries included in the gem but without the 'inspec' namespace. eg; `require 'utils/convert'`

Which could be unfortu

[2019-05-01 00:41] miah opened #4006 "Resource packs should be able to require gems"
If a custom resource requires an additional ruby gem installed there is no way to signal that to InSpec. With the plugin system we could install additional gems specified by the resource pack profile.

Consider a `required_gems` field in the profile that specifies an array of gems the custom resources require.

There should also be a configuration option, and command line flag that prevents instal

[2019-05-01 02:36] clintoncwolfe commented on #3955
~~Work has started on branch `cw/undeclared-inputs`. Confirmed that a bare valueless input will halt the run with the error `Profile 'undeclared_attribute' does not have an input with name 'undeclared_03'` (or similar). Undeclared inputs inside `control` blocks would not be evaluated until control evaluation - but the bare input aborts the run before then, so the reported problem (no error for und

[2019-05-01 04:05] clintoncwolfe commented on #4002
It is entirely possible that nothing is consuming the schema we store, and we may not need this functionality at all - need to check with the A2 team.

[2019-05-01 06:05] aaronlippold commented on #4002
We use it

On Wed, May 1, 2019, 12:05 AM Clinton Wolfe <notifications@github.com>
wrote:

[2019-05-01 14:25] clintoncwolfe opened #4010 "Do not compile gems during gem install"
### 🎛 Description

refs #3901 #2873 https://github.com/inspec/train/pull/433

It is important to our customers that a gem install of inspec (such as that performed by the audit cookbook) require no native extensions. Because of this, we need to keep any such native extensions that we want in the omnibus/hab/docker builds in the Gemfile (where appbundler will eventually consume it), not in the gems

[2019-05-01 15:06] clintoncwolfe commented on #4010
So, I show on a fresh ubuntu 18 VM that the `inspec-core` gem wants to compile ffi, and `inspec` wants to compile ffi and unf_ext

[2019-05-01 15:17] clintoncwolfe commented on #4010
FFI, reverse deps using `gem dependency --reverse`:
inspec-core 4.3.2 -> train-core-2.0.12 -> winrm 2.3.2 -> gssapi 1.3.0 -> ffi 1.10

Train core started including winrm in https://github.com/inspec/train/pull/433

attn: @marcparadise

[2019-05-01 15:32] clintoncwolfe commented on #4010
unf_ext:

inspec -> train -> azure_mgmt_resources -> ms_rest_azure -> faraday-cookie_jar -> http-cookie 1.0.3 -> domain_name-0.5.20180417 -> unf 0.1.4 -> unf_ext 0.0.7.6

As this is `inspec` (not `inspec-core`), I think this is not problematic - we don't* promise that `inspec` will not require compilation, and we provide pre-compiled binaries in omnibus, hab, and docker images.

* It depends on th

[2019-05-01 15:38] clintoncwolfe commented on #4010
At this point I think one solution might be to push the winrm support in train out to a Train plugin (`train-winrm`) and have chef workstation, knife, and `inspec` gem depend on `train-winrm`, and keep train-core free of any dep on it.

[2019-05-01 15:53] clintoncwolfe commented on #4002
@aaronlippold Could you expand a bit - I'm curious as to what exactly your use case is?

[2019-05-01 16:46] clintoncwolfe opened #4011 "Update README and CHANGELOG to emphasize removal of executable"
### 🎛 Description

In `inspec` 4.3.2, the executable was removed from the gem and is distributed separately in the gem `inspec-bin`.  This isn't clear from the README, and is not loudly called out in the CHANGELOG either, leading to confusion.

Check website for any places, too.

### 🌍 InSpec and Platform Version

4.3.2

### 💁 Possible Solutions

Update docs

Aha! Link: https://chef.aha.io/feature

[2019-05-01 16:47] clintoncwolfe commented on #3999
Good idea - #4011

[2019-05-01 17:22] miah opened #4012 "Mount command fails to detect s3fs fuse filesystems"
As reported by a community member.

[code]

ref: https://gist.github.com/Bak3y/2593ab92b344b12bafdd4620d072fe22

[2019-05-01 17:43] zenspider commented on #4011
We should also add a post-install msg on inspec that the user might want to install inspec-bin as well.

[2019-05-01 17:56] clintoncwolfe commented on #4010
Another approach is to install an OS package of FFI in the audit cookbook

[2019-05-01 18:09] Bak3y opened #4013 "Support checking for server timezone settings"
### 🎛 Description
🙋 feature request?

### 🌍 InSpec Version
Inspec version 3.9.0

Requesting a resource to check for timezone configuration.  Currently we're having to resort to this:

[code]

It'd be nice if there was a native resource to check for various time settings including timezone.

[2019-05-01 18:52] miah opened #4015 "Remove git fetcher / url target warning"
If your profile uses a http url to a git repository the following WARNING is displayed:

`[2019-05-01T18:38:45+00:00] WARN: URL target https://github.com/dev-sec/windows-baseline transformed to https://github.com/dev-sec/windows-baseline/archive/master.tar.gz. Consider using the git fetcher`

We should move this to `inspec check` and remove it from displaying during execution. I think this message

[2019-05-01 19:00] #4003 closed, assigned to miah

[2019-05-01 19:20] tas50 opened #4016 "New logo asset needed in the inspec DMG"
### 🎛 New logo asset needed in the inspec DMG

The current image file we make as the background of the InSpec DMG is funky and makes no sense.

### 🌍 InSpec and Platform Version

Any version including latest

### 🤔 Replication Case

Download the DMG and mount it.

<img width="762" alt="Screen Shot 2019-04-29 at 9 37 04 AM" src="https://user-images.githubusercontent.com/1015200/57037229-754e0c00-6c

[2019-05-01 20:30] zenspider commented on #4002
A cursory check suggests we might be able to switch over with something as simple as:

[code]

[2019-05-02 17:47] clintoncwolfe commented on #3908
Merged in #3928

[2019-05-02 17:47] #3908 closed, assigned to miah

[2019-05-02 19:45] zenspider commented on #3996
It only picks up a very small subset of the tests...

[code]

I'll patch that up (it also needs some basic simplification). Also that `-w` is gonna be a bad time (~2k lines of output per file).

I was also adding some automation during my process to keep track of which ones were bad so it was quicker to whittle down. Not sure if that fits in this task.

[2019-05-03 18:14] #3059 closed, assigned to nobody

[2019-05-03 18:36] zenspider opened #4020 "inspec website still referring to 3.0"
Changing to "4" so we don't have to bump on each minor.

I need the bullet points for 4's release to be able to finish. Who do I bug about that?

[2019-05-03 18:43] zenspider opened #4021 "Update 2 deprecated resources with sunsetting info"
[code]

[2019-05-03 23:40] zenspider opened #4026 "Test inconsistency with test/unit/plugin/v2/installer_test.rb"
With some extra changes to make it clear what the problem really is:

[code]
versus:
[code]

[2019-05-04 07:52] StefanScherer commented on #3888
@clintoncwolfe Do we want to re-open this issue to track the bug with a bugfix PR that updates train to version 2.1.0 with the better Window detection?

[2019-05-06 18:31] zenspider opened #4027 "Gather test times and skip slow tests for normal runs, not CI runs"
Intent: regular rake runs are faster and still cover nearly everything (that they currently cover), but CI runs with everything via `SLOW=1` or some other signal.

[2019-05-06 19:31] clintoncwolfe opened #4028 "CLI command to list all inputs in a profile"
### 🎛 Description

It would be great to be able to list the Inputs in a profile (or stack of dependent profiles).

It could have JSON output, listing which profile, input name, type, requiredness, and any values seen.

Ideally, the information could be rich enough to drive the generation of a GUI.

This could be a sub-command of the `inspec json` command, which exports a profile in JSON with much

[2019-05-06 19:43] clintoncwolfe opened #4029 "Add enum to input types"
### 🎛 Description

Now that inputs have optional type checking, a great feature would be allowing selection from a list of valid options.

If the word 'enum' is too technical, consider 'choice'.

In DSL
[code]

In metadata
[code]

### 🌍 InSpec and Platform Version

4.3.2

[2019-05-06 20:10] miah commented on #3960
I confirmed this is affecting 3.9.3 on a Centos 7 VM, and that installing 4.3.2 works fine.

Full error output here: https://gist.github.com/miah/72298ea844240a31673f505f38535060

[2019-05-06 20:37] zenspider commented on #4026
I've fixed this one and found another. Closing.

[2019-05-06 20:37] #4026 closed, assigned to nobody

[2019-05-06 20:37] zenspider opened #4030 "Test order dependency in plugin installer unit tests"
[code]

[2019-05-06 22:07] zenspider commented on #4030
Fixed in #4031

[2019-05-06 22:07] zenspider commented on #4027
Partially addressed in #4031. Consider it a template.

[2019-05-06 22:08] zenspider commented on #3996
Fixed in #4031

[2019-05-06 22:10] zenspider commented on #3974
After studying the tests, these are functional tests. Granted, they're not well isolated, but they do test the classes/methods directly so I think we should keep them. I've marked a number of the slow and noisy ones with a skip such that they will be run only on the CI (or if you set SLOW=1 in your env) and the test time went down to ~0.5s with no noisy output.

See #4031 for more.

[2019-05-06 22:12] zenspider commented on #3976
PLEASE capture the `--seed` value from the output next time. I'm not sure I'm going to be able to address this one.

[2019-05-06 22:19] zenspider opened #4032 "Plugin installer unit tests require network connectivity"
[code]

[2019-05-07 15:53] frezbo opened #4033 "Fetch inputs file from remote location (url or git)"
### 🎛 Description

feature request?

Support pulling down attributes yaml from URI or a git repo.

[2019-05-07 16:35] clintoncwolfe commented on #4032
Rather than simply pasting a run trace, could you provide a description of the problem and what you expect to be different, as well as InSpec version information?  Thanks!

[2019-05-07 16:42] clintoncwolfe commented on #4032
Refs #3297

[2019-05-07 16:45] clintoncwolfe commented on #4033
Current version is 4.3.2; referring to using `inspec exec --input-file http://...`

[2019-05-07 16:47] clintoncwolfe commented on #290
bump

[2019-05-07 17:04] superyarick commented on #4033
Here is how we currently get it from S3 Bucket

[code]

[2019-05-07 18:21] miah opened #4034 "iptables replaced by nftables in recent Linux distributions"
RHEL8 replaced `iptables` with `nftables`. I don't know too much about the new features or cli around NFT, but this might require a whole new resource.

ref:
 - https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/8.0_release_notes/index
 - https://wiki.archlinux.org/index.php/Nftables

[2019-05-07 18:47] mcaulifn opened #4035 "crontab fails to match on command or time"
### 🎛 Description

**Choose one:**  🐛 bug report

I am attempting to test a cron_d resource created by chef for commands and time settings.

### 🌍 InSpec and Platform Version

inspec (4.3.2, 3.9.0)
kitchen-inspec (1.1.0)

Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
On WSL

### 🤔 Replication Case

chef resource:
[code]

cron.d entry:
[code]

Test 1 (original):
[c

[2019-05-07 18:55] clintoncwolfe commented on #4033
You might enjoy #4019

[2019-05-07 19:01] #3919 closed, assigned to clintoncwolfe

[2019-05-07 19:01] #3955 closed, assigned to clintoncwolfe

[2019-05-07 20:23] #4020 closed, assigned to zenspider

[2019-05-07 23:12] aaronlippold commented on #4028
👍 agreed.

[2019-05-08 00:14] zenspider commented on #4032
Version is 4.4.0 (current master), but probably all versions.

[2019-05-08 00:15] zenspider commented on #4021
@mjingle how long should we keep such references?

[2019-05-08 17:09] kevin-j-smith opened #4040 "limits_conf should be a consolidation of config files maintaining order of precedence"
### In order to properly execute compliance on Unix (RHEL) limits, limits_conf should also take into consideration /etc/security/limits.d/*.conf files.  There is a ordering of these files (unverified): https://access.redhat.com/solutions/199993

🙋 feature request

Take for instance a limits configuration line:
* hard core 0

If the only file maintaining limits is /etc/security/limits.conf then thi

[2019-05-08 18:25] schisamo commented on #3960
This should be fixed now...sorry for the inconvenience:
[code]

[2019-05-08 19:56] #3849 closed, assigned to miah

[2019-05-08 23:25] zenspider opened #4047 "Brittle tests referencing line lengths"
PR #4046 was required after removing redundant encoding lines from our source files. Referring to specific line numbers/lengths of own source is brittle and should be reworked to not fail out when such changes come through (and they will, again and again).

[2019-05-09 03:06] KrisShannon commented on #3053
I definitely agree we need something like this.

The magical nature of cmp keeps on biting me in the ass when the package version is not a valid Gem::Version:

[code]

This get's hidden by cmp (the version? check) and so it ends up doing a string comparison and failing.

[code]

I hit this kind if problem all the time 😦

[2019-05-09 12:17] alexpop opened #4048 "to_s method called for skipped resources"
Given a profile(with no `supports` defined in inspec.yml) with the following control:

[code]

When running against a non-windows node it will raise the following exception:

[code]

This is because the `registry_key` resource is skipped due to an unsupported platform.
The [to_s method](https://github.com/inspec/inspec/blob/v4.4.3/lib/resources/registry_key.rb#L124) of `registry_key` is being call

[2019-05-09 14:51] lpxavi opened #4049 "Http ressource with digest auth"
### 🎛 Description

It is a 🙋 feature request.

Hi, I am trying to test an http endpoint but I don't find the way to make digest auth with http ressource (https://www.inspec.io/docs/reference/resources/http/)

Does this feature exist ?

Thanks for your help.

### 🌍 InSpec and Platform Version

Inspec 3.0.52
Centos 7

[2019-05-09 17:38] miah commented on #4049
Thanks for bringing this to our attention. I believe we only currently support basic authentication, but I'll add this to our backlog.

[2019-05-09 21:34] zenspider opened #4053 "test_load_no_plugins_should_load_no_plugins loads plugins and is infected by outside data"
File `test/unit/plugin/v2/loader_test.rb` and probably others need to insulate against user data in the home directory. Specifically, the failure looks like:

[code]

In digging, I eventually figured out that the tests were loading `~/.inspec/plugins.json` (NO CLUE why I had one or why there was data in it, specifically pointing to one of our plugin fixtures). We probably need more insulation from

[2019-05-10 00:23] zenspider opened #4054 "I don't even know how to title this. Some sort of false positive?"
There's a combination of tests that causes a failure for all of "Inspec::runner" tests if none of "PluginInstallerSearchTests" tests are run. The first one ran, regardless of order, is very slow so they're all skipped—but that breaks these other tests.

[code]

versus:

[code]

In particular, notice the `/var/empty` pathing for the mkdir failure.

I have a doofy workaround (enable one of the tests

[2019-05-10 17:36] clintoncwolfe opened #4055 "Failing functional tests under AppVeyor due to train change and quoting issues"
In train 2.1.0, a change was introduced which alters the way that commands are quoted and executed on Windows. This broke the functional tests which run under appveyor.

[2019-05-10 18:15] clintoncwolfe commented on #974
I agree - I think both behaviors are desirable, but should be distinguished.

[2019-05-10 18:21] zenspider opened #4056 "File resource #content methods forcing utf-8"
Seems suspect. How to use binary content w/o raising an encoding error?

[2019-05-10 18:23] miah commented on #2106
We have `shallow_link_path` now which should resolve this issue.

https://www.inspec.io/docs/reference/resources/file/