[2018-03-14 16:26] TheLonelyGhost commented on #2796
@papa-gene FYI, #2793 uses the `choco` command like you described and, if `choco` doesn't exist on the target machine, it will raise an exception. This means your example of `it { should be_installed }` on the above resource would be pointless since it would always return true or raise an exception before it got there.

[2018-03-14 16:31] eugeneromero commented on #2796
@TheLonelyGhost makes sense, I guess checking for `chocolatey` would be a bad example here. Thanks for the note!

[2018-03-14 18:00] ryancurrah opened #2818 "False failure using when and etc_fstab resource"
### 🎛 Description

A potential bug using `when` with the `etc_fstab` resource. If the `when` filter keyword does not match a entry in a file it fails the resource when it should skip the resource. As that filter doesn't match anything and does apply to the resource check.

### 🌍 InSpec and Platform Version

InSpec version

[code]

Platform version

[code]

### 🤔 Replication Case

Example InSpec te

[2018-03-14 21:15] burtlo opened #2819 "OS resource does not define a consistent interface."
### 🎛 Description

This is a 🐛 bug report.

The `os` resource does not define a `platforms` method and does not consistently define all the methods for a specific platform.

### 🌍 InSpec and Platform Version

InSpec 2.0.32 / Mac OSX 10.13.3

### 🤔 Replication Case

Connecting to a CentOS 7.4 instance:

[code]

Connecting to a Windows 2012R2 instance:

[code]

### 💁 Possible Solutions

I believe `o

[2018-03-14 21:27] burtlo opened #2820 "OS resource docs does not demonstrate some methods or examples"
### 🎛 Description

This is a  🙋 feature request

The docs page:

* does not demonstrate the usage of `families` to retrieve all the OS families that the target OS belongs.
* the controls defined around testing the `os.name`, `os.release`, and `os.arch` are generically using 'foo'.
* the controls defined around testing the `os.name`, `os.release`, and `os.arch` are defined in a way that is not curr

[2018-03-14 21:37] burtlo opened #2821 "inspec artifact workflow is not documented on the docs site"
### 🎛 Description

This a 🐛 bug report or a 🙋 feature request. Based on how you view the world and the importance of a user being able to use a tool through the documentation.

The `inspec artifact` subcommand enables you to generate asymmetrical keys that you can use to encrypt a profile. You can then send the public key and an encrypted profile (independently) to another party and they can extra

[2018-03-14 22:12] burtlo opened #2822 "http resource when run on windows generates a stacktrace and halts the scan"
### 🎛 Description

This a 🐛 bug report

The `http` resource fails with a stacktrace on Windows.

### 🌍 InSpec and Platform Version

InSpec 2.0.32, Mac OSX 10.13.3

### 🤔 Replication Case

Define either of these resource and invoke them through a control file, profile, or shell:

[code]

### 💁 Possible Solutions

It should generate an appropriate failing test case instead of raising an exception an

[2018-03-15 11:53] jquick commented on #2819
This is as expected. `os.platform` should really not be used and only contains extra info from the detect scan. You should just use `platform.arch` or other `platform.x` calls. `build` is available via `platform.build` but only specific platforms support it at this time.

[2018-03-15 14:52] Wolfsrudel opened #2828 "undefined method `map' for "Can't find file. \"/etc/hosts\"":String"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

/opt/inspec/embedded/lib/ruby/gems/2.4.0/gems/inspec-2.0.49/lib/resources/etc_hosts.rb:54; in `parse_conf': undefined methoed `map' for "Can't find file. \"/etc/hosts\"":String ...

### 🌍 InSpec and Platform Version

Oracle Enterprise Linux 7.4; Inspec Version 2.0.49

### 🤔 Replication Case

Dunno.

### 💁 Possible Solutions

The error is h

[2018-03-15 15:28] mhackethal opened #2829 "[BUG] Wrong supports platform in inspec/lib/resources/audit_policy.rb"
### 🎛 Description

[BUG]
In the resource audit_policy there is the wrong supports platform set.
In the current files it states "supports platform: 'unix' but these test is designed for windows.

File:  inspec/lib/resources/audit_policy.rb

### 🌍 InSpec and Platform Version

Version 2.0.47 and also i see this in the current git-hub release Version 2.0.49

### 🤔 Replication Case

If you run an Audit

[2018-03-15 19:08] #2814 closed, assigned to jquick

[2018-03-15 20:08] jquick commented on #2808
This was fixed in todays release. (1.2.0)

[2018-03-15 20:08] #2808 closed, assigned to nobody

[2018-03-15 20:09] jquick commented on #2821
Hey @burtlo - `inspec artifact` is only experimental at this point and should not be used. We will keep this undocumented until it matures and is ready for use. Thanks!

[2018-03-15 20:09] #2821 closed, assigned to nobody

[2018-03-16 10:13] MrWong99 opened #2833 "Bug: when using reporter argument the path does not work correctly with exec"
InSpec version: 2.0.45
Operating system: CentOS 7.4

When using the --reporter argument as last argument before specifying a path to the profiles a **NotImplementedError** `'<PATH>' is not a valid reporter type.` is thrown.

Example output that fails:
[code]

The same command with different argument placement:
[code]
This works and gives the expected output.

[2018-03-16 13:43] jquick commented on #2833
The `--reporter` flag takes an array of reporters, so you will want to put the path before that to make sure it does not get confused.

[2018-03-16 13:50] jquick commented on #2833
If you really need the profile to be last you can put the `--no-color` after the `--reporter xyz` which will close the reporter array. And then put your profiles after.

[2018-03-16 18:47] jquick opened #2834 "Warn when control name is used multiple times"
### 🎛 Description

🙋 feature request?

Currently if you use a control name multiple times the last one will override all others. We should warn in this case so the user knows.

[2018-03-16 19:10] burtlo opened #2835 "exec with --no-create-lockfile will generate a inspec.lock if provided before profiles"
### 🎛 Description

This a 🐛 bug report.

When you perform a scan with a profile and you do not want to generate a lockfile you can provide the `--no-create-lockfile`. Providing it before you specify the profile or control files will still generate the lockfile.

### 🌍 InSpec and Platform Version

InSpec 2.0.32, Mac OSX 10.13.3

### 🤔 Replication Case

Running it this way does not generate the lock

[2018-03-17 17:53] markeggman opened #2836 "enable tags not only within control blocks but also within describe blocks"
### 🎛 Description

🙋 feature request

Currently it is only possible to include tags within a control block but not within a describe block. It would be helpful to be able to also somehow tag single tests.

### 🌍 InSpec and Platform Version

inspec version : 2.0.32
Operating System : centos 7.2.1511

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

If you have already ideas how to solve th

[2018-03-17 21:47] Wolfsrudel opened #2837 "Store "kernel_parameters" in YAML file and loop through it (as for "packages")"
### 🎛 Description

**Choose one:** 🙋 feature request?

I'd like to store the key-value-pairs for the resource "kernel_parameter" in a YAML file and loop through it.

YAML file would look like this:

[code]

In the control I would loop through the file and key-value pairs.

I'm able to do this with the "packages" resource already with

[code]

and

[code]

### 🌍 InSpec and Platform Version

InSpec

[2018-03-19 15:40] jerryaldrichiii commented on #2228
This has been completed. Closing this issue. :smile:

[2018-03-19 15:40] #2228 closed, assigned to jerryaldrichiii

[2018-03-19 18:56] pwelch commented on #137
Closing this issue because there has been no traction on it for a while or it is no longer relevant. If this issue is still relevant, please reopen. Thanks!

Looks like this was addressed on #1205

[2018-03-19 18:56] #137 closed, assigned to nobody

[2018-03-19 19:01] pwelch commented on #394
Closing this issue because there has been no traction on it for a while or it is no longer relevant. If this issue is still relevant, please reopen. Thanks!

[2018-03-19 19:01] #394 closed, assigned to nobody

[2018-03-19 22:58] piotrgo opened #2840 "Include target for JUnit reports."
### 🎛 Description

🙋 JUnit reporter currently doesn't save any target information which makes it impossible to find which host failed which test, especially when validating a lot of nodes against common controls.

### 💁 Possible Solutions

I haven't tested it yet with in full but this is how I see a potential solution:

[New attribute JUnit reporter - target #2839](https://github.com/chef/inspec/p

[2018-03-20 07:53] MrWong99 commented on #2833
Thanks @jquick for the fast response!  I did solve the issue by placing the arguments differently, but maybe a hint in the docs helps others to avoid the issue, too.

[2018-03-20 07:53] #2833 closed, assigned to nobody

[2018-03-20 12:49] jquick commented on #2822
I believe the fix here would be to return the skip-resource if no body is found.

[2018-03-20 12:50] jquick commented on #2828
Thanks for this report @Wolfsrudel !

[2018-03-20 12:52] jquick commented on #2829
Thanks for reporting this @mhackethal !

[2018-03-20 13:05] jquick commented on #2835
Thanks for this report @burtlo.

[2018-03-20 13:21] jquick commented on #2835
Looked into this a bit, seems to happen with any `--no` Boolean flags and it only happens directly before the first argument. Seems to be a issue with Thor. Looking to see if we can fix it on our end.

[2018-03-20 14:23] jquick commented on #2835
Looks like this is fixed in Thor https://github.com/erikhuda/thor/issues/472 version 0.20.0 should have the fix.

[2018-03-20 14:50] jquick opened #2844 "Allow InSpec to chain require dependencies in resources"
### 🎛 Description

This is a old issue where if your trying to chain requires in a resource and have them be called during a `describe` block it would fail.

For test case please see the PR here: https://github.com/chef/inspec/pull/818/files

Notes to implementer: Please use the above PR as a baseline. It will need to be rebased to reflect our current codebase.

[2018-03-20 16:02] jquick opened #2846 "yaml load does not work when using AWS/Azure transports"
### 🎛 Description

🐛 bug report

This is taken from:
https://discourse.chef.io/t/inspec-profile-files-being-ignored/12680

There is an issue when trying to load file attributes when using aws/azure transports. Other transports and local seem to be fine.
`iam_roles = yaml(content: inspec.profile.file('roles.yml')).params`

### 💻 Stacktrace
[code]

[2018-03-20 16:27] senorcinco opened #2847 "Cannot load YAML files from profile when targetting AWS"
### 🎛 Description

bug report

When targetting AWS, YAML files fail to load from within the profile.  However, local and SSH targets can load the YAML files.

### 🌍 InSpec and Platform Version

[code]

### 🤔 Replication Case

AWS Target (see full stacktrace below):

[code]

Local Target:

[code]

SSH Target:

[code]

### 💁 Possible Solutions

If you have already ideas how to solve the issue, add t

[2018-03-20 16:30] senorcinco commented on #2847
Duplicate of https://github.com/chef/inspec/issues/2846

[2018-03-20 16:30] #2847 closed, assigned to nobody

[2018-03-20 16:41] jquick commented on #2846
So the issue here is the YAML resource binds supports on:
[code]

We should remove supports from yaml as it can be used by everything.

[2018-03-20 16:45] jquick commented on #2846
We should remove support from general resources: yaml, json, cvs.

[2018-03-20 17:12] jquick commented on #2471
I think we are mixing responsibilities here. We should be using the `file` resource to check file properties and the `_config` resource to access specific information about your config:
[code]

We will update the docs here to remove any confusion.

[2018-03-20 20:45] tas50 opened #2852 "Inspec shell explodes in Chef 13.8.5"
Running the inspec shell from 13.8.5's install explodes with the following error:

[code]

[2018-03-21 15:06] jvanbrunschot-coolblue opened #2855 "Pip inspec resource fails on Windows when there is a new version of Pip available"
### 🎛 Description
[BUG]
When using the Pip resource on Windows the check fails when a new version of Pip is available.

### 🌍 InSpec and Platform Version

$ chef --version
Chef Development Kit Version: 2.5.3
chef-client version: 13.8.5
delivery version: master (73ebb72a6c42b3d2ff5370c476be800fee7e5427)
berks version: 6.3.1
kitchen version: 1.20.0
inspec version: 1.51.21

Running inspec using kitch

[2018-03-21 15:26] johnfitzpatrick opened #2856 "Profile path appears in `inspec.yml`"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

There seems to be some inconsistent behaviour creating a profile using a relative path, ala `inspec init profile profiles/foo`, when using InSpec 2.0.

It instantiates the profile in the correct directory fine, but it then uses that directory name as part of the profile name in `inspec.yml`.  I’d expect it to `.gsub(/profiles\//, "")` the

[2018-03-21 15:50] jquick commented on #2547
## Output
new automate report (json + manditory fields):
[code]

Optional (ONLY set for non-chef clients). These will be set either via json-config or a config file:
[code]

----

## Input
fields for the new report:
**Note** these fields will be in their own json "automate-report" section
Mandatory fields via json-config:
[code]

Optional fields via json-config:
[code]

[2018-03-21 16:19] pwelch commented on #2828
Notes for reproducing the error for debugging:
[code]

[2018-03-21 16:52] #2471 closed, assigned to nobody

[2018-03-21 16:56] jquick commented on #2856
Thanks for this report @johnfitzpatrick !

[2018-03-21 16:57] jquick commented on #2855
Thanks for this report @jvanbrunschot-coolblue !

[2018-03-21 17:00] jquick commented on #2852
@tas50 - Thanks for this report.  Note this is using a older version `1.51.21` but it may also be an issue in 2+

[2018-03-21 17:11] jquick commented on #2852
may be related https://github.com/ConnorAtherton/rb-readline/issues/5

[2018-03-21 17:44] #2835 closed, assigned to nobody

[2018-03-21 17:45] #2846 closed, assigned to jquick

[2018-03-21 17:48] rx294 opened #2857 "All controls in profile evaluated when controls are selected using --controls"
### 🎛 Description
Inspec cli allows for selection of controls using the following tag
[code]
However inspec runner still evals all the controls after which the selected controls filtered and poulated in the results.

This causes the runtime to be identical whether the entire profile is run or a selected few controls.
Inspec also goes through runtime errors if any of the unselected controls causes

[2018-03-21 17:53] #2829 closed, assigned to nobody

[2018-03-21 18:02] burtlo opened #2858 "Using config resources for profile file parsing does not work when you target unsupported platforms"
### 🎛 Description

This a 🐛 bug report.

The documentation for profile file demonstrates using the `yaml` resource to parse the contents of a profile file. This resource and other configuration resources (e.g. `json`) do not support all platforms. The resource will return a `nil` for the parsed content when targetting an unsupported platform even when the content is being retrieved from a profile

[2018-03-21 18:40] tas50 commented on #2852
It's an older version, but as far as Chef users are concerned that's current.

[2018-03-21 20:24] miah commented on #2852
I think this issue is caused by a minimal opensuse installation that is missing the `infocmp` binary which is provided by the `ncurses-devel` package.

How did you get inspec installed into your chef omnibus?

I created a opensuse vm and installed InSpec using `gem` inside the chef omnibus. I was actually unable to install InSpec without first installing devel_basis `zypper install --recommends -t

[2018-03-21 20:27] tas50 commented on #2852
It's a docker container and the chef docker image, which a lot of our users are using for cookbook development at this point.

[2018-03-21 20:28] tas50 commented on #2852
I added ncurses-devel to the image we build for chef testing https://github.com/someara/dokken-images/commit/6067d7250fcd1e2835035bced9d68fed55eb1ec3

[2018-03-21 21:09] miah commented on #2852
Thanks! Because rb-readline uses infocmp to gather terminal details its a hidden requirement. Every Linux distribution puts infocmp into their ncurses package, except OpenSuSE who puts it into ncurses-devel =)

http://fr2.rpmfind.net/linux/rpm2html/search.php?query=infocmp&system=&arch=

[2018-03-21 21:10] #2852 closed, assigned to nobody

[2018-03-21 22:08] burtlo opened #2859 "Project should define how it implements semantic versioning."
### 🎛 Description

This a 🙋 feature request.

I am using InSpec 2.0.32 (2018-03-01). The release of InSpec 2.0.45 (2018-03-08) changed the interface of the `shadow` resource.

### 💁 Possible Solutions

* Should this release have been a minor release and not a patch?

It would be helpful if this project defined what it considers a major change, a minor change, and a patch change. Changing the inter

[2018-03-21 22:09] burtlo opened #2860 "Docs site always displays latest version of resources without access to older versions."
### 🎛 Description

This a 🐛 bug report and 🙋 feature request.

I am using InSpec 2.0.32 (2018-03-01). The release of InSpec 2.0.45 (2018-03-08) changed the interface of the `shadow` resource. The documentation site was updated to describe the newer interface that is not compatible with the older interface.

### 💁 Possible Solutions

* Should the documentation be versioned along with the releases?

[2018-03-21 22:12] burtlo commented on #2688
https://github.com/chef/inspec/issues/2860
The shadow resource changed in a patch release. The new version of the docs displays the latest. Using InSpec Shell showed me what methods I could really use.

[2018-03-22 00:16] TheLonelyGhost opened #2861 "Broken ruby: require_relative and __FILE__"
### 🎛 Description

🐛 Bug Report

Due to how profiles are loaded, the path to a given ruby file is clobbered thereby breaking things like the `__FILE__` constant, `require_relative`, and `require './foo'`. The `__FILE__` constant from within a file in `libraries/` always assumes the path to the profile is the current working directory, even if inspec is invoking a profile in another directory (e.g.

[2018-03-22 00:17] TheLonelyGhost commented on #2844
@jquick Possibly related to #2861

[2018-03-22 00:34] TheLonelyGhost commented on #2861
Okay, looking at the [`ZipProvider`](https://github.com/chef/inspec/blob/8d8edea7f3161a15b59c0742de4b672f83ca5868/lib/inspec/file_provider.rb#L109) and [`TarProvider`](https://github.com/chef/inspec/blob/8d8edea7f3161a15b59c0742de4b672f83ca5868/lib/inspec/file_provider.rb#L154) classes it looks like it prefers to explode (unzip or untar) them in-memory and read the contents of the files.

This giv

[2018-03-22 01:05] absheri opened #2862 "Processes are evaluated at instantiation instead of query time"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

The processes resource is evaluated at instantiation instead of query time.

### 🤔 Replication Case

The following test will fail every time:

describe command("COMMAND TO START PROCESS_X") do
  its(:exit_status) { should eq 0}
end

describe processes(PROCESS_X) do
  it { should exist }
end

### 💁 Possible Solutions

In the initialization

[2018-03-22 03:26] burtlo commented on #2860
@kagarmoe, I was bitten by docs that were too up-to-date.

[2018-03-22 05:15] burtlo opened #2864 "rsa_key resource will raise an exception when incorrect passphrase is provided"
### 🎛 Description

This a 🐛 bug report.

The `rsa_key` resource raises an exception when providing an incorrect passphrase.

### 🌍 InSpec and Platform Version

InSpec 2.1.0, Workstation: Mac 10.13.3

### 🤔 Replication Case

Create an ssh key with a passphrase

[code]

Define a control with an incorrect passphrase:

[code]

Execute a scan targetting your local workstation:

[code]

### 💁 Possible S

[2018-03-22 14:45] burtlo opened #2865 "Defining an attribute without a default value generates a stacktrace"
### 🎛 Description

This a 🐛 bug report

Defining a profile attribute without a default value results in a stacktrace that tells the user it cannot convert the InSpec::Attribute::DEFAULT_ATTRIBUTE to String.

### 🌍 InSpec and Platform Version

InSpec 2.1.0
Workstation: Mac 10.13.3

### 🤔 Replication Case

Define an attribute without a default value that you plan to use within a control that expects

[2018-03-22 15:54] clintoncwolfe opened #2867 "Idea: InSpec Linter"
### 🎛 Description

🙋 feature request

Idea: a linter for InSpec.

This came up from a discussion within Chef, from a customers needs.

### 🌍 InSpec and Platform Version

Presumably we'd target 2.0+

### 💁 Possible Solutions

`inspec check` already exists, but that does actually evaluate some code.

Rubocop might be a good starting point; and Foodcritic might be a good comparison.

[2018-03-22 16:43] clintoncwolfe commented on #2865
Thanks @burtlo - that's a good catch!

[2018-03-22 16:51] clintoncwolfe commented on #2862
That *may* be intended behavior.  InSpec is not intended to be a tool for modifying state. `command` is provided as a way to run arbitrary commands to examine the system.  Using it to start a process, then checking to see if that process is running, sounds more like it should be done by a combination of Chef and InSpec.

There is also some thought that the InSpec run should represent a "point in t

[2018-03-22 16:57] clintoncwolfe commented on #2861
A big +1 on this; this issue has caused me much grief when inspec-aws was a "resource pack".  Once it was moved into core, it was no longer under resource/library loading discipline, and Ruby behaved much saner.  I'm pretty sure @arlimus disagrees, though; concerns over breaking "profile encapsulation".

[2018-03-22 16:58] #2828 closed, assigned to nobody

[2018-03-22 17:01] clintoncwolfe commented on #2859
For my part, I agree. It would be good to have a discussion on this, and then distill it into a public policy document.

Additionally, our changelog system already watches for GitHub tags; perhaps we could extend that to version bumping as well.

[2018-03-22 17:02] clintoncwolfe commented on #2860
+1 for versioned docs with "latest" being the default.

[2018-03-22 17:07] clintoncwolfe commented on #2858
I like the idea of changing the `supports` declaration based on whether the `content:` was provided.  However, I think that the `supports` property is class-level (ie, constant for the resource type), whereas here we'd need it to vary from instantiation.  We might we able to work around that - perhaps by making a "late declaration".

[2018-03-22 19:41] burtlo opened #2868 "Exception raised in an only_if block will cause the scan to fail."
### 🎛 Description

This a 🐛 bug report

When a resource is used within an `only_if` and it raises an exception the entire scan will fail.

### 🌍 InSpec and Platform Version

InSpec 2.1.0
Workstation: 10.13.3

### 🤔 Replication Case

Define an `only_if` with a method that generates an exception. I chose the `file` resource and the `exists?` method or it is `exist?` #2779

[code]

### 💁 Possible Sol

[2018-03-22 23:45] TrevorBramble commented on #2805
Fixed by #2359

[2018-03-22 23:45] #2805 closed, assigned to nobody

[2018-03-23 15:39] chiefy commented on #1347
@jaxxstorm @chris-rock

Just ran into this myself. It wasn't clear where exactly you can use `inspec.command`, I was trying to use it inside of my `control` / `describe` sections. I moved it out of the main `control` and assigned it to a var and it works, thanks.

[2018-03-23 16:06] wellus commented on #2758
Yep, this would a be a great feature!

[2018-03-23 19:05] sarahbakal opened #2873 "Unable to install Inspec 2.X on AIX via gem install via audit_cookbook"
### 🎛 Description

🐛 bug report

Inspec 2.x Gem fails to install on aix via the audit cookbook

### 🌍 InSpec and Platform Version

Any Inspec 2.0
Chef-client 12.21.x

### 🤔 Replication Case

Installing Inspec 2.0 on aix and possibly solaris

### 💁 Possible Solutions

This PR is potentially for this issue but it's been open for 2 weeks
https://github.com/knu/ruby-unf_ext/pull/39

### 💻 Stacktrace

[2018-03-24 17:11] aaronlippold commented on #2862
Agree with above @clintoncwolfe, this should be the behavior as the validation tool cannot 'break the 4th wall' and be a trusted validator. If it manipulates the system it is evaluating it would break the chain of trust. As with all technology, there are ways around it - `command` - but the above approach is not the right abstraction. @clintoncwolfe is right, the above example, should be a 'joint

[2018-03-25 04:59] burtlo commented on #2867
https://github.com/chef/cookstyle

[2018-03-25 22:41] aaronlippold opened #2877 "We should have a maintained list of known system users for the 'users' or 'platform' resource with platforms."
### 🎛 Description
🙋 feature request

Given that most of the major distributions maintain a list of 'Standard Users' - perhaps we could maintain this in the `users` resource or as part of the the `os.platform.<family>` resource.

* https://www.centos.org/docs//2/rhl-rg-en-7.2/s1-users-groups-standard-users.html
* https://www.debian.org/doc/manuals/securing-debian-howto/ch12.en.html

Consider the fo

[2018-03-25 22:48] aaronlippold commented on #2877
We could even assert that inspec already knows the platform and family so something like:

`inspec.platform.system_accounts` should not need any params by default.

[2018-03-25 22:54] aaronlippold opened #2878 "The control.rb object 'to_hash' function is missing `refs`"
### 🎛 Description
🐛 bug report

see title
https://github.com/chef/inspec/blob/master/lib/inspec/objects/control.rb#L20-L22

### 🌍 InSpec and Platform Version

`master`

[2018-03-25 22:56] aaronlippold commented on #2878
is the fix?

[code]

[2018-03-26 10:02] rachelrice opened #2880 "`30s cmp <= 60` should be true"
### 🎛 Description

`30s should cmp <= 60` is pulling in the s which doesn't allow comparison against 60. This causes an invalid failure.

[code]

### 🌍 InSpec and Platform Version

Have reproduced the issue with inspec-2.1.0.

### 🤔 Replication Case

Issue seen with the following control:
[code]
### 💁 Possible Solutions

cmp should support optional time values - h, m, s - in config files.

[2018-03-26 13:27] chris-rock opened #2881 "inspec detect behaves inconsistent"
### 🎛 Description

**Choose one:** 🐛 bug report

`inspec detect` returns different exit codes based on the selected platform. The use case here is to verify if a connection is working or not. If we cannot establish a connection we should return a non-zero exit code. At this point, this is not the case for aws and azure.

While we are at it, the stacktrace is also not super helpful. A short user-fr

[2018-03-26 15:40] dtrac opened #2882 "inspec exec failures against Windows Server 2012 R2"
### Description
 🐛 bug report

When running a remote scan against Windows Server 2012 R2, I am seeing:

<install path>/inspec/embedded/lib/ruby/gems/2.4.0/gems/httpclient-2.7.2/lib/httpclient/ssl_socket.rb:46:in `connect': **An existing connection w
as forcibly closed by the remote host**. - SSL_connect (Errno::ECONNRESET)

The same baseline connects and runs successfully against a Windows Server

[2018-03-27 09:30] chris-rock commented on #2880
@rachelrice thank you for bringing up this question. This is not an easy problem to solve. Once we start handling dates, we need to start thinking about:
- all kind of date formats (days, d, 12:12 ...)
- parse and compare dates properly
- distinguish between date, time and duration

For now, I recommend to write a custom InSpec resource that returns a given input to seconds. Lets assume we have th

[2018-03-27 09:36] chris-rock commented on #2867
@great idea @clintoncwolfe We need to decide if we want to integrate this into the existing `inspec check` or create our own. At this point, inspec check is doing some linting and some checking. We may need to revisit how we parse and manage that. I agree that this should be part of the inspec cli.

InSpec will not folllow cookstyle since it does not follow our security patterns (single quotes ove

[2018-03-27 09:38] chris-rock commented on #2864
@burtlo Indeed, only the control should fail! Thank you for this bug report!

[2018-03-27 09:40] chris-rock commented on #2856
This is related to https://github.com/chef/inspec/pull/2538 @miah Any updates on this PR?

[2018-03-27 15:29] aaronlippold commented on #2857
I think this also gives us insight into how we would look at doing - https://github.com/chef/inspec/issues/1677

[2018-03-27 15:36] aaronlippold commented on #2837
I think this is similar to an issue we faced with the `postgresql_conf` resource where the `.` we causing parsing issues.

See: https://github.com/chef/inspec/pull/1938

[2018-03-27 15:40] frezbo commented on #2837
well you need to quote it: This is my sample YAML:
[code]

[2018-03-27 17:42] clintoncwolfe opened #2884 "Check for Terraform update for integration tests"
### 🎛 Description

🙋 feature request

We currently pin TF to 0.10.x, based needing to stay on a version that worked with the azure and aws plugins needed.  Is that still true?  TF is currently on 0.11.x, can we move to that?

### 🌍 InSpec and Platform Version

2.1.14, master tip a5ff79d30

### 🤔 Replication Case

Running `bundle exec rake test:aws` will require TF 0.10 and pinned plugins.

### 💁 P

[2018-03-27 19:54] clintoncwolfe commented on #2749
Work underway on branch [cw/aws-policy-search](https://github.com/chef/inspec/tree/cw/aws-policy-search)

[2018-03-27 20:17] burtlo opened #2886 "Adding a new profile dependency to a profile with an existing lock file does not generate any feedback that the lockfile needs to be updated"
### 🎛 Description

This a 🐛 bug report.

[code]

### 🌍 InSpec and Platform Version

InSpec 2.1.0, Mac OSX 10.13.3

### 💁 Possible Solutions

* Display a warning when a profile dependency exists in the profile metadata but is not present in the lockfile.

[2018-03-27 20:55] aaronlippold commented on #2884
We have been running on the current TF without issues but @rx294 and @dromazmj would know the best answer with respect to the integration tests

[2018-03-28 00:53] todd-a-jacobs opened #2890 "InSpec won't admit that port 5432 is listening inside a PostgreSQL container"
# Background
I'm trying to test a [standard PostgreSQL container][1] with InSpec 2.1.10, but I cannot get a simple port check to return true, even though Docker, netstat, and psql all report that the port is properly mapped. While it's possible this is a bug in InSpec, it's also possible that the problem exists between the keyboard and the chair.

# Repeatable Tests
## My Spec

    # port_test.rb

[2018-03-28 07:30] rollibolly commented on #2433
Hello. I run into this issue quite often (I have Windows 7, Cef 63.0.3 WPF).
[Please click here](https://drive.google.com/open?id=1O0PtlSnIUs5wMQD7PhVHxag4tYUSGf-l) to watch the video where the scrolling issue can be observed.

[2018-03-28 12:10] todd-a-jacobs commented on #2890
According to [this answer][1] on DevOps Stack Exchange:

I can verify that using _postgres:latest_ instead of _postgres:alpine_ works as expected, and that adding _iproute2_ to the Alpine-based container also resolved the issue.

[1]: https://devops.stackexchange.com/a/3760/549

[2018-03-28 18:24] patriciomac opened #2893 "File and directory resources failed at checking permissions in AIX OS"
### 🎛 Description
file and directory resources failed with the following error when they are executed over AIX OS
   undefined local variable or method `m' for #<Train::File::Remote::Aix:0x0000000002aec868>

This is a bug report

I have written the following control in a profile

control "E.1.8.2" do
  title "Root file system permissions"
  desc  "Settings for other on this directory must be r-x.

[2018-03-28 19:08] ibata opened #2895 "How to unit test inspec tests?"
what's the best way  to unit testing my inspect tests
i'm using "inspec check url"

my test located under: test/integration/ktf_suite/controls/reach_host.rb:
[code]

[code]

[2018-03-28 21:19] woneill opened #2896 "Skipped tests shouldn't result in a non-zero exit value since it breaks logic tests"
### 🎛 Description

🐛 bug report

When a control is skipped due to an only_if condition it returns a 101 exit code. While this is planned behavior due to #1825, it makes it difficult to do simple boolean logic such as `inspec exec || echo "Failed"`.

In my use case, I'm using InSpec as part of a Packer build and it's causing all builds to fail since certain controls only are valid per platform (i.e

[2018-03-29 01:05] aaronlippold commented on #2890
We could also just adjust the the resource to detect the variant in the
platform and adjust its parsing, we've done this and other resources.
Requiring a package that's outside the standard delivery process seems a
bit outside the scope of inspec.

[2018-03-29 01:19] ikari7789 commented on #2744
@jerryaldrichiii While what you say makes a lot of sense in the case of cookbook attributes, it doesn't apply well when talking about actual server information gathered via ohai, such as the FQDN, in which recipes could definitely make use of and would be a valid use case for having variable information in a test as this will change based on the test host itself. If you're absolutely concerned abo

[2018-03-29 11:49] todd-a-jacobs commented on #2890
@aaronlippold: Agreed. I wasn't suggesting that InSpec should add packages to a target container; I was just validating that the parsing problem wasn't present in the output from iproute2. Branching on the distro, or perhaps just based on whether netstat is really BusyBox, is likely to be the right thing to do.

If the latter, the following returns exit status 0 on Alpine:

    stat $(which netsta

[2018-03-29 12:30] frezbo commented on #2890
I had a similar issue with redhat docker image as it does not by default have *net-tools* or *ss* package
I fixed it by adding those to the base image.

[2018-03-29 13:20] patriciomac opened #2897 "File resource shows wrong octal mode number at checking permissions"
### 🎛 Description

 🐛 bug report

I have written the following control

control "E.1.8.6.4" do
  title "/var/tmp file system permissions"
  desc  "Settings for files for other in this directory must be rwxrwxrwt(1777). Note: This particular requirement is not recursive."
  impact 1.0
  describe  directory('/var/tmp') do
    its('mode') { should cmp '1777' }
  end
end

the output of its execution o

[2018-03-29 16:50] #2741 closed, assigned to nobody

[2018-03-29 17:02] #2855 closed, assigned to nobody

[2018-03-29 19:13] clintoncwolfe opened #2900 "Do not require resource names for AWS Config objects"
### 🎛 Description

🐛 bug report

Bug, or at least a misfeature.  `aws_config_recorder` and `aws_config_delivery_channel` currently require you to provide the name of the Recorder or Delivery Channel.  However, AWS Config Recorders and Delivery Channels are singleton-per-region (and our InSpec runs are per-region).

If the resource name was optional, the AWS API is able to list the existing recorde

[2018-03-30 17:39] jquick commented on #2877
This would be quite a bit to maintain going forward, and really could be different users per setup. I do like the idea though. I don't think this belongs in `os` or `platform` resources though, and would rather it be defined on a profile level for your specific install.

[2018-03-30 17:40] jquick commented on #2857
This is something we are looking at fixing in a bigger overhaul soon. I will link the ticket once its flushed out.

[2018-03-30 17:42] jquick commented on #1677
This is a interesting Idea. This would be pretty easy to add when we do the overhaul the `--controls` section.

[2018-03-30 18:01] aaronlippold commented on #1677
That is great. Please drop me a link to the overall RFC issue so I can track it

[2018-03-30 18:21] scalp42 opened #2903 "Check for JSON hash inside array"
Hi folks,

Assuming a file `sensu.json`:

[code]

Is there a way to access the first hash inside the array? Something like this:

[code]

I'm assuming it's not possible but never knows 🍾

[2018-03-30 18:49] clintoncwolfe commented on #2719
Work has started on this on https://github.com/chef/inspec/tree/nh/aws_iam_users_policies

[2018-03-30 19:05] aaronlippold commented on #2719
[code]

[2018-03-30 19:06] aaronlippold commented on #2719
Coming soon to a refactored PR near you.

[2018-03-31 16:51] rockandska commented on #2789
It is already possible with the use of docker environnement variables.
[code]

[2018-04-02 15:40] thiagoamaciel commented on #2360
+1

[2018-04-02 20:22] thiagoamaciel opened #2907 "oracledb_session error on a server running Oracle 12cR2"
### Description

🐛 bug report

**The following control works in an Oracle 11g server but fails in an Oracle 12cR2 Server**

[code]

**Oracle 11g server**

**Oracle 12cR2 Server**

**There is no error if i execute the command resource, calling the sqlplus, on the 12c server:**

[code]

**Finally, if i configure the oracledb_session to run the sql command against the 12c instance, and calling inspec

[2018-04-03 10:09] rockandska commented on #1439
Hi @adamleff , @jquick , @jvale ,

Despite the merge #2607 in v2.0.45 (2018-03-08), it seems that host resource don't use bash over netcat to test host even if bash and timeout are available or did i missed something ?

[code]
[code]
[code]

Additionally, is it a common way to issue a "test skipping" in place of a "test failure" if requirements are not satisfied ?
Is there any possibility to force

[2018-04-03 10:57] #2893 closed, assigned to nobody

[2018-04-03 10:58] patriciomac commented on #2893
I have upgraded inspect to version 2.1.10 and the issue was solved. Thanks!

[2018-04-03 13:08] Wolfsrudel commented on #2837
Ok, thanks for the hint with quoting...

But how do I iterate through my file. I don't get it. :/

[code]

[code]
I thought it would work, but it isn't. :)

[2018-04-03 13:08] chris-rock commented on #2900
This is a very nice idea!

[2018-04-03 13:13] #2750 closed, assigned to nobody

[2018-04-03 14:31] Wolfsrudel commented on #2837
Got it:

[code]

Thanks for the help!

[2018-04-03 14:31] #2837 closed, assigned to nobody

[2018-04-03 17:40] pwelch commented on #2719
@aaronlippold any progress on the PR?

[2018-04-03 17:43] pwelch commented on #2719
@aaronlippold I'm going to pick this issue up and start work on it.

[2018-04-03 18:01] clintoncwolfe commented on #2719
@pwelch - just a note that another Chef staffer had started work on this feature, on https://github.com/chef/inspec/tree/nh/aws_iam_users_policies .  It's missing docs and tests, and could use some tweaks around exception handling, but it's definitely in the right direction.

[2018-04-03 18:04] clintoncwolfe commented on #2719
@aaronlippold - I think you have the interface correct, but that resource you've pasted is written in the pre-core-merge style - differences in obtaining a connection, exception handling, and some other minor issues make it easier to start from the https://github.com/chef/inspec/tree/nh/aws_iam_users_policies branch.

[2018-04-03 20:49] scalp42 commented on #2903
Workaround for now:

[code]

[code]

[2018-04-04 09:57] chris-rock commented on #2877
While I see some use cases, in most cases, especially in cloud and docker environments, those user configurations will not be applicable. Therefore I agree with @jquic that the list should be packaged with the InSpec profile.

In case you need those in multiple-profiles, I recommend using an approach that we used for the ssh-baseline https://github.com/dev-sec/ssh-baseline/blob/master/libraries/ss

[2018-04-04 09:58] chris-rock commented on #2878
We would need to introduce a new reference object that implement the hash function. I switch this to be a feature request, since it is technically not a bug.

[2018-04-04 09:59] chris-rock commented on #2857
This would be nice 👍

[2018-04-04 10:01] chris-rock commented on #1677
I think this is a good idea. As @jquick mentioned, we need to overhaul the current selector for controls. tags are similar but slightly more complex. We need to be careful that we deal with the various types properly.

[2018-04-04 10:40] thedrow opened #2912 "Add LXC Backend"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?
Feature Request

Serverspec allows users to test LXC containers by attaching to them and executing commands.
Inspec should have the same feature.

### 🌍 InSpec and Platform Version
I'm not using InSpec right now.

[2018-04-04 10:43] ColinHebert commented on #2200
Any info regarding this? In serverspec there is the `:pre_command` system that allows to execute a command before running the actual test (See http://serverspec.org/advanced_tips.html). What's the correct approach here?

[2018-04-04 15:17] james-stocks opened #2913 "Breaking change in resource filters since 2.0.45"
### 🎛 Description

We have profiles that we create and test with inspec 1.x; and now need to test and maintain for both inspec 1.x AND 2.x

### 🌍 InSpec and Platform Version

inspec-2.1.21 via `bundle install`

### 🤔 Replication Case

The following control works in Inspec 1.51 and Inspec 2.0.45 but fails in Inspec 2.1

[code]

### 💁 Possible Solutions

Make the filter method backward compatible

#

[2018-04-04 15:56] clintoncwolfe commented on #2896
Could this need be accommodated by means of a new CLI option?  Something like `--treat-skips-as-pass` (we'd have to come up with a decent name, and a good single-letter form).

So then:
[code]

[2018-04-04 15:59] rockandska opened #2914 "[processes] : /proc instead of "procps" tools"
### 🎛 Description

🙋 feature request

It seems than the "processes" resource relay on "procps" (linux) to be able to work.

### 🌍 InSpec and Platform Version

[code]
Inspec host:
[code]
Remote host (docker):
[code]

### 💁 Possible Solutions

Retrieve information from /proc when possible ?

[2018-04-04 16:59] pwelch commented on #2719
Have to drop this issue for another task. Someone else is free to pick it up.

[2018-04-04 17:15] clintoncwolfe commented on #2913
Generally speaking, as v1 to v2 was a major version change, and the project attempts to follow semver, I don't think InSpec generally claims backwards compatibility.  That said, I don't see anything about `shadow` on the [breaking changes list](https://discourse.chef.io/t/inspec-2-0-release/12612).  If we can verify the change was intentional, we can at least document it; if it was unintentional,

[2018-04-04 20:02] clintoncwolfe opened #2915 "Testing Enhancement: Allow selection of services in cloud integration testing"
### 🎛 Description

🙋 feature request?

Currently, when you run the integration tests for AWS or Azure, the tests run all terraform files and execute all controls.  As we add test fixtures and integration tests for new resources, the test cycle time will get longer and longer.  The addition of the RDS instance resource for AWS has added ~3 minutes to the cycle time, for example (though that number

[2018-04-04 21:15] esaravanakumar89 opened #2916 "unable to validate ec2 components using test-kitchen inspec for terraform builds."
### 🎛 Description

**Choose one:** is this a 🐛 bug report ?

When i am trying to validate the ec2 instances using test-kitchen with kitchen-terraform am getting
Connection expired to aws.

### 🌍 InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using
inspec - 2.1.10
test-kitchen-1.20.0
kitchen-terraform-3.3.

[2018-04-05 08:44] rockandska commented on #2045
Hi,

Just hit the same behavior and would be really really really nice if we could specify the root directory of the profile to let inspec load the common libraries and be able to filter the tests by directories.
I tried something like bellow without success :
[code]
But my test fail due to the "undefined method"

Could you please consider this as a feature request ?

Regards,

[2018-04-05 09:10] chris-rock commented on #2045
@rockandska I am not sure I understand your use case. Can you help me to understand what you are trying to achieve?

[2018-04-05 09:53] chris-rock commented on #2913
I agree with @clintoncwolfe that semver allows to introduce breaking changes with major versions. We have not done it with InSpec 2. Therefoer all Inspec 1.x baselines minus deprecated features need to work in InSpec 2.0.

In this case it seems that https://github.com/chef/inspec/pull/2642 may broke the shadow resource which was introduced in v2.0.45. @james-stocks can you please verifiy if the co

[2018-04-05 09:56] rockandska commented on #2045
Thanks for your fast answer @chris-rock

I have a profile with some "groups" (subdirectory inside controls).
The profile tree looks like bellow for exemple
[code]
We have two cases :
- all the services and the webserver are on the same host
- each services are on different hosts, and the webserver on another host.

What i'm trying to achieve is having one profile who cover my 2 cases.

Without lib

[2018-04-05 10:04] chris-rock commented on #2045
You can achieve this with InSpec, but you need to structure this well and use profile inheritance:
[code]
More information is here https://www.inspec.io/docs/reference/profiles/#using-controls-from-an-included-profile. All the service profiles depend on the resource pack. (resource pack is a essentially a profile with libraries but no control). Resources are available in all dependencies. You can

[2018-04-05 12:51] #2547 closed, assigned to jquick

[2018-04-05 13:23] thbar opened #2917 "How to use "focus" like in ServerSpec?"
I'm coming from ServerSpec & starting to use InSpec for a client.

When working with ServerSpec, I will often use `focus: true` on a given example, to iterate faster while I'm still implementing it.

(this is backed by `rspec` [tag implementation](https://relishapp.com/rspec/rspec-core/v/3-7/docs/command-line/tag-option)).

I went through the `inspec exec` documentation but so far I cannot figure

[2018-04-05 14:58] james-stocks commented on #2913
@chris-rock `inspec check` succeeds with inspec v2.0.45

[code]

[2018-04-05 16:36] rockandska commented on #2045
Thanks for your answer.

I just dig in this structure to test it and it seems to work, but it require to :

- add new profile to the root inspec.yml when we add a profile
- don't pay attention to the 'No tests executed' triggered by empty controls only here to "orchestrate" the profiles
- be careful with the order of the profile inside the root inspec.yml because it seems that is this order who pr

[2018-04-05 19:13] clintoncwolfe commented on #2917
If you're placing your tests within controls (which are like `describe` blocks, but with more metadata), you can isolate the run by control name.  See the `--controls` option to [`inspec exec`](https://www.inspec.io/docs/reference/cli/#exec)

Additionally, `inspec exec` is happy to run just a single `.rb` file.  So if you have a profile with several files, you can partially isolate this way:

[cod

[2018-04-05 19:23] clintoncwolfe commented on #2916
@esaravanakumar89 , could you provide more information about how to replicate this?  Perhaps your `.kitchen.yml` ?

[2018-04-05 19:30] clintoncwolfe commented on #2580
These are in place.

[2018-04-05 19:30] #2580 closed, assigned to nobody

[2018-04-05 19:30] clintoncwolfe commented on #2577
These are in place.

[2018-04-05 19:30] #2577 closed, assigned to nobody

[2018-04-05 19:30] clintoncwolfe commented on #2579
This has been merged #2866

[2018-04-05 19:30] #2579 closed, assigned to nobody

[2018-04-05 19:32] clintoncwolfe commented on #2567
`aws_s3_bucket` and `aws_s3_buckets` are now both merged. #2653

[2018-04-05 19:32] #2567 closed, assigned to nobody

[2018-04-06 03:52] clintoncwolfe commented on #2912
InSpec uses [Train](https://github.com/chef/train) to implement new transports.  From InSpec's perspective, if Train knows about the plugin, InSpec is happy.

I suggest you open a feature request against the Train repo.  Thanks!

[2018-04-06 06:19] thedrow commented on #2912
Done. https://github.com/chef/train/issues/280

[2018-04-06 06:19] #2912 closed, assigned to nobody

[2018-04-06 11:58] mpostument opened #2920 "aws_iam_root_user wrong number of arguments"
### 🎛 Description

🐛 bug report

aws_iam_root_user not working as expected

### 🌍 InSpec and Platform Version

[code]

[2018-04-06 17:36] jvale commented on #1439
@rockandska Regarding using bash or not, `timeout` being available isn't the only requirement, bash itself must have been compiled with `--enable-net-redirections` to be able to use `/dev/tcp` and friends. Is it possible that it isn't the case? Some distributions don't use that flag (read somewhere about Debian and Ubuntu, but never actually checked).

[2018-04-06 18:04] #2587 closed, assigned to nobody

[2018-04-06 18:21] clintoncwolfe opened #2925 "Some reporters display an empty Hash for matchers that take Hash arguments"
### 🎛 Description

🐛 bug report

If a matcher takes a hash as arguments, the output displays an empty hash in both pass and failure of tests.  This makes it hard to identify which tests are failing, and very hard to determine why.

cli, documentation, html, progress, and json-rspec exhibit this behavior.

Preferred behavior would be to pretty-print the hash contents.

json and json-min reporters a

[2018-04-06 18:22] #2574 closed, assigned to nobody

[2018-04-06 19:00] clintoncwolfe commented on #2920
This works for me, which makes me think it might be an AWS credentials issue (and then InSpec is failing to intercept the error and make a friendly message).

I see you're using `-t aws://us-east-1` to specify your credentials.  InSpec would expect that you are providing either an AWS_PROFILE env variable, or a combination of AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables.   Not

[2018-04-06 19:35] mpostument commented on #2920
@clintoncwolfe I suppose credentials is fine. I am using many InSpec iam resources and some other and they work as expected, I have fails only with  aws_iam_root_user  resource

[2018-04-06 19:42] clintoncwolfe commented on #2920
Ah! I spotted it.  `its` is used to access a property, and requires a property name.  Use `it` to access matchers.  You've used `its` in your example.

This should work:
[code]

[2018-04-06 20:15] mpostument commented on #2920
I will try with it and let you know.
Also I took this example from documentation. Would be nice to update

[2018-04-06 20:24] clintoncwolfe commented on #2920
Thanks, I spotted it [here](https://www.inspec.io/docs/reference/resources/aws_iam_root_user/#syntax) - we'll get that fixed.

[2018-04-06 20:31] clintoncwolfe opened #2926 "Add minor properties to aws_vpcs"
### 🎛 Description

🙋 feature request

`aws_vpcs` is not very useful as-is; even if you access the `entries`, you don't get anything useful (and in fact, you get a misleading `exists?:false` entry as the sole entry).

We're already fetching the info from `describe_vpcs`; let's add some fields (at least `vpc_ids`).

### 🌍 InSpec and Platform Version

2.1.31

### 🤔 Replication Case

![screen shot 201

[2018-04-06 20:47] clintoncwolfe commented on #2895
[`inspec check`](https://www.inspec.io/docs/reference/cli/#check) performs a validity check on the code you provide.  It checks for common problems, and _avoids_ running your tests.  That's probably not enough when doing profile development.

You are likely looking for [`inspec exec`](https://www.inspec.io/docs/reference/cli/#exec), which actually does run your tests.  You can use the `-t` option

[2018-04-06 21:00] clintoncwolfe commented on #1762
As implemented in InSpec 1.0 and InSpec 2, each `inspec exec` run is bound to exactly one "target".  This has consequences for many things, such as setting up a communications channel, identifying a platform, and skipping controls that do not support the target platform.

Here, you're looking for `inspec exec` to switch between different docker targets, then switch to a different target type (`loc

[2018-04-06 21:04] clintoncwolfe commented on #1375
As there has been no traffic on this issue in a while, we're closing it.  If you have any further questions / discussion, please re-open!

[2018-04-06 21:04] #1375 closed, assigned to nobody

[2018-04-06 21:41] miah commented on #2913
Hi, Thank you for reporting this @james-stocks ! I've been able to replicate this locally, but only when I haven't passed `--sudo` and `--sudo-password` options to InSpec. I think the bug we're hitting lives outside of the shadow resource and I'm working on tracking it down now.

[code]

[code]

And when I run without `--sudo`, I get the same error described above. Because the file is un-readable

[2018-04-07 22:53] clintoncwolfe commented on #2862
Closing this, as it is intended behavior.  Please feel free to re-open if you'd like to continue the discussion.

[2018-04-07 22:53] #2862 closed, assigned to nobody

[2018-04-09 14:01] clintoncwolfe commented on #2926
In progress on https://github.com/chef/inspec/tree/cw/aws-vpcs-basic-fields

[2018-04-09 14:48] esaravanakumar89 commented on #2916
Apologize for the delayed reply, It caused due to  wrongly configured inspec.yml. I was given depends: aws so it was trying to download the aws modules from supermarket. My machine is not having connectivity to supermarket, So it caused the issue.

[2018-04-09 15:00] clintoncwolfe commented on #2900
In progress on https://github.com/chef/inspec/tree/cw/aws-config-name-by-default

[2018-04-09 18:39] clintoncwolfe opened #2929 "FilterTable block filters run an extra iteration with Trace objects"
### 🎛 Description

🐛 bug report

When using a block-based filter and using field methods, the block executes once for each row in the FilterTable (correctly), then once more with the field methods returning FilterTable::Trace objects.

I would expect the block to execute once for each row in the table, with the field methods returning their proper values.

### 🌍 InSpec and Platform Version

2.1.33

[2018-04-09 19:12] jquick commented on #2865
Thanks for this. We are going to `warn` when calling a unknown default.

[2018-04-09 20:10] MikeLingenfelter opened #2931 "registry_key not handling large numbers properly"
### 🎛 Description
When testing for a DWORD Registry Value, if the value of the key is equal to or greater than 2^31 (2147483647) the returned value is a negative value.

**Test**:
describe registry_key('HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.1\Client') do
  its('Enabled') { should eq 0xffffffff }
end

**Test results:**
**Host value of 'Enable

[2018-04-09 20:29] nicutor opened #2932 "Service resource doesn't work on CloudLinux"
### 🎛 Description

Hi. I am getting this warning when I am trying to use inspec service resource on a CloudLinux server.

  Service nrpe
     âº  The `service` resource is not supported on your OS yet.

Can you please fix it? Its basically CentOS.

### 🌍 InSpec and Platform Version

inspec 1.49.2
CloudLinux release 7.4 (Georgy Grechko)

### 🤔 Replication Case

describe service('nrpe') do
  it { sh

[2018-04-10 08:47] mpostument commented on #2920
@clintoncwolfe work with it. Thanks

[2018-04-10 08:47] #2920 closed, assigned to nobody

[2018-04-10 09:37] mpostument opened #2936 "undefined method `azure_resource_group_resource_counts'"
### 🎛 Description

🐛 bug report

undefined method `azure_resource_group_resource_counts'

### 🌍 InSpec and Platform Version

inspec --version
2.1.30
Ubuntu 16.04

### 🤔 Replication Case
[code]
### 💻 Stacktrace
[code]

[2018-04-10 15:17] james-stocks opened #2938 "Character encoding error when exec'ing a tar.gz && control code is missing UTF-8 declaration"
### 🎛 Description

Given the following control code that contains a `´` character:

[code]

The control works when executed from source but throws an error when executed from .tar.gz:

[code]

The error does not occur if `# encoding: UTF-8` is placed at the top of the control file.

### 🌍 InSpec and Platform Version

2.1.30
Testing directly against my OSX laptop, but issue was first seen on a RHEL

[2018-04-10 21:22] omar-irizarry opened #2940 "os_env resource returns only user's environment variable on Windows"
### 🎛 Description

🐛 bug report

os_env resource returns only the user's environment variable.  There is no way to verify system's environment variables

### 🌍 InSpec and Platform Version

InSpec Version 2.1.30
Windows 2016

### 🤔 Replication Case

Create variables as the ones in the screenshot below
![image](https://user-images.githubusercontent.com/25246117/38583531-48c70e0c-3ce1-11e8-8c19-3f4de

[2018-04-10 22:30] omar-irizarry commented on #2931
This should have been fixed with pull request #2871 merged in v2.1.21

[2018-04-11 03:05] clintoncwolfe opened #2943 "FilterTable does not validate keys when filtering in named parameter mode"
### 🎛 Description

🐛 bug report

FilterTable, the guts behind all of the plural resources, allows InSpec resources to filter a tabular result set using criteria, either in block mode, or by passing a hash of criteria and values, in which case the operator is assumed to be 'equalish'.

Each criterion is explicitly defined in the resource source code, using the `add` method of the FilterTable suite.

[2018-04-11 06:09] tas50 opened #2944 "Feature request: Windows share resource"
### Windows share resource

🙋 feature request!!!!

It would be incredibly useful to have an inspec resource for auditing windows shares. Checking that they exist, that their properties are correct, and that their permissions are correct.

[2018-04-11 13:33] msiebeneicher commented on #2896
Defiantly +1  for this change request: We test built images on gcp by inspec in our CI system and need to build a workaround for now to handle the uncommon exit code for skipped specs.

[2018-04-11 14:52] MikeLingenfelter commented on #2931
I updated to inspec 2.1.30.  I'm still seeing this issue with Windows 2012R2 and 2016.

[2018-04-11 14:57] omar-irizarry commented on #2931
are you using kitchen verify?
your issue report mentions inspec version 1.51.21.

[2018-04-11 15:45] MikeLingenfelter commented on #2931
i am.  is there another update i should apply?

[2018-04-11 19:11] #2865 closed, assigned to nobody

[2018-04-11 20:04] dmccown commented on #2486
I started looking into this issue and it's an issue with our parslet configuration. I narrowed it down to how we match values. We're ignoring the quotes in this example:

```add_header X-XSS-Protection "1; mode=block";```

Since we ignore the quotes we end up breaking on the first `;` and that looks like the end of the match.

Adding the given line to `test/unit/mock/files/nginx.conf` will cause t

[2018-04-11 22:30] clintoncwolfe commented on #2917
Hello! It's been a few days since an answer was provided, and there has been no more traffic on this issue, so I'm going to close it.  If you'd like to discuss further, please feel free to re-open.

[2018-04-11 22:30] #2917 closed, assigned to nobody

[2018-04-11 22:32] clintoncwolfe commented on #2916
OK.  the AWS resources are now in core inspec since about version 2.0 .  If you have that version or later, you don't need to have a 'depends: aws' entry.  (Though you will need internet connectivity if you wish to use the resources, as they talk to the AWS API).

[2018-04-11 22:34] clintoncwolfe commented on #2895
Hi! It's been a few days since an answer was provided, and there has been no more traffic on this issue, so I'm going to close it.  If you'd like to discuss further, please feel free to re-open!

[2018-04-11 22:34] #2895 closed, assigned to nobody

[2018-04-12 13:59] #2840 closed, assigned to nobody

[2018-04-12 14:41] ViolentOr opened #2948 "Unable to use mssql_session with local MS SQL"
### 🎛 Description

🐛 bug report

Briefly describe the issue and the expected behavior

### 🌍 InSpec and Platform Version

inspec version 2.1.30

### 🤔 Replication Case
Inspec Resource mssql_session is unable to connect to MS SQL Server running locally (which means, that TCP/IP protocol for MSSQLSERVER is in Disabled state).

### 💁 Possible Solutions
The reason for this, that inspec always specifie

[2018-04-12 14:55] ViolentOr commented on #2948
Looks like replacing
[code]

with
[code]

and
[code]
with
[code]

will do the trick. But it can backfire, if someone relies on this defaults

[2018-04-12 14:59] davymcaleer commented on #2913
Also reported by Novartis Pharmaceuticals in a support ticket - https://getchef.zendesk.com/agent/tickets/18592 - I've referenced this issue back to support for their awareness

[2018-04-12 16:14] timusmc96 opened #2950 "Inspec not working with required_controls seems to have started with 1.51.15 gem"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

The profile now is showing all the controls, for our profile and the depends one, instead of just showing the required controls.   This has been working for long time with out issue, until 1.51.15 inspec gem.

What should happen is the output should only show the required_controls listed and not all the controls from the profile.

### 🌍 In

[2018-04-12 16:19] timusmc96 commented on #2950
@aaronlippold

[2018-04-12 16:30] clintoncwolfe opened #2951 "Docs: Consider having an All-in-One Resources Page"
### 🎛 Description

🙋 feature request

I was speaking with a customer this morning; when asked what they would love to see changed about InSpec, they answered that the docs could be improved.  He described the delightful experience people have when learning Chef, especially when browsing the [all-in-one Chef resources page](https://docs.chef.io/resource_reference.html).

An all-in-one page allows:

[2018-04-12 18:31] #2749 closed, assigned to clintoncwolfe

[2018-04-12 18:58] omar-irizarry commented on #2931
Current version of ChefDk has inspec pinned to version 1.51.21.
if you installed inspec 2.1.30 you can run inspec as standalone instead of running kitchen verify.
so you would use a command similiar to this:
[code]
Looks like inspec version 2 will be included in a future release of ChefDk as it is already included in the Gemfile

[2018-04-12 19:37] #2913 closed, assigned to miah

[2018-04-12 19:48] #2926 closed, assigned to clintoncwolfe

[2018-04-13 14:11] clintoncwolfe commented on #2748
After some discussion, the team is shying away from high-level matchers such as this, which by necessity introduce some ambiguity (what constitutes "full admin" is somewhat subjective, and we can't count on people reading the docs to explicitly state what it is).

With the merging of #2918, we can do an explicit search for Effect: 'Allow' / Resource: '*' / Action: '*', so I'm closing this.

[2018-04-13 14:11] #2748 closed, assigned to nobody

[2018-04-13 15:10] james-stocks opened #2957 "Inspec should warn if the user mixes --host --password or --user with -t"
### 🎛 Description

The following command might seem reasonable, but is unsupported:

`bundle exec inspec exec -t winrm://my-server.example.com --user Administrator --password hunter2  my_profile-1.0.0-1.tar.gz`

The user has given an incomplete target and mistakenly tried to provide the auth details separately.

If the user chooses to specify a target with `-t` but also provides a `--user` `--host

[2018-04-13 16:51] clintoncwolfe opened #2959 "Docs: Broken example links in Azure Resource docs"
### 🎛 Description

🐛 bug report

Most Azure docs refer to the integration tests at the bottom of the page.  While the appropriateness of that is questionable, one thing that is certain is that the links are broken, ever since we moved to cloud integration tests from `test/azure/` to `test/integration/azure`.

Example: https://www.inspec.io/docs/reference/resources/azure_generic_resource/

### 🌍 In

[2018-04-16 20:40] jquick opened #2964 "Refactor inspec-compliance code"
### 🎛 Description

inspec-compliance could use a rewrite to use classes and subclasses for the different connection types. We also want to enable caching via instance variables of profiles and other calls that happen multiple times.

[2018-04-17 07:53] wolfyy66 opened #2965 "Client error, can't connect to 'ssh' backend: You must provide a value for 'host'."
Hi there,

I'm not sure if this is the best place to ask my question. Apologies upfront in case it's not and please feel free to point me in the right direction.

I have two virtual machines under vbox :
Linux server
Linux host

I have Inspec 'n the server and I'm trying to execute a script on the host using SSH
The thing is that when I use the : inspec shell -t ssh:/root@IP:PORT

All I have is th

[2018-04-17 15:04] aaronlippold opened #2966 "Add UUID to all reporters and to inspec detect"
🙋 feature request

* https://github.com/chef/train/blob/master/lib/train/platforms/detect/uuid.rb
* https://github.com/chef/inspec/blob/master/lib/inspec/reporters/automate.rb#L23

The UUID identifier was added to train and the automate reporter but should also be added to `inspec detect`, to the `json-full` and `json-min` and `cli` reporters.

This would very much needed to ensure traceability on

[2018-04-17 16:19] clearscreen opened #2967 "file not found by parse_config_file, but .exist? returns true"
### 🎛 `Description`

**Choose one:**  this is a 🐛 bug report

file('/etc/rc.conf').exist? returns true but parse_config_file states it cannot find that very same file.

### 🌍 InSpec and Platform Version

inspec version 2.1.43 on CentOS 6, FreeBSD 10.4

### 🤔 Replication Case

1. install inspec on centos 6 and open a shell to a FreeBSD 10.4 machine
[code]
2. check if file /etc/rc.conf exists and tr

[2018-04-17 16:31] clearscreen commented on #2965
You are missing the second slash after ssh. Your command should be:
inspec shell -t ssh://root@server

[2018-04-17 17:22] #2719 closed, assigned to clintoncwolfe

[2018-04-18 07:52] wolfyy66 commented on #2965
I just didn't write it well in here, all apologies. I did use the second slash after ssh on the terminal and I had faced the same error..

[2018-04-18 16:26] clintoncwolfe opened #2971 "Docs: inspec check --format is undocumented"
### 🎛 Description

🐛 bug report

When running `inspec help check`, the output about the `--format` option simply says:
[code]

The [docs website](https://www.inspec.io/docs/reference/cli/#check) is similar.

It doesn't seem to validate its value, either, so I can't use an error message to tell me what values are meaningful.  Through experimentation, I've learned `json` is a valid choice, but `prog

[2018-04-18 16:54] clintoncwolfe commented on #2913
Refs https://github.com/chef/compliance-profiles/issues/270

[2018-04-19 08:18] chris-rock commented on #1825
The exit codes we settled on are:

    0 run ok + all passed:
    100 run okay + failures
    101 run okay + skipped only

[2018-04-19 08:20] chris-rock commented on #2896
We had specific asks before to introduce multiple exit code to understand the result without parsing the report. In addition, reverting the exit codes would be a breaking change. I like the idea from @clintoncwolfe but we need to think about edge cases. Are there other things users may wanna pass?

[2018-04-19 12:53] chriswood123 opened #2973 "InSpec not using environment variables for AWS auth"
### 🎛 Description

🐛 bug report

When trying to use InSpec with AWS as the target, setting environment variables (as described here https://www.inspec.io/docs/reference/platforms/) does not work.

See Replication Case section for details.

### 🌍 InSpec and Platform Version

OS: macOS High Sierra version 10.13.4

Shell:
[code]

InSpec (installed via https://packages.chef.io/files/stable/inspec/2.1.

[2018-04-19 14:50] walterdolce opened #2975 "Ability to initialise InSpec profile in the current directory"
### 🎛 Description
This 🙋 feature request

When running `inspec init profile my_profile`, InSpec creates the necessary files so that one can start working on a profile. If I am already in the InSpec profile directory I want to create/develop but I haven't initialised it yet, I have no way of telling InSpec to initialise the profile in the current directory and therefore skipping the creation of the

[2018-04-19 17:01] #2884 closed, assigned to clintoncwolfe

[2018-04-19 17:03] mechastorm commented on #2896
In our use case, we are running InSpec tests in a Packer Build. We want to fail the build if Inspec detects a non-zero exit code.

The current behaviour we are encountering is like what @woneill encountered, resulting in Inspec tests that pass but Packer failing to complete the build because it detect Inspec existing with a non-zero exit code.

We initially encountered this error when running an o

[2018-04-19 17:08] #2900 closed, assigned to clintoncwolfe

[2018-04-19 17:09] chris-rock commented on #2896
@mechastorm Can you share the packer snippet? I assume the mitigation is to write a small bash script around.

[2018-04-19 17:29] woneill commented on #2896
Here's our workaround:
```inspec exec inspec/{{user `packer_role`}}; rc=$?; if [ $rc -eq 0 ] || [ $rc -eq 101 ]; then exit 0; else exit 1; fi```

The point is that the non-zero exit value *is* the breaking change, not reverting it. It goes against the philosophy of "A successful command returns a 0, while an unsuccessful one returns a non-zero value that usually can be interpreted as an error code

[2018-04-19 19:47] clintoncwolfe opened #2977 "shadow resource hardcodes path in output"
### 🎛 Description

🐛 bug report

When you use the `shadow` resource with a non-default path, the value displayed in output is always `/etc/shadow` (with a filter string appended, if filtered).

Expected: the custom path would be displayed.

### 🌍 InSpec and Platform Version

2.1.45

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

Simply use `@path` in `_to_s`.

[2018-04-19 20:20] jquick commented on #2936
Hey @Infectsoldier - I think this is a documentation issue, I believe you want to use `azure_resource_group` which should have the counts on it.

[2018-04-19 20:21] jquick commented on #2938
Thanks for reporting this @james-stocks

[2018-04-19 20:22] jquick commented on #2944
Thanks for this request!  Love the idea 👍

[2018-04-19 20:23] jquick commented on #2950
hanks for this report @timusmc96 ! This should go into the runlist overhaul for 3.0 which will only run included/required selections.

[2018-04-19 20:27] jquick commented on #2965
That should be the proper syntax. Do you mind listing your exact example? Do you have and special characters in your strings? We just do a simple ruby URI parse on this.

[2018-04-19 20:29] jquick commented on #2967
Thanks for reporting this @chazzzle !

[2018-04-19 20:36] jquick commented on #2973
I was able to connect via Train using only the ENV's listed above. Must be something upstream of that.

[2018-04-19 20:43] jquick commented on #2967
This is a weird one, does `file('/etc/rc.conf').file?` also return true on your setup?

[2018-04-20 11:18] james-stocks opened #2979 "Inspec 2.1 - Windows package raises exception during inspec check"
### 🎛 Description

This passes `inspec check` in Inspec 2.0 but raises an error in 2.1:

[code]

The error is:

[code]

### 🌍 InSpec and Platform Version

2.1.54 from bundle install

[2018-04-20 11:21] james-stocks commented on #2979
This may be invalid, the control code is wrong and should probably be

[code]

Closing.

[2018-04-20 11:21] #2979 closed, assigned to nobody

[2018-04-20 11:23] chris-rock commented on #2979
Thank you for raising the issue @james-stocks This example has multiple issues:

let assume we have the package `emet` then the following will work:
[code]

The `package` resource does not support regular expressions. Therefore you need to use the `packages` resource. But at this point it is not supported on Windows.

[2018-04-20 15:00] clintoncwolfe opened #2980 "Backport shadow improvements from 2.x to 1.x"
### 🎛 Description

🙋 feature request

Various changes to the `shadow` resource, including stabilizing the use of the FilterTable backend and updating some properties.  @miah, @james-stocks , @chris-rock are getting mentioned :-)

### 🌍 InSpec and Platform Version

2.1.54 or some point earlier has the changes; 1.51.21 needs it

### 🤔 Replication Case

Try running a shadow.where filter on inspec 1.5

[2018-04-20 15:04] clintoncwolfe opened #2981 "Exceptions are not properly caught by control blocks"
### 🎛 Description

🐛 bug report

In some circumstances, if an exception is thrown in a `control` block (rather than a `describe` block), the exception is not caught, and the inspec run aborts with stacktrace.  Current doctrine is that no exception in the profile code is allowed to derail the run; rather an exception in a control should be caught and the control marked failed.

Also check to see if

[2018-04-20 16:16] chriswood123 commented on #2973
Hey @jquick - what's Train?

[2018-04-20 16:39] chriswood123 opened #2982 "AWS connections using STS fail with "Must specify userName..." error"
### 🎛 Description

🐛 bug report

When running inspec cli on an AWS EC2 instance which has a role attached via an instance profile an error **"Must specify userName when calling with non-User credentials"** is given and no tests are run.

### 🌍 InSpec and Platform Version

[code]

Installed from `https://packages.chef.io/files/stable/inspec/2.1.54/el/6/inspec-2.1.54-1.el6.x86_64.rpm`

[code]

### 🤔

[2018-04-20 16:48] clintoncwolfe commented on #2982
As far as I know, this (using instance profile metadata) has never been implemented - see https://github.com/chef/inspec/pull/2359. We also "mostly" rely on the SDK for creds handling, but interfere with it just enough to break this sort of thing - see #2717 for example.

We've had a number of AWS auth issues come in this week, but have had inconsistent reproducibility.  We should be able to take

[2018-04-20 16:53] clintoncwolfe opened #2983 "etc_group implements its own version of FilterTable"
### 🎛 Description

🐛 bug report

`etc_group` has its own partial implementation of FilterTable built into it.  We thus see odd defects and missing features from it.

Determine if we can shift it using the normal FilterTable.

### 🌍 InSpec and Platform Version

2.1.54

### 🤔 Replication Case

(needed)

### 💁 Possible Solutions

Try to have it use FilterTable.

### 💻 Stacktrace

(needed)

[2018-04-20 17:01] woneill commented on #1409
Also ran into this while testing Yubico PAM module for SSH

[2018-04-20 17:21] jquick commented on #2973
This is the underline transport for AWS that InSpec uses:
https://github.com/chef/train

[2018-04-20 17:25] mattlqx commented on #1293
I have a need for this as well. I'm trying to use `login -f` to test whether a user can login, but that needs a PTTY to work. It works over SSH when using `-t`.

[2018-04-20 18:11] jquick commented on #2973
I am unable to reproduce at this:
[code]

Can you confirm your env's were set correctly via `env` cmd?

[2018-04-20 20:21] clintoncwolfe commented on #2981
Isolated to https://github.com/chef/inspec/blob/master/lib/inspec/rule.rb#L50 .  Need to wrap that in a begin / rescue, and fail the control if it breaks.

[2018-04-20 22:39] clearscreen commented on #2967
it does not
[code]

[2018-04-21 10:04] #605 closed, assigned to nobody

[2018-04-22 19:04] clintoncwolfe commented on #2982
Ahh, this just occurred to me, a possibility, which we can look into ... the recent changes in Train introduced a UUID support.  For AWS, the UUID is simply the account number, but train [gets it by fetching the current user ARN](https://github.com/chef/train/blob/master/lib/train/transports/aws.rb#L66) (without args, thus defaulting to the current user), and parsing it out.  We can get that ID in

[2018-04-23 15:30] clintoncwolfe commented on #2982
I've updated the title here because the error is due to using temporary credentials (which is intended to be supported).  It is coincidental that you are running this from an EC2 instance - you'd get the same error from a local connection attempt using STS.  Mind you, EC2 does fall back automatically to STS when running as you describe.

[2018-04-23 16:00] clintoncwolfe commented on #2981
If not caught, exceptions bubble up to the global exception handler, pretty_handle_exception in lib/inspec/cli.rb .  It just prints the error and exits if it is an InSpec exception, and re-raises any other exception.

At that point, we've lost control context, and can't fail the control.

[2018-04-23 17:39] djdees opened #2985 "JSON Parsing Error when running tests with Inspec 2.1.54."
### 🎛 Description
When running Inspec profiles since updating the GEM to version 2.1.54 a stack trace is generated involving an error parsing json.

🐛 bug report

Inspec runs correctly when asked to report its version or display the help contents. When running any of the existing profiles, it generates the stacktrace below. Prior to installing the 2.1.54 gem, the profiles ran with no issues, corre

[2018-04-23 18:41] djdees commented on #2985
I did install Ruby 2.4.4 and re-installed Inspec with *gem install inspec* and got the same error when running the test profile.

#### Output from Ruby 2.4.4 run with debug on.
[code]

[2018-04-23 21:41] TheLonelyGhost commented on #2861
I completely get the argument that ruby doesn't sufficiently encapsulate when using a plugin approach to software. I'm much more a fan of how Python or Java handles imports for reasons of encapsulation.

In this case, I think it's a more complicated issue. Do we want to try to insulate ourselves from how ruby has operated for years (creating a mosh pit of all ruby source code `require`'d by any ge

[2018-04-23 22:17] stevemac007 commented on #1974
Any thoughts on this feature?

We have profiles embedded with our provisioning code in sub-directories and would love to compose those into other repositories as mentioned.

Needing a separate git repo for the tests breaks the consistency of the git repos, requiring commits across repositories.

[2018-04-23 23:35] scalp42 commented on #2789
@rockandska unfortunately it doesn't cover something like test-kitchen for example.

[2018-04-24 03:10] Wing924 opened #2986 "git-type profile dependencies do not implement the 'tag' option"
### 🎛 Description

**Choose one:** is this a 🐛 bug

According to inspec docs, git profile dependencies support `version`.
[code]
<https://www.inspec.io/docs/reference/profiles/>

But it seems not be implemented.
[code]
<https://github.com/chef/inspec/blob/master/lib/fetchers/git.rb#L73>

### 🌍 InSpec and Platform Version

`2.1.54`

[2018-04-24 08:38] ferrarimarco opened #2988 "InSpec hangs when checking for yum.repo if yum needs user input"
### 🎛 Description

**Choose one:** this is a 🐛 bug report

If `yum` needs user input, the `yum.repo` resource will be blocked waiting for such confirmation.

I got into this situation by adding a new repository to a Centos Vagrant box.

### 🌍 InSpec and Platform Version

InSpec version: `2.1.54`
Platform: `Windows 10 x64`
Ruby: `ruby 2.5.1p57 (2018-03-29 revision 63029) [x64-mingw32]`

### 🤔 Repli

[2018-04-24 08:59] ghost commented on #1700
The same thing happens in TeamCity

[2018-04-24 15:23] chriswood123 commented on #2982
Makes sense @clintoncwolfe thanks for the updates.

[2018-04-24 15:36] chriswood123 commented on #2973
Hey @jquick

Yea I checked the env vars using `env`, just to confirm:
[code]
Not sure why I'm getting the error so many times now.

In your repro output you didn't move the `$HOME/.aws` dir out of the way; could it be that inspec is using credentials you have in `$HOME/.aws/credentials` or `$HOME/.aws/config`?

[2018-04-24 15:52] jquick commented on #2973
Yeah I don't have  `$HOME/.aws` at all. Not sure whats going on. And confirmed its using the ENV's

[2018-04-24 15:55] jquick commented on #2973
Hey I think you may be using the wrong ENV's
`AWS_ACCESS_KEY_ID`
`AWS_SECRET_ACCESS_KEY` not `AWS_SECRET_KEY_ID`

Are what I am using. I think the documentation is wrong.

[2018-04-24 21:53] trevor-vaughan commented on #2142
Has this moved forward at all?

[2018-04-24 21:54] trevor-vaughan commented on #1529
After spending quite some time trying to figure out why my scans were so slow, this would be REALLY helpful.

That said, I would have it be part of the `debug` log level, but I would also add a `--benchmark` option to `--exec` so that we could see it in real time without all the chaff.

[2018-04-25 12:41] trevor-vaughan commented on #2896
I think I'm hitting something like this with `inspec --check` as well https://travis-ci.org/simp/inspec-profile-disa_stig-el7/jobs/370798078#L1003 My check should not fail on a skipped test.

[2018-04-25 13:41] chriswood123 commented on #2973
Yea, that was it. Can't believe I didn't think of that myself!

Basically it should match what the AWS CLI looks for: https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html

[2018-04-25 15:41] trevor-vaughan opened #2992 "shadow.users should not be deprecated"
### 🎛 Description

:thinking: I've been getting warnings that `shadow.users` is going to be deprecated. However, I usually use it in loops and `shadow.user.each do |user|` reads strangely.

### 🌍 InSpec and Platform Version

2.1.54

[2018-04-25 16:06] grv87 opened #2993 "Windows local transport doesn't provide command's stderr and exit code"
### 🎛 Description

Bug report (regression).
When run profile locally command's stderr is always empty and exit code is always 0.

### 🌍 InSpec and Platform Version
inspec 2.1.54
train 1.4.1
Windows 7 SP1

### 🤔 Replication Case
https://github.com/grv87/inspec_windows_command_stderr_exitcode

Failed tests:
[code]

### 💁 Possible Solutions
This is regression in train 0.31.0 introduced with https://g

[2018-04-25 17:25] clintoncwolfe commented on #2982
https://github.com/chef/train/pull/286 is merged . We'll cut a new Train release tomorrow, and bump the version dependency for inspec at that point.  That should fix this.

[2018-04-25 17:47] clintoncwolfe commented on #2896
@trevor-vaughan : Your Travis log shows an exception being thrown, and the check run aborting because of it.  The exit code there is 1, because the ruby interpreter exited with an unhandled exception. That's likely an example of https://github.com/chef/inspec/issues/2981 .

If `inspec check` were exhibiting behavior like `inspec exec`, on a profile with skipped tests, it would run to completion an

[2018-04-25 17:49] trevor-vaughan commented on #2981
@clintoncwolfe Jumping over here from #2896 and the exit code is `1`.

The triggers appear to be in `describe sshd_config` blocks

[2018-04-25 17:53] clintoncwolfe commented on #2896
Fundamentally, this comes down to two things:
 1. Is a test run with skipped tests considered a passing run?  Current inspec team doctrine says "no, and we communicate that with the special exit code 101."
 2. Regardless of whether you agree with 1 or not, you should have a way of choosing behavior.  My personal preference is for `inspec exec` to exit with 101 if any tests are skipped; and allow y

[2018-04-25 17:55] trevor-vaughan commented on #2896
In my case, I don't exactly want to run as `root` when I'm just hacking on code. Therefore, I think the *default* for `inspec check` should be to tell me that things were skipped but pass and then add a flag for `--fail-on-skipped`.

I would hope that running as `root` for routine development would be a finding on any system being scanned by `inspec` :-D

[2018-04-25 17:56] clintoncwolfe commented on #2981
It is more general than that, but we do use sshd_config as one of the test cases in the PR - see https://github.com/chef/inspec/pull/2987/files#diff-3dece6a73794c93049e4f361145a7a72

[2018-04-25 18:02] trevor-vaughan commented on #2981
It makes sense from a test perspective.

I guess I'd like to know what is broken and what is not all at once. Right now, I get a failure on `inspec-2.1.54/lib/utils/file_reader.rb:11:in `read_file_content': Can't find file: /etc/ssh/sshd_config (Inspec::Exceptions::ResourceSkipped)` and all processing stops.

Knowing that this can be ignored, I want to have `inspec check` the rest of my files and

[2018-04-25 18:03] woneill commented on #2896
I agree with @clintoncwolfe's point that

But disagree that skips could be seen as a deviation and should be flagged as possible failures. The most common reasons for skips that I've seen have to do with platform specifics (i.e. OS differences, versions of a tool generating different output, etc.) and as a result, those will _always_ need skips.

Thusly, `--treat-skips-as-pass` will almost always

[2018-04-25 18:11] clintoncwolfe commented on #2993
I'm pretty sure the fix for this will be entirely on the `train` side.  Thanks for linking to an issue there.

[2018-04-25 18:19] ry1015 opened #2995 "Question: Is there a way to only check a file if it contains a string?"
I just want to run a describe file only if its content contains a specific string.

[2018-04-26 10:43] james-stocks opened #2997 "inspec check warns "no tests defined" if tests are inside a conditional block"
### 🎛 Description

In some cases we need to iterate over multiple values from the system, and so have controls like this:

[code]

This causes a warning `Control my_control has no tests defined` when checked with `inspec check`

### 🌍 InSpec and Platform Version

2.1.54 from bundle install

[2018-04-26 12:53] #2977 closed, assigned to nobody

[2018-04-26 15:24] russellseymour commented on #2822
I have just had this issue myself and it does not seem to be related to what is being checked, in fact it does not get that far.

Take the following test:

[code]
If it is run on *Linux* it works as expected and you get the following output:

[code]
However on *Windows* you get the same sort of stacktrace as seen by @burtlo.

[code]

This is testing the `status` and not the body so I think it is t

[2018-04-26 15:35] clintoncwolfe commented on #2896
@woneill 's argument that '--treat-skips-as-pass will almost always need to be passed in' rings true for me.  I think as soon as you have even one skip, you'll add that, and then there is no value.

I'll bring this up at standup; my personal position has shifted to "when skips are present, exit 0, unless there is a --fail-on-skipped flag, in which case exit 101."

One planned feature for InSpec 3

[2018-04-26 16:17] clintoncwolfe commented on #752
refs #2983

[2018-04-26 16:27] clintoncwolfe opened #2999 "etc_group has unhelpful output when the group file is missing"
### 🎛 Description

🐛 bug report

When `etc_group` is pointed at a path that does not exist, the various array properties (uids, gids, users) are all nil.  This causes unhelpful test results.

Additionally, the stringification of the resource can be unhelpful in two different ways:
 * If you call to_s on the top resource, you get `/etc/group` regardless of the actual path provided.  That's misleadi

[2018-04-26 17:54] clintoncwolfe commented on #2896
So, here's the inspec team's consensus.  If you have strong opinions / great pain, let us know.

 * Because changing the exit code behavior was a breaking change, it was introduced on a major version change. Likewise, if we revert it, that would also be a breaking change.  So, we think we should wait to change the exit-code-on-skip behavior on a major version change, InSpec 3.  At that point, exit

[2018-04-26 19:02] clintoncwolfe commented on #2997
`check` works by having a dummy backend.  If you ask that backend for users and groups, what do you think a correct answer would be?  I think empty arrays are a reasonable answer.

Your code above constructs tests, one for each entry in an array.  If the array is empty, you have no tests.

You could rewrite that in a couple of different ways, to expose the describe block at the top level (or at le

[2018-04-26 19:15] clintoncwolfe commented on #2940
Fixed on #2945

[2018-04-26 19:15] #2940 closed, assigned to nobody

[2018-04-26 19:44] #2981 closed, assigned to clintoncwolfe

[2018-04-26 22:19] NickRycar commented on #2445
I was able to reproduce this on my end on both MacOS and Windows.

To validate whether updating the Gemfile would solve, I modified my local appbundle-updater to remove "test" from the ignored groups, since that's where rake seems to be defined, and was able to successfully install InSpec2 via the same command. Bundling without test seems like a reasonable default in that project. Should we move '

[2018-04-26 23:32] clintoncwolfe commented on #2995
I'm not totally sure what you're asking for here, so I'll answer two ways.

Note: if you have a YAML, JSON, INI, or CSV file, you can use more specialized resources to parse the file for you.

### You want to audit whether a file has a certain string in it.

You'd use the file resource with the contents property:

[code]

### You want to conditionally execute a separate test based on the contents

[2018-04-27 08:46] james-stocks commented on #2997
Thanks @clintoncwolfe moving the loop inside the `describe` does avoid the warning.

I'm not sure all our controls can be updated this way (I think some do require us to put conditional logic outside of the `describe`) but I'm happy if we close this issue; we can file a more specific issue if there's a case we're stuck on

[2018-04-27 08:46] #2997 closed, assigned to nobody

[2018-04-27 10:43] russellseymour commented on #2822
An update to this bug.
I can get the exact same error on Linux if the `-t azure://` is added to the command line.
Leaving this off and the http resource works as expected.

[code]

This is a bit of a pain as I am not able to run all the tests in one go, I have to run the separately.

[2018-04-27 18:50] woneill commented on #2896
@clintoncwolfe Thanks for the summary and roadmap! I hadn't realized the exit code change mapped to the new major version change but I can see that historical context now.

[2018-04-27 19:32] clintoncwolfe commented on #2973
Ok, looks like your particular issue is now resolved.  I agree Train / InSpec isn't being quite correct in its handling of other env vars; we have an existing issue on that, #2717

[2018-04-27 19:32] #2973 closed, assigned to nobody

[2018-04-27 19:40] clintoncwolfe commented on #2988
Looks like the `yum` command supports a `-y`, meaning to assume yes and run non-interactively.  We could add it at https://github.com/chef/inspec/blob/master/lib/resources/yum.rb#L52 .

My only concern: the confirmation there is to confirm if you want to import a GPG key.  That's a system change.  Potentially, `yum -y` might make other system changes.  InSpec is intended as an audit tool, and we a

[2018-04-27 19:53] clintoncwolfe commented on #2975
@walterdolce sounds like a great addition, and if you'd like to contribute, that would be wonderful!

[2018-04-27 20:09] clintoncwolfe opened #3002 "Add an integration test to verify pin of postgresql library"
### 🎛 Description

🙋 feature request

For (reasons), we need to make sure that we match the version pin made in Habitat builder for the Automate channel.

Since we just use the postgresql dependency to provide client library support for the postgresql resource, we're pretty flexible.

### 🌍 InSpec and Platform Version

2.1.59

### 🤔 Replication Case

We'd like a test (integration?) that runs under

[2018-04-27 20:13] clintoncwolfe commented on #2967
Could it be possible `/etc/rc.conf` is a directory?  If that is the case, I can replicate the above.

[code]

That's not a great message from `parse_config_file`.

[2018-04-27 21:36] darksheer opened #3003 "Docker Container Checks Excessively Slow"
### 🎛 Description

 🐛 bug report

Executing a check against a RHEL 7 host for running docker containers takes around 20-22 minutes.

### 🌍 InSpec and Platform Version

2.1.59

### 🤔 Replication Case
Execute a control looking for existing and running containers.  The referenced YAML file used here has 20 containers.

[code]

### 💁 Possible Solutions

Unknown at this time.

### 💻 Stacktrace

No stac

[2018-04-27 22:00] ferrarimarco commented on #2988
Sure, I did that with Ansible :)

A warning or an error could be useful though...

[2018-04-28 00:40] clintoncwolfe commented on #3003
Looks like each docker_container call enumerates all containers, then filters to match.  I don't know how fast that is, but it looks like if you have 20 containers running and you check them 20 times (one apiece), the implementation will execute `docker ps` 20 times, each returning 20 entries, which then gets parsed.  I'd imagine that could be done more directly.

[2018-04-28 21:00] darksheer commented on #3003
Even with the multiple calls and parsing, it shouldn't take 20 minutes.  A bash for loop would barely take 30 seconds.

I'm still digging around to see in the code where the slowdown is...

[2018-04-28 23:56] darksheer opened #3004 "Filesystem Module Not Accepting EFS or Variable Mount Points"
### 🎛 Description

🐛 bug report or

Filesystem Module for checking filesystems won't accept DNS names for EFS volumes.

Also, terraform-kitchen passes variables from tf-k => inspec, but won't accept the literal mount point name:
[code]

This does work if you manually input the volume mount point, but isn't working as a passed variable.

### 🌍 InSpec and Platform Version

`2.1.59`

### 🤔 Replicatio

[2018-04-29 04:05] skull-squadron commented on #1679
Still broken as of inspec 2.1.59

Workaround: modify `/opt/inspec/bin/inspec`

[code]

[2018-04-29 18:21] virtualbubble commented on #2813
@jquick - Late response (from me) thanks that was exactly what I was looking for.

[2018-04-30 10:38] james-stocks opened #3005 "cmp does not recognise a string being a negative int"
### 🎛 Description

`'-1' should cmp <= -1` returns false when it should be true

### 🌍 InSpec and Platform Version

2.1.54 from bundle install

### 💁 Possible Solutions

I think it's because this line [here](https://github.com/chef/inspec/blob/master/lib/matchers/matchers.rb#L214) does not account for the string representing a negative number - I'll get a PR up that accounts for this and adds a un

[2018-04-30 12:26] rockandska opened #3006 "Junit reporter improvements"
Hi Inspec Team,

### 🎛 Description

🙋 feature request

Not sure if there is an official Junit XSD but the attributes for "testsuite(s)"/"testcase" elements used in most cases seems to be the bellow ones :

[code]

Today, in Inspec, it seems that :

"failures" is called "failed"
"hostname" is called "target" and is placed inside each "testcase" instead of once inside "testsuite"
"skipped" is not pr

[2018-04-30 14:11] timusmc96 commented on #2950
Please let me know if any more information is needed, because I feel if anyone is using required_controls they should be seeing this issue as well.  Maybe something has changed that is not documented that we have missed. Thanks

[2018-04-30 14:55] clintoncwolfe commented on #3006
The additions seem straightforward.

The replacements - failures for failed and target for hostname - are a bit more delicate.  It's likely users are relying on the existing (improper) behavior.  I'd suggest adding failed and keeping failures for the time being while we deprecate it.

A decision would also be needed around hostname / target.  `target` is the term for the object of the inspec run -

[2018-04-30 16:30] clintoncwolfe commented on #2988
Would `--assumeno` be appropriate, then?  If yum needed to install a key, but `--assumeno` prevented it, yum would presumably exit nonzero, the InSpec resource would fail, and you'd have a completed run with at least one failed control.

That would solve the hanging issue.

[2018-04-30 16:46] clintoncwolfe commented on #2985
Hi @djdees - thanks for the great, detailed report.  As you suspected, this fails prior to test execution; it's in the communication channel setup, when the `train` library tries to pick up a UUID off the target.  A fix won't happen on this repo, but rather on https://github.com/chef/train/issues/292 .

[2018-04-30 17:10] clintoncwolfe commented on #2965
As I understand it you, have two guest vms, and you want one to be able to SSH to the other.  You may already have this setup, but just to be sure:

VirtualBox provides networking facilities for inter-VM communication.  You can use [internal networking](http://www.virtualbox.org/manual/ch06.html#network_internal) or [bridged networking](http://www.virtualbox.org/manual/ch06.html#network_bridged),

[2018-04-30 17:13] clintoncwolfe commented on #2982
@chriswood123 InSpec v2.1.59 relies on Train v1.4.2, which has a fix for this.  Can you verify, and close this issue if your needs are met?

[2018-04-30 17:35] clintoncwolfe commented on #761
This appears to be answered.  If you need more information, please feel free to re-open!

[2018-04-30 17:35] #761 closed, assigned to nobody

[2018-04-30 18:03] ry1015 commented on #2995
Your conditional example is perfect! Thank you so much!

[2018-04-30 18:03] #2995 closed, assigned to nobody

[2018-04-30 18:28] tas50 commented on #1697
Firewall rule would be a very useful rule. I'm currently working to get windows_firewall_rule added as a rule in Chef and it would be helpful to be able to validate those firewall rules with InSpec.

[2018-04-30 18:39] clintoncwolfe commented on #1446
Today, we'd typically recommend property-matcher syntax, like this:

[code]

The `match` universal matcher is one of the supported matchers.  We don't have to pick apart the results of `String#match`.

Unless there is a concern I am missing, I'll close this; please feel free to re-open, of course.

[2018-04-30 18:39] #1446 closed, assigned to nobody

[2018-04-30 18:43] clintoncwolfe commented on #2880
As this hasn't seen any movement in a while and a solution was provided, I'm closing this.  Please do re-open if you feel more is needed here.

[2018-04-30 18:49] djdees commented on #2985
C. -

​Thanks so much for looking into it. I did try a couple additional things,
I backed off to an earlier version of inspec 2.0.16 and it's working at the
moment. I'll watch the train library for an update that addresses this.

​

On Mon, Apr 30, 2018 at 11:46 AM, Clinton Wolfe <notifications@github.com>
wrote:

--
Derek
=========
djdees@gmail.com

There is no frigate like a book to take us land

[2018-04-30 18:52] djdees commented on #2985
C. -

Sorry for a second mail, but I didn't think to ask before I hit send on the
last one.

Is there a bug filed for this on the train library?

d.

On Mon, Apr 30, 2018 at 1:49 PM, Derek Dees <djdees@gmail.com> wrote:

--
Derek
=========
djdees@gmail.com

There is no frigate like a book to take us lands away. Nor any Coursers
like a page of prancing poetry. This traverse may the poorest take wit

[2018-04-30 22:27] srb3 opened #3009 "Enable Inspec profile caching with Chef Automate"
### 🎛 Description

feature request

Currently when inspec runs via the audit cookbook and the ChefServer::Fetcher, profiles from Chef Automate are pulled down every time even if they are present in the local cache `/root/.inspec/cache`.

Inspec seems to have the ability to check if the profile needs to be pulled down again via the cached_fetcher:
https://github.com/chef/inspec/blob/master/lib/insp

[2018-05-01 13:43] chriswood123 commented on #2982
Yes, I can verify this now works with version 2.1.59

Many thanks for your efforts @clintoncwolfe

[2018-05-01 13:43] #2982 closed, assigned to nobody

[2018-05-01 16:32] russellseymour commented on #2822
Hello @clintoncwolfe

This is not just a Windows issue as I can recreate it in Linux as well. Please see my previous comment.

[2018-05-01 16:55] kmf commented on #1945
@chris-rock is there a plan?

[2018-05-01 17:00] kmf opened #3010 "multiple targets / parallel execution for inspec exec"
It would be awesome to provide inspec cli a list of targets .... perhaps similar to a inventory file in ansible.

[2018-05-02 14:19] #3005 closed, assigned to james-stocks

[2018-05-02 15:46] clintoncwolfe commented on #3010
This would likely need to be implemented on a major version change.

Currently, each InSpec run sets up a connection (via `train`) to exactly one target, performs OS detection, runs the tests, and reports on the outcome.

Conceivably, we could take a list of targets, fork (with new options for concurrency), perform the runs, then combine the outcomes into each requested report format.

I don't kno

[2018-05-02 15:48] clintoncwolfe commented on #3010
As a workaround today, one can at least use shell scripting to run inspec serially over a list of targets.  And one could go farther, using Perl or Ruby etc. to add forking.

[2018-05-02 15:50] clintoncwolfe commented on #2985
Yes, https://github.com/chef/train/issues/292 is the issue number on the train repo.

[2018-05-02 18:21] clintoncwolfe commented on #2896
Thoughts on v3+ behavior: Here's how terraform's CLI handles this:

[code]

[2018-05-03 09:57] james-stocks opened #3016 "lib/matchers/matchers.rb is missing unit tests"
There are no unit tests for [matchers.rb](https://github.com/chef/inspec/blob/master/lib/matchers/matchers.rb)
There are some tests in [test/integration/default/controls/cmp_matcher_spec.rb](https://github.com/chef/inspec/blob/master/test/integration/default/controls/cmp_matcher_spec.rb) that may be deletable once there are unit tests.

[2018-05-03 13:55] #2810 closed, assigned to nobody

[2018-05-03 14:33] clintoncwolfe opened #3017 "RFC: Finer-grained test outcomes - Waiver and TODO support - nuanced skipping / failure"
### 🎛 Description

🙋 feature request

There has been some desire for more nuance around "skipping" or failing a control or test.  Currently, controls may be skipped or failed for any number of reasons, but they are aggregated, potentially losing meaning.

This has also been described as new ways of interpreting failure types.

Some reasons to skip a control or test (please propose others):

* Impl

[2018-05-03 16:17] clintoncwolfe commented on #3017
If a regulatory benchmark includes 150 rules and the corresponding profile only tests a subset (because some maybe can't be programmatically tested), that would be a good thing to distinguish: control skipped because it is not automatable.

Attn: @larryebaum

[2018-05-03 16:26] galenemery commented on #3017
A couple of the use cases I've run into are the following, typically when inheriting a base profile (for instance CIS or STIG):

The base profile is overly restrictive and I have controls (n) that will not be applied in my infrastructure.  So I will skip these controls always.  This feels fairly well covered with `skip_controls`.

Another use case is: my security team has these controls I must fol

[2018-05-03 16:28] galenemery commented on #3017
Another comment: a control that is waived, either by being skipped, or having an impact set to 0, should not result in a system being registered as 'uncompliant' from a compliance viewpoint.

[2018-05-03 18:00] clintoncwolfe commented on #3017
We (the community) can think of new syntax - we don't have to be constrained by existing approaches using severity or skip_control.  We could invent `waiver`, or `waiver_if { some_condition }`, `tolerate_failure`, etc.  Names and syntax are open.

[2018-05-03 18:06] clintoncwolfe commented on #3017
Regarding "being reported as noncompliant", I imagine that we'd have several new outcomes in the report:
[code]

Depending on what is interpreting that report, the above result could be considered compliant or noncompliant.  Automate and the inspec CLI are two things that have such opinions. #2896 is an open issue that would alter how the CLI interprets such results (but allow you to control its i

[2018-05-04 13:02] james-stocks opened #3021 "`auditd` resource should not ostensibly work without --sudo"
### 🎛 Description

If you try to work with the `auditd` resource without sudo permissions; no errors occur and the resource appears to indicate there are no audit rules running.
This is because the resource [only looks at stdout](https://github.com/chef/inspec/blob/master/lib/resources/auditd.rb#L33) and not stderr or the exit code of `auditctl -l`

[code]

### 🌍 InSpec and Platform Version

2.1.5

[2018-05-04 14:05] mgrobelin commented on #3010
A simple shell loop will do what you intend, but beware:

- expect ~300 MB mem usage per running InSpec instance, so even when you run a "small" profile on 10 hosts in parallel, you will quickly saturate 3 GB of RAM on the system that executes the tests
- the formatters will not summarize your test results without post-processing as already pointed out by @clintoncwolfe ; therefore I usually tempo

[2018-05-04 15:41] clintoncwolfe commented on #2822
A couple of things are happening here:

1. `enable_remote_worker` became mandatory in InSpec 2.0 .
2. `enable_remote_worker` assumes the InSpec run target (as in, the `-t` value, NOT the URL being checked) has a curl command available - see [here](https://github.com/chef/inspec/blob/master/lib/resources/http.rb#L151)

If your target is azure (or any non-OS platform), `command` will certainly fail,

[2018-05-04 15:45] clintoncwolfe commented on #2822
I'm adding the `train` tag here, because our non-OS platforms should declare (somehow) that `command` is non-applicable for them.

Thanks for the catch @russellseymour , you're right, this isn't Windows-specific.

[2018-05-04 19:21] Zeerg commented on #760
Any update on this?

[2018-05-07 11:05] voroniys opened #3024 "Resource xinetd_conf broken on RHEL7"
### 🎛 Description

Bug report

[code]

I've enabled service echo-dgram for test  and expect the test to fail. But it is finished successfully.

### 🌍 InSpec and Platform Version

 inspec --version
1.51.21

### 🤔 Replication Case
Install xinetd package
Edit file /etc/xinetd.d/echo-dgram and replace disabled=yes to no
Run the following check:
[code]

As the service echo-dgram is enabled I expect the

[2018-05-07 14:56] voroniys opened #3025 "Resource 'package' extremely slow"
### 🎛 Description

Bug report

### 🌍 InSpec and Platform Version

inspec --version
1.51.21
    OS platform: redhat
    OS family: redhat
    OS release: 7.4

### 🤔 Replication Case
Two similar checks:
[code]

when executed results in:
real    0m22.133s
user    0m18.788s
sys     0m3.170s

Same check with usage rpm -q:
[code]
when executed results in:
real    0m4.456s
user    0m2.539s
sys     0m1.59

[2018-05-07 15:44] clintoncwolfe commented on #2614
attn: @vjeffrey

[2018-05-08 04:03] clintoncwolfe commented on #2943
The bug has been traced to [here](https://github.com/chef/inspec/blob/master/lib/utils/filter.rb#L99).  The keys of `conditions` should be validated to assure they are valid field names.

[2018-05-08 04:38] clintoncwolfe commented on #2929
The bug has been traced to [here](https://github.com/chef/inspec/blob/master/lib/utils/filter.rb#L107). At line 105, the proper number of iterations are run, using instance_eval to provide the accessor values.  However, at line 107, the block is eval'd one additional time against a Trace object, in order to build up stringification data.

[2018-05-08 04:48] clintoncwolfe commented on #2929
I've now verified that this will not cause false positives.  Line 105 does the actual filtering, and runs the correct number of iterations.  At worst, line 107 may cause the run to abort due to an unhandled exception (in my example above, IPAddr performs validation on its constructor input, and rejects the Trace object (reasonably)).

So, we could intercept the exception and inject `(unknown opera

[2018-05-08 10:10] Happycoil commented on #2948
`sqlcmd` defaults to 1433 anyway though, right?

I'm running into this with a server with multiple instances and dynamic ports. You have to specify whatever the dynamic port is for the resource to work, but if you simply leave the port out of the `sqlcmd` call the tool figures it out on its own.

Is the jump in tag still valid @TrevorBramble?

[2018-05-08 14:51] clintoncwolfe commented on #3025
The `package` resource will always be a bit slower than a bare `bash` resource - you're able to know what OS you're on, and know that you only want to know installation status.  You can optimize.  So, it will always be a bit slower, but I agree, a 5x penalty seems large.

I looked into this briefly.
I found [this](https://github.com/chef/inspec/blob/master/lib/resources/package.rb#L184), in which

[2018-05-08 15:08] clintoncwolfe commented on #3024
[Here](https://github.com/chef/inspec/blob/1-stable/lib/resources/xinetd.rb)'s the implementation on the 1-stable branch. Note that this won't have the file reader consolidation in place.

[2018-05-08 16:02] thbar commented on #3010
I'm also looking for ways to accelerate the spec runs (either for N targets but also for 1 target). I'm new to this space, maybe my questions will be obvious!

* Is `kitchen test` worth looking at to use the parallel target support & handle what @mgrobelin describes?
* Are there any discussion to parallelise checks ran on a single target? (`inspec exec` would create a number of threads to evaluate

[2018-05-08 16:33] thbar commented on #3010
Answering my own question on parallelism for a single target: RSpec (which Inspec relies on) doesn't yet support built-in parallelism (see [discussion](https://github.com/rspec/rspec/issues/7)). This means that we may have to jump through hoops to bring some form of parallelism to the inspec runner (for a single target).

[2018-05-08 16:49] TrevorBramble commented on #2948
@Happycoil Please do jump in!

[2018-05-08 17:11] clintoncwolfe commented on #2929
A fix is in place, PR coming - see https://github.com/chef/inspec/blob/cw/filtertable-fixes/lib/utils/filter.rb#L107

[2018-05-09 08:10] voroniys opened #3030 "Allow file replacement in included profile"
### 🎛 Description

Feature request

We have a great feature inspec.profile.file, but it always read file from the same profile. It would be much greater feature if I could replace file in included profile.
Imagine I have profile_a with control check_a. This control uses data loaded from files/check_a.yml
Now, I include this profile_a in another profile - profile_b. I need exactly the same logic as

[2018-05-09 11:13] voroniys opened #3032 "Add 'where' filter to shadow resource"
### 🎛 Description

Feature request

The resource passwd has very usefull method where, but shadow - does not. But it would be very useful to have method where also for shadow. For instance:
shadow.where {last_change < (Time.now.to_i-7776000)/86400}
check if there are passwords not changed for more than 90 days.

[2018-05-09 17:44] clintoncwolfe opened #3034 "Update docs for shadow resource"
### 🎛 Description

The [docs](https://www.inspec.io/docs/reference/resources/shadow/) for `shadow` describe the legacy `filter` method, while it should likely document the current FilterTable-based `where` method.

### 🌍 InSpec and Platform Version

2.1.60

[2018-05-09 17:46] clintoncwolfe commented on #3032
This feature is available in InSpec 2.x, but appears to be [undocumented](https://www.inspec.io/docs/reference/resources/shadow/).  I've opened #3034 to address that.

There is an existing open ticket, #2980, to backport the `where` method on `shadow` from the 2.x series to the 1.x series.  Based on that, I'm closing this as a duplicate.

[2018-05-09 17:46] #3032 closed, assigned to nobody

[2018-05-10 13:59] clearscreen commented on #2967
@clintoncwolfe It is not, see below.

[code]

[2018-05-10 17:24] clintoncwolfe commented on #3010
@thbar - Thanks for that research into threading on RSpec, that opened my eyes quite a bit!

As for single-target performance, we [track known performance issues](https://github.com/chef/inspec/issues?q=is%3Aissue+is%3Aopen+label%3A%22Aspect%3A+Performance%22). Some of the newer resources - like the AWS resources - have some known performance issues.  If you find anything specific to a particular

[2018-05-10 21:53] pwelch opened #3039 "IPTables Ignore Rule Comments"
### 🎛 Description

🙋 feature request

When using the [iptables resource](https://www.inspec.io/docs/reference/resources/iptables), make it possible to ignore the comment when checking the rule.

Currently, as far as I can tell, you can not ignore a comment for an iptable rule. This causes problems for some dynamically generated rules.

[2018-05-11 18:00] clintoncwolfe opened #3041 "RFC: FilterTable / Plural Resource Standardization and Improvements"
### 🎛 Description

This is an RFC around FilterTable, the support library which implements the "pluralization" features of many resources.

Suggestions:

1.  Provide `where` and `entries` facilities by default.
2. Deprecate the `add_accessor` configuration method; it only has meaning for `where` and `entries`
3.  Rename `params` to `raw_data`
4.  Provide `exist?` by default
5.  Provide `count` by

[2018-05-11 20:44] clintoncwolfe commented on #3041
Refs #2779 #3032 #2955 #2420

[2018-05-11 21:17] clintoncwolfe commented on #2822
I think fix here is two-fold.

First, notice when [we are not on an os](https://github.com/chef/inspec/blob/master/lib/resources/http.rb#L42), and fall back to the local worker in that case.  `inspec.platform.family != 'os'` would do it.

That leaves the case in which we are on an OS that does not have curl installed, or a curl that doesn't behave like we expect.  I suspect that our curl handling

[2018-05-15 10:31] Cmouli7 opened #3050 "Resource Aws_ec2_instance is not supported on platform redhat/7.5"
### 🎛 Description:  Resource Aws_ec2_instance is not supported on platform redhat/7.5

**Choose one:** this a 🐛 bug report

Briefly describe the issue and the expected behavior

### 🌍 InSpec and Platform Version

Use RHEL 7: Red Hat Enterprise Linux Server release 7.5
Use Inspec version 2.1.72

### 🤔 Replication Case

Installed inspec in AWS EC2 instance and ran a very basic inspec tests
[code]

a

[2018-05-15 14:45] voroniys opened #3051 "Allow skip/modification of controls to work for chain includes"
### 🎛 Description

Feature request, but may only be seen as a kind of bug.

Let assume I have following profiles:
Profile_A with controls
A-1
A-2
A-3
Profile_B which includes Profile_A and have modify control A-2 somehow and has own controls
B-1
B-2

Now, I create Profile_C and put in it:
[code]
Naturally I'd expect that only modified A-1,A-2 and, B-2 would be executed. But in current Inspec contr

[2018-05-15 16:21] clintoncwolfe commented on #3050
This is intended behavior.

When run without an explicit `-t` (`--target`) option, `inspec exec` assumes you wish to audit the local system - here, an RHEL 7.5 machine.  When auditing an operating system, you can audit things internal to the OS, like processes, etc, but you can't audit AWS objects - for that, you'd need to target your AWS infrastructure:

[code]

That's just one way of passing AWS

[2018-05-15 16:29] clintoncwolfe commented on #3051
Just to clarify, I added the 3.x release tag not to imply that this won't be addressed until 3.x - but rather, we're planning on looking at some closely related issues around profile inheritance in 3.x, and I'd want this issue to be involved in that discussion.  I don't know enough about the internals to say if this could be implemented in 2.x .

[2018-05-15 16:43] aaronlippold commented on #2966
I also would like to suggest that we add:
  - target ip address
  - target mac address
  - target FQDN
  - target uuid

[2018-05-15 16:45] aaronlippold commented on #2966
This connects to our RSA Archer integration work

[2018-05-15 16:48] clintoncwolfe commented on #1952
This issue doesn't seem to have any information in it.  If someone wants to pursue this and fill in detail, please feel free to re-open.

[2018-05-15 16:48] #1952 closed, assigned to arlimus

[2018-05-15 23:10] clintoncwolfe commented on #2936
It's wrong in the [docs](https://www.inspec.io/docs/reference/resources/azure_resource_group/)

[2018-05-16 00:42] espoelstra opened #3053 "cmp can't handle "interesting" versions on Ubuntu (and possibly Debian)"
### 🎛 Description

 🐛 bug report

I'd really like to see `cmp` able to test a single package version across multiple package providers so I don't have to specify an entire Debian-ized or RHEL/CentOS/Oracle-ized version in the compare when I just want eg `git >= 2.2.9`. If I try `its('version') { should cmp >= '2.2.9' }` on Ubuntu with the git-core PPA enabled it fails even though the recipe instal

[2018-05-16 09:46] james-stocks opened #3055 "Rename `name` method in lib/utils/plugin_registry"
### 🎛 Description

See https://github.com/pry/pry/issues/1535

`binding.pry` fails if `lib/utils/plugin_registry` is loaded, because it defines a `self.name` method

### 🌍 InSpec and Platform Version

2.1.72 from gem

### 💁 Possible Solutions

 * Because the method's purpose is "Register a new plugin by name" it might be better to rename it to `self.register` OR
 * `byebug` seems to work where pry

[2018-05-16 12:53] #2786 closed, assigned to nobody

[2018-05-16 17:16] #2925 closed, assigned to clintoncwolfe

[2018-05-16 18:20] miah opened #3059 "Update inspec.io demo"
Our demo site could use some attention and cleanup. I would love to sit down with somebody with more frontend experience to go over it and improve it.

[2018-05-16 18:24] clintoncwolfe opened #3060 "Make property listings in website docs more useful"
### 🎛 Description

🙋 feature request

Currently, there are sections in the resource docs that list the properties or matchers of a resource; but it's unclear what purpose they serve.  It's not a table of contents (the names are unlinked) and it's not documentation (fully documented resources have a prose description of the property, and then at least one example).

An example is in the [apache res

[2018-05-16 19:12] aaronlippold opened #3062 "Inheritance / dependent profile data passthrough"
###  Description
🐛 bug report // blocker

When you include a control in a dependent profile and modify things like `desc`, `impact` etc. the overlay correctly updates the base control data and use the new data.

However, if you try to modify a 'tag' or 'ref' in the using `include_controls "myprofile"` - the data is not updated as expected and is still using the data from the base profile.

This is

[2018-05-17 09:13] Cmouli7 commented on #3050
Thanks for your response. Inspec rpm is installed in RHEL 7.5 machine where AWS infrastructure is also built. I am trying to run inspec tests directly on the RHEL 7.5 machine. Does it still require AWS credentials to be set up?

[2018-05-17 14:01] skpaterson opened #3066 "Profile option "inspec_version" is only recognised from the inspec.yml being executed and not any dependent profiles"
### 🎛 Description

🐛 bug report

Inspec profiles using "depends" don't pick up "inspec_version" from the dependent profiles.  If a dependency has a minimum inspec version specified, it would be desirable if this was respected.

### 🌍 InSpec and Platform Version

2.1.78

### 🤔 Replication Case

When a profile has a 'depends' section such as:
[code]
And the dependent profile inspec.yml at the approp

[2018-05-17 14:48] chris-rock opened #3067 "inspec vendor not working for git dependencies"
### 🎛 Description

Create a new `inspec.yml` that looks like:
[code]

Then run `inspec vendor .`:
[code]

Shows that the directory structure is not correct:

[code]

The subdirectory `d20180517-36416-1avoz2b` should not exist and everything should be in `836da0196e894c980153f729d7a1f476ed7e43b8`

### 🌍 InSpec and Platform Version

2.1.80

### 🤔 Replication Case

See above

### 💁 Possible Solutions

[2018-05-17 17:59] chris-rock commented on #3062
I think we've never had that use-case before, but it make sense from the usecase perspective. We just need to figure out the detail how this is written.

[2018-05-17 20:54] jazaval opened #3069 "Port resource does not detect listening ports on macOS / Darwin"
🎛 Description
It seems like the port resource cannot detect listening ports on macOS.

🌍 InSpec and Platform Version
2.1.72 / `mac_os_x`

🤔 Replication Case
[code]
Actual `lsof` output:
[code]
💁 Possible Solutions
`lsof` parsing in `lsof_parser` may need to be updated, or a different `lsof` command could be run in the `LsofPorts` class.

💻 Stacktrace
n/a

[2018-05-17 21:29] darksheer commented on #431
Is fixing this without the 'goofy' work around still blocked on https://github.com/chef/train/issues/163 ?

[2018-05-18 16:17] clintoncwolfe commented on #3050
In order for any AWS client (which would include terraform, cloudformation, InSpec, etc - anything that must talk to the AWS API) to communicate with the API, it must authenticate to do (almost) everything.   While there are ways to do that implicitly with some tools, InSpec currently requires an explicit set of credentials in most cases (again, see #2560 for a request to enable implicit authentic

[2018-05-18 16:44] jazaval commented on #3069
I don't know how I missed using `--sudo` for `inspec exec`. Closing!

[2018-05-18 16:44] #3069 closed, assigned to nobody

[2018-05-18 17:02] jquick opened #3072 "Package resource inexplicably fails to find certain installed packages on Windows Server 2016"
### 🎛 Description

🐛 bug report

Package resource inexplicably fails to find certain installed packages on Windows Server 2016

**Expected Results:**
e.g. Microsoft SQL Server 2012 Command Line Utilities is found

**Actual Results:**
e.g. Microsoft SQL Server 2012 Command Line Utilities is not found

**Repro Steps (if possible):**
 Spin up a Windows Server 2016 instance, install Microsoft SQL Serv

[2018-05-18 17:03] jquick commented on #2614
This is done.

[2018-05-18 17:03] #2614 closed, assigned to nobody

[2018-05-20 23:42] espoelstra commented on #2971
Does it follow chef-client where `--format min` is the alias for dot format?

[2018-05-21 08:15] Cmouli7 commented on #3050
Gotcha! Thanks again for explaining it in detail.

Will test it by setting up credentials and with -t aws://

[2018-05-21 12:53] nicutor commented on #2113
+1

[2018-05-21 14:55] mbhavya opened #3073 "Inspec not working on RHEL 6.9 systems"
#### Description:
Inspec is crashing on RHEL 6.9 when attempting anything.

#### Expected Results:
`inspec exec <profile_name>` should execute tests in profile and show results

#### Actual Results:
<pre>
inspec exec /compliance_profile --reporter=json
/opt/inspec/embedded/bin/ruby: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /opt/inspec/embedded/lib/libruby.so.2.4)
/opt/inspec/e

[2018-05-21 16:04] mbhavya commented on #3073
@jquick - can you please take a look at this ? thanks.

[2018-05-22 08:19] mbhavya commented on #3073
Closing this since newest version `2.1.83-1` is working correctly.

[2018-05-22 08:19] #3073 closed, assigned to nobody

[2018-05-22 17:19] bruce-one commented on #3017
A thought could be to have a "roadmap" (or "pending" or maybe "underway"?) annotation that means "I know this doesn't pass yet, but it will start passing at some point, and if goes back to non-compliant from there, _then_ start telling me about it".

I sort of see it in combination with the waivered until date concept: we want to be compliant with _x_ by date y, but maybe we'll get it done early -

[2018-05-22 17:22] frezbo commented on #3017
@bruce-one are you talking about POAM's?

[2018-05-22 19:45] jcowhigjr commented on #2897
I see a similar issue.

describe file('foo') do
  its('mode') { should eq 0750 }
end

passes correctly but in the output:
     ✔  mode should eq 488

inspec version -> 2.1.0
Your version of InSpec is out of date! The latest version is 2.1.83.

[2018-05-23 18:43] chris-rock commented on #2722
This is solved via chef/train#283 Read more about it at https://t.co/y0A7146v44 and https://github.com/inspec/inspec-gcp

[2018-05-23 18:43] #2722 closed, assigned to nobody

[2018-05-23 20:47] scalp42 commented on #450
Has anyone figured a workaround regarding passing ENV variables while still using sudo?

[2018-05-23 22:55] clintoncwolfe opened #3075 "Generate language packs for Atom and other editors"
### 🎛 Description

🙋 feature request

Blocked by #2688

Attn @tas50

If resources self-documented their parameters, criteria, properties, and matchers, we'd be able to generate autocomplete data for popular editors and integrate that into our builds.

### 🌍 InSpec and Platform Version
2.1.83

[2018-05-24 23:34] espoelstra commented on #2165
This seems like a good idea, and having the "supermarket" source attempt to use the git fetcher first and then falling back to the https one would probably make more sense than the current "warning" printed suggesting to use the git resource when the whole goal of using supermarket was to care less about the protocol and more about the "trusted" source.

[2018-05-25 18:12] juliandunn commented on #3025
The `-a` is not necessary and introduces a performance penalty.

[code]

[2018-05-27 05:01] clintoncwolfe opened #3082 "Allow regex for --controls when using inspec exec"
### 🎛 Description

🙋 feature request

Currently, when cherrypicking controls to execute using the `--controls` option to `inspec exec`, you must write the full name of the control.  If you are running multiple controls, this is burdensome.

It would be great if you could use a regular expression to specify the controls you wish to run:
[code]

### 🌍 InSpec and Platform Version

2.1.83

### 💁 Possi

[2018-05-27 23:00] FilBot3 opened #3083 "'undefined local variable or method' when using custom resource"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

I was trying to create a custom resource to be used, and ran into the error above, but with my resources name. So then I figured, I'll copy the examples straight from the inspec repository. However, I ran into the same error about `undefined local variable or method` and whatever my resource name was. The output is di

[2018-05-28 03:32] paulcalabro opened #3084 "xinetd_conf is returning "Can't find file: <service name>""
### 🎛 Description

**Choose one:** 🐛 bug report

I'm trying to ensure that the following legacy services are not loaded by xinetd:

[code]

I'm getting the following unexpected response, however:

[code]

(note: only `telnet` was apparently found)

The command is also returning a an exit code of `101`.

I would instead expect the following:

- fail for being enabled
- pass for being disabled
- pas

[2018-05-28 04:58] paulcalabro commented on #3084
Nevermind-- just reread:

I'll implement a check on my end instead.

[2018-05-28 04:58] #3084 closed, assigned to nobody

[2018-05-28 06:00] juliandunn commented on #1410
I am pretty sure this is fixed with PR#185 in train https://github.com/inspec/train/pull/185/files

[2018-05-29 21:14] #1825 closed, assigned to jquick

[2018-05-29 21:16] miah opened #3088 "Sequel for native SQL server connections"
This is a feature request to change the way our database resources function. Currently, our database resources shell out to a client program and parse its output. Instead of requiring users to install additional software, we could connect natively through Ruby.

In the past I've used [sequel](https://github.com/jeremyevans/sequel) as it has adapters for all common databases.

We could also conside

[2018-05-29 21:19] chris-rock commented on #3088
That is a great idea @miah As you said, it would be preferable to have:
- train support sql as a backend
- specific sql resources for executing sql
This would allow us to write tests against a database even if you have no access to the underlying host that runs the database.

[2018-05-29 21:28] chris-rock commented on #1341
superseeded by #1659

[2018-05-29 21:28] #1341 closed, assigned to nobody

[2018-05-29 21:52] #1716 closed, assigned to jquick

[2018-05-29 22:55] chris-rock opened #3089 "RFC: InSpec Plugins"
InSpec is covering a lot of test surface ranging from operating systems (AIX to Linux & Windows) as platforms like AWS and Azure. GCP and VmWare integration is on the horizon. Users request more and more extension points. On the other hand it becomes challenging to maintain all integration via in the core team.

## Current State

# Installation #

The current way to install plugins is complicated

[2018-05-30 09:33] voroniys opened #3090 "Key collisions in ini resource can trigger noisy warnings from Hashie::Mash"
### 🎛 Description

bug report

When executing the following check:
[code]
I've got the following warning message:
[code]

The warning is caused by processing the following line in the krb5.conf file:
[code]

To my mind I should not get any warning since I'm not testing the line in question at all. Ini files can contain a lot of conflicting stuff in this way and to my mind the warning should be sho

[2018-05-30 14:25] voroniys opened #3091 "Bug with combination of include_controls and require_controls"
### 🎛 Description

bug report

Suppose I have basic profile_a. Than I create a profile_b which includes profile_a using include_controls

Now I create profile_c in which I need only small subset of profile_b and profile_a without several check.
So I set:
[code]
My expectations that will be executed controls A & N from profile_b and all controls of profile_a, except X & Z
But in the run I've got on

[2018-05-30 14:38] voroniys commented on #3051
By accident I've found kind of workaround for the described situation, although this workaround can be seen as a bug by itself. In the example above it is possible to skip control 'A-3' in Profile_C:
[code]
The buggy part of this workaround is that in summary all tests from Profile_A will be counted double. I.e. if Profile_B has 3 controls with 2 tests each and Profile_A 5 controls each 2 tests (s

[2018-05-30 15:40] burtlo opened #3092 "Atom text editor plugin resides in the chef-training organization"
### 🎛 Description

🙋 feature request

https://github.com/chef-training/language-inspec is a plugin for Atom that provides language and snippet support.

I would like to transfer ownership to this organization.

To generate all the snippets I used ERB to specify a base snippet template. Then I collected the list of all the resources and generated the resulting output CSON. During the ChefConf 2018

[2018-05-30 17:00] clintoncwolfe commented on #3092
We're looking at improving the Registry API (or something similar) to allow the properties, etc to be enumerated more accurately.  And yes, we plan to add this to the build eventually.  Thanks for all your work on this!

[2018-05-30 18:20] jquick commented on #3091
Thanks for this @voroniys !
Related to https://github.com/inspec/inspec/issues/2950

[2018-05-30 21:48] majormoses commented on #1522
I'd also very much like to see `shared_examples` implemented, its a standard `rspec` construct which both `serverspec` and `inspec` are based on. The more standard `rspec`things we support the easier it is to get someone else to write a test for it. Not everyone spends all their day in chef and app developers who know rspec should be able to pick this up quickly. I think a very clear example would

[2018-05-30 22:49] jeremymv2 opened #3094 "Exceptions in bare control code trigger stacktrace in inspec 1.x"
### 🎛 Description

With the following profile:
[code]
Running `inspec archive /path/to/profile` with latest 1.x version (1.51.25) results in this stacktrace:

[code]

### 👑 Reason for concern
This affects Chef Automate v1 customers since we have InSpec appbundled with version locked to `1.51.18` meaning they cannot upload compliance profiles utilizing the `mount.mounted?` method.

### 🌍 InSpec and

[2018-05-31 09:47] voroniys opened #3095 "All dependencies are preloaded no matter if they are used or not"
### 🎛 Description

bug report

It looks like inspec always preload all profiles that are mentioned in depends: section of inspec.yml
If then in the logic some profiles are excluded they are still reported with no test executed. But what is worse - the are preloading resources, for instance parsing files and so on. If some of these files are big and complex it introduces quite a performance penalty

[2018-05-31 11:27] frezbo commented on #3095
I think that's the expected beahviour. If you have a test that has something like this:
[code]

it will preload as inspec has also a compile/run phase AFAIK. Maybe the maintainers can give a clear idea.

[2018-05-31 13:17] voroniys commented on #3095
Yes, I know that it is how current inspec is implemented. But my point is that implementation is fundamentally wrong from point of view of performance. Especially wrong because source of the included profile can be URL, profile can be quite big and outside connection can be poor. A lot of effort to download profile and preload them will be done in vain.

My point is that 'load' in runner should lo

[2018-05-31 13:19] frezbo commented on #3095
you mean it should only download if explicitly loaded as `include_controls`.?

[2018-05-31 13:22] voroniys opened #3098 "mount resource does not accept path with '+' sign"
### 🎛 Description

Bug report

While testing an oracle server I've found that + sign is breaking mount resource:
[code]
but
[code]

### 🌍 InSpec and Platform Version

inspec --version
2.1.72

[2018-05-31 13:28] jquick commented on #3072
So it looks like either the SQL tools do not provide a registry entry for uninstall or they are named differently.

[2018-05-31 13:30] voroniys commented on #3098
In fact this is the issue with inspec.backend.file:
[code]

[2018-05-31 13:52] voroniys commented on #3098
Pull request 306 for inspec/train is created to fix this issue

[2018-05-31 14:06] voroniys commented on #3095
yes, exactly!
But they are not only downloaded, the are preprocessed. That is how I fond this bug - I was getting a warning message (see #3090) which never should appear, because control that cheks krb5.conf file was in another case alternative and ahould never be executed. So this means that ini() resource was executed and file was loaded and parsed for nothing!

[2018-05-31 14:25] aaronlippold commented on #3095
we have run into this as well. Right now it is an artifact of how inheritance works with InSpec. The InSpec team is working on a rebuild of inhertiance of InSpec in general and this issue is on the roadmap for resolution. @jquick @arlimus @chris-rock can we make sure this is added to the RFC.

[2018-05-31 15:36] voroniys opened #3099 "file resource returned type differs for local and remote"
### 🎛 Description

bug report

in my oracle server path '/oracle' is symlink. And this bug breaks my checks when I execute test remotely.
If I test it local it localy:
[code]
but if I test it remotely:
[code]
### 🌍 InSpec and Platform Version
 inspec --version
2.1.72

### 🤔 Replication Case

See above

### 💁 Possible Solutions

I belibe the cause of the issue is in the 'train' gem file 'lib/train/

[2018-05-31 15:56] voroniys opened #3100 "file resource link_path always traces link to the target"
### 🎛 Description

bug report
could be related to #3099
situation:
[code]
I need to check that /link points to /another_link and I don't care where /another_link points, but it looks like impossible, because:
[code]

### 🌍 InSpec and Platform Version

inspec --version
2.1.72

### 🤔 Replication Case

see above

[2018-05-31 16:11] #3025 closed, assigned to nobody

[2018-05-31 17:18] frezbo commented on #3100
I have seen this behavviour when checking symlinks to `/dev/stdout`, it used to follow every symlink and it finally returned me a FD

[2018-05-31 17:53] #3067 closed, assigned to jquick

[2018-05-31 18:01] voroniys commented on #3100
Tracing link down to the target is surely useful function,  but in inspec we need to be able to check any conditions. In current implementation it is impossible to check that symlink is pointing another symlink.

[2018-05-31 18:04] jquick opened #3101 "InSpec Ruby 2.5 compatability"
Make sure all the 2.5 tests pass and InSpec works accordingly in the current version of InSpec.

[2018-05-31 19:04] clintoncwolfe commented on #3095
One partial workaround is to use `inspec vendor`; you mention that the download phase is painful.  `vendor` will download the profiles ahead of time, and then load them locally on the next run.  It will still execute/parse unused profiles, but it will skip the network effort.

[2018-05-31 23:53] clintoncwolfe opened #3103 "Install common FilterTable methods by default"
### 🎛 Description

🙋 feature request

Nearly every resource that uses FilterTable does this series of calls:
[code]

When we don't install one of those methods it always comes back to haunt us, usually as a missing feature issue.

Let's install them by default, without requiring they be specified in the resource code.  I also suggest this as a standard method:

[code]

Note that we can replace the

[2018-06-01 03:41] clintoncwolfe commented on #1346
Refs #3017

[2018-06-01 05:50] voroniys commented on #3095
The network issues can be just additional factor. In my situation all profiles are local, but from ~1m15s total execution time approx. 20 seconds is loading of unnecessary profiles (yes, mine profiles are big - hundreds of controls, almost thousand checks).

[2018-06-01 13:42] jquick commented on #3072
Ok found the issue here, looks like its written to the registry with a trailing space:
[code]
Seems to work. I'll see if there is a way to trim this, else maybe we can do a `*` and trim and check on our end.

[2018-06-01 13:55] jquick commented on #3072
Proposed solution is to use `-match` instead of `-like` Ex:
`Where-Object { $_.DisplayName -match "^\s*#{package_name}\s*$"`

[2018-06-01 14:03] jquick commented on #3072
Confirmed `-match` is valid on the original powershell 3 https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/where-object?view=powershell-3.0

[2018-06-01 14:38] jquick opened #3107 "Allow custom resources to access each other"
### 🎛 Description

Currently when loading up a custom resource it will be bound with the `inspec.backend` generated on startup which only includes core resources. We need a way to either create a on demand for all resources called from `backend` or rebuild when loading custom libraries.

[2018-06-01 14:39] #3072 closed, assigned to jquick

[2018-06-01 15:36] jquick commented on #2873
Yes, you will be able to install via omnibus without issue but the gem version of inspec i think still has issues. We currently do not support inspec as a AIX as a standalone gem install.

[2018-06-01 17:09] jquick commented on #2844
This issue with multiple requires is working fine under the newest version of inspec 2.0. The issue with pathing and require_relative will be handled in #2861

[2018-06-01 17:09] #2844 closed, assigned to nobody

[2018-06-01 18:16] clintoncwolfe opened #3109 "Provide 'they' and 'their' aliases for plural resources"
### 🎛 Description

🙋 feature request

When working with plural resources (those that operate on groups of platform objects, typically filtering them and auditing their properties in bulk), we currently use this sort of expression:

[code]

It's perfectly sensible for singular resources (imagine describing a single car: its license plate, it exists, etc).  But it reads awkwardly for plurals, and re

[2018-06-01 18:47] clintoncwolfe opened #3110 "Ensure that FilterTable entries structs do not expose internals"
### 🎛 Description

🐛 bug report

Ensure that block-valued properties (which do not sensibly have a per-row value) do not appear in the structs returned by entries. One example is exist?.

For example, if you have a resource using FilterTable like this:
[code]

If you examine `entries`, you'll see something odd:
[code]

The key `exist?` is spurious - its value will always be nil, and its presence a

[2018-06-01 21:33] skull-squadron commented on #1679
@chris-rock The cause of this issue has a detailed explanation and possible solution here https://github.com/chef/appbundler/pull/34

[2018-06-03 14:29] aaronlippold commented on #3109
👍

[2018-06-04 10:54] voroniys commented on #3095
Just found yet another issue with the blind pre-loading of all dependencies - these profiles could contain some ruby code that will just fail if executed on wrong system, just because some softweare is not installed.
This is even more serious issue, that previous performance one, since the whole execution has failed without executing a single check.

[2018-06-04 11:13] james-stocks opened #3112 "Is it possible to test actual value of $PATH for the root user?"
### 🎛 Description

Marking this as question - not sure if this bug, enhancement or a documentation item

The compliance benchmark I am trying to apply to my RHEL7 servers includes a test of the value of `$PATH` for the root user.
This does not seem straightforward because the value of `$PATH` depends on whether you are actually `root` or just a sudo'd non-root user; and whether you are checking $P

[2018-06-04 11:29] james-stocks commented on #3112
This appears to be equivalent to `$PATH` when logged in as root:

[code]

...but I would need the control to skip if inspec is neither running as root nor using `--sudo`

[2018-06-04 12:18] voroniys commented on #3112
I don't think it is possible without being able login as root. PATH can be changed in a lot of places, like /etc/profile, /root/.bashrc and so on. These scripts in turn can be modified to include another, non-standard scripts. And only by real login it will be assembled all together into PATH environment variable.

[2018-06-04 13:18] james-stocks commented on #3112
Thanks @voroniys - I've filed a ticket with the publisher of the benchmark I'm working with to clarify that their test is intended for for a "real login" and the value of `PATH` from a simple ssh command is n/a or would be a different test

I've found that `os_env('PATH').content` gives a result consistent with being logged in as root; but I'm unsure this will always be consistent.

I also intend

[2018-06-04 15:32] jeremymv2 opened #3113 "auditd resource fails to parse status"
### 🎛 Description

2.1.67 version of `auditd` resource fails to correctly parse the `-s` (status) output on some systems.

As seen on Redhat's docs [page](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/security_guide/sec-defining_audit_rules_and_controls) for RHEL7, the output looks like:
[code]

However, on a CentOS 6/7 system I see:
[code]

### 🌍 InSpec and Platfor

[2018-06-05 04:46] #2929 closed, assigned to clintoncwolfe

[2018-06-05 04:46] #2943 closed, assigned to nobody

[2018-06-05 09:01] james-stocks commented on #3113
It looks like you might see either output on RHEL7 depending on the version of `auditctl`

[code]

[code]

[2018-06-05 12:53] james-stocks commented on #3017
`controls expected to fail` would be really useful for testing of profiles; because we'd want some negative testing (i.e. we need to see the control correctly fail for a non-compliant target host).
Also our test VMs are never 100% compliant and it would be great to run non-compliant controls and assert they result in a specific expected failure rather then skip them.

[2018-06-06 02:35] #3103 closed, assigned to nobody

[2018-06-06 02:35] #3110 closed, assigned to nobody

[2018-06-06 10:44] james-stocks opened #3116 "Service resource might be missing :runlevel info"
### 🎛 Description

Seen on a RHEL7 host (`ami-223f945a` on EC2)

When I was testing in inspec shell exactly how runlevels work; I noticed the following output that looks wrong:

[code]

(I played with other services that appear in `chkconfig --list` so this does not appear specific to `rhnsd`)

Peeking at what `:info` the service has, it appears to be missing the `:runlevels` key that the [service

[2018-06-06 10:47] james-stocks commented on #3112
Closing as per last comment - `os_env` appears to work (I think there will be cases where it can be tripped up, but such cases should be filed as a new and more specific issue) and I just needed an `only_if` condition on my control to avoid a false result if inspec is running as non-root.

[2018-06-06 10:47] #3112 closed, assigned to nobody

[2018-06-06 11:05] james-stocks commented on #3116
I think this condition isn't totally correct:

https://github.com/inspec/inspec/blob/master/lib/resources/service.rb#L139

[code]

On this RHEL 7.4 host the condition is true and I get a `Systemd` .

If I hack this to give me a `SysV` instead then I get my `runlevels`

[code]

[2018-06-06 11:18] frezbo commented on #3116
if this is a RHEL7.4 machine, why using `chkconfig` instead of systemd. The inspec code seems right.

[2018-06-06 13:08] james-stocks commented on #3116
@frezbo you are right. I need to support both RHEL6 and RHEL7 and missed the difference in this case.
Thanks!

[2018-06-06 13:08] #3116 closed, assigned to nobody

[2018-06-06 15:17] majormoses commented on #338
I think `shared_examples` needs to be implemented/supported in inspec see: https://github.com/inspec/inspec/issues/1522#issuecomment-393330869

[2018-06-06 15:56] #3107 closed, assigned to nobody

[2018-06-06 17:38] clintoncwolfe commented on #3041
I've determined that 6 and 8 are likely impossible - we don't know the fields in the raw data until we get the raw data, which is after the table methods are generated.  We could postpone table method generation until after the raw data fetch, but that would mean attaching new methods to an instance, which would be a whole different approach.

[2018-06-06 18:13] #3034 closed, assigned to nobody

[2018-06-07 05:49] jayhendren commented on #1522
@parameshdsn I think you need to open a new, separate issue.  This issue is a feature request for something similar to Rspec's `shared_examples` feature.

[2018-06-07 05:51] parameshdsn opened #3118 "Question about testing SQL Server"
Hi All, We are automating our infrastructure using ansible. We want to validate all the automation using inspec. For the same i am getting trouble to find the inspec test cases for them. I am stuck with the Database inspec test cases:
 * verify the user of the SQL services is C2WTS service account.
 * Unable to validate the databases in sql server.
 * Testing specific database users and roles.

Pl

[2018-06-07 08:23] parameshdsn opened #3119 "Check drive size and format on Windows"
windows float form.

[2018-06-07 10:10] mikejmcfarlane opened #3120 "aws_iam_policy have_statement matcher docs should match implementation for key type"
### 🎛 Description

 🐛 bug report

Documentation (https://www.inspec.io/docs/reference/resources/aws_iam_policy/) for the `aws_iam_policy` shows some examples with the `have_statement` where the variables are plain text key value pairs. Running this produces an error. It appears that a json formatted key value pair is required.

### 🌍 InSpec and Platform Version

Inspec version 2.1.84
CentOS Linux

[2018-06-07 12:38] chris-rock commented on #1522
@majormoses Thank you for your feedback. I understand your intention and the idea to use shared tests no matter if you are testing a elastic search master or client.

We are not supporting the RSpec approach, because we think this is too complex and difficult to read. The syntax makes it very difficult for non-Ruby developers to understand the behavior. We aim to keep the controls and test descrip

[2018-06-07 12:40] chris-rock commented on #1522
@parameshdsn I agree with @Poohblah that this should be a separate issue. Please state the error that you face in that issue too.

[2018-06-07 15:57] majormoses commented on #1522
Playing devils advocate here: profiles are more difficult for non chef folks than a shared example. This creates a further wall between app developers and infra developers. From my experiences in order to really leverage chef you need some basic ruby skills, pretending you don't is a fallacy. I am all for making it easier for people who don't want to learn a lot of ruby but not at the cost of thos

[2018-06-07 16:02] majormoses commented on #1522
I think I am gonna go more the more custom resource route for my chef projects over profiles if `shared_examples` will not be implemented as I think its a more natural replacement for `shared_examples` than profiles but again I question this making it easier.

[2018-06-07 16:55] jerryaldrichiii commented on #2485
Closing this due to it's age and the resolution in #2726

Please reopen if this is still an issue.

[2018-06-07 16:55] #2485 closed, assigned to jerryaldrichiii

[2018-06-07 18:41] #2581 closed, assigned to miah

[2018-06-08 14:05] cchaffee opened #3123 "apache_conf resource needs better parsing support of apache configuration files"
@jerryaldrichiii From the chats in the inspec channel yesterday.

### 🎛 Description

**Choose one:**  🙋 feature request

`apache_conf` inspec resource needs to handle parsing keys and values of the `httpd.conf` better.

### 🌍 InSpec and Platform Version

Inspec version 2.1.43
Platform: CentOS 7

### 🤔 Replication Case

Steps to replicate:
1. Grab a default created `httpd.conf` (or use the one atta

[2018-06-08 14:09] aaronlippold commented on #3123
@jquick @jerryaldrichiii and folks - we touched on this a while back if I recall. Thoughts?

[2018-06-08 16:44] clintoncwolfe commented on #3094
Refs #2987

[2018-06-08 17:09] jeremymv2 commented on #3094
Thanks @clintoncwolfe

[2018-06-08 17:47] jerryaldrichiii commented on #3123
I don't recall. That being said it looks like I have enough info here to try and reproduce.

Could you re-upload the httpd conf? I can't seem to extract it. If it's just a single text file then you could upload it as plain text or use a Gist too.

[2018-06-08 18:40] cchaffee commented on #3123
https://gist.github.com/cchaffee/4b2504ef0cc20dc0aae8658fb3ab3244

Gist with source code of httpd.conf

[2018-06-08 19:48] jerryaldrichiii commented on #3123
Thank you @cchaffee! I'll give this at the start of next week.

[2018-06-08 21:22] jayhendren commented on #1522
@majormoses I thought about doing the custom resource approach as well - the issue I ran into was that existing matchers/resources are not available from within custom resources, and I was hoping to do something along the lines of creating reusable test libraries out of existing matchers, which is exactly what `shared_examples` is good for.

[2018-06-08 22:27] majormoses commented on #1522
@Poohblah Gotcha thanks for the heads up as I am sure I would have run into that. It just feels wrong to have to define it as a lib function but thats clearly the best path forward unless the maintainers change their mind.

@chris-rock I think this is a perfect example of why you can't stop people from doing smart things and attempting to preventing them has only decreased the readability further.

[2018-06-08 23:17] majormoses commented on #1522
Can I propose adding it as `inspec/shared-examples` or something that is not included by default and then those that want to use it can just `require 'inspec/shared-examples'` in their tests.

[2018-06-08 23:35] clintoncwolfe commented on #3120
I think modifying to accept either Strings or Symbols would probably be best.

[2018-06-10 06:23] huynt1979 commented on #1522
I'm not an expert in Inspec but imho the lacking of a straightforward mechanism to write reusable & parameterized tests seems to defeat the purpose of making Inspec 'simple'. While I do believe custom resources in general can solve this, it can not be compared with serverspec's `shared_example` in terms of simplicity and ease of use.

Our use case for leveraging serverspec's  `shared_example` is v

[2018-06-11 07:33] parameshdsn commented on #3119
I need to check drive size and drive letters format should be displayed  using inspec test cases.

[2018-06-11 12:12] #3113 closed, assigned to nobody

[2018-06-11 17:22] jerryaldrichiii commented on #3118
@parameshdsn you have a few options here. For testing queries and database specific things you can use the `mssql_session` resource see: https://www.inspec.io/docs/reference/resources/mssql_session/

For anything else, if there isn't a resource to cover it you can fallback to using the `powershell` resource see: https://www.inspec.io/docs/reference/resources/powershell/

Does that help?

[2018-06-11 23:20] clintoncwolfe commented on #3119
To check file paths - including drive letters - one can use the [File resource](https://www.inspec.io/docs/reference/resources/file/).

[code]

While the [mount resource](https://www.inspec.io/docs/reference/resources/mount/) is usually used to detect filesystem types (what I take to be what you mean by "formatting"), unfortunately there is no support for it on Windows.  At the present time, the [

[2018-06-12 06:47] parameshdsn commented on #3119
@clintoncwolfe  thank you so much its working.
I want to check disk size and drive letter in single code.

[2018-06-12 09:35] james-stocks commented on #2334
It would be good to increase the documented `auditd` version number up to the actual version number where the `/^LIST_RULES:/` check works.

We should also consider supporting the `/^LIST_RULES:/` output format since there are RHEL7 production hosts out there that use this format.

[2018-06-12 10:25] #3101 closed, assigned to nobody

[2018-06-12 11:01] pkleanthous-zz commented on #2571
Hi there,

Do we have an estimation when inspec will use SDK v3?

I'm trying to use the awspec library inside inspec and getting the following error:

[code]

[2018-06-12 16:41] clintoncwolfe commented on #3119
I'm not clear on what you're asking for - "in single code".  There is no resource that does everything you want ( though I suppose you can do anything at all in a single powershell resource).  TYpically, if you have multiple tests that are related, you group them in a control:

[code]

[2018-06-12 16:44] clintoncwolfe commented on #3094
I've changed to the title to clarify that this is a more serious, widespread issue; not just affecting `mount`.

[2018-06-12 17:13] trickyearlobe commented on #3120
You might consider down-casing and normalising to symbols or strings in the validator.

This applies to both keys and values (eg. we have an example or `allow` instead of `Allow` for the Effect field which seems a bit mean to reject)

In addition, sometimes the actual IAM policies contain inconsistent case if they have been edited by hand.

[2018-06-12 18:16] clintoncwolfe commented on #3083
I'm not sure if this is a docs flaw or an actual bug; temporarily tagging it support until I do a full repro.

[2018-06-12 21:11] clintoncwolfe opened #3128 "RFC: Consider defining a "maturity path" and stability metadata field"
### 🎛 Description

🙋 feature request

We'd like to be able to express the stability of individual resources (and ideally, individual features) in a robust way.  This was [proposed before](https://github.com/inspec/inspec/blob/47c6427082d5622b77bb0769229cd8fab9dec62c/docs/README.md#stability-index) in the earlier days of InSpec.  With cloud platform support, we see a tension between wanting to offe

[2018-06-12 22:03] clintoncwolfe commented on #3053
`cmp` is already pretty magical, and without having any way of knowing it is even doing a version comparision (let alone a platform-specific OS package version comparision) I don't think this is something we should attempt on cmp.

I think a custom matcher on the package resource would be less dangerous.  You might us it like:

[code]

`cmp` might be faced with literally anything on either side.

[2018-06-13 06:41] mattray commented on #2334
https://github.com/chef/compliance-profiles/pull/540 is related, fixes 2.4.x support

[2018-06-13 06:45] mattray commented on #2334
We can either update the documentation that 2.4 or later is required (which is RHEL 7.1 or later) or update the code to support 2.3. If you upgrade RHEL 7.0 to the latest it installs 2.8.1

[2018-06-13 07:31] chris-rock opened #3131 "Deprecate Azure Generic Resources"
### 🎛 Description

In InSpec we want to ensure by design that we build a predictable system. That means need need to minimize runtime issues and offer a stable resource definition. The `azure_generic_resource` proofed to be not stable and do not recommend its use.

### 🌍 InSpec and Platform Version

2.x

### 🤔 Replication Case

See https://github.com/inspec/inspec/issues/3096

### 💁 Possible Solut

[2018-06-13 07:32] chris-rock commented on #3131
Related discussion is https://github.com/inspec/inspec-gcp/issues/25

[2018-06-13 08:27] chris-rock commented on #3128
I really like the idea of adding the stability index to resources. I think we also need to define a clear path for resource to get into inspec core. e.g. only stable and locked resources should be in core, all other resources should be in resource packs. That allows us to balance velocity/features with stability.

[2018-06-13 08:56] chris-rock opened #3133 "VmWare ESXi support"
We want to bring full support for VmWare into InSpec. VmWare is considered similar to AWS and Azure as a separate platform. Therefore we want to be able to connect to VmWare ESXi host via `inspec exec test.rb -t vmware://user:password@host`

At this point, we have two competing solutions with their own advantages and disadvantages

* [rbvmomi](https://github.com/vmware/rbvmomi )
* [PowerCLI](https

[2018-06-13 14:00] alexpop opened #3135 "Inspec exec report for inherited profiles with different name"
### 🎛 Description

🐛 bug report

The inspec report for a wrapper profile with the following `inspec.yml`:
[code]

will have this content:
[code]

without an easy way to link depends name `cis-rhel7-level2-server-v2.1.1` with inherited profile name `cis-rhel7-level2-server`
### 🌍 InSpec and Platform Version

[code]

### 💁 Possible Solutions

Add a `profile_name` or similar field in depends with the

[2018-06-13 14:34] james-stocks opened #3136 "shadow resource no longer has `passwords` property after Inspec 2.0.32"
### 🎛 Description

🐛 bug report

The following control is no longer valid from 2.0.45 onwards:

[code]

### 🌍 InSpec and Platform Version

1.5.21 - works
2.0.32 - works
2.0.45 - does not work

Target host is RHEL 7 instance on EC2 where `/etc/shadow` contains `"root:!!:17534:0:99999:7:::\nbin:*:16925:0:99999:7:::\ndaemon:*:16925:0:99999:7:::\nadm:*:16925:0:99999:7:::\nlp:*:16925:0:99999:7:::\nsync

[2018-06-13 15:01] danielcbright opened #3137 "Unable to upload new version of compliance profile"
### 🎛 Description

🐛 bug report

When uploading a newer version of a custom compliance profile, with a new version defined in `inspec.yml` I expect it to upload the newer version of the profile to the A2 Compliance store and for both versions to be available. What's actually happening is I can't upload the profile. I get the following error:

[code]

### 🌍 InSpec and Platform Version

Inspec Versi

[2018-06-13 17:44] clintoncwolfe commented on #3128
I think there is a place in inspec core for experimental resources / features, especially if they are disabled by default or trigger warnings when used.  I see several motivations for this:
* **Publicity**.  If people want to know if InSpec supports GCP (for example), they look at inspec, and inspec.io .  Having experimental resources listed on the main website and github repo (and clearly marked

[2018-06-13 17:59] clintoncwolfe commented on #2592
Closing in favor of #3139 for clarity

[2018-06-13 18:40] jjasghar commented on #3133
https://github.com/jjasghar/powercli-inspec is a custom resource to help wrap PowerCLI for a stop gap.

[2018-06-13 21:44] clintoncwolfe commented on #3137
Verified, the clobber check does not ask about version - see here https://github.com/inspec/inspec/blob/33fc15582ad8134cb6d948bb59b622a34dc62454/lib/bundles/inspec-compliance/cli.rb#L178

[2018-06-13 21:45] clintoncwolfe commented on #3136
Refs #2992

[2018-06-13 21:58] clintoncwolfe commented on #2859
We do try to follow semantic versioning; the shadow incident was isolated.  We also have CI tagging in place.

[2018-06-13 21:58] #2859 closed, assigned to nobody

[2018-06-13 22:49] bshurts opened #3141 "windows_feature resource fails on windows client OS types"
### 🎛 Description

🐛 bug report

After installing a Windows feature on a client OS like Windows 10 the windows_feature resource in a test always fails due to the `Get-WindowsFeature` cmdlet not being available on client operating systems.

https://github.com/inspec/inspec/blob/7b23fa479c516beaa0bd81d209ecf63133af2488/lib/resources/windows_feature.rb#L55
Even if you install that module onto a clien

[2018-06-14 00:36] clintoncwolfe commented on #3135
@jquick - is this an example of the "inheritance json report" issue?

[2018-06-14 00:41] clintoncwolfe commented on #3089
Could you clarify what is current functionality and what is desired functionality?

[2018-06-14 05:30] jerryaldrichiii commented on #3123
@cchaffee @aaronlippold I see two separate issues here. The first, is that there is bug with how the values are captured (including quotes when it shouldn't). The second, adding support for specifying `Directory` blocks.

I'm going to submit a PR to fix the bug, but adding support for `Directory` blocks does not appear to be a trivial thing. As such I'm going to mark this as a feature request and

[2018-06-14 09:20] chris-rock opened #3144 "Harmonize platform supports output"
### 🎛 Description

When we run `inspec json examples/profile` we get the following output

[code]

Going forward, we should map `os-family` to `platform-familiy` and deprecate the use of `os-family`. We should not remove it though, since it would break users. The specification of all fields is included in section `The platform resource` of https://github.com/inspec/inspec/issues/1661.

https://git

[2018-06-14 13:59] jquick commented on #3135
This will be fixed by the inheritance redo in 3.0 but is a smaller subset of an issue. For now we are going to add another field into the json report so A2 can match child profiles accordingly.

[2018-06-14 14:12] jquick commented on #3135
This actually may be a little difficult. The profile has no idea what its upstream name is or its location. So we can do some fuzzy matching but I don't see an easy 1:1 map here. May end up having to inject them during the loading.

[2018-06-14 17:02] cchaffee commented on #3123
@jerryaldrichiii That sounds fine to me. I figured the Directory blocks would be more work, and the first issue with the values is probably a regex tweak.

Thanks for helping out with this!

[2018-06-14 17:42] #2992 closed, assigned to nobody

[2018-06-14 17:42] #3136 closed, assigned to clintoncwolfe

[2018-06-14 17:42] alexpop opened #3145 "Inspec report has old code for wrapped profile"
When wrapping a profile and changing a control, the generated report still has the old `code`, `tags` and `refs`.

[myrapper-child-0.6.1.tar.gz](https://github.com/inspec/inspec/files/2103383/myrapper-child-0.6.1.tar.gz)

Let's take the above profile ^.

In the json report, control `pro1-con2` of vendored `myprofile1` is being overwritten with a different `title`, `desc`, `impact`, `tags`, `refs`

[2018-06-14 17:44] jeremymv2 commented on #3145
thanks @alexpop I've validated this same behavior with 2.2.10 as well

[2018-06-14 17:55] clintoncwolfe opened #3146 "Functional tests for Release 1.x broken"
### 🎛 Description

🐛 bug report

Recent PRs targeting `1-stable` branch have Travis CI failures due to functional tests failing.  A cursory glance indicates tests that check for silent STDERR output are seeing deprecation warnings, which means we need an update to the tests.

Refs #3126

### 🌍 InSpec and Platform Version

1.51.26

[2018-06-15 08:09] chrisingenhaag commented on #765
+1

[2018-06-15 12:44] #3131 closed, assigned to nobody

[2018-06-15 15:53] chris-rock opened #3150 "keyword for reserving control identifier"
### 🎛 Description

When profiles are managed over time, controls are changing and updated. We discourage the reuse of the same control id since users expected the same behaviour for the same control. The https://github.com/dev-sec/nginx-baseline/pull/24 showcases an example, where a duplicate control needs to be removed but at the same time we want to ensure that future users do not reuse the same

[2018-06-18 12:55] #3146 closed, assigned to jquick

[2018-06-19 14:39] naunga commented on #1974
Looks like this is a dead'ish issue, but we have the exact same needs and philosophy as @stevemac007.

We put our InSpec profiles in the same repos as the Chef recipes they apply to.

[2018-06-19 17:45] jquick commented on #2290
This was completed in 2.0 via #2487

[2018-06-19 17:45] #2290 closed, assigned to jquick

[2018-06-19 18:03] clintoncwolfe commented on #3050
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:03] #3050 closed, assigned to nobody

[2018-06-19 18:04] clintoncwolfe commented on #3119
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:04] #3119 closed, assigned to nobody

[2018-06-19 18:04] jquick commented on #3089
We should also talk about testing on plugins and if we want to offer up core testing frameworks(Mock) to use or have them just do their own.

[2018-06-19 18:04] clintoncwolfe commented on #3118
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:04] #3118 closed, assigned to jerryaldrichiii

[2018-06-19 18:05] clintoncwolfe commented on #2965
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:05] #2965 closed, assigned to nobody

[2018-06-19 18:05] clintoncwolfe commented on #2916
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:05] #2916 closed, assigned to nobody

[2018-06-19 18:09] clintoncwolfe commented on #1911
That is indeed how InSpec reporting works.  If you want a separate subject line for each test, you'll need to put them in their individual `describe` blocks.  One improvement I might suggest would be to group the describe blocks together into a single `control` block.

[2018-06-19 18:10] clintoncwolfe commented on #2735
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:10] #2735 closed, assigned to nobody

[2018-06-19 18:11] clintoncwolfe commented on #1868
Refs #3109

[2018-06-19 18:12] clintoncwolfe commented on #1762
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:12] #1762 closed, assigned to nobody

[2018-06-19 18:15] clintoncwolfe commented on #1817
@chris-rock are you still interested in this feature?

[2018-06-19 18:16] clintoncwolfe commented on #1890
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:16] #1890 closed, assigned to nobody

[2018-06-19 18:18] clintoncwolfe commented on #412
As this has been idle for a while, I'm closing this. If you have any further questions on this topic, please re-open the ticket.

[2018-06-19 18:18] #412 closed, assigned to nobody

[2018-06-19 21:40] clintoncwolfe commented on #3150
What should the inspec check behavior be?

[2018-06-20 12:37] jquick opened #3158 "RFC: Skip Improvements"
### Current state

"Skip" is currently used to identify cases where a control cannot run:

1. The user doesn't want it to run when inheriting the profile.
    Example: Use your colleague's AWS profile but skip all controls that test S3.
2. The control isn't run when certain conditions are met.
    For example don't test MySQL if it isn't installed.
3. A control is skipped if it uses resources that

[2018-06-21 00:08] clintoncwolfe opened #3159 "Allow field aliases in FilterTable"
### 🎛 Description

🙋 feature request

Currently, if we need to have two properties on a plural resource that refer to the same field, we must to do some weird things: either define a dummy column, or define a horrid custom method and property pair (as on #3140).  It's confusing.

It would be great to add a `register_column_alias(:property_name,  field: :field_name)` method on FilterTable::Factory

[2018-06-21 01:27] #3021 closed, assigned to jerryaldrichiii

[2018-06-21 10:13] james-stocks opened #3160 "Allow iterator variable in Inspec::EachLoop to be renamed"
### 🎛 Description

🙋 feature request?

The `EachLoop` class creates inspec test code with tests inside an `each` iterator.

The code it generates has the iterator variable hardcoded as `entry` (see https://github.com/inspec/inspec/blob/master/lib/inspec/objects/each_loop.rb#L33 )

It would be a minor but nice enhancement if it defaulted to `entry` but could be set to something else; so we could ha

[2018-06-21 15:58] teknofire opened #3161 "Inspec-core fails to require `resource_support/aws` when `aws-sdk` gem is installed"
### 🎛 Description

🐛 bug report

`inspec-core` will attempt to [require `resource_support/aws`](https://github.com/inspec/inspec/blob/master/lib/inspec/resource.rb#L89) if it detects that an `aws-sdk` gem is installed.  This of course fails because `inspec-core` does not include any of the aws resource files.

`ERROR: Report handler Chef::Handler::AuditReport raised #<LoadError: cannot load such f

[2018-06-21 16:33] clintoncwolfe opened #3162 "Fix docs examples using matcher include with array expected value"
### 🎛 Description

🐛 bug report

Several resources have docs that use examples like this:

[code]

This is almost certainly wrong; `include` looks for a single element in an array property, or multiple elements _when passed as separate arguments_. So, the above example is expecting the 'banana_ages' property to look like `[ element, ['underripe', 'just right'] , some_other_element ]` - in other wo

[2018-06-21 17:37] #2199 closed, assigned to nobody

[2018-06-21 17:37] #3145 closed, assigned to jquick

[2018-06-21 17:44] clintoncwolfe commented on #3158
This is a partial cover of some of the problems mentioned on #3017 .

[2018-06-21 18:19] #3120 closed, assigned to clintoncwolfe

[2018-06-21 21:19] clintoncwolfe commented on #3161
refs #2571  refs #3001

[2018-06-22 14:08] clintoncwolfe commented on #3161
:100: on a great issue report, @teknofire !

[2018-06-22 18:52] arlimus commented on #3089
Updated based on InSpec team feedback, thank you all!!

[2018-06-22 19:13] clintoncwolfe opened #3165 "RFC: Resource Introspection Facility"
### 🎛 Description

🙋 feature request?

### Overview
Each resource currently has some metadata declared in it - name, description, platform support.  This data is used both for some documentation (see inspec shell help) and some functionality (skipping due to lack of platform support).  However, we can't introspect properties, methods, resource parameters, or filter criteria, because these are eith

[2018-06-22 19:15] clintoncwolfe commented on #3165
Refs #3092 #2688 #3128

[2018-06-22 19:16] clintoncwolfe commented on #2688
This feature request has blossomed into an RFC for release 3.  Closing this after linking.

[2018-06-22 19:16] #2688 closed, assigned to nobody

[2018-06-22 19:35] clintoncwolfe commented on #3165
Overall the work would look like:
 - [ ] Design resource DSL
 - [ ] Design introspection read API
 - [ ] implement resource DSL and introspection read API
 - [ ] annotate a sample of resource docs to validate above
 - [ ] make a very simple markdown generator to generate website from annotated resources
 - [ ] update docs build Rake tasks to use markdown generator when annotation available
 - [ ]

[2018-06-22 22:25] frezbo opened #3167 "Inspec documentation missing exit code status"
### 🎛 Description

**Choose one:**  🐛 bug report

Inspec documentation missing exit code status as per this: https://github.com/inspec/inspec/issues/1825 ?

### 💁 Possible Solutions

PR's to README

[2018-06-24 16:00] aaronlippold commented on #3165
:thumbsup:

[2018-06-25 13:10] voroniys opened #3169 "Resource oracledb_session broken if query result contains dozens of records"
### 🎛 Description

*🐛 bug report

If result of the query contains many records html parser is broken due to repeating header entry

### 🌍 InSpec and Platform Version

2.2.16

### 🤔 Replication Case

Do a query that returns dozens of rows

### 💁 Possible Solutions

In the options for sqlplus option SET PAGESIZE 32000 needs to be added

[2018-06-25 15:55] weaverslodge opened #3171 "Solaris support in the processes resource"
### 🎛 The processes resource - although specifying that it's family is unix, fails to work on Solaris

**Choose one:** 🐛 bug report

ps is being used with the bsd options axo which are not standard on Solaris

On linux the ps delivers

[code]

but Solaris needs the -o flag

### 🌍 Version 2.1.72 Solaris 11.3

### 💁 Possible Solutions

On Solaris I can get something similar with

ps -o ‘pid pcpu pme

[2018-06-26 11:47] #3100 closed, assigned to nobody

[2018-06-26 11:47] #3161 closed, assigned to clintoncwolfe

[2018-06-26 11:50] chris-rock commented on #3150
This is a feature for `inspec check` to be able to enforce that no id is reused. Therefore this should lead to an inspec check error if a control tries to use the id.

[2018-06-26 14:48] ejaronne commented on #3062
This is crucial to making my overlays relevant. For example, some folks may use a completely different banner than the DoD one in the STIG. We can make the code check properly to a different banner, but when the developer reads through the results, we pass through the check and fix text for context for them. If the check and fix test tags still show the DoD banners, this creates confusion.

[2018-06-26 15:35] clintoncwolfe opened #3174 "Clarify what should happen when a resource is unable to run a test"
### 🎛 Description

🙋 feature request

When a resource is unable to perform a test, what should the outcome of the test be?

Examples of being unable to perform a test:

* `http` resource requires `curl`, but it is not installed
* timeout while trying to connect to a database resource
* need to obtain information only available to `root`, but not running with sudo
* the test relies on examining a c

[2018-06-26 17:04] #3135 closed, assigned to jquick

[2018-06-26 17:16] clintoncwolfe commented on #3167
The [website docs](https://www.inspec.io/docs/reference/cli/#exec) and CLI usage messages are both in fact generated from the Thor code that configures the CLI.  We'll want to add it there, if possible.

[2018-06-26 18:39] arlimus opened #3176 "RFC unified attributes"
### Description

Currently attributes are defined on a per-file basis:

[code]

For attributes that are shared across files, this leads to a lot of duplication and potential overrides:

[code]

### Goals

- define attributes in one place only and make them accessible across all inspec files
- prevent accidental attribute overrides

### Design

`inspec.yml` will define the attributes:

[code]

Attr

[2018-06-26 18:39] arlimus commented on #719
Closing this in favor of https://github.com/inspec/inspec/issues/3176

[2018-06-26 18:39] #719 closed, assigned to nobody

[2018-06-26 23:49] kagarmoe commented on #3165
Docs as code!  Let's make this happen -- @burtlo made good progress on this

[2018-06-27 12:11] wardwouts commented on #3174
I agree that tests that cannot be correctly executed should result in some sort of failure. To me the current behaviour where if I run this simple test, as a non-root user:

[code]

the result is a pass, is obviously wrong.

[2018-06-27 12:28] reddeppas opened #3177 "mssql_session fails to pass target credentials as default values"
### 🎛 Description

this a 🐛 bug report

Briefly describe the issue and the expected behavior
As part of MSSQL Bare metal Servers Validation .

And also making MSSQL db validation using windows authentication . But it is failing with error , though i am using AD account and i am able connect to the windows servers using inspec detect command .

### 🌍 InSpec and Platform Version
2.2.20
Tell us which

[2018-06-27 12:30] aaronlippold commented on #3176
I think this is a great solution. The one thing I might add is pattern
definitions so that we can do some sort of input validation and or default
validation. Is perhaps a string or a number has to match a particular
pattern that would be very useful to enforce standards

On Tue, Jun 26, 2018, 2:39 PM Dominik Richter <notifications@github.com>
wrote:

[2018-06-27 15:46] frank-carnovale commented on #1700
And in Jenkins
correction.. in Jenkins, a fix was to upgrade the 'AnsiColor' Plugin to 0.5.2.

[2018-06-27 20:38] clintoncwolfe commented on #3176
I like validation, too.  In the past, I've worked with validators that work like this:
validation: regex/array/proc

The array would be an enumeration of valid values.

We can't really have a Proc in YAML, so that's probably out.  We could reference a method name in a library file.  That all sounds like a nice later enhancement.

[2018-06-27 21:29] aaronlippold commented on #3176
the validation would be in `inspec check` process

I am not sure how we would define the patterns outside regex or accepted values in an array or hash or whatnot.

[2018-06-28 06:42] mmb commented on #1700
I'll send a PR to change it to regular green if it will be accepted.

[2018-06-28 08:25] chris-rock commented on #3062
@jquick is that done via #3155

[2018-06-28 09:10] chris-rock opened #3181 "Allow pass-through metadata in reports"
### 🎛 Description

Many users have reported the requirement to pass-through additional metadata about the node via the report to map the data later to existing system identifier in other systems.

We already added specific metadata to the automate reporter that is passing through `nodename`, ` nodeid`, `environment`, `reportuuid` and `jobuuid` by using our json config to pass-through data:

[code]

[2018-06-28 09:55] shelld0n opened #3182 "Update inspec version (1.34.9) that comes with Chef Compliance"
### 🎛 Description

This a :bug: bug report

When trying to upload a profile containing controls related to firewalld resource to **Chef Compliance**, i got an Error during profile upload. I investigated a little and i found this
`2018-06-28_09:31:52.43720 /opt/chef-compliance/embedded/lib/ruby/gems/2.2.0/gems/rspec-expectations-3.7.0/lib/rspec/matchers.rb:960:in 'method_missing': undefined local v

[2018-06-28 11:38] ghost commented on #3174
I also agree that tests that cannot be correctly executed should result in some sort of a failure. Having test that did not even run report as succesfull is not the way to go.

[2018-06-28 12:18] jquick commented on #3062
Yes, `tag`, `ref`, and `code` are now updated correctly when using a overlay via #3155. I believe this issue is resolved. Please re-open if something is missing from the implemented solution.

[2018-06-28 12:18] #3062 closed, assigned to nobody

[2018-06-28 13:29] jquick opened #3183 "Merge inherited profiles for A2 report"
### 🎛 Description

🙋 feature request?

We need to merge the json report to have the parent profiles contain all control and result information from the children. We should also populate the parent depends section with the sha256 and profile inheritance details.

### 💁 Possible Solutions

Take the current json report and merge upstream on profiles based on `parent_profile` tags. Copy over all contr

[2018-06-28 14:14] vjeffrey commented on #3181
I love this idea!  As we move towards more inspec scans being triggered directly like this, it will allow us more flexibility for mapping node info.

[2018-06-28 15:48] aaronlippold commented on #3181
Hi, I agree, this is a great thing. In my previous issue #2966 was that I wanted to add some target info as well.

The data I would like to have is ( in `detect`, `cli` and `json`):
- fqdn
- ip_address
- mac_address
- report_uuid

[code]
The concern is this data is 'host' target specific ( i.e. not applicable with respect to aws, gcp, azure, vmware platform resources

A thought I have is if we are

[2018-06-28 15:49] aaronlippold commented on #3181
I was hoping that we could add the `target` data through `detect` as the real passed data is the `tags` data structure but the `target` data is something that could be automatically derived from train and the target environment. At least in my thinking. Please push back. Looking for thoughts and feedback from the group.

[2018-06-28 15:58] aaronlippold commented on #3062
Hi,

Thank you @jquick and team for getting on this so quickly. We will do a
quick field test to ensure we have resolved the issue.

Thanks again!

Aaron
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Thu, Jun 28, 2018 at 8:18 AM Jared Quick <notifications@github.com>
wrote:

[2018-06-29 01:34] kplimack opened #3185 "mysql_session password sensitivity"
### 🎛 Description🙋 feature request

Is it possible to make it so that the mysql_session password is redacted when the name of the test is displayed?

[code]

[2018-06-29 12:43] #2896 closed, assigned to nobody

[2018-06-29 12:43] #3167 closed, assigned to clintoncwolfe

[2018-06-29 14:15] reddeppas commented on #3177
Can you please help us what these errors indicates ?

[2018-06-30 07:20] OMSKremer commented on #1370
Need it also for Windows. Any plans?

[2018-07-01 02:32] harsimranrajpal21 opened #3187 "issue with displaying content in kernel file"
i am trying to create example.rb file which will help me to display content of file /etc/sysctl.conf file, not all but any single entry:

I have tried below few example:

###########

describe file('/etc/security.conf') do
its ('content')  {should include 'vm.swappinesas'}
end

##############

describe file('/etc/security.conf') do
its ('content')  {should contain 'vm.swappinesas'}
end

##########

[2018-07-01 02:51] #3187 closed, assigned to nobody

[2018-07-01 03:03] harsimranrajpal21 opened #3188 "Question about finding a value in sysctl.conf using the file resource"
test$ grep "^vm.swappiness" /etc/sysctl.conf
vm.swappiness  =  1

test$ cat test04.rb
describe file("/etc/sysctl.conf") do
its (:content)  {should match "^/vm.swappiness/"}
end

[2018-07-01 14:38] aaronlippold commented on #3176
@arlimus et all, one thing we would like to add to this is the long awaited ability to pass attribute values ( such as `user` or `password` ) via the CLI directly. ( i.e. not using a file ) so we can ease the integration into the CI/CD pipeline. We have the ability now via a json file but being able to pass single attribute values via the cli would be very useful. We do this in kitchen-inspec now

[2018-07-01 15:02] aaronlippold commented on #3176
In reference to #3185 and #1976 and the other 'sensitive' related requests, perhaps this would be a good time to cover this issue as well. In thinking about it I think we need to have two modes - the default to redact sensitive information in all reporting and an override property of `show_sensitive` for testing purposes. Given the new approach of centralized attributes in the `inspec.yml` I think

[2018-07-01 15:10] aaronlippold commented on #3176
(I know this is reaching a bit outside the scope of the original RFC but just something to put on as a follow on task or at least a discussion or 'best practice' issue...)

The ruby type of attributes has also become an issue when using shared attributes. i.e. that the default nature of doing caps to make the attribute distinguishable in the code has the side effect of making it a ruby constant, a

[2018-07-01 15:16] aaronlippold commented on #3176
In the below example, in my `attributes.yml` I would create the general `audit_file` attribute the properties - leaving out the default value - which we could make inSpec understand that at least one control in the profile should set the value given it's required state but lack of centralized default value.
[code]
I would then set the path in the control as this is the right context / scope - else

[2018-07-01 15:28] aaronlippold commented on #3176
@arlimus @jquick @chris-rock as a side note or a separate issue - do you see the pattern ( which we are using a lot ) here where we have `impact` going to `0` and a connected describe block on that condition as the `N/A` condition for the controls.

I would love to make that logic easer with some built in functions that could take an impact value, a condition, a message to make overall maintenance

[2018-07-01 15:35] aaronlippold commented on #3176
For the attribute types - would it be a bridge too far to have:
[code]

I know `file` and `file_path` may be the same thing but something like `/etc/fstab` vs `inittab` vs `/etc` is what I am thinking.

Then - perhaps - could we use the ruby `is_a` object methods to detect known types like `file`, `directory`, `path` etc?

[2018-07-01 20:34] samcornwell commented on #3176
Would love to have something like this. The way attributes work right now is very clunky. One thing to consider though is if you want to break the ability to run controls individually (`inspec exec controls/a.rb`). I do this for testing sometimes. I don't know if it's really an important use case. It would also be cool if you could pass in attributes through `--attrs` without actually defining the

[2018-07-01 20:38] samcornwell commented on #3176
I think it's a bad idea to hack ruby constants to behave differently than standard ruby.

[2018-07-02 00:55] harsimranrajpal21 opened #3189 "file resource permission linux"
looks like results are not accurate:

-rwxr-xr-x 1 oracle dba  112 Jul  1 14:25 test04.rb

poc-focus$ cat test05.rb
describe file('/home/v6x4373/temp/inspec/simran_profile/controls/test04.rb') do
its('mode') { should eq '755' }
end
poc-focus$

poc-focus$ inspec exec test05.rb

Profile: tests from test05.rb (tests from test05.rb)
Version: (not specified)
Target:  local://

  File /home/v6x4373/temp

[2018-07-02 02:26] #3189 closed, assigned to nobody

[2018-07-02 10:07] shelld0n commented on #3188
This might help you get some answers:
https://github.com/inspec/inspec/blob/master/ISSUE_TEMPLATE.md
:thinking:

[2018-07-02 13:37] harsimranrajpal21 commented on #3188
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request? This is feature request

Briefly describe the issue and the expected behavior

 am trying to see value of vm.swappiness using inspec which is not displaying here, same value i can see in OS using grep command but not using inspec

[code]

I want to see value of parameter vm.swappiness, which is not getting here
### 🌍 I

[2018-07-02 14:48] clintoncwolfe commented on #3177
Hi @reddeppas ,
  You're reporting two distinct problems, so I've split the ticket.  The "unable to run validation" issue is being handled on https://github.com/inspec/train/issues/319 .

I'll edit this ticket to reflect narrowing the scope to your MSSQL auth problem.

[2018-07-02 14:54] clintoncwolfe commented on #3177
@reddeppas , some questions would help diagnose the MSSQL auth problem:

1.  Do you expect to be able to login to your MSSQL database as an anonymous user?
2.  Are you able to login to the MSSQL database manually (outside of inspec)?
3.  Could you show us the InSpec control code you are using (be sure to obscure any passwords)?

[2018-07-02 15:13] clintoncwolfe commented on #3185
Quick bit of diagnostics.  We're relying on a `command` resource to run the query, see [here](https://github.com/inspec/inspec/blob/master/lib/resources/mysql_session.rb#L31).  We build up the command line, including the password, [here](https://github.com/inspec/inspec/blob/master/lib/resources/mysql_session.rb#L60).

This comes down to adding functionality to obscure the reporter output from the

[2018-07-02 15:36] clintoncwolfe commented on #3188
It looks like you are trying to find the _value_ of the `vm.swappiness` setting.  Both your grep example, and the inspec test06 example, only _find_ the setting, not reporting the value.  Note that inspec succeeds in finding the setting (but not isolating the value), just like grep.

Your test04 example, in which you use a regular expression, would not succeed for two reasons: first, that regex is

[2018-07-02 16:37] japneet-sahni opened #3190 "Using local data to test cloud resources"
### 🎛 Description
Testing Azure VM's in loop using Inspec Azure Target, gives below error
undefined method `file?' for class `NilClass'

Bug report

Briefly describe the issue and the expected behavior
My use case is to have one control file (.rb) and test multiple Azure machines which are captured in JSON. I am using Azure target in inspec exec command (-t azure://). All the credentials have been

[2018-07-02 17:36] clintoncwolfe commented on #3190
Can you try, in a separate control file:

[code]

[2018-07-02 17:50] clintoncwolfe commented on #3176
From discussion, we have:

* we want type / validation, in a simple form
* run validation at check (to check default values) and exec (to check actual runtime values) time
* considered validations: regex, array-of-acceptable-values.
* a consideration is being able to generate a UI for the attribute in Automate
* no affect on ruby constants at this time (how you use the attribute value is none of o

[2018-07-02 19:18] reddeppas commented on #3177
_Do you expect to be able to login to your MSSQL database as an anonymous user?_
I am running inspec from Linux server and validating remote MSSQL server . Using AD account with windows authentication provided by inspec.
_Are you able to login to the MSSQL database manually (outside of inspec)?_
Yes i am able to test  Authentication using SQL Server DB accounts and AD account is throwing error tho

[2018-07-02 19:19] harsimranrajpal21 commented on #3188
ok thanks I think right it can only confirm presence of setting not value

[2018-07-02 21:15] kplimack commented on #3185
@clintoncwolfe the reporter does sound like the right place to me, too.  I'm running inspec via a handler at the end of chef runs, the output of which gets emailed on failure, and I really dont like when secrets leak, so I'm +1 on getting a `sensitive` parameter for the reporter to use, and happy to help if someone can point me in the right direction.

[2018-07-03 06:41] lkpdev opened #3191 "aws_kms_key InSpec audit resource it { should be_managed_by_aws } fails"
### 🎛 Description

this a 🐛 bug report

Briefly describe the issue and the expected behavior

While using the aws_kms_key InSpec audit resource identified the following issues with the properties:

1. should be_managed_by_aws fails with **its**
Changed to **it** to get it execute the condition.
But received the further error:

kms-0147: Check if the XXX key id source is managed by AWS
     ×  KMS

[2018-07-03 07:46] japneet-sahni commented on #3190
@clintoncwolfe : My intention is not to test the key/values in the JSON file. Rather iterate the key/values in JSON in a loop and use their values in the describe method like shown below:
azure_virtual_machine(group_name: "intern['resource_group_name']", name: "intern['machine_name']")

Another thing to notice is, I am facing this issue only if I am using Azure targets. If I use normal ssh targets

[2018-07-03 08:45] voroniys opened #3192 "Resource apache_conf fails if arguments to Include quoted"
### 🎛 Description

is this a 🐛 bug report

Resource apache_conf fails if arguments to Include directive are quoted

### 🌍 InSpec and Platform Version

2.2.26

### 🤔 Replication Case

Put in httpd.conf line:
Include "/etc/httpd/conf.d/*.conf" and use apache_conf resource

### 💁 Possible Solutions
Regex for parsing config needs to be modified to strip possible qutes:
[code]

[2018-07-03 08:55] lkpdev commented on #3191
resolved...
I was using aws_kms_alias data source instead of aws_kms_key in Terraform

[2018-07-03 08:55] #3191 closed, assigned to nobody

[2018-07-03 09:43] voroniys commented on #3192
Pull request #3193

[2018-07-04 10:33] shelld0n commented on #3182
Can you please confirm that it is possible to update manually the Inspec version of Chef Compliance ?? i need to upload new inspec profiles as soon as possible :pray: :pray: Thanks.

[2018-07-05 00:15] mengesb commented on #3185
@kplimack While not a solution; a work-around is to implement mysql's secure encrypted profile file and use that via the command resource and parse the output (stdout). While not ideal, it's what I've come to do until sourcing these configs and using them with the client are available.

related: #3166

[2018-07-05 00:20] mengesb commented on #3185
Since I wrap the MySQL cookbook --

We do this bit of awful during our initialization (if true):
[code]

so we have tests like
[code]

Disclaimer: if you delete the `/root/.mylogin.cnf` ... you no longer have access to the DB because the root password is completely unknown. This is acceptable in my world.

[2018-07-05 16:33] james-stocks commented on #3158
One comment on this is that `only_if` is occasionally relied upon where a control needs to mix AND and OR logic together.

e.g. if a control requires either 5 things about your iptables config to be true (say A, B, C, D, E) _OR_ iptables to be disabled (F)
There is no way to represent `OR(AND(A, B, C, D, E), F)` in an Inspec control, as there is not yet a `describe.all do` concept.
Currently we ca

[2018-07-05 16:38] monoranjang commented on #1013
Is this issue resolved

[2018-07-05 17:01] monoranjang opened #3197 "apache_conf resource parameter docs unclear"
### 🎛 Description

When I try to execute the following code I get error "Can't find file: path"

describe apache_conf('path') do
  its('setting_name') { should eq 'value' }
  end

Note that my apache dir is /appli/apache/conf

### 🌍 InSpec and Platform Version
inspec --version
2.1.83

### 💁 Possible Solutions
I think by default, inspec is looking for folder etc/apache/conf. We need to mention/conf

[2018-07-05 19:44] #3082 closed, assigned to nobody

[2018-07-05 20:15] #496 closed, assigned to arlimus

[2018-07-05 20:20] clintoncwolfe commented on #3190
ahh, I just re-read your CLI string.  This approach won't work, I'm afraid.  When you set your target to be `-t azure://`, Inspec will look for files "on the azure filesystem" which is nonsensical; and under the hood, the `json` call is just opening a file.

To use local data to drive an inspec run targeting a cloud, you'll need to use [Inspec attributes](https://www.inspec.io/docs/reference/profi

[2018-07-05 20:37] clintoncwolfe commented on #3177
OK, revisiting my first question: do you expect to be able to log into your database server using anonymous credentials (not using inspec), from a remote host? That would be surprising to me if the answer is yes; that would appear to be an unusually insecure setup.

I see here (`mssql_session(host: instancename)`) that you are not providing a username or password. As you mention, and as [the docs]

[2018-07-05 20:38] #3192 closed, assigned to nobody

[2018-07-05 21:03] #3188 closed, assigned to nobody

[2018-07-05 21:09] clintoncwolfe commented on #3197
The literal `'path'` is a documentation placeholder: you are intended to replace it with your own custom path, if needed.

So, since you have a custom path, you would use:

[code]

Likewise, the literal strings `'setting_name'` and `'value'` are placeholders: you should replace them with the Apach httpd directive you care about, and the expected value.

[2018-07-05 22:33] davidcpell commented on #1013
Yes, a PR was merged to address it on Sep 9, 2016.

[2018-07-05 23:15] clintoncwolfe commented on #3041
All that is doable was done :-)

[2018-07-05 23:16] clintoncwolfe commented on #3109
This was nixed.

[2018-07-05 23:16] #3109 closed, assigned to nobody

[2018-07-05 23:22] #3041 closed, assigned to nobody

[2018-07-05 23:33] clintoncwolfe commented on #1759
The intended behavior is for values in the YAML file to take precedence; the `default` parameter to `attribute()` is only used when either no `--attrs` CLI option is used, or no top-level YAML key with the attribute's name is provided.

It appears that kitchen-inspec [does support passing InSpec attributes](https://github.com/inspec/kitchen-inspec#use-attributes-with-your-inspec-profiles) to the v

[2018-07-05 23:35] clintoncwolfe commented on #1911
As there has not been any traffic on this issue in a few days, I'm closing this.  If you feel your question has not been answered, feel free to re-open!  Thanks!

[2018-07-05 23:35] #1911 closed, assigned to nobody

[2018-07-06 07:08] reddeppas commented on #3177
I am using service account . Below is the Inspec CLI command
inspec shell -t --backend winrm --user 'domain\serviceaccount' --password 'xxxxx' --host ipaddress

In the control file:
sql = mssql_session(host: 'instancename')

[2018-07-06 08:24] monoranjang commented on #3197
Finally worked for fully qualified path

[2018-07-06 14:29] japneet-sahni commented on #3190
@clintoncwolfe : Atleast using your solution, I have made some progress, but I am getting a very weird error while running the command. PFB snapshot

![image](https://user-images.githubusercontent.com/10338163/42384126-74af1e8c-8139-11e8-8435-ee45a16b499f.png)

Contents of yml file
![image](https://user-images.githubusercontent.com/10338163/42384164-9490d02e-8139-11e8-9403-033be53a1817.png)

Conte

[2018-07-06 14:55] #3197 closed, assigned to nobody

[2018-07-06 15:41] clintoncwolfe commented on #3190
It looks like Azure doesn't like the resource group names you are sending.  The error message above has a mangled version of the regex they use; looks like they document it [here](https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/checkexistence#uri-parameters).

From what I can see, though, your resource group names look fine.  I tried it out on [regexr](https://regexr.com/3s30j)

[2018-07-06 15:48] clintoncwolfe commented on #3177
Thanks for your patience on this as we get to the diagnosis.  I do believe we've found a bug.

[2018-07-06 16:19] clintoncwolfe commented on #3190
Ahh, Trevor and I just spotted it.

[code]

That's passing the literal string `"intern['resource_group_name']"` as the group name, which Azure is rightly rejecting.  Drop the outer quotes and it should work:

[code]

Apologies, I should have caught that earlier.

[2018-07-07 21:04] harsimranrajpal21 commented on #1843
any way to check space left on file system rather than total space??

[2018-07-09 09:42] japneet-sahni commented on #3190
@clintoncwolfe : Thank you so much for your help, my test cases have been made more simpler now. Marking this thread as closed.

[2018-07-09 09:42] #3190 closed, assigned to nobody

[2018-07-09 13:30] james-stocks opened #3199 "Support 4 tests in a control with OR(AND(1,2),AND(3,4)) result logic"
### 🎛 Description

 🙋 feature request

Certain published compliance standards may use slightly complex pass/fail logic.

One example we need to support is a compliance recommendation where 4 tests (`1 2 3 4`) are given and the logic for the overall result is `OR(AND(1,2),AND(3,4)) `

Note that `1` and `2` test different things therefore they can not be 2 `it` tests inside a single `describe` block

[2018-07-09 17:02] jerryaldrichiii commented on #3123
Removing my assignment pending this being triaged.