[2020-06-24 05:53] kmf commented on #5094
I'm sure that `InSpecStyle` will help with this

[2020-06-24 08:32] Schwad commented on #5094
Great point @kmf ! I think if we came up with a definition here that this could be an `InSpecStyle` candidate. 🤔

[2020-06-24 10:05] james-stocks commented on #5107
**CASE 1**: control raises at runtime

e.g.

[code]

inspec/lib/inspec/runner.rb:287 in get_check_example(m, a, b)

**CASE 2**: (not really different from 1): invalid code inside a test

e.g.

[code]

**CASE 3**: Invalid code outside a test:

e.g.

[code]

(this manifests in /Users/jstocks/code/inspec/lib/inspec/profile.rb:205:in `collect_tests' )

**CASE 4**: Invalid code inside a control but out

[2020-06-24 10:12] james-stocks commented on #5107
Case 1 & 2 should report a failed control, if possible.

Case 3 would need to be a "failed profile".

Case 4 needs no work.

Case 5 needs handled by the program that launches InSpec e.g. audit, automate.

[2020-06-24 11:08] james-stocks commented on #5094
The style rule here might need to be "do not use `if`" though. Various parts of InSpec (check, waivers, skips, profile inheritance etc) do not work as expected when Ruby code is interleaved with test code.
To keep everything working correctly, all Ruby code needs to be inside a resource class in the `libraries` directory.

[2020-06-24 13:46] james-stocks opened #5115 "group and groups resources should be clearly documented as being for local groups"
https://github.com/inspec/inspec/blob/master/lib/inspec/resources/groups.rb

The Unix group data comes from etc_group which only looks at the file `/etc/group` and does not see LDAP groups.
The Windows group data appears to query the local machine, I think this also means it only returns local groups?

The resource is documented as `Use the groups Chef InSpec audit resource to test multiple groups

[2020-06-24 14:16] james-stocks commented on #5027
Omnibus builds and tests OK now.
Habitat build has been cut, because habitat only supports one major version per package. We'd need to build a separate `inspec3` package for this branch; and there's no current demand for that.

Going to close this issue short of actually doing a release - I expect it would take some help from RelEng to get a working release, and I'd rather we only ask them for tha

[2020-06-24 14:16] #5027 closed, assigned to james-stocks

[2020-06-24 14:33] james-stocks commented on #5112
This is brilliant!

It sounds good to make deprecation cops part of the initial release.
At some point we will need cops for InSpec coding style - those might need an RFC per-cop to let the community discuss what will start to be enforced.

[2020-06-24 20:58] galenemery commented on #5107
Do these cases catch if the result from a valid control contains invalid characters?  So, it's not the control evaluation, but the actual result is invalid.

For instance, the etc/security/user file has invalid characters in usernames to be parsed.

[2020-06-25 08:31] Schwad commented on #5112
Thank you! 🙏  I really like that idea!

Hopefully since we have a fair few deprecations they'll help us in shaking out the bugs and making this a robust tool... & I look forward to the robust RFC community discussion on proper InSpec style.

[2020-06-25 09:36] james-stocks commented on #5107
Hi @galenemery  -

Looking at the specific customer issue, this is case 3. A Ruby exception is being thrown outside of an InSpec control.
InSpec doesn't get as far as control evaluation - it crashes before it has collated what controls and tests are inside the profile.

While we should implement this ticket and allow the error to be reported, this can be avoided by steering customers towards alway

[2020-06-25 10:00] gsreynolds opened #5116 "FilterTable where filtering with ranges or inequalities"
https://github.com/inspec/inspec/blob/master/docs/dev/filtertable-usage.md suggests that ranges in FilterTables where methods is possible. This doesn't appear to work as documented.

## Describe the problem
[code]
actually returns
[code]
and does not return the expected two Things with ID 1 and 2. It returns no entries instead.

## Possible Solution
Either remove the example from FilterTable usage

[2020-06-25 10:25] #4178 closed, assigned to nobody

[2020-06-25 10:27] #722 closed, assigned to nobody

[2020-06-25 14:14] galenemery commented on #5107
Aha!  Thanks.  That explains how this didn't get caught cleanly.  We of course can't expect that customers will always follow best practices, so definitely we should do it.  But makes more sense now how we didn't catch the error.

[2020-06-26 05:22] kmf commented on #5061
Burnt my fingers with this yesterday ....

[2020-06-26 18:48] rjhornsby opened #5118 "str literal `++` not escaped for PS regex in WindowsPkg test"
Inspec 4.19.0, from chef-workstation 20.6.62.

# Describe the problem

When asking inspec to check a Windows package should be installed,

[code]

Powershell fails when trying to parse a sequence of `++` in the package name, since the package name string is converted to a regex. Running the PS command manually that inspec is attempting to run:

[code]

shows the PS error:

[code]

Trying to work a

[2020-06-26 23:39] kekaichinose commented on #3433
@Schwad @james-stocks I'm a little confused here... waivers not withstanding, I'm thinking this is a bug as I would expect `require_controls` (and consequently `include_controls` and `skip_controls`) to actually do what is specified. If the logic we've implemented with waivers is something that could be reused for say, `skip_controls`, then that might make sense. I def understand why there's confu

[2020-06-27 12:48] fzipi opened #5119 "Resources using wrong os family for FreeBSD"
# Describe the problem

When using the `user` resource in FreeBSD, checks are skipped due to unsupported os.

The problem resides in `users.rb`:
[code]
But that would never match, as family is just `bsd`.
## Possible Solution

Sending patch, just changing there to `bsd` worked.

Aha! Link: https://chef.aha.io/features/SH-2427

[2020-06-28 00:10] fzipi commented on #5119
Having a second look, when should `os.bsd?` be used vs `os[:family] == 'freebsd'`?

[2020-06-28 00:25] fzipi commented on #5119
Ok, got it.

If you want `freebsd`, you need to use ``["freebsd"].include?(os[:name])`, not `os[:family]`.

[2020-06-29 11:51] Schwad commented on #5118
Hi @rjhornsby ! 👋

Thank you much for raising this bug and your help with the test cases and possible workarounds. I've labelled and triaged this as a bug. 👍  Cheers

[2020-06-29 12:06] Schwad commented on #5119
Hi @fzipi - going through your PRs here. It appears that #5120 | #5121 | #5122 here are all related?

Do you still have questions or do you still want to progress with your PRs? As they cover the same issue if so I'd suggest combining them to ensure they pass the test suite.

[2020-06-29 12:15] fzipi commented on #5119
Sure @Schwad .You want me just to push all in one PR?

[2020-06-29 20:59] fzipi commented on #5119
@Schwad Merged all in one PR.

[2020-06-30 12:53] james-stocks opened #5125 "html2 reporter: InSpec logging mixed in stdout"
If you use the `html2` reporter and InSpec produces any log entries; those log entries are on stdout (not stderr) and end up in the HTML doc.

Might be this line:
https://github.com/inspec/inspec/blob/master/lib/inspec/base_cli.rb#L234

I'll fix this while I'm in this bit of the code...

Aha! Link: https://chef.aha.io/features/SH-2454

[2020-06-30 13:59] #5125 closed, assigned to james-stocks

[2020-06-30 14:07] james-stocks opened #5127 "InSpec will log to stdout when user uses a custom reporter plugin"
See https://github.com/inspec/inspec/blob/d0f00cd7168bcad92bea4ef543d2a41e27f3d676/lib/inspec/base_cli.rb#L234

Our logging config has us log to stderr if using a reporter that needs stdout.
This file has a hardcoded list `ALL_OF_OUR_REPORTERS = %w{json json-min json-rspec json-automate junit html html2 yaml documentation progress}.freeze`

If the user has their own reporter plugin, it seems that

[2020-06-30 16:01] clintoncwolfe commented on #5127
ref #4777

[2020-06-30 16:31] clintoncwolfe commented on #5102
I think a prerequisite is that #5106 (basic test kitchen testing) be in place.

[2020-07-01 07:35] james-stocks commented on #5127
Thanks for referencing @clintoncwolfe - I think logging to stderr unconditionally (instead of patching the conditional logic for when to use it) is the thing to do here.

[2020-07-01 14:06] epcim commented on #2472
Any progress?

[2020-07-01 14:30] Schwad commented on #2472
Hello @epcim and thanks for checking in! I appreciate this issue has been around quite a while but I can say that it has been triaged forward into our developer backlog. Hopefully with our limited bandwidth (and community support) it is something that we can dig into soon. We'll be sure to update here as this happens! 👍

[2020-07-01 15:04] Schwad commented on #5112
Update - still wrangling with Atom - for some reason it is *only* recognizing one rule.... which is weird.. going to try and make a dummy rule cloning this rule (say matching 'attribute1' instead) to see if the failure is *just* accepting 1 rule or if there's something magical about how I composed the `attribute` rule that I need to copy over to the other rules.

[2020-07-01 16:08] kekaichinose commented on #3881
I'll follow-up with LearnChef team on this

[2020-07-01 21:44] btm commented on #4893
@james-stocks I think the last/only place this was discussed in writing was https://chefio.atlassian.net/browse/SUSTAIN-987.

[2020-07-02 08:57] Schwad commented on #5003
So although a benchmarking folder is not off the table for internals (say individual components of InSpec for development, etc.), it looks like our first step here will be as @james-stocks indicated to do this capture during CI run and send to Chef internal datastore.

Having a think this morning on what the logical approach might be, and drew something up. Open to comments if others have a differ

[2020-07-02 12:37] Schwad commented on #5112
Above comment being tracked here: https://github.com/Schwad/InSpecStyle-atom/issues/2

Attempting the logic from above of a new dummy cop

[2020-07-02 14:27] Schwad commented on #5112
NOTE: When developing on the atom, this is a gotcha that I've learned the hard way. Due to caching, simply killing atom and reinstalling the gem is not enough to persist checks on cop changes.

What I do to fully rebuild the gem and reflush the Atom cache (there's probably a more programmatic way to do this) is:

`rm -rf pkg/inspecstyle-0.2.1.gem; rake build; gem uninstall inspecstyle; gem install

[2020-07-02 14:49] Schwad commented on #5112
Final note - to pick up for next week. I was wrong. I completely uninstalled inspecstyle from my system and inspecstyle atom and nuked everything. Upon restart I just installed the atom package and the same behaviour happened so the gem is vendored somewhere. Going to try to either find the vendor or navigate my way through this with different rubies/versions on tuesday.

[2020-07-02 17:22] clintoncwolfe commented on #5003
FWIW, the telemetry PR #4874 does exactly all this already. It logs invocation duration to the company telemetry datastore, which is already setup and maintained for you. Logs local platform, inspec version, and several other interesting things.

[2020-07-03 09:50] james-stocks opened #5131 "CLI inputs do not handle = (equals) character"
Present from 4.18 onwards.

To reproduce:

[code]

[code]

It seems to terminate the string on the `=` character.

In 4.20 onwards since we have parsing of inputs to hashes (I thought this might offer a quick workaround), this also does not work - InSpec still treats the YAML/JSON expression as a `=`-terminated string.

Aha! Link: https://chef.aha.io/features/SH-2510

[2020-07-03 10:20] james-stocks commented on #4253
Don't auto-close this one, we should fix this when we get a chance.

[2020-07-03 11:08] james-stocks commented on #4909
Hello Mukund -

The issue you describe looks like you are referencing the URL for a tar.gz file but telling InSpec it is a git repo - and you should use a `url` dependency instead of a `git` one.

If this is still an issue, can you please re-open this issue with the full error output you are seeing? I'm happy to take a look via email if you'd like us to privately review your setup.

[2020-07-03 11:08] #4909 closed, assigned to nobody

[2020-07-03 15:19] fzipi opened #5132 "Port resource in freebsd can't parse ipv6 URIs with interface"
# Describe the problem

Whenever there is a `describe port()`, this appears on FreeBSD:
[code]
While the error looks like a `URI` in parsing, it seems more related to `sockstat -46l` line regexp match.

This is an excerpt of what `sockstat -46l` shows in my FreeBSD:
[code]
And that `%lo0` looks like it is breaking the regexp in https://github.com/inspec/inspec/blob/master/lib/inspec/resources/port

[2020-07-06 12:10] james-stocks opened #5133 "FilterTable resources are fully loaded before waivers/skips/excludes apply"
*Expected behaviour*: Waiving or skipping a control or excluding it in an inheriting profile will skip all execution of the control. This allows slow or broken controls to be removed from execution.

While there are a number of existing issues around mixing Ruby code with InSpec DSL, this is one case where it doesn't work within the bounds of our DSL.

*To reproduce*:

Create a filter table resour

[2020-07-06 12:14] james-stocks commented on #3433
The most common pitfall here is that users put Ruby in their InSpec control source code. By the nature of how InSpec works, that Ruby code will be evaluated at the same time that InSpec is evaluating what controls and tests are defined in the source code.
There's nothing we can do in this case, we need users to back out any Ruby code in their InSpec controls and put them into custom resources.

On

[2020-07-06 12:23] james-stocks opened #5134 "InSpec resources should not connect with the target in `initialize` method"
If an InSpec resource sends commands to the target (or otherwise does anything that causes traffic or measurable execution time), that code executes immediately and causes controls to seem "unskippable" by skips or waivers or profile inheritance.

An example of a resource doing this properly is [`command`](https://github.com/inspec/inspec/blob/fa2f2c2caa2fffa2ca1456baf68dc428befab3ab/lib/inspec/re

[2020-07-06 12:25] james-stocks commented on #5134
As well as fixing core resources, we should update docs to help people coding their own resources.

@Schwad - I think a style rule isn't possible for this case, as users may have an `initialize` method in their custom resource and we wouldn't be able to determine which lines of code inside that method are problematic or not?

[2020-07-06 15:07] james-stocks commented on #4407
Going to close this. I think instead of trying to pull in rspec's `let` we could have our own DSL concept called `let` or `define` where users create definitions for code blocks that do not evaluate until tests are being evaluated.
Will raise a new issue for that.

[2020-07-06 15:07] #4407 closed, assigned to james-stocks

[2020-07-06 23:18] kekaichinose commented on #4972
@amitchettri we merged in #5045 back on 2020-06-25 and released it with version 4.21.1: https://github.com/inspec/inspec/releases/tag/v4.21.1

Are you able to verify and see if it resolves your issue? Thanks!

[2020-07-06 23:21] kekaichinose commented on #4507
Closing this as we need more detail around the customer outcome we're trying to drive on this or if it's more just an internal improvement, of which we will need to revisit prioritization on.

I'll cut a new epic with proper scoping around this when we revisit this. Closing.

[2020-07-06 23:21] #4507 closed, assigned to nobody

[2020-07-07 09:36] Schwad commented on #5003
Hey @clintoncwolfe , thanks for this point!

So in theory with that functionality we could add a rake task into the build process (say `bundle exec rake benchmark:basic_profile`) and would the DSL look something like:

[code]

Or maybe I've constructed that incorrectly as we'll be composing the config after running our command 🤔

This is definitely something to keep in mind 🙏

[2020-07-07 15:50] Schwad commented on #5112
Great update today for the Atom package but posting on the Epic for visibility.

YES - all the latest updates are available and working. I just reinstalled everything on a clean laptop today and confirmed that we are in fact linting everything.

I still need to solve the following two issues but this is great progress as anyone stumbling upon the package will have a working instance:

- [ ] determ

[2020-07-08 12:42] danielcbright opened #5136 "Add the ability to specify policy_group and policy_name from a CLI-based run"
## Detailed Description
Currently with the advent of Effortless Audit, many teams are using Policyfiles combined with the Habitat cookbook to deploy Effortless Audit. This is a great way to start using Habitat and Effortless at the same time, but leaves some confusion in the Automate dashboard as you can't filter nodes on the Compliance tab the same way you can in the Infrastructure tab.

## Conte

[2020-07-08 16:33] aaronlippold commented on #2485
This seems to be coming up again in current releases of inspec

[2020-07-08 19:16] jrbeilke opened #5137 "apt resource fails when sources include apt-cdrom repos"
Trying to use the apt resource to verify a repository on Ubuntu 16.04 but the tests are failing because the sources list includes an apt-cdrom repository ie.

[code]

In particular, here's what that looks like in /etc/apt/sources.list

[code]

Seems like the apt resource should be updated to ignore these apt-cdrom repos in the sources lists since the documentation already states that a URL or PPA

[2020-07-09 09:43] james-stocks commented on #2485
@aaronlippold - closed issues are not reviewed by Engineering. If the issue in the current InSpec is exactly the same reproduction case as the description for this issue then we should re-open this issue.
If it's just somewhat similar to this issue then please open a new issue.

[2020-07-09 09:58] james-stocks commented on #5136
This is when using the [`automate` reporter](https://github.com/inspec/inspec/blob/master/lib/inspec/reporters/automate.rb), right?

If this is using the Effortless approach where the code for sending reports to Automate is inside the Habitat plan then this isn't the right repo for this issue.

[2020-07-09 13:36] #5131 closed, assigned to Schwad

[2020-07-09 14:08] aaronlippold commented on #2485
Not sure if it's exact but I think the issue is a windows issue that wasn't
tested from the orig fix. Not sure if the solution will be the same between
platforms.

On Thu, Jul 9, 2020, 5:43 AM James Stocks <notifications@github.com> wrote:

[2020-07-09 15:37] danielcbright commented on #5136
hey @james-stocks it is when using the automate reporter, which is how Effortless sends reports to Automate, currently `policy_group` and `policy_name` aren't supported so first we need to get these added as supported variables via the `automate` reporter then we can update the Habitat plan for Effortless.

[2020-07-09 21:57] kekaichinose opened #5140 "Fix Reporting of MacOS Release Version"
## **What problem are we solving?**

_Should be a few sentences. Describe the user stories and the target market._

MacOS customers that are running profiles that check against the release version of MacOS currently have the Darwin kernel version returned instead (e.g. '18.7.0' vs '10.14.6' (Mojave)). The expected output should be the latter - 10.14.6. As we don't know which version customers are

[2020-07-10 13:31] james-stocks commented on #5140
This is in platform detection so we need to track an issue in train as well
(track, get it?)

Since detection is also shared with Infra we need to coordinate the change with them as well.

[2020-07-14 08:54] Schwad commented on #5003
I just had a good chat with @james-stocks about this issue and I think the approach we're going to look at is getting some sort of implementation of this in ASAP within expeditor manually, but keep an eye on telemetry for future changes.

[2020-07-14 10:21] james-stocks commented on #5003
Yes please, the ask here is to collect some rough data _now_ without being gated by the completion of telemetry. As discussed I believe we just need RelEng's advice on how to give Expeditor or BuildKite credentials to post to Redshift.

[2020-07-14 10:49] #5137 closed, assigned to nobody

[2020-07-14 12:15] skpaterson opened #5141 "Add support for `default_transport` specified in `inspec.yml`"
For the consumption of cloud and other InSpec profiles it is required add a dependency to the relevant resource pack e.g.
[code]
This effectively polarises the underlying transport choice e.g. `-t aws://` but we still surface that unnecessarily to the user when running InSpec.

One possible solution would be to add a field to the resource pack `inspec.yml` files to specify the default transport e.

[2020-07-14 15:33] james-stocks commented on #5141
This would be lovely. May involve a fair amount of restructuring InSpec since the backend (e.g. `aws://`) is set up separately from the profiles being loaded. And we can't simply load the profiles before starting the backend because the profiles need validated against the backend to make sure they are supported.

We might not even need a new YAML field - it could be inferred from `supports` - if t

[2020-07-15 12:28] #5107 closed, assigned to james-stocks

[2020-07-15 23:20] detjensrobert opened #5143 "INI resource does not match keys with names that conflict with Ruby Hash methods when using dot syntax"
# Describe the problem

When checking an `.ini` file with dot syntax, InSpec does not correctly match any property with a name that conflicts with a Ruby Hash method or property, i.e. `default` or `length`. This warning gets thrown:

`W, [2020-07-15T15:46:09.643187 #30621]  WARN -- : You are setting a key that conflicts with a built-in method Hashie::Mash#default defined in Hash. This can cause un

[2020-07-16 17:00] kagarmoe opened #5145 "AWS resource documentation bugs"
1. Resource aws_cloudwatch_log_group doesn't seem to exist anymore when using inspec-core-4.18.100
2. Clarify the options needed for the aws_iam_policy In the latest tagged release of inspec-aws. It needs "optionised" arguments. Running a describe aws_iam_policy("somepolicy) fails inspec without any errors but with the warning:  "aws_iam_policy: One of [:policy_arn, :policy_name] must be provided.

[2020-07-16 17:39] mbaitelman commented on #3959
I'm writing this up using Invoke-WebRequest.
Is there a preference in how to handle multi-platform code?
Just if/else everwhere, one giant if/else for the whole file or 2 different files for each.

[2020-07-17 05:19] rohancollab opened #5146 "Inspec YML and Azure resources - Inspec is skipping my 'inspec-azure' profile"
I am not sure if I am including inspec azure resources correctly in my inspec-yml. So when I run my inspec tests in a docker container using gitlab-ci.yml, it fails because 'inspec-azure' profile is skipped while inspec runs the tests -

Here is my inspec-yml

[code]
here are my pipeline failures when I try to run the Inspec Azure tests

$ inspec exec "Inspec-AzureTests"
[2020-07-17T03:18:58+00:00

[2020-07-17 08:03] james-stocks commented on #5146
Hi @rohancollab -

Using `inspec-azure` means that InSpec is targeting Azure. Declaring `supports` `debian` causes your profile to only work when targeting a Debian host. If you want to scan Azure you'll need to remove the `supports` `debian`.

If you have a need to run tests both against a Debian host and an Azure account, these need to be kept in separate profiles. One that supports `debian` and

[2020-07-17 09:52] skpaterson opened #5147 "Extend profile inheritance to support reuse of helper classes in downstream profiles"
A common pattern in cloud and other resource packs is to have a `backend` base-class that handles all the connection management and other reusable functionality shared between resources.

Using AWS as an example, if a user creates a new profile and depends on a resource pack:
[code]
In the situation they want to create a new custom resource for this profile then they currently have to inherit from

[2020-07-17 11:07] Schwad commented on #3959
Hi @mbaitelman ! 👋

Great question. If you look through the `lib/inspec/resources` directory generally and search for `windows?` it appears the most common pattern is to utilize `if/elsif os.windows?`, and if unsupported something like `return skip_resource "The `such_and_such` resource is currently not supported on Windows." if inspec.os.windows?`.

I do think as a personal view that it's helpful

[2020-07-17 18:26] james-stocks opened #5153 "Do not run inspec-inspec-master-habitat-build for PRs"
On PRs opening or having their branch updated, we run the [`inspec-inspec-master-habitat-build`](https://buildkite.com/chef/inspec-inspec-master-habitat-build/builds/872)

This uploads to bldr, meaning we have a set of harts for every commit on every PR, when no-one needs them (and they may be _very_ unstable).
We already build and test habitat harts via `inspec-inspec-master-artifact-habitat` so

[2020-07-20 00:35] rohancollab commented on #5146
Thanks @james-stocks . That works! I wanted to test azure webapp from my debian host and earlier I had created one profile and was trying to import azure resource pack in this profile.

For someone running into same issue, here's what worked for me.
Created a separate profile for Azure and included that in inspec tests as follows and it works

In Inspec-AzureTests directory

inspec.yml
[code]

In

[2020-07-20 00:37] #5146 closed, assigned to nobody

[2020-07-20 07:57] james-stocks commented on #5088
[inspec-compliance](https://github.com/inspec/inspec/tree/master/lib/plugins/inspec-compliance) largely does this already, though isn't a reporter plugin.

[2020-07-20 08:39] Schwad opened #5155 "Update RELEASE_PROCESS.md to cover expeditor retry cases"
# Describe the problem

Currently, we have a 10-step workload on expeditor when running `/expeditor promote inspec/inspec:master x.x.x`.

If any of those steps fails, we are given a "retry" button. However, the workload is not inherently "retry-supported". For example, if any step after `built_in:publish_rubygems` fails, then a retry will certainly fail the rubygems step saying that the gem has al

[2020-07-20 10:04] james-stocks commented on #5155
Thanks for making sure we track this @Schwad

I think some items can/should be directly fixed in Expeditor. Some of the steps (i.e. our own bash scripts) we should add idempotency to.

Short term `RELEASE_PROCESS.md` could have steps for recovering from promotion errors - those this could simply be to raise with RelEng to get their immediate support. There's bits we simply cannot do e.g. only expe

[2020-07-20 10:36] james-stocks commented on #5143
I'm surprised that dot syntax works at all! In most resources the `.` is only interpreted as being a Ruby method chain.
We should document more clearly that array syntax is needed.

I would ideally like (though it would need to be some future version of InSpec) for `.` characters to be literal, and not allow method chaining. That would put extra work on profile creators though - they'd need to cre

[2020-07-20 17:54] samcornwell opened #5156 "inspec.yml and inputs-file interpret hashes differently"
Using Inspec 4.21.1. Whenever I define an `input` in `inspec.yml` which is a hash, it gets interpreted differently than if I pass it as an input file. The `inspec.yml` turns the keys into symbols, while and input file turns the keys into strings.

Example:
inspec.yml
[code]

output of `input('sns_subscriptions')`
[code]

Example:
Override with an `inputs.yml` (inputs file)
[code]

output of `input

[2020-07-21 02:58] mattray opened #5157 "alias "inspec compliance" with "inspec automate""
Users looking for working with Automate for uploading/downloading/listing profiles have a hard time finding the `inspec compliance` command as the proper command. Conversely, there is now a(nother) Chef Compliance product further confusing the naming. I'd recommend simply providing the alias `inspec automate` for `inspec compliance` and deprecating `compliance` for removal in InSpec 5.

Aha! Link:

[2020-07-21 08:04] james-stocks commented on #5090
We got this for free with the site migration.

[2020-07-21 08:04] #5090 closed, assigned to nobody

[2020-07-21 08:13] james-stocks commented on #5157
cc @kekaichinose
We should also search the codebase + docs for references to "compliance" (the EOL Chef product), and remove them.

[2020-07-22 09:41] james-stocks opened #5160 "port resource not working inside Habitat studio"
[code]

netstat says that port 9631 is listening (this is a Habitat port) but InSpec disagrees:

[code]

Trying to return all the ports returns an empty array:

[code]

Aha! Link: https://chef.aha.io/features/SH-2674

[2020-07-22 09:56] james-stocks opened #5161 "`host` resource does not seem to work inside Habitat studio"
[code]

Curling a website from inside the studio indicates that the site is reachable...

[code]

But InSpec shell claims the host is unreachable...

[code]

Further, trying to specify `protocol` shows an error:

[code]

**Acceptance Criteria:**
 * Resource works in Habitat
 * Integration tests running in CI to evidence that the resource keeps working over time. (Note: this might slot into the exi

[2020-07-22 10:05] james-stocks commented on #5161
If I add `busybox-static` as a pkg dep it somewhat works:

[code]

But oddly the basic form of the test still doesn't work...

[code]

I do note this takes > 10 seconds to complete, so it now seems to be doing _something_

@TheLunaticScripter any concern with `busybox-static` being made a runtime dep for `chef/inspec` ?

[2020-07-22 12:17] TheLunaticScripter commented on #5161
I think the main concern is where it shows up on the path in the InSpec run and then whether the resources work with the habitat version of `busybox-static`. If there are integration tests for the habitat package alongside the omnibus package then I think it will be okay.

[2020-07-23 13:47] samcornwell commented on #5156
For what it's worth, I think it makes the most sense for both methods to produce strings for keys, rather than Ruby-specific symbols.

[2020-07-23 20:35] james-stocks opened #5162 "Reporter - messages should only be noted as truncated if they were actually truncated"
https://github.com/inspec/inspec/blob/v4.22.1/lib/inspec/reporters/base.rb#L24-L25

[code]

If a message truncation length is given in options, then `"[Truncated to #{trunc} characters]"` is appended to every result message, even shorter messages that did not lose any characters to truncation. This looks confusing - it should only be appended when the message was shorter than the truncation limit.

[2020-07-23 20:36] james-stocks commented on #5162
@alexpop @Schwad @kekaichinose - this is the bug discussed in Slack.

[2020-07-23 22:14] alexpop commented on #5162
Agree, thank you @james-stocks

[2020-07-24 10:36] pgmillon commented on #4328
A workaround we found and works well is to define a module and extend the Core classes:

test/integration/base_profile/libraries/aws_mixins.rb
[code]

And we can now read the inline policies without duplicating the whole resource:

[code]

There may be better ways, but at least it does the job for us.

[2020-07-26 02:04] brettcurtis commented on #4310
@christian-wtd - did you ever find a w/a for this? I'm trying to use kitchen-terrafrom from WSL2 and seeing somthing similar.

[code]

[2020-07-26 06:33] christian-wtd commented on #4310
@brettcurtis - the only two options I had were the patch which I submitted but was denied or alternatively run it as root. NOt sure if this would be suitable for you or even help.

[2020-07-26 12:10] brettcurtis commented on #4310
@christian-wtd  shoot, thanks man. I'm surprised WSL2 isn't supported ☹️ hopefully they reconsider the patch

[2020-07-26 13:04] brettcurtis commented on #4310
@christian-wtd - I think this is an option too: https://stackoverflow.com/questions/51336147/how-to-remove-the-win10s-path-from-wsl - I gotta run but will test more later.

[2020-07-26 14:19] christian-wtd commented on #4310
Yeah, seems to work like a charm this way.
So if anyone else has this problem with WSL, it is because windows system binaries (especially cmd.exe) are in your $PATH.
Generally the fix is to create a file /etc/wsl.conf:

and run from powershell (as admin):

@brettcurtis - thanks for figuring that out.

[2020-07-27 09:48] Schwad commented on #4282
Sorry stale bot, I believe this is something we're still keeping an eye on, unless someone else knows something I don't.

[2020-07-27 16:02] mcascone commented on #4394
This seems to have gotten _worse_ with newer versions of inspec on windows. 36 seconds to run `--version`.

[code]

[code]

[2020-07-28 08:35] Schwad commented on #4394
Hi @mcascone I believe we were seeing `10000` milliseconds on windows powershell from InSpec 4.20+, and on Bash for Windows we're seeing `13` ms. This is something that definitely needs resolution and we have plans for a benchmarking regime to track improvements/regressions to tackle things like this.

For speed gains __today__ if someone requires a windows machine I would recommend Bash for Windo

[2020-07-28 11:37] satyanash opened #5170 "lib/resources is merged with chef resources dir in cookbook"
Most non-trivial cookbooks will have a `resources` directory that contains all the "reusable" chef resources.
This being merged with the `lib/resources` directory in the inspec source code causes issues when filenames are repeated.

# Describe the problem
In my specific case, I had a chef resource that did something related to pip.
The relevant code in my cookbook was placed inside a file called `

[2020-07-28 11:39] ashima15448 commented on #4803
@rahulthescorpion Can you please provide the solution as I am also stuck in the same issue
Thank you.

[2020-07-28 15:06] mcascone commented on #4394
Thanks. I'm not sure i'm doing it right - i still get 10 seconds in WSL. Granted it's a 3x improvement, but still too slow. Is there a trick or extra steps to getting the speed one would expect from running on linux?

[code]
[code]

I'm on a Lenovo L490
Intel(R) Core(TM) i5-8365U CPU @ 1.60GHz, 1901 Mhz, 4 Core(s), 8 Logical Processor(s),
16GB RAM
Windows 10.0.18363 Build 18363

[code]

[2020-07-28 15:58] Schwad commented on #4394
My only other thoughts are could you get me a benchmark on the latest `inspec` (4.22.1, 4.18.100 was latest in at beginning of March), and do it against `inspec exec some-tiny-profile.rb`?

Whilst with most libraries `-v` is the ultimate load-time check, I'm wondering how much difference there is between `-v` and plain old `exec`.

I've run these checks on my machine but definitely find value in g

[2020-07-28 16:01] Schwad commented on #4394
I'd just like to make clear by the way, this issue in general is a priority and is not something we lightly brush over.

We currently have work in planning/progress to improve our windows testing and benchmarking our speed on windows, which will help move us forward on this journey. Once we have reliable benchmarking in place then I can actually post in here that a certain perf PR improves windows

[2020-07-29 09:57] Schwad opened #5172 "Piping in custom config with reporter truncation setting does not appear to function"
# Describe the problem

To reproduce, use this use case: https://github.com/inspec/inspec/pull/5165#issuecomment-665554413

## Possible Solution

Unsure, may require simply running this command whilst prying in.

[2020-07-29 10:03] skpaterson opened #5173 "Introduce an optional InSpec profile "validation" phase prior to running all controls"
InSpec profile controls can require multiple different credentials/permissions depending on the context.  For example, an Oracle profile might need access to a local or remote host to perform OS level checks, plus the need to successfully connect to a database.   Currently there can be confusion when failures arise specifically because expected credentials are not valid e.g. it is complicated to d

[2020-07-29 10:55] #5162 closed, assigned to Schwad

[2020-07-29 19:55] aaronlippold commented on #4340
Was this issue resolved and clarified

[2020-07-30 14:13] heldersepu opened #5174 "Filter EC2 instances by Tag"
Trying to filter EC2 instances by Tag, as shown in the examples:
https://github.com/inspec/inspec/blob/master/www/content/inspec/resources/aws_ec2_instances.md#filter-ec2-instances-with-their-environment-tags-equal-to-dev-then-test-in-depth-using-aws_ec2_instance
but it just errors out

# Describe the problem
Just run
[code]
getting error:
`':tags' is not a recognized criterion - expected one of :

[2020-07-31 20:12] mjingle commented on #5145
AWS resource documentation is supposed to come from inspec-aws repo, not inspec-core. We're currently working on a docs fix for this.

[2020-08-03 10:14] Schwad opened #5177 "Coverage builds failing"
# Describe the problem

It appears that whenever Expeditor does a version bump commit, we run a master-master coverage check that is currently failing: https://buildkite.com/chef/inspec-inspec-master-coverage/builds/185#c458f419-7e26-424d-a95e-0fca319f2a89

It produces an output that our code coverage is around 84%. This is something that, once fixed, we ought to know on the PR level. If we want t

[2020-08-03 10:25] Schwad commented on #5173
@skpaterson

Thank you for putting this together - I really like the sound of it! :)

We're at a point as a team where test loading and collection has been something we've been deep diving on (in large part due to skip_controls/waivers work)- which is an area a feature like this would touch as well.

I think InSpec could do with an optional validation setup. If you have a profile that takes a half

[2020-08-03 11:17] Schwad commented on #5172
To replicate against a local inspec build run:

`echo '{"reporter_backtrace_inclusion": false, "reporter_message_truncation": 10, "reporter":["json-automate"], "backend_cache":true}' | bundle exec inspec exec test/fixtures/profiles/failures --json-config=- | python -m json.tool`

[2020-08-03 11:56] Schwad commented on #5172
@alexpop I did a bit more research on this today.

It appears that `--json-config` [was deprecated in InSpec 3.6](https://github.com/inspec/inspec/pull/3750) and will be removed in InSpec 5. Trying this with `--config` instead of `--json-config` I do appear to get truncation on my machine whilst piping in the config. Can you confirm if this works for you?

`echo '{"reporter_backtrace_inclusion": f

[2020-08-03 12:03] alexpop commented on #5172
Great find @Schwad
I confirm that truncation works with `--config`

In this case the InSpec scanner in Automate needs updating:

[code]

[2020-08-03 12:06] Schwad commented on #5172
Thanks Alex! I'm glad I was able to find it - I had actually set aside more
time than this for this issue so now I'm actually ahead of the game 😂
thank you for raising this though so we could get to the bottom of it 🙏

On Mon, Aug 3, 2020 at 1:03 PM Alex Pop <notifications@github.com> wrote:

[2020-08-03 23:03] haidangwa opened #5179 "yum resource should support all configurable yum repo settings"
## Detailed Description
Currently, the `yum.repo` resource supports only a handful of possible yum configuration properties. This is a very limited short list of properties to check. Can we support all of the configurable properties in a yum repo configuration file?

## Context

I found that `username` and `password` are not supported by the inspec `yum.repo` resource, but these are both valid con

[2020-08-04 07:58] #5172 closed, assigned to Schwad

[2020-08-04 10:21] Schwad commented on #5179
Thanks for filing this issue @haidangwa !

I wonder if a PR to this affect could just add these here on the Yum resource?

https://github.com/inspec/inspec/blob/7bf8e9b6e58836809906224ff1b1d24648db731a/lib/inspec/resources/yum.rb#L142-L156

[2020-08-04 10:29] Schwad opened #5180 "In service resource OS detection case block, use os[:family] instead of `platform`"
For background see: https://github.com/inspec/inspec/pull/5164#issuecomment-666343231

[2020-08-04 15:00] pacopal opened #5182 "oracledb_session doesnt work with sqlplus 12.1 or lower."
# Describe the problem

Running inspec **from the database servers** and using oracledb_session will fail, when the database server version is 12.1 or 11g. This is because the sqlplus version installed in the database servers will match with the database versions.

oracledb_session is using the following format options:
`format_options = "SET MARKUP CSV ON\nSET PAGESIZE 32000\nSET FEEDBACK OFF"`

[2020-08-04 22:32] aaronlippold opened #5183 "postgres_session does not have a param for the `port` to be set"
The postgres_session resource needs to allow the user to pass a port for the target db as we do for host and db_name etc

[2020-08-04 22:59] aaronlippold commented on #4948
This is still an issue for local resources to the profile

[2020-08-05 10:04] Schwad commented on #5183
Thanks for filing this, Aaron!

For anyone coming here and interested in this, I think you'll want to make the change here:

https://github.com/inspec/inspec/blob/beaad73586806e93ddab242542205a18aecc2cd3/lib/inspec/resources/postgres_session.rb#L42-L57

And take inspiration from the host resource here:

https://github.com/inspec/inspec/blob/master/lib/inspec/resources/host.rb#L47-L49

(Note, one p

[2020-08-05 10:10] Schwad commented on #4948
Hi Aaron,

Can you file a new issue explaining why [this workaround](https://github.com/inspec/inspec/issues/4948#issuecomment-596150110) is insufficient so we can track it? We don't actively track closed issues.

[2020-08-05 10:12] Schwad commented on #5182
Thanks for this @pacopal and for catching this! Would you be able to file a PR to that effect?

[2020-08-05 11:42] rndmh3ro commented on #3826
For anyone else finding this issue, you can use this:

[code]

[2020-08-05 12:08] stevendanna commented on #3826
I've gone ahead and re-opened this issue since it is about specifically the ability to specify branches via a git URL passed directly to inspec exec.

I think to support this we would want to do some research on common URL formats for specifying branches.

[2020-08-05 14:01] aaronlippold commented on #4948
Ok. I will put something together for you.

On Wed, Aug 5, 2020 at 6:10 AM Nick Schwaderer <notifications@github.com>
wrote:

--
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2020-08-05 14:04] aaronlippold commented on #5183
I think this is a good start, I would just want to test that modifying the constructor in this way is backwards compatible with folks code so we don't introduce a breaking change.

[2020-08-05 14:07] clintoncwolfe commented on #3826
Thank you for re-opening this - I clearly misunderstood. Apologies for the unhelpful link.

[2020-08-05 14:35] StylusEaterChef commented on #5183
An optional port argument with a sane default (5432?) should be backwards compatible. Or am I missing something?

[2020-08-05 14:41] Schwad commented on #4948
Thank you :)

On Wed, Aug 5, 2020 at 3:02 PM Aaron Lippold <notifications@github.com>
wrote:

[2020-08-06 16:35] fzipi commented on #5119
This was fixed in #5123 .

[2020-08-06 16:35] #5119 closed, assigned to nobody

[2020-08-06 17:30] karikarshivani commented on #2132
We really need describe.all for an entire section of the [AWS CIS Foundations profile](https://github.com/mitre/cis-aws-foundations-baseline/blob/master/controls/cis-aws-foundations-3.1.rb). The logic states that at least one CloudTrail should meet ALL the requirements so we would like to implement it like this:

[code]

Can this be prioritized? @adamleff @kekaichinose

[2020-08-07 04:52] xtreme-nitin-ravindran opened #5190 "`modinfo` output replaces `-`(hyphen) with `_`(underscore)"
Fails for ubuntu hardening **V-75531: Automatic mounting of Universal Serial Bus (USB) mass storage driver must be disabled.**

The error is caused by `modinfo` output replacing `-` with `-`

# Describe the problem
Fix for **V-75531** is running command

`echo “install usb-storage /bin/true” >> /etc/modprobe.d/DISASTIG.conf`

The check `modinfo --showconfigs` has `usb_storage` instead of `usb-stor

[2020-08-10 11:04] Schwad commented on #4364
Easy there `stale-bot`, this is something we don't want closed off

[2020-08-10 13:07] ashima15448 opened #5191 "Not able to identify cloudwatch alarms from inspec"
I am trying to ensure that my cloudwatch exists using InSpec. I have created an alarm and am passing its details as input variables. However, inspec fails to identify my alarm and says that it does not exist. I am using the following code:
[code]

Output:
[code]
Can someone please help me with the issue.

Thank you.

[2020-08-10 17:08] StylusEaterChef commented on #5183
@Schwad and @aaronlippold are either of you able to check out the PR?

[2020-08-10 17:14] clintoncwolfe commented on #3006
The `junit2` reporter is now available, merged in #5085. I'm going to close this, thanks!

[2020-08-10 17:14] #3006 closed, assigned to nobody

[2020-08-11 14:43] StylusEaterChef opened #5194 "Add Support for Certificate Based Authentication"
## Detailed Description

Great to see this moving forward. The other question that I come up was
PSQL’s use of SSL certificates. And if we wanted to well we were adding the
missing port perimeter also to add optional parameters for CA Root and can
file.

https://www.postgresql.org/docs/9.4/libpq-ssl.html

the docs seem to indicate we would need to add an optional flag and then point ot the correct

[2020-08-11 16:10] Schwad commented on #5194
This is great - thanks for adding an issue for this! 🙏

@aaronlippold also had a few valid thoughts around this in community communications: https://chefcommunity.slack.com/archives/C1XB6U6MN/p1597158713232200

[2020-08-12 18:03] tas50 opened #5195 "Switch from term-ansicolor to pastel"
## Detailed Description

We've somewhat standardized on gems from the tty project for handling input and console display in Ruby projects. They're well designed, tested, and documented. Standardizing on these gems also lets us keep our overall package sizes down as we reduce the number of deps we ship for duplicate functionality. Pastel is used by several projects in the chef ecosystem and allows

[2020-08-13 02:07] tas50 opened #5200 "Determine if we can bump rubyzip dep"
We currently rely on a dated version of rubyzip (1.x). We should figure out if we can ship the current release:

https://github.com/rubyzip/rubyzip/blob/v2.3.0/Changelog.md

[2020-08-14 04:33] JazJas opened #5205 "command('something').exist? always run true on Windows"
The command exist test always returns true regardless of if the command is invalid.

# Describe the problem

On Windows, we want to test if a command/cmdlet exists before running it. However, the 'command().exist?‘ test always returns true no matter what command to be tested. Here is the sample output:

    inspec> help
    You are currently running on:
        Name:      windows_10_pro
        Fa

[2020-08-14 09:30] micheelengronne opened #5206 "SSL client certificate for the http resource"
I would like to use the http resource on an endpoint that requires a ssl client certificate.

## Detailed Description
I propose to add 3 parameters to the http resource:

* ssl_client_cert
* ssl_client_key
* ssl_client_cacert

## Context
It would make the http resource available to test strongly encrypted endpoints.

[2020-08-14 14:14] thheinen commented on #4978
This just got merged into 4.22.11 - thank you :)

[2020-08-14 14:14] #4978 closed, assigned to nobody

[2020-08-14 18:22] haidangwa opened #5209 "File resource assertions for symlinks seem to contradict with file assertions"
# Describe the problem

Following the example described here: https://docs.chef.io/inspec/resources/file/#test-if-a-file-is-a-symbolic-link, I am seeing that the symlink and file assertions are contradicting.

My resource:
[code]

Inspec fails with these failures:

[code]

if `it { should be_symlink }` is true, then `its('type') { should eq :link }` should also be true and `it { should_not be_file

[2020-08-14 23:08] JazJas commented on #5205
Would you mind kindly indicating when a patch will be released for this?

In addition, meanwhile is there any workaround to provide a similar testing?

[2020-08-17 07:07] yangpeng-chn commented on #541
Does anyone know how to solve the encoding issue below?

chef-client OS: windows 2016

`[2020-08-17T14:24:40+09:00] FATAL: Chef::Exceptions::JSON::EncodeError: ruby_block[save node attributes] (mlj_save_attributes_cb::default line 22) had an error: Chef::Exceptions::JSON::EncodeError: Invalid UTF-8 string '・ｽ・ｽ・ｽ・ｽ (・ｽW・ｽ・ｽ・ｽ・ｽ)': cannot encode to UTF-8`

Code used:

[code]

[2020-08-17 10:38] Schwad commented on #541
Hey @yangpeng-chn - great question! Unfortunately we do not track closed issues - could you file your question in a new issue?

[2020-08-18 03:23] yangpeng-chn opened #5212 "Invalid UTF-8 error when saving node attributes"
This is a follow-up of the question: https://github.com/inspec/inspec/issues/541

# Describe the problem

I was trying to save the node attributes as json to file with Chef recipe and use it in my Inspec profiles. However the following error occurs at the time of saving the attributes to file.

Error:
`[2020-08-17T14:24:40+09:00] FATAL: Chef::Exceptions::JSON::EncodeError: ruby_block[save node att

[2020-08-18 10:17] Schwad opened #5214 ""The token '&amp;&amp;' is not a valid statement separator in this version." Windows error"
Affiliated with #5213

This is an error uncovered when running our test suite against windows machines. We have some `skip_windows!` methods that we are trying to slowly remove in order to have our windows coverage on par with all other platforms.

We see this in the following places:

- [ ] All three specs in `lib/plugins/inspec-init/test/functional/inspec_init_plugin_test.rb` We expect a normal

[2020-08-18 15:50] clintoncwolfe commented on #5212
Would this work?
[code]

[2020-08-18 23:46] lamont-granquist commented on #4394
On my windows 10 laptop:

[code]

and:

[code]

Note very carefully there that I am running out of the omnibus ruby packages for either inspec or chef client.  We have patches to the ruby which we built to make them faster and make them greatly faster on windows.

If you try to roll your own and gem/bundle install inspec yourself, you'll be getting default rubygems behavior where 10-100 seconds of

[2020-08-19 07:07] klose4711 opened #5215 "InSpec CLI exec "--controls=foo" option is not working as expected"
Using the [exec subcommand with option ](https://docs.chef.io/inspec/cli/#options-3)`--controls=foo` should only run the `foo` control, but it seems like it's still running all controls within the profile in background and only filtering the results output.
# Describe the problem
Have an InSpec profile with 3 controls: foo, bar, baz.

- Execute the InSpec profile without `--controls` option will r

[2020-08-19 17:01] clintoncwolfe commented on #5195
Resolved by #5201 - term-ansicolor was unused

[2020-08-19 17:01] #5195 closed, assigned to nobody

[2020-08-19 17:11] lamont-granquist commented on #5212
`Chef::JSONCompat.to_json(node, validate_utf8: false)` will scrub the node object.

The `to_json` API uses ruby's JSON gem and non-UTF8 characters aren't valid JSON so it correctly throws an exception.

[2020-08-19 23:54] unixengineer opened #5216 "Filter/Search/Iterate through mountpoints"
## Detailed Description
We have various kafka machines that have monts points like /app1.../app10  (and this varies by environment). Is it possible to use filter for all /app* and check for things?

## Context
Explained above

[2020-08-20 17:53] clintoncwolfe commented on #5216
Unfortunately, there is no easy way to glob files or directories - that is asked for on #709.  Right now you need to use a `command` resource with a `ls` or `find` command to get the list. You can't use Rubyism like `Dir`, because that would execute on the local machine - you must use Chef InSpec DSL keywords like `command`.

[code]

I hope that helps!

[2020-08-20 18:35] clintoncwolfe commented on #1370
Refs #709, likely duplicate

[2020-08-20 18:40] clintoncwolfe commented on #5068
#5215 reflects the same problem when using the CLI `--controls` option.

[2020-08-20 19:00] clintoncwolfe commented on #5215
Thanks for the report, and the excellent description of the problem. Unfortunately, this reflects a deep-seated problem in inspec. InSpec [evaluates all controls](https://github.com/inspec/inspec/blob/40a81a580f1549bcc0ce276693709a817e354566/lib/inspec/profile.rb#L220) in order to access the metadata. Currently it does a full eval of the controls (but as I understand it, not the actual describe bl

[2020-08-20 20:33] clintoncwolfe commented on #5205
Sorry for the delay!  I've looked into your report, and have verified the issue on Windows Server 2016:

[code]
The relevant source code is [here](https://github.com/inspec/inspec/blob/40a81a580f1549bcc0ce276693709a817e354566/lib/inspec/resources/command.rb#L73)

When this runs on windows, the result object returns a struct with the `exit_status` field set to nil. Running this through `.to_i` rend

[2020-08-20 22:54] unixengineer commented on #5216
@clintoncwolfe I need to check if the mount point (not directory) is in RO or RW mode. In the method suggested by you, it checks it (/app*) as a directory, and not a mount right?

[2020-08-21 07:17] yangpeng-chn commented on #5212
It worked!

[2020-08-21 07:21] yangpeng-chn commented on #5212
I think I tried the similar one quite a while ago, it didn't work at that time maybe there was something wrong with my code itself.

[2020-08-21 16:46] clintoncwolfe commented on #5216
Yes, I gave an example that simply looks at directories; apologies if I misunderstood. To examine mountpoints, you could do:

[code]

It's advisable to experiment with the [`mount`](https://docs.chef.io/inspec/resources/mount/) resource in `inspec shell` to determine exactly how the `options` property behaves in your case - on my Mac, I get the string "read-only" as an Array element.

[2020-08-21 19:52] ramereth opened #5218 "mysql_session fails with undefined method `stdout'"
I've confirmed that #5124 introduced the following bug:

[code]

You can also see it in action [here](https://github.com/sous-chefs/mariadb/pull/313/checks?check_run_id=1010399944).

If I roll back to version 4.22.1 this problem goes away, but when I update to 4.22.2 and beyond, this issue is happening.

[2020-08-24 18:17] unixengineer opened #5223 "Print remediation (tag?) when inspec control fails"
## Detailed Description
When an inspec control check fail, is there a possibility to print the remediation tag in the console (or report) output, so we can provide guidelines around how to fix that issue. If that exists already, please let me know the docs for it.

## Context
as above.

[2020-08-25 10:21] prat23k opened #5224 "Passing parameters in inspec tests"
## Detailed Description

I have a requirement , I have to write common inspec tests to use across all the project, let say I have to write test for package installation for that I need to pass dynamically variable how do I do that

In the following example how do I pass packagename as a parameter to the test
Is package installed?

describe package('nginx') do
  it { should be_installed }
end

## C

[2020-08-25 10:59] szamfirov opened #5225 "Skip controls from a wrapper profile"
# Introduction
We are relying on InSpec as one of the tools to help us achieve a good security and compliance posture when leveraging Google Cloud Platform's services. We’ve been using InSpec with a “wrapper profile” which currently includes only the controls from the official [GCP CIS Benchmark 1.1 profile](https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark). Using the wrapper profil

[2020-08-25 13:13] aaronlippold commented on #5224
That is what inputs are for. Please see the docs for examples

On Tue, Aug 25, 2020 at 6:21 AM prat23k <notifications@github.com> wrote:

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2020-08-25 13:54] rgeissert opened #5226 "command line returned by processes is truncated"
On some systems the output of ps may be truncated, which may prevent profiles from working as intended.

#1173 intended to fix that issue but it doesn't cover what is a common behaviour. From ps' manpage:

(ps from procps-ng)

# Describe the problem
Example of a test that should be listing some firefox processes in my machine:

By locally passing a COLUMNS env var set to 9999 the problem is notice

[2020-08-25 14:47] daks commented on #5218
I have been affected by the same bug, and for me too rolling back to 4.22.1 solves it.

[2020-08-25 15:16] Schwad opened #5227 "dobi.yml is needed to get docker images updating again"
# Describe the problem

InSpec has disabled `built_in:tag_docker_images` as it no longer exists in expeditor. We need to replace this functionality.

## Possible Solution

Expeditor now has `built_in:promote_docker_images` which we can use to accomplish this. However, it is not a drop-in replacement and needs a `dobi.yml` to describe how things need to be tagged.

When we get here, might need to c

[2020-08-25 15:26] #5218 closed, assigned to nobody

[2020-08-25 15:27] Schwad commented on #5218
Thanks for the catch folks, and the help with the PR! I have merged it and it will be available in the next InSpec release (which fingers crossed is this week!)

[2020-08-25 15:54] Schwad commented on #5224
Hi @prat23k and welcome to InSpec! Check out our docs on inputs here: https://docs.chef.io/inspec/inputs/

If you have questions generally and want real-time answers a great place to try is our community Chef Slack for InSpec (with 1,766 members!) https://chefcommunity.slack.com/archives/C1XB6U6MN

[2020-08-25 15:57] Schwad commented on #5225
@szamfirov thank you for filing this and also linking with other issues for visibility.

I can say that issues around the skip controls and waivers are a high priority for us right now so this documentation of your issue is __very__ helpful. Thanks!

[2020-08-25 16:02] Schwad commented on #4394
Those are some good points and useful measurements, thanks @lamont-granquist

I'm going to be on a windows machine tomorrow and will try this out this way.

[2020-08-25 16:03] Schwad commented on #5068
N/B: #5225 above should be considered part of this epic

[2020-08-26 07:45] rgeissert commented on #5226
FWIW SUSv4:2018 doesn't mention `w`, but it appears to be implemented on freebsd, openbsd, and possibly others. I haven't verified their default behaviour however.
It is definitely not implemented by the busybox I have at hand, so it looks like it could be used on all linux except for the busybox ps, and maybe extend it to other systems as needed.

[2020-08-26 09:54] Schwad commented on #5226
@rgeissert thank you for putting together this very well documented bug.

I haven't been able to grab a process/setup locally that could meet that edge case but if you could recommend a candidate platform and process for reproduction I'm happy to reproduce this myself as well. (Just for testing reasons)

If anybody comes by this issue and is interested in having a crack at a PR I would recommend f

[2020-08-26 10:05] Schwad commented on #5215
Hello @klose4711 -

Clinton hit the nail on the head there. Currently the code behaves as such:

[code]

The way to get the performance wins *today* is to leave as little time-sucking ruby code outside of the describe blocks as possible.

For example, you will really be hurt using `each` blocks to build your describe blocks, which is a pattern I've seen a lot:

[code]

In the longer term, this is

[2020-08-26 10:15] Schwad commented on #5205
@JazJas thank you for catching this and @clintoncwolfe thanks for the background and detective work here!

If somebody comes across this before we get to it, I think Clinton's test above would be perfect, and if you looked into this line

https://github.com/inspec/inspec/blob/40a81a580f1549bcc0ce276693709a817e354566/lib/inspec/resources/command.rb#L80

with something like `&& !res.exit_status.nil?

[2020-08-26 10:33] Schwad commented on #5212
Good to know @lamont-granquist && @clintoncwolfe ! :)

@yangpeng-chn do you feel this has been resolved and we can close this issue?

[2020-08-26 10:35] Schwad commented on #5216
Hi @unixengineer - has this resolved your query so we can close off this issue?

Also, be sure to check out our community InSpec channel (with 1700+ members!) where we love conversations like this about the best way to solve certain problems. https://chefcommunity.slack.com/archives/C1XB6U6MN

[2020-08-26 10:38] Schwad commented on #4412
Hold your horses stalebot, we still want this :)

[2020-08-26 10:38] Schwad commented on #4405
Hold your horses stalebot, we still DEFINITELY want this :)

[2020-08-26 10:39] Schwad commented on #4402
Woah there stalebot, keep this for now

[2020-08-26 10:47] Schwad commented on #5223
Hello @unixengineer thanks for the issue!

Are you asking for a way to generally get the value supplied to `tag`?

If so, the json reporter would definitely give you the tag values!

`inspec exec my_profile.rb --reporter=json`

Docs: https://docs.chef.io/inspec/reporters/#json

Quick note - for a quicker response to queries from a large community (1,700+!) feel free to post any InSpec questions to

[2020-08-26 11:48] Schwad commented on #5225
Quick question @clintoncwolfe - is this an already known issue and do we have a reference to it somewhere? (profile&wrapper-profile `skip`s not playing well together)

[2020-08-26 12:19] rgeissert commented on #5226
I can easily reproduce it locally on a Debian system when running inspec shell interactively:

[code]

With any of these TERMs: xterm, screen, screen.xterm-256color. I haven't tried with any other.

[2020-08-26 15:45] clintoncwolfe commented on #5225
I'd consider it an aspect of #5068

[2020-08-27 10:09] Schwad commented on #5226
@rgeissert thanks for circling back with the Debian reproduction - got it ✅

[2020-08-27 10:15] #1535 closed, assigned to clintoncwolfe

[2020-08-27 10:15] #3797 closed, assigned to clintoncwolfe

[2020-08-27 10:15] #4229 closed, assigned to nobody

[2020-08-27 10:15] #4997 closed, assigned to clintoncwolfe

[2020-08-27 10:31] #5155 closed, assigned to nobody

[2020-08-27 18:56] rbclark opened #5230 "Iterating over inputs raises a "undefined method `each' for #<RSpec::Core::Example" error"
Given the following codeblock:

[code]

and the following inspec.yml excerpt:

[code]

#### Expected Behavior
I would expect the control to successfully run if the user specifies a list of denied hosts, and I would expect the block to be skipped by default if no values are provided.

#### Actual Behavior
[code]

This behavior is manifesting itself on both InSpec 4.18.114 & InSpec 4.22.1.

If I rep

[2020-08-28 08:27] Schwad commented on #5230
Hi @rbclark thank you for filing this. Since `input` does accept `Array` types we do want to have support for the `each` enumerable method out of the box.

Thanks also for including the workaround.

A couple quick q's:

Was there a version where this *was* working that you recall or is it possible this was never supported? (This will help me with performing a bisect against the repository if there

[2020-08-28 09:57] baby-gnu opened #5231 "Comparing YAML trees should provide a nice diff"
Hello.

## Detailed Description

We would like to have a nice and easy way to spot differences when comparing complete YAML structures:

[code]

## Context

The [saltstack-formulas](https://github.com/saltstack-formulas/openssh-formula) community is using InSpec quite intensively now.

We struggled with comparison of files and [switched to using `eq`](https://github.com/saltstack-formulas/openssh-

[2020-08-28 19:54] rbclark commented on #5230
Hey @Schwad, I only tested on 4.18 and 4.22, so it is fully possible that this was just never supported. We are still looking into whether it happens if the array contains data.

[2020-08-31 08:27] klose4711 commented on #5215
Thanks @clintoncwolfe and @Schwad for the confirmation. 🙂  Looking forward to a fix.

[2020-08-31 15:48] mjmenger opened #5233 "executing profile from remote repository expects default branch named 'master'"
# Describe the problem

when executing an inspec profile from a remote repository with a default branch not named *master* the following error is returned.
[code]
The expected behavior is that the profile should execute independent of the name of the default branch (e.g. master, primary, main, production) without having to designate the name of the branch.

[2020-08-31 16:08] #5212 closed, assigned to nobody

[2020-08-31 18:21] aaronlippold commented on #5230
@rbclark @Schwad did you guys get the info you needed to track this down in the code base?

[2020-08-31 22:23] esaravanakumar89 opened #5234 "Unable to get the validated report on remote execution"
<when I am executing inspec on remote machine, am getting the following error.>

# Describe the problem
Executing scan on remote using ssh executing all the controls and returning error while trying to generate a report.

D, [2020-08-31T18:10:44.714726 #4650] DEBUG -- : [SSH] username@servername<{:user_known_hosts_file=>"/dev/null", :port=>22, :compression=>false, :compression_level=>0, :keepalive

[2020-09-01 06:21] lavahot opened #5235 "Incorrect escaping of Windows package names"
https://github.com/inspec/inspec/blob/d00706b9a6c01d4a345d70f082d612e06b5c60db/lib/inspec/resources/package.rb#L317

This uses `shellescape` to escape the string for the regex. This works fine for most things, but is designed to escape for BASH, not regex. In fact, if the string has a period in it, it is not escaped properly. Instead, we should use powershell's built in method for escaping for reg

[2020-09-01 09:26] Schwad commented on #5068
This epic should also circle in https://github.com/inspec/inspec/issues/5215 so when resolved we can close off that issue

[2020-09-01 13:34] Schwad commented on #5233
Hey @mjmenger thanks for filing this issue. That is correct I believe it is expected behavior that whatever the `default` branch is if we exec directly against github we should be using that one.

For anyone looking to pick this up in a PR - it would appear that these requisite lines are a good place to start for untangling this issue:

https://github.com/inspec/inspec/blob/d00706b9a6c01d4a345d70f

[2020-09-01 15:45] HackerShark commented on #5230
@Schwad Tested it with data in the array and got the same issue as above

[2020-09-01 18:53] johnmccrae opened #5236 "Incorrect parsing of windows_task task_to_run name"
The windows_task resource incorrectly parses the value for a task to be run from inside a scheduled task.

# Describe the problem
code:

`its('task_to_run') do
   should cmp "C:\\windows\\system32\\cmd.exe /c 'C:/opscode/chef/bin/chef-client -L C:\\chef/log/client.log -c C:\\chef/client.rb'"
    end`

Notice the placement of the single and double quotes here.

error:

`     [FAIL]  Windows Task 'c

[2020-09-01 22:24] james-stocks commented on #5230
I suspect this is because an _[input](https://github.com/inspec/inspec/blob/master/lib/inspec/input.rb)_ is a Ruby class representing an input with all its details (it's name, type, value) etc.
It's not just the input's value. So an input that represents an array is not simply an array. We might want some method like `input('firewalld_hosts_deny').value` that yields the actual value for the input.

[2020-09-02 04:17] predominant commented on #534
Yearly check-in 😃

[2020-09-02 10:32] Schwad commented on #534
@predominant

Hello! 👋

I started working the the InSpec folks a few months ago, so this is my first time checking in here! Looks like the needs here are really well documented and there's some interest.

I have added another label. We use this label whenever we have an issue that is clear, well defined and valuable (shovel-ready?) but unfortunately isn't directly in front of the team to be immedi

[2020-09-02 14:21] rbclark commented on #5230
I apologize, I meant skipped in the sense that the block of code would be skipped since it was iterating an empty array. The control itself should still pass.

[2020-09-02 14:57] #5226 closed, assigned to nobody

[2020-09-02 16:14] kekaichinose commented on #4972
@amitchettri per my comment from back in July, I haven't seen a follow-up so assuming we're resolved here. I'm going to close the issue. Feel free to file a new issue, based on any findings you have using the html2 reporter plugin, and we can go from there. Thanks!

[2020-09-02 16:14] #4972 closed, assigned to nobody

[2020-09-03 19:53] jeremymcgee73 opened #5239 "Running Ruby Function from inside a control block fails"
I am trying to use a ruby function to retrieve metadata inside of a control block. The function queries JSON from a file and filters the result. I am not able to use the inspec json function because it is not available with the AWS provider. The function will return metadata that will be used in the describe block. Is there another option to pass parameters to a describe/control block?

[code]

Er

[2020-09-03 23:02] james-stocks commented on #5239
Hi @jeremymcgee73 -

The error output you give doesn't seem to relate to the `get_metadata` method you're attempting. At face value it's complaining that the variable name `vpc_id` isn't defined.
I imagine you can repeat this error with your `get_metadata` method eliminated as a suspect like:

[code]

Once you address that problem, I suspect `get_metadata` will work, though I would recommend writi

[2020-09-04 01:15] jeremymcgee73 commented on #5239
Sorry about that. I tried simplifying what I actually had. This is the error after I set vpc_id to a string. I will take a look at the input. I tried passing in the value with--input-file. But, I was not able to to iterate over all the inputs, to find the one I needed. I will take a deeper look tomorrow.

Thanks!

[code]

[code]

[2020-09-04 02:11] sw-elling opened #5240 "Doc Issue: only_if Example Is Possibly Wrong"
# Describe the problem
I'm a beginner with Chef InSpec, however, [the only_if example](../blame/5de5ac698fbcf9668d0929863a8650dd8c626bf4/docs/dsl_inspec.md#L229-L231) (lines 229-231) check looks wrong.

As the example control is written, to me the control *will* be performed (i.e. Running the "redis-cli" command) when "redis-cli" *is not* installed because it is checking for 'redis is not installe

[2020-09-04 14:52] Schwad commented on #5239
Hey @jeremymcgee73 -

For anyone coming here, defining ruby methods outside of InSpec control scopes will run into a [scope gate](https://gist.github.com/hopsoft/779209) trying to get in.

An example as above would be:

[code]

The custom resource is definitely a fantastic approach to what it looks like you're trying to do - let us know how you get on!

[2020-09-04 15:05] Schwad commented on #5240
Hey @sw-elling - thanks for the issue, and welcome to the world of InSpec!

In ruby (which InSpec is derived from), blocks come in two flavors: inline and multi-line.

i.e.:

[code]

is identical to:

[code]

`only_if` supports the multiline in case you need to do a fair few lines of logic to get your `only_if` running, ala:

[code]

The two approaches in InSpec also support optional custom messag

[2020-09-04 16:26] kekaichinose commented on #5236
@johnmccrae thanks for the details of the error. I'll sync with the team next week and prioritize getting this fixed for the next release.

[2020-09-04 18:06] jeremymcgee73 commented on #5239
Thanks for your help! I look into creating a custom resource.

Thanks again!

[2020-09-04 18:06] #5239 closed, assigned to nobody

[2020-09-04 21:38] ramereth opened #5242 "Include Gemfile.lock in git to ensure tagged releases can be rebuilt using the same gem versions"
## Detailed Description

As a maintainer of a community distribution of InSpec, I would like to be able to create a reproducible build using the same gem dependencies that we used for a specific tagged release. Gem dependencies quickly change if a lock file is not included and a build we produce might be slightly different which is not intended.

As an example, [chef/chef](https://github.com/chef/

[2020-09-05 00:47] jazaval opened #5243 "'junit2' is not a valid reporter type. (NotImplementedError)"
Attempting to use the new junit2 reporter introduced in InSpec 4.22.2 returns the error:
[code]

# Describe the problem
Observed on local VM:
[code]
I discovered this issue when Kitchen CI runs started failing to use the `junit` reporter after updating to InSpec 4.22.22. Example kitchen.yml verifier section as follows:
[code]
I tried updating the `junit` to `junit2` in the kitchen yml, but neither

[2020-09-05 01:22] aaronlippold commented on #5239
Hi, I would also suggest giving that you’re just trying to access some data
use the Json resource To just get the meta-data that you want set that data
to a local instance variable and just use it inside your control. We do
this quite regularly. No need to create a custom resource the resources
there the JSON resource

On Fri, Sep 4, 2020 at 2:07 PM Jeremy McGee <notifications@github.com>
wrote:

[2020-09-05 01:41] jazaval commented on #5243
@clintoncwolfe with the new class inheritance structure for the `junit` plugin, do you know if I should need to update my kitchen reporter section to `junit2`?

[2020-09-07 14:39] Schwad commented on #5236
I'm just dropping a ping in here to confirm I'm looking into this @johnmccrae 😃

Thanks!

[2020-09-07 14:45] Schwad commented on #5242
I'm a fan of this idea, I know it means more PRs to bump dependencies but I think documenting this is probably a good plan.

However I'm open to hear other/dissenting thoughts particularly from @inspec/foundation-team-reviewers ?

[2020-09-07 17:25] ramereth commented on #5242
To clarify, I'm primarily interested in the lock file in the root directory, not the omnibus directory.

[2020-09-08 08:19] Schwad commented on #5243
@jazaval - you caught an oversight here that we are jumping on remediating immediately and will let the community know as well. Thank you.

`junit2` was merged into the `junit` branch but not formally merged into master. A merge to get this into master and the next imminent release is building here: https://github.com/inspec/inspec/pull/5244

If there's no objection from @clintoncwolfe I will let

[2020-09-08 09:41] Schwad commented on #5236
@johnmccrae :

I'm having trouble replicating this on my windows machine, so far all my windows_task parsing is working as expected.

Do you need those single quotes in your expectation?

Can I get the full describe block for this code here so I can see what you're passing to `windows_task` and I should have a better shot at replicating more quickly 👍

[2020-09-09 05:07] unixengineer commented on #5216
This @Schwad. This has indeed resolved my issue. Thanks for the followup. This can be closed.

[2020-09-09 05:07] #5216 closed, assigned to nobody

[2020-09-09 11:43] Schwad opened #5245 "Waivers overridden in GCP edge case"
# Describe the problem

I'll try to describe this accurately but it was raised by @lhasadreams so hopefully he'll correct if I lay this out wrong.

The smallest reproducible case below (but DM me or Adrian for a full InSpec profile copy):

[code]

When this control is waived in `waivers.yml`, it overrides the waivers and errors out.

The line that affects this was discovered to be `bucket = google

[2020-09-09 11:43] Schwad commented on #5245
This should be a candidate in scope of #5068 epic

[2020-09-09 13:53] Schwad commented on #5214
This appears to be fixed in #5213 so will make sure to close this when that merged 🎉

[2020-09-10 12:50] Schwad commented on #5177
It'd also be good to agree a code-coverage standard. I've worked at places that required 100% (which was fine, but a bit heavy-handed). I think 85% might be a reasonable start for us, and we should have a document to access exact coverage on coveralls.io

[2020-09-11 12:50] Schwad opened #5247 "Final 16 skip_windows tests"
# Describe the problem

This work will have ended up spreading over at least three PRs. We started with 72 tests that were skipped on windows machines and have now eliminated skips due to code fixes or unnecessary usage down to 16.

Also within PR https://github.com/inspec/inspec/pull/5213 we have documented current stacktraces received from windows machines on those failures. Unfortunately a hand

[2020-09-14 15:53] #5214 closed, assigned to Schwad

[2020-09-14 16:31] #4234 closed, assigned to nobody

[2020-09-14 18:23] lamont-granquist commented on #4394
See also #5199 for non-omnibus installs (but omnibus installs are still recommended, they should still beat non-omnibus installs)

[2020-09-14 19:33] clintoncwolfe commented on #5102
Looks like this affects v4.22.22 with the pluginized junit reporter as well, so I am officially wrong in my prior statement that only the cli reporter would be affected.

[2020-09-14 19:38] kekaichinose opened #5248 "Patent Notice - InSpec"
## **What problem are we solving?**

_Should be a few sentences. Describe the user stories and the target market._

- As a Chef product owner, I need to add the patent notice for our product suite to InSpec so that the notice is published.

## **Acceptance Criteria**

_How will we know when we're done?_

- Add patent notice to the InSpec CLI

## **Open Questions**

_What questions still need to be

[2020-09-15 10:58] Schwad commented on #5102
After we merge and are happy with #5204 , could we have a dedicated `LoadInternalPlugins` service/method in the runner where we `autoload` or `require` internal services that have been pluginitized? (For now I'm thinking like CLI/JUnit but we could add more in the future)

I would be curious to hear the history as to why so many of our requires/autoloads aren't handled in `lib/inspec.rb`.

[2020-09-15 18:11] #5102 closed, assigned to nobody

[2020-09-16 17:06] bohdanyurov-gl commented on #4310
@zenspider I don't see how WSL is different from just using a linux dystro. If removing Windows paths from the $PATH helps it is obviously an inspec bug.

[2020-09-16 17:10] bohdanyurov-gl commented on #4310
Taken from @brettcurtis's link, this is probably the easiest approach:
[code]

[2020-09-16 19:07] tohch4 opened #5253 "Add a kernel_parameters resource"
## Detailed Description

As an Inspec user and developer, in order to know `kernel_parameters` to see an existing list of `kernel_parameter` resources without previous knowledge one or all of the parameters that might be configured on this target.

## Context

In a training course on Inspec, we reviewed source code to determine I cannot write a `describe` block within a `control` to filter for sub

[2020-09-16 22:10] sw-elling commented on #5032
We (the company I'm working for) has the following requirement:

When there are conditions that make the control not applicable, the `impact` value must be overwritten from the default value defined in the control to `0.0` and skipped so that the report sent to downstream SCAP tools is "accurate".

I'm a newbie to InSpec and have not found a way to do this with `only_if`.

[2020-09-16 23:31] heldersepu commented on #5012
Any updates? these warnings are quite annoying
would love to be able to pass a `--ignore-warnings`

[2020-09-16 23:53] heldersepu commented on #5012
Found it `--silence-deprecations=all`

[2020-09-17 09:48] james-stocks commented on #3966
Going to close this since @inspec/docs-team have done a complete overhaul

[2020-09-17 09:48] #3966 closed, assigned to nobody

[2020-09-17 10:49] james-stocks commented on #4461
This still needs looked at.

[2020-09-17 12:55] tbugfinder opened #5254 "LoadError: cannot load such file -- aws-sdk"
# Describe the problem

I'd like to use aws-sdk within profiles.
Gemfile is used to prepare the environment and aws-sdk is installed using bundle (locally).
After adding `require 'aws-sdk'` to my `default.rb` file and running the control, I get the error message:
[code]

## Possible Solution

[2020-09-17 12:56] tbugfinder commented on #5254
Version: 4.23.4

[2020-09-17 12:58] pburkholder commented on #5012
Ooh! Thanks for pointing that out Helder!

On Wed, Sep 16, 2020 at 7:53 PM Helder Sepulveda <notifications@github.com>
wrote:

--
-
*Peter Burkholder |  **cloud.gov <https://cloud.gov> compliance & security*
please use cloud-gov-compliance@gsa.gov for cloud.gov matters

*202-709-2028 <(202)%20209-2028> | peter.burkholder@gsa.gov
<peter.burkholder@gsa.gov> *

*| pronouns he-him <https://www.myprono

[2020-09-17 13:00] tbugfinder commented on #5254
I missed `aws-sdk-core` vs. `aws-sdk` for version 3.

[2020-09-17 13:00] #5254 closed, assigned to nobody

[2020-09-17 14:18] james-stocks commented on #5231
It would be nice for the `YAML` resource to provide a diff.

Two possible things to do are use the `match_array` matcher:

[code]

This approach isn't perfect because that matcher is only intended for arrays and might behave unexpectedly with hashes. If a small diff is deeply nested inside a hash, `match_array` will show the entire branch of the hash as not matching.

Another possibility is to req

[2020-09-17 15:10] james-stocks commented on #5245
I think this is yet another example of #5068 (though I'd hesitate to close this issue as a duplicate because I'm not sure there's an issue that totally makes this one redundant).

InSpec has to evaluate all the source code given to it to compile a set of controls and tests. Only after then can it apply waivers.

In this issue, we need to either clarify what is unique about this bug, or close it as

[2020-09-18 19:46] wyardley commented on #5243
I also can't seem to use inspec-reporter-junit with 4.23.4 (I think it should still exist here since it wasn't moved to a separate plugin til here: https://github.com/inspec/inspec/commit/98ae89e6cc747c2b749eb0e761cdc20e1aeb212b)?

attempting to do something like
[code]
(doesn't work with either `junit` or `junit2` with inspec 4.23.4

[2020-09-18 20:18] aaronlippold commented on #5032
The way we are addressing it at the moment is to use if / else statements

if (I should set to 0)
  impact 0.0
  describe "this is na reason" do
    skip "this is na reason"
  end
else
  < my tests when we are applicable>
end
..
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Wed, Sep 16, 2020 at 6:10 PM Steven W. Elling <notifications@github.com>

[2020-09-21 08:53] Schwad commented on #5243
@wyardley this is a known regression that we're fixing in #5244 and will get that moved forward and in a release ASAP. We may also communicate this to the community as a "known issue" against versions.

[2020-09-21 12:38] Schwad commented on #5253
Thanks for putting together this issue @tohch4 and giving us background.

Looking forward to seeing prototypes and PRs depending on your bandwidth!

[2020-09-21 13:17] Schwad commented on #5012
Yes! Good catch . Glad there's a workaround but I think the original bug is definitely still valid

[2020-09-21 14:41] clintoncwolfe commented on #5243
The kitchen-inspec release 2.2.1 contains a fix for the the junit reporter issue (PR 261, load plugins early). If you're able to upgrade your kitchen-inspec gem separately, that's one fix; alternatively the next release of Chef Workstation will include the fix. Mind you, that refers to the fix for @wyardley's reported issue of the junit (not junit2) reporter failing under Test Kitchen, not the OP

[2020-09-21 19:56] rangathedon opened #5257 "self sufficient packaging"
is it possible to pack inspec as a self sufficient rpm/zip file which can be just ported to any supported system, unarchived and run?

[2020-09-21 21:57] heldersepu opened #5258 "Error testing ec2-instance has no roles"
Just testing that an ec2-instance has no roles

# Describe the problem
Following the example in the documentation:
https://docs.chef.io/inspec/resources/aws_ec2_instance/#test-that-an-ec2-instance-has-no-roles

[code]

It shows an error:
[code]

# Versions tested
- 4.22.1
- 4.23.4

[2020-09-22 11:01] Schwad commented on #5258
Hello @heldersepu ! 👋

the aws_ec2_instance resource is maintained here: https://github.com/inspec/inspec-aws

If you cross post your issue over there they might be able to offer some insight 👍

[2020-09-22 13:45] heldersepu commented on #5258
Thank you @Schwad
cross post: https://github.com/inspec/inspec-aws/issues/266

[2020-09-22 13:46] heldersepu commented on #5174
Cross post:
https://github.com/inspec/inspec-aws/issues/267

[2020-09-22 13:51] omerdemirok commented on #5174
@heldersepu, can u have a look at this?
https://github.com/inspec/inspec-aws/issues/255#issuecomment-686426000

Seems like you are using AWS resource in inspec core (soon be depricated), which do not support filtering by `tags`.

[2020-09-22 13:58] heldersepu commented on #5174
Interesting so by adding the:
`depends` pointing to the correct location that fixes it?

[2020-09-22 14:14] heldersepu commented on #5174
that is it

[2020-09-22 14:14] #5174 closed, assigned to nobody

[2020-09-22 14:29] heldersepu commented on #5258
This is fixed using depend:
https://github.com/heldersepu/hs-scripts/commit/64149e7d9e1eebd81ac9f884433f3719a73cbebd

[2020-09-22 14:29] #5258 closed, assigned to nobody

[2020-09-22 15:09] alexpop opened #5260 "Waivers: expired message not consistent"
# Describe the problem

If I execute a profile with the following waiver yaml:
[code]

InSpec returns the following in the json-automate report:
[code]

Changing `run` to `true` in waiver yaml:
[code]

InSpec returns a blank waiver_data message:
[code]

## Possible Solution

When an expired control waiver uses option `run: true`, return the same waiver_data message output as for `run: false`
[code

[2020-09-22 15:16] Schwad commented on #5260
Thanks for opening this against a formal issue. Would definitely be worthwhile to hop on a call and have a chat about this soon 👍

[2020-09-22 15:45] james-stocks commented on #5243
Fixed by https://github.com/inspec/inspec/pull/5244 - we'll release this once it's made it through CI

[2020-09-22 15:45] #5243 closed, assigned to Schwad

[2020-09-22 15:52] james-stocks commented on #4893
@johnmccrae I'm going to close this as it's not an InSpec issue, it can be discussed further in Slack. The link given by @btm isn't recent but it does summarise the issue.

[2020-09-22 15:52] #4893 closed, assigned to nobody

[2020-09-22 17:33] haidangwa opened #5261 "interface resource does not respond to `have_an_ipv6_address`"
# environment
[code]

OS: Redhat 8.2 (running in AWS)

# Describe the problem

The interface resource fails with an error when checking if the interface has an ipv6 address:

[code]

My inspec test:

[code]

This method is documented here: https://docs.chef.io/inspec/resources/interface/#have_an_ipv6_address

[2020-09-23 07:32] Schwad commented on #5261
Thanks for the issue and reproduction case @haidangwa - we'll try to get a look into this soon.

[2020-09-23 15:42] sw-elling commented on #5032
The way I ended up working around this is to put an "if" statement before the only_if block.

[code]

[2020-09-23 23:18] james-stocks commented on #5032
Would the desired code be

[code]

?

Possibly the impact could just automatically be 0.0 if `only_if` is true; but `only_if` can be ambiguous, sometimes it describes an alternate passing case for the normal impact.

[2020-09-23 23:38] aaronlippold opened #5262 "Add a 'results SHA' to the JSON output"
When I run the same profile on a target over time, it would be useful to be able to have a unique SHA sum that links to the run result - in addition to the profile SHA.

The results SHA should also be affected by the value of the inputs provided the profile as well as set of results of the controls themselves.

[2020-09-24 07:39] Schwad commented on #5262
@aaronlippold if your inputs/results were unchanged on multiple runs over time wouldn't you still want the unique SHA sum to change as well? Or would you want it to remain the same for caching purposes/etc in heimdall?

[2020-09-24 13:55] aaronlippold commented on #5032
That would be great.

On Wed, Sep 23, 2020, 7:18 PM James Stocks <notifications@github.com> wrote:

[2020-09-24 14:17] aaronlippold commented on #5032
Hello, no I would not make an assumption about what I wanted to update my
impact to be on an the only if. That should be a user provided data point.
true most of the time in my use case I will set it to zero but that may not
be the case as in some situations I can actually update the impact to
medium from a high or medium from a low given particular conditions that I
find on the system. The operat

[2020-09-24 14:20] aaronlippold commented on #5032
As a follow-up to this action. I would like to propose that we add two
keywords to inspec, as we have a fail and a skip keyword I would like to
add pass and NA. pass would take a message and set that message in both
places in the data object, and na would take a message and a parameter for
updating impact, presumably using the same code we will add to the only if.

This will allow us to avoid the

[2020-09-24 15:51] aaronlippold commented on #5262
The day the scan was run changed - it is a different run - thus a different SHA.  This walks us toward ongoing compliance - from the chain of evidence perspective - if the inputs and results didn't change then we expect the results to be the same but we need to show those artifacts are not the same artifacts - aka the user is not just giving us a renamed file and passing it off as a different scan

[2020-09-24 15:53] aaronlippold commented on #5262
The step after this then allows us to digitally sign the results artifact and have truly trusted and validated results chain of evidence.

[2020-09-24 15:53] aaronlippold commented on #5262
Technically this should be an easy lift - the value back to the project would be large.

[2020-09-24 16:03] aaronlippold commented on #5032
Working examples which I would like to streamline

Also note: I have to repeat the describe block title and the skip_message to correctly get the status message to populate in the json output

https://github.com/mitre/microsoft-windows-10-stig-baseline/blob/5636e2ed797616a8cdce3c5c88754a92d487c525/controls/V-63713.rb
[code]
https://github.com/mitre/microsoft-windows-10-stig-baseline/blob/5636e2ed7

[2020-09-25 07:55] Schwad commented on #5262
Are you imagining all SHA's unique then? Or what case would it be the same? i.e. everything the same inputs/profile/etc/results && run within the same hour?

[2020-09-25 07:57] Schwad commented on #5262
If they were all unique, then one could return a 32char hex on a per-run basis on each output.

[2020-09-25 08:26] james-stocks commented on #5242
I'd prefer we version control `Gemfile.lock` and then need to rationalise any changes.

There's a few gems (train, and the cloud related gems) that this would cause additional work for - but we could automate PRs for these. Plus the current situation of expecting these gems to just get sucked in at some point isn't perfect either.

If I remember right, doing this means we are tied to using a speci

[2020-09-25 14:58] #5248 closed, assigned to james-stocks

[2020-09-28 08:57] james-stocks commented on #5257
Hi @rangathedon -

If you mean like "InSpec on a pendrive" - we don't offer something like that.

It's not exactly what you're asking for, but we do have the [chef/inspec](https://hub.docker.com/r/chef/inspec/) docker image - that lets you just run InSpec, without needing to install anything. It does obviously require that docker be installed instead though.

[2020-09-28 09:55] james-stocks opened #5264 "Create Umbrella test pipeline"
See https://github.com/chef/umbrella

This lets us have a buildkite testing job like https://buildkite.com/chef/chef-umbrella-master-chef-infra and may be a good solution for our needs for integration testing and performance measuring.

An initial scenario might just be one VM as InSpec executor and a 2nd VM as target.

[2020-09-28 13:18] rangathedon commented on #5257
its more around building a self sufficient RPM at least; I dont intend to make it portable; not looking the container way, so I need an rpm installer but I want to build it myself;

[2020-09-28 14:17] james-stocks commented on #5257
There are RPMs at https://downloads.chef.io/products/inspec, I'm not sure I understand what you mean by `self sufficient` to say whether they are or not, but as far as I know they don't depend on other RPMs.

Chef's rpm files are licensed so you'd need to agree to the license when using them, and you probably cannot legally modify them. There is also the cinc.sh community who offer a free distribu

[2020-09-28 21:52] jakauppila opened #5265 "Add support for evaluating environment variables of a service/process"
## Detailed Description
I am working on implementing tests for how we configure Tomcat on our servers. As part of that, I want to evaluate the effective environment variables behind a systemd service since there are many different ways to set them (setenv.sh which get loaded, directly in the unit file, etc)

Currently, I am going down the route of something like this for a systemd service:

[code]

[2020-09-29 03:57] rangathedon commented on #5257
I would like to take the source and build an inspec rpm(similar to the one you publish) myself without any modification; is there any guide?

[2020-09-29 12:24] aaronlippold commented on #5257
But I think they are looking for is a portable package. Or an embedded
binary distribution. Although there’s been conversation about it we have
not yet created a portable package distribution. However PRs are welcome.
With respect to your question about building, all of the build process are
in the repo for review. No magic sauce required.

On Mon, Sep 28, 2020 at 11:57 PM rangathedon <notificatio

[2020-09-30 01:07] tohch4 opened #5270 "Loading Plugins from Git or HTTPS Instead of Gemfile"
## Detailed Description

I would like to be able to install an Inspec plugin without needing to set up a Gem repository, I would like to be able to pass arguments to use a git repository instead.

I read the documentation on plugin development, and currently [this source does not appear to be supported](https://github.com/inspec/inspec/blob/master/dev-docs/plugins.md), correct me if I am wrong.

#

[2020-09-30 08:18] james-stocks opened #5271 "net-ssh resolves to 4.2.0, newer is available"
inspec/train allows for any net-ssh [">= 2.9", "< 7.0"](https://github.com/inspec/train/blob/master/train-core.gemspec#L34)

A bundle install of this repo with Ruby 2.7.1 gives me net-ssh 4.2.0

What's holding this back from a newer net-ssh?

[2020-09-30 08:43] james-stocks commented on #1418
Let's review this again.

This may also give us a clean way to implement command timeouts (see [this comment](https://github.com/WinRb/WinRM/issues/315#issuecomment-700980381) on the implementation of timeouts with the current WinRM shell)

[2020-09-30 09:00] Schwad opened #5272 "Utility to support test-level debugging"
# Describe the problem

I am happy to close this issue if a better utility exists. Because of our unique usage of STDOUT && STDERR in our framework and then again in our internal testing, it is very difficult to "pry" or even "puts" within inspec core when running a test. (An example would be git_fetcher_test.rb:94)

## Possible Solution

Where I would start would be possibly setting up a new `IO`

[2020-09-30 09:26] Schwad commented on #5272
maybe if I hack and reset the constant instead of the global... 🤔

This is a bit of a rabbit hole but leaving here as it's something I'd like to pick up again in future and I think would be a stability/testing boost to have.

[2020-10-01 13:27] #5079 closed, assigned to nobody

[2020-10-01 13:27] #5081 closed, assigned to nobody

[2020-10-02 09:45] Schwad commented on #5260
Just a heads up that I'm looking into this now 👍

[2020-10-02 10:33] alexpop commented on #5260
Appreciate it Nick :shipit:

[2020-10-03 06:17] rangathedon commented on #5257
How can one build RPMs like the ones listed under https://downloads.chef.io/products/inspec from source code on their own??? is there a guide for doing that???

[2020-10-07 16:55] Mitriol opened #5274 "Profile dependencies do not properly set 'name' and 'parent_profile' fields"
# Describe the problem
When running an overlay profile (i.e. a profile with dependencies, such as [this](https://github.com/CMSgov/cms-ars-3.1-moderate-red-hat-enterprise-linux-7-stig-overlay)), one can specify a `name` for a dependency in the profile.yaml. We had been operating under the assumption that in the output .json, the supplied `name` field would be reflected in the `profiles` entry corr

[2020-10-07 18:25] johnqa opened #5275 "powershell resource can strip be converted to int?"
I have the following control in which I want to validate that a server has more memory than a minimum amount set as input:

[code]
The result I'm getting is:
[code]

Is there a way to make this work?

Thank you,
John

Aha! Link: https://chef.aha.io/features/SH-332

[2020-10-07 18:40] johnqa commented on #5275
Problem solved, but unfortunately I cannot remove the issue.

Working code:
[code]

[2020-10-07 18:40] #5275 closed, assigned to nobody

[2020-10-09 08:13] baby-gnu opened #5276 "XML resource should support file resource methods"
## Detailed Description

When verifying an XML file, I would like to be able to test it's existence, owner, group and permissions.

## Context

I'm writing a [SaltStack formula](https://github.com/saltstack-formulas/) to deploy and configure pam-mount and the community use InSpec to verify.

The verification should looks like the following:

[code]

## Possible Implementation

The `XmlConfig` inhe

[2020-10-11 13:14] sbonds commented on #3165
I would find this useful for debugging and remain cautiously optimistic that we'll see it at some point.

[2020-10-11 15:32] rangathedon commented on #5257
Any response?

[2020-10-12 09:16] meridius opened #5277 "Shrink the Docker image size"
Currently the Inspec docker image weighs a hefty **459 MB** when you count all layers user has to download. This can be brought down to **262 MB** by collapsing the `RUN` instructions in the [`Dockerfile`](https://github.com/inspec/inspec/blob/master/Dockerfile).

## Detailed Description

The current Docker image has 5 `RUN` instructions which user has to download separately. Two of them are varia

[2020-10-13 08:56] Schwad commented on #5260
Just dropping in here that I have a branch checked out and have managed to replicate the above this morning. I'm hopeful this week that I can track down our suspect bit and put together some tests we need passed to address the above issue.

[2020-10-13 09:57] james-stocks commented on #5257
Hi @rangathedon -

We build RPMs using [Omnibus](https://github.com/chef/omnibus) and the package config is in this repo in the [omnibus](https://github.com/inspec/inspec/tree/master/omnibus) directory.

You could try that as a starting point. We can't provide much help with building RPMs though, sorry.
You could also look at how cinc.sh build their packages as another reference point.

[2020-10-16 17:42] btm commented on #5200
This was added as a pessimistic constraint way back at the start of time and appears to have been cargo-culted along.

7a59d9ce76a07fab7ace4b24e43d75ec840f66f4
Date:   Wed Aug 12 22:34:24 2015 -0700

[2020-10-18 15:49] aaronlippold commented on #3684
Hi,

We have also been working on this as well - we would be happy to help.

Aaron
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Wed, Oct 16, 2019 at 11:45 AM Clinton Wolfe <notifications@github.com>
wrote:

[2020-10-19 09:38] Schwad commented on #3684
Thanks @aaronlippold -

Yes let's keep this going. It would be nice to have something as @clintoncwolfe detailed above, a `rake db:test` of sorts to test against real databases.

I may have to RTFM with expeditor again.... how big of an ask is it in our current setup to spin up a db to test against? I know this is a slick line or two of yml in providers such as `travis` (with another line to run o

[2020-10-19 09:41] #5260 closed, assigned to Schwad

[2020-10-19 16:37] mcascone opened #5282 "Support state checking on iis_app_pool"
Please add `status` support to the Windows App Pool `iis_app_pool` resource.

## Detailed Description

I would like to be able to use the native `iis_app_pool` InSpec resource to check that a Windows machine's app pools are in the desired state. I have been unable to find a native way to do this in InSpec outside of a powershell script resource.

## Context

1. So I can use native implementation i

[2020-10-19 19:37] mcascone commented on #2492
@adamleff, cc: @dslotter

This is really great! I was able to use this to change my tests from:
[code]

To:
[code]

I also get the same result from:
[code]

[2020-10-19 21:50] haidangwa opened #5283 "processes resource reports undefined method 'user'"
# Describe the problem

Following the example given here, https://docs.chef.io/inspec/resources/processes/#test-if-the-process-is-owned-by-a-specific-user, I tried to verify the user of a process. Inspec fails with an error.

[code]

my test:

[code]

## Possible Solution

Aha! Link: https://chef.aha.io/features/SH-382

[2020-10-20 02:20] mcascone opened #5284 "Support executing profiles from GitHub Enterprise"
Please add support for running profiles stored in GitHub Enterprise.

## Detailed Description

Running `inspec exec https://github.mycompany.com/path/to/my/profile.tar.gz` results in the classic `Unrecognized content type: text/html; charset=utf-8. Assuming tar.gz
Error opening/processing profile.tar.gz: not in gzip format`

I can put it somewhere else that supports versioning - we are adopting Pr

[2020-10-20 08:38] james-stocks commented on #5284
Yes at the moment InSpec needs the target URL to end with `.git`.

Is `https://github.mycompany.com/path/to/my/profile.tar.gz` a tar file committed to git; or is it a release available for download from the Github UI?

[2020-10-20 13:09] mcascone commented on #5284
I’ve tried with both, and get the same text/html error. I tried the ‘raw’ link too; same result.

[2020-10-21 08:20] gholtzhausen opened #5286 "run test on remote windows host via WinRM --password {variable}"
This might have been already discussed, not sure if a solution was already implemented so apologies if I have create a duplicate request.
Is there a possibility to have the password value set to make use of a variable or different file that does not display the password. Some instances a pasword needs to be secure if not used by a testing account.

## Detailed Description
So currently when running

[2020-10-21 15:30] kekaichinose commented on #3881
I will consider this update if there's a large enough cry from our customers, but have not heard any around this issue since I started. Will close and look into this again if it comes up.

[2020-10-21 15:30] #3881 closed, assigned to kekaichinose

[2020-10-21 15:35] aaronlippold commented on #3881
Hello, yes there is a large cry from the community. Mainly because we've
renamed attributes to inputs and to provide outdated training is not a
service to the community. Please migrate all references to attributes to
inputs as prescribed in the 4.x and above guidance. If I recall the plan is
to totally deprecate a tribute in version 5.x so if we may as well get
ahead of the change.

On Wed, Oct 21

[2020-10-21 15:35] kekaichinose commented on #5236
@johnmccrae, apologies but we were not able to reproduce this and have not seen an update on this from your end yet. we'll close this out and revisit if you can provide more details or an updated example. Thanks!

[2020-10-21 15:35] #5236 closed, assigned to Schwad

[2020-10-21 15:42] kekaichinose commented on #4282
@mitriol, going back to @zenspider's comment from earlier, it's been more than a year since this issue was opened, and we apologize that we have not been able to address this directly. The best path forward here would be to submit a PR to get the schema updated, we'll review it to make sure it doesn't break the user experience for other folks, and merge it after that.

[2020-10-21 15:58] johnmccrae commented on #5236
thanks, it's so weird. I can't repro it now either.

[2020-10-21 16:10] kekaichinose commented on #3881
@aaronlippold, I did verify with the LearnChef folks that the material refresh that happened with ChefConf 2020 references the latest version of the product, which covers inputs. There is a separate issue for documentation references to be updated with attributes>inputs update so that can be tracked separately. This issue can remain closed.

[2020-10-21 16:12] kekaichinose commented on #3878
Will look to get these references updated once we have a line-of-sight for InSpec 5.0 release for 2021. Will return to backlog in the meantime.

[2020-10-22 20:12] fozboz opened #5289 "Reporter plugins do not work when multiple suites are tested in Kitchen"
There is an issue with the way that Inspec handles reporter plugins when there are multiple suites being tested in Kitchen. This error https://github.com/inspec/inspec/blob/master/lib/inspec/plugin/v2/registry.rb#L75 is thrown on all but the first suite, because a unique instance of the Activator class is being created for every suite.

If I remove the guard in `Inspec::Plugin::V2::Registry.find_a

[2020-10-23 14:52] james-stocks opened #5291 "Docs for CLI are missing some CLI commands"
See https://docs.chef.io/inspec/cli/

The `plugin` and `init` commands are not listed.
`habitat` and `compliance` are also not listed, but arguably those are additional integrations and would be documented elsewhere.
The page does list `nothing` which there's maybe no reason to document.

Aha! Link: https://chef.aha.io/features/SH-407

[2020-10-23 15:22] mjingle commented on #4528
Chef InSpec Docs was successfully migrated to Hugo, so I am closing this issue.

[2020-10-23 15:22] #4528 closed, assigned to mjingle

[2020-10-23 17:03] clintoncwolfe commented on #5291
Looks like it lists the commands from Thor, but does not load all Command plugins prior to doing so.

[2020-10-27 11:18] ghost opened #5292 "Can not use Inspec as Docker on Windows to scan other docker containers."
# Describe the problem
i try to scan a docker image with Inspec running as a docker container on windows.
I istalled Chef/inspec via Docker-pull on my Windows.
[code]
When I try to scan a docker container with following command, i'll get a bunch of erros.
[code]
# Error:
[code]

## Possible Solution

I googled the problem and found the following solution. But this solution didn't work.
[code]

Wit

[2020-10-27 12:35] james-stocks opened #5293 "nginx_conf documentation gives an example with bare ruby"
See https://github.com/inspec/inspec/blame/master/docs-chef-io/content/inspec/resources/nginx_conf.md#L51

[code]

The `servers =` and `domain2 = ` lines are bad practice because they are "bare ruby". These lines get executed even if the control is skipped or waived.

Aha! Link: https://chef.aha.io/features/SH-428

[2020-10-27 12:36] james-stocks commented on #5293
Note that https://github.com/inspec/inspec/pull/5285 is a PR currently open to help support `its` testing in nginx_conf, which may give us an alternative way to do the test in the issue description

[2020-10-27 17:19] rgeissert commented on #5293
From a quick look at the doc:

- the style guide doesn't mention it. Perhaps it should and offer alternatives
- the whole section that talks about it in the DSL page should probably be reused in the style guide
- more importantly, neither the waivers page nor any of the above-mentioned pages explain what "bare ruby" or any other code is executed even when a control is waived

[2020-10-28 23:17] akarmel commented on #3181
Suggest reopening this issue, particularly to support the OSCAL assessment layer wherein unique identifiers can be passed through as metadata.

[2020-10-29 01:04] anthonygrees opened #5294 "InSpec wrapper profile missing results for --reporter json"
## Context
Customer has a wrapper profile that depends on 2 other profiles and call only "include_controls". They are using the json reporter (--reporter json). They use this JSON to post to Automate data-collector API directly later.

When they run `inspec exec` they can see that the controls for the sub-profiles were executed.
When they look at the resulting json file they can see 3 profiles in

[2020-10-29 09:20] james-stocks commented on #5294
@anthonygrees thanks a million for giving lots of detail and providing a reproduction profile!

This is how InSpec has aways reported JSON results with the `json` result reporter. It does look odd, but if we change it then we might break JSON consumption for other users.

If the data is for consumption by Chef Automate then the `json-automate` result reporter might be better. It does put the wrapp

[2020-10-29 10:05] james-stocks commented on #5294
A note on `json-automate` not being a documented feature:

The `json-automate` reporter is technically an internal feature. It's used by the `automate` reporter which _is_ documented [here](https://docs.chef.io/inspec/reporters/#automate-reporter) and it's also used by the audit cookbook (code [here](https://github.com/chef-cookbooks/audit/blob/cc9b5bd2c24027e16f5cab0c09dc2bc725cd8dd4/files/defaul

[2020-10-29 21:39] aaronlippold commented on #4962
Is this on the backlog?

[2020-10-29 21:52] mspinagit commented on #3181
This is a valuable capability to support the work of the ATARC collaboration industry group attempting to apply Inspec automation for OSCAL based information sharing to support ATO documentation automation for IT systems. Please re-open this issue.

[2020-10-30 14:55] aaronlippold commented on #3181
As suggested before - moving the `passthrough` object from the `json-automate` reporter to its parent `json` reporter may be a good first step. The other enhamement data objects in the json-automate reporter - hostname, uuid, etc - still don't have a stable source yet in the json reporter context so I would suggest we just move the `passthrough` to the json reporter. This change would also suggest

[2020-10-30 14:56] aaronlippold commented on #3181
Given the json-automate reporter inherits from the json reporter - this change shouldn't be a breaking change correct?

[2020-10-31 14:56] aaronlippold commented on #2857
bump

[2020-11-02 09:21] james-stocks opened #5296 "test/functional/inspec_exec_test.rb failing on master"
`bundle exec m test/functional/inspec_exec_test.rb`

[code]

Aha! Link: https://chef.aha.io/features/SH-471

[2020-11-02 10:45] james-stocks commented on #5296
Crux of this seems to be this is expected:

[code]

...but the current output is...

[code]

[2020-11-02 16:56] #5296 closed, assigned to james-stocks

[2020-11-02 17:30] aaronlippold commented on #5284
we do this quite a bit

You need to use the archieve tar.gz or .zip from the archieve/<branch>.targ.gz ...

[2020-11-02 17:31] aaronlippold commented on #5284
Also note, if your GH has auth setup and the repo is not public you need to cache our gh creds first and then do your inspec exec

[2020-11-03 09:56] asyd commented on #4342
Any news?

[2020-11-05 06:04] anthonygrees opened #5300 "Cannot skip_control for a wrapper when there are 2 levels of child profiles"
## Overview
A customer based in NZ is trying to `skip_control` in a Wrapper profile that includes a Child profile that is a wrapper and that includes a Child profile.

[code]

# Describe the problem
The Wrapper Profile includes `child`
[code]

The Child Profile includes `child2`.

The `skip_control` in the Wrapper does not skip Child 2 from running

## Example Code
Here is an example to show the i

[2020-11-05 08:59] rgeissert opened #5301 "Improve description of describe.one blocks in html2 reporter"
## Detailed Description
In the html2 reporter, when no alternative block of a `describe.one` block succeeds, all the tests are displayed without any indicator that would allow the reader to understand that they are alternatives.

From a quick look at the code it isn't obvious to me how this could be implemented, so any hint is welcome.

## Context

Reports should be easy to read, and this is almos

[2020-11-05 09:34] james-stocks commented on #5300
Just to note - we should ignore the README in https://github.com/rohan-molloy/inspec_wrapper_with_input because it describes a different scenario (single level inheritance). The actual profiles in that repo do use nested inheritance like the issue description here.

I understand what the user wants to do here. The output you get from InSpec hints what is going on:

[code]

The `Child2 - Small Rock

[2020-11-06 02:36] anthonygrees commented on #5300
As always, thank you @james-stocks I will take this information back to the customer and see if they wish to raise a ticket

[2020-11-06 03:51] anthonygrees commented on #5300
Customer has raised a ticket - #26458

[2020-11-09 10:17] Schwad commented on #5068
Possible strategies to explore (more of a longstanding note to self once I pick this back up):

-> `control_eval_context.rb` ; see if we can check waiver status before `register_control` in `#control`. If not, is there contextual data we can pass along to be available at this point.

-> Reviewing RSpec-core to look at `#let` implementations/approach to see if there's anything that can be mirrored

[2020-11-09 10:24] Schwad opened #5303 "Pin Parallel gem to 1.19.2"
As we still support ruby 2.4, we will need to pin `parallel` to 1.19.2 to continue this support as the latest release this week breaks (no ruby 2.4 support)

See: https://github.com/inspec/inspec/pull/5302

[2020-11-09 10:27] Schwad commented on #5067
@inspec/foundation-team-reviewers

I am moving this PR to 'in-progress'. I am considering this because today we have another bug that will require version pinning to support Ruby 2.4: https://github.com/inspec/inspec/pull/5302

Please let me know of any serious thoughts or concerns about dropping Ruby 2.4 support in the next InSpec minor version.

[2020-11-09 12:16] james-stocks commented on #5301
This problem is common to all result reporters.

[code]

[code]

I believe this isn't easy to fix because `describe.one` works in a way where it evaporates away at runtime and isn't represented in our [`run_data schema`](https://github.com/inspec/inspec/tree/master/lib/inspec/run_data) at all.
While it might be tricky to fix, it could roll into other desired improvements in this area (allow nested

[2020-11-09 16:45] aaronlippold commented on #5067
What drives our requirements for ruby support levels? Do we have a supported version matrix that we have agreed to as a community?

[2020-11-09 17:46] lamont-granquist commented on #5067
Yeah the version pinning is worrisome.  I just manually checked the parallel gem against the chef and chef-workstation Gemfile.locks and don't see any conflicts, but you can very easily wind up producing pins which are unshippable when mixed with those other products.  You may also wind up with gems which are pinned to work on ruby 2.4 which don't actually work on ruby-latest.  Those gems may prov

[2020-11-09 19:33] nacc commented on #5303
We (DigitalOcean) are also hitting this in our production environment.

[2020-11-10 09:51] Schwad commented on #5303
@nacc  - are you running Ruby 2.4?

[2020-11-10 09:59] Schwad commented on #5067
Thanks for the thoughts Lamont

That's where I'm sitting at the moment

[2020-11-10 13:45] nacc commented on #5303
@Schwad even older (2.3) sadly via embedded ruby from an eol chef client (folks are working on fixing that fundamental sadness).

[2020-11-10 19:05] aaronlippold commented on #5067
I agree - what is the sunset date on 2.4 is it past? From the manager's point of view, I would just ask if major platforms - like rhel7 or rhel6 - ubuntu 14x, etc. would be affected as we publish supported packages for those - aka are their downstream effects to this action?

[2020-11-10 19:06] aaronlippold commented on #5067
If not then I would say - drop it and move ahead

[2020-11-11 09:06] #5303 closed, assigned to Schwad

[2020-11-11 10:00] james-stocks opened #5305 "Error using grub_conf resource on RHEL/CentOS"
*To reproduce:*

I used the `centos/8` Vagrant image. Customer reports this issue on RHEL 7 and 8.

[code]

Customer has commented that this worked with InSpec 1.31.1

[2020-11-11 19:41] mbaitelman opened #5307 "Groups resource not working with include"
# Describe the problem
Using the following:
describe groups.where { name == 'docker' } do
    it { should exist }
    its('members') { should include 'three' }
end

Fails with:
[FAIL]  Docker groups: Groups with name == "docker" (2 failed)
[PASS]  Groups with name == "docker" is expected to exist
[FAIL]  Groups with name == "docker" members is expected to include "three"
expected ["one,two,three,f

[2020-11-15 22:46] majormoses commented on #3174
please leave open

[2020-11-15 23:46] tas50 commented on #2944
Bad bot

[2020-11-15 23:51] aaronlippold commented on #4029
Please leave open
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Sun, Nov 15, 2020 at 1:52 PM stale[bot] <notifications@github.com> wrote:

[2020-11-16 05:59] kmf commented on #4606
stale :(

[2020-11-16 18:53] aaronlippold opened #5309 "SQL session resources should throw an error or warning if you try to execute a query but there is no valid session established"
At the moment - if for some reason the sql session of the database resources do not make it clear that you are trying to query a nil sql session and it is cauing invalid results.

We should add some logic in the session and the query resources to protect aginst this case.

[2020-11-17 14:45] Geogboe commented on #3457
Can we keep this issue open? I'd love to be able to run inspec on Windows docker images if only to use a way of testing my inspec profiles. I get the same problem as the original documented issue. I'm running:

[code]
I'm happy to do any testing or debugging to assist with this!

[2020-11-17 16:22] multani commented on #4661
We are not using this anymore.

[2020-11-17 16:22] #4661 closed, assigned to nobody

[2020-11-18 15:39] #5305 closed, assigned to james-stocks

[2020-11-19 07:29] #5292 closed, assigned to nobody

[2020-11-20 15:50] dave-q opened #5310 "chocolatey_package resource does not find installed package"
# Describe the problem
[code]
this fails as it says it is not installed even though choco list --lo returns the package in question when I run that locally on the box.

For this example I'm going to use chocolatey itself as the package I am describing.

[code]
this fails. If I navigate to my server and run

`choco list --local-only --exact --include-programs --limit-output chocolatey`

it returns

[2020-11-20 16:17] dave-q commented on #5310
It looks like the default shell on windows server 2019 core is not powershell
https://richardjgreen.net/setting-powershell-default-shell-server-core/

so this line https://github.com/inspec/inspec/blob/a35d37043e65ce5fd528d58cd48ecb369c74a432/lib/inspec/resources/powershell.rb#L22

is not valid for that OS

[2020-11-20 17:05] dave-q commented on #5310
False alarm, turns out our choco license had expired so that was messing up the standard out that inspec checks. I'll close this now

[2020-11-20 17:05] #5310 closed, assigned to nobody

[2020-11-21 09:42] scalp42 commented on #3554
Still useful 😅

[2020-11-21 09:54] scalp42 commented on #3932
Still hoping 😅

[2020-11-21 23:44] aaronherman commented on #2413
Is there any momentum on getting InSpec Config files built out or another approach?

[2020-11-23 09:40] #3524 closed, assigned to nobody

[2020-11-23 10:54] lorenzbausch commented on #2713
Still an issue with InSpec 4.23.15

[2020-11-23 17:15] ejaronne commented on #3684
Case in point, found this problem in the field: Folks using the oracledb_session resource will find it works if using the Oracle 12 sqlplus binary, but not Oracle 19 sqlplus binary.

[2020-11-23 21:34] alexpop opened #5313 "wmi resource can't handle select statements with multiple objects returned"
[code]

The above example should work since an arbitrary WMI select statement can have 0 or multiple matches.

For the `installstate` property we only get a non-nil value when the WMI SELECT query has a single match. Behind the scene, this is the call sent by InSpec to the Windows target as well as the json output retrieved a parsed by the resource:

[code]

If the WMI SELECT query has more than o

[2020-11-25 13:47] Schwad opened #5315 "Reenabling Docker image builds using Dobi"
This was reported in from @gsreynolds

A number of months ago Docker image build deployment support was dropped by #releng with the methods we had used in InSpec.

We need to (by the next release) implement a new flow for enabling docker image builds using Dobi.

I will have a PR started against this issue in the next day.

[2020-11-25 13:53] aaronlippold commented on #5315
The only thing I might suggest is that we publish to variance of the
container. One with an entry point to bash and the other with an entry
point to inspect CLI

On Wed, Nov 25, 2020 at 8:47 AM Nick Schwaderer <notifications@github.com>
wrote:

--
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2020-11-25 22:49] Venkatsai opened #5316 "The regex expression requires update on aws_ec2_instances.md"
# Describe the problem
The README file for the aws_ec2_instances states the regular expression can be between curly braces. But it doesn't work when defined.

https://github.com/inspec/inspec-aws/blob/master/docs/resources/aws_ec2_instances.md

To reproduce the issue introduce curly braces

[code]

## Possible Solution

Remove the curly braces while defining the regex expression

[code]

[2020-11-27 14:33] kvivek1115 commented on #4803
I don't have permission to leave it as open!!!

The same issue https://github.com/chef/chef/issues/10565 has been observed when the chef-client running in systemd mode.

[2020-11-30 15:59] rx294 opened #5319 "Apache_conf resource incorrectly handles include files"
Apache_conf resource incorrectly handles include files in the main conf files.

The fields/values from the `include files` currently **overwrites** values parsed from the main conf file hence **losing data**.

# Describe the problem
Params incorrectly merged here.
https://github.com/inspec/inspec/blob/e5dfa9d65252635a8bc76ad60cc39207a122c369/lib/inspec/resources/apache_conf.rb#L85

## Possible Sol

[2020-11-30 20:46] clintoncwolfe opened #5320 "Update code to remove Ruby 2.4 -isms"
Several places in the code have workaround for Ruby 2.4, which is being dropped.

List those locations here and remove the workarounds. TODO: neaten and permalink list.

[code]

Revert #5144
Revert #5304

[2020-12-01 12:49] #5067 closed, assigned to Schwad

[2020-12-01 14:50] omerdemirok commented on #5316
Thanks for this @Venkatsai.
This should be moved here: https://github.com/inspec/inspec-aws

[2020-12-01 16:13] #5316 closed, assigned to nobody

[2020-12-01 16:13] clintoncwolfe commented on #5316
Issue moved to [inspec/inspec-aws #285](https://github.com/inspec/inspec-aws/issues/285) via [**ZenHub**](https://www.zenhub.com/)

[2020-12-01 17:14] #5235 closed, assigned to nobody

[2020-12-02 10:16] #5313 closed, assigned to alexpop

[2020-12-02 19:39] dependabot-preview[bot] opened #5326 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/inspec/update-logs/57496983).

[2020-12-02 21:59] clintoncwolfe commented on #5068
#3760 (original issue, discussion converges into this issue) is a related UX issue

[2020-12-04 15:48] aaronlippold commented on #2360
This is still an issue and we need to reexamine how we want to resolve this issue for the oracle_session resource

[2020-12-06 14:47] aaronlippold opened #5328 "The postgres* resources need to be normalized on their platform suports"
If you look through the postgres_* resources you will see that some list support for both linux and windows families, while some say they only support linux. Given that these resources depend on each other, I am not sure what effect this may have, however, I think we need to either - add in the needed adjustments to make they all support both platforms or remove the supports windows statements.

[2020-12-09 12:59] Schwad commented on #5315
Fixed by #5318

[2020-12-09 13:16] #5315 closed, assigned to Schwad

[2020-12-09 16:54] clintoncwolfe opened #5333 "win32-process emits warning under omnibus smoke tests"
# Describe the problem

Under Windows under Ruby 2.7, the [omnibus smoke tests](https://buildkite.com/chef/inspec-inspec-master-omnibus-release/builds/346) fail because win32-process emits a deprecation warning:

[code]

The warning is fixed in win32-process 0.9.0 .

## Possible Solution

Adding a constraint in the main Gemfile to `gem "win32-process", ">= 0.9.0"` causes the bundler dependency res

[2020-12-09 18:11] clintoncwolfe opened #5334 "The windows CI verify tests are timing out"
# Describe the problem

A currently unidentified test is hanging on Windows on the `verify` Buildkite job, causing all of them to timeout after the 45 minute timeout.

[Example](https://buildkite.com/chef-oss/inspec-inspec-master-verify/builds/2563#490a15e3-8d8e-4a4a-92b6-9694c334bf67)

## Possible Solution

[2020-12-10 07:13] dependabot-preview[bot] opened #5340 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/inspec/update-logs/58614584).

[2020-12-10 07:13] #5326 closed, assigned to nobody

[2020-12-11 01:13] tas50 opened #5343 "Allow hashi 4.x to resolve Ruby 2.7 deprecation warnings"
InSpec is pinning to 3.x and we need to make sure we can pull in 4.x to resolve deprecation warnings.

[2020-12-11 07:15] #5340 closed, assigned to nobody

[2020-12-11 07:15] dependabot-preview[bot] opened #5345 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/inspec/update-logs/58831249).

[2020-12-12 21:40] sbonds commented on #709
Thanks for the reminder, stalebot. This still seems useful.

[2020-12-13 03:07] bbros-dev opened #5346 "WireGuard and network-namespace support"
Support `inspec exec ...` where the transport/connection is via WireGuard and Network Namespaces, [setup in the usual way](https://www.wireguard.com/netns/).

## Detailed Description

`inspec exec` options:

- `-n --network-namespace=NETWORK_NAMESPACE`
- `-t --target=TARGET`

Given a remote-peer:

- With WireGuard interface `wg0`
- Listening for connections:

[code]
On the InSpec side, a remote sh

[2020-12-13 03:53] aaronlippold commented on #3724
Ping. We’ve had some interest about this as well and outside specifically
for more formalized Solaris support

On Sat, Dec 12, 2020 at 4:08 PM stale[bot] <notifications@github.com> wrote:

--
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2020-12-14 16:38] haidangwa commented on #2967
This is related. I found the follow to fail:

[code]

while this passes:
[code]

[code]

[code]

    Name:      redhat
    Families:  redhat, linux, unix, os
    Release:   8.3
    Arch:      x86_64

[code]

[2020-12-15 16:22] clintoncwolfe commented on #4770
We will continue to use the core REXML library because we do not want to ship a compiled dependency.

[2020-12-15 16:22] #4770 closed, assigned to nobody

[2020-12-15 21:56] #5333 closed, assigned to clintoncwolfe

[2020-12-16 06:56] #5345 closed, assigned to nobody

[2020-12-18 19:11] tas50 commented on #5343
This was merged

[2020-12-18 19:11] #5343 closed, assigned to nobody

[2020-12-18 19:12] tas50 commented on #5320
We can also bump the target ruby version in the .rubocop.yml file to 2.5 which will cause rubocop to find some ruby 2.4isms that can be modernized automatically

[2020-12-18 19:13] tas50 opened #5359 "Docker containers are not getting uploaded"
The Docker containers on dockerhub are not current: https://hub.docker.com/r/chef/inspec/tags?page=1&ordering=last_updated

We moved the pipeline over to the Dobi based workflow, but it looks like things are not working fully: https://github.com/inspec/inspec/pull/5318

[2020-12-22 15:55] kclinden opened #5365 "Add OS X Support for MSSQL_SESSION Resource"
Add support for using the mssql_session resource with Mac OS X. Currently this is hard coded to Windows only.

## Detailed Description
The mssql_session resource relies on the sqlcmd binary being installed on the system. This should be possible now on Mac since it is available.

https://cloudblogs.microsoft.com/sqlserver/2017/05/16/sql-server-command-line-tools-for-macos-released/

## Context
Bein

[2020-12-22 16:31] kclinden commented on #5365
Tested this further by updating the local resource file.
Changed the supported platform line to OS.

[code]

[2020-12-23 14:26] #5365 closed, assigned to nobody

[2020-12-28 00:21] dwmarshall opened #5369 "Unexpected Warnings from FilterTable::ExceptionCatcher"
Running inspec on a profile produces numerous warnings. They seem not to affect the operation, however.

# Describe the problem

I haven't been able to narrow this down to a particularly small example, but I wanted to create the issue in the hope that someone with greater wisdom will recognize the problem before I do much more work on it.

This output is from a Mac running a centos/7 Vagrant insta

[2021-01-05 16:46] clintoncwolfe commented on #5334
It is `test/unit/plugin/v2/installer_test.rb`

[2021-01-06 11:32] tbugfinder opened #5373 "reporter (e.g. junit2) should skip resource packs without test execution"
## Detailed Description

My inspec tests might depend on resource packs like inspec-aws, inspec-azure, inspec-* . Those resource packs themselves do not include any tests but provide resources for testing. Therefore it would be beneficial to not include those within the reporter output as those reports require post-processing.

## Context

I don't want to post-process the reporter output in order

[2021-01-06 15:19] clintoncwolfe opened #5374 "inspec 4.24.26 exits with ffi error on windows"
# Describe the problem

With any invocation, under Windows, Chef InSpec 4.24.26 exits with this message:
[code]

The inspec 4.24.26 MSI was packaged with version 1.14.2 of ffi and ruby 2.7.2p137

This may be related to https://github.com/ffi/ffi/issues/868 .

## Possible Solution
Temporarily pin FFI back to a working version.

[2021-01-06 19:25] TheLunaticScripter opened #5376 "Verify fails due to timeout on habitat build."
Sometimes the verify stage will fail due to timeout.

This is the `buildkite/inspec-inspec-master-verify` check on PRs.

# Describe the problem
verify times out while testing inspec due to long-running build

## Possible Solution
remove the re-download of the ruby plus dev kit package to reduce time.

[2021-01-06 21:03] #5374 closed, assigned to clintoncwolfe

[2021-01-06 22:24] clintoncwolfe commented on #5334
Only tests that talk to rubygems.org timeout.
If you entirely comment out `webmock` from the `test/helper.rb` file, all tests pass. Note that webmock is supposed to throw an exception if a disallowed network connection is used; that either isn't happening or the exception is getting swallowed (and something is waiting).

[2021-01-07 20:06] deric4 commented on #5233
Would implementing this using the  output of `git remote show <repo url>`  and parsing the `HEAD branch:` line make sense?

[code]

[2021-01-08 19:10] #5334 closed, assigned to clintoncwolfe

[2021-01-13 15:25] clintoncwolfe opened #5382 "Ruby 3 Compatibility"
## Detailed Description

Ensure that InSpec can run under Ruby 3.0.

## Context

## Possible Implementation

[2021-01-13 15:30] clintoncwolfe opened #5383 "Add Ruby 3.0 testing to CI"
## Detailed Description

We need to test under Ruby 3.0 in CI. At first, we can set the tests to allow failures.

## Context

## Possible Implementation

[2021-01-13 15:32] clintoncwolfe opened #5384 "Docker images are not getting tagged "stable" or "latest""
# Describe the problem
On promotion, the docker image on the Docker Hub should be tagged stable, but it is not. It is getting tagged with the major and minor version, however.

## Possible Solution

This may be fixed in `dobi.yaml`?

[2021-01-13 15:36] clintoncwolfe commented on #5359
This has been fixed by #5362 . The images are still not getting tagged properly, but that is tracked by #5384 .

[2021-01-13 15:36] #5359 closed, assigned to nobody

[2021-01-13 15:45] Schwad commented on #5384
Hey! 👋

In the internal #releng-support or #expeditor-support; there should be a thread from 1-2 months ago where we discussed fixing DockerImage release..

We followed some of their guidelines and suggestions in there (i.e. moving to `dobi`) but there may be some other valuable notes from releng for anyone looking into this issue. :)

[2021-01-13 16:12] trickyearlobe commented on #4124
I have another customer with this issue...

[2021-01-13 21:40] nkierpiec commented on #5384
@Schwad we think it may have something to do with a race condition between when the packages API knows about the newest version and Expeditor looking for that version as the "latest". We may change course on how we look for those packages to see if we can find a more reliable way to verify the version that was promoted is the "latest".

[2021-01-14 00:38] iMichaela commented on #3181
This issue will address a highly desirable pass-through feature for the metadata. Our team could use this feature and we kindly ask for the issue to be re-opened. Thank you.

[2021-01-14 22:33] aaronlippold commented on #3181
Thanks

On Thu, Jan 14, 2021 at 5:15 PM Clinton Wolfe <notifications@github.com>
wrote:

--
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2021-01-15 00:51] iMichaela commented on #3181
@clintoncwolfe Thank you! Your support and understanding is greatly appreciated.

[2021-01-18 09:24] jansepke commented on #4976
I also have the problem that I cannot run inspec against a remote target when using ssh-agent:

[code]

`ssh USER@SERVER'echo "Hello"'` works without a problem

[2021-01-18 18:45] aaron-lane opened #5387 "require "inspec" fails with NameError: undefined method `parse_array' for class `Thor::Arguments'"
# Describe the problem

It appears that https://github.com/inspec/inspec/pull/5358/commits/cdfb325ca325725ecaa948db7fd064decc3dfd1b broke integration with other gems which also depend on thor. In this case, kitchen-terraform depends on inspec and test-kitchen, which both depend on thor. Kitchen-Terraform started seeing the following stacktrace caused by `require "inspec"` after updating to inspec

[2021-01-18 21:36] astorath commented on #3295
For anyone still searching for this in 2021:

1. You can actually use RSpec default hooks https://relishapp.com/rspec/rspec-core/v/2-14/docs/hooks/before-and-after-hooks like this:
[code]
This is not very clean because InSpec discourages nested `describe`, but it's a good option IMHO.
2. **ServerSpec** has `pre_command`, though you can always use nested `describe` as well.
3. There's also a **Test

[2021-01-20 16:02] #5387 closed, assigned to nobody

[2021-01-20 17:36] aaron-lane commented on #5387
Thanks @clintoncwolfe 🎉

[2021-01-22 05:35] trickyearlobe commented on #4124
## Root cause

Ruby `Net::SSH::Authentication::Agent` seems to be sending a questionable message when it initialises its connection to the ssh-agent. The message is of type 1 which it describes as an SSH2_AGENT_REQUEST_VERSION message.

The latest IETF draft for the agent protocol seems to be https://tools.ietf.org/id/draft-miller-ssh-agent-04.html#rfc.section.5.1.1 which doesn't appear to be rati

[2021-01-22 05:47] trickyearlobe commented on #4124
**Note:**
Running OpenSSH client with `strace` reveals that it doesn't bother with the `negotiate` step when connecting to an agent socket. It immediately sends a SSH_AGENTC_REQUEST_IDENTITIES message (11), so it seems valid to turn `negotiate!` into a no-op.

[2021-01-22 16:14] clintoncwolfe commented on #5384
Chef InSpec 4.25.1 was successfully tagged as final/stable during its promotion. So, the problem is intermittent, consistent with a race condition.

[2021-01-22 17:31] Schwad commented on #5384
@nkierpiec @clintoncwolfe - good to know! In the meantime if it does hit the race condition and doesn't tag latest; how painful is it to set your end manually? (ideally automated but you know what I mean!)

[2021-01-22 19:06] trickyearlobe commented on #4124
My customer has confirmed that disabling `negotiate!` has allowed Inspec to use the keys supplied by Rundeck's JSCH agent.

Next step is to figure out who will be responsible for fixing this compatibility issue :-)

- Rundeck? (by shipping a forked version of JSCH libraries)
- The maintainers of the JSCH libraries for ssh and ssh-agent?
- The maintainers of Ruby net-ssh gem?
- Chef/Progress? (by s

[2021-01-22 23:32] ramereth opened #5389 "Newer parslet-2.x gem conflicts with trying to use toml gem"
# Describe the problem

The parslet gem dependency was changed in #5354 which pulled in parslet-2.x. Since inspec-core is in Chef Infra Client, this causes issues when trying to use cookbooks which try to utilize the toml-0.2.0 gem which has a `parslet ~> 1.8.0` dependency. It looks as though they have a 0.3.0 release prepped which would fix this but hasn't been released to rubygems yet.

## Possi

[2021-01-24 14:22] trickyearlobe commented on #4124
Extra info... looks like OpenSSH supports message type 1 (and responds to it), but it's not anything to do with version negotiation. According to https://github.com/openssh/openssh-portable/blob/95eca1e195a3b41baa1a725c2c5af8a09d885e4b/authfd.h#L47 it's actually the old message type SSH_AGENTC_REQUEST_RSA_IDENTITIES.

[2021-01-24 23:36] clintoncwolfe commented on #4952
Duplicate of #5384

[2021-01-24 23:36] #4952 closed, assigned to nobody

[2021-01-25 11:13] enutrofff commented on #1237
@clintoncwolfe. Is there a CLI option to do the same?

[2021-01-25 17:39] clintoncwolfe opened #5390 "http resource breaks in chef-client 16.9.20 omnibus package"
Chef Infra Client packages InSpec in its Omnibus package. In recent releases, the `http` resource has been failing.

# Describe the problem

[code]

The first error, referring to aws, is normal, as we attempt to load AWS in-core resources, then try to load other core resources. The second error is abnormal.
[code]

I installed the inspec omnibus package, and found that it contained faraday_middlew

[2021-01-26 10:43] thheinen opened #5392 "Enable programmatic setting of plugin configuration"
## Detailed Description

Currently, InSpec has no API to set plugin configuration. Instead, only the configuration file is read.

## Context

In a custom Chef resource to execute InSpec runs, I needed to set plugin configuration for my `inspec-reporter-flex` plugin (to specify a custom template for a report).

Currently, InSpec::Config only provides `fetch_plugin_config` so setting configuration l

[2021-01-26 16:43] clintoncwolfe commented on #1237
No, at this time there is not a CLI option to fetch a relative path.

[2021-01-26 17:08] #5390 closed, assigned to nobody

[2021-01-27 15:48] #5389 closed, assigned to nobody

[2021-01-27 21:10] KrisShannon commented on #3558
Still an issue.

I ran into this again yesterday.

[2021-01-28 01:28] aaronlippold commented on #3558
You should have better luck with the form

inspec exec <profile> -t ... --controls .... --reporters

The issue you are having is likely that thor is sensitive to the parsing of
the primary param to the exec function - the profile path - and given that
--controls parses an array ... it is likely getting confused.

In all examples, we expect:

inspec exec <profile> <args> <flags> --reporter <list of

[2021-01-29 12:07] bmhughes opened #5398 "Service resource fails on CentOS 8 due to upstream bug"
# Describe the problem
Any service tests on CentOS 8 will fail due to this upstream bug:

- https://bugzilla.redhat.com/show_bug.cgi?id=1901449
- https://bugzilla.redhat.com/show_bug.cgi?id=1908275
- https://bugzilla.redhat.com/show_bug.cgi?id=1853736

Which RH aren't being super fast on fixing for some reason.

## Possible Solution

Ansible has applied [this](https://github.com/ansible/ansible/pu

[2021-02-05 23:44] dwmarshall opened #5401 "CLI needs --ssh-options"
When using `--backend ssh`, there's presently no way to specify options for the ssh connections

## Detailed Description

I'm able to automate InSpec scanning on hosts with system accounts, but these accounts can't execute `sudo` on a remote host unless they use the `-A` ssh option to forward the agent they are using.

## Context

We would use this to run InSpec with the `--sudo` option from our C

[2021-02-06 03:55] aaronlippold commented on #5401
You can pass the —ssh flag now.

   -

   --sudo, --no-sudo Run scans with sudo. Only activates on Unix and
   non-root user.
   -

   --sudo-command=SUDO_COMMAND Alternate command for sudo.
   -

   --sudo-options=SUDO_OPTIONS Additional sudo options for a remote scan.
   -

   --sudo-password=SUDO_PASSWORD Specify a sudo password, if it is required

On Fri, Feb 5, 2021 at 6:45 PM David Marshall

[2021-02-06 16:32] almmechanics opened #5402 "brew install command is invalid for brew 3.0.0"
The current install install instructions do not support the updated interface for brew on macos

# Describe the problem
The inspec `cask` is not identified correctly due to a revised interface for brew.

[code]

## Possible Solution
Update `install.md` to use `brew install --cask chef/chef/inspec` as the correct install for macos

[2021-02-09 14:59] ejaronne commented on #3185
isn't this already solved by ensuring one declares the input properly in the inspec.yml using the "sensitive:" parameter?
For example: https://github.com/mitre/oracle-mysql-ee-5.7-cis-baseline/blob/8d5d86144c15fa7df9d8afa34af7f0ab136f7091/inspec.yml#L23

[2021-02-09 15:09] ejaronne opened #5404 "input sensitive flag ignored when using overlay (dependent) profiles"
Example: https://github.com/mitre/aws-rds-oracle-mysql-ee-5.7-cis-baseline/blob/ce6494b717e8bbdbe9b601ca85621c072ed0d529/inspec.yml#L30-L45

When creating "overlay" profiles that depend on another "baseline" profile as in the example above, one is forced to reiterate any of the input declarations from the "depends" baseline profile inspec.yml *if* that baseline uses the "sensitive:" option. Otherw

[2021-02-09 20:29] pburkholder commented on #4989
This. I was surprised this wasn't here when I tried to do some testing.

[2021-02-10 00:27] aaronlippold commented on #5294
hello, the results are - or should be - there - you just have to parse down the tree.

[2021-02-10 02:11] aaronlippold commented on #5404
👍🏻 this would be a real issue

[2021-02-10 18:07] DataFrogman opened #5405 "nginx_conf incorrectly handles regex in config files, returns nil"
# Describe the problem

When nginx_conf is used to evaluate a config file that contains regex it fails to properly evaluate the file and returns nil for parameters.  Some example regex that cause the problem are shown below.  This was tested against a docker instance with both `inspec exec -t docker://[container name]` and `inspec shell -t docker://[container name]`.  When the lines with regex are

[2021-02-10 22:27] DataFrogman commented on #5405
The problem appears to be in https://github.com/inspec/inspec/blob/master/lib/inspec/utils/nginx_parser.rb.  Unless I am mistaken, there does not appear to be rules that catch regex like `(light|dark)` or `([0-9]|1[0-9]|2[0-1])/(\d+)/(\d+)`

[2021-02-12 00:15] kekaichinose commented on #5068
Comment added by Lisa Stidham in Aha! - [View](https://chef.aha.io/comments/6928164221638768891)

Noting linked [Issue 5068](https://github.com/inspec/inspec/issues/5068)

[2021-02-12 00:26] dwmarshall commented on #5401
That's not quite a solution, although there is one in recent InSpec. The `--sudo-*` options control how the run gets sudo on the remote host, not how the connection to the remote host is formed.

inspec/train#642 allows something like `--target 'ssh://someuser@some.host.com?forward_agent=true'`, but it might also be nice to have `--backend ssh --user someuser --host some.host.com --ssh-options='-A

[2021-02-12 16:37] clintoncwolfe commented on #5402
Fixed in #5403

[2021-02-12 16:37] #5402 closed, assigned to nobody

[2021-02-12 23:40] shwetabhsuman12 commented on #4935
I am getting the same error -
Traceback (most recent call last):
	16: from /usr/bin/inspec:204:in `<main>'
	15: from /usr/bin/inspec:204:in `load'
	14: from /opt/inspec/embedded/lib/ruby/gems/2.7.0/gems/inspec-bin-4.24.32/bin/inspec:11:in `<top (required)>'
	13: from /opt/inspec/embedded/lib/ruby/gems/2.7.0/gems/inspec-core-4.24.32/lib/inspec/base_cli.rb:35:in `start'
	12: from /opt/inspec/embedde

[2021-02-12 23:46] kekaichinose commented on #5140
Comment added by Lisa Stidham in Aha! - [View](https://chef.aha.io/comments/6928527616451667328)

Noting [Issue 5140](https://github.com/inspec/inspec/issues/5140)

[2021-02-16 19:09] CernerAssociate-ThomasDeranek opened #5410 "Resource sshd_config Not Handling Keyword Case Sensitivity Correctly"
The `sshd_config` resource is not handling case sensitivity in regards to configuration keywords properly. Consequentially, the values that are given back for specified config keywords are potentially inaccurate.

# Describe the problem
The issue occurs when there are multiple instances of functionally identical keywords in the SSH config that have different capitalizations. Whichever capitalizati

[2021-02-17 14:15] rbclark opened #5412 "`inspec json` command does not populate the attribues/inputs for the profile"
# Describe the problem

When running the `inspec json`, the list of available inputs to the profile is missing from the result. There is an `inputs` array however it is always empty.

An example can be found here https://github.com/mitre/redhat-enterprise-linux-7-stig-baseline/blob/master/profile.json even though we have inputs declared in https://github.com/mitre/redhat-enterprise-linux-7-stig-ba

[2021-02-21 20:25] clintoncwolfe commented on #5410
Thanks for the suggested fix! Looks like setting `multiple_values` false breaks settings that legitimately take multiple values per setting, so I left that in place. However, setting the hash assignment to an `||=` was sufficient to get the desired result.

[2021-02-21 21:05] #5300 closed, assigned to clintoncwolfe

[2021-02-22 14:30] CernerAssociate-ThomasDeranek commented on #5410
Thank you for getting that PR made so quickly! This will help us to remove some extra code in our Inspec profiles after it is released

[2021-02-22 20:15] clintoncwolfe commented on #5398
I just tested this on centos8 with systemd 239-41 and inspec 4.26.10 and found that sshd service status was reported accurately. I'm reluctant to put in a workaround for a short-term bug when when it appears a fix is now available.

[2021-02-22 20:19] clintoncwolfe commented on #5401
Our CLI option space is already enormous, and we're trying to use train URL options for the future growth of transport-specific options. I'm going to close this for now - if something specific does come up, please feel free to open an issue for it.

[2021-02-22 20:19] #5401 closed, assigned to nobody

[2021-02-22 20:32] bmhughes commented on #5398
On which host platform? Docker being docker the host kernel is relevant too, I can still reproduce this on Fedora 33 and CentOS 8 stream with 5.10.12-200.fc33.x86_64 and 4.18.0-277.el8.x86_64 respectively.

From the first bugzilla systemd-239-44.el8.x86_64 is possibly the fixed version for stream at least (not sure where vanilla 8 is now), so getting that into the dokken image may be an option.

[2021-02-23 17:05] #5410 closed, assigned to clintoncwolfe

[2021-02-23 21:59] clintoncwolfe commented on #5294
The json-automate reporter is now publicly documented at https://docs.chef.io/inspec/reporters/#json-automate-reporter . I'm going to close this issue.

[2021-02-23 21:59] #5294 closed, assigned to kekaichinose

[2021-02-24 04:22] clintoncwolfe commented on #5398
After discussion, we've concluded that this is an issue we need to wait for the vendor to fix. From InSpec's perspective, this fix will only be valid for a short time. That would be very difficult to test and not worth maintaining in the long term.

Respectfully, we have to decline this request, and urge CentOS 8 maintainers to release the fix into their package repo.

[2021-02-24 04:22] #5398 closed, assigned to nobody

[2021-02-25 08:20] geogdog opened #5416 "Pulling in vendor profiles from git fails when using the docker container"
# Describe the problem
When running an `ssl_certificate` test using:
[code]
inspec fails as there is no git installed to get it.

## Possible Solution
Add git to the list of packages installed within the container.

[2021-02-25 18:43] clintoncwolfe opened #5417 "crontab resource with user specified always returns empty on AIX"
# Describe the problem

On AIX, this code:
[code]

Gives this result:
[code]

## Possible Solution

This is because the underlying implementation uses `crontab -l -u`, while AIX does not support the `-u` option :

[code]

[2021-02-26 14:20] #5417 closed, assigned to nobody

[2021-03-01 20:55] #5416 closed, assigned to nobody

[2021-03-01 21:14] clintoncwolfe commented on #4121
I believe this is moot since the migration to the unified docs site. Closing.

[2021-03-01 21:14] #4121 closed, assigned to IanMadd

[2021-03-02 13:48] clintoncwolfe commented on #5373
The best place to implement this would be in lib/utils/run_data_filter . Check to see if a test run has zero controls in a profile (but at least one profile with controls) and if so, delete the empty profiles from the run_data. Control this with a command-line option.

Use `inspec init profile` to generate a set of test profiles under test/fixtures/profiles to test with, and add test cases in test

[2021-03-04 18:48] clintoncwolfe commented on #5056
Closing - we no longer use the www tasks to publish the website.

[2021-03-04 18:48] #5056 closed, assigned to nobody

[2021-03-04 18:59] #4902 closed, assigned to nobody

[2021-03-08 07:15] sandal-maker opened #5428 "[Question] How do I describe secondary_ip_ranges of google_compute_subnetwork"
### This is just question

At the moment, I'm trying to describe `secondary_ip_ranges` of `google_compute_subnetwork` Inspec resource.

I have something similar to the following below.

[code]

But I'm not sure how to describe `secondary_ip_ranges` in my `control` block.

According to the [documentation](https://docs.chef.io/inspec/resources/google_compute_subnetwork/#beta-resource), its an array.

[2021-03-09 15:50] #5076 closed, assigned to Vasu1105

[2021-03-09 17:28] #5428 closed, assigned to nobody

[2021-03-09 17:28] clintoncwolfe commented on #5428
Issue moved to [inspec/inspec-gcp #311](https://github.com/inspec/inspec-gcp/issues/311) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-09 19:53] kmf commented on #5061
Bump.

[2021-03-09 19:55] clintoncwolfe opened #5429 "MacOS m1 chip support"
### 🎛 Description

We need to produce an omnibus package for MacOS on the ARM m1 chip, so that MacOS users can continue to use InSpec with a native package.

[2021-03-10 14:55] Vasu1105 commented on #1270
This is taken care I have tested with `4.26.13`
Following is the output of running the profile from git from the system which don't have git binaries
[code]
Closing this.

[2021-03-10 14:55] #1270 closed, assigned to Vasu1105

[2021-03-10 17:07] #5373 closed, assigned to Vasu1105

[2021-03-13 21:19] jndirangu85 opened #5431 "Failed to load profile-Chef Inspec"
Going through the Chef Inspec tutorial, I created a chef inspec .json file that had my resources information. While running the inspec exec aws-security -t aws://us-east-1/default command, I get the error message below:

[2021-03-13T12:59:48-06:00] ERROR: Failed to load profile aws-security: Failed to load source for controls/instances.rb: 809: unexpected token at '��{'

Profile:         AWS InSpe

[2021-03-14 21:02] clintoncwolfe commented on #5431
It looks like you have some bad characters in your configuration .json file. Try checking it at https://jsonlint.com/ or similar.

[2021-03-15 00:44] jndirangu85 commented on #5431
@clintoncwolfe I have validated the .json file and below the results show its a valid json file. I don't believe there is something wrong with the json file.
![image](https://user-images.githubusercontent.com/40778234/111090438-b567c080-84fd-11eb-98a9-94efc823f1e8.png)

[2021-03-15 15:35] clintoncwolfe commented on #5431
Have you examined your profile file `controls/instances.rb` around line 809? Are there unexpected characters there?

[2021-03-18 02:57] tohch4 commented on #3010
So I see this is a longstanding issue, and I have a similar need to @zopanix, but different cloud, super similar use case. @clintoncwolfe, is this something people can pick up or is a feature this complex that requires planning, designing, and feedback from core devs before moving forward?

[2021-03-18 03:03] tohch4 commented on #5270
I guess this is getting my attention again, so I will start looking into this again.

[2021-03-19 03:10] ymotongpoo opened #5436 "`apt` resource fails on zsh"
# Describe the problem
`apt` resource fails in the environment where the InSpec user's default shell is zsh.

Details are described here:
https://github.com/ymotongpoo/setup/issues/3

## Possible Solution
Modify the shell command invoked in `apt` resource to work with zsh.

[2021-03-19 14:05] clintoncwolfe commented on #3010
I sketched out one possible approach [above](https://github.com/inspec/inspec/issues/3010#issuecomment-386024663). I still think this would be an InSpec 5 feature - as it would be a big change to several major components - but I think if the community wanted to get started on this we would welcome it.

[2021-03-19 14:09] #5436 closed, assigned to nobody

[2021-03-19 14:16] #5215 closed, assigned to Vasu1105

[2021-03-19 14:24] #3181 closed, assigned to nobody

[2021-03-22 12:24] clintoncwolfe commented on #4055
We no longer use appveyor and test Windows differently today.

[2021-03-22 12:24] #4055 closed, assigned to nobody

[2021-03-22 13:08] clintoncwolfe commented on #4057
Ideally if an Input is Hash-valued we might want to use something like Thor's HashWithIndifferentAccess to avoid having to choose whether to use a String or a Symbol.

[2021-03-24 02:45] #5233 closed, assigned to Nik08

[2021-03-24 19:12] #5429 closed, assigned to clintoncwolfe

[2021-03-25 19:22] #5369 closed, assigned to Vasu1105

[2021-03-26 13:19] clintoncwolfe commented on #3203
This was addressed in #5373

[2021-03-26 13:19] #3203 closed, assigned to Vasu1105

[2021-03-27 17:06] fadeevab commented on #4310
Similiar workaround via modifying `/opt/inspec/bin/inspec` itself:

[code]

[2021-03-29 08:47] israelconesa opened #5444 "undefined method `sockaddr_un' for Socket:Class (NoMethodError)"
### 🎛 Description

This is a 🐛 bug report.

I am trialling InSpec so totally new for me. I was hoping to verify a container following https://lollyrock.com/posts/inspec-for-docker/.
When I try `inspec exec` against the alpine or any other container I keep having the same issue as per title (stacktrace below).

I can use `inspec shell` without issues (for my limited usage).

### 🌍 InSpec and Platfo

[2021-03-30 01:14] clintoncwolfe commented on #5444
InSpec does not currently support Docker on Windows, but we are adding such support at this very moment. See https://github.com/inspec/train/issues/672

[2021-03-30 11:02] israelconesa commented on #5444
Thanks for your prompt reply @clintoncwolfe. I'm looking forward to this implementation :)

[2021-03-30 11:04] #5444 closed, assigned to nobody

[2021-03-31 22:29] clintoncwolfe commented on #4915
I encountered the same symptom recently on a Windows Nano container that did not have the deprecated executable `wmic.exe` installed, which is how `train` performs architecture detection. I believe that is the fundamental issue.

[2021-04-01 02:07] tohch4 commented on #5412
@rbclark and @aaronlippold, is this still the case? Is this a blocker for our current work?

[2021-04-01 02:17] tohch4 opened #5447 "Filter Active Controls in Profile by Tag"
## Detailed Description

Following up on inspec/inspec#5215, it would be particularly helpful for our use case not only to filter controls individual by their identifier, but groups of controls by tag. In short, enable similar functionality for `--control=foo`, but with `--tag=bar` and zero, one, or more controls with tag `bar` in its `tag` block(s) in that given profile will execute.

## Context

[2021-04-01 12:24] Nik08 commented on #2967
Found no luck while trying to replicate this issue on freeBSD 10.3 and freeBSD 11.

`file('/etc/rc.conf').exist?` returns `true` since the file exists.

While, `describe parse_config_file('/etc/rc.conf') do
    its('sshd_enable') { should eq 'YES' }
end`

This works as expected in both the systems.

Hence, this issue could be closed.

[2021-04-01 12:29] #2967 closed, assigned to Nik08

[2021-04-02 01:34] clintoncwolfe commented on #4950
Duplicate of #5200

[2021-04-02 01:34] #4950 closed, assigned to nobody

[2021-04-02 01:53] #5145 closed, assigned to mjingle

[2021-04-02 01:53] clintoncwolfe commented on #5145
Issue moved to [inspec/inspec-aws #299](https://github.com/inspec/inspec-aws/issues/299) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-02 02:14] clintoncwolfe commented on #4838
My reading of the `getent` manpage is that it is behaving as specified. As this is an edge case and the defective behavior is in the OS vendor, we will not be fixing it in InSpec.

[2021-04-02 02:14] #4838 closed, assigned to nobody

[2021-04-02 02:18] clintoncwolfe commented on #4903
Duplicate of #3637

[2021-04-02 02:18] #4903 closed, assigned to nobody

[2021-04-02 02:26] clintoncwolfe commented on #4738
The reason this is failing is because you are using `%x` to execute a shell command. That will run the shell command on the local host, not on the scanning target, and so the files are not found.

Instead, use `inspec.command("ls #{@path}")`.stdout to remotely execute commands.

[2021-04-02 02:38] clintoncwolfe commented on #633
Windows 2008 R2 reached EOL January 14, 2020. Closing.

[2021-04-02 02:38] #633 closed, assigned to nobody

[2021-04-02 02:54] #5177 closed, assigned to nobody

[2021-04-02 06:22] baby-gnu opened #5448 "Can't use a custom resource inside a describe"
In the [saltstack-formulas](https://github.com/saltstack-formulas/) community, we are in the path of generalising a [library](https://github.com/saltstack-formulas/template-formula/blob/master/test/integration/share/libraries/system.rb) to have easy access to system dependent information.

When doing replacement of `platform[:family]` with `system.platform[:family]` in some of our formulas, we hit

[2021-04-03 04:04] JSteeleIR commented on #2338
I'd still like to see this. Having to manually pass around target ssh options makes it really difficult to chain inspec & vagrant, esp. in cases where non-standard SSH settings are needed (e.g. Cloud providers/boxes).

[2021-04-05 02:22] clintoncwolfe commented on #3643
https://github.com/inspec/inspec/blob/4fa55ebe7181aa790c92b6db4082955ed1af5570/lib/inspec/resources/groups.rb#L114 This line should be modified to always return a (possibly empty) Array, instead of nil. `flatten_entry` is used in many places and should not be modified, though.

[2021-04-06 22:56] haidangwa opened #5450 "csv resource should support csv files that don't have a header row"
## Detailed Description

CSV resource only supports comma-separated files with a header row.

## Context

The csv resource currently only supports parsing a CSV file that has a header row defining what each of the columns in each row represent. In some cases, I have to manage and validate a CSV that doesn't have this header row. There is no way to use inspec and assert that each row is what I expe

[2021-04-06 23:17] clintoncwolfe commented on #4333
We've had no customer demand for this change, and it would be highly disruptive to the installed base for little tangible benefit. I'm going to close this one.

[2021-04-06 23:17] #4333 closed, assigned to kekaichinose

[2021-04-06 23:32] clintoncwolfe commented on #2857
This was fixed on #5434

[2021-04-06 23:32] #2857 closed, assigned to Vasu1105

[2021-04-06 23:50] clintoncwolfe commented on #3457
This is currently being worked on: https://github.com/inspec/train/issues/672

[2021-04-06 23:56] #4580 closed, assigned to nobody

[2021-04-07 09:18] micheelengronne opened #5451 "Dependencies between monorepos"
# Describe the problem

I have a monorepo `monorepoA` that has the following structure:

[code]

`profileB` depends of `profileA` and I use this syntax:

[code]

I have another repo `monorepoB` that has a profile (`profileC`) in it that depends of profileB. I use this syntax:

[code]

`profileC` fetch correctly `profileB` but it breaks when fetching `profileA` (dependency of `profileB`). The fetch

[2021-04-07 12:49] #4057 closed, assigned to Nik08

[2021-04-08 00:32] clintoncwolfe commented on #4959
Refs #5327 , #5273

[2021-04-08 00:35] clintoncwolfe commented on #4959
Command timeouts were implemented on #5273, so that may help. You can now specify a timeout on a command on certain transports by specifying
[code]

[2021-04-08 00:44] clintoncwolfe commented on #5005
This is not a technical priority, I'm going to close this.

[2021-04-08 00:44] #5005 closed, assigned to nobody

[2021-04-08 00:54] clintoncwolfe commented on #5030
inspec 4.31.0 is present in https://packages.chef.io/repos/apt/stable/dists/focal/main/binary-amd64/Packages as of April 7, 2021. Closing.

[2021-04-08 00:54] #5030 closed, assigned to nobody

[2021-04-08 00:58] clintoncwolfe commented on #5050
Work on #5327 may help this, if you wish to waive the problematic controls.
Overall, this issue is a duplicate of #3433, which contains much more discussion - I'm going to close this in favor of that issue.

[2021-04-08 00:58] #5050 closed, assigned to nobody

[2021-04-08 00:58] clintoncwolfe commented on #5064
We removed it.

[2021-04-08 00:58] #5064 closed, assigned to nobody

[2021-04-08 01:06] clintoncwolfe commented on #5140
This feels like a breaking change for the sake of breaking things. This would add a lot of complexity to the existing compliance profiles and would break a lot of customers. I would much prefer to introduce a new field on the platform detection object - call it "os_product" or something - that returns the 10.x number that some users may be looking for.

[2021-04-08 01:09] clintoncwolfe commented on #5156
This was fixed by #5446

[2021-04-08 01:09] #5156 closed, assigned to nobody

[2021-04-08 01:13] clintoncwolfe commented on #5183
Fixed by #5185

[2021-04-08 01:13] #5183 closed, assigned to nobody

[2021-04-08 01:14] clintoncwolfe commented on #4953
Port setting was added in #5185

[2021-04-08 01:14] #4953 closed, assigned to nobody

[2021-04-08 01:18] clintoncwolfe commented on #5257
As this has been inactive for a while and is a fairly out of scope request, with links to docs provided, I'm going to close this.

[2021-04-08 01:18] #5257 closed, assigned to nobody

[2021-04-08 01:35] #5223 closed, assigned to nobody

[2021-04-08 01:36] clintoncwolfe commented on #5224
Closing as answered

[2021-04-08 01:36] #5224 closed, assigned to nobody

[2021-04-08 01:54] clintoncwolfe commented on #5227
Docker image generation is working (though labeling is wonky). Closing.

[2021-04-08 01:54] #5227 closed, assigned to nobody

[2021-04-08 01:58] clintoncwolfe commented on #4738
I'm going to close this as answered - happy coding!

[2021-04-08 01:58] #4738 closed, assigned to nobody

[2021-04-08 01:59] clintoncwolfe commented on #3457
This was released in inspec 4.31.0

[2021-04-08 01:59] #3457 closed, assigned to clintoncwolfe

[2021-04-08 02:01] clintoncwolfe commented on #3772
Fixed in #5443

[2021-04-08 02:01] #3772 closed, assigned to clintoncwolfe

[2021-04-08 09:41] gregbeck-cms commented on #3936
BTW, I got this error in Windows 2016 Server when using a zipped archive with long pathnames for the profile in my depends: statement. Windows doesn't tolerate long pathnames when extracting archives, but that error message doesn't make it to stdout or stderr when running inspec. You can see this error if you try to extract the zipped archive directly in Windows. This error went away and I got my

[2021-04-08 13:46] clintoncwolfe opened #5453 "Include Test code in reporter output"
https://chef.aha.io/ideas/ideas/SH-I-76

Given a CLI option `--reporter-include-tests`, in the `cli` mode reporter output the source code of the test.

[2021-04-08 17:54] jasonwbarnett opened #5454 "error: timed out after 0 seconds"
# Describe the problem

After upgrading to the latest  v4.31.0 we started to see errors, `timed out after 0 seconds`. We rolled back to v4.29.3 and the issue cleared up.

Example errors:

[code]

## Possible Solution

No ideas

## Extra Information

Inspec v4.31.0

Running from within test-kitchen

[2021-04-08 18:01] jasonwbarnett commented on #5454
I think this bug may have been introduced in https://github.com/inspec/inspec/pull/5443

[2021-04-08 18:28] clintoncwolfe commented on #5454
What platform are you targeting? Is this via WinRM?

[2021-04-08 18:43] jasonwbarnett commented on #5454
- RHEL 7
- Windows 2012R2
- Windows 2016
- Windows 2019

Both WinRM and SSH

[2021-04-08 18:46] clintoncwolfe commented on #5454
OK, I'm able to reproduce under CentOS 8 under Test Kitchen. Working on a fix. Thanks for the report!

[2021-04-08 19:28] clintoncwolfe opened #5456 "2021Q2 Feature Epic"
### 🎛 Description

ZenHub Epic to track 2021Q2 Features

[2021-04-08 19:32] clintoncwolfe opened #5457 "2021Q2 Tech Debt"
### 🎛 Description

ZenHub Epic to track technical debt and bugs fixed for 2021Q2

[2021-04-08 19:46] #5454 closed, assigned to nobody

[2021-04-08 20:04] clintoncwolfe commented on #5453
On further review, I am not sure this possible. We have two fields in RunData which may help - run_data.profiles[0].controls[0].source_location.line and run_data.profiles[0].controls[0].source_location.ref but nothing that indicates the extent within the file. We may be able to get source code on a per-control but not a per-test basis.

[2021-04-08 21:24] kidbrax commented on #5068
Just wanted to reiterate how big an issue is. Currently I may have hundreds of controls but may only care about a single control at some point (trying to change and iterate quickly until it passes). But it is actually running every single control? And by using debug-level logging, I can see that is is literally making thousands of SSH connections to run these controls I don't care about. So in my

[2021-04-09 01:42] clintoncwolfe commented on #5068
The `--control` CLI option has now been fixed (#5434) to filter the control prior to full evaluation - giving the ability to narrow focus to a single control. That should help the debugging use case. The general problem of skipped controls being evaluated still stands, but we are chipping away at the edges of the problem.

[2021-04-09 08:20] JHeinzde commented on #3301
I know this issue is 2 years old, but I recently ran into the same bug. I think I built a fix for this, but it is entangeld with other patches I made to this resource for it to be somewhat usabel. I will attach my patch here maybe it helps someone else:

[Fixing_a_bug_in_the_nginx_conf_resource_of_inspec_.txt](https://github.com/inspec/inspec/files/6284233/Fixing_a_bug_in_the_nginx_conf_resource_o

[2021-04-09 08:24] JHeinzde commented on #3301
Also it does crash, but somehow InSpec just silently ignores the error and returns an empty configuration, which in my personal opinion is a bit ... akward because it did cost me around 3 days to track down and debug this issue.

[2021-04-09 15:48] clintoncwolfe commented on #5014
We will take on the limited feature of simply having a regular expression that validates the value, and does not affect whether the value is masked in output.

[2021-04-12 09:39] roel-koemeester opened #5459 "Command parsing fails in v4.31.0"
When running first example test from https://docs.chef.io/inspec/resources/interfaces/ it fails in version 4.31.0

# Describe the problem

Given this test:
describe interfaces do
  its('names') { should include 'eth0' }
end

and given a system that has interfaces "eth0" and "lo"
on version 4.28.0 it succeeds and on version 4.31.0 it results in:
expected ["eth0  lo\r"] to include "eth0"

## Possibl

[2021-04-12 12:24] clintoncwolfe commented on #5459
Thanks for raising the issue! What platform was this on?

[2021-04-12 13:44] roel-koemeester commented on #5459
This was ran on centos7

[2021-04-12 14:13] clintoncwolfe commented on #5459
Confirmed on CentOS 8
[code]

Appears to only occur over SSH transport. Line endings change on SSH commands when a timeout is used.

Bisected to introduced on 4.30.0, #5443.

[2021-04-12 21:03] kidbrax commented on #5068
@clintoncwolfe Just to clarify, are you saying the controls would still report as skipped but all the unnecessary ssh connections would not actually be made now?

[2021-04-13 20:31] deric4 commented on #5459
This seems to be affecting quite a few controls in https://github.com/dev-sec/cis-dil-benchmark across multiple distros, requiring us to pin the last known working version to `4.29.3` for now.

One example is  [cis-dil-benchmark-1.1.21](https://github.com/dev-sec/cis-dil-benchmark/blob/77785439eac5d2a56e2e002c5bcdf2d214985ff9/controls/1_1_filesystem_configuration.rb#L423-L434) where the `\` charac

[2021-04-14 00:18] clintoncwolfe commented on #5459
The issue here is that the SSH transport code was allocating a PTY when a timeout was specified (which since #5443, one always is, since it now defaults to 3600 seconds). That alters the semantics of several shell commands, including `ls` and apparently the `\` character. There must be numerous command strings that would be affected.
https://github.com/inspec/train/pull/676 fixes the issue, I test

[2021-04-14 00:39] #4989 closed, assigned to Nik08

[2021-04-14 02:26] clintoncwolfe commented on #5068
No, I'm referring to the `--control` CLI filter option, which is unrelated to skipping controls. Previously, its behavior was to evaluate all controls, then filter the output to only include the specified controls. Its behavior has been changed to no longer evaluate controls, instead filtering earlier in the process. I mentioned the feature because it is useful in the use case when one is trying t

[2021-04-14 02:31] clintoncwolfe opened #5460 "Bump ruby versions in CI"
## Detailed Description
There are new point versions of Ruby available, such as 2.7.3. Update the CI system to use the current versions and resolve any issues that arise.

[2021-04-15 13:57] ppradhan9 opened #5462 "InSpec 2021-04-21 Release"
Epic to track things we are releasing on Wednesday.

Aha! Link: https://chef.aha.io/epics/COMPL-E-18

[2021-04-15 17:11] rdean716 opened #5464 "windows_firewall_rule fails to validate more than 1 rule depending on how it's executed"
When executing a control with 5 describe blocks the tests execute properly via test kitchen and inspec exec (remotely); however, when the tests are executed on the node via the audit cookbook or inspec exec (locally) the first describe block passes and the remaining fail.  Changing the order of the describe blocks yields the same, first test passes and the remaining fail.

[code]

[code]

[code]

[2021-04-16 08:58] Nik08 commented on #1266
After verification it seems that this issue does not exist in the [existing group resource doc](https://docs.chef.io/inspec/resources/group/). So this could be closed.

[2021-04-16 11:37] #1266 closed, assigned to Nik08

[2021-04-16 22:44] graham1228 commented on #4996
Any idea on when this bug will be fixed?

[2021-04-19 13:43] DataFrogman opened #5471 "Inspec Command Resource stdout interrupted by ssh PrintLastLog banner."
If the inspec profile is run over ssh and the target has the PrintLastLog flag turned on in their sshd_config then every time the `command` resource is used the stdout will have part of the last login output appended on it, causing check failures or errors.  Some DISA STIGs require this flag for compliance and on some operating systems like Red Hat it is not feasible to temporarily silence it.
# D

[2021-04-19 13:49] aaronlippold commented on #5471
We should also consider what the solution would be on the windows ssh side as well and if this best belongs in the resource or in train.

@clintoncwolfe @inspec-team any thoughts on this

[2021-04-19 17:59] DataFrogman commented on #5471
Another potential fix is to not authenticate and change into the root user with every command, use the equivalent of `sudo -i` instead of `sudo su`.  The messages are generated when you log into the root user, using `sudo -i` or its equivalent will instead use an interactive sudo session that is not actually logging into the root user.

[2021-04-20 14:11] DataFrogman commented on #5471
An example of a fix in the command resource stdout function:
[code]

[2021-04-20 14:13] DataFrogman commented on #5471
That fix however will not fix the errors associated with files being poisoned with the last login message caused by the method inspec uses to open and read files.

[2021-04-20 16:45] clintoncwolfe commented on #5459
I'm going to ahead and close this, since we've released a fix for this aspect of the issue in inspec 4.32.0. We do have another related outstanding issue, inspec/train#677

[2021-04-20 16:45] #5459 closed, assigned to clintoncwolfe

[2021-04-20 16:47] clintoncwolfe commented on #5460
There is no need to do this - our CI system uses images which are tagged with minor versions, not patch versions.

[2021-04-20 16:47] #5460 closed, assigned to nobody

[2021-04-20 17:19] clintoncwolfe opened #5474 "Document CI System"
### 🎛 Description

Document for the team the various components of the CI system and how they interact.

[2021-04-20 17:24] #5453 closed, assigned to clintoncwolfe

[2021-04-20 21:42] ghost commented on #3819
Hello! I'm experiencing this problem when using inspec in a container. I'm using DevSec's hardening collection which only sets sysctl values when not running on Docker [1]. This is properly skipped as ansible_virtualization_type is "docker"

However, when running verification via DevSec's "Linux Baseline" inspec profile the controls checking for the sysctl values are being run despite being set to

[2021-04-20 22:03] Aniket281292 opened #5475 "Undefined local variable or method error for "aws_eks_clusters" resource"
Undefined local variable or method while trying to test "aws_eks_clusters" resource for Chef inspec

# Describe the problem

Getting an error while trying to test a specific aws resource. "aws_eks_clusters". trying to verify property of EKS clusters.
Error:
**"undefined local variable or method `aws_eks_clusters' for #<Inspec::Rule:0x00007fb36.......> "**

**control 'Multiple Clusters' do
impact 1

[2021-04-21 12:51] clintoncwolfe opened #5476 "Update dev-docs control-eval.md"
### 🎛 Description

We have a document that describes the control evaluation flow. it contains source code references that are stale. Update the links and add new information as needed.

[2021-04-21 12:56] clintoncwolfe commented on #5234
InSpec 2 is not supported - please upgrade to a recent InSpec.

[2021-04-21 14:25] clintoncwolfe opened #5477 "Make a Common Errors docs page"
Make a docs page that lists common error messages and how to deal with them.

Errors to take in count (initial list, so only one item at the moment. This will be updated as more of them are finalised before the work starts on this document)
1. #5475

[2021-04-21 23:19] clintoncwolfe commented on #5475
Hi, in order to use the AWS resources, you must define an inspec profile with a dependency on the inspec-aws resource pack.  Do that by following the instructions in the [inspec-aws README](https://github.com/inspec/inspec-aws#use-the-resources).

@Nik08 This is a good one for the #5477 Common Errors page.

[2021-04-21 23:26] clintoncwolfe commented on #5462
Released as 4.33.1

[2021-04-21 23:26] #5462 closed, assigned to nobody

[2021-04-21 23:28] clintoncwolfe opened #5478 "InSpec 2021-04-28 Release"
Everything we are releasing on Wednesday.

[2021-04-22 14:26] clintoncwolfe commented on #4593
#5112 covers this, closing

[2021-04-22 14:26] #4593 closed, assigned to nobody

[2021-04-22 17:36] Aniket281292 commented on #5475
Hi @clintoncwolfe , i already have this dependency added in my inspec.yml file as follows:
**depends:
  - name: inspec-aws
    url: https://github.com/inspec/inspec-aws/archive/master.tar.gz**

Also, i am able to test the resource aws_eks_cluster successfully with inspec tests, however i am facing this issue with resource aws_eks_cluster**s**

[2021-04-22 19:44] clintoncwolfe commented on #5475
@sathish-progress any ideas?

[2021-04-23 11:19] Vasu1105 commented on #4962
I have spent sometime to debug and work on this issue. Currently the challenge which I am facing to access the profile_id in this class here https://github.com/inspec/inspec/blob/master/lib/inspec/rspec_extensions.rb#L89, which currently comes as nil due to which it fails.  I have tried to hack something in here https://github.com/inspec/inspec/blob/master/lib/inspec/describe_base.rb#L22 and https

[2021-04-23 13:30] Vasu1105 commented on #4962
Closing this as we have a workaround on this as suggested above.

[2021-04-23 13:30] #4962 closed, assigned to Vasu1105

[2021-04-26 14:47] rx294 opened #5484 "File resource `be_more_permissive_than` matcher raises and exception when file is not found"
# Describe the problem
File resource `be_more_permissive_than` matcher causes an exception when file is not found.
Other matches such as `owned_by` and `grouped_into` returns a true `failed` status incase file is not found.

## Possible Solution

Please update the matcher to return a `failed` status or a skip_resource, rather than raising and exception.

[2021-04-27 08:38] sathish-progress commented on #5475
Sorry, I missed this notification somehow!

_On my initial investigation, I was not able to reproduce this!!_

@Aniket281292 This is possibly because of the old dependency cache. Could you try updating the cache! and try again ..
Follow below command to update cache. And please try running it from within the profile directory
[code]

[2021-04-27 10:38] Vasu1105 commented on #4318
1) The error `undefined method `+' for nil:NilClass (NoMethodError)` should get resolved.
2) Does --controls option should work with dependent controls ? as we already have `skip_control` option to be used with require_controls or include_controls?
3) Can we filter on the profile name using option --controls like using is trying to filter on `dev` ? As per my understanding we can't as --controls o

[2021-04-27 12:58] #534 closed, assigned to Vasu1105

[2021-04-27 17:58] ghost commented on #3819
Oh wait, this might have been fixed with https://github.com/inspec/inspec/commit/65c44d22e2218c2490edc362f110b60ad39cde18 as the return statements have been re-ordered.

[2021-04-28 13:01] clintoncwolfe commented on #5014
Added in #5466

[2021-04-28 13:01] #5014 closed, assigned to Nik08

[2021-04-28 16:30] #5115 closed, assigned to Nik08

[2021-04-28 18:55] aaronlippold commented on #5471
Bump

[2021-04-28 20:08] #3643 closed, assigned to Nik08

[2021-04-29 04:16] clintoncwolfe commented on #5088
As inspec-compliance already supports this, and audit cookbook has been replaced by Chef Infra Compliance Phase, we already have two ways of doing this. So, I think we are going to decline this work.

[2021-04-29 04:16] #5088 closed, assigned to nobody

[2021-04-29 13:49] clintoncwolfe commented on #5384
This is working now.

[2021-04-29 13:49] #5384 closed, assigned to nobody

[2021-04-30 22:50] Aniket281292 opened #5494 "Error "Cannot load such file -- aws-sdk-ecrpublic (LoadError)" while trying to run Inspec profile against AWS resource pack"
Error "cannot load such file -- aws-sdk-ecrpublic (LoadError)" encountered while trying to run an inspec profile to test against aws resources.
# Describe the problem

I have a inspec profile called as "aws-test" and couple of inspec tests(ekstest.rb abctest.rb) in controls folder. When i try to run those inspec tests by mentioning the test names in the command, i am able to execute these tests su

[2021-04-30 23:06] Aniket281292 opened #5495 "Inspec resource/Properties to capture data from within a S3 object."
Inspec resource/Properties to capture data from within a S3 object.
## Detailed Description

I am aware of AWS Inspec resource "aws_s3_bucket" and "aws_s3_bucket_object" and their properties that can be used to validate the AWS resources.
I need to know if there is any feature that can help me access a value inside of an S3 object.
Specifically, if there is an S3 object which is a json file. I nee

[2021-04-30 23:22] Aniket281292 commented on #5475
@sathish-progress i followed the steps and retried running the same command , i see the same error.
"undefined local variable or method `aws_eks_clusters' for #<Inspec::Rule:0x00007feb1b236fa0>"

[2021-05-03 00:33] clintoncwolfe commented on #5478
Released as 4.36.4

[2021-05-03 00:33] #5478 closed, assigned to nobody

[2021-05-03 00:34] clintoncwolfe opened #5497 "InSpec Release 2021-05-05"
Everything we are releasing Wednesday.

[2021-05-03 06:53] r-goto commented on #5494
Had the same issue but the following inspec.yml fixed it in my case.

[code]

`url: https://github.com/inspec/inspec-aws/archive/1.0.1-for-inspec-4.7.tar.gz` did it, I believe.

[2021-05-03 09:32] ghost commented on #3762
The main problem here is that the command resource wraps the command that is passed, in a powershell script and as the command passed isn't a powershell command, powershell has to shellout to execute the command. Its extremely messy and very error prone.

A far simpler solution is to shellout via ruby which can:
[code]
But it assumes that java is in the PATH and the output isn't very descriptive:

[2021-05-03 21:29] Aniket281292 commented on #5494
@r-goto thanks for the suggestion, However i am still seeing the issue after changing the depends url to what you have mentioned in the comment

[2021-05-03 21:46] Aniket281292 commented on #5494
@clintoncwolfe , any idea what could be the issue here as i have also tried updating the archive file looking at resolutions for similar issue. The concern being that inspec tests are run successfully when command with the test names (abc.rb) are used but failing when profile-name is used..

[2021-05-04 01:31] clintoncwolfe commented on #5494
I'm not sure about the issue with running control files vs running entire profiles, but I can say that aws-sdk-ecrpublic is a very recent addition to train-aws (the support library that pulls in the AWS SDK gems). It is included in train-aws-0.2.0 . Check to see what version you have in `/opt//inspec/embedded/lib/ruby/gems/2.7.0/gems/train-aws-*` . If it is less than 0.2.0, upgrade inspec to 4.36.

[2021-05-04 01:36] clintoncwolfe commented on #5471
I think any fix will need to happen in train, as that will allow the fix to be specific to SSH connections, and will also allow the fix to apply to platform detection commands, file access commands, and general command execution.

[2021-05-04 01:40] clintoncwolfe commented on #5106
As we a now have kitchen testing in #5204, I'm closing this.

[2021-05-04 01:40] #5106 closed, assigned to clintoncwolfe

[2021-05-04 05:15] Aniket281292 commented on #5494
@clintoncwolfe , thank you. The train-aws version was less than 0.2.0. Upgrading inspec worked for me. I dont see that issue anymore.

[2021-05-04 05:15] #5494 closed, assigned to nobody

[2021-05-04 05:37] Aniket281292 commented on #5475
This issue was not encountered once inspec is upgraded to version 4.36.4 . I suppose the train-aws update that was included with the upgrade helped resolved the issue.

[2021-05-04 05:37] #5475 closed, assigned to nobody

[2021-05-04 15:27] Aniket281292 opened #5503 "Unable to access multiple regions while running an inspec test on AWS S3 bucket"
Unable to access multiple regions while running an inspec test on AWS S3 bucket inspec resource
# Describe the problem

I have written inspec tests to test a AWS S3 bucket using Inspec AWS resource "aws_S3_buckets". Now in S3, i have buckets from different region. However i am not able to access buckets from diff regions , the reason being i can only provide one region while executing the inspec t

[2021-05-04 16:25] aaronlippold commented on #5471
Should we move this issue over to the train repo then?

On Mon, May 3, 2021 at 9:36 PM Clinton Wolfe ***@***.***>
wrote:

--
--------
Aaron Lippold

***@***.***

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2021-05-04 17:38] Schwad commented on #5471
@aaronlippold would yourself or @DataFrogman have bandwidth to cut an example PR against this on Train? That might give the InSpec team a good idea what you're looking for and they can review.

*DISCLAIMER*: I'm just a member of the community the days :)

[2021-05-04 17:41] aaronlippold commented on #5471
Yes if we could have Some conversation on the issue to help point us to the best place to implement it in the code.

[2021-05-05 00:48] clintoncwolfe commented on #5503
Please ask inspec-aws specific questions in the inspec-aws repo - I'll move this issue for you.

[2021-05-05 00:48] clintoncwolfe commented on #5503
Issue moved to [inspec/inspec-aws #345](https://github.com/inspec/inspec-aws/issues/345) via [**ZenHub**](https://www.zenhub.com/)

[2021-05-05 00:48] #5503 closed, assigned to nobody

[2021-05-05 00:52] clintoncwolfe commented on #5471
I'll move this to train.

[2021-05-05 00:52] clintoncwolfe commented on #5471
Issue moved to [inspec/train #681](https://github.com/inspec/train/issues/681) via [**ZenHub**](https://www.zenhub.com/)

[2021-05-05 00:52] #5471 closed, assigned to nobody

[2021-05-05 08:44] orabudi opened #5505 "Inspec exec winrm doesn't work from RHEL 7 machine to windows machine"
### 🎛 Description
I am trying to run inspec winrm from a RHEL 7 server to try and connect to windows server with the following CLI command:
`inspec exec SOME_BASELINE --host==WINDOWS_HOSTNAME --user=DOMAIN_USER --password=USER_PASSWORD --backend==winrm --reporter==json --chef_license accept`

It shows the following error:

`raise_if_wsman_fault: [WSMAN ERROR CODE: 2] <f:WSManFault Code='2' Machine

[2021-05-05 10:55] Vasu1105 commented on #5505
I haven't tried from RHEL but from Ubuntu `inspec exec <profile> --host <hostname> --user vasundhara@<domain> --password 'xxxxxx' --backend winrm --reporter json --chef_license accept` this is working for me.

[2021-05-05 11:05] Vasu1105 commented on #5505
Also looking at the error it looks like some of the settings missing for winrm communication from outside of the domain this article might help you https://stackoverflow.com/questions/8748173/powershell-remoting-win2008r2-the-wsman-service-could-not-launch-a-host-process

[2021-05-05 11:27] Vasu1105 commented on #5505
Checked on REHL7 too this is working properly on that too.

[2021-05-05 12:15] orabudi commented on #5505
hi @Vasu1105 ,
in your second comment in the stackoverflow answer it says to add the machine to the TrustedHosts of the machine running the inspec exec.

do you know what the equivalent of that is in the linux machine or if it's even possible to add machines to TrustedHosts in a linux machine?

thank you

[2021-05-05 13:11] clintoncwolfe commented on #4342
Fixed on #5479

[2021-05-05 13:11] #4342 closed, assigned to Nik08

[2021-05-05 16:09] #5464 closed, assigned to Vasu1105

[2021-05-06 09:16] Vasu1105 commented on #5157
Fixed in #5490

[2021-05-06 09:16] #5157 closed, assigned to Nik08

[2021-05-07 12:27] Vasu1105 commented on #4318
1) We do not support the filtering using --controls option by profile controls file name. The --control option works with control name.
2) To achieve the different environment scenario you can maintain two different profiles. Which can be run individually on those environment.
3) Also we have fixed the way of --control option getting evaluated in this PR https://github.com/inspec/inspec/pull/5434.

[2021-05-07 12:27] #4318 closed, assigned to Vasu1105

[2021-05-08 12:25] aaronlippold opened #5512 "The postgres_session resource does not support a windows runner"
The command lines options and command string for a windows psql session is differnt thant a linux runner, the resource needs to be updated to support both use cases.

[2021-05-10 03:41] clintoncwolfe opened #5515 "InSpec 2021-05-12 Release"
Everything we release on Wednesday.

[2021-05-10 03:43] #5497 closed, assigned to nobody

[2021-05-10 20:35] #4996 closed, assigned to Nik08

[2021-05-10 20:40] #3535 closed, assigned to Nik08

[2021-05-10 20:42] #5024 closed, assigned to nobody

[2021-05-11 20:54] clintoncwolfe commented on #5191
I'm going to close this as there is not enough information available to diagnose the issue, and it is fairly old. I'm sorry this was not answered sooner.

[2021-05-11 20:54] #5191 closed, assigned to nobody

[2021-05-11 20:55] #5234 closed, assigned to nobody

[2021-05-12 10:08] Vasu1105 commented on #5505
Closing this issue as not able to reproduce this and doesn't look to be InSpec issue.

[2021-05-12 10:08] #5505 closed, assigned to nobody

[2021-05-12 12:17] Nik08 commented on #4976
I was not able to replicate this issue and I am using InSpec version `4.37.8` and Train version `3.7.0` which is one of the latest versions. @ptiggerdine @jansepke Are you guys still facing this issue ?

[2021-05-12 12:50] sean-horn opened #5520 "Allow Inspec to work with non-English language results"
## Detailed Description

**To Reproduce**

* Install non-US Windows Server 2019
* Enforce Audit policy via GPO
* Run Inspec / check auditpol results manually
* Check Inspec reporting which will result in nil values because the returned, valid, non-english data doesn't make sense to Inspec

## Context
* We install systems with our native language as the default and would like Inspec to handle the o

[2021-05-12 15:35] wdower opened #5521 "The `oracledb_session` resource should raise an exception if it cannot connect to the database"
## Detailed Description
At present the `oracledb_session` resource does not raise an exception if the user tries to run a SQL query using an unsuccessful connection (resulting from bad auth, etc.) If you use the wrong password to try to connect, for example, InSpec interprets this as a failed test.

### Example
Control code:
[code]
Output:
[code]

## Context
Current implementation hides the error

[2021-05-13 00:04] clintoncwolfe commented on #4191
I'm closing this as CoreOS as unsupported, and the issue is fairly old.

[2021-05-13 00:04] #4191 closed, assigned to nobody

[2021-05-13 00:23] clintoncwolfe commented on #4448
We only are able to optimize load times under omnibus installs, when we have control over the gem environment. So plain gem installs are not something we can optimize.

[2021-05-13 00:23] #4448 closed, assigned to nobody

[2021-05-13 00:28] #4412 closed, assigned to nobody

[2021-05-13 00:42] clintoncwolfe commented on #4503
This has not been seen recently.

[2021-05-13 00:42] #4503 closed, assigned to nobody

[2021-05-13 12:17] clintoncwolfe commented on #5520
Can you give an example of an InSpec test that is failing?

[2021-05-14 14:49] wdower commented on #5521
While working further with the resource I noticed a bug. If you try SQL queries that return multiple values (not just a true/false or a single value) with `oracledb_session`, the resource will return a list of strings instead of the expected hash map. I think this is because the resource tries to parse the query results as a csv before then packaging it as a `SQLQueryResult`:

[code]

However, the

[2021-05-16 20:57] #5515 closed, assigned to nobody

[2021-05-16 21:02] clintoncwolfe opened #5525 "InSpec 2021-05-19 Release"
Everything we release Wednesday

[2021-05-16 21:09] clintoncwolfe commented on #5075
Added on #5523

[2021-05-16 21:09] #5075 closed, assigned to nobody

[2021-05-16 21:13] #5108 closed, assigned to clintoncwolfe

[2021-05-16 21:16] #5474 closed, assigned to clintoncwolfe

[2021-05-17 02:10] tas50 opened #5528 "Remove EOL Ubuntu 16.04 packages"
Ubuntu 16.04 went EOL at the end of April. We should remove our 16.04 packages and build on 18.04 with testing on 20.04.

[2021-05-17 06:10] Vasu1105 commented on #5484
This looks to be duplicate of #4891

[2021-05-17 08:06] jansepke commented on #4976
yes, it's still happening with
[code]

[2021-05-17 08:51] Vasu1105 commented on #5520
Writing profile in the non-English language does not reproduce this issue but yes if we run Profile written in English for audit_policy resource results in the nil value.
[code]

[code]
vs
[code]
[code]

[2021-05-17 10:53] Nik08 commented on #4976
@jansepke Could you please tell me which operating system you are using? It might help me replicate this issue.

[2021-05-17 11:08] jansepke commented on #4976
I'm using Ubuntu 20.04 with Linux Kernel 5.4.0-72

[2021-05-17 14:57] clintoncwolfe commented on #4506
As of today, on CentOS 8 with inspec 4.37.8, this is not reproducible.

[2021-05-17 14:57] #4506 closed, assigned to clintoncwolfe

[2021-05-17 18:28] tas50 opened #5531 "Enable FIPS on Ubuntu builds"
We recently enabled FIPS on Infra Client and Server without issues. We should probably align on everything and enable it for InSpec as well. It will help with FedRAMP folks

[2021-05-18 07:55] Vasu1105 commented on #3916
I am unable to reproduce this issue. When I configured elasticsearch it by default added modules into it and also the plugins array is coming as empty. (basically not able to find the case where plugins and modules will be nil).  I tried to find out how I can configure elasticsearch without modules but did not find any specific doc for it. So giving more details on how you configured elasticsearch

[2021-05-18 10:17] Vasu1105 commented on #5200
@clintoncwolfe I think dependabot already did this update https://github.com/inspec/inspec/pull/5347. Do we still need any updates ?

[2021-05-18 19:10] clintoncwolfe commented on #5200
Nope, looks good - let's close this.

[2021-05-18 19:10] #5200 closed, assigned to Vasu1105

[2021-05-18 19:20] Nik08 commented on #4976
Have no findings here, since I was not able to replicate this.

Followed these steps:
`ssh-add add <PATH TO THE PRIVATE KEY>`
`inspec exec https://github.com/inspec/inspec-test-profile-default-main.git --target ssh://user@SERVER --diagnose -l debug`

Error log when there was no key added to ssh-agent ( just an example to show that it has returned a proper error message in the end ):

[code]

The e

[2021-05-18 19:24] clintoncwolfe commented on #4458
It looks like this was fixed for linux on #5232, and cannot be safely fixed for other unix OS because of the variety of flags to ps. I'm going to close this.

[2021-05-18 19:24] #4458 closed, assigned to clintoncwolfe

[2021-05-18 19:28] #4891 closed, assigned to Nik08

[2021-05-18 19:37] #4965 closed, assigned to Vasu1105

[2021-05-19 05:32] Vasu1105 commented on #3916
As unable to reproduce this issue I am closing this. Feel free to reopen it if issue still exist and please provide more detailed steps to reproduce this issue. Thanks !

[2021-05-19 05:32] #3916 closed, assigned to Vasu1105

[2021-05-19 05:33] jansepke commented on #4976
ah, I forgot to tell that I'm not adding the SSH key to the ssh-agent on the machine I'm running inspec on. I added the ssh key to the ssh-agent on my host machine, opened a ssh session with ssh-agent forwarding to another host and from there I am executing inspec against a server so that the ssh key on my local machine should get forwarded. And if it is relevant the ssh-key is `ed25519` and not `

[2021-05-19 07:34] Vasu1105 commented on #2639
Closing this issue as fixed in #2901. Verified the same.

[2021-05-19 07:34] #2639 closed, assigned to Vasu1105

[2021-05-19 08:13] Vasu1105 commented on #5476
Fix in #5516

[2021-05-19 08:13] #5476 closed, assigned to Vasu1105

[2021-05-19 08:23] Vasu1105 commented on #5484
@Nik08 could you please check is this the same that you fixed in #4891. If yes we can close this.

[2021-05-19 08:27] Nik08 commented on #5484
@Vasu1105 Yes this is the same issue. This has been fixed as you mentioned in #4891

[2021-05-19 08:55] Vasu1105 commented on #5484
Closing this as this fixed in #5519

[2021-05-19 08:55] #5484 closed, assigned to nobody

[2021-05-19 09:26] Nik08 commented on #4976
@jansepke These steps could be helpful. Will try replicating with it.

[2021-05-19 10:24] Vasu1105 commented on #3024
Verified this is working fine on latest InSpec

[code]

Closing this issue.

[2021-05-19 10:24] #3024 closed, assigned to Vasu1105

[2021-05-19 10:31] Vasu1105 commented on #1234
I am closing this @clintoncwolfe I don't see this behaviour in latest InSpec
here is the output for echo
[code]

[code]

[2021-05-19 10:31] #1234 closed, assigned to Vasu1105

[2021-05-19 12:17] #5477 closed, assigned to Nik08

[2021-05-20 18:47] clintoncwolfe commented on #5525
4.37.17

[2021-05-20 18:47] #5525 closed, assigned to nobody

[2021-05-20 18:48] clintoncwolfe opened #5535 "InSpec Release 2021-05-26"
Everything we release Wednesday

[2021-05-20 18:49] #4500 closed, assigned to Nik08

[2021-05-20 18:52] #4505 closed, assigned to Nik08

[2021-05-20 18:55] #5528 closed, assigned to nobody