[2017-04-04 12:13] chris-rock commented on #1616
@juju4 InSpec does not depend on Chef. Also Chef Compliance is a standalone server that can be deployed independently of Chef Server. We have a lot of companies that use InSpec/Chef Compliance with various devops tools (even manual deployment). Could you help me understand how that is tight to the multi server project?

[2017-04-04 12:30] chris-rock commented on #1616
@juju4 Can you please help me to understand which specific integrations are missing for you? This would allow us to help the community to add InSpec in the local tooling. InSpec is independent from any devops tool. We are proofing this continuously with our support for the  [dev-sec project](https://github.com/dev-sec), where we use inspec in combination with Ansible, Chef and Puppet.

[2017-04-05 02:19] juju4 commented on #1616
Hello @chris-rock
I'm fine with the principle 'Do One Thing and Do It Well'.

But I'm trying to find the glue with my three main use cases
- first is CI/CD. In that case, it works pretty well with test-kitchen and inspec as verifier.
- second is ansible environment
- third is puppet environment
2 and 3 mostly for monitoring and compliance, if possible by re-using same inventory, hosts & groups, th

[2017-04-05 03:29] aaronlippold opened #1629 "Extend the postgres_session resource with a 'psql' method to enable server level checks"
### Description

Many of the security checks for postgres require you to use the 'psql' command find out data about the installed RDMS. To ensure that we can capture these controls in the 'inspec style' of the DSL I suggest that we add a method to the postgres_session resource so that we can execute these system level tests.

Also, adding these function to the DSL resources ensures that users do n

[2017-04-05 03:53] aaronlippold opened #1630 "Extend the package and packages resource to include a 'latest' param in the verbs."
### Description
Some of the tests I have been working on implementing in the benchmarks are displaying a common theme of ensuring the currently installed version of the package is the 'latest' available from your package repo and is at least version x and is not a devel, rc or other pre GA package release.

We have mostly all the elements in place to fully code these checks in inspec - with the 'p

[2017-04-05 12:55] jeremymv2 opened #1631 "cannot upload meta profile to Automate"
### Description
Uploading a meta profile to Automate does not work with inspec 1.19.1, however it does work with inspec 1.11.0 from chefdk 1.2.22.

### InSpec and Platform Version

1.19.1

### Replication Case

[code]

### Possible Solutions

If you have already ideas how to solve the issue, add them here.

### Stacktrace

Please include the stacktrace output or link to a gist of it, if there is o

[2017-04-05 14:41] jeremymv2 opened #1632 "inspec vendor meta profiles fails when dependency profile is in Automate asset store"
### Description

Inspec meta profiles do not support profile dependencies residing in Automate when uploading a meta-profile.

### InSpec and Platform Version

inspec 1.19.1

### Replication Case

Upload a dependency profile to Automate, then create a meta-profile with the prior profile declared as a dependency via `compliance: ../..` like so:

[code]

### Possible Solutions

The issue comes from

[2017-04-05 15:17] aaronlippold commented on #1573
@chris-rock Tags objects were added, still need to finish this out with a ref instance variable and add the Profile object type.

[2017-04-05 15:43] aaronlippold opened #1633 "User experience with inheritance / long control names"
@chris-rock @arlimus @asturtevant
### Description

I am hoping we can find a way to make inheritance and 'Organizational Overlays' of meta-profiles easier. One of the challenges is that, epically on the windows side, the published content (xccdf/oval) uses very long and descriptive titles which makes our control names unreasonably long. Another factor is the difference in construction of controls

[2017-04-05 17:03] chris-rock commented on #1632
@jeremymv2 have you vendored the profiles? see http://lollyrock.com/articles/chef-compliance-meta-profiles

[2017-04-05 17:04] chris-rock commented on #1631
@jeremymv2 Not sure why this is happening. I think we need to look at the specific profile. Can you share this somehow? Even non-public?

[2017-04-05 17:57] jeremymv2 commented on #1632
@chris-rock Yes, I believe I'm vendoring the profile correctly.  It actually appears to be failing on that step.  There's not much to the profile at all, just a reference in the inspec.yml to a profile (admin/ssh) that I've already uploaded to Automate.  My `~/.inspec/compliance/config.json` points to the Automate server - which I've logged into with token.

Here is the profile:
[code]

Vendoring:

[2017-04-05 18:08] jeremymv2 commented on #1631
@chris-rock
Here is the profile I am referencing:
[meta-profile.tar.gz](https://github.com/chef/inspec/files/900361/meta-profile.tar.gz)

Strange error indeed..

[2017-04-06 20:55] chris-rock commented on #1281
This is related to #875. RSpec its implementation evaluates the content and tries to call a method. The solution from @username-is-already-taken2 is indeed the best one since it circumvents RSpec by calling our methods directly. I am going to add a test for that.

[2017-04-07 13:48] aira86 opened #1637 "Resources for windows OS"
Hi,

I`m just starting to learn Inspec. I`m wondering to know is there any resources for check installed driver(e.x virtio-win) or kernel in windows?

Thanks

[2017-04-07 14:04] chris-rock commented on #1637
@aira86 has the question been answered?

[2017-04-07 14:08] aira86 commented on #1637
@chris-rock No, I thought maybe here is just for coding issue! but I still looking for some hints for this issue

[2017-04-07 14:28] #1131 closed, assigned to chris-rock

[2017-04-07 14:28] #1268 closed, assigned to chris-rock

[2017-04-08 13:43] aaronlippold opened #1641 "os_env resource on remote hosts"
### Description

( related? https://github.com/chef/inspec/issues/236 )

The os_env resource does not seem to be functioning correctly when doing remote tests. When I use the resource in the 'inspec shell' on the target host it returns the correct content, but when I use it to preform a remote test on that same host, it returns 'nil'.

Update: I also tried running this remotely with the --sudo fla

[2017-04-08 16:39] aaronlippold commented on #584
I was having similar problems, the issue I found was that the tests were failing because I was running as vagrant vs 'sudo'.

We need get on that test failed due to permissions to ensure we are chatting the right dragons.

[2017-04-08 16:58] aaronlippold opened #1642 "sshd_config resource not responding to expected commands"
### Description

I have these tests:

[code]

Which I would expect to work with either with 'ssh_config' or 'sshd_config' resource.

Really all resources of this nature that are abstracting the specific path of a config file to ensure an active test on the config file used by the running process to avoid the 'stale validation' problem or the attack vector or mistake of the process running on the s

[2017-04-09 17:50] chris-rock commented on #1637
@aira86 Right now we do not have a resource to list windows kernel drivers. Are you looking for a resource to check the installed drivers? Similar to http://www.thewindowsclub.com/get-installed-driver-list-windows-powershell ?

[2017-04-09 17:52] chris-rock commented on #1625
Thank you @starx for reporting this issue. A workaround is the use of the `bash` resource.

[2017-04-10 01:51] aaronlippold opened #1643 "Extend the 'kernel_module' resource to support blacklisting"
### Description

I believe it would be useful to add support for checking the blacklisting of modules.

It seems that there are a few ways to accomplish this:

1. Via a fake install, see: https://wiki.debian.org/KernelModuleBlacklisting
2. Using the blacklist command in modprobe.d/ see: https://linux-audit.com/kernel-hardening-disable-and-blacklist-linux-modules/

In the end I think, regardless of

[2017-04-10 13:31] aaronlippold commented on #738
@chris-rock @arlimus
Have we resolved this issue? There is no updated direction in the docs/examples, this usage is still as per the docs.

As of v1.19.2 I am still getting depreciation warnings:
[code]
Error:
[code]

[2017-04-10 13:50] aira86 commented on #1637
@chris-rock I`m looking for installed driver as you mentioned but I want to do it in Inspec. Currently, I just used a path of the installed folder in system32 to check .sys, or .cat files exist or not. But I don't think this is a right approach or not!
Do you have any suggestion?

[2017-04-10 14:45] DeltaWhy commented on #1578
That test doesn't look like it's testing the functionality in question. I would expect to see two tags added with the same name, and verify that there are two lines in the output of `to_ruby`.

It also looks like this doesn't match the DSL definition where `@tags` is a hash. I think this is the relevant method? https://github.com/chef/inspec/blob/master/lib/inspec/rule.rb#L88 Am I correct in think

[2017-04-10 15:50] hannah-radish opened #1644 "List on-tap hard to use"

[2017-04-10 15:58] #1644 closed, assigned to nobody

[2017-04-11 14:25] chris-rock commented on #1339
Token for Automate can be retrieved via CLI https://docs.chef.io/ctl_delivery.html#delivery-token and API https://docs.chef.io/api_delivery.html or

[2017-04-11 16:11] ndobson commented on #1631
I'm having the same error trying to upload to compliance server with version 1.19.1
[code]

[code]

[2017-04-11 16:33] aaronlippold commented on #1642
This brings up another thought that perhaps one of the backend things we could have the resource WARN: on is that a well established service - such as SSHD or APACHE or any process that has a well known standard config file location, etc. is using a non-standard config file location.

[2017-04-11 16:35] aaronlippold commented on #1642
After talking with @arlimus on this, the better solution path would be to add a method to the resource such that we could have ```sshd_config.file do``` or ```sshd_config.config do ``` to say 'the file that this service / resource is using' so we don't have unexpected side-effects.

@arlimus the more I look at this I think all resources should have this method on them.

[2017-04-11 18:40] kpersohn opened #1645 "gem resource :chef symbol isn't valid on Windows"
### Description

On Windows platforms, `:chef` does not resolve to the correct `gem_binary` location causing InSpec to fail to find gems installed to Chef Omnibus embedded Ruby.

### InSpec and Platform Version

1.19.1
Windows 7 x64

### Replication Case

[code]
fails; however this works:
[code]

### Possible Solutions

Perhaps https://github.com/chef/inspec/blob/master/lib/resources/gem.rb#L26 ju

[2017-04-11 19:23] ndobson commented on #1631
Thanks for the quick attention @jeremymv2 !

[2017-04-12 12:23] chris-rock opened #1649 "Improve `http` resource"
### Description

Right now, we cover basic tests with `http` only:

[code]

It would be nice if we could make testing via `http` easier.

### InSpec and Platform Version

1.19.2

### Possible Solutions

**Write a resource around faraday and reuse its interface**

To highlight the reuse of faraday, I am going to use `faraday` as the resource name instead of `http`

[code]

[code]

[code]

**Support

[2017-04-12 13:44] schisamo commented on #1649
/cc @tyler-ball @tylercloke @smith @ElizabethU

[2017-04-12 14:16] adamleff commented on #1642
I disagree with this approach. The `sshd_config` resource tests the configuration of SSHD. The fact that we do so by reading in a file is an implementation detail that the user should not have to worry about. In fact, if it became possible for us to *actively* test the SSHD process configuration by interrogating the running SSHD process without needing to read in a config file, we should be able t

[2017-04-12 15:29] adamleff commented on #1645
@kpersohn thanks for submitting this issue! I've put forth #1650 to fix this.

[2017-04-12 15:41] chris-rock commented on #1649
Just to be clear. Although I used `faraday` as the resource name, this was just used to highlight our reuse of faraday gem. The resource name will stay `http`

[2017-04-12 16:23] #1645 closed, assigned to nobody

[2017-04-12 19:35] chris-rock opened #1652 "Integration tests with Chef Automate & Chef Compliance"
### Description

As we have seen with #1646 and #1647, updates may break the integration between InSpec and our Servers. To ensure this is not happening again, we need to add integration tests that run

- fetch profiles
- upload profile to server
- re-upload profile to server with overwrite
- run profile from server
- delete profile from server
- upload profile and a second one with profile inheri

[2017-04-12 19:37] chris-rock opened #1653 "Optimize interface between InSpec and Train"
### Description

When we instantiate train as our InSpec backend, we should validate that we only pass options that need to be passed. Right now, we could send to many options or use the same option name in inspec as in train. See https://github.com/chef/inspec/blob/master/lib/inspec/profile.rb#L92

This happened before in https://github.com/chef/inspec/pull/1646/files

### InSpec and Platform Ver

[2017-04-12 19:41] #1631 closed, assigned to chris-rock, jeremymv2

[2017-04-12 19:42] #1632 closed, assigned to chris-rock, jeremymv2

[2017-04-12 20:26] MichaelStankiewicz commented on #1400
@chris-rock There is [Get-LocalGroupMember](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.localaccounts/get-localgroupmember).  However, I've encountered [this same error](https://github.com/PowerShell/PowerShell/issues/2996) when trying to use this method myself.

The [CIM workaround](http://jdhitsolutions.com/blog/scripting/2342/query-local-administrators-with-ci

[2017-04-13 12:54] MariusCC opened #1655 "net-tools/netstat deprecated"
### Description

net-tools package (which used to provide netstat) is deprecated.
See here: https://bugzilla.redhat.com/show_bug.cgi?id=1119297

This affects all newer Linux distro that provides minimal installation (RHEL 7.x, CentOS 7.x, Ubuntu 16.04) - ie all deployments in cloud that are using inspec as a validation tool.

### InSpec and Platform Version

RHEl 7.x
CentOS 7.x
Ubuntu 16.04

Inspe

[2017-04-13 12:58] adamleff commented on #1655
@MariusCC Thanks for submitting this issue! We'll put this on our backlog and address in the future.

[2017-04-13 17:17] chris-rock opened #1658 "RFC: Consistent hashing for InSpec profiles"
### Description

An InSpec profile json and an InSpec report json are not linked together very efficiently. Right now, only the profile name is used as an identifier. This mechanism is not working for profiles with differnt versions.

In order to make the linking between a profile and a report more consistent, we should use the profile hash and add the profile name as well as the hash in every rep

[2017-04-13 17:56] chris-rock opened #1659 "RFC: Harmonize vendoring mechanism"
### Description

As the following example demonstrates, the vendoring process just downloads the profile as is (e.g. git, tar or zip). This has a couple of disadvantages:

 - difficult to browse through archives via text editor
 - tars in tars is not a preferred approach
 - hashs are different for the same profile for different packaging (See #1658)

[code]

### Possible Solutions

Going forward,

[2017-04-13 19:17] aaronlippold commented on #1642
I agree with you that we could put this under the covers and perhaps just add a 'should_be used_by' or something along those lines.

The example here is what we were thinking : https://askubuntu.com/questions/369389/how-do-i-check-that-a-configuration-file-has-been-read

In my viewpoint, the use case is to ensure  we can validate that a process was started with the config file that was expected. T

[2017-04-13 19:33] adamleff commented on #1642
Yes, @aaronlippold, I understand the use case and the implications... and I do know the difference between active and passive assertions. 🙂

However, in terms of "doing one thing and doing it well," I am still against adding file-like methods to the `sshd_config` resource. Until we have resources that have the capabilities of doing both active and passive checks, exposing implementation-level deta

[2017-04-14 04:01] aaronlippold opened #1660 "Possible error in lib/resources/processes.rb?"
### Description

```/usr/local/lib/ruby/gems/2.4.0/gems/inspec-1.20.0/lib/resources/processes.rb:29: warning: regular expression has redundant nested repeat operator '*': /^(\/[^\/]*)**(\s|$)/```

Not sure if this is just a fluke or something that should be looked at.

[2017-04-14 11:35] arlimus opened #1661 "RFC Platforms"
v0.4-2017.04.24 Complete version for now; not covering custom transport targets in this RFC
work items are tracked below in https://github.com/chef/inspec/issues/1661#issuecomment-300408513 and will be moved into a milestone

## 1. Summary

This RFC describes InSpec's platform definition. Platforms are the sum of all the things that InSpec can test. It is designed to support all types of platforms

[2017-04-14 22:39] vjeffrey opened #1664 "inspec shell: help sshd_config failing :("
### Description

I was playing around in the shell and noticed that help sshd_config is failing. help ssh_config works fine.

### InSpec and Platform Version
1.20

### Replication Case

open up the inspec shell
type help shhd_config

### Stacktrace

 inspec git:(master) b inspec shell -i ~/playground/vagrant-playground/.vagrant/machines/default/virtualbox/private_key -t ssh://vagrant@192.168.33.10

[2017-04-15 00:27] adamleff commented on #1664
Well, that stinks!

Probably has to do with the fact that `sshd_config` subclasses `ssh_config` I believe. Thanks for logging the issue 🙂

[2017-04-15 20:53] aaronlippold commented on #1005
Hi, I second this as it would apply to the generalization and implementation of profiles for all profiles - such as the STIG and CIS - that will have different control implications given they are inside a container or not.

With respect to @lamont-granquist comment - the code in ohai is here : https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/virtualization.rb#L163

[2017-04-17 13:19] ghost opened #1665 "Retrying Inspec Tests"
### Question

I have a test:

[code]

This test is highly dependent on the timing of cron so my test may or may not pass.  I came across this blog post https://discourse.chef.io/t/inspec-retries-wait-option-until-service-comes-up/9242 and tried for a few hours to make it work to no avail.

I was eventually reminded of https://discourse.chef.io/t/test-kitchen-1-10-0-released/8721 which got me think

[2017-04-17 13:37] myoung34 opened #1666 "Intermittent SSH failures"
### Description

I get random (and intermittent) failures that complain about SSH connectivity with  message `Couldn't execute command on SSH.`
My transport options in `.kitchen.yml`:

[code]

1. One run (success):
[code]
2. Random failure by running `kitchen test all` multiple times:
[code]
3. Another but different random failure:
[code]

### InSpec and Platform Version

kitchen-inspec (latest) w

[2017-04-17 14:25] adamleff commented on #1658
I like this approach.

Should we include the `inspec.lock` file instead of blacklisting it? If we combine this effort with the vendoring change we were discussing as well, we'd actually want the checksum of Profile A to change if its dependency versions changed too.

[2017-04-17 14:28] adamleff commented on #1658
In line with #1659, maybe we should include the `vendor` directory when calculating the checksum, and before we do, raise an exception if the checksums in the `inspec.lock` don't match the checksums of the vendored/extracted dependencies' content and instruct the user to re-vendor.

[2017-04-17 14:29] adamleff commented on #1659
💯  on extracting content during the vendoring process instead of during exec/archive. This will also help the current situation with Habitat InSpec packages requiring elevated privileges just to extract/cache dependencies.

[2017-04-17 14:39] jason-riddle commented on #1404
Any update on this?

[2017-04-17 14:39] jason-riddle commented on #1665
Related: https://github.com/chef/inspec/issues/1404

[2017-04-17 14:51] adamleff commented on #1404
Hi @jason-riddle and @guilhem. Thanks for submitting this issue and following up on it.

The InSpec team discussed this and there are currently no plans to add this feature to InSpec. The focus on the InSpec core is to perform the testing the user requires via a profile and to do that as efficiently and accurately as possible. Adding retry logic to InSpec increases the maintenance burden and compl

[2017-04-17 14:51] #1404 closed, assigned to nobody

[2017-04-17 15:00] ghost opened #4495 "Add a way to retry a test if failing"
Please see https://github.com/chef/inspec/issues/1404, https://github.com/chef/inspec/issues/1665 and https://github.com/test-kitchen/test-kitchen/issues/1217

[2017-04-17 15:02] adamleff commented on #1665
Hi @pantocrator27! Thanks for submitting this issue, and welcome to the InSpec community!

Currently, InSpec does not support any retry functionality natively and there are no plans to add that functionality. We're focusing on ensuring the InSpec core itself is finely-tuned to perform the testing at the moment it's asked to, vs. having to make a determination as to whether a failure might be trans

[2017-04-17 15:02] #1665 closed, assigned to nobody

[2017-04-17 15:06] adamleff commented on #1661
In section 2:

This could probably use some additional explanation as to what you're trying to convey.

[2017-04-17 15:09] adamleff commented on #1661
Section 2.3: I'd love to see us raise a specific exception if we can't detect the platform (maybe something like `Train::Exceptions::PlatformDetectionFailed`?) rather than returning `nil`.

[2017-04-17 15:11] adamleff commented on #1661
Sections 3 and 4: :100: -- cannot wait for this level of control. Will provide a much better UX to both resource and profile creators as well as those that consume them.

[2017-04-17 15:13] adamleff commented on #1661
Thank you so much, @arlimus, for writing this up. This sounds great.

[2017-04-17 15:14] aaronlippold commented on #1661
I feel like this could also connect/link to the other discussion chain of knowing when you are inside a container, a vm or on a host - i.e. as part of the platform data that is returned - i.e. #1005.

[2017-04-17 15:19] adamleff commented on #1666
Hi @myoung34 - sorry you're having issues.

I'm unfortunately not able to determine the cause of your problems with the information provided. Can you please run Test Kitchen with debug log enabled (i.e. "kitchen verify foo -l debug"), place the FULL log in a gist, and update this issue with a link? Maybe we'll be able to see some additional helpful information there.

Thanks,
~Adam

[2017-04-17 16:44] myoung34 commented on #1666
@adamleff https://gist.github.com/myoung34/1d757514430817e027479babfdec0764

[2017-04-17 20:26] madhu2421 commented on #1298
@smith Is this issue resolved or being followed upon in another ticket? I am using compliance 1.9.2 and inspec version 1.20.0. I am facing the same issue as described here, unable to upload the profile which has dependencies. Failing upload with an error ""Failed to POST /owners/<user>/compliance/test-inheritance/tar."
I am just testing a simple inheritance in my profile and adding a dependency on

[2017-04-17 20:43] adamleff opened #1667 "Web references in inspec shell help are wrong"
`help ssh_config` provides the following:

[code]

... which is not a valid URL. These should be fixed to point to the docs on inspec.io.

[2017-04-17 21:59] madhu2421 commented on #1298
In the logs i see error given below:

Cannot fetch compliance://base/windows because your compliance token has not been
2017-04-17_21:56:24.33786 configured.
2017-04-17_21:56:24.33787
2017-04-17_21:56:24.33788 Please login using
2017-04-17_21:56:24.33789
2017-04-17_21:56:24.33789     inspec compliance login https://your_compliance_server --user <user> --insecure --token 'PASTE TOKEN HERE'
2017-04-

[2017-04-18 10:10] alexpop commented on #1658
Files added by users in the profile that are not blacklisted will impact the checksum. For example: `Jenkinsfile`, `Gemfile`, `tests/*`, `OTHER.md` etc.

Instead we could hash only the files we care about(`controls/*.rb`, `libraries/*.rb`, `vendor/*` `inspec.yml`, `inspec.lock`). It will be more cpu/disk friendly by not including any other files or directories.

[2017-04-18 10:14] chris-rock commented on #1658
@alexpop That is a great discussion and I am not sure about this. The first step that I wanted to achieve is consistency. I think no matter how many files we are including or excluding, the hash will be consistent.

Question: Isn't a change in `Gemfile` a change in our profile?

[2017-04-18 12:03] chris-rock commented on #1658
@adamleff I think it makes sense to include the lockfile, since it should not change once vendored

[2017-04-18 13:05] aaronlippold commented on #1652
@chris-rock: Is this still an open issue or does 1.20.x resolve issues with running profiles with inheritance on Automate?

[2017-04-18 14:16] chris-rock commented on #1652
We have integration tests, but we need to update them and run them for every PR.

[2017-04-18 16:04] madhu2421 opened #1670 "profile upload with dependencies fails uploading to compliance server"
I am using compliance 1.9.2 and inspec version 1.20.0. I am unable to upload the profile which has dependencies defined, it is failing to upload with an error ""Failed to POST /owners//compliance/test-inheritance/tar."
I am just testing a simple inheritance in my profile and adding a dependency on windows chef compliance profile

In the logs i see error given below:

Cannot fetch compliance://base

[2017-04-18 16:05] iancward commented on #1300
I'm seeing a similar issue with trying to use an InSpec profile to create a `node` object to store node attributes configs. If I change `Inspec::Resources::JsonConfig` to `::Inspec::Resources::JsonConfig` it gets past the "uninitialized constant" error, but now I get this error:
`undefined local variable or method 'node'`

[2017-04-18 16:22] adamleff commented on #1300
@iancward Could you create a new issue for your request for assistance, and could you create a gist of your full custom resource so we can take a look? thanks!

[2017-04-18 16:34] tpmullan commented on #1300
That sounds like the exact same error.  Why would you create another issue?  Most projects close duplicate issues.  Just to be redundant I am also facing the same issue and opted to just not use a custom resource for now because of the way it is implemented.

[2017-04-18 17:02] adamleff commented on #1300
@tpmullan if it turns out to not be the same error (or at least not the same cause), then we potentially have a single issue that could be tracking more than one problems in the codebase. My initial read on this was that "undefined local variables" and "uninitialized constants" are possible two different problems and may have different resolutions. I feel like we're splitting hairs on "GitHub Issu

[2017-04-18 17:36] jeremymv2 commented on #1670
Hey @madhu2421 I see from the logs that your user is blank (not set) `Failed to POST /owners//compliance/test-inheritance/tar`

There should be a string value representing your user in between `/owners/` and `/compliance/test-inheritance/tar`.

My guess is that you weren't able to specify `--user USERNAME` when you ran `inspec compliance login ...`

Please try and login again like this:
[code]

[2017-04-18 17:40] madhu2421 commented on #1670
Hi @jeremymv2  - i am sorry that i misled you. There is the user name in the logs.. Actual error is
Cannot fetch compliance://base/windows because your compliance token has not been
2017-04-17_21:56:24.33786 configured.
2017-04-17_21:56:24.33787
2017-04-17_21:56:24.33788 Please login using
2017-04-17_21:56:24.33789
2017-04-17_21:56:24.33789 inspec compliance login https://your_compliance_server --

[2017-04-18 17:55] jeremymv2 commented on #1300
From what @iancward describes, I'm pretty certain it's the same thing, 1st getting "uninitialized constant" because the subclass wasn't being "included" in the right place in the DSL (see: https://github.com/chef/inspec/pull/1355/files#diff-40e74ce294b3e78f93b3079ec77da7ffR38 for fix)

Then getting "undefined local variable" because the call to superclass isn't implemented to work this way.  Earli

[2017-04-18 18:08] tpmullan commented on #1300
My issue is from `class NodeAttributes < JsonConfig` where an example is given by this issue.

@adamleff I don't mean to split hairs on issue management I just wanted to point out that it sounds like the same issue.

[2017-04-18 18:08] aaronlippold opened #1671 "postgres_config resource not parsing complex params."
### Description

The postgresql stig requires us to enable auditing which requires us to set the following values.

I believe the second form of the describe block would be the most natural expectation of the end user for how to implement the control. Its what I did the first time.

[code]

### InSpec and Platform Version

all

### Replication Case

Neither of these blocks function in the current

[2017-04-18 18:10] adamleff commented on #1300
OK, so it's clear that there appears to be an expectation that a custom resource can subclass an existing resource. I'm not sure that's supported behavior, and it's clearly not working. Creating custom resources is totally supported, however.

I suggest we leave this issue as-is, and someone can troubleshoot this further.

If anyone is having issues subclassing directly from `Inspec.resource(1)`,

[2017-04-18 18:15] tpmullan commented on #1300
In my mind the assumption is that objects oriented program should be supported.  This used to work with inspec, but was broken when the way classes were loaded was changed.  It does not make sense to me to forcefully break the way ruby works by default.

[2017-04-18 18:26] adamleff commented on #1300
@tpmullan we sometimes have to balance "expected Ruby behavior known by many Ruby developers" with "design choices necessary to provide the proper UX to ALL users of InSpec." Sometimes we can do both and sometimes we can't. Not all InSpec users are Ruby engineers.

Let's assume positive intent here in that we don't deliberately or "forcefully break" expected behavior unless we a) made an unintende

[2017-04-18 18:32] madhu2421 commented on #1670
i am using the below command to login:

inspec compliance login https://YOURSERVER --user YOURUSERNAME --password PASSWORD --insecure. This will generate an auth token that should be valid for 12 hours and i am assuming we don't have to explicitly specify --token TOKEN

[2017-04-18 18:40] tpmullan commented on #1300
@adamleff  I did not mean that to be rude, I just meant that it is a developer based assumption that was not necessarily in the specification anywhere.  But I feel it is a fairly common assumption, but again I am biased as a Ruby developer.  I did not mean to imply that the change was not made for a reason, and those reasons probably add value in different ways to inspec as a whole.  I just wanted

[2017-04-18 18:48] adamleff commented on #1300
Thank you for your feedback.

[2017-04-18 18:51] aaronlippold opened #1672 "RFE: postgres_session/mysql_session/mssql_session resource to handle parsing of csv returns of result sets"
### Description

Many of the control checks for postgres require you to execute a set of SQL and ensure that the rows and columns in the result set either contain, match or have a value or values - or the opposite, do not contain, match or have a value.

I suggest that we expand the *_session resources to be able to parse cvs results sets so that we can have statements such as:

[code]
or the ERRO

[2017-04-18 18:54] jeremymv2 commented on #1670
@madhu2421 Using the password is ok - inspec will exchange for a token later.  It looks like the error is happening on the Compliance server side when running embedded inspec to verify the profile.  To make any more headway we'd have to examine the logs during an upload with `chef-compliance-ctl tail`.

[2017-04-18 19:05] adamleff commented on #1664
Issue with `sshd_config` is fixed, but the core issue of `help` throwing an exception where there is no description still needs to be addressed.

[2017-04-18 19:56] madhu2421 commented on #1670
Please find the logs while uploading the cookbook below:

==> /var/log/chef-compliance/core/current <==
2017-04-18_19:54:02.42779 19:54:02.427 ERR => DB error: sql: no rows in result set
2017-04-18_19:54:02.42833 19:54:02.428 DEB => ID of user admin changed: 4cb6b075-6845-48e9-4f4b-6ca2d92c908a -> ad608051-07dd-4dfb-b26e-34d5c00bb072 (resetting)
2017-04-18_19:54:02.42837 19:54:02.428 DEB => Authen

[2017-04-18 20:58] jeremymv2 commented on #1670
@madhu2421 have you vendored the profile first?  It seems like profile has not been vendored.

You need to inspec vendor the profile before uploading it to Chef Compliance version 1.7.7 or newer. The vendor subcommand fetches all dependent profiles and stores them in the vendor directory.

`inspec vendor PROFILE`

After vendoring you should be able to upload.

[2017-04-18 21:04] madhu2421 commented on #1670
Thank you for your quick response. I did do the inspec vendor and got the message "Profile is already vendored. Use --overwrite.". Didn't bother to overwrite it.

But when i tried to do the inspec vendor again, i was able to successfully upload the profile. Does it vary with the version of inspec i use?. The issue is resolved now

[2017-04-18 21:04] #1670 closed, assigned to nobody

[2017-04-19 02:41] damm commented on #931
I was writing tests for sensu and kind of ran into a similar problem; systemd is running but the scripts are not really systemd enabled... unfortunately it seems to take the systemd path instead of calling /etc/init.d/sensu-api status

Good issue for reference on this issue.

[2017-04-19 08:17] chris-rock commented on #1300
Please, let us focus on the technical issues. I did a quick investigation. The following works without any issue as a resource in InSpec Core:
[code]
But as soon as I put this into a profile (without class scoping), it is not working anymore.
[code]
This is a bug in InSpec. You should be able to derive from the built-in resources. I pushed a profile that is not working here: https://github.com/che

[2017-04-19 11:39] rmoriz opened #1675 "timeout option for controls"
I have this nasty case when an command just hangs in the error case after outputting an error message. This also blocks the entire inspec run.

Example on Ubuntu 16.04:

- install package `duplicity`, then run inspect:

[code]
So I wish I had the following options:

- a general, inspec-global timeout for all resources
- a way to specify a timeout per resource (e.g. command)

Maybe something like:

[2017-04-19 21:34] aaronlippold opened #1677 "Add a --tag and --tags flag which operates just like the --controls flag does."
### Description

I would like to be able to pass a --tag or --tags flag to the InSpec CLI to instruct a profile to only execute controls with the provided tag or tags.

### Use Case

Assume I have a profile or a meta-profile that supports multiple platforms which have different controls to test a higher class of controls - such as ssl or ssh or even more generically 'authentication' or 'PKI'.

If

[2017-04-19 21:37] adamleff opened #1678 "Add a find_one_where accessor for FilterTable"
As seen in #1566, it's very handy to be able to use FilterTable on a higher-level resource and extract a second resource that filters on one item. For example, a top-level `docker` resource can allow us to list a myriad of data about what's running in docker and provide a `containers` method that uses FilterTable to provide data about all the containers, but exposing a `docker_container` resource

[2017-04-20 02:04] skull-squadron opened #1679 "User GEM_{HOME,PATH} alters official inspec ruby env"
### Details

**OS:** macOS 10.12.4
**Inspec:** 1.20.0-1
**Installation artifact URL:** https://packages.chef.io/files/stable/inspec/1.20.0/mac_os_x/10.12/inspec-1.20.0-1.dmg (on page https://downloads.chef.io/inspec)

### Replication Case
[code]

### Success Cases

[code]

### Possible Solution

Similar to the resulting official chef dk scripts, somewhere in `omnibus/` packaging plumbing:
**Append

[2017-04-20 11:23] myoung34 commented on #1666
@adamleff this is still happening very frequently.

[2017-04-20 12:42] aaronlippold commented on #719
Use case: I will have 100+ control files profile and I would like a way to centralize the attribute definitions so I can avoid:

1. duplication of attribute definitions
2. ensure that people don't create more than one attribute to represent the same data
3. have an easy way to modify an attributes should we decide we want to rename one
4. have an easy way to scan all the files to collect the attri

[2017-04-20 13:35] aaronlippold commented on #719
I would perhaps set env_vars for the list of attributes and just use a $INSPEC_ATTRIBS if I was hacking, testing, hacking testing etc.

In this version,`--attr-vars=user:john password:doe` may make more sense and `--attr-var=<attr>:<var>` for the singular.

Now, last but not least, with the addition of these command line options, the question of precedence comes into play. If I assume that I have

[2017-04-20 18:53] hannah-radish opened #1684 "Inspec Shell Enhancement - Show universal matchers on HELP MATCHERS command"
### Description

Show universal matchers on **help matchers** command in the Inspec Shell. Would be cool to have a similar behavior like **help resources**

@adamleff

[2017-04-20 18:56] hannah-radish commented on #1684
@arlimus @chris-rock
Need your input. IE: are you cool with this suggestion?

[2017-04-20 18:58] adamleff commented on #1684
This shouldn't be too hard to do, and I'd be happy to do it. We can provide helpful information on the following matchers:

* `be`
* `cmp`
* `eq`
* `include`
* `match`

... just like this page on the docs site but in abbreviated form: http://inspec.io/docs/reference/matchers/

[2017-04-20 19:00] vjeffrey commented on #1684
yes please please please!

[2017-04-20 21:48] rshade commented on #1279
I am also running into this

[2017-04-20 21:48] rshade commented on #1279
I am also running into this

[2017-04-21 02:37] ghost opened #1685 "stdout matcher has depreciation warnings"
### Description

In using the `stdout` matcher like so:

[code]

I am getting the following `inspec` warning: `[DEPRECATION] contain matcher. Please use the following syntax its('content') { should include('value') }.`

### InSpec and Platform Version

InSpec Version 1.19.1

[2017-04-21 02:47] ghost commented on #1685
nevermind ... I get it :)

[2017-04-21 02:47] #1685 closed, assigned to nobody

[2017-04-21 06:02] chris-rock commented on #1279
sudo handling is implemented in https://github.com/chef/train/blob/master/lib/train/extras/command_wrapper.rb and is independent from connection handling. Mmh.

[2017-04-21 06:04] chris-rock commented on #1684
I love that idea. We should focus on generally available matchers then. I also would love to see this attached to resource documentation, too.

To make this technically right, we need to move matcher documentation into source code and attach this to each matcher as a method. Then we can read that our similar to our resource docs.

[2017-04-21 06:05] chris-rock commented on #1679
Thank you for highlighting this issue @steakknife . Do you want to submit a PR for that?

[2017-04-21 06:10] chris-rock commented on #1675
I love that idea @rmoriz Each `describe` or `control` should have a default timeout that users can tweak if required. Instead of adding this feature to each resource, i'd like to have it as a general concept. This would allow us to abort any test if a defined timeout has reached. An option for controls could be:

[code]
I need to think about a way to add this to `describe` blocks without `controls

[2017-04-21 06:11] chris-rock commented on #1675
Once #1205 is in, we could raise a proper timeout exception

[2017-04-21 06:14] chris-rock commented on #1606
@chris-redekop I agree that we need to find a better way. RSpec its is a complex thing and we need to be very careful with that. For now, I recommend to do the following:

[code]

[2017-04-21 06:30] chris-rock commented on #1279
Okay, I adapted the tests a little bit:
[code]
Results in:
[code]

That highlights two things. First, sudo permissions are used for local execution as well. In this specific case the `command` resource is highlighting it. Nevertheless, file handling is done differently in local execution and is not respecting the sudo options for local execution.

[2017-04-21 06:34] chris-rock commented on #1279
Since we use local ruby file handling it is difficult to elevate rights for local execution mid-way. As highlighted already, the solution for now is to run inspec with sudo rights: `$ sudo /opt/chefdk/embedded/bin/inspec exec tester.rb`.

Personally, this also feels like the cleanest solution. We should think about making the sudo arguments attached to remote ssh connections only.

[2017-04-21 07:09] chris-rock opened #1686 "Profile dependency fails if version is missing in inspec.yml"
### Description

If a profile dependency is given with a path or url, the version version should be optional for execution. This is mainly for development reasons, since profiles should have a version, once in production.

### InSpec and Platform Version

1.20.0

### Replication Case

Create a profile and a base profile where `version` is missing in `inspec.yml`

### Possible Solutions

For mitiga

[2017-04-21 07:40] chris-rock opened #1687 "vendor local profiles for archive"
### Description

We decided that local profiles `path: /path/to/profiles` are not copied over to `vendor` directory, since its easier for development. This is not true if the profile is packaged for upload to the compliance server.

### InSpec and Platform Version

1.20.0

### Replication Case

Try to run `inspec archive examples/inheritance` and take a look into the tar file

### Possible Solutio

[2017-04-21 08:17] geoffles commented on #765
+1

Would also be convenient to specify a no proxy at all on the http resource.

[2017-04-21 09:00] Happycoil opened #1688 "Adding windows domain users to users resource"
I'm planning to take a stab at https://github.com/chef/inspec/blob/master/lib/resources/users.rb#L564, but the solution will probably look kinda strange. Do you have any work on this planned?

The obvious solution is to query Win32_UserAccount, but that has a potentially _huge_ problem in that this might return thousands (or even hundreds of thousands) of objects in some enterprises because `Domai

[2017-04-21 09:00] #1400 closed, assigned to nobody

[2017-04-21 09:04] chris-rock commented on #1688
This is a dup of https://github.com/chef/inspec/issues/1218. lets move the discussion to that ticket. I think using `Win32_UserAccount` is not the best solution. We've done that before and it is really slow. Is there any reason why ADSI is not working? See https://msdn.microsoft.com/en-us/library/aa746512(v=vs.85).aspx and https://github.com/chef/inspec/blob/master/lib/resources/users.rb#L612-L613

[2017-04-21 10:09] Happycoil commented on #1218
re: https://github.com/chef/inspec/issues/1688 @chris-rock

The WinNT ADSI provider doesn't return domain users<sup>1</sup>, we would have to use the LDAP provider for that. In writing that I now realise that even when querying Win32_UserAccount we would need domain credentials to be able to read the directory... That presents a problem unless we can pass credentials to the PowerShell script.

Reg

[2017-04-21 10:15] chris-rock commented on #1218
Good feedback. Is there any reason why we are not using the LDAP provider? See https://social.technet.microsoft.com/wiki/contents/articles/4231.working-with-active-directory-using-powershell-adsi-adapter.aspx
Lets experiment with PURE Powershell first. Its easier to ensure we have the right script first before using it in inspec. We can use attributes to pass domain users, but lets try to avoid th

[2017-04-21 10:16] chris-rock commented on #1688
Close this since it is a dup of #1218

[2017-04-21 10:16] #1688 closed, assigned to nobody

[2017-04-21 10:54] Happycoil commented on #1218
In the example I posted? I only had user names available, and LDAP provider queries use distinguishedNames. Win32_LocalAccount returns [info](https://msdn.microsoft.com/en-us/library/aa394507(v=vs.85).aspx) about both local and domain users, but we could easily be using the WinNT provider for local users and the LDAP provider, DirectorySearcher, or something else for AD users. This _will_ require

[2017-04-21 12:55] rshade commented on #1279
@chris-rock yes this is my test:
[code]

[2017-04-21 12:55] rshade commented on #1279
I am trying to run with test-kitchen.

[2017-04-21 12:56] rshade commented on #1279
I have also tried running `sudo grep` and the returns in `command not found`

[2017-04-21 12:57] chris-rock commented on #1279
@rshade Wait, the issue is different for test-kitchen. Sudo need to work fine there?

[2017-04-21 12:58] chris-rock commented on #1279
As explained earlier you need to run `sudo inspec shell` if executed locally

[2017-04-21 13:01] rshade commented on #1279
I am pretty sure kitchen-vagrant just call just calls inspec exec --sudo, so I think the kitchen-vagrant plugin might need to be adapted to use sudo inspec across the ssh handler. I was looking here: https://github.com/chef/inspec/blob/master/lib/resources/shadow.rb#L43, and `inspec.file` seems to be running in an elevated fashion. If I could figure out how that `inspec` is built in ruby I might b

[2017-04-21 13:02] rshade commented on #1279
inspec shell was just my test to see if the same thing was happening locally and remotely.

[2017-04-21 13:02] chris-rock commented on #1279
@rshade no, kitchen-vagrant uses ssh under the hood and sets the sudo properties. See https://github.com/chef/kitchen-inspec/blob/master/lib/kitchen/verifier/inspec.rb#L203-L204

[2017-04-21 13:47] adamleff commented on #1684
I agree with the "technically right" approach, but can we approach this iteratively first? I think having a simple "if the parameter passed in to 'help' is 'matchers'" approach to provide textual help for the 5 matchers listed above is a great MVP, and then we can iterate on it later.

[2017-04-21 13:50] adamleff commented on #1675
I wonder if it would make more sense for the first pass of this to be a CLI flag to `inspec exec` that allows the user to provide a timeout to any `command` call and we then pass to train and enforce it there. It could then be exposed in `kitchen-inspec` as a driver configuration option too. It feels like that would address the need without a lot of complexity, and then we can further refine it wi

[2017-04-21 13:52] adamleff commented on #1667
Fixed via #1669

[2017-04-21 13:52] #1667 closed, assigned to adamleff

[2017-04-21 14:07] chris-rock commented on #1684
@adamleff sounds like a good first iteration

[2017-04-21 14:12] chris-rock commented on #1675
Sounds like a good question for @arlimus

[2017-04-21 15:22] adamleff opened #1690 "Warn when using --sudo locally"
The `--sudo` flag should only be used with remote scan targets... when scanning locally, native Ruby methods are used and escalating privileges is difficult if not impossible.

The CLI should warn a user when they use `--sudo` without `--target`.

[2017-04-21 17:07] usepowershell commented on #1218
@chris-rock  @Happycoil  @ricardolupo  What's the scenario here?  Are we testing a user's level of access?Then I'm not sure the user resource is the place to address this.  If we want information about the user account specifically, the existing `user` resource works against domain users if the test is run against a domain controller.  Rather than reaching out to a member server to reach out to th

[2017-04-21 17:50] adamleff commented on #1279
Hello, everyone! With the understanding that:

 * `--sudo` will only be for remote scans (and local scans should do `sudo inspec exec`),
 * #1690 has been opened to warn users about using `--sudo` with local scans,
 * #1689 has been merged with additional documentation, and
 * there were Slack conversions over the past 24 hours with @rshade that solved his particular problem in this area...

... I

[2017-04-21 17:50] #1279 closed, assigned to nobody

[2017-04-21 18:04] adamleff commented on #1666
@myoung34 sorry I do not have an easy answer for you.

This error:

[code]

... is a bug in InSpec and I'll log a separate issue for that. Why the SSH failure is occurring is a mystery to me and I'm unable to reproduce on my own. I might suggest trying a different AWS region and see if the issue is the network between you and your instance, but I honestly do not have any additional suggestions for

[2017-04-21 18:06] adamleff opened #1692 "NilClass errors when package info fails"
Appears to be a bug in the `package` resource if the command used to find the package details fails.

[code]

`info` should return an empty hash until we have better exception handling.

[2017-04-21 19:04] Happycoil commented on #1218
What we would typically like to test would be domain user memberships in member server groups (Administrators, Power Users, IIS groups and the like).

At the moment I can't think of any other aspects of a domain user I would like to test on a member server, so I see your point, @smurawski

Should testing for that be a separate resource like etc_group? It's easy to assume you can test for the users

[2017-04-21 20:43] skull-squadron commented on #1679
Sorry, If I knew where the fix lived specifically, I would've just
submitted a PR.

On Thu, Apr 20, 2017 at 11:05 PM Christoph Hartmann <
notifications@github.com> wrote:

[2017-04-21 20:48] usepowershell commented on #1218
@Happycoil I was just puzzling over the `group` and `etc_group` resources and `etc_group`'s current behavior seems closer, but just doesn't feel right to me as a Windows admin.  I would want to use `group` with similar behavior to `etc_group`.

I will readily admit my ignorance when it comes to inspec.  I haven't spent very much time using it myself (though I plan to spend much more time in the ne

[2017-04-21 23:42] damm commented on #554
Hmmm, I didn't understand until I read this issue that the [ ] was needed for hash objects as well.  Having tried { } and it failed .. lessons learned

[2017-04-22 10:44] chris-rock opened #1695 "RFC: Support multiple descriptions per control"
### Description

InSpec has already a great support for tags, references and description of controls.  This works great and looks like:

[code]

Sometimes you need additional description e.g. for a specific check or remediation. Right now, those blocks need to be part of the `desc` block, since tags are not suited for long text.

[code]

I propose we extend the current `desc` for `control` to allo

[2017-04-22 10:47] arlimus commented on #1695
If we establish this as a hash, could this be chained? (just in theory to be aware, not really as a style recommendation)
[code]

Also we have to be aware how this behaves in overlays. One idea: overlaying `desc` to change the description will only change the uncategorized description, overlaying `desc "field":...` will change the tagged description.

[2017-04-22 10:49] arlimus commented on #1695
It will also require additional fields in the JSON structure; hopefully without forcing a major version change.

This would also help us to prevent forcing people from adding descriptions to tagged fields, where we may run into UI problems and which affect inspec query by tag (since we mix tags and descriptions)

[2017-04-22 10:52] chris-rock commented on #1695
Should we also add warning to inspec check if tags reached a specific length?

[2017-04-22 10:53] arlimus commented on #1695
That'd be a great idea too, if we take this direction!
Ditto on linebreaks

[2017-04-22 13:23] aaronlippold commented on #1695
Please also consider adding the ability to line wrap the desc blocks and to 'print pretty' - such as :

[code]
To ensure that the human readability is maintained for both the security engineer, the security auditor and the validator. 600 char long strings are hard to read with a \n\n in them. :)

[2017-04-22 13:26] aaronlippold commented on #1695
you man we shouldn't have:

tag "iloverandomtagsbutthisonewilldo" for a tag name? 🤣

What would be the general limit for the tag length? 10 chars 20 chars, 40 chars ...

[2017-04-22 13:28] chris-rock commented on #1695
That would still be okay. It is more the size of the value that concerns us, since this will be difficult to display in UI.

[2017-04-22 13:32] aaronlippold commented on #1695
Yes, agree. So 32 chars? ( supposing we have someone wanting a "fix_on_aix_or_solaris" or "note_for_time_ sensitive_systems"

[2017-04-23 01:03] aaronlippold commented on #1672
row = 1 by n array
rows = n x m array
column = n x 1 array
resultset = rows = n x m array
ERROR is a special case, that will be a String

[2017-04-23 01:44] aaronlippold opened #1696 "postgres.rb resource not exposing the 'version' and not finding pg_data/complex pg_data cases and conf_dir when not in standard locations"
### Description

In the current testing I am doing, I have a postgres database has a pg_data dir that is set to a non-standard location and it further separates the configuration by having a separate / individual data directories for each db instance hosted by the RDMS.

In my case the pattern is: ${PG_DATA}/${DB_NAME} ( "/pgdata/pg-basic" )

This is making it difficult to generalize tests using a

[2017-04-23 02:55] juju4 opened #1697 "Windows resources check: processes, firewall rules"
### Description

I'm testing https://github.com/juju4/windows-baseline from dev-sec but there are a couple checks that don't seem to work or possible, mostly
- process check with option to check executable path and other attributes
- firewall rules

### InSpec and Platform Version

Inspec 1.18 on Windows.
will check 1.20 but nothing related in Changelog

### Replication Case

Run https://github.co

[2017-04-23 17:45] aaronlippold commented on #1696
I put in a pull request with a quick try at this update : see https://github.com/chef/inspec/pull/1699

[2017-04-23 20:50] rmoriz commented on #1655
Upcoming Debian 9 will also drop `net-tools` by default (including `iptables` and `netstat`)

[2017-04-23 23:52] rmoriz opened #1700 "Output color"
Why are successfull tests in Travis displayed in red?

![job 640 5 - rabbitmq_chef-cookbook - travis ci](https://cloud.githubusercontent.com/assets/1527/25318510/964f2eea-2890-11e7-8b3a-7c6aee3f7849.jpg)

example link: https://travis-ci.org/rabbitmq/chef-cookbook/jobs/225025268#L559

[2017-04-24 08:08] Happycoil commented on #1218
Yes, that would make sense to be as well. It would also be fairly easy to add a `members` property to the `groups` resource, and that would allow us to test for domain users in local groups without domain credentials. Does that make sense for inspec, though? @chris-rock

[2017-04-24 09:42] chris-rock commented on #1218
Due to the complexity of that matter, I think we should do the following:
- ensure that we can verify AD uses on a local machine, but leave complex logic for groups out of that resource
- improve the `group` resource to ask for its members

Therefore you would ask the following question for a test: Please give me all members of group x i. Does that make any sense?

[2017-04-24 11:58] Happycoil commented on #1218
Yeah, the second point at least should be relatively simple to add. Still looking for a good way to address the first.

Would you accept a PR which adds a `members` property to `group`? What should the collection contain on Linux based systems?

[2017-04-24 12:33] chris-rock commented on #1218
@Happycoil I think it makes sense to add members to it. Lets discuss first how that could look like, since groups can be nested.

[2017-04-24 14:41] arlimus commented on #1661
@adamleff Thank you for the feedback, all added into the current version!

This RFC is now complete. I removed the custom transport target definition (e.g. `aws://...`) for now as it requires a larger change in the next step.

[2017-04-24 14:47] #71 closed, assigned to chris-rock

[2017-04-24 14:54] aaronlippold commented on #719
When using the same attributes in multiple .rb files - I noticed I got a waring of an already defined constant. I expect this but just something to keep in mind to handle once we refactor.

[2017-04-24 17:50] usepowershell commented on #1218
Tackling group membership seems like the right course of action. ;)

[2017-04-24 18:06] rmoriz opened #1701 "list of required os packages / check for them"
Inspec should provide a list of required os/distro packages (e.g. in the README) and also, as the first step, check the availability of all dependencies.

e.g. `net-tools` in Ubuntu/Debian.

<s>I've also ran into case where this simple test

[code]
produces:

[code]
</s>

(^- happend when using an old inspec version (1.9.0) went away with (1.19.0))

[2017-04-24 18:28] adamleff commented on #1701
I think such a list of packages could be very fluid, and wouldn't necessarily apply to every user - i.e. if resource "foo" relies on `wget` to be installed, we shouldn't tell all InSpec users that they need `wget` installed.

We have an open issue about better exception handling, and my hope is that rather than failing hard or in opaque ways because a command we rely on isn't installed, we instead

[2017-04-24 18:49] rmoriz commented on #1701
I'm fine with that. As long as I don't have to grep the Inspec source to find the tool that is missing (and the package it provides) ;-)

[2017-04-24 20:22] anweiss opened #1702 "Inherited rules from tertiary profile not being executed"
### Description

When requiring controls from a profile that subsequently also includes controls from a tertiary profile, the controls from the tertiary profile are not executed. Example below:

[code]

`inspec exec profileB ...`

In the example above, when executing profile B, profile B requires `control1-profileA` and you would expect it to also include the controls from `tertiaryProfile` but it

[2017-04-24 20:57] adamleff commented on #1661
@arlimus LGTM 👍

[2017-04-25 05:06] tejas-shah opened #1704 "Windows: registry_key and its property_value is unable to match when property type is dword and value is in hexadecimal"
### Description

When I run the following test against a windows host it fails in all possible options.
[code]
Also following fails:
[code]

And this also fails:
[code]
The above fails even if I specify the value in single/double quotes.

### InSpec and Platform Version

Inspec version 1.2.0 test executed from Redhat 7.1 against a Windows Server 2012 R2 OS using Winrm.

### Replication Case

Execu

[2017-04-25 06:39] rndmh3ro commented on #931
Can confirm the problem on debian8 with systemd, testing with inspec 1.20.0.

[2017-04-25 07:29] Happycoil commented on #1218
@chris-rock As far as I'm aware neither (local) Windows groups nor Linux groups can be nested? As for AD groups, I don't think we should recurse into them at all, since the local `Users` group will by default contain `DOMAIN\Domain Users`, and we would have to reach out to a DC with valid credentials for that anyway. I imagine `members` to be a string array of direct members' user names.

Regardin

[2017-04-25 12:03] arlimus commented on #1695
@aaronlippold about line-wraps: It is great to enforce this when displaying the profile. Linting should probably also get a warning for extra long lines in description blocks.

Another problem so far has been that line-breaks and "nice formatting" in descriptions have not been respected by the internal engine. This is fixed now, please see https://github.com/chef/inspec/pull/1707 . It now opens th

[2017-04-25 12:11] adamleff commented on #931
Hi, friends! Thanks for the conversation and updates on this issue.

I just tried to reproduce the original poster's report and I was unable to:

**ChefDK version**: `1.3.43`
**InSpec version**: `1.19.1`
**Machine**: `bento/ubuntu-16.04`

**Recipe:**
[code]

**Test:**
[code]

**Result:**
[code]

I dropped back to InSpec 1.10.0 and even as far back as 0.30.0 and was unable to reproduce the issue ei

[2017-04-25 12:17] adamleff opened #1708 "systemctl is-enabled fails on Debian for SysV units"
### Description

On Debian 8, a SysV unit (such as the stock `apache2` package) will fail the `systemctl is-enabled` command because Debian 8's systemd doesn't include the `systemd-sysv-install` shim.

### InSpec and Platform Version

1.19.1

### Replication Case

**recipe:**

[code]

**test:**

[code]

**inspec output:**

[code]

**manual command run:**

[code]

### Possible Solutions

It would b

[2017-04-25 13:10] arlimus commented on #65
Already completed:
1. https://github.com/chef/train is now a separate small library for transport
2. it only pulls in transport plugins that are actively required, see https://github.com/chef/train/blob/master/lib/train.rb#L42

[2017-04-25 13:10] #65 closed, assigned to arlimus

[2017-04-25 13:12] arlimus commented on #81
Already completed in train:
https://github.com/chef/train/blob/master/lib/train/transports/docker.rb#L20

[2017-04-25 13:12] #81 closed, assigned to arlimus

[2017-04-25 13:15] arlimus commented on #96
This is now covered as part of:
https://github.com/chef/inspec/issues/1661
Tasks will be collected in this ticket. This issue will be covered as part of the work.

[2017-04-25 13:15] #96 closed, assigned to nobody

[2017-04-25 13:18] arlimus commented on #120
@jamescott Thank you for all your early feedback on this!
afaics our current resources are now consistent.

I also like the points you raised about `parse_config` options, let's open that as a separate issue.

[2017-04-25 13:18] #120 closed, assigned to nobody

[2017-04-25 13:23] arlimus opened #1709 "rename `parse_config` options for clarity"
### Description

`parse_config` options are not as declarative. This was raised by: @jamescott  in https://github.com/chef/inspec/issues/120

### InSpec and Platform Version

<=v1.21

### Possible Solutions

* change `:assignment_re`
    to `:assignment_regex`
* change `:key_vals`
    to `:key_values` to be consistent with `:multiple_values`

Opinions?

[2017-04-25 13:24] arlimus commented on #120
Referenced option names in https://github.com/chef/inspec/issues/1709

[2017-04-25 13:27] arlimus commented on #137
Agreed! This is also a bit broad, changing the title to focus on the `user` resource.

[2017-04-25 13:29] arlimus commented on #166
Completed, the readme now contains multiple install paths and a flow into usage. If you feel something is missing, please open as a separate issue.

[2017-04-25 13:29] #166 closed, assigned to arlimus

[2017-04-25 15:53] arlimus commented on #229
Thank you for all your feedback everyone!
We have added the podcast to the docs and the docs link to the readme.
I'd love to see comparisons to other tools like infratester. Contributinos welcome 😁

[2017-04-25 15:53] #229 closed, assigned to arlimus

[2017-04-25 16:35] anweiss commented on #1702
Ok so an update on this. My interpretation of `include_controls` is incorrect. I was wrapping `control1-profileA` in the `include_controls` block but `control1-profileA` is part of profileA. Example above updated. However, it still doesn't run the tertiary profile when doing an exec against profile B

[2017-04-25 16:41] arlimus commented on #187
I'm closing this issue because the definition was too broad and we tackled a lot of work items over the course of time. Please open new issues for serverspec backwards compatibility or migration help if you need them!

In the meantime, there is now also this wonderful guide on the inspec.io docs to help with migrations:
http://inspec.io/docs/reference/migration/

Please reach out if you have more

[2017-04-25 16:41] #187 closed, assigned to nobody

[2017-04-25 16:43] arlimus commented on #231
Closing this issue now because it hasn't been confirmed by users. That said, I'm opening a different one to help connect the website's docs to InSpec's source code for docs.

[2017-04-25 16:43] #231 closed, assigned to arlimus

[2017-04-25 16:44] arlimus opened #1712 "link inspec.io/docs pages to the source code in GitHub"
Make it easier for users to contribute improvements to docs and tutorials.

[2017-04-25 16:45] arlimus commented on #231
Created the new inspec.io to GitHub issue here: https://github.com/chef/inspec/issues/1712

[2017-04-25 16:46] arlimus commented on #290
Still an issue for the following resources:

[code]

[2017-04-25 16:49] arlimus commented on #317
We now have all of them documented here:
http://inspec.io/docs/reference/matchers/

Also, we have reduced the number of custom matchers conceptually :)

[2017-04-25 16:49] #317 closed, assigned to nobody

[2017-04-25 16:52] arlimus commented on #334
Thank you all for adding the tests and improving them too!!

[2017-04-25 16:52] #334 closed, assigned to chris-rock

[2017-04-25 16:53] arlimus commented on #335
This is now nice and readable in InSpec 1.20+. It may still require some work on other commands, let's track that in a separate issue.

[2017-04-25 16:53] #335 closed, assigned to nobody

[2017-04-25 16:55] arlimus commented on #353
Sorry for the late response on this. Custom resources are now supported with the InSpec inheritance mechanism. A full guide is here: http://inspec.io/docs/reference/dsl_resource/

I believe there is still a number of improvements we have to make (e.g. calling custom resources for inspec shell). The basics should now work. Please open issues if this is still blocking you!

[2017-04-25 16:55] #353 closed, assigned to nobody

[2017-04-25 17:03] arlimus commented on #358
Thank you for pointing to the missing docs, I have added a PR for that. As soon as they are in I'm closing this issue. We will create a separate RFC for the new impact or severity field (or it may not be a breaking change ;) ).

[2017-04-25 19:14] #358 closed, assigned to arlimus

[2017-04-25 19:14] chris-rock commented on #358
Besides the documentation, `inspec check` will also return warning for the misuse.

[2017-04-25 20:45] aaronlippold commented on #1695
So is this the object form we can expect with this RFC?
[code]

[2017-04-25 20:51] aaronlippold commented on #1630
@chris-rock @arlimus Was a decision on if we wanted to merge the patching work into the package and packages resources reached?

[2017-04-25 23:47] arlimus commented on #1396
Love the idea, also love that files are gated, i.e. that we don't just expose everything in the profile and provide a nice guideline on the location of these files.

* Would love to expose this in regular `control` files as well; for that to happen, we'd need to expose the `inspec` keyword in the core DSL. This might be a good place to do this and stop the constant workarounds a la `os.inspec` 😁
*

[2017-04-26 09:25] chris-rock opened #1715 "inval id distance too far back (Zlib::DataError) on windows"
### Description

Upload `inspec compliance upload` is not working on Windows 10

### InSpec and Platform Version

1.21.0

### Replication Case

Upload an inspec profile via ` inspec compliance upload .\Documents\my-test.tar.gz`

### Stacktrace

[code]

[2017-04-26 09:36] chris-rock opened #1716 "Remove :controls from json-full report"
### Description

We need to remove the `controls` tree in our report and enforce json schema

[2017-04-26 13:43] arlimus commented on #1695
@aaronlippold just a follow-up to my comment [above](https://github.com/chef/inspec/issues/1695#issuecomment-297008507)
Since https://github.com/chef/inspec/pull/1711 is merged too, we now have super pretty `describe` generation 🎊

[2017-04-26 13:53] arlimus commented on #1695
Merged this comment into: https://github.com/chef/inspec/issues/1695#issuecomment-297939391

[2017-04-26 14:13] aaronlippold commented on #1695
Sounds good. That structure seems fine to me and what I expected. So just
so I understand, at this point everything's been implemented except the
line wrapping in the to Ruby function.

[2017-04-26 14:50] ryankeairns opened #1721 "Test"
Test

[2017-04-26 14:50] #1721 closed, assigned to nobody

[2017-04-26 15:52] adamleff commented on #1396
Seems like this would be a handy feature for sure. Agreed with limiting it to the `files` directory only.

[2017-04-26 16:45] adamleff commented on #1709
No problem with that, I am all in favor of more descriptive method names and configuration keys!

We should probably support both for now, add deprecation warnings for anyone using `assignment_re` and `key_vals` outside the InSpec core resources, and open a separate issue for removing those options in InSpec 2.x.

[2017-04-26 17:01] arlimus commented on #1658
Please note of the outcome of https://github.com/chef/inspec/issues/1396 for hashing.

[2017-04-26 18:37] adamleff commented on #554
I believe this issue is resolved so I will be closing it. If that's not the case, please reopen and we'll be happy to revisit! Thanks 🙂

[2017-04-26 18:37] #554 closed, assigned to nobody

[2017-04-26 18:48] adamleff commented on #1672
Let's steer clear of the details of how the data might be stored or returned (i.e. the 'array' statements in the prior comment) and implementation detail of how we might collect the data, and instead talk more about the problem you're trying to solve.

Could you provide more specific problem statements as to what you're trying to solve? For example, I'm having a hard time coming up with a case whe

[2017-04-26 19:03] adamleff commented on #1696
Someone could be running two postgres instances on the same box, so doing any programmatic detection of where the pg_data directory is could be fragile. The `postgres_conf` resource already accepts a path.

If the issue is that you may potentially not know where that path is, you could use the `command` resource to detect that, or ask your configuration management solution to write out a file some

[2017-04-26 19:04] adamleff commented on #1700
That's a great question :) Definitely a bug we need to look into, even if it's just occurring on Travis.

[2017-04-26 19:06] adamleff commented on #1701
Once #1205 (better exception handling) is handled, this can be addressed in a more sane way (skipping/failing tests and providing better user feedback).

[2017-04-26 19:08] adamleff commented on #137
I think this is another good case of where resources should be able to throw exceptions that descend from one of two classes (`Inspec::Exceptions::ResourceSkipped` or `Inspec::Exceptions::ResourceErrored`) with a message and properly show that in the appropriate output formatter. Yet another reference to #1205 :)

[2017-04-26 19:25] damm commented on #554
Documentation maybe need to be improved as understanding the [] is required for nested objects maybe helpful.

I didn't get that hint from the documentation really; should have paid attention better i suppose.

[2017-04-26 19:29] adamleff commented on #931
Per the silence here currently as well as some conversations in the Community Slack, I believe this issue is resolved and I'm going to close it now. If it turns out to not be solved, please post here with a way to reproduce it and I'll be happy to reopen the issue. Thank you!

[2017-04-26 19:29] #931 closed, assigned to nobody

[2017-04-26 22:02] arlimus commented on #445
Now works as intended. Tested in InSpec v1.21

[2017-04-26 22:02] #445 closed, assigned to nobody

[2017-04-26 22:03] arlimus commented on #464
I'm currently cleaning up issues back to front.
Somehow can't get to close this one 😁
Keep it up everyone 🚀 !!

[2017-04-26 22:06] arlimus commented on #436
Works as intended in InSpec v1.21

[2017-04-26 22:06] #436 closed, assigned to nobody

[2017-04-26 22:06] arlimus commented on #437
The new formatters create nice output, thank you for checking @vjeffrey

[2017-04-26 22:06] #437 closed, assigned to nobody

[2017-04-26 22:09] aaronlippold opened #1725 "Postgresql 'hba_conf' resource"
### Description

The postgresql hba_conf needs to be parsed for many security setting settings in the postgres stig.

Creating a resource similar to that of 'grub_conf' and 'users' and 'passwd' resource would make the development of the controls much easier and more stable overall. Given that we will have to develop a set of attributes to define 'project defined' or 'program defined' roles and acc

[2017-04-26 22:20] #1709 closed, assigned to arlimus

[2017-04-26 22:22] #438 closed, assigned to arlimus

[2017-04-26 23:28] #1684 closed, assigned to nobody

[2017-04-26 23:35] arlimus commented on #1695
@aaronlippold Once this RFC is implemented, that's right. The line-wrapper is tricky because we do not make any expectations on the format of the description inside of `desc` calls. To that degree, a line-wrapper may provide some benefits but it also may cause some problems.
However, since you are directly passing things into `Inspec::Control` objects, it should be very feasible to wrap this befor

[2017-04-27 11:55] chris-rock commented on #1704
@tejas-shah Thank your for providing the error cases. Can you please verify that those errors still happen with the latest InSpec version?

[2017-04-27 11:57] chris-rock commented on #1701
I like that approach. Then we can throw a proper exception and say, this executable is missing.

[2017-04-27 11:59] chris-rock commented on #1697
Indeed, `processes` is not working on Windows. See https://github.com/chef/inspec/blob/master/lib/resources/processes.rb. It is definitely a bug that this is not raised in that specific resource. Windows support would be an enhancement.

[2017-04-27 16:05] adamleff opened #1728 "Remove deprecations for InSpec 2.0"
This issue will serve as a checklist of items we need to remove from the codebase as part of the InSpec 2.0 release. Since these are currently deprecations, they will become expected errors, etc. with InSpec 2.0. Therefore, these should not be removed until right before the 2.0 release.

InSpec core:

- [x] #1723: `assignment_re` and `key_vals` config keys
- [x] #2339: remove exec `--cache` flag
-

[2017-04-27 17:02] sarahbakal opened #1729 "xinetd.rb `read_content': undefined method `empty?' for nil:NilClass"
Sample of the controls:
[code]
Error:
[code]

[2017-04-27 17:04] sarahbakal commented on #1729
Running against a RHEL 7.3 box

[2017-04-27 21:22] svanzoest opened #1732 "freebsd service from /usr/local/etc/rc.d is not detected"
### Description

The apache2 cookbook installs the `apache24` package which deploys scripts in `/usr/local/etc/rc.d/` to install and enable a service. This location for rc scripts does not seem to be supported by inspec. See https://github.com/sous-chefs/apache2/issues/477

### InSpec and Platform Version

ChefDK 1.3.40 against FreeBSD 10.3
- kitchen-inspec-0.17.0
- inspec-1.19.1

### Replication

[2017-04-27 22:19] chris-rock commented on #1702
Thank you for raising that issue @anweiss Lets assume you have 3 profiles: `tertiaryProfile`, `profileA` and `profileB`.

Essentially you want to execute `profileB` and you expect that all controls from `profileA` and `tertiaryProfile` are executed. Internally the dependency is as following:

`profileB` -> `profileA` -> `tertiaryProfile`

Now, `profileA` looks as following and includes all control

[2017-04-28 08:26] arlimus commented on #1695
Aggregation from comments above:

## Solution

* Users can specify multiple description fields with types attached:
[code]

* Descriptions are kept as a hash-map internally (not exposed)

* All `desc` fields will have keys that are strings, to prevent unexpected behavior. Users may define keys via
[code]

    which is internally converted into:

[code]

* When working with `Inspec::Control` you ac

[2017-04-28 09:43] arlimus commented on #384
Already supported, tested with v1.21:

[code]

[2017-04-28 09:43] #384 closed, assigned to nobody

[2017-04-28 09:54] arlimus commented on #1728
Thank you for keeping track of this @adamleff !!

[2017-04-28 09:57] arlimus commented on #1728
Added a few more.

[2017-04-28 10:07] arlimus commented on #1728
Some of these might be old and we can use create discussion threads if needed :)

[2017-04-28 11:26] adamleff commented on #1695
I feel like I'm going to be the primary dissenter here, but I'm kind of against overloading the `desc` field, though I totally see why users would want this.

Any way I could convince you to consider a new field that only takes keys/values? We could call it `details` or `additional_info`. Added bonus: it would be backward compatible and we wouldn't have to worry about training people to look for a

[2017-04-28 11:52] chris-rock commented on #1695
@arlimus I am going to prefer `descriptions` in our json output, since it highlights very clear the intention. Also I would prefer to go with option 2, therefore we keep the default description in `desc` and `descriptions` for all additional descriptions.

@adamleff the discussion is only about the internal json representation. Nothing changes for the user:
[code]
will still work. An alternative i

[2017-04-28 11:55] arlimus commented on #1695
Interesting idea @adamleff . If we were to go with a `details` field, is this what you had in mind?

[code]

(I picked `details` from your proposal as it's shorter than `additional_info`; I like it :) )

You probably have a point with many InSpec users probably not actively using it (at least right away). We will probably see a lot of use in the federal space, where this is used extensively. Actua

[2017-04-28 11:58] arlimus commented on #1695
@chris-rock I think Adam meant to suggest a different syntax, see ^^ :)

Thank you for your input on the JSON, that sounds great!!

[2017-04-28 12:22] adamleff commented on #1695
@arlimus is correct, I'm advocating for a new keyword called `details` to fill this need rather than using `desc` if possible. I think there's value in keeping a single top-level description field present without overloading it to support "additional descriptions" (for lack of a better term). We could keep the existing `desc` field in the JSON just the way it is and introduce a new hash of additio

[2017-04-28 12:35] arlimus commented on #1695
Just a tiny tiny comment, about the hash of additiona fields in the JSON output: I'd love to stick to
[code]
over
[code]
in the JSON. It has to do with integrations and the JSON schema 😉  (I probably just misread it in the comments...)

Also agree that `desc` + `descriptions` in the interim JSON is confusing. We would remove `desc` in that scenario form the JSON after the next major bump, removing

[2017-04-28 12:45] adamleff commented on #1695
@chris-rock and I just chatted, I made my case, and he is going to think about it.

@arlimus I'd actually advocate for:

[code]

While I know it helps make the schema easier, I think it's harder to work with if I'm looking for specific data. If I was consuming the JSON and wanted to pull out the "rationale" details, it's way easier (and faster) to just grab the "rationale" key from the "details" h

[2017-04-28 12:46] adamleff commented on #1695
@arlimus re: future removal of the `desc` field, I still think that's a bad idea even if it alleviates the technical concern. Having to teach users that an unkeyed "desc" can be found in the "descriptions" "default" key feels like a UX that can be confusing, and I think it dilutes the value of the top-level description of the control.

Thinking from a user's perspective who isn't using keyed descr

[2017-04-28 13:29] arlimus commented on #1695
@adamleff Just on the Hash vs Array discussion:
I didn't have a strong preference until we released InSpec 1.0. The reason that back then we decided to change from a Hash-model to Arrays has been:

* Schema support
* Integration with platforms (e.g. Elasticsearch) and certain Frameworks

That said I agree that Hashes carry an nice advantage, namely the "faster" access to values (i.e. `fields.key`

[2017-04-28 13:37] arlimus commented on #1695
@adamleff Good points on the confusions for https://github.com/chef/inspec/issues/1695#issuecomment-297988774 thank you for sharing!
I'll add a few real-life examples that use your schema here so we can see what this options leads to.

[2017-04-28 14:17] anweiss commented on #1702
Worked great! Thanks! I confused myself on `require_controls` vs `include_controls`.

[2017-04-28 14:17] #1702 closed, assigned to nobody

[2017-04-28 14:49] anweiss commented on #1237
Any updates on this? Particularly when needing to reference multiple profiles in a Git repo?

[2017-04-28 16:11] aaronlippold opened #1738 "Issue with --shell-options"
### Description

I am trying to run inspec tests on a remote host logging in as the vagrant user then asking inspec to sudo su - postgres via the --bash and --shell-options command line options. This does not seem to be working as expected.

My end goal is to be able to also put this in my .kitchen.yml file as well - which means kitchen-inspec and perhaps train will have to be tweaked as well.

##

[2017-04-28 16:49] sarahbakal opened #1740 "inspec.yml supports: release wildcards/comparisons"
We're trying to cover multiple "release" values without having to specify the exact release values when there are more than one.

RHEL 6 ends up looking like this:
supports:
  - os-family: redhat
    release: 6.4
  - os-family: redhat
    release: 6.5
  - os-family: redhat
    release: 6.6
  - os-family: redhat
    release: 6.7
  - os-family: redhat
    release: 6.8
  - os-family: redhat
    relea

[2017-04-28 17:20] aaronlippold commented on #1346
@chris-rock did this ever get started by the way?

[2017-04-29 00:49] TheLonelyGhost opened #1743 "Limited Windows ACL support for "Read""
### Description

I see that the `file` resource (and `directory`, and so on) has some support for if a file has read, write, and executable permissions for a given user. Windows ACL may slightly overlap with unix ACL, but has more granularity.

In the current implementation (935850a5b12f2590a79add4b8f311138297537b7 is the HEAD of `master`), the following would test if the file is able to be read:

[2017-04-29 17:31] aaronlippold commented on #1738
@arlimus @chris-rock @adamleff @atomic111 @drensby @sharmay @jasonodonnell @dmd890

This is actually a blocking issue given that the postgres stig check controls require that you execute the tests as the 'pg_owner' process owner - usually this is the 'postgres' user.

The larger issue which I don't feel we have common agreement on for a way ahead is:

The default permissions causes issues with the

[2017-04-30 12:27] aaronlippold commented on #719
One thing i forgot to add on this was:

I believe that the command line `attr-var` and `attr-vars` should overide the `--attrs=` file values. Second, the `--attrs=` would have precedence over the values in the profile files themselves.

So it would be a FILO with the flow: rb file attribs load, then command line --attrs file, then CLI values. The override case would be that we could have a `force`

[2017-04-30 12:30] aaronlippold commented on #1738
Sorry now ^^^^ comment makes more sense

[2017-05-01 02:50] aaronlippold commented on #1615
@chris-rock @arlimus Any updates on this enhancement? I will be starting my work with the NGINIX team soon - i.e. within the next week or so. Thanks. Aaron

[2017-05-01 15:56] sarahbakal commented on #1024
Use case:
We're attempting to output the audit results from inspec exec to send to our external auditors. sending to text file appends the color tags and makes it difficult to read.

[2017-05-01 20:39] adamleff commented on #1729
I have been able to reproduce this by running InSpec as a non-root user and without sudo privileges. `file.content` when reading `/etc/xinetd.conf` will return `nil` instead of an empty string and then we'll try and call `#empty?` on it.

I'll put up a PR to fix this.

[2017-05-01 21:00] adamleff commented on #1729
PR #1746 opened to correct this issue.

[2017-05-02 08:54] madAndroid commented on #1700
We're also experiencing the same in Jenkins:

![validate-ami__2_console__jenkins_](https://cloud.githubusercontent.com/assets/1321437/25610982/a2bb11ee-2f25-11e7-84ec-5b9f9af0600f.jpg)

[2017-05-02 09:43] #1729 closed, assigned to nobody

[2017-05-02 11:26] #1690 closed, assigned to adamleff

[2017-05-02 13:12] Happycoil commented on #1218
@chris-rock thoughts on extending `groups` with `members` (string array with the names of member users and groups)?

[2017-05-02 14:10] chris-rock commented on #1218
@Happycoil makes sense. I like `members`

[2017-05-02 20:07] #1024 closed, assigned to nobody

[2017-05-02 20:47] polobo opened #1752 "Improve 'Test Summary" Coloring; especially "0 Failures" being in Red"
I suspect the following behavior is inherited but here's a complaint anyway...I'll be happy to post an issue elsewhere if you can give me a hint as to where.

`Test Summary: 1 successful, 0 failures, 0 skipped`

The above output, when in color, is alarming. The 0 failures show up as a nice bright red (using bash shell on Windows 10 presently).

Might I suggest that "0 failures" be output in grey i

[2017-05-02 21:26] hannah-radish commented on #1752
Hi @polobo, UX designer here. That sounds like a great suggestion. Will work with our engineers on this

[2017-05-03 00:42] jkugler commented on #1439
Why not use socket, as was proposed? Then you don't have Unix/Windows branching, and have native-language tools (don't have to shell out).

[2017-05-03 11:13] kraeml commented on #722
Litle off topic.

How could you test the variable _ip_?

[2017-05-03 13:18] aaronlippold opened #1754 "add an --output option to the exec command to allow redirection of results to be in a file."
### Description

@dant had asked in the #inspec channel how to redirect output of junit format results to a file. Of course we can do this via a simple `| tee file` command or a `> file` but my first assumption was to just use the `--output` switch. Oops, not there :) and it should be.

[2017-05-03 15:24] adamleff commented on #1439
@jkugler InSpec has to work for local executions as well as remote. We have no guarantee that the remote system will have Ruby on it, nor does InSpec install anything in order to perform its scans. Doing an inline script to ruby using socket may be an option, but like all the other proposed options, it may not be available.

[2017-05-03 19:42] arlimus commented on #1738
@aaronlippold I would recommend you run these options in InSpec instead:

[code]

Thank you for submitting the bug for the other issue, we will look into it!

[2017-05-03 20:11] #1396 closed, assigned to arlimus

[2017-05-03 22:16] chris-rock opened #1756 "Skip tests if profile is not supported instead of throwing an exception"
### Description

Run a profile that is not supported, eg.
[code]

This is causing issues in audit cookbook, if multiple profiles are executed with the same InSpec runner.

### InSpec and Platform Version

1.20.0

### Replication Case

Run non-supported profile and supported profile via `inspec exec`

### Possible Solutions

If the profile is not supported, all test should be skipped instead.

[2017-05-03 22:22] mschuchard opened #1757 "Custom resource from documentation example does not work"
### Description

Custom resources should work in InSpec

### InSpec and Platform Version

1.2.0 RHEL6

### Replication Case

Using https://github.com/chef/inspec/blob/master/examples/profile/libraries/gordon_config.rb and test:

[code]

### Possible Solutions

Serverspec deals with this issue here:
https://github.com/mizzy/serverspec/blob/377641274f9b9d418040353d7e4a1ed01219db85/lib/serverspec/hel

[2017-05-04 01:51] aaronlippold opened #1759 "attributes.yml file values vs attribute values in .rb files"
### Description

I have noticed that the values in my attributes.yml file are not overriding the values of my attributes in the source controls files when I am using inspec-kitchen. I have not validated this on the command line yet but have we documented and validated the order of precedence - which values are supported to win?

[2017-05-04 02:09] aaronlippold commented on #1672
RRF: @adamleff @arlimus @chris-rock @atomic111 ( i.e. contributors to the db resources ) - am I off the mark here?

All those are valid examples, the general question in my mind is, if we say that we want users to use plain SQL to accomplish this we are diverging from the work pattern of resources. If would be like saying we just want to use the command resource for pretty much everything.

We hav

[2017-05-04 11:39] adamleff commented on #1759
I'm not following, @aaronlippold. Can you give a specific example with both your attributes.yml and your .kitchen.yml files, with the appropriate values redacted if necessary?

[2017-05-04 11:47] adamleff commented on #1672
@aaronlippold speaking for me only and not my fellow maintainers, I'm going to err on using the right tool for the right job. All the resources you mentioned in your examples were created because there was a use case for getting the data in question, parsing it, and retrieving a specific value because of a need. If there was a UNIX/Linux command that solely returned the UID for a given user in /et

[2017-05-04 12:04] adamleff commented on #1757
@mschuchard Thanks for submitting this issue.

InSpec v1.2.0 is quite old, indeed. Could you please try to reproduce this issue on a later version such as 1.20.0 or later? I have a number of profiles that use custom resources that are working without issue.

If you're still having problems after upgrading, please supply a gist of the exact custom resource and a control using that resource (redacti

[2017-05-04 12:16] mschuchard commented on #1757
Right, I missed the `0` somehow in the minor version and thought it was 1.20.0 even though it is 1.2.0, which would be "not that old". I will upgrade today to 1.22.0 and see what happens.

[2017-05-04 12:55] Azaroths opened #1762 "Can I execute inspec test on local and on containers ine the same script ?"
Hello,

I would like to know if it's possible to execute an inspec test on local and on containers ine the same script ?

Regards,

Azaroths

[2017-05-04 12:59] chris-rock commented on #1762
@Azaroths Could you please explain the use case?

[2017-05-04 13:11] Azaroths commented on #1762
I have to test commands in local and command on containers
I have a shell script who start script on containers but I would like this script executes test on local server too

[code]

is it possible to execute test in the same script shell directly like this ->

[code]

[2017-05-04 13:18] timusmc96 opened #1763 "<Zlib::DataError: invalid distance too far back> windows server running audit"
### Description

running audit against windows server for one that uses depend on another inherit control

### InSpec and Platform Version

1.20.

### Replication Case

Tell us what steps to take to replicate your problem.  See [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)
for information on how to create a good replication case.

### Possible Sol

[2017-05-04 16:04] mschuchard commented on #1757
Issue still exists in 1.22. Is this maybe a problem with the documentation instead that the verbatim example is not working?

[2017-05-04 16:24] adamleff commented on #1757
@mschuchard I'm afraid I'm unable to reproduce this.  Here's what I did:

 * create a new profile with `inspec init profile gordon_test`
 * created a `libraries/gordon_config.rb` file in my profile with the content from https://github.com/chef/inspec/blob/master/examples/profile/libraries/gordon_config.rb
 * edited the `controls/example.rb` file with the following control, using the exact `describ

[2017-05-04 16:47] mschuchard commented on #1757
As you probably already guessed, it was an environment issue caused by someone. Thanks for the assistance; closing.

[2017-05-04 16:47] #1757 closed, assigned to nobody

[2017-05-04 16:53] adamleff commented on #1757
Glad you got squared away, @mschuchard. Thanks for getting back to us!

[2017-05-04 16:54] chris-rock opened #1765 "Tutorial page is available two times"
### Description

we have https://github.com/chef/inspec/blob/master/www/source/docs/tutorials.html.md and https://github.com/chef/inspec/blob/master/www/source/tutorials.html.slim which results in:

- https://www.inspec.io/tutorials/
- https://www.inspec.io/docs/tutorials/

I think https://www.inspec.io/docs/tutorials/ needs to go, since it is already outdated. This page shouldn't be linked anywhe

[2017-05-04 17:38] sntxrr commented on #1765
I think there is a bit of a subtlety here - I think we *may* want the left nav from the `/docs/tutorials/` version, AND keep the text from the `/tutorials/` version. I'll see about putting together a PR.

[2017-05-04 17:45] chris-rock commented on #1765
ah good idea!

[2017-05-04 19:07] smith opened #1769 "`github:` source not working in inspec.yml"
### Description

Using `github` in inspec.yml `depends` doesn't work.

### InSpec and Platform Version

macOS 10.12.4

InSpec 1.22.0

### Replication Case

* Create a new profile with `inspec init profile testprofile`
* Edit testprofile/inspec.yml to add:

[code]

* Run `inspec exec testprofile`

Expected behavior: profile runs
Actual behavior: inspec exits with status code 1 and:

[code]

[2017-05-04 21:58] adamleff commented on #1763
@chris-rock do you think this is related to #1715?

[2017-05-04 22:00] adamleff commented on #1738
@aaronlippold can you confirm is @arlimus's suggestion with `--sudo-options` meets your needs, pleased?

[2017-05-04 22:04] adamleff commented on #1712
@arlimus what were you thinking in terms of implementation for this one? Adding an `[edit on GitHub]` link on each resource/docs page? Or just including a blurb on the main docs index page pointing users to where we keep the docs?

[2017-05-05 16:17] anweiss commented on #1270
This also occurs when using the `chef/inspec:latest` Docker image as Git does not seemed to be added to the [Dockerfile](https://github.com/chef/inspec/blob/master/Dockerfile)

[2017-05-05 16:32] chris-rock commented on #1270
@anweiss Yes, that is correct. InSpec uses native git package. We need to add this to the Docker image.

[2017-05-05 17:30] anweiss opened #1776 "Inspec exec output not sending [DEPRECATION] messages to stderr"
### Description

When executing an `inspec exec PATH` against a profile with deprecated functionality, [DEPRECATION] messages aren't sending to stderr and instead being included with stdout.

### InSpec and Platform Version

1.23.0

### Replication Case

`inspec exec PATH`

[2017-05-05 17:40] adamleff commented on #1776
@anweiss thanks for submitting your issue!

I am unable to reproduce this. I think there may be confusion that stderr and stdout are output to your display by default. You need to either redirect stderr to /dev/null or redirect stdout to a file. Either one of these will separate stdout from stderr.

Here's how I was able to confirm this:

 * created a new profile and used deprecated functionality

[2017-05-05 17:50] anweiss commented on #1776
Thanks @adamleff. Indeed the issue was on my end as I was running within a Docker container. When I run it as follows, the [DEPRECATION] methods aren't shown:

[code]

[2017-05-05 18:04] adamleff commented on #1776
@anweiss sounds like you're squared away! I'm going to close this issue now, but do let us know if you run into problems and I'll be happy to reopen it.

[2017-05-05 18:04] #1776 closed, assigned to nobody

[2017-05-05 20:23] SteveDelFante opened #1777 "Error during profile upload"
### Description

I am trying to upload a cusotm profile from a Windows workstation to Compliance server.

Uploading to Chef Compliance
Error during profile upload:
"Failed to POST /owners/workstation-1/compliance/secureprofile_scd/tar."
C:\Users\chef>  SEE the rest below.

### InSpec and Platform Version
 inspec version 1.11.0
Windows server 2012 r2 This windows server is within the wombat/bjc clu

[2017-05-05 20:40] AnotherWorkingNerd opened #1778 "undefined method `empty?' for nil:NilClass with sshd_conf"
### Description
The resource sshd_config displays `(undefined method `empty?' for nil:NilClass)` if you don't use --sudo in the inspec command line. A more descriptive error message would much more helpful.

### InSpec and Platform Version
1.23.0 on OS X 10.10.5

### Replication Case
Using the following:
`control "con42" do
  impact 1.0
  title "verify that we are using sshd v2"
  desc "Using sshd

[2017-05-05 20:47] adamleff commented on #1778
@AnotherWorkingNerd You're totally right. Issue #1205 details the underlying problem in that we don't have a great way for individual resources to raise exceptions with helpful error messages like this. In the meantime, we shouldn't try to call a method like `#empty?` on something that could be nil, so I'll be happy to fix that.

Once we fix the ability to raise exceptions, we'll be able to provid

[2017-05-05 21:22] AnotherWorkingNerd commented on #1778
Thanks @adamleff :)

[2017-05-06 02:52] aaronlippold opened #1780 "postgres_conf resource and the --sudo option"
### Description

A small bug seems to have crept into the postgres_conf resource

### InSpec and Platform Version

1.23

### Replication Case
Use the resource with 1.23
### Possible Solutions

Looking into it now

### Stacktrace

[code]

[2017-05-06 03:06] aaronlippold commented on #1780
[code]

[2017-05-07 00:31] aaronlippold commented on #1780
[code]

[2017-05-07 12:16] rndmh3ro opened #1781 "Add "skip"-parameter to cli"
### Description

Currently there exists a `--controls` cli parameter that allows one to define a list of controls that will be run.
I'm proposing a new parameter `--skip-controls` that accepts a list of controls that will **not** be run.

This is useful if you only want to skip a few controls; then you don't have to add all controls except the ones you want to skip.
It can also be useful if you us

[2017-05-07 14:16] aaronlippold commented on #1701
The recent conversation I had in the channel - with once related to the `port` resource and `netstat` also supports this issue.

[2017-05-08 09:39] chris-rock commented on #1763
I think it is. May feeling (not confirmed) is that this happens if we have a tar in a tar on Windows. Upload and retrieval will have the same issue then. The best approach to tackle that issue is: https://github.com/chef/inspec/issues/1659

[2017-05-08 14:42] aaronlippold commented on #1759
@adamleff I believe the expected behavior if I pass inspec an --attrib=attribute.yml file that the values in the attributes.yml file will override those in the attribute definition of the control_spec.rb file correct.

control_spec.rb in the `controls` directory

[code]

attributes.yml in the `profile` tree

[code]

control_spec.rb - the value of PG_DBA should be 'stig_dba_1' however, it is 'stig_

[2017-05-08 14:55] aaronlippold commented on #1738
@adamleff I am not 100% sure yet given https://github.com/chef/inspec/issues/1780. I need to deconflict where that issue is coming from.

[2017-05-08 14:55] aaronlippold commented on #1780
The profile runs fine outside kitchen

[2017-05-08 14:56] aaronlippold commented on #1738
The profile runs fine outside kitchen

[2017-05-08 18:49] chris-rock commented on #1781
@rndmh3ro Great idea!

[2017-05-08 19:15] chris-rock opened #1783 "Prevent `/` in profile name"
### Description

Briefly describe the issue and the expected behavior

### InSpec and Platform Version

1.22.0

### Replication Case

[code]

### Possible Solutions

* Slug the name
* `inspec check` should ensure that only slugable url characters are used

[2017-05-08 19:18] AnotherWorkingNerd opened #1784 "Inspec not using linux .bashrc or .bash_profile properly"
### Description
Sorry the formatting got munged somewhere along the way.

Ok I used http://rubular.com/ to validate these regexs and of course when I try to actually them I get nowhere fast. I trying to match a version # in the form of 1.1.1.  its an env. var and it *is* set. I am using:

control "x-123" do
&nbsp;  impact 1.0
&nbsp;  title "Image Version"
&nbsp;  desc "get the value IMAGE_VERSION

[2017-05-09 09:24] stevendanna commented on #1659
I'm 👍 on always extracting.  I can't remember why we went with the mixed format originally, but I think the debug-ability of the always-extracted form is definitely worth it.

Would part of this also include changing the loading code such that all profiles were always loaded from their extracted representation?  I /think/ that would negate the need for different file_providers.

[2017-05-09 13:56] walterdolce opened #1787 "InSpec does not run *_spec.rb recursively like rspec does"
### Description

I am trying to have InSpec run `*_spec.rb` files nested in various directories. Please see image attached below.

![screen shot 2017-05-09 at 14 28 23](https://cloud.githubusercontent.com/assets/6195629/25854220/31b2a992-34c7-11e7-8aa8-47a690737167.png)

Expected behaviour: all the `*_spec.rb` files are run by InSpec
Actual behaviour: only the files coloured in blue as shown in th

[2017-05-09 14:05] chris-rock commented on #1787
InSpec has no requirement on `*.spec` instead it runs all `*.rb` files in a directory. We really need to be careful about the nested searching behavior. Any opinions @adamleff @arlimus

[2017-05-09 17:23] kidbrax opened #1788 "docker.containers.running reporting inaccurately"
`docker.containers.running?` seems to be producing unexpected results causing inspec exec to error out.  We are getting various results that are described more in depth at https://github.com/dev-sec/cis-docker-benchmark/issues/32

[2017-05-09 17:26] timusmc96 commented on #1715
Do we know of a work around or what can be done here?  Thanks

[2017-05-09 20:28] #1765 closed, assigned to nobody

[2017-05-09 23:22] SteveDelFante opened #1790 "Error during profile upload to Automate too"
### Description

I am trying to upload a cusotm profile from a Windows workstation to Automate server. This error is just like the one I opened for the Compliance server.
[code]
Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using
inspec version 1.11.0
Windows server 2012 r2 This windows server is within the wombat/bjc cluster

THE R

[2017-05-10 08:11] arlimus commented on #1661
Starting to cover work items:
* [ ] create Train-API
* [x] add train platform definition
* [x] add train platform detection
* [x] add platform keyword to Train and InSpec
* [x] add platform fields in inspec.yml (definition and check)
* [x] add supports keyword to InSpec resources (definition and check)
* [ ] add InSpec platform schema
* [x] provide platform information in JSON formatter

[2017-05-10 10:13] arlimus commented on #1658
To add a few more thoughts:

* Do not vendor "Readme.md". It is not required by a profile, it is not checked (`inspec check`), it is not included in any of our outputs. If we want to make the readme a part of the profile, we should tackle that in a separate discussion imho.
* 👍 on inspec.yml and inspec.lock
* ~👍 on including `vendor`~ (see edit1)
* The field for this checksum in the JSON of each p

[2017-05-10 11:46] stonesbg opened #1793 "registry_key failing when int value last registry node element"
### Description

Running inspec tests on sql server 2016 registry_key settings to validate that the customer experience is disabled

### InSpec and Platform Version

- Inspec -> 1.23.0
- Platform -> Windows Server 2012 R2

using Test-Kitchen to run tests

### Replication Case

1. Create a test that is accessing a HIVE with an integer value as the root 'HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microso

[2017-05-10 11:55] chris-rock commented on #1658
The first would work better in-memory for large files (which we do not have within an inspec profile). I also like the second since it avoids nested hashing. I fine with both approaches.

[2017-05-10 12:10] timusmc96 opened #1794 "inspec vendor can not find depend cis profile"
### Description
The compliance profile cis/cis-rhel7-level1 was not found on the configured compliance server

### InSpec and Platform Version

running inspec 1.23

### Replication Case

basically log into inspec compliance login_automate

inspec vendor  then get error cant find the CIS profile.    We have a custom profile that needs to include cis profile with override.

I can see all the cis pro

[2017-05-10 12:44] chris-rock commented on #1794
Note: The following answer is only valid for Chef Automate, Chef Compliance behaves differently

Chef Automate ships with a market that includes all profiles we ship, Chef Compliance made those available under `cis` namespace which is not valid for Chef Automate. Now you need to `install` all required profiles into your user namespace. The easiest way is to use the Automate Dashboard -> Compliance

[2017-05-10 12:44] chris-rock commented on #1794
Note: The following answer is only valid for Chef Automate, Chef Compliance behaves differently

Chef Automate ships with a market that includes all profiles we ship, Chef Compliance made those available under `cis` namespace which is not valid for Chef Automate. Now you need to `install` all required profiles into your user namespace. The easiest way is to use the Automate Dashboard -> Compliance

[2017-05-10 13:16] chris-rock opened #1795 "Add Chef Automate support to `inspec compliance login`"
The goal is to support Automate logins via `inspec compliance login` without requiring the existing `login_automate`.

Right now we have to different login methods for Chef Compliance and Chef Automate. We should harmonize those:

- `inspec compliance login_automate https://automate.compliance.test --insecure --user='admin' --ent='brewinc' --usertoken='%TOKEN%`
- 'inspec compliance login https://c

[2017-05-10 13:20] chris-rock commented on #1794
We identified an issue in Chef Automate and this is not related to InSpec. The profile was not available under the expected namespace.

[2017-05-10 13:20] #1794 closed, assigned to nobody

[2017-05-10 15:54] sarahbakal opened #1797 "describe package failing in newer version"
![package](https://cloud.githubusercontent.com/assets/27020176/25907996/a928c14e-356e-11e7-8b3c-444a2ce82c10.png)

### Description

running

describe package('WinZip 21.0') do
   it { should be_installed }
end

working in Inspec 1.7.1 but fails in newer 1.19.1

### InSpec and Platform Version

1.19.1

### Replication Case

verifying installed application in multiple versions. Some work but most do

[2017-05-10 22:53] rhass opened #1800 "Deleted profiles persist in cache"
### Description

/hab/svc/my-inspec-profilevar/.inspec/cache/myprofile.rb

### InSpec and Platform Version

InSpec 1.23.0 (Ref: 3a3ce30a8585ccfcfd03fde0f7a8686058d8fdf0)
Automate 0.7.277 (or later)
Habitat 0.22.0

### Replication Case

1. Create a profile with a controls file named `example.rb`
2. Build a hab package from the profile.
3. Run the hab package.
4. Update the profile by renaming `exam

[2017-05-10 23:03] rhass commented on #1800
I think this may have been a misunderstanding on my part.

[2017-05-10 23:03] #1800 closed, assigned to nobody

[2017-05-10 23:59] chris-rock commented on #1790
This works on Linux/Mac, so this must be an issue with Windows... Further investigation required

[2017-05-11 07:22] atomic111 opened #1802 "Feature Request Tomcat resource"
### Description

I implement a tomcat baseline for a customer with Regex. It would be nice to have a tomcat resource or a xml resource.

[2017-05-11 07:58] stefanandres commented on #1598
Is there any way I can try to workaround that?

[2017-05-11 08:10] #1658 closed, assigned to arlimus

[2017-05-11 13:25] aaronlippold commented on #1802
I agree, I would be happy to help with this if you want to start building
one. I also am going to start working on an NGINIX resource as well.

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Thu, May 11, 2017 at 3:22 AM, Patrick Münch <notifications@github.com>
wrote:

[2017-05-11 14:12] atomic111 commented on #1802
@aaronlippold this would also be nice to have a nginx resource. i will open an issue for this, because i implement for the same customer right now a nginx baseline with regex

[2017-05-11 14:14] atomic111 opened #1804 "Feature Request Nginx resource"
### Description

I implement for a customer right now a nginx baseline with regex, but it would be nice to also have a nginx resource.

[2017-05-11 14:15] atomic111 commented on #1804
sorry i missed #1615

[2017-05-11 14:15] #1804 closed, assigned to nobody

[2017-05-11 14:16] atomic111 commented on #1615
i need the nginx resource too. because i implemented a nginx baseline with regex stuff. but such a resource makes life easier

[2017-05-11 14:58] aaronlippold commented on #1804
Hi,

Yes I was going to take a look at pulling the work at the dev-sec nginix
work and start creating a resource. What do you think.

Aaron

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Thu, May 11, 2017 at 10:14 AM, Patrick Münch <notifications@github.com>
wrote:

[2017-05-11 14:59] aaronlippold commented on #1615
@atomic111 Cool as a start can we just steal from the libs here? https://github.com/dev-sec/nginx-baseline to create the resource?

[2017-05-11 15:55] atomic111 commented on #1804
@aaronlippold yes, good idea. i added more stuff to the customer nginx baseline. i have to push this in the dev-sec repo

[2017-05-11 15:56] atomic111 commented on #1615
@aaronlippold i agree with you. i need to push some additions to the dev-sec repo

[2017-05-11 20:31] aaronlippold commented on #1615
Great. Go ahead and either push a branch with the resource or add me to
your repo and I'm happy to help.

On May 11, 2017 11:56, "Patrick Münch" <notifications@github.com> wrote:

[2017-05-12 13:31] adamleff opened #1810 "Inherited controls listed in multiple profiles in JSON formatter output"
### Description

When a profile `include_controls` from another profile, the included controls are listed in both the original and the including profile in the JSON formatter output.

### InSpec and Platform Version

InSpec 1.24.0, CentOS 7 and macOS

### Replication Case

Given this profile:

[code]

... which is `depend`ed on as "inherited" in a profile with this control file:

[code]

... `inhe

[2017-05-12 13:58] aaronlippold commented on #1804
Did you get a chance to push the new stuff to the nginx code in dev-sec?

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Thu, May 11, 2017 at 11:55 AM, Patrick Münch <notifications@github.com>
wrote:

[2017-05-12 15:18] jamietanna opened #1811 "Feature Request: Add ability to determine whether a user is locked"
Being able to check whether i.e.

[code]

Would be useful, and help ensure that certain accounts cannot be logged into.

[2017-05-12 21:35] aaronlippold commented on #1738
@adamleff @arlimus  no, there seems to be a bug somewhere, which seems to trigger when I pass the --sudo option in.

[code]

[2017-05-13 03:56] hannah-radish opened #1813 "InSpec.io Walkthrough Tutorial"
Hannah needs to finally build this..

[2017-05-13 22:27] aaronlippold commented on #1780
@chris-rock @arlimus This error seems to happen when the `postgres_conf` resource is activated with the --sudo option. Could this actually be linked to something in the CLI?

[2017-05-14 01:13] aaronlippold opened #1814 "postgres_session escaped_query has issues with SQL that has ( ) in it."
### Description
The following seems to cause issues with the escaped_query string in postgres_session - I believe because of the (' and ').

[code]
[code]

However, if I bypass the escaping function and use the command resource directly:

[code]

It works just fine - leading me to the untested assumption that the escaped_query function just doesn't handle this special case correctly.

I wonder if

[2017-05-15 08:27] atomic111 commented on #1804
@aaronlippold no sorry

[2017-05-15 09:55] chris-rock commented on #1189
done with https://www.inspec.io/ now

[2017-05-15 09:55] #1189 closed, assigned to arlimus

[2017-05-15 14:34] aaronlippold commented on #1804
OK. If you could push it or just tarball it up and email it over. I would
like to let my teams use it as a reference.

Aaron

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Mon, May 15, 2017 at 4:27 AM, Patrick Münch <notifications@github.com>
wrote:

[2017-05-15 16:44] trickyearlobe opened #1815 "Test for installed Hotfixes (Windows)"
### Feature description

It would be helpful to have  resource which could check which Windows patches/hotfixes have been applied to the OS.

In some cases Microsoft publish the same patch with different hotfix ID's

A good example is the set of hotfixes released by Microsoft to combat the recent "WannaCry" ransomware that exploits MS17-010. The patch is available under the following hotfix ID's

[2017-05-15 16:45] chris-rock commented on #1815
For now, have a look at https://github.com/dev-sec/windows-patch-baseline

[2017-05-16 13:32] chris-rock opened #1817 "Should control ids allow slug url characters only?"
### Description

Currently `control ids` are simple strings. Therefore the following is valid InSpec:

[code]

I am not fan of allowing non-sluggable characters in control ids (https://en.wikipedia.org/wiki/Semantic_URL#Slug)

### Possible solution

* add a warning to `inspec check`

### InSpec and Platform Version

latest

[2017-05-16 13:37] adamleff commented on #1817
Is there a technical reason to prevent non-sluggable characters?

I'm inclined to agree with you as long as we:

 * document what's allowed
 * add the `inspec check` warning, and deprecate it
 * enforce it in the next major bump

But I'm curious as to your reasoning. :)

[2017-05-16 16:42] walterdolce opened #1818 "apache_conf resource wraps parsed directives in a list"
### Description

The `apache_conf` runs verifications against a list, not a string. Also the docs don't currently mention this.

### InSpec and Platform Version
`0.18.0`, `debian/jessie64`

### Replication Case

[code]

### Possible Solutions
Either InSpec's behaviour or the docs need correcting.

### Stacktrace
[code]

[2017-05-17 10:16] Bhanukiran117 opened #1821 "Inspec oracledb_session resource not connecting to the database."
### Description

I am using oracledb_session resource in test cases, its not connecting to the database since its using wrong connection string.

### InSpec and Platform Version

[oracle@xx~]$ inspec version
WARN: Unresolved specs during Gem::Specification.reset:
      rake (>= 0)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
1.24.0

### Replication Case

descri

[2017-05-17 15:09] chris-rock opened #1823 "inspec json does not include information about generator"
### Description

When I run inspec json, we do not include the inspec version that it was generated with. We should do return the same information about inspec as in inspec reports

### InSpec and Platform Version

1.24.0

### Replication Case

`inspec json /path/to/profile`

[2017-05-17 18:06] adamleff opened #1825 "Unique exit code for control/profile failures"
I'd like to be able to differentiate between a "failed InSpec run" (where InSpec failed to execute profiles due to a Ruby issue, SSL issue fetching a profile, etc.) and a "successful InSpec run that encountered a profile/control failure". This will allow tools like the habitat profile creator to present more useful error messages to the user without parsing JSON.

Proposal:
 * 0: successful run, n

[2017-05-17 18:09] elliott-davis commented on #1825
![tenor-91893169](https://cloud.githubusercontent.com/assets/1130349/26169099/1b24d790-3b02-11e7-9b2a-e7f9756e5ea9.gif)

[2017-05-18 06:57] humhumdurr opened #1828 ""-type f -maxdepth 1" should be "-maxdepth 1 -type f""
this is a bug:
instead of:

-type f -maxdepth 1

in /opt/inspec/embedded/lib/ruby/gems/2.3.0/gems/inspec-1.20.0/lib/resources/interface.rb
https://github.com/chef/inspec/blob/master/lib/resources/interface.rb

it should be:

-maxdepth 1 -type f

because of:
find: warning: you have specified the -maxdepth option after a non-option argument -type, but options are not positional (-maxdepth affects te

[2017-05-18 07:01] humhumdurr opened #1829 "interface documentation issue, missing argument"
joshbarker
8:41 AM
Hi guys, looks like the documentation for the interface resources needs an update (https://www.inspec.io/docs/reference/resources/interface/). It doesn't show that you need to pass a network device to the interface resource.Current looks like:

describe interface do
  it { should be_up }
  its('speed') { should eq 1000 }
  its('name') { should eq eth0 }
end

Compared to:

descri

[2017-05-18 07:07] humhumdurr opened #1830 ""address" is mentioned in the doc, but not implemented"
The interface resource documentation:

https://www.inspec.io/docs/reference/resources/interface/

mentions "address", but in reality it isn't implemented yet!

Can you please implement it, with other basic checks, like: netmask?

Thanks.

[2017-05-18 07:11] humhumdurr opened #1831 "Missing "df" resource"
Although there is a mount resource:
https://www.inspec.io/docs/reference/resources/mount/
which is great, but if the filesystem size needs to be checked, we would require a "df" like solution, since doing it by bash isn't the best:

  describe command('echo "scale=1;$(/usr/bin/df -m /boot --output=size | sed "/blocks/d; s/ *//g")/1024" | /usr/bin/bc | sed "s/^\./0\./g"') do
   its('stdout') { shou

[2017-05-18 13:13] aaronlippold commented on #1821
@Bhanukiran117 given our work, this should resolve the issue, https://github.com/chef/inspec/pull/1827. Could you pull the branch and test it on your side given you have all the oracle resources setup already. If there are any issues, please put them on the PR conversation and I will resolve.

[2017-05-18 19:27] adamleff commented on #1830
@humhumdurr Thanks for the issue! I put up PR #1833 to correct the docs for now, and we'll leave this issue open as a feature request to add address and netmask when cycles permit. PRs also welcome 🙂

[2017-05-18 19:29] adamleff commented on #1829
PR #1833 opened to address this :) Thanks!

[2017-05-18 19:29] #1829 closed, assigned to nobody

[2017-05-18 23:33] ghost commented on #4495
any thoughts?

[2017-05-19 01:17] maoe opened #1834 "Upstart is_enabled check on Trusty doesn't take into account the Chef's workaround"
### Description

Chef's `Upstart` service provider disables a service by [commenting out the line](https://github.com/chef/chef/blob/a2890be2422453dee593ffb1f5eb6a49271c83be/lib/chef/provider/service/upstart.rb#L234-L239) of `start on` in the upstart file.

InSpec, on the other hand, uses `initctl show-config` to check if a service is enabled if the version of `initctl` is greater than 1.3.

The p

[2017-05-19 14:04] timusmc96 commented on #1763
Chris I also think this is still issue with windows.   So hopefully this one is also on the plate

[2017-05-19 19:11] grv87 opened #1836 "Use SPDX license identifiers"
Currently (as of 1.25.0) `inspec check` doesn't check `license` field in profile.

I propose to use [SPDX](https://spdx.org/licenses/) license identifiers, e.g. `Apache-2.0`. They are used by another Chef tool - Foodcritic.
This would give a more convenient way to handle licenses programmatically.

So, `inspec check` could check that profile has `license` field with SPDX standardized license ident

[2017-05-19 21:31] grv87 opened #1837 "Mac OS X support for os resource"
Maybe I miss something but how could I test for Mac OS X?
There are `os.windows?` and `os.linux?` but no `os.mac_os_x?`.

Inspec 1.25.0

[2017-05-19 21:34] adamleff commented on #1837
@grv87 You can use `os.darwin?`

[code]

[2017-05-19 21:34] #1837 closed, assigned to nobody

[2017-05-19 22:17] grv87 opened #1839 "Command resource with path doesn't exist under Windows"
Under Windows `command` resource doesn't exist if command has path:
[code]
[code]

Under Linux the behavior is different:
[code]
[code]
Inspec 1.25.0

[2017-05-19 23:01] grv87 commented on #1839
Workaround: use `file` resource

[2017-05-19 23:36] timusmc96 opened #1840 "inspec 1.25.0 compliance_profile_name': undefined method `is_automate_server_pre_080' for Compliance::API:Class (NoMethodError)"
### Description

C:/opscode/chefdk/embedded/lib/ruby/gems/2.3.0/gems/inspec-1.25.0/lib/bundles/inspec-compliance/target.rb:84:in `compliance_profile_name': undefined method `is_automate_server_pre_080' for Compliance::API:Class (NoMethodError)
Did you mean?  is_automate_server_pre_080?

### InSpec and Platform Version

1.25.0

### Replication Case
run inspec vendor --overwrite logged into chef aut

[2017-05-19 23:40] cheeseplus commented on #1840
Almost entirely sure it's just a missing `?` on https://github.com/chef/inspec/blob/3140eeae358ba8e1a0a026960453dcbdb156b4ca/lib/bundles/inspec-compliance/target.rb#L83

[2017-05-20 01:38] adamleff commented on #1840
@timusmc96 thanks so much for raising this issue, and we apologize for letting this one slip through. This is fixed in #1841 and released as InSpec v1.25.1.

Thanks again, and have a great weekend.

[2017-05-20 01:38] #1840 closed, assigned to nobody

[2017-05-22 06:40] humhumdurr opened #1843 "Missing filesystem size check for InSpec"
I need to check that the stdout output is >=32000
just want to check a filesystem size
that it is at least 32000 MBytes big
so far I got:

 describe command('/usr/bin/df -m / --output=size |  sed "/blocks/d; s/ *//g"') do
  its('stdout').to_i { should be >= 32000 }
 end

but the ".to.i" gives error: /opt/inspec/embedded/lib/ruby/gems/2.3.0/gems/rspec-core-3.5.4/lib/rspec/core/example_group.rb:732:

[2017-05-22 12:51] aaronlippold commented on #1843
[code]
[code]

[2017-05-24 14:33] arlimus commented on #1843
@humhumdurr There was a tiny bug with the way that `to_i` was attached. If you look at @aaronlippold 's example you can see that he pulled it in. You can also write:

[code]

It abstracts the `to_i` via the wonderful `cmp` operator, which does the heavy-lifting for you.

[2017-05-24 14:34] arlimus commented on #1843
Leaving this open and moving to resources request.

[2017-05-24 14:36] arlimus commented on #1843
Actually closing as a duplicate / follow-up to your other request: https://github.com/chef/inspec/issues/1831

[2017-05-24 14:36] #1843 closed, assigned to nobody

[2017-05-24 15:27] walterdolce opened #1846 "InSpec ini resource won't parse dotted parameters"
### Description

InSpec does not parse parameters in ini files formatted like so:
[code]

With the following spec:
[code]

It will always return the following:
[code]

This is because the `ini` resource implementation is [breaking the contract](https://github.com/chef/inspec/blob/master/lib/resources/ini.rb#L17-L19) with the [underlying class implementation](https://github.com/chef/inspec/blob/mas

[2017-05-24 15:32] tpmullan opened #1847 "Issue uploading profile to automate"
### Description

Inspec fails to upload to the Chef Automate server:

[code]
And I believe this issue has been reported, which is why I tried to update inspec.  I feel it is worth mentioning since it somehow became the default version in chefdk.

[code]
### InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are u

[2017-05-24 15:32] walterdolce commented on #1846
Hmm. By looking at InSpec's tests and after trying it works this way:
[code]

Which makes this issue invalid. Will close it but the docs should reflect this otherwise you might get more of those in the future :)

[2017-05-24 15:32] #1846 closed, assigned to nobody

[2017-05-24 19:06] callen-IO commented on #1788
This is affecting inspec tests that use the docker_container resource as well:

[code]

When running the raw shell commands from https://github.com/chef/inspec/blob/master/lib/resources/docker.rb and https://github.com/chef/inspec/blob/master/lib/resources/docker_container.rb this is what happens:

[code]

[code]

[code]

Doing a ```docker inspect <container-name>``` will verify that all three tes

[2017-05-25 15:34] timusmc96 commented on #1763
@chris-rock lets catch up early next week if we could.  Thanks

[2017-05-25 16:50] jeffbyrnes commented on #1461
I don’t recall when it was intro’d, but there’s now a [`crontab`](https://www.inspec.io/docs/reference/resources/crontab/) resource. It only checks the system & user crontabs, not anything in `/etc/cron.d` but it’s a start!

[2017-05-25 17:33] timusmc96 opened #1848 "Using Automate - `compliance_profile_name': undefined method `[]' for nil:NilClass (NoMethodError) seeing 1.25.1 Inspec"
### Description

 /opt/chefdk/embedded/bin/inspec vendor --overwrite
/root/.chefdk/gem/ruby/2.3.0/gems/inspec-1.25.1/lib/bundles/inspec-compliance/target.rb:90:in `compliance_profile_name': undefined method `[]' for nil:NilClass (NoMethodError)
        from /root/.chefdk/gem/ruby/2.3.0/gems/inspec-1.25.1/lib/bundles/inspec-compliance/target.rb:69:in `resolved_source'
        from /root/.chefdk/gem

[2017-05-25 17:54] tpmullan commented on #1847
A possible workaround for inspec 1.25.1 is to change lib/bundles/inspec-compliance/api.rb:206 .empty? to check .nil? first to make sure there is something there.  I found that when I was logged in with an older version the key was nil instead of an empty string.

I also found that if I signed out of compliance with inspec 1.25.1 and signed in again it would sometimes work and other times present a

[2017-05-25 18:22] adamleff commented on #1848
@timusmc96 Thanks for submitting this issue.

I'm unable to reproduce this so I think this possibly has something to do with your configuration. Would you please provide the contents of your `~/.inspec/compliance/config.json` file? Please redact your token, but please do not do a full redaction of your `server` key -- redact the hostname if needed, but I suspect something with your server entry is

[2017-05-25 18:52] timusmc96 commented on #1848
{"user":"comp_user","server":"https://citauto/compliance/profiles","automate":{"ent":"company_automate_dev","token_type
":"usertoken"},"server_type":"automate","insecure":true,"token":"","version":{}}

[2017-05-25 19:35] adamleff commented on #1839
Started looking at this. The `command` resource calls `where.exe` which doesn't take a full path - it searches in the current directory and in PATH.

One option would be to split `C:\Windows\System32\cscript.exe` into `C:\Windows\System32` and `cscript.exe` and then call `where.exe /R C:\Windows\System32 cscript.exe`

Unfortunately, we cannot use `Pathname` since we could be running InSpec on a Li

[2017-05-25 20:05] adamleff commented on #1839
Excited to state that community member @username-is-already-taken2 is working on a PR for this right now as part of the ChefConf 2017 hack day!

[2017-05-25 20:25] username-is-already-taken2 commented on #1581
Hi there

I don't know if you can query for the installation state of Roles? Do you have an powershell example?

I have to explictly check for each feature

[code]

[2017-05-26 19:04] adamleff commented on #1848
@timusmc96 That server entry looks suspicious to me. Can you remove `/profiles` from that entry so that it's just `https://citauto/compliance` and confirm if that fixes the issue or not?

[2017-05-26 19:11] adamleff commented on #1848
@timusmc96 if that doesn't correct issue, can you please try to login again to refresh your config? `inspec compliance login` if using Chef Compliance, or `inspec compliance login_automate` if using Chef Automate.

[2017-05-26 22:24] #1848 closed, assigned to nobody

[2017-05-27 23:35] #1738 closed, assigned to nobody

[2017-05-27 23:35] #1780 closed, assigned to nobody

[2017-05-28 14:35] #1571 closed, assigned to nobody

[2017-05-29 14:22] alexanderBendo opened #1855 "docker_container: running matcher does not work by name with linked containers"
### Description

If containers are linked the `running` test will fail for the linked container.

### InSpec and Platform Version

debian stretch
inspec 1.25 (from ChefDK 1.4.3)

### Replication Case

`docker run -d --rm --name c1 centos:7 yes`
`docker run -d --rm --name c2 --link c1:container1 centos:7 yes`

[code]

### Possible Solutions

The test fails because in `lib/resources/docker_container

[2017-05-29 19:57] #1582 closed, assigned to nobody

[2017-05-29 21:02] chris-rock commented on #1825
That is a great idea @adamleff

[2017-05-30 16:03] arlimus commented on #1473
Another error in the same category discovered by @billmeyer

[code]

[2017-05-30 16:18] ephracis opened #1862 "Cannot use http resource with custom certificate"
### Description

We have a web server with HTTPS using a custom CA. When we run

    describe http('https://example.com') do
      its(:status) { should eq 200 }
    end

We get the following

### InSpec and Platform Version

InSpec: 1.25.1
OS: CentOS 7.3

### Replication Case

Set up a web server using a certificate that is either self signed or signed by a CA that Ruby does not trust by default.

[2017-05-30 16:27] smith commented on #1862
You can ignore SSL verification with:

[code]

This is not currently documented on https://www.inspec.io/docs/reference/resources/http/ and needs to be added.

[2017-05-30 16:35] smith commented on #1862
Added docs for this in #1864.

[2017-05-30 16:35] #1862 closed, assigned to nobody

[2017-05-30 18:07] kplimack opened #1867 "'processes' partial matches the first process in canonical order"
### Description

I'm trying to check the state of a process, but InSpec is picking the wrong process to inspect (because specinfra decided to use `ps -C` (facepalm)).

[code]

### InSpec and Platform Version

[code]
Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using

### Replication Case

run multiple process that share a common st

[2017-05-30 20:00] arlimus opened #1868 "Should, Must, Could, Would, Shall, Shalt, ... and friends"
Introduce alternative keywords for tests: We have been using this due the foundation on Ruby/RSpec, but actually if you read: https://tools.ietf.org/html/rfc2119

Then you `should` use `must` for tests instead of `should`, soft requirement for us.
You `must` use `must` for tests instead of `should` if we see it closely to the RFC

Also:

[code]

[2017-05-30 21:16] aaronlippold commented on #1868
{ shall_not exist }

[2017-05-30 23:13] #1473 closed, assigned to arlimus

[2017-05-31 00:41] AnotherWorkingNerd opened #1872 "request for additional information in JSON statistics array"
### Description

This is a request for additional data be added to the JSON output. When using the command
 `inspec exec test.rb -t ssh://someuser@example.com` you get the following lines at the end of the stdout:
[code]
However if you use the command like `inspec exec test.rb --format=json -t ssh://someuser@example.com` the json output contains a statistics array that contains a single element _d

[2017-05-31 04:26] chris-rock commented on #1872
@AnotherWorkingNerd Thank you for bring this question up. Could you tell us a little bit more about your use case? Why do you need those stats added, since they can be easily computed from the result set?

[2017-05-31 15:50] username-is-already-taken2 opened #1876 "339 rubocop offenses what am I doing wrong ?"
### Description

Hi @adamleff I don't know if you remember me from the chefconf hackday, on the day I was the one with windows laptop.

I shared with you that I wasn't able to get a clean `rake lint`, I know it ran fine on your mac and we chalked it up to a windows thing :)

The trouble is I'm not able to get a clean pass on either redhat or ubuntu, so clearly I'm doing something wrong :)

So I wo

[2017-05-31 16:46] wilshire461 opened #1877 "Inspec exec Could not parse PKey: no start line on keys that have been added to ssh-agent"
### Description

When using Inspec exec to ssh to another machine with a passphrase ssh-key, it always fails with the message

[code]

This happens regardless of either adding the ssh-key to ssh-agent, or passing the key with the -i flag pointing at the private key file.

The same key is used for passwordless ssh access to our entire cluster and is working without issue..

[code]

### InSpec and P

[2017-05-31 18:28] #1836 closed, assigned to chris-rock

[2017-05-31 18:35] #1828 closed, assigned to chris-rock

[2017-05-31 19:22] adamleff commented on #1868
This is a potentially interesting (and possibly divisive!) conversation topic.

Even if we choose not to use RSpec under the covers in the future, keeping with the same syntax will continue to help existing Rubyists adopt the tool. So diverging from what `should` or `expects` could be confusing.

Also, if we take this RFC-of-RFCs to exact interpretation, does `should` get eliminated outright? We r

[2017-05-31 19:47] adamleff commented on #1872
I'm 👍  on this... anything to make it easier for users to consume the JSON payload is great. Even though it can be calculated, having us calculate it and return it in a "summary" section or similar makes it that much easier. Many of my favorite APIs do this rather than shifting the onus onto the receiver.

Down the line, when we make the CLI formatter based off of the JSON formatter, we'd need to

[2017-05-31 19:57] adamleff commented on #1876
@username-is-already-taken2 of course I remember you :)

I'm honestly not sure what's going on, but I have to imagine it's your ruby environment.

Here are the steps I did... similar to yours but I skipped a few:

 * spun up a bento/ubuntu16.04 VM
 * Installed ChefDK
 * `echo 'eval "$(chef shell-init bash)"' >> ~/.bashrc` and logged back in
 * `git clone https://github.com/chef/inspec.git chef/ins

[2017-05-31 20:16] username-is-already-taken2 commented on #1876
Thanks for coming back to me,  i noticed you are using 'bundle exec rake lint' I was using just 'rake init'

I'll give that ago..... <newbie alert> need to really learn what 'bundle' is doing, don't really know when I need to use it :) </>

Get Outlook for iOS<https://aka.ms/o0ukef>
_____________________________
From: Adam Leff <notifications@github.com<mailto:notifications@github.com>>
Sent: Wedn

[2017-05-31 20:23] adamleff commented on #1876
Think of `bundler` as a virtual Ruby environment. Whenever you call `bundle exec` and pass a command, it will execute it within an isolated environment using only the gems (and the versions) specified in the Gemfile and `inspec.gemspec` file.

Without `bundle exec`, it will run with whatever is in your gem path, etc. which isn't necessarily what the project maintainers intended.

TL;DR: in daily u

[2017-05-31 21:49] AnotherWorkingNerd commented on #1872
@chris-rock I can provide a longer explanation if needed. GCI is heavy into VMware and we have an automated vm creator thingy in vRO (I don't think I can go into a lot of detail about that) I am writing a vRO workflow that will get info about the new vm and using JSON pass this info to another machine that has InSpec on it, run a set of machine role specific tests/profiles, update the json object

[2017-05-31 22:11] chris-rock commented on #1872
@AnotherWorkingNerd That is a great use case and it helps me to understand your needs better. Thank you for sharing. Do you think something like the following would also work?

[code]

Do you need the stats for all profiles or is a report level fine? Just another idea that we could go: InSpec could show stats based on a saved report: `inspec stats reports.json`

[2017-05-31 22:15] AnotherWorkingNerd commented on #1872
@chris-rock Actually that was going to be my original suggestion!  That would defiantly work. :-)

[2017-05-31 22:15] adamleff commented on #1872
@chris-rock if we decide to implement #1825, we'd likely need to calculate this info as well at report-time.

[2017-05-31 22:18] AnotherWorkingNerd commented on #1872
as well as documenting what major and minor failures are. Which would help me A WHOLE LOT!. if there are major failures, fail the vm if only minor failures notify a human.

[2017-05-31 22:52] username-is-already-taken2 commented on #1876
**Success !!** even on windows :) Thanks very much for your help

I might create a PR tomorrow to update the `readme.md` `Testing InSpec` section and add a bit about rake lint

[2017-05-31 22:52] #1876 closed, assigned to nobody

[2017-06-01 00:16] adamleff commented on #1876
I'd love to see that PR! Glad you're squared away, too 🙂

[2017-06-01 01:53] chris-rock opened #1880 "Ship powershell modules with InSpec profiles"
### Description

With #1396 we introduced the capability to store additional files with an inspec profile. There should be an easy way do ship powershell modules and load them with each call from the powershell resource

### Possible Solutions

The powershell learns additional arguments to load modules. Right now I am in favor of an explicit loading mechanism, so that it is visible for all `powers

[2017-06-01 07:33] lholman commented on #1339
@chris-rock I'd be happy to pick this one up, we've been struggling a little recently in this area and have felt the lack of documentation.

[2017-06-01 11:32] adamleff commented on #1880
This is a really interesting proposal... and I'm both 👍  and 👎  on it.

Being able to have InSpec ship a file out to a host does open us up to additional abilities. For example, we could test if Ruby is installed on a host and then ship a small file that uses `Net::HTTP` that outputs JSON, and fix the `http` resource properly.

[code]

And as you've suggested, it would make profiles that do lots o

[2017-06-01 13:27] seththoenen commented on #1790
I'm also having a similar issue, I can't upload to Chef Automate from Windows 10.

InSpec Version: 1.26.0

Chef Automate Version: 0.8.5

Details:
[code]
When I check my profile, everything looks good:
[code]

[2017-06-01 16:44] timusmc96 opened #1881 "inspec compliance upload <profile> open_http: 404 not found (using automate)"
### Description

inspec compliance upload <profile>

C:/opscode/chefdk/embedded/lib/ruby/2.3.0/open-uri.rb:359:in `open_http': 404 Not Found (OpenURI::HTTPError)
        from C:/opscode/chefdk/embedded/lib/ruby/2.3.0/open-uri.rb:737:in `buffer_open'
        from C:/opscode/chefdk/embedded/lib/ruby/2.3.0/open-uri.rb:212:in `block in open_loop'
        from C:/opscode/chefdk/embedded/lib/ruby/2.3.0/

[2017-06-01 17:29] #1881 closed, assigned to nobody

[2017-06-01 20:02] AnotherWorkingNerd opened #1882 "Option to specify path to Inspec test with kitchen-inspec"
### Description

Currently, with kitchen-inspec the inspec tests are supposed to be in a fixed location in test/integration/default/<suite>.  it would be nice if the path could be specified instead of being forced into test/integration/default/

### InSpec and Platform Version

0.19

### Replication Case

see description. This issue was entered at the request of @chris-rock after some slack conver

[2017-06-01 20:03] #1882 closed, assigned to nobody

[2017-06-01 20:03] AnotherWorkingNerd commented on #1882
oops wrong place

[2017-06-01 22:15] jerryaldrichiii opened #1884 "Document `mode` matcher support for Windows"
### Description

In our Chef [file resource](https://docs.chef.io/resource_file.html) we specify that Windows can support the `mode` attribute with some caveats. Below is a quick copy to save you a click and search.

Could we add a similar note to the `mode` matcher in InSpec?

[2017-06-01 22:58] kplimack opened #1885 "crontab command matcher is mismatching"
### Description

I expect the 'include' matcher to partial match a command that might be grouped into a long string of commands, but it doesnt work consistently.  This works in test-kitchen, but fails on real nodes.

[code]
### InSpec and Platform Version

[code]

### Replication Case

run this spec on cent7
[code]

[2017-06-02 14:35] adamleff commented on #1885
Hi @kplimack and thanks for submitting this issue.

Since the `crontab` resource can return multiple entries, all the methods that return values (such as `commands`) return arrays of data. When the return is an array, the `include` matcher doesn't partially match individual items but rather looks for a single item within the array and it has to be an exact match.

For your particular use case, I c

[2017-06-02 14:35] #1885 closed, assigned to nobody

[2017-06-02 14:41] kplimack commented on #1885
@adamleff i was able to get it to work like this.  is one method preferable over the other?
[code]

[2017-06-02 14:43] adamleff commented on #1885
@kplimack either are fine! Your method uses straight ruby `include` tricks to do a regex match, and mine just filters out all the entries we don't care about.  Both are fine. :)

[2017-06-02 16:27] adamleff commented on #1877
@wilshire461 thanks for submitting this issue.

I'm afraid I'm unable to reproduce this issue. All of my SSH keys are password-protected and I use `ssh-agent` to store them during my session. I was successfully able to scan a host with InSpec via SSH with one of my password-protected keys.

Is it possible your private key is in a binary format instead of a PEM-style encoded format? I believe that'

[2017-06-02 16:30] adamleff commented on #1867
@kplimack can you please provide the actual InSpec control that generated this output so we can more easily reproduce this issue? Thanks.

[2017-06-02 16:31] adamleff commented on #1847
This is still pending PR #1849 to be merged which should correct the initial issue reported.

[2017-06-02 16:46] wilshire461 commented on #1877
Adam,

Unfortunately the private key is in the PEM style format with a header and footer looking as one would expect.

[code]

[2017-06-02 16:46] adamleff commented on #1877
@wilshire461 bummer. Unfortunately since I'm not able to reproduce it, I'm afraid I don't know how best to proceed on either guiding you toward a fix or fixing something in InSpec.

[2017-06-02 16:57] wilshire461 commented on #1877
Can go ahead and close this then, we'll look at other tools that work as advertised 😄

[2017-06-02 16:59] adamleff commented on #1834
@maoe thanks for submitting this issue. I did some digging into this and definitely see some less-than-desirable behavior from `initctl`:

 * see that `initctl show-config ufw` matches `/etc/init/ufw.conf`:
[code]

 * see that `ufw` is running
[code]

* modify the ufw upstart config, commenting out the `start on` lines

* run `initctl show-config ufw` and see that the `start on` section is still t

[2017-06-02 17:03] adamleff commented on #1877
@wilshire461 I don't think that's a completely fair comment as InSpec itself does work as advertised and we're making an effort to help solve your problem. You've obviously found yourself in an edge case with one of our upstream dependencies (`net-ssh` Ruby gem) that we haven't seen before, and without you giving me your private key, I don't know how to reproduce. We have a pretty good history of

[2017-06-02 17:14] adamleff commented on #1818
@walterdolce I'm going to dig into this a bit more after lunch. Many times we do this because some configs can support having the same key multiple times with the values being concatenated. But to avoid the issue in your tests, you can use the `cmp` matcher instead of the `eq` matcher. The `cmp` matcher will strip the array off of a single item before comparing it if necessary.

[code]

[2017-06-02 17:37] tpmullan commented on #1847
Thanks for the quick fix! @adamleff

[2017-06-02 18:53] adamleff commented on #1818
@walterdolce we essentially need to refactor the `apache_conf` resource because it doesn't properly handle a config with multiple VirtualHost sections with the same key (for example).

For now, using the `cmp` matcher is the right thing to do, and I'm going to open up a separate issue for us to revamp this resource.

Thanks in advance for your understanding :)

[2017-06-02 18:53] #1818 closed, assigned to nobody

[2017-06-02 18:58] adamleff opened #1886 "refactor apache_conf resource with a smarter config parser"
As part of the discussion in #1818, it was determined that the `apache_conf` resource needs some love. 🙂

Given the following valid config:

[code]

... the parsed params have some issues:

[code]

 * the section headers (such as `VirtualHost`) aren't being treated as such and include the config markup (i.e. `<`)
 * the second headers parameters include the markup (i.e. `>`)
 * multiple config par

[2017-06-02 19:01] adamleff commented on #1814
We should try to see if simply using `Shellwords.shellescape` will solve this problem.

[2017-06-02 19:04] adamleff commented on #1802
@atomic111 could you please add a comment to this issue with what types of tests you'd like to be able to write with a tomcat resource?

[2017-06-02 19:05] adamleff commented on #1797
@sarahbakal can you please add the screenshot you referenced in your issue description? I'm not 100% clear how this is failing so it would be helpful to determine where the failure lies before I try to reproduce it. Thanks!

[2017-06-02 19:13] sarahbakal commented on #1797
@adamleff
Having trouble adding it.

[2017-06-02 19:15] adamleff commented on #1797
@sarahbakal sent me the image directly via Slack, I'll take this one and dig into it.

[2017-06-02 19:38] adamleff commented on #1793
@stonesbg thanks for submitting this issue!

I'm afraid I'm having trouble reproducing this one. I set up a new Windows VM and configured the following two registry hives:

`HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server`:
![screen shot 2017-06-02 at 15 35 07](https://cloud.githubusercontent.com/assets/3221128/26741907/5b8a2e12-47a9-11e7-8eaf-a1a25965cc1a.png)

`HKEY_LOCAL_MACHINE\SOFT

[2017-06-02 20:04] adamleff commented on #1788
When following the reproduction steps in dev-sec/cis-docker-benchmark#32 from within a container, I see the following behavior:

 * `docker ps -a --no-trunc` returns all the containers I expect
 * `docker ps -a --no-trunc --format '{{ json . }}'` just returns a bunch of empty JSON objects:

[code]

That's not the case on my workstation:

[code]

I'm wondering if this has something to do with the `

[2017-06-02 20:41] adamleff commented on #1787
Sorry it's taken me so longer to reply to this. While it seems fairly innocuous to implement this behavior, I'm 👎  on the change. I'd rather see these tests formatted as profiles and then each profile listed in the `.kitchen.yml` under the `inspec_tests` section in the verifier. It makes the behavior more predictable.

[2017-06-02 20:57] adamleff commented on #1784
@AnotherWorkingNerd Unfortunately, this is "working as designed." The contents of `/etc/profile.d` are only sourced when a login shell is used, and InSpec/Train do not use a login shell to do their work. While I don't know the original creators' intentions, I do agree with this approach; relying on user profile settings for the purposes of doing audit/infrastructure tests could lead to fragile tes

[2017-06-02 20:57] #1784 closed, assigned to nobody

[2017-06-02 20:58] adamleff commented on #1783
Adding this as an enhancement and putting in the 2.0 milestone since this would be breaking behavior (though adding a warning now and an error later would be totally cool).

[2017-06-02 20:59] adamleff commented on #1696
Closing this issue - multiple PRs in flight to address these.

[2017-06-02 20:59] #1696 closed, assigned to nobody

[2017-06-02 21:00] adamleff commented on #1777
Closing this issue as a duplicate - we'll track the progress in #1790 since the failing experience is the same.

[2017-06-02 21:00] #1777 closed, assigned to nobody

[2017-06-02 21:02] adamleff commented on #1672
Closing this issue as PRs such as #1857 are in flight that address some of these concerns.

[2017-06-02 21:02] #1672 closed, assigned to nobody

[2017-06-02 21:14] adamleff commented on #1671
The correct syntax here is similar to the Elasticsearch YAML inquiry you and I spoke about today:

[code]

However, this resource isn't currently written to support that. It needs to be extended to use `ObjectTraverser` like the `JsonConfig` class and have the `method_missing` method updated accordingly given that there can be dots in the keys.

Flagging as a bug.

[2017-06-02 21:15] adamleff commented on #1666
As there has been no further action on this issue, I'm going to close it. However, I'm more than happy to reopen it if you're able to help us with a reproducible test case. Thanks for using InSpec :)

[2017-06-02 21:15] #1666 closed, assigned to nobody

[2017-06-02 21:16] adamleff commented on #1660
This RegEx is no longer in use, at least in 1.26.

[2017-06-02 21:16] #1660 closed, assigned to nobody

[2017-06-02 21:17] adamleff commented on #1643
PR #1798 in flight for this.

[2017-06-02 21:22] adamleff commented on #1642
@arlimus and @chris-rock, this requires your input. I'm still opposed to making the `ssh(?d)_config` resources look/feel like `file` resources, and I dislike methods on resources returning other resource objects since that feels too implementation-heavy for an end-user (and backs us into a corner should we want to change resource implementation in the future).

I'm all for a method that returns th

[2017-06-02 21:25] adamleff commented on #1641
@aaronlippold I think this is similar to the recently-closed issue #1784. InSpec does not use a login shell to do its work, so if you are setting your `http_proxy` variables in something like `/etc/profile.d`, then that would explain this behavior. Unfortunately, your replication steps did not detail where these variables are set.

Given that this works inside the shell on the container (and that

[2017-06-02 21:25] #1641 closed, assigned to nobody

[2017-06-02 21:28] adamleff commented on #1633
@aaronlippold After re-reading this a few times, I'm still a bit confused as to what the ask is here. Since the control ID (the parameter to the `control` keyword) is the unique identifier, I don't believe what you're asking for is possible. Perhaps this should be a feature request to Chef Software (vs. the InSpec project itself) to have the commercial conversion tools use better control names and

[2017-06-02 21:34] adamleff commented on #1630
I'm concerned that supporting `latest` will lead to possibly-incorrect audit results. What `latest` means could differ on each host depending on what repository/repositories the OS package manager is configured to use. If a host is configured to use a stale repo, and the latest PostgreSQL package there is 9.2, that's not really "latest" - but it is for that particular host.

From a security/audit

[2017-06-02 21:36] adamleff commented on #1629
This can be accomplished with the `query` method on the `postgres_session` resource.

[2017-06-02 21:36] #1629 closed, assigned to nobody

[2017-06-02 21:37] adamleff commented on #1614
InSpec 1.25 and later have fixes for the right URLs for both the Chef Compliance and the Chef Automate profile stores. This should be fixed now, but please reopen this issue you're still experiencing problems.

[2017-06-02 21:37] #1614 closed, assigned to nobody

[2017-06-02 21:44] adamleff commented on #1605
This is likely not something we'll be able to change without making the experience unpredictable... methods that exist on a String won't necessarily exist on an Array which could cause nasty Ruby errors should the result set change.

Potential workarounds:
 * use the `cmp` matcher which will strip the single element out of the array before comparison
 * call `.first` on the attribute you want to c

[2017-06-02 21:44] #1605 closed, assigned to nobody

[2017-06-02 21:56] adamleff commented on #1604
@szymonpk I'm going through old issues today triaging/labeling them so we can start closing out some bugs, and UGH I remember this one now. 🙂

I think the cmd parameter in the `netstat` output is unreliable and could even be truncated as we've seen. I think the right thing to do would be to use `netstat` (or the newer equivalents) to get the ports and PIDs, and then go read the cmdline from the `/

[2017-06-02 21:57] adamleff commented on #1598
@stefanandres can you please run a single kitchen instance with `-l debug`, for example:

[code]

... and provide the output in a gist? I'm unable to reproduce this or see where the error is with the information provided.

Thanks!

[2017-06-02 21:58] adamleff commented on #1592
Paging @arlimus and @chris-rock to weigh in on this.

[2017-06-02 22:00] adamleff commented on #1581
I will admit to not being very Windows savvy, but based on my knowledge, I think checking for the necessary features being enabled vs. a Role being enabled is the safer thing to do, even if it's more tests.

@amunoz951 Do you have a powershell example of how you'd check for a Role being enabled so we can see if it's doable to create a resource for this?

[2017-06-02 22:03] adamleff commented on #1574
Still appears to be an issue:

[code]

Flagging as a bug.

[2017-06-02 22:05] adamleff commented on #1557
Additional URI validations were added in 1.25 and 1.26... I cannot reproduce this anymore. Please let me know if this is still an issue.

[2017-06-02 22:05] #1557 closed, assigned to nobody

[2017-06-02 22:06] adamleff commented on #1556
If we alter the `service` resource to use FilterTable, we'd get the `where` accessor for free which would allow filtering like this. Seems like a good feature to have. Flagging as a feature request.

[2017-06-02 22:09] adamleff commented on #1545
@Poohblah Thanks for your feature request. I'm not sure how doable this will be since attributes are an item passed in at runtime and not really defined or set in the profile itself - they're just evaluated. Therefore, you can pass in a single attributes file with the `--attrs` CLI flag and any profile run during that InSpec run would have access to it.

Could you describe a more specific use case

[2017-06-02 22:12] adamleff commented on #1543
@shoekstra because of our use of `rspec-its` our ability to accept strings when hierarchy or dots are involved is rather limited.

To remain consistent across all resources that have this type of experience, the recommended way to do what you've described it:

[code]

Should we move away from RSpec as the engine in the future, our options may open up. But for now, that is the supported way to acce

[2017-06-02 22:12] #1543 closed, assigned to nobody

[2017-06-02 22:13] adamleff commented on #1522
@chris-rock since you've led the conversation on this one, I'm assigning this issue to you to decide how best to proceed. Thanks!

[2017-06-02 22:14] adamleff commented on #1507
Fixed in #1513, and there's a pending PR #1798 that cleans this up even further.

[2017-06-02 22:14] #1507 closed, assigned to nobody

[2017-06-02 22:15] adamleff commented on #1499
@aaronlippold I'm going to close this issue since it doesn't really affect the core InSpec project. I'd recommend talking to @arlimus or @chris-rock to determine where best to log this. Thanks!

[2017-06-02 22:15] #1499 closed, assigned to nobody

[2017-06-02 22:17] #1425 closed, assigned to nobody

[2017-06-02 22:20] adamleff commented on #1411
This warning should be commended out, replaced with a TODO to raise an exception that properly skips the resource (once #1205 is addressed). Logging as a bug for our backlog. Thanks @rjhornsby and others for your patience.

[2017-06-02 22:22] adamleff commented on #1393
This should be fixed. We fixed an issue a while back for when IPv4 addresses were listed as a v6 netstat entry.

[2017-06-02 22:22] #1393 closed, assigned to nobody

[2017-06-02 22:23] #1330 closed, assigned to nobody

[2017-06-02 22:42] jayhendren commented on #1545
Sure.

We have a bunch of Chef cookbooks we've written that set up individual services per our org's needs - Apache, MySQL, PHP, etc.  Those cookbooks have integration tests bundled with them.

We also have cookbooks that tie together multiple services - for instance, a LAMP cookbook, which includes the Apache, MySQL, and PHP cookbooks.  These also have integration tests bundled with them, and the

[2017-06-02 23:55] amunoz951 commented on #1581
This seems to do the trick.

[code]

[2017-06-03 01:36] aaronlippold commented on #1499
No problem. It was a placeholder for the conversation to get the issue
worked out.

On Jun 2, 2017 18:15, "Adam Leff" <notifications@github.com> wrote:

[2017-06-03 01:41] aaronlippold commented on #1641
If I recall the environment variables for being set in something like that the user bash RC or bash. Profile

[2017-06-03 01:42] aaronlippold commented on #1641
However another user was having the same issue and the trick was basically finding the right place on the remote host to set the environment variables so inspec would find them. The conversation is in the slack Channel

[2017-06-03 01:43] aaronlippold commented on #1696
Agreed

On Jun 2, 2017 17:12, "Adam Leff" <notifications@github.com> wrote:

[2017-06-03 01:45] aaronlippold commented on #1672
I believe the current PR that Chris is working on covers a lot of the CSV
work then I'm talking about here in terms of being able to parse results of
database SQL commands. I think no I haven't looked deeply into everything
Chris's implementing that most of it should be covered but if not we can
use this as a reference to push out updates to the current PR he is working.

On Jun 2, 2017 17:02, "Ad

[2017-06-03 01:46] aaronlippold commented on #1814
I agree I think the issue would be solved if Chris folds in that suggestion
into his current database PR.

On Jun 2, 2017 15:01, "Adam Leff" <notifications@github.com> wrote:

[2017-06-04 16:44] #1877 closed, assigned to nobody

[2017-06-04 21:47] trevor-vaughan commented on #1716
Voting for this one. I found this REALLY confusing when starting to process the report.

Should we just ignore the `controls` tree for now?

[2017-06-05 04:29] szymonpk commented on #1604
As for tools, I have seen discussion on kernel users list, `lsof` should have precedence over `netstat`. However, it does not come with any distribution by default.

If someone will found this in the future, workaround quite simple (It's Adam's idea)

    describe port(443) do
      its("processes.first") { should match(/nginx/) }
    end

[2017-06-05 13:15] aaronlippold commented on #1630
@adamleff I hear you. What latest means will differ from host to host, but that is a good thing. It is actually changing from distro version to distro version right? Which is the expected behavior.

So most guidance and even vendors will back patch the distro supported version - RHEL for example - the maintained major version of a package and do a version lock on the major version. All the below -

[2017-06-05 13:15] aaronlippold commented on #719
@chris-rock @arlimus how is the progress going on this? Thanks.

[2017-06-05 13:22] adamleff commented on #1630
Even with that explanation, I'm still 👎  on introducing a `latest` keyword. How a host's package repository is configured should not determine whether the host is compliant or not. If a host gets configured to use both a vendor-provided repo and a secondary repo, and there's a newer package in the secondary repo and someone `yum update`'s that host, then they'll have a newer package than what is r

[2017-06-05 14:42] aaronlippold commented on #1344
👍

[2017-06-05 15:30] timusmc96 commented on #1763
I am also seeing this now running inspec compliance upload for the profiles

C:\WorkSpace\Inspec\inspec-profiles [master ≡ +17 ~7 -6 !]> inspec compliance upload Company_CIS-WIN2012R2 --overwrite
Dependencies for profile Company_CIS-WIN2012R2 successfully vendored to Company_CIS-WIN2012R2/vendor
I, [2017-06-05T11:29:58.635299 #11520]  INFO -- : Checking profile in Company_CIS-WIN2012R2
I, [2017-06

[2017-06-05 15:33] username-is-already-taken2 opened #1890 "Q. regarding running inspec shell locally on windows."
Hi there

I noticed something today and wanted to check if this was by design or if its a `feature` :)

If I launch `inspec shell` (from an elevated command prompt) on my local workstation (windows 10) and execute either a `command` or `powershell` resource I noticed that my request **doesn't** have elevated privileges.

If I launch `inspec shell target` against a remote windows computer and execu

[2017-06-05 21:26] adamleff commented on #1797
Hi @sarahbakal. I tried to reproduce this issue today but was unable to. It worked with one of the packages I already had installed in my test Windows VM, so I then installed WinZip v21 like you have on your machine, and it worked for me via the inspec shell:

[code]

Is it possible the user you're running InSpec with doesn't have access to see installed packages? I don't think that's the case bas

[2017-06-05 21:33] adamleff commented on #1581
@amunoz951 that looks like a pretty good slice of Powershell that will do what you're looking for. In this case, it seems that the Role name is actually "Web-Server" with the DisplayName as "Web Server (IIS)"... but this does appear to be doable.

I'm going to mark this issue as a new feature request. It seems like it should be reasonably easy to create a `windows_role` resource that implements th

[2017-06-05 21:52] kplimack opened #1891 "way to make data available to all profiles"
### Description

I've created an inspec_handler cookbook that is able to deploy and run tests that live with my cookbooks (much the same way we are accustomed to with the audit cookbook, or minitest).  (I'm in the process of getting approvals to release this cookbook to the community with an accompanying blog post).  My handlers deploy and run the correct things based upon the run_context; however

[2017-06-05 21:55] adamleff commented on #1890
Hi @username-is-already-taken2!

InSpec doesn't elevate privileges itself under normal operation. The only time we ever attempt to elevate is during a remote scan of a Linux/Unix-based operating system when the user passes the `--sudo` flag (and they're not already connecting as the `root` user).

The `vagrant` user is a member of the `Administrators` group, so I presume that's why your remote ses

[2017-06-05 22:07] adamleff commented on #1891
@kplimack this sounds really great. 🙂

One possible solution is to use Profile Attributes -- see the "Profile Attributes" section here: https://www.inspec.io/docs/reference/profiles/

If you could serialize the node object as YAML instead of JSON, one could then declare the following attribute in the profile to pull in the node data (assuming the node object is in YAML with a top-level key of `nod

[2017-06-05 22:17] kplimack commented on #1891
@adamleff does that mean that each of my profiles will require an inspec.yml that declares a dependency on my node-providing profiles ?

[2017-06-06 01:47] adamleff commented on #1891
No, attributes are not part of the dependency system. They're part of the "runner" for lack of a better term. When you run InSpec and you pass in attributes, any profile can use them. But they have to call `attribute` in the profile in order to gain access to it, like the example I provided above.

[2017-06-06 01:48] adamleff commented on #1886
Seeing what @arlimus has been doing with parselet and the nginx work, that seems like could be a reusable pattern for this work, too.

[2017-06-06 04:31] kplimack commented on #1891
@adamleff got it working!  thank you for your help!  I'll shoot you a link when it gets released, hopefully later this week.

[2017-06-06 04:31] #1891 closed, assigned to nobody

[2017-06-06 05:03] kplimack opened #1892 "how to invoke inspec runner correctly"
### Description

I've created an inspec_handler cookbook that is able to deploy and run tests that live with my cookbooks (much the same way we are accustomed to with the audit cookbook, or minitest). (I'm in the process of getting approvals to release this cookbook to the community with an accompanying blog post).

I'm invoking the tests via the Inspec::InspecCLI class, but the runner [exits](htt

[2017-06-06 06:26] #1892 closed, assigned to nobody

[2017-06-06 12:12] atomic111 commented on #1802
@adamleff i wrote some tests for a customer, like

control 'tomcat-56' do
  impact 1.0
  title 'Disable Tomcat Web Server Signature'
  desc '\'ServerSignature Off\' tells Apache to not return the used Apache Version'

  describe bash("find ${Value:catalina.base} -name server.xml | xargs grep \"resolveHosts\"") do
    its("stdout").split { should contain(/server=" "/) }
  end
end

control 'tomcat-5

[2017-06-06 12:46] #1839 closed, assigned to nobody

[2017-06-06 12:58] #1847 closed, assigned to nobody

[2017-06-06 14:04] adamleff commented on #1814
I'm unable to reproduce this issue.

[code]

Tested on current master. Looks like this is a non-issue now. Please reopen if this is still an issue after the next InSpec release.

[2017-06-06 14:04] #1814 closed, assigned to nobody

[2017-06-06 14:22] adamleff commented on #1344
I opened PR #1894 to create a standalone downloads page with links to our main downloads site, the Habitat Depot, and a link to the chef docs that explain how to use your system's package manager.

[2017-06-06 15:09] #1344 closed, assigned to nobody

[2017-06-06 16:30] sarahbakal commented on #1797
The manual command works and has the package i'm looking for. I'll test it a bit more through the compliance server to see if its just this single server.

[2017-06-06 22:51] shoneslab opened #1897 "inspec exec with --json-config option having multiple node information"
### Description

Try to execute inspec exec or inspec detect with --json-config option with array of nodes. It works with single node information. Getting error like undefined method 'merge' for...

How to create a json with mutiple node informations. Or how to execute inspec against multiple nodes

### InSpec and Platform Version

Using the inspec's docker image
docker run -it -rm -n ${pwd}:/shar

[2017-06-07 02:17] kenichi-yamada-nssol opened #1898 "md5sum matcher returns wrong value for a binary file in windows"
### Description

md5sum matcher returns wrong hash value for a binary file in Windows environment. I suspect the wrong value is calculated from wrong bits obtaining through unnecessary conversion caused by using of text mode. Please fix it to use binary mode for a binary file?

### InSpec and Platform Version

    inspec version
    1.25.1

### Replication Case

obtaining md5sum value for notepad.

[2017-06-07 02:49] trevor-vaughan commented on #562
I would like to note that having a numeric impact allows for calculation and this is a *good thing*.

The tag for severity should suffice.

[2017-06-07 02:52] trevor-vaughan opened #1899 "Dynamic Severity Based on Results"
### Description

Many policies have text like the following from the DISA STIG:

Given this, there needs to be a way to modify the 'severity' output based on the result of the test itself.

[2017-06-07 11:11] stefanandres commented on #1598
Suer thing! I've added the debug log, as well as the inspec.rb for this specific test to https://gist.github.com/stefanandres/3cf3cd33577949c0aa1463df9da611dd

It runs fine with kitchen verify -c 1

Ah, this is even another error that I did not report yet, but this also only happens on concurrency.

[2017-06-07 11:33] adamleff commented on #1891
@kplimack sounds awesome! can't wait to see it.

[2017-06-07 11:34] adamleff commented on #1802
@atomic111 makes a lot of sense - thanks for sharing some of your specific use cases. I'm going to mark this issue as a feature request and leave it in our hopper. :)

[2017-06-07 12:20] adamleff commented on #1897
@shoneslab thanks for your issue! I believe we chatted about the same thing in Slack yesterday. As we discussed, InSpec is designed to only scan one host. There are other solutions for scanning multiple hosts, such as Chef's own commercial offerings, but there are currently no plans to allow for scanning of multiple hosts via a single InSpec command.

I am going to flag this as a bug though. We sh

[2017-06-07 12:25] adamleff commented on #1899
@trevor-vaughan this is a very interesting feature request. Thank you for submitting it, and thank you for giving a real-world use case. That does a great deal for us in understanding why such a feature would be helpful to the community.

Just thinking out loud a bit... I wonder if we could implement it such that an `impact` statement would be valid inside a `describe` block as well as within the

[2017-06-07 13:06] arlimus commented on #1899
Fully valid use-case, thank you for posting it Trevor!
One of the goals should be to achieve a system that is able to reflect these requirements without getting overly complex.

Intriguing proposal Adam, clean and understandable, thank you!! Need to think about this idea for a bit as well...
:thinking:

[2017-06-07 14:07] aaronlippold opened #1900 "Make 'only_if' a bit more verbose by default and or to take a 'msg' parameter"
### Description
Feature Request:

In many cases, especially when using 'describe.one`, I would like to have a more specific message from only_if as to which only_if case was triggered and why. This would help provide better and more concise reporting when we have complex profiles.

I have seen at least three or four questions from users as to how to put a "message" statement in a control and have

[2017-06-07 14:26] aaronlippold commented on #1677
@adamleff @arlimus @chris-rock  any thoughts on this? Given a conversation with @tvaughan, if this isn't too hard to implement, it could have very positive effect.

[2017-06-07 15:57] Happycoil commented on #1880
Is this just for the `powershell` resource, or is the goal to bundle modules for other resources which use PowerShell as well?

There's a lot of non DRY-y embedded PowerShell in other resources which would look much nicer in a module, as well as community and official modules which would help greatly simplify PowerShell code in some resources. If the module isn't in `$PSModulePath` the extent to w

[2017-06-07 16:41] adamleff commented on #1898
This is caused by Train (the underlying transport library that InSpec uses to run commands and read files) gets the content of the file and pulls it back to the host running InSpec in order to compute the checksum. The checksum is not calculated on the remote host.

On Windows, the file content is gathered as such:

[code]

... which you can see in the code here: https://github.com/chef/train/blob

[2017-06-07 17:14] jerryaldrichiii opened #1901 "Unexpected `nil` authentication with `inspec exec -t` and WinRM"
### Description

When running `inspec exec foo -t winrm://user@some.host.com --password` and not specifying a password, the user is not warned that a one is required. Instead, InSpec performs an auth with a `nil` password thus causing the account to become locked out.

### Possible Solutions

Prompt the user with a warning to prevent unexpected lock outs.

[2017-06-07 17:19] jerryaldrichiii opened #1902 "User not prompted for password when running `inspec exec` with a remote target"
### Description

When a user runs `inspec exec foo -t winrm://someone@some.host.com --password` they are not prompted for a password. Currently, it is required that a password be passed in from the CLI.

This allows anyone who can view the history or is watching the user execute the command see sensitive information.

### Possible Solutions

When the user uses the `--password` argument without a p

[2017-06-07 17:29] mschuchard opened #1903 "RSpec unit tests on resource methods for matchers"
I am attempting to write RSpec unit tests for matcher methods for a custom Inspec resource that uses the `Inspec::Resource` module class mixin as per normal (`ResourceClasss < Inspec.resource(version)`, but I keep slamming into

when executing rspec. I have tried to bootstrap this method in the RSpec unit test block with

[code]

but it does not seem to circumvent the error. I have checked around

[2017-06-07 19:01] atomic111 commented on #1802
@adamleff great, thank you

[2017-06-07 19:24] adamleff commented on #1903
Hi, @mschuchard!

You have successfully tiptoed into a bit of a world of pain. 🙂  Because InSpec is built on RSpec, and RSpec uses a lot of global state to do its thing, using RSpec to test anything with InSpec is likely to not turn out well. That is why our unit tests and functional tests are written with minitest instead.

My recommendation would be to use minitest instead if at all possible.

[2017-06-07 19:29] mschuchard commented on #1903
Can I use parts of the `MockLoader` without minitest? I noticed the use of minitest, but it seemed like its use was separate from most of the `MockLoader`.

[2017-06-07 20:26] adamleff commented on #1903
@mschuchard I don't honestly know. The `MockLoader` exists specifically to mock out calls that InSpec resources might make during unit testing so we can return the mocked data in order to test the functionality of a resource. Since we do all that work in minitest, I don't believe anyone has taken the MockLoader work and tried it elsewhere.

[2017-06-07 22:46] username-is-already-taken2 commented on #1581
Hi @amunoz951

Cheers for the Posh example, I have had a crack at writing the resource for you.
I've push it to a branch on my fork, maybe you could test it out?

If you `git clone https://github.com/username-is-already-taken2/inspec.git --branch gb/windows_role gb/inspec` and then use `chef exec ruby` to launch it, you should be able to try it.

(I've assumed you have git and the chefdk installed

[2017-06-08 00:29] amunoz951 commented on #1581
After installing the parslet gem, I was able to test this successfully.

![image](https://user-images.githubusercontent.com/19859109/26907218-c8893804-4ba6-11e7-9d54-a1446e558a98.png)

[2017-06-08 01:57] kenichi-yamada-nssol commented on #1898
For your information, using the combination "Get-Content -Encoding Byte" and "Set-Content -Encoding Byte" can handle a file as keep the same as original bytes. Any other similar method is acceptable, it is important to avoid CRLF conversion in text mode, anyway.

    Get-Content -path c:\windows\notepad.exe -Encoding Byte -ReadCount 0 | Set-Content -path notepad.out -Encoding Byte
    CertUtil -ha

[2017-06-08 03:21] shoneslab commented on #1897
Thanks. Regarding the commercial offering, are you referring to Habitat?

[2017-06-08 11:34] adamleff commented on #1897
Hi @shoneslab. Nope, Habitat is also an open-source project like InSpec.

I was referring to Chef Automate which provides the ability to receive compliance reports from your fleet (via [audit cookbook](https://github.com/chef-cookbooks/audit), for example) and give you a fleet-wide view of your compliance status. That way your hosts can be running InSpec periodically throughout the day vs. you nee

[2017-06-08 12:18] stefanandres commented on #1598
Here is the gist for no implicit conversion:
https://gist.github.com/stefanandres/8679b5ec27c6f858a40e02bd41869911

[2017-06-08 14:45] timusmc96 opened #1908 "Double inheritance does not honor the os-family and controls are running for platform that does not pertain"
### Description

Main Profile:

company_linux_profile
         inpec.yml file has the following:
                   depends:
   - name: company_rhel6_linux_compliance
     compliance: comp_user/company_rhel6_linux_compliance
   - name: company_rhel7_linux_compliance
     compliance: comp_user/company_rhel7_linux_compliance

Now if you look at the profiles company_rhel6_linux_compliance and company

[2017-06-08 15:28] mschuchard commented on #1903
Ok, I think I will refactor to separate out the backend provider so I can write tests like I do for Serverspec with the helper https://github.com/mizzy/serverspec/blob/master/spec/spec_helper.rb.

Thanks for the info.

[2017-06-08 15:28] #1903 closed, assigned to nobody

[2017-06-08 16:41] mschuchard commented on #1903
Yep, that worked. I was able to mock the message from the provider method to the matcher method and was able to do the unit tests.

[2017-06-08 16:43] adamleff commented on #1903
that's great - would you mind sharing a gist of what you did in case others stumble upon this same need?

[2017-06-08 16:59] adamleff opened #1909 "InSpec and Audit Cookbook interdependency issues"
The audit cookbook depends directly on InSpec for scanning and reporting functionality. In addition, the audit cookbook calls methods within InSpec (specifically methods in `Compliance::API`) that haven't been designed or tested the way externally-available APIs should be.

This has caused an issue where `Compliance::API.version` method was modified recently to not be backward compatible, and the

[2017-06-08 17:14] mschuchard commented on #1903
I was certainly planning on it, but will need to sanitize first. It is pretty simple yet effective, so I do not know how many use cases it will fit, but it definitely fit mine.

[2017-06-08 17:15] adamleff commented on #1903
That's all that matters :) Thanks for being willing to consider sharing your work!

[2017-06-08 17:20] arlimus commented on #1909
Thank you for writing all of this up!! Intermitten phases 1+2 are good stepping stones to get to happy phase 3.

[2017-06-08 21:43] mostafahussein opened #1911 "How to improve output to include test names?"
I have tried the following example:
[code]

Which gives the following report:
[code]

How could I make the output like this:
[code]
As the first output could be misleading so in the current moment I have changed the code into the code below which gives me the second output:
[code]
Inspec version: `1.27.0`

Is there a better way ?

[2017-06-08 22:04] aaronlippold commented on #1911
Thanks for reporting this. We have had a discussion on the slack channel
about this but I don't think we created an issue.

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Thu, Jun 8, 2017 at 5:43 PM, (╯°□°）╯︵ uᴉǝssnH ɐɟɐʇsoW <
notifications@github.com> wrote:

[2017-06-09 03:08] shoneslab commented on #1897
cool. Thanks. To try Chef automate, is it limited to nodes or for a duration or do we get any trial licence.

[2017-06-09 11:52] timusmc96 opened #1914 "Profile controls are not all being run with multiple rb files using only_if in some of them"
### Description
Basically we have a profile with a list of controls.

http.rb
php.rb
splunk.rb
sshd.rb
redhat_controls.rb

http.rb, php.rb, plunk.rb and sshd.rb all have only_if statements, which work great.   The redhat_controls does not have an only_if statement and is being skipped.   I renamed to controls_redhat.rb, now it seems all the controls are running.

### InSpec and Platform Version

1

[2017-06-09 12:17] timusmc96 commented on #1914
Let me know on this one if we can have a discussion, so I can clarify, not sure of the wording needed here.

[2017-06-09 12:17] timusmc96 commented on #1908
Let me know on this one if we can have a discussion, so I can clarify, not sure of the wording needed here.

[2017-06-09 13:37] trevor-vaughan commented on #1899
@adamleff This sounds like a reasonable solution to me.

You may want to have both a static override `impact:` and potentially an `impact_multiplier:` which would allow you to mathematically adjust the impact on the system.

We also need cross-test dependency adjustments.

In reading the Risk Management Framework from NIST, we should be adjusting our risk based on Defense in Depth concepts.

This

[2017-06-09 14:14] adamleff commented on #1899
@trevor-vaughan the multiplier concept is a neat one but I think would greatly complicate people's understandings of the tests. They become less declarative; you can't just read a test and know what the extent of the impact will be at face-value. I'd recommend we first start with static impacts and then discuss impact multiplier in a separate feature enhancement request.

Regarding your second con

[2017-06-09 16:02] hannah-radish commented on #1440
Will address this ticket for upcoming inspec.io redesign

[2017-06-09 16:02] #1440 closed, assigned to nobody

[2017-06-09 17:50] adamleff commented on #1902
Given the findings of how Thor handles default values for config flags where a value is not passed in (see #1901 and the resulting PR #1904), there is not going to be an easy way to implement this without pissing off people who truly have a password of `password`. I'm afraid I have to close this one for now, but if we end up being able to implement or a better idea comes up, I'll be happy to reope

[2017-06-09 17:58] adamleff commented on #1581
@amunoz951 thank you for taking the time to test @username-is-already-taken2's proposed change!

@username-is-already-taken2 I see no reason why we couldn't support this in core InSpec. Are you willing to submit a PR for this?

[2017-06-09 18:12] adamleff commented on #1897
@shoneslab it's limited to a specific duration, I believe 30 days.

If you find it doesn't meet your needs, or you want other options, be sure to look at the link to the audit cookbook I mentioned earlier. There are other ways, such as the json exporter, that you can use to have your nodes write out their InSpec findings to a JSON file and then you can scoop them up using a manner you're comfortab

[2017-06-09 18:12] #1897 closed, assigned to nobody

[2017-06-09 18:40] shoneslab commented on #1897
Thanks for the detail info. This was really helpful.

[2017-06-10 01:49] trevor-vaughan commented on #1825
Just ran into this when running automated tests, very much a :+1:

[2017-06-12 14:56] adamleff opened #1921 "Error when listing compliance profiles against Automate pre 0.8"
### Description

Ruby stacktrace when running `inspec compliance profiles` with a pre-0.8.x Automate Server

### InSpec and Platform Version

InSpec v1.27.0

### Replication Case

 * Set up Automate 0.7.151
 * Install InSpec 1.27.0
 * Run `inspec compliance login_automate`
 * Run `inspec compliance profiles` (which will fail)

### Possible Solutions

Unknown

### Stacktrace

[code]

[2017-06-12 20:18] SteveDelFante commented on #1790
This issue applies to Automate and Compliance server.

[2017-06-12 21:33] #1901 closed, assigned to nobody

[2017-06-12 21:40] adamleff commented on #1898
@kenichi-yamada-nssol the challenge for us is that we compute things like checksums on the machine on which InSpec was initially run. So I could initiate an InSpec run against a Windows host from my macOS workstation and I should be able to compute the checksum of a Windows file.

Currently, we do that by grabbing the content of the file (incorrectly, I might add, for binary files) and bringing it

[2017-06-13 08:05] #1921 closed, assigned to adamleff

[2017-06-13 18:06] johnjelinek commented on #763
any updates on this?

[2017-06-14 08:51] ghost opened #1925 "inspec shell - help should also list available configuration objects"
### Description
When using the interactive inspec shell the `help` command should list the available configuration objects. For example:
* `os`
* `passwd`
* `sshd_config`

Example of reading `os` object parameters:
[code]
### InSpec and Platform Version
`inspec-1.20.0-1.sles12.x86_64`

[2017-06-14 09:10] ghost commented on #1925
Also the https://www.inspec.io/docs/reference/shell/ page should also contain these information

[2017-06-14 11:06] chris-rock commented on #763
With InSpec 1.21.0 we introduced a docker resource. This is documented here: https://www.inspec.io/docs/reference/resources/docker/ A walk-through is available here: http://lollyrock.com/articles/inspec-for-docker/

[2017-06-14 11:06] #763 closed, assigned to nobody

[2017-06-14 15:15] sarahbakal commented on #1797
Localized issue

[2017-06-14 15:15] #1797 closed, assigned to nobody

[2017-06-14 16:36] chris-rock commented on #1763
This is fixed by #1906 and #1920

[2017-06-14 16:36] #1763 closed, assigned to nobody

[2017-06-14 19:00] tpmullan opened #1926 "inpec inside audit cookbook crashes ruby on AIX"
### Description

On AIX inpec consistently makes ruby crash.

### InSpec and Platform Version

Inspec 1.25.1 on AIX 7.1 tl4 sp1

### Replication Case

Tell us what steps to take to replicate your problem.  See [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)
for information on how to create a good replication case.

Create an inspec test that checks

[2017-06-14 20:09] chris-rock commented on #1926
@tpmullan is inspec crashing or audit cookbook. Can you share which aix system you are using?

[2017-06-15 10:14] mattray opened #1929 "inspec.yml supports doesn't support centos with os-family and a releasere"
Testing with CentOS 7.3, the inspec.yml works with
[code]
but not
[code]

### InSpec and Platform Version
Chef Development Kit Version: 1.4.3
inspec version: 1.25.1

but it appears the Chef 13.1 in kitchen is using 1.16.0
[code]

[2017-06-15 11:50] chris-rock commented on #1929
At this point in time, version is doing an exact match. In a local test with `docker run -it centos:73 /bin/bash`, I was able to restrict access, if I used:

[code]

You can see the exact version with `os.release`.

[code]

Right now, the mechanism works as designed. Nevertheless, I agree that this is annoying to list all individual release versions. @mattray I would like to close this issue in fa

[2017-06-15 18:30] tpmullan commented on #1926
We are running inspec through the Audit cookbook, but it looks like it is crashing inside of inspec.  If that isn't the case I can move the bug.

As far as the version of AIX we are using AIX 7.1 tl4 sp1

[2017-06-16 00:30] mattray commented on #1929
@chris-rock I agree, #1740 is what needs to be fixed.

[2017-06-16 00:30] #1929 closed, assigned to nobody

[2017-06-16 07:08] simfish85 opened #1932 "CIS Windows 2012 profile as a dependency fails to upload to Automate"
### Description
On a Windows workstation, when I create an Inspec profile with a dependency on the `cis-windows2012r2-level1-memberserver` profile and attempt to upload it from the command line using `inspec compliance upload . --log_level debug` then it fails to complete and hangs on the line `[2017-06-16T06:36:26+00:00] DEBUG: Loading controls/translated-controls.rb into #<Inspec::ProfileContext

[2017-06-16 07:17] chris-rock commented on #1926
I started to investigate. Remote scanning of AIX servers work. I used 7.2 to test.

[code]
The issue that I encountered was https://github.com/chef/train/issues/181

@tpmullan Which version of Chef are you using on AIX to run the audit cookbook? Is this issue happening also if you are not using the audit cookbook? Can you execute the InSpec profile remotely against the AIX server?

[2017-06-16 16:41] adamleff opened #1934 "Update zlib to 1.2.11 to address known CVEs"
zlib v1.2.11 addresses a number of known public vulnerabilities. We need to generate a new omnibus build of InSpec with the new zlib included.

[2017-06-16 16:41] adamleff commented on #1934
Will release as v1.28.1. This issue will serve as our entry in the changelog as there are no other code changes to include.

[2017-06-16 16:41] #1934 closed, assigned to nobody

[2017-06-16 17:55] tpmullan commented on #1926
I am using Chef 12.18.31 and when I run `inspec compliance exec 'user/packages' -t ssh://user@server --sudo` the test works.  But when it runs through the Audit cookbook ruby crashes.

[2017-06-16 18:15] kplimack opened #1936 "port is_listening fails unless lsof is already installed"
### Description

the `port` matcher works without needing additional dependencies installed.

### InSpec and Platform Version

1.28.0 / centos 6/7

### Replication Case

it returns false (not-listening) when indeed it is up.  installing `lsof` manually fixes this issue.

### Possible Solutions

the matcher should detect if lsof is installed and fall back on netstat, etc if it is not.

[2017-06-19 12:50] timusmc96 opened #1940 "profile cis-rhel6-level1 version 1.4.0-1 which doesn't match >= 0"
### Description

inspec compliance upload company_cis_rhel6 --overwrite

The profile cis-rhel6-level1 from {:compliance=>"comp_user/cis-rhel6-level1", :url=>"https://cit-automate.org/compliance/profiles/comp_user/cis-rhel6-level1/tar", :sha256=>"b41dad3b5c2a91924aa332562fb8d7abd16db3a64f42277ee07cb6174db03ca8"} has a version 1.4.0-1 which doesn't match >= 0

### InSpec and Platform Version

1.28,

[2017-06-19 12:53] chris-rock commented on #1940
I am not sure I fully understand this issue. Are you trying to upload a profile that has `1.4.0-1` as version. And the CLI is showing that error? Are you able to upload the profile via UI?

[2017-06-19 13:05] timusmc96 commented on #1940
yes so I do an upload with rhel7 no issues, version is 1.1.0 for cis.  rhel6 version of cis is 1.4.0-1 and I can not upload or vendor the profile, get this error

 inspec vendor --overwrite
The profile cis-rhel6-level1 from {:compliance=>"comp_user/cis-rhel6-level1", :url=>"https://cit-automate.org/compliance/profiles/comp_user/cis-rhel6-level1/tar", :sha256=>"b41dad3b5c2a91924aa332562fb8d7abd16db

[2017-06-19 13:13] chris-rock commented on #1940
Understood. Thank you

[2017-06-19 14:28] rshade opened #1942 "update mysql_session resource to have mysql_command method for stringbuilding of connection."
### Description

right now there are several options to build the mysql command in the mysql_session resource, break it out into it's own method to support unit testing.

### InSpec and Platform Version

1.28.1
### Replication Case

Tell us what steps to take to replicate your problem.  See [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)
for informa

[2017-06-19 15:02] adamleff commented on #1942
@rshade thanks for opening this issue to track the suggestion noted in https://github.com/chef/inspec/pull/1933#pullrequestreview-44674923. We should definitely do this to help the resource be more stable moving forward. I'll try and get to this myself, but if you are able to start working on it, just ping me here in this issue so we don't duplicate effort!

[2017-06-19 15:28] adamleff commented on #1940
@chris-rock we should likely change this stuff to use `semverse` for comparisons since we're pulling it in now for use in `inspec check`, what do you think?

https://github.com/chef/inspec/blob/master/lib/inspec/dependencies/requirement.rb#L57-L59

[2017-06-19 22:07] SteveDelFante commented on #1790
This now works when I upload to the Compliance server using inspec 1.28.1 on Window 2012 r2. Here is the successful command.

`C:\opscode\inspec\bin\inspec compliance upload secureprofile_###.zip --overwrite`

Now for the Automate UI, I believe Chris is going to enable the ability to upload zip files.

[2017-06-19 22:24] adamleff opened #1943 "Provide better error if the attributes file doesn't exist"
### Description

A generic error message about "unable to find a parser" is provided if the filename provided as the value to `--attrs` doesn't actually exist

### InSpec and Platform Version

1.28.1

### Replication Case

[code]

### Possible Solutions

Before looking for a valid secrets plugin for the attributes file provided, we should check to see if the file even exists and is readable. If no

[2017-06-20 05:53] arlimus commented on #1790
Thank you @SteveDelFante for testing!
Closing with the solution to upgrade InSpec to 1.28+.

@seththoenen The update to InSpec 1.28 should resolve this problem. Please reopen this ticket in case you still encounter this issue.

[2017-06-20 05:53] #1790 closed, assigned to arlimus

[2017-06-20 16:31] grv87 opened #1944 "Directory resource says it's file"
### Description

Documentation about `directory` resource says that

However, test output says about `File` and nothing about `be_directory` matcher.

### InSpec and Platform Version

inspec version: 1.28.1
host os: Windows 7 SP 1
tested os: Ubuntu Server 16.04.2

### Replication Case
[code]
Output:
[code]

I wonder whether `inspec` really checks that specified file is actually a directory.

[2017-06-20 17:08] akitada opened #1945 "Provide naming convention for InSpec Profiles"
### Description

Please consider providing naming guide for InSpec Profiles as provided in [Chef Style Guide](https://docs.chef.io/ruby.html) for Chef Cookbooks.

Having a naming convention would help users avoid possible naming conflicts.

[2017-06-20 18:22] kplimack opened #1946 "file mode is returning decimal instead of octal"
### Description

When using the file resources mode matcher, it is matching incorrectly due to comparison of octal and decimal representations of the file mode.

### InSpec and Platform Version
inspec 1.28.1
centos 6/7

### Replication Case

[code]
<img width="156" alt="screen shot 2017-06-20 at 12 21 30 pm" src="https://user-images.githubusercontent.com/1141542/27348973-087a9a32-55b3-11e7-90f0-12

[2017-06-20 18:35] chris-rock commented on #1946
Thank you for that question @kplimack

In ruby you write octal numbers as `00765`. I assume you migrated from Serverspec and serverspec did some magic that we don't. You need to use plain ruby types to do the comparision

[code]

[2017-06-20 18:36] chris-rock commented on #1945
@akitada What do you mean by naming conventions? Where do you need guidance?

[2017-06-20 18:39] kplimack commented on #1946
@chris-rock that works, but it doesn't jibe with the docs https://github.com/chef/inspec/blob/master/lib/resources/file.rb#L34

[2017-06-20 18:46] akitada commented on #1945
@chris-rock Something like [this](https://docs.chef.io/ruby.html#cookbook-naming) and [this](https://docs.chef.io/ruby.html#use-of-hyphens)

Apparently there is no convention for naming profiles. https://supermarket.chef.io/tools?type=compliance_profile

[2017-06-20 19:06] chris-rock commented on #1945
Okay, basically we want some naming conventions for inspec.yml and we may also want to have some best-practices for implementing a large amount of controls. Do you want to cover compliance use cases or integration test use cases?

[2017-06-20 19:11] chris-rock commented on #1946
That used the `cmp` matcher is smarter then the `eq` matcher. `eq` is matching for exact match, `cmp` is doing a lot of smart type conversions. By using the cmp matcher you are essentially saying you compare values if if they are of a different type. See https://github.com/chef/inspec/blob/master/test/integration/default/cmp_matcher_spec.rb and https://www.inspec.io/docs/reference/matchers/

Somet

[2017-06-20 19:19] akitada commented on #1945
I'd want the two because I use inspec for both purposes.

[2017-06-21 02:19] harish-swamy commented on #613
if service('ntp').running?
  describe command('ntpq -p') do
     its(:stdout) { should match /ntp.ubuntu.com/  }
  end
else ??????????
  end

My code running . But the problem is, If service is not running then it showing no tests executed. so i wanted put some error code in else statement ...Could you please let me know that how to write error info in else statement .

[2017-06-21 07:36] chris-rock commented on #1945
We should also implement those in `inspec check` so that we see the results all the time

[2017-06-21 07:39] chris-rock commented on #1944
@grv87 This is a correct assessment. We have the `it { should_not be_directory }` to test that. Right now the `directory` keyword is more an alias for `file` resource and we may want to change this. Is there anything specific that you want to use the directory resource?

[2017-06-21 12:16] kmf commented on #1945
@akitada I write Inspec controls for corresponding cookbooks in chef, so
I made up a naming convention:
- cookbooks: org_group_linux_administrators
- controls: org_control_group_linux_administrators.rb

but I would really prefer a style guide.

[2017-06-21 13:14] chris-rock opened #1949 "`inspec json` report does not include inspec version"
### Description

For debugging, it would be helpful if the command `inspec json examples/profile | jq .` would include the inspec version, similar to `inspec exec examples/profile --format json | jq .`.

There we use:
[code]

### InSpec and Platform Version

1.28.0

### Replication Case

Run commands above.

### Possible Solutions

Since we cannot use `version` in `inspec json`, we could use a `ge

[2017-06-21 23:57] adamleff commented on #1944
This is a bug. The `to_s` method defined in `lib/resources/directory.rb` that would print the resource as `Directory /path` is defined outside of the `Inspec::Resources::Directory` class, but instead on the `Inspec::Resources` module.

I'll put up a PR to fix this right now.

[2017-06-22 13:28] adamleff opened #1951 "InSpec cloud incubator projects - fold in to InSpec core"
The following incubator projects need to be merged into InSpec Core for 2.0:

 * inspec-aws
 * inspec-azure
 * inspec-vsphere

[2017-06-22 13:33] arlimus commented on #613
Timeboxed until July 30th to create an RFC for the skip state. If we don't reach this date for the RFC, we will not ship it in 2.0.

[2017-06-22 13:40] arlimus opened #1952 "RFC resource parameter access"
tbd. for 2.0

[2017-06-22 18:35] adamleff opened #1954 "Deprecate use of '/' in profile names"
#1783 will cause profile names with `/` characters to throw an error. We should add a deprecation warning to `inspec check` now to ensure this is communicated prior to InSpec 2.0's release.

[2017-06-23 05:01] grv87 commented on #1944
@chris-rock, I want to be sure that specified path is actually a directory.

Current behavior deviates from documentation: when I pass regular file name to the `directory` resource, Inspec doesn't report any errors or failed test.

[2017-06-23 06:22] jerryaldrichiii opened #1959 "Add support for `rpm_dbpath` to the `package` resource"
### Description

As a consultant, I have encountered scenarios where a custom RPMDB is used to store RPM info. Currently, the InSpec `package` resource does not support modifying the RPM query command to support the `--dbpath` command line argument.

### Possible Solutions

Modify the `package` resource to support `rpm_dbpath`.

Example:

[code]

[2017-06-23 11:41] adamleff commented on #1944
@grv87 I agree with you, I think that's unclear... if you pass a non-directory to the `directory` resource, `it { should exist }` should not return true.

I've modified my PR #1950 to address this as well. Please take a look.

[2017-06-23 14:44] #1944 closed, assigned to nobody

[2017-06-23 14:46] adamleff commented on #1944
@grv87 this is now fixed and will be in next week's InSpec release. Thanks for submitting this issue!

[2017-06-23 15:31] #1671 closed, assigned to aaronlippold

[2017-06-24 16:02] aaronlippold commented on #1900
The default behavior could also be improved by just reporting what condition failed if there isn't a message supplied. i.e. `control skipped: package 'httpd' not installed` and or `control skipped: command 'psql' not installed` etc.

[2017-06-25 16:23] chris-rock commented on #1788
Related to https://github.com/moby/moby/issues/20625, our used functionality works only with docker 1.13 right now