[2018-07-09 17:04] danielcbright commented on #3137
Interesting note, when I do specify `--overwrite`, it uploads the profile with the new version, and actually doesn't overwrite the existing one, so I end up with the behavior I wanted in the first place, just not with the right option.

[2018-07-09 17:10] frezbo commented on #3137
`--overwrite`  is for lockfile updates AFAIK

[2018-07-09 17:11] #1783 closed, assigned to miah

[2018-07-09 17:56] miah commented on #3088
I have several local VM's for testing my DB work, but we lack a standard cross-developer way to validate that code against databases.

We need to have a test environment that has various database backends so that we can regularly validate this work.

[2018-07-09 20:03] clintoncwolfe opened #3203 "Suppress profile summary in output for resource packs"
### 🎛 Description

**🙋 feature request

(on behalf of @trevorghess)

When a [resource pack](https://www.inspec.io/docs/reference/glossary/#resource-pack) is used to pull in custom resources and no tests, the test output nevertheless reports on the test count (zero) for the resource pack.   That leads to confusion.

As we increasingly encourage the use of resource packs for distributing custom reso

[2018-07-09 20:18] clintoncwolfe opened #3204 "Harmonize InSpec DSL Reference with Glossary"
### 🎛 Description

🐛 bug report

The [InSpec DSL page](https://www.inspec.io/docs/reference/dsl_inspec/) uses terminology that is out of line with [NewSpeak](http://uncyclopedia.wikia.com/wiki/Newspeak).

Update the DSL page to use the correct terms, and link to them in the [glossary](https://www.inspec.io/docs/reference/glossary/).

### 🌍 InSpec and Platform Version

2.2.34

### 🤔 Replication Cas

[2018-07-09 20:49] gscho opened #3205 "Add the ability to pass args to the generated habitat run hook"
### 🎛 Description

🙋 feature request

Add a way to pass arguments to the `inspec exec` command that is part of the generated habitat run hook.

The use case is I'd like to generate a hab package using `inspec habitat` but I want to be able to report the data to A2 using the --json-config parameter.

### 🌍 InSpec and Platform Version

inspec 2.2.16

### 🤔 Replication Case

N/A

### 💁 Possible Solut

[2018-07-10 00:10] indepth15 commented on #2758
Any update to support Selinux?

[2018-07-10 02:47] clintoncwolfe commented on #3183
#3203 sort of relates here, in spirit, sort of.

[2018-07-10 02:56] clintoncwolfe commented on #3181
@aaronlippold , as you mention, the `target` group is specific to certain transports.  Why not make it official?
[code]

[2018-07-10 12:15] aaronlippold commented on #3181
I agree. This gets us where we need.

I would assume the report uuid changes on every single instantiation of the
profile against the target?

I also like this as it doesn't break backwards compatibility so we could
move this in to the data structure as soon as we chose to.

So what happens when for whatever reason one of those uuids comes back nil?
Shall we make the defaults all zero to indicate

[2018-07-10 12:17] aaronlippold commented on #3203
We have also seen this when I've pulled in a resource pack and utilize the resources but the resource pack had control tests that I didn't use. Linux patches is a good example of this where if you only use the resources but not the controls from the pack those controls report out no data but end up in the Jason report which leads to confusion.

[2018-07-10 12:26] aaronlippold commented on #3123
Does that mean where pushing it into the work stack or we need to get
someone to work on it?

On Mon, Jul 9, 2018, 1:02 PM Jerry Aldrich <notifications@github.com> wrote:

[2018-07-10 13:42] reddeppas commented on #3177
Thanks for the confirmation. Can you please let us know when this will be fixed and released ,

[2018-07-10 14:16] chris-rock commented on #3181
In a discussion with @aaronlippold we need to figure out how we deal with override of built-in tags. I think we need to define what kind of tag keys are used by inspec.

[2018-07-10 15:50] clintoncwolfe commented on #3177
We have a lot of higher priorities at the moment, so it is unlikely the InSpec team will address this anytime soon.  As InSpec is an open source project, any member of the community may contribute a fix, if they are needing something soon.

Also, there is a workaround: you can provide authentication credentials to `mssql_session`.

You could do this (but don't):
[code]

That's dangerous because yo

[2018-07-10 16:43] clintoncwolfe commented on #3182
@arlimus you were mentioned as the person to definitively answer this :)

[2018-07-10 17:11] jerryaldrichiii commented on #3123
We need to get someone to work on it. Felt like it was a false representation having it "assigned" to me when I wasn't actively working on it.

[2018-07-11 23:39] indepth15 opened #3208 "Making a test conditional on a resource property"
Is there a way to use `only_if` with `sshd_config` to check protocol before its property, saying I want to check **HostbasedAuthentication** parameter in case the SSH protocol version is 2.

[code]
The first line of code doesn't work

Thank you.

[2018-07-12 04:39] frezbo commented on #3208
[code]

[2018-07-12 04:39] frezbo commented on #3208
you could use either

[2018-07-12 13:01] arthurzenika opened #3209 "inspec fails to detect ipv6 protocol in listen port"
### 🎛 Description

 🐛 bug report

A port listening to ipv6 is not detected as such.

### 🌍 InSpec and Platform Version

Ubuntu Xenial.

[code]

### 🤔 Replication Case

Install bareos (or any service that listens on ipv6)

[code]
The inspect test is :
[code]

The manual check that seems to tell us the service is listening on ipv6 is :

[code]

[2018-07-12 13:04] arthurzenika commented on #3209
![screenshot from 2018-07-12 15-03-55](https://user-images.githubusercontent.com/445200/42634899-deb6d3c4-85e4-11e8-8ae6-4247c765a61b.png)

[2018-07-12 17:37] timusmc96 opened #3210 "Unable to find train plugin 'mock' error"
### 🎛 Description

🐛 bug report

seeing issue when inspec is running, which is wrapped with the audit cookbook

### 🌍 InSpec and Platform Version

rhel 7.5
inspec 2.1.72  (trace shows 2.1.84)
chef dk 3.1

### 🤔 Replication Case

run profiles with wrapper audit and getting this missing

### 💻 Stacktrace

Please include the stacktrace output or link to a gist of it, if there is one.

[code]
EDIT: (@

[2018-07-12 18:18] clintoncwolfe opened #3211 "Document flow through profile versioning and vendoring"
### 🎛 Description

🐛 bug report

Some actions will create a new inspec.lock

Most will not overwrite an existing one

And then there is vendoring.  Vendoring is best practice for production, because it makes the chain an artifact.

Document behavior around profile versioning, and when updates do and do not occur, and how a user can have control over the process, both for deterministic vendoring an

[2018-07-13 01:19] jgrevich commented on #722
You can simplify the command to grab the ip address with

[code]

[2018-07-13 01:46] jgrevich commented on #722
Nvm, that still requires filtering as well. I didn't check other hosts. +1 for a helper method.

[2018-07-13 07:21] jerryaldrichiii commented on #3133
Alright friends, I think we are close to closing this issue. There is now a transport in Train and options in InSpec to make it work. I think after https://github.com/chef/inspec-vmware/pull/23 is merged and we move `inspec-vmware` under the `inspec` GitHub organization we will be ready to close.

Thoughts?

[2018-07-13 16:13] clintoncwolfe commented on #338
Closing as duplicate in favor of #1522

[2018-07-13 16:13] #338 closed, assigned to nobody

[2018-07-16 16:50] clintoncwolfe opened #3217 "Plural resource docs are missing 2.2 features"
### 🎛 Description

🐛 bug report

Most plural resources are missing documentation on features introduced in 2.2, such as broad support for `count`, `exist?`, and `raw_data`.

Most are also missing sections on their Filter Criteria.

### 🌍 InSpec and Platform Version

2.2.34

Aha! Link: https://chef.aha.io/features/SH-357

[2018-07-16 16:59] clintoncwolfe opened #3218 "Create Ruby intro doc for InSpec"
### 🎛 Description

🙋 feature request?

Testers and Auditors often do not have Ruby experience.  Easing their path is important.

The Chef (config management) project has a [Ruby doc](https://docs.chef.io/ruby.html).  We could have one too.  (Theirs focuses a lot on cookbook style and uses other chef terminology, so we can't adopt wholesale).

### 🌍 InSpec and Platform Version

2.2.34

[2018-07-16 17:53] indepth15 opened #3220 "Best practice for determining if a file is empty"
There are some approaches to verify if a file is empty.

**Approach 1** - using **file** resource to and read its content. Use **eq** matcher to check the output ''

[code]

**Approach 2**  - using **file** resource to and read its content, but check null

[code]

**Approach 3 (uncommon)** - use **command** resource to execute the cat command

[code]
**Approach 4** - use **should be_empty**

[code

[2018-07-16 18:28] clintoncwolfe commented on #3158
From discussions with users, case 2,

  The control isn't run when certain conditions are met.
  For example don't test MySQL if it isn't installed.

is dangerous: it should be treated as [an error or failure](https://github.com/inspec/inspec/issues/3174).  Many users set their CI to ignore skips, because of case 3 (platform support).  If those cases are indistinguishable, we'll have users skippin

[2018-07-16 18:30] frezbo commented on #3220
I would suggest approach 4:
[code]

[2018-07-16 19:28] NickRycar opened #3222 "Unexpected EOF errors when uploading valid profile tarball on windows"
### 🎛 Description

🐛 bug report

Encountering unexpected errors when uploading profile tarballs via `inspec compliance upload` on windows. Both `inspec check MYPROFILE.tar.gz` and manual upload via the Chef Automate UI work as expected -- behavior is limited to upload via the CLI.

### 🌍 InSpec and Platform Version

InSpec Version: 2.1.72 (installed via  https://packages.chef.io/files/stable/chefd

[2018-07-16 21:08] IRobL commented on #742
Wait... so if I run my test, which is, say just checking if a container with a particular name exists:

[code]

And when I list the containers on the VM, I see one named 'kafka' that exists.

And when I run it, the test fails:

[code]

And the situation truely is, that there is no way to get any debug information from inspec to help me understand why a test I'm writing would produce a false negati

[2018-07-16 21:36] clintoncwolfe opened #3223 "Consider enumerating singular resources from plurals"
### 🎛 Description

🙋 feature request

This issue is promoting a comment by @TheLonelyGhost from a comment to full issue status.  The [original comment](https://github.com/inspec/inspec/issues/2277#issuecomment-351842804) is below.

---

Can confirm that I was confused by the singular versus plural forms of, e.g., `user` vs. `users` and `package` vs. `packages`. I can see how it would be useful for

[2018-07-16 21:38] clintoncwolfe commented on #2277
As FilterTable has matured, most of these questions have been addressed.  I'm closing this; if there is more to say, by all means re-open.

[2018-07-16 21:38] #2277 closed, assigned to nobody

[2018-07-17 16:20] #3208 closed, assigned to nobody

[2018-07-17 23:54] indepth15 opened #3233 "Best practices for centralizing and reusing attributes"
My InSpec profiles have number of ***.rb** files. Each ***.rb** contains list of controls and corresponding attributes, which other ***.rb** file may use.

Is there a reference pattern which centralizes attribute declaration which every control can reuse if needed?

[2018-07-18 08:56] shelld0n commented on #3222
Maybe try to upload the extracted archive ? I mean Extract manually the profile then :

`inspec compliance upload C:\Users\chef\Downloads\linux-baseline-2.2.0\`

I don't know if this will work or not, but give it a try.

[2018-07-18 17:45] indepth15 opened #3235 "User-defined Output warning in InSpec"
InSpec is a great tool for compliance audit. However, sometimes  not all controls need to be passed, and if failed, there should be a user-defined output warning to provide a warning message, i.e. "Your SSH protocol is not version 2, if you think it is still acceptable please contact foo@foo.com".

Is there a feature to do so?

[2018-07-18 17:47] jerryaldrichiii commented on #3158
I'm curious also if this work will make the following more delightful?:

[code]

We have `skip_resource` but it does not raise at the moment. See:

https://github.com/inspec/inspec/blob/20a0b0e025185e41b9c3cd6bb112b1accdad049e/lib/inspec/plugins/resource.rb#L98

[2018-07-19 00:14] aaronlippold commented on #3235
We have handled situations like this via skip with a message and updating the impact of the control dynamically.

We have an open RFE to enhance this type of workflow in inspec a bit more directly and cleanly but the things to note here are:

1. We have a known logic case which activates the needed describe block
2. We set the impact to either 0 or >0 based on that logic
3. We keep things clean wi

[2018-07-19 09:58] james-stocks opened #3236 "Failing `describe.one` control makes no mention of the describe.one"
### 🎛 Description

This is very minor and arguably invalid; but when a control using `describe.one` fails, the output gives no indication that a `describe.one` was in play - it looks just like the results for the individual tests

### 🤔 Replication Case

Control code:
[code]

Output:
[code]

I'm told I have 1 successful test; 2 failures; and 2 issues I need to fix. Actually I have 0 success and on

[2018-07-19 12:59] shelld0n commented on #3182
i am sorry to ask again but is it possible or not ? :pray: :pray: :pray:

[2018-07-19 17:44] chris-rock commented on #3133
Thank you all for this great work. The resource pack is available now under https://github.com/inspec/inspec-vmware

[2018-07-19 17:44] #3133 closed, assigned to jerryaldrichiii

[2018-07-19 18:21] jerryaldrichiii opened #3237 "Shorten `raise Inspec::Exceptions::ResourceSkipped, 'long message'`"
### 🎛 Description

In order to skip evaluating after the "skip" in resource initialize blocks we added handling for:

[code]

Trouble is, this is a lot to type and goes over 80 columns quite often.

My question/suggestion: Can we have `skip_resource`/`fail_resource` do the raise instead? Or is there a reason why we'd want to keep processing after calling `skip_resource`/`fail_resource`?

[2018-07-19 19:41] jerryaldrichiii commented on #3237
Just realized, we can't have `skip_resource`/`fail_resource`  raise automatically since we currently do not handle exceptions raised outside of a resource's `initialize`.

[2018-07-20 06:59] indepth15 commented on #3235
Thank you very much for your recommendation @aaronlippold . Much appreciated! Is there a way to color the custom message in `skip ` method? I'd like to make it red so people are paid more attention

[2018-07-21 19:50] aaronlippold commented on #3235
there is the colorize gem but I am not sure that the reporter would respect it. You can give it a try though. You would have to include 'colorize' in your control file: https://github.com/fazibear/colorize. Let me know if it works.

[2018-07-23 13:07] hdost commented on #3131
Since the warning refers to the issue could we get a reference to what should be done as the replacement for `azure_generic_resource`?

[2018-07-23 13:11] chris-rock commented on #3131
@hdost Thank you for reaching out. We are adding more and more azure resources in our [Azure Resource Pack](https://github.com/inspec/inspec-azure). We recommend to use the provided resources from there. If a resource is missing, please add an issue or open a PR to contribute a new resource for Azure.

[2018-07-23 13:17] username-is-already-taken2 opened #3245 "inspec compliance upload - upload error"
### 🎛 Description

🐛 bug report

Hi

I'm attempting to upload a profile to my A2 server.  I've been able to logon to a2 through inspec and can query profiles etc.  Yet it seems to error at the uploading stage.  The error reports that I should run inspec check but I know my profile is good, inspec check passes and using the gui I can upload the file that inspec created and it uploads fine.

### 🌍 I

[2018-07-24 13:04] srb3 opened #3246 "Compliance upload cli does not check the version of a profile being uploaded"
### 🎛 Description

bug report

Submitting on behalf of a customer:

when using chefdk-3.1.0-1.el7.x86_64 uploading a new version of an inspec profile that is already uploaded fails stating it already exists.

### Expected behaviour:
New version of profile is uploaded
Actual behaviour:
Upload fails, newer version of the profile is not uploaded (--overwrite is suggested)
Output:

[code]
### 🌍 InSpec

[2018-07-25 15:42] ejaronne opened #3250 "Code field missing when using overlay profile"
### 🎛 Description
Code field empty when using overlay profile

🐛 bug report

When using an overlay, the control's code is not populated in the json output.

### 🌍 InSpec and Platform Version

2.2.27

### 🤔 Replication Case

Create an overlay for any profile. Change a field for a control, such as impact, title, desc, or even a tag. Run the overlay and request json output. Viewing the json, for the

[2018-07-25 18:50] jquick commented on #3250
Yes, this was a change to make sure we don't show invalid code text. If you override a control you will show the override code. This does have the issue of not showing the whole picture if you only override a specific field though. We will look into seeing if we can merge them instead.

[2018-07-25 19:52] ejaronne commented on #3250
Yes please! When we display the json, we display the code as well to help both the developer and the auditor agree that the test was valid. Merging would be superb! Thanks!

[2018-07-25 20:00] #3141 closed, assigned to jerryaldrichiii

[2018-07-25 20:29] jquick commented on #3245
This is interesting. Would it be possible to get a copy of the created tarball? I would like to dig in and test this out. You can post or email jquick@chef.io.

[2018-07-25 20:34] jquick commented on #3233
https://github.com/inspec/inspec/issues/3176 should help with this. It allows you to define global attributes in the metadata yml file.

[2018-07-26 08:19] mqasimsarfraz opened #3253 "openssh-client pkg missing in inspec docker image"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?
bug report

When  running inspec docker with backend `ssh` using a bastion host fails because of  missing `openssh-client` pkg in docker image. Error is shown below:
[code]

### 🌍 InSpec and Platform Version
`2.2.42`

[2018-07-26 14:34] ehaselwanter opened #3255 "make oracledb_session platform independent"
### 🎛 Description

🐛 bug report

The documentation states the oracledb_session is platform independent, but it fails to run on windows.

### 🌍 InSpec and Platform Version

macOS

[code]

but with latest changes from https://github.com/inspec/inspec/commit/a16877f4273c2952270d698f7f8ae3cc5ff9915b

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

basically add powershell heredoc to https://

[2018-07-26 17:12] aaronlippold commented on #3250
@jquick thanks. We need to keep this in place as we need to maintain the transparency of the overlay. If we can push this is actually quite an issue. Thanks for pushing it up for us.

[2018-07-26 17:52] jquick opened #3257 "inspec-core fails when aws gem is installed"
### 🎛 Description

**Choose one:** is this a 🐛 bug report
Issue Description
Jira issue title: Inspec-core fails to require resource_support/aws when aws-sdk gem is installed

Issue Summary: inspec-core will attempt to require resource_support/aws if it detects that an aws-sdk gem is installed. This of course fails because inspec-core does not include any of the aws resource files.
ERROR: Report ha

[2018-07-26 18:13] #3253 closed, assigned to nobody

[2018-07-27 20:32] frezbo opened #3258 "Package resource for windows fails if the package name has special characters"
Retrieving the windows packages from inspec shell:
[code]

The old inspec code has `$_.DisplayName` as `-like` and this PR https://github.com/inspec/inspec/commit/06ff747cfcbc51580717346532d66f5ec1742e94#diff-843eb1141523e80b4552e5cc8d178fb4 changed it to `-match` This would fail checking of packages names which has characters and needs to be escaped. Eg:

[code]

All the package names needs to be

[2018-07-30 14:54] aavetis commented on #2171
+1

[2018-07-30 17:51] jerryaldrichiii opened #3262 "Question: Should we prepending `LANG=en_US.utf8` to the `command` resource commands?"
Some commands can output text that is not UTF-8 which will cause InSpec to crash.

Should we prepend `LANG=en_US.utf8` before commands in the `command` resource?

Aha! Link: https://chef.aha.io/features/SH-2207

[2018-07-30 18:01] clintoncwolfe commented on #3257
This report specifies an issue for inspec 2.2.16.  A fix for this issue was released in [inspec 2.2.27](https://github.com/inspec/inspec/releases/tag/v2.2.27) based on PR #3163 .

Based on that, I'm closing this as a duplicate.  If I've misunderstood, please of course re-open :-)

[2018-07-30 18:01] #3257 closed, assigned to nobody

[2018-07-30 18:10] aaronlippold commented on #3262
Hi,

This has come up enough times I think for us to abstract it in the resource
I think.

Just my two cents.

Aaron
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Mon, Jul 30, 2018 at 1:51 PM Jerry Aldrich <notifications@github.com>
wrote:

[2018-07-30 18:16] clintoncwolfe commented on #3246
FYI duplicates #3137

[2018-07-30 18:17] clintoncwolfe commented on #3246
Fixed by #3252

[2018-07-30 18:17] #3246 closed, assigned to nobody

[2018-07-30 18:17] clintoncwolfe commented on #3137
Fixed by #3252

[2018-07-30 18:17] #3137 closed, assigned to nobody

[2018-07-30 18:31] clintoncwolfe commented on #3235
See also #3017

[2018-07-31 06:50] jerryaldrichiii commented on #3262
Just had a thought. If we implement this we may need to do some checks to make sure `LANG=en_US.utf8` is supported on the backend that `command` is run on.

[2018-07-31 06:56] jerryaldrichiii commented on #3245
I believe this is the same issue as https://github.com/inspec/inspec/issues/3222

If so, trying to upload any profile on Windows I think will fail.

[2018-07-31 12:33] trevor-vaughan commented on #3262
Ideally, it would be set to whatever the target system actually is. That way people's checks will work in their native language.

Thinking about this, it might have to default to `en_US.utf8` but be allowed to be changed per check in case someone is using a different `utf8` set for their target checks.

[2018-07-31 13:30] aylham commented on #3262
Working in a environment not set by default to `en_US.utf8` it will be a nice addition, just precise in the doc that the `stdout` will be in English. My actual workaround is :
[code]
FYI this is the same problem with the yum resource as the regex look for the english output.

[2018-08-01 00:21] kagarmoe commented on #3060
The properties list is an index for available properties for a resource. Indexes provide faster orientation for users than examples. Linking the list to the examples is a very good idea.  Full descriptions of properties for each resource is desirable.

[2018-08-01 12:37] jquick commented on #3250
For now, the working solution is to populate the profiles with the proper code found in those profiles. So you can see the different layers of override if you wish.

[2018-08-01 13:12] jcastillocano commented on #1237
Hi, any news on this?

[2018-08-01 13:34] aaronlippold commented on #3250
@jquick So we have to use regression to find a not_nil code block with a control.id in the json structure?

[2018-08-01 13:41] jquick commented on #3250
Well you will have multiple ones now. You will have the old and the new per say. The profile will show the code for that profile, and it will show the updated code on the wrapper if set.

[2018-08-01 17:13] chris-rock commented on #2896
Just for reference, we defined the exit codes here https://github.com/inspec/inspec/issues/1825#issuecomment-382650911

[2018-08-01 17:51] vjeffrey opened #3265 "no distinct exit flag: no way to distinguish between scan execution failure and control failures"
### 🎛 Description

We were taking a look at using the --no-distinct-exit option in Automate when running remote execution jobs.
Control failures and failed executions are reported as exit code 1:
[code]

Which means we can't determine if something failed b/c something went wrong during inspec exec, or if it failed b/c the node failed some controls.

### 🌍 InSpec and Platform Version

2.2.50

### 💁

[2018-08-01 17:59] clintoncwolfe opened #3266 "Integrate non-resource docs from resource packs into main website"
### 🎛 Description

🙋 feature request?

#3184 gives us the ability to pull in resource docs (that is, documentation files specific to exactly one resource, from `docs/resources`) from resource packs and display them on the main website.

But if there are docs that are non-resource specific, we have no way of integrating them into the site.  One example would be Azure connection instructions from th

[2018-08-01 18:00] clintoncwolfe commented on #3265
Refs #1825 #2896 #3178

[2018-08-01 19:00] chris-rock commented on #3265
We could introduce a new exit code to indicate an exception

[2018-08-02 12:53] james-stocks commented on #2938
https://github.com/inspec/inspec/issues/1659 would make the change so we always extract tar.gz/zips

[2018-08-02 18:39] #3250 closed, assigned to jquick

[2018-08-02 18:40] #3258 closed, assigned to nobody

[2018-08-03 14:07] #3183 closed, assigned to jquick

[2018-08-03 15:36] clintoncwolfe opened #3268 "Profiles Doc Page has broken image links"
### 🎛 Description

🐛 bug report

The [profiles reference docs page](https://www.inspec.io/docs/reference/profiles/) has several mis-rendered image links.  Screenshot below.

![image](https://user-images.githubusercontent.com/156460/43651786-526fd454-9711-11e8-9d3d-1e5e12ccac17.png)

### 🌍 InSpec and Platform Version

2.2.55

[2018-08-03 16:58] chris-rock commented on #3265
We decided to not use the flag since its optimized for CI/CD. We will stick with the normal exit code errors defined in #1825
[code]
where 1 is going to report all other exceptions

[2018-08-03 16:58] #3265 closed, assigned to nobody

[2018-08-06 08:05] chris-rock commented on #562
We should use the CVSS 3.0 mapping in inspec https://www.first.org/cvss/specification-document

<img width="821" alt="image" src="https://user-images.githubusercontent.com/1178413/43704538-30d0b722-9960-11e8-9b4c-9a4657bda7b4.png">

[2018-08-06 10:51] trevor-vaughan commented on #562
Should there be general discussion around how to adjust the impact based on the environment?

Also, is it currently possible to adjust the impact programmatically?

For instance, I would like to be able to lower the impact of some items if `selinux` is enforcing and active on a daemon.

[2018-08-06 10:55] chris-rock commented on #562
You can inherit a control and adapt its impact. The challenge with adjusting the impact per environment is that its reporting may be difficult, because right now we assume that the impact is static for a control.

If I understand you correctly, you essentially want to return a score based on your  findings. Is that correct?

[2018-08-06 12:34] trevor-vaughan commented on #562
Yes, this is exactly what I want.

I also want to be able to adjust the score on individual items based on
inspection of the environment at run time to alleviate work on the system
maintainers.

Trevor

On Mon, Aug 6, 2018, 6:55 AM Christoph Hartmann <notifications@github.com>
wrote:

[2018-08-06 13:23] kchistova opened #3269 "aws_route_table expect 8 hexadecimal characters Route Table ID"
**### Bug report.**

**inspec version:**
2.2.41

**Description:**
InSpec doesn't handle Route Table ID which contain 17 characters and expect just 8

**Case:**
 describe aws_route_table('rtb-12345a1234567b12c') do
    it { should exist }
Expected result:
 ✔  Route Table rtb-12345a1234567b12c should exist
Actual result:
×  Route Table
     aws_route_table Route Table ID must be in the format "rtb-"

[2018-08-06 16:55] vjeffrey opened #3272 "exit code: reporting success when not able to report"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

[code]

[2018-08-06 17:00] jerryaldrichiii commented on #3269
Should this support both 8 and 17 characters? Or, is 8 never correct?

[2018-08-06 17:56] jerryaldrichiii commented on #3269
Looks like both 8 and 17 are valid according to [this](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/resource-ids.html)

I think we should go through and add support for 8 OR 17 everywhere.

[2018-08-06 19:12] espoelstra commented on #3268
I think I had noticed this on another page previously as well, but noticed this today and came here to report it but happy to upvote instead.

[2018-08-07 07:35] kchistova commented on #3269
Yes, sorry!

It still support 8 now and I think it should support both

[2018-08-07 13:29] fatmcgav opened #3274 "Inspec service enabled/running checks fail on Debian OS"
### 🎛 Description

The Inspec `service` resource appears to be having issues validating 'enabled/running' status on Debian 8 and Debian 9.

Spent some time debugging the issue with @frezbo on Slack - https://chefcommunity.slack.com/archives/C1XB6U6MN/p1533633470000041

TL;DR: Inspec tests for `service ntp should be {enabled|running)` fail as part of a Packer provisioning run. However when running

[2018-08-07 13:32] frezbo commented on #3274
Some ref: https://unix.stackexchange.com/questions/431896/failed-to-get-d-bus-connection-no-such-file-or-directory-xdg-runtime-dir-not

[2018-08-07 14:21] gpr opened #3276 "Bash resource should support heredoc script"
### 🎛 Description

🙋 feature request

I need to execute some complex script on the target that will generate the ouput to parse, I would expect to have the following support:

[code]

### 🌍 InSpec and Platform Version

2.2.41, Ubuntu 18.04. Transport: SSH

### 💁 Possible Solutions

I tried several solutions based `inspec.bash` and `inspec.command` without success.

Currently I'm using upload to cr

[2018-08-07 14:47] mahsoud commented on #3269
#3277 failed with weird CI error? Any advice on how I can help, would love to see this fix

[2018-08-08 15:23] clintoncwolfe commented on #3272
Refs #3178 #3265

[2018-08-09 12:16] #3269 closed, assigned to nobody

[2018-08-09 13:18] #3272 closed, assigned to nobody

[2018-08-09 13:25] EkaterinaBudnikov opened #3281 "Junit Jenkins Plugin doesn't display target"
### 🎛 Description - 🐛 bug report

I’m running Inspec to check some sshdconfigs. I have a loop that runs through a file with all my hosts. In Jenkins I can see the hosts (target) in the cli output of the Jenkins console. The junit reporter writes the target attribute into the junit.xml file. But the junit plugin in Jenkins doesn’t display the hosts (target) in its report. This means I just get a li

[2018-08-09 13:36] jquick commented on #3281
Hey @EkaterinaBudnikov ! Thanks for reporting this. We do not support the Jenkins junit plugin here. It looks like that is maintained over here https://github.com/jenkinsci/junit-plugin. As you said the inspec junit.xml report does include the target so it should just be pulling that into the junit plugin code.

[2018-08-09 13:36] #3281 closed, assigned to nobody

[2018-08-09 16:33] arlimus commented on #3182
Hi @Aminekanane , sorry for the late response. I have not tried updating InSpec on Chef Compliance to 2.x. It may lead to conflicts with the gems if it fails. I also highly recommend updating to Chef Automate (2.x) which has all the functionality we had in Chef Compliance + up to date profiles and InSpec. Since this is a commercially supported tool by Chef, I'd recommend reaching out to our suppor

[2018-08-09 16:33] #3182 closed, assigned to nobody

[2018-08-09 18:41] miah commented on #1506
I believe this is fixed by https://github.com/inspec/inspec/pull/2469

[2018-08-09 18:41] #1506 closed, assigned to adamleff

[2018-08-10 10:03] shelld0n commented on #3182
@arlimus Thank you for your comprehensive response, and your time.

[2018-08-10 12:32] cliffano commented on #2571
Same as @pkleanthous , I'm also trying to use other libraries that already moved to aws-sdk 3 and using inspec+train ends up in gem conflict.

[2018-08-10 16:38] #1900 closed, assigned to nobody

[2018-08-10 18:11] jerryaldrichiii commented on #1974
@naunga glad you quantified it with `ish` :wink:

@stevemac007 @naunga @trevor-vaughan after #3286 merges and is released you should be able use `path://` and it will vendor it into `vendor/`.

[2018-08-10 18:12] jerryaldrichiii commented on #1687
@primate-2016 when #3286 is merged and released `path://` will vendor profiles into `vendor/`. Let me know if this doesn't solve your issue.

[2018-08-10 18:43] jerryaldrichiii opened #3287 "Handle `@LongLink` tar archives (paths over 100 chars)"
See: https://github.com/inspec/inspec/issues/1659#issuecomment-320506608

This was left out of scope for #1659, but it should be addressed.

Aha! Link: https://chef.aha.io/features/SH-2206

[2018-08-10 23:04] arlimus opened #3289 "inspec.io website design ideas"
### 🎛 Description

This is a collection of issues for a future website redesign of inspec.io. It aggregates and closes all other website ideas we have in this repo.

- [ ] get your InSpec swag section https://github.com/inspec/inspec/issues/1532
- [ ] events feed in events.inspec.io https://github.com/inspec/inspec/issues/1492 https://github.com/inspec/inspec/issues/1465

[2018-08-10 23:04] arlimus commented on #1532
Moved to https://github.com/inspec/inspec/issues/3289

[2018-08-10 23:04] #1532 closed, assigned to hannah-radish

[2018-08-10 23:05] arlimus commented on #1492
Moved to https://github.com/inspec/inspec/issues/3289

[2018-08-10 23:05] #1492 closed, assigned to hannah-radish

[2018-08-10 23:07] arlimus commented on #1493
Completed

[2018-08-10 23:07] #1493 closed, assigned to nobody

[2018-08-10 23:09] arlimus commented on #1465
Moved to https://github.com/inspec/inspec/issues/3289

[2018-08-10 23:10] #1465 closed, assigned to nobody

[2018-08-10 23:14] arlimus commented on #2709
Fixed and working on current master (2.2.62)

[2018-08-10 23:14] #2709 closed, assigned to nobody

[2018-08-10 23:40] arlimus commented on #1453
I love the aspiration here :+1:
Currently, I don't think we can do anything about it, nor in the near future as inspec supports winrm, winrm depends on gssapi, and gssapi on ffi, and ffi requires compilation (since it works with native libraries). Closing this for now as it's not something we intend to pursue (unless anyone has any idea?)

[2018-08-10 23:40] #1453 closed, assigned to chris-rock

[2018-08-10 23:42] arlimus commented on #1498
We have not managed to complete this work and most of the commercial kit has now moved to Automate. We have a list of commercially supported profiles and versions that are now more visible and distinguished. This should cover the use-case. Thank you for bringing this up!

[2018-08-10 23:42] #1498 closed, assigned to arlimus

[2018-08-10 23:44] arlimus commented on #1528
Fully agree with the feedback given here. File read errors should be reported as errors. Proper ruby exceptions now create the desired result so that these conditions are neither reported as skipped nor as having read incorrect values.

[2018-08-10 23:44] #1528 closed, assigned to adamleff

[2018-08-10 23:46] arlimus commented on #1925
We missed to close this issue: the functionality is now included:

[code]

will list all resources in the inspec shell. When entering the shell it will present you with the `help` command which leads to the `help resources` command and with that nice progression for users to explore this environment. Thank you for your idea, this helped get it supported in InSpec :)

[2018-08-10 23:46] #1925 closed, assigned to nobody

[2018-08-10 23:47] arlimus commented on #709
Our little stale bot reported on this one but I feel it's still valid. The direcotry use-case is seen very often and feels incomplete with our current solutions.

[2018-08-11 00:01] arlimus commented on #893
Closing as dupe of #710

[2018-08-11 00:01] #893 closed, assigned to chris-rock

[2018-08-11 00:02] arlimus commented on #913
Cannot reproduce anymore. Closing unless anyone else finds this.

[2018-08-11 00:02] #913 closed, assigned to arlimus

[2018-08-11 19:39] khaljimbo opened #3290 "InSpec failes when using VSTS InSpec Execute build runner"
### 🎛 Description

Using the Execute InSpec build task in VSTS against an Azure environment I get errors.

### 🌍 InSpec and Platform Version

The Version of InSpec that the "Install InSpec" build runner installs is 2.2.62 and it is on the Microsoft Hosted Linux agents

### 🤔 Replication Case

This is the command line that it is running:

inspec exec . AZURE_SUBSCRIPTION_ID=*** AZURE_CLIENT_ID=***

[2018-08-11 20:00] #3290 closed, assigned to nobody

[2018-08-11 20:00] khaljimbo commented on #3290
Closing as I raised this in the wrong project

[2018-08-14 18:24] #3268 closed, assigned to nobody

[2018-08-15 20:09] arlimus opened #3292 "Not supported on my platform - be more helpful"
### 🎛 Description

**Choose one:** 🙋 feature request

When a resource is not supported on the platform, the report just says "[RESOURCE] is not supported on platform [PLATFORM]". This may lead to confusion for the user (e.g. firewalld running against windows, it just says not supported on windows 10, which makes us think this may just be the version of windows instead of showing that it's not mean

[2018-08-16 10:40] astorath opened #3295 "SetUp / TearDown hooks"
### 🎛 Description
**Choose one**: 🙋 feature request

As an infrastructure developer I want to use inspec as testing framework in kitchen-test environment.

[ ] Testing frameworks usually include SetUp / TearDown hooks that can prepare or clean up the environment to run tests.
[ ] This is quite difficult to debug test cases during kitchen verify step: there are little to no information about what w

[2018-08-17 14:14] clintoncwolfe opened #3297 "RFC: Improve airgap (conservative network usage) support"
### 🎛 Description

🙋 feature request

As InSpec is often used as a security tool, some users use it in an "airgapped" deployment (isolated from the Internet or non-organizational networks).  Some InSpec features break in an ungraceful way under these circumstances, as the feature timesout while trying to reach a public URL.

Note that InSpec should still try "normal" network attempts to the test t

[2018-08-17 14:29] chris-rock commented on #3295
@astorath Thank you for your feature request. I'd like to understand the use case a bit better. Are you aware of [kitchen-inspec](https://github.com/inspec/kitchen-inspec) and [molecule](https://github.com/metacloud/molecule/blob/69392a83ecc38e141aa1af25ca8cd4fdfd1bb244/test/scenarios/verifier/molecule/inspec/verify.yml)

[2018-08-17 15:28] khaljimbo opened #3299 "Terraform data parsing issue"
### 🎛 `load_with_context': undefined method `[]'

I am loading Terraform output into my InSpec so I can test my infrastructure. I have followed the instructions here: https://lollyrock.com/articles/inspec-terraform/

### 🌍 InSpec and Platform Version

I am running InSpec 2.2.61

### 🤔 Replication Case

This is what my code looks like
[code]

When these tests run, I get:

 [command]/usr/bin/inspec

[2018-08-17 19:53] aaronlippold opened #3300 "Ability to set an attribute via the cli"
🙋 feature request?

As part of our updates to attributes in inspec 3.x, we are also seeing more and more use of inspec in the ci/cd pipeline. The ability to pass these things only via the `attributes.yml` or via some `pipe foo` work yes, but a more stabilized approach would be great.

The ability to set an attribute from the CLI would be very useful as run / job specific data is easiest to push ri

[2018-08-17 20:10] Paladin opened #3301 "nginx_conf doesn't seem to parse files with an "internal" directive in a location."
### 🎛 nginx_conf seems unwilling to parse *any* of the config files, either included or direct.

Running via "inspec exec" and the resource doesn't seem to be parsing this location block:

    location = /404.html {
        root /usr/share/nginx/html;
        internal;
    }

If I comment out the "internal" everything parses fine, if I comment out the "root" (or leave it as is) then I get somethin

[2018-08-17 20:24] Paladin commented on #3301
And there's another twist!!!

location = /404.html {
    root /usr/share/nginx/html;
    internal;
}

triggers the bug, but:

location = /404.html {
    internal;
    root /usr/share/nginx/html;
}

doesn't.

[2018-08-17 20:24] astorath commented on #3295
@chris-rock, I was using `kitchen-inspec` to test my ansible and salt modules until recently. Then I switched to [bats](https://github.com/sstephenson/bats) testing framework instead of inspec (for the reasons described in the issue)

Sample scenarios are:
- apply ansible role
- verify that everything is fine
- break something (stop systemd service, for instance)
- reapply ansible role
- verify th

[2018-08-17 20:31] frezbo commented on #3295
Inspec is never intended to be a provisioner, it's supposed to be a testing/valiadation tool. The features you need should be included in your CI workflow in the way you need. And for the lifecycle hooks please take a look at the new lifecycle hooks feature added to TK.

[2018-08-18 07:55] noitorai opened #3302 "firewalld resource fails when inspec exec with --sudo-password"
### 🎛 Description

**🐛 bug report:**

firewalld resource fails when inspec exec with --sudo-password

### 🌍 InSpec and Platform Version

InSpec version: 2.2.34
InSpec execution host(OS): Ubuntu 16.04
Target host(OS): CentOS 7.5

### 🤔 Replication Case

1. Create user that can sudo with inputing password on target host.
2. Add ssh public key to authorized_keys.
3. Start firewalld on target host.
4.

[2018-08-20 00:17] neilhwatson opened #3303 "Support IPv6 in aws_security_group"
### 🎛 Description

Please add support for IPv6 in aws_security_group.

[2018-08-20 05:54] jerryaldrichiii commented on #3299
Thanks for the info @khaljimbo. Could you do me a favor and put `require 'pry'; binding.pry` below `params = JSON.parse(content)`

Then, run your exec command again and you will be placed in a REPL (Read–Eval–Print Loop), where you can view your variables among other things.

After entering the REPL, run `params` and place the output here.

I suspect that `params['resourceGroupLocation']['value']`

[2018-08-20 06:02] jerryaldrichiii commented on #3302
Great catch @noitorai!

This seems reasonable, assuming that `firewall-cmd` will not return exit codes other than 0 during regular usage.

Maybe use `if result.exit_status == 1`?

[2018-08-20 11:14] james-stocks opened #3304 "Cache results for `security_policy`"
The CIS benchmarks for Windows servers include a large (50+) number of individual tests of security privileges, and for those we can use [security_policy](https://github.com/inspec/inspec/blob/master/lib/resources/security_policy.rb).

It's not possible to group all the tests into a single `describe` because customers need to be able to pick and choose the tests they want in a wrapper profile.

It

[2018-08-20 12:51] walterdolce commented on #1236
I'm very much looking forward to this. At the moment the following works only for public InSpec profile repositories:
[code]

[2018-08-20 13:21] noitorai commented on #3302
I think so.

Written in firewall-cmd's man as follows:

[2018-08-20 14:13] chris-rock commented on #3171
Any PR that adds this support in https://github.com/inspec/inspec/blob/master/lib/resources/processes.rb#L106 is welcome!

[2018-08-20 14:19] tarcinil commented on #3302
This is not an option.  firewall-cmd can return a number of different error codes based on what is wrong.  If there are multiple issues, it uses exit code 254.  firewall-cmd will return exit code 2 when a bad command-line param is used.

Exit Codes for firewalld are can be found [here](https://github.com/firewalld/firewalld/blob/cd8d2d028e7fd814cb86b6a151c325af057a4cf1/src/firewall/errors.py).

[2018-08-20 14:26] Cmouli7 opened #3305 "Describe.one scenario handling with more than one true condition"
### 🎛 Description

**Choose one:** This is a 🙋 feature request?

Hi there, I am trying to build and test with inspec for scenario where test should pass for more than 1 condition being true. Example code below
.

### 🌍 InSpec and Platform Version

inspec-2.1.43-1.el7.x86_64.rpm

### 🤔 Replication Case
[code]
situation can be any 2 of the above being true, test should pass... else fail.

Please can

[2018-08-20 14:33] frezbo commented on #3305
@Cmouli7 just use `describe.two`

[2018-08-20 14:38] Cmouli7 commented on #3305
@frezbo - Did try that already and got No method error
 undefined method `two' for #<#<Class:0x0000000002bde640>:0x0000000002bde578> (NoMethodError)

[2018-08-20 18:42] kagarmoe opened #3306 "Button text overflows borders."
### 🎛 Description

🐛 bug report

UI : text overflows buttons on /inspec/docs

### 🌍 InSpec and Platform Version

### 🤔 Replication Case
<img width="1920" alt="screen shot 2018-08-20 at 11 37 04 am 2" src="https://user-images.githubusercontent.com/4400151/44359788-b9c6bc80-a46d-11e8-890a-63383ad1a69f.png">

### 💁 Possible Solutions

CSS fix

### 💻 Stacktrace

[2018-08-20 20:51] Paladin opened #3307 "Simplify firewalld testing"
### 🎛 The firewalld resource makes testing for lists harder than it needs to be

**Choose one:** is this a 🐛 bug report or 🙋 feature request?
Feature request

Currently if I want to test a firewalld zone for services or sources, the code gets a little unfriendly. This is because when you pull in a single zone, the results are put inside a double array. For example, given the services "http" and "h

[2018-08-21 07:13] frezbo commented on #3305
Strange I am seeing the same error too, I remember it used to work long back. @jerryaldrichiii Any thoughts?

[2018-08-21 07:28] jerryaldrichiii commented on #3305
I don't remember a `describe.two`. I only see `.one` here: https://github.com/inspec/inspec/blame/master/lib/inspec/describe.rb#L17

I also can't think of a way to say that at least two should pass without an absurd amount of permutations.  I'll flag this as a feature request though because there is value here.

[2018-08-21 11:16] james-stocks opened #3309 "Be able to add a skipped test to Inspec::Describe"
[Inspec::Describe](https://github.com/inspec/inspec/blob/master/lib/inspec/objects/describe.rb) receives tests with the `add_test` method that requires the caller to provide `its`, `matcher` and `expectation`

If the test you want to add happens to be skipped; `matcher` and `expectation` are `nil` and you would want to be able to supply `skip` instead.

I can work around this in my plugin code by

[2018-08-21 15:00] pwelch opened #3310 "Infer "--sudo" when only given "--sudo-password""
### 🎛 Description
🙋 feature request

If a user needs to provide `--sudo-password` and leaves off the `--sudo` flag, assume they meant to add the `--sudo` flag.

[2018-08-21 15:03] chris-rock commented on #3310
Could we return an error if no password is provided instead?

[2018-08-21 15:44] pwelch commented on #3310
@chris-rock I think that would be a helpful feature but not what I was thinking of this issue.

If a user does `inspec exec profile.rb <TARGET> --sudo-password=PASSWORD` then they meant to run as sudo but didn't include the flag.

[2018-08-21 17:36] jquick opened #3311 "Inspec does not properly re-cache compliance dependencies"
### 🎛 Description

🐛 bug report

When using a compliance dependency the URL of the compliance server is written to the `inspec.lock` file. This make inspec think its a traditional url fetch when trying to re-download the dependency. This is the current `inspec.lock` file which does not work:

[code]

Removing the URL line make the fetchers work again and properly call out to the compliance server.

[2018-08-21 17:39] vjeffrey opened #3312 "json-automate reporter: warn messaged included in stdout"
### 🎛 Description

testing out the new json-automate reporter, and it looks like our curly brace checks (the code that checks that the stdout starts and ends with ‘{’ ‘}’ found that a warning is making its way into the stdout:
[code]

[2018-08-21 18:56] pwelch commented on #3310
Fix on #3313

[2018-08-21 18:56] jerryaldrichiii commented on #3310
After speaking with the team, we've elected to add `--sudo` if using `--sudo-password` without it and warn the user (see: https://github.com/inspec/inspec/pull/3313)

I've also added https://github.com/inspec/train/issues/340 to raise an error in Train in the next major version.

[2018-08-21 22:29] espoelstra opened #3314 "Define a new `service` type of `standalone_service` for custom service scripts"
### 🎛 Description

 🙋 feature request

### 🌍 InSpec and Platform Version

InSpec 1.45
Ubuntu 14.04, 16.04, 18.04

### 🤔 Replication Case

The current platform/service detection expects all services to be registered with a service manager, in some instances they are, but via legacy mechanisms not expected for that particular platform. As an example some application installs a script into `/etc/init

[2018-08-22 08:22] Cmouli7 commented on #3305
Thanks @frezbo and @jerryaldrichiii
Got a couple of questions
1) is it good idea to handle a situation to check(and pass) when 50% of different condition are satisfied rather limiting to one or two. understand a lot of permutations isn't good but say 2/4 or 3/5 for ex.  just a thought :)
2) Just curious to know how long does a FR gets implemented to a release for use?

[2018-08-22 12:03] kmf opened #3315 "Broken Link: https://www.inspec.io/docs/reference/resources/azure_generic_resource/"
The Link to

`Inspec Integration Tests for Azure Generic Resources` is broken

[2018-08-22 14:12] chris-rock commented on #2881
Related to #2976

[2018-08-22 15:46] trevor-vaughan opened #3316 "Tests should have a 'dangerous' tag that will skip the test unless explicitly enabled."
### 🎛 Description

🙋 There are some tests, such as those that cause high I/O load on a system, that are dangerous to run on operational systems by default. There should be an inbuilt mechanism in `inspec` that specifically provides something like a `dangerous` tag and allows users to specify exactly why this test is dangerous.

Though this can be done via logic in individual profiles, it would be

[2018-08-22 18:29] clintoncwolfe opened #3317 "Post-InSpec 3.0 Plugin system features"
### 🎛 Description

🙋 feature request

This ticket is to collect Plugin features that we plan to (intentionally) omit from the InSpec v3 release.  We may split these into individual issues as needed.

* [x] Trying to do a gemfile install with an update is an error if the file version matches the installed version
* [x] Prevent removing a gem if it will lead to unsolveable dependencies
* [x] reject

[2018-08-22 19:58] #2932 closed, assigned to nobody

[2018-08-22 20:33] jquick opened #3319 "Allow target-id passthrough"
### 🎛 Description

🙋 feature request?

We have decided to move away from the Train::UUID generation in favor of a passthrough system. This means you will have to pass in a unique id for your target. When you run a inspec command and it will show up on the report at the end.

We will want to allow both `cli`
[code]

and `--json-config`
[code]

Along with this we will be removing the call to generat

[2018-08-22 21:53] clintoncwolfe commented on #3305
On 1, if you're looking for a general case, one could propose syntax like this:

[code]

Other words besides "threshold" might be better (pass_if_at_least_n_pass would be a very verbose, literal choice).  We'd check for prior art, too; if something like RSpec, ServerSpec, AwsSpec, etc implements something similar, we'd want to examine their approach (and do something similar, or intentionally avoi

[2018-08-22 22:21] jerryaldrichiii commented on #3305
@Cmouli7 I'd say if you are worried about X% of tests passing I would handle that logic outside of InSpec...I'm having a hard time coming up with a scenario where that would be desirable. I was thinking of something like `describe.at_least(2)` or some such...but I'm still having trouble thinking of a use case.

Regarding time from getting marked as a feature request to release, it all depends. We

[2018-08-22 22:23] jerryaldrichiii commented on #3305
Ah, didn't hit refresh! @clintoncwolfe as usual is 100% right on all points :smile:

[2018-08-23 08:53] Cmouli7 commented on #3305
@clintoncwolfe - Thanks for your response and like your proposed syntax. I will wait for it be a part of official release(if considered as a case) as i am currently trying to handle this scenario with a workaround in ruby script. @jerryaldrichiii - Can i ask what would be your proposal to handle this outside of inspec. will be great if you share as an example.

[2018-08-23 08:54] frezbo opened #3322 "Inspec merger fails with `only_if` after v2.2.61"
### 🎛 Description

🐛 bug report

Inspec merger at: https://github.com/inspec/inspec/blob/master/lib/inspec/rule.rb#L207 merger controls with same name. After https://github.com/inspec/inspec/pull/3267, if we have two controls with same name the `rule.instance_variable_get(:@__skip_rule)` get updated at each merge, thus further failing the any `only_if`'s in the controls. This will also create loop

[2018-08-23 12:48] jerryaldrichiii commented on #3305
@Cmouli7 I would need more info to give an example. I can't think of a use case. If checking X% is passing, best I can think of now is using `--reporter json`, extracting the pass/fail/total, and then making a decision based on the output.

If you don't mind, try joining the Chef Community Slack (http://community-slack.chef.io/) and asking in the #inspec channel, lots of smart folks there.

[2018-08-23 17:43] #3312 closed, assigned to jquick

[2018-08-23 17:47] #3322 closed, assigned to nobody

[2018-08-23 19:17] frezbo opened #3325 "More tests for inspec control merger"
### 🎛 Description

**Choose one:**  🙋 feature request?

More tests for inspec control merger

Ref: https://github.com/inspec/inspec/pull/3323

@jquick Created this for tracking

[2018-08-23 20:33] tomqwu opened #3326 "no implicit conversion of nil into String (TypeError)"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

### 🌍 InSpec and Platform Version

 02.2.69

== Platform Details

Name:      gcp
Families:  cloud, api
Release:   google-api-client-v0.19.8
[Pipeline]

[2018-08-24 00:15] btm commented on #3257
Here was the duplicate issue: https://github.com/inspec/inspec/issues/3161

[2018-08-24 13:19] Cmouli7 commented on #3305
@jerryaldrichiii  this is my scenario... we have IBM MQ queues running on AWS Ec2 servers and i am trying to verify if minimum number of queues required are up and running when servers are built. for ex, we have 5 queues and will be compared with inspec stdout using command resourse

AWSMQ_queue1,2,3,4,5 and sample code i am trying to achieve

describe.one do   # wanted to try with describe.two /

[2018-08-24 22:16] dmccown opened #3328 "`only_if` returns confusing title if no title in control"
### 🎛 Description

🐛 bug report

When skipping a control with `only_if` and no title given a default title of `Operating System Detection` is given. See replication case for more details.

### 🌍 InSpec and Platform Version

* inspec (2.2.70)
* Mac OS 10.13.6

### 🤔 Replication Case

When skipping a control with `only_if`, no title specified in my control, and use the progress flag I get:

[code]
I

[2018-08-24 22:19] frezbo commented on #3328
@dmccown can you paste your control too?

[2018-08-24 22:20] pwelch commented on #3310
Closing since since @jerryaldrichiii patched it

[2018-08-24 22:20] #3310 closed, assigned to nobody

[2018-08-24 22:37] frezbo commented on #3328
ahh I see the same, never actually paid much attention to output and most of my controls had title. Good catch

[2018-08-24 22:47] frezbo commented on #3325
Another PR https://github.com/inspec/inspec/pull/3329 to show that we need to add tests for merged controls

[2018-08-25 07:18] jerryaldrichiii commented on #3305
That is a superb use case!

Since I can't give you a date by when/if this feature will be added. Something like this should get you by in the meantime:

[code]

[2018-08-27 13:30] james-stocks commented on #1385
This is also a concern for Windows:

[code]

I agree it is best to specify an absolute path; but occasionally a security standard will ask you to dynamically read a file path from the registry and then perform tests on the path given by the registry.
As a workaround we can expand whatever we take from the registry before using it...

[2018-08-27 13:32] james-stocks commented on #2139
I've been working on something similar.
It's not finished or in real use yet; but the work so far is at https://github.com/james-stocks/inspec_effectiverights/blob/master/libraries/FilePermissions.rb

[2018-08-27 21:30] justjoehere commented on #765
Has anyone figured out a way to make this work after 2 years?   Or should I start looking for another tool to do infrastructure and compliance validations?

[2018-08-28 13:11] #3009 closed, assigned to nobody

[2018-08-28 13:11] #3311 closed, assigned to nobody

[2018-08-28 14:33] tomqwu commented on #3326
Made a PR via https://github.com/inspec/inspec/pull/3331

[2018-08-29 13:33] #3326 closed, assigned to nobody

[2018-08-29 13:34] Cmouli7 commented on #3305
Thanks @jerryaldrichiii . had to make below minor correction as i was getting an error
output = inspec.command(dspmq).stdout instead of
output = inspec.command.stdout(dspmq)

[2018-08-29 16:33] Paladin opened #3334 "apache_conf parses quotes incorrectly"
### 🎛 apache_conf drops the final quotation mark in a Header directive

**Choose one:** 🐛 bug report

### 🌍 InSpec and Platform Version

I'm running inspec shell from inspec 2.2.55 on MacOS 10.13.6

### 🤔 Replication Case

Start with any valid apache conf file. Add this line to enable HSTS:

Header always set Strict-Transport-Security "max-age=15638400"

Now connect with inspec shell and ask for t

[2018-08-29 17:25] miah commented on #3316
A dangerous build-in sounds like a good idea!

You could probably "fake" this right now using some `only_if` magic that checks a attribute.

[2018-08-29 17:27] trevor-vaughan commented on #3316
@miah Yeah, that's what I was looking at doing, but that's completely profile-centric and I would love it if I didn't run things that other people thought were dangerous without having to figure out their way of doing it (if they even do it at all).

[2018-08-29 18:16] jerryaldrichiii commented on #3305
Hah, yup. Sorry bout that.

[2018-08-29 21:18] frezbo opened #3337 "Feature: Support ERB rendering in inspec.yml as Test Kitchen does"
### 🎛 Description

**Choose one:** 🙋 feature request?

Support **ERB** rendering in `inspec.yml`, so that we can specify remote dependencies without hardcoding usernames passwords etc.

Sample `inspec.yml`:

[code]

[2018-08-29 21:24] miah opened #3339 "Remove deprecated `format` option from CLI for 3.0"
Looks like check, detect, and a few other cli systems support `format`, should they all use `reporter` now? Seems like `--reporter` should be everywhere for consistency.

https://github.com/inspec/inspec/blob/master/lib/inspec/base_cli.rb#L80-L121
https://github.com/inspec/inspec/blob/master/lib/inspec/cli.rb#L66
https://github.com/inspec/inspec/blob/master/lib/inspec/cli.rb#L183
https://github.co

[2018-08-29 21:29] miah opened #3340 "Remove deprecated yumrepo from yum resource for 3.0"
https://github.com/inspec/inspec/blob/master/lib/resources/yum.rb#L156-L180

ref: #2458

[2018-08-29 23:54] frezbo opened #3342 "Support http basic auth for URL based dependency resolution"
### 🎛 Description

**Choose one:** 🙋 feature request?

Support http basic auth for URL based dependency resolution

[2018-08-30 13:11] #3144 closed, assigned to jquick

[2018-08-30 14:30] #3315 closed, assigned to nobody

[2018-08-30 16:56] #3337 closed, assigned to nobody

[2018-08-30 21:40] marcomancuso opened #3344 "Docker container creates reporter files with root permission"
### 🎛 Description

**Choose one:**  🐛 bug report

Running inspec with the Docker container and the **--reporter** will create a file with root permission

### 🌍 InSpec and Platform Version

**Docker container**:
`chef/inspec:latest`

[code]

Host:

[code]

### 🤔 Replication Case

with a **non root** user run:

[code]

Result:

folder junit with my_junit.xml have root permissions and user cannot re

[2018-08-30 22:04] frezbo commented on #3344
@marcomancuso this is not an inspec bug and how inherently docker containers work. Since the container is run as root this is an expected behaviour. You could circumvent this by running as:
[code]

[2018-08-31 10:08] marcomancuso commented on #3344
@frezbo that does not work because Inspec has root permission.
These are the container users:
[code]

I tried to run with **--user postgres** and I had a permission issue:
[code]

[2018-08-31 11:25] frezbo commented on #3344
Arrgggg, right. The only solution is to change the files owner. The reason being docker runs as root. I usually run containers in userspace as rootless. so it will be always mapped to the user being run.

[2018-08-31 12:53] marcomancuso commented on #3344
The user does not have the right to change the owner of the file, so it can't be done.
I think it's a bug that Inspec run as root in the container and it should have a specific user

[2018-08-31 12:53] jquick opened #3345 "Allow readable impacts in controls"
### 🎛 Description

 🙋 feature request

## Severity
At the moment users describe the `impact` with a numeric value from 0.0 to 1.0:
[code]
These are implicitly scaled as:
* 0.0 Informational
* <0.4 Minor controls
* <0.7 Major controls
* <=1.0 Critical controls
We plan to make it easier to understand these controls:
[code]
The original numeric values were closely mapped to CVSS. Instead we will move

[2018-08-31 13:00] frezbo commented on #3344
That will not still solve the problem, lets say that that the uid inside the container is `100` so the files will be created as uid `100` on the host making it still in-accessible

[2018-08-31 13:46] marcomancuso commented on #3344
yes, right. I think it would be easier to just output the command to a file:

[code]

[2018-09-02 13:26] aaronlippold commented on #765
I believe this has been worked with our other Proxy Pass and Bastion Host support in inspec and train. However, if not, please provide more feedback so we can put it on the 3.0.x backlog as a bug.

[2018-09-02 16:10] DWSR opened #3347 "Working Symlink matchers on Windows for File resource"
### 🎛 Description

I would love to see the `be_symlink` and `be_linked_to` matchers work on Windows.

### 🌍 InSpec and Platform Version

Version: `2.2.55` (bundled with Chef Workstation)

### 🤔 Replication Case

When checking an existing symlink (created via Chef), I get the following output from InSpec
[code]

The following InSpec definition was used:
[code]

### 💁 Possible Solutions

I am using

[2018-09-03 16:07] james-stocks opened #3348 "Request - improve `inspec check` warnings for use in CI"
### 🎛 Description

 🙋 feature request

Currently I use `inspec check` in CI. Any errors are a failure, otherwise any (or no) warnings is allowed as a pass.
I would like to make this more strict and fail on warnings; but there's a couple of reasons why I can't immediately do this:

 * Inspec returns 0 when there are warnings (as a workaround I can capture stdout/stderr and grep for warnings)
 * The

[2018-09-03 18:16] pmav99 opened #3349 "Postgresql 10 versioning on ubuntu + version_from_psql"
### 🎛 Description

 🐛 bug report

I am trying to run [postgres-baseline](https://github.com/dev-sec/postgres-baseline) on ubuntu while using Postgresql 10 but I get a stacktrace
[code]

### 🌍 InSpec and Platform Version
Inspec was installed via
[code]
[code]
I also installed Postgres 9.6 for comparison:
[code]

Finally:
[code]

### 💁 Possible Solutions

My ruby foo is not that great, but I think t

[2018-09-04 00:50] clintoncwolfe opened #3350 "Make a class for the plugins.json file"
### 🎛 Description

🐛 bug report, in the sense of a code smell

Both Inspec::Plugin::V2::Loader and Inspec::Plugin::V2::Installer need to interact with the plugin configuration file.  Currently, both simply create it if needed, both read it, Loader validates it, and Installer modifies it; Registry exposes primitives to answer question about it.

So, yeah, no one thing has responsibility for this, a

[2018-09-04 01:58] tarcinil commented on #1529
How does this differ from run_time that exists under the json/yaml reporters?  Is this needed anymore?

[2018-09-04 08:17] pmav99 commented on #3349
More info WRT postgresql versioning: https://www.postgresql.org/support/versioning/

[2018-09-04 08:23] chris-rock commented on #1529
@tarcinil I think the description lacks of more detail. You're right that the run_time is offering the data already. It would be nice if the cli output allows an optional `--benchmark` and shows all the stats at the end like:

[code]

The results should be ordered by time as default.

[2018-09-04 11:56] pmav99 commented on #3349
Maybe instead of relying on awk using a ruby regex would be a better idea: http://rubular.com/r/yEW71p2lph

[2018-09-04 13:48] jquick commented on #3345
closing in favor of #562

[2018-09-04 13:49] #3345 closed, assigned to nobody

[2018-09-04 14:53] clintoncwolfe opened #3351 "Stop using example profiles as test fixtures"
### 🎛 Description

🐛 bug report

In places like [test/functional/helper.rb](https://github.com/inspec/inspec/blob/master/test/functional/helper.rb), we store paths to test fixtures (testing resources on the filesystem, typically).  Many of these fixtures point to profiles that are in [examples/](https://github.com/inspec/inspec/blob/master/examples), which is a set of profiles intended to be good

[2018-09-05 00:48] grantbee opened #3353 "Undefined method passwords in shadow from 2.0.45 to 2.2.78 (latest stable)"
### 🎛 Description
🐛 bug report

Hi guys, have run into an inspec issue which is present from version 2.0.45. Seems related to the issues around 3136 and 3140. However this is still a problem when using version 2.2.78.

Was hoping I could get some help here, as am looking to upgrade envr to chef-14 client which currently includes inspec version 2.2.70, and which is causing this test to fail (I have

[2018-09-05 04:35] jerryaldrichiii commented on #1974
@trevor-vaughan @naunga @stevemac007 I may have misread this initially. With my changes in #3286 you will be able to specify a local path and have it vendored when running `inpsec vendor`, is that sufficient?

NOTE: It would not clone/download a repo for you and then let you specify a path on that repo.

[2018-09-05 17:11] nitrocode commented on #3339
Yup. Still seeing that with this in my `.kitchen.yml` file

[code]

[2018-09-05 18:33] clintoncwolfe opened #3355 "Ruby version mismatch under CI"
### 🎛 Description

🐛 bug report

While testing PR #3352 , @clintoncwolfe and @jerryaldrichiii  found that both TravisCI and AppVeyor would error on the unit tests, on the unit test verifying the gem path used to install plugin gems.  The issue was that the _expected value_ (which is calculated in the test code from RUBY_VERSION) did not match that of the actual ruby interpreter, nor the value retu

[2018-09-05 19:07] #3319 closed, assigned to nobody

[2018-09-06 06:45] frezbo opened #3357 "Inspec Archive produces different checksums on each run"
### 🎛 Description

`inspec archive` produces different checksum on each run even when the profile has not changed.

**Choose one:** 🐛 bug report

### 🌍 InSpec and Platform Version

`2.2.78`

### 🤔 Replication Case

[code]

[2018-09-06 06:51] frezbo commented on #3357
@jquick @jerryaldrichiii This is due to the fact we are not removing the `.git` folder

[code]

[2018-09-06 10:22] atomic111 commented on #3245
Hi,
i got the same error with uploading a profile via cli. But if i upload it via the automate gui everthing works fine:

[code]

[2018-09-06 11:30] kmf commented on #1945
Guess this https://github.com/inspec/inspec/pull/3356 is going to solve this 🍾

[2018-09-06 13:18] jquick commented on #3357
Hey @frezbo! Thanks for this Issue. Unfortunately even after removing `.git` folders for git fetchers it is unlikely that the sha256 of the actual archive will be identical. Testing with url tar's its still coming up differently.

We recommend you use the profile sha256 instead which is how we determine if the profile is the same or not. Ex:

[code]

This should be the same between archives accord

[2018-09-06 13:48] frezbo commented on #3357
@jquick what do you think of removing `.git` from all `fetchers`. I see the same issue with `url` fetcher but that in turn depended on another profile from git. Am I missing anything in here?

[2018-09-06 14:00] jquick commented on #3357
If a `url` profile depended on a `git` profile it should use your new code accordingly as it should be using the `git` profile under the hood (unless its pre-vendored). I will have to do some more testing on this and talk to the team.

[2018-09-06 14:06] frezbo commented on #3357
Yeh you are right!!.

[2018-09-06 15:51] mhackethal opened #3361 "InSpec package.rb didnt return correct result after update to latest version"
### 🎛 Description
After updating to latest inspec version 2.2.78 the package.rb didnt return the expected result.
During my analysis i detected 2 issues.

1) In my previous version i could use "*" als wildcard because the match was done with -like operation,
this was changed to -match without wildcard option.
From my point of view it makes no sense to do a strict match here. Windows installations

[2018-09-07 03:19] clintoncwolfe commented on #1974
From the last sentence of the OP, I think this is a request to add the ability to fetch a profile by git, then have inspec look in a subdirectory of the cloned repo.  I don't follow @chris-rock's statement that vendor harmonization would address this; I think it's simply a separate feature request.

[2018-09-07 03:28] #1659 closed, assigned to nobody

[2018-09-07 03:28] #1283 closed, assigned to chris-rock, jerryaldrichiii

[2018-09-07 03:28] #1687 closed, assigned to nobody

[2018-09-07 03:28] #2938 closed, assigned to nobody

[2018-09-07 05:58] kmf opened #3365 "Feature Request: EditorConfig"
### 🙋 When I run `inspec init` I would love an `EditorConfig` to be placed in the root

What is [EditorConfig](https://editorconfig.org)?

This obviously depends on **RFC inspec style guide** https://github.com/inspec/inspec/pull/3356
as soon this done we can implement this

[2018-09-07 06:58] jerryaldrichiii commented on #3365
I like the idea of EditorConfig, but I don't think I want to force it on all of our users.

That being said, a custom generator like `chef generate cookbook` sounds neat. I'll flag this as a feature request regardless.

[2018-09-07 11:39] frezbo opened #3367 "Inspec archive instantiates the class twice"
### 🎛 Description

**Choose one:**🐛 bug report

Inspec archive instantiates the `Inspec::Profile.for_target` twice

### 🌍 InSpec and Platform Version

2.2.78

### 🤔 Replication Case

Looking at the archive code code, we first do `vendor_deps(path, vendor_options)` which calls `Inspec::ProfileVendor.new(profile_path).vendor!` which initializes the `Inspec::Profile.for_target()`. Then it calls  the

[2018-09-07 12:17] chris-rock opened #3368 "InSpec archives are not extracted during vendoring on Windows"
### 🎛 Description

this a 🐛 bug report

On Windows profiles are not extracted properly on commit 9d175279. I can confirm that it works on macOs without any issues.

[code]

### 🌍 InSpec and Platform Version

2.2.81 which includes https://github.com/inspec/inspec/pull/3286

### 🤔 Replication Case

Use a profile with profile inheritance on Windows

### 💁 Possible Solutions

If you have already ideas

[2018-09-07 14:04] chris-rock commented on #3245
I can confirm this bug for Windows in combination with Automate 2

[2018-09-07 14:31] trevor-vaughan commented on #1974
Sorry that I'm late to the party. This is a separate feature that I need for composing profiles from multiple sources that have them under the root level of the repo.

Specifically, this allows for micro-embedding profiles with components and creating a higher level one later which would allow software projects to embed inspec checks for their own software as they see fit.

[2018-09-07 17:35] clintoncwolfe commented on #3368
I'd like to see a specific test case for this; appveyor passed #3286, so we must have a gap.

[2018-09-07 18:16] clintoncwolfe opened #3373 "Poor testing support for Compliance/A2 integration"
### 🎛 Description

🐛 bug report

Testing features that are intended to execute against Automate or Compliance is difficult (more often, omitted, or anecdotally tested), because our functional testing does not have either a test server, or a mocked representation of one.

[Example](https://github.com/inspec/inspec/blob/master/test/functional/inspec_compliance_test.rb)

This leads to a proliferation

[2018-09-07 18:25] #3245 closed, assigned to nobody

[2018-09-10 11:32] chris-rock opened #3375 "ASCII-8BIT to UTF-8 (Encoding::UndefinedConversionError) error"
### 🎛 Description

When I try to upload a profile to Automate, I receive an Encoding::Undefined message:

[code]

### 🌍 InSpec and Platform Version

InSpec 2.x

### 🤔 Replication Case

Use ASCII-8BIT codes in UTF files

### 💁 Possible Solutions

Only use UTF character sets

### 💻 Stacktrace

Please include the stacktrace output or link to a gist of it, if there is one.

[2018-09-10 11:33] chris-rock commented on #3375
You can use the following grep command to identify the characters:

[code]

Change the highlighted characters and the upload to Automate will work fine.

[2018-09-10 11:33] #3375 closed, assigned to nobody

[2018-09-10 12:02] chris-rock commented on #2044
I can confirm the issue is located in InSpec.

[2018-09-10 18:37] #2044 closed, assigned to nobody

[2018-09-11 09:40] chris-rock commented on #2938
fixed by #3376

[2018-09-11 13:49] rachelrice opened #3379 "Support for controls with nested OR logic"
### 🎛 Description

🙋 feature request?

Controls with nested OR logic result in nested `describe.one` blocks which are not supported in Inspec.

### 🤔 Replication Case

Sample control definition:
[code]

### 💁 Possible Solutions

Resulting translated control, Inspec does not currently support the nested `describe.one`.
This is assuming that `describe.all` as per https://github.com/inspec/inspec/iss

[2018-09-11 17:47] clintoncwolfe commented on #3373
Incident: removal of UUID generation in favor of target-id passthru (#3320) broke reconciliation of nodes within A2

[2018-09-11 19:53] miah opened #3380 "test/helper.rb should be refactored"
### 🎛 Description

Our `test/helper.rb` is too complex, which makes it difficult to require on tests without potentially causing issues. It: sets up code coverage, sets up minitest, requires a bunch of other libraries (like json, tmpdir, tempfile), require a bunch of InSpec itself, and creates a MockLoader system.

Our helper should be _simple_ it should set up code coverage, and minitest.

### 💁

[2018-09-12 20:42] #3176 closed, assigned to jquick

[2018-09-13 01:19] aaronlippold commented on #3349
Given I was the author of this or at least one of the contributors, I will try to work up a PR unless others on the team have already picked it up

[2018-09-13 11:50] jquick opened #3389 "Update inspec omni to ship with 2.5.1"
### 🎛 Description

We need to update the ruby inspec ships with:

### 💁 Possible Solutions

https://github.com/inspec/inspec/blob/master/omnibus/config/projects/inspec.rb#L40 update this to 2.5.1

[2018-09-13 18:14] #562 closed, assigned to jquick

[2018-09-13 19:36] #2488 closed, assigned to jquick

[2018-09-13 20:01] jquick commented on #1324
This was fixed via https://github.com/inspec/inspec/pull/3286

[2018-09-13 20:01] #1324 closed, assigned to jerryaldrichiii

[2018-09-14 00:19] #3368 closed, assigned to nobody

[2018-09-14 13:18] bpeters-mcis opened #3395 "Resource windows_task fails when multiple triggers defined"
### 🎛 Description

🐛 bug report

When running an inspec test to verify the settings of a windows_task, it fails with "∅  no implicit conversion of String into Integer" if the task has multiple triggers defined.

### 🌍 InSpec and Platform Version

I've tested this with inspec versions 1.45.13, which I subsequently upgraded to 2.2.70, both have the same behavior.

Tests run on Mac OS 10.13 against b

[2018-09-14 15:50] Paladin opened #3396 "Global Attributes not visible in included controls?"
### 🎛 Description

 🐛 bug report

The bug is either in the code or my understanding, cannot prove which, making this possibly a bug report on me, rather than the code.

### 🌍 InSpec and Platform Version

2.2.101

### 🤔 Replication Case

1) create two profiles, for the sake of this example, call them A and B
2) set an attribute in the inspec.yml of A
3) set a dependency in A for B
4) include_contro

[2018-09-17 09:27] acondrat commented on #3334
Hi,

Same issue here. Looks like it was introduced somewhere in 2.2. The workaround for us is to go with 2.1
[code]

[2018-09-17 10:55] frezbo commented on #3357
@jquick this is mostly due to how `rubyzip` handles the file creation. Ref:
- https://stackoverflow.com/questions/38782030/md5sum-of-rubyzip-output-string-and-written-file-differs
- https://github.com/rubyzip/rubyzip/issues/316
- https://github.com/rubyzip/rubyzip/pull/40

Is there any way we can incorporate this?

The use case:
- Create an archive and upload to some http server
- The dependent pr

[2018-09-17 11:57] jquick commented on #3396
The idea behind global attributes is that you can use the attributes in any control file for that profile. It is not expected that the yml attributes from profile A will override attributes on profile B. This would have unexpected overrides. If you would like to set attributes on the fly for both you will still want to use an `--attrs` file.

Also your syntax for the yml attributes is invalid. Ple

[2018-09-17 12:11] #3389 closed, assigned to nobody

[2018-09-17 14:26] Paladin commented on #3396
Apologies, when I did the copy/paste for those I used the wrong source file, didn't notice until you pointed it out. I should have caught that.

So the correct analog for "global attributes" in inspec are "module variables" in other systems rather than "global variables." OK, that helps; I get it now. Like I said, it was as likely to be a bug in my understanding as it was anything else. Might be u

[2018-09-17 15:21] jquick commented on #3396
Ah gotcha. Yes sorry for the confusion. We will try to document this better to remove any other misconceptions. Thank you for pointing this out! Closing this for now.

[2018-09-17 15:21] #3396 closed, assigned to nobody

[2018-09-17 15:27] aaronlippold commented on #3396
Although they use case he describes would be something that would be very
useful if at all possible

On Mon, Sep 17, 2018, 11:25 AM Jared Quick <notifications@github.com> wrote:

[2018-09-17 15:28] aaronlippold commented on #3396
I actually expected it to work that way as well

On Mon, Sep 17, 2018, 11:27 AM Aaron Lippold <lippold@gmail.com> wrote:

[2018-09-17 15:40] jquick commented on #3396
You can override without `--attrs` if you really need by grabbing the attribute directly: https://github.com/inspec/inspec/blob/master/test/unit/mock/profiles/global_attributes/controls/attribute_inheritance.rb#L11 but we prefer the use of `--attrs`

[2018-09-17 17:17] jerryaldrichiii commented on #3379
@rachelrice currently only `describe.one` is supported. I'll mark this as a feature request. We've got a few other requests as well such as `describe.all` and `describe.at_least(3)` (name pending on that second one).

[2018-09-17 17:19] jerryaldrichiii commented on #3395
Interesting!

Thank you for such a well formatted issue. This seems like a bug to me, so I'll mark it as such.

[2018-09-17 17:25] jerryaldrichiii commented on #3361
Great catch @mhackethal. Looks like it was changed here: https://github.com/inspec/inspec/pull/3259

I'll mark this as a bug to investigate, but I think your suspicions about the regex are correct.

[2018-09-17 18:11] clintoncwolfe commented on #2571
The core problem here is that we need to synchronise the version pinning across several Chef products.

[2018-09-17 18:22] frezbo commented on #2571
I also use a great deal of inspec + train API's are are forced to use a lower SDK version in other parts of the code and pin to a lower version of `awspec`

[2018-09-17 20:02] deepakmohanakrishnan07 commented on #2736
I need this to be fixed as well. Is there any workaround. The problem will be solved if we just pick the latest instance (sort by the instances' launch time).

[2018-09-17 20:48] Paladin commented on #3396
@aaronlippold My use case is still possible, using the --attrs option. The only "problem" I have with it is the UI doesn't feel as clean, which is hardly worrisome. It meant I needed to build what amounted to a library of profiles that didn't specify defaults for any of the attributes that I wanted them to inherit. So long as I never run them on their own, but only when included in one of the "hig

[2018-09-17 21:08] jquick commented on #3396
@Paladin - We are going to implement name spacing in the `--attrs` file so you can do:

attr.yml
[code]

Which should help with any overlap and clarity.

[2018-09-17 21:48] clintoncwolfe commented on #3373
Incident: behavior of nested profiles with `inspec archive` with A2, refs https://github.com/chef/a2/issues/3733#issuecomment-422129823

[2018-09-18 03:16] MartinLogan commented on #3303
I just made a PR for this https://github.com/inspec/inspec/pull/3394

[2018-09-18 13:47] vjeffrey commented on #3373
we have an automate instance in ec2 pulling from the acceptance channel; feel free to use it if needed https://github.com/chef/a2/blob/master/components/compliance-service/docs/acceptance_checklist.md

[2018-09-18 20:08] jquick opened #3410 "Attribute passing and export via namespace"
### 🎛 Description

🙋 feature request?

It would be nice a if a wrapper profile could override defaults in the `inspec.yml` for its dependents.

### 💁 Possible Solutions

Add a new field to the attribute section of the `inspec.yml` called `overwrite`. When true this attribute will overwrite any dependent profile attributes with the same exact name cascading.

inspec.yml
[code]

Running `inspec json

[2018-09-18 21:46] greenantdotcom opened #3411 "`inspec shell` does not work when `--depends`ing on profiles that themselves have dependencies"
### 🎛 Description

🐛 bug report

`inspec shell` when used with `--depends=` on profile(s) that themselves have `depends` section defined in their `inspec.yml` file fail out with a stack trace. This complicates development of profiles that are composed of shared custom resources located in another folder.

### 🌍 InSpec and Platform Version

Confirmed in both…

`inspec` 2.2.102 / macOS 10.13.6
`Chef

[2018-09-18 23:00] majormoses opened #3412 "Inspec skipping tests when file based resources do not exist"
### 🎛 Description

We experienced an issue that was supposed to be caught by testing and was not because it was marked as skipped and skipped does not actually report as failures. This is a breaking change and would need to happen in the next major release.

### 🌍 InSpec and Platform Version

OS: Ubuntu 18.04

[code]

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

https://github.com/ins

[2018-09-19 13:51] mhackethal commented on #3361
Dear jerry

youre always welcome.

@jerryaldrichiii
i dont think the bug occurs of change #3259 imho the bug was inserted with #3106

From my point of vew #3106 is a solution for some "single" behaviour and didnt fit a general approach.

Regards Markus

[2018-09-19 16:11] clintoncwolfe commented on #3412
Refs #3174

[2018-09-19 16:23] clintoncwolfe commented on #3412
I agree that "being unable to perform a test is more serious that a skip".  Not everyone agrees with that.  Please see #3174, and add your perspective there.

As a possible workaround for this situation, if you normally have no skips, you can examine inspec's exit status; if all tests passed with no skips, it will be 0; if some tests skipped but none failed, it will be 101.

Whether a skipped test

[2018-09-19 17:06] majormoses commented on #3174
This caused a production issue that was meant to be caught by the tests I wrote, if the tests can't run it should report back so via an exit code indicating all is not well. There are maybe use cases where they should be skipped because the tests are flakey themselves but not something as obvious I dont have the deps to run the check.

[2018-09-19 17:43] jquick commented on #3412
Closing this in favor of #3174

[2018-09-19 17:43] #3412 closed, assigned to nobody

[2018-09-19 20:36] Paladin commented on #3396
Actually, that doesn't help with my biggest problem with it. There's too much that needs to be remembered to be done manually. Now, if the attributes in the inspec.yml file could be the ones that were namespaced, *that* would help, since those attributes always come along with the profile. Failing that, having a local config file (I'll call it inspec.xml, just to differentiate it from the existing

[2018-09-19 21:28] clintoncwolfe commented on #3380
When writing example tests for the plugin example, I found that doing `require 'inspec'` caused minitest/spec to think there were zero tests.  I was obliged to more carefully pickout which inspec library files to load.

That is part of sadness of the current helper.rb :(

[2018-09-20 01:29] majormoses commented on #3412
Maybe I am not understanding what you mean by "usually". If skipped exited with a `101` it would have been mark it as failed in jenkins job, reported the status back to github, and branch protections would have prevented its merging. From my tests it always exits as `0` when its skipped.

There has not been much of a discussion on the issue but everyone who has chimed in agrees this is not desired

[2018-09-20 09:41] frezbo commented on #3412
@majormoses this is in inspecv2 you are on old version. Coming back to the topic, we should fail a test if a file is not found, that's how compliance works. For people who wan it to be skipped we can introduce a new parameter to control that. That would satisfy both kind of users.

[2018-09-20 12:51] avishefi commented on #760
I think this is already documented: https://www.inspec.io/docs/reference/dsl_inspec/#exclude-specific-test

[2018-09-20 14:05] TheLonelyGhost opened #3418 "[resource] iis_app_pool fails with error when pool is absent (🐛)"
### 🎛 Description

🐛 Bug Report

When running a basic InSpec profile to check if an IIS app pool is absent, PowerShell fails out instead of passing back something that can be parsed as JSON.

### 🌍 InSpec and Platform Version

2.1.54 via ChefDK (MacOS 10.13.6)

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

Add a `Test-Path` line before running `Get-Item` in PowerShell to keep all outpu

[2018-09-20 17:14] majormoses opened #3422 "Add group members as a property for the group resource"
### 🎛 Description

 🙋 feature request

For the group resource I would like to test that a user is part of a group from looking at the docs it does not expose the list of members. I could spend some time looking into adding it but I will need help if its gonna support windows. For now I am testing with a block like this on linux:
[code]
We should be able to grab the list of members of the group and

[2018-09-20 20:55] majormoses commented on #3412
When I submitted it was the latest version pushed to rubygems can you elaborate what you mean?

[2018-09-20 21:18] frezbo commented on #3412
@majormoses used the `distinct_exit`  flag?

[2018-09-20 21:33] aaronlippold commented on #3412
Hi, what he means is in version one of inspec we only had exit status 1 and
0. In version two we added additional exit statuses.
https://github.com/inspec/inspec/issues/1825#issuecomment-382650911.

https://discourse.chef.io/t/inspec-2-0-release/12612

This is also documented in the inspect CLI although I think we could
document this more clearly and perhaps provide better usage examples when
inte

[2018-09-20 22:36] majormoses commented on #3412
From what I see [in the cli](https://github.com/inspec/inspec/blob/v2.2.112/lib/inspec/cli.rb#L223) it would be defaulting to using those distinct codes how can I validate that when `test-kitchen` runs it uses this?

[2018-09-20 23:37] majormoses commented on #3412
I have verified that I have a new enough version and added the option in my `.kitchen.yml` I see the same behavior:
[code]

[2018-09-20 23:51] aaronlippold commented on #3174
So are we actively working the above list ?

[2018-09-21 00:17] majormoses commented on #3174
Well I tried to open a pull request to start working on it but it was closed out for further discussion.

[2018-09-21 05:36] chris-rock opened #3426 "Improve InSpec CLI UX"
### 🎛 Description

At this point, we have some cli commands that are sometimes confusing, eg.

- `inspec archive` and `inspec artifact` are essentially doing the same
- `inspec json` is exporting content from a profile as well as `inspec archive`
- `inspec init profile` has only one option `profile` which makes it very cumbersome to type

### 🌍 InSpec and Platform Version

InSpec 2.x

### 💁 Possib

[2018-09-21 06:01] arlimus commented on #3426
Love the idea.
Also if we go with this it's a breaking change on the behavior of `init`. Everything else can be deprecated before removed.

[2018-09-21 08:16] chris-rock opened #3427 "inspec and inspec help produce different output"
### 🎛 Description

is this a 🐛 bug report

When I run `inspec` the following result is show, v2 plugins are not loaded
[code]

When I run `inspec help` everything works as expected
[code]

### 🌍 InSpec and Platform Version

a91892af (HEAD -> master, tag: v2.2.114, origin/master, origin/HEAD) Bump version to 2.2.114 by Chef Expeditor

### 🤔 Replication Case

Just checkout the latest master

### 💁 P

[2018-09-21 14:43] ericlake commented on #3349
I can report that this is affecting me as well with postgresql 10 and the following version of inspec.
[code]

[2018-09-21 15:32] clintoncwolfe commented on #3426
Overall, I think this is fantastic.

However, I disagree on `inspec init`.  It is useful, but not a frequently used command (does a user create new profiles everyday?), so I do not think `inspec init profile` is burdensome. Brevity should be proportional to frequency of use.

I like having `init` be our task-focused code generator, and making it only handle profiles cuts off opportunities.  There

[2018-09-21 15:41] clintoncwolfe commented on #3427
Just calling out the difference, and the significance: `inspec habitat`, and `inspec archive` are v1 plugins converted to v2; it also appears in the example that some private  plugins are installed (ciscert, cloudformation).  Indeed `inspec` and `inspec help` should both contain all plugins.

[2018-09-21 16:00] chris-rock commented on #3426
Do we have an example of the generator from Mitre? Would love to understand the use case better.

[2018-09-21 17:58] clintoncwolfe opened #3429 "Improve Integration Testing with Audit Cookbook"
### 🎛 Description

🐛 bug report

The InSpec project does not currently provide any testing ensuring that integration with the audit cookbook is working.

The audit cookbook is one of the main ways people consume inspec.  Lack of integration testing creates an undelightful experience for our largest community.

Refs #3373.

### 🌍 InSpec and Platform Version

2.2.100

[2018-09-21 18:30] jquick commented on #3429
The audit cookbook also directly requires some of our plugins.
https://github.com/chef-cookbooks/audit/blob/master/files/default/handler/audit_report.rb#L122

Adding some travis tests to test audit cookbook and the export would be ideal.

[2018-09-21 18:44] espoelstra opened #3430 "This and other instances of `ssl-benchmark` should be updated to `ssl-baseline` to reflect the new name"
While reading the docs I saw the reference to the benchmark and opened the repo to discover that GitHub did redirect, but it had a new name which might cause failures if people use the old name and it gets replaced in the future.

https://github.com/inspec/inspec/blob/d920f1d24a3eee9c02a7ad7c360d012e4f042dd7/docs/resources/ssl.md.erb#L85

[2018-09-22 02:12] aaronlippold commented on #3426
https://github.com/rx294/inspec_aws_test_doc_generator

Is this what you're referring to?

Or are you looking for our set of parsers and converters?

just let me know what you're looking for and I will add everyone to
anything you need.

Aaron

On Fri, Sep 21, 2018, 12:00 PM Christoph Hartmann <notifications@github.com>
wrote:

[2018-09-23 10:17] voroniys opened #3432 "Request for a new resource - bind"
### 🎛 Description

🙋 feature request

I'm really missing the resource(s) to check bind9 config

### 🌍 InSpec and Platform Version

Any

### 💁 Possible Solutions

`named-checkconf -p` prints out the whole assembled configuration of bind. It needs to be parsed and put into the object that can be used than for testing.

[2018-09-24 13:08] skpaterson opened #3433 "Wrapper profile execution time is disproportionately affected by number of controls in the included profile"
### 🎛 Description

🐛 bug report

I have a wrapper profile that uses `require_controls` to execute only a subset of controls from an included profile containing 65.  The execution time for the subset seems to be adversely affected by the number of controls in the included profile.  This is especially true for cloud profiles, I suspect, because external calls are typically made when instantiating re

[2018-09-24 13:24] jquick commented on #3430
Thanks for reporting this!

[2018-09-24 13:28] jquick commented on #3433
This is currently a issue with require_controls/include_controls. We actually run them all we just only report on the ones listed. This is on our list to address post 3.0

[2018-09-25 15:10] alexpop opened #3440 "Required attribute error exit code"
### 🎛 Description

This a 🐛 bug report

Given this inspec.yml content:
[code]

When I execute the profile without specifying the required value for attribute `farm`, I get a failure, as expected.
[code]
^ exit code, in this case, should be greater than zero.

same as we do here:
[code]

### 🌍 InSpec and Platform Version

[code]

[2018-09-25 15:59] metmajer opened #3441 "Add resource to test AWS auto scaling groups"
### 🎛 Description

Feature request: add a resource to test AWS auto scaling groups. Thanks!

[2018-09-25 22:51] #3427 closed, assigned to nobody

[2018-09-25 23:17] ncs-alane opened #3442 "Version 2.2.101 introduced breaking changes to profile attributes"
### 🎛 Description

This is a 🐛 bug report.

#3318 changed the implementation of profile attributes to require a definition in the associated profile file. This was a breaking change as attributes previously did not need to be defined before being used.

### 🌍 InSpec Version

2.2.101

### 🤔 Replication Case

Use InSpec 2.2.78 to execute a profile named `test_profile` which uses an attribute named `

[2018-09-25 23:25] jerryaldrichiii commented on #3440
Hmmm...very strange. We have a test for that:

https://github.com/inspec/inspec/blob/master/test/functional/attributes_test.rb#L53

Looks like it was added 13 days ago. Maybe update InSpec @alexpop?

[2018-09-25 23:53] aaronlippold commented on #3442
Aaron, are you defining your attributes inside the control block or outside
the control block. I noticed this as well when I tried to Define an
attribute inside the control block which used to work fine but when I moved
it outside the control block it functioned normally again. I think this is
still a bug I just haven't had time to write up a issue on it. Perhaps this
could be a small work around.

[2018-09-26 02:40] #2890 closed, assigned to nobody

[2018-09-26 03:57] clintoncwolfe commented on #3442
I'm pretty sure this is working as designed; it being a breaking change was not anticipated, though.

I made the argument internally that attributes are declared, set, and read as separate operations that are sometimes combined into one expression; we should be more careful about where those operations are expected and permitted.  I didn't think it made sense to declare an attribute inside a contr

[2018-09-26 06:20] josh-barker commented on #3361
@jerearista

One way we could solve this is use Powershell to get the list of all installed products, and then use Ruby to search via `String` or `Regex`.

Is it recommended to do most of the work in the native language (i.e. Powershell in the case) or use Ruby for string manipulation/processing?

[2018-09-26 07:06] alexpop commented on #3440
You are right Jerry, bug doesn't exist in master.
Thanks and sorry for the false alarm!

[2018-09-26 07:06] #3440 closed, assigned to nobody

[2018-09-26 11:57] chris-rock commented on #3442
@ncs-alane is it possible to share a code example to illustrate your issue?

[2018-09-26 12:07] chris-rock opened #3443 "Confusing warning message and beahavior for inspec attributes"
### 🎛 Description

This is a discussion about the right behaviour. We have an example profile that requires attributes where `val_user` has a default value, but password has not.

[code]

The following happens

[code]

The output raises questions:
- as the user I do not know what a DEFAULT_ATTRIBUTE is
- should it be possible to execute the profile if no default value for the attribute is defined?

[2018-09-26 12:07] chris-rock commented on #3443
May be related to #3442

[2018-09-26 13:13] chris-rock commented on #3443
We have a required field for attributes https://github.com/inspec/inspec/blob/master/lib/inspec/objects/attribute.rb#L50, discussed with @jquick briefly and we think a hard stop should only be done if required is set explicitly.

[2018-09-26 13:15] chris-rock commented on #3443
Essentially we already defined the behaviour in https://www.inspec.io/docs/reference/profiles/#profile-attributes

[2018-09-26 14:07] jquick commented on #2458
Current deprecations:
[code]

[2018-09-26 15:47] ncs-alane commented on #3442
@aaronlippold
I have used `#attribute` outside of the control blocks; when I last tried using `#attribute` in a control block, it was undefined. I believe making `#attribute` available in more contexts was one of the changes with #3318.

@clintoncwolfe
I spoke briefly with ~@cheeseplus~ @jerryaldrichiii last week about the changes in #3318 and the InSpec release process in general. My understandin

[2018-09-26 16:32] jerryaldrichiii commented on #3361
@josh-barker given how this likely isn't portable to other operating systems. I'd say you're free to use either.

[2018-09-26 17:28] #1695 closed, assigned to jerryaldrichiii

[2018-09-26 18:06] jquick opened #3445 "deprecations for 3.0"
### REMOVE
[code]
### Confirm its not used and remove
[code]

### UPDATE to future text
[code]

[2018-09-26 18:14] jquick commented on #2458
Closing in favor of #3445

[2018-09-26 18:14] #2458 closed, assigned to nobody

[2018-09-26 19:19] clintoncwolfe opened #3447 "Centralized deprecation mechanism"
### 🎛 Description

We have deprecations in many places.  Whenever we change the schedule or messaging for deprecations, we are obliged to go track them down and correct them manually, which is error-prone.

### 🌍 InSpec and Platform Version

3+

### 💁 Possible Solutions

Suggest having something like Inspec.deprecate(...) which takes a topic, a possible remediation, and perhaps something like tags

[2018-09-26 21:44] josh-barker commented on #3361
No worries @jerearista

What are your thoughts on expanding the resource to support search by Regex, and not support search with * as a wild card?

I.e.

[code]

[2018-09-26 22:02] jerearista commented on #3361
@josh-barker Did you mean to include me, here? If this is limited to Windows, then I am probably not the right person.  I suspect you meant jerryaldrichiii.

[2018-09-26 23:33] josh-barker commented on #3361
Yeah, sorry about that @jerearista

@jerryaldrichiii This one is for you 😉

[2018-09-27 07:21] mhackethal commented on #3361
@josh-barker
just a comment from someone who use this feature :)
I would recommend you stay with the current design, this makes it backward compatible.
If i understand correct the linux part - also do the match inside the .rb and not in the describe part.

regards ....

[2018-09-27 13:11] jpsheffield commented on #1370
Works for me but doesn't fail if the directory to walk doesn't exist or user cannot access it. I put in a second directory test to catch this but would be great if the directory walk enhancement caught the scenario.

[2018-09-27 16:08] ncs-alane commented on #3442
@chris-rock

I created a gist which demonstrates the bug.

https://gist.github.com/ncs-alane/88b6db227164d5c958a8bc6b3dd96565

[2018-09-27 17:12] frezbo commented on #3442
@ncs-alane your way of defining attribute is wrong. It should have been:

[code]
If it used to work on older versions, I would say the older versions had a bug with checking for `default` value and it's fixed and working as expected in the newer version

[2018-09-27 19:01] arlimus commented on #3410
[code]

mysql profile inspec.yaml:

[code]

**case 1: delimiter**
linux profile `inspec.yml`:

[code]

nope because: arbitrary delimiter in a file that gives us structured data is a bad idea

**case 2: hash**
linux profile `inspec.yml`:

[code]

**case 3: depends**
linux profile `inspec.yml`:

[code]

Team likes case 2 and 3; let's go with case 3
Open items:
- warn on unused attributes in the prof

[2018-09-27 19:31] arlimus commented on #3410
inspec.yml
[code]

**inspec <3**

attrs.yml:
[code]

**case 2**

attrs.yml:
[code]

**case 3.1**

attrs.yml:
[code]

**case 3.2**

attrs.yml:
[code]

impact: not backwards compatible?

**behavior**

- if you see any parts of the old structure

  new structure:
    Attributes := Map{PROFILE_NAME:[]Attrs}  Attrs:=Map{name, value}

  1. warn the user
  2. namespace under the profile that it is being

[2018-09-27 19:38] jquick commented on #3410
We are going with case 3 for `inspec.yml` case 3.2 for `attrs` file and this format for `inspec json`:
[code]

[2018-09-27 19:40] jquick commented on #3410
Add warning if using old style attrs or if they are using default key instead of value

[2018-09-27 19:43] jerryaldrichiii commented on #3222
I think this is fixed. See:
  - https://github.com/inspec/inspec/issues/3245
  - https://github.com/inspec/inspec/pull/3369

Please let us know if updating doesn't fix your issue @ChefRycar (feel free to reopen this as well).

[2018-09-27 19:43] #3222 closed, assigned to nobody

[2018-09-28 05:30] kmf commented on #1945
can we close this now?
@jquick @arlimus @jerryaldrichiii

[2018-09-28 11:57] aaronlippold commented on #3445
@jquick quick question ...( :) ) if we are removing the `apache` resource. what are we replacing it with?

[2018-09-28 12:21] jquick commented on #3445
@aaronlippold please see #2494. The only thing the `apache` resource does is set some defaults for `apache_conf`.

[2018-09-28 13:57] ncs-alane commented on #3442
@frezbo
The syntax of `attribute "test_attribute", {}` just passed an empty hash for the options argument as `#attribute` was using a positional hash argument for options, rather than keyword arguments; it was intended to omit any options, not specify the default as a hash.

Interestingly, specifying a default value does solve the problem of using an undefined attribute in InSpec 2.2.101, but that

[2018-09-28 17:35] clintoncwolfe commented on #3442
Just to re-iterate, we do intend to follow semver, at least regarding major versions.  Sometimes we mess up (here, we removed the ability to do something we thought no one would do).  We've learned it is being used, thus should not be removed, so this is a bug, and should be fixed in the 2.x series.

[2018-09-28 18:19] ncs-alane commented on #3442
@clintoncwolfe
Thank you for the clarification!

[2018-09-28 20:03] phiggins opened #3455 "Configuration to control where inspec is allowed to write to disk"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

This is a feature request.

As I mentioned in #3263, I've recently been doing work to allow running inspec with lowered privileges. Running inspec as the linux standard `nobody` user, I've found that inspec expects to be able to write to various places on disk like the user's home directory and the system temp directo

[2018-09-28 20:11] frezbo commented on #3455
@phiggins I really like your idea and ability to run inspec cli commands like `archive`, `json` but most compliance testing would need root/sudo access.

[2018-09-28 20:25] chris-rock commented on #3455
@frezbo You're right, for local execution you would need to have access. I think this improvement would help us to be more predictive. e.g. InSpec could be optimized for selinux or appamor.

[2018-10-01 16:52] lmayorga1980 opened #3457 "add support for windows containers(Windows 2016 Docker Host)"
![screenshot from 2018-10-01 12-51-30](https://user-images.githubusercontent.com/3172378/46303033-c19f7380-c578-11e8-8f28-671fa3770254.png)

[2018-10-01 21:06] trevor-vaughan opened #3459 "inspec exec command line ordering does not work as expected"
### 🎛 Description

**Choose one:** 🐛 bug report

In most command line utilities, I am used to the following syntax:

`<COMMAND> <OPTIONS> <NON_OPTION_ITEMS>`

With InSpec, I just tried to switch from using `--format` to `--reporter` and found that what I expected to work, as shown above, did not.

I expected that `inspec exec --reporter json /path/to/stuff` would execute but instead it gave me an

[2018-10-02 00:15] aaronlippold commented on #3459
The updated CLI structures are located here.
https://www.inspec.io/docs/reference/reporters/

However, you are correct, the Thor CLI does diverge a bit from the GNU
standards we are all used too. The updates would have to be made there but
I do know there are some issues with getting a fully matching style due to
some issues in Thor itself. ( I don't recall specifically the reasons ) but
that is w

[2018-10-02 00:21] aaronlippold commented on #3459
`inspec exec <profile> <target> <attributes> (<json-config>)* <options> <reporter>` is what I have found to be the most stable ordering

* json-config will take the place of many of the other <option-blocks>

[2018-10-02 00:31] aaronlippold commented on #3459
inspec exec <profile> <target> <attributes> (<json-config>)* <options>
<reporter> is what I have found to be the most stable ordering

   - json-config will take the place of many of the other

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Mon, Oct 1, 2018 at 8:21 PM Aaron Lippold <notifications@github.com>
wrote:

[2018-10-02 08:03] chris-rock commented on #1677
While thinking about it, we may want to support negative filtering as well. eg. run all controls but not the ones with tag `abc`

[2018-10-02 12:17] trevor-vaughan commented on #3459
@aaronlippold How well does that work with other space delimited options like `controls` or `attributes`? Seems like a recipe for frustration.

[2018-10-02 14:29] chris-rock commented on #3457
Thank you for reporting this @lmayorga1980 It would be indeed nice to improve docker support on windows

[2018-10-02 14:56] lmayorga1980 commented on #3457
I will try the new docker-api branch.

https://github.com/swipely/docker-api/issues/538

[2018-10-02 15:05] chris-rock commented on #3459
I agree that the docs are confusing in https://www.inspec.io/docs/reference/reporters/ since they do not mention a profile. Thor normally allows both, putting options before or after the argument.

[2018-10-02 15:24] jquick commented on #3459
Yeah this is a confusing issue with Thor's array attributes. We will clean up the docs and see if we can make any adjustments to make this friendlier.

[2018-10-02 16:50] lmayorga1980 commented on #3457
Not sure if its a good a idea to use this approach since some dependencies still not ready for windows

`inspec exec test.rb -t docker://container_id`

or just expose the container through `winrm`

`inspec exec test.rb -t winrm://Administrator@windowshost --password 'your-password'`

[2018-10-02 19:20] aaronlippold commented on #1677
Totally agree.
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Tue, Oct 2, 2018 at 4:03 AM Christoph Hartmann <notifications@github.com>
wrote:

[2018-10-02 23:24] tbugfinder opened #3461 "control desc using two arguments errors"
### 🎛 Description

is this a 🐛 bug report

If `desc` is using two arguments (desc: 'hello:','world') as given in the docs of the DSL (https://www.inspec.io/docs/reference/dsl_inspec/) an error is raised:
Error message:
[code]

### 🌍 InSpec and Platform Version

Using inspec 2.2.78, OS Linux x64

### 🤔 Replication Case

Create a control including `desc 'hello:' , 'world'.
[code]

### 💁 Possible Sol

[2018-10-03 01:00] majormoses commented on #3174
Is there any progress on being able to move forward on this? I am happy to help but don't want to keep opening pull requests if we want to wait for more feedback. I think the overwhelming majority supports this behavior change and without it inspec is fundamentally not reliable for test automation or compliance as you can't trust the tests.

[2018-10-03 05:57] #3442 closed, assigned to jerryaldrichiii

[2018-10-03 06:05] clintoncwolfe commented on #3174
Hi!  We really appreciate your interest in this, and I want to assure you that we on the InSpec engineering team consider this a critical issue.  Fixing it is important, but we must be sure to fix it in a way that is deliberate and well-considered.  In the two weeks since @majormoses commented on this, we've been very busy with two major other events: the release of InSpec 3.0, and (as I write thi

[2018-10-03 12:36] #3089 closed, assigned to clintoncwolfe

[2018-10-03 15:06] ncs-alane commented on #3442
Thanks for taking this on, @jerryaldrichiii!

[2018-10-03 15:54] ncs-alane commented on #3442
It appears that #3454 does not completely solve the regression. With InSpec 2.3.5, I am still seeing the same failures attempting to access attributes which are provided to the runner by way of the `:attributes` option but not defined in `inspec.yml` or in any attributes file.

[2018-10-03 16:11] frezbo commented on #3442
@ncs-alane its not `:attributes`, if using API you have to use `attributes`, its a **String**, not a **Symbol**

[2018-10-03 16:14] ncs-alane commented on #3442
@frezbo it appears to be a symbol based on https://github.com/inspec/inspec/blob/master/lib/inspec/runner.rb#L140, and did work as a symbol until the 2.2.101 release.

[2018-10-03 16:19] frezbo commented on #3442
@ncs-alane yeh it is, it only worked for me when passed as *string*. Some of therunner options are strings like `reporter` , `color` etc

[2018-10-04 14:45] chris-rock opened #3464 "Cannot archive profile when attributes have no default attribute"
### 🎛 Description

this a 🐛 bug report

When using unified attributes (I think applies to normal attribute behaviour too, but not tested) without default values, and required, the profile cannot be archived with `inspec archive`

Use https://github.com/dev-sec/cis-dil-benchmark/pull/55 and change the inspec.yml to match (no default value provided)

[code]

Then InSpec returns the following error

[2018-10-04 15:28] majormoses commented on #3174
I think addressing this prior to a major release would have made a lot of sense as even though this is a bug, it is a breaking (behavior) change and in an ideal world should happen in a major release.

What specifically are you looking for? It seems pretty straightforward to me, outside of platform not supported which is detected by inspec any test that fails to execute (be in lack of dependencies

[2018-10-04 15:44] jquick opened #3465 "Compliance Upload problems with zip archive"
### 🎛 Description

We are seeing upload problems with zip archive formats. Got one against latest A2 and inspec version (2.2.55) bundled in latest chef-workstation, where uploading the profile directly works, archiving to tar.gz and uploading works, but to zip and uploading breaks.

[code]

Sorry if this is a known issue with a known resolution.

[2018-10-04 15:46] gsreynolds commented on #3465
Thanks @jquick 👍

[2018-10-04 16:16] aaronlippold opened #3466 "null attributes section in inspec.yml produces error in check and exec"
### 🎛 Description
 🐛 bug report
v2.3.5

If I create an inspec.yml file with just the

[code]
as a place-holder - inspec check gives ...
[code]

[2018-10-04 16:51] miah commented on #3422
Hi @majormoses

Thanks for reporting this, it looks like a documentation error that needs to be corrected. The `group` resource should support [querying members](https://github.com/inspec/inspec/blob/master/lib/resources/groups.rb#L120) already. I'm putting together a PR that updates the documentation and improves our tests around this feature.

[2018-10-04 17:10] jquick commented on #3464
I am unable to reproduce this. Do you happen to have a local in-file attribute call for this attribute?
[code]

[2018-10-04 17:21] jquick commented on #3461
Hello @tbugfinder ! Thanks for reporting this. The multiple descriptions require InSpec 2.3.4. You can find the release notes here https://discourse.chef.io/t/inspec-v2-3-4-released

We will try to update our documentation to show which version is required for features.

[2018-10-04 18:56] chris-rock commented on #3464
I see the same issue with `inspec check` in https://travis-ci.org/dev-sec/cis-docker-benchmark/builds/437278923?utm_source=github_status&utm_medium=notification

[2018-10-04 19:03] chris-rock commented on #3464
[attributes.zip](https://github.com/inspec/inspec/files/2447744/attributes.zip)

[code]

[2018-10-04 20:52] jquick commented on #3464
Ah ok cool, yes if its required but has no default the profile load tries to get the value when writing. Will fix.

[2018-10-05 13:52] ncs-alane commented on #3442
My mistake; this fix was just released with 2.3.10 and it does indeed solve the problem. Thanks again all!

[2018-10-05 20:24] #3464 closed, assigned to jquick

[2018-10-06 15:16] aaronlippold commented on #3455
when we move inspec into production and operational deployments - it would be reasonable to expect that we will need to provide selinux and apparmor configuration for proper inspec functioning and more importantly provide a way for us to help maintain security and proper function at both elevated and non-elevated privileges. This will require us to make proper adjustments in the resources such tha

[2018-10-09 17:40] clintoncwolfe commented on #3174
Refs https://github.com/inspec/inspec-gcp/issues/61 , refs https://github.com/inspec/inspec/pull/3473

[2018-10-09 18:41] chris-rock opened #3478 "Revisit InSpec webpage"
### 🎛 Description

Revisit https://www.inspec.io/ to:

- update all InSpec 2.0 reference
- update text for key feature set
- Add a markdown with release notes to the webpage
- update tutorial
- identify potential missing documentation for new InSpec 3 features

Those updates needs to be synchronized with the InSpec 3 release

### 🌍 InSpec and Platform Version

InSpec 3.0

[2018-10-09 18:45] chris-rock opened #3479 "Verify that new InSpec 3 reporting improvements work with A2"
### 🎛 Description

We need to verify that Automate is able to handle the new skip mechanism? In specific we need to ensure that the same Automate datacollector endpoint is able to differentiate between the old and new report format. Please sync with @alexpop and @vjeffrey on that topic.

### 🌍 InSpec and Platform Version

InSpec 3

### 🤔 Replication Case

N/A

### 💁 Possible Solutions

N/A

### 💻

[2018-10-09 20:08] damacus opened #3480 "Package resource on alpine returning empty array"
### 🎛 Description

 🐛 bug report

[code]

### 🌍 InSpec and Platform Version

2.3.10

### 🤔 Replication Case

- Clone this repo git@github.com:damacus/php-composer-builder.git
- Build the container
- Add the following control:

[code]

(Mostly just make sure you're running on alpine for apk support)

### 💁 Possible Solutions

- 😢

[2018-10-10 12:10] jquick commented on #3445
This is done.

[2018-10-10 12:10] #3445 closed, assigned to miah

[2018-10-10 12:25] jquick commented on #3158
This is done.

[2018-10-10 12:25] #3158 closed, assigned to miah

[2018-10-10 13:20] #3480 closed, assigned to nobody

[2018-10-10 15:46] alexpop opened #3486 "inspec 3 controls being added for skipped dependent profiles"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

When using profile inheritance like here:

[code]

And profile `myprofile1` is skipped because of unsupported platform defined in inspec.yaml.

`pro1-con2` control shows up in the report as:
[code]

Expected behaviour is not to include `pro1-con2` control since profile `myprofile1` is skipped.

### 🌍 InSpec and Platform Version

`2.3.7` vi

[2018-10-10 18:48] jquick opened #3488 "Add skip metadata for json-automate report"
1. if a dependent profile was not executed => flag it as such and report it
2. if the profile the user executed is not supported => flag it as well and report it

For both of these cases we are going to add `skipped` and `skip_reason` fields.

For #1
we were thinking like:
[code]

For #2
[code]

[2018-10-10 20:17] #3461 closed, assigned to jerryaldrichiii

[2018-10-10 21:17] clintoncwolfe commented on #3174
FYI this is now being actively worked; we are hoping to make the 3.0 release, at least with the majority of the problem

[2018-10-10 22:31] mrshanahan opened #3490 "iis_site: bindings property not populated correctly"
### 🎛 Description

🐛 Bug Report!

There's a slight hiccup in the `SiteProvider::iis_site` method for the `iis_site` resource. The way that the binding information string is constructed uses the `<<` operator, which ends up modifying the `protocol` property, which in turn causes a later ternary expression involving the `protocol` property to always return false.

### 🤔 Replication Case

On a Window

[2018-10-11 05:51] majormoses commented on #3174
@clintoncwolfe should I start opening pull requests for some of the resources?

[2018-10-11 09:38] chris-rock commented on #3433
Without digging in too much, I think the problem is only happening when profile dependencies are used in combination with filter table. Yes, resource instances are created but resources should only do heavy computation once once a method is called.

The current mechanism is not working if you do something like:
[code]

[2018-10-11 13:41] #3466 closed, assigned to jquick

[2018-10-11 16:51] clintoncwolfe commented on #3373
Incident 2018-10-11, @vjeffrey

[code]

[2018-10-11 17:22] jkugler commented on #2366
I just hit this. The bug is this: The documented (and working) way to disable a service is to create a `/etc/init/service.override` file and put 'manual' in it.  Inspec does not check for that. https://github.com/inspec/inspec/blob/master/lib/resources/service.rb#L375 If there is not `/etc/init/service.conf` file, I believe (if I understand the logic correctly) it falls through to SysV init semant

[2018-10-11 21:54] michalmiddleton opened #3496 "Please add http support on Windows"
### 🎛 Description

 🙋 feature request

Is it possible to add Windows support for http resource? (https://www.inspec.io/docs/reference/resources/http/)

### 💁 Possible Solutions

I'd like to be able to run inspec on my windows VM locally as a part of our automation.
Current workaround is to use Powershell script to do so..

[2018-10-12 06:02] clintoncwolfe opened #3500 "Test gems after building"
### 🎛 Description

🐛 bug report

We don't current test the built gems, AFAIK.  That leads to packaging issues.

### 🌍 InSpec and Platform Version

### 💁 Possible Solutions

Build the gem, then run the functional tests against it.

[2018-10-12 06:04] clintoncwolfe commented on #3500
Incident: during release of 2.3.21 several issues appeared, including omitting the etc/ directory from the gemspec. #3494 was in response to this.

[2018-10-12 06:11] clintoncwolfe commented on #2822
I'm re-adding the Windows label - not because it is fully accurate, it's not limited to there - but simply because this is an important issue for Windows users, and we need to be able to find it bye searching on that platform label.

[2018-10-12 06:12] clintoncwolfe commented on #3496
I agree 100%, and would like to see this fixed as well.  However, we do have an existing issue open that explores the problem in more detail, so I'm closing this as a duplicate.

Dupe: #2822

[2018-10-12 06:12] #3496 closed, assigned to nobody

[2018-10-12 11:59] megamorf opened #3503 "Nested grouping of tests"
### Description

🐛 bug report

There are contradicting statements regarding nesting:
* https://github.com/inspec/inspec/blame/7deed13425c299ded99ff6e4095b1e0db969a826/docs/migration.md#L189
* https://github.com/inspec/inspec/blame/eb87fd384d68c1d16b917e842d461e5d70bac4a8/docs/inspec_and_friends.md#L45

Incidentally all I want to know is how to further group tests than just `control > describe > it

[2018-10-12 16:42] clintoncwolfe commented on #3500
Refs #3505, plugin installer fails under omnibus and windows

[2018-10-12 18:38] lmayorga1980 opened #3506 "inspec shell fails to run on Windows Docker container fails(Windows 2016 Core Docker)"
I was trying to execute `inspec shell` but seems like there is an issue. However, it works when running it from a regular ruby script.

[code]

[2018-10-12 21:48] clintoncwolfe commented on #3174
Work was started at https://github.com/inspec/inspec/tree/cw/handle-unable .

We made it as far as reworking how the `file` resource handles matchers and properties when the file does not exist.  Under 2.3.23 (master), for example, this will result in a PASS:

[code]

Arguably, all those should be a FAIL (due to unable) You may or not agree that's in scope for this change.  We could call this "Gre

[2018-10-13 19:26] majormoses commented on #3174
I personally think all of these examples with `file` should fail as the `file` resource supports ` it { should_not exist }`. If something does not exist then that implies `(nil|null)` content, there is no real value in any other of these "negative" assertions for `file`. If someone wrote a test for `its('content') { should be_nil }` I interpret this as the file should exist but be `nil` as you mig

[2018-10-14 00:30] aaronlippold commented on #3174
I'm glad to see this moving ahead.

EDIT: (clintoncwolfe): remove quoted comment

[2018-10-15 06:17] chris-rock commented on #3503
@megamorf Thank you for your question. InSpec does not support nested describes. In all cases that we have experiences so far, the nested blocks are used to drive the output of the test results. We believe, that the rendering of the tests result should not force you to write tests in a specific way. Therefore, we use a common approach for all controls and do not support nested describe blocks at t

[2018-10-15 15:21] megamorf commented on #3503
@chris-rock Thanks for your quick response 👍

Your example essentially only groups tests in the test suite's source code but not in its output. So from reading the docs, your input and my testing I can conclude that there's no way to drive the structure of the test output in InSpec, right?

[code]

Other reporters don't seem to handle different titles in repeatedly used controls:

[code]

[2018-10-15 16:07] chris-rock commented on #3503
I think it would be interesting to understand your use case better before providing a definitive answer :-) I am not 100% sure I understand what you are trying to achieve.

[2018-10-15 16:15] #3443 closed, assigned to jquick

[2018-10-15 17:47] jerryaldrichiii commented on #3506
Interesting...your command seems to work for me on Linux. I'm wondering if it's a quoting issue.

Can you try:

[code]

and other similar escapes?

[2018-10-15 19:03] megamorf commented on #3503
I have a file that contains many controls:

![image](https://user-images.githubusercontent.com/1732128/46971533-86468e00-d0bc-11e8-8d80-4fed510dd529.png)

And each of the controls has multiple describe blocks with 1 or more `it` entries:

[code]

I'd like to group tests results visually by `region AND environment AND service` (currently defined as the first 3 strings in the control name) to make t

[2018-10-15 22:48] #3478 closed, assigned to miah

[2018-10-15 22:49] #3488 closed, assigned to jquick

[2018-10-15 23:02] aaronlippold commented on #3503
I am very interested to see where this lands as I will basically the same challenge to help a team solve next week :) Please keep me in the loop.

[2018-10-16 08:08] kchistova opened #3518 "aws_vpc expect handle only 8 hexadecimal characters instead both 8 and 17"
Description:
InSpec doesn't handle vpc_id which contain 17 characters and expect just 8

Case:
describe aws_subnets.where(vpc_id: 'vpc-012345678987654321') do
  it { should exist }

Expected result:
✔   aws_subnets exist
Actual result:
× The vpc ID 'vpc-01234567898765432' does not exist
VPC_ID should be in the format "vpc-" followed by 8 or 17 hexadecimal characters.

inspec version:
2.3.24

[2018-10-16 18:20] jerryaldrichiii commented on #3503
I feel like you could separate them into profiles then have a wrapper profile that executes all of them.

Depending on the use case, profiles might even be able to reduce duplicated code (example: turning `base_url` into an attribute)

[2018-10-16 20:50] burdena opened #3521 "v3 - Plugin - Unknown error occured - installation failed."
### 🎛 Description

**Choose one:** is this a 🐛 bug report

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

### 🌍 InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using

### 🤔 Replication C

[2018-10-16 20:51] burdena commented on #3521
MAC OSX 10.13.6 (17G65)

[2018-10-16 20:59] burdena commented on #3521
also tried via the docker image

docker run -it --rm chef/inspec plugin install inspec-iggy
Unknown error occured  - installation failed.

docker run -it --rm chef/inspec version
3.0.0

[2018-10-17 12:06] kmf commented on #3521
Same here.

[2018-10-17 14:30] damacus opened #3524 "Support image LABELs in docker_image"
### 🎛 Description

 🙋 feature request?

With docker inspect you can get a list of LABELs easily, but the docker_image resource does not support this.

### 🌍 InSpec and Platform Version

v3.0.0

### 💁 Possible Solutions

💁 some sort of docker inspect feed into the resource.

[2018-10-17 17:54] jquick commented on #3521
Sorry about this. We still have some unsupported plugins showing up as installable. `inspec-iggy` is being updated for plugins system. Once this is released https://github.com/inspec/inspec-iggy/pull/17 you should be able to install this plugin. `inspec-k8s` and `inspec-release` are actually just placeholders and are not real. They will be invalidated on tomorrows release to remove any confusion.

[2018-10-17 19:50] burdena commented on #3521
Cheers for the update, any idea when the new iggy release will happen ?

[2018-10-17 21:14] miah commented on #3339
Fixed by https://github.com/inspec/inspec/pull/3452

[2018-10-17 21:14] #3339 closed, assigned to nobody

[2018-10-18 14:16] walterdolce commented on #760
Is there any chance when someone types `only_if` in the website's search bar the comment above (and/or any additional piece of documentation related to this) could appear as a search result?

[2018-10-18 16:50] jquick commented on #3521
inspec iggy `0.4.0` was released last night and should work correctly for you:
[code]

[2018-10-18 16:57] burdena commented on #3521
I had to explicitly ask for 0.4.0 as only 0.2.0 was showing as availalbe.

$inspec plugin install inspec-iggy
Unknown error occured  - installation failed.

$ inspec plugin search inspec-

 Plugin Name                   Versions Available
-------------------------------------------------------
 inspec-iggy                   (0.2.0)
 inspec-k8s                    (0.0.0)
 inspec-release

[2018-10-18 16:57] burdena commented on #3521
via docker worked fine

$ docker run -it --rm chef/inspec plugin install inspec-iggy
Fetching: inspec-iggy-0.4.0.gem (100%)
inspec-iggy plugin, version 0.4.0, installed from rubygems.org

[2018-10-18 17:05] burdena commented on #3521
@jquick thanks for the quick fix and keeping me informed.

[2018-10-18 17:05] #3521 closed, assigned to nobody

[2018-10-18 17:24] MiteshP0 opened #3528 "Older Inspec Versions Documentation"
### 🎛 Description

 🙋 feature request

Need documentation on older inspec versions, as I am upgrading to a different chefDK version that is shipped with a different inspec version, and after some research I have noticed that inspec exec command is returning status code 101 in version 2, but in version 1, it will return 0 even if some tests have been skipped.

I would like to be forwarded to inspec

[2018-10-18 17:49] metmajer commented on #1522
@huynt1979 really brings it to the point. This is one in a series of design decisions that make me a little uneasy about InSpec. Here's another example: with `awspec`, we were able to access a resource's underlying AWS SDK resource instance to have access to raw properties via, e.g., `its('resource.vpc.id')`. With InSpec, the accessor to the resource instance is `private` (see #3438), which forces

[2018-10-18 18:26] scalp42 commented on #3300
@aaronlippold any chance you could share how you overwrite with CLI without passing a yaml?

[2018-10-18 18:55] michalmiddleton opened #3529 "Windows installer packaging issue - version in DisplayName"
### 🎛 Description

this is a 🐛 bug report

The official InSpec installer MSI registers the program as `InSpec v<version>` (eg. `InSpec v3.0.0`). It also provides the version number as appropriate.

Corresponding registry keys are:
[code]

Presenting the version in Display name represents a challenge for some automation as you cannot reliably identify the product by its ever changing name. Addition

[2018-10-18 20:48] #3422 closed, assigned to miah

[2018-10-19 00:37] jquick commented on #3528
Hey @MiteshP0. This is a pain point for us and we are looking into versioned docs. For now as you have noticed inspec 1 will return 0/1 accordingly. For inspec 2 we have the following:
[code]

You can retain the legacy 0/1 exit if you want by passing in `--no-distinct-exit` on the cli command

[2018-10-19 01:44] clintoncwolfe commented on #3528
Thanks for writing in!  I'm going to close this as a duplicate.

Duplicate of #2860, in general need of versioned docs
Refs #1825, regarding exit codes

[2018-10-19 01:44] #3528 closed, assigned to nobody

[2018-10-19 01:59] clintoncwolfe commented on #1522
Refs #3476

[2018-10-19 02:04] clintoncwolfe commented on #3306
I believe this was traced to a zoom issue?

[2018-10-19 02:04] #3306 closed, assigned to nobody

[2018-10-19 02:08] clintoncwolfe commented on #3334
Hrm, this sounds like a regression on #3142

[2018-10-22 15:02] krystan opened #3534 "aws_ecs_cluster documentation"
###  Description

This a RFE (documentation)

The issue is that ecs_cluster is not documented on the website although exists in code on master.

### InSpec and Platform Version

N/A

### Replication Case
N/A

### Possible Solutions

Documentation needs adding.

### 💻 Stacktrace

N/A

[2018-10-22 15:19] vjeffrey opened #3535 "`inspec compliance login` command gives 'fake' feedback"
### 🎛 Description
When using the `inspec compliance cli` plugin, the login information will take all the info you give it and simply store it locally for later use.
This means that if a user inputs a bad token for the command, we will respond with a "configuration stored" message, and then the user, not knowing that the token/login was never validated, thinks something has gone wildly wrong when t

[2018-10-22 17:19] jquick commented on #3429
This is done.

[2018-10-22 17:19] #3429 closed, assigned to nobody

[2018-10-22 18:34] TrevorBramble commented on #3306
@clintoncwolfe Seeing the unexpected behavior when using zoom doesn't mean it isn't a style bug. Either the box should enforce minimum dimensions or (less likely) the text should resize/reflow.

[2018-10-23 09:45] james-stocks opened #3538 "skip conditionally on a test passing or failing"
### 🎛 Description

 🙋 feature request

If I convert Center for Internet Security automated test definitions into Inspec tests, I may end up with a control like this:

[code]

The intention is that the `describe.one` either passes or skips.
Currently, Inspec will skip unconditionally.

I suspect the answer will be 'No'; but I'd like to check if it's possible to have `describe.one` support a pass-or

[2018-10-23 10:34] jquick commented on #1756
Fixed via https://github.com/inspec/inspec/pull/3495

[2018-10-23 10:34] #1756 closed, assigned to nobody

[2018-10-23 12:42] cliffano commented on #2571
@clintoncwolfe Is there any rough guesstimation on when the upgrade will be performed?
Not asking for a deadline :), a ballpark plan will help users with determining our strategy for managing the usage of aws-sdk 2 in the midst of other libraries using aws-sdk 3.

[2018-10-24 09:43] pawasthi07 opened #3540 "inspec version still shows older version"
### 🎛 Description

**Choose one:** is this a 🐛 bug report

Inspec version does not show the installed version

[root@fvthyd01 ~]# gem install inspec
Fetching: inspec-3.0.9.gem (100%) ----------------->>> InSpec 3.0 got installed
**Successfully installed inspec-3.0.9**
1 gem installed

[root@fvthyd01 ~]# inspec version------------------------->> Still showing older version
1.45.13
Your version of I

[2018-10-24 10:08] frezbo commented on #3540
@pawasthi07 you must have a previous installation of inspec either as part of inspec rpm installation or chefdk installation. See the inspec path with `which inspec`, It will be using something in `/opt` rather than the local gems

[2018-10-24 10:30] pawasthi07 commented on #3540
Yes I have Chef server , chek workstation installed on the  same server where I have installed InSpec , however rpm -aq | grep inspec does not show any installed packages.
Cant we install InSpec on a server running chefdk.

[2018-10-24 16:05] jquick commented on #3540
ChefDK includes InSpec. Standalone InSpec and ChefDK will need some bin direction as they will both want to use the same executable. A new ChefDK should be released soon which includes InSpec 3.0. That or you can modify your inspec executable to point to your gem version instead.

[2018-10-24 16:10] jquick commented on #431
This was added.

[2018-10-24 16:10] #431 closed, assigned to nobody

[2018-10-24 16:11] jquick commented on #440
Thanks for this info. Closing this as chef-compliance is EOL.

[2018-10-24 16:11] #440 closed, assigned to nobody

[2018-10-24 16:13] jquick commented on #515
This has been resolved with the new platform supports system which shows proper errors.

[2018-10-24 16:13] #515 closed, assigned to nobody

[2018-10-24 16:16] jquick commented on #517
Thanks for reporting this. Closing this due to the lag time. Please reach out to your account contact if your still having issues.

[2018-10-24 16:16] #517 closed, assigned to nobody

[2018-10-24 17:29] jquick commented on #532
With the additions of reporter plugins this is not needed anymore. This plugin type should be published soon and then you will be able to generate any reports you want via a plugin.

[2018-10-24 17:29] #532 closed, assigned to nobody

[2018-10-24 17:30] jquick commented on #533
Closing this. Reopen with details if this is still an issue.

[2018-10-24 17:30] #533 closed, assigned to nobody

[2018-10-24 17:32] jquick commented on #578
This would be a compliance issue and not the InSpec compliance api plugin. Compliance is EOL at this time but is still getting some support. Please reach out to your account manager if your still having issues.

[2018-10-24 17:32] #578 closed, assigned to nobody

[2018-10-24 17:35] jquick commented on #587
Inspec 2.0 added some baseline exit code options. We could enhance this to include others on this list.

[2018-10-24 19:48] miah commented on #3540
Try `which inspec` from the command line and you'll see where the inspec being executed is installed.

You can then modify your shell environment $PATH to put your gem installed inspec before the other.

[code]

[2018-10-25 10:45] kmf opened #3542 "Feature Request: OpenStack Platform support"
Would love the ability to test resources on an OpenStack environment
    (got them from Terraform)

- openstack_blockstorage_volume_attach
- openstack_blockstorage_volume
- openstack_compute_flavor
- openstack_compute_floatingip_associate
- openstack_compute_floatingip
- openstack_compute_instance
- openstack_compute_keypair
- openstack_compute_secgroup
- openstack_compute_servergroup
- openstack_

[2018-10-25 12:09] slauger commented on #2472
This is still an issue with inspec 3.0 and it's bundled rubygem net-ssh 4.2.0.

[code]

Example SSH configuration:

[code]

[2018-10-25 15:08] aaronlippold commented on #3181
Any updates on this? Did this get moved to another issue?

[2018-10-25 15:16] lmayorga1980 commented on #3506
**As your example**
[code]
**Without Escape**
[code]

**CMD.exe withou Escape**
[code]
**On the mounted volume Path**
[code]

[2018-10-25 15:23] lmayorga1980 commented on #3506
@jerryaldrichiii Maybe the failure on **inspec** within the mounted scenario can be targeted in another issue.

[2018-10-25 15:23] #3506 closed, assigned to nobody

[2018-10-25 17:53] clintoncwolfe commented on #2472
Removed docker reference, it's not relevant here

[2018-10-25 17:56] clintoncwolfe commented on #2472
This issue concerns InSpec's underlying communications library, train.  I'm not a crypto expert, but I suspect it is likely related to https://github.com/inspec/train/issues/353 .  I'd like to move discussion to the train issue if that is correct, please.

[2018-10-25 19:40] clintoncwolfe commented on #1028
@jquick can this be closed?

[2018-10-25 19:45] clintoncwolfe commented on #587
I don't think this is about exit codes, or at least not just about that.  It's about individual test outcomes being able to have more subtle results.

Based on that, I think this a duplicate, in slightly different ways, of:
 * #3174 - what to do when a resource cannot run
 * #3017, an RFC on finer-grained outcomes.

With that, I'm going to close this - please do add more thoughts on either ticket

[2018-10-25 19:45] #587 closed, assigned to nobody

[2018-10-25 19:52] clintoncwolfe commented on #3534
You are correct, it is missing both docs and integration tests; I'm not sure why #3213 was accepted without them.

[2018-10-25 20:12] jquick commented on #1028
Yes attributes are profile specific now as well as their defaults. There is already another ticket to handle the namespace specific values when using an attrs file.

[2018-10-25 20:12] #1028 closed, assigned to nobody

[2018-10-25 21:38] miah commented on #1040
This is tricky on UNIX. We'll have to consult the `passwd` and the `shadow` files to make this observation. We'll also have to note that this is limited to accounts active on the local system and does not include authentication services like 'AD', 'ldap', 'nis', or 'kerberos' unless we go the full [NSS](https://en.wikipedia.org/wiki/Name_Service_Switch) route.

A user is "disabled" if:
 - It has a

[2018-10-27 13:12] aaronlippold commented on #3300
@scalp42 at the moment there are only a couple of hacks which have been used to pass data via the CLI. I have looked at things like dynamically creating a yaml file and passing it to the pipeline. And there are some tricks with the Json config but both of these are brittle in my opinion so I opened this issue 2 push the community to help out with a PR to make the capability more stable.

[2018-10-28 01:10] darkn3rd opened #3544 "Service Resource fails when Docker Container"
### 🎛 Description 🐛

Cannot verify service on Ubuntu 16.04 docker container, but works with vagrant.

### 🌍 InSpec and Platform Version

```2.2.70```

### 🤔 Replication Case

I was using Test Kitchen to drive the tests.   The YAML file below pulls the docker image ubuntu:16.04.  Kitchen, it then does some steps to enable ssh and sudo.

[code]

Simple Chef Cookbook recipe that does:

[code]

And si

[2018-10-28 01:38] darkn3rd opened #3545 "apache_conf resource cannot verify env used in config"
### 🎛 Description 🐛

On Ubuntu 16.04, apache2 service is run with envvars set in `/etc/apache2/envvars`, where it does, for example:

[code]

InSpec cannot verify the behavior, as it only compares the static string.

### 🌍 InSpec and Platform Version

```2.2.70```

### 🤔 Replication Case

And simple InSpec script:

[code]

### Actual Results

[code]

### Expected Results

If I was doing a manual s

[2018-10-28 06:28] darkn3rd commented on #786
Any update on this?
It would be nice to do:
[code]
as opposed to:
[code]

[2018-10-29 06:33] atward opened #3546 "systemctl pages and blocks on service show"
### 🎛 Description

Inspec test against systemd service blocks. Appears systemctl is using pager by default.

### 🌍 InSpec and Platform Version

inspec 2.2.70
Running against RHEL7

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

systemctl takes `--no-pager`. It also honours `PAGER` and `SYSTEMD_PAGER` but this may not make it through sudo.

### 💻 Stacktrace
cmd never returns:
[code]

ptr

[2018-10-29 17:15] clintoncwolfe commented on #3546
@atward, thank you so much for this - a wonderful example of how to report and document an issue.

[2018-10-29 21:08] clintoncwolfe commented on #844
Refs and partial duplicate of #3174

[2018-10-29 21:19] clintoncwolfe opened #3549 "Allow each inspec check warning to be enabled or disabled"
### 🎛 Description

🙋 feature request

Many linters and checkers have a mechanism to disable individual (or even categories) of warnings and errors.  Many users have expressed a desire for inspec check to be more lenient in a specific way for their environment (for example @james-stocks would like "No tests in control" to be ignored in some cases). In some cases, complex CI wrappers are added to ig

[2018-10-29 21:39] clintoncwolfe opened #3550 "inspec check warns if desc is missing but description present for a control"
### 🎛 Description

🐛 bug report

#3424 added the ability to use the DSL word `description` to add a description with an optional label to controls; the keyword may be repeated.

When used with a single argument, the intent was for the description to be used as the 'default' or main description of the control, replacing `desc`.  `desc` was retained for backwards compatibility.

However, a control f

[2018-10-29 22:18] clintoncwolfe commented on #822
As of 3.0.14, current behavior is to merge controls from the same profile that have the same "full ID" = profile_name/control_id - see [here](https://github.com/inspec/inspec/blob/v3.0.14/lib/inspec/profile_context.rb#L181)

However, "typical" controls (those for which we can determine source file and line) do know their source location, so we are able to distinguish when a collision is happening.

[2018-10-29 23:55] clintoncwolfe commented on #3550
Hey genius, the keyword is `desc`, `description` isn't a thing.

[2018-10-29 23:55] #3550 closed, assigned to nobody

[2018-10-30 00:43] clintoncwolfe commented on #3459
I think #3547 is a good step forward to help this specific issue, but there are many other headaches about CLI ordering and interpretation (try `inspec exec help` or be `inspec exec --help` for some examples.

[2018-10-30 10:32] #3459 closed, assigned to nobody

[2018-10-30 17:21] scalp42 opened #3554 "Allow skip_control to take in a regex"
### 🎛 Description

This is a feature request.

When including a profile, it'd be great to be able to specify a regular expression.

Currently:

[code]

With feature:

[code]

### 🌍 InSpec and Platform Version

`2.2.112`, Mac OS

### 💻 Findings

I'm hoping to be able to make a PR, looks like there's a routine to delete the path for specific rule:

1. https://github.com/inspec/inspec/blob/d5bb1e5fe9

[2018-10-30 18:30] jerryaldrichiii opened #3555 "Add support for `inspec exec` and private Git repos (GitHub or GitLab)"
### 🎛 Description

🙋 feature request

Currently there is no method to use `inspec exec` and a private GitHub repo. Below are some examples that I think should work but do not:

#### Via SSH (`git@github.com`)

[code]

Fails with:
[code]
This fails since `target` is passes as a String and no fetcher knows how to handle it. I think the Git fetcher should parse this string and do a Git clone.

#### V

[2018-10-30 19:59] darkn3rd opened #3556 "Successful Tests Appear in Red on Linux guest running on Win10"
### 🎛 Description 🐛

When using Inspec on a Linux Guest (Hyper-V) on Windows 10, successful tests appear highlighted in red.  This does not happen if the Linux Guest is used on Mac OS X (virtualbox is used).

### 🌍 InSpec and Platform Version

Inspec `2.2.70` running on Ubuntu 16.04 hyper-v guest to ssh into docker container (Ubuntu 16.04 image), on Windows 10 host

### 🤔 Replication Case

One Win

[2018-10-30 21:34] aaronlippold commented on #3555
Something to consider is that can and what do we need to pull from kitchen-inspec or kitchen, as, if we use `kitchen-inspec` and have private repos in the depends or in the `inspec_tests` - when I run my kitchen commands, I don't run into issues - kitchen seems to 'take care of it for me' if I for example - have my local git client setup with Private Access Tokens or ssh private keys etc.  Not sur

[2018-10-31 01:57] atward commented on #3546
`systemctl` only uses a pager when stdout is determined to be a tty. inspec backend does not do this normally. This does however produce undesirable behaviour if a tty is in use. I believe the bug fix should be scoped to the systemctl command including `--no-pager`.

The specific replication case should be changed to a `packer` build using `communicator=ssh` and `ssh_pty=true` on the builder. eg:

[2018-10-31 05:08] jerryaldrichiii commented on #3555
Yup, basically the Git fetcher expects an array (which is passed when using `inspec.yml`/`kitchen.yml`) but when running `inspec exec` a String is passed. The Git fetcher uses `git clone` which handles all of the ssh things.

See: https://github.com/inspec/inspec/blob/master/lib/fetchers/git.rb#L32

[2018-10-31 08:37] chris-rock commented on #3555
You cannot just use basic authentication with github, you would need to use your token as the username as described here https://developer.github.com/v3/auth/

[2018-10-31 17:25] clintoncwolfe commented on #3555
I think there are two issues mixed together, here.

1. Distinguishing between a non-git HTTP-based fetch of a tarball/zipfile profile, and git-based fetches from the command line (git may be git+ssh, git+token, git+basic http auth, or git+no-auth).  We may have to rely on heuristics for that, but that's OK - the fetchers already rely on heuristics to volunteer to handle a profile location (AKA "ta

[2018-10-31 19:33] jquick commented on #3555
Lets do the following:
1) Add `git@` to the profile path checks to force the git fetcher
2) Add documentation for `git@` and `https://token@github` and how to use them
3) Add documentation for fetching a `.zip` file over http(s)

[2018-10-31 19:36] jerryaldrichiii commented on #3555
Can do! Thank you @clintoncwolfe @chris-rock @jquick I verified the following works:

[code]

[2018-10-31 21:12] aaronlippold commented on #3555
Very cool guys, thanks. @jquick and @clintoncwolfe have the right path I think, for the interim I will test ensure the above works on the hosted github private repo side as well as the private hosted gitlab side.

[2018-10-31 21:37] jerryaldrichiii commented on #3555
@aaronlippold @jquick @clintoncwolfe @chris-rock I was wrong...`token@github` also fails with userinfo not supported on master....I had it short circuited on my branch.

I'll add support for `git@`.

Should we also force the Git fetcher when using `https://` and ending in `.git`? I don't think forcing on `.tar.gz`/`.zip` is valid because someone may be doing HTTPS without Git.

EDIT:

More digging

[2018-10-31 21:58] KrisShannon opened #3558 "Command line arguments are overly sensitive to order"
### 🎛  🐛

For `inspec exec` the `--controls` argument must come before the `--target`

### 🌍 InSpec and Platform Version

[code]

### 🤔 Replication Case

[code]

[2018-10-31 23:06] clintoncwolfe commented on #952
The test fixture profile 'filter_table' in the inspec functional test codebase triggers this warning, and the functional test currently filters the test warning out.  I'll start from that profile, and whittle it down.

[2018-10-31 23:10] aaronlippold commented on #3555
I would think that is logical given that they are giving you a direct uri
to a repo

On Wed, Oct 31, 2018, 5:37 PM Jerry Aldrich <notifications@github.com wrote:

[2018-10-31 23:57] clintoncwolfe commented on #952
Calling `should` as an explicit method on an arbitrary object (as opposed to as a DSL method, without an explicit receiver) triggers the warning:

[code]

[2018-11-01 11:05] dijit opened #3563 "`Port` resource not supported on FreeBSD, but helper code exists."
https://github.com/inspec/inspec/blob/d622f469672aea8708cc6331dc638c4cd12d6cf0/lib/resources/port.rb#L69

on FreeBSD this returns 'bsd' as the OS family, so port matching does not appear supported on the platform.

However the code exists and should work, I believe it's just not matching here.

[2018-11-01 13:12] dijit commented on #3563
Easy fix #3565

[2018-11-01 15:25] fcaviggia opened #3566 "Document ability for SELinux Role for Production Use"
Document ability for SELinux Role for Production Use

**Choose one:**  🙋 feature request.

Document ability to assume a role for SELinux roles - generally done with the '-r' option to sudo. This might be useful in testing systems that require not only elevated privilege, but a specific role to be assumed by the user.

@aaronlippold
@trevor-vaughan

### 🌍 InSpec Linux ALL

[2018-11-01 16:50] clintoncwolfe commented on #3558
Refs #3553
Refs #3547
Refs #3426
Refs #3991

[2018-11-02 09:51] james-stocks opened #3570 "No way to write a control with shadow resource that's both 1.x and 2.x compatible"
### 🎛 Description

 🐛 bug report

CIS compliance requires this control:

[code]

I need control code that is compatible across Inspec 1.x 2.x and 3.x

The control above does not work in Inspec 1.x as there is no `where` method. The 1.x docs suggest I need to use the [filter method](https://github.com/inspec/inspec/blob/1-stable/docs/resources/shadow.md.erb) instead. I don't think I can use `filter

[2018-11-02 10:16] james-stocks commented on #3570
I spoke to @chris-rock about this - it is best to handle this with custom resource code in our profiles, and not change anything in Inspec.

[2018-11-02 10:16] #3570 closed, assigned to nobody

[2018-11-02 12:37] skpaterson opened #3571 "InSpec doesn’t find relative or absolute path dependencies during profile ’check’"
### 🎛 Description

🐛 bug report

Running an `inspec check` command on a profile having a `path` dependency always results in an error.

### 🌍 InSpec and Platform Version

[code]

### 🤔 Replication Case

When I have an `inspec.yml` profile with path dependency as such:

[code]

Running an `inspec check` command results in the following error:

[code]

I would expect relative paths to be formulated

[2018-11-02 15:27] jquick commented on #3558
Since controls can be an array of controls, try adding `--` to specify end of options before the profile. This is a recent change so make sure your on the latest InSpec also.

[2018-11-02 18:22] megamorf opened #3574 "Detect OpenSUSE Leap platform"
### Description

I'm currently testing Ansible Playbooks against OpenSUSE Leap systemd Docker containers and want to verify the results with InSpec. The setup works with Centos systemd containers but fails with openSUSE.

Could be either a feature request or bug report. :/

### InSpec and Platform Version

InSpec:
[code]

Host OS:

[code]

Target OS:
[code]

### Replication Case

Build the followi

[2018-11-02 20:46] megamorf commented on #3574
## Additional info:

I installed ruby within the container with `zypper install ruby2.5`, then pulled the os gem with `gem install os`.

Its OS report shows:

[code]

I then installed ohai which is probably what you use in the background with `zypper install ruby2.5 ruby2.5-devel libffi-devel make gcc` followed by `gem install ohai`.

Here's a summary of it's output without irrelevant json attribu

[2018-11-02 23:45] clintoncwolfe commented on #3566
Could you elaborate on your intended meaning of "production use"?

[2018-11-02 23:52] fcaviggia commented on #3566
The term "Production Use" use was Aaron's wording. Basically, for users that implement Role-Based Access Control using SELinux. It can create a situation where root privileges are divided up with several users to manage a system.  Particularly, for Cross Domain Solutions.

[2018-11-03 00:17] clintoncwolfe commented on #3566
OK, that is pretty site-specific.  Generally speaking, I think you're asking for support for SELinux support to be added to the sudo options for `inspec exec`.  Is that correct?

The issue also mentions 'documenting' the feature, not implementing it.  Do you believe this capability is already present, and if so, could you provide an example?

[2018-11-03 00:17] clintoncwolfe commented on #3535
Refs #2881

[2018-11-03 00:28] clintoncwolfe commented on #3574
Thanks so much for the thorough description and reproduction instructions!

I don't think we'd want to get into forcing a platform; @jquick might have a stronger opinion on that.

As this is an issue with our connectivity library, `train`, I've made a stub ticket on that repo, and will close this one.

[2018-11-03 00:28] #3574 closed, assigned to nobody

[2018-11-05 15:01] #3518 closed, assigned to nobody

[2018-11-05 18:33] jerryaldrichiii commented on #3571
Interesting, after running `exec` (which does a vendor to cache) this works, but I confirmed this does fail on a freshly generated profile.

[2018-11-06 11:21] g1ps opened #3580 "Tick and cross glyphs don't appear in output."
### 🎛 Description

### 🐛 bug report?

Can anyone help with this? Ticks and crosses don't appear in test ouput. Question marks appear instead. No amount of searching could find anyone else reporting this.

[code]
Is this something to do with fonts and not having the right character set?

### 🌍 InSpec and Platform Version

inspec 3.0.12 and earlier versions
RHEL 7.4

[2018-11-06 17:52] clintoncwolfe commented on #3351
Looks like we use things from Nathen's personal repo, too:

[code]

[2018-11-06 18:14] jerryaldrichiii opened #3581 "Modify Thor (or alternative) to allow `inspec exec -h`"
### 🎛 Description

Running `inspec exec -h` produces the following error:

[code]

I believe this is coming from Thor and thinking `-h` is an argument to exec. A workaround is to use `inspec help exec` but I don't think that is intuitive. It also is not consistent with the rest of Chef products.

[2018-11-06 18:32] clintoncwolfe commented on #3581
Thanks for the report! This was fixed on #3553 and released on v3.0.25.

[2018-11-06 18:32] #3581 closed, assigned to nobody

[2018-11-06 18:58] clintoncwolfe commented on #3571
We've also seen a lot of TravisCI functional tests fail in inspec_check_test with this error message.

[2018-11-06 21:59] clintoncwolfe commented on #3580
Is RHEL 7.4 the platform you are targeting with inspec, or the platform you are running inspec from?

[2018-11-06 22:10] clintoncwolfe commented on #3545
We discussed this issue internally, and our general consensus went something like this:

* We can't be in the business of providing the same evaluation semantics as Apache.  We already do so to a very limited degree in pulling in IncludeDirs, etc.
* Your idea of examining /proc is interesting, but introduces some issues: proc is Linux-specific; typically requires sudo; and assumes that you have on

[2018-11-06 23:40] clintoncwolfe commented on #3300
I really want this feature, as well.

Two thoughts occur to me.

1. Attributes are specific to a particular profile.  What would the syntax be for that? (if you have a `wrapper` profile, which depends on `webserver` and `mysql` profiles, all three of which have a `user` attribute, how do you specify which you are setting?)
2. I think this should only be for scalars (strings, numbers, booleans).  I

[2018-11-06 23:44] clintoncwolfe commented on #3566
It appears that we already support passing extra arguments to sudo, using the [--sudo-options](https://www.inspec.io/docs/reference/cli/#exec) option to `inspec exec`.

As there are many things one could conceivably pass there, I don't think it makes sense to add usage docs mentioning se_linux specifically.

I do think an example of using this might make a great blog post.

[2018-11-07 00:54] aaronlippold commented on #3300
Hello, is your concern with item 2 due to the possible complexity of
escaping arrays and hashes on the command line? If so I guess that would
make sense. Although an array maybe easier to mitigate. I could see the
challenge with the hash but that's why God made single quotes right?

I agree with your first point in the fact that the primary use case for me
is to pass some Singleton string of data

[2018-11-07 11:20] g1ps commented on #3580
Both in this case but it doesn't matter. On a Windows host I get the `[PASS] [FAIL]` report.

[2018-11-07 13:01] fatmcgav commented on #3053
This just bit me aswell... Would be great to have a OS agnostic way of ensuring a package version is fulfilled...

[2018-11-07 13:58] james-stocks opened #3585 "`inspec check` should warn if Inspec doesn't fit version dependency"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

It would be helpful for `inspec check` to consider it an error if the profile being checked is not supported by the version of Inspec running the check.

Currently (e.g. with our CIS AWS profile), the profile passes check but fails to exec:

[code]

### 🌍 InSpec and Platform Version

3.0.25 gem

### 🤔 Replication Case

[2018-11-07 13:59] james-stocks commented on #3585
I can do this myself but would like a +1 on it being a valid improvement - or is there any case where being able to check with unsupported Inspec versions is desirable?

[2018-11-07 16:40] clintoncwolfe commented on #3585
I think we need @arlimus or @chris-rock to weigh in.  To me, the main concern is that we have Automate and Compliance acting as gates (they run `check` on profiles as they are uploaded, using the version of inspec included with Automate/Compliance).  Subsequently, a user might run a different version of inspec, fetching the profile from the compliance / automate server.

Currently, the lack of ver

[2018-11-07 16:54] clintoncwolfe commented on #3094
Closing, believed fixed on #3126.  Please re-open if mistaken.

[2018-11-07 16:54] #3094 closed, assigned to nobody

[2018-11-07 16:58] chris-rock commented on #3585
As a user I may need to support older environments and it would be a pitty if they could not store the profile in the profile store just because we deny upload profiles (profiles are denied uploading if they have errors). Therefore I see cases where we want to upload a profile that Chef Automate itself cannot execute but older versions of InSpec can.

Issuing a warning that the latest version is n

[2018-11-07 17:15] james-stocks commented on #3585
That is a very good reason to not error; a warning would be useful if we eventually had https://github.com/inspec/inspec/issues/3549 to configure what warnings are significant for our usage.

I'll raise a PR to add a warning for this case when I find time

[2018-11-07 17:17] jquick commented on #3580
We also use:
[code]
unicode chars for different things. Your Terminal may not support some.

[2018-11-07 17:47] jquick commented on #3571
A new check was recently added to the checks that will raise this issue if you have a lock file without a vendor folder.

[2018-11-07 17:47] trevor-vaughan commented on #3566
@clintoncwolfe This is required for STIG control V-71971 https://github.com/simp/inspec-profile-disa_stig-el7/blob/master/controls/V-71971.rb

[2018-11-07 17:55] TrevorBramble commented on #3580
@jquick Even if the terminal does, the selected font may not.

[2018-11-07 18:05] james-stocks opened #3587 "apache resource deprecation in Inspec 2 is no longer true"
While using the dev-sec/apache-baseline profile with Inspec 2.1 I noticed the following warning that was concerning since Inspec 3 is now released:

`[DEPRECATED] The `apache` resource is deprecated and will be removed in InSpec 3.0.`

For the 3.0 release, the deprecation [got bumped forward to 4.0](https://github.com/inspec/inspec/commit/2bbcdbde9b3d6008afc93e581d2a69338af90c8f#diff-6721b1d2c61c8

[2018-11-07 18:49] clintoncwolfe commented on #3580
Could you let us know:

`echo $TERM`
`echo $LANG`

The terminal application you are using
The font you are using in your terminal profile

Thanks!

[2018-11-07 19:00] clintoncwolfe commented on #3566
Please pardon my density on this, but I'm not clear on how an InSpec CLI option to change sudo behavior (which is already supported) is needed for a profile attempting to assert V-71971.

What change to the InSpec features, codebase, or documentation is being requested here?

[2018-11-07 19:02] clintoncwolfe commented on #3571
@jquick Which check? Since you found it, could you provide a link?

[2018-11-07 19:08] trevor-vaughan commented on #3566
I think it was just to allow for a commonly used option to be passed natively.

I'm OK with it not being done and just using the `--sudo-options` flag but this should help provide a 'reasonable customer usage' scope around the issue.

[2018-11-07 19:41] jquick commented on #3571
@clintoncwolfe Sorry about that. The checks were added via:
https://github.com/inspec/inspec/pull/3362

https://github.com/inspec/inspec/blob/master/lib/inspec/profile.rb#L381

[2018-11-07 22:06] vjeffrey opened #3590 "version pinning in profiles is a little looser than expected"
### 🎛 Description
I have a profile with a version restriction:
[code]
Presumably, this profile will not be executed on a system running InSpec version 2.2.x or 2.3.x.

But I'm running InSpec 2.3.5, and it is executing the profile.
Switching to InSpec 3+ gives me the unsupported msg, as expected.

[2018-11-07 22:17] jerryaldrichiii commented on #3590
I believe this is expected. The `~>` pinning means that the last digit is the significant one. So to get any `2.1.X` you would need to specify `~> 2.1.0` otherwise any `2.X` will be allowed.

The second one just means any version greater or equal to `2.1.48`.

[2018-11-07 22:17] #3590 closed, assigned to nobody

[2018-11-08 03:55] clintoncwolfe opened #3591 "iis_site: Tighten platform support restriction to Windows 2012+"
### 🎛 Description

🙋 feature request

The `iis_site` resource is described in the docs and in comments in the source as only supporting Windows Server 2012 or later.  However, the resource only makes the plain declaration:

[code]

which permits the resource to be used on versions of Windows where it may be unstable, such as Windows ME.

Refs #3492

### 🌍 InSpec and Platform Version

3.0.28

### 💁

[2018-11-08 09:06] g1ps commented on #3580
Certainly:
[code]
It's a cygwin console running in a console2 maager on Windows, connected to a RHEL7 VM via ssh. The VM runs these tests on a second Windows VM. Font is Lucida Console.

I hadn't appreciated that the `?` had a specific meaning. Why would I be getting `unknown` for every test that appears that it should pass? A correction to my original statement, BTW, is that I do now get the cros

[2018-11-08 09:29] mhackethal opened #3593 "inspec check failed - undefined method 'split' false/positive"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

This is a :bug: ( i think )
Any ideas or help is really welcome !

inspec check detect the following statement in an .rb file as error:

[code]
I use 'inspec check' as pre-check for my gitlab-runner to deploy my profiles so currently this issues causes that i am not able to deploy the profile.

### 🌍 InSpec and Platfo

[2018-11-08 11:44] g1ps opened #3594 "Unable to make oracledb_session work at all."
### 🎛 Description

Again, I need to ask for assistance. After many hours of trying I can't get this to work at all.

My env is this:

Machine A -> Machine B -> Machine C

A is running the inspec tests. It connects to B which, in turn, can access C and has Oracle tools installed and working. A is RHEL, B & C are Windows machines. I am running this, based on the example in the docs, which also fails

[2018-11-08 13:53] g1ps opened #3595 "How to handle dotted properties in .properties files."
### 🎛 Description
Relates to: #1330.

More hours, more failure to achieve something basic.

How do I deal with dotted properties in .properties files?

These files are ubiquitous and dotted keys are standard practice, so I'd expect to be able to do this with trivial ease but no luck.

Properties:
[code]

Test:
[code]
Result:
[code]

I've tried:
[code]
but that doesn't work.
[code]

I've tried usin

[2018-11-08 17:35] aaronlippold commented on #1573
I think this can be closed as it was resolved in the 2.x branch

[2018-11-08 17:35] aaronlippold opened #3596 "Replace 'Control' object's code block as text"
### 🎛 Description

🙋 feature request?

I would like the ability to add a full text block - i.e. the `code{ }` section of the json data to an inspec object. At the moment I can add single tests to the control but if I had the tests in a text block I would like to be able to add that to the control object directly.

@rachelrice what do you think?

[2018-11-08 17:37] aaronlippold commented on #3596
Use case:

I want to parse the json data of a profile and perhaps add or update elements in the profile and need a direct way to repopulate the describe blocks.

[2018-11-08 17:42] aaronlippold opened #3597 "Add `only_if` inside describe blocks"
### 🎛 Description

🙋 feature request?

There are cases where I have a higher level `only_if` condition that relates to a control. I would also like to be able to use `only_if` inside describe blocks as well to further refine my testing.

At the moment I am using `if/else` around describe blocks if a control has state conditional tests - I would like to use `only_if` as per our style guide.

@rache

[2018-11-08 18:43] #3490 closed, assigned to nobody

[2018-11-08 18:51] #3563 closed, assigned to nobody

[2018-11-08 19:39] tbugfinder commented on #3594
What's the output of `puts sql`?

[2018-11-08 20:18] alex-w-k opened #3598 "InSpec 3 fails to fetch profiles from compliance server"
### 🎛 Description

🐛 bug report

### 🌍 InSpec and Platform Version

InSpec 3.0.12 from ChefDK3.4.38 on macOS 10.14.1

### 🤔 Replication Case

When attempting to vendor dependent InSpec profiles to a cookbook's InSpec profile using InSpec 3.0.12 and Compliance server version 1.11.1, vendoring doesn't work.

Running `inspec compliance exec kalexander/tomcat-default` does work.
Running `inspec compli

[2018-11-08 20:47] jquick opened #3599 "Fix ruby-zip venerability"
On Thu, Jul 19, 2018 at 8:10 AM Harold Dost <h.dost@criteo.com> wrote:
I have been reviewing libraries that our company uses. I first looked to the primary libraries which are mentioned in https://github.com/snyk/zip-slip-vulnerability. I then did a little bit of digging because while your library uses rubyzip it states that "No High Level API" is exposed. This means that the users of the library

[2018-11-08 20:51] jquick commented on #3593
Thanks @mhackethal, looks like fdqn is not defined during the check run.

[2018-11-08 20:55] #3555 closed, assigned to nobody

[2018-11-08 21:05] clintoncwolfe commented on #3596
When you say "text block", I think you mean a multi-line String, that you could use to assign in one operation the entire innards of the Control. Is that correct?

InSpec does not currently do any source code parsing (it simply evaluates profile code when running), so the text block would be opaque.  You would not be able to assign the code as a String, then adjust one or more properties (such as

[2018-11-08 21:19] clintoncwolfe opened #3600 "True Source Code Parsing"
### 🎛 Description

🙋 feature request

When InSpec examines a profile, it evaluates the profile code directly.  This makes some operations, such as code generation, `check`, and profile inheritance, difficult and hard to debug.

An alternate approach might be to parse the source code of the profile, then manipulate the controls as desired, optionally executing.

This may very well be impossible; In

[2018-11-08 21:21] clintoncwolfe commented on #2867
Refs #3549

[2018-11-08 21:26] clintoncwolfe commented on #2615
#3359 added the ability to use strings as impacts.
#3017 discusses the idea of having more, possibly finer-grained test outcomes.

I'm going to close this; if you feel more should be covered here, please re-open.  Thanks!

[2018-11-08 21:26] #2615 closed, assigned to nobody

[2018-11-08 21:33] jquick commented on #3595
This is a known issue and most resources have been updated with array format. For now you can do something like:
[code]
closing this as its a dupe of https://github.com/inspec/inspec/issues/875

[2018-11-08 21:33] #3595 closed, assigned to nobody

[2018-11-08 21:36] clintoncwolfe commented on #1542
I believe this was fixed on #2464 ; please re-open if I am mistaken.  Thanks!

[2018-11-08 21:36] #1542 closed, assigned to nobody

[2018-11-08 21:39] clintoncwolfe commented on #1251
This appears to be stale, and the answer we'd give today is likely different.  Please re-open if you need more help on this.

[2018-11-08 21:39] #1251 closed, assigned to nobody

[2018-11-08 21:44] jquick commented on #3598
I am able to reproduce this. Working on a fix.

[2018-11-08 21:57] clintoncwolfe commented on #3220
This appears to be answered and inactive.  Closing, but feel free to re-open if you have further discussion.  Thanks!

[2018-11-08 21:57] #3220 closed, assigned to nobody

[2018-11-08 22:34] clintoncwolfe commented on #3348
I think that #3549, if implemented, would cover all of the needs listed on this issue. The issues are linked, so we can refer to it when implementing 3549.

So, I'm going to close this and mark as a duplicate.  If you feel I've missed the mark, please feel free to re-open.

[2018-11-08 22:34] #3348 closed, assigned to nobody

[2018-11-08 22:43] clintoncwolfe commented on #875
I think this is underspecified: I'm not sure what is broken.  `its` (from the `rspec-its` gem) is designed to allow users to chain method calls, as well as array element and hash element access.  It uses `.` to demarcate a method call, which is sensible since that is the Ruby method call syntax.

In my view, having a resource like `parse_config_file` generate methods that contain `.` in their meth

[2018-11-08 22:49] clintoncwolfe opened #3601 "Make a Tips and Tricks page for the Docs Website"
### 🎛 Description

🙋 feature request

From time to time, we get feature requests to add something that is interesting, but already achievable using other approaches.  In some cases, we add the feature; in others, we reject it.

It would be nice to have a place to collect advanced or interesting uses of InSpec - something less than a blog, but not official docs (the ideas would not be "supported").

[2018-11-08 22:50] clintoncwolfe commented on #3566
Refs #534

[2018-11-08 22:53] clintoncwolfe commented on #2758
This is tracked on #534; closing as a duplicate.

[2018-11-08 22:53] #2758 closed, assigned to nobody

[2018-11-08 22:57] clintoncwolfe commented on #3566
OK. Based on my understanding of what is being asked for - a CLI flag to specifically enable SElinux roles via sudo - I'm going to go ahead and close this, as it can be done via the `--sudo-options` flag. I do think it's a good use case, and should be showcased, perhaps on #3601.

[2018-11-08 22:57] #3566 closed, assigned to nobody

[2018-11-08 22:59] clintoncwolfe commented on #3597
Refs #3557

[2018-11-09 08:34] g1ps commented on #3594
Run where?

[2018-11-09 08:51] g1ps commented on #3595
Finally! Thanks. Even GitHub's related issue finder didn't find that so I'm not surprised I didn't.

[2018-11-09 08:57] mhackethal commented on #3593
@jquick
Hi Jarod, Thanks yes youre totally right. I predefined the vars with value false. which leads
to the error that 'split' cannot work. I am sorry for opening a bug request.
I am sorry for beeing blind.

[2018-11-09 08:57] #3593 closed, assigned to nobody

[2018-11-09 20:17] tnguyen14 commented on #4495
My web server could take a few seconds to come up, depending on response from the backend server. It would be great to have this feature built in.

[2018-11-09 22:04] tbugfinder commented on #3594
[code]

[2018-11-10 04:43] wyardley commented on #1700
I have this problem in CircleCI as well (their default TERM setting is 'dumb', but did try forcing it to xterm). If I run the same job in Circle via ssh, my term gets set to xterm-xfree86 and it displays just fine.

@mmb did you ever submit that PR? I think the regular green actually is easier on the eyes anyway.

[2018-11-10 22:39] wyardley commented on #1700
https://github.com/inspec/inspec/blob/6029a4b43d5e38987159ea893519aae858072210/lib/inspec/rspec_json_formatter.rb#L281-L328

Seems like this is the section. What do folks think makes the most sense? key on TERM=dumb as well as the platform selector? Or maybe switch to 'color' or something similar, rather than using escape codes directly?

[2018-11-12 09:43] kmf opened #3605 "Feature Request: Checking Linux CVE's"
I would love to have the ability to check if a machine is vulnerable to some CVE's
On SUSE : `zypper list-patches --all --cve | grep needed`
On RHEL : `yum --security --sec-severity=Critical check-update`

[2018-11-12 10:54] malagant commented on #3349
Current inspec 3.0.46 is also affected with postgresql 10

[2018-11-12 15:29] g1ps commented on #3594
OK, thanks.
[code]

[2018-11-12 15:47] aaronlippold commented on #3605
Hi,

I think we should eventually look into pushing this kind of capability here: https://github.com/dev-sec/linux-patch-baseline, as a work around we have been doing things like this at least on the RHEL side.

It could be adjusted to fit your platform.

[code]

[2018-11-12 17:26] hdost commented on #3599
PR is ready for review :+1:

[2018-11-12 17:38] megamorf commented on #3544
Is your container using systemd? If not, then your tests will always fails since typically services in containers are running in the foreground instead of being daemonized:

https://github.com/docker-library/httpd/blob/2d90aa98c2f7e4dea3374490788681a1f69635c1/2.4/Dockerfile#L148

I'm testing docker containers with systemd to be able to test service installation and configuration and my tests pass

[2018-11-12 17:53] megamorf commented on #3524
This is actually possible with `32cdcd3d6093` being your image id (source: https://github.com/inspec/inspec/blob/7313eb781937e459cdf88a9d5064723132bc5c38/lib/resources/docker.rb):

[code]

To see all properties, open `inspec shell` and specify your image id `docker.object('32cdcd3d6093')`. E.g.
[code]

[2018-11-13 04:34] kmf commented on #3605
@aaronlippold I agree, it would be great if this functionality was in the main project

[2018-11-13 10:11] vbasavar commented on #2555
Try  using below

cmd="/usr/bin/php --version | grep -qf PHP '#{php_version}' "
describe command(cmd) do
  its('exit_status') { should cmp 0 }
end

instead of

describe command("/usr/bin/php --version | grep -qf PHP #{php_version}") do
  its('exit_status') { should eq 0 }
end

It worked for me.

[2018-11-13 13:22] g1ps opened #3608 "http resource not working"
### 🎛 Description

🐛 bug report

Expected behaviour: It should work.
Actual behaviour: It doesn't

### 🌍 InSpec and Platform Version

Inspec 3.0.12
RHEL 7

### 🤔 Replication Case
This trivial case doesn't work:
[code]

### 💻 Stacktrace
Output:
[code]

[2018-11-13 19:33] #3546 closed, assigned to nobody

[2018-11-13 19:38] tarcinil commented on #3185
I think this should be re-opened or a new issue created.

#3207 allows command to take an option to redact, but https://github.com/inspec/inspec/blob/master/lib/resources/mysql_session.rb#L31 does not pass any data to the command in which would enable mysql_session to redact password.

[2018-11-14 01:49] jerryaldrichiii opened #3610 "Update Fetcher plugin type from v1 to v2"
A CLI plugin for `inspec-compliance` was created but not a fetcher plugin. Since there isn't a fetcher plugin type, we added a shim in InSpec 3.0 (See: https://github.com/inspec/inspec/pull/3609)

We should:
  - [ ] Create a fetcher plugin type
  - [ ] Convert the mock fetcher
  - [ ] Convert the url fetcher
  - [ ] Convert/Update/Separate the Compliance fetcher plugin from the core plugin inspec-

[2018-11-14 03:11] clintoncwolfe commented on #3594
@miah any thoughts?

Not being familiar with the `oracledb_session` resource, I'd first be interested in whether the OP can execute any test targeting machine C, perhaps `host`.  This appears to be a bastion hop from a linux machine to a windows machine, which then targets a remote DB.

[2018-11-14 03:14] KrisShannon opened #3611 "nginx_conf doesn't parse map sections with unquoted sources"
### 🎛 Description

🐛 bug report

The map directive can contain both wildcard and dot-prefixed domains as well as unquoted regular expressions as the source.

This is not being matched by the `identifier` parsing which fails the parsing of the whole config.

#2278 was an earlier bug related to this which was fixed in #2292 by allowing identifiers to be quoted,  but nginx does not require the quotin

[2018-11-14 03:16] clintoncwolfe commented on #3545
Hi! We've given an approach to this question, and there hasn't been any activity in a few days.  I'm going to close this, but if you would like to discuss further, please feel free to re-open.

[2018-11-14 03:16] #3545 closed, assigned to nobody

[2018-11-14 03:17] clintoncwolfe commented on #3540
It looks like  your question has been answered to your satisfaction.  I'm going to close this, but feel free to re-open it if you have more to discuss on this topic.

[2018-11-14 03:17] #3540 closed, assigned to nobody

[2018-11-14 03:18] clintoncwolfe commented on #1759
This has been somewhat answered, and has sat for a bit.  I'm going to close this, but feel free to re-open it if you have more to discuss on this topic.

[2018-11-14 03:18] #1759 closed, assigned to nobody

[2018-11-14 03:22] clintoncwolfe commented on #3299
Hi! We'd love to help you more with this, but we need more information.  Since this issue has sat for several months, I'm going to close this, but feel free to re-open it if you have more to discuss on this topic.

[2018-11-14 03:22] #3299 closed, assigned to nobody

[2018-11-14 03:27] clintoncwolfe commented on #3210
Hrm, I can't replicate this.  Is this still an issue for you?

[2018-11-14 03:35] clintoncwolfe commented on #1700
Note: InSpec v1 is generally not receiving noncritical updates at this point.

On InSpec v3 / master, the color codes are located in https://github.com/inspec/inspec/blob/master/lib/inspec/reporters/cli.rb .

[2018-11-14 03:43] wyardley commented on #1700
@clintoncwolfe Phew, thanks for pointing that out [that was actually the one I was editing in my branch]..

A naive and pretty narrow fix would be to replace that case selector with something like
`    if RUBY_PLATFORM =~ /windows|mswin|msys|mingw|cygwin/ or ENV['TERM'] == 'dumb'`
but I feel like the cleanest fix would be to look for explicit TERM settings likely to have 256 colors and / or the se

[2018-11-14 19:26] jquick commented on #3608
Seems to be an issue with `faraday` on your machine. I will see if I can reproduce on my end.

[2018-11-14 19:26] #3599 closed, assigned to nobody

[2018-11-14 19:30] g1ps commented on #3608
Thanks. I don't even know what that is. I haven't installed it myself so if it's not in the package it's probably missing.

[2018-11-14 19:59] jquick commented on #3608
Yeah its just a gem that comes with the inspec bundle so it should be provided for you. If your running remote (via `-t ssh://...`) it would use CURL but I think you are running locally here.

[2018-11-15 03:24] darkn3rd commented on #3544
The official Ubuntu 16.04 containers (`FROM ubuntu:16.04`), systemd will not work, and instead the init.d script will work (though it may not be the real init system, the scripts detect status properly in container or non-container mode).

InSpec should behave correctly for either container or non-container mode on _*official*_ Ubuntu 16.04.

Application service containers, where the foreground se

[2018-11-15 04:28] artyomtkachenko opened #3614 "New naming schema for Amazon Linux 2 releases"
### 🎛 Description

🐛 bug report

New naming schema for Amazon Linux 2 releases

New naming schema
[code]
Old naming scema
[code]
### 🌍 InSpec and Platform Version

Amazon Linux 2
inspec version
3.0.46

### 🤔 Replication Case

[code]

### 💁 Possible Solutions

train gem must be updated to address a new release name

### 💻 Stacktrace

[code]

[2018-11-15 07:36] Bhanukiran117 opened #3615 "user InSpec resource missing comment"
### 🎛 Description

I am using chef user resource,

[code]
I want to test the user comment using InSpec, I do not see this option is currently available.

### 🌍 InSpec and Platform Version

[code]

[code]

[2018-11-15 08:40] jerryaldrichiii commented on #3615
Great suggestion @Bhanukiran117! Both [here](https://github.com/inspec/inspec/blob/master/lib/resources/users.rb#L74) and [here](https://github.com/inspec/inspec/blob/master/lib/resources/users.rb#L380) could use some work for parsing the comment field.

[2018-11-15 13:18] JumpSplat96 opened #3616 ""Expect" command missing from latest version"
### 🎛 Description

This is a feature request. 🙋

In previous versions of inspec (3.0.25 and before) it was possible to run a test using the command `expect`. Eg:

`it 'this test would not fail' do
     expect(3).to eq(3)
end`

Versions newer than 3.0.25 no longer have this feature, so any test which uses `expect` now fails. Our work has a lot of dependencies on this command, and refactoring is out

[2018-11-15 13:29] g1ps commented on #3594
I did some checking:
Targetting Machine B:
[code]
Results:
[code]
This casts doubt over whether my tests are actually working, now, since C has no web server and therefore result 5 is correct. So why are 6 & 7 showing as passed?? See also #3580. Now I'm concerned that the ? aren't failed ticks.

Targetting Machine C with the same tests:
[code]
which is equally concerning. Suggestions welcome.

[2018-11-15 13:36] g1ps commented on #3594
Results when run from Windows:
[code]

[2018-11-15 16:55] vjramth opened #3617 "RSpec 'expect' syntax not working"
Recently we did a Inspec software upgrade from Inspec-2.1.43 to latest Inspec-3.0.46 and we are facing a issue with Expect method whose tests worked fine while running from inspec-2.1.43, but throws error saying undefined method 'expect'

[code]

[code]

**Error:**
[code]

Works fine when run from Inspec-2.1.43
[code]

EDIT (@clintoncwolfe): place code in blocks

[2018-11-15 18:50] clintoncwolfe commented on #3617
Likely related to #3560, which sets the RSpec preferred syntax to `should` mode.  That was shipped in 3.0.46.  The prior RubyGems release was 3.0.25 - try that

[2018-11-15 18:54] clintoncwolfe commented on #3617
Also reported on #3616, closing this as dupe

[2018-11-15 18:54] #3617 closed, assigned to nobody

[2018-11-15 18:54] clintoncwolfe commented on #3616
Likely related to #3560, which sets the RSpec preferred syntax to `should` mode.  That was shipped in 3.0.46, 3.0.25 was last gem released prior.

[2018-11-15 19:01] clintoncwolfe commented on #3616
@chris-rock @arlimus - what do you think? We had an edge case on #952 #3560, in which RSpec is noisy, and we can silence the warning by setting the internal DSL mode to `should`.  Evidently that prevents `expect` from working;; if you specify one or the other, you may only use that set.

What do you think should be done? Reverting 3560 is straightforward, and un-breaks a lot of users that were usi

[2018-11-15 20:14] #3598 closed, assigned to clintoncwolfe

[2018-11-15 21:24] jquick commented on #3616
We should revert #3560 and figure out a new way to silence warnings.

[2018-11-16 08:50] mhackethal opened #3619 "[3.0.46] if for include no longer working in controls"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

This is a 🐛

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

### 🌍 InSpec and Platform Version

After upgrading from 2.2.78 to 3.0.46 the if statement for includes within a control is no longer worki

[2018-11-16 13:34] g1ps commented on #3594
A clean installation of 3.0.52 on another RHEL VM behaves exactly the same way. I need this working. Can anyone offer advice as to whether rolling back to an earlier version is likely to help? Which version? Anything else I can try?

Thanks.

[2018-11-16 13:39] g1ps commented on #3608
I installed 3.0.52 on a clean RHEL VM. Same result. Not good. Is there an older version I can use which will work?

[2018-11-16 13:40] g1ps commented on #3608
And no, not running locally, although I probably tried that. I tried to cover all the bases. Thanks.

[2018-11-16 13:53] jquick commented on #3185
@jerryaldrichiii - Can you take a look at this.

[2018-11-16 16:05] JumpSplat96 commented on #3616
@jquick @clintoncwolfe Thanks guys, sounds great! Any idea when we could "expect" it to be reverted?

[2018-11-16 16:10] jquick commented on #3616
Due to the holidays next week we will likely do a bug release early next week for it.

[2018-11-16 16:36] clintoncwolfe commented on #952
Re-opening as #3620 will revert the fix.

[2018-11-16 16:40] clintoncwolfe commented on #952
Looking forward, this is very tiny edge case: someone is explicitly calling `.should` on an object (that is, not using in the DSL), and then seeing noise on STDOUT and STDERR about the usage, which then in turn causes parse error *if* you are running with a JSON reporter and try to parse the output without filtering.

Two workarounds:
 * Don't call `.should` like that.
 * Run the STDOUT output of

[2018-11-16 16:52] clintoncwolfe opened #3621 "Plural-Singular Iteration"
### 🎛 Description

🙋 feature request

I've been thinking about this for a while, as a fluency issue.

Currently we implement plural and singular resources separately, unaware of each other.  [We say](https://blog.chef.io/2018/06/14/understanding-singular-and-plural-inspec-resources/) plural resources are good for finding things, and singular are good for examining in detail.  That leads to filter-

[2018-11-16 18:08] jquick commented on #3608
I am having issues reproducing this on a fresh 7.5 VM:
## Test file
[code]

## Run
[code]
Using https://app.vagrantup.com/generic/boxes/rhel7 as my image.

Still digging around for potential issues.

[2018-11-16 22:03] #3350 closed, assigned to nobody

[2018-11-16 22:04] #952 closed, assigned to clintoncwolfe

[2018-11-16 22:04] #3616 closed, assigned to nobody

[2018-11-16 22:37] tbugfinder commented on #3580
Could you try putty also?

[2018-11-16 22:39] tbugfinder commented on #3594
how about?
[code]

[2018-11-19 09:30] g1ps commented on #3580
Sorry, what's Putty got to do with anything?

[2018-11-19 09:47] g1ps commented on #3594
As you'd expect, that just doesn't output `SQL ResultSet` because it's not getting any rows.

[2018-11-19 14:55] g1ps commented on #3608
I tried reverting to Inspec 2.3.24. This doesn't work there, either:
[code]

[2018-11-19 14:57] g1ps commented on #3594
I reverted to Inspec 2.3.24.:
[code]
Doesn't work in this version, either.

[2018-11-19 17:29] clintoncwolfe commented on #2394
refs #3601

[2018-11-19 18:17] clintoncwolfe commented on #3594
`oracle_session` hasn't changed much; I don't think your issue is particularly version sensitive.  As you've never had it working, it may be a network, auth, or InSpec usage issue, or indeed a bug.

Responding to the [bastion checking comment](https://github.com/inspec/inspec/issues/3594#issuecomment-439042019), I can explain the output. Here's my understanding of the setup:

[code]

The [bastion

[2018-11-19 18:22] clintoncwolfe commented on #3594
Re: your concerns about `os.name`, that is indeed expected behavior.  The [os](https://www.inspec.io/docs/reference/resources/os/) resource has all sorts of information used to identify and distinguish the OS; and it so happens that `os.name` is the most specific.  So, if there are any distinctions between Windows releases (and there are many - that string varies widely), `os.name` will be differe

[2018-11-19 21:39] clintoncwolfe commented on #3594
Hrm, I stand corrected: in fact, we did have a change to oracledb_session, merged in #3170, inspec release 2.2.35 .  We then had a portability bug reported on #3255, still open.

The change was not present in 2.2.34 , which was released as a gem.  I'm not sure the resource worked on windows then, either, but it is worth a try.

[2018-11-19 21:40] clintoncwolfe commented on #3608
Could be #2822, in which the resource tries to use curl on the remote machine?

[2018-11-19 22:01] phiggins commented on #3616
Sorry for jumping in with little context, but could backwards compatibility be kept if you explicitly enabled the should and expect syntax? https://relishapp.com/rspec/rspec-expectations/docs/syntax-configuration#explicitly-enable-both-syntaxes

[2018-11-20 07:39] chris-rock commented on #3616
Great discussion, in InSpec, both should and expect syntax is expected to work. If we want to change this going forward, I would consider this a breaking change. I have seen both syntax in the wild. expect is mostly used by engineers with rspec background, should is more used by security and compliance experts.

[2018-11-20 12:20] g1ps commented on #3594
Many thanks for the detailed responses.

I don't know what the bastion discussion is about. I said at the start that the tests run on A, using B as the target. This test is asking B to check C though, yes.

Not ssh. WinRM.

- That's fine, thanks. Redacted, I'm afraid.
- Using port 1521 I get 3 successful results. Connections from sqlplus work, of course.
- OK
- OK

My point was that the same OS (s

[2018-11-20 15:39] ehvidal commented on #3616
Hey guys! Thank you for being discussing this. In the meantime, how can I do [this](https://relishapp.com/rspec/rspec-expectations/docs/syntax-configuration#explicitly-enable-both-syntaxes) but for inspec? I mean, in which file should I place `expectations.syntax = [:should, :expect]`? Thank you very much for your help!

[2018-11-20 17:02] james-stocks opened #3624 "Cannot use 'content' as the name for a filtertable field"
### 🎛 Description

 A minor 🐛 bug report

If I am making my own resource with filter table that is based on File resources, I may want to register filter table columns for File properties:

[code]

This does something odd where filter queries against content e.g.

[code]

Should fail for at least one empty File. However it never fails.

It appears that `content` in this context is already a String

[2018-11-20 17:05] james-stocks commented on #3624
I think this is mostly not a bug and it's the responsibility of a filtertable author to fully test their columns. They might need to re-test their resource for new Inspec versions though, in case new variables we introduce clash with column names?

[2018-11-20 18:07] ehvidal commented on #3616
Never mind. I added this content to a file in my `test/integration/<suite>` directory:

[code]

and it worked.

[2018-11-20 18:39] clintoncwolfe commented on #3624
I think if we could develop a list of reserved column names (or detect somehow), we could throw a hard error when one is used as a param to register_column.

[2018-11-20 22:44] alexpop opened #3625 "inspec check raises when the profile contains non UTF-8 characters"
### 🎛 Description

This is a 🐛 bug report

`inspec check` should not pass if the files inside the profile have non UTF-8 characters that will lead to failure down the line.

### 🌍 InSpec and Platform Version

[code]

### 🤔 Replication Case

[code]

[2018-11-21 01:06] miah commented on #3594
I am trying to reproduce locally to debug further.

[2018-11-21 02:12] teknofire opened #3626 "NoMethodError when downloading profile from automate server"
### 🎛 Description

🐛 bug report

There appears to be a regression in Inspec 3.0.46 that is breaks the Audit cookbooks ability to detect when an Inspec profile is not available from the Automate server.  Which then prevents it from displaying a user friendly error about the profile is missing on the Automate server.

For example when using Audit 7.3.0 and Inspect-core 2.2.102 you will normally see

[2018-11-21 09:53] g1ps commented on #3594
Thanks. Much appreciated.

[2018-11-22 03:12] omry commented on #1665
it makes no sense to retry on the kitchen level for a single failed test.
the test file can have many tests, and only one of them may have timing issues.
please reconsider supporting retries, the alternative is for people to add sleep into their commands, making the test ALWAYS be slow, not just sometimes.

[2018-11-22 07:52] PascalJanszWork commented on #3051
I tried this with version 3.0.52 of Inspec and this behavior still exists. Are there any plans to address this topic?

[2018-11-22 07:52] PascalJanszWork commented on #3051
@voroniys : I used a different approach to get to a solution.

In profile B I have:
[code]
When loading profile C I add --attrs to the CLI.

Hope it helps.

[2018-11-24 16:11] trickyearlobe commented on #1892
I know the issue was closed, but this is how I run profiles which have been archived with
`inspec archive some_profile`.

I expect it will also work (perhaps needing a few mods) with a profile directory, or functional tests in TK `/tests`.

[code]

[2018-11-26 10:12] KasteM34 commented on #3614
Quick fix for me :
change "Amazon Linux release 2 (Karoo)" to "Amazon Linux 2" in /etc/system-release.
And it works again then.

[2018-11-26 16:40] reddeppas commented on #2360
i think you can pass ORACLE_HOME in sqlplus_bin as below and it should work
sqlplus_bin: 'ORACLE_HOME=\<oracle home dir\> \<sqplus bin path\>'  as a workaround

[2018-11-26 18:42] jerryaldrichiii commented on #3614
When this is merged ^ the problem should be fixed :smile:

[2018-11-26 19:24] jerryaldrichiii opened #3631 "Remove deprecated `shadow` resource matchers"
### 🎛 Description

🐛 bug report?

We have deprecation warnings for some the `shadow` resource matchers. We should remove them.

If we don't remove them before 4.0 we should change `warn` to `Inspec::Log.warn()` to allow hiding the deprecation warnings from the output (otherwise things like the `junit` reporter will be broken).

### 💁 Possible Solutions

Merging: https://github.com/inspec/inspec/pu

[2018-11-26 22:04] miah commented on #3594
I was able to get this resource working! =)

I first set up a Oracle VM using https://github.com/oracle/vagrant-boxes

I then installed the Oracle Instant Client.

Here is my control:

[code]

(Don't worry about password, its auto-generated when the VM starts)

Here is the output:

(bei is just my local shell alias for `bundle exec inspec`)

[code]

[2018-11-27 11:11] g1ps commented on #3594
I've tried this several times but I took your tests, changed the server details and tried it. Didn't work. I tried targeting the DB server (C) instead. No go. I have now tried about 4 versions of Inspec and run from numerous locations targeting all of the machines and it never works. It's good to know that it can work but what is this telling us? Something wrong with Oracle? Queries work fine from

[2018-11-27 14:01] g1ps commented on #3594
I tried some more things. I tried testing a different DB on a stand-alone VM, connecting directly to that machine. That doesn't work either. WinRm is working. I can test other commands successfully.

I then tried working around this by running sqlplus:
[code]
results in
[code]
This should fail since the number is wrong but it doesn't retrieve anything.
The command runs just fine from sqlplus on th

[2018-11-27 17:33] aaronlippold commented on #1677
This also connects to updating how we add tests to the runner with --tags and --controls. In the end the updates that @jquick is working on with how we load things onto the running durning the execution should help both of these run much more efficiently.

[2018-11-27 19:31] vjeffrey opened #3634 "deprecated verify_host_key value"
### 🎛 Description

More of an annoyance than anything, I seem to be getting a `verify_host_key: false is deprecated, use :never` message on all inspec ssh runs these days.

### 🌍 InSpec and Platform Version

`3.0.52`

### 🤔 Replication Case

inspec detect or exec using ssh, and you'll see the error

[2018-11-27 22:51] miah commented on #3594
Can you try passing the full path to the sqlplus command in your command resource?

[2018-11-28 11:21] g1ps commented on #3594
I tried it. I also tried `sqlplus_bin` again with `oracledb_session`. It made not the slightest difference.

[2018-11-28 14:31] g1ps commented on #3608
I tried this again today on a RHEL master VM running 3.0.12 and it worked. This is the same machine I used previously. I have no idea what changed as I've juggled so many things chasing Inspec issues that I've lost track. I may have reverted and/or updated the version on this machine. I am running the test locally on the master. if I tell it run on an intermediate Windows machine with `-t`, it fai

[2018-11-28 16:30] g1ps commented on #3594
Just so that it's clear. Is the machine running Inspec expected to have sqlplus installed or does it connect to the target given in the test and run sqlplus there? What about the 3-machine chain I first mentioned. I assumed that Machine B should have sqlplus, and it does, but the master doesn't.

[2018-11-28 16:55] jerryaldrichiii commented on #3316
This would be great candidate for a DSL plugin once https://github.com/inspec/inspec/pull/3557 is merged.

[2018-11-28 17:20] jerryaldrichiii commented on #3614
Closing since https://github.com/inspec/train/pull/380 is merged.

[2018-11-28 17:20] #3614 closed, assigned to nobody