[2019-07-26 17:31] kekaichinose opened #4333 "Separate profile ingestion and reporting configurations"
### 🎛 Description

🙋 feature request?

In learning more about how the Effortless pattern works, it became apparent that the `compliance` block in config.json is not only not documented, but also is strictly used for communication between Chef InSpec and Chef Automate. This communication can be broken down into two parts: profile ingestion and reporting.

Being that we already have a way to target

[2019-07-26 17:54] kmf commented on #4299
I honestly think that it would be a great edition.

[2019-07-29 09:33] rmoles commented on #3433
This issue is still present when making use of `include_controls` or `skip_controls`. Stumbled upon this issue when attempting to verify remediation using the CIS rhel7 profile. I attempted to wrap the profile to only run one control... eg.
[code]

The issue also appears to be present when making use of `require_controls`

[2019-07-29 13:42] amih90 opened #4336 "build on ARM and x86-32bit"
I would like to run inspec inside raspberry with `ARM` architecture and also 32bit devices.
I haven't found any download source for those at https://downloads.chef.io/inspec, so I have tried to build inspec project with omnibus as suggested in the docs.

My device properties:
[code]

Following the README.md in /inspec/omnibus https://github.com/inspec/inspec/tree/master/omnibus
when I execute the

[2019-07-29 17:00] #3395 closed, assigned to jerryaldrichiii

[2019-07-29 17:33] clintoncwolfe commented on #4336
https://github.com/inspec/inspec#supported-os lists two tables of supported architectures and platforms. The first (larger) table lists the remote platforms supported - including several i386 platforms; so you can *scan* 32-bit targets.

The second table lists *runtime* environments - the environments on which you can build and run InSpec. While the architecture is not explicitly listed, this is a

[2019-07-29 17:42] clintoncwolfe commented on #3433
To reiterate what Jared mentioned a while back, we suspect InSpec executes all controls in a wrapped profile, and simply filters the result. If you wrap a profile with 1000 controls and include 1, it will run 1000 controls and report on 1. This is fundamental to the way InSpec operates; this may or may not be intended - as there may be a delayed block execution effect that is intended but failing

[2019-07-29 19:40] clintoncwolfe commented on #3297
Refs #4337

[2019-07-29 19:50] zopanix opened #4338 "I want to "forward" inputs from one profile to another."
**NOTE: This might be a feature request**

I'm trying to "forward" inputs from one parent profile to a child parent in multiple nested profiles to avoid input (and code) duplication.

## Detailed Description
I'm going to use azure as an example:
I have a profile to validate a `azurerm-resource-groups` and the fact it exists. It takes an input called `name` to find the resource-group and verify if

[2019-07-29 22:17] Mitriol opened #4340 "Docs/Readme should specify testing framework used for testing Inspec itself."
I just spent three hours banging my head against a wall trying to use rspec syntax instead of minitest. I had seen "include rspec" in helpers.rb, and assumed I should go ahead and contribute with rspec tests to accompany my pull request. Probably mostly my fault, but still, to have it documented somewhere would be nice!

## Possible Solution
Just document it somewhere I guess? Perhaps in the CONTR

[2019-07-29 22:30] kekaichinose commented on #4322
@btm I verified that Train 2.1.19 is in Rubygems now. Does this fix the issue here or does it pave the way for us to investigate further?

[2019-07-29 22:38] kekaichinose commented on #4061
Thank you for filing this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due to comp

[2019-07-29 22:38] #4061 closed, assigned to nobody

[2019-07-30 01:57] trevor-vaughan commented on #709
While digging into the `pam` resource, I think that a more primitive approach would be nice.

For example:
[code]

`contents` is a collection of `File` resources on the target system and, at that point, a `Find` or whatever you like can be implemented.

This would only really be useful for general directory delving but we don't have any idea what is on the remote system in terms of language suppor

[2019-07-30 11:00] #4336 closed, assigned to nobody

[2019-07-30 14:16] aaronlippold commented on #3797
I think what the general consensus is is that we would like to just order it at the other end. In other words, the ordering should come out of the reporter not the loader. I think that's completely fair and meets the spirit of what we want of accomplish but implemented in the correct place.

[2019-07-30 14:17] btm commented on #4322
@kekaichinose we were pending a successful build of InSpec to pull in that train build at the time. Half of this is fixed now, I just tested 4.8.5 from current.

This works as a workaround:
[code]

But `--enable-password cisco` still does not work. We need to fix that.

[2019-07-30 14:18] aaronlippold commented on #3797
Tests must be independent of each other in the compliance space. So implementing on this side leads us to possible bad habits.

[2019-07-30 15:46] bianxi commented on #3797
Don’t sort is really a lazy and bad habit. Depending on other applications to perform some basic functionalities is not something can be proud at all. It was the old dos way, same habit as creating table without primary key. Sorting doesn’t preventing others sort them again, we all understand.

[2019-07-30 15:55] bianxi commented on #3797
There is nothing can be real independent, same as the “depends” used in InSpec itself. Unpredictable is the problem bringing many issues during testing, in fact, creates unpredictable environment or system dependent test results.

[2019-07-30 16:13] steversmith opened #4342 "group and groups resource: members does not work when the group has multiple members"
### 🎛 Description

This is a 🐛 bug report

group and groups resource: members does not work when the group has multiple members

### 🌍 InSpec and Platform Version
Redhat Linux 6.6 running via the test kitchen:
inspec version: 3.9.3
kitchen version: 1.25.0
kitchen-inspec: 1.1.0

### 🤔 Replication Case

Using a simple cookbook recipe, I created a VM with two test groups:
test1 has one member, userA

[2019-07-30 17:58] #3904 closed, assigned to james-stocks

[2019-07-30 18:37] #1237 closed, assigned to clintoncwolfe

[2019-07-30 18:59] mjingle opened #4344 "Update InSpec website to reflect correct links for Legal section"
## Detailed Description

inspec.io currently features a footer with several links regarding legal aspects. Content for these legal aspects are currently hosted on the inspec.io website rather than linked to the chef.io content.

## Context

By fixing this issue, the InSpec website will no longer have multiple sources of truth for licensing, terms and conditions, etc. because it will be linking bac

[2019-07-30 23:44] #4344 closed, assigned to kekaichinose

[2019-07-31 02:41] galenemery opened #4349 "Identify which resources may reach out to the network to complete"
## Detailed Description
Some InSpec resources have the ability to reach outside of the local system in their effort to check state.

An example would be `curl` absolutely can reach out of the local system to hit an external endpoint.

Other examples, primarily on the windows side are WMI queries.  Either run via powershell, or the `WMI` InSpec resource.

Controls using these resources can have an

[2019-07-31 02:50] galenemery commented on #1675
In light of recent issues with controls taking a long time to complete, I'd like to revisit this issue as a broader implementation/discussion of how to handle a control that is taking too long.

The issue is not limited solely to the command resource.  We recently experienced this with WMI queries run through powershell.

@kekaichinose

[2019-07-31 02:59] galenemery opened #4350 "Increase Testing: Large data sets for users/groups"
## Detailed Description
We do not currently have any testing of InSpec's performance when working against large data sets.  This issue is problematic when dealing with a large control set (for instance a CIS profile) and a large data set (a large Active Directory domain)

A way to mock large data sets, for items that are likely to have them in the enterprise would be useful to ensure changes to pr

[2019-07-31 03:36] zedtux commented on #1237
@clintoncwolfe can you please briefly explain how #4217 can be used in order to use multiple profiles?

[2019-07-31 16:41] kekaichinose commented on #4290
@russellseymour just wanted to track that we slacked on status, and you'll look to get to this by EOW. We want to make sure our issues don't age out too much so appreciate your help here, sir.

[2019-08-01 00:28] zenspider opened #4353 "BuildKite runs as root"
We definitely should NOT be running as root on our CI.

This issue should probably roll up for all of our BK infrastructure.

[2019-08-01 17:02] g1ps opened #4354 "Unable to override inputs in dependent profiles"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request? Don't know.

We are unable to override inputs in a dependent profile. Both parent and child profiles use
[code]
to read inputs from a file in the local `files` directory. None of the methods described in the docs work i.e. declaring inputs in inspec.yml metadata (yes, we specified the child profile's name as req'd for

[2019-08-01 18:55] clintoncwolfe commented on #1237
This is the example pasted from #4217:
[code]

This would fetch the same repo, and pluck out two profiles from two different paths.

I'm not sure if it fetches the same repo once or twice in this scenario; we could probably optimize that. If that performance aspect is a problem, let's open an issue and we can see about improving caching.

[2019-08-01 19:02] clintoncwolfe commented on #4354
Hi @g1ps, I'd like to help, but I'm unclear what you're reporting - you're asking for a behavior change on *inputs*, but your example posted is about the `yaml` resource and the profile file reader facility, neither of which are related to inputs. Note also that the profile files facility does not use inheritance (#3030) - so yes, a profile file in a child profile will always have that content. It

[2019-08-01 20:31] clintoncwolfe commented on #4350
This is a great writeup - thanks!

[2019-08-01 20:38] clintoncwolfe commented on #4349
refs #3297 for general airgap support

[2019-08-01 20:40] #3949 closed, assigned to nobody

[2019-08-01 20:40] clintoncwolfe commented on #3949
Issue moved to [inspec/inspec-aws #119](https://github.com/inspec/inspec-aws/issues/119) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-01 20:46] clintoncwolfe commented on #3233
This is now covered by the Inputs documentation at https://www.inspec.io/docs/reference/inputs/

[2019-08-01 20:46] #3233 closed, assigned to nobody

[2019-08-02 04:52] zedtux commented on #1237
Thank you @clintoncwolfe. Is there a CLI option to do the same?

[2019-08-02 10:23] g1ps commented on #4354
I'm lost as to what you could fail to understand. At no point did I ask for any change. I haven't posted anything vaguely resembling a workaround. Where did you get that from? The docs clearly show inputs used in profiles and discuss the inheritance rules. We haven't used `input` statements, I don't think they were around when the profile was written, we used the yaml import statements shown above

[2019-08-02 16:57] clintoncwolfe opened #4356 "`inspec habitat profile create` error or poor usage docs"
# Describe the problem

I was trying to understand `inspec habitat profile create`, but from the usage info I can't figure out how to use it. Several invocations result in an opaque error; enabling debugging doesn't help much.

It's unclear:
 1. Which should be run first - `setup` or `create`?
 2. Does `create` operate on an existing profile? An existing empty dir? From the trace, it appears to be

[2019-08-02 19:49] kekaichinose opened #4357 "Add InSpec to Cloud Native Landscape"
### 🎛 Description

🙋 feature request?

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

Per a slack chat with a fellow chef, found that we are not listed in the Cloud Native Landscape project:
https://landscape.cncf.io

We should look at getting ourselves added onto that as a mark

[2019-08-05 19:14] clintoncwolfe commented on #3822
Yes!

[2019-08-05 19:14] #3822 closed, assigned to nobody

[2019-08-05 19:37] zenspider commented on #4357
@kekaichinose you probably need to move this to zendesk / aha?

[2019-08-05 19:47] zenspider commented on #4350
@aaronlippold suggests another example of s3 buckets

[2019-08-05 19:53] zenspider commented on #4333
@kekaichinose Please break this up to 3+ issues.

[2019-08-05 19:57] miah opened #4362 "Sync labels across all InSpec Org repositories"

[2019-08-05 20:37] clintoncwolfe commented on #4354
Please keep in mind I'm on your side; I want to see you successful in your use of InSpec.

I think you may have some confusion among three separate concepts, which are unrelated.

* [InSpec Inputs](https://www.inspec.io/docs/reference/inputs) are a feature which allow you to read in data from a variety of sources, including profile metadata, special plugins, or -confusingly in this case - datafile

[2019-08-06 16:24] kekaichinose commented on #3966
How much of this have we gotten fixed? I feel like we've already taken care of a couple of these...

[2019-08-06 20:41] clintoncwolfe opened #4364 "Test harness for scalability testing"
## Detailed Description

We don't have a test setup for scalability testing. This would need
infra setup and teardown, metrics, and run-over-run reporting.

## Context

## Possible Implementation

[2019-08-06 20:42] clintoncwolfe commented on #4364
Refs #4350

[2019-08-06 20:42] miah commented on #4364
We want to know if we are DoS'ing the service as we're testing.

We want to have an idea about how much data we're sending over the network.
We want to have an idea about how the host we're testing against is performing.

[2019-08-07 09:55] g1ps commented on #4354
Hi,

Sorry, I didn't believe otherwise. :-)

OK, part of what you descibed I have since discovered. I've refactored so that the base profile uses inputs in the metadata and overrides now work as expected.  I suspected that our way of importing the config. file was the problem and indeed it was. I was only ever talking about the first meaning, too, so I'm still not quite sure what you're driving at

[2019-08-07 09:55] #4354 closed, assigned to nobody

[2019-08-07 10:38] russellseymour commented on #4290
Hello, my apologies for not getting back to you sooner about this.

I have done some testing and I think the problem is related to the verifier for Test Kitchen.

As before I have the following test in my suite:

[code]

When I run `kitchen verify` it fails with the error:

[code]

As @clintoncwolfe was able to get a similar setup working, I decided to login into the machine (using `kitchen login`

[2019-08-07 11:19] russellseymour commented on #4290
I saw that there are two newer versions of `kitchen-inspec` on the GH release page for the repo.

I thought I would try a newer version in case that fixed the issue above, however it appears that versions 1.1.1 and 1.2.0 have not been publied to RubyGems. Only version 1.1.0 is available there.

[2019-08-07 15:11] kmf opened #4368 "Stack Profile Templates"
I have a dream,
it would be cool to have a way to generate a profile based on template( or templating language) for a stack

`inspec init profile profile_name -t template_name`

`inpec init profile my_lamp_stack -t lamp`

Our `lamp` template
[code]

our `profile.rb`

[code]

Aha! Link: https://chef.aha.io/features/SH-2147

[2019-08-07 16:39] kekaichinose commented on #3760
@james-stocks not sure if it'll help, but with the upcoming waivers feature we're working on, waiving a control would by default still evaluate the control so that a user could track their actual result. Additionally though, we'd be looking to add something like a `skip_run` switch to indicate if the control should actually be skipped, meaning not evaluated.

Would that solve the use case here?

[2019-08-07 20:29] #4327 closed, assigned to zenspider

[2019-08-07 22:27] zenspider opened #4371 "serverspec migration docs needs to be updated"
https://www.inspec.io/docs/reference/migration/

this lists the resources not available in serverspec and is clearly out of date (we're up to about 100 resources)

Aha! Link: https://chef.aha.io/features/SH-2175

[2019-08-08 07:50] james-stocks commented on #1535
Hi @kekaichinose -

Can we look at this one again please? Another customer has asked for this.
If it was an option for the `file` resource and the default behaviour of outputting the full content was left unchanged, that would be fine.

[2019-08-08 08:26] james-stocks commented on #3760
I think this is an issue as long as the docs and code for making a wrapper profile have the `skip_control` method.
Possibly a docs change would be sufficient to document that `skip_control` is a separate concept (control gathering/selection) to the skipping in control execution.

[2019-08-08 22:01] dmgasper opened #4377 "Add resource to test Postfix SMTP server configuration"
## Detailed Description
Current Inspec implementation provides the INI resource as an easy way to test the content of configuration files, but each test only applies to a single file. It would be useful to have a single resource through which one can test the content of all of Postfix's configuration files, and one that is optimized for parsing those files (such as the table format of master.cf)

[2019-08-09 23:52] zenspider commented on #1218
I'm guessing this has been done in the last couple weeks... @miah? Is there anything else to this that wasn't covered by the recent members/AD snafu?

[2019-08-09 23:54] zenspider commented on #4167
I think this is done for buildkite... so probably closable?

[2019-08-09 23:56] zenspider commented on #4168
This is entirely fixed _except_ for windows CLIXML output on windows and the gem installer output. Both (I think) have their own tickets... either way, it's much much better now.

[2019-08-09 23:58] zenspider commented on #4166
I think this is a systemic problem both in rspec and in inspec. I've since removed all of the parallelization from the tests to fix this and bring us stability. That sucks as our test times went up to ~30 minutes initially (I've gotten it down to ~10).

We could also change our design to be more thread safe. But I don't know if this is something we actually want to do.

[2019-08-10 00:05] zenspider commented on #4309
Done!

[2019-08-10 00:05] #4309 closed, assigned to zenspider

[2019-08-10 00:07] #4168 closed, assigned to zenspider

[2019-08-10 00:09] zenspider commented on #4092
I believe I've fixed this.

[2019-08-10 00:09] #4092 closed, assigned to zenspider

[2019-08-10 00:11] zenspider commented on #4094
Not sure if we can really fix this. What I'd _prefer_ is to not actually install anything. Use VCR or something? Otherwise, grab the output IO and swallow it.

[2019-08-10 00:13] zenspider commented on #4093
I believe this one is fixed? At least, I'm not seeing much of any output. Is there a repro @miah?

[2019-08-10 00:14] zenspider commented on #4090
I think these have all been squashed via chefstyle!

[2019-08-10 00:14] #4090 closed, assigned to zenspider

[2019-08-11 19:17] mhackethal opened #4382 "InSpec fails if password starts with $ or contains > ( General quotation BUG on Password option )"
Inspec execution fails if the password starts with a $.
Verified on version 3.6.6-1
Verified on version 4.11.3

# Describe the problem
Running InSpec 4.11.3 on Windows 2016
Target System Linux Ubuntu 16.04
I receive the login password from CyberARK AIM provider and i have no chance to manually change it. The password is radomly generated.
Within the last days i started to "inspec" our linux infras

[2019-08-11 19:25] mhackethal opened #4383 "InSpec prompt for interactive password on bad password (SSH)"
InSpec Version 4.11.3
Source on WIndows 2016
Target Linux by using SSH with Username+Password

# Describe the problem

InSpec runs into an interactive password prompt if a wrong password for linux target is submitted. This causes any automated execution to break. The expected behaviour is that
inspec exit with error and message "Wrong Password". Compareable to the error message
on winRM wrong pass

[2019-08-12 11:52] donvipre opened #4384 "inspec detect ignores --sudo parameter"
The inspec detect -t ssh://user@somehost does not properly run detect commands with "sudo" when using the parameter "--sudo"

# inspec detect does not respect "--sudo" parameter

target host shell needs sudo as prefix to any command issued on that host.
starting
[code]
target host is SUSE SLES 12 SP2 LTSS and when doing this as root user it properly detects as such. However it is required that ins

[2019-08-12 19:13] miah opened #4385 "User Survey"
As a InSpec Developer I would like to perform a user survey to gather more details until Telemetry has been developed and deployed.

[2019-08-12 19:15] zenspider commented on #4385
👍

[2019-08-12 19:16] zenspider commented on #4385
@kekaichinose I think we should push on this hard. Probably Q3. This would be much faster than waiting for telemetry.

[2019-08-13 13:38] da3210 commented on #4319
``
Here the code that I use to fix this issue. Also, there is another improvement when the default instance (MSSQLSERVER) was inserted as a parameter
[mssql_session.zip](https://github.com/inspec/inspec/files/3497145/mssql_session.zip)

[2019-08-13 18:09] kekaichinose commented on #4357
@zenspider good point. I just moved this to Aha. I'll close it out from github

[2019-08-13 18:09] #4357 closed, assigned to nobody

[2019-08-13 20:09] kekaichinose commented on #1781
@zedtux any follow-up here? Didn't see your PR for this yet.

[2019-08-14 04:32] zedtux commented on #1781
Thank you @kekaichinose for your follow-up.

I have started yet, but it is still planed I'm doing it.
I'll be in holidays for 3 weeks starting by tomorrow 🌴 so there will be some delay on that, but I'm sure that's not a big deal, the issue has been opened in 2017, releasing this in the next 2 months should be fine.

Feel free to continue the follow-up 👍

[2019-08-14 07:56] mhackethal commented on #4382
It looks like a general quotation problem of submitted passwords. Either InSpec or Train is not able to quote the password as once. This is very annoying error.

[2019-08-14 12:45] aaronlippold commented on #4382
I am running this as well. If you wrap the password in single tics I
believe you should be able to continue :-)

On Wed, Aug 14, 2019, 3:56 AM mhackethal <notifications@github.com> wrote:

[2019-08-14 15:30] mhackethal commented on #4382
i tried single and double tics but both was throwing an error for me. As updated the initial thread for me it work if i used both '"$password<>asdasd"'. The inspec.bat causes this issue for me.

[2019-08-14 19:52] zopanix commented on #3010
Hey, I don't know if it is better to create a separate issue or maybe another issue already exists. But it would be great to be able to inspec multiple target types with a single profile.

For example, If I deploy an AKS cluster on Azure and validating it with inspec-azure and at the same time being able to validate what is deployed on that AKS cluster using inspec-kubernetes. All inside the same

[2019-08-14 23:07] zenspider commented on #4221
Fixed a while ago. Partially by changing the test and partially by setting the perms in git, iirc.

[2019-08-14 23:07] #4221 closed, assigned to zenspider

[2019-08-14 23:55] kekaichinose commented on #4385
Maybe crib some stuff from Chef Infra's survey: https://www.surveymonkey.com/r/TP8JB72

[2019-08-15 08:22] james-stocks commented on #4350
I think we should have this testing run both against InSpec and against our shipped compliance profiles. It needs to run against InSpec for assurances w.r.t train and core resources; and it needs to run again for compliance profiles for assurances w.r.t the specific commands that compliance authorities like CIS dictate we should run.

[2019-08-15 09:01] james-stocks commented on #4350
The issue description is quite focused on Active Directory - is the goal that we have a Windows test setup with a populated Active Directory; and a Linux test setup with a populated LDAP server (e.g. OpenLDAP)?

Another aspect that causes performance issues is network drives. However, I'm not aware of any InSpec issues relating to this; I _think_ the issues arise from the commands that benchmarks

[2019-08-15 10:30] dalee-bis opened #4392 "MssqlSession.query is not escaping double quote correctly"
# Describe the problem

When `MssqlSession.query` is escaping the `"` character, it is doing so by prefixing it with a backslash (e.g. `\"`). This does not escape the quote character. It should be escaped by adding an additional double quote character (e.g. `""`).

Unfortunately, due to the current implementation, it is impossible to work around the issue (any use of `"` will add a backslash befor

[2019-08-15 19:20] clintoncwolfe commented on #4290
FYI we have published kitchen-inspec 1.2.0 (which has inputs support) to rubygems. HOWEVER, continue to use `attributes` for now, as inspec itself does not support inputs, until #3856 is resolved.

[2019-08-15 23:43] zenspider opened #4394 "inspec is unusably slow on windows"
even just something as simple as `inspec --version` is too slow

And don't call this tech debt... this is basic usability. An increasing number of our clients are enterprise groups on windows clients.

Aha! Link: https://chef.aha.io/features/SH-2290

[2019-08-16 07:22] alexpop opened #4395 "Incomplete control code blocks for wrapper profiles"
Control code blocks are incomplete for controls updated via wrapper profiles. Applies to `inspec exec` and `inspec json` outputs.

# * inspec exec issue

## Describe the problem

Let's use the following `wrapper-example` profile which vendors and wraps the `ssl-baseline` profile:
[wrapper-example-1.0.1.tar.gz](https://github.com/inspec/inspec/files/3508318/wrapper-example-1.0.1.tar.gz)

with the f

[2019-08-16 10:55] djcoder100 opened #4396 "Support ability to inspect GCS bucket labels so can assert upon them"
## Detailed Description
As a secops user I would like to check for GCS label values and perform inspection tests on this in my cicd pipeline and report on any exceptions.

## Context
As secops developer need to check that GCP GCS bucket labels conform to any policies that are set by risk and control functions of an organisation to ensure lables are set on buckets and contents for the Google Cloud

[2019-08-17 19:09] miah commented on #4396
Hi, All of the GCP resources are in the inspec-gcp resource pack which can be found here: https://github.com/inspec/inspec-gcp

[2019-08-17 19:09] #4396 closed, assigned to nobody

[2019-08-17 19:11] miah commented on #4371
I dont think we've tried to maintain compatibility with serverspec for some time. I wonder if we should do away with this entire section of the site.

[2019-08-19 08:53] apr-1985 opened #4397 "Inspec not correctly determining service state on amazonlinux 1 (centos 6)"
Inspec doesn't report the correct running state of init.d or upstart services on amazonlinux 1

# Describe the problem
I am trying to check the state of services on AmazonLinux1 and it isn't detecting correctly.
I am to checking `chronyd` running in init.d and `amazon-ssm-agent` in upstart

Inspec version: 4.12.0

## Inspec control
[code]
## Output of run
[code]

## Bash from the box itself
[code]

[2019-08-19 09:43] apr-1985 commented on #4397
Providing the --sudo arg when running the exec command resolved this

[2019-08-19 09:43] #4397 closed, assigned to nobody

[2019-08-19 18:18] clintoncwolfe commented on #4350
I think there would be a test epic, with some components along these lines...
1. Select a test results recordkeeping system - some SaaS or similar, ideally in the perf/scalability testing space. Are we improving over time? Did a new version just kill performance on one performance metric while improving another?
2. Identify metrics. Are we interested in lower level things (CPU saturation?), and/or

[2019-08-19 18:20] clintoncwolfe commented on #4350
(but to be clear, I want an MVP that stands up an AD server and clobbers it, first, without the test support infra first)

[2019-08-19 19:37] zenspider commented on #1434
I stongly disagree with this ticket. `cmp` is a convenience matcher to help when the user is testing against cmdline output, iow, textual output. That's why it will auto-convert between strings and numbers, for example. It should not go much past that functionality. Converting between higher level types means it is impossible to distinguish between those higher level types.

I'm happy to discuss t

[2019-08-19 19:37] #1434 closed, assigned to nobody

[2019-08-19 19:44] zenspider commented on #4392
This is also true of oracledb_session.rb and probably others. We should do a sweep of all the db oriented resources.

[2019-08-19 19:45] #4383 closed, assigned to nobody

[2019-08-19 19:45] clintoncwolfe commented on #4383
Issue moved to [inspec/train #510](https://github.com/inspec/train/issues/510) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-19 19:48] clintoncwolfe commented on #4377
Merged on #4378

[2019-08-19 19:48] #4377 closed, assigned to nobody

[2019-08-19 21:24] aaronlippold commented on #4392
https://github.com/inspec/inspec/pull/1939

[2019-08-19 21:39] zenspider commented on #4249
Status update: I'm at ~50% fixed on #4390.

[2019-08-19 21:46] zenspider commented on #4181
I think it is now down to:

[code]

but I'm not sure how to diagnose how/when/where these come up since they're just output and I'm no powershell wiz.

[2019-08-19 22:48] zenspider opened #4399 "Add a test for #4393"
https://github.com/inspec/inspec/pull/4393#pullrequestreview-276853079

Aha! Link: https://chef.aha.io/features/SH-351

[2019-08-20 00:46] ejaronne commented on #4229
To clarify, when reporters are used, especially json, the request is to remove or obscure the <sensitive_info> from the output. Remove is preferred.

[2019-08-20 01:14] luckylittle commented on #534
+1

[2019-08-20 10:42] james-stocks commented on #3585
I've come across this again when checking a profile that needs InSpec 4 with InSpec 3.
The check fails because gems present only in InSpec 4 are missing.
Ideally the check should look at the required InSpec version and exit immediately. A custom exit code would be nice so that CI can support this as being an acceptable case.

[2019-08-20 19:02] clintoncwolfe opened #4402 "Refactor input-binding code in InputRegistry"
# Describe the problem
The code that lives in `lib/inspec/input_registry.rb`, in `bind_profile_inputs`, each deals with a class of input provider that should be pushed out to be a plugin. Right now it is several cleanly divided methods, which isn't awful, but it keeps growing.

Refs #4401 #3802

## Possible Solution
Make a one or more core input plugins and feed them the data.

[2019-08-20 20:08] svangeti opened #4403 "Add support for Azure PostGreSQL server/DB test"
## Detailed Description
There is no support for Azure Postgres server/databases testing.

## Context
We are currently planning to use InSpec for our Azure Infra testing

## Possible Implementation
If it uses terraform, we can use terraform provider
azurerm_postgresql_server
azurerm_postgresql_database

[2019-08-20 20:27] danielcbright opened #4404 "Docs Update Request - inspec/docs/reporters.md - invalid json"
# Describe the problem
The JSON block in `inspec/docs/reporters.md` for the Automate reporter is missing it's opening and closing `{ }`. Creating this issue and I'll put in a PR to fix that soon.

## Possible Solution
Just need to update the doc.

[2019-08-20 22:03] clintoncwolfe opened #4405 "Update Config system to use JSON Schema validator"
# Describe the problem
The lib/inspec/config file does a lot of conditional validation, and now supports three versions of the "schema" - it will soon become unwieldy. At some point we need to bite the bullet and make it actually use a JSON schema validator.

## Possible Solution

[2019-08-21 10:20] zenspider opened #4407 "let not available inside of control"
As it stands, we've documented `subject` as being available, but as I was working on #4372 I noticed that `let` isn't defined inside of `control` scopes. I don't know _how_ `subject` can be available if `let` isn't... but it'd be a bug afaict.

Aha! Link: https://chef.aha.io/features/SH-2276

[2019-08-21 12:26] #4403 closed, assigned to nobody

[2019-08-21 12:26] clintoncwolfe commented on #4403
Issue moved to [inspec/inspec-azure #195](https://github.com/inspec/inspec-azure/issues/195) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-21 12:28] clintoncwolfe commented on #3585
refs #3549

[2019-08-21 12:39] clintoncwolfe commented on #4382
Let me paraphrase, to make sure I am understanding:
"In the installed version of InSpec from an MSI, the inspec.bat file executes inspec. It passes all CLI arguments by re-interpolating using %. This is problematic in some cases, because if any of the CLI args contain shell-sensitive characters, they will suddenly be exposed again to the shell."

I'm still tracking down where we generate the .bat

[2019-08-21 14:40] russellseymour commented on #4290
I have just performed the above tests again using `kitchen-inspec` version 1.2.0 and the problemstill exists. My tests for NPM modules installed in a directory fail when using `kitchen-inspec`.

[2019-08-22 00:30] kekaichinose opened #4408 "Waiver (Epic)"
__PROBLEM STATEMENT:__

As a customer of InSpec, I want to be able to waive controls in profiles so that I can maintain my compliance posture at the speed of my business.

This is the first step towards waiver support in Chef InSpec. This work covers being able to ingest waivers for a set of controls, processing it during an`inspec exec` run, and outputting the results in the reporter.

__CUSTOMER

[2019-08-22 00:56] kekaichinose opened #4409 "Waivers Step 1: Input File & CLI"
This is part of epic #4408.

### User Story
As an Operator, I need to have a way to define and read in waivers so I can apply them to my profiles when doing an inspec run.

### Acceptance Criteria
* define a file format (e.g. toml, yaml, etc) to store waiver configurations
  * a waiver is applied at the control level
  * a waiver entry will contain the following data
    * __Control ID_Name__ - th

[2019-08-22 19:04] zenspider opened #4410 "inspec exec -h needs some love"
[code]

  Supermarket: ``` inspec exec supermarket://username/linux-baseline ```

  Local profile (executes all tests in `controls/`): ``` inspec exec
  /path/to/profile ```

  Local single test (doesn't allow inputs or custom resources) ``` inspec exec
  /path/to/a_test.rb ```

  Git via SSH ``` inspec exec git@github.com:dev-sec/linux-baseline.git ```

  Git via HTTPS (.git suffix is required):

[2019-08-22 19:11] zenspider commented on #4410
This looks terrible because the help output is using code fencing (improperly) and github is interpreting it. Using 4 spaces to denote a code block doesn't help either, as they then interpret into code fencing and mess it up.

[2019-08-22 19:23] binamov commented on #4396
Technically this should already be doable, it's just labels are not documented as a supported property /cc @skpaterson
@djcoder100 as discussed offline, you can create an issue on the inspec-gcp repo so we can adopt the resource into magic modules workflows

[2019-08-22 20:30] clintoncwolfe commented on #4409
[code]
Controls have both an ID and a title - which value will be available in this field? I recommend ID.

[2019-08-23 15:14] clintoncwolfe opened #4412 "Convert functional tests for --input to unit tests"
## Detailed Description

Per [review comments](https://github.com/inspec/inspec/pull/4401/files#r316417141), the `--input` CLI input feature is currently tested using full functional testing in test/functional/inputs_test.rb .

It would increase test performance to keep it within a unit test process, and only verify that the values were read into the input registry.

## Context

## Possible Implem

[2019-08-23 23:12] zenspider opened #4413 "Get clear on Strings and Symbols, remove nearly all to_s vs to_sym calls"
As it stands, we have waaay too many calls to `to_s` and `to_sym`:

[code]

We need to get clear on what a String is and why, and what a Symbol is and why, and when you want to use one versus the other.

Aha! Link: https://chef.aha.io/features/SH-350

[2019-08-23 23:35] kekaichinose commented on #1781
@zedtux I'm still working on cleaning up our issues, and want to make sure everything stays up to date. I'm going to go ahead and close this issue, but once you have a PR submitted, we can reopen it and attach it to the PR.

Have a great holiday! 🌴

[2019-08-23 23:35] #1781 closed, assigned to nobody

[2019-08-23 23:48] kekaichinose opened #4414 "Waivers Step 2: Handle waivers during runtime"
This is part of epic #4408.

### User Story
As an Operator, I need a waiver to override the existing impact of a control and optionally skip execution altogether so that I can mitigate new compliance standards

### Acceptance Criteria
* ingested waiver information modifies control list
* modified control list runs
  * and waived controls carry a 0 impact score
  * and waived controls that are conf

[2019-08-23 23:59] kekaichinose opened #4415 "Include Waivers in reports"
### User Story
As an Operator, I want to report the status of waived controls so my stakeholders so that I can provide an accurate assessment of my compliance posture.

### Acceptance Criteria
* Control status reporting is updated
  * waiver state is included
  * and if a control is waived, its body of data is included
    * __Control ID_Name__ - the ID and Title of the control to be waived
    *

[2019-08-24 00:13] kekaichinose commented on #3017
Unless anyone else thinks otherwise, I'm going to close out this issue in-lieu of #4408, which is the epic set to handle implementation of the waiver mechanism.

In short, control status should be dependent on waiver state. If a control is waived, its impact should be 0, as previous contributors mentioned. The control's status is still valid, but dependent on the "skip switch" optional configurati

[2019-08-24 00:13] #3017 closed, assigned to nobody

[2019-08-24 00:56] aaronlippold commented on #3017
We have to remember that in compliance skipped is a different concept than
not applicable.

Which is what you mean when you say waived a.k.a not applicable.

This doesn't have anything to do with the result of the control but rather
if the control is part of the final evaluation. The tests should always be
run and if they are applicable then they either are passed or failed. if
they are not applic

[2019-08-24 00:58] aaronlippold commented on #4408
We have to remember that in compliance skipped is a different concept than not applicable.

Which is what you mean when you say waived a.k.a not applicable.

This doesn't have anything to do with the result of the control but rather if the control is part of the final evaluation. The tests should always be run and if they are applicable then they either are passed or failed. if they are not applic

[2019-08-24 11:07] zedtux commented on #1781
I don't really understand how is this better as you're hiding request IMHO ... but as you wish 🤷‍♂

[2019-08-24 21:19] Wraiith32 commented on #4394
I agree.  We are a Windows shop and this is painful.

[2019-08-25 18:31] galenemery commented on #4408
(please excuse typos, i am typing one handed due to injury here)

I think for the purposes of this discussion, on how Chef InSpec treats controls that are some other state than expected to pass and report; we need to be very clear on our language and not confuse it with capital C Compliance language.  We may use the word waiver here, I don't think its valuable (yet) to argue that other places use

[2019-08-26 08:57] mhackethal commented on #4382
Thats it. But during my testing i am not sure it is really related to "inspec" itself. It looks more like a strange behaviour how windows parses attributes on command line. Batch vs.  Powershell.
The "inspec.bat" is located in
`C:\opscode\inspec\bin`

it calls the ruby inspec part.
[code]

[2019-08-26 17:10] clintoncwolfe opened #4416 "Functional test helper `inspec` method needs a refactor"
The `inspec` method, used to open a subprocess to run a functional test, does a lot of work in terms of massing the command line, setting up the environment, and processing output. A lot of assumptions are made, which are not always applicable and have let to some duplications - such as the creation of the more parameterized `run_inspec_process`.

In the functional tests for inputs, we need to be

[2019-08-26 18:07] miah commented on #4290
@russellseymour could you please provide the failing test? feel free to ping me on slack. I'd like to get the failing test into our test harness then we can work on resolution.

[2019-08-26 18:49] clintoncwolfe commented on #3882
#4243 is a duplicate, closing this

[2019-08-26 18:49] #3882 closed, assigned to clintoncwolfe

[2019-08-26 19:20] clintoncwolfe commented on #4290
Specifically the two pieces we are missing in order to reproduce your setup:
 * a cookbook or whatever else you're using to to setup your test-kitchen image - without this, we're just guessing at what and how the npm stuff is installed
 * your .kitchen.yml file - without this, we don't know how InSpec is being called, and that is the crucial part of the bug here.

Thanks!

[2019-08-26 19:54] galenemery commented on #4409
I'm ➕ for ID

[2019-08-26 21:54] zenspider opened #4417 "Waivers Step 3: Extend JSON output to include waiver data"
This is part of epic #4408.

* Changes to output to add extra fields to indicate wavered controls
  * Just adds new fields

Step 3: reporting: we need to add the waiver data to the control, which implies that even if a control is skipped it still has some payload in the report output, the data added is whether this control was skipped, for how long (optionally) and why.

[2019-08-26 21:56] zenspider commented on #3760
This ties to #4408.

[2019-08-26 21:56] zenspider commented on #3845
This ties to #4408.

[2019-08-26 21:58] zenspider commented on #4409
+ Input doc
  + a cli option
  + need to pin down a format
    + Control id (name?)
    + Optional expiration date
    + Waiver reason blurb
    + Skip boolean (should this run and a failure does NOT affect the overall result vs should this just not run)
  + straightforward

Draft file format:

[code]

[2019-08-26 21:59] zenspider commented on #4414
* Some kind of internal overlay to enforce skips
  * We have our choice of existing functionality to (possibly) leverage
    * skip_control
    * only_if
    * skip (rspec outcome)

* skip_control suppresses controls from from output - but waivered controls must appear in output.
* We'd like to avoid creating a new way of altering behavior of profiles - we already have Inputs. So, for the front-en

[2019-08-26 22:00] zenspider commented on #4417
* Changes to output to add extra fields to indicate wavered controls
  * Just adds new fields

Step 3: reporting: we need to add the waiver data to the control, which implies that even if a control is skipped it still has some payload in the report output, the data added is whether this control was skipped, for how long (optionally) and why.

[2019-08-26 22:16] zenspider commented on #3017
@kekaichinose this ^^^ comment is out of scope for V0... but you might want to use "..." and "Reference in New Issue" if you think this is something we should pull up

[2019-08-26 22:17] zenspider commented on #4408
Both comments are hidden as "off topic", only because github doesn't have "out of scope" as a reason.

[2019-08-26 22:19] zenspider commented on #4414
See also: #3845

[2019-08-26 22:22] zenspider commented on #4415
Oops. This is step 3 and now a duplicate of #4417. Closing. (why isn't there merge?)

[2019-08-26 22:22] #4415 closed, assigned to nobody

[2019-08-26 22:22] zenspider commented on #4417
From #4415:

### User Story
As an Operator, I want to report the status of waived controls so my stakeholders so that I can provide an accurate assessment of my compliance posture.

### Acceptance Criteria
* Control status reporting is updated
  * waiver state is included
  * and if a control is waived, its body of data is included
    * __Control ID_Name__ - the ID and Title of the control to be

[2019-08-26 22:30] zenspider commented on #4048
Fixed by #4366

[2019-08-26 22:30] #4048 closed, assigned to zenspider

[2019-08-27 13:08] GavBurke commented on #4382
Hey, seems I'm having similar problem but with my password starting with a `-`, as follows:

[code]

[2019-08-27 13:29] GavBurke opened #4420 "Inspec cannot handle password starting with a -"
If the password for the winrm user starts with `-`, the inspec command fails thinking you haven't set a password

# Describe the problem
i.e. running the following
[code]

returns with the message `Please provide a value for --password. For example: --password=hello.`

[2019-08-27 15:13] mhackethal commented on #4420
Do you execute inspec from a powershell or cmd? If powershell try to use the following quotation `--password="'---secret---password'"  `

[2019-08-27 19:52] miah opened #4422 "Improving InSpec quality through continuous integration testing."
This is a EPIC to improve InSpec by continually testing with our various integrations. Much of this testing exists in full or in part, but has not been updated to work with Buildkite.

The descriptions are basic right now, as I create other issues I'll fill in the details.

This list is very ambitious and not in any specific order.

If anything is missing or should confusing please leave a comment

[2019-08-27 20:14] kekaichinose commented on #4290
@russellseymour could you please provide the missing pieces of info we need here, sir?

[2019-08-27 20:34] #3856 closed, assigned to clintoncwolfe

[2019-08-27 23:53] zenspider opened #4423 "Unstable tests"
[code]

This is causing sporadic failures on BK

[2019-08-28 00:02] miah opened #4424 "Support InSpec on Habitat for Windows"
## User Story
As an enterprise user of Chef InSpec, I need a Habitat package for Windows to get started with Chef's content easily and in a future-proofed manner using the Effortless Infrastructure deployment model.

## Acceptance Criteria
Habitat builds of Chef InSpec client are:

 - [x] built in parallel of the omnibus builds
 - [x] cause the whole pipeline to appropriately fail if they fail
 -

[2019-08-28 00:03] #3585 closed, assigned to clintoncwolfe

[2019-08-28 00:16] zenspider commented on #4423
Nope! Got it down further:

[code]

[2019-08-28 00:44] zenspider opened #4425 "Consider removing all "metadata" from control bodies"
This is a "from left field" suggestion... we have a fair amount of convoluted code to deal with `only_if` and friends such that a `control` block can evaluate its block, but to try to avoid all real work inside the block body... I suspect this is to allow things like `title`, `impact`, etc. to run and set their fields. That convoluted code could all be thrown out and replaced with MUCH more straig

[2019-08-28 07:53] GavBurke commented on #4420
Unfortunately neither, we run it with bash

[2019-08-28 08:06] james-stocks opened #4428 "`inspec check` should short-circuit when InSpec version is not supported"
#4419 gave us a new warning in `inspec check` for the case of the current version of InSpec not being compatible with the profile being checked.

To make use of this in CI, it'd be ideal for `inspec check` to exit immediately with a specific exit code; so the CI system has the option of considering the profile check to be acceptable and marking the build as successful.

We still have suggestion #3

[2019-08-28 12:25] Paul-Michaud commented on #3643
This happened to me with InSpec 4.12.0 on fedora 29 with this test :
[code]
It produces :
[code]

[2019-08-28 17:13] #4248 closed, assigned to clintoncwolfe

[2019-08-28 17:13] #4277 closed, assigned to clintoncwolfe

[2019-08-28 18:11] kekaichinose opened #4429 "Improve workflow communications of PRs"
**Problem Statement**
As a contributor to Chef InSpec, I want to know what to expect when I submit a PR to the project so I feel more connected with the InSpec team's efforts.

**Acceptance Criteria**
* PRs will provide messaging to contributor to thank them
* PRs will provide messaging to contributor on next steps

**Possible Solution**
Seems that expeditor has a welcome template for this that we

[2019-08-28 18:21] kekaichinose commented on #4333
@zenspider If I understand this rightly, the three issues we need to cut are:
* ensure profile ingestion from Automate works outside of `compliance` config block of inspec.yaml
* ensure reporting to Automate works outside of `compliance` config block of inspec.yaml
* create deprecation plan (and blog post) for `compliance` config block
  * will need to pitch this to Automate to see when they would

[2019-08-28 19:33] #4243 closed, assigned to nobody

[2019-08-28 19:41] #3300 closed, assigned to nobody

[2019-08-28 19:50] kekaichinose commented on #4333
BTW, @alexpop, @rickmarry, @vjeffrey wanted to give you a heads-up as a key stakeholder on this effort. Get you involved earlier rather than later :)

[2019-08-28 22:55] scalp42 commented on #3300
Thanks a lot @clintoncwolfe 🎉

[2019-08-28 23:16] vjeffrey commented on #4333
just taking a look at this i'm not clear on what the change being made is -- is this dropping the compliance block that is used for pulling profiles and replacing it with something else closer to the other profile pulling use patterns?  we have some code in Automate that uses the compliance config block: the remote jobs (https://github.com/chef/automate/blob/master/components/compliance-service/in

[2019-08-29 00:03] zenspider opened #4431 "detect_system_plugins requires bundler or inspec to be installed"
[code]

means that you _must_ use bundler or have the gem installed for that line to work, and that happens on immediate invocation (including just plain `--version`).

There needs to be a different way to figure out the dependencies for the gem than this... or it should be done in a way that will elegantly recover.

[2019-08-29 08:56] russellseymour commented on #4290
The cookbooks and tests are in GitHub at https://github.com/chef-partners/camsa-setup

Attributes file for the NPM packages that need to be installed - https://github.com/chef-partners/camsa-setup/blob/master/cookbooks/camsa/attributes/chefserver.rb

Recipe file that installs the packages - https://github.com/chef-partners/camsa-setup/blob/master/cookbooks/camsa/recipes/monitoring.rb#L71-L78

The

[2019-08-29 10:12] mhackethal opened #4432 "Resource user partly broken for windows"
The user resource executed on a windows target seems to be partly broken
because of wrong usage of cache inside resource user[s].

# Describe the problem

[code]
If i check the created json for local users the json provides the attribute (badpasswordattemps) as well as )mindays,maxdays,warndays and so on.
A inspec check of all these attributes is failing with error "undefined method".
Cross checki

[2019-08-29 18:02] #4429 closed, assigned to miah

[2019-08-29 20:51] kekaichinose commented on #1700
Thank you for filing this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due to comp

[2019-08-29 20:51] #1700 closed, assigned to nobody

[2019-08-29 20:57] kekaichinose commented on #1439
Thank you for tracking down this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due

[2019-08-29 20:57] #1439 closed, assigned to nobody

[2019-08-29 21:01] kekaichinose commented on #1535
@james-stocks Thanks for bringing this to our attention. I'll add this feature request to the backlog though as priorities dictate, it may be awhile till we get to this.

[2019-08-29 21:07] kekaichinose commented on #4270
The main parts of this work was done in the last month and a half. We are now in the long tail part of this effort with many tasks to be cut for it. We will therefore track future progress in the epic #4422

[2019-08-29 21:07] #4270 closed, assigned to miah

[2019-08-29 21:10] kekaichinose commented on #3724
As this is tied to epic #4422, moving this into backlog. Will prioritize at next backlog grooming meeting.

[2019-08-29 21:15] kekaichinose commented on #4362
@miah can you please provide a little more color here? Are you talking about a one-time, manual sync of the labels, or an automated mechanism to handle current and future label management across InSpec Org projects?

[2019-08-29 22:07] kekaichinose commented on #4368
@kmf would this be related to #821?

[2019-08-29 22:08] miah commented on #4417
Blocked until some design issues are cleared up in #4427

[2019-08-29 23:03] kekaichinose commented on #3083
@predatorian3 is this still an issue using the current version of InSpec?

[2019-08-29 23:07] kekaichinose commented on #854
Thank you for tracking down this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due

[2019-08-29 23:07] #854 closed, assigned to nobody

[2019-08-30 20:15] kekaichinose commented on #4167
fixed by #4348

[2019-08-30 20:15] #4167 closed, assigned to miah

[2019-08-30 20:25] kekaichinose commented on #4385
We'll be looking at getting this out on a fresh week, so next week 9/3. The channels we'll hit:
* #inspec, #general, and #announcements channels in respective Slack instances
* discourse feed
* twitter feed (@kekaichinose to find out more about that)

[2019-08-30 22:20] mhackethal commented on #3619
Just to provide an update. This behaviour still exists in Version 4.11.3

[2019-08-30 23:00] kekaichinose commented on #1886
Thank you for tracking down this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due

[2019-08-30 23:00] #1886 closed, assigned to nobody

[2019-08-30 23:12] kekaichinose commented on #2132
@james-stocks I'm going to move this into Backlog, but this will probably not get prioritized till at least Q4. Thanks for bringing this to our attention again though, sir.

[2019-08-30 23:23] kekaichinose commented on #2338
@clintoncwolfe I feel like this could probably implemented as an input plugin, at this point. What do you think?

[2019-08-31 13:23] mhackethal commented on #4174
I think that fits to my topic. #4432  . Lets link it.

[2019-08-31 13:26] mhackethal commented on #4117
@clintonwolf shall i Look into that. I think Last change was done by me ?

[2019-09-02 01:32] luckylittle commented on #3802
I use `inspec 4.16.0` and i've got this: `input('cis_level', value: 2)` in my controls, but it is complaining that: `WARN: Input 'cis_level' does not have a value. Use --input-file to provide a value for 'cis_level' or specify a value with attribute('cis_level', value: 'somevalue', ...)`. Which one should be used then? `input` or `attribute`?

[2019-09-02 16:28] megamorf commented on #4234
Looks like Faraday is nearing version [v1.0](https://github.com/lostisland/faraday/releases/tag/v1.0-rc1). It might be a good idea to check if there are any incompatibilities between InSpec and their upcoming release.

[2019-09-03 10:05] james-stocks commented on #1535
@kekaichinose thanks!
I think there might be 2 reasons that the diff output is undesirable: 1. it causes huge compliance reports that waste storage and [hit API limits](https://github.com/chef/automate/issues/1417)  and 2. it might contain sensitive or personally-identifying data.

[2019-09-03 14:22] kevin-j-smith opened #4438 "Custom Reporting and Resource message handling"
## Detailed Description
The output results coming from Inspec are, at times, not helpful.   For a pass you might see:
should cmp == 3.   But there is not much information around this.  Particularly, what command was ran for the resource and what output/command-result was returned from the target.  Therefore, we have leveraged describe/context/it(s) structure when more context is needed.   The outp

[2019-09-03 17:43] kekaichinose commented on #3594
@g1ps apologies for letting this issue run long, but this looks to be support-related. We use GitHub issues to track bugs and feature requests. If you need support help (i.e. with using Chef InSpec), we recommend that if you are a:

* Chef customer:
  * Please reach out to your Customer Success manager and they can assist you
* Chef community member:
  * Please post to our Mailing List or join the

[2019-09-03 17:43] #3594 closed, assigned to nobody

[2019-09-03 19:23] aaronlippold commented on #4438
In this case I would use subject and be very prescriptive about what I
wanted to result to report out irrespective to what was tested. if you'd
like some examples or for me to walk through how we're handling this
challenge please feel free to email me at lippold@gmail.com.

Or you can review some of my course material on GitHub.
https://mitre-inspec-developer.netlify.com/

https://mitre-inspec-adv

[2019-09-03 20:07] kekaichinose opened #4442 "Homebrew installer asks for password"
The install/uninstall workflow raises more questions than it answers.

1. Why does it say `Sorry, try again` despite (a) a valid password and (b) continuing
1. why does it ask for a password at all
1. why does a `brew` operation just download and run the DMG installer
1. why did a clean install install an outdated version

[code]

_Originally posted by @clebio in https://github.com/inspec/inspec/i

[2019-09-03 20:07] kekaichinose commented on #1338
@clebio moved this over to #4442

[2019-09-04 07:53] zenspider commented on #4181
More data... this only appears to happen when run indirectly (eg via ruby or rake):

[code]

[code]
[code]

[2019-09-04 14:07] FilBot3 opened #4444 "InSpec v4.16.0 doesn't seem to be loading the configuration properly"
# Describe the problem

Working with InSpec v4.16.0 on Ruby 2.5.1 on a MacOS 10.14.6, InSpec can only seem to work with one `credentials: { ssh: {}}` block or it just spits out the configuration file twice and says

[code]

I can use the following statement to load the same JSON with no issue proving that there is no extra `{` anywhere.

[code]

The full output

[code]

This only works if I have o

[2019-09-04 14:11] FilBot3 commented on #4444
nvm, malformed JSON that is being passed around.

[2019-09-04 14:11] #4444 closed, assigned to nobody

[2019-09-04 20:11] clintoncwolfe opened #4445 "Confusing warning message when input has no value"
# Describe the problem

As reported [here](https://github.com/inspec/inspec/issues/3802#issuecomment-526972910), if an input in the DSL does not have a value, the warning message can read:
[code]

Note that it uses the term `attribute(...)`, which is out of date.

## Possible Solution

[2019-09-04 20:13] clintoncwolfe commented on #3802
We'll address your issue on #4445 - thanks @luckylittle

[2019-09-04 20:17] clintoncwolfe commented on #4445
The correct language to use in the profile DSL is `input(...)` - though `attribute(...)` is supported for backwards compatibility. Thanks for letting us know about the messaging.

[2019-09-04 20:45] zenspider commented on #4135
This profile runs fine for me on master so the quick fix is to update inspec.

I'd be happy to bisect this to track down the first version it was fixed in if you want... Lemme know.

[2019-09-05 00:29] zenspider commented on #4438
I believe this is a duplicate of #3667. As such, closing.

[2019-09-05 00:29] #4438 closed, assigned to nobody

[2019-09-05 07:02] neidiom opened #4448 "Slow on MacOsc when installed as a gem"
Is this normal?

[code]

[code]

[2019-09-05 11:42] james-stocks commented on #4135
This is still an issue in 4.16.0 from Rubygems

The list of instructions I follow is:

[code]

The `vi` command is me pasting the example control from the issue description into the profile.

The output is:

[code]

The issue description might have been a bit too verbose about what does/doesn't work - I cut it down a bit to just reproduction steps for the failing case.

[2019-09-05 13:30] #4093 closed, assigned to zenspider, miah

[2019-09-05 19:03] clintoncwolfe commented on #4448
I have, via fresh DMG install from downloads.chef.io:
[code]

Not sprightly, but nothing like what you're seeing.

[2019-09-05 20:07] neidiom commented on #4448
[code]

[2019-09-05 20:11] neidiom commented on #4448
I have installed the embedded version and it is faster

[code]

[code]

[2019-09-05 20:12] neidiom commented on #4448
Any idea why it is much slower when inspec is installed as a gem?

[2019-09-05 20:22] zenspider commented on #4135
You are absolutely right. I now have a repro. Thank you for pushing back.

[2019-09-05 20:45] zenspider opened #4450 "Can't debug with pry in some areas"
After putting pry in lib/fetchers/local.rb at the top of `fetch`:

[code]

[2019-09-06 07:49] zenspider commented on #4135
I have a fix going through CI right now...

[2019-09-06 16:36] z0rc opened #4453 "Allow specyfying CloudWatch Alarms via ARN/name or add support of dimensions to search query"
## Detailed Description
Right now aws_cloudwatch_alarm allows to search for alarms by specifying metric name and namespace (https://github.com/inspec/inspec/blob/master/lib/resources/aws/aws_cloudwatch_alarm.rb#L29). In my case this is too broad criteria, which will allays return many alarms. Ideally `metric_dimensions` should be added to this list as only they can help to pinpoint specific alarm.

[2019-09-06 18:47] clintoncwolfe commented on #4453
Issue moved to [inspec/inspec-aws #128](https://github.com/inspec/inspec-aws/issues/128) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-06 18:47] #4453 closed, assigned to nobody

[2019-09-06 21:22] clintoncwolfe commented on #4290
Hey @russellseymour - just wanted to let you know this is being actively worked. Thanks for all the materials - I don't think I can reproduce your whole setup (Azure + Automate + ChefServer + CAMSA), but from the excellent set of things you provided, I can see that it boils down to a Chef install of NPM packages (from a custom resource included with the nodejs cookbook), with a custom path that is

[2019-09-06 22:17] clintoncwolfe commented on #4290
OK, my minimal test case is at https://github.com/clintoncwolfe/npm-inspec-repro . Unfortunately, I didn't find anything - after I managed to get it to converge, it did indeed pass the inspec tests. So, at this point we're still at a a "no repro" status.

This was under test-kitchen 2.3.2, inspec 4.16.0, and kitchen-inspec 1.2.0 . It is conceivable that we may have simply fixed it, but I don't thi

[2019-09-07 19:54] mhackethal opened #4454 "Guidelines for writing tests"
I am missing some documentation of what Kind of documentation is required.
How to update / improve the unit testing?
How to pass the testing and supporting the mock Features.
Which files should be updated for testing and documentation.

Its a pain to go through all These files and "assume" what to Change.

I would love to see a short summary that helps everyone who want to support this Project.
A

[2019-09-09 15:15] clintoncwolfe commented on #4431
Can you describe circumstances at runtime under which inspec would not be installed?

[2019-09-09 15:54] russellseymour commented on #4290
@clintoncwolfe  Thanks for this

I will take a look at your repo and see if there is soimething I am missing or have mis-configured along the way

[2019-09-09 17:01] #3365 closed, assigned to nobody

[2019-09-09 17:01] #3355 closed, assigned to nobody

[2019-09-09 17:35] kmf commented on #3365
@clintoncwolfe could you link to the `chef generate cookbook` Feature?

[2019-09-09 18:13] #4135 closed, assigned to miah

[2019-09-09 20:11] zenspider opened #4455 "Move lib/inspec/objects/*.rb to inspec-scap project"
InSpec doesn't use _any_ of the code generation facilities. As such, it'd be great to move this to its rightful owner: inspec-scap.

[2019-09-09 20:12] zenspider opened #4456 "Split lib/inspec/objects/inputs.rb in two"
That file is 14kb where all the other files in there are < 3kb.

I think the non-ruby-code-generation side of this file should be split out. For all I care, it can stay in the same namespace entirely, but the working bits should physically move.

I'm also filing #4455 at the same time, which is to move this code out of the project. That can't get done until this is done.

[2019-09-09 20:13] zenspider commented on #4455
@skpaterson eyeballs/opinions pls.

[2019-09-09 20:25] zenspider commented on #4448
@neidiom can you show me the output of the following commands?

[code]

I'd be willing to bet that you have a ton of gems in your `.rbenv` ruby.

I'd also love to see what happens if you do something like:

[code]

(`rm -rf ~/tmpgems ~/tmpinspec` once you're done experimenting)

[2019-09-09 20:28] zenspider commented on #4448
Also, do you know if you have an SSD or a hard drive for your home dir?

[2019-09-09 20:37] neidiom commented on #4448
I have a SSD.

[code]

[code]

[code]

[2019-09-09 20:50] neidiom commented on #4448
@zenspider Thanks!

[2019-09-09 20:55] aaronlippold commented on #4455
I don't think we would want to move these. if you use inspec as a library
which many people do you need these object classes.

On Mon, Sep 9, 2019, 4:13 PM Ryan Davis <notifications@github.com> wrote:

[2019-09-09 20:55] aaronlippold commented on #4455
I wouldn't object to moving them into a library class such as inspec-libs
etc.

On Mon, Sep 9, 2019, 4:55 PM Aaron Lippold <lippold@gmail.com> wrote:

[2019-09-09 21:21] zenspider opened #4457 "processes should set personality"
https://github.com/inspec/inspec/issues/1497#issuecomment-281286748

mentions that centos can output 2 lines for a single process but I think there's a way around that:

https://www.unix.com/man-page/centos/1/ps/

[code]

[2019-09-09 21:21] paulcalabro commented on #1535
Yeah, the diff is causing huge file sizes for me. It would be great if this was optional.

[2019-09-09 21:26] zenspider commented on #4448
So, I would guess the extra gems are slowing ruby down in general. Using a Gemfile + `bundle exec` means those extras are ignored. You can also do what I did and set GEM_HOME to your own place just for inspec (then you don't need the Gemfile or `bundle exec`). I wouldn't normally recommend that (even tho that's what I do) but in this case, 15s vs 4 seems egregious.

[2019-09-09 21:59] zenspider commented on #4133
#4365 addresses the rest of this for resources.
I just filed #4460 to for plugins.

[2019-09-09 22:05] zenspider commented on #4431
In a development environment, eg: `minitest test/unit/some/test/file.rb`.

Our code should not be dependent upon how it is installed (or not), nor how it is being run. I worked all our bundler specific code out of this system to make it more flexible in a variety of scenarios and I'd like to keep it that way.

[2019-09-09 22:06] koka424 opened #4458 "Wider output from processes resource"
## Detailed Description

While trying to check some flags that were set on a running process I found that the output of the `command` method was cut off:

[code]

This output does not contain the flags that I need to check.

My testing setup is on a Centos 7 docker image.

[code]

inspec version:

[code]

## Context

Having the entire command would allow me to verify that all flags were passed to

[2019-09-09 22:08] zenspider opened #4459 "git hook to prevent merging if master is red?"
obviously not prevent prevent as we'll need to be able to merge to fix a red... but some extra check to possibly not allow unrelated merges to go if master is broken...

[2019-09-09 22:11] zenspider opened #4460 "Lazy loading for plugins"
I'd like to do similar work for plugins that was done to resources, namely, don't pre-populate the plugin registry if at all possible. This should be the last of our issues that fall under #4133.

[2019-09-10 00:25] skpaterson commented on #4455
Given the 'InSpec as a library' use-case I'd be tempted to leave them there, albeit for historical reasons...

[2019-09-10 01:11] zenspider opened #4461 "BK is still doing 2 builds after merging to master"
There's no point in running 2 jobs for every merge. Either the merge commit should be skipped or the version bumper commit should be.

[2019-09-10 01:48] #4133 closed, assigned to zenspider

[2019-09-10 13:04] multani opened #4463 "Website resource contrib documentation contains duplicated (aws) entries"
# Describe the problem

The [AWS/Azure/GCP resources documentation](https://www.inspec.io/docs/reference/resources/#aws-resources) contains many duplicated entries.

See the screenshot below:
![Screenshot from 2019-09-10 15-00-17](https://user-images.githubusercontent.com/65311/64616016-e97b9600-d3db-11e9-96f7-2562ce447011.png)
Almost of the entries are present twice: the text is the same and the

[2019-09-10 15:40] russellseymour commented on #4290
With the help of @clintoncwolfe test repo, I think I have started to narrow down where the issue is. I _think_ it has something to do with the InSpec verifier in Test Kitchen.

I was successfully able to run Test Kitchen and the tests from the `npm-inspec-repro` when using the `inspec-dokken` driver.

So then I changed this over to using the `inspec-azurerm` driver and I got the same error message

[2019-09-10 17:30] clintoncwolfe commented on #4414
This was addressed on #4427

[2019-09-10 17:30] #4414 closed, assigned to clintoncwolfe

[2019-09-10 17:31] clintoncwolfe commented on #3845
Implemented on #4427

[2019-09-10 17:31] #3845 closed, assigned to clintoncwolfe

[2019-09-10 19:28] clintoncwolfe commented on #4458
I believe we have a PR on this, #3700

[2019-09-10 19:55] koka424 commented on #4458
I apologize. I guess I did not search very well. This can be closed as a duplicate. I do not know if the proper etiquette is for me to close this issue or let you guys do it. If you would like me to close I can do that.

Thank you for the response!

[2019-09-10 20:05] zenspider opened #4465 "Inspec::Config defaults to local transport regardless of platform"
This bug is blocking one test in test/unit/resources/json_test.rb which has a platform specific skip for this.

The gist is this:

[code]

which means on windows that we're not capturing stderr.

[2019-09-10 20:12] #4409 closed, assigned to zenspider

[2019-09-10 20:19] zenspider commented on #4353
This is blocked because I've been asked NOT to make our own docker images by devrel.

[2019-09-10 20:57] zenspider commented on #4458
Since we don't have an issue tracking #3700, I'd like to keep this live.

[2019-09-11 00:25] zenspider opened #4467 "waiver data is not being passed to Inspec::Reporter::Base#run_data"
Manually running one of our mocks:

[code]

You can see the run_data has nil entries for `:waiver_data`:

[code]

And that shows up in the json report only once as nil on controls:

[code]

So I think some glue is missing on phase 2 of waivers, blocking #2445

[2019-09-11 08:37] zenspider opened #4468 "Tests broken by a phase 2 waivers commit"
My local checkout is broken for 2 files. This issue focuses on `test/unit/profiles/control_eval_context_test.rb`.

Here's my output from magit's bisect:

[code]

### Full Run output:

Note in the output that it seems like there are 2 different errors. The error on master is different than the error of the first bad commit in the bisect.

[code]

[2019-09-11 08:45] zenspider commented on #4468
OK. For the other file, I think it is the same commit:

### Magit Output:

[code]

### Full Run Output:

[code]

[2019-09-11 08:49] zenspider commented on #4468
(Also two different failures throughout the run... not sure how relevant that is)

[2019-09-11 14:32] clintoncwolfe commented on #4468
I have a fix, related to a missing require and a swallowed exception...
EDIT - see #4469

[2019-09-11 14:59] clintoncwolfe commented on #4467
I think it's behaving slightly out of spec, but workably so.

Based on the given invocation - which omits waiver data entirely:

[code]

there *should* be no waiver_data entries. Instead, the entries are improperly present but empty.

Adding a waiver file changes behavior (I'm changing arg order to be more typical):

[code]

In a debugger (I injected at https://github.com/inspec/inspec/blob/e0e611

[2019-09-11 15:24] clintoncwolfe opened #4916 "Add deprecation note to AWS resource docs in resource pack"
# Describe the problem

If someone stumbles across the docs for the AWS resources that are in core, we need to point them to using the inspec-aws resource pack. We don't want people relying on or contributing to the AWS resources that remain in core.

## Possible Solution

[2019-09-11 15:27] clintoncwolfe opened #4471 "Ensure contrib resource docs overwrite core"
# Describe the problem
When we pull in docs from "contrib" resource pack projects (such as inspec-aws, inspec-azure, etc) and there is a naming conflict, the copy from the external project should be assumed to be more up-to-date.

However, currently, it looks like (at least with inspec-aws) core wins.

## Possible Solution

[2019-09-11 18:21] zenspider opened #4472 "Sporadic unit test failure during plugin uninstall test"
[code]

### Magit Bisect Output:
[code]

[2019-09-11 19:31] NickRycar opened #4491 "Undefined Method error when attempting to use params in `habitat_services`"
# Describe the problem
When creating a simple inspec cookbook to test out one of my hab services, I ran into an issue whenever I tried to add a `.where` or `.habitat_service_params` to a control, per the examples [here](https://www.inspec.io/docs/reference/resources/habitat_services/).

When doing so, and attempting to run an `inspec check` or `inspec archive` on my profile, I get the following st

[2019-09-11 21:36] #4468 closed, assigned to clintoncwolfe

[2019-09-11 21:49] zenspider opened #4473 "Pull input / input registry errors out of errors.rb"
errors.rb should be generics only

[2019-09-11 21:59] clintoncwolfe opened #4474 "Symbol conversion errors with certain resources"
# Describe the problem
Not sure how widespread this is, but you can get a stacktrace if you run this valid InSpec code:

[code]

Running that under `inspec shell` or `inspec exec` both result in conversion errors, with slightly different stacktraces.

Shell:
[code]

Exec:
[code]

## Possible Solution

[2019-09-11 22:06] clintoncwolfe commented on #4472
I can't seem to get this to fail under any circumstances or seed - I added a debugger breakpoint under conditional in the test, then ran the test in a loop for  over an hour but it always passes - for me, on my machine, in my locale. Can you give more specifics about the failing conditions?

[2019-09-11 22:41] zenspider commented on #4472
I'm starting to think it is possibly a bug in rubygems, or that we can't circumvent it the way we have been anymore.

I'm on rubygems 3.0.6. You're on 2.something.

I doped some of the rubygems code:

[code]

and wound up with:

["/private/var/folders/b4/mw_b83w5653glr4vvbnym26r0000gp/T/d20190911-25676-tor5q9/gems/2.6.0/gems/inspec-test-fixture-0.1.0",
 "/private/var/folders/b4/mw_b83w5653glr4vvbn

[2019-09-11 23:01] zenspider commented on #4472
https://github.com/rubygems/rubygems/issues/2910

I might have a theory on how to fix this on our end w/o a fix to rubygems...

[2019-09-11 23:54] clintoncwolfe opened #4477 "Missing require for Psych reader"
# Describe the problem

If you run:
[code]

(on inspec 4.16)

you get:

[code]
## Possible Solution

[2019-09-12 00:20] clintoncwolfe commented on #4474
OK, traced to a missing `to_s` definition, which was easy to add.  In lib/inspec/resources, these also don't have to_s:

[code]

[2019-09-12 00:27] clintoncwolfe commented on #4477
Oddly, I think this was a red herring; I can't repro this. CLosing.

[2019-09-12 00:27] #4477 closed, assigned to nobody

[2019-09-12 00:46] zenspider opened #4479 "inspec archive --ignore-errors doesn't"
While looking at https://github.com/inspec/inspec-habitat/issues/46 we tried to run `inspec archive . --ignore-errors` to bypass the bug going on in `inspec check`... but it doesn't.

[2019-09-12 00:47] zenspider commented on #4491
I'd like to experiment with whether we should add a `method_missing` to `Mock::Connection` or to make the train-habitat plugin have to extend `Mock::Connection` with the proper api stubs.

[2019-09-12 01:13] zenspider commented on #4491
Relevant part:

[code]

The problem is that `Mock::Connection` part... it needs to either be extended by this plugin with extra API or generically have a method_missing that let's these things slide. I want a repro locally so I can try both and see how they feel.

[2019-09-12 16:28] frezbo opened #4481 "Inspec::Config not cleared when using the Inspec::Runner API"
`Inspec::Config.cache` is re-used at multiple places, this causes an issue with running profiles over a loop/simultaneously using the `Inspec::Runner` API, as the `cached_config` instance variable from `Inspec::Config` is never cleared or there is a method to clear it like `__reset` present in `Inspec::InputRegistry`.

# Describe the problem
I have a profile named **normal** and another profile na

[2019-09-12 16:49] kekaichinose commented on #1535
@james-stocks we're slammed with tasks for end of Q3 right now. I'll look at prioritizing this in Q4. Thanks!

[2019-09-12 17:29] clintoncwolfe opened #4482 "Make a demo video about --input"
## Detailed Description

Make a short (60-sec) user-experience-focused video about the new feature `--input`. If it goes well, we make more videos for other select features.

## Context

Improve communication about Chef InSpec's capabilities.

## Possible Implementation

[2019-09-12 17:56] mikelindsey-okta commented on #3550
Hey snarky author.  The output says description, it does not mention the key, nor does it come up cleanly in docs or google searches.

What does come up eventually is you opening a bug about it and then closing it without resolving it.

There's a real user-experience fail here.

[2019-09-12 21:10] miah commented on #4455
I think we should still move them, if you need them for historic reasons they are in the repository. We are trying to clean up the InSpec code base and if we need a library that provides the functionality of those files a issue should be filed and we can discuss it there.

[2019-09-12 21:12] zenspider commented on #4455
No. "InSpec as library" isn't a valid reason. This code is NOT used within the project and does not have a use case to remain there. inspec-scap in the proper home for it and would allow the actual users of the code to own it and maintain it without us hindering them.

And if you need them for historical reasons, you can always pin to a specific version.

@kekaichinose... please confer with @skpat

[2019-09-12 21:29] miah commented on #4461
I think we need to run the version bumper pipeline to ensure we have artifacts with the right version built.

We could possibly not execute the merge commit test pipeline.

[2019-09-12 23:07] kekaichinose commented on #4455
@zenspider my bad, but didn't catch this in time to sync with @skpaterson in-person. I concur with the team that if the code generation feature is only used by inspec-scap, it would make sense to move it over into that code base.

@skpaterson, let's chat about this next week

[2019-09-12 23:08] #4474 closed, assigned to clintoncwolfe

[2019-09-12 23:13] clintoncwolfe commented on #2915
Cloud integration testing is performed on the individual projects now, not on this project - closing.

[2019-09-12 23:13] #2915 closed, assigned to nobody

[2019-09-13 04:14] zenspider opened #4486 "Split up lib/plugins/inspec-plugin-manager-cli/test/functional/inspec-plugin_test.rb"
too big. too slow.

[2019-09-13 13:49] aaronlippold commented on #4455
So I would assume that the inspec-scap library will be released under
Apache 2 as well then.

On Thu, Sep 12, 2019, 7:07 PM Keka Ichinose <notifications@github.com>
wrote:

[2019-09-13 13:52] aaronlippold commented on #4455
My teams use this for code generation outside the scap use case. As I said
before if it needs to be moved it should be moved to either a separate
library and then called by the needed systems or left in place  That's
perfectly reasonable. Inspec-libs world be fine. But moving it into a
closed source library I would not agree with.

On Fri, Sep 13, 2019, 9:49 AM Aaron Lippold <lippold@gmail.com> wr

[2019-09-16 09:26] ihorkanivets opened #4489 "Missing `virtualization` DSL method"
After upgrading Inspec from version 3.5.0 to 4.16.0, I've faced next issue:

[code]

The same issue I faced with Inspec 4.7.3

I've checked it on different platforms: MacOS, Centos7.

Could you please advice how can I solve this issue?

I can guess, that this parameter is getting from https://github.com/dev-sec/linux-baseline, which I use for inspec tests.

It worked in proper way with Inspec 3.5.

[2019-09-16 17:29] clintoncwolfe commented on #4489
The warnings about an input parameter can be ignored for now - they are not causing the problem. The issue is at the very bottom:

[code]

~~That indicates that the `virtualization` resource is not being found, possibly refs #4365~~ UPDATE: Not related to 4365 if it affected you on 4.7.3.

[2019-09-16 17:32] clintoncwolfe commented on #4489
Could you provide a small sample of your profile code near the error? Is there anything that uses `virtualization`?

[2019-09-16 18:26] ihorkanivets commented on #4489
Thanks for quick response.
Sure, I can share code with you.

At first I also thought in your way, that it is something wrong with profile, which included to dependencies, but I tried upload profile even without linux-baseline profile - the same issue, and I can successfully upload it to Chef Automate on 3.5.0 inspec version.
below you can find my base.rb control

[code]

inspec.yml
[code]

Also, p

[2019-09-16 20:20] #4459 closed, assigned to nobody

[2019-09-16 21:33] miah opened #4492 "Survey v2"
We just did a survey(#4385) on InSpec usage. Lets start planning on our second (which we'll probably start doing quarterly).

[2019-09-17 00:03] #4456 closed, assigned to zenspider

[2019-09-17 00:03] #4473 closed, assigned to nobody

[2019-09-17 00:11] zenspider opened #4494 "Fix rest of usage to not use long_desc?"
We merged my PR to fix `inspec exec --help` to just use `desc` instead of `long_desc` (which wraps output in bad ways). Should we do the rest? Do they matter? Do they even have code samples in them?

[2019-09-17 08:15] kmf commented on #4492
How will these survey's be sent out?

[2019-09-17 08:39] ihorkanivets commented on #4489
Hello @clintoncwolfe!

I want to share with you my investigation regarding uploading to Chef Automate issue:
When I excluded linux-baseline it showed me next error: `/opt/inspec/embedded/lib/ruby/gems/2.6.0/gems/inspec-4.16.0/lib/inspec/dsl.rb:47:in `method_missing': undefined method `file' for #<#<Class:0x00007f913f89d078>:0x00007f913f89c218> (NoMethodError)`
After I changed two rows below from:

[2019-09-17 14:14] skpaterson commented on #4455
I'd be happy for the libraries to be moved to another open source repository and agree that InSpec is not the ideal place for these.  My main concern is the timing and scope of any refactoring associated with the move as we have a long list of higher priorities at present.

[2019-09-17 14:50] russellseymour commented on #4290
I have just verified that this is an issue with AWS as well. I get exactly the same errors as before.

![image](https://user-images.githubusercontent.com/791658/65052688-ba789d80-d962-11e9-85cf-dd44fd50b6ad.png)

The `kitchen.yml` file this test looks like

[code]

[2019-09-17 19:54] clintoncwolfe commented on #4482
A video has been scripted, shot, edited, and is now being reviewed.

[2019-09-17 19:58] clintoncwolfe commented on #4467
I believe this turned out to be a temporary issue caused by another issue - once that was resolved, and with proper invocation (above) the data was found, and waivers 3 was merged.

[2019-09-17 19:58] #4467 closed, assigned to miah, clintoncwolfe

[2019-09-17 20:10] #4417 closed, assigned to miah

[2019-09-17 20:19] zenspider commented on #4495
I've moved this to inspec/inspec as this is a runner issue, not a test-kitchen issue. I'm sorry this hasn't had eyeballs on this sooner.

[2019-09-17 20:27] zenspider commented on #1810
@kpettijohn I'm confused by this ticket and could use your help. To me, the crux is "missing results in the profile output for the profile that called include_controls" and the title is misleading... Can you provide some insight.

[2019-09-17 21:00] zenspider opened #4496 "Get BK caching artifacts"
We now have tentative access to cache our stuff to aws:

[code]

I will note that we're considering this alpha access. Don't depend on that bucket staying around. The public-cd account is administrated under the assumption that we can pave and rebuild at any moment. (edited)
Also, please don't upload anything other than cache stuff to that bucket. It's not a place to store configuration or secrets

[2019-09-17 21:44] zenspider commented on #4385
What's left on this? Analysis to see if we can file issues?

[2019-09-17 21:59] dmgasper opened #4497 "Quotations not always omitted from includes in apache_conf resource"
## Problem Description:
When read by the apache_conf resource, a given line from a config file should be parsed into two capture groups with quotations omitted from the second capture group. However, when the second capture group includes trailing, non-whitespace content, only the leading quotation character is removed. Inspec then interprets the trailing quotation character as the string terminus

[2019-09-17 22:41] paul1994 opened #4498 "Inspec Compliance upload fails via cli but succeeds using the UI"
### 🎛 Description

**Choose one:** is this a 🐛 bug report
When trying to upload a profile to automate we receive an error when trying with the cli. The profile should be able to upload to the automate server via the cli.
Note that with the same profile I could upload to automate with the UI

### 🌍 InSpec and Platform Version

windows 10

Tell us which version of InSpec (`inspec version` or SHA of

[2019-09-17 23:01] zenspider commented on #4498
Other interesting tidbit from the thread, this works fine via automate UI but fails using CLI.

I'm not sure how relevant the windows side of this is. My guess is its not, but it might be some winrm transport + `file` issue for all I know right now.

[2019-09-17 23:50] clintoncwolfe commented on #4498
#4489 is a duplicate or similar aspect of this issue.

[2019-09-17 23:54] clintoncwolfe commented on #4489
`file('path').exist?` is an InSpec resource, which acts on the remote scanned host; `File.file?('path')` is a local Ruby file test, which acts on the local filesystem. We need to get `file('...')` working - it may not pass, but it should not explode.

[2019-09-18 01:13] #4472 closed, assigned to zenspider

[2019-09-18 08:08] kmf commented on #4482
Please post a link once it's been released.

[2019-09-18 11:47] ihorkanivets commented on #4489
Hello @clintoncwolfe. It works perfectly on local filesystem with Inspec 4.16.0, I've checked it. We have an error during uploading to Chef Automate server, so currently I'm pretty sure, that it isn't inspec version issue, it looks like, that it is a problem of Chef-Automate server...

[2019-09-18 15:47] clintoncwolfe opened #4499 "Developer Docs for inspec compliance command group"
The `inspec compliance` subgroup of commands is poorly documented and understood.

Document its behavior under docs/dev .

[2019-09-18 15:55] clintoncwolfe opened #4500 "Stale URLs in usage help for `inspec compliance login --help`"
# Describe the problem

`inspec compliance login --help` outputs a usage message including advice to look at URLs to learn how to obtain an auth token for either Automate or Compliance (a product which has been sunsetted). However, the Compliance URL [https://docs.chef.io/api_compliance.html#obtaining-an-api-token](https://docs.chef.io/api_compliance.html#obtaining-an-api-token) is a 404.

Additio

[2019-09-18 20:48] zenspider opened #4503 "Unknown random failure on inspec_vendor_test.rb"
[code]

[2019-09-18 23:13] trevor-vaughan opened #4504 "`to_hash` error when running inherited profile with an input"
The following error is output when running with an inherited profile:

[code]

# Describe the problem

Using, `inspec` from the Chef YUM repos, this evidenced itself in version `4.16.15`

The code used for inheritance was trivial:

[code]

## Possible Solution

#4502 (extremely naive but does mitigate the issue)

[2019-09-18 23:40] zenspider opened #4505 "`inspec detect --no-color` is too colorful"
Subject says it all. It outputs color codes regardless.

Found while pairing with @miah.

[2019-09-19 17:30] clintoncwolfe commented on #4489
Remarkably, using the same code listed [above](https://github.com/inspec/inspec/issues/4489#issuecomment-531898779), I can't make the error happen on tip (inspec 4.17.3, 76901e024) but it does occur on 4.16.0

[2019-09-19 20:13] kekaichinose commented on #2355
Thank you for filing this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due to comp

[2019-09-19 20:13] #2355 closed, assigned to nobody

[2019-09-19 20:25] kekaichinose commented on #2492
This ask could be solved with the custom reporter plugin that we have included as a part of #3667. Closing this out here and will track the effort there.

[2019-09-19 20:25] #2492 closed, assigned to nobody

[2019-09-19 20:29] kekaichinose commented on #4506
Per further review, we are moving this into inspec/inspec to be triaged

[2019-09-20 18:29] clintoncwolfe commented on #4489
OK, I'm going to close this as it's clearly now a duplicate of #4498 - will post the explanation there. Thanks for the report, responsiveness, and excellent materials, they allowed me to reproduce the problem!

[2019-09-20 18:29] #4489 closed, assigned to clintoncwolfe

[2019-09-20 18:35] clintoncwolfe commented on #4498
Based on information provided on #4489, I was able to reproduce the issue on inspec 4.16.0 but not on current tip 4.17.3 . Bisection narrowed it to being fixed on the 4.16.8 nonreleased build, which included the merge of #4365 .

So... our status at this point is that we already have a fix in place, and will be present on the next release of inspec.

If you consume omnibus packages of inspec, note

[2019-09-20 19:40] clintoncwolfe opened #4507 "Improve `inspec compliance`"
### 🎛 Description

This is an Epic to collect together various improvements to the `inspec compliance` subcommand. Generally, the subcommand has been undermaintained, and could use some attention.

### 🌍
 InSpec and Platform Version

4.16.0

Aha! Link: https://chef.aha.io/features/SH-2530

[2019-09-20 20:33] clintoncwolfe opened #4508 "Remove support for Compliance and A1 from `inspec compliance`"
# Describe the problem

NOTE: this work would begin in Q1 2020 at the earliest.

As Compliance Server has been sunsetted for a while, and Automate 1 (the predecessor to the current product, Automate) [will be sunsetted at the end of 2019](https://blog.chef.io/2019/06/26/end-of-life-announcement-for-chef-automate-v1-x/), once both products are sunsetted, remove code to conditionalize connections to

[2019-09-24 05:01] sanchihb opened #4510 "Inspec upload of wrapper profile fails"
Inspec upload of wrapper profile fails while loading the dependent profiles controls

I am new to Inspec. I want to create and upload an example of wrapper inspec over ther cis-rhel7-level2-server. Locally executing the server works like charm. But when I try to upload the profile to the automate server, it fails. These are the following steps are followed:
1. inspec login automate server -> succe

[2019-09-24 05:10] mattray opened #4511 "/opt/chef/embedded/bin/inspec fails with Chef 15.3.14"
Testing with the latest stable release of Chef reports the following:
[code]

For reference, Chef 14.13 works fine:
[code]

[2019-09-24 05:42] sanchihb commented on #4510
I also tried with the recent current version available 4.17.4

[2019-09-24 05:46] sanchihb commented on #4510
Faced the same issue uploading the tar.gz file as well.

[2019-09-24 18:53] clintoncwolfe commented on #4510
@sanchihb, if you can post a minimal version of you profile that causes the error, we can investigate further and consider it a bug.

Otherwise, this looks to be support-related. We use GitHub issues to track bugs and feature requests. If you need support help (i.e. with using Chef InSpec), we recommend that if you are a:

* Chef customer:
  * Please reach out to your Customer Success manager and

[2019-09-24 18:53] #4510 closed, assigned to nobody

[2019-09-24 19:30] clintoncwolfe commented on #4511
Suspicion: when we scan for system plugins, we look for the `inspec` gemspec and list its deps; but the chef omnibus package does not include the `inspec` gem, instead the `inspec-core` gem.

Similar in spirit to #4431

[2019-09-24 19:37] clintoncwolfe opened #4512 "Waivers Documentation"
## Detailed Description

User-level documentation of the Waivers functionality.

## Context

## Possible Implementation

[2019-09-24 22:00] clintoncwolfe commented on #4504
I'm not able to reproduce this error, using inspec 4.16.5 (as reported) nor 4.17.4 (current tip), a wrapper profile with the above code, and a single dependency tracking master of https://github.com/simp/inspec-profile-disa_stig-el7 . I'm not setting any inputs, though I note that the disa_stig_el7 profile has numerous inputs.  Is there more to this?

[2019-09-25 02:32] SalmonKing72 opened #4514 "website header content overlays the main navigation"
# Describe the problem
* When scrolling on the desktop website, the header content overlays the main navigation
* When clicking the hamburger menu to open the mobile navigation, the header content overlays the navigation preventing it from being used.

## Possible Solution
update the sass to add a lower or negative z-index value for the `header`

[2019-09-25 13:23] trevor-vaughan commented on #4504
@clintoncwolfe There really shouldn't be. If you have virtualbox and vagrant installed, you can try the following from the https://github.com/simp/inspec-profile-disa_stig-el7 repository:

* `bundle update`
* BEAKER_inspec_version='4.16.15' BEAKER_destroy=no rake beaker:suites

This should fail and leave the VMs running. (It may dump into a `pry` due to accidental debugging items left in one of ou

[2019-09-25 13:26] Paladin commented on #3307
Guess that's a no. Oh, well.

[2019-09-25 14:34] james-stocks commented on #4514
Sounds like a duplicate of https://github.com/inspec/inspec/issues/4331

What browser are you using @salmonking72 ? #4331 was for Chrome on Android.

[2019-09-25 14:35] james-stocks commented on #4331
I think https://github.com/inspec/inspec/issues/4514 is a duplicate of this.

[2019-09-25 14:51] SalmonKing72 commented on #4514
@james-stocks The mobile portion of this is probably duplicative of #4331. I saw the issue still occurring on Safari for iOS, also Firefox, Safari, and Chrome Canary on macOS. The z-index update in my PR related to this fixed both the desktop issue I described and the mobile issue described in #4331.

**Chrome**
![image](https://user-images.githubusercontent.com/6287664/65612212-e65adb00-df81-11e9

[2019-09-25 16:04] trevor-vaughan commented on #4504
@clintoncwolfe Spoke too soon, still broken even with the change in https://github.com/simp/inspec-profile-disa_stig-el7/pull/106

[2019-09-25 16:39] christian-wtd commented on #4310
I had a similar bug, see:
https://github.com/inspec/train/issues/520
actually my pull request
https://github.com/inspec/train/pull/521
may fix this one also, mine also runs fine as root

[2019-09-25 16:42] clintoncwolfe commented on #4504
Well, following those instructions, the converge failed for me:
[code]
which is part of the VM setup, not part of the inspec run.  Several similar errors occurred.

[2019-09-25 16:48] trevor-vaughan commented on #4504
Hmm...what version of ruby? I'm using 2.5.3 or 2.6.0 via RVM.

[2019-09-25 16:52] trevor-vaughan commented on #4504
Trying with a completely clean gemset

[2019-09-25 16:55] trevor-vaughan commented on #4504
@clintoncwolfe No apparent issues with a clean 2.6.0.

[2019-09-26 08:37] james-stocks opened #4519 "InSpec should use vendor directory to resolve dependencies for an archived profile"
InSpec 4.7.3 shipped with ChefDK 4.2.0

# Describe the problem

We have a "resource pack" InSpec profile in a Github repo.
We then create compliance profiles that depend on the resource pack. We `vendor` these and ship the tar.gz as part of Chef Automate.
Airgapped customers are unable to create wrapper profiles to customise the controls that run, because they do not have access to the source for

[2019-09-26 08:55] frezbo commented on #4519
I also faced the same issue in our offline environment, but I had an internal artifactory available where I could pull the dependent profiles from. I ended up calling the Inspec `vendor` API before executing the profiles.

[2019-09-26 09:27] kmf opened #4520 "file resource should support os_env paths"
## Detailed Description

[code]
## Context

I want to test a executable in that is set in an `os_env` path

Is there a way of doing it?

[2019-09-26 13:37] clintoncwolfe commented on #4504
Thanks, I can reproduce the issue on ruby 2.6.2. I'm looking into it.

[2019-09-26 14:16] clintoncwolfe commented on #4520
I suggest:

[code]

[2019-09-26 14:21] kmf commented on #4520
Thanks!

[2019-09-26 14:37] #4520 closed, assigned to nobody

[2019-09-26 20:57] zenspider commented on #4511
Fixed by #4513 which will go out today.

[2019-09-26 20:57] #4511 closed, assigned to zenspider

[2019-09-26 20:57] zenspider commented on #4431
Fixed by #4513 which will go out today.

[2019-09-26 20:57] #4431 closed, assigned to clintoncwolfe

[2019-09-27 08:14] baurmatt opened #4521 "4.17.7 breaks all `*_service` resources"
# Describe the problem
We're using kitchen to test Puppet module. After upgrading to inspec 4.17.7, `systemd_service` throws the following error:

[code]

The following code triggers this:
[code]

## Possible Solution
Downgrading to 4.16.0 works for us as a workaround.

I'm actually not sure if we're doing something wrong, we missed a breaking change or this is really a bug in inspec. Can you plea

[2019-09-27 13:13] apr-1985 commented on #3920
Just spent ages trying to work out why this wasn't working when it is a documented example :(
At least remove it from the example till this bug is fixed properly

[2019-09-27 13:25] apr-1985 opened #4522 "Interface resource cannot check addresses on EC2 instances"
Getting the error
[code]
when running

[code]
On an EC2 Instance (tried Centos 7.7, RHEL7 and amazon linux 2)

# Describe the problem
The instance I am running against definitely has an IPV4 address as you can see here:
[code]
So I would expect this test to pass, however it is failing:
[code]
Cant see why this is happening as the interface object has the data required to answer the question correc

[2019-09-27 13:26] apr-1985 commented on #4522
[code]

[2019-09-27 13:39] james-stocks commented on #4514
I think this was fixed by https://github.com/inspec/inspec/pull/4515 (but I messed up linking the two :) )

[2019-09-27 13:40] james-stocks commented on #4331
Closing as duplicate of #4514 which was fixed by https://github.com/inspec/inspec/pull/4515

[2019-09-27 13:40] #4331 closed, assigned to nobody

[2019-09-27 13:44] apr-1985 commented on #4522
Looks like another method hasnt been implemented on the interface
[code]
along with the name method
https://github.com/inspec/inspec/issues/3920

[2019-09-27 15:20] Sean89us opened #4523 "Inputs do not work within describe.one do blocks in version 4.17.7"
# Describe the problem
In version 4.17.7 of inspec, inputs do not work with a describe.one block. Example:
[code]
results in
[code]

Whereas in version 4.16.0 I can run the same control and it gets this result:
[code]

[2019-09-27 16:54] clintoncwolfe commented on #4521
We've verifified this and confirmed that in fact it extends to other platforms and service infras, like runit_service, etc.

[2019-09-27 17:11] clintoncwolfe opened #4524 "Dynamic resource loading fails in certain RSpec extension blocks"
# Describe the problem

The dynamic resource DSL-loading code introduced in #4365 altered the way that the resource DSL is imported into the control code space. User who use RSpec features like `before`/`after` blocks and `shared_example` blocks, which are not documented or supported Chef InSpec features, may experience errors if they reference dynamically loaded resources within such blocks.

Fir

[2019-09-27 17:13] clintoncwolfe commented on #4524
Related - #4521

[2019-09-27 17:37] JQUINONES82 opened #4525 "Inspec behind a proxy"
Can't test out aws resources when behind a proxy

# Describe the problem

When I run a control test, I receive the following error
[code]

If i set the env vars, it works.

[code]

Now for aws resource checking, it doesn't work.
Is there a specific parameter I should be passing?  The aws cli works just fine.
[code]

## Possible Solution

Do I have pass a config file  or extra variable?

[2019-09-27 19:00] kekaichinose opened #4527 "Inspec.io Docs Design Update"
### 🎛 Description

This is an epic to track the efforts around improving the inspec.io docs design to match with the larger chef.io docs site.

Issues to Address:
* Similar to automate docs, sometimes exposed (and closed) menus go away visually but remain in the code, preventing interaction with links on the page (i.e., some invisible box covering links).
* Resource list is difficult to consume, n

[2019-09-27 19:02] kekaichinose commented on #3289
Closing this issue out as we are revisiting the design updates and are considering collapsing the micro-site back into the chef.io macro-site.

[2019-09-27 19:02] #3289 closed, assigned to nobody

[2019-09-27 19:16] kekaichinose opened #4528 "Migrate docs to Hugo"
### 🎛 Description

Docs team has started an initiative to migrate Inspec's docs to a Hugo template. This will make it much easier for the docs team to keep the Inspec docs up to date and to start making our docs more consistent across Chef.

As part of this project, there's some work that the UI team can help with: building the Hugo template (including html, css, and js) for the Inspec docs (https

[2019-09-27 19:18] clintoncwolfe opened #4529 "Test coverage for resource dynamic loading"
It would be a good thing to verify that every core resource can be loaded dynamically, refs #4521. Some work was started on a test script for resources that we stubbed out for that, which I'll place below.

[code]

[2019-09-27 19:20] clintoncwolfe opened #4530 "Refactor resource stubs"
On #4526, several small files (14) were created so that the dynamic loader could find resources that are defined in other files.

Why not simply define them in the file that matches their name?

[2019-09-27 20:28] zenspider commented on #4524
Tagging @stevendanna so they can track.

[2019-09-27 21:14] zenspider opened #4532 "push faraday/faraday_middleware hack upstream"
see title

[2019-09-27 21:25] zenspider opened #4533 "newest version of minitest has new deprecations that we abuse"
[code]

we can pin back for a while to reduce noise, but we really should address this... preferably by not using minitest/spec at all, since it is a source of pain in general.

[2019-09-27 23:00] zenspider commented on #4532
https://github.com/lostisland/faraday_middleware/pull/194

might already go in

[2019-09-27 23:31] #4521 closed, assigned to clintoncwolfe

[2019-09-27 23:37] zenspider commented on #4524
Fixed in #4534.

[2019-09-27 23:38] zenspider commented on #4530
Fixed in #4526 .

[2019-09-27 23:38] #4530 closed, assigned to nobody

[2019-09-30 08:57] baurmatt opened #4536 ""group" resource stub missing"
# Describe the problem
[code]

fails with:

[code]

## Possible Solution
This looks like the same as #4521 and should be an easy solve. Will add a PR for this soon.

[2019-09-30 17:22] clintoncwolfe commented on #4525
Issue moved to [inspec/inspec-aws #136](https://github.com/inspec/inspec-aws/issues/136) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-30 17:22] #4525 closed, assigned to nobody

[2019-09-30 18:12] kekaichinose commented on #4536
@baurmatt Thanks for the catch! We're finishing up PR and will look to get a hot fix release out by EOD.

[2019-09-30 18:18] kekaichinose opened #4539 "Missing resources"
# Describe the problem

Resource stubs are missing for several resources in the latest InSpec release. This can lead to `inspec exec` failures when using the missing resources.

## Possible Solution

Fix the references to the missing resources.

## Version

4.17.x

## Related Links
Ref #4536

[2019-09-30 19:11] kekaichinose commented on #4392
Closed in #4393

[2019-09-30 19:11] #4392 closed, assigned to nobody

[2019-09-30 19:14] #4539 closed, assigned to clintoncwolfe

[2019-09-30 19:15] #4536 closed, assigned to nobody

[2019-09-30 19:21] kekaichinose commented on #4514
Closed by #4515

[2019-09-30 19:21] #4514 closed, assigned to nobody

[2019-09-30 19:35] clintoncwolfe commented on #4523
Funny, I didn't think this worked yet - #3650

[2019-09-30 19:44] kekaichinose commented on #4523
Per the community, this worked in 4.16.x release so a regression introduced in 4.17.x

[2019-09-30 19:46] clintoncwolfe commented on #4522
Issue moved to [inspec/inspec-aws #138](https://github.com/inspec/inspec-aws/issues/138) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-30 19:46] #4522 closed, assigned to nobody

[2019-09-30 20:05] kekaichinose commented on #4512
Fixed by #4518

[2019-09-30 20:05] #4512 closed, assigned to zenspider, mjingle

[2019-09-30 20:08] slevenick opened #4541 "InSpec 4.17.x breaks only_if on non-os platforms"
# Describe the problem
I'm a contributor to the inspec-gcp resource pack. We frequently use only_if in integration tests to skip tests based on environment variables (if a user needs extra permissions to be able to run certain tests)

Since the 4.17.7 release my integration test pipeline has been broken with the following error message:
`Unsupported resource/backend combination: os / gcp. Exiting.

[2019-09-30 20:31] kekaichinose commented on #2724
Thank you for tracking down this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due

[2019-09-30 20:31] #2724 closed, assigned to nobody

[2019-09-30 21:25] aaronlippold commented on #2724
@kekaichinose I will have @rx294 review this and either push a PR or concer with the closing

[2019-09-30 21:27] clintoncwolfe commented on #4498
This is verified fixed on Chef InSpec v4.17.11, released Friday Sept 27 - thanks!

[2019-09-30 21:27] #4498 closed, assigned to clintoncwolfe

[2019-09-30 22:43] #4481 closed, assigned to nobody

[2019-10-01 15:51] alexpop opened #4546 "waiver_data hash in control results"
I tried the new `--waiver-file` option with inspec v17.7.0 and noticed that the `waiver_data` object is being added to the results array. Is the `waiver_data` object going to be the same across all results of a control?

# Describe the problem

I'm concerned that the report size will inflate a lot if we add the `waiver_data` object in each result of a control.

Sample output with two results for a

[2019-10-01 16:45] clintoncwolfe commented on #4541
Thanks for the report! As the you suggest, the problem is that the `os` resource has platform restrictions. In several places, when InSpec needs a "generic" resource to do something, `os` is used - but here that adds constraints and breaks your pipeline.

Maybe we should invent a "generic" resource that does nothing?

[2019-10-01 17:18] kekaichinose commented on #4385
I created a feedback doc for us to review internally, and from which we can then cut new issues. For the sake of this issue, it's completed.

[2019-10-01 17:18] #4385 closed, assigned to kekaichinose

[2019-10-01 17:39] clintoncwolfe opened #4547 "describe.one broken in 4.17 due to missing dynamic resource loading"
# Describe the problem

Initial report via community slack member "@nmaludy".

At least as of public release 4.17.11, any control that contains a describe.one block containing any reference to a dynamically loaded resource will fail with a source code error, "undefined method <resource_name>..."

## Reproduction

Use `bundle exec inspec init profile` to generate a profile, then place this control

[2019-10-01 21:08] clintoncwolfe commented on #4290
Hey, I can reproduce the issue on AWS!

[2019-10-01 21:32] clintoncwolfe commented on #4290
Well, there we have it:
[code]
When path is provided, the string to invoke `npm` is constructed with cd at the front, and ... why is `cd` not found on ubuntu 18, even under sudo?

UPDATE: At least in some circumstances, we're running under sudo; and `cd` is a shell built-in, not a command.

[2019-10-02 00:09] zenspider commented on #4541
The comment right above line 232 is telling:

[code]

[2019-10-02 04:06] #4547 closed, assigned to zenspider

[2019-10-02 04:11] #4541 closed, assigned to zenspider

[2019-10-02 10:41] djhaynes opened #4551 "Potential new fields for waiver feature"
I was just looking at the new waiver feature and wanted to suggest a few fields for consideration.

Waiver Date: When did the waiver go into effect.
Approver: Who approved the waiver.
Risk: What's the impact of waiving this control (High/Medium/Low).

Aha! Link: https://chef.aha.io/features/SH-347

[2019-10-02 12:53] russellseymour commented on #4290
@clintoncwolfe Thats great - thanks for finding the issue :-)

[2019-10-02 16:32] clintoncwolfe commented on #4519
Clarifications:

1. A closed-source profile or resource pack distributor runs `inspec archive` to pack up their profile. The tarball is delivered to the user.
2. The use may or may not untar the tarball?
3. The use creates a wrapper profile that depends on the possibly untarred tarball. Is the dependency local?
4. The wrapper profile is exec'd or archived. No network traffic to fetch deps must occ

[2019-10-02 17:36] kekaichinose commented on #4546
Going to attach a screenshot of a side-by-side of the profile and it's results
![Screen Shot 2019-09-27 at 9 46 20 AM](https://user-images.githubusercontent.com/50633219/66067470-7eb40b00-e500-11e9-814e-6335f8485b3e.png)

[2019-10-02 19:33] EasyAsABC123 opened #4552 "Receiving `#< CLIXML` in output"
[code]

# Describe the problem
When running inspec we are randomly getting this in response, unsure what the difference is since it won't do it on all machines.

## Possible Solution
Might be a difference in powershell versions from 5 to 6.

[2019-10-02 21:25] zenspider commented on #4410
This was already fixed.

[2019-10-02 21:25] #4410 closed, assigned to nobody

[2019-10-02 21:27] zenspider opened #4555 "lib/inspec/objects/*.rb are problematic"
1. They're not namespaced properly. They should be `Inspec::Object::*`. As such, they can re-open things.
2. They have inconsistent protocols. `to_hash` is defined in most (tho not tested) but it is not evident that they're needed (until you look at inspec-scap?)
3. They're in the wrong project. This code is only used by inspec-scap, so it should move there. See #4455.

For #1, we need to add the

[2019-10-02 21:32] zenspider commented on #4552
This could be considered the same bug as #4181, but this is during runtime. I think we should probably consider it separate.

I'd love to figure out how to hunt this down. Do you have a repro?

[2019-10-02 21:35] zenspider commented on #3990
What's the status of this? See #4552 and #4181.

[2019-10-03 07:23] james-stocks commented on #4555
Yes these should move to `inspec-scap` or a separate gem. The latter could be open source and automatically tested each time InSpec changes.
I need to find some time to get this done.

[2019-10-03 07:48] xorima opened #4559 "Apt is failing to understand urls"
# Describe the problem
APT resource to accept urls as valid

## Example:
build:
https://app.circleci.com/jobs/github/sous-chefs/aptly/460
[code]
Code: https://github.com/sous-chefs/aptly/blob/master/test/integration/default/default_test.rb#L7
[code]

## Version:
https://packages.chef.io/files/current/chefdk/4.4.37/ubuntu/16.04/chefdk_4.4.37-1_amd64.deb

## Possible Solution
Unsure, will need to lo

[2019-10-03 08:06] james-stocks commented on #4519
Regarding 4., There has to be at least 1 pathway for airgapped users to work with only the code we vendor and ship to them in Automate; but I imagine there are other users who will need InSpec to continue its current behaviour of resolving all dependencies recursively from source.

I would expect (just my opinion) that when I run `archive` all my code is packed into a tar that will be 100% usable

[2019-10-03 11:23] zenspider commented on #4559
Bad commit: https://github.com/inspec/inspec/commit/1aebd53314832a8c58134bf0989c4ba08d8a5276

The `URI.parse` call is blowing up because the file format has '"'s in it.

[2019-10-03 12:42] davidmitchell2019 opened #4561 "cannot use inspec on a vm with no internet access inside of gcp"
Hi I am trying to run inspec from a machine inside GCP that has no internet access, I want to run some controls from within the vm to test that gcp resources exist

[2019-10-03 13:26] davidmitchell2019 commented on #4561
seems as though it cannot pull the libraries, get unknown method, can you add the libraries in a local folder and pull them from there?

[2019-10-03 13:54] davidmitchell2019 commented on #4561
Any problems with hitting the API's from within GCP? I have used Terraform in this scenario and that works fine, private Google access is enabled

[2019-10-03 16:02] stevendanna opened #4562 "Inspec fails on profile archives with empty file, resulting in undefined method error"
# Describe the problem

It appears that sometime after `v4.16.0`, inspec incorrectly handles profile tar archives that include empty files.  The following command:

[code]

works on v4.16.0 but fails on v4.17.17 with the following error:

[code]

Some well places printf's tell me this is happening on the first empty file in the archive `libraries/.gitkeep`

## Possible Solution

A quick fix would

[2019-10-03 16:36] clintoncwolfe commented on #4561
This is actually the same problem as #4519 - we'll solve it there, thanks.

[2019-10-03 16:36] #4561 closed, assigned to nobody

[2019-10-03 18:07] clintoncwolfe commented on #4519
I believe we have identified a solution using existing functionality. This approach has not been tested thoroughly, but here's the idea:
1. On a connected machine, clone or otherwise obtain a copy of the resource pack or other baseline profile.
2. Run `inspec archive <base-profile-name>` . The file <base-profile-name>.<version>.tar.gz (or .zip) is created.
3. Send that file to the disconnected mac

[2019-10-03 21:46] zenspider commented on #4486
Done via #4490

[2019-10-03 21:46] #4486 closed, assigned to zenspider

[2019-10-03 21:50] #4559 closed, assigned to nobody

[2019-10-03 22:41] zenspider commented on #4555
I'm happy to do both PRs and submit them.

[2019-10-03 22:44] zenspider commented on #4533
Partially addressed by #4533.

[2019-10-03 23:24] #3920 closed, assigned to miah

[2019-10-04 06:22] frezbo opened #4564 "Inspec > 4.17.7 breaks most of rspec matchers just by including the inspec gem"
Inspec > 4.17.7 breaks most of rspec matchers just by including the inspec gem

# Describe the problem

**With Inspec = 4.17.7**

*Gemfile*
[code]

*test.rb*
[code]

*Output*
[code]

**With Inspec >= 4.17.7**

*Gemfile*
[code]

*test.rb*
[code]

*Output*
[code]

This works fine if I remove the `require 'inspec'` block. This completely breaks any tools that uses Inspec as a gem. This seems to have

[2019-10-04 07:39] zenspider commented on #4564
I don't think this has anything to do with #4526. Maybe #4534?

Either way, I have a patch in the works.

[2019-10-04 16:07] johnypony3 commented on #3891
im having this issue with 4.16 and 4.17 on both osx (4.17.17) and the chef/chefdk container (4.16.0). This bug has been opened since 3/14

[2019-10-04 17:29] kekaichinose commented on #4546
@alexpop I'm pushing this up in the priority to get this addressed. Thanks for filing this!

[2019-10-04 20:02] #4564 closed, assigned to nobody

[2019-10-04 22:28] #4499 closed, assigned to clintoncwolfe

[2019-10-04 22:30] #4432 closed, assigned to nobody

[2019-10-05 20:33] miah commented on #4454
We started doing some work around making the mocking system easier to understand and use. We need to write some documentation still, but you can follow the work here: #4566

[2019-10-06 21:27] melezhik commented on #4305
Hi guys! Any updates here? Its been 3 months since issue is opened.

[2019-10-07 07:32] taqtiqa-mark commented on #630
@clintoncwolfe , appreciate any insight into use cases such as the following examples from the sou-chef's:

https://github.com/sous-chefs/ruby_rbenv/blob/master/test/integration/user_install/controls/user_install.rb#L9

More specifically, it seems natural to want to audit/control environment variables using inspec:
[code]
could you point to any example showing how to control/specify this using 1-d

[2019-10-07 20:17] clintoncwolfe commented on #4546
From discussion with @alexpop and others, we came away with these action items:
 * in the report, move the `waiver_data` from the result-level to the control-level
 * in the input waiver file, rename the `skip: yes` subfield to be `run: no` and invert its meaning
 * in the report, ensure that when waiver data is absent, the data is always represented as `waiver_data: {}`, not as null or as fully a

[2019-10-07 21:10] zenspider commented on #2950
No response. Closing.

[2019-10-07 21:10] #2950 closed, assigned to nobody

[2019-10-07 21:12] zenspider commented on #2980
1.x is unsupported at this point. Closing.

[2019-10-07 21:12] #2980 closed, assigned to nobody

[2019-10-07 21:15] zenspider commented on #2985
Closing since inspec/train#292 is tracking.

[2019-10-07 21:15] #2985 closed, assigned to nobody

[2019-10-07 21:25] zenspider commented on #3016
I think I've covered this. At least, I've definitely done `cmp`. It should be easy enough to do the others now.

From server spec:

`only_with`, `only_if`, `be_mounted`, etc...

[2019-10-07 21:27] zenspider commented on #3030
No feedback in ~6 months... Closing.

[2019-10-07 21:27] #3030 closed, assigned to nobody

[2019-10-07 21:36] #3075 closed, assigned to nobody

[2019-10-07 21:37] zenspider commented on #3083
No response. Closing.

[2019-10-07 21:37] #3083 closed, assigned to nobody

[2019-10-07 21:40] zenspider commented on #3091
No repro. Closing.

[2019-10-07 21:40] #3091 closed, assigned to nobody

[2019-10-07 21:41] zenspider commented on #3098
Fixed. Closing.

[2019-10-07 21:41] #3098 closed, assigned to nobody

[2019-10-07 21:43] miah commented on #3099
We need to test this with ssh to localhost.

[2019-10-07 21:44] zenspider commented on #3150
Not on roadmap. Closing.

[2019-10-07 21:44] #3150 closed, assigned to nobody

[2019-10-07 21:54] zenspider commented on #3210
No response. Closing.

[2019-10-07 21:54] #3210 closed, assigned to nobody

[2019-10-07 21:56] clintoncwolfe commented on #3181
As we have implemented at least some of this on #3906, I'm going to close this.

[2019-10-07 21:57] zenspider commented on #3730
DONE!

[2019-10-07 21:57] #3730 closed, assigned to nobody

[2019-10-07 21:59] zenspider commented on #3235
I think this is subsumed by waivers. Closing.

[2019-10-07 21:59] #3235 closed, assigned to nobody

[2019-10-07 23:39] aaronlippold commented on #3181
Did this get pushed into the json reporter as well?

[2019-10-07 23:43] aaronlippold commented on #3181
As the json reporter is the core reporter in the chain correct?
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Mon, Oct 7, 2019 at 7:39 PM Aaron Lippold <notifications@github.com>
wrote:

[2019-10-08 07:05] clintoncwolfe commented on #4395
The InSpec engineering team discussed this issue quite a bit today. After some experimentation, here is what I think.

First, examine closely the output of `inspec exec --reporter json` when there is a wrapped profile. Notice that in your example, both the wrapper-profile and ssl-baseline are represented. I used the `jq` query tool and your example tarball to find this (ignore the variation in the

[2019-10-08 15:39] mcascone commented on #2944
Seems like a pretty basic feature to support. +1

[2019-10-08 22:05] zenspider commented on #3276
What you're asking for "_support heredoc script_" is a standard ruby feature and works as you described:

[code]

results in:

[code]

So, I suspect you're asking for something else instead, but there's not enough reproduction here to tell. Please advise.

[2019-10-08 23:27] zenspider commented on #3276
Closing. Feel free to reopen if you have any further issues.

[2019-10-08 23:27] #3276 closed, assigned to nobody

[2019-10-08 23:29] zenspider commented on #3292
DONE!

[2019-10-08 23:29] #3292 closed, assigned to nobody

[2019-10-08 23:44] zenspider commented on #3328
This now returns "no-op".

[2019-10-08 23:45] zenspider commented on #3334
Duplicate. Closing.

[2019-10-08 23:45] #3334 closed, assigned to nobody

[2019-10-08 23:50] zenspider commented on #3344
Workaround seems sufficient. Closing.

[2019-10-08 23:50] #3344 closed, assigned to nobody

[2019-10-08 23:52] zenspider opened #4570 "Windows Resource Parity"
This is an epic for ongoing work on our resources.

Many resources provide better support on non-Windows hosts; this Epic tracks work to level the playing field.

[2019-10-08 23:52] zenspider commented on #3347
This is part of #4570

[2019-10-08 23:54] zenspider opened #4571 "Mac Resource Parity"
Another epic to track resource work.

[2019-10-08 23:55] miah opened #4572 "postgres"

[2019-10-08 23:56] #4572 closed, assigned to nobody

[2019-10-08 23:57] miah opened #4573 "Database Resource Work"
This is a epic for tracking work on our various Database Resources.

[2019-10-08 23:57] zenspider commented on #3357
This just seems to be a property of how zip files work and fixing it is out of scope. Closing.

[2019-10-08 23:57] #3357 closed, assigned to nobody

[2019-10-08 23:57] clintoncwolfe opened #4574 "2944"

[2019-10-08 23:59] #4574 closed, assigned to nobody

[2019-10-09 00:02] #3380 closed, assigned to nobody

[2019-10-09 00:02] zenspider commented on #3380
DONE!

[2019-10-09 00:07] zenspider commented on #3410
You can do this now because all inputs have to specify the name of the profile they go into. Closing.

[2019-10-09 00:07] #3410 closed, assigned to nobody

[2019-10-09 00:16] zenspider commented on #3457
This is possibly fixed upstream.

[2019-10-09 00:21] zenspider commented on #3486
Looks like this is fixed by #3487. Please reopen if otherwise.

[2019-10-09 00:21] #3486 closed, assigned to nobody

[2019-10-09 00:26] #3503 closed, assigned to nobody

[2019-10-09 00:26] zenspider commented on #3503
Referenced documentation is not contradictory as that is referring to migrating from serverspec and describes a correct migration strategy that does not include nested describes.

Nested describes are not supported at this time, as intended. Closing.

[2019-10-09 00:28] clintoncwolfe commented on #4505
Refs #3513

[2019-10-09 01:55] clintoncwolfe opened #4575 "inspec development tests break with rspec-expectations 3.9.0"
# Describe the problem

RSpec 3.9.0 introduced a textual change in its test outcome messaging - see [release notes](https://github.com/rspec/rspec-expectations/blob/v3.9.0/Changelog.md) regarding changing "should" to "is expected to".

Since InSpec uses the messages that RSpec generates, the tests look for very particular strings. This textual change breaks about 9 of our tests. See output below:

[2019-10-09 20:19] kekaichinose commented on #4519
@james-stocks or @skpaterson just trying to clarify impact, but per the customer or CFT, when was the last version they said this functionality worked in?

[2019-10-09 20:20] clintoncwolfe commented on #4519
From internal conversations, two more points:
 * @james-stocks says the workaround does not work (that is, it still talks on the network)
 * @skpaterson says this is actually a regression. I do not know the last working version.

I emphasize that the `vendor` command is not intended to support this usage. You are looking for `archive`.

[2019-10-09 21:37] zenspider commented on #3542
Giving to @kekaichinose to weigh in.

[2019-10-09 21:41] zenspider commented on #3556
I certainly have problems with virtualbox from my mac... I think this might be more of a powershell issue than an inspec issue (from what I've seen... not necessarily above)

[2019-10-09 21:43] miah commented on #3556
This is often a problem in Windows Terminal. As a workaround you can use 'color' to reset the color back to the default.

https://superuser.com/questions/158759/reset-colors-on-windows-command-line-cmd

[2019-10-09 21:44] zenspider commented on #3587
Stale. Closing.

[2019-10-09 21:44] #3587 closed, assigned to nobody

[2019-10-09 21:46] zenspider commented on #3596
No response. Closing.

[2019-10-09 21:46] #3596 closed, assigned to nobody

[2019-10-09 21:49] zenspider commented on #3597
`only_if` is a control-level construct. Extending `describe`  and how a describe is run (ie rspec domain) is outside of our purview.

[2019-10-09 21:49] #3597 closed, assigned to nobody

[2019-10-09 21:50] zenspider commented on #3608
This works now. Closing.

[2019-10-09 21:50] #3608 closed, assigned to nobody

[2019-10-09 21:53] miah opened #4578 "HTTP Issues Epic"
Collection of issues related to http servers and checking if they're running or what their configurations contain.

Also including issues related to the http resource.

[2019-10-09 22:01] zenspider commented on #3648
Fixed by #4011.

[2019-10-09 22:01] #3648 closed, assigned to nobody

[2019-10-09 22:02] kekaichinose commented on #3542
Thank you for filing this issue. As with many large open source projects, we have a backlog of bugs and issues of varying user impact. Some issues are perpetually subject to lower priority than others in our backlog. We have reviewed the issue, and we have determined this a very low priority when considered in the context of the entire backlog. We have elected to close it as "Declined" due to comp

[2019-10-09 22:02] #3542 closed, assigned to kekaichinose

[2019-10-09 22:05] zenspider commented on #3683
DONE

[2019-10-09 22:05] #3683 closed, assigned to nobody

[2019-10-09 22:06] zenspider commented on #3684
We filed an epic #4573 to track this and others.

[2019-10-09 22:09] zenspider commented on #4094
See #3742.

[2019-10-09 22:09] miah opened #4579 "CLI Epic"
Collection of CLI related work.

[2019-10-09 22:10] zenspider commented on #3742
Captured in #4094 and rolled up in #4088.

[2019-10-09 22:10] #3742 closed, assigned to nobody

[2019-10-09 22:14] zenspider commented on #3749
Closing since this is partially covered in #4548. I would expect the need to use `bash -c` on any platform where ulimit is a builtin.

[2019-10-09 22:14] #3749 closed, assigned to nobody

[2019-10-09 22:17] zenspider commented on #3752
I don't think this is (reasonably) possible. Closing.

[2019-10-09 22:17] #3752 closed, assigned to nobody

[2019-10-09 22:21] zenspider commented on #3699
I'm not sure what you want clarified.

As far as "simplify" goes, I think the answer is "no".

As far as your actual problem goes, you could join the array into a string and then use match, or don't use `match` and check that your two args are in the array.

Please close your issue if this addresses your problem or expand on it here. Thank you.

[2019-10-09 22:22] zenspider commented on #3745
DONE?

[2019-10-09 22:22] #3745 closed, assigned to nobody

[2019-10-09 22:31] zenspider commented on #3815
I'm not sure but I thought I hit and fixed this...

[2019-10-09 22:32] zenspider commented on #3815
Yup. Fixed this.

[2019-10-09 22:32] #3815 closed, assigned to nobody

[2019-10-09 22:38] miah commented on #4094
see also #4065

[2019-10-09 22:39] zenspider commented on #4096
Dupe of #3714

[2019-10-09 22:39] #4096 closed, assigned to nobody

[2019-10-09 22:40] #3699 closed, assigned to nobody

[2019-10-09 22:43] zenspider commented on #4068
Painful, but a way to verify is to run our tests with `ruby -w` and watch all the horrible warnings overwhelm your computer until the heat death of the universe.

[2019-10-09 22:56] zenspider commented on #4035
I'm not sure but I suspect this is because that cron entry is just not valid and as such, we can't really expect our parse to pull off the right thing.

[2019-10-09 22:59] zenspider commented on #4120
This is a problem with `inspec-iggy`, not with `inspec`. Please file an issue on that project instead. Closing.

[2019-10-09 22:59] #4120 closed, assigned to nobody

[2019-10-09 23:02] #4196 closed, assigned to nobody

[2019-10-09 23:02] zenspider commented on #4196
This feels like a dupe of #3636. Please correct me if I'm wrong. Closing.

[2019-10-09 23:06] zenspider commented on #4299
This is a train request, not an inspec request. Closing.

[2019-10-09 23:06] #4299 closed, assigned to nobody

[2019-10-09 23:10] zenspider commented on #4420
Dupe of #4382.

[2019-10-09 23:10] #4420 closed, assigned to nobody

[2019-10-09 23:10] zenspider commented on #4382
Adding to this mess in #4420... passwords starting with "-"

[2019-10-09 23:12] zenspider commented on #4239
`describe.one` is the correct answer. Closing.

[2019-10-09 23:12] #4239 closed, assigned to nobody

[2019-10-09 23:14] zenspider commented on #4245
OP... is this a doco issue for you or are you actually having problems connecting? If the latter, can you please file a similar issue on inspec/train as that is what is doing all connection and platform identification.

[2019-10-09 23:19] zenspider commented on #4310
Currently, WSL is an unsupported platform.

[2019-10-09 23:19] #4310 closed, assigned to nobody

[2019-10-09 23:20] zenspider commented on #4318
Please split this up into multiple issues.

[2019-10-09 23:22] zenspider commented on #4551
Assigning to @kekaichinose to weigh in

[2019-10-09 23:47] rjhornsby commented on #4035
What do you see that's invalid about the cron entry? The manpage seems to indicate vars like `RANDOM_DELAY` are allowed.

http://man7.org/linux/man-pages/man5/crontab.5.html

[2019-10-10 00:12] kekaichinose commented on #4408
Epic completed as part of 4.17 release. Closing.

[2019-10-10 00:12] #4408 closed, assigned to kekaichinose

[2019-10-10 01:37] zenspider opened #4580 "Move test/functional to test/integration"
Declare bankruptcy on our functionals and start over.

All of our current "functionals" invoke inspec as a subshell and are thus integration tests. They're incredibly hard to debug and incredibly slow. We have too many (once they're named integrations).

[2019-10-10 06:34] clintoncwolfe commented on #4519
For what it is worth, I just archived the inspec-aws resource pack, then made a wrapper profile for it with a local path dependency on inspec-aws-1.2.1.tar.gz, disabled my wifi, and archived the wrapper profile. It didn't hang or anything. This is on inspec 4.17.26.

So, I think repeated archiving does work, and you can rely on an archive file to work for you in an airgapped environment, even if t

[2019-10-10 07:50] micheelengronne commented on #4196
Not quite. The idea is to handle Inspec profiles themselves as gems. And to handle dependencies between profiles to use a Gemfile (as the profiles are gems).

[2019-10-10 08:20] mhackethal commented on #4570
May i highlight #4388 - for windows prarity? ;)

[2019-10-10 09:17] james-stocks commented on #4519
This differs from the issue reproduction, there's 3 profiles at play in this use case rather than 2:
 * Have a "resource pack" profile (like inspec-aws) in a Github repo
 * Create a profile that depends on the resource pack via a git reference
 * Archive that profile (this.tar.gz is now the Chef compliance profile we ship to customers in Automate)
 * On a workstation that does not have access to G

[2019-10-10 10:18] skpaterson commented on #4519
To clarify, we're not sure if ^ is a regression or not but our understanding thus far has been it should be possible to create further wrapper profiles in isolation based on archived content.

[2019-10-10 17:30] clintoncwolfe commented on #4519
OK, I'm with you, in that I can reproduce the issue as described. Here's what I found.

If I always use a path reference - that is, if I tarball the inspec-aws resource pack, then make a wrapper profile with a local tarball reference PRIOR to sending to the customer - it works fine. You can repeatedly wrap and archive profiles without network access so long as they local path references. I was abl

[2019-10-10 18:05] tderanek opened #4582 "Array be_empty Matcher Not Working Inside describe.one Block, "stack level too deep" Error"
The Array be_empty matcher is not working from inside a describe.one block. When attempting to leverage this pattern, it consistently fails with a "stack level too deep" error

# Describe the problem
Here is an inspec shell session which exemplifies the issue.
[code]

## Possible Solution
I can work around this issue by comparing the subject array to a new, empty array for now. It would be nice fo

[2019-10-10 18:14] frezbo commented on #4582
Fixed in #4565

[2019-10-10 18:17] zenspider commented on #4582
That should be released today. Closing.

[2019-10-10 18:17] #4582 closed, assigned to nobody

[2019-10-10 18:22] tderanek commented on #4582
Truly incredible response time. It has already been handled. Thank you!

[2019-10-10 18:56] zenspider opened #4583 "Cache bundle directory via s3 for BK"
This will take our startup time down by ~3 minutes on linux. We might not bother on windows because the binary gems are so fast.

[2019-10-10 19:40] miah opened #4584 "If `/tmp/gordon/config.yml` exists, tests fall down go boom."
Ref #4577 #4301

[2019-10-10 20:39] #4546 closed, assigned to clintoncwolfe

[2019-10-10 23:10] clintoncwolfe opened #4585 "Telemetry: detect installation type"
## Detailed Description

Detect the installation type - omnibus, homebrew, rubygem, audit cookbook, etc, if possible. See configure_telemeter in base_cli.

## Context

## Possible Implementation

[2019-10-11 07:43] baurmatt opened #4587 "inspec 4.18.0 breaks `subject`-style tests"
# Describe the problem
After upgrading this code breaks:

[code]

[code]

This works with 4.17.17

## Possible Solution
?

[2019-10-11 15:23] james-stocks commented on #4519
That sounds promising @clintoncwolfe I'll test that out - thanks!
If that's the case, we can figure out some workaround where our CI does the git fetch for the tarball that our profiles can then refer to by path.

It would still be ideal to fix this. At least it should be documented or `archive` should generate warnings that the git ref you're archiving might not do what you expect it to.

[2019-10-11 17:50] #4504 closed, assigned to clintoncwolfe

[2019-10-11 18:50] frezbo commented on #4519
Ok the actual issue seems to be left out. I will try to explain the use-case to my best.

*All things happening on a box with network connectivity to Remote Server X*

Profile *B* depends on profile A from an http remote server **X.**
Profile *B* is archived. It includes the `vendor` folder containing profile *A*.
Profile *B* is pushed to remote server **X**
Create a new profile *C* that depends o

[2019-10-12 09:24] miah opened #4588 "Add Ruby 2.7-preview to CI"
We need to start testing against Ruby 2.7 as it will be released in December and contains a huge change that will likely affect InSpec.

https://bugs.ruby-lang.org/issues/14183

[2019-10-14 10:00] james-stocks commented on #4519
I'm trying this with the following steps:
 * Create profile A
 * Archive profile A
 * Create profile B with a `path` dependency to archived A
 * `archive` profile B
 * Move the tar for profile B to some other directory and cd into it (so you only have the archived B. The source directories for A and B and the tar file for A are no longer immediately available).
 * Create profile C with a path depe

[2019-10-14 16:02] kekaichinose opened #4589 "Links not working on InSpec.io Home Page"
### 🎛 Description

🐛 bug report

When you go to the inspec.io home page, the following links do not appear to be clickable:
* The two links in the hero image/banner
  * download inspec 4
  * browse tutorials
* the platform links under section **Features of Chef InSpec**

### 🌍 InSpec and Platform Version

N/A - this is related to the website, not the application

### 🤔 Replication Case

Go to http

[2019-10-14 22:09] zenspider opened #4590 "search bar on website broken if you click anywhere"
When you bring up the doco there is a search bar at the top and the cursor is put into it. If you click anywhere, including in the search bar, you lose focus and can't get it back.

[2019-10-15 05:20] frezbo commented on #4519
@james-stocks yeh this is a strange issue, it still tries to load the profiles even though the *archived* tar's `vendor` folder has all dependencies present. What I have seen is that if the lockfile has a `sha` or `ref` and even if a `vendor/{sha,ref}` folder exists Inspec exec still tries to fetch from the source mentioned in the inspec.yml/inspec.lock whereas it should have used the ones from th

[2019-10-15 10:45] stevendanna commented on #4524
This doesn't appear to be fixed in 4.18.0 which has the referenced commit.

[2019-10-15 10:55] stevendanna commented on #4524
[code]

[2019-10-15 13:10] TheLunaticScripter opened #4591 "inspec archive command fails with stack level too deep error"
`inspec archive` when using a profile that has a dependency on a profile in Automate will fail to archive giving the error below.
[code]

# Describe the problem
When running `inspec archive . --overwrite -o "test.tar.gz"` against a profile with the following `inspec.yml` file

[code]
I have tested this and it works with InSpec version `4.16.0` but doesn't work with `4.17.6` or higher.

[2019-10-15 15:12] clintoncwolfe commented on #4591
@TheLunaticScripter could you give a small sample as to how the wrapper profile was pulling in controls from `cis-rhel7-level1-server` ?

[2019-10-15 15:22] TheLunaticScripter commented on #4591
[code]

[2019-10-15 15:23] TheLunaticScripter commented on #4591
https://github.com/chef/effortless/tree/master/scaffolding-chef-inspec/tests/linux/user-a2-profile-dep is the profile I was testing with.

[2019-10-15 15:31] clintoncwolfe commented on #4591
Thanks!
Verified, looks like this was introduced on 4.16.8 .

[2019-10-15 17:30] clintoncwolfe commented on #4587
I'm not sure that code is proper InSpec code to begin with - I've never seen a port property on a service resource (or are you trying to nest resources?).

This works fine in 4.18.0:
[code]

[2019-10-15 19:42] clintoncwolfe commented on #3640
Done, see https://github.com/inspec/inspec-vault

[2019-10-15 19:42] #3640 closed, assigned to nobody

[2019-10-15 19:49] miah commented on #4591
[code]

[2019-10-15 19:53] miah commented on #4591
@clintoncwolfe @TheLunaticScripter can you please provide full stacktrace?

[2019-10-15 19:58] TheLunaticScripter commented on #4591
[code]

[2019-10-15 19:59] TheLunaticScripter commented on #4591
this is inspec version `chef/inspec/4.18.0/20191010204024`

[2019-10-15 19:59] clintoncwolfe commented on #4591
Here's the whoooole thing - https://gist.github.com/clintoncwolfe/0e8c0b2d20e36f557398936594fee83d

[2019-10-15 22:30] zenspider commented on #4591
I need a repro more than I need a stacktrace. `libraries/shadow.rb` is somewhere and I don't see a link to anything with that file.

[2019-10-15 22:30] zenspider commented on #4591
I suspect this is gonna be a problem around having `libraries/*` if it is the same name as a core resource.

[2019-10-15 23:42] zenspider commented on #4591
OK. I finally got a repro by downloading the latest release and running against one of the inner profiles that had `libraries/shadow.rb`. Now that I understand the problem, I'm not convinced its legit. `libraries/shadow.rb` is problematic, at best, and only exists to monkeypatch an error handler in for inspec v1. As such, we shouldn't bother hitting the code at all.

I've fixed it by modifying the

[2019-10-15 23:52] zenspider opened #4592 "inspec check should NEVER eval the code"
Huge security problem.

[2019-10-15 23:54] zenspider opened #4593 "move all/most `inspec check` validations to a rubocop plugin"
Related to the security problems mentioned in #4592, we could just do a simple ruby syntax check (eg literally just `ruby -c #{path}`) and push the checks that it does to an out-of-band static checker like rubocop.

[2019-10-15 23:54] zenspider commented on #4593
This is a very light weight alternative to #3600.

[2019-10-16 08:20] baurmatt commented on #4587
I'm not 100% sure about nested resource, but I think thats what the code was trying to do. I guess the code is missing some service checks and should really look like this:

[code]

Isn't this proper Inspec code?

[2019-10-16 08:55] frezbo commented on #4587
as @clintoncwolfe mentioned there is no `port` type for service resource, your code was just calling the `port` resource anyways. It would better to re-write it just using the `port` resource and not inside the `service` resource.

[2019-10-16 15:45] clintoncwolfe commented on #3684
Re-opening - this is about creating a CI framework for testing databases, not a duplicate of the db work epic.

[2019-10-16 17:18] miah commented on #4588
There are 2.7-preview images on docker hub, so we should be able to add this to BK.

https://hub.docker.com/_/ruby/

[2019-10-16 17:20] miah commented on #4591
(deleted a double posted comment)

[2019-10-16 18:17] miah commented on #4592
Here are some:

[code]

[2019-10-16 19:00] miah opened #4594 "Catalina Support"
MacOS Catalina includes a bunch of new security functionality. We need to verify that InSpec still works correctly in this environment. We also need to validate that all mac resources work as expected.

[2019-10-16 19:28] miah opened #4595 "Functional Tests for Habitat and Omnibus"
Our functional tests are really integration tests. We need a 'clean' way to execute InSpec to validate habitat and omnibus builds.

[2019-10-16 20:27] miah opened #4596 "InSpec fails when unicode characters are in the path"
In the example below the users home directory is `🌊`:

[code]

ref: https://github.com/chef/chef-dk/issues/2243

[2019-10-16 23:12] zenspider commented on #4596
Can't repro at all... waiting for feedback.

[2019-10-16 23:47] phiggins commented on #4527
EDIT: Turns out I'm describing #4590. Nothing to see here...

As reported in the #docs-support slack channel:

I just ran into a weird behavior on the inspec docs page, repro'able in firefox and chrome on my machine:
* Visit an inspec docs page, eg https://www.inspec.io/docs/reference/resources/groups/
* Type something in the search box (not necessary, but helpful for demo purposes)
* Click somewh

[2019-10-16 23:49] aaronlippold commented on #4555
These should be moved to a separate gem as they are licensed under Apache-2.0 and inspec-scap is not yet apache-2.0

[2019-10-17 13:05] ejaronne commented on #4589
This is confusing a lot of the folks we work with. Is there any kind of ETA you can provide?

[2019-10-17 13:30] kevin-j-smith opened #4604 "Inspec Load Time Performance Uplife"
## Detailed Description
When I want to run one or more specific controls out of a profile AND keep the profile metadata in the results output, I must run like so:
[code]

For what ever reason, the single control that I want to run makes Inspec process all controls.  It must run all control logic outside of describe blocks.  Things that are not needed.

***SIDE NOTE*** and what must be a symptom of

[2019-10-17 13:46] kevin-j-smith opened #4605 "Allow custom profile metadata"
## Detailed Description
Similar to: https://github.com/inspec/inspec/issues/3181

Allow custom 'tags' to be added to inspec.yml and then reported into json reporter.  We also have the need for ASSET information to be added to the report, much like you did with json-automate.  Having custom reporters would cover that, but not the case where we need to track additional information about the profile

[2019-10-17 13:58] frezbo commented on #4587
ok I'm reproducing the same issues now:

[code]

Using inspec resources inside `expect` block only works upto 4.16 and is completely broken above that. Ref: #4564 still seems to be partially fixed. FYI: @zenspider

Another example of failure:

[code]

[2019-10-17 15:16] kmf opened #4606 "Feature Request: Check for the newest package"
## Detailed Description

Package resources should have a
`  its('version') { should be_latest}
`
## Context

Now with a recent `sudo` vulnerability this would be a great way to make sure a package is at it's latest version.

[2019-10-17 19:38] #4301 closed, assigned to miah

[2019-10-17 20:10] zenspider commented on #4589
Pretty sure this is the same as #4590.

[2019-10-17 20:26] zenspider commented on #4604
This is essentially related to #3760.

[2019-10-17 20:28] zenspider commented on #4604
I don't understand what you're getting at with the title... can you clarify?

[2019-10-17 20:58] lnxchk opened #4607 "Documentation Mismatch for Waivers Fields in yaml"
The documentation in docs/waivers.md and at https://www.inspec.io/docs/reference/waivers/  uses two field names for expiring a waiver: expiration_date and expiry_date.

# Describe the problem

In the waivers.md file, the "File Format" section lists the fields and includes
```expiration_date:```
as the date field name.

Below that, in the "Examples:" section, both examples use the field name
```exp

[2019-10-17 21:21] zenspider opened #4609 "Website build process is dangerously destructive and can't be automated"
The latter part of the title is #3859.

But the former? The thing is doing this:

[code]

which is to say, back up a directory (into your working tree for inspec), nuke EVERYTHING, then run `git clean` with force.

## This. Is. Bad.

It also interactively asks questions which means expeditor can't do this stuff. I think this is doing WAY too much and could be simplified tremendously.

[2019-10-18 01:00] zenspider opened #4613 "Website is unbuildable"
The readme hints that if there is a problem rendering CSS that it is because node is missing. I installed node, and still get the same error. There is a disconnect between what the Rakefile is doing and what needs to be available to do it.

[2019-10-18 01:02] zenspider commented on #4613
[code]

[2019-10-18 12:13] roxyland opened #4614 "Long execution times when tests are executed remotely via SSH using the --sudo flag."
A simple control which tests the permissions on a bunch of home directories in a loop, takes a bit over 10 seconds to run without sudo. But with --sudo, it takes over 4 minutes to complete.

`  # Check homedirs for userids > 500
  homedirs = command("lsuser -a id home ALL|sed 's/id=//g;s/home=//g'|awk '{if($2 > 500) {print $NF}}'").stdout.strip.split("\n")

  homedirs.each do |homedir|
    next if

[2019-10-18 13:57] james-stocks opened #4616 "inspec json fails for tar archives with empty files"
There is a blank file in this dev-sec profile:
https://github.com/dev-sec/cis-docker-benchmark/blob/master/libraries/.gitkeep

It probably shouldn't be there, but it's recently started failing `inspec json` due to the fix we did for character encoding with tar files.

NOTE: (@clintoncwolfe): The profile here should be archived using `inspec archive`, then the repro invocation is `inspec json profi

[2019-10-18 17:48] clintoncwolfe commented on #4616
On a minimal profile - just that generated by `inspec init`, with two empty files added in `controls/` and `libraries/`, I can't reproduce this.

[2019-10-18 17:58] clintoncwolfe commented on #4616
I also cloned https://github.com/dev-sec/cis-docker-benchmark and ran inspec's master@72ed84d2 against it - it again succeeded.

[2019-10-18 18:29] clintoncwolfe commented on #4616
UPDATE - it does repro when starting from a tarball.

[2019-10-18 20:11] kekaichinose commented on #4482
@kmf the intended audience for this was internal to Chef, but we are already working on a plan to get this out in a consumable fashion to the community. Appreciate the interest, and stay tuned!

[2019-10-18 20:11] #4482 closed, assigned to clintoncwolfe

[2019-10-19 03:21] kvivek1115 commented on #4591
Getting same error while using audit cookbook to run the profile
[code]

Trace:

[code]

[2019-10-21 08:14] damacus opened #4623 "Gem resource failing with undefined method `installed?`"
# Describe the problem

The following resource has just started to fail and the only thing we've changed is the Inspec version

[code]

## Output

[code]

## Inspec Version

Latest in the ChefDK as of 2019-10-21

## Related Builds

Here's a related PR that was failing and commenting out the test worked:

- https://github.com/sous-chefs/nginx/pull/522

[2019-10-21 12:20] james-stocks commented on #4616
Closing as duplicate of https://github.com/inspec/inspec/issues/4562

[2019-10-21 12:20] #4616 closed, assigned to nobody

[2019-10-21 17:51] kekaichinose commented on #4589
I validated this was fixed by #4608

I don't believe the platform links worked before. Perhaps they should just be images, and not clickable, but that's outside the scope of this issue. Closing.

[2019-10-21 17:51] #4589 closed, assigned to nobody

[2019-10-21 17:53] kekaichinose commented on #4590
@zenspider This was partially fixed by #4608

In verifying this, I found that the search bar button (i.e. magnifying glass) still doesn't work, but you can get around this by using the Enter key. Still, it's UI related, but let me know if you think that should be a different issue.

[2019-10-21 18:15] zenspider commented on #4590
That seems entirely unrelated. Closing and filing a new issue

[2019-10-21 18:15] #4590 closed, assigned to nobody

[2019-10-21 18:15] zenspider opened #4624 "Search bar button isn't hooked up."
looks like it is sibling to the form rather than child... I don't think it ever worked.

[2019-10-21 18:19] kekaichinose commented on #4606
@kmf What are you thinking should be the authority here? The local package DB or InSpec?

[2019-10-21 18:22] kekaichinose commented on #4614
@roxyland How many directories are you iterating over?

[2019-10-21 18:31] kmf commented on #4606
I think it should use the Package DB

[2019-10-21 19:37] #4624 closed, assigned to zenspider

[2019-10-21 19:38] zenspider commented on #4562
This should be fixed. Thanks!

[2019-10-21 19:38] #4562 closed, assigned to nobody

[2019-10-21 20:07] zenspider commented on #3760
OK. As it stands, I've talked about this at length with @kekaichinose and @miah... I think this is the result of a bad design. Controls need to be evaled because their metadata is provided by method calls inside the body of the control (as opposed to keyword args to the control that would cost _nothing_). As such, controls allow for heavy handed resources to be at the top level. We could probably

[2019-10-21 20:24] zenspider commented on #4591
#4597 was merged which should address this for `check` and `archive`. I'm not sure about audit but that's a separate issue as far as I am concerned. Closing.

[2019-10-21 20:24] #4591 closed, assigned to zenspider

[2019-10-21 23:22] zenspider commented on #4555
This is fixed in my destination PR and isn't really an issue on InSpec.

[2019-10-21 23:22] #4555 closed, assigned to zenspider, james-stocks

[2019-10-22 02:10] aaronlippold commented on #4605
I think we should just add the passthrough field to the core json reporter and review #3181 and #3906

[2019-10-22 13:16] frezbo commented on #4587
@zenspider can you please take a look, this kind of breaks a lot of tests.

[2019-10-22 15:46] aaronlippold commented on #4605
Feel free to drop me an email on Google lippold@gmail.com and we can chat
about it and then put in a proposal.

On Mon, Oct 21, 2019, 10:10 PM Aaron Lippold <notifications@github.com>
wrote:

[2019-10-22 18:26] djhaynes opened #4629 "Potential bug in filter code or users resource"
I just tried to run the following code from [1] with InSpec 4.18 and it produces an "invalid date" error message.

It does not appear to be an issue with InSpec v3.9.3. I haven't tested any versions in between.
[code]
[1] https://www.inspec.io/docs/reference/resources/users/

[2019-10-23 00:06] paul1994 opened #4630 "iis_app_pool resource reports Fail when looking for item that does not exist"
When creating a control to see if an IIS application pool is not present, it fails when verifiying that the application pool does not exist.

# Describe the problem

After installing IIS and asp.net and creating a control like so
[code]
This results in an error
[code]

I was expecting that is I used should not exist it would verify that the application pool is not present.
## Possible Solution

[2019-10-23 00:25] roxyland commented on #4614
There 74 directories for the run above where it took over 4 minutes with sudo and ~10 secs without it.

[2019-10-23 14:09] kevin-j-smith opened #4632 "Processes should return parent process"
## Detailed Description
When I get a process from processes I should be able to see its spawned processes and get a link to its parent process.  There are times where I expect to see multiple processes (named the same or match the same regex) and they all belong to the same hierarchy or process tree.  At time it would not be appropriate to see the same process ran under multiple executions where i

[2019-10-23 17:40] samcornwell commented on #2857
Looking at tackling this issue. I think I've figured out how to filter controls before they are executed, but I wondered if you need me to remove the current post-eval filtering that is in the code before you'd accept a PR. It would be redundant to have the results filtering remain, but theoretically not breaking anything.

[2019-10-23 19:57] zenspider commented on #4629
This bug is really about an "invalid date" error and I want to focus on that... *but first* I have to say that this test as a whole is NOT a good way to write this sort of thing. I realize that it is from our doco. I've spotted several other examples that are decided Not Good Testing™.

For example, in the code above, any user from `allowed_users` that does NOT exist does NOT trip a failure. And a

[2019-10-23 22:27] chiprayor opened #4633 "NoMethodError: undefined method `+' for :etc_hosts_allow"
It's seem that the function 'to_s' are missing in the etc_hosts_allow ressource.

# Describe the problem
I have this error on all version since 4.17.x.

[code]

## Possible Solution
I've tried to add the 'to_s' function in the etc_hosts_allow class as followed
[code]
and it's work.

[2019-10-23 23:55] zenspider opened #4634 "Examples in Users resource doco are bad"
See my comments on #4629.

and https://www.inspec.io/docs/reference/resources/users/

[2019-10-24 00:19] #4588 closed, assigned to miah

[2019-10-24 20:23] #4629 closed, assigned to nobody

[2019-10-24 20:24] #4630 closed, assigned to miah

[2019-10-24 20:24] #3921 closed, assigned to nobody

[2019-10-24 20:24] #4633 closed, assigned to miah

[2019-10-25 11:28] mNantern commented on #4328
@KrisShannon do you know if your workaround should work with resources coming from a profile (like [inspec-aws](https://github.com/inspec/inspec-aws)) ?

When I try it only override the core resource (which has the same name unfortunately). Do you know a way to override a profile Resource ?

[2019-10-25 11:40] KrisShannon commented on #4328
@mNantern There has been a massive overhaul with how resources are loaded to enable lazy loading and my workaround no longer works at all.

Until inheritance becomes officially supported we’ve ended up copying the whole resource and patching instead.

[2019-10-25 13:15] mNantern commented on #4328
That's sad but thank you !

[2019-10-25 18:31] clintoncwolfe commented on #4519
Does this statement accurately distill the desired behavior?

`Given an archived profile with deeply nested dependencies with non-local fetchers, inspec should recursively descend into the dependencies, and use the copy of any dependencies already present in the archive, rather than attempting to re-acquire them.`

[2019-10-25 18:34] clintoncwolfe commented on #4395
AS I believe an answer has been provided, I'm going to close this - please re-open if you have further questions.

[2019-10-25 18:34] #4395 closed, assigned to clintoncwolfe

[2019-10-25 19:04] aparnamaleth opened #4640 "Please add Plist gem to Inspec"
The addition of Plist gem to Inspec would be great.

## Detailed Description

We are trying to create profiles for Macs and since a lot of Mac stuff are stored as Plists, it would easier to use the gem than parse Plist content as strings.
## Context

We need to create a profile for Mac Encryption and since most of the Encryption stuff are presented in the form of Plists, it would be really easier

[2019-10-26 04:22] frezbo commented on #4519
@clintoncwolfe yes the statement is correct. 👍

[2019-10-27 01:34] maratsal opened #4643 "file linked_to doesn't work properly"
# Describe the problem
When run kitchen verify it reports that symbolic link is not linked to proper location. However when I check file manually - the link is right:
The check:
[code]

Failure:
[code]

Manual check:
[code]

chef dk version I use:
[code]

And here is my OS:
[code]

[2019-10-27 01:36] maratsal commented on #4643
please let me know if any other information is needed.

[2019-10-28 17:36] miah opened #4644 "file resource shallow_link_path documentation"
We may have some extra '`' in our file resource docs, look at shallow_link_path:

![image](https://user-images.githubusercontent.com/49856/67702351-d1051200-f96e-11e9-8c6d-ffdf3ec242ec.png)

[2019-10-28 17:47] miah commented on #4643
I am unable to reproduce this against master:

[code]

[2019-10-28 17:57] maratsal commented on #4643
I have feeling that somehow when inspec is getting output of checkup command over ssh remotely it is adding some additional ssh session output (it can be related our VM OS setup (could be different than one in your test). Is there a way to run that kitchen verify against VM with more verbose output so that I can see what is fetched from VM to compare with specific test?

[2019-10-28 18:29] clintoncwolfe commented on #4519
Still having trouble with the repro on this. Based on the above statement, having "an archived profile that depends via git on a profile that then depends on another profile via git" should be enough to trigger faulty behavior with networking disabled. But in fact, `inspec exec git2git-0.1.0.tar.gz` works for me with wifi disabled; debugging shows cache copying activity but no git fetch attempts.

[2019-10-28 19:08] frezbo commented on #4519
@clintoncwolfe I'm using the url fetcher, not sure if the git fetcher is affected. Can you also make sure the inspec cache (`~/.inspec/`) is removed after the profile has been archived.

ok, I see a difference in the workflow. `inspec exec <profile tar.gz` whereas I use inspec exec on a profile has a dependency on a profile with a dependency on another profile.

[2019-10-28 19:31] clintoncwolfe commented on #4519
Nod, I'm being careful to purge the cache.

~~It "shouldn't" matter if you're running a bare profile (which has deep, remote dependencies) or if you're running it from an archive - at that point you're reading it locally from the local file reader (either directories or tar-based), which seem to be well-behaved. Point being that "first order" step seems to work fine - I'll be sure to keep testing

[2019-10-28 19:50] rlakey opened #4645 "postgres_conf resource fails if include_if_exists is defined in postgres.conf and file doesn't exist"
Postgres has an include_if_exists option to include other conf files if they exist.  Looks like the postgres_conf resource is looking for these but doesn't have logic to not include them if they do not exist.

# Describe the problem

The postgres_conf resource shouldn't fail if an include_if_exists conf file doesn't exist.

For example
[code]
fails with
[code]
postgresql.conf has these lines in it

[2019-10-28 20:44] miah commented on #4645
Thanks this sounds like a bug.

[2019-10-28 20:47] clintoncwolfe commented on #4519
Looks like the `url` fetcher works OK, too:

[code]

[2019-10-29 06:32] frezbo commented on #4587
@clintoncwolfe This bug seems to have far reaching effects on tests that use Rspec syntax, an example type of tests that are failing

[code]

These tests that define custom `subject` are all breaking. There are a lot of test suites that use this. Upgrading to 4.16 has started breaking almost over 100 tests

[2019-10-29 19:44] clintoncwolfe commented on #4010
We pushed WinRM support out into its own gem, and inspec-core should no longer depend on it.

[2019-10-29 19:44] #4010 closed, assigned to nobody

[2019-10-29 19:56] clintoncwolfe commented on #3891
Verified on 58d9a975c v4.18.15

[2019-10-29 20:13] #4353 closed, assigned to zenspider

[2019-10-29 20:23] #4496 closed, assigned to zenspider, miah

[2019-10-29 21:44] zenspider opened #4647 "We don't have unit tests for Rule/Control"
While working on #4587 and #4524, I found that we do not have an entry point to put tests for rule-level constructs. dsl/control_test.rb is just about metadata and doesn't have anything to do with our runtime or integration with rspec.

[2019-10-29 21:47] #4533 closed, assigned to zenspider

[2019-10-29 22:05] zenspider commented on #4587
This is fixed in #4648 and is a duplicate of #4624. Closing.

[2019-10-29 22:05] #4587 closed, assigned to zenspider

[2019-10-29 23:52] clintoncwolfe commented on #4587
I think you meant a duplicate of #4524.

[2019-10-30 15:00] clintoncwolfe commented on #4519
I've now tested the `compliance` fetcher (which fetches things from Automate) and tried various combinations of fetchers - [this](https://github.com/inspec/inspec/issues/4519#issuecomment-546463236) all seems to work, in the sense of being able to run archives in an offline environment.

[2019-10-30 16:40] frezbo commented on #4519
@clintoncwolfe let me set up a scenario and see if the issue is indeed resolved. I will revert back in a day or two.

[2019-10-30 18:50] atty-stripe commented on #3375
For folks finding this issue on Google, `-P` is only supported on certain distributions of `grep`. Alternatives here: https://stackoverflow.com/questions/3001177/how-do-i-grep-for-all-non-ascii-characters.

[2019-10-30 22:23] #4613 closed, assigned to nobody

[2019-10-31 18:15] clintoncwolfe opened #4655 "Add logging and debugging to plugin system"
## Detailed Description

The plugin system has no logging or debugging, but makes a lot of very interesting decisions.

Refs #874

## Context

## Possible Implementation

[2019-10-31 18:20] clintoncwolfe opened #4656 "Add plugin description to plugin list and search output"
## Detailed Description

Add the gem description to the list and search output.

## Context

This would make it easier for people to know what the plugins do.

## Possible Implementation

Aha! Link: https://chef.aha.io/features/SH-466

[2019-10-31 21:10] #4524 closed, assigned to zenspider

[2019-10-31 21:18] #3891 closed, assigned to clintoncwolfe

[2019-10-31 21:36] kekaichinose commented on #4643
@marastal we tested this out on our own VMs locally and were not able to repro this issue, which means it could be an issue with your VM configuration specifically.

The nature of this issue is turning into what looks to be support-related. We use GitHub issues to track bugs and feature requests. I've moved your issue over to the Chef Mailing List for further follow-up: https://discourse.chef.io/t

[2019-10-31 21:36] #4643 closed, assigned to nobody

[2019-11-01 16:59] multani opened #4661 "The "remote" HTTP resource caches responses across different instances"
We are using the InSpec HTTP resource to ensure the configuration of our AWS Load Balancer have been set correctly, and that the load balancer is actually capable of reaching its backend.

The creation of the load balancer can take some time, so we wanted to have some kind of retry mechanism using `rspec/retry` and be able to write something like this:

[code]

This doesn't work, as the `http` res

[2019-11-01 17:15] clintoncwolfe commented on #4523
I am unable to reproduce the issue using the reproduction code given by the OP, but this code here does indeed break in 4.17.7+ (approximately):
[code]
(note that the `input` call is moved to inside the describe.one)

Failure is
[code]
Mind you, AFAIK #3650 really is true; I don't think we ever had attribute/input support in describe.one blocks - I don't see any evidence of that in the codebase. T

[2019-11-03 03:22] vjeffrey commented on #3535
dearest stale-bot, I believe we should still do the likely small amount of work that is required to ensure a great ux!

[2019-11-03 22:54] trevor-vaughan opened #4664 "The auditd resource does not properly process lists and actions"
Per auditctl(8), the `-a` option can have either `list,action` or `action,list`. However, the current implementation only allows for `action,list`.

## Possible Solution

PR incoming that matches on valid actions for `action` and adds the remainder to `list`.

[2019-11-04 10:29] frezbo commented on #4519
@clintoncwolfe I'm so sorry for making a lot of confusion.

My test case:

*library profile inspec.yml*
[code]

*library profile inspec.lock*
[code]

*dependent profile inspec.yml*
[code]

*dependent profile inspec.lock*
[code]

If I remove the http auth from the inspec.yml and regenerate the lock file and have the library profile on an HTTP server with no-auth `inspec exec` without `~/.inspec/cac

[2019-11-04 18:58] clintoncwolfe commented on #3535
So, we should make an API call to verify the user's credentials and the reachability of the A2 server. What API call should that be?

One simple option would be to query the [server version](https://github.com/inspec/inspec/blob/b1fc46e883904b2a847c40e1d0ed9f963e315687/lib/plugins/inspec-compliance/lib/inspec-compliance/api.rb#L97), though it looks like our code for the A2 API path is wrong (if su

[2019-11-04 19:15] kekaichinose commented on #4519
@frezbo the OP's ask here was resolved, but I think you're coming up with an interesting feature request that would best be put into a new issue. Since you already have that in #3510, we can track that there. Thanks!

[2019-11-04 19:25] zenspider opened #4667 "Unify labels across projects"
I'm 80% done with this... I'm only filing on inspec tho.

[2019-11-04 19:50] zenspider opened #4668 "Introspect and report on platform disparity"
I'm 90% done on this

[2019-11-04 19:55] zenspider opened #4669 "Fix breakage on ruby 2.7"
We have 2.7 running on CI but it is a soft failure and is breaking in many areas.

[2019-11-05 09:37] james-stocks commented on #4519
Hi @kekaichinose -
I don't believe this is resolved. The reproduction steps in [this comment](https://github.com/inspec/inspec/issues/4519#issuecomment-541589057) are still current.

[2019-11-05 14:30] vjeffrey commented on #3535
[code]

[2019-11-05 19:15] sbonds opened #4671 "Documentation Improvement: "See Also" Section"
## Detailed Description

While the search works nicely, this can also be somewhat self-limiting as the search terms that come to mind while reading a resource document are likely to lead back to the same resource. The resource documentation would benefit from some human minds providing links between related resources.

## Context

Showing similar resources would be helpful to people new to Inspec

[2019-11-05 20:08] zenspider opened #4672 "Rename inspec/resources/gem to inspec/resources/rubygem"
We're shadowing the global `gem` method. We should rename our resource and provide a deprecated alias.

[2019-11-05 20:10] zenspider opened #4673 "gem resource's @gem_binary is broken in multiple edge cases"
re: https://github.com/inspec/inspec/pull/4670/files

Switching on the gem binary, assuming `c:\opscode\chef\embedded` exists, not having a windows alternative for `chef_server`, etc. This code is fraught.

If anything, it should just use the pathing provided.

[2019-11-05 21:10] #4607 closed, assigned to nobody

[2019-11-05 22:53] kekaichinose commented on #4224
Talked with PMM and we'll be looking to post this tomorrow, 11/6/19. Will close out once I confirm post.

[2019-11-06 00:33] #4623 closed, assigned to zenspider

[2019-11-06 06:55] zedtux commented on #4288
I'm looking for this too.

It would need a way to use the Kube config instead of SSH as a target so that it runs within pod's containers.

[2019-11-06 07:56] zedtux commented on #4288
Actually I found that there is a [train-kubernetes gem](https://github.com/bgeesaman/train-kubernetes) that could be added to Inspec as an additional backend, but this backbend uses the [k8s-client](https://github.com/kontena/k8s-client) kubernetes client which doesn't seem to be better one and [a discussion is ongoing in order to merge 3 different Ruby Kubernetes clients in a single one](https://

[2019-11-06 09:03] miah commented on #4671
What you've found is that resources have DSL methods for `desc`ription and `example`.

If you want to update documentation, take a look at the [docs](https://github.com/inspec/inspec/tree/master/docs) directory. All resources are found under there.

[2019-11-06 09:03] #4671 closed, assigned to nobody

[2019-11-06 16:30] clintoncwolfe commented on #4647
I suggest we broaden this issue a bit to be a facility for unit testing test fixture profiles in general - like here - https://github.com/inspec/inspec/pull/4648/files#diff-96f66fac5b1b5f40bb9fc4fb8f2a2a61R26 Imagine that, but with the profile code read from disk in the test/unit/mock/profiles area.

This would allow us to write test profiles on disk (for easy generation, editing and diagnosis) ex

[2019-11-06 16:31] clintoncwolfe commented on #4647
Along those lines, if this facility were available:
 [ ] #4666 adds a functional test that is easily converted into a unit test

[2019-11-06 20:00] sbonds commented on #4671
@miah While I'm interested in updating the documentation to provide some information on interrelated items, it wasn't clear from reading some example documents what the best way would be to do that.

Using https://github.com/inspec/inspec/blob/master/docs/resources/file.md.erb as an example, it has sections for Availability, Syntax, Properties, Resource Property Examples, and Matchers. These all s

[2019-11-06 21:03] kekaichinose commented on #4224
This has been pushed out: https://blog.chef.io/5-things-you-can-do-with-chef-inspec-input/

Thanks!

[2019-11-06 21:03] #4224 closed, assigned to mjingle, kekaichinose

[2019-11-06 21:13] mcascone commented on #4623
I see this is closed, but i see a very similar issue with this gem test, just in case it's a case that wasn't fixed:

[code]

tests as:
[code]

[code]

[2019-11-07 03:03] #4463 closed, assigned to zenspider

[2019-11-07 03:03] #4609 closed, assigned to zenspider

[2019-11-07 05:05] scalp42 commented on #3554
I believe it's still something that would be very useful

[2019-11-07 16:58] #3650 closed, assigned to nobody

[2019-11-07 16:58] #4523 closed, assigned to clintoncwolfe

[2019-11-07 17:56] btm commented on #4455
Moving these into a separate library in https://github.com/inspec/inspec-objects/pull/1.

[2019-11-07 21:25] zenspider opened #4676 "Modify functionals to use `--license=accept-no-persist` on all runs"
This will be more resilient to parallel runs that might modify ENV vars or files in the home directory.

Probably supersedes #4200.

[2019-11-07 21:26] zenspider commented on #4200
I think this should probably be closed. ENV vars are just as error-prone in a parallel test environment as files in the home directory. I just filed #4676 which I think is a better alternative.

[2019-11-08 00:43] KrisShannon commented on #1370
This really needs a solution of some kind in the core.

Workarounds like the `command("find ...")` are not general enough.

It probably needs work in the train library

[2019-11-08 01:54] miah opened #4679 "Deprecation's for inspec/objects"
In order to properly jettison [inspec/objects](https://github.com/inspec/inspec/pull/4586) we must mark the code as deprecated.

[2019-11-08 21:12] kekaichinose commented on #3255
Fixed as part of #4654. Closing.

[2019-11-08 21:12] #3255 closed, assigned to miah

[2019-11-08 22:48] #3900 closed, assigned to nobody

[2019-11-08 22:48] kekaichinose commented on #3900
@vdvcardoso per @miah's comment, can you try and add the sleep and see if you're able to repro? I'll close this as there was no follow-up from the earlier ask. If you're still seeing an issue, feel free to open a new issue with updated repro steps.

Thanks!
__Chef InSpec Team__

[2019-11-08 22:51] kekaichinose commented on #598
@kdshah1 Apologies on the (massively) late follow-up here, but as this issue is fairly stale at this point, can you please see if this is still an issue in the current version of InSpec, and if it is, and repro steps and other details so we can look at this in context?

Thanks!
__Chef InSpec Team__

[2019-11-08 22:51] #598 closed, assigned to nobody

[2019-11-08 22:54] kekaichinose commented on #778
This issue has aged. Please open a new issue with repro steps as it applies to the current version of InSpec.

Thanks!
__Chef InSpec Team__

[2019-11-08 22:54] #778 closed, assigned to nobody

[2019-11-08 22:56] kekaichinose commented on #868
Hey @stevendanna, sorry for the late follow-up here, but are you still seeing this in the current version of InSpec? If so, I would love to get this prioritized for the next sprint. Thanks!

[2019-11-08 22:59] kekaichinose commented on #600
@elijah this issue has aged considerably and we apologize that we have not been able to address this in a timely manner. With that said, per @chris-rock's comment, could you share or add a test that makes it really easy to reproduce this behavior on our side?

Once you do, please open a new ticket with repro steps that apply to the current version of InSpec.

Thanks!
__Chef InSpec Team__

[2019-11-08 22:59] #600 closed, assigned to nobody

[2019-11-08 23:05] kekaichinose commented on #753
@lamont-granquist apologies for the late follow-up here, but we still seeing this in the latest version of InSpec? If so, I'd like to get this prioritized in the next couple sprints. Thanks!

[2019-11-08 23:06] kekaichinose commented on #820
This issue has aged. If you're still experiencing a problem, please open a new issue with repro steps applicable to the current version of InSpec.

Thanks!
__Chef InSpec Team__

[2019-11-08 23:06] #820 closed, assigned to nobody

[2019-11-08 23:10] kekaichinose commented on #3936
@pkleanthous Apologies for letting this issue run long, but this looks to be support-related. We use GitHub issues to track bugs and feature requests. If you need support help (i.e. with using Chef InSpec), we recommend that if you are a:

* Chef customer:
  * Please reach out to your Customer Success manager and they can assist you
* Chef community member:
  * Please post to our Mailing List or j

[2019-11-08 23:10] #3936 closed, assigned to nobody

[2019-11-12 14:10] micheelengronne commented on #4672
Would it solve https://github.com/inspec/inspec/issues/4623 ?

[2019-11-12 15:07] samoz83 opened #4683 "Apt is failing to understand urls with arch=amd64"
# Describe the problem

APT resource doesn't accept urls as valid

# Example
Error:
[code]
Control:
[code]
Example apt source file
`deb      [arch=amd64] "http://mirrors.domain.com:8080/mendeley/download/apt" stable main`
`deb      "http://mirrors.domain.com:8080/nvidia" bionic main`

[2019-11-12 16:28] B1ue-W01f opened #4684 "Support or More Transparent Error Handling for .yaml"
## Detailed Description
I appreciate this is entirely user error due to not 'reading the manual' essentially but, unless I'm mistaken, using a .yaml extension rather than a .yml results in an error identifying an incorrectly configured profile.

## Context
Purely for new users, and despite as a standard keeping to .yml, I accidentally used inspec.yaml for my profile. As a new user I spent quite a

[2019-11-12 20:30] #4679 closed, assigned to nobody

[2019-11-12 20:57] zenspider opened #4685 "Fix windows tests in test/functional/inspec_exec_junit_test.rb test/functional/inspec_exec_junit_test.rb 16- _(out.stderr).must_equal "" 17- 18: skip_windows! 19- assert_exit_code 0, out 20- end -- 52- 53- it "has the failures attribute with 0 total tests" do 54: skip_windows! 55- _(suite.attribute("failed").value).must_equal "0" 56- end"

[2019-11-12 20:57] zenspider opened #4686 "Fix windows tests in test/functional/git_fetcher_test.rb test/functional/git_fetcher_test.rb 13- 14- before(:all) do 15: skip_windows! # Right now, this is due to symlinking 16- 17- # We need a git repo for some of the profile test fixtures,"

[2019-11-12 20:57] zenspider opened #4687 "Fix windows tests in test/functional/inspec_archive_test.rb test/functional/inspec_archive_test.rb 37- 38- _(out.stderr).must_equal "" 39: skip_windows! 40- _(out.stdout).must_include "Generate archive " + auto_dst 41- _(out.stdout).must_include "Finished archive generation.""

[2019-11-12 20:57] zenspider opened #4688 "Fix windows tests in test/functional/inputs_test.rb test/functional/inputs_test.rb 131- it "finds the values and does not issue any warnings" do 132- output = run_result.stdout 133: skip_windows! 134- refute_includes output, "DEPRECATION" 135- structured_output = JSON.parse(output) -- 142- it "finds the values but issues a DEPRECATION warning" do 143- output = run_result.stdout 144: skip_windows! 145- assert_includes output, "DEPRECATION" 146- structured_output = JSON.parse(output.lines.reject { |l| l.include? "DEPRECATION" }.join("\n") )"

[2019-11-12 20:57] zenspider opened #4689 "Fix windows tests in test/functional/inspec_supermarket_test.rb test/functional/inspec_supermarket_test.rb 36- _(out.stderr).must_equal "" 37- 38: skip_windows! 39- assert_exit_code 100, out 40- end"

[2019-11-12 20:57] zenspider opened #4690 "Fix windows tests in test/functional/plugins_test.rb test/functional/plugins_test.rb 326- it "can run inspec shell and read a file" do 327- outcome = inspec_with_env("shell -t test-fixture:// -c 'file(\"any-path\").content'", INSPEC_CONFIG_DIR: File.join(config_dir_path, "train-test-fixture")) 328: skip_windows! 329- _(outcome.stdout.chomp).must_equal "Lorem Ipsum" 330- -- 337- outcome = inspec_with_env("shell -t test-fixture:// -c 'command(\"echo hello\").exit_status'", INSPEC_CONFIG_DIR: File.join(config_dir_path, "train-test-fixture")) 338- 339: skip_windows! 340- _(outcome.stdout.chomp).must_equal "17" 341-"

[2019-11-12 20:57] zenspider opened #4691 "Fix windows tests in test/functional/inspec_vendor_test.rb test/functional/inspec_vendor_test.rb 80- out = inspec("vendor " + tmpdir + " --overwrite") 81- 82: skip_windows! 83- _(out.stdout).must_include "Dependencies for profile #{tmpdir} successfully vendored to #{tmpdir}/vendor" 84- -- 118- _(out.stderr).must_equal "" 119- 120: skip_windows! 121- assert_exit_code 100, out 122- end"

[2019-11-12 20:57] zenspider opened #4692 "Fix windows tests in test/functional/inspec_exec_json_test.rb test/functional/inspec_exec_json_test.rb 16- _(out.stderr).must_equal "" 17- 18: skip_windows! 19- assert_exit_code 0, out 20- end -- 39- _(out.stderr).must_equal "" 40- 41: skip_windows! 42- assert_exit_code 0, out 43- end -- 65- _(out.stderr).must_include "WARN: Skipping profile: 'child_profile2' on unsupported platform:" 66- 67: skip_windows! 68- assert_exit_code 0, out 69- end -- 82- end 83- 84: skip_windows! 85- assert_exit_code 0, out 86- end -- 100- _(out.stderr).must_equal "" 101- 102: skip_windows! 103- assert_exit_code 0, out 104- end -- 188- result = actual.delete("results")[0] 189- _(result).wont_be :nil? 190: skip_windows! 191- _(result["status"]).must_equal "passed" 192- _(result["code_desc"]).must_equal "File /tmp should be directory""

[2019-11-12 20:57] zenspider opened #4693 "Fix windows tests in test/functional/inspec_exec_jsonmin_test.rb test/functional/inspec_exec_jsonmin_test.rb 28- _(out.stderr).must_equal "" 29- 30: skip_windows! 31- assert_exit_code 0, out 32- end -- 68- 69- it "has a status" do 70: skip_windows! 71- _(ex1["status"]).must_equal "passed" 72- _(ex3["status"]).must_equal "skipped""

[2019-11-12 20:59] #4685 closed, assigned to nobody

[2019-11-12 20:59] #4686 closed, assigned to nobody

[2019-11-12 20:59] #4687 closed, assigned to nobody

[2019-11-12 20:59] #4688 closed, assigned to nobody

[2019-11-12 20:59] #4689 closed, assigned to nobody

[2019-11-12 20:59] #4690 closed, assigned to nobody

[2019-11-12 20:59] #4691 closed, assigned to nobody

[2019-11-12 20:59] #4692 closed, assigned to nobody

[2019-11-12 20:59] #4693 closed, assigned to nobody

[2019-11-12 20:59] zenspider opened #4694 "Fix windows tests in test/functional/inspec_exec_junit_test.rb test/functional/inspec_exec_junit_test.rb 16- _(out.stderr).must_equal "" 17- 18: skip_windows! 19- assert_exit_code 0, out 20- end -- 52- 53- it "has the failures attribute with 0 total tests" do 54: skip_windows! 55- _(suite.attribute("failed").value).must_equal "0" 56- end"

[2019-11-12 21:00] zenspider opened #4695 "Fix windows tests in test/unit/plugin/v2/installer_test.rb"
test/unit/plugin/v2/installer_test.rb
124-    refute_operator reg, :loaded_plugin?, plugin_name
125-
126:    skip_windows!
127-    @installer.install("inspec-test-fixture", gem_file: gem_file)
128-
--
151-    gem_file = File.join(@plugin_fixture_pkg_path, "inspec-test-fixture-0.1.0.gem")
152-    stdout, _stderr = capture_io do
153:      skip_windows!
154-      @installer.install("inspec-test-fixtu

[2019-11-12 21:00] zenspider opened #4696 "Fix windows tests in test/functional/inspec_exec_junit_test.rb"
test/functional/inspec_exec_junit_test.rb
16-    _(out.stderr).must_equal ""
17-
18:    skip_windows!
19-    assert_exit_code 0, out
20-  end
--
52-
53-      it "has the failures attribute with 0 total tests" do
54:        skip_windows!
55-        _(suite.attribute("failed").value).must_equal "0"
56-      end

[2019-11-12 21:00] zenspider opened #4697 "Fix windows tests in test/functional/git_fetcher_test.rb"
test/functional/git_fetcher_test.rb
13-
14-  before(:all) do
15:    skip_windows! # Right now, this is due to symlinking
16-
17-    # We need a git repo for some of the profile test fixtures,

[2019-11-12 21:00] zenspider opened #4698 "Fix windows tests in test/functional/inspec_archive_test.rb"
test/functional/inspec_archive_test.rb
[code]

[2019-11-12 21:00] zenspider opened #4699 "Fix windows tests in test/functional/inputs_test.rb"
[code]

[2019-11-12 21:00] zenspider opened #4700 "Fix windows tests in test/functional/plugins_test.rb"
test/functional/plugins_test.rb
[code]

[2019-11-12 21:00] zenspider opened #4701 "Fix windows tests in test/functional/inspec_exec_json_test.rb"
test/functional/inspec_exec_json_test.rb
[code]

[2019-11-12 21:00] zenspider opened #4702 "Fix windows tests in test/functional/inspec_vendor_test.rb"
test/functional/inspec_vendor_test.rb
80-      out = inspec("vendor " + tmpdir + " --overwrite")
81-
82:      skip_windows!
83-      _(out.stdout).must_include "Dependencies for profile #{tmpdir} successfully vendored to #{tmpdir}/vendor"
84-
--
118-      _(out.stderr).must_equal ""
119-
120:      skip_windows!
121-      assert_exit_code 100, out
122-    end

[2019-11-12 21:00] zenspider opened #4703 "Fix windows tests in test/functional/inspec_supermarket_test.rb"
test/functional/inspec_supermarket_test.rb
36-    _(out.stderr).must_equal ""
37-
38:    skip_windows!
39-    assert_exit_code 100, out
40-  end

[2019-11-12 21:00] zenspider opened #4704 "Fix windows tests in test/functional/inspec_exec_test.rb"
test/functional/inspec_exec_test.rb
23-
24-  before do
25:    skip_windows!
26-  end
27-
--
370-
371-    it "should print all the results" do
372:      skip_windows!
373-      _(stdout).must_include "×  tmp-1.0: Create /tmp directory (1 failed)"
374-      _(stdout).must_include "×  should not be directory\n"
--
390-
391-    it "should print all the results" do
392:      skip_windows!
393-      _(s

[2019-11-12 21:01] zenspider opened #4705 "Fix windows tests in test/functional/inspec_exec_jsonmin_test.rb"
test/functional/inspec_exec_jsonmin_test.rb
28-    _(out.stderr).must_equal ""
29-
30:    skip_windows!
31-    assert_exit_code 0, out
32-  end
--
68-
69-    it "has a status" do
70:      skip_windows!
71-      _(ex1["status"]).must_equal "passed"
72-      _(ex3["status"]).must_equal "skipped"

[2019-11-12 21:01] zenspider opened #4706 "Fix windows tests in test/functional/inspec_shell_test.rb"
test/functional/inspec_shell_test.rb
94-
95-    it "runs anonymous tests that succeed (json output)" do
96:      skip_windows!
97-      out = assert_shell_c("describe file(\"#{__FILE__}\") do it { should exist } end", 0, true)
98-      j = JSON.load(out.stdout)
--
103-
104-    it "runs anonymous tests that succeed" do
105:      skip_windows!
106-      out = assert_shell_c("describe file(\"#{__FILE

[2019-11-12 21:01] #4290 closed, assigned to clintoncwolfe

[2019-11-12 21:03] #4694 closed, assigned to nobody

[2019-11-12 21:05] zenspider commented on #4672
Already solved, but yes...

[2019-11-12 22:15] zenspider commented on #4661
I imagine this is going to be marked as "works as intended", but here are my thoughts:

I don't think you need to write a full new resource. Instead, I think you can pull down the way you're instantiating your resources:

[code]

vs

[code]

This at the very least wouldn't cache the http resource.

[2019-11-12 22:26] zenspider commented on #4684
`inspec init profile <name>` creates an `inspec.yml` file and avoids this problem entirely.

If I create a new profile, and rename to `inspec.yaml`, I get the following error message on execute:

[code]

That error message indicates that _something_ is wrong with the profile layout, but not specifically what is wrong (because it could be nearly anything).

[2019-11-12 22:58] zenspider opened #4708 "Move lib/fetchers to lib/inspec/fetchers and fix namespacing"

[2019-11-12 22:58] zenspider opened #4709 "Move lib/source_readers to lib/inspec/source_readers and fix namespacing"

[2019-11-12 22:59] zenspider opened #4710 "Move lib/matchers/matchers.rb to lib/rspec or lib/inspec and fix namespacing"

[2019-11-13 00:22] zenspider opened #4711 "Dry up test/functional/inspec_*_test.rb"
Lots and lots of execs w/ the same stuff, per review commentary on #4390.

[2019-11-13 00:24] zenspider opened #4712 "Switch from tmp to root/slash in test profiles"
Per feedback on #4390... now that we're trying to have cross-platform profiles, we should change the labels and filenames around those.

[2019-11-13 07:35] B1ue-W01f commented on #4684
Yeah as I said, I appreciate there are ways to avoid it and its entirely human error that results in it... but nevertheless, the format recommended by YAML isn't supported which increases the chance for it to occur and the error message is quite broad making it difficult to identify, particularly when .yaml doesn't stand out as incorrect.

Seeing as the inspec.yml is an important part of the profi

[2019-11-13 12:20] micheelengronne commented on #4672
Solved in what version ? It is not the case in 4.18.24 (the last published gem).

[2019-11-13 15:42] kkusmin commented on #4661
Thank you for the suggestion. Unfortunately, it doesn't work as it complains about the method `http' being undefined when moving it into the ```it()``` block. I also don't fully understand how it is intended to work, if you could elaborate more, it would be much appreciated.

[2019-11-13 16:29] aaronlippold opened #4714 "Standardize the resources to have a `@conf_path` and or `@conf_file` when applicable."

[2019-11-13 16:50] clintoncwolfe opened #4715 "inspec init profile: do not generate profiles that reference /tmp"
## Detailed Description

The profile generator, `inspec init profile PROFILENAME`, by default generates an OS profile whose controls reference `/tmp` multiple times. This directory does not exist on Windows, resulting in failing tests.

Since the profile generator is often used in demos and in test fixture generation, this should be fixed. Consider checking for `/`.

[2019-11-13 16:50] clintoncwolfe commented on #4712
Refs #4715

[2019-11-13 20:24] tas50 opened #4716 "InSpec 4.18 introduces complex dependency chain via chef-core"
# Describe the problem
InSpec 4.18 added telemetry support by using the chef-core gem. This gem was initially created by the workstation team to extract some logic in the workstation app out into a shared library. This library is no longer actively maintained and includes logic only used by the chef-apply command. By using it in InSpec we introduce 2 separate points where we depend on train-core (

[2019-11-13 20:30] zenspider opened #4717 "Windows seems unable to resolve license files on some edge cases"
https://github.com/inspec/inspec/pull/4390#discussion_r345408630

[2019-11-13 20:31] zenspider opened #4718 "Some functional tests still creating lock files"
https://github.com/inspec/inspec/pull/4390#discussion_r345406192

[2019-11-13 20:33] #4416 closed, assigned to zenspider

[2019-11-13 21:05] kekaichinose commented on #4249
Closed as part for #4390

[2019-11-13 21:05] #4249 closed, assigned to zenspider

[2019-11-13 21:08] #4455 closed, assigned to btm

[2019-11-13 21:24] zenspider opened #4719 "Remove chef-core dependency"
In preparation for moving to chef-telemetry.

[2019-11-13 21:24] zenspider opened #4720 "Add chef-telemetry dependency"
Related to #4719

[2019-11-13 21:24] zenspider commented on #4719
Related to #4716

[2019-11-13 21:25] zenspider opened #4721 "Move telemetry code from chef-core to chef-telemetry"
Related to #4716, #4719, #4720.

[2019-11-13 22:25] kclinden opened #4723 "Windows Users - Last Logon"
Provide the ability to get the Last Logon property of a Windows User Account.

## Detailed Description
I need to be able to detect inactive accounts on a Windows System, and currently, this is only possible via PowerShell, as the Users resource does not expose this property.

## Context
Allows a user to get all accounts that haven't been used in a specified number of days, and then verify that the

[2019-11-13 23:48] #4683 closed, assigned to zenspider

[2019-11-13 23:50] #4716 closed, assigned to zenspider

[2019-11-13 23:50] #4719 closed, assigned to zenspider

[2019-11-14 09:36] james-stocks commented on #3538
Hi @kekaichinose -
I think we should close this ticket; but it's one more case where SCAP tests like from CIS make use of arbitrary AND/OR logic to combine tests together; but InSpec has a specific DSL that only lets you express so much logic between `describe` blocks.
It'd be awesome if a future version of InSpec let users arrange `describe` blocks together arbitrarily.

[2019-11-14 09:36] #3538 closed, assigned to nobody

[2019-11-14 11:57] jujugrrr opened #4725 "Add support for proxy parameter in http resource"
Being able to test http connectivity through proxy only is a common use case for security purpose.
Currently the `http` resource doesn't support providing proxy details for the request

## Detailed Description
The current `http` implementation uses `curl` or `Faraday` to make http requests. Both tools support proxy through environment variables, however I'm not aware of an easy way to tell `http`

[2019-11-14 15:47] clintoncwolfe commented on #3610
Oh stalebot, you mean so well.

[2019-11-14 17:46] clintoncwolfe opened #4726 "Fetchers should fail gracefully"
## Detailed Description

A **fetcher** is the component that knows how to obtain an InSpec profile. There are 4 common Fetchers - URL, Git, Local (aka Path) and Automate/Compliance (a fifth, Mock, exists for testing).

Currently, when a fetcher fails for any reason, a stacktrace appears. This is undelightful.

 * No one likes a stacktrace
 * No useful corrective action for the user to take
 * Diff

[2019-11-14 18:09] clintoncwolfe opened #4727 "Modify Fetcher API to fallback to available archive if fetch attempt fails"
## Detailed Description

If a fetcher fails to fetch a profile (see #4726), and an archive is available, check the archive for the dependency and use the copy of the profile from the archive.

## Context

See #4519 for extensive discussion.

## Possible implementation

It is hoped that this can be handled at a high level, not a per-fetcher basis.

[2019-11-14 18:49] clintoncwolfe commented on #4519
After discussion with @james-stocks, it looks like the most general (though internal) description of the problem is this: whenever a fetcher is used to fetch a profile, if the fetcher fails, and an archive is available, use the copy from the archive. This pattern should be applied recursively each time a fetch occurs.

Future work might go to skipping the initial fetch attempt entirely (#3297).

W

[2019-11-14 18:49] #4519 closed, assigned to clintoncwolfe

[2019-11-14 18:54] clintoncwolfe commented on #3848
I'm going to close this - we get disk snapshots for free from the Chef::Telemeter shared library we were using from chef-core.

[2019-11-14 18:54] #3848 closed, assigned to clintoncwolfe

[2019-11-14 19:25] clintoncwolfe commented on #4717
Spec for where the library is supposed to be looking - https://github.com/chef/license-acceptance#license-file-persistence

[2019-11-15 05:56] mbaitelman commented on #4240
I think #4363 can close this out

[2019-11-15 17:55] alexpop opened #4729 "Report control waiver_data>run to always have a value"
When the `run` property is not specified in the waiver file for a control, `true` is the default value. This is not reflected in the `waiver_data` output of the control in the InSpec exec report.

`run` is an important attribute for a waived control and I would like to see it in the `waiver_data` no matter if it's specified or not for a control in the waiver file. It would remove any confusion whe

[2019-11-15 20:04] zenspider opened #4730 "Releases rarely complete successfully"
Per our retro discussion. This is a placeholder for whatever action items we wind up with.

[2019-11-15 20:13] miah opened #4731 "When we introduce a new dependency we need to announce it internally"
With some work around telemetry we were recently told that we should look towards `chef/chef-telemetry` rather than `chef/chef-core`. This was after much discussion with the maintainers of those code bases a month earlier. This out of band change derailed our sprint.

The issue was around dependency chains and chef-workstation / omnibus.

So, before we introduce a new dependency on any library in

[2019-11-15 21:14] zenspider opened #4732 "Fix `built_in:publish_rubygems` in expeditor to move on w/o error if already released"
This bit us yesterday. It should allow for the possibility that it is already released and move on through the process so we can pick up where we left off.

[2019-11-15 21:22] zenspider commented on #4714
This needs a lot more detail added to it.

[2019-11-15 21:46] mcascone commented on #4445
I'd like to add that there might be a cousin issue here:
This command:
[code]

The input is correctly passed to the execution, however it gives this warning:
[code]

[2019-11-15 22:01] tbugfinder opened #4733 "Support of HCL2 files"
## Detailed Description

Testing of infrastructure depends on the given input. Hashicorp terraform 0.12 is a widely used tool to define and maintain infrastructure as code. Code is written in HCL2 syntax.
Inspec should be able to read such HCL2 file so that it can be used as an input for test-cases.

## Context

Use the defined HCL2 code as input for test cases.

## Possible Implementation

[2019-11-17 15:09] buzzdan commented on #4495
@anapsix when running it i got this:
```undefined method 'port' for #<RSpec::ExampleGroups::Port5001:0x00007fa09069c7a0>``` ...

[2019-11-18 10:43] anapsix commented on #4495
@buzzdan, that statement works with InSpec, I'm guessing RSpec does not have `port` method

[2019-11-18 18:35] clintoncwolfe commented on #4714
Can you give a few examples of non-standard resources? I believe you, I'm just looking for specifics.

[2019-11-20 15:37] tbugfinder commented on #4916
Still I have a hard time figuring out, if AWS and Azure resources should be used from their separate repos or from inspec/inspec.
It sounds like inspec-aws and inspec-azure are preferred however their state is maintained instead of (expected) maintained.

[2019-11-21 09:59] ghost commented on #3433
Any update on this? To use @clintoncwolfe 's example above - it would be nice to run only the controls specified instead of all & filter output.

[2019-11-21 11:35] Lemming3842 opened #4738 "inspec exec ssh custom resources doing shell comands are failing."
[ETA: proper formatting—@zenspider]

When using the directive inspec exec ssh as follows:

[code]

the test seem to be executing correctly on the destination, but custom resources are failing.

The custom resources are executing shell commands. When inspec is executed in the machine locally, they all pass but with exec ssh it seems that the stdout of this custom resources commands are not being ta