[2019-11-22 01:21] zenspider commented on #4667
This is now done (and executed) for inspec, train, and train-winrm.

[2019-11-22 01:21] #4667 closed, assigned to zenspider

[2019-11-22 01:22] zenspider commented on #4669
## Upstreams:

### In Progress

https://github.com/flori/json/pull/388 or https://github.com/flori/json/pull/389 (merged and backported, but not released)

### Done

https://github.com/bblimke/webmock/issues/861 => https://github.com/bblimke/webmock/pull/860 (merged)

https://github.com/fbernier/tomlrb/pull/22 (merged! & released!!!)

https://github.com/piotrmurach/strings/issues/9 => https://gith

[2019-11-23 03:27] sbabcoc opened #4740 "Add information on using resources as standalone objects"
## Detailed Description

The documentation of the standard InSpec resources is entirely focused on using these objects in `describe` blocks, but they are also very useful as standalone objects. However, it's not always clear how to interact with these objects outside of describe blocks. A prime example is the `xml` resource. In order to figure out how to use `xml` objects outside of a `describe` b

[2019-11-25 19:56] #4708 closed, assigned to clintoncwolfe

[2019-11-25 20:11] zenspider commented on #4738
AFAIK, `file.rb` cannot be the subject of your describe... Are you sure that's the code you're trying to run?

[2019-11-25 20:11] zenspider commented on #4738
Please submit a gist of the code in question so we can diagnose.

[2019-11-25 20:53] zenspider opened #4741 "Remove gem repos from test/fixtures"
To do the 2.7 work I had to figure out that we have versioned gem repos in the codebase. This is gross from a maintenance perspective. I don't think it's necessary at all and we can probably remove them entirely.

[2019-11-25 20:53] zenspider commented on #4741
See #4739

[2019-11-25 21:02] #4595 closed, assigned to miah

[2019-11-25 21:02] #4424 closed, assigned to miah, kekaichinose

[2019-11-26 08:24] Lemming3842 commented on #4738
Where I said "file.rb" I meant the name given to the library custom resource given by the attribute name (check code below). Maybe was not the best option to use. In this case, all files in order to test this issue would be:

control/exec.rb:
[code]

libraries/show_files.rb:
[code]

create also a .yml with the content of the path, you can create a couple of dummy files and add them as follows; fil

[2019-11-27 20:04] miah commented on #4733
You might be interested in [InSpec Iggy](https://github.com/mattray/inspec-iggy)

That doesn't parse out HCL2, it parses tfstate.. but it might get you where you want.

[2019-11-27 20:26] tbugfinder commented on #4733
Well, truthful testing shouldn't use values created by the API with the API. In that sense Inspec Iggy could help as a temporary workaround however I'm still researching possibilities getting my HCL2 input as a reference.

[2019-11-27 22:53] kief opened #4744 "aws_vpc resource doesn't support tags, contradicting the documentation"
# Describe the problem

The [documentation](https://www.inspec.io/docs/reference/resources/aws_vpc/) for the aws_vpc resource lists `tags` as a property. It also includes an example:

[code]

When I put this into a control and exec it, I get:

[code]

When I look at the source, I don't see any code for supporting tags.

## Possible Solution

My ideal would be to have the resource support tags. Fai

[2019-11-28 11:36] trickyearlobe opened #4746 "inspec exec summary reports confusing # of total controls"
# Describe the problem
`inspec check` correctly counts the number of controls in a profile, including empty ones
`inspec exec` only counts passes, fails or skips, but ignores empty controls

The trouble is that many profiles (including out of box CIS profiles) iterate over collections which may be empty, defining tests as they go.

This is problematic when trying to explain to customers why a prof

[2019-11-28 15:04] aaronlippold commented on #4229
@kclinden has an interest as well for the VMWare work

I think we would like to add an option to the inputs object - as we did for controls - to add a `sensitive` field.

Do we think we can reuse the bulk of the code from the `controls` implementation?

[2019-11-28 15:06] aaronlippold commented on #4229
related https://github.com/inspec/inspec/pull/2017

[2019-11-28 15:09] rmoles commented on #4744
Hi @kief, thanks for raising this issue. Inspec support for AWS has now moved to https://github.com/inspec/inspec-aws
If this issue is still relevant, please let us know and we can move it across to the inspec-aws repo.

[2019-11-28 15:24] kief commented on #4744
I'll go ahead and close this. It looks like it may be supported there, I need to dig into how to make sure I'm using the right resources. Thanks.

[2019-11-28 15:24] #4744 closed, assigned to nobody

[2019-12-01 20:40] nicutor opened #4747 "Controls from profiles dependencies are not executed"
Hi. This have worked for me before, but not now.

I've created 2 profiles and set the one as a dependency for another, but when executed, the controls from dependent profile is ignore at all.

Is there something I am missing or is a bug?

Thank you.

[code]
The same is happening on windows too:
[code]

[2019-12-01 22:06] nicutor commented on #4747
Ok. I forgot about ```include_controls 'two'``` My Bad :) sorry. Closing this issue.

[2019-12-01 22:06] #4747 closed, assigned to nobody

[2019-12-02 19:08] clintoncwolfe commented on #4721
This is done

[2019-12-02 19:08] #4721 closed, assigned to zenspider

[2019-12-02 19:33] clintoncwolfe commented on #3991
Est 1 for spike

[2019-12-02 19:49] clintoncwolfe opened #4748 "security_policy fails when name contains spaces"
As reported on #3651

[2019-12-02 19:49] zenspider commented on #3747
Moving to blocked and assigning to @kekaichinose... this is a resource issue at this point. We can't do anything real with this until we have something to test against. Maybe that means I should assign to @btm  as well...

[2019-12-02 19:54] zenspider commented on #4471
I did this a while back by deleting the local doco entirely.

#4674

[2019-12-02 19:54] #4471 closed, assigned to nobody

[2019-12-02 20:01] zenspider opened #4749 "Remove aws, and azure resources"
Dunno why this wasn't filed already... this should near the top of our plans for 5.0.

[2019-12-02 20:13] clintoncwolfe commented on #4292
https://www.inspec.io/docs/reference/plugins/ describes plugins and plugin types.  It is however out of date, and needs to be updated with information about inputs per #3884

[2019-12-02 20:14] #4292 closed, assigned to kekaichinose

[2019-12-02 20:22] clintoncwolfe commented on #4288
To be clear, this feature request is to audit the internal contents of a pod?

Not to audit the kubernetes cluster itself, perhaps by talking to the API?

[2019-12-02 20:23] clintoncwolfe opened #4750 "Add parameter validation support to resource base class"
Resources take parameters, but we do not commonly validate them - and when we do, it's not consistent.

inspec-aws has a parameter validation method that is similar to what might be useful - https://github.com/inspec/inspec-aws/blob/f46b1f38ad67980e18f81fa9cea49d9d660767e3/libraries/aws_backend.rb#L194

[2019-12-02 20:34] clintoncwolfe commented on #753
inspec-aws uses this parameter validation method:
https://github.com/inspec/inspec-aws/blob/f46b1f38ad67980e18f81fa9cea49d9d660767e3/libraries/aws_backend.rb#L194

[2019-12-02 20:53] zenspider commented on #4211
This should become an epic and split into each violation.

[2019-12-02 21:27] #4723 closed, assigned to nobody

[2019-12-02 21:50] zenspider opened #4751 "Bundle artifact caching still has false positives for some reason"
#4496 and #4583... should be done. And I've already switched from doing the directories to doing the lock file to try to make it cleaner... but still it fails. I

I should probably add to the script to diff the previous vs the current to show if there is a real problem generating the lockfile or if it is in the digest check tool that we're using.

[2019-12-03 04:34] zedtux commented on #4288
Correct. As an example, I'd like to audit a MySQL pod ensuring it runs with another user than root, ensuring the security configuration are present, and so on.

For now, the workarounds I figured out (not tested yet) are:

 - An init container with `inspec` and inspect the config files, but I can't check the running MySQL server itself
 - A sidecar container (so running for ever) with `inspec`, an

[2019-12-03 14:54] lnxchk opened #4752 "Search icon appears on wrong side of page on docs"
On inspec.io/docs, the search icon appears on the left side of the page under the search bar, but the link to run the search appears on the right, with an empty white outline where the icon would be expected to appear. This was reported on twitter:
https://twitter.com/hautaulogy/status/1201662864878006272

# Describe the problem
Searching still works, but the UI is confusing and unexpected.

## Po

[2019-12-03 20:02] clintoncwolfe commented on #3991
Upon further reading of the OP's issue, I think this is behaving as intended, though perhaps the message could be more friendly.

From the usage help, `inspec exec help`:

[code]

So `--input-file=input.yml zonal_private_cluster` will be interpreted as an attempt to load two input files, and it fails to parse the second, and gives you a message to that effect. Re-arranging the args to clearly sepa

[2019-12-03 20:02] #3991 closed, assigned to clintoncwolfe

[2019-12-04 00:02] zenspider opened #4758 "Linting bugs me"
Just because my code doesn't lint doesn't mean the tests failed... Split it out.

[2019-12-04 03:28] #3430 closed, assigned to nobody

[2019-12-04 03:33] miah opened #4763 "Rename ERB's to end in .erb"
Many files in `lib/plugins/inspec-init/templates/plugins/inspec-plugin-template` are ERB files, but they are named '.rb' rather than '.erb' which means many tools try to process them as ruby files and run into issues.

These files should be renamed. The template system should be updated to work with the erbs.

[code]

[2019-12-04 10:16] zenspider opened #4764 "inspec detect ignores --log-level"

[2019-12-04 10:19] zenspider commented on #4212
Our average BK run is now ~25m... I'll take it.

[2019-12-04 10:19] #4212 closed, assigned to zenspider

[2019-12-04 20:55] #4751 closed, assigned to zenspider

[2019-12-04 20:55] #4583 closed, assigned to zenspider

[2019-12-04 20:55] #4764 closed, assigned to zenspider

[2019-12-04 20:55] #4758 closed, assigned to zenspider

[2019-12-04 20:55] #4720 closed, assigned to zenspider

[2019-12-05 14:56] Lemming3842 commented on #4738
Please let me know if you need extra info once u verify it, or if while verifying it some problems raise.

[2019-12-05 19:23] #4726 closed, assigned to clintoncwolfe

[2019-12-05 20:31] miah opened #4767 "Profiles with improperly defined dependencies should fail fast"
"valid" YAML, but a invalid dependency.

[code]

[2019-12-05 21:35] clintoncwolfe commented on #4593
@tas50 has suggested this could be a subset of cookstyle rules.

[2019-12-06 13:18] multani opened #4769 "Warns about no value for an input, although a value has been set"
# Describe the problem

I created a test profile with this `inspec.yml` configuration:
[code]

I have a simple control which get the values of these (mandatory) inputs and asserts some values based on these inputs:
[code]

I have a input variable file with:

[code]

When I ran InSpec, I get warnings about missing values for the inputs (+ the confusing message from #4445):

[code]

See https://gith

[2019-12-06 15:41] clintoncwolfe commented on #4916
@tbugfinder Definitely use the AWS and Azure resources from https://github.com/inspec/inspec-aws and https://github.com/inspec/inspec-azure . New resources, features, and bugfixes appear there.

The resources that remain in inspec core (that is, in inspec/inspec) are not maintained and exist only for backwards compatibility for people who have not migrated to the resource packs.

[2019-12-06 21:28] sbonds commented on #1439
Shoot-- this seems like an EXTREMELY common item to need to test as part of an environment build out. Being unable to reach specific TCP ports from specific sources is a major source of delays and troubleshooting. Knowing that these basics work well could be a real time-saver, so it's disappointing to see this feature treated as a low priority.

However, this is Open Source. Since Chef won't do th

[2019-12-07 00:02] zenspider opened #4770 "Stop using Rexml"
Switch to the ox gem (which is reportedly wicked fast) or nokogiri for all things xml.

[2019-12-07 00:53] zenspider commented on #4532
Closing

[2019-12-07 00:53] #4532 closed, assigned to zenspider

[2019-12-07 14:34] aaronlippold commented on #4770
We were using nokogiri before but switched to Rexml as it was part of ruby
core - just as an fysa.
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

On Fri, Dec 6, 2019 at 7:02 PM Ryan Davis <notifications@github.com> wrote:

[2019-12-09 20:09] #4575 closed, assigned to zenspider

[2019-12-09 20:09] #628 closed, assigned to zenspider

[2019-12-09 20:50] zenspider commented on #4384
This has been addressed via inspec/train#544.

[2019-12-09 20:50] #4384 closed, assigned to nobody

[2019-12-09 20:51] #4752 closed, assigned to nobody

[2019-12-10 00:37] scalp42 opened #4772 "undefined local variable or method `inspec'"
Hi folks,

I'm not sure if it's expected but it seems that we can't make use of `let`:

[code]

The goal was to lazy-load the `nomad deployment list [..]` command but running into the following issue:

[code]

InSpec version: `4.18.0`

Thanks in advance

[2019-12-10 04:56] pbnipun opened #4773 "Inspec version is default 1.51.25 though downloaded and install new version of inspec 4.18.39"
## Detailed Description
I can't run commands using the latest version of inspec and by default, it's running on 1.51.25 version on inspec. How can I change it to the latest version?

## Context
To run files in linux

![Capture](https://user-images.githubusercontent.com/25146516/70496941-7c40e380-1b37-11ea-95ab-73979424fc99.PNG)

[2019-12-10 18:00] clintoncwolfe commented on #4767
Expanding on that a bit,

We need to validate that the child of `depends` is an array of hashes. As written below, that gets parsed as a hash with two keys, `-name` and `url`:

[code]

whereas proper format is:
[code]
(an array with one entry, a hash with keys `name` and `url`).

[2019-12-10 19:56] #4213 closed, assigned to zenspider

[2019-12-10 20:57] wyardley opened #4774 "Error running inspec vendor"
# Describe the problem

We've started getting an error like the following on a set of tests we run in CI. I've tried updating to latest inspec (4.18.x), but still getting the error. Not sure if this is related to, e.g., #3286

[code]

## Possible Solution

[2019-12-10 21:12] zenspider opened #4775 "Add extra diagnostics for /tmp to BK verify script"
We're seeing intermittent failures and they almost always involve /tmp... I'm wondering if we're filling it up during parallel functionals or something. I'd like to see `mount`, `ls -la /tmp/`, and probably `df /tmp/`... anything to help us figure this out.

[2019-12-10 21:23] zenspider commented on #4775
example: https://buildkite.com/chef-oss/inspec-inspec-master-verify/builds/1255#_

[2019-12-10 21:46] zenspider commented on #4091
I think I've fixed all of these in the last `-w` cleanup.

[2019-12-10 21:46] #4091 closed, assigned to zenspider

[2019-12-10 21:46] zenspider commented on #4094
I've removed the output... but not the install. I'm gonna consider this a win for now.

[2019-12-10 21:46] #4094 closed, assigned to zenspider

[2019-12-10 21:47] zenspider commented on #4088
The only thing left is #4181, which I consider a whole other monster to this one. Closing.

[2019-12-10 21:47] #4088 closed, assigned to zenspider

[2019-12-11 00:26] wyardley commented on #4774
Turns out to be related to https://github.com/inspec/inspec-gcp/issues/217

That said, not sure if anything can / should be done in inspec itself to make it easier to figure out what's going on here, or to display a more helpful message in the case where this happens?

[2019-12-11 01:19] miah opened #4777 "Logging and Errors should go to STDERR always."
When anything prints to STDOUT, it corrupts tests that parse it, eg all the json tests.

[2019-12-11 16:17] callppatel opened #4780 "Don't understand inspec profile since last two days"
From last 2 days, I have started getting below error for GCP
1) Creating profile with command
    inspec init profile --platform gcp my-profile
2) Inspec version

PS C:\> inspec version
4.18.39

3) Error message
PS C:\ciogit\tf12\5064-tfmod-dataproc-google\test\integration\cluster\newfilename> inspec version
4.18.39
PS C:\newfilename> inspec exec . -t gcp:// --attrs attributes.yml --reporter cli
[

[2019-12-11 17:10] james-stocks commented on #4780
Hello -
This looks like the same issue as https://github.com/inspec/inspec/issues/4774

[2019-12-11 23:30] zenspider opened #4782 "Audit of platform support of all core resources"
## These probably have problems

[code]

[code]

## These are probably fine:

[code]

[code]

[code]

[code]

[code]

[code]

[2019-12-11 23:55] zenspider opened #4783 "Write a schema validator for expeditor config"
Got bit again... see #4781

I think we can reverse engineer one well enough by looking at:

https://github.com/chef/expeditor/blob/master/components/expeditor-ruby/lib/expeditor/agent/config.rb

and

https://expeditor.chef.io/docs/reference/configuration/

[2019-12-13 19:50] miah opened #4786 "Alert Mode"
I would like to write tests using InSpec that when run are able to work with a monitoring system like Sensu/Nagios or Prometheus/Alertmanager.

Imagine any series of tests as a profile. If there is _any_ failure we send an alert.

Sensu/Nagios both work by executing the program, capturing STDOUT/STDERR, and checking the return value. This would almost work with our existing 'exec' today, but our r

[2019-12-13 20:32] miah opened #4787 "Better error when host not found"
[code]

[2019-12-16 19:26] fzipi opened #4788 "Add package resource support in FreeBSD"
Executing test using inspec on freebsd fails:
[code]

## Detailed Description
[code]
This should work properly on FreeBSD.

## Context
If you have tests in FreeBSD, well, you kinda want this.

## Possible Implementation
Will attach PR.

[2019-12-16 21:50] #4774 closed, assigned to nobody

[2019-12-16 21:50] miah commented on #4774
Fixed in https://github.com/inspec/inspec-gcp/issues/217

[2019-12-16 21:51] miah commented on #4780
Fixed in **https://github.com/inspec/inspec-gcp/issues/217**

[2019-12-16 21:51] #4780 closed, assigned to nobody

[2019-12-17 15:15] fzipi opened #4793 "Support broader unix platform in postfix_conf resource"
## Detailed Description

Postfix in unix platforms is exactly the same software, the only thing that needs to be changed is where the config files are stored.

Tested with freebsd and works as expected.

## Context

[code]

## Possible Implementation

Just change `supported platform` from `linux` to `unix` in `lib/inspec/resources/postfix_conf.rb`

Will send a PR with this.

[2019-12-17 16:42] anniehedgpeth commented on #4382
I had the same error (`The system cannot find the file specified.`) with a random generated password like this one (test machine that's deleted now)
`++<kj%j>Jsdfb]Lr2EingP8e1cQanY`.

[2019-12-17 22:11] zenspider commented on #4793
Fixed via #4794.

[2019-12-17 22:11] #4793 closed, assigned to nobody

[2019-12-17 22:11] zenspider commented on #4788
Fixed via #4789.

[2019-12-17 22:11] #4788 closed, assigned to nobody

[2019-12-18 17:00] aaronlippold opened #4799 "using `--input` with a Boolean does not work. Always thinks the value is a string"
Not sure if this is a Thor issue at the core - but that would be my guess

[code]

Aha! Link: https://chef.aha.io/features/SH-2165

[2019-12-18 17:03] aaronlippold commented on #4799
CLI can only pass strings if it's Thor. The processor will have to automatically translate String[true/false] to TrueClass/FalseClass for you

[2019-12-18 22:18] TheLunaticScripter opened #4801 "InSpec in Habitat fails to run as an ad-hoc task"
# Describe the problem
One the requirements for the effortless pattern is to be able to run an InSpec profile as part of an image build process. This requires us to be able to run the profile without starting the Habitat Supervisor as the Supervisor will require additional clean up steps once it has been started. With the packages created by Stuart Preston the way we ran packages was by adding the

[2019-12-19 14:06] TheLunaticScripter commented on #4801
I ran another test and this works if inspec is bin linked using the following command `hab pkg install chef/inspec --binlink` this adds the binaries to the `c:\hab\bin` directory and preserves the `GEM_PATH`. I think this is still not an ideal situation but perhaps a valid work around.

[2019-12-19 14:22] frezbo opened #4802 "How to get help for custom resources with examples"
I have a custom library with all resources documented with `example` parameters

[code]

I did an `inspec shell --depends .`

and running:

[code]

[2019-12-19 14:35] rahulthescorpion opened #4803 "couldn't find login name -- expanding `~' (ArgumentError)"
Inspec version - 4.18.51

I am trying to inspec target VM by ssh.

Command used:
inspec exec /path/script.rb --host <host> --port <port> --backend ssh --user <username> --password <password> --reporter json

I am getting expected output when I execute this command with argument values from terminal(ubuntu). I am using python subprocess to call this and got error.

 /usr/local/lib/ruby/gems/2.6.0/g

[2019-12-19 17:33] mjingle opened #4804 "Update Install/Uninstall instructions to include Upgrade details."
## Detailed Description

In addition to Install/Uninstall documentation - to be added in the very near future - documentation should include instructions for Upgrading Chef InSpec for various platforms/methods.

## Context

This would enhance the quality of available documentation and meet user needs.

## Possible Implementation

Write ALL THE (Upgrade) DOCS. Possibly in multiple PRs.

[2019-12-19 20:22] miah commented on #4801
I install via --binlink in my artifact tests:

https://github.com/inspec/inspec/blob/master/.expeditor/buildkite/artifact.habitat.test.ps1

I think the 'fix' for this really needs to live in appbundler though.

[2019-12-20 07:37] rahulthescorpion commented on #4803
Solved

[2019-12-20 07:37] #4803 closed, assigned to nobody

[2019-12-20 11:16] clintoncwolfe opened #4807 "`attributes` array in JSON reporter is always empty"
# Describe the problem

When running the JSON reporter, there should be a data structure describing the inputs under `profiles/*/attributes`. However, when executed (using the example profiles), that array is always empty.

[code]

It does not appear to matter how the inputs are provided - you can set them via metadata, and the reporter still does not have them.  Seems to be a reporter issue.

The

[2019-12-27 20:44] bgeesaman opened #4809 "Installing a user plugin creates an invalid version entry in plugins.json"
# Describe the problem
After installing `train-kubernetes` using `inspec plugin install train-kubernetes`, the `plugins.json` contains an invalid value for the `version`.

To recreate, let's use the docker container:

[code]

Add make/gcc/etc

[code]

Install the plugin:

[code]

Which outputs (notice the empty version):

[code]

The plugins.json file contents holds:
[code]

After making `~/.inspe

[2019-12-28 18:42] drakoswraith opened #4810 "Inspec Habitat Bin Wrapper Breaks custom SSL and cacerts verification"
On Linux, the habitat bin wrapper script for inspec breaks the ability to use custom SSL cert verification by requiring the core/cacerts package, and forcing the value of the SSL_CERT_FILE variable.

This breaks the ability to use "inspec archive" or to build effortless inspec packages where custom CA certs are required.

# Describe the problem
[In habitat/plan.sh, line 70](https://github.com/insp

[2019-12-28 22:00] PowerSchill commented on #2483
With the blocker closed can progress be made on this?

[2019-12-28 23:19] zenspider opened #4811 "lib/inspec/plugin/v1/plugin_types/resource.rb should not exist"
We already have `Inspec::Resource`... there is no reason for this extra level of complexity.

[2019-12-29 17:25] juju4 opened #4812 "can't find executable inspec for gem inspec (Gem::Exception)"
Migration from inspec 3 to 4 in travis-ci
test failing with above error.

# Describe the problem
I'm reviewing a syslog baseline fixing some deprecations.
Initial travis-ci is based on linux-baseline and others which are still on inspec3 (https://github.com/dev-sec/linux-baseline/blob/master/Gemfile).

when forcing Gemfile with inspec4
[code]

previous iteration was failing on input (attribute rep

[2019-12-30 18:30] AnmSaiful commented on #4803
@rahulthescorpion I'm also going through the same issue with another ruby app. Can you please share your solution or the idea? Thanks in advance. :-)

[2019-12-30 23:12] zenspider commented on #4407
And it's not going to be anytime soon. Our controls are instances, not classes... and thus totally broken as far as rspec is concerned.

[2019-12-31 20:35] zenspider commented on #4772
Is there a reason why you went with `Cmd.new` instead of `command` in your `deployment_id` `let`?

Unfortunately, I don't think that's going to work.  I would really like it if it would... but that's a ways off. Try switching to `command` to see if things are initialized correctly.

[2019-12-31 20:45] zenspider commented on #4812
For 3 to 4, I think you want to install the `inspec-bin` gem. This has the executable (and licensing requirements).

[2019-12-31 20:48] zenspider commented on #4810
There is probably a more elegant way to do this in bash (bash? there's no shebang):

[code]

[2019-12-31 20:50] zenspider commented on #4802
The lazy loader is at fault here. Require the file somewhere (even just on a shell prompt) to ensure it gets registered. `help resources` requires all the core resources, but doesn't search through anywhere else. That could probably be extended to be a bit smarter.

[2019-12-31 20:55] clintoncwolfe commented on #4773
Hello! Looks like you have an old version of Chef InSpec installed. We recommend using the [Chef Workstation Installer](https://downloads.chef.io/chef-workstation/0.13.35) for your operating system, which includes up to date versions of all the major Chef tools in an easy to install, OS-specific package.

[2019-12-31 20:56] clintoncwolfe commented on #4773
You may also try running `which inspec` which will identify which Chef InSpec executable is being located by your shell; you can then uninstall the old version.

[2019-12-31 23:46] zenspider opened #4820 "git fetcher tests don't clean up after themselves"
These two keep cropping up after test runs:

[code]

We should use temp dirs for all work that modifies files.

[2020-01-02 06:47] frezbo commented on #4802
@zenspider thanks, doing a `require_relative` did the job. I hoipe this can be extended in the future, meanwhile I will update the internal doc.

[2020-01-02 20:30] clintoncwolfe opened #4824 "Internals: check for archives via ArchiveProvider"
Per https://github.com/inspec/inspec/pull/4806#discussion_r362290078 , there are a couple of places where we try to detect if a file is a Zip or Tarball by instantiating a FileProvider on it then checking for a TarProvider or ZipProvider.

Consider making TarProvider and ZipProvider inherit from a common ancestor that we could detect or provide a predicate.

[2020-01-02 21:13] zenspider commented on #4811
Fixed in #4814.

[2020-01-03 00:29] zenspider commented on #4732
This isn't worth the pain... Closing.

[2020-01-03 00:29] #4732 closed, assigned to zenspider

[2020-01-03 02:15] scalp42 opened #4826 "sudo / ssh issues"
This is related to https://github.com/inspec/inspec/issues/1293 which was unfortunately closed but this would be helpful so you can force force pseudo-terminal allocation.

Using the following test with a non root user (but allowed to sudo as root):

[code]

You'll run into the following issue:

[code]

It seems there's a way to run command with `--sudo` but it forces you to pass `--sudo-password`

[2020-01-04 14:10] juju4 commented on #4812
Thanks @zenspider !

Working with Ruby 2.6 + environment license acceptance
https://travis-ci.org/juju4/inspec-syslog/jobs/632641005#L628

Failing on ruby-head/2.8.0 but rubocop level
https://travis-ci.org/juju4/inspec-syslog/jobs/632641006#L643

ok with 2.7
https://travis-ci.org/juju4/inspec-syslog/jobs/632642754#L625

Ok closing on my side

[2020-01-07 23:50] #4812 closed, assigned to nobody

[2020-01-11 15:07] djessich opened #4830 "Merge CentOS 8 Yum Repo Resource Fix to Inspec 3"
## Detailed Description
Currently Inspec 3 fails to read last repository from YUM using the Inspec yum resource. In Inspec 4 a fix has been merged, which should be backmerged to Inspec 3.

## Context
Testing YUM repositories fail on CentOS 8 with Inspec 3.

## Possible Implementation
Backmerge the Fix from master (Inspec 4) to Inspec 3 as described in #4568.

[2020-01-12 21:47] multani commented on #4495
Some thoughts on that: the workaround from @anapsix only works if the test is executed locally.

On remote targets, it looks like there's some kind of caching mechanism somewhere (?) and once a resource has been checked, it's never re-checked ever.

So, something like:
[code]
**never works remotely** if the file doesn't exist the very first time the `file` resource gets executed.
Locally, it works

[2020-01-13 11:33] anapsix commented on #4495
@multani, I wonder if Inspec's [`bash`](https://www.inspec.io/docs/reference/resources/bash/) (or [`command`](https://www.inspec.io/docs/reference/resources/command/)) could be used as a workaround, or would behave the same way
[code]

[2020-01-13 14:34] james-stocks commented on #4450
In https://github.com/inspec/inspec/issues/3055 I pondered if `name` should be renamed to `register`

[2020-01-13 14:42] james-stocks opened #4831 "Resources should not cache result data, when train already caches"
See https://discourse.chef.io/t/how-to-prevent-tests-to-be-cached-on-remote-targets/16517/5

If a user wants to use the `--no-backend-cache` option to ensure repeated tests get live results, it does not work with some resources. e.g. the `service` resource will [cache results itself](https://github.com/inspec/inspec/blob/master/lib/inspec/resources/service.rb#L181)

I think in general, resources s

[2020-01-13 15:05] multani commented on #4831
#4661 is a related issue, where [the `curl` worker is caching the body, status and response headers](https://github.com/inspec/inspec/blob/a4f4fe5/lib/inspec/resources/http.rb#L210:L218) as well.

[2020-01-13 15:27] multani commented on #4495
I managed to fix some of the caching issues when doing the retries with the help of the `--no-backend-cache` command line option [as mentioned on the forum](https://discourse.chef.io/t/how-to-prevent-tests-to-be-cached-on-remote-targets/16517/4).

As noted there, it doesn't work for all the resources as some are doing internal caching, where your workaround might work. #4831 addresses that problem

[2020-01-13 20:16] bobchaos opened #4832 "aws_* resource docs have unescaped underscores"
All of the aws_* resources document pages have unescaped underscores, which markdown eats up as underlining. These are most obvious in the "properties" section of those pages. Examples:

https://www.inspec.io/docs/reference/resources/aws_security_group/
https://www.inspec.io/docs/reference/resources/aws_subnet/
https://www.inspec.io/docs/reference/resources/aws_s3_bucket (matchers sections)
https:

[2020-01-14 21:14] kekaichinose commented on #4775
Extra diagnostic was added to satisfy this issue. Closing.

[2020-01-14 21:14] #4775 closed, assigned to miah

[2020-01-15 21:02] zenspider opened #4836 "Fix mac group tests so they're properly mocked"
Following up on #4833. My tests are failing on Catalina because the groups are being reported differently... it shouldn't be system dependent. At the same time, I'm glad we caught this.

[2020-01-16 07:34] ugugugug opened #4838 "user resource can't get some information from all numeric user"
# Describe the problem

I use InSpec 3.9.3.
This is quite simple, user resource can't get some information from all numeric user.
Following results are generated from same control, however only the result of all numeric user is failed.

[code]

Ofcourse 100101 user has the values home directory and user shells.

[code]
Are there any workarounds except upgrading InSpec?

Regards.

[2020-01-16 14:54] SowDeu opened #4839 "aws_auto_scaling_group - undefined method"
[code]

# Describe the problem
[code]

Not sure why we are getting above error .Please help.

[2020-01-16 16:49] bobchaos commented on #4832
I've been informed that the aws resources are maintained elsewhere, I'ma close this and reopen it on the appropriate repo

[2020-01-16 16:49] #4832 closed, assigned to nobody

[2020-01-16 19:06] clintoncwolfe commented on #4839
Thank you for posting! I am sorry you are having difficulty. `aws_auto_scaling_group` is not part of core InSpec - you must use a profile that depends on the [inspec-aws](https://github.com/inspec/inspec-aws) resource pack. [Here is an example](https://github.com/inspec/inspec-aws#use-the-resources) of doing so.

I hope this helps!

[2020-01-16 19:08] clintoncwolfe commented on #4838
This is just a suspicion, but have you tried using `eq` rather than `cmp`? `cmp` does a lot of type coercion magic, and is likely getting confused.

[2020-01-16 19:20] clintoncwolfe commented on #4773
As two solutions have been provided and no update has been received in the last two weeks, I'm going to close this. Please comment if more is needed. Thanks!

[2020-01-16 19:20] #4773 closed, assigned to nobody

[2020-01-16 21:00] clintoncwolfe commented on #4699
I have learned the following:

* By simply removing the skips and running the two tests individually, they do indeed pass. So, "yay"!
* The test file appears to hang on user keypress. The run will emit progress dots (`.`), then pause forever, but if you press a key, a dot will immediately be emitted.  I don't know enough enough about multithreading, windows, or how those interact with streams to s

[2020-01-17 00:48] ugugugug commented on #4838
@clintoncwolfe
Thank you for advice. But after that I tried using `eq`, nothing had changed.

By the way, I found the user resource getting two values 'home' and 'shell' by the command `getent`.
https://github.com/inspec/inspec/blob/master/lib/inspec/resources/users.rb#L449

`man 1 getent` says getent handles all numeric key like UID!
[code]

Yes `getent` does not display all numeric user informat

[2020-01-17 10:03] SowDeu commented on #4839
Thank you very much.

[2020-01-17 10:03] #4839 closed, assigned to nobody

[2020-01-18 00:31] michaellihs opened #4842 "Service Resource does not support yocto linux"
Provide support for the `service` resource on Yocto-based linux systems.

## Detailed Description
When your target is a Yocto-based linux and you test for a service in your controls, e.g.

[code]

you get the following output from inspec

[code]

## Context
Service should be supported on Yocto based linux systems

## Possible Implementation
See Pull Request...

[2020-01-21 00:33] timbrammer opened #4844 "Aws::RAM (NameError) with inspec-aws"
# Describe the problem
I'm attempting to manually test against some RAM resources by hitting the client directly. I'm aware that the aws-inspec resource pack does not include the aws-sdk-ram gem. How can I include an additional gem?

## Possible Solution
Can I just clone the aws-inspec profile and update the gemfile?

[2020-01-21 21:10] kekaichinose commented on #1338
Closed in #4737

[2020-01-21 21:10] #1338 closed, assigned to mjingle

[2020-01-22 22:55] #4844 closed, assigned to nobody

[2020-01-23 02:03] KrisShannon commented on #3611
Looking at the [parser in the nginx source](https://github.com/nginx/nginx/blob/release-1.17.8/src/core/ngx_conf_file.c#L503-L817) I'm not sure why there is a separate `identifier` rule

An identifier is the same as any other value.

I have tried deleting `standard_identifier` and `quoted_identifier` and replacing identifier with

[code]

This is working for me.

Should I create a pull request wit

[2020-01-23 14:34] TheLunaticScripter commented on #4810
I don't think that will work I think this line needs to be removed from the plan so that users can specify the `SSL_CERT_FILE` independently.

[2020-01-23 15:43] chris-gooch opened #4847 "oracledb_session.rb missing closing " from line 83"
# Describe the problem
Line 83 of file "inspec/lib/inspec/resources/oracledb_session.rb" is missing the closing " and therefore not working. It is also not throwing and errors or exceptions.

## Possible Solution
Change line to include closing double-quote:

[code]

[2020-01-24 02:25] n3mawashi opened #4850 "Solaris support in the sys.info resource"
# Summary
Currently inspec is unable to retrieve hostname from sys.info resource

# Describe the problem
sys.info is unable to retrieve hostsname. The test code I'm using is below:
[code]
Currenty returns:
resource is not supported with that option on your OS.

# Expected outcome.
sys_info.hostname returns hostname and sys_info.fqdn returns system FQDN. sys_info.ip_address returns system IP addres

[2020-01-24 08:03] sesha27 opened #4851 "Need help - how to integrate inspec tests into gitlab pipeline"
Hi ,

I am new to inspec and in my work place we are trying to implement inspec testing framework for aws , we have tests created in gitlab and now we need to run in pipeline .

Kindly help me understand , how this can be achieved. If any post available for this do redirect me .

Thank you in advance.

Thanks sorted..
Regards,
Sesha

[2020-01-24 14:41] aaronlippold commented on #4851
Please hit me up on slack

[2020-01-24 19:53] #4851 closed, assigned to nobody

[2020-01-24 19:57] miah commented on #4847
Which version of InSpec are you using, it looks like you'll want to update. This issue was corrected with #4654

[2020-01-24 20:02] miah commented on #4847
Actually, It looks like this bug may still exist! I'll PR momentarily.

[2020-01-24 22:34] miah opened #4853 "oracledb_session remove htmlentities"
Currently oracledb_session sets sqlplus to do html output, and then uses htmlentities to parse that output. We should set the output to json and use that instead,  easier to parse and it would remove a dependency.

[2020-01-27 15:51] #4847 closed, assigned to nobody

[2020-01-27 17:07] james-stocks opened #4855 "Website has broken link to file matcher `be_more_permissive_than(mode)`"
See https://www.inspec.io/docs/reference/resources/file/#mode

https://www.inspec.io/docs/reference/resources/file/#be_more_permissive_than?(mode) isn't a working anchor, and in InSpec 4.18.39 the matcher doesn't seem to be available...

[code]

[2020-01-27 17:08] james-stocks commented on #4855
The alternative I'm using is to write my permission tests like

[code]

but having the matcher like @aaronlippold discussed for mitre/inspec in https://github.com/inspec/inspec/issues/3893 would be better (auditors can see directly if the file mode is being tested for the octal value stated in the compliance standard).

[2020-01-27 21:14] zenspider commented on #4668
DONE!

[2020-01-27 21:14] #4668 closed, assigned to zenspider

[2020-01-27 21:15] zenspider opened #4857 "First pass on resource disparity"
Starting with:

[code]

See epic: https://github.com/inspec/inspec/issues/4782

[2020-01-27 21:28] zenspider opened #4858 "Master:Master testing between inspec:automate"
@phiggins is currently working on the automate side of this (and might be done). This is just for tracking against our epic #4422.

[2020-01-27 22:59] phiggins commented on #4858
I've got a PR up for the automate side of things: chef/automate#2657

[2020-01-28 13:28] frezbo opened #4859 "Inspec::Exceptions::ResourceSkipped does not skip for methods inside describe block"
Inspec::Exceptions::ResourceSkipped does not skip for methods inside describe block

# Describe the problem

Designed a custom library like this:

[code]

now the tests look like this:

[code]

Now running these tests product output like this:

[code]

Screenshot:
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/18496730/73267992-1ea84980-4200-11ea-80b6-97bc9186f48e.png

[2020-01-28 15:02] #4727 closed, assigned to clintoncwolfe

[2020-01-28 16:10] james-stocks commented on #2472
Re-opening - the last comments in inspec/train#353 suggest that InSpec will need to require the additional gems needed for net-ssh to work with 25519 kex algorithms

[2020-01-28 17:38] clintoncwolfe commented on #4701
This appears to have been resolved by bb7e69d1

[2020-01-28 17:38] #4701 closed, assigned to clintoncwolfe

[2020-01-28 20:37] zenspider opened #4863 "Master:Master :: Inspec:Train"
Woot.

[2020-01-29 00:09] zpandey opened #4866 "Running inspec on remote host but doesn't get the hostname."
I am using inspec to dynamically get hostname with 'Socket.gethostname' but when I run the test in the remote machine via SSH it still gets the hostname of the inspec server instead. Is there a better way to get the hostname of remote server while running in remote host?

Script:
host = Socket.gethostname
puts host

control "comp-1.0" do
        impact 1.0
        title "Check hostname!"
        d

[2020-01-29 15:06] zpandey commented on #4866
Sorry for being newbie in ruby and inspec.
This gave me what I wanted:
host = sys_info.hostname

Thanks.

[2020-01-29 15:06] #4866 closed, assigned to nobody

[2020-01-29 16:03] #4700 closed, assigned to clintoncwolfe

[2020-01-29 16:26] sean-horn commented on #4500
Additionally, the docs at https://www.inspec.io/docs/reference/cli/ do not mention the necessary server argument seen first here `inspec compliance login https://ec2-52-13-18-55.us-west-2.compute.amazonaws.com --insecure --user=admin --token='xxxxxxxx'`

[2020-01-29 21:06] zenspider opened #4867 "command resource should be able to specify need for sudo"
We shouldn't have to run the entire run in elevated privs, instead commands that know they need elevated privs (eg `crontab -l -u <user>`) should be able to do something like `sudo:true` to pass down to train (which (I think) already has the ability to run one-offs w/ elevated privs).

[2020-01-29 21:11] zenspider opened #4868 "filesystem resource does not work on BSDs"
Currently does `df / -PT` and the `-T` flag is different in the BSD family (takes a filesystem type). We verified that the flags should be fine on AIX and a couple others but this one slipped through.

[2020-01-29 23:49] #3765 closed, assigned to zenspider

[2020-01-30 00:05] zenspider opened #4870 "more output in our tests"
Please no. I've done a lot of work to make our tests as noise free as possible.

[code]

[2020-01-30 00:07] #4857 closed, assigned to zenspider

[2020-01-30 09:27] jujugrrr opened #4873 "inspec exec --insecure not working with profile"
# Describe the problem
Passing `--insecure` doesn't allow to bypass SSL verification when downloading profiles over https

[code]
## Possible Solution
It looks like https://github.com/inspec/inspec/blob/master/lib/inspec/fetcher/url.rb#L239 doesn't work because https://github.com/inspec/inspec/blob/master/lib/inspec/fetcher/url.rb#L98 is `nil` despite the diagnose showing the option

[2020-01-30 09:58] james-stocks commented on #3309
We no longer depend on these classes from this repo, we took our own copies.

[2020-01-30 09:58] #3309 closed, assigned to nobody

[2020-01-30 10:23] james-stocks commented on #3760
There's 2 issues here:
1. The original issue description is only concerned with results - the customer expected to see the skipped control appear in their results list, with a skipped result.
2. Later comments in this issue discuss the bigger problem (that I wasn't aware of at the time of filing the issue) that skipped controls are still evaluated.

We should split this issue into 2, or make it an

[2020-01-30 11:46] walterdolce commented on #4394
On macOS, it took `9.9s` to get version `4.18.0`. So it sounds like this is not only valid for Windows platforms.

[2020-01-30 11:49] walterdolce commented on #4394
For context, please see below.

<img width="1916" alt="Screenshot_2020-01-30_at_11_46_56" src="https://user-images.githubusercontent.com/6195629/73447373-7eb10400-4356-11ea-869d-a12bf30de2d4.png">

[2020-01-30 19:07] clintoncwolfe opened #4875 "Telemetry - capture time to command start"
## Detailed Description

As a data point on the invocation instrumentation point, try to portably determine the time since the the process started. Without this, duration only reflects the time of the command itself; for small commands like `version`, all the pain is in startup.

## Context

We can track performance improvements over versions.

## Possible Implementation

[2020-01-30 20:49] kekaichinose commented on #4178
Received recent customer feedback on this as well. Will consider for prioritization in the next sprint.

[2020-01-31 09:52] frezbo commented on #3637
I seem to have hit a snag with using the kramdown gem. I am writing a resource pack to parse markdown files. It seems an overkill to create a plugin just to have a dependeny on the `kramdown` gem. The easiest and most user friendly solution would be to support adding gem dependencies in the profile metadata.

[2020-01-31 13:49] EasyAsABC123 commented on #4252
I also had this issue.

**Here is how I resolved it:**
1. Changed my PATH to have PS 6 above PS 1
2. Updated my Script to not have Write-Host in it

Changed Script to work without `Write-Host`:
[code]

Original `Write-Host` Script that fails:
[code]

[2020-01-31 15:02] Happycoil opened #4879 "HTML reporter + inspec azure throws unhelpful error"
# Describe the problem

Running inspec-azure and trying to use the html reporter throws an unhelpful error:
[code]

# Repro:
controls/main.rb:
[code]
inspec.yaml:
[code]
Running inspec in an Azure Pipelines AzureCLI@2 task:
[code]
This throws the error described above. Using a different reporter like junit works fine. This may be a problem with inspec-azure similar to https://github.com/inspec/ins

[2020-01-31 22:43] miah opened #4881 "`test/fixtures/profiles/old-examples` should be removed"
* Many of the profiles in here are replicated from the `project_root/examples` directory.
 * Many of the profiles in here are superseded by profiles in `test/fixtures/profiles`.
 * Any tests that rely on `old-examples` should be updated to rely on `test/fixtures/profiles`.
 * `test/fixtures/profiles/old-examples` should be removed.

[2020-02-01 01:51] #4698 closed, assigned to clintoncwolfe

[2020-02-01 01:51] #4699 closed, assigned to clintoncwolfe

[2020-02-03 06:51] kmf commented on #4368
@kekaichinose no not really.

[2020-02-03 19:50] zenspider commented on #4831
@james-stocks please don't link to "master" as that always shifts underneath your reference...

I think you're referring to this:

https://github.com/inspec/inspec/blob/3cfd35f98f71cf6e29dc7a38abeb73f767d0a90e/lib/inspec/resources/service.rb#L189

(why oh why isn't there a pretty version of this?!?!)

[2020-02-03 19:53] zenspider commented on #4831
Also, please file an issue PER resource... blanket issues are too hard to say that we're done.

[2020-02-03 19:56] zenspider commented on #4820
this looks like it has been fixed.

[2020-02-03 19:56] #4820 closed, assigned to nobody

[2020-02-03 20:00] zenspider commented on #4838
I think that if the problem is that `getent` doesn't handle numeric usernames, then the problem is with the OS/distro and there is little we can/will do about that. Have you filed an issue with your OS/distro? Can you link it here for reference please?

[2020-02-03 20:00] #4842 closed, assigned to nobody

[2020-02-03 20:00] zenspider commented on #4842
#4843 has been merged... but this wasn't linked in for automatic closure...

[2020-02-03 20:06] zenspider commented on #4859
Yes, this is true and unfortunately by design. This is also a dupe of some number of other issues (#3760 at the very least). Closing.

[2020-02-03 20:06] #4859 closed, assigned to nobody

[2020-02-03 20:09] zenspider commented on #4870
Appears fixed.

[2020-02-03 20:09] #4870 closed, assigned to nobody

[2020-02-03 20:19] zenspider commented on #4838
Also, please provide info like your OS when filing these types of issues... there's a lot of nuance in these types of things.

[2020-02-03 23:05] zenspider commented on #4222
[code]

[2020-02-04 08:31] frezbo commented on #4859
@zenspider Thanks for the clarification. Is there any other way to skip a test inside a describe block rather than using `it` and `skip` in the test itself, I would like the resource pack to handle that.

[2020-02-04 20:59] #4222 closed, assigned to nobody

[2020-02-05 15:14] trickyearlobe opened #4886 "waivers dont prevent control execution or total results correctly"
A customer is trying to use [waivers](https://www.inspec.io/docs/reference/waivers/) to work around issues like #3433 where `skip_controls` doesn't actually prevent control execution.

This issue describes a similar problem with waivers.

# Describe the problem
If we take an example profile like CIS Azure Benchmark Level 1 and apply waivers for every control in a  `waivers.yaml` looking something

[2020-02-05 18:55] btm opened #4888 "Use Windows Ruby Installer image from S3 Cache"
In https://github.com/chef/release-engineering/issues/864 we manually put a copy of the Windows Ruby Installer in the S3 cache to avoid the rate-limiting from Github. We need to switch to using this URL to download the Installer now:

https://public-cd-buildkite-cache.s3-us-west-2.amazonaws.com/rubyinstaller-devkit-2.6.5-1-x64.exe

- omnibus/omnibus-test.ps1
- .expeditor/buildkite/artifact.habitat

[2020-02-05 22:17] sbonds commented on #3869
Don't let the perfect be the enemy of the good.

I have a bunch of horrible workarounds in place to allow me to pull much needed info (like the host name) out of a pile of JSON files after an Inspec run. Adding the basic info in #3885 to the platform area is exactly what I could use today to make parsing the output collection more reliable.

[2020-02-05 23:46] miah opened #4889 "inspec_vendor_test.rb connects to supermarket, should use webmock/vcr"
Supermarket was down, and suddenly our tests started failing.

https://buildkite.com/chef-oss/inspec-inspec-master-verify/builds/1524#d0b9e9cf-ed17-4482-8c81-b339117faad7

[code]

[2020-02-05 23:55] jayan800 opened #4890 "undefined method `Transmit Hash Policy' for Bond bond0:#<Class:0x00000000054d9f90>"
# Bond resource and check for bond policy is throwing error
When I'm using the bond resource and check for bond policy, I'm getting a error message.
Error Message:
undefined method `Transmit Hash Policy' for Bond bond0:#<Class:0x00000000054d9f90>

The complete output is as following:

[code]

Below is the bond output from the system:

[code]

Inspec Bond profile details:

[code]

Can any one help

[2020-02-06 00:12] ugugugug commented on #4838
@zenspider
Sorry and all right about your comment.
This is my OS info:

[code]

I'm not sure about official `getent` references,
but maybe "The Linux man-pages project" is useful.
http://man7.org/linux/man-pages/man1/getent.1.html

[2020-02-06 00:41] zenspider commented on #4863
YES: https://buildkite.com/chef-oss/inspec-inspec-train-master-verify

[2020-02-06 00:41] #4863 closed, assigned to zenspider

[2020-02-06 11:04] frezbo commented on #3342
I guess we can close this now.

[2020-02-06 16:00] samcornwell opened #4891 "File resource `more_permissive_than` matcher file existence check inconsistent"
When the file does not exist and the `more_permissive_than` matcher is used, an exception and backtrace is generated and written to the reporter JSON.  This is inconsistent with all the other parts of the `file` resource, none of which also do this sort of check. This is taken care of by the resource itself. It caused some confusing behavior in my tools which check the JSON's backtrace attributes

[2020-02-06 19:20] johnmccrae opened #4893 "Update the OS Resource to match the naming conventions of other Chef products"
## Detailed Description
The OS resource for Inspec uses the label of 'darwin' to describe OSX. This is not in keeping with the nomenclature used by the other chef products. Can you please 1) Change the name to 'mac_os_x' to match everyone else and 2) Update hte docs here - https://www.inspec.io/docs/reference/resources/os/ to actually show OSX support?

## Context
It creates a LOT of confusion and

[2020-02-06 23:51] miah opened #4894 "The documentation for the File resource type property isn't clear."
It is unclear from the documentation that these types are :symbols (yes there is a comment about it below, but...)

https://www.inspec.io/docs/reference/resources/file/
https://github.com/inspec/inspec/blob/master/docs/resources/file.md.erb#L181-L193

![image](https://user-images.githubusercontent.com/49856/73988622-146d0600-48f8-11ea-8770-60e50e570fe4.png)

We may want to change these to eg:

[co

[2020-02-07 19:19] clintoncwolfe opened #4896 "Hab package artifact test failed to catch broken v 4.18.85"
Manual testing of 4.18.85, which was briefly the stable release, resulted in this output:

[code]

The artifact tester should catch that - https://github.com/inspec/inspec/blob/master/test/artifact/inspec_version_test.rb

# Describe the problem

## Possible Solution

[2020-02-07 21:40] zpandey commented on #4445
I am seeing the same warning messages even though the value has been provided. It actually gets the value and run the control successfully but still gives warning on the top. Is it going to be fixed soon?

[2020-02-07T16:33:50-05:00] WARN: Input 'hostname' does not have a value. Use --input-file to provide a value for 'hostname' or specify a  value with `attribute('hostname', value: 'somevalue', .

[2020-02-07 22:57] n0coast opened #4899 "inspec containers newer then 4.18.51 exhibit issues when passing --sudo flag"
The docker container chef/inspec changed behavior after 4.18.51 when run against a remote ssh target and passing the --sudo flag

# Describe the problem
The docker container chef/inspec changed behavior **after** 4.18.51.
Starting in 4.18.52 when running  exec against a remote ssh target and passing the --sudo flag the run will hang at `cmd = sh -c '(sudo -v) < /dev/null'`.
Starting in 4.18.65 the

[2020-02-10 19:07] kekaichinose commented on #4807
Closed by #4883

[2020-02-10 19:07] #4807 closed, assigned to nobody

[2020-02-10 19:11] clintoncwolfe opened #4900 "Telemetry: Instrument runtime context"
## Detailed Description

Determine how inspec is running - via CLI, under test kitchen, under audit cookbook, or unknown.

This is the "second question" of Telemetry.

## Context

This allows us to determine how people are using inspec.

## Possible Implementation

Stack introspection?

[2020-02-10 19:16] kekaichinose commented on #4811
Fixed in #4814

[2020-02-10 19:16] #4811 closed, assigned to zenspider

[2020-02-10 19:21] kekaichinose commented on #4858
Going to table this in-lieu of some InSpec 5.0 initiatives. Should reenter within the next 2-3 sprints

[2020-02-10 19:29] zenspider opened #4901 "get artifact-habitat green"
Until this is green, we shouldn't ship.

https://buildkite.com/chef/inspec-inspec-master-artifact-habitat/builds/166#_

[2020-02-10 19:31] kekaichinose opened #4902 "Removing NPM model"

[2020-02-10 19:32] kekaichinose opened #4903 "Resource Packs need to be proper packages with dependency support and the like"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?

Briefly describe the issue and the expected behavior. Also, please be aware of our [Code of Conduct](https://github.com/inspec/inspec/blob/master/CODE_OF_CONDUCT.md).

### 🌍 InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are usin

[2020-02-10 19:36] zenspider opened #4904 "Audit and clean JSON dumps"
We have a LOT of duplication in our JSON output. If we do what we can to identify that and clean it up, it should reduce the impact on automate and other report processors.

[2020-02-10 20:36] #4585 closed, assigned to clintoncwolfe

[2020-02-10 21:28] aaronlippold commented on #4904
This is a good thing to push into the schema work right?

On Mon, Feb 10, 2020, 2:36 PM Ryan Davis <notifications@github.com> wrote:

[2020-02-11 10:45] skpaterson commented on #4916
hi @kekaichinose - looks like this should be transferred back to InSpec because the deprecation notice should be added to the old core resources.

[2020-02-11 16:30] miah opened #4906 "Improve docs for CLI `--config` option"
The current docs go this far:

[code]

https://www.inspec.io/docs/reference/cli/

This needs at least a couple of examples.

[2020-02-12 10:16] Mukund-UBS opened #4909 "Profile git dependency failed for cis-rhel7-level2-server-2.2.0-25.tar.gz - error running 'git ls-remote"
Hi,

I have created my Wrapper profile and in inspec.yml i have given my dependencies like below -

depends:
- name: cis-rhel7-level2-server
  git:  Address of cis-rhel7-level2-server-2.2.0-25.tar.gz file present in my github.

While running the inspec vendor . i am getting error of git dependency failed.  Please let me know if i am not giving dependency in correct manner.

PS:- This issue is only

[2020-02-12 17:22] GregSloan opened #4911 "Documentation: Waivers documentation page has wrong order for command flags"
The waivers doc shows executing with the flags before the path to profile. This does not work. it needs to have the path to profile first.

currently:
`% inspec exec --waiver-file waivers.yaml path/to/profile`

should be:
`% inspec exec path/to/profile --waiver-file waivers.yaml`

[2020-02-12 21:36] coding-blip opened #4915 "Missing platform information for winrm connection to Windows 10"
# Problem

I have seen the following issue with all of the following InSpec versions:
- 4.18.85
- 4.18.51
- 4.18.38

I first noticed the issue when a kitchen verify failed on a node when checking for an installed package. When logging into the node directly and checking the packages were installed, it showed that they were indeed installed as expected.

I then ran inspec shell locally on the node

[2020-02-12 21:37] kekaichinose commented on #4916
@skpaterson good call, sir. I needed to think this one through a little more before transferring. I moved it back to InSpec. Thanks!

[2020-02-13 05:54] n3mawashi opened #4917 "Solaris process and pid options for inspec port test."
## Detailed Description

Port.rb used netstat command to test if port is listening. Solaris however has no option to gather and test on process and pid.

## Context
Ideally, we want to test that a listening port process is the right process and not stolen by another process. example below.

`describe port(7001) do`
`  it { should be_listening }`
`  its('processes') {should include 'java'}`
`end`

[2020-02-13 18:41] usan-systems commented on #2483
I, too, would like to make use of the service resource on Windows.

[2020-02-13 20:12] #4664 closed, assigned to nobody

[2020-02-13 20:37] clintoncwolfe commented on #4916
This issue is misleading and should be closed. The goal is to put a a note where it will be seen (in the resource pack) since the core doc files are not rendered on the website AFAIK.

[2020-02-18 03:17] nbirnel opened #4920 "Misleading warning for aws resource packs"
# Describe the problem

[code]

Running `inspec exec . -t aws://`
Yields warnings for every single aws resource:
[code]
Tried with these three `inspec.yml` snippets:
[code]

[code]

[code]

Without the resource pack loading, I have been unable to use `aws_alb`, for instance.

## Possible Solution

I imagine I am simply doing something wrong. However, as a new user, this warning leads me nowhere us

[2020-02-18 08:36] yangpeng-chn opened #4921 "user resource maxdays invalid date error"
# Describe the problem
Profile:

[code]

Result

[code]

Verification

[code]

## Possible Solution

It looks to me for other users, it won't output error if the `Lass password change` is not `:never`.

[2020-02-18 09:39] finferflu commented on #4920
@nbirnel this is what I have in my current setup and it works:

[code]

Have you removed the `inspec.lock` file every time you've made changes to the `inspec.yml` file?

[2020-02-18 15:46] lmayorga1980 commented on #4909
:+1:

[2020-02-18 15:59] ObiH15 opened #4922 "Unable to fetch dependency with http://authToken@path-to-profile.git"
Hello! I am using test-kitchen in conjunction with inspec profiles for my testing suite. I am able to successfully authenticate to my InSpec profile location to execute inspec tests.

However, if I include profile dependencies in my .inspec.yml file (referencing other InSpec profile repos), I get the following error:

`Failed` to complete #verify action: [Profile git dependency failed for http://a

[2020-02-18 16:59] nbirnel commented on #4920
@finferflu I had not tried that. Now that I have, I get:
[code]
This continues to occur, even when I revert `inspec.yml` and remove `inspec.lock`.

[2020-02-18 17:18] xorima commented on #722
I am pretty sure this functionality is in the `interface` resource: https://www.inspec.io/docs/reference/resources/interface/

[2020-02-18 17:29] finferflu commented on #4920
@nbirnel [I have seen that error](https://github.com/newcontext-oss/kitchen-terraform/issues/384), and it seems to be caused by Inspec version `4.18.85`. Regressing to version `4.18.51` has helped me. Try:

[code]
And rerun `inspec`.

[2020-02-18 18:14] clintoncwolfe commented on #4909
Please provide the entire error message.

[2020-02-19 02:41] akr257 opened #4924 "The "service" resource is not supported on your OS yet - Windows 2016"
The service resource no longer works on Windows. I have used this resource quite extensively in the past (about 6-8 months ago)

[code]
inspec installed from: https://packages.chef.io/files/stable/inspec/4.18.85/windows/2016/inspec-4.18.85-1-x64.msi

Snippet of my test case

[code]

Snippet of execution test results

[code]

[2020-02-20 16:02] g1ps commented on #4924
One more here. Pointing InSpec from this Win10 laptop to both Win2012R2 and Win2019 servers fails with the same message. Service tests were working until recently. It does also appear that my production tests aren't running on one of the same servers, although other servers are working. Those are using a much earlier version of InSpec 4 and service tests are working on one of those same machines.

[2020-02-20 16:16] g1ps commented on #4924
It's impossible to tell from the error reported which OS it's actually referring to. I removed the -t arg and tested my own Win10 machine. Same result. Once I can get to the prod. runners I'll do some testing there and report.

[2020-02-20 17:25] ObiH15 commented on #4909
I am having the same issue. Please see #4922

**ERROR:**
Failed to complete #verify action: [Profile git dependency failed for http://authToken@path-to-profile.git - error running 'git ls-remote "http://authToken@path-to-profile.git" "master*"': fatal: http://authToken@path-to-profile.git/info/refs not valid: is this a git repository?`

[2020-02-20 18:45] clintoncwolfe opened #4925 "inspec breaks custom resources after 4.18.83"
# Describe the problem

The library eval context work on #4814 (included on 4.18.85 and 4.18.95) introduced a regression breaking the inspec-aws resource pack (EDIT: any resource pack that defines custom resources by calling `Inspec.resource(1)` in the `libraries/` folder).

One workaround is to use version 4.18.51.

## Repro:

A minimal AWS profile (use `inspec init profile -p aws myprofile`) wil

[2020-02-20 22:57] RubyTuesdayDONO commented on #1997
sorry for resurrecting an ancient issue, but respectfully, the suggested work-around should be surrounded by GIANT WARNING FLAGS not to ever use it, because it will leave the user's password both in their shell history file, in `ps` (running process list), and in the system's audit logs (if `execve` is logged).

security of confidential data is much bigger than someone reading over your shoulders.

[2020-02-20 23:24] aaronlippold commented on #1997
Oh, I agree that this is an issue. When we talked about it in the last
community meaning many moons ago the general decision was that Thor was not
quite able to meet this requirement and that migration to a new CLI system
would be the best solution to formuly to solve this problem. I'm not sure
if that's still the current agreement but I think it's good that we started
the conversation again.

On

[2020-02-20 23:26] aaronlippold commented on #1997
Also, another workaround could be setting up credentials in the inspect
config file but this would not address all the issues of confidentiality
but it would address part of them.. This is in no way to say that we have a
complete solution around this challenge and I would be happy to be part of
the conversation to get us to a full solution.

On Thu, Feb 20, 2020, 6:24 PM Aaron Lippold <lippold@gma

[2020-02-21 00:52] phiggins opened #4926 "Automate integration tests failing with inspec master"
Automate was recently setup to run the Automate scanner tests using inspec from master: https://github.com/chef/automate/pull/2657

Soon after this was rolled out the tests started failing: https://buildkite.com/chef-oss/chef-automate-master-verify/builds/8643#b6c11100-4009-4396-a719-6016f7749cf3

[2020-02-21 12:25] skpaterson commented on #4925
Thanks for raising this @clintoncwolfe - looks like the same applies to Azure and there is another related error with GCP for InSpec v4.18.85:

[code]

[2020-02-21 14:56] SpokeyWheeler commented on #4288
+1 please!

[2020-02-21 17:03] clintoncwolfe commented on #4925
Looks like anything that calls `Inspec.resource(1)` in the libraries will fail (which should be an OK thing to do).

For GCP, I get a 755kB stacktrace full of autogenerated code using a profile generated using inspec init. The issue appears on 4.18.83. I'm not digging into that yet, until we have the general issue resolved; if there is more specific to GCP I'll cut a new issue.

[2020-02-21 23:05] RubyTuesdayDONO commented on #4826
i'm not sure, but this might be related to poor handling of sudo passwords in `train-core`'s `Train::Extras::LinuxCommand#verify`. it looks like it "checks" ability to sudo using `sudo -v`, which will prompt for a password if the sudo session has expired. this unfortunately ignores the user's intent to run inspec headlessly by configuring a sudo password.

unless i'm missing something important ab

[2020-02-22 01:30] teknofire commented on #4826
I'm seeing the same problem on although it looks like the recent change in https://github.com/inspec/train/pull/557 missed adding the `-S` in `"sh -c '(sudo -Sv) < /dev/null'"` which lets the `< /dev/null` part do the intended magic

[2020-02-23 10:30] cben commented on #4288
Just to clarify: we were not discussing fully merging the 3 client gems, only the auth/config parts.
kubeclient might be oldest, doesn't mean it's the only one good for your needs.

AFAICT, none of the 3 gems supports `exec` yet, aside from the POC code https://gist.github.com/steigr/7f11eae8bea303e26f617d38f24ccd8c.  Another option is shelling out to `kubectl`.

[2020-02-24 15:53] g1ps commented on #4924
My local machine is running 4.18.85 and that breaks. The prod host is running 4.10.4 and that appears to work i.e. it worked when I ran it from the command line. It's also a RHEL 7 VM, rather than Windows. I don't think I have anything between those versions at present. So the problem may be the Windows host although my production tests are still skipping so that seems unlikely. I'll report if I l

[2020-02-24 19:01] RubyTuesdayDONO opened #4928 "interface resource relies on backwards-incompatible iproute2 -batch option"
# Problem

The `interface` resource uses a "newer" `-batch` option to the `ip` command to populate addresses. While this option has existed for many years, some older (but still [supported](https://github.com/inspec/inspec#supported-os)) operating systems (like CentOS 6 -- yes it's EoL later this year, but not yet) do not ship with an iproute2 version that supports the `-batch` flag, causing the `

[2020-02-24 23:17] #4925 closed, assigned to nobody

[2020-02-25 00:37] bbros-dev opened #4929 "Documentation: state where variables should be set for `os_env` controls"
## Detailed Description
Update [`os_env` documentation](https://www.inspec.io/docs/reference/resources/os_env/) to state where variables should be set for controls using the `os_env` resource.

## Context
Why is this change important?

- To prevent the ambiguity/confusion causing these issues:
  - [issue 1](https://github.com/inspec/inspec/issues/1641)
  - [issue 2](https://github.com/inspec/inspe

[2020-02-25 14:40] james-stocks opened #4930 "Bundle install fails if working path has space characters"
I raised this directly in https://github.com/chef/libyajl2-gem/issues/22 but wanted to also file an InSpec bug in case anyone comes here directly looking for help.

If you try to `bundle install` the `inspec-bin` gem inside a directory with space characters in the path, it fails with output like:

[code]

Workaround is to avoid space characters in your directory names.

[2020-02-25 16:59] skylerto commented on #4896
Can confirm this is still occurring with newer builds of the same version: `chef/inspec/4.18.85/20200206202815`

[2020-02-25 18:52] james-stocks commented on #4930
The decision on the upstream bug is not to fix this - Ruby generally doesn't play well with space characters in paths and the best thing to do (until the various bugs around space characters are fixed) is to rename/move your directories.
Some discussion here: https://github.com/rubygems/rubygems/issues/1525

[2020-02-25 18:52] #4930 closed, assigned to nobody

[2020-02-25 22:48] tas50 opened #4931 "Inspec omnibus builds need to run the license scout tests"
We need to be ensuring we're compliant with licenses for builds. Right now this isn't being done and is instead being done in the chef/chef and chef/chef-workstation builds. This leads to failures in chef/chef when we pull in the latest builds of inspec.

The latest version of inspec results in this:

[code]

Aha! Link: https://chef.aha.io/features/SH-2353

[2020-02-27 06:23] scalp42 commented on #4826
@teknofire @RubyTuesdayDONO I've tried both the patches but when running the following in InSpec **without** sudo, it still won't ask for the password:

[code]

I'm a bit confused: are you saying that the actual command should not be prefixed with `sudo` and use `--sudo` without `--sudo-password` in InSpec?

EDIT: it doesn't seem to work either, it exits without letting me input anything:

[code]

[2020-02-27 06:45] scalp42 commented on #4826
I feel like the behavior should be the same as with knife-ssh: the very first time sudo gets triggered, enter password and it'll cache sudo for the rest of the session kind of approach. I'm still confused why we need to pass a sudo password in clear.

[2020-02-27 16:24] teknofire commented on #4826
@scalp42 So it's not always feasible to prompt for a sudo password with Inspec. Most of the time I'm running it through some sort of automation which requires us to be able to provide the password without any human interaction.

Your tests with `command('sudo ...')` don't prompt for a password because normally Inspec remote connections don't have a tty enabled, in which case sudo usually bombs out

[2020-02-27 16:48] clintoncwolfe opened #4933 "inspec detect under hab on linux fails"
On inspec 4.18.97:

`hab pkg exec chef/inspec inspec detect`

gives this result:

[code]

[2020-02-27 17:14] clintoncwolfe commented on #4896
I believe the problem was fixed in 4.18.89.  This issue isn't about the bug in inspec itself, though - it's about the fact that our tests failed to catch the bug, and we want to track that and fix the tests.

[2020-02-27 18:17] scalp42 commented on #4826
I'm trying to figure if we could run a command for a sudo prompt before the InSpec run interactively which would cache sudo for the session, something like that.

[2020-02-27 19:47] n0coast commented on #4899
This behavior is no longer present, using inspec/inspec:stable works as advertised.
Additionally chef_license and enable_telemetry seem to have been removed.

[2020-02-28 00:37] RubyTuesdayDONO commented on #4826
imho Inspec shouldn't depend on sudo credentials caching, which may be disabled by the target's configuration. infrastructure validation is especially important for "difficult" targets. the fewer assumptions (like reliance on bashisms or out-of-box default system configuration), the better.

i realize i'm making this harder by pushing broad compatibility, but Inspec's value to end users is magnifi

[2020-02-28 12:01] glasgowm148 commented on #653
This fixed my issue on CentOS8.

While troubleshooting I got this, figure it may mean more to you.

[code]

[2020-02-28 15:15] james-stocks commented on #4899
Are you sure @n0coast ? Is that a habitat package?
I think this still needs fixed - https://github.com/inspec/train/pull/576 has been suggested as a fix

[2020-02-28 16:49] clintoncwolfe commented on #4899
Our current understanding of the issue is that the latter breakage originated in a change in train gem 3.2.14 (which was then packaged in the docker image for inspec 4.18.65).

This isn't limited to Docker; any InSpec package that included train 3.2.14 or later is affected.

The current release of inspec, 4.1.8.97, includes train 4.2.22 which does not include any fix for the sudo problem. Also, to

[2020-02-28 20:00] danielcbright opened #4935 "cached_fetcher.rb error "Could not fetch inspec profile in ...""
Inspec `4.18.97` cannot fetch profiles from an Automate server without erroring out fataly.

# Describe the problem
Test command:
[code]
output:
[code]

Testing the same command with Inspec `4.18.51` works just fine.

## Possible Solution
Currently I have rolled back to `4.18.51` in my Effortless Audit builds

[2020-02-28 21:39] clintoncwolfe commented on #4935
Could you include the inspec.yml from the profile you are archiving?

[2020-02-28 22:42] FilBot3 commented on #4924
I am getting this same error with a Docker Image `chef/chefdk:4.7.113` using the following command:

[code]

I then get the following error:

[code]

This is part of a newly created InSpec profile with the contents of:

[code]

[2020-02-28 22:59] ghost commented on #4924
Same issue with Windows 2019 Datacenter and Core, and 2016 Datacenter and Core.
These tests worked fine with previous versions of Inspec.

[code]
Result:
[code]
Chef Workstation Version (Ubuntu 16.04):
[code]

[2020-02-29 09:08] ehaselwanter commented on #4925
this breaks chef-workstation too:

with

[code]

I get:

[code]

[2020-03-01 18:00] stevendanna commented on #4935
The following inspec.yml can reproduce this:

[code]

The problem is that no fetcher is being found. Which I believe is being caused by

https://github.com/inspec/inspec/commit/7d95ece60dd5a5d19e7949d85d258c3cc087938f

The removed require means that the fetcher never gets registered with the fetcher registry.

[2020-03-02 12:49] lhasadreams opened #4936 "Namespace clash between control name and input"
InSpec V4.16.0 and before execute a control without error
Raised on behalf of Paul Burnet (Lloyds Banking Group)

# Describe the problem
This control use to work fine up to InSpec v4.16.0, using the latest InSpec (v4.18.97) gives an error.
[code]

When executing the control InSpec gives the following error:
[code]

This can be traced to a namespace error between the control name and the inout name

[2020-03-02 17:54] n0coast commented on #4899
All I know is that using the current :stable docker image I was able to get my tests running that were previously broken but that I had to remove the `--chef-license` and `--enable-telemetry` flags - From what I can tell those two settings were removed based on debug output that no longer includes those options, previously and documented above in my command output you could see
[code]

Current out

[2020-03-02 20:35] clintoncwolfe opened #4937 "cannot fetch profiles from automate server"
Recent versions of inspec fail to fetch profiles from Automate.

## Possible Solution

InSpec 4.18.51 is known working.

[2020-03-02 20:37] clintoncwolfe commented on #4937
Closing as duplicate, #4935

[2020-03-02 20:37] #4937 closed, assigned to nobody

[2020-03-02 21:14] clintoncwolfe commented on #4899
Looks like you now have an older version of InSpec - 3.9.3.

[2020-03-02 21:19] clintoncwolfe commented on #4899
Circling back to the original issue, this is believed to be fixed in train 3.2.23; next release of inspec should be clear of the issue.

[2020-03-02 21:40] n0coast commented on #4899
Good catch on the inspec version - I assumed `stable` (3.9.3) would be closer to `current` (4.18.98) or `latest` (4.18.97), but it appears to be quite a bit behind, apologies for confusing the issue with my ignorance.
I just tested with `chef/inspec:current` (4.18.98) and confirmed the sudo issue still exists and the license and telemetry options are valid.

[2020-03-02 22:29] clintoncwolfe commented on #4935
regression introduced in in spec 4.18.55

[2020-03-03 00:59] #4935 closed, assigned to nobody

[2020-03-03 10:14] thheinen commented on #3697
This ticket is quite old, but I would like to add a remark for future reference:

For a project I created the inspec-chef plugin which allows using Chef attributes/data bags as InSpec inputs. If your machine executing the InSpec tests is a Chef node and has access to this, that plugin might solve some problems.

For details see [inspec-chef on Rubygems](https://rubygems.org/gems/inspec-chef)

[2020-03-03 16:53] micheelengronne opened #4940 "Use target value in controls"
## Detailed Description
I would like to be able to use the target value (local, ssh://, docker://, etc...) in my controls.

## Context
It provides a way to embed tests that should be executed in the remote and locally in the same profile.

It does not mean multiple targets at once. It is just for packaging consistency.

## Possible Implementation
There may be already a way to achieve that. There i

[2020-03-03 16:55] #4933 closed, assigned to nobody

[2020-03-03 17:51] kekaichinose opened #4941 "Remove "Beta" language from Waivers docs"
### 🎛 Description

Type: 🙋 feature request

Waivers has been in Beta for the last two quarters. Feedback has been provided and we've integrated enough feedback to deem the functionality GA. Will have a proper blog post to announce that, but this is the work to remove the "beta" language from the docs page.

### 🌍 InSpec and Platform Version

current

[2020-03-03 19:02] #4911 closed, assigned to kekaichinose

[2020-03-03 19:02] #4941 closed, assigned to kekaichinose

[2020-03-05 16:21] clintoncwolfe commented on #4940
Assuming you used the `-t` option, it ends up in `inspec.backend.uri`, eg

[code]

[2020-03-06 16:03] james-stocks commented on #4782
I think `packages` should have Windows support. This was asked about in Slack, and it's inconsistent that `package` works on Windows but `packages` doesn't/

[2020-03-06 19:20] clintoncwolfe commented on #4899
It is believed to be resolved in 4.18.100 .

[2020-03-06 19:24] johnmccrae opened #4947 "windows_task resource throws undefined method error against the 'state' parameter"
Line 98 of the resource file code [Here](https://github.com/inspec/inspec/blob/44fe144732e1e0abb2594957a880c5f1821e7774/lib/inspec/resources/windows_task.rb#L98)

shows a parameter named 'state'. If you call it, you get an undefined method error

# Describe the problem
[code]
Results in this error:
[code]
## Possible Solution

[2020-03-06 19:25] clintoncwolfe commented on #4926
This should be fixed in train 3.2.23 / inspec 4.18.100

[2020-03-06 19:26] clintoncwolfe commented on #4926
refs #4899

[2020-03-06 20:12] phiggins commented on #4926
This is green on current builds of automate: https://buildkite.com/chef-oss/chef-automate-master-verify/builds/9797#_

[2020-03-06 20:12] #4926 closed, assigned to nobody

[2020-03-06 21:20] sean-horn commented on #1675
Comes into play specifically in other cases too, like xccdf_org.cisecurity.benchmarks_rule_4.1.13_Ensure_use_of_privileged_commands_is_collected in the CIS profile when the filesystem being searched has hung NFS mounts.

[2020-03-07 20:15] binamov opened #4948 "inspec > 4.18.51 breaks helpers in our profiles"
Releases of inspec > 4.18.51 don't seem to like helpers used in the https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark profile.

# Describe the problem
When using inspec 4.18.51 or lower, we can successfully run `inspec exec https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark.git -t gcp://`

When using newer versions of inspec, we get a
[code]
Also discussed here https://g

[2020-03-08 00:01] stevendanna commented on #4948
I've uploaded a minimal reproduction of what I believe the problem is here https://github.com/inspec/inspec/commit/aa40d121c765e75855b88403cc2962843c71f57a

It appears inspec no longer supports appending one's own helpers into Inspec::DSL.

I did a quick Github code search and didn't turn up many hits to this pattern:

https://github.com/ama-team/cookbook-docker-compose/blob/57afa04b7cbbde9bee6a99

[2020-03-08 01:06] stevendanna commented on #4948
So before https://github.com/inspec/inspec/commit/15941279ae4076e9d873c4fb3d4d52b91e81a68a the class used as the control_eval_context was defined at the same time as it was constructed:
https://github.com/inspec/inspec/blob/c505f3ba132b8227370e867f1b86c687f09a0672/lib/inspec/control_eval_context.rb#L92-L95

which means that the inclusion of `Inspec::DSL` into the class was happening after the help

[2020-03-10 19:38] tas50 opened #4950 "Update the rubyzip dependency to allow for 2.x"
## Detailed Description
Update the rubyzip dependency to allow for 2.x instead of ~> 1.2

## Context
We'd like to consume the latest library in chef and this currently limits the version we can consume and prevents us from getting future security updates.

[2020-03-11 13:22] clintoncwolfe opened #4952 "Promotion process does not stamp docker image as stable"
# Describe the problem

During final promotion, the Docker image is not labeled as stable on Docker hub.

That may be be cause we publish the image as current during build, and cannot re-publish the same image?

## Possible Solution

[2020-03-11 13:28] akramus opened #4953 "postgres_session enhacement : allow custom database port"
## Detailed Description
Is it possible to enhance the method postres_session to allow a custom database port ?
Actual description
sql = postgres_session('username', 'password', 'host')

## Context
dev-sec-ops  . Rule is to check that defaut port is not used by database

## Possible Implementation
suggested enhancement :
 postgres_session('username', 'password', 'host','port')

[2020-03-13 11:41] james-stocks commented on #4782
https://github.com/inspec/inspec/pull/4954 adds Windows support to `virtualization` but it needs more test cases added to protect against the Windows cases breaking.

[2020-03-13 15:10] micheelengronne opened #4956 "TLS1.3 support"
TLS1.3 will soon replace TLS1.2.

## Detailed Description
The underlying library does not have it yet. See https://github.com/arlimus/sslshake/issues/9

## Context
This change is important because without it the `ssl` resource will soon be pretty useless.

[2020-03-13 16:42] michellehodges commented on #4920
@finferflu any updates on this issue, whether its been fixed and we can use the latest version of inspec?

[2020-03-13 18:30] micheelengronne commented on #4940
Works like a charm. Thanks.

[2020-03-13 18:30] #4940 closed, assigned to nobody

[2020-03-16 11:06] stevendanna commented on #4920
@michaellihs We believe the error `undefined method `resource' for :nope!:Symbol (NoMethodError)` has been fixed in the latest version of Inspec. If you are still seeing that problem, please let us know.

[2020-03-16 11:10] stevendanna commented on #4956
@micheelengronne Thanks for the report!

[2020-03-16 14:26] nbirnel commented on #4920
@stevendanna You are right; it is fixed. With
[code]
and
[code]
when I run:
[code]
I get:
[code]

[2020-03-17 13:45] douglasawh opened #4958 "Source install instruction are misleading (I would hesitate to say "wrong")"
# Describe the problem

This step in the source install instructions is not necessary, and actually does not seem to work:
bundle exec bin/inspec help

When I run that step on my Mac it says:
"bundler: command not found: bin/inspec
Install missing gem executables with `bundle install`

## Possible Solution

My guess is that bin/inspec is actually a path. so maybe change 'bin/inspec' to '</path/to/

[2020-03-17 20:25] michellehodges commented on #4920
@stevendanna @finferflu I'm still getting the following error:

[code]

my `inspec.yml` file looks like this

[code]
my `dynamo.rb` file looks like this

[code]

For what it's worth, I do delete the `inspec.lock` file everytime before re-running.

[2020-03-17 21:20] stevendanna commented on #4920
@michellehodges From your error output, it appears you are seeing that on an older version.  The problem was fixed in a new releases. Please try v4.18.97 or greater.

[2020-03-18 21:09] michellehodges commented on #4920
@stevendanna Thanks -- that makes sense. I'm now encountering a new error...  For sanity sake, I also ran my working IAM Role inspec functionality which is currently working. I do delete my `inspec.lock` file before running.

Issue:
[code]

Here is the `dynamo.rb` file that I'm using:

[code]

Finally, my `inspec.yml` file:

[code]

I'm running this under Admin, so my Principal should have the per

[2020-03-19 06:53] mattray opened #4959 "controls are still executed with waivers and if they time out they are recorded as failures"
InSpec 4.18.85, audit cookbook 9.1.0, Chef 15.8.23

I have a waiver for a command that fails because it times out, but it still shows up as failed. Other machines with the same waiver don't have the command failure, so they report as passing and the control reports as "Skipped control due to waiver condition".

Related to #4886 for sure.

Failure
[code]

[2020-03-19 17:22] james-stocks opened #4960 "habitat builds occur when merging PR with `Expeditor: Skip Habitat` label"
For example when [this PR](https://github.com/inspec/inspec/pull/4957) merged, it triggered [a habitat build for the merge](https://buildkite.com/chef/inspec-inspec-master-habitat-build/builds/421) and [a 2nd build](https://buildkite.com/chef/inspec-inspec-master-habitat-build/builds/421) for the associated automatic CHANGELOG update

If a PR has the `Expeditor: Skip Habitat` label it should not t

[2020-03-20 14:38] #4924 closed, assigned to nobody

[2020-03-20 15:03] james-stocks opened #4961 "x86_64-linux habitat build fails with "File seems to have been moved""
I've seen this a couple of times, example build [here](https://buildkite.com/chef/inspec-inspec-master-habitat-build/builds/425#8ac94378-2aab-453e-a9b6-56bef55b0868/89-796)

The build completes fine on a retry.

[code]

[2020-03-20 15:04] james-stocks commented on #4960
See also https://github.com/inspec/inspec/issues/4461 which is about not building twice in any case. But isn't concerned with label(s)

[2020-03-20 18:45] michellehodges commented on #4920
@stevendanna looks like my problem was a region issue in config. Sorry about that! Everything works well now.

[2020-03-21 11:51] stevendanna commented on #4920
@michellehodges Glad to hear things are working for you! Thanks for following up.

[2020-03-21 12:23] stevendanna commented on #4961
@james-stocks We've seen this in other pipelines occasionally.  I did some initial investigation a long while ago that I summarized here:

https://chefio.slack.com/archives/C6JED4R8W/p1528469907000213

I've copied a cleaned up version of that below in case y'all are seeing the same issue.

---

This error is being emitted from xz which is called during the habitat build process

https://github.com

[2020-03-21 12:53] dwizzle204 commented on #4733
Yes I agree this could be helpful in creating tests against the state file itself. Typical use case is there aren’t azure inspec tests for every resource so in the interim I could test for values in the state file directly

[2020-03-21 13:00] tbugfinder commented on #4733
Well, if tests are built with the statefile, I'd lack comparing expected (hcl2 code) parameters with deployment. Therefore I think it's not what I'm looking for.
As an intermediate helper I'm using hcl2tojson python script however I'd appreciate native hcl2 support.

[2020-03-21 16:52] dwizzle204 commented on #4733
Oh, yes then maybe we are thinking about different things. I was thinking more of almost a direct replacement for https://www.inspec.io/docs/reference/resources/json/ with hcl2

So your test would be similar to

[code]

[2020-03-21 23:40] stevendanna commented on #4956
The following upstream PRs hopefully help get this started:

https://github.com/arlimus/sslshake/pull/11
https://github.com/arlimus/ssl-test-dummies/pull/2

[2020-03-24 15:43] micheelengronne commented on #3342
Is it possible to specify credentials via environment variables ? I would not like them to appear in the lockfile.

[2020-03-24 19:45] burnsjared0415 opened #4962 "[SPIKE] Inputs do not work in describe.one blocks"
Running code that allows for inputs to be added to the inspec.yml and called by a control for easy changes. Put together code to do a describe one block and have found that for some reason describe one is having issues getting the input value. here is the code:
[code]
# Describe the problem

If you run the above control it will fail out with unable to get input value, i have tested this through cl

[2020-03-25 01:17] aaronlippold commented on #4962
The following block fails because the `inputs` are not correctly dereferenced.

If we put the assignment of the input outside the `describe.one` block as local instance variables it works fine.

I think we just need to shift the eval context so that input is done I would guess.

This is broken:

[code]
This works:

[code]

[2020-03-25 17:59] frezbo commented on #3342
@micheelengronne I use ERB templating like this:

[code]

[2020-03-25 18:16] micheelengronne commented on #3342
Thanks a lot.

[2020-03-25 20:29] aaronlippold opened #4963 "Array inputs don't seem to be loaded correctly via the cli and `--inputs`"
Arrays support seems to be working via `inspec.yml` or `input-files` but not the CLI

Thor does not seem to be respecting something like:

`--input foo=[1,2,3]`

or something even more complex as:

`--input aoh=[{:Subject: "CN=DoD Root CA 2, OU=PKI, OU=DoD, O=U.S. Government, C=US",:Issuer: "CN=US DoD CCEB Interoperability Root CA 1, OU=PKI, OU=DoD, O=U.S. Government, C=US", :Thumbprint: "DA36FAF5

[2020-03-25 20:32] binamov commented on #4963
+1, some clarity on using arrays from `--input` in cli would be helpful.

[2020-03-26 14:03] douglasawh commented on #4958
One of my colleagues was able to get the instructions at https://github.com/chef/chef/blob/master/docs/dev/how_to/building_and_installing.md to work for inspec. Perhaps instead of maintaining two different versions of instructions, you should just point to those instructions.

[2020-03-26 20:20] Swetad90 commented on #4786
@miah Were you able to tie inspec with any alerting solutions? We also have similar usecase of alerting when any test fails

[2020-03-31 10:45] james-stocks opened #4965 "Make use of filter query where testing a single port with ss"
Evaluating all [port](https://github.com/inspec/inspec/blob/master/lib/inspec/resources/port.rb data on the target host can take a long time - on some customer systems it might exceed 10 minutes.

Short term, we should at least be filtering the query made to the target host when a single port is being tested (`describe port(80)`) and where the underlying command is `ss`

i.e.
`ss -tulpen "( dport

[2020-03-31 11:33] mwronka-chef commented on #4965
In case port resource call is timing-out, it could be replaced with the following command:

[code]

[2020-04-02 22:00] n0coast commented on #4899
Working in chef/inspec:current (4.18.100).

[2020-04-02 22:01] #4899 closed, assigned to nobody

[2020-04-06 20:33] ofayans commented on #3295
Hi! I would also very much appreciate this feature.

[2020-04-08 10:11] amitchettri opened #4972 "InSpec Reporter | HTML format append error message"
# Describe the problem
I am using InSpec Reporter to generate the patch scan report in HTML format but in the report I am getting error message as show in the snapshot. Can i get some help overcome this?
![image](https://user-images.githubusercontent.com/46727623/78772074-d1d6b100-79ae-11ea-8f1c-ba357e2c5d7f.png)

I have used the devsec community profile from the supermarket to get this report and

[2020-04-08 14:34] robbkidd opened #4973 "include the JSON summary of a profile in any artifact produced"
The JSON data produced by the `inspec json` command is a more complete record of a profile and its capabilities. A lesson learned fairly early with cookbook artifacts was to include a metadata record that was as complete as possible in the artifact itself. The publishing client performs all the interpretive work to determine the content's complete record of metadata and then stores that complete r

[2020-04-08 15:36] Pablogra commented on #4924
It is happening in version 4.18.100

inspec version
4.18.100

[2020-04-08 15:41] james-stocks commented on #4924
@Pablogra - 4.18.104 was released today with the fix for this issue

[2020-04-08 16:18] bgeesaman commented on #4288
https://github.com/bgeesaman/train-kubernetes was updated to use the forked version of https://github.com/kontena/k8s-client which is now https://github.com/k8s-ruby/k8s-ruby/.  A Kubernetes resource pack https://github.com/bgeesaman/inspec-k8s was created to test the configuration of any k8s resource via the API, and a complete/packaged use case is available with the MKIT tool here: https://githu

[2020-04-09 06:13] n3mawashi opened #4976 "inspec backed ssh can't use ssh-agent identities."
# Brief description
when running inspec utilising ssh backend with ssh-agent keys loaded, it doesn't seem to be able to connect to remote hosts.

# Describe the problem

$ ssh-add -l
 256 SHA256xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx inpsec-gitlab-ci@xxx.xx.xxxxxxxx (ED25519)
 $ ruby -v
 ruby 2.5.5p157 (2019-03-15 revision 67260) [x86_64-linux]
 $ bundle exec inspec version
 4.18.104
$ bundle exec insp

[2020-04-09 09:56] amitchettri commented on #4976
Hi,

try using **inspec exec profile-t ssh://root:password@target** as workaround until someone response solution for the above error.

NOTE: above command must be executed from where the profile is kept else replace profile with full path of it

[2020-04-09 10:05] james-stocks opened #4977 "Numeric input set at CLI is treated as a string"
See our tutorial on inputs:
https://www.inspec.io/docs/reference/inputs/

Declare a numeric input:

[code]

Write a failing test:

[code]

Make the test pass by passing a compliant value:

[code]

Expected:

From our website

[code]

Actual:

[code]

A workaround is to use `cmp` instead of `eq` - but we at least need to update the site for this. It should ideally be fixed because it could cause su

[2020-04-09 12:30] james-stocks commented on #4977
I think `11` might also be a mistake - amps go up to 10.

[2020-04-09 13:33] thheinen opened #4978 "Resources to test Windows firewall settings"
## Detailed Description
In compliance-related projects, server firewalls must be tested against their intended configuration.

For Linux there are resources like `firewalld` or `iptables`, on Windows platforms there is no such functionality yet.

## Context
To get an insight into if firewall rules are still active and unchanged, it is necessary to inspec Windows Firewall profiles and rules.

The t

[2020-04-09 18:23] amitchettri commented on #4972
for all the profile when --reporter html:name.html CLI flag is used. the generated page have below error's added on it

below is from a sample from nginx-baseline profile. And a sample snapshot from patch and linux basline profile
[code]

<img width="639" alt="linux-basline" src="https://user-images.githubusercontent.com/46727623/78927744-06d12980-7abd-11ea-93ac-907967b69a40.png">
<img width="553"

[2020-04-09 19:27] amitchettri commented on #4178
also can we have check on https://github.com/inspec/inspec/issues/4972#issue-596464264 which very much related with re-styling to remove error message.

[2020-04-10 17:16] chiefy commented on #4769
[code]

[2020-04-10 17:18] pgmillon commented on #4328
Hi, any updates on this ? It's the first issue listed when searching for aws resource.

[2020-04-10 20:53] drakoswraith commented on #4810
Confirmed

[2020-04-10 20:53] #4810 closed, assigned to nobody

[2020-04-10 23:10] aaronlippold commented on #4948
Hi, is this issue being worked?

[2020-04-11 01:39] amitchettri commented on #4178
Hi,
@clintoncwolfe, @kekaichinose is there a update on removing the title and heading name? And also their is extra error added to it as compare to the cli mode.

Is their a possibility to get it removed as well.

[2020-04-11 12:16] aaronlippold commented on #3600
We started a parser a while back - if it will help this along please feel free to reuse or inhance or borrow. https://github.com/mitre/parslet-inspec

[2020-04-11 12:21] aaronlippold commented on #4593
We have also talked about writting rubocop plugins for inspec - mainly around a 'styleguide' enforcement of controls. We are going to have some of the summer folks work on it but will reference this issue in ours.

[2020-04-12 00:39] calloes opened #4982 "error when connecting to cisco ios xe (csr1000v)"
inspec detect fails against Cisco IOS XE on csr 1000v 16.12.02.

confirmed the ssh session establishes it seems it's failing inside detection during the windows checks.

have also tried

inspec detect --backend=ssh --host=10.1.1.29 --user=vagrant --password=vagrant --enable-password=vagrant

/share # inspec detect --backend=ssh --target ssh://vagrant:vagrant@10.1.1.29
Traceback (most recent call l

[2020-04-12 00:40] calloes commented on #4982
Also forgot to mention running docker image of inspec latest version.

[2020-04-13 00:05] n3mawashi commented on #4976
Hi @amitchettri, unfortunately bundle isn't causing problem. it's happen even when we've run it manually. I Initially though it was  ED25519 library missing, but that didn't solve the problem either.

[2020-04-13 05:29] amitchettri commented on #4976
Hi @ptiggerdine

for me i am only using inspec exec profile -t ssh://root:password@target and i  amable to get the output

[2020-04-13 17:42] Nargizzz opened #4984 "Hello!"
# Describe the problem

## Possible Solution

[2020-04-13 17:42] #4984 closed, assigned to nobody

[2020-04-13 17:43] Nargizzz opened #4985 "Hello!"
# Describe the problem

## Possible Solution

[2020-04-13 17:43] #4985 closed, assigned to nobody

[2020-04-13 17:46] Nargizzz opened #4986 "Inspec on loadbalancer"
Hello,

I have to run Inspec checks on F5. Is there a possibility to do that?

When i run inspec exec command and try to ssh to the loadbalancer it gives me the below error:

10: from /opt/inspec/embedded/lib/ruby/gems/2.5.0/gems/inspec-3.6.6/lib/inspec/runner.rb:58:in `initialize'
         9: from /opt/inspec/embedded/lib/ruby/gems/2.5.0/gems/inspec-3.6.6/lib/inspec/runner.rb:66:in `configure_tra

[2020-04-14 00:14] binamov commented on #4948
Entities that `depends` on our profiles choose not to make their custom compliance profiles publicly searchable/available. I know of about a dozen, personally. Right now they're blocked from updating inspec.

[2020-04-15 11:19] #4986 closed, assigned to nobody

[2020-04-15 12:53] ljkimmel opened #4987 "Add `ports` property to the `firewalld` resource"
Need the ability to gather a list of ports for validation.

## Detailed Description
Add a ports property to the resource that returns a list of ports configured in a zone.

## Context
Per the DISA STIG we are required to validate what ports are in use. Ports are not always configured only as part of a service. We need the ability to check ports directly.

## Possible Implementation
Adding an entry

[2020-04-16 18:30] alexpop opened #4988 "Large control result backtraces in report"
While investigating large inspec reports, I've found an example where this profile:

[code]

had **57** ruby stacktraces like the one below, increasing the size of the report by **239.4 KB**

[code]

Are these large backtraces necessary since the `message` contains the result error? For example: `Command /sbin/auditctl -l failed with error: You must be root to run this program.`

[2020-04-16 18:44] aaronlippold opened #4989 "Add the ability to pass an input.yml file to the inspec shell"
This would allow me to more consistently and easily test and work with controls that use shared inputs in my day to day devel work.

[2020-04-17 17:18] walterdolce commented on #760
Here's some _activity_ 😉

[2020-04-20 00:20] james-stocks commented on #760
A couple of points worth documenting:
 * it applies to the control (maybe document what happens if an `only_if` is attempted outside of a `control` block)
 * Only one is allowed per control, but you can `&&` multiple conditions
 * it results in a skip and not a pass - it should not be used where the "only if" condition means that the system-under-test is compliant.

[2020-04-20 11:54] srimanmittapally opened #4991 "Allure report generation"
Allure report generation:
Is it possible to add a allure report into Inspec ?
I found using rspec we can generate the report:
**gem 'allure-rspec'**

So is it possible to add allure report ?

The reason I am asking to add is since Inspec html generated report is not giving overview all tests and segregated information I thought either allure or Extent API report or anything similar would be great.

[2020-04-20 11:59] skpaterson commented on #4991
Thanks for this @srimanmittapally.  Adding a new reporting format would be new core InSpec functionality and not specific to the AWS resource pack so I'll transfer this issue across.

[2020-04-20 16:52] #4948 closed, assigned to nobody

[2020-04-21 09:40] idiudiuki commented on #4978
Thank you for requesting this feature! I was just looking for the same. Hope it will be added soon.

[2020-04-22 09:39] Schwad commented on #4936
I can confirm that I've run the tests/output laid out above and replicated the error.

[code]

Fails current inspec, passes 4.16.0. Will try and find the breaking commit 👍

[2020-04-22 12:01] srimanmittapally commented on #4991
Hi, any update on this ?

[2020-04-22 13:34] Schwad commented on #4936
Having reviewed our history here, confirmed that the commit that causes the above syntax to fail is: https://github.com/inspec/inspec/commit/43bc7e034387eccaff1b889c02dc7c57aae33909

To reproduce, cd into local copy of repo and run:

[code]

Then go to prior commit

[code]

[2020-04-22 15:51] kmf commented on #4991
Watching

[2020-04-22 16:15] james-stocks commented on #4991
Is the desire to get the current InSpec reporting (e.g. if you use the existing JSON reporter for InSpec) into Allure; or is it to also add new annotations to InSpec code (e.g. as documented for [allure-rspec](https://github.com/allure-framework/allure-ruby/tree/master/allure-rspec)) ?

[2020-04-23 12:34] TheLunaticScripter commented on #4936
This is part of the waivers feature and I don't think this is a bug. I think that the input needs to be renamed to be something other than the control name. Based on the code example shown above this is exactly what waivers does by specifying a control id in a waiver file it will skip the control. I think the recommendation should be to use the new waivers functionality.

[2020-04-23 12:39] stevendanna commented on #4936
We broke a profile that was not using any internal features in a non-major release.  While we can decide that we don't want to fix that, let's avoid calling this anything but a bug.

[2020-04-23 12:46] TheLunaticScripter commented on #4936
Fair this was a breaking change. Let's be sure to get all the information around that commit before making a decision on what we do. I care less about what happened and more that waivers is an active feature and breaking that also has ramifications.

[2020-04-23 15:52] kekaichinose commented on #4936
@lhasadreams per Possible Solution 3 above, how's the testing going with the customer with using waivers? It became official in the last two weeks so would like to see how it solves the customer's problem. Thanks!

[2020-04-24 08:14] brainbug89 commented on #4948
Why was this issue closed? Is it fixed for GoogleCloudPlatform/inspec-gcp-cis-benchmark?

[2020-04-24 14:28] james-stocks commented on #4769
This is a pretty common pattern - a profile declares an input that must be user-specified. There is no valid default value that can be given in `inspec.yml` e.g. an API key

[2020-04-24 17:52] clintoncwolfe commented on #4769
I think this may be more subtle. I just tried it in the `undeclared` test fixture and could not reproduce the issue, and learned that an essential requirement to trigger the bug is to declare the inputs in the metadata file - simply implicitly referencing them in the control file is not enough.

[2020-04-24 18:24] binamov commented on #4948
@brainbug89 yes, we found a pattern that works as per https://github.com/inspec/inspec/issues/4948#issuecomment-596150110 , it's already implemented in GoogleCloudPlatform/inspec-gcp-pci-profile and we will update GoogleCloudPlatform/inspec-gcp-cis-benchmark next week.

[2020-04-27 08:45] james-stocks opened #4996 "http resource should coerce response body into UTF8"
Reported in internal Slack.

When using the `http` resource to assert the `body` of a response, you may get the error `"\xE2" from ASCII-8BIT to UTF-8 (Encoding::UndefinedConversionError)`

Apparently the problem and workaround fit this blog article:
https://megamorf.gitlab.io/2019/06/20/matching-chinese-characters-in-inspec-http-tests.html

The workaround given there is to test `response.body.for

[2020-04-27 08:46] james-stocks commented on #4996
There's an existing issue https://github.com/inspec/inspec/issues/2044 but that relates to calling curl with the `command` resource.
This issue seems to relate to Ruby's HTTP libs.

[2020-04-27 11:47] youngee91 opened #4997 "Order/Sequence of Result"
## Detailed Description
Hi,

I'm currently having an issue with the order of the result. Sometimes when I execute the profile, my result will be displayed in an orderly manner based on my controls naming and sometimes it does not. The result will be randomised and not displayed according to the naming of my controls. I tried to change the creation time of the controls file but it does not seem to

[2020-04-27 13:25] james-stocks commented on #4997
Agreed, when the InSpec profile is for compliance auditing, the results being out of order is very unfriendly.

[2020-04-28 15:44] Schwad commented on #4997
Is this for results in terminal or do we see this out-of-order across all reporters as well?

[2020-04-29 00:20] kekaichinose opened #4999 "Add a flag to limit message size"
### 🎛 Description

**Choose one:**  🙋 feature request

There are some use cases where a test returns a message body that is several megabytes long. This exceeds certain client's ingestion limits. To better address this, we should be able to set the maximum size for the message, after which point a notice is provided in the message that it has been "truncated" and the user given guidance on how to

[2020-04-29 00:26] kekaichinose commented on #4669
@james-stocks not sure if this helps, but this was the epic for Ruby 2.7 work. It seemed to have some upstream dependencies that I'm unsure the status of. Not sure if this helps

[2020-04-29 00:34] kekaichinose opened #5000 "Add an option to toggle stack trace data"
### 🎛 Description

**Choose one:**  🙋 feature request

Stack traces add a large amount of data to the `message` field. This large amount of data may make the report so large that it is not consumable by a downstream client. InSpec should be flexible enough to allow users to disable stack trace data in test results, thereby making the report more consumable.

### 👍 Acceptance Criteria
* `inspec exe

[2020-04-29 07:38] youngee91 commented on #4997
Usually i test it out on the terminal first. If the terminal results are out of order, the reporters will be the same. I'm using `json` reporter

[2020-04-29 13:01] Schwad commented on #4936
I had a look at our existing codebase, using the example from @lhasadreams to see what could be done.

The PR above is the result of that work. It preserves existing functionality & waivers, but does allow the user to have a clash between the input and control namespace without breaking. Tested locally as well.

Just working to pass CI 😅

Thanks!

[2020-04-29 14:35] aaronlippold commented on #3957
Ping. @rxavier please follow up

On Wed, Apr 29, 2020, 12:44 AM stale[bot] <notifications@github.com> wrote:

[2020-04-29 15:04] rxavier commented on #3957
@aaronlippold wrong ping!

[2020-04-29 15:35] kekaichinose commented on #3992
This issue has aged, and the associated PR it had was closed out without any follow-ups. Closing this.

[2020-04-29 15:35] #3992 closed, assigned to nobody

[2020-04-29 15:37] kekaichinose commented on #753
I have not seen any updates on this, and the issue has aged by 4 years now. If there are any occurrences of this you are seeing in the latest versions of InSpec, please file a new issue with latest examples. Closing.

[2020-04-29 15:37] #753 closed, assigned to nobody

[2020-04-29 15:40] kekaichinose commented on #3317
Will leave the issues in the backlog for us to address as-necessary, but will actually close this epic as it is tied to InSpec 3.0 which has already launched some time back.

[2020-04-29 15:40] #3317 closed, assigned to kekaichinose

[2020-04-29 15:51] kekaichinose commented on #3747
The Content team created a work-around to address this issue short-term. There's a longer term solution that will be tracked in a separate issue as time allows. Closing.

[2020-04-29 15:51] #3747 closed, assigned to btm, kekaichinose

[2020-04-29 16:16] kekaichinose commented on #4782
A good next step for this epic would be to explicitly add the resources that are "probably fine" into the main InSpec README.md while we investigate the other questionable ones.

[2020-04-29 16:19] kekaichinose commented on #4669
Just chatted with @james-stocks and he'll follow up on this as we think this work has already been completed.

[2020-04-29 17:23] KonradSchieban commented on #4963
+1, there is a use case for using arrays for `--input` when you run InSpec in a pipeline. Writing a yml file for this adds quite some effort.

[2020-04-29 21:49] Sum123it opened #5002 "Unsupported resource/backend combination: file / azure. Exiting."
While trying to do inspec exec . -t azure:// getting the above error

# Describe the problem
I am new to Chef Inspec and trying to test my resources.I have set up the credentials file with below:
AZURE_SUBSCRIPTION_ID
AZURE_CLIENT_ID
AZURE_CLIENT_SECRET
AZURE_TENANT_ID
inspec.yml looks like below:

name: inspec-workshop
title: InSpec Profile
maintainer: The Authors
copyright: The Authors
copyright

[2020-04-30 02:50] clintoncwolfe commented on #4963
I don't recall that it does handle complex structures in any way. At the time `--input` was added, it was added as a first step - simple scalar values is all it did, and we left more complicated questions - like how to take JSON on the command line - for a future sprint.

How would you like it to work? How should InSpec distinguish between values that might be complex and might not be (that is, wh

[2020-04-30 08:10] james-stocks commented on #5002
Hi @Sum123it -

Is that the entire contents of `inspec.yml` ? It seems to have an incomplete `supports` entry. It should declare support for Azure like

[code]

[2020-04-30 08:19] npirard commented on #4953
FWIW, I have been able to work around this limitation by adding  '-p port' to the host parameter :

`sql = postgres_session('username', 'password', 'host -p port')`

[2020-04-30 08:34] james-stocks commented on #5002
You also pasted 1 test, but the output of `inspec check` shows 3 controls in the profile. Is there more code in the profile?

[2020-04-30 10:04] Sum123it commented on #5002
Hi James,
Sorry, Here's my yml file:
name: inspec-azure
title: InSpec Profile
maintainer: The Authors
copyright: The Authors
copyright_email: you@example.com
license: Apache-2.0
summary: An InSpec Compliance Profile
version: 0.1.0
inspec_version: '4.18.51'
depends:
  - name: inspec-azure
    url: https://github.com/inspec/inspec-azure/archive/master.tar.gz
supports:
  #platform: os
  - platform: a

[2020-04-30 10:27] james-stocks commented on #5002
I'm unsure why you are seeing that error, but a possible problem is that your profile is named `inspec-azure` which is already the name of the Chef profile.
Try naming your profile my-company-inspec-azure

You should also delete the `describe file` tests from control.rb - these example tests do not work with Azure

[2020-04-30 12:02] Schwad opened #5003 "Add benchmarking within InSpec Tests"
## 🎛 Description

**Choose one**: 🙋 feature request

Something we will look at and continue to look at is performance. Not only is it an important element for the development team, but is a critical component of improving scaling support. There are elements of this gem that may get called thousands or millions of times on larger runs, so micro-improvements of 1 or 2 milliseconds runtime could be a

[2020-04-30 12:41] Sum123it commented on #5002
`ok here it is the code for
inspec.yml

`name: dummy-azure
title: InSpec Profile
maintainer: The Authors
copyright: The Authors
copyright_email: you@example.com
license: Apache-2.0
summary: An InSpec Compliance Profile
version: 0.1.0
inspec_version: '4.18.51'
depends:

name: inspec-azure
url: https://github.com/inspec/inspec-azure/archive/master.tar.gz
supports:
#platform: os

platform: azure
`
he

[2020-04-30 13:08] james-stocks commented on #5003
This is an awesome idea. I put the `Continuous Delivery` label on this to try to express that this is to give us benchmarking for our own dev/test/release and that it is not adding a benchmarking feature to InSpec

[2020-04-30 13:15] james-stocks commented on #5002
Your output shows you ran the command `sumit@Azure:$ inspec exec dummy-azure`
It should be `sumit@Azure:$ inspec exec dummy-azure -t azure://`
Without `-t azure://` InSpec will default to executing against your own computer.

[2020-04-30 13:34] Sum123it commented on #5002
Ok It worked James!. Thanks.But it's working only with the existing azure resources.

Looks like it didn't pick https://github.com/inspec/inspec-azure/archive/master.tar.gz file.
Any issue with the yml file?

inspec exec dummy-azure -t azure://[subscription] worked for existing 4 azure resource

[2020-04-30 14:19] Schwad commented on #3881
At some point in my Chef leveling up I still did run across an `--attr` reference and let @kekaichinose know. I'm now doubting that it was actually in LearnChef but actually in our `inspec-gcp` README I'd used when setting up my GCP test/instance: https://github.com/inspec/inspec-gcp

[2020-04-30 14:57] aaronlippold opened #5004 "Please update all resources to work with the `ls resource_name` works for all resources"
When I am teaching my inspec classes, it is very useful for students to be able to `ls resource_name` to get the resources properities and methods, rather than having to use Ruby to get this info.

[2020-04-30 18:25] pburkholder commented on #4268
I get the same deprecation warnings -- how do I make them stop?

I've tried latest inspec in both Docker and Mac HomeBrew, version `4.18.108`

My inspec.yml is:

[code]

But I keep getting:

[code]

Can you help make it stop? The error message is not going to inspire confidence when I demonstrate this to skeptical assessors.

Thanks!

[2020-04-30 18:52] clintoncwolfe commented on #5004
refs #3165

[2020-04-30 21:19] KonradSchieban commented on #4963
My suggestion would be to validate the input value and check whether its structure matches a pattern for a complex structure, an array, a string or a numeric value. Ideally, we would be able to create any kind of input from the CLI using `--input` as by declaring them in the `--input-file`.

[2020-05-01 08:07] Schwad commented on #5003
Thanks! Still trying to get a handle on all the labels

On Thu, Apr 30, 2020 at 2:08 PM James Stocks <notifications@github.com>
wrote:

[2020-05-01 11:34] Schwad opened #5005 "Resolve Waiver Extraction"
## Detailed Description

**RFC: Expanding/refining this request description**

On the fly, it does not appear that there is a straightforward way to identify and manipulate waivers while prying into the codebase. This was captured in issue #5001 where we needed to identify if an input was a waiver, in order to pass it along through the script correctly.

There was a regression fix put in the PR (s

[2020-05-01 11:35] Schwad commented on #5005
I'm hopeful that this can help expand the discussion started in #5001

I would also appreciate some support on labeling as I'm unsure which would be most appropriate for this issue

[2020-05-01 12:45] james-stocks commented on #5005
Thanks @Schwad
I think this is technical debt that will bite us in future if we want to extend either inputs or waivers

[2020-05-01 13:24] devopsdina commented on #4976
@ptiggerdine I was recently trying to run inspec exec using the `-i` flag to connect with a pem instead of a password.  The following worked for me:

`inspec exec git@github.com:dev-sec/linux-baseline.git -t ssh://username@ip -i path_to/my_key`

![image](https://user-images.githubusercontent.com/41236025/80808356-5de28f80-8b8d-11ea-8229-bf7a414bd952.png)

[2020-05-01 14:07] james-stocks commented on #4976
Looking at [`train`](https://github.com/inspec/train/blob/master/lib/train/transports/ssh.rb#L111) it should be possible to specify neither identity file or password, and the connection should use SSH Agent loaded identities.

It would be good to get reproduction steps or further logging to be sure if this is an InSpec bug or not.
If you try to ssh to the host with `ssh admin@xxx.xxx.xxx.xxx 'echo

[2020-05-01 14:21] #4769 closed, assigned to nobody

[2020-05-01 14:21] #4445 closed, assigned to nobody

[2020-05-01 14:28] devopsdina opened #5006 "Automate Reporter Example Config is invalid JSON"
The example config located at: https://www.inspec.io/docs/reference/reporters/ for the Automate Report has invalid JSON.

If someone copy/pastes this code and updates it accordingly with their automate information they will receive a parse error

[code]

Update the documentation to provide validate JSON:

[code]

[2020-05-01 15:25] clintoncwolfe commented on #5005
The field `justification` may already be an implicit sentinel value - the docs at https://www.inspec.io/docs/reference/waivers/ seem to imply that it is a required field. If so, simply verifying that an input is a control-named Hash with a key named `justification` would be one option.

Justification is unconditionally used here: https://github.com/inspec/inspec/blob/8b5789004ac31f4b6e7210421b119a

[2020-05-01 15:41] Schwad commented on #5004
Thanks for the issue and the feedback Aaron! Definitely something to
consider. And also for linking in the related issue Clinton

On Thu, Apr 30, 2020 at 7:53 PM Clinton Wolfe <notifications@github.com>
wrote:

[2020-05-01 15:45] limitusus commented on #4057
@aaronlippold @clintoncwolfe
It does not seem to be fixed yet even in v4.8.51 in chefdk-4.7.73.
https://gist.github.com/limitusus/4c293df7a6c6c685ed4e29a8ce913e00

[2020-05-01 15:46] Schwad commented on #4268
Hi @pburkholder , as this original issue seems to be related to something I think has been resolved ( per @rmoles ' comment), would you be willing to file a separate issue for this so we don't lose track of it? It's easy for comments on closed issues to get lost in the fold. Thanks!

[2020-05-01 15:54] Schwad commented on #5006
Hi @devopsdina ! 👋

Nice catch! Ran it through https://jsonlint.com/ and yep, you are right! It's almost end of Friday here but I'll fix this first thing Monday my time. Thank you! 🙏

[2020-05-01 16:04] Sum123it commented on #5002
It worked now. We should not select master. Instead we need some specific version i guessFor me it was 1.10.1

[2020-05-01 16:11] james-stocks commented on #5002
Good idea @Sum123it - `master` may get major breaking changes, so you should definitely pin to a specific version. Sorry I didn't spot that.
Can this issue be closed?

[2020-05-02 12:30] tomrobison opened #5008 "Inspec does not allow passing `auth_methods` to the `Train` driver"
## Detailed Description
Allow users to configure ssh authentication methods for infrastructure that utilizes `keyboard-interactive` such as Duo's and YubiKey's pam modules.

## Context
@greenantdotcom provided great context in #1409.

## Possible Implementation
Building upon @greenantdotcom's example, a 'working' solution is to update the inspec cli https://github.com/tomrobison/inspec/commit/545c

[2020-05-02 17:05] Sum123it commented on #5002
Thanks James for support. it can be closed.

[2020-05-02 18:25] clintoncwolfe commented on #4963
What about...
[code]

[2020-05-03 18:12] #5002 closed, assigned to nobody

[2020-05-04 20:03] #5006 closed, assigned to Schwad

[2020-05-04 20:53] pburkholder opened #5012 "inspec-aws throws deprecation warning errors"
# Describe the problem

I get the same deprecation warnings as #4268

I've tried latest inspec in both Docker and Mac HomeBrew, version `4.18.108`

My inspec.yml is:

[code]

But I keep getting:

[code]

Can you help make it stop? The error message is not going to inspire confidence when I demonstrate this to skeptical assessors.

The full profile is at: https://github.com/cloud-gov/cg-compliance/

[2020-05-05 10:55] Schwad commented on #5012
Thanks for filing this issue @pburkholder - I'll have a look at this on my machine tomorrow and make sure we look at this on the team

[2020-05-05 14:32] james-stocks opened #5013 "Habitat packages are pushed regardless of habitat test result"
In this build, there was a failure running tests against InSpec for Windows:
https://buildkite.com/chef/inspec-inspec-master-artifact-habitat/builds/471#8b40c3f1-c128-4588-b0ed-c610a15e9d6b

While that build was failed, a new package got pushed to builder in spite of the failure:
https://bldr.habitat.sh/#/pkgs/chef/inspec/4.18.111/20200505104048

It looks like the `chef/inspec-inspec-master-artifa

[2020-05-05 16:15] james-stocks commented on #4799
I think we should do this, I believe it's safe that if `true` and `false` are booleans, anyone who want/expects strings will get strings "true" and "false.
The inverse is not true because the string `"false"` is truthy.
So this seems like a good change that won't inconvenience anyone.

[2020-05-05 16:33] clintoncwolfe commented on #4799
Will include on #5011

[2020-05-05 18:44] aaronlippold opened #5014 "Add the ability to set expected patterns for inputs"
While setting shared inputs in my profiles I would like to do input validation to enforce expected data.

To start with - the easy cases

Number [0-9] or 1, 3, 5
String %r{}

The harder case would be JSON, hashes with various data types and then again patterns on the value data or even key data and or more complex objects

I would assume there is a gem that does this well already

[2020-05-05 22:07] clintoncwolfe commented on #5014
Hrm... We already have a simple type verification system for inputs, allowing one to restrict to Numeric/String, etc. It looks like you want to be able to restrict to "the odd numbers" or "a particular JSON Schema" or even most generally a Proc.

At that point, you might as well have an input plugin that examines its Event log and validates. Would the input API need to change for that?

[2020-05-06 09:14] james-stocks commented on #4769
Fixed in 4.18.111

[2020-05-06 09:15] james-stocks commented on #4445
Fixed in 4.18.111

[2020-05-06 09:17] Schwad commented on #5012
Hello! Thank you again for documenting this bug for us.

Just wanted to let you know that we had a look at the warning this morning and have identified the issue.

We are hopeful that we can have a deeper look at resolving this in the near future. Will update you as things develop. 👍

[2020-05-06 09:33] Schwad commented on #4936
@lhasadreams I am pleased to report that this issue has been fixed in InSpec 4.18.111, which we released about half an hour ago.

[2020-05-06 09:34] #4936 closed, assigned to Schwad

[2020-05-06 12:31] james-stocks commented on #3876
This appears to be working correctly in the current InSpec (though `type` will be `:symlink` and not `:link`)

[code]

[code]

[2020-05-06 12:31] #3876 closed, assigned to nobody

[2020-05-06 14:26] pburkholder commented on #5012
Thanks for the update! I understand it's not critical, but it'll save other
folks some head-scratching when you are able to patch it. Cheers, Peter

On Wed, May 6, 2020 at 5:17 AM Nick Schwaderer <notifications@github.com>
wrote:

--
-
*Peter Burkholder*
cloud.gov compliance & security | co-lead DevOps Community of Practice
<https://digital.gov/communities/devops/>

*Solutions
<https://www.gsa.gov

[2020-05-06 15:57] kekaichinose commented on #3881
I'll get this into DevRel/Training team's queue to help us get updated

[2020-05-06 19:49] clintoncwolfe opened #5015 "Fix --input tests for JSON parsing on Windows"
# Describe the problem

The JSON `--input` tests do badly with shell quoting rules under Windows under CI. While they work fine under manual testing, when run under the test harness, quote patterns seem to shift:

[code]

For now, the JSON --input tests in test/functional/inputs_test.rb have been skipped if windows.

## Possible Solution

[2020-05-07 03:12] aaronlippold commented on #5014
The idea that the user was asking for was the ability to match patterns of ip address or to validate that it *is* actually a pattern of ip address. Another that it was a 3 or 4 digit number. Etc.

[2020-05-07 07:52] james-stocks commented on #5013
See https://github.com/chef/expeditor/issues/1132

[2020-05-07 09:53] james-stocks commented on #4730
Going to close this as it has no specifics. There are more specific tickets for habitat build issues. Aside from habitat, and Windows tests being skipped (also has specific tickets), the build and release CI jobs have been pretty reliable recently.

[2020-05-07 09:53] #4730 closed, assigned to nobody

[2020-05-07 11:25] james-stocks commented on #5014
That would be nice, so in `inspec.yml` I can declare:

[code]

?

[2020-05-07 11:55] james-stocks commented on #5000
Implemented in https://github.com/inspec/inspec/pull/4994

[2020-05-07 11:55] #5000 closed, assigned to james-stocks

[2020-05-07 11:56] james-stocks commented on #4999
Implemented in https://github.com/inspec/inspec/pull/4994

[2020-05-07 11:56] #4999 closed, assigned to james-stocks

[2020-05-07 14:26] clintoncwolfe commented on #5014
So... just regex matches?

[2020-05-07 14:29] james-stocks commented on #875
I'd like to keep this open because it's a gotcha for any InSpec control developer and repeated effort goes into searching for the workaround(s).

@clintoncwolfe 's [appraisal](https://github.com/inspec/inspec/issues/875#issuecomment-437183205) looks correct - this would be complex to change and the current parsing of `.` characters as a method chain is intentional and valuable.

Thinking laterally

[2020-05-07 14:48] Schwad commented on #4973
@robbkidd I have a draft PR up on #5017 - it still requires tests but I have successfully run `archive` and `artifact` against it with the expected behavior locally, I wanted to get it up before the bank holiday UK weekend so you could have a chance to play with it before I come back and try to get it tested. 😄

[2020-05-07 15:09] clintoncwolfe commented on #4958
I believe this was fixed by #4993

[2020-05-07 15:09] #4958 closed, assigned to nobody

[2020-05-07 16:25] aaronlippold commented on #5014
With that example, https://github.com/inspec/inspec/issues/4229 comes back up. API keys password etc should be something we obscure in reporter and formatter output. I think if we could close the loop on valid pattern and then mark them sensitive our output itself doesn’t become confidential itself.

On phase two we could also connect the two so that we identify parrerns we know would be protected

[2020-05-07 16:26] aaronlippold commented on #5014
Regex is a great start.  Let’s do that first and see what use cases that drives.

[2020-05-07 16:36] menewol opened #5018 "describe.one fails when one case uses an unsupported resource"
By using a `describe.one` block im trying to audit wether a system has password complexity enabled.

For Windows this will work by using the `security_policy` resource, and checking wether PasswordComplexity-Matcher compares to 1. For Un*x you will have to take a different approach. For example in ubuntu checking wether the `/etc/pam.d/common-password` contains parameters describing pw-complexity

[2020-05-08 00:33] clintoncwolfe commented on #3959
Implementation notes: as this is done through the remote executioner, we basically either need to assume curl is installed on a Windows machine (as the existing solution is curl-based) or develop a PowerShell solution that is as feature-rich.

[2020-05-11 10:39] KrisShannon commented on #4323
In Slack @aaronlippold suggested that another resource using inheritance is probably the right answer for this.

Although a custom resource can't currently inherit from a core resource (or more specifically you can't inherit across registries) it would be possible to do this in core - a la `etc_hosts_deny`.

I'm thinking of working on this by adding two new resources to [lib/inspec/resources/grub_

[2020-05-11 11:02] james-stocks commented on #5018
The distinction here is that one of the tests is causing an error to be raised during evaluation, rather than evaluating to a failed test result.

Do you mind if I change the title of this issue to `describe.one fails when including unsupported resource` ?

I believe that commonly people keep their Windows and Linux controls in separate profiles (you can then create a wrapper profile that includes

[2020-05-11 11:04] #4705 closed, assigned to james-stocks

[2020-05-11 11:15] james-stocks commented on #3959
I think we can't assume curl (as in curl.exe) is available.
`curl` (cmdlet) is always available in PowerShell as an alias to `Invoke-WebRequest` - we'll probably need to write new code that works with that.

[2020-05-11 11:35] Schwad commented on #5014
Could those be two separate elements?
i.e. From Stocksy's above:

[code]

Or is there the need for actually checking the data formation as it hits the input to determine suppression?

i.e.

[code]

[2020-05-11 13:54] james-stocks commented on #4886
Some example controls to demonstrate what does/doesn't work:

[code]

Output of this is:

[code]

So we can see that:

1. the `hello` on stdout from control-4 appears - InSpec still evaluates this statement.
2. the `/tmp/test_file` file from control-3 does not exist - InSpec has not executed this command.
3. A divide-by-zero error is skipped when it happens inside a test. When the error happens ou

[2020-05-11 13:57] mykelalvis opened #5021 "Inspec does not appear to run on Fedora (32) with a package or gem install"
# Inspec does not work on my Fedora 32 install.

When installing 4.18.111 via RPM (el7) or `gem install inspec-bin` there is what appears to be an issue
[code]
# Ruby reports an error executing `resolver.rb`

[code]

---

# dnf install

[code]

[2020-05-11 14:13] james-stocks commented on #4886
@kekaichinose this is another example of the more general problem where mixing raw Ruby code (e.g. `each`, `if/else`) with InSpec DSL doesn't work.

There's already issues like https://github.com/inspec/inspec/issues/3433 where controls from a dependency profile are all executed, not just the ones selected by the wrapper profile.

Another issue shown here is that the waiver does not apply if an un

[2020-05-11 14:45] james-stocks commented on #5021
Hi @mykelalvis -

If I'm reading your output correctly; you have been able to install InSpec OK but get an error when attempting the `inspec vendor` command?
What is the contents of `inspec.yml` in the directory you're running this command in?

Fedora isn't officially supported (https://docs.chef.io/platforms/#chef-inspec) so this won't get fixed by this project's maintainers if it turns out to be

[2020-05-11 15:04] james-stocks commented on #4886
@trickyearlobe for control 9.10, I believe this is a YAML syntax issue where the waiver YAML needs to be `'9.10':` not the numeric `9.10:` (which changes to 9.1 when read in)

2.10 is the case I commented above - InSpec encounters an exception and the test is an Error result rather than a Failure result. I will confirm with @kekaichinose whether Errors should be waived or if they should still repo

[2020-05-11 19:10] infa-ksatarka-zz commented on #3050
×  check-vpc: Verify if the vpc with mentioned id exists
     ×  Control Source Code Error sample_profile/controls/infra-test.rb:3
     missing required parameter params[:role_arn]

Profile: Amazon Web Services  Resource Pack (inspec-aws)
Version: 0.1.0
Target:  aws://

     No tests executed.

Profile Summary: 0 successful controls, 1 control failure, 0 controls skipped
Test Summary: 0 successful

[2020-05-11 20:49] menewol commented on #5018
Hello James,

Totally fine with changing the title!

Thank you very much for clarifying on that issue, as well as providing a
best-practice solution and a workaround to go for the non-best-practice
route.

Best regards,

menewol

[2020-05-11 21:20] mykelalvis commented on #5021
Actually, this happens with `inspec check` as well.
[code]

[2020-05-12 10:28] james-stocks commented on #5021
You have a slight YAML syntax issue there. `depends` needs to be an array of dependencies (even if there's only one).

Try

[code]

We should keep this issue open to improve the validation of the metadata YAML

[2020-05-12 10:30] james-stocks commented on #5021
Actually @mykelalvis - to avoid confusion with the original Fedora bug report; do you mind if we close this issue, and I will raise a fresh issue for the need to validate inspec.yml better?

[2020-05-12 13:17] james-stocks commented on #4669
I checked yesterday, Ruby 2.7 is now running and passing in CI for every commit.

[2020-05-12 13:17] #4669 closed, assigned to james-stocks

[2020-05-12 14:59] rmoles commented on #3411
+1 Also seeing this issue when depending on a local copy of the `inspec-aws` resource pack in the profile inspec.yml

[2020-05-12 15:20] samscottchef commented on #3411
I am also having the issue described above

[2020-05-12 15:24] james-stocks commented on #4422
https://github.com/inspec/inspec/pull/4895 relates to this and we should probably re-open that PR and get it working and filled out with tests as we plan out tasks for this Epic.

[2020-05-12 16:05] mykelalvis commented on #5021
That's what I get for doing a copypasta 😁

[2020-05-12 16:05] #5021 closed, assigned to nobody

[2020-05-12 17:57] haidangwa opened #5022 "Inspec supermarket option to upload a profile"
## Detailed Description
It would be nice to be able to upload an Inspec profile to Chef Supermarket.

## Context
In our case, we have a private Chef Supermarket where we already upload private Chef cookbooks, using `berks upload`. Using the inspec CLI seems a natural way to do this task, and it can be automated from our CI/CD pipelines.

## Possible Implementation

[2020-05-12 20:07] orcutt989 commented on #4064
+1 for this

[2020-05-13 08:54] james-stocks opened #5023 "inspec.yml should be validated"
https://github.com/inspec/inspec/issues/5021 was a bug report about InSpec not working correctly on Fedora.

It turned out that the YAML structure in `inspec.yml` wasn't quite right, and that caused unhandled crashes.

Example `inspec.yml`:

[code]

This causes errors like:

[code]

This is because the `depends` metadata does not contain a list.
This metadata should either handle the single depend

[2020-05-13 12:34] aaronlippold commented on #5014
So for the pattern matching, the main goal in my mind is that I can ensure controlled data input, or even to disallow inputs I don't want for whatever reason.

For the suppress or confidential - both of the above could work. The main goal for me is that I can ensure that my output at a minimun doesn't pollute my on disk artifacts - such as json, yml, html, etc. so that I don't cause my output to b

[2020-05-13 12:37] aaronlippold commented on #5014
Also, I vote that we keep it to one term - either supress or confidential. Doesn't matter which but we should keep to one term to ensure folks understand its the same function with two interface points.

[2020-05-13 14:40] rmoles commented on #4228
+1

[2020-05-13 16:27] james-stocks opened #5024 "Document new reporter options"
The `--reporter-message-truncation` and `--reporter-backtrace-inclusion` options are merged and about to release, but they are missing from the docs (i.e. https://www.inspec.io/docs/reference/reporters/ )

[2020-05-13 17:49] clintoncwolfe commented on #5023
Metadata has a validator in place today - see [here](https://github.com/inspec/inspec/blob/b3e2a4a46b1aeffa55744f660f2a11d4a7ba9121/lib/inspec/metadata.rb#L72) - but it is not opinionated enough about the structure of the YAML that is loaded.

[2020-05-13 21:30] dave-q opened #5025 "Document service properties exposed to be utilised by the service resource"
To my knowledge the properties of a service that are exposed to the service resource are not documented. It would be good to at least have a basic list of these
Here is an example of what I mean

[code]

The 'startname' property of a service isn't documented anywhere. Some on the slack channel kindly told me about this.

## Context
Without it being documented it makes it hard to discover what deta

[2020-05-14 03:15] clintoncwolfe commented on #5023
Can probably close #1284; it is either a duplicate or is outdated. I'm pretty sure inspec check does report the errors found by the valid? check. If not, this is a good ticket to get that specified and fixed.

[2020-05-14 08:50] james-stocks opened #5027 "Refresh InSpec 3 branch and release"
We need a fresh release of InSpec 3 to release recent changes to gem dependencies.
The expeditor and buildkite config is probably outdated on that branch; and there may be other merges to master that are appropriate to backport.

Aha! Link: https://chef.aha.io/features/SH-2243

[2020-05-14 08:55] james-stocks commented on #5027
See https://github.com/chef-cookbooks/audit/issues/423

[2020-05-14 16:29] clintoncwolfe commented on #2509
#4954 implemented support for vmware detection, released in 4.18.104, closing

[2020-05-14 16:29] #2509 closed, assigned to nobody

[2020-05-14 16:35] aaronlippold commented on #5024
So just to make sure, backtraces will still be a part of the default reporting for CLI and JSON correct?

[2020-05-15 14:32] ghost opened #5030 "Software repository for Ubuntu Focal Fossa (20.04) no more holds an inspec package"
## Detailed Description

When following the guidelines from https://docs.chef.io/packages/ using Ubuntu 18.04 bionic it is possible to install inspec via a simple `apt install inspec`.
When doing the same for using Ubuntu 20.04 focal this no more works. The only available package is `chef`

[code]

The package itself is available on the server (http://packages.chef.io/repos/apt/stable/ubuntu/20.04

[2020-05-15 20:16] tas50 opened #5031 "OpenSSL usage deprecation warnings from Rubocop"
Rubocop has a new cop that detects an upcoming deprecation to the OpenSSL gem that's built into Ruby.

The openssl introducing the deprecation:
https://github.com/ruby/openssl/pull/366

The new rubocop rule currently only in master:
https://github.com/rubocop-hq/rubocop/pull/7950

[code]

[2020-05-16 15:50] aaronlippold commented on #4714
Sorry, lost track of this one. Let me look through and find examples but fundamentally any base service resource that sets and uses a config file path should expose that in the interface. We used to do this as a standard practice in the v1 v2 resources but I think just got out of the habit.

I know I had two or three specific examples of where we were trying to write controls using inline unless (

[2020-05-16 16:02] aaronlippold opened #5032 "Add the ability to set impact in `only_if`"
As a user, I would like to be able to update the `impact` of my control if I hit an only_if condition

[2020-05-16 20:23] debiprasadpanigrahi opened #5033 "custom resource to test my application through REST API"
### 🎛 Description

**Choose one:** is this a 🐛 bug report or 🙋 feature request?
I am new to Chef inspec and trying to accomplish a task where I have been asked to write a custom resource to test my application using API.
I tried to use inspec http resource to test my application from my windows workstation but got below error:
Resource `http` is not supported on platform windows_10_enterprise/10.0

[2020-05-17 11:50] debiprasadpanigrahi commented on #5033
This can be closed as I wrote a class for my api under libraries and call that from my_app.rb. HTTParty was installed on local path when I install the gem through “chef gem install” everything worked as expected.

Please close this issue. Thanks

[2020-05-17 20:03] #5033 closed, assigned to nobody

[2020-05-18 14:55] Schwad commented on #5031
@tas50 running pipeline on these changes in #5035 to see if we run green. Thanks for providing the examples and background! 🙏

[2020-05-19 15:37] james-stocks opened #5037 "Waiver expiration dates do not work with (zeroed) time accuracy"
The current code for waiver expiration depends on the value being a Date

See https://github.com/inspec/inspec/blob/d9e5b65e3d5c710b479499b8c3946905b5d51834/lib/inspec/rule.rb#L356

[code]

If the date is expressed in a time format with higher precision (examples: '2021-11-10T00:00:00Z', '2020-11-04T00:00:00' ), ruby YAML will provide a value with class Time instead. This fails `if expiry.is_a?(Da

[2020-05-19 15:37] james-stocks commented on #5037
cc @TheLunaticScripter

[2020-05-20 07:48] james-stocks commented on #5037
This issue isn't to make waivers accurate to times during a date - it's to make waivers work with dates that specify a time value with day, month, year and insignificant time fields.

[2020-05-20 08:53] Schwad commented on #4777
Note: It appears any invocation of `Inspec::Log` does currently go to STDERR. However any `puts` statements would go to STDOUT. So a good rule moving forward will to keep an eye out for `puts` statements and clean up where possible (I ran into this in the above issue)

[2020-05-20 11:33] #5031 closed, assigned to nobody

[2020-05-20 16:20] james-stocks commented on #4888
I believe this is now done - `.expeditor/buildkite/artifact.habitat.test.ps1` gets the installer from S3 via aws cli
`omnibus/omnibus-test.ps1` was changed by @christopher-snapp to simply use the embedded Ruby instead of fetching and installing it.

[2020-05-20 16:20] #4888 closed, assigned to nobody

[2020-05-20 16:47] james-stocks commented on #4890
`its('Transmit Hash Policy')` is not valid InSpec
The string passed to `its` needs to be the name of a Ruby method that's supported by the [`bond resource`](https://github.com/inspec/inspec/blob/master/lib/inspec/resources/bond.rb)

It looks like the properties for the bond are available as a hash via the `params` method.
I think you could try:

[code]

Apologies for a slow response; but I hope th

[2020-05-20 16:47] #4890 closed, assigned to nobody

[2020-05-20 16:54] james-stocks commented on #4891
Yeah this seems wrong, methods need to return false or nil when `exists` is false.

[2020-05-20 17:04] james-stocks commented on #4893
This is a valid annoyance; but harmonizing the platform names needs to happen across InSpec/train/Chef/Ohai and can't be fixed in this repo.
@tas50 is the gap between ohai and train platforms being actively discussed anywhere?
I'd like to close this issue but not without pointing to where to keep reading.

[2020-05-21 09:37] james-stocks commented on #4909
If you're referencing a .tar.gz then you might need to change the `git:` reference to a `url:`

[2020-05-21 09:46] #4920 closed, assigned to nobody

[2020-05-21 09:57] james-stocks commented on #4922
Sorry for slow response - I believe you do need to use an ssh key or a stored credential, sorry.
Another alternative is to set up releases on the git repo then give InSpec the URL for a released .tar.gz file.

[2020-05-21 10:03] james-stocks commented on #4928
@RubyTuesdayDONO sorry for the slow response and thank you very much for the clear explanation and possible solution.
I can't give an estimate for when we'll get round to this, but it's on our bug list now.

[2020-05-21 17:41] clintoncwolfe opened #5042 "warnings from pry-debug with inspec shell under chef-workstation"
# Describe the problem

Install the latest build of chef-workstation (available from Current channel on the downloads page). Run `eval "$(chef shell-init bash)"` to set your environment to run from Chef workstation. When you run `inspec shell`, you get:

[code]

## Possible Solution

Aha! Link: https://chef.aha.io/features/SH-2176

[2020-05-22 00:25] clintoncwolfe commented on #4988
@james-stocks can this be closed with the new message limiting features?

[2020-05-22 06:22] alexpop commented on #4988
Yes, thank you Clinton. This has been fixed with this PR https://github.com/inspec/inspec/pull/4994

[2020-05-22 06:22] #4988 closed, assigned to nobody

[2020-05-22 09:49] james-stocks commented on #5042
This is already fixed upstream

[code]

...however the [PR for the fix](https://github.com/pry/pry-stack_explorer/pull/49) indicates that pry-stack_explorer will no longer support Ruby 2.5 which may still be a problem for us. Or possibly not, if InSpec itself doesn't use pry-stack_explorer and workstation will only use ruby 2.7?

[2020-05-22 10:29] #4973 closed, assigned to Schwad

[2020-05-22 14:26] clintoncwolfe commented on #5042
OK, so I'm scanned the omnibus build of InSpec, and it does not include pry-stack_explorer. So we can drop #5043, and not worry about ruby 2.4-2.5 compatibility.

Meanwhile, that means we can use the released 0.5.1 gem, which only supports ruby 2.6 and 2.7 in Workstation, so https://github.com/chef/chef-workstation/pull/1225 can be modified to be a pin instead of using a fork.

One less fork...

[2020-05-22 15:52] #5037 closed, assigned to james-stocks

[2020-05-23 04:01] clintoncwolfe commented on #4786
Two things come to mind:

For sensu-style, exit-code-based scripting, the `--no-distinct-exit` option will narrow things down to a simple 0 for all pass, 1 for at least one failure.

If your monitoring system has a Ruby API client, you might be better off writing a reporter plugin, a new feature in 4.18.118. That allows you to examine the full details of the run and do anything you like, with any

[2020-05-23 04:41] clintoncwolfe commented on #4906
There is an entire page dedicated to the option here: https://www.inspec.io/docs/reference/config/

[2020-05-23 04:48] clintoncwolfe commented on #4904
I believe this has been addressed through the message truncation and backtrace disable work. Also, I'm not sure what specific duplication was being referred to, and changing the schema would break a lot of consumers, so I don't think this is very actionable.

[2020-05-23 04:48] #4904 closed, assigned to nobody

[2020-05-23 10:56] Sum123it opened #5046 "logging into a BASTION host(jump server) using Inspec SSH with RSA token password"
I am trying ssh command to login into Jump host, but was not able to

# Describe the problem
I am new to Inspec. Any way we can give RSA token password(which changes every 60 seconds) to  login into VMs hopping BASTION? Looking for SSH tunneling.

My requirement is - to run some **inspec tests in Azure VM.**

I am trying to use `ProxyCommand ssh user@bastion nc %h:%p`

## Possible Solution
Do I ne

[2020-05-23 16:31] aaronlippold opened #5047 "DOCS: add command line example for `init` commands on each plugin type and other init commands"
adding an example cli init example for each plugin and or init type would be useful to the end user and ensure we have closed the loop on code, tests and docs.

[2020-05-23 16:38] aaronlippold commented on #4989
What I would envision is:

`inspec shell --depends <path> --input-file=<path> -t <target>`

`inspec shell --depends <path> --input a=[1,2,3] -t <target>`

[2020-05-23 17:52] Sum123it opened #5048 "Inheriting local TAR file for a relative path in windows - inspec.yaml"
I need to inherit a local tarball for inspec.yml

# Describe the problem
I am trying to work with inspec-azure tar from github. but getting 443 connection timeout . Tried setting up git proxies - but no help. How to inherit .tar.gz locally?

**getting error for below yml file - path doesn't exist:**

[code]

I need to get the **relative path** have a local tar.gz which I can use.
below works

[cod

[2020-05-24 04:19] clintoncwolfe commented on #4220
`inspec version` no longer accesses the network.

[2020-05-24 04:19] #4220 closed, assigned to nobody

[2020-05-24 04:40] clintoncwolfe commented on #771
Per https://www.inspec.io/docs/reference/resources/json/, you can now use
[code]
YAML has similar support.

[2020-05-24 04:40] #771 closed, assigned to nobody

[2020-05-24 05:12] clintoncwolfe commented on #2738
This issue is not present in inspec 4, as inputs are routinely accessed by name only.

[2020-05-24 05:12] #2738 closed, assigned to nobody

[2020-05-24 05:22] clintoncwolfe commented on #4604
This a duplicate of #2857, so we'll track the issue there. Thanks!

[2020-05-24 05:22] #4604 closed, assigned to nobody

[2020-05-24 05:22] clintoncwolfe commented on #4594
Done

[2020-05-24 05:22] #4594 closed, assigned to nobody

[2020-05-24 05:31] clintoncwolfe commented on #4460
Plugins have a two-stage loading process. The first stage loads the gem, which is intended to be lightweight, but lets the system know what capabilities (Activators) the plugin offers. If needed, the Acivator is lazy-loaded, and that is when the heady loading is intended to happen. See https://github.com/inspec/inspec/blob/master/docs/dev/plugins.md#activation-and-execution .

[2020-05-24 05:31] #4460 closed, assigned to nobody

[2020-05-26 17:12] #4906 closed, assigned to nobody

[2020-05-26 17:12] #4786 closed, assigned to nobody

[2020-05-26 17:12] #4777 closed, assigned to nobody

[2020-05-26 17:13] #4228 closed, assigned to clintoncwolfe

[2020-05-26 17:14] #4881 closed, assigned to nobody

[2020-05-26 17:14] #4889 closed, assigned to nobody

[2020-05-26 17:14] #4894 closed, assigned to nobody

[2020-05-26 17:14] #4853 closed, assigned to nobody

[2020-05-26 17:14] #4763 closed, assigned to nobody

[2020-05-26 17:15] #4787 closed, assigned to nobody

[2020-05-26 17:15] #4767 closed, assigned to nobody

[2020-05-26 17:15] #4731 closed, assigned to nobody

[2020-05-26 17:15] #4644 closed, assigned to nobody

[2020-05-26 17:15] #4596 closed, assigned to nobody

[2020-05-26 17:15] #4579 closed, assigned to kekaichinose

[2020-05-26 17:16] #4584 closed, assigned to nobody

[2020-05-26 17:16] #4578 closed, assigned to kekaichinose

[2020-05-26 17:16] #4573 closed, assigned to kekaichinose

[2020-05-26 17:16] #4492 closed, assigned to kekaichinose

[2020-05-26 17:16] #4422 closed, assigned to nobody

[2020-05-26 17:17] #4362 closed, assigned to nobody

[2020-05-26 17:17] #3909 closed, assigned to nobody

[2020-05-26 17:17] #4162 closed, assigned to nobody

[2020-05-26 17:17] #4139 closed, assigned to nobody

[2020-05-26 17:17] #4065 closed, assigned to nobody

[2020-05-26 17:17] #4034 closed, assigned to nobody

[2020-05-26 17:18] #4015 closed, assigned to nobody

[2020-05-26 17:18] #3088 closed, assigned to nobody

[2020-05-26 17:18] #3340 closed, assigned to nobody

[2020-05-26 17:18] #3846 closed, assigned to kekaichinose

[2020-05-26 17:18] #3850 closed, assigned to clintoncwolfe

[2020-05-26 17:18] #3851 closed, assigned to nobody

[2020-05-26 17:19] #3866 closed, assigned to nobody

[2020-05-26 17:19] #3951 closed, assigned to nobody

[2020-05-26 17:19] #3990 closed, assigned to nobody

[2020-05-26 17:19] #4012 closed, assigned to nobody

[2020-05-26 17:19] #3864 closed, assigned to nobody

[2020-05-26 17:19] #3859 closed, assigned to nobody

[2020-05-27 07:30] #3237 closed, assigned to nobody

[2020-05-27 07:42] james-stocks commented on #3697
That's awesome @tecracer-theinen - thanks!

We now have attributes changed to inputs, and a lot of improvement work has been done.
`inspec-chef` is also now available.

[2020-05-27 07:42] #3697 closed, assigned to nobody

[2020-05-27 07:57] james-stocks commented on #4368
This is maybe a great candidate for a plugin (following the same pattern as https://github.com/mattray/inspec-iggy/ for example).

It wouldn't get implemented in this repo, so do you mind if I close this issue?
The community Slack is always available for further discussion.

Thanks

[2020-05-27 07:57] #4368 closed, assigned to nobody

[2020-05-27 08:12] james-stocks commented on #4495
If the desire is to be able to wait for the system-under-test to finish initializing before InSpec asserts its tests; then I feel this should be addressed in kitchen rather than InSpec. We have a number of CI test suites where we have terraform run a post script waiting for system-readiness before starting InSpec.

There are cases where being able to retry would be useful e.g. when fetching data o

[2020-05-27 08:16] james-stocks commented on #4783
Closing - we can re-open if we ever get round to it.
I think there are a couple of gotchas with the Expeditor config check - last week I noticed that it doesn't properly re-check if you push new commits to a PR, a fresh PR was needed for it to check properly.

[2020-05-27 08:16] #4783 closed, assigned to nobody

[2020-05-27 22:42] mattray opened #5050 "skipped controls are still executed"
Controls skipped through including a profile and the skipping them are still executed. This is a problem because the reason they were skipped is they take 15 minutes to time out on failure.

The expected behavior is not to execute them at all and not report them. The good news is they do not report as time outs, as seen in https://github.com/inspec/inspec/issues/4959

https://github.com/mattray/li

[2020-05-28 08:34] james-stocks commented on #5050
Hi @mattray -

This is a common pitfall in InSpec. Controls are only skipped after InSpec has finished evaluating your source code and finalised the set of `control` and `describe` blocks to execute or skip.

In this case I believe the `'patches'` control fully evaluates the `each` loop on [line 21](https://github.com/dev-sec/linux-patch-baseline/blob/master/controls/patches.rb#L21)

[code]

InSpe

[2020-05-28 08:34] james-stocks commented on #5050
cc @kekaichinose

[2020-05-28 08:38] james-stocks commented on #5050
See also https://github.com/inspec/inspec/issues/3433

[2020-05-28 08:56] james-stocks commented on #3433
I was discussing this with @skpaterson yesterday - the most common pitfall when trying to skip/exclude controls is that InSpec has to evaluate the source code you give it.

Frequently profile authors will mix Ruby statements in with InSpec's basic DSL - most commonly by including an `each` loop to define a number of `describe` tests; or by declaring a variable.

Currently *all* code must be contai

[2020-05-28 10:10] james-stocks opened #5052 "test/functional/inspec_vendor_test.rb depends on supermarket being available"
e.g. https://buildkite.com/chef-oss/inspec-inspec-master-verify/builds/1524#d0b9e9cf-ed17-4482-8c81-b339117faad7

Our test suite depends on supermarket being online.

[2020-05-28 12:25] Schwad commented on #3433
Hello,

Although this is not perfect I had been looking into this code execution not long ago. You all probably know this but starting with this test example:

[code]

Will normally return

[code]

When waived, the control only returns

[code]

As stocksy said above, `describe` blocks get deferred when waived.

What if you spin up a dummy larger describe block for any code you don't want to be eva

[2020-05-28 17:13] james-stocks commented on #4640
There's a Plist resource available in https://github.com/chef/inspec-extra-resources

It's not added to core InSpec because the resource pack makes it available to all users without needing to upgrade InSpec

[2020-05-28 19:19] clintoncwolfe commented on #4972
I can't reproduce this error on ubuntu 18.04 and inspec 4.18.114 using dev-sec/linux-patch-baseline . What OS and inspec version are you using?

[2020-05-28 22:22] TechGuyChris opened #5055 "Unable to stub core resources in Unit Tests"
# Describe the problem
Hello,
I am unable to stub output for built in resources when writing a unit test for a custom resource i've created. This custom resource utilizes the `command` resource. How do we stub a value for a core resource thats utilized inside a custom resource?

 It keeps reporting that the method `inspec` is nil

I  have created a custom resource that utilizes the  built in core

[2020-05-28 22:37] TechGuyChris commented on #5055
If possible, how do we lazy load the core resources, or is that even needed? I'm going based off this Inspec doc here: https://www.inspec.io/docs/reference/dsl_resource/ . See end of doc where it talks about lazy loading.

I've added the following line to my spec_helper.rb class per the doc.

[code]

[2020-05-29 08:29] james-stocks opened #5056 "www rake tasks cause large number of obsoletion warnings"
`rake www PUSH=1` now causes a large number of warnings:

[code]

[2020-05-29 13:15] snapp opened #5058 "Additional aarch64 distros could be supported if not for a dependency on an old unv_ext (0.0.7.2)"
We're missing out an several distributions due to a transitive dependency.

# Describe the problem

Adding the following builder/tester mapping to `.expeditor/release.omnibus.yml` ([as done in this PR](https://github.com/inspec/inspec/pull/4981)) fails only due to a nested dependency on `unv_ext 0.0.7.2`:

[code]

## Possible Solution
By forcing `unf_ext ~> 0.0.7.6` (https://github.com/inspec/insp

[2020-06-01 15:45] Schwad commented on #5058
Hello! Interestingly, I ran up against this on a linux distro today!

Is there any chance that bumping `unf_ext` [fails verify on 2.7](https://buildkite.com/chef-oss/inspec-inspec-master-verify/builds/1809#c6730fa3-e0dc-43a0-8b84-542278a75986) because it spits out the [new deprecations on keyword arguments introduced in Ruby 2.7](https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positiona

[2020-06-01 15:46] amitchettri commented on #4972
Hello @clintoncwolfe,

Below are the details for the OS used and Inspec
# inspec version
4.18.104

OS where inspec is installed
# cat /etc/redhat-release
CentOS Linux release 7.7.1908 (Core)

[2020-06-01 16:54] trickyearlobe commented on #4350
Since a couple of related issues were closed and we are now tracking the issue here, I just wanted to weigh in with my own experience from customers.

We've had issues around running out of memory with large result sets (such as enumerating users in a large AD) and we've had complaints about time taken (such as GCP scans for a large UK bank).

By far the most serious complaint is the impact we had

[2020-06-01 17:09] btm commented on #5030
Just as a note, I poked around in https://packages.chef.io/repos/apt/stable/dists/bionic/main/binary-amd64/Packages and it has inspec packages, but as reported https://packages.chef.io/repos/apt/stable/dists/focal/main/binary-amd64/Packages does not. The only package in the focal index is Chef 15.9.17, which is old. I'll reach out to release engineering.

[2020-06-01 17:32] clintoncwolfe commented on #4972
~What OS is the target?~
I'm able to reproduce the issue running 4.18.104 locally on a centos7 machine, but targeting a centos7 machine from a MacOS machine does not reproduce the issue. Curious.

Anyway, what I'd like to do is to put in a run_data filter (#5054). That will filter out the error message in plugin-type and core reporters (such as the proposed html2 reporter (#5045)) but not formatte

[2020-06-01 18:04] macbash opened #5059 "AWS NetworkACL Check is missing ?"
All - i checked the recent version of inspec in aws testing, found NACL check is missing. Could we get this ?

[2020-06-01 19:54] amitchettri commented on #4972
Target os is a mix of CentOS OS and ubuntu 18.04

[2020-06-02 10:34] Schwad commented on #5059
Hi @macbash  -  would this be something we'd adjust in the `inspec-aws` resource pack? If so it may be worth filing an issue here. https://github.com/inspec/inspec-aws

[2020-06-02 12:47] macbash commented on #5059
Sure. Thanks

________________________________
From: Nick Schwaderer <notifications@github.com>
Sent: Tuesday, June 2, 2020 4:04 PM
To: inspec/inspec <inspec@noreply.github.com>
Cc: Mohammed Azfar <m_az@live.in>; Mention <mention@noreply.github.com>
Subject: Re: [inspec/inspec] AWS NetworkACL Check is missing ? (#5059)

Hi @macbash<https://github.com/macbash> - would this be somethingn we'd adjust

[2020-06-02 15:46] kmf opened #5061 "InSpec Resource to check Automate Policies and Roles"
## Detailed Description

It would be awesome to use InSpec to troubleshoot issues with Automate Policies and Roles.

## Context

We had an issue on Automate, it was such a silly fix, we added a group of users to `editors` that weren't allowed to be there.

## Possible Implementation

[code]

Aha! Link: https://chef.aha.io/features/SH-2415

[2020-06-02 15:59] clintoncwolfe commented on #4903
I think what this issue is referring to is gem dependency support. Resource packs already have a dependency mechanism (resource packs are just profiles, and profiles can declare dependencies for other profiles / resource packs in metadata)

[2020-06-02 17:25] clintoncwolfe commented on #4972
I've looked into this in further detail, and found that it only occurs on a centOS host with an RSpec formatter such as `html`; by the time it reaches the InSpec reporter (either core or plugin) it does not appear in the result message.   So, fixing it on a run data filter isn't needed and #5054 is moot. Since our way forward for HTML reports is the html2 reporter plugin, and fixing this would req

[2020-06-02 18:24] amitchettri commented on #4972
Thanks @clintoncwolfe for the detail information, l will check on this.

[2020-06-03 09:18] james-stocks opened #5064 "Fix or remove code coverage check"
It doesn't appear to have ever worked in its current CodeClimate form...

https://buildkite.com/chef/inspec-inspec-master-coverage/builds?branch=master

[2020-06-03 09:55] Schwad commented on #5059
Cheers! Will look for it there 👍

[2020-06-03 09:55] #5059 closed, assigned to nobody

[2020-06-03 09:57] Schwad commented on #5061
Thanks for opening this issue @kmf - and also cheers for sharing a possible implementation layout! 👍

[2020-06-03 13:27] james-stocks commented on #4903
This might be a duplicate of https://github.com/inspec/inspec/issues/3637 then.

[2020-06-03 13:37] james-stocks commented on #3637
Two other options for the sake of completeness:

* Change nothing in InSpec. Address the problem in distribution (Chef Workstation, CINC etc) on in some new tool that has the remit of having InSpec ready with all the extra gems the content will need. (Slightly different to "Do nothing" - it just means do something but do it elsewhere).
* Do not have InSpec resolve and install gems; but do have it

[2020-06-03 13:41] james-stocks commented on #3637
You can also use Habitat (or a community distribution like Biome) to have all your code stored and executed from a single artifact.

[2020-06-03 15:26] kekaichinose commented on #4916
Let's go ahead and close this out. As @clintoncwolfe mentioned, references to the older resources are no longer linked on the docs site so this might be hit if folks are going through project documentation directly. I'm fine with waving this off till remove the resources from core for future release.

[2020-06-03 15:26] #4916 closed, assigned to mjingle

[2020-06-03 19:57] Paladin opened #5066 "Try to Force acceptance of a different license than it gets installed under"
Tried a couple of different ways, installing via Homebrew and installing via the MacOS .dmg

No matter which way I try, and despite the claims of the website *and* the .dmg installer, it demands I contact chef and beg for a license.

Obviously, both those two conditions cannot be correct. Choose a license and stay with it, at least for the life of the installed version. Don't install under a false

[2020-06-03 20:26] clintoncwolfe opened #5067 "Remove Ruby 2.4 Support"
# Describe the problem
Ruby 2.4 was EOL'd on March 31, 2020.
https://www.ruby-lang.org/en/news/2020/04/05/support-of-ruby-2-4-has-ended/

Remove 2.4 from testing and packaging.

Aha! Link: https://chef.aha.io/features/SH-2148

[2020-06-03 20:47] clintoncwolfe commented on #5066
Thanks for your inquiry. I believe [this comment](https://github.com/inspec/inspec/issues/4084#issuecomment-497389130) in particular may help clarify the situation. If you do not wish to accept the Chef License, yet still wish to use Chef InSpec functionality, you do have other options.

[2020-06-03 21:12] kekaichinose opened #5068 "Fix skipping of controls to actually do what it says"
## What problem are we solving?

_Should be a few sentences. Describe the user stories and the target market._

As a **Chef customer**, I want to be able to skip controls that are not applicable for my needs

Today, though InSpec claims to allow users to "skip" controls, on the back end, its still executing the control, but just reporting the result as "skipped". This:
* misleads the user as they

[2020-06-03 23:06] kekaichinose commented on #821
@james-stocks I wanna get your thoughts on this one. I think a "--template" CLI argument to a seed file could be interesting. Pulling from ENV vars is a little too opinionated to me - I could see some customers wanting to store their InSpec profile config values in that way, but it would definitely be second order to having a direct path to pull those configs from.

[2020-06-03 23:33] Paladin commented on #5066
Doesn’t really fix the problem, though, does it? You’re still doing a “false flag” installation, where the installer says it’s one license, and your customer doesn’t find out it’s lying to him until the first time they try to run it.

I did a search for license before I opened this, didn’t see anything. Thanks for the pointer to the other issue. Yes, I know I have other options. I liked using insp

[2020-06-03 23:56] james-stocks commented on #5068
Thanks @kekaichinose - the Acceptance Criteria is perfect.

The problem here is that there are roughly 3 phases to executing a profile:
1. evaluate the profile's Ruby source code, resulting in a set of InSpec DSL objects (controls, describes, resources, matchers). This is what we're calling "aggregation".
2. manage the controls that were aggregated (waive them; or include/exclude them from a wrapp

[2020-06-04 00:16] aaronlippold commented on #5066
Hello, I understand your situation and this is exactly why we also
developed the Cinc project. Please see https://cinc.sh.

Cinc is a fully Apache 2.0 based build of all the open source capabilities
of inspec without the trademark and other things outlined in the end user
license agreement.

This is much akin to other similar enterprise open source projects.

CINC has no licenses other than Apache

[2020-06-04 00:22] aaronlippold commented on #5066
This was a common question that I got from many of our community members I ended up writing an FAQ on it on our website.

https://saf.mitre.org/#/faq

All Chef software source code, including Chef InSpec, is open source under the Apache-2.0 license.

Use of Chef's binary builds requires a paid license for use in production.

Use of Chef binaries and releases in development, test, evaluation and de

[2020-06-04 00:29] aaronlippold commented on #5068
Hi, I absolutely agree with you guys and we've actually had multiple conversations in various ways around this issue.

https://github.com/inspec/inspec/issues/1677

This issue is actually one of the first times this was brought up and it gets to the root cause and we have been working on doing some research to try to figure out how to not load controls onto the runner object which meet a particula

[2020-06-04 05:38] kmf commented on #4368
Looks like something that will work
https://github.com/inspec/inspec/issues/821

[2020-06-04 08:19] Schwad commented on #5068
Thanks all for this.

I do not have much to add, but a small note for those who may come here and be unfamiliar with the issue.

Anything inside a describe block is not evaluated when a controller is waived, so most tests would actually not ever be run and would be functionally waived. You can trial this yourself by injecting a `puts` statement inside a waived control directly and also inside a `d

[2020-06-04 09:01] james-stocks commented on #821
This issue isn't specific about what should be parameterized.

I'm assuming the ask is to populate these parts of `inspec.yml` :

[code]

It could also be valuable to let users pass in default `depends` values in `inspec.yml` if their company has standard resource packs.

If it's also intended that users can define default code inside the `controls` directory then that might change what way we'd w

[2020-06-04 11:41] Schwad commented on #5067
+1 this

Another reason this would be great to do is we've had to pin ActiveSupport < 6.0 because newer versions no longer work with Ruby 2.4. https://github.com/inspec/train/pull/589/files

Maybe this could be a candidate for 5.0? :)

[2020-06-04 12:46] Witcher3k opened #5071 "Kernel Module check on suse servers kernel_module.rb"
# Describe the problem

While i'am trying to check if modules on suse servers are disabled Inspec always returns failed status. I have checked implementation of disabled function and found that in case of redhat or fedora distribution "/sbin/modprobe" this command will be executed, in other cases only "modprobe" command will be executed. I have added another "or" statement for suse servers in this

[2020-06-04 12:59] aaronlippold commented on #5068
Agreed real tests are always the metric.

If we can find a way to 'correctly load the runner' given a condition, such as --controls, or --waivers, or --tags etc. I think it would be a great win for the community as a whole.

[2020-06-04 13:02] james-stocks commented on #5066
@Paladin I believe the bug here is that our dmg and msi packages use an install wizard that includes a step for Apache 2 license acceptance?

![license](https://user-images.githubusercontent.com/12136665/83759824-0e035680-a66c-11ea-93cb-8c9e61395f96.png)

To be clear, this is wrong and needs removed. The [MLSA](https://www.chef.io/online-master-agreement/) that InSpec asks you to accept at runtime

[2020-06-04 15:46] kmf opened #5072 "Update Docs to reflect aarch64 support"
Please update Docs to reflect new arch support `aarch64`

https://docs.chef.io/platforms/#commercial-support-4

Aha! Link: https://chef.aha.io/features/SH-2154

[2020-06-04 17:20] clintoncwolfe commented on #5066
Refs #5073

[2020-06-05 10:27] Schwad commented on #5071
Hi @Witcher3k ! 👋

Thank you for filing an issue with InSpec.

You can find a full list of our supported Platforms and Versions here: https://docs.chef.io/platforms/#chef-inspec

Would you be willing to share a reproducible test case with us so we could reproduce your issue (maybe by pointing to a vagrant box https://app.vagrantup.com/suse/boxes/sles12sp2 or somethinng)? say:

[code]

[2020-06-05 10:53] Schwad commented on #5072
Thanks for this @kmf ! @james-stocks where do we normally maintain these docs? It's not something that is handled within expeditor is it?

[2020-06-05 11:23] #4799 closed, assigned to nobody

[2020-06-05 11:23] #4963 closed, assigned to nobody

[2020-06-05 11:23] #4977 closed, assigned to nobody

[2020-06-05 11:45] james-stocks commented on #5046
I'm a little unclear on the problem, sorry.
We do support passing bastion `bastion-user` `bastion-host` and `bastion-port` options. If you are using an RSA keyfob for 2-factor authentication then I don't think we support that, sorry.

[2020-06-05 11:51] james-stocks commented on #4826
100% agree @RubyTuesdayDONO , an interesting challenge for `train` is needing to maintain it being able to connect to the oldest and madly-maintained hosts possible 😄

We need to re-test this issue because I believe a couple of related changes have been made to train.

[2020-06-05 15:10] james-stocks commented on #5072
@kmf thanks for raising this; the docs team are currently updating this list

[2020-06-05 15:28] ghost commented on #5071
Hi @Schwad

I work with @Witcher3k

The issue does not seem to be distribution specific. It looks like it is rather related to account setup. Unless I'm wrong (not a Linux expert).
Test that uses modinfo or modprobe fails if you run it on an account which does not have /sbin included in the PATH variable.

This is why I believe someone added alternative values in the code below adding sbin in the

[2020-06-05 16:16] james-stocks commented on #4371
There's also a section of the bottom of https://www.inspec.io/docs/reference/inspec_and_friends/ that needs updated.
Suggest making InSpec and Friends change mention serverspec in the past tense, as part of InSpec's past. And perhaps just delete the migration guide; or also make clear it's now historical.

[2020-06-05 16:45] clintoncwolfe commented on #5042
This is resolved in at least as of Chef Workstation 20.6.62 / inspec 4.19.0

[2020-06-05 16:45] #5042 closed, assigned to nobody

[2020-06-05 17:34] clintoncwolfe opened #5074 "Update init plugin"
# Describe the problem

The `inspec init plugin` templates could use some love.

1. They use single quotes. chefstyle demands double.
2. Template files should end in .erb
3. Should place the plugin def in lib/<loaderfile>.rb, not plugin.rb
4. Document init plugin in the plugin dev guide
5. Rename --hook to --activator, but leave an alias as --hook for backwards compatibility

Aha! Link: https://ch

[2020-06-05 21:46] mattjmcnaughton opened #5075 "Support `zfs_pool` and `zfs_dataset` resources on Linux"
Would y'all be open to removing the restriction that only allows the `zfs_pool` and `zfs_dataset` commands to run on FreeBSD? With the advent of ZFS on Linux (particularly its inclusion in Ubuntu 20.04), I imagine it'll see greater and greater Linux adoption. It'd be great if folks running ZFS on Linux could use the Inspec ZFS Resources.

## Detailed Description
If folks using Linux can't use the

[2020-06-05 23:14] #760 closed, assigned to nobody

[2020-06-07 06:33] Sum123it commented on #5046
@james-stocks - In my case, it's through `a Jump Server having RSA Key > then the Bastion Jump Server > then to App`. I think it's the standard way for AWS or Azure. Can we achieve that using bastion `bastion-user` `bastion-host` and `bastion-port`?

[2020-06-08 03:05] jerryaldrichiii commented on #3810
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3810 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3780
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3780 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3688
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3688 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3668
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3668 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3631
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3631 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3610
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3610 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3287
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3287 closed, assigned to nobody

[2020-06-08 03:05] jerryaldrichiii commented on #3262
Closing this as I do not support Chef's contract with ICE and no longer care about the result of this ticket.

[2020-06-08 03:05] #3262 closed, assigned to nobody

[2020-06-08 07:59] mschmeitz opened #5076 "backtrace occurs when using `cmp` to compare nil to an expectation"
Executing a mode test on a non-existing file will deliver a failure on the console. When using the json-min reporter it leads to an exception TypeError with backtrace.

For example, the inspec profile contains a control named `mode_issue.rb` with the following content:

[code]

When executing the command:
` inspec exec mode_issue.rb --reporter json-min:/tmp/test.json`
it results in (json-min outpu

[2020-06-08 10:13] james-stocks commented on #5075
Hi @mattjmcnaughton -
Thank you for the kind feedback and this detailed description.

I think your analysis is right, what is needed is:
1. Remove the `unless` condition that restricts zfs resources to BSD.
2. Test carefully on a host that _might_ have zfs but currently doesn't - need to ensure there are no unhandled exceptions. Resources should just return nil/false when they don't exist on the t

[2020-06-09 14:02] #5066 closed, assigned to nobody

[2020-06-09 23:51] mattjmcnaughton commented on #5075
On Mon, Jun 08, 2020 at 03:13:17AM -0700, James Stocks wrote:

Cool - I can take an initial stab at this hopefully within the next week? I must
admit, its been a while since I've worked w/ Ruby so no guarantees haha :P but
hopefully will be able to get a pr for y'all.

Of course, of someone else wants to work on it before then, please do! Maybe
just comment in the issue so I don't also spend time

[2020-06-10 14:02] james-stocks commented on #5075
If you get a chance, that would be great, thank you! You could set yourself as assignee so anyone else reviewing this issue sees that someone is already looking into the implementation.

Cheers!

[2020-06-10 14:25] james-stocks opened #5079 "3-stable - enable tests on Ruby 2.4 and 2.5"
https://github.com/inspec/inspec/pull/5029 turned on tests in the 3-stable branch, but tests wouldn't run on Ruby 2.4 or 2.5 due to a gem dependency conflict with chef-zero.

Aha! Link: https://chef.aha.io/features/SH-2239

[2020-06-10 14:30] james-stocks opened #5080 "3-stable - fix failing unit tests"
https://github.com/inspec/inspec/pull/5029 enables unit tests on the 3-stable branch

Several were failing - it seems these never worked on that branch, they only work on master due to a large amount of work in stabilising the unit test suite

[code]

Port test improvements over from master (or otherwise get these tests passing on 3-stable)

Aha! Link: https://chef.aha.io/features/SH-2240

[2020-06-10 14:35] james-stocks opened #5081 "3-stable - enable functional tests"
`test:functional` is very unstable on the 3-stable branch. Reviewing the failures, individual tests are generally OK, they fail when the entire suite runs.
A lot of work was done on `master` to get test execution stable - we should port improvements over (or otherwise get this test suite working on 3-stable).

Aha! Link: https://chef.aha.io/features/SH-2241

[2020-06-10 14:41] james-stocks opened #5082 "3-stable - enable unit tests on Windows"
https://github.com/inspec/inspec/pull/5029 enabled buildkite verification on the 3-stable branch, but needed to skip unit tests on Windows.

On Buildkite, these fail to start running tests due to not being able to load Berkshelf.
On my Windows machine, I could not reproduce that issue, but 3 tests failed due to differences in line endings (i.e. the tests were not expecting Windows line endings...)

[2020-06-10 14:41] james-stocks commented on #5081
Ref: https://github.com/inspec/inspec/pull/5029

[2020-06-10 14:57] james-stocks commented on #5076
I think the bug here is with `cmp` because it is correct for the file mode to be `nil` when a file doesn't exist, and you will get the same failure with

[code]

The backtrace appearing in the report; I believe this backtrace always exists, it's just not presented in other reporter formats. As of InSpec 4.18.114 you can use the `--reporter-backtrace-inclusion=false` option to redact backtraces (to

[2020-06-10 15:30] james-stocks commented on #5027
Very basic testing has been enabled, tech debt issues have been opened to get 3-stable to the same level of testing as master.

There is work to do in getting the omnibus builds working...

https://buildkite.com/chef/inspec-inspec-3-stable-omnibus-release/builds/3#e49a4b6f-e22b-46ed-b0ef-d523751948e0

[2020-06-11 01:45] clintoncwolfe commented on #3006
https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd Seems to cover the entire schema, and addresses each of your concerns. Now that reporters are pluggable, I'm working on an improved junit2 reporter.

[2020-06-11 15:47] james-stocks opened #5088 "Upload results to Automate"
Now that we have a plugin class for reporters, it would be possible for InSpec to directly send reports to Chef Automate.

The audit cookbook currently does this - it has code to [send an InSpec report to Automate](https://github.com/chef-cookbooks/audit/blob/master/libraries/reporters/automate.rb) and also has code to [strip metadata](https://github.com/chef-cookbooks/audit/blob/master/libraries/

[2020-06-11 22:28] asvinours opened #5089 "toml resource crashing on words containing "inf""
# Describe the problem
The toml resource included in inspec crashes when a key in the toml file contains the substring "inf"
The issue doesn 't seem to be present with inspec 4.18.51, but it is present in 4.19.0 and also in 4.19.2

[code]
the inspec test is failing even though the config is valid
inspec test:
[code]
output
[code]

## Possible Solution

Aha! Link: https://chef.aha.io/features/SH-22

[2020-06-12 08:30] james-stocks opened #5090 "Website should have section anchors"
Some pages e.g. https://www.inspec.io/docs/reference/dsl_inspec have lots of sections and we regularly need to direct someone to a specific section. It would be nice to have anchors to each heading so we could link people directly to the section that will help them.

Aha! Link: https://chef.aha.io/features/SH-2273

[2020-06-12 08:37] james-stocks commented on #5089
Hello -

Sorry for the issue; and thank you very much for providing the clear reproduction case.

This looks like https://github.com/fbernier/tomlrb/issues/24

We can avoid this bug in InSpec by pinning the version of tomlrb we depend on.

[2020-06-13 08:38] AShehan opened #5092 "Please Help me to resolve this Issue In kali linux !"
Please Help me to resolve this Issue !
When I type msfconsole in terminal show this error !
"root@kali:~# msfconsole
WARN: Unresolved or ambiguous specs during Gem::Specification.reset:
      reline (>= 0)
      Available/installed versions of this gem:
      - 0.1.4
      - 0.1.3
WARN: Clearing out unresolved specs. Try 'gem cleanup <gem>'
Please report a bug if this causes problems."

Please Hel

[2020-06-14 12:07] Sum123it commented on #4394
@walterdolce Any resolution for this? I am facing the same issue for `inspec --version` or `inspec shell`

[2020-06-14 13:23] walterdolce commented on #4394
@Sum123it no, sadly. But the approach I have taken so far is either:
- live with the slowness, when possible, or
- implement a control in another language and run that instead of through InSpec

[2020-06-14 13:25] kmf commented on #5092
`msfconsole`
Maybe you should log it here: https://github.com/rapid7/metasploit-framework/issues

[2020-06-15 08:18] james-stocks commented on #5092
@AShehan - this isn't an issue with InSpec, so I'm closing.
@kmf has pointed you to a more suitable project to raise your issue (thank you Karl)

[2020-06-15 08:18] #5092 closed, assigned to nobody

[2020-06-15 09:44] Schwad commented on #4394
Some additional benchmarks:

At the moment, it appears at least 500ms is expended firing up ruby itself. (Again, this could depend on machines and what you're running).

Comparing my mac:

[code]

Then comparing this with roughly 646 milliseconds on powershell:
![Screenshot 2020-06-15 at 10 28 54](https://user-images.githubusercontent.com/7865030/84641980-bf6b7d00-aef3-11ea-8cc4-c4761dd64672.png)

[2020-06-15 10:56] james-stocks commented on #5027
Builds are working as of https://github.com/inspec/inspec/pull/5087

Still need to:
 * check other artifacts (habitat) are building OK
 * due to lack of CI testing, manually test the packages.
 * do an expeditor promote and confirm the build is promoted and released correctly.

[2020-06-15 11:06] Schwad opened #5093 "Dependabot Integration & Configs"
## Detailed Description

Dependabot has been running on some InSpec-related repos. I believe at this point it is not running on core-inspec but that might be something we should move to to keep things globally in sync.

We have had a discussion to make sure we use a per-project dependabot config. This allows us a methodology to document how certain dependencies get pinned, why and a resolution. Di

[2020-06-15 11:25] #5089 closed, assigned to james-stocks

[2020-06-15 12:19] kmf opened #5094 "InSpec check giving error"
Version: InSpec 4.19.0

[code]

**`inspec check .`**
[code]

Is there something wrong with this check?

Aha! Link: https://chef.aha.io/features/SH-2292

[2020-06-15 12:47] james-stocks commented on #5094
This is expected, though it's unhelpful.

The `describe` blocks aren't evaluated (i.e. they do not "exist") unless the conditionals on `os.family` evaluate to true. Because the `check` command runs without having a real target (e.g. a Debian host) , `os.family` cannot be evaluated and InSpec execution does not reach the `describe` blocks.

You could try a final `else` case that handles any other c

[2020-06-15 13:06] james-stocks commented on #5094
(that `else` block is also useful because it ensures the control appears in your result set. You might otherwise find this control is missing from your result data.)

[2020-06-15 16:28] james-stocks commented on #3772
See also https://github.com/inspec/train/issues/352 for timing out in train.
Would need to be careful not to leave terminated connections hanging; and also not to leave a bad entry in the backend cache, etc

[2020-06-15 19:24] Schwad opened #5095 "InSpecStyle Epic"
# Background

We currently have many `Inspec.deprecate` profile deprecations. Some of these [date back to InSpec 2, and were meant to be removed in InSpec 3](https://github.com/inspec/inspec/pull/1857/files). It is not uncommon now to receive requests from InSpec users to extend the lifetime of deprecations into InSpec 5. Removing deprecations is becoming increasingly painful.

We require a utilit

[2020-06-16 10:47] james-stocks commented on #5088
Some details that need to be taken care of:
 * audit cookbook has solid testing - that level of testing should be moved over to InSpec as well.
 * whatever we do should be usable by effortless as well - that might mean making a separate inspec-automate-upload gem (that is NOT a plugin) then having the reporter plugin simply call this gem.
 * retries need considered and should probably be configura

[2020-06-17 08:47] Schwad opened #5096 "ProgressBar"
## Detailed Description

When running `inspec exec`, especially at scale, it is possible to be sitting and waiting a while for a run to complete. For newer users (or even veterans) it is unclear at what point someone would wonder if the run was "hanging", or even if it will be a 2 minute or 20 minute run.

## Possible Implementation

We could implement a progress bar (I've used [progress_bar](http

[2020-06-17 09:32] james-stocks opened #5097 "`archive` has unreasonable limit on filepath length"
Example from a customer who depends on the `inspec-gcp` resource pack:

[code]

Discussion around the issue here:
https://github.com/rubygems/rubygems/issues/1376

This is customer affecting, but they have 2 workarounds available:
1. just delete the files that are too long.
2. use the zip option `inspec archive --zip --output inspec-profile.zip .` and bypass the tar code

Aha! Link: https://chef.a

[2020-06-17 10:13] james-stocks commented on #5096
It would be great if the progress bar included phases for loading profiling (including evaluating ruby source) and then running controls. That would illustrate the case where user profiles are Ruby heavy.

[2020-06-17 14:30] james-stocks commented on #4199
NOT SO FAST STALEBOT

This is one I noticed with @Schwad this morning. Doing this will make the code more maintainable.

In particular "target" is vague and we should have verbose method and attribute naming.

[2020-06-17 15:51] clintoncwolfe commented on #5096
This doesn't tell you how many there will be, but there is this  https://www.inspec.io/docs/reference/reporters/#progress - it's the RSpec built-in.

[2020-06-17 16:20] clintoncwolfe commented on #5095
I think this is great! I can help on a VSCode extension, should that come to pass.

I had a few questions / points to clarify:
- is this intended to lint profile code, or InSpec core code, or both?
- The deprecation system is intended to deprecate functionality within core code, plugins, and profile code. I'm not sure that seeking to cover "all 66 deprecations" is a reachable goal - not all of the

[2020-06-18 00:26] crazymind1337 opened #5099 "Upgrade to inspec/inspec-core 4.20.6 brakes our CI"
After our CI automatically upgraded the Gems inspec and inspec-core it fails with an error:

[code]

[code]

The line from our Rakefile:
[code]

The jobs are trigger via gitlab-ci with
[code]

Downgrade to previous version (4.20.2) helps out to fix this issue.

Aha! Link: https://chef.aha.io/features/SH-2330

[2020-06-18 08:45] Schwad commented on #4199
:+1: Thanks!

On Wed, Jun 17, 2020 at 3:31 PM James Stocks <notifications@github.com>
wrote:

[2020-06-18 09:24] james-stocks commented on #5099
Reproduction:

* Create a Gemfile with only `inspec-core`

[code]

* bundle install
* `bundle exec irb`
* In `irb` run `require 'inspec'; Inspec::Runner.new.run`

[code]

[2020-06-18 09:36] Schwad commented on #5095
@clintoncwolfe thank you so much for the kind words! 🙏

* At this time, we really just envision this linting profile code
* Thanks for the info! So it seems a chunk of our deprecations actually aren't profile code which is good to know. :)
* Longer term there may be hearty discussion on this - but my personal opinion would rather not see this replace `inspec check`. I would be happiest if this was

[2020-06-18 10:31] james-stocks commented on #5099
This looks like it occurs because InSpec loads its plugins as part of the CLI class. When using InSpec as a gem, no plugin loading happens. The last change we made to put the CLI reporter into a plugin therefore breaks InSpec for those who depend on InSpec as a gem (i.e. everyone using kitchen).

We'll revert for now.

[2020-06-18 10:46] james-stocks opened #5102 "Plugins are not loaded when InSpec is required as a ruby library"
https://github.com/inspec/inspec/issues/5099 reported that moving the CLI reporter to a reporter plugin broke kitchen verify.
It looks like this is because reporter plugin loading happens when the CLI is included (see [here](https://github.com/inspec/inspec/blob/439c93b115bfbddcb1fddd5bc9e74994f676bc10/lib/inspec/cli.rb#L432)). When another project just calls `require 'inspec` - no reporter plugin

[2020-06-18 15:35] james-stocks opened #5106 "Run test/integration in CI"
We have a [`test/integration`](https://github.com/inspec/inspec/tree/master/test/integration) directory that we don't run in CI - this could and should be added to BuildKite verification

Acceptance Criteria:
* Get one of the tests within [`test/integration`](https://github.com/inspec/inspec/tree/master/test/integration) working
  * run-context-tk
  * run-context-after-audit
* Cut follow-up issue

[2020-06-18 15:45] james-stocks opened #5107 "Report a profile that fails to load as "failed""
If you have a profile that raise an exception outside a control e.g.

[code]

Then run `inspec exec crash_profile working_profile --reporter=json`...
...currently InSpec will just crash on the invalid code of `crash_profile`, the `working_profile` does not run, and no JSON report is generated.

It would be better than we catch exceptions and report the profile as `errored` (similar to how unsuppor

[2020-06-18 15:50] alexpop commented on #5107
Thank you @james-stocks, for reference this is how a "skipped" profile is reported at the moment:

[code]

[2020-06-18 16:39] james-stocks commented on #5106
During or after doing this, take a look at https://github.com/chef/chef/tree/master/kitchen-tests - work has gone into running a kitchen suite across a selection of OS images

[2020-06-18 16:43] clintoncwolfe commented on #5102
The issue isn't that all reporter plugins need to be loaded - it's that the CLI reporter is always assumed to be available. That one specifically needs to be loaded. So rather than requiring `inspec/cli` (which is pretty heavy) in kitchen-inspec (which would require synchronization of another software release), I'd suggest loading the CLI reporter plugin in the inspec runner. That's the common ent

[2020-06-18 21:27] james-stocks commented on #5099
Hi @crazymind1337 we reverted the breaking change in today's 4.20.10 release; apologies for the disruption.

We want to do https://github.com/inspec/inspec/issues/5106 next to get integration testing (for example with Test Kitchen) running for every commit.

[2020-06-18 21:27] #5099 closed, assigned to nobody

[2020-06-19 03:29] crazymind1337 commented on #5099
thanks dude for that very fast fix!

[2020-06-19 06:23] gdavison opened #5108 "The `toml` resource is not documented"
# Describe the problem

The `toml` resource is defined in the file `inspec/lib/inspec/resources/toml.rb`. There is no corresponding documentation file in the directory `inspec/docs/resources/`.

Aha! Link: https://chef.aha.io/features/SH-2346

[2020-06-19 09:00] mvanholsteijn opened #5109 "source code is licensed under Apache 2.0, runtime forces to accept Chef EULA"
This repository is licensed under the Apache 2.0 license, which allows both commercial and private use. However, when I run InSpec, it forces me to accept the EULA which disallows the use of InSpec as a company.

# Describe the problem
As a company I do not want to break a license agreements, but this  promises one form and then forced to accept another at runtime.

## Possible Solution
1. Add --a

[2020-06-21 13:32] aaronlippold commented on #5109
Hello,

You are correct, the solution that the community has taken is similar to
other paths taken before.

The binaries built by Chef are what is covered under the EULA which is what
you are agreeing to when accepting the EULA. The source code of the project
is still Apache 2.0. This is very similar to the RHEL managed binary
packages used in their distribution, vs the CentOS Open Source
distribu

[2020-06-22 08:22] james-stocks commented on #5109
Hi @mvanholsteijn -

Aaron has summarised this perfectly (thanks @aaronlippold :) ).
It is intentional that our source code is Apache 2.0 but our distribution is a commercial license.

Would you consider this issue resolved if the README for this repository made the licensing model clear?

[2020-06-22 08:38] mvanholsteijn commented on #5109
For me the issue is resolved; I think it is very handy if you were more explicit  in the README.

[2020-06-22 08:38] #5109 closed, assigned to nobody

[2020-06-22 14:31] james-stocks opened #5110 "Update README"
* the licensing model should be explained
 * the usage and examples needs checked and either updated or removed (and linked to inspec.io)
 * The 4 gems this repo builds should be explained (already raised as https://github.com/inspec/inspec/issues/4011)
 * @chris-rock and @arlimus should be added to the Kudos section
 * the copyright section should be updated

Aha! Link: https://chef.aha.io/featur

[2020-06-22 15:36] james-stocks commented on #5003
One possible plan is to have expeditor run a job that does a couple of small invocations of InSpec e.g. `inspec --version` and `inspec exec test/fixture/profile/...` then send details of the timings, OS we ran on, and InSpec git ref to Chef's internal data store.

We could also look at a telemetry point that for `inspec exec`, but that is not this ticket.

[2020-06-23 10:41] Schwad opened #5112 "InSpecStyle Epic"
This is a redraft as internal tooling requires declaring as epic. See: https://github.com/inspec/inspec/issues/5095

# Background

We currently have many `Inspec.deprecate` profile deprecations. Some of these [date back to InSpec 2, and were meant to be removed in InSpec 3](https://github.com/inspec/inspec/pull/1857/files). It is not uncommon now to receive requests from InSpec users to extend the

[2020-06-23 10:43] Schwad commented on #5095
We are now tracking this in the formalized epic #5112

👍

[2020-06-23 10:43] #5095 closed, assigned to Schwad

[2020-06-23 13:53] Schwad opened #5113 "InSpecStyle integration with `inspec check`"
## Detailed Description

This is one of the key issues to pass the [InSpecStyle Epic](https://github.com/inspec/issues/5112). This will allow us to utilize the InSpecStyle offerings to inform preferred profile code upon running `inspec check`, the main example at the moment being deprecations.

This is an MVP integration. No existing check functionality should be replaced at this point (that would

[2020-06-24 01:00] galenemery opened #5114 "Improve security_policy resource to work with friendly account names when using SIDs"
Improve security_policy resource to work with friendly account names

## Detailed Description
Currently the security_policy resource only returns Windows SIDs, not friendly names when the test includes a SID.  This requires users to understand the SID mapping, or translate it themselves.

[code]

the output from security_policy provides only the SID, not the account name.

[code]

Which requires t