[2016-05-16 17:38] chris-rock commented on #741
@viyew We recommend not to use spec or helper files. Instead we have a concept of custom resources: https://github.com/chef/inspec/blob/master/docs/dsl_resource.rst Is that helping?

[2016-05-16 17:41] chris-rock commented on #749
So Ubuntu 16.04 should use systemd by default https://github.com/chef/inspec/blob/master/lib/resources/service.rb#L117-L121:

[code]

[2016-05-16 17:41] chris-rock commented on #749
We also have a `systemd_service`, is it working with that resource?

[2016-05-16 17:43] chris-rock commented on #749
Do you use the systemd name for `ntp`?

[2016-05-16 17:47] chris-rock commented on #753
We should add a warning for a non-integer type and remove the stacktrace. We are working on a new formatter that outputs better results

[2016-05-16 17:51] chris-rock commented on #742
I think we should get a better understanding why a test failed. Therefore we need to report the error in a better way. The challenge that we need to tackle: We want a simple result, so that we can easily see the overall picture, but we need a `debug` view that allows us drill down.

[2016-05-16 17:52] chris-rock commented on #742
Thanks for reporting @dh2mom247 and @tpcwang for the additional comment. Both are very helpful

[2016-05-16 18:20] chris-rock opened #760 "document only_if for controls"
### Description

With https://github.com/chef/inspec/pull/619 we introduced `only_if` for controls, but we have not documented it yet.

[code]
### InSpec and Platform Version

0.22.0

Aha! Link: https://chef.aha.io/features/SH-2193

[2016-05-16 18:41] chris-rock commented on #755
This feature has been released in train 0.12 and inspec 0.22 and kitchen-inspec 0.14

[2016-05-16 18:41] #755 closed, assigned to nobody

[2016-05-16 19:27] lamont-granquist commented on #749
so there's no `systemd_service` documented at https://github.com/chef/inspec/blob/master/docs/resources.rst

[2016-05-16 19:34] lamont-granquist commented on #749
and i just tried `ntp.service` but that failed as well.

this might help:

[code]

[2016-05-16 19:37] lamont-granquist commented on #752
looks like the docs just got updated:

https://github.com/chef/inspec/blob/master/docs/resources.rst#passwd

EDIT: no actually it looks like it still references `filter` in there.

[2016-05-16 19:41] lamont-granquist commented on #752
also if i'm reading it right, this should work:

[code]

but i'm getting:

[code]

another strictness issue is that its hard to tell if i'm getting the filter name correct or not:

[code]

identical error message...

[2016-05-16 19:42] lamont-granquist commented on #752
this does work tho:

[code]

[2016-05-16 19:44] lamont-granquist commented on #749
probably a more accurate title based on the behavior i'm seeing...  could be as simple as checking that the last line from stdout is "enabled" rather than checking if the output == "enabled"?

[2016-05-16 19:46] lamont-granquist commented on #759
i'm talking about the other side though...  the "gssapiauthentication" side rather than the "no" side...

[2016-05-17 04:54] tpcwang commented on #742
@chris-rock, python's nosetests handle these type of scenarios by capture stdout during test execution and printing it out if the test fail (or if the user specified --nocapture). This allows the user to get good error reporting without cluttering the output when the test passes. I'm not familiar with ruby and rspec-like test frameworks to know how well this would translate to inspec, but it might

[2016-05-17 11:51] atul86244 commented on #731
It doesn't work for me even when I pass the token:

[code]

[code]

Inspec version:

[code]

[2016-05-17 16:14] andrewkrug opened #761 "Provide test via an http server or other."
### Description

Instead of reading in a file on disk it would be nice to be able to drive inspec tests fetching test files from an http server or other central location.  Maybe there is a way to do this now and I don't know?
### InSpec and Platform Version

Latest.  Linux.

[2016-05-17 16:22] chris-rock commented on #761
Is this something you are looking for?

[code]

[2016-05-17 16:25] andrewkrug commented on #761
Not quite.  I'd like to be able to do something like:  inspec exec http://centralstorage.example.com/test.rb -t ssh://user@hostname -i /path/to/key

[2016-05-17 20:09] alexpop commented on #712
We've just released a new stable Compliance package with this feature included:
https://discourse.chef.io/t/chef-compliance-1-2-3-released/8494

Thanks again for the feedback!

[2016-05-17 20:09] #712 closed, assigned to nobody

[2016-05-17 20:19] lamont-granquist opened #762 "port resource fails in docker containers because netstat is missing, but gives poor error output as to why."
So for example:

[code]

This looks like the port simply isn't listening.  But it really is.  The issue is that the docker container lacks a netstat binary and doesn't have net-tools installed.

I would expect to see the exception raised from mixlib-shellout here or some other error indicating "netstat: command not found" more or less, but it seems like inspec is silently swallowing the error.

(f

[2016-05-17 20:30] dh2mom247 commented on #762
This is the same issue noted in #742

[2016-05-17 20:35] lamont-granquist commented on #762
yep, dup

[2016-05-17 20:35] #762 closed, assigned to nobody

[2016-05-17 20:45] dh2mom247 opened #763 "support docker container testing to be completed on the docker host only (not in the container) using the docker inspect command"
### Description

Currently we have issues when running compliance testing against docker containers that don't have the expected toolsets (ex: issue #742). Could we provide an option to instead run container tests on the docker host (not in the container) using docker inspect [container_id]?

Something like this:

   inspec exec test.rb -hostonly -t docker://container_id

and the results would be

[2016-05-19 14:09] viyew commented on #741
It does, thanks!

[2016-05-19 14:09] #741 closed, assigned to nobody

[2016-05-19 19:12] spuranam opened #765 "http: Proxy environment variables are ignored"
### Description

Inspec compliance subcommands does not honor http_proxy, no_proxy environment variables.
### InSpec and Platform Version

0.22.1
### Replication Case

Tell us what steps to take to replicate your problem.  See [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)
for information on how to create a good replication case.
### Possible Solut

[2016-05-19 20:49] chris-rock commented on #761
@andrewkrug We support that for compliance profiles. You have multiple options. At first, you need to archive a profile.

[code]

Upload the tar to a webserver http://example.com. Now you can run the profile directly:

[code]

Other options you have:

### Use Chef Compliance as profile manager

[code]

### Use Chef Supermarket:

[code]

### Run profiles from github

[code]

[2016-05-19 21:30] chris-rock commented on #765
That is a great idea @spuranam I mark this as a feature request.

[2016-05-19 22:28] chris-rock commented on #763
@dh2mom247 sure, you can do that.

[code]

If you execute the test it would look like

[code]

Is that what you are looking for?

[2016-05-19 22:34] chris-rock commented on #763
We need docker resources for InSpec land. PRs are welcome to add some :-)

[code]

[2016-05-19 23:12] dh2mom247 commented on #763
I like this idea (should have thought of the more simple answer) - thanks for the response!

[2016-05-21 14:38] cjohannsen81 opened #766 "InSpec login successful with wrong username"
When using `inspec compliance login --user XYZ --token token --insecure` the login is successful and I can use `inspec compliance profiles` but can´t upload new profiles.

[code]

Using the username that exists in compliance works.

Compliance 1.1.24
InSpec 0.22.1

[2016-05-23 12:13] #766 closed, assigned to nobody

[2016-05-23 12:38] chris-rock commented on #731
@atul86244 Which Chef Compliance version are you using?

[2016-05-23 12:49] cjohannsen81 commented on #731
@atul86244 Hey Atul, just had the same issue. Mine was caused by a to short token as I just copied it from Safari... but it always ends copying with the first minus "-" sign!

[2016-05-23 18:26] atul86244 commented on #731
@chris-rock @cjohannsen81 I am using the latest version of Compliance (`Version: 1.2.4`). I have managed to fix this now. I think I was passing a wrong token but the `inspec compliance login` command always returns `Successfully authenticated` even if I pass a wrong token.

Look at this example below:

[code]

[code]

Is this a known issue?

[2016-05-23 18:45] cjohannsen81 commented on #731
@atul86244 I think it´s known as I had the same discussion with @chris-rock today :)

[2016-05-24 19:17] jdgoins opened #767 "registry_key test failing on Windows 2008 R2"
### Description

The registry_key test is not finding the key in Windows Server 2008 R2. It is returning nil when searching for any key.
### InSpec and Platform Version

Running using Git Bash on Windows 7. Tests running on Windows Server 2008 R2 local VM.

[code]
### Replication Case

Example:

[code]
### Stacktrace

[code]

[2016-05-24 20:29] chris-rock commented on #767
@jdgoins Thanks for reporting that issue. Could you verify which version of Powershell you are using? Windows 2008 requires Windows Management Framework 5.0
 https://www.microsoft.com/en-us/download/details.aspx?id=50395

[2016-05-24 22:21] jdgoins commented on #767
@chris-rock  That resolved my issue. Thank you!

[2016-05-24 22:21] #767 closed, assigned to nobody

[2016-05-25 08:44] atomic111 opened #768 "inspec hangs on command('ausearch -k docker').stdout"
### Description

I connect via inspec shell -t ssh://vagrant@127.0.0.1 --port 2201 --key-files vm_docker/.vagrant/machines/centos7/virtualbox/private_key --sudo to a vagrant box and want to execute command('ausearch -k docker').stdout to get the audit log for the docker process.
### InSpec and Platform Version

0.21.1
### Replication Case

Install auditd and start the daemon my config looks like t

[2016-05-25 09:26] atomic111 commented on #768
an addition. i tested with `ssh -i vm_docker/.vagrant/machines/centos7/virtualbox/private_key -p 2201 vagrant@127.0.0.1 "sudo ausearch -k docker"` and it was not working, but if i add the -t flag to `ssh -i vm_docker/.vagrant/machines/centos7/virtualbox/private_key -p 2201 -t vagrant@127.0.0.1 "sudo ausearch -k docker"` it is working. maybe the ausearch needs a tty

[2016-05-25 09:30] chris-rock commented on #768
@atomic111 Thanks for reporting that issue. This sounds strange. Is the following working?

[code]

[2016-05-25 10:05] atomic111 commented on #768
i found the solution. i have to add the parameter --input-logs like this `command('ausearch --input-logs -k docker | grep docker | grep privileged').stdout` and i got the expected output `=> "type=EXECVE msg=audit(1464162224.534:6361): argc=6 a0=\"docker\" a1=\"exec\" a2=\"-it\" a3=\"--privileged\" a4=\"ubuntu-test\" a5=\"bash\"\n"`

the explanation is, that ausearch with --input-logs read the loc

[2016-05-25 10:08] chris-rock commented on #768
Thanks @atomic111 for the quick turn-around. This is really good to know.

[2016-05-25 10:14] #768 closed, assigned to nobody

[2016-05-25 19:18] viyew opened #770 "Returning custom resource"
### Description

Is there a way to define a custom resource method that returns another custom resource?

I'm trying to define my own database session resource, similar to [mysql_session resource](https://github.com/chef/inspec/blob/master/lib/resources/mysql_session.rb). Instead of returning an [inspec.command](https://github.com/chef/inspec/blob/23c4bc0a6ec13d8d7232350738641049a47a85f1/lib/resou

[2016-05-25 19:20] chris-rock commented on #770
@viyew just write two resources. Your resource gets registered automatically. You can just use `inspec.myotherresource`

[2016-05-25 20:13] chris-rock commented on #755
[code]

[2016-05-25 21:22] viyew commented on #770
I'm able to use the custom defined resources in my control files, but not in other resources.

For example, in this resource I want to return:

[code]

 through a resource I want to use:

[code]

 in this control block:

[code]

 the first describe block works but second describe block wouldn't and throws the NoMethodError.

This is with inspec v0.22.1

[2016-05-26 02:50] arlimus opened #771 "json / yaml / ... resources vs parse_config for files and strings"
The current set of resources for parsing (json, yaml, csv, ...) are focused on files:

[code]

They don't support parsing strings, e.g. from commands.
(A workaround by @chris-rock is found here: https://github.com/chef/inspec/issues/763#issuecomment-220469834 )

On the other hand, our simple config parser is supports both modes, but targets strings by default + carries a (imho strange) file handle

[2016-05-26 02:54] arlimus commented on #771
(A) One potential solution to this problem might be:

[code]

This ^^ would leave the code very lightweight. e.g. `#file` would come via a mixin and work for all resources + handle errors and edge-cases.

(B) Another idea is to defer file-handling to a ruby-only solution:

[code]

and make json read only parseable data. The problem with ^^ is error and edge-case handling, which would effectively g

[2016-05-26 03:10] mhedgpeth commented on #771
What if when you process the string input to json you try it as a file & if that doesn't work run it as a command. A convention over configuration design would be best from the user's perspective. Make them work only if they do the edge cases.

[code]

I'd say always make it harder on the coder, never on the writer. You code once, you write many times. :)

[2016-05-26 07:34] chris-rock commented on #771
I think this raises a general question, since we may want every resource that deals with content be able to load content from a string or from a file. Personally I would prefer to implement this without any magic.

[code]

We could also do

[code]

Just for reference, Ruby is doing it as following:

[code]

cc @aaronlippold

[2016-05-26 10:17] arlimus commented on #771
@chris-rock Interestingly ruby has `JSON.load` too, fyi. But yes, this ticket has the purpose to raise the general problem + resolve the conflicts we have in our current resources. afaics either proposed way is good, as long as it is consistent across all resources. Defaulting to `resource('filename')` would help with the current handling, as it would only require `parse_config` to change.

@mhedg

[2016-05-26 10:20] chris-rock commented on #771
We could also use an option hash argument:

[code]

But this approach introduces a programming style that we may not want to have in InSpec

[2016-05-26 13:33] mhedgpeth commented on #771
I'm a big confused, where would the string come from? The way I interpreted this, you would either have a file or a command output be the source of your yaml resource. In that sense you could even do it kind of like chef does:

[code]

This is without me knowing how I would implement that, but that's probably a good thing.

[2016-05-27 19:51] fcaviggia opened #772 "Inspec Detect Issues"
### Description

Inspec is not properly pulling the architecture information from the host.

[code]

Similar issues reported on Mac:

[code]
### InSpec and Platform Version

[code]

RHEL 7.2, Mac OS 10.11.6
### Replication Case

Seems reproducible on several platforms.

[2016-05-30 08:19] chris-rock commented on #772
[code]

Okay, we have two issues here:
- [x] we should make the content of params available via methods eg. `os.arch` #774
- [ ] we need to ensure, that we read the architecture (fix in train required, @fcaviggia recommended to use `arch` command)

[2016-05-30 08:29] chris-rock commented on #772
This is already available out of the box

[code]

[2016-05-31 11:31] chris-rock commented on #719
@arlimus and I discussed the attributes file this morning. We agreed that the file should:
- It should be a yml or json file
- We should leverage existing values from existing systems, therefore we should be able to work with mapped values, eg. retrieve this value from chef databag x
- We should allow mixed mapping, eg. fetch parts from system x, parts from system y and complement all missing file

[2016-05-31 13:05] fcaviggia commented on #532
For the government to use the inspec tool more effectively, Aaron and I suggest the following sample output:

[code]

[2016-05-31 17:18] mhedgpeth commented on #719
The other thing to consider in this model is how to do things differently in different environments. For my QA environment I might have one set of servers I'm accessing and a different one in Production. If the locations are hard-coded, that will be difficult to do.

[2016-06-01 07:58] chris-rock commented on #719
@mhedgpeth Would it work to have two different attribute files? One for qa and one for production? The implementation allows you to use the same profile with different attribute files. Not sure if I got your concern right?

[2016-06-02 15:25] chris-rock opened #778 "Using its('strip') on a string is not returning the right error."
### Description

Using its('strip') on a string is not returning the right error. This impacts CIS profile execution, too

[code]
### InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using
### Replication Case

It can be replicated with:

[code]
### Possible Solutions

The following code works as expected:

[2016-06-02 15:27] chris-rock commented on #778
cc @kdshah1

[2016-06-02 22:44] arlimus opened #779 "inspec exec on tar.gz with local library requirements doesn't work"
### Description

[code]

with the file having `libraries/file_a.rb` containing `require 'file_b'` which is included in the archive.
### Possible Solutions

We might need to handle the internal `require` call to solve these.

[2016-06-03 08:54] arlimus commented on #779
Conceptually we want all library files in a folder, always bundled together with the profile. Having that folder load also means that the internal require registry must (1) read from any source, not just file from disk (unlike `require`) and (2) keep track of the files it contains and the files it loads. We can take over require for all these files and defer to ruby otherwise.

[2016-06-03 16:27] chris-rock commented on #770
@viyew I can confirm that this is not working as expected. Further investigation is required to find out why this is happening.

[2016-06-05 00:59] anniehedgpeth opened #781 "Why mode matcher doesn't work on a file resource"
### Description

Logged in as vagrant, I first tried using the following control, but it failed.

[code]

I tried remediating in Chef with Kitchen using this, but it still failed.

[code]

And finally I used

[code]

And it passed. But I'm curious as to why the mode matcher didn't work. I thought at first it was because I was logged in as vagrant, perhaps, but even through Chef it didn't work. Doe

[2016-06-06 08:36] alexpop commented on #781
Hi Annie,

Can you please update to the latest verion of inspec? We've made a few fixes recently on file mode matching.

Here's my test file:

[code]

And the results from the shell:

[code]

[2016-06-06 08:38] arlimus commented on #532
updated the description with the steps

^^ @chris-rock

[2016-06-06 09:04] arlimus commented on #532
when it comes to the template engine, the options are:

### simple

[code]

pro: can work without an actual engine by simple search/replace
con: limit in what can be done with it

### engine

[code]

pro: can take complex actions on output, conditional flow, easy to control whitespaces
con: needs a template engine in inspec, will likely need to be saved +  read from a separate file due to complexi

[2016-06-06 09:50] chris-rock commented on #532
@arlimus I agree that inspec should do what it is intended to: run tests and collect the results. I would prefer if we could stick to https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well. Therefore the goal should be to externalize different aspects of the reporting to another tool/plugin.

[2016-06-06 10:12] arlimus commented on #532
updated todo list to reflect this; Format configuration is now optional; the use-case should be to modify the standard text/cli output. If we can provide that via tooling, it's great. We'll need to provide a minimal text summary and report output in either case, limited to simple output. :+1:  on the unix principle :wink:

[2016-06-06 13:41] mhedgpeth commented on #719
Yes, that would work, but would you provide the attribute file name every time you ran it? How would you use that feature?

[2016-06-06 17:18] mhedgpeth opened #783 "File resource permissions for windows"
### Description

Right now permissions can't be tested with inspec on windows.

This won't work:

[code]

It gives the error:

[code]
### InSpec and Platform Version

0.24
### Replication Case

Create a cookbook with inspec as the verifier with `ncr/win2008r2` as the virtualization box for kitchen. Run `kitchen verify`.
### Possible Solutions

It's simply not coded yet in the File resource. I assu

[2016-06-06 18:53] chris-rock commented on #719
@mhedgpeth The first iteration would expect to name the attribute file with the profile. Once we have that implemented we need to figure out, how the management works for multiple nodes with different profiles per server.

[2016-06-06 19:23] mhedgpeth opened #784 "WinRM error when running inspec verifier on windows 2008 with kitchen test"
### Description

When I run `kitchen test` I get a winrm error. When I do a `kitchen converge` afterwards, the tests pass.
### InSpec and Platform Version

0.24, kitchen 1.8
### Replication Case

Use `ncr/win2008r2` as your virtual box for vagrant. Run `kitchen test` with these tests:

[code]

You will get an error when you try to run the tests:

[code]
### Possible Solutions

This could not be re

[2016-06-06 20:45] mwrock commented on #784
It may be helpful to get a debug log and grab a better stack trace. The winrm gem has logic to avoid this scenario. 2k8r2 has a very low command threshold and it counts the commands it issues and reset the connection before hitting the 15 command limit.

So far this has not blown up but the whole strategy of command counting can be precarious and winrm v2 will take a different approach and respond

[2016-06-06 20:48] mhedgpeth commented on #784
@mwrock are you saying to run kitchen in debug mode & post the logs from `.kitchen/logs`? Or should I get logging from the image itself?

[2016-06-06 20:49] mwrock commented on #784
yeah. apologies for the VERY roundabout way of communicating that.

[2016-06-07 00:45] anniehedgpeth commented on #781
Thanks, @alexpop ! That's all it was.

[2016-06-07 00:45] #781 closed, assigned to nobody

[2016-06-07 13:38] mhedgpeth commented on #784
Not a problem, here you go, @mwrock
[kitchen.zip](https://github.com/chef/inspec/files/302716/kitchen.zip)

[2016-06-08 00:14] mwrock commented on #784
just took a look at those logs and they don't appear to have the above error. Is it possible you attached the wrong zip?

[2016-06-08 08:31] chris-rock commented on #783
@mhedgpeth Thanks for reporting. We need to break this down into two cases:
-  `it { should be_readable.by('owner') }` will not be supported on Windows since this is requesting unix file permissions. I agree that this is hard to read. We added this to be compatible with Serverspec http://serverspec.org/resource_types.html#file
- `it { should be_owned_by 'vagrant' }` should be supported on Windows.

[2016-06-09 08:53] atomic111 opened #786 "apache_conf resource do not include other apache confs, wrong path for find_files()"
### Description

The resource apache_conf looks in the wrong path for the apache config files. It include `/etc/apache2` twice in the path. May be you should also remove the -type f of the find command, because the default installation use links to folder mods-available, conf-available and sites-available. I am using a ubuntu 14.04 default apache installation with the apache-hardening cookbook.

[

[2016-06-09 08:58] chris-rock commented on #786
Thanks @atomic111 for highlighting it

[2016-06-10 13:56] DPD-30 opened #787 "File Checksum and Content incorrect with Test Kitchen"
### Description

The InSpec FILE resouce seams to be adding 2 CRLF characters to the end of a file accessed on remote machine.  This does not happen when run against the local machine.  inspec exec works.  kitchen verify fails.  Bellow are the results.  Look at failure 3 results that show the extra \r\n\r\n in the content.  I have verified that those are not present in the file.  If i add them and

[2016-06-10 14:56] amunoz951 commented on #539
Running into the same issue. I have a powershell script that needs to run before a test and it's outputting nothing if it's longer than a certain length although the script is only 5k. My thinking is that I create the script in a separate recipe and add it to the kitchen run list. I'd rather do it all through the inspec code but may have to resort to this. Any other ideas?

[2016-06-10 15:17] mwrock commented on #539
[Winrm v2](https://github.com/WinRb/WinRM/tree/winrm-v2) is getting super close but still probably a few weeks away. It will do away with the 8k limit.

In actuality the limit right now is closer to 5k because of the base64 encoding done.

[2016-06-10 20:44] Cashwini opened #788 "Transport error while trying to ssh to mac osx"
### Description

Execution of inspec for mac osx fails with transport error
### InSpec and Platform Version

InSpec version 0.23
### Replication Case

Run **_inspec exec -t ssh://username@macip -i password_**

[2016-06-13 17:36] mhedgpeth commented on #784
@mwrock sorry for the delay on this. I reran it not in debug mode and it failed again. Then I ran it in debug mode and it passed. So perhaps the debugging slows it down to get rid of more connections as they time out?

Also I saw that you added more logging to the next version of test kitchen. Might that make it easier to figure out?

[2016-06-13 23:52] anniehedgpeth opened #789 "Can't upload inherited profile"
### Description

When I tried to upload a new inherited profile (for use on a tutorial) via the UI, it wouldn't work.
### InSpec and Platform Version

Chef Compliance 1.3.1
### Replication Case

Upload the attached profile.
[inspec-inheritance.zip](https://github.com/chef/inspec/files/312902/inspec-inheritance.zip)
### Possible Solutions

??
### Stacktrace

From `/var/log/chef-compliance/nginx/cur

[2016-06-14 01:16] anniehedgpeth commented on #789
I was missing an `end`, so I thought that may be a problem.
And I had the owner of the profile included in the control name, so I took that out.
Here's the updated profile. I tried uploading again, and it didn't work again.
[inspec-inheritance.zip](https://github.com/chef/inspec/files/312966/inspec-inheritance.zip)

[2016-06-14 01:22] chris-rock commented on #788
@Cashwini do you use the mac ssh server or another one from brew and co?

[2016-06-14 01:26] chris-rock commented on #789
@anniehedgpeth This could not be parsed, because the end was missing. The following test works on my Chef Compliance:

[code]

[inspec-inheritance.zip](https://github.com/chef/inspec/files/312977/inspec-inheritance.zip)

[2016-06-14 01:28] chris-rock commented on #787
@DPD-30 Thanks for reporting. Have you experienced with Linux/Unix as well? If not, I assume this has something to do with inspec/train/winrm interaction.

[2016-06-14 01:31] anniehedgpeth commented on #789
Yep, you're right, @chris-rock. I think I just broke it again when I took out the profile owner name. I should have tested it after I fixed the end. Thanks!

[2016-06-14 01:32] #789 closed, assigned to nobody

[2016-06-14 18:17] Cashwini commented on #788
I use mac ssh server. I have the same problem when I try to scan mac node from Chef compliance server

[2016-06-15 02:26] mwrock commented on #784
I don't think that logging will help here unfortunately. When v2 comes out and gets integrated down stream, that should definitely eliminate this bug. Thats not to say we cant push a fix ihere if it vecomes clear.

[2016-06-15 13:34] mhedgpeth commented on #784
Thanks @mwrock. What's the timeline on v2?

[2016-06-15 19:40] pburkholder commented on #498
@joegoggins Curious if you have any examples or experience to share on using Inspec::Runner with Cucumber. I'm poking at the same question. Thanks, P.

[2016-06-15 21:46] joegoggins commented on #498
Hey @pburkholder , I ended up using vanilla cucumber and a custom tagging strategy to achieve the main things I was hoping to get out of Inspec for my particular project instead of blending the two. If there were a simple way to use the Inspec _matchers_ inside of Cucumber alongside my other Cucumber matchers + step definitions with the Cucumber CLI, I'd still love to be able to do that. Unfortuna

[2016-06-15 22:11] chris-rock commented on #788
I can confirm the issue, this requires a fix in train. The reason is the missing `keyboard-interactive` ssh auth method.

[2016-06-16 01:20] mwrock commented on #784
I'm hoping to wrap it up in the next couple weeks. I've instructed myself not to do any significant side OSS work on other projects until this is done.

[2016-06-16 02:00] YarNhoj opened #793 "inspec login fails"
### Description

The inspec login command fails w/ `legacy_login_post': undefined method`send_request' for Compliance::API:Class (NoMethodError)
### InSpec and Platform Version

inspec version 0.23
inspec version 0.25.0

HOST

[code]

VM

[code]

Vagrantfile

[code]
### Replication Case

vagrant init bento/centos-6.7
vagrant ssh
sudo su -
wget https://packages.chef.io/stable/el/6/chef-compliance-1

[2016-06-16 09:48] chris-rock commented on #788
This is fixed via https://github.com/chef/train/issues/111. It will be available in InSpec 0.24

[2016-06-16 09:48] #788 closed, assigned to nobody

[2016-06-16 17:26] chris-rock commented on #448
@username-is-already-taken2 It may worth to reevaluating the list of devices. We improved train to accept more ssh methods to transmit passwords. Would love to see the updated results.

[2016-06-16 18:03] mhedgpeth opened #798 "Proposal: inspec download/report to streamline how profiles are downloaded/reported"
# Summary

Streamline how profiles and their dependencies get downloaded by adding a `download` subcommand to `inspec` that all use cases (including compliance during a scan) use. Also add a `report` function for uploading report results to a compliance server.
# Problem

Within the inspec/compliance infrastructure there are multiple ways that inspec runs for different purposes:
1. **Scanning**: r

[2016-06-17 00:34] mhedgpeth commented on #798
Another motivation for this issue is that the `audit` cookbook isn't easily testable without a broad infrastructure to support it. So we should migrate things to `inspec` and let the audit cookbook be a simple client to `inspec`. We should drive the use cases that the `audit` cookbook uses to the other parts (scanning and running locally).

[2016-06-17 09:41] chris-rock commented on #798
@mhedgpeth This is a great summary and related to https://github.com/chef/inspec/issues/533. I think we are already good with inspec/kitchen-inspec relationship, since kitchen-inspec is `just` the kitchen wrapper for inspec. All tasks are handed over to inspec.

The goal is that the audit cookbook will work similar to kitchen-inspec. As discussed with @jeremymv2 already, our intention is to move t

[2016-06-17 09:46] chris-rock commented on #793
@YarNhoj With the latest version of Chef Compliance the login method via username/password is not supported anymore. We upgraded the authentication to a proper OpenID Connect systems.

Try:
`inspec compliance login https://compliance.test --insecure --user admin --token 'PASTE-TOKEN-HERE'`

Also have a look here: https://github.com/chef/inspec/issues/690

[2016-06-17 12:41] mhedgpeth commented on #798
@chris-rock thanks for the update. This is a valuable discussion for me.

I think your approach to dependency management will affect the need for this feature. Consider this use case:

Team 1 wants to inherit profile A, version 1.0
Team 2 wants to inherit profile A, version 2.0

When Team 2 uploads v2.0 of Profile A, Team 1 gets unexpected failures.

This highlights the need (in my mind) of buildi

[2016-06-17 16:22] chris-rock commented on #798
@mhedgpeth I think we talk about the same and think about different implementations. I would like to drive the discussion to be more use-case driven. We can derive the technical solution from there. I fully agree with you, that the consumption of profiles need to be harmonized. Especially for profile inheritance, the ease of use requires further improvements.

To solve the problem, I think that In

[2016-06-17 17:27] mhedgpeth commented on #798
@chris-rock you should talk with @danielsdeleo about his policyfile work and versioning of cookbooks. What you'll find is that versioning, by itself, is not a sufficient mechanism for dependencies. Instead the _content_ of the profile should be the version. If there is a way, like with policyfiles, for you to upload the content hash to the compliance server and _build_ the profile with a hard depe

[2016-06-17 17:30] mhedgpeth commented on #798
Let me also get a little philosophical about dependency management differences between development and infrastructure.

With development, it's cool to say "depend on this gem here, version X". It's cool **because** you build the thing very early on and promote it through the whole process.

The problem comes with infrastructure when you **don't** build the thing, but keep the cookbooks separated.

[2016-06-18 09:47] chris-rock commented on #798
@mhedgpeth Thanks for writing up the validation for our current approach. Our system will not rely on classic version numbers. Instead we opt for the git model, where each change creates a new version aka sha sum automatically. Classic versioning like 1.2.3 is only a tag to a unique sha version and eases the usage for users. Under the hood though, we always will rely on sha sums to uniquely know t

[2016-06-20 11:42] mhedgpeth commented on #798
@chris-rock that's fantastic. Then to make sure here's what we need to support:

This would be in the `inspec.yml` file like this:

[code]

So perhaps I would call `inspec profile install` which would generate an `inspec.json.lock` file with content like this:

[code]

If I were to revert source to this version of the profile, I could retrieve _the exact same dependencies_ that I retrieved that da

[2016-06-20 12:08] arlimus commented on #798
Hi everyone, wow you are having an awesome discussion in here!! Quick additions since I'm currently implementing this feature:
- there will be a separate lockfile; the resolved list of dependencies will not be added to `inspec.yml` (unless we find reasons to combine it; discussion welcome)
- there will be a vendor feature, which will allow packaging a or a number of profiles; this will also allow

[2016-06-20 12:15] mhedgpeth commented on #798
@arlimus thanks for the reply, that approach looks great. In my mind the lockfile needs to be 100% generated, which helps us ensure that it was not tampered with. In fact, as with policyfiles, it's a good idea to make the lockfile content _itself_ have a hash so you know there was no tampering. I believe that's what policyfiles do too.

[2016-06-20 12:21] arlimus commented on #798
@mhedgpeth huge :+1:
Also, once it is generated, the lockfile can be transfered and re-used to get reproducible results. The hashsum can guarantee it is not tempered with and in the mid-term we'll find a way to address signing in inspec as well :smile:

[2016-06-21 12:42] chris-rock commented on #798
As a reminder, why flat dependency resolution is preferred: https://github.com/npm/npm/releases/tag/v3.0.0

[2016-06-21 12:42] chris-rock commented on #793
@YarNhoj is that still an issue?

[2016-06-21 13:12] YarNhoj commented on #793
Sorry I'm travelling on an engagement. I'll test it from the hotel tonight. Thanks!

[2016-06-22 02:11] YarNhoj commented on #793
Works great, It still throws a warning that says `Your server supports --user and --password only`, I think I just misunderstood what that meant. I was thinking that it meant it only supported that login method.

[2016-06-23 08:55] chris-rock opened #804 "Document Serverspec Migration"
### Description

InSpec inherits a lot of similarities to Serverspec, especially the Syntax is very similar and most Serverspec resources are available in InSpec as well https://github.com/chef/inspec/issues/514

Nevertheless, InSpec and Serverspec have some differences
- InSpec is promoting a flat test structure instead of nested describe blocks
- No clear guide is available that helps users to e

[2016-06-23 10:10] rmoriz commented on #804
The big issue with inspec is its incompatibility with common rspec patterns, not only nested `describe` blocks but also common things like `let`.

You should point users to at least three `chef-cookbooks` that, in your opinion, provide a good overview about the use of inspec in real-life. Sadly, "complicated" cookbooks that show advanced real-life usage of chef, seem still to use serverspec (e.g.

[2016-06-23 10:32] chris-rock commented on #804
@rmoriz thanks for highlighting this. Can you elaborate, on why you need let?

Good examples for InSpec tests are:
- https://github.com/dev-sec/tests-os-hardening
- https://github.com/dev-sec/tests-ssh-hardening
- https://github.com/dev-sec/tests-nginx-hardening
- https://github.com/dev-sec/tests-apache-hardening

Those are used in
- https://github.com/dev-sec/chef-os-hardening
- https://github.co

[2016-06-23 10:47] rmoriz commented on #804
@chris-rock let's say we have to verify the installation of a given `android-ndk` release, like "11c" - Usually I would specify the version number in one place and re-use the variable in subsequent tests, so once we upgrade, I only need to change one variable.

I know your hardening cookbooks but they are not "full lifecycle" cookbooks with a complexcity and "wrappability" like the mentioned `ipta

[2016-06-23 11:29] chris-rock commented on #804
@rmoriz Got you. Why not use a plain ruby variable? I just try to understand, what the need is. Implementation details are following the understanding of the need ;-)

[2016-06-23 12:10] chris-rock commented on #804
@rmoriz also have a look at:
- https://github.com/chef-cookbooks/tomcat
- https://github.com/chef-cookbooks/memcached
- https://github.com/chef-cookbooks/docker

[2016-06-26 21:13] spuranam commented on #541
@mwrock @arlimus @andy-dufour  Test-kitchen v1.10.x included in ChefDK 0.15.15 broke this work around. It used works under test-kitchen v1.8.0 included in ChefDK  v0.14.25.

I have posted a reproduce able minimal project at https://github.com/spuranam/hello. Any insight how best to solve would be greatly appreciated.

My Chef Environment:
ChefDK 0.15.15
OS: Windows 10
VirtualBox: 5.0.22
Vagrant: 1

[2016-06-27 01:06] scalp42 commented on #541
@spuranam have you looked in `/tmp` see if the JSON is here and what's the content ?

[2016-06-27 03:14] spuranam commented on #541
@scalp42 i have posted the content of json file [here](https://github.com/spuranam/hello/blob/master/kitchen_chef_node.json). Below is error i am seeing:

-----> Starting Kitchen (v1.10.0)
-----> Verifying <default-leap>...
       Use `C:/Users/spuranam/chef-repo/cookbooks/hello/test/integration/default` for testing

[2016-06-27 08:50] chris-rock opened #805 "Document InSpec Shell"
### Description

The `inspec shell` command is not properly documented. It should document the basic commands to interact with local and remote systems.

[2016-06-28 10:05] alexpop opened #806 "Additional fields in inspec reports"
This is an enhancement request to add additional fields to the inspec reports in order to ease data collection and parsing.

For example, when running:

[code]

the output has the following format:

[code]

Adding additional fields like:

[code]

would make reports ingestion code cleaner and safer. Cheers!

[2016-06-28 10:15] alexpop opened #807 "inspec report source_location data type"
When generating an exec report, the `source_location` field seen below:

[code]

is causing ElasticSearch import error if no data mutation is done:

[code]

This is an enhancement request to change the data type for better report consumption.

[2016-06-28 11:39] arlimus commented on #806
@alexpop : We just had an offline discussion around `type` with @chris-rock and both really liked it (it's simple, clear, no confusion, and used by other APIs as well).

[2016-06-28 12:03] #807 closed, assigned to nobody

[2016-06-28 13:36] arlimus commented on #806
Actually, all of these fields look quite optional in general. i.e. when considering how any command could output JSON, we have to start considering providing all of them with version, application and type information. eg should `inspec detect` carry this info? how about when we just run a resource to retrieve its content, would that require enriching of JSON as well?

I believe this information is

[2016-06-28 13:40] arlimus commented on #806
On enriching engines: We had a discussion offline and talked about adding more data, that users can provide via inspec, eg metadata that a user can insert. The use-case is solid, ie we want the reports to be enriched with information about inspec and the context in which scans were run (eg via scanner, via chef client, ...). This imho is a separate component that provides multiple means of manglin

[2016-06-28 16:48] pburkholder commented on #353
@chris-rock Any update here on how to do tests against the platform, or how to cleanly include something like `inspec-aws`?

[2016-06-28 18:29] arlimus commented on #806
Let's reopen this with a use-case again.

[2016-06-28 18:29] #806 closed, assigned to nobody

[2016-06-28 18:35] arlimus commented on #353
@pburkholder I've been hammering on this (parts of which are referenced here https://github.com/chef/inspec/issues/798 as well) for the last couple of weeks for every free minute I found :smile: Getting very close now. Essentially it is dependency resolution and the last major feature for inspec 1.0 (apart from fixes and enhancements).

[2016-06-28 23:21] arlimus commented on #451
Discussion moved to #809 as it potentially solves this problem.

[2016-06-28 23:21] #451 closed, assigned to nobody

[2016-07-05 09:13] alexpop opened #812 "Inspec exec output when multiple matchers are used"
With `inspec 0.26.0`, when multiple matchers are used, the output is missing the label of the test. For example, for the above test:

[code]

I get:

[code]

And for this test:

[code]

I get:

[code]

[2016-07-05 11:38] spuranam opened #813 "Read Chef attributes within the tests ?"
### Description

[Issue 541](https://github.com/chef/inspec/issues/541) provided a way to consume chef attributes in the Inspec tests. But this workaround was broken by ChefDK 0.15.15.
### InSpec and Platform Version

ChefDK 0.15.15
OS: Windows 10
VirtualBox: 5.0.22
Vagrant: 1.8.4
### Replication Case

I have posted a reproduce able minimal project at https://github.com/spuranam/hello.
### Stacktr

[2016-07-06 14:34] alexpop opened #817 "DISCUSS: Extend inspec exec report summary"
The `inspec 0.26.0` execution report contains the following format:

[code]

Would be helpful for the json report to provide a scan summary of the controls based on impact. For example:
-  1 failed with criticality of 0.3
-  2 failed with criticality of 0.454
-  4 successful with criticality of 1.0
-  3 skipped with criticality of 0.7

These reports are eventually stored and indexed for future sea

[2016-07-08 16:56] jeremymv2 commented on #813
This can be accomplished with an inspec profile, which is how I've been achieving this for a while.

https://github.com/jeremymv2/test-inspec/blob/master/test/integration/profile/libraries/node.rb

It seems to be that `node = json('/tmp/kitchen_chef_node.json').params` when run in a non-inspec-profile is trying to open `/tmp/kitchen_chef_node.json` on the host machine, not in the TK instance and t

[2016-07-08 16:58] jeremymv2 commented on #541
This can be accomplished via an inspec profile.  See #813

[2016-07-11 13:25] xTNTx opened #820 "Inconsistency with indifferent access"
### Description

Inspec handles options as `HashWithIndifferentAccess` when it comes from [CLI](https://github.com/chef/inspec/blob/master/lib/utils/base_cli.rb#L93). It's not the same when options are passed as legacy Hash from another script, e.g. [from kitchen-inspec](https://github.com/chef/kitchen-inspec/blob/master/lib/kitchen/verifier/inspec.rb#L42-L47) verifier. It makes option keys inacce

[2016-07-11 13:36] xTNTx commented on #813
@spuranam The core bug is described in issue above. It was present earlier but came up once default formatter was changed to `cli`. As temporary fix, change it back to `progress`, e.g. in your `.kitchen.yml`:

[code]

[2016-07-11 15:03] chris-rock commented on #793
Thanks @YarNhoj for the feedback. We'll fix the false message.

[2016-07-11 18:57] arlimus opened #821 "inspec init profile: parameterize and expose template options"
### Description

This was just raised at ChefConf:
- Let `inspec init` grab data from ENV
- Let `inspec init` naturally pull data from the machine you are running this on to populate data

Happy to take feedback on what you would like to see!! :smile:

Aha! Link: https://chef.aha.io/features/SH-2144

[2016-07-11 19:36] polliard-jmfe opened #822 "inspec does not check that every control ID is unique."
### Description

Currently, if you were to have two control ids that are identical the last one written is the impact value that will be used.  The inspec check should validate that all control ids are unique in a given profile.
### InSpec and Platform Version

RHEL 6
INSPEC 0.22.1
### Replication Case

[code]

Modify the tmp.rb to be

[code]

Now when viewing the impact the impact will be 0.7 not

[2016-07-11 19:38] arlimus commented on #822
@polliard-jmfe Awesome, thank you for reporting!!

I agree, we should make sure that inspec controls are unique within the scope of the profile.
This must be caught by `inspec check`.
This (imho) should also be caught by `inspec exec`, as it may lead to unexpected behavior.

[2016-07-11 21:42] err0 commented on #798
I'd love to see this as `inspec compliance download PROFILE` as a counterpart to `inspec compliance upload PROFILE_PATH`

[2016-07-11 22:14] arlimus commented on #822
Smallest replication case:

[code]

then when you

[code]

you will see the control overwritten.

When executing:

[code]

[2016-07-11 22:22] arlimus commented on #822
The interesting part to discuss:
- Is this behavior ok?
- Should this just be treated with a warning (during `inspec check` only?)
- Should this be treated as an error

Inheritance will continue to allow overwriting controls (as it should), but having the same control defined (i.e. monkey-patched) in the same file is something to be considered here.

[2016-07-11 22:23] ghost commented on #210
Is this going to be added to https://docs.chef.io/ctl_inspec.html ?

[2016-07-12 06:57] atomic111 commented on #822
From my perspective inspec check and inspec exec should provide you a warning message, that you have implemented a control with the same id. Then the user can decide to ignore or to solve it.

A other solution would be that inspec provide a switch to enable or disable inheritance. If inheritance is disabled then it should be treated as an error.

For my usage the warning message is OK.

[2016-07-12 12:26] polliard commented on #822
I can see were a warning makes sense instead of an error. The existence of a duplicate id won't cause inspec tests to fail (error), it may only give you inconsistent results or hide two different checks under the same name.

[2016-07-12 13:06] atomic111 commented on #820
i got the same issue with postgres_conf.params['data_directory']. i used this in the postgres profile. if i execute it with inspec exec, everything works as expected. but if i use kitchen verify then i get two results: one is `/var/lib/postgresql/9.4/main` and the other value is `nil`.

thanks @xTNTx for the temporary fix `format: progress`. this works for me

[2016-07-12 17:42] atomic111 opened #823 "wrong path detection for postgres conf_dir and conf_path"
### Description

I am using `postgres.conf_path` in my inspec profiles. If i use it for centos 7.2 i get the following

`
You are currently running on:
    OS family:  centos
    OS release: 7.2.1511
inspec > postgres.conf_path
=> "/var/lib/pgsql/data/postgresql.conf"`

The path should be `/var/lib/pgsql/9.4/data/postgresql.conf`

This applies also for oracle.
### InSpec and Platform Version

insp

[2016-07-12 19:13] atomic111 opened #825 "undefined method `max_connections' for PostgreSQL"
### Description

I add the following test to my inspec profile:

[code]

and got the error:

[code]

I execute the test with:

[code]

If i execute the test within the inspec shell like this:
`postgres_conf.params['max_connections'].eql?'100'` I get the expected result:

[code]
### InSpec and Platform Version

inspec version 0.27.0
### Replication Case

I started the ubuntu 16.04 (https://atlas.ha

[2016-07-12 21:14] #823 closed, assigned to nobody

[2016-07-13 09:27] jsirex commented on #229
Even after reading all the blogs, examples I can't understand "why inspec"?
Want smart resource, like sshd_config - define it with serverspec. Why not to improve existing software? Now community has divided between serverspec and inspec?
What can I do easily with inspec which can't with serverspec?

[2016-07-13 10:52] alexpop opened #827 "Inconsistent json format caused by inconsistent hash keys"
When executing a profile from inspec 0.27.0, the `json` formatted output shows the results of each control under `profiles > PROFILE_NAME > controls > CONTROL_NAME > results`. Field `other_checks` is `[]`

When executing the same profile from the `audit` cookbook, the `json` formatted output is missing the `results` field inside the controls, with the `other_checks` field now containing the result

[2016-07-14 00:40] #827 closed, assigned to nobody

[2016-07-14 10:45] pburkholder opened #829 "RFC - System Security Plan and InSpec"
Hi Inspec Folks,

Welcome back from ChefConf; I hope you had a great time!

In the last few weeks I’ve been working in the FISMA/FedRAMP space to help a client better build out the System Security Plan (SSP) that’s needed to obtain the Federal “authority to operate” in a cloud provider.

To that end, there’s a general need to automate the generation of SSPs that is:
- Composable: can be generated

[2016-07-15 15:44] mhedgpeth commented on #829
From what I understand about it inspec's job is to give you a structured json response to a test run that can be fed into any system. The json includes the text of the test itself. Have you looked at whether that fits your needs?

Also to make the profiles truly composable we need dependency management, which I'm told will be worked on in the short term.

[2016-07-17 00:11] mwrock commented on #541
I think this is fixed @spuranam . I just ran `verify` against your repo and it succeeded. Checking my gem bundle I had:

[code]

I then altered my bundle to use the same versions packaged with 0.15.15:

[code]

This yielded the same failure as yours.

Not sure what the exact fix was but I'd recommend updating those gems and they should be included in the soon to be released chefdk 0.16.

[2016-07-17 08:22] xTNTx commented on #813
Fixed by #828

[2016-07-17 08:25] xTNTx commented on #820
Particular case is fixed by #828 . But it still not secure from differences in other keys.

[2016-07-18 23:28] mhedgpeth commented on #822
I think it should be an error because I like having a strict structure in place in which tests run and no unexpected side effects. The strictness will mean we trust the results. With a warning, it can be skipped and trust in the system will erode.

[2016-07-22 10:51] arlimus opened #839 "cli reporter: choose stoplight colors based on impact"
As reported by @alexpop : Coloring on some CLIs seems off between critical and major.

What it currently looks like:

![screenshot from 2016-07-22 12-50-30](https://cloud.githubusercontent.com/assets/1307529/17055083/ec4fb1fc-500a-11e6-9a65-eed6e907e9b6.png)

We had a session discussing 256 colors this morning as well.

![screenshot from 2016-07-22 12-47-52](https://cloud.githubusercontent.com/ass

[2016-07-22 19:41] schisamo opened #840 "`inspec` binary occasionally exits zero on SSH failures"
### Description

If the underlying `ssh` command/transport has an error the `inspec` binary still exits zero. This can prove problematic when CI/CD is driving `inspec` as the job will be marked as green when it actually failed because of underlying config issues.

[code]

In the scenario above a `ProxyCommand` is configured in `~/.ssh/config` BUT inadvertently pointing at a non-existent bastion/ga

[2016-07-25 08:12] chris-rock commented on #839
I prefer the second version! Great improvement @arlimus

[2016-07-25 08:28] alexpop commented on #839
My vote goes for `#2` as well

[2016-07-25 12:39] chris-rock opened #842 "Document all supported Operating Systems"
### Description

The InSpec readme does not outline a matrix with supported operating systems. It should be very easy to find a list of supported os.

[2016-07-25 12:54] chris-rock opened #843 "Add InSpec habitat plan"
### Description

Currently, InSpec offers a docker image, Habitat is offering the hab plan https://github.com/habitat-sh/core-plans/blob/master/inspec/plan.sh. From my perspective, this plan should be part of InSpec. As a second step, it would be great to bring this together. eg. export docker via habitat.

[2016-07-25 20:14] kdshah1 opened #844 "Need warning 'Permission denied. Need to be root' to exec this control."
### Description

Some of the controls fail while running 'inspec exec' on it. This is not because its not compliant, but because you need to be root to access the file via Inspec resource. The test in this circumstances are misleading and a correct message like 'Need to be root to access this resource' will be very helpful.
### InSpec and Platform Version

Inspec version - 0.26.0

Tell us which ve

[2016-07-25 20:22] kdshah1 opened #845 "Address all test related to iptables resource."
### Description

Currently there's  no test for iptables is empty and maybe other test to address all the iptables related policies and rules.
### InSpec and Platform Version

Inspec - 0.26.0
Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using
 Red Hat Enterprise Linux Workstation release 6.8 (Santiago)
### Replication Case

Hoe do

[2016-07-25 21:32] aaronlippold commented on #845
👍

[2016-07-25 21:34] aaronlippold commented on #844
👍

[2016-07-26 09:03] chris-rock commented on #844
Thanks for reporting @kdshah1 and @aaronlippold A fix would improve the user experience.

[2016-07-26 09:04] chris-rock commented on #845
we use iptables (-f table) -S (chain) https://github.com/chef/inspec/blob/master/lib/resources/iptables.rb#L57

[code]

At the moment we do not have a good test to check for empty rules eg:

[code]

Instead the following would work, but does not read great:

[code]

[2016-07-26 09:06] chris-rock commented on #845
A sample iptables rules collection was highlighted by @fcaviggia @kdshah1 in our gitter chat

[code]

[2016-07-26 17:44] chris-rock commented on #821
@arlimus Is the idea to use the command in an automated fashion? Wouldn't it make sense to use our existing piping logic? e.g `init_config.json > inspec init`?

[2016-07-26 17:46] chris-rock commented on #813
Please reopen, if the problem still occurs. Thanks for the additional testing @xTNTx

[2016-07-26 17:46] #813 closed, assigned to nobody

[2016-07-26 17:49] chris-rock commented on #784
@mhedgpeth is this still an issue?

[2016-07-26 17:52] chris-rock commented on #763
Please have a look at https://github.com/dev-sec/cis-docker-benchmark, especially https://github.com/dev-sec/cis-docker-benchmark/blob/master/libraries/docker.rb Once we have our dependency management in place, it will be really easy to consume the same resource in different profiles

[2016-07-26 17:58] mwrock commented on #784
FYI: just waiting on winrm-v2 review - https://github.com/WinRb/WinRM/pull/191 now. It definitely addresses this issue.

[2016-07-26 18:06] chris-rock commented on #502
This is fixed in latest documentation https://github.com/chef/inspec/blob/master/docs/resources.rst#examples-7

[2016-07-26 18:06] #502 closed, assigned to nobody

[2016-07-27 13:19] fcaviggia commented on #845
Chris,

Here's a srcipt I was using for IPTables and a presentation that I did at Red Hat that was primer to discuss the differences with IPTables/IP6Tables/EBTables and FirewallD.

https://github.com/fcaviggia/hardening-script-el6-kickstart/blob/master/config/hardening/iptables.sh

[Firewalls.pdf](https://github.com/chef/inspec/files/386126/Firewalls.pdf)

[2016-07-28 02:29] mhedgpeth commented on #784
Thanks @mwrock I'm watching that issue. I can retest when it's merged.

[2016-07-28 08:22] chris-rock commented on #845
Thanks Frank for sharing those examples.

[2016-07-28 16:05] davidcpell opened #847 "os[:family] returns "centos" rather than "redhat" on my Centos 7.2 box"
Hi all,

Pretty new to inspec so forgive me if I'm just missing something here, but I ran into an issue when writing specs with the `service` resource where I needed to specify `service` for my Ubuntu 14.04 box and `sysv_service` for my Centos 7.2 box (using with test kitchen).

My test:

[code]

Note that I've had to compare against `'centos'` here because that is the value being returned by `os[

[2016-07-28 20:00] kdshah1 commented on #563
Adding to suggested Resources: ip6tables

[2016-07-29 11:11] viq commented on #749
Just a note that I'm seeing problems with `is_enabled` on debian 8 (systemd) as well .

[2016-07-29 11:45] fcaviggia commented on #563
Adding to suggested Resources: firewalld (firewall-cmd)

[2016-07-29 12:43] nvtkaszpir opened #848 "Document ini resource"
As a developer I would like to verify ini files within inspec:
- if given sections exist
- if given keys+values exist within sections

This should be as new resource, similar to parse_config.

[2016-07-29 19:14] nvtkaszpir commented on #760
+1

[2016-07-30 13:52] aaronlippold commented on #839
#2 👍

[2016-07-30 14:55] fcaviggia commented on #839
#2 :+1:

[2016-08-01 07:54] chris-rock commented on #847
Thanks @davidcpell for the reporting.

[2016-08-01 07:56] chris-rock commented on #848
@nvtkaszpir That is a great idea! Since we head for InSpec 1.0, I assume we cannot make it within the next two months, but PRs are welcome to add this to InSpec

[2016-08-01 10:19] chris-rock commented on #848
Is the current ini resource not working for you? https://github.com/chef/inspec/blob/master/lib/resources/ini.rb

[2016-08-01 10:36] alexpop opened #849 "Counting and status of controls without tests"
Here's a few controls from the `CIS CentOS Linux 7 Benchmark Level 2` profile shipped with Chef Compliance:

[code]

These controls have no tests in them and after execution, there's inconsistency in how they are reported here:
- Counting them as `passed` in the `audit` cookbook
- Counting them as `skipped` in Chef Visibility
- InSpec is not counting or displaying their status when using the `cli`

[2016-08-01 11:09] nvtkaszpir commented on #848
ah, actually I wasn't aware of this, because I was basing on official docs, which does not have 'ini' type per se.

Will see how it works, but apparently docs needs extension.

[2016-08-01 11:23] nvtkaszpir commented on #848
yep it works :D

[2016-08-01 12:36] chris-rock commented on #848
@nvtkaszpir Alright, we need to add the ini resource to our documentation. Great to hear it works.

[2016-08-01 13:59] arlimus opened #851 "InSpec html demo"
We want this for the new inspec home (website) and awesomeness during presentations.

Huge props to Adam Jacob and the full Habitat team for their awesome demos!!

Let's collect ideas and implementation direction here.
## Decisions
- Pre-record inspec behavior OR use a tty-backend with e.g. Docker.
  => pre-record the behavior
- No server-side component
  => Lives in the inspec repo under `www/dem

[2016-08-01 14:17] arlimus opened #852 "InSpec output for summary needs to count controls"
Currently InSpec counts "examples", i.e. so-called RSpec examples.
We want to drop that as a visible concept and as a term in our vocabulary book.

InSpec counts controls and tests. Controls may have a number of tests. Tests may exist without controls (albeit: internally we map them to anonymous controls anyway).

InSpec's output reflects RSpec examples (i.e. tests): Count of failed, passed, and s

[2016-08-01 14:18] arlimus commented on #849
@alexpop Awesome, thank you for bringing it up!!

Let's address the larger issue of actually counting controls vs tests :smile:
==> https://github.com/chef/inspec/issues/852

[2016-08-01 15:43] Mykolaichenko commented on #812
The same problem, not working with multiple matchers in inspec version = 0.28.0.

[2016-08-01 16:10] chris-rock opened #853 "Document InSpec OR features"
### Description

Default Serverspec and RSpec do not support OR tests. InSpec added this feature:

[code]

That allows you to write a control and test for a or b

[code]

[2016-08-01 21:03] vjeffrey commented on #852
wip in this branch: https://github.com/chef/inspec/compare/vj/inspec-controls-count

[2016-08-01 21:14] vjeffrey commented on #842
wip: https://github.com/chef/inspec/compare/vj/add-supported-os-to-readme ...should I be adding more detail there?  and if so, what details? :)

[2016-08-01 22:25] Dispader opened #854 "`examples/kitchen-chef` centos test fails"
### Description

Both Ubuntu test suites pass for the `examples/kitchen-chef` example, but test appear to fail for CentOS:

[code]
### InSpec and Platform Version

Tell us which version of InSpec (`inspec version` or SHA of a commit) and Operating System distribution you are using:

default Gemfile in the current master branch:

[code]
### Replication Case

[code]
### Possible Solutions

None yet,

[2016-08-01 22:30] Dispader commented on #854
It looks as though `systemctl` at least knows about it:

[code]

[2016-08-02 08:18] chris-rock commented on #854
This may be related to #749

[2016-08-02 09:16] chris-rock commented on #842
A couple of things that come into my mind that we should consider:
- Distinguish between OS where inspec can be executed (aka runtime os) and remote targets
- We should have a list
- we should follow the Chef guideline for tier supporting and adding the information here as well

Some references:
- Remote OS Support: https://github.com/chef/train/blob/master/lib/train/extras/os_common.rb
- Tier Sup

[2016-08-02 10:06] chris-rock opened #855 "Adapt InSpec to work with latest train OS updates"
### Description

@stevendanna introduced a couple of updates for our OS detection: https://github.com/chef/train/pull/126. This PR changes the way we get os information:

[code]
### InSpec and Platform Version

latest
### Possible Solutions

We should prefer to use dynamic methods like `inspec.os.linux?` or `inpsec.os.debian?` in our resource implementations. In addition we need to update the mock

[2016-08-02 10:08] chris-rock commented on #855
In addition, we need to ensure that Amazon Linux is supported, since this is now its own family.

[2016-08-02 11:20] vjeffrey commented on #842
thanks chris! that's what i needed!! :)

[2016-08-02 12:04] tejas-shah opened #858 "inspec fails to determine file_version for a file on a windows 2012R2"
### Description

inspec fails to determine file_version for a file on a windows 2012R2 through winrm
### InSpec and Platform Version

Version of InSpec (`0.28.0`) and RHEL 6
### Replication Case

To replicate, create a test and then use syntax provided in documentation:
https://docs.chef.io/inspec_file.html#file-version

[code]

[2016-08-02 12:38] chris-rock commented on #858
I can confirm that the information is not retrieved properly. It is not restricted to winrm.

[2016-08-02 21:43] vjeffrey commented on #851
from @stevendanna
"...we mentioned potentially doing a "not-canned" demo on the website where people run actual commands and got actual output.  One possibility there is a small app (maybe in go?) that spawns a container and then forwards a websocket connection to the container back to the browser. Not attached to the idea, just thought of it on a walk today.  This: https://contained.af/ uses that

[2016-08-02 21:46] vjeffrey commented on #851
the website at habitat.sh/try is using josh.js (http://sdether.github.io/josh.js/) --- match commands that are input by the user to the commands you expect, if they don't match, show them a help file, if they do match, display the canned output (https://github.com/habitat-sh/habitat/tree/master/www/source/try, https://github.com/habitat-sh/habitat/tree/master/www/source/javascripts, https://github

[2016-08-02 21:48] vjeffrey commented on #851
the presentation used for habitat is a tty.js --  https://github.com/habitat-sh/habitat-launch

[2016-08-02 22:18] #842 closed, assigned to nobody

[2016-08-03 02:18] jorhett commented on #741
Explicit documentation for this purpose (node attributes) would be useful. Right now one has to struggle through a dozen different pages to figure this out :(

[2016-08-03 10:48] chris-rock opened #861 "Improve integration tests"
### Description

The current integration tests need some updates to ensure they are running with the latest chef-client and inspec versions.
- fix vagrant integration tests
- fix docker integration tests
### InSpec and Platform Version

0.26.0
### Replication Case

run `bundle exec kitchen test`

[2016-08-03 10:54] stevendanna commented on #861
Some more notes on the current situation:
- `bundle exec kitchen test`  works on the ubuntu platforms but only if `DOCKER=true` is set in the environment. Currently, many of our spec files early exit if they find`DOCKER=true` in the environment.
- On `centos` we've observed 3 different behaviors depending on the version of chef-client and the version of the runit cookbook: (1) infinite loop when t

[2016-08-03 11:00] stevendanna opened #862 "Intermittent failure in resource tests"
### Description

When running the resource tests:

[code]

some platforms will fail with the following:

[code]

This appears to be caused by the container taking too long to create.  Usually the subsequent run will work.

[2016-08-03 11:12] chris-rock commented on #741
This should be documented in our Serverspec migration guide https://github.com/chef/inspec/issues/804

@jorhett Can you give us some hints of what is missing and add that to #804?

[2016-08-03 13:22] #749 closed, assigned to nobody

[2016-08-03 13:25] chris-rock commented on #851
@stevendanna proposed: One possibility there is a small app (maybe in go?) that spawns a container and then forwards a websocket connection to the container back to the browser. Not attached to the idea, just thought of it on a walk today.  This: https://contained.af/ uses that method

[2016-08-03 17:59] anniehedgpeth opened #866 "parse_config error when searching for fs.suid_dumpable"
### parse_config error

I wanted to use the parse_config resource instead of a file resource to match content for `fs.suid_dumpable` in `/etc/systctl.conf`. So I tried using

[code]

See:
https://github.com/anniehedgpeth/ubuntu-14-cis-profile/blob/master/controls/4.rb#L22

But it gets this error

[code]
### InSpec and Platform Version

InSpec version 0.28.1
MacOs 10.11.6
### Replication Case

Run

[2016-08-03 18:11] nvtkaszpir opened #867 "port() could convert string parameter to integer"
### Description

port() should accept string and try to convert it to integer, so:

`port(123)`
and
`port('123')`
would be equal
### InSpec and Platform Version

0.28.0

Distributor ID: Ubuntu
Description:    Ubuntu 15.10
Release:    15.10
Codename:   wily
### Replication Case

[code]
### Possible Solutions

convert string to integer, sanitize it is a valid port number
### Stacktrace

used port('3

[2016-08-04 11:53] stevendanna opened #868 "Legacy grub configuration incorrectly parsed"
### Description

The current grub_conf configuration parser assume that lines after the `title` entry should be indented:

https://github.com/chef/inspec/blob/master/lib/resources/grub_conf.rb#L107

However, grub configurations in the wild don't seem to follow this pattern. For example, the following configuration from amazon linux:

[code]

As a result, no information is collected for by the pars

[2016-08-04 11:55] chris-rock commented on #867
@nvtkaszpir This is a great idea. Are you going to add a PR?

[2016-08-04 12:52] chris-rock commented on #772
this will be solved with release 0.29.0 that will depend on train 0.16

[2016-08-04 12:52] #772 closed, assigned to nobody

[2016-08-04 13:42] chris-rock opened #870 "bump train dependency"
we need to be dependent on train 0.16.0

[2016-08-04 16:08] nvtkaszpir commented on #867
I'm sorry I'm not a ruby dev and I'm unfortunately not having enough time to learn thoroughly ruby to commit patches. It's on my todo list but you know, I'm having already enough ops problems ;)

[2016-08-04 21:00] unixorn opened #871 "Test output for file/directory modes does improper decimal conversion"
With kitchen 1.10.2 as installed by ChefDK, I'm getting weird display errors for passing file mode tests.

Output of the tests is showing that the file/directory modes are being converted to decimal for display. This is unhelpful :-)

With the following test:

[code]

I get this output

[code]

While it is correctly showing that it passed, the file mode conversion to decimal is jarring.

[2016-08-04 21:01] chris-rock commented on #871
Thanks for highlighting that issue @unixorn

[2016-08-04 21:02] unixorn opened #872 "1.10.2 missing a space in failed test output"
With kitchen 1.10.2 as installed by ChefDK, I'm getting weird display errors for failing tests. This is when running tests on a guest Ubuntu 16 hosted in VirtualBox on OS X 10.11.6.

Here's a sample, but it does this on all failing tests, not just package tests

[code]

[2016-08-04 21:03] unixorn commented on #871
This is when running tests on a guest Ubuntu 16 hosted in VirtualBox on OS X 10.11.6.

[2016-08-05 08:02] chris-rock commented on #851
Another alternative would be to use emscripten to compile ruby to javascript. As far as I can see, ruby 1.9.3+ cannot easily compiled to javascript, because it heavily relies on threads. See: https://github.com/replit/emscripted-ruby

Update: Looks like thread support is in Emscripten now: https://groups.google.com/forum/#!topic/emscripten-discuss/gQQRjajQ6iY But I expect a lot of road bumps :-(

[2016-08-05 08:43] chris-rock commented on #872
Thanks @unixorn I agree that this is annoying.

[2016-08-05 09:10] stevendanna opened #874 "Improved Logging"
### Description

Inspec (and the associated library `train`) log very little, even at the debug log level.  This can make debugging problems difficult without modifications of the code or the use of the interactive REPL.  While the REPL is a useful tool, it won't provide support or users with the ability to do post-mortem debugging of an issue reported by a user in the same way as a debug log woul

[2016-08-05 09:30] jaybrueder commented on #798
Any updates to this?

[2016-08-05 09:32] chris-rock commented on #798
We are currently wrapping up InSpec 1.0. Its on the roadmap, once its finished.

[2016-08-05 09:40] chris-rock opened #875 "Fix RSpec Its"
### Description

The rspec its implementation is broken in many ways as highlighted by #778 and #866 . To be clear, it is not the syntax itself, the implementation is doing a lot of magic: https://github.com/rspec/rspec-its/blob/master/lib/rspec/its.rb#L105-L118

Especially affected are cases where we use `.` in strings like:

[code]

or

[code]
### InSpec and Platform Version

InSpec 0.26.0
### R

[2016-08-05 10:11] chris-rock commented on #866
@anniehedgpeth You run into a specific issue :-)

[code]

also, the same should work with `parse_config_file`:

[code]

For now, we need to circumvent the issue #875 with the following code:

[code]

This functionality has been added with #876.

@anniehedgpeth Also be aware the the regular expression you used was not working. I used:

[code]

[2016-08-05 10:25] chris-rock commented on #866
The RSpec issues is tracked in #875, improvements #876 for parse_config will be shipped with the next InSpec release.

[2016-08-05 10:25] #866 closed, assigned to nobody

[2016-08-05 12:39] #867 closed, assigned to nobody

[2016-08-05 13:38] #847 closed, assigned to nobody

[2016-08-05 13:38] #855 closed, assigned to nobody

[2016-08-05 14:11] #812 closed, assigned to nobody

[2016-08-05 14:11] #872 closed, assigned to nobody

[2016-08-05 14:12] chris-rock commented on #861
Is done by #863 and #869

[2016-08-05 14:12] #861 closed, assigned to nobody

[2016-08-05 18:59] #858 closed, assigned to chris-rock

[2016-08-08 08:12] chris-rock opened #884 "Add JSON Schema validation"
### Description

It is critical that the `inspec exec /path/to/profile` returns stable output, since its a API that is consumed in other applications. The current test coverage can be improved.
### InSpec and Platform Version

0.28.0
### Possible Solutions

Develop a JSON Schema for each operation and validate output against it

[2016-08-08 08:37] chris-rock commented on #805
The built-in help may be good, but users look for documentation in https://github.com/chef/inspec/tree/master/docs, we may be able to auto-generate those form the built-in help

[2016-08-08 08:38] chris-rock commented on #607
We should at least target ZSH and Bash. Not sure if we could find a way to get tab completion for Powershell?

cc @ksubrama

[2016-08-08 08:56] stevendanna opened #885 "Inspec doesn't respond to `--help`"
### Description

The `inspec` command does not respect the `--help` flag, which can be frustrating when iterating on a command that requires many options.
### InSpec and Platform Version

v0.28.1 (and likely earlier versions as well)
### Replication Case

[code]

[2016-08-08 09:02] chris-rock commented on #885
You can retrieve the help via:

[code]

I agree that it would be nice to have standard unix behavior here

[2016-08-08 09:20] tanahlayang opened #886 "How get the value of argument 'target' e.g: "ssh://user@host" then print it in Inpec Class Profile"
### Description

Hi masters, I have a necessary to read arguments '--target' from CLI => chef exec inpec PROFILE_PATH -t "ssh://user@host" into my Inspec Class Profile, do you have a guide how to get that's argument values from code? and is there a ways to add custom argument into inspec CLI command, so I can put some custom arguments from CLI, like in JAVA we can define a variable argument, then

[2016-08-08 09:23] chris-rock commented on #886
@tanahlayang Could you explain the use-case you are trying to cover?

[2016-08-08 09:52] chris-rock commented on #884
This should be added, once we update the API with #811

[2016-08-08 10:46] chris-rock commented on #884
It is quite difficult to verify hash values with JSON Schema, see http://stackoverflow.com/questions/22229250/how-to-create-json-schema-for-name-value-structure

We should stick to http://json-schema.org/documentation.html v4. We could use https://github.com/ruby-json-schema/json-schema in our tests

[2016-08-08 11:29] #870 closed, assigned to nobody

[2016-08-08 13:15] arlimus commented on #798
@jaybrueder We will complete this in the next couple of weeks (<4weeks). An early version for experimentation will be up soon.

[2016-08-08 13:26] arlimus opened #888 "RFC Dependencies"
Follow up https://github.com/chef/inspec/issues/798 around dependency resolution.
## Design

**(1)** dependencies are written in `inspec.yml`:

[code]

**(2)** dependencies are based on semantic versioning: http://semver.org/ . Dependencies do not support alpha/pre-release information ([9](http://semver.org/#spec-item-9), [10](http://semver.org/#spec-item-10)) (see [comment](https://github.com/che

[2016-08-08 13:50] ksubrama commented on #607
As one idea of possibly supporting this in powershell, we can write cmdlet wrappers to inspec and load it as a powershell module.  Powershell will try to tab complete cmdlet parameters but this means replicating the parser's logic in a cmdlet and maintaining that.  Also there are some argument parsing and quoting issues between powershell and ruby on windows.  See the comment block below for the c

[2016-08-08 13:53] alexpop commented on #888
## 🍒  | 🍎  | 🍌

## 🍉 | 🍒  | 🍓

## 🍏  | 🍉  | 🍒

[2016-08-08 13:55] arlimus commented on #798
Current progress and design discussion is tracked here: https://github.com/chef/inspec/issues/888

[2016-08-08 14:03] chris-rock commented on #607
We could also think about reusing our bash completion for https://github.com/mridgers/clink

[2016-08-08 14:47] ksubrama opened #889 "Add windows MSI packaging support to omnibus"
Supporting windows builds requires a few tweaks to our omnibus setup to include the necessary WiX files and openssl cert files and the like.

This is a follow up to https://github.com/chef/inspec/pull/658 and the comments in there.

[2016-08-08 17:24] robinbowes commented on #738
Did you come up with a replacement for `contain_duplicates` yet?

[2016-08-09 03:22] tanahlayang commented on #886
hi @chris-rock actually, I create an inspec profile to check some query in oracle database using library ruby-oci8, I also wish this inspec profile could be run in chef-compliance.  but **the problem is, In that class, I put some variable that should must be read as dynamic variable, (e.g: IP Address, UserDB, or Password), and I have explore but there are no documentations or tutorials about inspe

[2016-08-09 06:55] vinyar commented on #888
As you guys are working on the feature, I would like to know how the default supermarket URL will be resolved? I've seen bugs, where default URL is hardcoded to public supermarket (supermarket.chef.io), which blows up inside firewalled environment where customer has their own supermarket running.

Please consider how/where this URL will be fetched from, and where/how it can be overwritten to point

[2016-08-09 06:57] vinyar commented on #888
Is there a page with words that describes **(9)** ?

[2016-08-09 08:11] chris-rock commented on #888
In addition to @vinyar the same challenge will happen with our `compliance://` prefix. The challenge is therefore the same for:

[code]

One solution could be to use the compliance and supermarket url from `inspec compliance login` and a new `inspec supermarket login`.

[2016-08-09 08:19] chris-rock commented on #886
Thanks for sharing the usecase. We added an experimental feature for attributes:

[code]
- see https://github.com/chef/inspec/tree/master/examples/profile-attribute
- see https://github.com/chef/inspec/issues/719
  We are going to finalize this for InSpec 1.0. Once we've done that, we are going to add support in Chef Compliance.

Do you intend to share some oracle resources?

[2016-08-09 08:34] chris-rock commented on #889
Yeah, Windows is coming:
![giphy](https://cloud.githubusercontent.com/assets/1178413/17509950/db58d336-5e1c-11e6-905d-16ff909e9d8b.gif)

[2016-08-09 08:43] chris-rock opened #893 "auditd_rules not working as expected"
### Description

As reported by @kdshah via gitter:

@chris-rock , trying to test the following control after updating the deprecated method from 'contain_match ' to 'match'. But the control fails, which it should not.

[code]

[code]

The audit rules loaded are:

[code]

Both the rules are failing. The first rule should pass.
### InSpec and Platform Version

InSpec 0.28.0

[2016-08-09 09:05] stevendanna opened #894 "`inspec compliance version` fails with stacktrace if no compliance URL is configured"
### Description

The help output lists `inspec compliance version` as a possible command:

[code]

However, by default it will yield a stracktrace:

[code]

Based on the code it looks like this is likely a result of not having a compliance server in my configuration.
### InSpec and Platform Version

0.29.0
### Replication Case

`inspec compliance version` without any compliance server configuratio

[2016-08-09 09:11] chris-rock commented on #894
Thanks for highlighting that @stevendanna

[2016-08-09 09:15] stevendanna opened #895 "Subcommand help outputs incorrect usage line"
### Description

The help output for `inspec supermarket help` and `inspec compliance help` outputs incorrect usage lines.  Note how in both of these cases the usage command elides `supermarket` completely:

[code]

Similarly for `compliance`:

[code]
### InSpec and Platform Version

0.29.0

[2016-08-09 10:35] arlimus commented on #888
@vinyar @chris-rock fun story, this might even happen to github prefix ;)

To address it, we have 2 options afaics
1. Let the user `inspec [sth] login [url]` to the service. This is great, if you have a login. But what if you don't? How about an internal supermarket that doesn't require a login?
2. Specify the provider's url via the target: `supermarket://my.server/owner/profile`. This also has a

[2016-08-09 10:42] awim commented on #886
hi @chris-rock [here](https://github.com/awim/inspec_oracledb) my rough sample of my inspec profile for assess oracle db connection and query, I wish the _hardcode_ params in controls code should be able to set via extra arguments from CLI or a feature from chef-compliance console, [_tanahlayang_ = me]

[2016-08-09 10:49] chris-rock commented on #886
@awim I think we can help here: Have a look at https://github.com/dev-sec/cis-docker-benchmark as an example. If this is not helping, let me know

[2016-08-09 10:51] chris-rock commented on #886
@awim Awesome, thanks for sharing the Oracle DB profile! You can also register it at https://supermarket.chef.io/tools?type=compliance_profile

[2016-08-09 10:51] arlimus commented on #888
@vinyar added a lot of text around scoping

[2016-08-09 20:49] nvtkaszpir opened #897 "Error when processing certain IPv6 addresses when using port()"
### Description

For certain IP addresses I get error:

[code]

The most interesting part is that it happened only for those 2 addresses only, from the pool of 8:

[code]
### InSpec and Platform Version

[code]

full run:

[code]
### Replication Case

Created 8 instances in AWS EC2, 1 master, 7 slaves, only master and one slave shows this behaviour.
All machines are done from the same AMI and then

[2016-08-09 21:06] nvtkaszpir commented on #616
Notice, sometimes you really do not have packages which provide certain services. This is especially true if you want to run your own app as service, and you are actually not needing system package to run it.
Not to mention that in containers this will be a nightmare :)

[2016-08-09 21:14] nvtkaszpir opened #898 "package() 'version' {should match(pattern)} does not return failed control, but shows as failed test"
### Description

Looks like

[code]

is not maked as failed control section. I wonder if it is an intended behaviour or maybe I wrote tests incorrectly?
### InSpec and Platform Version

[code]
### Replication Case

Example test file (notice os[:name]):

[code]

results in:

[code]
### Possible Solutions

Proper test (with fixed code to os[:name] and package version test moved to separate control):

[2016-08-09 21:40] chris-rock commented on #898
@nvtkaszpir Looks like you found a bug in our formatter :-) It properly detected the error also in the first case (have a look at the summary), but the error is not shown. Therefore I see the following bugs:
1. error not shown in reporter for a control block where one test is successful and another is failing
2. remove `No tests executed.` output

Can you elaborate on the `os[:family]` vs os[:name

[2016-08-10 04:57] nvtkaszpir commented on #898
Whoa, sorry, this should be switched (bad copy/paste) - fixed the initial comment. Note to self, do not submit bugs when almost falling asleep.

About os[:family] and os[:name] - this works as expected - there are different package names under Debian and  Ubuntu, and I used wrong parameter (family) to detect the system in the first test:

[code]

But actually right now I think the issue is cause b

[2016-08-10 05:10] nvtkaszpir opened #899 "Failing tests in inherited tests are not displayed"
### Description

Detected when reporting #898

Executed profile directly, it fails as it should.
The same profile if is inherited then it is shown as failed in the summary section, but not during import.
### InSpec and Platform Version

[code]
### Replication Case

inspec/default-jdk - it has two tests in one control block (showing only test file):

[code]

inspec/profiles/xstream-jmeter-slave (sh

[2016-08-10 05:57] nvtkaszpir commented on #897
Notice that it also refers to #899

[2016-08-10 06:18] jcii commented on #731
Looking at this now...can authenticate with token, but then error from `inspec compliance profiles`

Compliance Server 1.3.1
Inspec 0.29

[code]

[2016-08-10 09:52] #607 closed, assigned to nobody

[2016-08-10 12:19] alexpop commented on #888
Proposing a `git` source as well or instead of `github`

[2016-08-10 12:37] chris-rock commented on #888
@alexpop great idea to support git directly

[2016-08-10 13:19] alexpop commented on #888
**(A)** Is the `url` source going to point to an archive?

---

**(B)** Is `${inspec-home}` the installation path for inspec? If so, what happens when inspec is upgraded?

---

**(C)** I like the idea of defining a source per dependency. But this creates the need to be able to override these locations for environments that don't have direct access to them or have a policy to review and store all d

[2016-08-10 14:30] alexpop commented on #888
Dom **(8)** isn't include_controls (all) and require_controls(selective)?
Link this as example for the two: https://github.com/chef/inspec/blob/master/docs/profiles.rst#profile-inheritance

[2016-08-10 14:37] arlimus opened #903 "Provide SSL InSpec with full demo"
During Chef Conf we demonstrated SSL in InSpec. Up until now, we have not publicly demonstrated how this works.

Acceptance:
- [x] Add SSL resources to inspec https://github.com/chef/inspec/pull/914
- [x] Add demo

[2016-08-10 16:24] vinyar commented on #888
@arlimus there is also another problem outside of the realm of compliance, is that presently supermarket does not support publishing profiles via command line or even curl.
(https://github.com/chef/supermarket/issues/1166)

[2016-08-10 16:35] ricardolupo opened #905 "`inspec login help` help text inconsistent with `inspec` CLI usage"
### Description

The help output of `inspec compliance login --help` makes mention of a `--server=` option to specify the compliance server you want to login to, but the command does not recognize this option.

12:28:05-rlupo~/profiles$ `inspec compliance login --help`
Usage:
  inspec login SERVER

Options:
      [--server=SERVER]                # Chef Compliance Server URL
  k, [--insecure], [--n

[2016-08-10 16:45] ricardolupo opened #906 "`inspec exec` help option does not provide any context sensitive help"
### Description

As a user, I want to be able see quickly how I can source Inspec profiles from the command line. Currently there's no facility to do this.
### InSpec and Platform Version

version: 0.2.9
Platform: OS/X
### Replication Case

12:41:07-rlupo~/profiles$ inspec exec --help
Could not fetch inspec profile in "--help".
12:41:16-rlupo~/profiles$ inspec exec help
Could not fetch inspec prof

[2016-08-10 17:00] stevendanna commented on #906
I think this is a dup of https://github.com/chef/inspec/issues/885.  Right now to get command specific help you need to run `inspec help COMMAND` (e.g. `inspec help exec`)

[2016-08-10 17:01] ricardolupo commented on #906
@stevendanna thanks and that workaround helps. Happy to close if this is a dupe

[2016-08-10 17:01] #906 closed, assigned to nobody

[2016-08-10 17:04] #494 closed, assigned to nobody

[2016-08-10 17:06] stevendanna commented on #888
Re `(2) dependencies are based on semantic versioning: http://semver.org/`.  Do we intend to support alpha/pre-release identifiers or build identifiers:
- http://semver.org/#spec-item-9
- http://semver.org/#spec-item-10

My vote would be that we do not support these parts of semver.

[2016-08-10 18:40] chris-rock commented on #905
Verified, thanks for highlighting @ricardolupo

[2016-08-10 20:38] #889 closed, assigned to ksubrama

[2016-08-11 07:54] arlimus commented on #888
@alexpop thank you, fixed :+1: :)
somehow github edit reverted my last set of edits to the first post, will have to do it again...

[2016-08-11 09:06] arlimus commented on #888
@stevendanna We don't have a use-case for these yet, so happy to keep the feature-set small. :+1:

[2016-08-11 09:17] stevendanna commented on #888
I'm having trouble understanding how some of this dependency RFC will work.  It mixes some ideas from dependency systems that do minimal version management and others that do full dependency resolution, usually using a central index of the universe of available packages to speed up the process.

Here is a more basic question that I think we should spell out more explicitly:

Consider: A depends on

[2016-08-11 09:17] stevendanna commented on #888
I'd also like to see us spec out some of the UX of how you will interact with this feature.  It seems to me the core operation of a tool like this are:
- Resolve & Fetch all dependencies
- Update all dependencies
- Update a single dependency
  – Show the "activated" list of dependencies
- Show the "activated" list of dependencies in tree form to better understand your dependencies

[2016-08-11 10:28] stevendanna commented on #888
@arlimus After discussing this with @chris-rock a bit, I think an important point to discuss and make a bit more explicit in this RFC is how dependency will be scoped and the impact that has on the features we need in the dependency resolution.

From our discussion, I believe one of the goals of this work is to allow two different versions of the same dependencies to be loaded at the same time.  F

[2016-08-11 11:34] arlimus commented on #888
Great discussion with @stevendanna and @chris-rock :

Which sources do we have that provide version information in an index?
- url, path, compliance: no index information
- github, supermarket: index information without dependency/version info
- for all indexes, we find the optimal item that matches the user's specification

Ideas:
- We still build the full dependency tree for the final pinned sta

[2016-08-11 17:40] garrickpeterson-wf opened #908 "Add HighLine or Termios library to docker container"
### Description

When prompted for the SSH passphrase, the output is echoed to the terminal, along with the warning "Text will be echoed in the clear. Please install the HighLine or Termios libraries to suppress echoed text." Expected behavior is to not echo passphrases to the terminal.
### InSpec and Platform Version

0.18.0
### Replication Case

Create a minimal test.rb inspec test case, and gen

[2016-08-12 10:11] arlimus opened #910 "CLI UX review"
A number of new users have trouble understanding what all the things the inspec shell are doing. The have barriers to work effectively with our CLI and use the different mechanisms to execute tests, find answers, work with profiles, and debug runs.

Solution: Have a UX review of the interface and the way that help menues are structured and provide information.

Issues which are covered by this:
-

[2016-08-12 10:13] arlimus commented on #305
This is now being covered in https://github.com/chef/inspec/issues/910 .

[2016-08-15 05:21] arlimus opened #913 "inspec shell broken input"
![screenshot from 2016-08-14 22-20-36](https://cloud.githubusercontent.com/assets/1307529/17656307/57366f32-626d-11e6-8d11-f91b50323a73.png)

This started after https://github.com/chef/inspec/pull/900

[2016-08-15 09:43] chris-rock commented on #913
I tested this on various platforms, eg. OS X, Debian, Arch, but I cannot reproduce that issue.

<img width="725" alt="screen shot 2016-08-15 at 11 25 44 am" src="https://cloud.githubusercontent.com/assets/1178413/17661098/5ee0e80a-62dd-11e6-96b8-14dde49bfc7a.png">
<img width="574" alt="screen shot 2016-08-15 at 11 27 34 am" src="https://cloud.githubusercontent.com/assets/1178413/17661099/5ee1e4a8-

[2016-08-15 10:20] chris-rock opened #915 "Transitive dependency loading"
### Description

As discussed in #888, we'll support transitive dependencies (A pulls B pulls C). All urls need to be vendored in a way that they do not conflict on disc. The RFC describes two phases, a resolution phase and an execution phase. This ticket describes the resolution phase, where required parts for execution are vendored locally. Assume we have the following `inspec.yml`

_inspec.yml_

[2016-08-15 13:33] brentm5 commented on #532
The only thing I would like to add is that for some people (ahem ✋ ) they use inspec for their integration tests in test kitchen.  Not sure how many other people actually do this, but its actually much cleaner / faster than using serverspec.  So it looks like some of these suggestions are based on strictly security scans in mind and highly specialized.  I would imagine it makes more sense for the

[2016-08-15 13:47] arlimus commented on #913
Tracked down what caused this: the `pry-coolline` integration. It's an alternative to readline in pure Ruby, which apparently doesn't get along with this change.

[2016-08-15 14:07] arlimus commented on #759
Full example:

[code]

with `/etc/ssh/ssh_config` containing

[code]

[2016-08-15 14:45] arlimus commented on #913
I strongly suspect this only affects few users, due to coolline being rare.

[2016-08-15 14:48] brentm5 commented on #532
@chris-rock adding some notes here. One thing I did notice on running inspec with the default formatter is it's hard to understand what assertions are being made (which it might not be its place since this seems similar to the documentation format).  My main concern is the error conditions for when inspec fails (we use inspec for integration tests in test-kitchen) can be hard to read what went wro

[2016-08-15 14:58] davidcpell opened #918 "Grouping multiple `it` blocks in one `describe` blocks ruins console output during test runs"
### Description

In `rspec` and `serverspec` I'm used to being able to group multiple `it` blocks within a single `describe` block.  With `inspec` I can do this but the console output doesn't seem to work correctly. Here is my example spec code:

[code]

When I run the tests, I get a checkmark but otherwise blank output in the console:

[code]

In order to get output I have to include 3 separate `

[2016-08-15 15:01] chris-rock commented on #918
This should have been fixed with InSpec 0.29.0 as reported in #812

[2016-08-15 15:05] davidcpell commented on #918
@chris-rock thanks, though I just upgraded to InSpec 0.30.0 and still seem to be getting the same console output:

[code]

[2016-08-15 15:06] davidcpell commented on #918
note also the lack of line break/other formatting to separate the two lines in the `.oh-my-zsh` failure

[2016-08-15 15:08] chris-rock commented on #918
@davidcpell thanks for the quick testing!

[2016-08-15 15:26] davidcpell commented on #918
yw!

[2016-08-15 18:57] chris-rock commented on #805
We should document:
- What is the inspec shell?
- How do I start the shell? (with examples)
- Remote shell (connect to remote machines for debugging)
- Available commands within the shell
- Examples to execute a describe block

[2016-08-15 22:25] stevendanna commented on #913
@arlimus Can you expand on your `pry-coolline` config?  Even with that gem added to my bundle I don't see this issue.

[2016-08-16 09:06] #725 closed, assigned to nobody

[2016-08-16 09:38] stevendanna commented on #915
[code]

I'm not sure this will be sufficient since the graph needs to tell us which version and source a given dependency depends on in the case of conflicts. (i.e. in your example, imagine `profile` required `otherprofile` but at a different version or from a different source.)

[2016-08-16 09:39] chris-rock commented on #915
This was more an early draft, I assume we need more and we should change the issue according to our findings.

[2016-08-16 11:51] chris-rock commented on #623
Is this still an issue @aaronlippold

[2016-08-16 12:12] chris-rock commented on #783
The following powershell commands are useful to get this running:

[code]

Maybe we could also make our live easier and use CSV and parse the results, because this includes the name of the file permission rights

[code]

In addition we need to read the groups of the user to see if he is allowed to access it:

[code]

[2016-08-16 13:55] chris-rock commented on #759
fixed by #919

[2016-08-16 13:55] #759 closed, assigned to nobody

[2016-08-16 17:09] ksubrama commented on #672
Oh yes.  Ruby and expand_path and it's platform specific behavior is...  hard.  I'll try to poke at it this week.

[2016-08-17 14:56] arlimus commented on #913
coolline (0.5.0)
pry-coolline (0.2.5)

`Pry.config.to_h` has

[code]

`Pry.config['input'].to_h` has

[code]

[2016-08-17 15:13] #894 closed, assigned to nobody

[2016-08-17 15:40] #793 closed, assigned to nobody

[2016-08-17 15:41] #731 closed, assigned to nobody

[2016-08-17 15:43] chris-rock commented on #840
fixed by https://github.com/chef/train/pull/130, will be included in the next version of train

[2016-08-17 15:43] #840 closed, assigned to nobody

[2016-08-17 16:00] schisamo commented on #840
![gif-keyboard-6890706418199973053](https://cloud.githubusercontent.com/assets/6164/17743604/38b70538-6472-11e6-9d26-98f929f8d0eb.gif)

[2016-08-17 23:18] unixorn opened #931 "detecting service enabled on Ubuntu 16.04 (systemd)"
With kitchen 1.10.2 as installed by ChefDK, I'm seeing inspec fail to detect that the apache2 service is running in an Ubuntu 16.04 guest system. The Ubuntu machine is running Chef 12.13.37.

[code]

Gives the following output:

[code]

apache2 is installed and enabled using the following chef recipe excerpt:

[code]

I suspect that this may be inspec seeing `/etc/init.d/apache2` and not realizing

[2016-08-18 14:09] daxgames opened #936 "Inspec exec tests fail if using a one time sudo password(Example: RSA Token)"
### Description

Inspec tests run but most fail when using a one time sudo password on the command line.  Manually logging into the server and executing sudo after an inspec run indicates the token is in next token mode.
### InSpec and Platform Version

Inspec version: 0.22.0
Client: MacOS 10.10.5
Target: RHEL 6.7
### Replication Case

inspec exec --format=documentation test/integration/default/in

[2016-08-18 14:31] chris-rock commented on #936
@daxgames are you still using the original sudo or a custom sudo?

[2016-08-18 18:52] chris-rock commented on #931
which version of inspec is installed on your machine? `gem list | grep 'inspec'`

[2016-08-18 18:52] chris-rock commented on #931
I assume it is related to https://github.com/chef/inspec/issues/749? Could you update to the latest version of inspec?

[2016-08-18 19:01] #905 closed, assigned to nobody

[2016-08-18 19:01] #895 closed, assigned to nobody

[2016-08-18 19:12] ceilfors commented on #338
I'm looking for something similar in inspec as well to be used in kitchen where I would be able to:
- Reuse a group of resources
- Pass different variables in different test suites to this group of resources

An example in serverspec from elasticsearch cookbook:
- [Defining shared_examples_for](https://github.com/elastic/cookbook-elasticsearch/blob/v2.3.2/test/integration/helpers/serverspec/instal

[2016-08-18 20:10] chris-rock commented on #338
@ceilfors you can just use an embedded profiles. This will be placed in a cookbook, therefore no extra repo is required. See https://github.com/chef/kitchen-inspec/blob/master/README.md#directory-structure-with-complete-profile as an example. Let me know if this is solving your issue

[2016-08-18 20:12] chris-rock commented on #338
@ceilfors you can also easily iterate over describe blocks. we use that as well to dest with different parameters https://github.com/chef/inspec/blob/master/lib/bundles/inspec-compliance/test/integration/default/cli.rb#L16

[2016-08-18 20:24] rneu31 opened #939 "Windows Management Framework requirement warning"
Does it make sense to check if Windows Management Framework 5 (or Powershell 5 or anything else) is on the machine, and if it is not, provide a useful error?

I missed the spot in the README:
`For Windows 2008 and 2008 R2 an updated Powershell (Windows Management Framework 5.0) is required.`

Additionally, Windows 7 should be added to that warning (I can make that PR if it makes sense, maybe look

[2016-08-18 20:25] chris-rock commented on #939
@rneu31 that is a great idea and a PR is very much welcome

[2016-08-18 20:26] chris-rock commented on #939
It may work with Powershell 4 https://www.microsoft.com/en-us/download/details.aspx?id=40855 as well

[2016-08-18 20:29] rneu31 commented on #939
So, I updated to Powershell 4 after digging into the code for Package and noticing that ConvertTo-Json was not available until Powershell 3 (and Windows 7 comes with 2). My package testing started to work, but I was still having quite the problems with registry_key.

Doesn't work in 4.0 but does in 5.0:

[code]

[2016-08-18 20:39] chris-rock commented on #939
Lets stick to Powershell 5. We use that version for our integration tests as well

[2016-08-18 21:17] ceilfors commented on #338
@chris-rock I've looked into the profile usage in kitchen which is the closest one that I'm looking for (not interested in iteration as I have multiple kitchen test suites). The problem is I can't look for ways to customise the profiles by passing variables per test suites just like the example I have given above.

[2016-08-18 21:29] chris-rock commented on #338
@ceilfors Have a look at https://github.com/chef/inspec/issues/719, we need to add the attributes support into test kitchen. This will allow you to run the same test "profile" with different variables. It will become much easier for you, once we have dependencies and attributes fully backed in. Could you do me a favor and add a ticket in https://github.com/chef/kitchen-inspec?

[2016-08-18 23:50] unixorn commented on #931
`/opt/chefdk/embedded/bin/gem list | grep inspec` reports inspec (0.30.0)

[2016-08-19 05:30] SamPosh commented on #939
Many people are still in Powershell v4. While other tools are trying to support as early version as possible , why should inspec goes only to greatest?

[2016-08-19 07:13] chris-rock commented on #939
@SamPosh we are not going to the latest, and I am happy to support that effort, but we need to test it properly. I would like to split this ticket up into two parts:
- add warning if powershell is not available
- define what is required to run everything in powershell 4. (I bet most resources will work already)

[2016-08-19 07:19] chris-rock commented on #931
Can you share how you have installed apache, so that we can reproduce that full environment?

[2016-08-19 16:18] chris-rock opened #942 "Implement test cases for inspec shell"
We should add an automatic test for the shell. I can think about the following test cases

[code]

[2016-08-19 17:03] unixorn commented on #931
With this snippet:

[code]

I'm using the stock ubuntu 16 apache2 deb.

[2016-08-19 17:58] #240 closed, assigned to nobody

[2016-08-19 18:02] #805 closed, assigned to nobody

[2016-08-19 18:21] chris-rock commented on #942
I propose we create separate functional tests. Some are already available here: https://github.com/chef/inspec/blob/master/test/functional/inspec_test.rb#L37-L82. We should split them out into a separate file

[2016-08-19 19:40] arlimus commented on #903
We did a live demo of this today. Online demo will be part of the new website in September.

[2016-08-19 19:41] #903 closed, assigned to arlimus

[2016-08-22 09:15] chris-rock opened #948 "User resource should use Filtertable"
### Description

The current user resource only allows simple requests on Windows:

[code]
### Possible Solutions

The resource should support FilterTable as the passwd or port resource?

[code]

[2016-08-22 13:31] arlimus opened #950 "Create and load Lockfiles for dependencies"
https://github.com/chef/inspec/issues/888

[2016-08-22 14:51] #915 closed, assigned to nobody

[2016-08-22 14:52] arlimus commented on #915
Lockfile contents moved on to https://github.com/chef/inspec/issues/950

[2016-08-22 16:56] vjeffrey opened #951 "this is killing my eyes!!!!!!!!!"
### Description

![hurts my eyes](https://cloud.githubusercontent.com/assets/10341541/17863438/9d49eb5c-6867-11e6-856b-14a254d6d19a.png)

staring at the various font/color stuff that's happening here is killin me.
### InSpec and Platform Version

0.30.0
### Replication Case

exec a profile that has a mixture of controls and standalone describe blocks with a variety of expected failures

[2016-08-22 18:08] arlimus commented on #951
Confirmed, these colors are driving me insane as well; Let's find a better design in this ticket...

[2016-08-22 18:28] ksubrama commented on #951
:) @vjeffrey wanted some powershell examples.  Here's a beautiful one...
<img width="896" alt="screen shot 2016-08-22 at 14 27 13" src="https://cloud.githubusercontent.com/assets/9382254/17866480/ab5b5af2-6874-11e6-8c7e-599dcaf6fc93.png">

But then again...  this is why we all install conemu or cmder on windows.

[2016-08-22 19:57] arlimus commented on #951
@ksubrama Thank you for sharing!! interesting to see that the critical failure is much more readable than the the normal ones (i.e. regular red output).

[2016-08-22 19:58] #853 closed, assigned to nobody

[2016-08-22 21:19] ghost opened #952 "Rspec deprecation warnings added to test summary creating invalid json file"
### Description

I'm running a Chef Inspec exec profile in a Jenkins job and it returns Rspec deprecation warnings. The problem is that some lines from these warnings are included in the json output that inspec exec command creates.  I'm left with a file that contains :
1 deprecation warning total
{"version":"0.30.0","profiles":{  ..... }
### InSpec and Platform Version

 Inspec 0.30.0, Ruby 2.0.0

[2016-08-23 08:35] chris-rock commented on #952
@mshate123 Thanks for reporting. Until this has been fixed on our end: Could you try to downgrade rspec to 3.5.0?

[2016-08-23 10:33] #942 closed, assigned to nobody

[2016-08-23 11:17] arlimus opened #953 "UX & UI design for the interactive HTML demo"
A part of https://github.com/chef/inspec/issues/851

[2016-08-23 11:18] arlimus opened #954 "Create content for interactive inspec online demo"
https://github.com/chef/inspec/issues/851

Vision: Have a place where users can try their first few inspec steps without download/installation/setup.

Goal and sections:
- Understand how to use the InSpec CLI
- Understand how to use the InSpec Shell
- Create a simple profile

[2016-08-23 11:19] arlimus opened #955 "Research: determine mechanism for recording + playing back inspec"
Used for the online demo: https://github.com/chef/inspec/issues/851

[2016-08-23 11:20] arlimus opened #956 "record inspec + in-browser playback for online demo"
Part of this story: https://github.com/chef/inspec/issues/851
- [x] record behavior
- [x] in-browser shell rendering
- [x] in-browser shell input interaction
- [x] in-browser playback of shell commands

[2016-08-23 11:21] arlimus opened #957 "MVP in-browser inspec demo"
Part of this story: https://github.com/chef/inspec/issues/851

Create one step in the in-browser demo. Record against inspec + playback in html for one real steps.

[2016-08-23 11:25] arlimus opened #958 "Introduce scoping to the ProfileContext which has a view of all of its dependencies"
Part of https://github.com/chef/inspec/issues/888
- [x] create an up-front profile context for every profile that is pulled in (e.g. as dependencies)
- [x] attach profile contexts to the dependency tree
- [x] runner loads content in the context of profile inside the dep tree

[2016-08-23 11:27] arlimus opened #959 "Vendor Github and Supermarket dependencies"
Part of https://github.com/chef/inspec/issues/888

Always pull the latest possible release. The user may specify the branch, which results in the latest commit in that branch. The user may also specify a fixed tag or commit.

(Version resolution via semver over tags is not a part of this ticket)

User interface:

[code]

[2016-08-23 12:11] chris-rock commented on #86
also reported via http://stackoverflow.com/questions/38972490/inspec-commands-are-too-slow-in-windows-am-i-missing-any-steps

[2016-08-23 12:13] chris-rock commented on #86
As reference, specinfra is using registry only: https://github.com/mizzy/specinfra/blob/2cb5d3593f167c828e0213c3a50e9d7aaa1baa7c/lib/specinfra/backend/powershell/support/find_installed_application.ps1

[2016-08-23 12:16] chris-rock opened #960 "Support sid for user resource"
### Description

The current user resource is not returning the sid for users:

[code]
### InSpec and Platform Version

0.31.0
### Possible Solutions

We should return the sid as part of the user object: https://github.com/chef/inspec/blob/master/lib/resources/user.rb#L457-L463

This PR is depending on the improvement #86

[2016-08-23 14:03] chris-rock commented on #783
A potential integration test would look like:

[code]

[2016-08-23 15:41] arlimus opened #966 "Signed compliance profiles"
### Description

Support profile signing so that users are certain that the profiles they use and share are not manipulated and produce the expected results. Especially important for all organization putting high trust in this type of compliance automation, anyone working in the federal space, and inheritance from existing profiles.

[2016-08-23 15:43] arlimus opened #967 "Signed scan reports"
### Description

Support test report signing so that users are certain that the results they gather are not manipulated and produce the expected level of assurance. Especially important for all organization putting high trust in this type of compliance automation, anyone working in the federal space.

[2016-08-23 15:45] chris-rock commented on #966
As a reference, we should take a look how its done for container images: https://coreos.com/rkt/docs/latest/signing-and-verification-guide.html

[2016-08-23 19:10] ghost commented on #952
We downgraded Rspec to 3.5.0 and did not see a change in results.

[2016-08-24 13:01] #86 closed, assigned to chris-rock

[2016-08-24 13:06] arlimus commented on #953
Analogous to https://www.vaultproject.io/#/demo/0

Keep:
- Move forward via `next`, backward via `previous`

A few adjustments:
- Max width of the console and text explaining the demo is 1200px

[2016-08-24 13:28] brentm5 opened #974 "Inspec be_linked_to matcher does not return true if linked to a symlink"
### Description

The following code snippet above should return true but instead it returns false, the bottom snippet does work however.  It looks like

[code]
### InSpec and Platform Version

Inspec version 0.29.0
### Replication Case

Setup in a VM

[code]

Then run the following inspec case

[code]
### Possible Solutions

Look at the first symlink and not the end target?
### Stacktrace

N/A

[2016-08-24 14:57] chris-rock commented on #672
should be fixed by #963, please reopen if this continues to be an issue

[2016-08-24 14:57] #672 closed, assigned to chris-rock

[2016-08-24 21:52] vjeffrey commented on #956
https://github.com/chef/inspec/compare/vj/inspec-demo

[2016-08-24 23:35] vjeffrey commented on #955
i've been playing around with this, but i'm not sure we'll go that route: https://github.com/sdether/josh.js

also, looking at this for a quick way to capture shell behavior for commands: http://blog.honeybadger.io/capturing-stdout-stderr-from-shell-commands-via-ruby/

[2016-08-25 15:35] ksubrama commented on #783
Support for `it { should be_owned_by 'username' }` is partially available.  The current ownership check is based on the complete (domain qualified) username - so you might need to use $env:COMPUTERNAME or equivalent to get the test to pass.

Supporting `it { should be_readable.by_user('vagrant') }` (and the equivalent for writable or executable) is harder to do correctly on Windows.  File permissi

[2016-08-25 15:42] chris-rock commented on #783
Thanks @ksubrama for this update. I agree, that we need to have a clear path and idea how we do that properly without reinventing the wheel.

@mhedgpeth How do you believe we should go forward?

[2016-08-25 20:34] ksubrama commented on #952
@mshate123 Hello!  I am having a hard time reproducing your issue.  I tried to use your control file as states in the stack overflow post but that test produced nothing but json in stdout for me.

From:

[code]

I can guess that the warning is coming from some control in app_config.rb.  Can you provide us the inspec repo you are using or the file referenced above (and any other relevant includes)?

[2016-08-26 07:25] chris-rock commented on #495
The following is missing in our current service https://github.com/chef/inspec/blob/master/docs/resources.rst#service documentation:
- `launchd_service` https://github.com/chef/inspec/blob/master/lib/resources/service.rb#L742
- `bsd_service` - https://github.com/chef/inspec/blob/master/lib/resources/service.rb#L742
- `sysv_service` - https://github.com/chef/inspec/blob/master/lib/resources/service

[2016-08-26 07:51] #960 closed, assigned to nobody

[2016-08-26 07:57] chris-rock commented on #952
@mshate123 Can you help us to reproduce the issue?

[2016-08-26 08:04] #848 closed, assigned to nobody

[2016-08-26 08:20] chris-rock opened #984 "Improve CLI report"
### Description

After we merged https://github.com/chef/inspec/pull/946 the reporting has been improved a lot. Still we have to cover some cases, where the report is not displaying all values properly:

<img width="556" alt="screen shot 2016-08-26 at 10 18 49 am" src="https://cloud.githubusercontent.com/assets/1178413/17998830/8c229e20-6b76-11e6-8991-2c84ae70aacd.png">
### InSpec and Platform Ver

[2016-08-26 08:32] chris-rock commented on #305
@larryebaum We created https://github.com/chef/inspec/blob/master/docs/cli.rst Is there anything else missing for you?

[2016-08-26 08:36] chris-rock commented on #915
related to #888

[2016-08-26 08:39] chris-rock commented on #950
This ticket was covering the basic implementation, further improvement are tracked in separate tickets.

[2016-08-26 08:39] #950 closed, assigned to nobody

[2016-08-26 08:42] #918 closed, assigned to nobody

[2016-08-26 08:55] stevendanna commented on #974
I wonder if it would make more sense to have a new matcher (perhaps `be_deeply_linked_to`) that replicates the current behavior and `be_linked_to` would check the immediate link.

[2016-08-26 09:39] #495 closed, assigned to arlimus

[2016-08-26 16:52] ghost commented on #952
I have attached the inspec yml and the app_config.rb control that generates the error msg :
[inspec.txt](https://github.com/chef/inspec/files/439752/inspec.txt)
[app_config.txt](https://github.com/chef/inspec/files/439753/app_config.txt)

[2016-08-26 17:11] vjeffrey commented on #984
@chris-rock what would the desired output be for the `it { should_nota be_directory }` case?  marked as skipped and have some kind of error message?

[2016-08-26 17:42] vjeffrey commented on #898
items to fix:
- a) error not shown for control block when one test is successful and another is failing
- b) remove No tests executed. output
- c) summary count doesn't match printed test output --- is that part of the scope of this ticket?

b) is fixed in branch vj/fix-cli-report

[2016-08-28 00:19] daxgames commented on #936
@chris-rock We have both.  The system I was testing with was just plain sudo.

[2016-08-29 13:33] arlimus commented on #953
For the regular demo sections (i.e. interactive shell and CLI):

![screenshot from 2016-08-29 15-32-08](https://cloud.githubusercontent.com/assets/1307529/18053039/d80ea142-6dfd-11e6-912c-8c9683a77dfa.png)

[2016-08-29 13:37] arlimus commented on #953
For the full demo, here's the HTML with all CSS: https://gist.github.com/arlimus/9ef33433efaf0ae9cea73db43af8b831

[2016-08-29 13:50] vjeffrey commented on #984
for syntax errors: mark as failed and print exception message.  controls output: single passed test case missing checkmark

[2016-08-29 13:54] chris-rock commented on #984
We have to issues:
- Exception messages are not displayed
- success messages do not get a checkmark, if a control includes only one test

[2016-08-29 14:15] arlimus commented on #953
For the interactive shell, it will look like this:
![screenshot from 2016-08-29 16-14-09](https://cloud.githubusercontent.com/assets/1307529/18054320/ab815790-6e03-11e6-8b2e-bc19b7965573.png)

Full html and css: https://gist.github.com/arlimus/bb89d3aea9e3154d56158e81147370bf

[2016-08-29 15:05] arlimus commented on #953
And the final one, as a stretch goal, for the full profile demo:
![screenshot from 2016-08-29 17-04-42](https://cloud.githubusercontent.com/assets/1307529/18056084/c5ec248c-6e0a-11e6-94f5-686d67421fce.png)

Full html and css: https://gist.github.com/arlimus/ebc4d8207600594c600c53f5d2de8bf4

[2016-08-29 17:12] arlimus commented on #953
Completed, please reopen if anything is missing.

[2016-08-29 17:12] #953 closed, assigned to arlimus

[2016-08-30 05:29] samsonkolge opened #992 "Chef compliance breaks after updating inspec gem 0.32"
### Description

Chef Compliance: 1.3.1
### InSpec and Platform Version

vagrant@vagrant:/opt/chef-compliance/embedded/bin$ ./gem list | grep inspec
inspec (0.32.0)
inspec-msccm (0.0.1)
inspec-scap (0.6.1)

Ubuntu 14.04

Is there a way to use the latest inspec version (0.32) with Chef Compliance version 1.31?
When I try to fetch the latest inspec gem version manually Chef compliance connectivity w

[2016-08-30 08:08] chris-rock commented on #992
@samsonkolge We do not support manual upgrade of inspec in Chef Compliance. A new release is shipping within the next week that will include that update. Nevertheless, it should work, once you remove `inspec-msccm` and `inspec-scap` gems

[2016-08-30 10:32] nvtkaszpir opened #993 "kernel_module should support checking module version loaded"
### Description

Currently inspec in 0.32.0 supports checking if kernel module is loaded.
Would be nice to extend it with checking if module version is valid.
### InSpec and Platform Version

inspec 0.32.0
### Replication Case
### Possible Solutions

Extend kernel_module with additional methods.

Currently this can be done using other modules, for example command(), and checking its output, like t

[2016-08-30 11:04] chris-rock commented on #993
That is a great idea @nvtkaszpir Do you want to add the version method to https://github.com/chef/inspec/blob/master/lib/resources/kernel_module.rb#L37?

[2016-08-30 12:47] nvtkaszpir commented on #899
The issue persists after upgrade to 0.32.0:

When using included profile, it is still hidden, but failure is marked in the footer:

[code]

When executed test directly, it is well visible:

[code]

[2016-08-30 15:14] TD-4242 opened #995 "Process user should eq ["longusername"]: usernames get truncated with a '+' at the end"
### Description

When testing for a username running a command if it is more than 8 characters it gets truncated as per the default ps command.
### InSpec and Platform Version

inspec 0.29.0 from chefdk 0.17.17
### Replication Case

[code]
### Possible Solutions

http://askubuntu.com/questions/523673/ps-aux-for-long-charactered-usernames-shows-a-plus-sign
### Current workaround

shorten test to fi

[2016-08-30 15:45] srjayep opened #996 "Inspec Docker directory test fails"
I am newbie to inspec...need help.

Testing for InSpec audit resource to test if the file type is a directory and it fails. Tried both file and directory resource.
### InSpec and Platform Version

inspec (0.32.0) on Mac testing docker container
# docker version

Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016

[2016-08-30 16:21] jctux opened #997 "Suse Linux Enterprise Server 11 SPX is failing for describe service resource."
### Description

The resource describe service only works with the argument it { should be_installed }, for all others like {be_enabled} and {be_running}, the resource is giving wrong info.
### InSpec and Platform Version
#### Host info

inspec version
0.32.0
Mac OS X El Capitan 10.11.6
RVM 1.26.11
rvm rubies =\* ruby-2.2.2 [ x86_64 ]
#### Target info

Suse Linux Enterprise Server 11 SP2, 3 and 4

[2016-08-30 17:35] jonathanmorley opened #998 "[package] Regression on Windows 2008R2"
### Description

[code]

should pass tests when inspec is run on a machine with Datadog installed.
### InSpec and Platform Version

inspec 0.26.0 passes
inspec 0.32.0 fails

Both tests run against Windows 2008R2 64bit
### Possible Solutions

Revert https://github.com/chef/inspec/issues/86

[2016-08-30 18:53] davidcpell opened #1000 "apache_conf services return Array objects instead of individual values (e.g. Fixnum)"
This may be related to #256.
### Description

In my testing for `httpd` I'm finding that the `apache_conf` resource's service checkers are returning arrays rather than single values that I can test against.  The docs for the `be` matcher indicate that I can expect individual values: https://github.com/chef/inspec/blob/master/docs/matchers.rst#be. The `apache_conf` doc also shows comparisons being

[2016-08-31 08:02] chris-rock commented on #998
@jonathanmorley Is this not working with the datadog package only or in general?

[2016-08-31 08:03] chris-rock commented on #996
I was able to reproduce this. A first investigation showed that `stat` on alpine seems to work differently.

[2016-08-31 08:06] chris-rock commented on #995
@TD-4242 Thanks for reporting. Are you aware of a solution that works without a fixed character length?

[2016-08-31 10:21] chris-rock commented on #996
on alpine we get the following:

[code]

We use `-printf` for all linux operating systems, but alpine does not support the `-printf`. Therefore we need to fallback to `-c` for Alpine

[2016-08-31 10:27] chris-rock commented on #996
With the train fix we get the expected result:

[code]

[2016-08-31 10:28] chris-rock commented on #998
@jonathanmorley Is this happening on Windows 2012 too?

[2016-08-31 11:50] nvtkaszpir commented on #993
sorry but my knowledge of writing in ruby is not sufficient to fulfill this task, and learning how to do it is currently loosing a battle with amount of daily work assigned to me :(

[2016-08-31 13:22] jonathanmorley commented on #998
Unknown on both counts, I haverolled back my inspec install to 0.29.0 to work around this issue for now. If I get some time I will try to test other scenarios

[2016-08-31 13:23] Constantin07 opened #1001 "More options link in Readme.md doesn't work (404) - need updating?"
### Description

The "More options" link https://github.com/chef/inspec/blob/master/docs/ctl_inspec.rst in Readme.md doesn't work - gives 404 Page not found.
### InSpec and Platform Version

Latest.
### Replication Case

Try to open the https://github.com/chef/inspec/blob/master/docs/ctl_inspec.rst
### Possible Solutions

Update the link with correct location.
### Stacktrace

None.

[2016-08-31 13:34] TD-4242 commented on #995
I don't, but I can dig a little further, I'm sure there is something.

[2016-08-31 13:53] chris-rock commented on #1001
Thanks @Constantin07 for highlighting this issue. The correct link is https://github.com/chef/inspec/blob/master/docs/cli.rst

[2016-08-31 14:24] chris-rock commented on #998
We've done integration testing to ensure it works exactly the same as the old one. See https://github.com/chef/inspec/blob/master/test/integration/default/package_spec.rb#L34-L58

Lets figure out if this is restricted to Windows 2008 or also not working on Windows 2012

[2016-08-31 14:26] chris-rock commented on #995
That would be awesome.

[2016-08-31 14:30] arlimus commented on #783
Also raised by a Chef customer here: https://getchef.zendesk.com/agent/tickets/10932

[2016-09-01 02:29] vjeffrey commented on #984
<img width="831" alt="screen shot 2016-08-31 at 11 00 23 pm" src="https://cloud.githubusercontent.com/assets/10341541/18153970/c882228a-6fce-11e6-9ea5-851872099302.png">

on vj/fix-cli-report

[2016-09-01 04:04] eyespies commented on #687
+1 on this

[2016-09-01 09:25] #1001 closed, assigned to chris-rock

[2016-09-01 09:27] Constantin07 commented on #1001
@chris-rock Thank you.

[2016-09-01 15:19] nvtkaszpir opened #1005 "inspect detect should additionally output virtualization platform"
### Description

As user when using inspec detec command on remote host I'd like to be able to see virtualization platform.
### InSpec and Platform Version

inspec 0.30.0
### Replication Case

In LXC:

[code]

Expected output:

[code]
### Possible Solutions

It could leverage using virt-what http://git.annexia.org/?p=virt-what.git;a=summary

Maybe extend inspec os module with more detailed info ht

[2016-09-01 21:23] chris-rock commented on #1005
@nvtkaszpir That is a great idea. Once we add this, we should thank about the detection of multiple virtual platforms. I would propose we implement this in two steps:
- add the InSpec resource to detect the virtual platform (this would allow us to use that information in InSpec tests as well)
- include this resource in InSpec detect
  A PR is welcome to add this feature to InSpec.

[2016-09-01 21:24] chris-rock commented on #1000
Thanks for highlighting this issue @davidcpell I assume, you would expect

[code]

to work?

[2016-09-01 23:24] chris-rock commented on #997
@juanmtz79 Thanks for reporting. Suse is storing the rc levels in `/etc/init.d/rc*.d`, but we were only expecting them in `/etc/rc*.d`. #1007 is up and fixes that issue.

[2016-09-01 23:28] chris-rock commented on #993
@nvtkaszpir would the following syntax work for you?

[code]

[2016-09-01 23:43] davidcpell commented on #1000
Yes, that's what I was expecting @chris-rock. I should note that I discovered (after writing this issue) that InSpec provides a `cmp` matcher that seems like it could be [used in cases like this](https://github.com/chef/inspec/blob/master/docs/matchers.rst#cmp), but from the documentation it still seems like this is supposed to return a single value rather than an array.

[2016-09-02 05:13] nvtkaszpir commented on #993
Yeha this looks good.
I was wondering if there is an option to specify minimum version matching, like in Gemfile with '>=2.14.2', because I think this would be the most versatile option (I just don't know if match or eq support this at all).

[2016-09-02 06:45] #984 closed, assigned to nobody

[2016-09-02 12:23] chris-rock commented on #998
@jonathanmorley I'll scheduled further investigation for next week. Let me know if you have further insights until then.

[2016-09-02 12:27] chris-rock opened #1011 "ip6tables"
### Description

A ip6tables resource to verify ip6 configuration as required by MITRE as requested in #563

[2016-09-02 12:31] chris-rock commented on #992
An updated release of Chef Compliance is available https://discourse.chef.io/t/chef-compliance-1-4-10-released/9279

[2016-09-02 12:31] #992 closed, assigned to nobody

[2016-09-02 12:36] chris-rock commented on #305
Please reopen if this continues to be an isssue.

[2016-09-02 12:36] #305 closed, assigned to chris-rock

[2016-09-02 16:14] davidcpell opened #1013 "apache_conf resource seems to be using incorrect paths to amalgamate apache config (only Centos/RHEL?)"
### Description

The Compliance tests I'm writing make heavy use of the `apache_conf` resource to validate `httpd` configuration. As I understand it, the resource builds a hash accessible via `apache_conf.params` by gathering all `.conf` and `.load` files in the files in apache/httpd config directory and combining them.

The problem is that the resource seems to be using incorrect paths and is the

[2016-09-04 16:40] chris-rock opened #1016 "Error output not informative"
### Description

Before https://github.com/chef/inspec/commit/9468007f269ded90a4df0b853af23587d4ce520c the errors have been displayed in the following format:

<img width="781" alt="screen shot 2016-09-04 at 6 37 22 pm" src="https://cloud.githubusercontent.com/assets/1178413/18232385/f12be39e-72ce-11e6-8c85-e3ee3f2805cc.png">

After the PR #946 the same test does not display the full result set:

[2016-09-04 16:51] #898 closed, assigned to nobody

[2016-09-04 18:18] #1013 closed, assigned to nobody

[2016-09-05 08:57] #996 closed, assigned to chris-rock

[2016-09-05 09:30] #997 closed, assigned to chris-rock

[2016-09-05 09:36] #956 closed, assigned to nobody

[2016-09-05 09:38] stevendanna commented on #958
I believe #994 gets us the first level of scoping we wanted.  We still have potential work to do with namespacing to allow people to differentiate between two resources with the same name in the same scope.

[2016-09-05 09:38] #958 closed, assigned to nobody

[2016-09-05 12:38] arlimus commented on #959
Decisions to be done on the URL pattern for github.

**Option 1**

[code]

Pro: All in one line, easy to copy
Con: New syntax (afaics); wordy and close to just specifying elements separately

**Option 2**

NPM/bower git resolver pattern: https://docs.npmjs.com/files/package.json

[code]

Where refname can be a branch name, tag name, or short/full SHA ref. For git refname see: https://git-scm.com/d

[2016-09-05 12:51] arlimus commented on #959
The additional elements that are contained and specified are:
- `branch` defaults to `master`
- `tag`
- `ref`

In a way, we also have:

**Option 3**

[code]

i.e. making it mandatory to specify tag/branch/ref elements manually.

Pro: Explicit, minimal
Con: Needs other attributes, not in one line

Although the last is shaky:

[code]

[2016-09-05 15:34] #1016 closed, assigned to nobody

[2016-09-06 02:18] arlimus commented on #959
It's really hard to decide between these three!

However: Option 3 is the only one which _doesn't introduce a new syntax that people will depend on._

If we can clearly determine a winner between Options 1 and 2 we still have the chance to offer it as a new feature. For now, these two options are not supported and only Option 3 is offered.

CC: @chris-rock @stevendanna would love your input.

[2016-09-06 08:53] stevendanna commented on #959
Here are some thoughts:

Personally, I'm in favor of a path where no heuristics are used to determine the source-type.  That is, I'd like to eventually remove the regex-based, "is this a github url?" heuristic we currently have.  This would require some deprecation period most likely.

Using the `url` for everything means that if we ever want to support git-but-not-github sources, then we'll proba

[2016-09-06 09:27] chris-rock commented on #959
Lets see what is already there. The following urls are standard git urls as offered by github:
- https://github.com/dev-sec/cis-docker-benchmark.git
- git@github.com:dev-sec/cis-docker-benchmark.git

NPM defines:
- git://github.com/user/project.git#commit-ish
- git+ssh://user@hostname:project.git#commit-ish
- git+ssh://user@hostname/project.git#commit-ish
- git+http://user@hostname/project/blah.gi

[2016-09-06 09:34] chris-rock commented on #959
Another solution we could take:

we use github urls from the browser for github (as the current github fetcher is doing):

[code]

and use standard git urls for everything else:

[code]

The advantage is, that we use the existing github urls, they allow easy copy & paste. There would be no need for a new syntax then

[2016-09-06 10:44] arlimus commented on #959
## Git fetcher

In `inspec.yml`

[code]

With these options: `branch`, `tag`, `ref` in `inspec.yml`:

[code]

The git fetcher uses real-life `git` under the hood and requires that it is installed! There is no special handling for neither Github, Supermarket, Bitbucket, nor Gitlab!! (i.e. it's just git)

## Github fetcher

In `inspec.yml` we have shorthand fetchers for these targets:

[code]

Githu

[2016-09-06 11:07] arlimus commented on #954
All written in pure YAML to be easily parsable and repeatable:
https://gist.github.com/arlimus/00b76b8177b68f24cd7c8ac2514729c4

[2016-09-06 11:13] arlimus commented on #954
A list of all the things being called right now:

[code]

And inside of inspec shell:

[code]

[2016-09-06 11:14] #954 closed, assigned to arlimus

[2016-09-06 11:16] chris-rock commented on #954
should we add some json love? like

[code]

[2016-09-06 11:25] #955 closed, assigned to nobody

[2016-09-06 11:27] arlimus opened #1021 "Create all content for inspec homepage demo"
Take all contents from https://github.com/chef/inspec/issues/954 and implement them for the online demo in the inspec repo.

[2016-09-06 12:45] vjeffrey commented on #1016
sorry, and thank you for fixing it!

[2016-09-06 13:04] davidcpell commented on #1013
@chris-rock @jeremymv2 I just upgraded to 0.33.0 but am still having this issue with the `apache_conf` resource:

[code]

This was after uninstalling 0.29.0 with the following command:

`$ chef exec gem uninstall -i C:/opscode/chefdk/embedded/lib/ruby/gems/2.1.0 inspec --version 0.29.0`

It looks like the `conf` part of the lookup path is gone but `/etc/httpd` is still doubled.

[2016-09-06 16:15] Constantin07 opened #1024 "--no-color switch not working when invoked with "inspec exec""
### Description

the --color/--no-color switch is not working when invoked with inspec exec.
It outputs in color anyway.
### InSpec and Platform Version

CentOS Linux release 7.2.1511 (Core)

Inspec versions 0.32.0, 0.33.0
### Replication Case

Run:

[code]

Result: the printed output in terminal is still colored.
### Possible Solutions

None.
### Stacktrace

None.

[2016-09-06 17:44] webframp opened #1025 "Multiple matchers in a describe block display only a single line"
### Description

I'm experimenting with replacing some serverspec test kitchen suites with inspec tests and overall it's great. Very fast and I love the small dsl improvements from inspec over serverspec.

Unfortunately the displayed output is not quite useful enough to include them as the default in our CI process yet. This seems related to #812 so perhaps it's a configuration I'm missing,  fixed

[2016-09-06 17:50] chris-rock commented on #1025
@webframp Try to update to the latest InSpec release 0.33.0 since we improved the reporter a lot over the last weeks. Let us know if the issue persists

[2016-09-06 18:44] webframp commented on #1025
Confirmed, `0.33.0` fixes the output as expected:

[code]

Thanks!

[2016-09-07 08:49] stevendanna opened #1028 "Provide per-profile attribute isolation"
### Description

We've been moving towards a world in which profiles are isolated from each other based on their position in the dependency tree.  This work has not yet been extended to attributes (although it might be in effect to some extent because controls run in different profile contexts).

We should extend isolation to attributes.  This requires deciding on what the behavior should be for a

[2016-09-07 11:06] chris-rock commented on #1025
Perfect @webframp Thanks for using InSpec. Let us know if you have any other issue.

[2016-09-07 11:06] #1025 closed, assigned to nobody

[2016-09-07 14:00] davidcpell opened #1030 "Follow up to 1013: find_files() errors still occurring for apache_conf resource after 0.33.0 upgrade"
### Description

This is a follow-up to #1013. The `find_files()` failures are still occurring for me with the `apache_conf` resource even after updating to InSpec `0.33.0`.

It seems (?) like the problem is happening the httpd is installed with the community apache2 cookbook.
### InSpec and Platform Version

Windows 7 Enterprise

[code]
### Replication Case

I've created a dummy cookbook that can

[2016-09-08 15:48] davidcpell commented on #1030
@chris-rock I found where the issue is happening for me:

https://github.com/chef/inspec/blob/master/lib/resources/apache_conf.rb#L107-L112

In this block, `f` is an absolute path to a set of files to check, and `@conf_dir` is an absolute path to the location of `httpd.conf`. When they are joined, the path to the httpd root is doubled. Here's some output from a `binding.pry` I just did:

From: /Us

[2016-09-09 10:53] #948 closed, assigned to chris-rock

[2016-09-09 13:11] chris-rock opened #1040 "Implement enabled/disabled accounts detection for Unix/Linux"
### Description
#1039 introduced the mechanisms to test for enabled/disabled accounts.

[code]

This PR only implements that feature for Windows, but does not cover Linux and Unix operating systems.

[2016-09-09 13:36] jeremymv2 commented on #1030
@davidcpell are you using absolute paths in your httpd.conf or ones relative to ServerRoot?

http://httpd.apache.org/docs/2.4/mod/core.html#include

I believe inspec is assuming they are relative to ServerRoot.

[2016-09-09 21:37] TD-4242 commented on #995
`ps -C <process_name> -o user=`

might be the trick?

[2016-09-10 21:45] unixorn opened #1043 "1.10.2 has an extra space in pip package output"
With kitchen 1.10.2 as installed by ChefDK, I'm seeing another display error, this time when checking if Pip Packages are installed. There's an extra space between package and the name of the package as shown below:

[code]

should be

[code]

This is with the following test stanza:

[code]

It also has the same extra space in failing pip package tests.

[2016-09-12 07:47] chris-rock opened #1045 "Improve InSpec tutorial"
### Description

The current tutorial misses some details:
- [x] `clear` (linux) and `cls` (windows) command to clear the terminal
- [x] proper scrolling of terminal
- [x] style of tutorial text looks a little bit off
- [x] sometimes the shell promp is off, i can remove content of the prompt with my back key
- [x] continue to remove keys if i keep holding the back key
- [x] we need to harmonize th

[2016-09-12 07:57] #1021 closed, assigned to nobody

[2016-09-12 07:57] #959 closed, assigned to nobody

[2016-09-12 09:43] chris-rock opened #1047 "Use temporary file for security_policy resource"
### Description

The current `security_policy` is using a default path for a temporary file. We should change this to a temporary generated file.
### InSpec and Platform Version

0.33.0

[2016-09-12 12:22] chris-rock opened #1048 "Simplify dependency in inspec.yml"
### Description

Currently we already support various targets for dependencies, but the description is quite verbose.

[code]

We should support a simplification of the above as a shortcut for the user:

[code]

[2016-09-12 12:40] chris-rock opened #1049 "respect inspec.yml supports with include_controls"
### Description

Whenever we build a meta-profile, we include controls from dependent profiles as following:

[code]

At this point, the include_controls do not respect the meta information attached in the dependent `inspec.yml`. controls should be skipped, if the supports from inspec.yml is not matching.

eg. `os-hardening` only executed on Linux:

[code]

the `windows-patch-benchmark` only execu

[2016-09-12 13:18] chris-rock commented on #1045
The left side of the terminal is strage. Looks like the `$` is prepended with a whitespace
<img width="423" alt="screen shot 2016-09-12 at 3 15 59 pm" src="https://cloud.githubusercontent.com/assets/1178413/18437193/0014b4e8-78fc-11e6-9cfd-77605fcf90a7.png">

If I switch between `prev` and `next` I may not be able to see the command prompt anymore.
<img width="926" alt="screen shot 2016-09-12 at 3

[2016-09-12 13:39] arlimus opened #1052 "online demo: clear (linux) and cls (windows) command to clear the terminal"
https://github.com/chef/inspec/issues/1045

[2016-09-12 13:40] arlimus opened #1053 "proper scrolling of terminal"
https://github.com/chef/inspec/issues/1045

[2016-09-12 13:41] arlimus opened #1054 "online demo: check style of tutorial text"
https://github.com/chef/inspec/issues/1045

[2016-09-12 13:44] glasschef opened #1055 "Compliance should allow the ability to upload the unconverted SCAP profiles from the agencies."
### Description

Currently it is only possible to upload the converted Inspec profiles to the Compliance Server. Compliance should allow the ability to upload the unconverted SCAP profiles from the agencies. For instance DISA STIGs or CIS benchmarks.

[2016-09-12 13:45] #1055 closed, assigned to nobody

[2016-09-12 13:50] glasschef opened #1056 "Ability to export reports in SCAP format"
The ability to export reports in an SCAP format would be very beneficial: https://scap.nist.gov/

[2016-09-12 13:55] arlimus opened #1057 "Dependencies: Design UX for scoping of attributes and resources"
https://github.com/chef/inspec/issues/888

[2016-09-12 13:56] arlimus opened #1058 "Dependencies: All resources are scoped"
https://github.com/chef/inspec/issues/888

[2016-09-12 13:56] arlimus opened #1059 "Dependencies: All attributes are scoped"
https://github.com/chef/inspec/issues/888

[2016-09-12 15:30] vjeffrey commented on #1045
from davida (I asked her to test it out):
- [ ]  "[in the instructions] i would expect `inspec exec examples/profile` to have a `$` in front of it to indicate it’s a command to be typed at the prompt
  ie, `$ inspec exec examples/profile`
- [x] automatically clear screen on `next`
- [ ]  "hmm also possibly keep the navigation commands up in the top part of the screen" (next/prev)
- [ ]  copy/paste

[2016-09-13 13:22] stevendanna opened #1066 "Cache key for dependencies needs to be based on content hash for urls"

[2016-09-13 22:54] #1052 closed, assigned to nobody

[2016-09-14 06:51] chris-rock opened #1069 "Provide clear error message if dependency is not available"
### Description

If I run InSpec on a profile with multiple dependencies, it aborts if a dependency is not available. This is correct, but its hard for the user to extract the abortion from `No fetcher for linux`

[code]
### InSpec and Platform Version

0.34.0
### Replication Case

see above
### Possible Solutions

Show proper error message and color it in red.

Related to #888

[2016-09-14 06:58] chris-rock opened #1070 "Improve lockfile handling"
### Description

At this time, the lockfile is only generated when we use `inspec vendor`. We need to improve and simplify the handling for users:

_Is the lock file is generated all the time?_
- we always create a lock-file
- make it visible in our CLI output with profile location, eg “loaded from cache [cachedir]"
- create a lock file separately for each target

_Are lockfiles generated for remo

[2016-09-14 07:04] #1048 closed, assigned to nobody

[2016-09-14 08:40] stevendanna opened #1071 "Confusing reporter output with inherited profiles"
### Description

When using a profile that inherit all of their controls, the CLI test reporter confusingly places the profile information at the end of the output rather than the begging:

[code]
### InSpec and Platform Version

0.34.0
### Replication Case

In the inspec source code repository:

[code]

[2016-09-14 10:16] #1049 closed, assigned to nobody

[2016-09-14 10:19] chris-rock opened #1074 "resource dsl not loded properly inside describe blocks"
### Description

InSpec libraries are not properly loaded. We see an error like

[code]

in our response
### InSpec and Platform Version

0.34.1
### Replication Case

[code]

Related issues:
- https://github.com/dev-sec/tests-ssh-hardening/issues/66
- https://github.com/dev-sec/ansible-nginx-hardening/issues/2

[2016-09-14 13:37] #1054 closed, assigned to nobody

[2016-09-14 14:09] arlimus commented on #852
Needs to be addressed as of current master.

[2016-09-14 14:29] arlimus commented on #852
Currently we have:

[code]

Multiple decisions:
1) Display tests vs controls (either, both, neither?)
2) Naming
3) Display detailed info on crit/major/minor failed/success/skip

## Decision

[code]

Reason: there is so many different things to include and arguments for/against it. But ultimately, whatever we put in this API, we also have to maintain over time. That also means, that things might ch

[2016-09-14 15:52] #1074 closed, assigned to nobody

[2016-09-16 11:24] alexpop opened #1085 "WARN: Unresolved specs"
### Description

InSpec output started showing specs warning. I think they bring more noise than value:

[code]

[code]
### InSpec and Platform Version

[code]

[code]

[2016-09-16 13:34] #1053 closed, assigned to nobody

[2016-09-16 13:40] arlimus opened #1086 "www: Online tutorial: safari inspec online demo bug!"

[2016-09-16 16:13] jeremymv2 opened #1088 "undefined method `send_request' for Compliance::API:Class"
### Description

When attempting a legacy login I get an error that there is no `send_request` method.
It looks like that method disappeared here: https://github.com/chef/inspec/commit/07c359431f2e803a3220b14accc42ddb4d154312

[code]
### InSpec and Platform Version

[code]
### Replication Case

Attempt to use `inspec` cli to login with a user/password:
`inspec compliance login https://compliance-s

[2016-09-16 16:30] jeremymv2 commented on #1088
I understand that this might be the "legacy" method of authenticating.  However, token authentication, as I understand it, can be problematic.  For example, if a Compliance UI session logout occurs, the associated `refresh_token` is invalidated.  On the other hand the `token` is short lived (12 hours), so in a build cookbook scenario where the expectation is not to have to be required to have a us

[2016-09-16 17:03] vjeffrey opened #1089 "demo improvements"
noticed a few things while testing after https://github.com/chef/inspec/commit/f54fa7bbdfcebb5ee8119cac7c7122a6b36cbe3a merged:
- [x] inspec shell broken
- [x]  inspec shell -c 'sshd_config.Protocol' returns no output/blank
- [x] we should probably display describe blocks in the instructions exactly as a user would type them
- [x] did we get rid of the control block instructions part?
- [x] maybe

[2016-09-17 00:33] jeremymv2 opened #1091 "ssl resource blocks indefinitely when testing port 10000 (chef push jobs server)"
### Description

When using ssl resource to test a Chef Server, port 10000 (push jobs server) blocks indefinitely and doesn't return results.
### InSpec and Platform Version

inspec 0.35.0
Darwin jm01.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64
### Replication Case

[code]

`SSLShake.hello()` for that port returns immediately

[2016-09-17 21:45] nvtkaszpir commented on #514
I find lack of cron not yet migrated as disturbing :)

[2016-09-17 22:13] nvtkaszpir opened #1092 "uninstalled package shows as installed"
### Description

Some systems do not fully uninstall packages, they leave some files used in case of reinstall, and this leads to false positives. Especially when dealing with packages under Ubuntu and is in 'rc' stage, that is, it was not removed with --purge.

In general it shows what package manager shows, and it is true, but I think it is rather misleading.
### InSpec and Platform Version

ins

[2016-09-18 12:06] nvtkaszpir opened #1093 "kernel_parameter does not show fully info when test fails"
### Description

When using `kernel_parameter` in the test and it fails then the message is missing detailed explanation what actually failed  - unless you have insanely detailed tests.
### InSpec and Platform Version

Tinspec 0.32.0
ubuntu 15.10 testing remotely on 14.04
### Replication Case

[code]

output:

[code]

As we can see:
- first one fails, but does not say that it refers to `net.core.s

[2016-09-19 07:21] chris-rock commented on #1092
Thanks @nvtkaszpir That is very helpful feedback.

[2016-09-19 07:23] chris-rock commented on #1093
@nvtkaszpir that is a very good recommendation for improvement

[2016-09-19 09:52] #852 closed, assigned to nobody

[2016-09-19 14:04] alexpop commented on #1088
Thanks for the report Jeremy. I bumped into this as well and my workaround has been to copy tokens from the UI into the shell.

I'll open a PR to replace the legacy login implementation.

[2016-09-19 15:38] alexpop opened #1097 "InSpec CLI output not showing skip message when control title is defined"
Take this control:

[code]

Executing it against a non-windows node, I get:

[code]

As can be seen from the output, it's not very clear why the control was skipped.

---

Now, if I remove `title` from the control, I get this:

[code]

With the title removed, I can see the skip message provided by the troubled resource.
I would also like to see the skip message when a title is defined for the cont

[2016-09-19 17:02] chris-rock commented on #514
@nvtkaszpir PRs are welcome to add this feature

[2016-09-19 21:16] seththoenen opened #1100 "Package Resource isn't searching 64-bit Registry Hives"
### Description

The package resource should search additional registry hives if the system has a 64-bit architecture. This seems to not be functioning as intended.
### InSpec and Platform Version

0.35 - Windows
### Replication Case

64-bit packages that are installed and have registry keys under the following hives do not show as installed during Inspec tests:

`HKLM:\SOFTWARE\Wow6432Node\Micros

[2016-09-19 21:29] jerryaldrichiii commented on #1100
@seththoenen, looks like the `64-bit` value is coming from `wmic os get * /format:list` command located [here](https://github.com/chef/train/blob/master/lib/train/extras/os_detect_windows.rb#L40).

Since that value is coming from Windows and the section of InSpec code you are referring to applies to Windows packages, I think your solution is valid.

[2016-09-19 22:10] #1088 closed, assigned to nobody

[2016-09-20 09:24] #1093 closed, assigned to nobody

[2016-09-20 09:49] arlimus commented on #849
Closed by https://github.com/chef/inspec/pull/1083

[2016-09-20 09:49] #849 closed, assigned to arlimus

[2016-09-20 11:47] alexpop commented on #1097
I'm taking this

[2016-09-20 20:23] chris-rock commented on #998
May be related to #1100 and https://github.com/chef/train/pull/151
@jonathanmorley Are you using 64bit?

[2016-09-20 20:24] chris-rock commented on #998
Just saw you are. Our bit detection was returning the wrong values. Will be fixes with the next version of train

[2016-09-21 08:41] #1092 closed, assigned to nobody

[2016-09-21 10:04] chris-rock commented on #1030
@davidcpell is this solved with #1042 as well?

[2016-09-21 10:06] chris-rock commented on #1028
#719

[2016-09-21 10:13] chris-rock commented on #936
@daxgames we use plain authentication via ssh. How do you enter it on a cli? We use this in our backend: https://github.com/chef/train/blob/master/lib/train/extras/command_wrapper.rb#L93-L102

[2016-09-21 10:14] chris-rock commented on #908
@garrickpeterson-wf Its a great idea to install this in our docker container. Would you like to open a PR for that?

[2016-09-21 10:15] chris-rock commented on #899
@nvtkaszpir do you see that with the latest 0.35.0 still?

[2016-09-21 10:25] #693 closed, assigned to nobody

[2016-09-21 10:31] chris-rock commented on #539
@username-is-already-taken2 with the recent move to winrm 2.0 we do not have that restriction anymore

[2016-09-21 10:31] #539 closed, assigned to nobody

[2016-09-21 10:34] chris-rock commented on #113
We have Suse support now built-in. If you find specific bugs, we report them individually.

[2016-09-21 10:34] #113 closed, assigned to nobody

[2016-09-21 10:35] #271 closed, assigned to arlimus

[2016-09-21 10:37] chris-rock commented on #354
This has been solved recently

[2016-09-21 10:37] #354 closed, assigned to nobody

[2016-09-21 10:52] #1043 closed, assigned to nobody

[2016-09-21 11:01] daxgames commented on #936
@chris-rock I included the command line I am using in my original post.  I arrived at this command line by looking at inspec exec command line Help.

[2016-09-21 11:11] chris-rock commented on #1100
This has been solved with train 0.20.0 https://github.com/chef/train/releases/tag/v0.20.0 via https://github.com/chef/train/pull/151

[2016-09-21 11:12] #1100 closed, assigned to nobody

[2016-09-21 11:12] chris-rock commented on #998
This has been solved with train 0.20.0 https://github.com/chef/train/releases/tag/v0.20.0 via https://github.com/chef/train/pull/151. Please reopen if the issue persists

[2016-09-21 11:12] #998 closed, assigned to chris-rock

[2016-09-21 11:16] arlimus opened #1114 "Last steps for inspec.io launch"
- [x] try to build locally to dist dir
- [x] rake file for build process to gh-pages https://github.com/chef/inspec/pull/1132
- [x] add CNAME https://github.com/chef/inspec/pull/1132
- [x] build online demo in www build process https://github.com/chef/inspec/pull/1139
- [x] do the inspec.io thing (redirect/... with @cwebberOps )
- [x] https://chefio.atlassian.net/browse/CIA-1099 draft the download

[2016-09-21 11:19] chris-rock commented on #1114
also the footer linking to unavailable pages

[2016-09-21 11:19] arlimus commented on #1114
ping @cwebberOps

[2016-09-21 11:38] arlimus opened #1115 "InSpec in Workflow"
We need to update InSpec in Workflow for 1.0 due to the changed API. (and because we use a really old API version right now). This will guarantee stability throughout that product for the future (since the API is stable with this release).
- [x] update InSpec requirements for Workflow to 1.0
- [x] make Workflow display InSpec 1.0 output data for controls
  - display the title OR (if missing) => se

[2016-09-21 12:52] alexpop commented on #1085
It looks like multiple versions of the gems trigger the WARN messages:

[code]

[2016-09-21 12:59] chris-rock commented on #936
@daxgames I was asking how you use it without inspec?

[2016-09-21 13:28] davidcpell commented on #1030
@chris-rock yes sorry! closing this

[2016-09-21 13:28] #1030 closed, assigned to nobody

[2016-09-21 13:35] #1058 closed, assigned to nobody

[2016-09-21 13:42] daxgames commented on #936
How I use what?  Sudo?  I type 'sudo [command]' and it prompts me for rsa tokencode.

[2016-09-21 13:46] #851 closed, assigned to nobody

[2016-09-21 13:46] #1045 closed, assigned to chris-rock

[2016-09-21 13:46] #1089 closed, assigned to chris-rock

[2016-09-21 14:02] arlimus opened #1117 "InSpec in Visibility"
We need this https://github.com/chef-cookbooks/audit/issues/98 and the update to Visibility to still work.

[2016-09-21 14:38] nvtkaszpir commented on #899
The error no longer exists on inspec 0.35.0.
Error messages are properly displayed from inherited profiles.

[2016-09-21 15:25] #899 closed, assigned to nobody

[2016-09-21 17:01] arlimus opened #1119 "add docs to inspec.io"
part of https://github.com/chef/inspec/issues/1114
- [x] convert all docs to markdown (last MR in https://github.com/chef/inspec/pull/1129 )
- [x] build CLI fully to the level of quality of the current chefdocs automatically from code ( https://github.com/chef/inspec/pull/1125 )
- [x] cross-reference partials ( https://github.com/chef/inspec/pull/1129 )
- [x] create a build process to build md+par

[2016-09-21 17:44] unixorn commented on #1043
Thanks!

[2016-09-21 18:15] jeremymv2 commented on #783
@chris-rock @arlimus

Can we take some inspiration from this perhaps? https://github.com/mizzy/specinfra/search?utf8=✓&q=CheckFileAccessRules

[2016-09-22 00:11] #1115 closed, assigned to nobody

[2016-09-22 01:02] vjeffrey commented on #1117
https://github.com/chef-cookbooks/audit/pull/99
https://delivery.shd.chef.co/e/Chef/#/organizations/Chef_Delivery/projects/delivery/changes/93fe5e4f-107a-4176-aaa6-0290eb9369ba/status/verify

[2016-09-22 01:18] #957 closed, assigned to nobody

[2016-09-22 03:02] jeremymv2 commented on #783
This is good news, here is a demo of the above working for an equivalent of `be_readable.by_user('vagrant')` - the other `be_X.by_user()` should presumably work as well.  User `vagrant-2012-r2\vagrant` is an Admin so has all permissions for the file while user `vagrant-2012-r2\johndoe` had all permissions removed.

<img width="924" alt="screen shot 2016-09-21 at 10 58 19 pm" src="https://cloud.git

[2016-09-22 16:48] #1119 closed, assigned to arlimus

[2016-09-22 19:29] jerryaldrichiii opened #1131 "Strange `registry_key` behavior (Unable to get .NET Version)"
### Description
#### Intended Goal

I am attempting to get the following test to pass:

[code]
#### Problem

I can only get the value of `nil` for `Release`
#### More Info

Using `/` or placing an extra `\` somewhere in the path allows the tests below to pass...however it does not allow me to get the value of `Release`.

[code]

Also, it appears cannot get the value of any key under `v4` but can u

[2016-09-22 20:02] chris-rock commented on #1131
@jeremiahsnapp can you upgrade to at least inspec 0.30.0? we’ve updated the registry key resource by then

[2016-09-22 20:02] chris-rock commented on #1131
Is this executed remotely or locally?

[2016-09-22 20:16] jerryaldrichiii commented on #1131
It is executed remotely via Test Kitchen. Here are the versions from ChefDK:

[code]

[2016-09-22 20:18] jerryaldrichiii commented on #1131
After updating to version `0.30.0` of InSpec via `chef exec gem install inspec -v 0.30.0`, the issue is still present.

[2016-09-22 22:40] rhass opened #1136 "README.md has broken link to non-existent file"
### Description

README.md has broken link to non-existent file: `InSpec makes it easy to run your tests wherever you need. More options listed here: https://github.com/chef/inspec/blob/master/docs/cli.rst`

https://github.com/chef/inspec/search?utf8=%E2%9C%93&q=filename%3Acli.rst&type=Code
### InSpec and Platform Version

Github Master
### Replication Case

Click the link in the documentation.
##

[2016-09-22 23:11] arlimus commented on #1136
Thank you for quickly noticing!! Sorry for the inconvenience, we will have this sorted out until the website goes life (at the latest on Monday)

[2016-09-23 08:24] #1097 closed, assigned to alexpop

[2016-09-23 08:39] #1070 closed, assigned to nobody

[2016-09-23 08:39] #1066 closed, assigned to nobody

[2016-09-23 18:09] brianbohanon commented on #1131
I am experiencing similar behavior on 64-bit Windows. It seems inspec is not able to access certain keys under HKLM\SOFTWARE in 64-bit Windows. My testing has shown that inspec can detect if any non-Microsoft key { should exist } in HKLM\SOFTWARE, but not any properties or values within those keys. It seems that it is able to access HKLM\SOFTWARE\Microsoft keys, properties, and values. I haven't f

[2016-09-24 02:05] anniehedgpeth opened #1146 "Using"
### Description

Can I use one profile to store several different files of controls meant for testing separate cookbooks and call them individually? Or should I create a separate profile for each group of controls that I need for each individual cookbook?
### InSpec and Platform Version

0.35.0
OS X

[2016-09-25 11:11] nvtkaszpir opened #1147 "parse_config and parse_config_file does not show fully info when test fails (or even if it succedes)"
### Description

This is similar issue as #1093 but found out when using `parse_config_file`.

When using `parse_config_file` in the test and it fails then the message is missing detailed explanation what actually failed  - unless you have insanely detailed tests.
### InSpec and Platform Version

inspec 0.35.0
ubuntu 15.10 testing remotely on 14.04
### Replication Case

 in `/tmp/inspec.php5-fpm-s

[2016-09-25 11:28] nvtkaszpir commented on #1147
This issue also happens when using `parse_config` with plain command output.

[code]

[2016-09-25 11:31] nvtkaszpir commented on #1147
In addition `parse_config_file` does not show output that it cannot find config file if it is missing. The output is just showing the test was skipped, without message why.

[2016-09-25 11:47] nvtkaszpir commented on #1147
also I think it should return more verbose output when using .parse['param'] like below:

[code]

outputs:

[code]

The last two lines are mystery :D

[2016-09-26 09:46] chris-rock commented on #1114
a strange line above the searchbar
<img width="249" alt="screen shot 2016-09-26 at 11 45 47 am" src="https://cloud.githubusercontent.com/assets/1178413/18829927/d0fb839c-83de-11e6-85cd-c85a4c6f5700.png">

[2016-09-26 09:50] chris-rock commented on #1114
Buttons should be on the same horizontal line
<img width="907" alt="screen shot 2016-09-26 at 11 49 41 am" src="https://cloud.githubusercontent.com/assets/1178413/18830063/5861b86a-83df-11e6-9db6-f2efce0254ac.png">

[2016-09-26 09:53] chris-rock commented on #1114
Commands should use the color `color: #87cefa;`
<img width="1010" alt="screen shot 2016-09-26 at 11 51 20 am" src="https://cloud.githubusercontent.com/assets/1178413/18830161/d8e62bb0-83df-11e6-94b8-004f9f4de005.png">
and scrolling does not work as expected

[2016-09-26 10:50] #1136 closed, assigned to arlimus

[2016-09-26 13:49] chris-rock commented on #646
InSpec 1.0 ships with packages for Windows, Mac and Linux

[2016-09-26 13:49] #646 closed, assigned to nobody

[2016-09-26 14:01] vjeffrey commented on #1117
shd/visibility change has merged. as soon as 1.0 is released, i'll update version in audit cookbook and we can merge that too

[2016-09-26 14:32] jerryaldrichiii opened #1165 "Demo at `http://inspec.io/` stuck on `Loading`"
### Description

Both the `Try the Demo` and the `Start the Demo` button redirect to a black page that just says `Loading`.

<img width="1440" alt="screen shot 2016-09-26 at 10 22 10 am" src="https://cloud.githubusercontent.com/assets/13783510/18837960/af2acc6a-83d3-11e6-96b2-c17215e5c377.png">
### Platforms Tested

Kudos to @seththoenen for testing on Windows 10 for me

Fails:
- Chrome 47.0.2526.

[2016-09-26 16:22] vjeffrey opened #1169 "www: Online tutorial: update inspec tutorial to 1.0.0 version"
It would be cool if we could update the responses so it says 1.0.0 instead of 1.0.0 beta. it's a little thing, but would be nice :)
![screen shot 2016-09-26 at 12 18 54 pm](https://cloud.githubusercontent.com/assets/10341541/18842605/8ed1cc38-83e3-11e6-92e5-8e66f504b5ff.png)

when you do inspec exec examples/profile, you see version 1.0.0
![screen shot 2016-09-26 at 12 20 49 pm](https://cloud.gith

[2016-09-26 16:56] #1117 closed, assigned to nobody

[2016-09-26 17:02] vjeffrey commented on #437
@chris-rock, got any other examples of running into this?  i'm trying to reproduce, but this is what i'm getting:
![screen shot 2016-09-26 at 1 01 13 pm](https://cloud.githubusercontent.com/assets/10341541/18844003/6cccc786-83e9-11e6-8ca8-c5172879c58f.png)

[2016-09-26 17:10] stefanandres opened #1171 "inspec cannot autodetect service() infrastructure on ubuntu-14"
## Description

[code]

Fails with

[code]

But sysv_service('exim4') works

[code]
## Inspec Version

[code]
## Platform Version

Ubuntu-14

[code]
## Replication Case

See above

How can I write a inspec test that covers ubuntu-14 sysv and ubuntu-16 systemd?

[2016-09-26 20:48] mrx88 commented on #1085
fyi, i've had similar issue:

$ inspec version
WARN: Unresolved specs during Gem::Specification.reset:
      net-ssh (< 4.0, >= 2.6.5, >= 2.9)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
1.0.0

$ gem list --local | grep net-ssh
net-ssh (3.2.0, 3.1.1, 2.9.2)
net-ssh-gateway (1.2.0)
net-ssh-multi (1.2.1)

after removing
1. net-ssh-2.9.2
2. net-ssh-3.1.1
   the e

[2016-09-27 08:33] stefanandres commented on #1171
Hm, it also does not work with ubuntu-16. service() fails, like systemd_service() does. exim installed by apt-get install exim4 can only be detected via sysv_service() there too.

[2016-09-27 08:45] stevendanna commented on #1069
I believe this was fixed in: https://github.com/chef/inspec/pull/1126

[2016-09-27 08:45] #1069 closed, assigned to nobody

[2016-09-27 11:45] danrohr opened #1176 "Issue locally running an inspec check on a service resource"
### Description

Locally running inspec of a profile to check to ensure that a service is installed/enabled/running fails. However when running the same profile from the Chef compliance server against the same system it runs successfuly.
### InSpec and Platform Version

Using Inspec 1.0.0 and running on RHEL 7.2
### Replication Case

On the system that fails the local runs.  I have validated every

[2016-09-27 11:47] stevendanna commented on #1176
Thanks for filing this, I think we chatted a bit in Slack yesterday but I had to leave before we came to a root cause.

[2016-09-27 11:56] stevendanna commented on #1176
Could you attach the output of:

[code]

run as the same user that inspec is running as?

[2016-09-27 12:01] danrohr commented on #1176
[dan.rohr@testing ~]$ systemctl show --all ntpd
Failed to get properties: Operation not permitted

On the other system the command runs just fine with a ton of output

[2016-09-27 12:03] danrohr commented on #1176
Also to note both systems were built from the same Satellite 6.1.9 server.  Both joined to IdM as the authentication source and I can see all pertinent account information by doing an id dan.rohr.  SeLinux is in enforcing mode on both systems.

[2016-09-27 12:04] stevendanna commented on #1176
[code]

I think that this is the key difference between the two machines in terms of inspec's behavior.  If that command fails it doesn't populate the service's data and returns `false` for `running?`, `enabled?`, and `installed?`.

[2016-09-27 12:09] danrohr commented on #1176
Still not sure why I can run it on one system and not the as nothing was changed between the two.  I'll have to dig into that a little and see what I can find, if anything.

[2016-09-27 12:52] aaronlippold commented on #1146
I would think that keeping a 1-to-1 mapping would be easiest to manage in the long term. I am sure that both ways would work but if you group them you will have to have logic to say 'for_each' x do 'action' so either way.

[2016-09-27 12:54] aaronlippold commented on #1040
So for unix, this would be checking if the user has /sbin/nologin in /etc/passwd? We should perhaps define what 'disabled' means vs 'not_exist' or not be_enabled etc etc.

[2016-09-27 13:23] danrohr commented on #1176
No clue what happened to the system.  I know I rebooted it yesterday but did a reboot again today and now everything is working fine.  It showed an up time of less than 24 hours.  Anyways it is all working as expected.

[2016-09-27 13:23] #1176 closed, assigned to nobody

[2016-09-27 14:39] #1071 closed, assigned to nobody

[2016-09-27 15:18] vjeffrey commented on #687
[code]

in our attempt to track down this bug, we found that the file is being parsed correctly, but gpgcheck is part of the hash under 'main'.  A syntax like the above works...
What are people's thoughts?
Is that an ok syntax that just needs to be documented, or should we be doing something more/more specific for the yum.conf?

[2016-09-27 15:50] stevendanna commented on #779
I think we may have fixed this in the work for 1.0 without realizing it:

[code]

[2016-09-27 15:50] #779 closed, assigned to nobody

[2016-09-27 16:02] stevendanna commented on #871
We probably want something like:

https://github.com/chef/chef/blob/master/lib/chef/file_access_control/unix.rb#L179-L181

[2016-09-27 16:03] stevendanna commented on #893
It looks like this might be a dup of or related to https://github.com/chef/inspec/issues/710

[2016-09-27 16:56] nvtkaszpir commented on #1171
Try outsude of docker?

[2016-09-27 20:00] #1165 closed, assigned to jerryaldrichiii

[2016-09-28 08:25] stefanandres commented on #1171
On "native" (qemu instance) it seems to work.

[code]

What could be the reason?

[2016-09-28 14:12] vjeffrey commented on #1086
'const declarations are not supported in strict mode'
apparently, safari doesn't understand things. silly safari.
babel should help with this.

[2016-09-28 14:51] arlimus opened #1182 "www: Online tutorial doesn't load (not building)"
This occured for some builds on certain machines that don't have all the required modules installed (e.g. NodeJS).

Please make sure:
- [x] Fail the build process if any shell command fails (e.g. `npm install`)
- [x] Add sanity checks for build steps of: tutorial, docs, and www/middleman

[2016-09-28 15:09] vjeffrey opened #1184 "Online tutorial: weird behavior with backspace, invalid commands"
As reported by @jerryaldrichiii
<img width="940" alt="screen shot 2016-09-28 at 11 08 35 am" src="https://cloud.githubusercontent.com/assets/10341541/18919396/f7c902ae-856b-11e6-80a9-be8b03800863.png">

[2016-09-28 15:12] vjeffrey commented on #687
Need to document this example in the resources docs for parse_config

[2016-09-28 16:13] nvtkaszpir commented on #1171
Of course docker, because the way the apps are launched there. Unfortunately you cannot treat everything the same. There are varous minor issues among platforms anyway. But with docker things are really ran differently. Not to mention that systemd + docker = long sad story.

It is possible to fix that, but actually inspec should detect underlying platform and then know how to handle services run w

[2016-09-28 18:46] vjeffrey commented on #1086
with babel loader and babel preset es2015, I set the webpack config to have:

[code]

in the `module { loaders: [`

Builds fine in chrome/firefox, but doesn't seem to be translating the const into var as expected with babel, so still same problem in safari.

I'll keep on digging into it/trying...

[2016-09-28 23:12] vjeffrey commented on #1086
this is the branch: dr/www/es-const  haven't figured it out yet. still trying..

[2016-09-29 08:04] chris-rock commented on #431
For reference, in Serverspec it can be solved as described: http://pmyjavec.com/code/2014/12/03/serverspec-behind-jump-server.html

This feature should be implemented in https://github.com/chef/train/blob/master/lib/train/transports/ssh.rb

[2016-09-29 08:11] #1057 closed, assigned to arlimus

[2016-09-29 08:13] chris-rock opened #1186 "Git (and supermarket) support version resolution via semver tags only"
### Description

We should be able to combine git with semver behavior.
### InSpec and Platform Version

1.0.0

[2016-09-29 08:14] #888 closed, assigned to nobody

[2016-09-29 08:15] chris-rock commented on #1182
Do we want to use a docker based build? eg. via https://hub.docker.com/_/node/

[2016-09-29 08:17] chris-rock commented on #1171
@nvtkaszpir Could you share your virtualization detection in https://github.com/chef/inspec/issues/1005?

[2016-09-29 08:20] chris-rock commented on #1169
This is blocked by the approval of https://github.com/chef/inspec/pull/1159, @arlimus was trying to identify the issue with git not detecting the changes properly

[2016-09-29 08:21] arlimus commented on #1182
@chris-rock That might be a great alternative. Instead of requiring node/npm we could just require docker, since it's a prerequisite for our tests anyway. I like the idea :)

[2016-09-29 08:21] chris-rock commented on #1169
The current approach generates files that will generate long filenames that are not supported on Windows

[2016-09-29 08:35] chris-rock commented on #1146
@anniehedgpeth It really depends on your use-case. I would only group controls together that address the same space. In case you really want to use the same profile for multiple tests, you could use attributes as input and their values as decision point. See https://github.com/dev-sec/cis-docker-benchmark/blob/master/controls/docker_level1.rb#L25-L29

[code]

[2016-09-29 12:56] robcoward commented on #431
I'm already using the Net::SSH::Proxy::Command gem as mentioned in @chris-rock's link above to get serverspec to test infrastructure on remote non-routable networks via a bastion host. Would really love to see something similar usable with Inspec.

My specific use-case here is working in a secure environment with different security domains, we are not allowed to route traffic between two security

[2016-09-29 16:28] vjeffrey commented on #1086
https://github.com/chef/inspec/tree/vj/babelify-scripts  <-- doing babel in gulpfile works to get rid of the const...but things are still not building correctly :(

[2016-09-29 16:37] nvtkaszpir commented on #1171
Already answered. I'm using third party tool named virt-what, which was designed specifically for this purpose for linux platform (although AFAIR it is possible to run it under Windows).

Unfortunately it means that this package must be installed on remote system.

[2016-09-30 00:58] rhass opened #1187 "Unexpected failures with kitchen-inspec and inspec 1.0.0"
### Description

I have observed two misbehaviors when using the lastest version of Inspec (1.0.0 and `master`) via `kitchen verify`.
1. Context blocks throw `Failed to complete #verify action: [undefined method`join' for nil:NilClass
   Did you mean?  JSON]` See [Stacktrace](#stacktrace) below.
2. Without context blocks, the tests succeed, however the test names are omitted.

[code]
### InSpec an

[2016-09-30 01:50] vjeffrey commented on #1184
this bug is killer. it's nutty. makes no sense!

[2016-09-30 01:59] jerryaldrichiii commented on #1184
You got that right @vjeffrey!

That's why I brought it up internally...I would sound like a mad man if I brought it up here.

The rabbit hole goes deep I am sure. Best I can tell it has to do with not stripping a `\r` somewhere.

For example, in Ruby:

[code]

[2016-09-30 11:37] #1182 closed, assigned to nobody

[2016-09-30 11:38] #687 closed, assigned to nobody

[2016-09-30 12:31] xiGUAwanOU opened #1188 "Using "cmp" Against File Mode Fails"
### Description

I'm writing an inspec description for a file downloaded by `s3_file` cookbook, to test its mode is correct.

The mode of the downloaded file is set to `0660`, which is ensured manually with `ls -l` in the virtual machine. And my inspec description is like this:

[code]

This example fails on one of the build servers (we have two of them), and I've also tried to manually execute `k

[2016-09-30 16:22] vjeffrey opened #1189 "inspec.io ---> https"
inspec.io does not currently support https (invalid cert).

This is because we are using a custom domain: github pages supports https as long as you are not using a custom domain (thanks to @srenatus for pointing that out!!)

https://help.github.com/articles/securing-your-github-pages-site-with-https/
https://konklone.com/post/github-pages-now-sorta-supports-https-so-use-it

[2016-10-01 02:30] Chandra-Allaka opened #1193 "Test verify action on Windows 2012 fails - [no implicit conversion of nil into Array] on default-windows-2012r2"
### Description

I was trying to run few tests using kitchen inspec verifier on a Windows machine. But I get the following exception:

[code]

Test Kitchen version is 1.13.2
### Replication Case

default_test.rb file composition:
# Test - Check if the server is a DNS server

[code]
### Stacktrace

Kitchen verify debug output is below:

[code]

[2016-10-01 14:46] arlimus commented on #1189
Thank you for investigating :)

We want to stick to the inspec.io domain. The github domain for our current project would be chef.github.io/inspec which feels clumsy; the shorter inspec.github.io is possible as well, if we move the project to this group; I'm not sure if we should change github groups right now, unless we find more reasons (e.g. child projects which we want to group together).

The

[2016-10-01 15:03] arlimus commented on #1188
Thank you for reporting @xiGUAwanOU

I tried to recreate this issue:

[code]

Is it possible to share the complete example (tiny chef snippet + inspec snippet)?

To help with the version of kitchen-inspec and inspec: Are you using bundler? In that case please run:

[code]

in the folder of your Gemfile. Otherwise please:

[code]

[2016-10-02 16:21] jerryaldrichiii opened #1195 "Resources on `http://inspec.io/docs/reference/resources/` are not in alphabetical order"
### Description

Resources on `http://inspec.io/docs/reference/resources/` are not in alphabetical order. I've seen them in alphabetically order before so this may be an intermittent issue.
### Example

<img width="1439" alt="screen shot 2016-10-02 at 12 17 24 pm" src="https://cloud.githubusercontent.com/assets/13783510/19021933/95722ed2-889a-11e6-83c3-d2018673e8c0.png">

[2016-10-04 12:46] xiGUAwanOU commented on #1188
I have updated the Chef DK version on the build machine, and this problem doesn't exist anymore. So this could be an already fixed problem.

Since the older Chef DK version has been deleted, it is a little bit tricky to get the InSpec version.

I've found the InSpec version number in the [Gemfile.lock](https://github.com/chef/chef-dk/blob/v0.13.21/Gemfile.lock#L391) from ChefDK 0.13.21, since the

[2016-10-04 18:49] kenmacleod opened #1196 "registry_key ignores failed Get-Item, always "exists""
InSpec 1.0.0 and checked source in 8d740de, running on Windows 7 host against Win 2012r2 target.

The following is successful when it should fail:

[code]

The cause is that the Powershell function `InSpec-GetRegistryKey` executed on the target does not check the return value of `Get-Item` for `$null` and return any sort of error.  (It does return an empty properties object which causes the test t

[2016-10-04 19:02] kenmacleod commented on #1131
I had the same issue on 2012r2 and upgrading to WMF 5.0 fixed the issue.  See also #939.

[2016-10-04 20:58] vjeffrey opened #1197 "www: typo on inspec.io"
<img width="1004" alt="screen shot 2016-10-04 at 4 57 35 pm" src="https://cloud.githubusercontent.com/assets/10341541/19092212/aff9104e-8a53-11e6-8a85-7771d508bd43.png">

[2016-10-05 13:04] #1196 closed, assigned to nobody

[2016-10-05 13:05] arlimus commented on #1196
Thank you for detecting this issue @kenmacleod :smile:

[2016-10-05 19:11] chris-rock opened #1205 "resource fail (exception) aborts all tests"
### Description

The ssl resource fails if it cannot connect to an external host https://github.com/chef/inspec/blob/master/lib/resources/ssl.rb#L55. This results in a strange behavior, if this is only one tests in a profile, since the full profile execution is aborted:

[code]
### InSpec and Platform Version

InSpec 1.0
### Possible Solutions

We should not use fail in the resource or handle reso

[2016-10-06 10:38] #1086 closed, assigned to nobody

[2016-10-06 10:57] #1184 closed, assigned to vjeffrey

[2016-10-06 12:32] PaulusTM commented on #1197
I noticed its a image file `/images/home/code-1.svg`.
Perhaps its a good idea to remove the image and change it to code?

[2016-10-06 13:47] PaulusTM commented on #1195
It seems fixed already:

Firefox
<img width="1440" alt="screen shot 2016-10-06 at 15 45 00" src="https://cloud.githubusercontent.com/assets/85584/19154685/de6ab2f0-8bdb-11e6-8387-287607747036.png">

Chrome
<img width="1440" alt="screen shot 2016-10-06 at 15 46 44" src="https://cloud.githubusercontent.com/assets/85584/19154755/1f1b03ae-8bdc-11e6-9bf2-826bc60a30f4.png">

[2016-10-06 13:51] jerryaldrichiii commented on #1195
Yup, I've seen it bounce between sorted and not sorted before though.

I'll close the issue and reopen it if I see it again.

[2016-10-06 13:51] #1195 closed, assigned to nobody

[2016-10-06 14:07] jerryaldrichiii opened #1207 "Unable to view Demo on any page other than Overview"
### Description

Both on Firefox and Chrome I am unable to "Try the Demo" on any page other than the Overview page
### Replication Case

Navigate to any links on the side bar (save for Overview) and click "Try the Demo"

[2016-10-07 11:51] #1169 closed, assigned to nobody

[2016-10-07 12:08] alexpop commented on #1205
Chris, agree that a failure for this resource should not stop the entire run.

As an alternative to this:
  https://github.com/chef/inspec/blob/v1.1.0/lib/resources/ssl.rb#L55

I looked into using the `skip_resource` option we have:

[code]

With that ^, targeting a docker container with this spec:

[code]

results in:

[code]

This is because resources calling `skip_resource` in initialize will b

[2016-10-07 12:11] alexpop commented on #1205
What if we want a particular resource error to flag the resource as failed instead of skipped?

[2016-10-07 13:19] vjeffrey commented on #1187
@rhass Looks like the cookbook you reference here has gone through some significant changes over the last week; could you please update the replication case details?

[2016-10-07 14:34] anniehedgpeth opened #1208 "inspec exec in vagrant"
### Description

I just have a couple of quick questions that are blocking me from getting an InSpec attributes blog post up.
1. Can you call attributes in a `.kitchen.yml` or do you have to use the `inspec exec` command?
2. If you have to use `inspec exec`, is there a trick to getting it to work with `vagrant`? I want to keep it simple for the tutorial and not have to use azure, so I was trying t

[2016-10-07 15:07] vjeffrey commented on #1207
related to #1166

[2016-10-07 15:17] vjeffrey commented on #1197
Andy and the CIA team are on it!

[2016-10-07 16:39] vjeffrey commented on #1197
https://chefio.atlassian.net/browse/CIA-1138

[2016-10-07 17:19] vjeffrey commented on #1147
@nvtkaszpir just tested with newest inspec (1.1.0) and received this output:

![screen shot 2016-10-07 at 1 23 00 pm](https://cloud.githubusercontent.com/assets/10341541/19199272/399a0b3e-8c91-11e6-808d-8b80412317a8.png)

does that meet your expectations for the output?
I believe this was fixed with https://github.com/chef/inspec/pull/1096.

[2016-10-07 17:27] nvtkaszpir commented on #1147
looks good.

[2016-10-07 18:56] rhass commented on #1187
@vjeffrey The issues which I experienced were with the 1.x changes. I found the inspec bug while working on adding the inspec test framework to the cookbook to support the changes I was making.

[2016-10-07 19:05] vjeffrey commented on #952
@mshate123 I just tested with latest inspec 1.1.0; I've attached the results.  Those results are valid json.
[app-config.txt](https://github.com/chef/inspec/files/516926/app-config.txt)

the inspec gemspec lists rspec at   `spec.add_dependency 'rspec', '~> 3'`
Please confirm this is still an issue?

[2016-10-07 19:06] vjeffrey commented on #1187
thanks; i'll look into it.

a couple things: the links posted above that refer to the gemfile throw 404s. the correct link is :https://github.com/chef-cookbooks/rubygems/blob/master/Gemfile#L9

also, `bundle exec integration:kitchen:bundle-config-centos-72` does not seem to be a valid command.  did you mean `bundle exec rake integration:kitchen:bundle-config-centos-72`?
that command also fails for

[2016-10-10 12:38] #280 closed, assigned to nobody

[2016-10-10 13:08] vjeffrey commented on #1147
thanks, closing the issue.

[2016-10-10 13:08] #1147 closed, assigned to nobody

[2016-10-10 15:48] ringods commented on #353
A few months have passed again and this ticket is still open. Does inspec have support to share custom resources?

[2016-10-10 16:26] vjeffrey commented on #1188
@xiGUAwanOU  some further testing on our end seems to be confirming that the cmp problem is fixed.   If I'm understanding correctly, this is no longer a problem for you as well, right? ("I have updated the Chef DK version on the build machine, and this problem doesn't exist anymore")    Please confirm so we can close the issue if that is the case. Thank you :)

[2016-10-10 16:50] vjeffrey commented on #1197
https://github.com/chef/inspec/pull/1210

[2016-10-10 16:50] #1197 closed, assigned to nobody

[2016-10-11 12:56] vjeffrey commented on #952
Closing out the issue for now. Please re-open if this is still an issue! Thank you :)

[2016-10-11 12:57] vjeffrey commented on #1188
Closing out the issue for now. Please re-open if this is still an issue!! Thank you :)

[2016-10-11 12:57] #1188 closed, assigned to nobody

[2016-10-11 13:03] arlimus commented on #843
Great idea, kudos @chris-rock !

Just following the core idea you presented, to create the habitat package continuously, the acceptance criteria is:
- [x] Create a usable InSpec package in Habitat
- [x] Add documentation on how to use the package and how to get it to our readme
- [x] Create rake task to build and release InSpec for Habitat (semi-manual: user hits rake command and that builds and u

[2016-10-11 13:06] arlimus opened #1212 "Export Docker package for InSpec from Habitat"
Depends on https://github.com/chef/inspec/issues/843

As suggested by @chris-rock . This would simplify our build chain and could potentially even improve the resulting package.

[2016-10-11 13:09] SolverDude commented on #541
@arlimus, you reference above (from March 16) about a 'cleaner attributes interface'...can you give an update on how that's coming, or a reference to the plan?

[2016-10-11 18:04] ghost commented on #952
Sorry, how can I get version 1.1.0? Master only has the 1.0.0 tagged as the latest release.

[2016-10-11 19:54] vjeffrey commented on #952
https://rubygems.org/gems/inspec

[2016-10-11 20:51] modille opened #1214 "Resource for windows scheduled task"
A resource for `windows_scheduled_task` would be helpful.

Even just having an `exists` matcher, similar to what ServerSpec has:

https://github.com/mizzy/serverspec/blob/master/lib/serverspec/type/windows_scheduled_task.rb#L3

The Powershell query used there is

[code]

See:
- https://github.com/mizzy/specinfra/blob/c8a97ef154684452ba059beee4cddbc8e62258c2/lib/specinfra/command/windows/base/sched

[2016-10-12 16:06] ghost commented on #952
Updated to 1.2.0 and tested, this is now working, thank you!!

[2016-10-12 17:25] vjeffrey commented on #952
Yay! Thanks for confirming!!

[2016-10-12 23:49] arlimus opened #1217 "https and security conserns on inspec.io"
### Description

It's an HTTP site right now. This sucks. Reasons [one](http://security.stackexchange.com/questions/20451/https-vs-http-is-there-a-security-reason-for-https-for-a-site-that-only-does) and [two](https://developers.google.com/web/fundamentals/security/encrypt-in-transit/why-https)
### Acceptance

Grade A [here](https://observatory.mozilla.org/analyze.html?host=inspec.io) and [here](h

[2016-10-12 23:50] arlimus commented on #1217
kudos to everyone who raised this; cc + kudos @metadave

[2016-10-13 14:13] #1187 closed, assigned to nobody

[2016-10-13 14:16] ricardolupo opened #1218 "add AD support for `user` resource to be able to check users from AD"
### Description

This issue is a request to enhance the `user` resource to allow an InSpec profile to query an AD user against a running system. As enterprises often use AD for both Windows and Linux/UNIX, we would want this to work across platforms, with Windows being the priority.

[2016-10-13 16:40] robbkidd opened #1219 "Listing profiles on the Supermarket should return all profiles"
### Description

`inspec supermarket profiles` currently [uses the only query parameter](https://github.com/chef/inspec/blob/725e0a1bc50008c8ad252bd8d5c833a7af20c606/lib/bundles/inspec-supermarket/api.rb#L15) the Supermarket tools API offers at the moment: `q=`. Sadly, this means that the returned list of profiles is limited to the number of _tools_ that mention the words "compliance profile" in t

[2016-10-15 18:51] arlimus commented on #1212
As per feedback of @metadave this may not be as feasible as we had assumed initially. Let's keep an eye on it, but close this for now. The current docker releases work in the meantime.

[2016-10-15 18:51] #1212 closed, assigned to nobody

[2016-10-15 18:51] arlimus commented on #843
Kudos @metadave for completing this item!

[2016-10-15 18:51] #843 closed, assigned to nobody

[2016-10-16 11:38] artem-sidorenko commented on #1189
@arlimus there is another option as well: [gitlab pages](https://pages.gitlab.io/)

However this has the same question like you already raised, maybe even with more complications

[2016-10-17 09:26] chris-rock opened #1222 "Move InSpec Community to https://community-slack.chef.io/"
We've been using Gitter as the main community channel for InSpec. We really liked Gitter and it was very helpful for us. To ease the interaction with the Chef ecosystem (Chef, Habitat & InSpec) we are going to harmonize our customer interactions. Therefore we migrate from Gitter to https://community-slack.chef.io/

The following steps:
- [x] Create InSpec community in Chef Community Slack
- [x] Ad

[2016-10-17 10:34] chris-rock opened #1223 "Document new DCO process in contributing.md"
All Chef repositories change from signed CLA to DCO as announced in https://blog.chef.io/2016/09/19/introducing-developer-certificate-of-origin/. We already verify this for each PR, but documentation in our `CONTRIBUTING.md` is not reflecting the new process. We should update the documentation accordingly.

[2016-10-17 12:08] arlimus commented on #1222
The inspec.io page links to community currently; are you looking for something more specific in the second subtask?

[2016-10-17 12:12] chris-rock commented on #1222
That looks great, second task is done then.

[2016-10-17 16:11] alexpop commented on #995
Hey Bill, can you try out the code in this PR?
https://github.com/chef/inspec/pull/1225

Here's how you can try it out:

[code]

[2016-10-17 16:17] chris-rock commented on #966
The habitat format is also looking great:
https://github.com/habitat-sh/habitat/blob/master/components/core/src/crypto/mod.rs#L123-L190

[2016-10-17 16:26] #1223 closed, assigned to nobody

[2016-10-17 16:38] chris-redekop opened #1226 "Link to robert_config.rb is broken on inspec.io"
### Description

The example resource, http://inspec.io/docs/reference/examples/profile/libraries/gordon_config.rb, pointed to by http://inspec.io/docs/reference/dsl_resource/ , cannot be found.

[2016-10-17 16:40] chris-rock commented on #1226
Thanks, the correct URL is https://github.com/chef/inspec/blob/master/examples/profile/libraries/gordon_config.rb

[2016-10-18 09:12] alexpop commented on #995
I'm going to merge #1225.
Bill, @Anirudh-Gupta and everyone involved with this issue. Your help is greatly appreciated!

[2016-10-18 09:13] #995 closed, assigned to nobody

[2016-10-18 15:24] chris-rock opened #1227 "RFC: Harmonize profile location targets in inspec.yml/kitchen.yml/audit cookbook"
Currently we use different ways to define profiles locations in InSpec world:
- CLI
- inspec.yml
- inspec.lock
- kitchen.yml
- audit cookbook

**CLI:**

[code]

**inspec.yml** (yml format)

[code]

git references can be more complex:

[code]

[code]

[code]

**inspec.lock** (yml format)

[code]

**kitchen.yml** (yml format)

[code]

**audit cookbook** (json format)

[code]

The goal of this issue

[2016-10-18 15:35] chris-rock commented on #1227
Personally I really like the approach we are using for `inspec.yml` and we discussed that extensively in https://github.com/chef/inspec/issues/888. I would like to use the same approach in `kitchen.yml`. Therefore instead of:

[code]

we would use:

[code]

In `audit` cookbook we would just simply convert the yml array into json:

[code]

[2016-10-18 16:03] jeremymv2 commented on #1227
I think there is still some room for clarity around specifying the Supermarket and Compliance server urls.  What is the strategy there?

Perhaps:

[code]

[2016-10-18 18:18] chris-rock commented on #1227
@jeremymv2 the first is already available:

[code]

The harmonized approach would bring that to all tools. See https://github.com/chef/inspec/blob/master/lib/bundles/inspec-supermarket/target.rb#L16-L21 the inspec supermarket command still needs to be able to do that. Maybe we introduce a `inspec supermarket server http://myserver` command to store that in our local config

[2016-10-19 09:10] chris-rock commented on #1208
@anniehedgpeth
1.) attributes in `kitchen-inspec`
attributes support is not in available in test-kitchen right now. I placed an issue for that https://github.com/chef/kitchen-inspec/issues/108

2) InSpec against kitchen host

This is pretty straight-forward. The first step is to run `kitchen diagnose`

[code]

This will give you the hostname (kitchen maps ssh port to a local port), therefore we ha

[2016-10-19 09:11] chris-rock commented on #1214
@modille Great idea. Are you going to write a PR for that?

[2016-10-19 09:14] chris-rock commented on #1193
@Chandra-Allaka Can you share your `kitchen.yml`? Is the test also failing if you run the same tests with InSpec directly?

[2016-10-19 10:27] chris-rock opened #1229 "Link web docs to github docs"
It would be good to have a direct 'Edit' link from http://inspec.io/docs/reference/profiles/ to https://github.com/chef/inspec/blob/master/docs/profiles.md This allows users to make easier contributions.

[2016-10-19 12:30] anniehedgpeth commented on #1208
Thanks, @chris-rock . I was trying to keep the tutorial simple by keeping it in Kitchen, but I guess I'll have to use an Azure instance.

[2016-10-19 12:32] chris-rock commented on #1208
you could stick to plain vagrant as well.

[2016-10-19 12:36] anniehedgpeth commented on #1208
Oh yeah, that's a good idea. Thanks, Christoph!

[2016-10-19 13:22] chris-rock commented on #1208
I am going to close this issue, since we track the attributes in a separate issue now

[2016-10-19 13:22] #1208 closed, assigned to nobody

[2016-10-19 14:04] benpatterson commented on #229
I also don't understand why inspec is a competing framework, as opposed to an add-on or set of assertions that go on top of serverspec. the blog post did not clear that up for me when I read through it.

[2016-10-19 14:31] modille commented on #1214
@chris-rock unfortunately I don't have time at the moment, so I just used the command resource as a workaround

[2016-10-19 15:04] cjohannsen81 opened #1230 "Custom resource naming issue"
### Description

I´m creating different custom resources. As soon as I name them nearly similar (host_product, host_settings) all tests fail. When I rename one to a non host_ name all works fine.
### InSpec and Platform Version

InSpec 1.2.1
### Replication Case

Just name 2 custom resource nearly similar.
### Possible Solutions

Seems that this is caused internally when extending the Inspec.resou

[2016-10-19 18:49] daxgames commented on #936
@chris-rock - Did my previous answer your question?

[2016-10-19 19:57] chris-rock commented on #936
@daxgames we would love to fix this but we do not have a system to validate this against? is there an open source solution available that works similar?

[2016-10-19 23:43] Chandra-Allaka commented on #1193
Hi Chris,
Figured out an issue with the kitchen.yml, that I fixed. Sorry, I just forgot to remove the post later. Thanks for your time. Please consider this a non-issue.

[2016-10-19 23:43] #1193 closed, assigned to nobody

[2016-10-20 02:06] vjeffrey commented on #1227
I like this idea a lot. I played around with what it would look like to parse this into an array of urls/profile paths to send to the runner, it's nice and simple; straightforward.

[2016-10-20 14:02] stevendanna commented on #1230
Hi,

Would you mind sharing your reproduction case with us?  I've tried out a simple case similar to what you described but haven't been able to reproduce the issue yet.

Cheers,

Steven

[2016-10-20 16:57] martinisoft commented on #1226
Was just about to report this 👍

[2016-10-20 17:55] davidcpell opened #1234 "When testing 'command' resource, runner outputs anything after a space with the assertions"
### Description

I have a test that looks like this:

[code]

When I run the tests, the output looks like this:

[code]

Note that the final word in the command string (`status`) gets cut off from the title line and placed at the beginning of the actual test assertion.

Is this intended? I would've expected this:

[code]

...perhaps with quotation marks at the beginning and end. Notice the same be

[2016-10-20 18:02] chris-rock commented on #1234
Thanks @davidcpell we are working on improved reporting and rewrite the current CLI reported being based on our json output. This will fix it! It may take some weeks to roll that in

[2016-10-20 18:45] chris-rock opened #1235 "warn when overriding a core resource"
If users write custom profiles, they may overwrite core resources. Resources are scoped now, but it may lead to unexpected behavior. Therefore we should warn users if they decide to use the same name as a core resource e.g.

[code]

[2016-10-20 21:13] martinisoft commented on #1226
Is there any way I can help with fixing the link? I can see a gh-pages branch but not sure how I can contribute to that.

[2016-10-21 07:44] cjohannsen81 commented on #1230
Hey,

just validated the issue and that the same/identical resource class name is a problem. Here is an example:

class ExampleResource < Inspec.resource(1) do
 name 'host_test1'

class ExampleResource < Inspec.resource(1) do
 name 'host_test2'

Cheers
Christian

[2016-10-21 09:23] chris-rock opened #1236 "Run profiles from private supermarket"
We support private supermarket in profile dependencies via `inspec.yml`:

[code]

The issue is we cannot call those profiles from `inspec exec` directly.

**Option 1:**

[code]

Con: cannot mix public and private supermarket profiles

**Option 2:**

[code]

Aha! Link: https://chef.aha.io/features/SH-2197

[2016-10-21 09:23] chris-rock commented on #1236
cc @jeremymv2

[2016-10-21 10:19] stevendanna commented on #1230
Thanks. @cjohannsen81 and I had a quick chat.  The problem here is the class name being the same.  The `stack level too deep` error in the original report is a bit of a red herring as that was likely caused in the reporter or somewhere elsebecause of the large number of errors produced.  Inspec will load these resources and run the controls, but `host_test1` will essentially get overwritten with t

[2016-10-21 11:15] alexpop opened #1237 "Allow multiple profiles in a git repository"
At the moment, InSpec's dependency management allows only one profile per git repository. This allows tags to be used to version the profile in the repo.

This feature request wants the ability to store multiple profiles in a single repository, under a sub-directory or at root.

Reasons that come to my mind:
- per repo pricing
- grouping of rarely updated profiles

---

Berkshelf example:

[code]

[2016-10-21 11:28] chris-rock commented on #1237
This is a great idea. Instead of focusing on git, i would like to focus on a file structure. It should not matter if it is a local file structure or a git structure. It could look like:

[code]

Question:
- Do we allow more than one-layer nesting?
- we should allow to have the same structure in a tar
- How do I execute a profile then? `inspec exec -l to/path linux`?
- It should also work with meta

[2016-10-21 11:29] stevendanna commented on #1237
👍 Bundler/Gem work this way too.  Namely, bundler will search for gemspec's in subdirectories as well, we could do something similar with metadata.rb.

[2016-10-21 11:31] stevendanna commented on #1236
Maybe combine option 1 and option 2?  i.e. Use command line options if they are given, followed by  `.inspec/supermarket/config` if it exists, followed by public supermarket default.

[2016-10-21 12:00] chris-rock commented on #1236
It feels like we are addressing a similar problem as in https://github.com/chef/inspec/issues/1237 If we threat Supermarket server a profile location, and we run a profile, could use:

[code]

This would also allow us to do the following:

[code]