[2015-10-03 21:58] arlimus opened #65 "make all transport configurable and optional"
Use-case:
- only pull in dependencies that are required; enable minimal core library
- make sure transport layer is fully modular

[2015-10-05 11:51] chris-rock opened #71 "docker resources"
[code]

[2015-10-05 11:52] chris-rock opened #73 "resource integration tests"
extend current test suits to run resources tests against real machines

[2015-10-06 12:50] arlimus opened #81 "run docker backend in one exec loop"

[2015-10-06 13:13] arlimus opened #82 "add xml resource"
Support reading XML files via a resource

[2015-10-07 10:41] chris-rock opened #86 "improve package resource on windows"
The current package resource is reported to be very slow Windows:

[code]

This code should be improved: https://github.com/chef/inspec/blob/master/lib/resources/package.rb#L187-L209 and we should not require wmi

[2015-10-09 12:46] chris-rock opened #96 "ensure all resources do OS check"

[2015-10-12 13:56] chris-rock opened #107 "directory: add globbing"
the resource should cover cases like:

[code]

[2015-10-17 16:48] chris-rock opened #113 "Suse Support"

[2015-10-20 16:28] jamescott opened #120 "Some inconsistencies with naming across the resources"
# Configuration File Resources

Some of the resources have a `name` that includes `_config` (spelled out), whereas others are shortened to just `_conf`.

Ones that have `_config`:

inetd_config << suggest inetd_conf
parse_config
parse_config_file
ssh_config
sshd_config

_conf:
apache_conf
audit_daemon_conf << suggest auditd_conf
limits_conf
mysql_conf
ntp_conf
postgres_conf

Only two of them are t

[2015-10-20 16:40] chris-rock opened #121 "convert logindef values to integer if possible"
[code]

[2015-10-21 18:42] chris-rock opened #130 "update license"

[2015-10-22 05:52] jamescott commented on #120
Also add to potential resource renaming:

audit_daemon_rules => auditd_rules

I noticed also that the auditd_rules resource has the assignment_re matcher, suggest same rename => assign_regex

[2015-10-22 21:38] chris-rock opened #137 "verifiy input parameter of `user` resources"
[code]

should throw an error and fail the test

[2015-10-27 20:49] chris-rock commented on #120
`auditd_rules`, `inetd_conf` and `auditd_conf` are done

[2015-10-29 15:42] arlimus opened #166 "Readme: What is being installed?"
Explain what is going on in the install instruction, what is being installed, and what the user can expect at the end.

[2015-10-31 17:14] chris-rock opened #180 "add cla bot"

[2015-10-31 20:37] chris-rock opened #182 "inspec does not extract section name from test file header"

[2015-11-02 07:54] arlimus opened #187 "support legacy backend configuration calls (rspec/serverspec)"
[code]

[2015-11-02 07:59] arlimus opened #188 "Support the control keyword, synonymous to rule"

[2015-11-03 09:58] #130 closed, assigned to nobody

[2015-11-03 09:59] #73 closed, assigned to nobody

[2015-11-03 10:06] chris-rock commented on #180
It's added to the CLA bot now

[2015-11-03 10:06] #180 closed, assigned to nobody

[2015-11-03 16:19] danehammer commented on #187
Is the vision of inspec to be backwards compatible to serverspec tests?

[2015-11-03 18:49] aw-was-here opened #210 "document output and/or expected results"
All of the `inspec exec` examples provide no hints as to what the expected outcome should be.  For those who don't come from a Ruby universe, this is particularly confusing.  Is it just a pass/fail as a return value? Is it JSON? Is it unformatted text?  Is it rspec?  Is it TAP?

It seems extremely realistic that someone would want to hook this up to, say, Jenkins.  But with the lack of documentati

[2015-11-03 21:48] echohack opened #211 "Proper Changelog"
Can the maintainers please update the CHANGELOG.md to a good format? It also appears that the CHANGELOG.md is currently out of date -- the most current version on Rubygems is 0.9.1, and the changelog only covers to 0.8.0.

Here is a good way to do a changelog:
## Release 0.1.0 YYYY/MM/DD

Initial release of example_inspec
- We added a feature, here's a short description.
- We added another feature

[2015-11-04 21:40] tyler-ball opened #215 "`inspec check` on examples generates errors"
The command line description of `inspec check` says that it will verify the test structure.  Used on the example in this repo, however, returns warnings and errors:

[code]

We should clean up the built in examples so they pass `inspec check`

[2015-11-06 00:00] troyready opened #221 "Cannot run against remote WinRM SSL systems"
When I attempt to run a simple inspec file (just contains the port 80 should not not be open example from the readme), I get the following error:

[code]

I tried connecting directly with train though and I don't experience any errors:

[code]

(^ outputs my ip info as expected)

I've tried debugging this for a bit and didn't come up with anything conclusive. Would greatly appreciate any advice/di

[2015-11-06 14:59] chris-rock commented on #221
Hi @troyready Thanks for the request. Could you do me a favor and try to output the config that is sent to train. See https://github.com/chef/inspec/blob/master/lib/inspec/backend.rb#L16 and add a `p config` to output the parameters that are sent to train.

[2015-11-06 15:01] chris-rock commented on #211
@echohack Of course. Will do that. Thanks for bringing this up

[2015-11-06 17:08] troyready commented on #221
Sure:

[code]

[2015-11-07 12:04] stuartpreston opened #224 "OS resource requires requires a Symbol not a String (wrong in docs)"
Platform: Windows 10/ChefDK 0.9/InSpec 0.9 + Test Kitchen/AzureRM driver/Windows 2012 R2 Datacenter instance.

As per https://docs.chef.io/release/compliance_1-0/inspec_os.html

Input:

[code]

Outcome:

[code]

Correct usage appears to be:

[code]

Submitting a doc PR for this shortly.

[2015-11-09 21:22] zmalone opened #226 "service resource misbehaves on upstart hosts"
Some services, like ntp, don't show up in initctl on Ubuntu 14.04 and other pre-systemd platforms.  They are visible in /etc/init.d and via the service command, but are not in initctl.

Currently, inspec checks initctl for all service resources on pre-15.04 hosts, so it will fail to detect running ntp processes, even though they are present and enabled.

I'm not sure what the proper fix here is, p

[2015-11-09 22:06] chris-rock commented on #226
Hi @zmalone We used initctl due to the fact that Ubuntu recommends it http://upstart.ubuntu.com/cookbook/#initctl

Will double-check why this does not work with Ubuntu 14.04. Any special configuration?

[2015-11-09 22:18] zmalone commented on #226
It's unfortunately a default config.  I believe this is just Ubuntu being inconsistent, but it happens with a few Ubuntu services, so checking init.d and the service command is probably necessary.  This is a base Ubuntu 14.04 install:

<pre><code>vagrant@vm:~$ sudo apt-get install ntp
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following extra packa

[2015-11-09 23:08] chris-rock commented on #226
Problem confirmed. This happens to all services located in `/etc/init.d`. Those services are loaded by upstart, but are not shown in their tooling. On Ubuntu pre 15.04 we need to combine Upstart with SystemV service implementation.

[2015-11-09 23:15] #224 closed, assigned to nobody

[2015-11-09 23:21] chris-rock opened #227 "OS resource with string and symbol support"
Currently, the `os` resource only supports symbols. It should support strings as well. See #224

[2015-11-09 23:38] chris-rock commented on #221
@troyready That looks pretty good. Which Windows version are you using? Could you share the configuration that you have used for winrm?

[2015-11-09 23:39] chris-rock commented on #215
@tyler-ball thanks for highlighting this issue. Looks like some developers have not done their job well :-)

[2015-11-09 23:59] troyready commented on #221
Sure -- the one I've been testing is a Server 2012 system:

[code]

[2015-11-10 02:11] joshjordan opened #229 "Readme: differentiate from Serverspec"
Kudos for giving a nod to Serverspec.

It would be really helpful to explain why this is different from serverspec and why someone might choose to use inspec instead of serverspec.

[2015-11-10 08:44] chris-rock commented on #229
@joshjordan Does the [blog post](https://www.chef.io/blog/2015/11/04/the-road-to-inspec/) covers what you need?

[2015-11-10 18:25] ScottKinder opened #230 "file resource mode matcher does not display file permissions correctly on failure"
When a file does not match the intended mode value, the failure return does not list what the mode is in the typical fashion, i.e., 0644, 0777, etc. Instead, as in the following example, it returns that it should equal 416 but instead equals 420. I would expect it to return the file permissions.

[code]

[2015-11-11 03:01] troyready commented on #221
I've been testing this today a bit and I haven't been able to reproduce it in test-kitchen (everything works maddeningly fine). It seems that there's something specific to our domain-bound systems that's causing the issue. I'll keep investigating, but would of course appreciate any guidance in troubleshooting if you find the time.

[2015-11-11 21:26] chris-rock commented on #221
@troyready As I got you, the system is working well with train. Please try to run inspec in shell mode. Let's see what error you get there.

[code]

[2015-11-11 23:05] troyready commented on #221
Oh geez, this has ended up being user error, and it wasn't being displayed here because I was obfuscating the password being used. So sorry for bugging you with it.

It turned out that our password contained the string `$4%&` -- the ampersand was handled by putting quotes around the password, but the `$4` was just being dropped silently (and I didn't notice the discrepancy in the size of the passw

[2015-11-11 23:05] #221 closed, assigned to nobody

[2015-11-11 23:29] chris-rock commented on #221
Thanks for sharing the finding @troyready. I am very happy that you resolved the issue. Do not hesitate to add a new issue if you find something that does not work as expected.

[2015-11-12 14:19] arlimus opened #231 "Readme: Point to sources of documentation"
Users cannot currently easily find their way to documentation when starting here on github.

[2015-11-12 15:54] aiwilliams opened #232 "Custom resource not available, undefined local variable or method `gordon_config`"
I've followed the setup instructions... gem install, simple file with example GordonConfig. Through debugging I see that the resource is listed in the registry. However, I am seeing:

[code]

[2015-11-12 16:13] chris-rock commented on #232
@aiwilliams Where do you place the rb file of the resource?

[2015-11-12 16:33] aiwilliams commented on #232
@chris-rock I've placed it in the `test.rb` file, and I've tried it as a peer file and used `require_relative "gordon_config.rb"`.

[2015-11-12 17:57] erichs commented on #232
:+1: I get this also.

Given:

[code]

`inspec exec test.rb` produces:

[code]

Running with:

[code]

and

[code]

[2015-11-12 22:29] zmalone commented on #226
#228 appears to fix this. Thank you!

[2015-11-13 07:58] chris-rock commented on #230
@ScottKinder Thanks for reporting this! I agree with you, its hard to work with the current output. We need to optimize the output to print the permissions in a human readable way

[2015-11-13 08:02] chris-rock commented on #210
@aw-altiscale That is a great point. Thanks for reporting. Could you share your specific use case? I would be very interested in your expectation of the output.

I see different use cases that we need to cover in-depth:
- cli output
- json output (e.g. for jenkins)

Is there anything else I missed?

[2015-11-13 10:00] arlimus commented on #226
Should be fixed by #228 . Please reopen if the issue still persists.
Thank you @zmalone for reporting!

[2015-11-13 10:00] #226 closed, assigned to nobody

[2015-11-13 11:26] atomic111 opened #236 "os_env not working"
I used os_env but i don't get a result from it. I tested it in inspec shell

command('echo $PATH').stdout => "/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl\n"

vs

 os_env('PATH').content => nil

[2015-11-13 11:28] arlimus commented on #236
Thank you for reporting! Put up a MR to take care of this.

[2015-11-13 15:16] #236 closed, assigned to nobody

[2015-11-14 00:00] bradenwright commented on #229
Blog covered it for me.  I could see it being nice to have it in a number of bullet points for quick consumption.  But the blog was a good read, and I think covered my questions on the topic nicely.

[2015-11-14 15:04] joshjordan commented on #229
Its a great start. It definitely covers motivation, but I'm not sure if it is saying that inspec is meant to supercede Serverspec, or if there are use cases for both.

In any case, if the blog is the thing people should read, we should get a link to that in the readme. I would prefer something much more succinct, though. I don't think people are going to want to read the entire blog post to help t

[2015-11-14 15:46] jorritfolmer opened #238 "User resource doesn't handle group names with spaces"
On a Linux server that is joined to a Windows domain, users generaly are member of groups that contain spaces in their names. Eg "domain users". However, this currenly fails.

Test:

[code]

Output:

[code]

[2015-11-16 11:31] SteveLowe opened #239 "port resource does not work on CentOS"
When using port on CentOS, the following is logged

[code]

See https://github.com/chef/inspec/blob/master/lib/resources/port.rb#L26-L38

I think 'centos' should be in the family list for Linux

[2015-11-16 16:13] arlimus opened #240 "Support writing full tests in inspec shell"
At the moment it is not possible to start an `inspec shell` and paste either a `control` or a `describe` block and have it execute and report results.

I.e:

[code]

And then enter:

[code]

which will only result in:

[code]

The desired output should be:
1. A print of the execution using the default cli formatter, without the additonal profile context and version. i.e.:

[code]
2. The test shoul

[2015-11-16 20:29] chris-rock commented on #239
Thanks for reporting this @SteveLowe The PR #241 adds the missing CentOS support

[2015-11-16 21:01] chris-rock commented on #238
@jorritfolmer Thanks for reporting this! Could you do me a favor and share the result of `id jfolmer`

[2015-11-16 21:02] chris-rock commented on #232
I will add an example that demonstrates the use of custom resources within the next days

[2015-11-17 06:53] jorritfolmer commented on #238
Yes here it is:

[code]

[2015-11-17 11:45] #239 closed, assigned to nobody

[2015-11-17 16:16] willejs opened #242 "specify process supervision type in service resource"
The Inspec service resource determines the process supervision type based on os release version and uses a single process supervision type to check if a process is running, enabled etc.

Given many chef cookbooks use many different process supervison tools (init, upstart, runit, etc etc) It would be better if you could override the service_mgmt instance variable to specify the specific one for you

[2015-11-17 16:31] chris-rock commented on #242
@willejs The current approach was pragmatic and worked for most cases. e.g. the resource is not able to work properly in cases where you change the default init system.

I would like to have a default, but we should support an override. Ideas are welcome!

[2015-11-17 16:34] willejs commented on #242
@chris-rock I think supporting an override would be great.
On a side note, how does serverspec do this? does it just run the service command?
Id kindof prefer that option too.

[2015-11-19 13:11] arlimus opened #246 "Multiple computed calls to describe aren't registered"
As reported by @schisamo :

[code]

This will only register one describe call, not all 3.

[2015-11-19 13:30] #246 closed, assigned to nobody

[2015-11-19 16:12] chris-rock commented on #188
done

[2015-11-19 16:12] #188 closed, assigned to nobody

[2015-11-20 22:25] arlimus commented on #211
Solved in #250

[2015-11-20 22:25] #211 closed, assigned to nobody

[2015-11-23 14:01] alexpop opened #254 "registry_key needs to be case insensitive"
### Repro steps:

1) Take a Windows 2012r2 instance and run the following Powershell command:

[code]

2) Use this chef-client resource to set `NTLMMinServerSec` to the desired value:

[code]

3) Run the following Powershell command to retrieve the value of the registry key:

[code]

^ This shows that the chef-client `registry_key` resource found the entry and set the desired value. Observe the ca

[2015-11-23 15:46] #182 closed, assigned to nobody

[2015-11-24 09:38] chris-rock opened #256 "Port resource returns arrays"
process, pid and protocol for port all get compared to an array instead of string/number causing weirdness like this

[code]

Thanks for reporting Thomas Cate

[2015-11-24 14:16] #254 closed, assigned to nobody

[2015-11-24 19:01] #238 closed, assigned to nobody

[2015-11-25 08:56] chris-rock opened #260 "Better wording for check"
Documentation for inspec command `check`:

[code]

Documentation for inspec command `exec`:

[code]

What is the difference?

Reported by @alexmanly

[2015-11-25 09:33] chris-rock opened #261 "Support the -i switch for key files as per ssh"
Reported by @alexmanly

[2015-11-25 12:10] jcreedcmu commented on #261
https://github.com/chef/inspec/pull/262

[2015-11-25 13:43] #261 closed, assigned to nobody

[2015-11-25 18:41] erichs commented on #232
@chris-rock, thanks! I still get the above behavior on `0.9.5`, so I must be doing something wrong.

[2015-11-25 18:51] chris-rock commented on #232
This PR add a lot of documentation about profiles and adds an example with `gordon_config`: https://github.com/chef/inspec/pull/252/files

It does not cover your use case that loads the `gordon_config` explicitly. I will add a specific test case for your use case with relative loading. I find some time tomorrow to work on this bug...

[2015-11-26 19:06] atomic111 opened #266 "etc_group not implemented for centos"
1) /etc/group The `etc_group` resource is not supported on your OS.
     # Not yet implemented
     # /home/user/.gem/ruby/2.2.0/gems/inspec-0.9.2/lib/inspec/runner.rb:106

you can test it with "kitchen verify default-centos-64" in [chef-os-hardening](https://github.com/hardening-io/chef-os-hardening) project

[2015-11-26 19:18] chris-rock commented on #266
@atomic111 I can confirm this is a bug. Thank you very much for reporting

[2015-11-27 08:41] arlimus opened #267 "Replace the `pry... ` bits in inspec shell"
Basically make it look like this:

[code]

[2015-11-27 09:02] arlimus opened #268 "Add configuration of multiple targets"
... including importing targets from file

[2015-11-27 13:27] arlimus opened #271 "`include Inspec::DSL` anywhere"

[2015-11-27 15:21] chris-rock commented on #232
@erichs I confirm this bug. At this point of time, plugins only work with InSpec profiles as proposed in #252

[2015-11-30 15:14] arlimus opened #276 "Utils::FindFiles doesn't work"
https://gist.github.com/nathenharvey/7303c8dc3baaf2c09717

as repoterd by @nathenharvey , thank you!

[2015-11-30 15:26] arlimus commented on #232
@erichs @aiwilliams : Thank you for reporting this!

As @chris-rock suggested, we can handle it very well in a test profile, i.e.:

[code]

See the updated readme: https://github.com/chef/inspec/blob/profile-structure/docs/profiles.rst

Would that solve your problem?

I'm slightly hesitant to allowing resource definitions at any position in the code, as it may make debugging the code harder in the

[2015-11-30 15:35] chris-rock commented on #232
I'd like to add to @arlimus that I do not like my implementation of #274 Although its working, it comes with a lot of problems, that make it challenging to change the code in future. I would also prefer to remove the old way of extensions and support resource extensions via compliance profiles. They have a clear structure and allow us to introduce a clear separation of concerns.

[2015-11-30 16:18] erichs commented on #232
@arlimus @chris-rock, FWIW a directory structure convention for custom resources makes sense to me. :+1:

[2015-11-30 16:40] chris-rock commented on #232
I also prefer to go with #252

[2015-11-30 18:16] aiwilliams commented on #232
@arlimus @chris-rock I have no strong preference! I was just following [instructions](https://github.com/chef/inspec/blob/c4770d4ab0965b4271071e03e1f021e1bca680dd/README.md#custom-inspec-resources), which I did not understand to mean that I should put the file in a particular place. Thanks for working out a solution.

[2015-11-30 18:25] chris-rock commented on #232
@aiwilliams @erichs Thanks for the feedback. Then we decide against #274 and vote for #252. Would be great if you could try our the PR and provide some feedback to the current implementation of compliance profiles.

[2015-11-30 20:12] erichs commented on #232
@chris-rock: using the code @a9ab812, and given the contents of `/etc/gordon/config.yaml` are:

[code]

when executing:

[code]

Then I get:

[code]

[2015-11-30 20:23] chris-rock commented on #232
@erichs try to use the following `config.yaml`:

[code]

[2015-11-30 20:28] erichs commented on #232
Ah, thanks! @chris-rock, this appears to work fine.

[2015-11-30 20:29] chris-rock commented on #232
I agree that the default output of the `gordon_config` is not perfect.

[2015-11-30 21:25] aiwilliams commented on #232
I think I might be misunderstanding something in the new documentation. I have a project like this:

[code]

`bundle exec inspec exec app_server_spec.rb` works well. Then I want to have my own "resource", such as `http_response("http://someplace.com")`. When I read the docs in master, it is unclear what I am supposed to do to create my own "resource". When I read the docs in #252, and see the word

[2015-12-01 09:35] chris-rock commented on #256
I reviewed the implementation and the documentation. The challenge with the port resource is that is applies to all available ip addresses on the machine. From my point of view we should change the tests to reflect this behavior. This would look like the following:

[code]

In addition, we may think to extend the port variable with an IP parameter. This would enable us to just return one value ins

[2015-12-01 09:55] #266 closed, assigned to nobody

[2015-12-01 15:41] thomascate commented on #256
I like this change. Thinking about this, people are going to be concerned about what IP things are listening on. So this would solve for "Make sure MySQL is only listening on localhost" etc.

[2015-12-01 19:19] jcreedcmu opened #279 "Inspec hangs when executing some windows profiles against linux machine"
I'm not sure if this is representative of a deeper problem. In any case, if I put

[code]

in `/tmp/a.rb` and execute

[code]

where an ubuntu linux vm lives at `10.0.0.101`, then inspec appears to observe one test fail (i.e. I see an `F` appear on console) but then hangs. This hang doesn't occur if I delete either rule `foo` or rule `bar`, and it doesn't occur if I remove the `--sudo` flag.

[2015-12-01 19:44] jcreedcmu commented on #279
This appears to have been introduced by https://github.com/chef/inspec/commit/cd35d8232691674e22cfc8f25918f5788d69181c
(At least, I can't repro before that commit) so @chris-rock maybe you want to take a look at this.

[2015-12-01 19:53] chris-rock commented on #279
@jcreedcmu Thanks for highlighting. This is for sure an annoying bug. I have a look on this!

[2015-12-01 20:19] chris-rock commented on #232
@aiwilliams Thanks for bringing up this question. That means our documentation is not in a state that it should be.

Short answer to your question: Place `app_server_spec.rb` in a `controls` directory

I try to cover the wording. I will add this to the documentation as well.
- `resource` - an InSpec resource is an implementation of an InSpec extension to ease testing. e.g. `package` is an InSpec r

[2015-12-01 20:22] #260 closed, assigned to nobody

[2015-12-01 20:46] artem-sidorenko opened #280 "Support of linux mint or OS detection via distro families"
Linux Mint is a quite popular (1st place on [distrowatch](http://distrowatch.com/dwres.php?resource=popularity)) linux distro, which is based on Ubuntu LTS.

Obviously linuxmint sells itself in LSB as Mint:)

[code]

If I try to use inspec on Mint, I get following messages for service and package resources:

[code]

Software versions:

[code]

I talked with @arlimus today about that and he told me

[2015-12-01 21:00] chris-rock commented on #280
@artem-sidorenko I love the idea of using os families if possible. We already switched to `os.linux?`and `os.windows?` in multiple places. Some resources need to be adapted to the specific os, but those are the exception.

Could you do me one favor and add a mint vagrant box to our integration tests in https://github.com/chef/inspec/blob/master/test/integration/.kitchen.yml ?

[2015-12-01 21:17] artem-sidorenko commented on #280
@chris-rock I would do that if you could offer a hosting place for it:) really, its not a joke, I couldn't find any mint box with a stable long-term availability on the net. What about the idea to add to bento and host it in the same place like other boxes from Chef?

[2015-12-01 21:46] chris-rock commented on #280
@artem-sidorenko yeah try adding this to bento or just push the box directly to atlas.

[2015-12-02 04:09] aiwilliams commented on #232
Thanks @chris-rock, that is helpful. I think I was confused because my goal was to create a reusable resource, yet a discussion developed around reusable profiles. I just went back to master to review the documentation and it no longer discusses custom resources. I think I can close this Issue and assume there are forthcoming changes that will modify https://github.com/chef/inspec/blob/master/docs

[2015-12-02 04:09] #232 closed, assigned to nobody

[2015-12-02 05:36] artem-sidorenko commented on #280
@chris-rock I totally missed somehow that atlas is free now. #281 is there.

[2015-12-02 11:08] arlimus opened #282 "Support supports for resources"
Chris already started this and did most of the resource work. Support the actual mechanism in resources.

[2015-12-03 08:03] srenatus opened #284 "Allow for reading options from a file"
When I use the inspec CLI, it'd be nice to be able to pass the passwords (ssh for sshpass backend, sudo) by any means different from command line arguments.

Two options come to mind: using _environment variables_ or the process' _stdin_. The former seems less intrusive. ENV vars are passed on to child processes, but this may not be a problem here.

[2015-12-03 21:44] cheesesashimi opened #288 "Windows file matcher does not match existing files"
This may not be the most appropriate place for this, so my apologies in advance :).

I think the Windows file matcher in inspec is not working as intended. For some reason, it cannot match any file paths I provide. It appears to make no difference whether the files were put in place by Chef or if the files were already present on the Windows system under test.

I was able to verify that other matc

[2015-12-04 03:34] juliandunn commented on #280
@artem-sidorenko I'm sure [Bento](https://github.com/chef/bento) would also appreciate a PR with your definition for Mint!

[2015-12-04 08:10] srenatus opened #290 "Create missing resource unit tests"
[code]

[2015-12-04 10:34] srenatus opened #292 "JSON configuration"
As discussed in #285, inspec should be able to read its configuration from a JSON file.

This could be another (global) flag, `--json-config=FILE`, with special handling of `FILE=-` for reading from stdin.

(It's both fixing a bug (passes on command-line) and providing an enhancement...)

[2015-12-04 13:41] #276 closed, assigned to nobody

[2015-12-04 17:57] thomascate opened #295 "Processes resource doesn't handle user or state"
Testing on Ubuntu 14.04 and OSX 10.10.5 with the following code

Ubuntu

[code]

OSX

[code]

The process is found and list length returns correctly, however user and state return

[code]

[2015-12-04 17:59] thomascate commented on #295
Just a note, these tests were done with gem version 0.9.5.

[2015-12-04 21:05] paulmooring commented on #242
We're hitting this with some omnibus services (we have upstart, sysv and runit services).  I'd love to a see a system that allow me to be explicit when I want, something like:

[code]

[2015-12-04 21:17] docwhat commented on #288
In your example, it looks like `be_file` and `be_directory` work, but `exists` is broken. Which is weird.

I'm having a hard time following where the actual `file` object is located to figure out how it is actually trying to resolve `exist?`... I see [this bit of meta-programming](https://github.com/chef/inspec/blob/master/lib/resources/file.rb#L28-L37)... which actually looks suspicious, but I co

[2015-12-04 21:27] docwhat commented on #288
Ah-hah... the _real_ file object is in Train!

And [here's](https://github.com/chef/train/blob/master/lib/train/extras/windows_file.rb#L28-L30) the bug I think:

[code]

[2015-12-04 21:57] arlimus commented on #288
@docwhat Oh doh, great catch, that's an awkward oversight :grimacing: ... Happy to take a PR

@cheesesashimi Thank you for finding and reporting this!!

[2015-12-04 22:12] docwhat commented on #288
@arlimus You mean like that? :grinning:

[2015-12-06 12:02] chris-rock commented on #295
@thomascate Thanks for catching this bug!

[2015-12-07 01:07] arlimus opened #296 "Create RFC on profile structure"

[2015-12-07 10:10] arlimus commented on #288
@docwhat Spot on! :smile:

[2015-12-07 11:22] #227 closed, assigned to nobody

[2015-12-07 16:30] chris-rock opened #300 "Optimize InSpec detect"
We could enrich the `inspec detect` command with more valuable information. Currently we recieve the following output:

[code]

Especially the `family` does not reflect the power inspec offers with methods like `os.linux?` or `os.redhat?`. Therefore I propose to return an array for family. This returns all tags for an operating system like

[code]

We also should think about:
- Users are confused

[2015-12-07 20:41] arlimus commented on #300
all in all, love the idea!

Could we do:

[code]

[code]

Moreover, this includes a sub-issue which must be treated as well: not returning null/nil.
For this case, a suggestion for output would be:

[code]

and

[code]

[2015-12-07 20:53] arlimus commented on #300
btw: this will break chef-compliance :wink: we'll need to update that too

[2015-12-07 23:23] paulmakl opened #302 "PostgreSQL_Session Resource"
I am writing a new cookbook and validating its configuration with kitchen-inspec. I am using a postgres_session resource to make sure a postgresql parameter was set properly. I know that this can be done with the postgres_conf resource, but I am trying to make sure that the postgres_session resource works so that I can use it to run more complex queries against my database.

The following inspec t

[2015-12-08 10:32] #292 closed, assigned to srenatus

[2015-12-08 12:46] #295 closed, assigned to nobody

[2015-12-08 15:36] srenatus commented on #302
@paulmakl thanks for reporting this. Currently, there is [some magic in place](https://github.com/chef/inspec/blob/7a4e49120d4f1e7b45e74ad9cfbd54b8e64b0526/lib/resources/postgres_session.rb#L58-L62) that will prepare the output from `psql` for matching. So, to match what you're aiming at, you'd just write

[code]

because headers are already removed.

However, I had some trouble with this resource

[2015-12-08 16:27] mvdkleijn commented on #229
I'd also love to know how InSpec is positioned against http://infrataster.net/ which basically seems to have the same goal...

[2015-12-08 16:31] paulmakl commented on #302
Thank you for looking into this!

[2015-12-08 19:43] #256 closed, assigned to nobody

[2015-12-08 19:44] chris-rock opened #304 "port resource should add special handling for 0.0.0.0"
0.0.0.0:80 is reachable on, say, 192.168.1.1:80. Currently the port resource does not catch those cases.

[2015-12-08 19:44] chris-rock commented on #304
also see #303

[2015-12-09 15:23] larryebaum opened #305 "Create Help for Subcommands"
Commands and subcommands need help pages with examples...  include examples such as passing creds for ssh or winrm connections (inspec exec <testFile> -t user@host --password '<password>')

[2015-12-09 16:10] larryebaum opened #306 "Control Numbers and Display in Compliance GUI"
Numbering controls sequentially (eg., control 'cis-fs-2.1' do, control 'cis-fs-2.2' do, control 'cis-fs-2.10' do) results in out of order display in gui:

2.1
2.10
2.2

Naming controls with leading zeros (eg., 2.01, 2.02, 2.10) preserves the ordering
.
Suspect most authors won't insert leading zeros by default and if they do (assuming 2 digits) if control sets reach three digits, they'd need to 'r

[2015-12-09 22:55] artem-sidorenko commented on #280
@juliandunn mint has own installer and some effort is required to figure out additional options for preseed in order to get the installation fully automated with packer. Unfortunately I do not have time right now to figure out this options and prepare the packer template.

[2015-12-10 20:39] arlimus opened #307 "auditd_conf parameters should be case insensitive"
[code]

[2015-12-10 20:42] chris-rock commented on #307
+1

[2015-12-10 20:43] arlimus opened #308 "Configuration number comparisons"
When running against a configuration file with numbers, e.g. ssh_config with:

[code]

The test would have to be written:

[code]

However users also expect to be able to write:

[code]

It would be great to find a way to reconcile this and help users to write the test they expect.

[2015-12-10 20:47] arlimus opened #309 "resource/auditd_rules: update rule list format"
See: https://docs.chef.io/inspec_reference.html

[code]

it should be `always,exit`?

[2015-12-10 21:02] larryebaum opened #310 "Resource 'file' missing 'be_mounted.with'"
Code:
describe file('/run') do
  it { should be_mounted.with( :options => { :nodev => 'true' } ) }
end

Results in error:
Failure/Error: it { should be_mounted.with( :options => { :nodev => 'true' } ) }
    NoMethodError:
      undefined method `with' for #RSpec::Matchers::BuiltIn::BePredicate:0x007fa001d6e770

[2015-12-10 21:09] arlimus opened #311 "add services plural resource"
we have `service(xyz)` to query a specific service, but it would be great to get access to the list of all services and interact with it. This gives more flexibility to tests and let's us interactively debug what inspec is considering a valid service on the node.

[2015-12-10 22:07] arlimus opened #312 "rework auditd_rules resource"
A typical use-case will have multiple rules listed. If we can find a better matcher than checking for a regex and also making giving the user nice output if the rule isn't found in the list. Let's find real-life LIST_RULES examples and use them for our docs. The current format may lead to confusion.

[2015-12-11 12:09] #288 closed, assigned to chris-rock

[2015-12-11 12:10] chris-rock commented on #288
Will work with the next train and inspec release

[2015-12-11 13:54] #267 closed, assigned to arlimus

[2015-12-11 16:10] chris-rock opened #317 "document all custom RSpec matcher"

[2015-12-11 16:44] #279 closed, assigned to chris-rock

[2015-12-11 17:00] chris-rock commented on #307
With the latest PR #318 it is possible to write

[code]

[2015-12-11 17:00] #307 closed, assigned to nobody

[2015-12-11 17:52] chris-rock commented on #308
with #318 it is possible to write:

[code]

[2015-12-11 17:52] #308 closed, assigned to nobody

[2015-12-11 17:54] chris-rock commented on #305
@larryebaum If I got you right, you would like to have some connectivity examples in our documentation, right?

[2015-12-11 17:58] chris-rock commented on #121
This can be done via

[code]

[2015-12-11 17:58] #121 closed, assigned to nobody

[2015-12-11 18:00] chris-rock commented on #284
fixed by #293

[2015-12-11 18:00] #284 closed, assigned to srenatus

[2015-12-15 16:49] larryebaum opened #322 "Resource registry_key { should_not exist } unavailable"
The following code fails as it isn't supported; it is necessary as in many cases we want to ensure that either a key doesn't exist but in the case that if it does, that it matches a particular value. The former isn't possible whereas the latter is.

[code]

[2015-12-15 16:53] chris-rock commented on #322
We should have an integration test for this bug as well. Thanks @larryebaum for reporting this.

[2015-12-16 08:03] graf0 opened #323 "not working under windows, installed from gem"
- I installed inpsec from gem
- I ran (from privileged powershell) command: inspec detect
- I've got:

[code]
- then I've created file test.rb with content (from inspec doc):

[code]
- I ran: inspec exec test.rb
- I've got:

[code]

I don't know, and couldn't find how to make it work :(

windows version 7 x64,  ruby 2.0.0p645 32-bit, inspec gem 0.9.6

[2015-12-16 08:12] graf0 commented on #323
Same situation after trying ruby 2.2.3 - both: 32-bit and 64-bit version

[2015-12-16 15:56] thomascate opened #325 "add ipv6 iptables resource"
Currently there is no ip6tables resource, or flag on iptables to look at ip6tables for ipv6 rules.

[2015-12-17 11:16] srenatus commented on #230
@ScottKinder With #324, you can now write your example as follows:

[code]

...and get the output in the convenient octal format, too. What do you think, workable solution? :wink:

[2015-12-21 14:24] arlimus commented on #230
Please reopen if this still persists in the latest release

[2015-12-21 14:24] #230 closed, assigned to nobody

[2015-12-21 20:40] geerzo commented on #323
I have a similar problem on Windows through Test Kitchen via the Chef DK 0.10.0. The os object doesn't seem to be functioning properly.

The following commands all return false.

puts os.redhat?
puts os.debian?
puts os.suse?
puts os.bsd?
puts os.solaris?
puts os.linux?
puts os.unix?
puts os.windows?

[2015-12-22 14:21] arlimus commented on #215
Working points for this issue are:
- [x] create tests for `inspec check` (https://github.com/chef/inspec/pull/330)
- [x] make checks work with metadata correctly (they are read independently in two places) (https://github.com/chef/inspec/pull/330)
- [x] make checks ignore normal `describe` blocks, i.e. non `control` statements (https://github.com/chef/inspec/pull/332)

[2015-12-23 10:17] arlimus commented on #215
The last few errors in this field (the definition of `depends` and the ID structure in `owner/project`) will change in https://github.com/chef/inspec/pull/252 .

[2015-12-23 10:48] #215 closed, assigned to arlimus

[2015-12-28 11:38] arlimus opened #334 "Resolve open points from #252"
The MR https://github.com/chef/inspec/pull/252 left a few things open:
- [x] add tests for `inspec archive` => https://github.com/chef/inspec/blob/master/test/functional/inspec_archive_test.rb
- [x] make the `.git` suffix in github optional
- [x] support all described compression formats for reading profiles (xz, bzip2) ==> changed to only support zip and tar.gz for now

[2015-12-28 12:42] arlimus opened #335 "make the default logger readable"
Especially for `inspec check` and similar. Try to avoid

[code]

and turn it into a colorful ascii.

[2015-12-28 21:11] chris-rock commented on #323
@graf0 Thanks you very much for your feedback. As you figured out, InSpec does not work properly with local mode on Windows. Currently InSpec only works well if used via WinRM. The problem is located in the os-family detection in https://github.com/chef/train/blob/master/lib/train/extras/os_common.rb#L90. I started working on a fix and got this working on Windows 10. We run some extra tests with W

[2015-12-28 21:13] chris-rock commented on #323
@geerzo I assume this is a different issue, since the detection for Windows is working via WinRM. Which gem versions of `inspec` and `kitchen-inspec` are you using? Could you share your `gem list`?

[2015-12-28 21:16] #296 closed, assigned to chris-rock

[2015-12-29 08:44] coderanger opened #336 "HTTP request resource"
As `kitchen-inspec` runs remotely (unlike `busser-serverspec`) any tests using an HTTP client (e.g. `Net::HTTP`) to test HTTP responses on localhost will no longer work. This should be reworked into some kind of `http_request` resource that works in both local and remote execution.

[2015-12-29 08:45] coderanger commented on #336
This might be best handled via a new operation in train.

[2015-12-29 08:53] chris-rock commented on #336
Hi @coderanger Thanks for bringing up this topic. We are thinking about this for a while, especially a way to capture the abstraction right. Current resources are expected to run on the specific machine that inspec targets. A `http` resource works remotely too. This may confuse users.

I would love to understand your usecase better. Could you share the way you use `Net::HTTP` currently?

[2015-12-29 09:04] coderanger commented on #336
One of my simpler examples where I only use the response body: https://github.com/poise/poise-service/blob/master/test/integration/default/serverspec/mixin_spec.rb#L30

More complex examples including checking response status and a multi-stage get/post/get test: https://github.com/poise/application_examples/blob/master/test/integration/dpaste/serverspec/dpaste_spec.rb

The first seems pretty easy

[2015-12-29 09:09] coderanger commented on #336
Overall the idea is being able to make a request against localhost no matter which mode inspec is running in. If remote, it should serialize the response and send to back over the transport with the body, status, and response headers.

[2015-12-29 12:45] chris-rock commented on #323
The PR https://github.com/chef/train/pull/43 fixes this issues mentioned by @graf0 . To explain the issues:
Train detected Windows properly on local mode via https://github.com/chef/train/blob/master/lib/train/transports/local_os.rb#L39. Afterwards train tried to detect the windows version with our detection script: https://github.com/chef/train/blob/master/lib/train/extras/os_detect_windows.rb#L5

[2015-12-29 19:35] coderanger commented on #336
Spent some more time thinking about this last night. The cleanest solution is probably to run the locally with Net::HTTP for local, open an SSH tunnel for ssh (and then run locally as before), and to use powershell and then serialize the response for winrm. Not sure what would be best for the docker transport.

[2015-12-29 22:02] willejs opened #338 "Reuse test suites using shared_examples or similar"
Currently im copy pasting code across multiple suites, would it be possible to do shared_examples, or some other method to share code? or use require_relative perhaps?

[2015-12-30 09:26] chris-rock commented on #306
Will be solved in Chef Compliance

[2015-12-30 09:26] #306 closed, assigned to nobody

[2015-12-30 09:34] chris-rock commented on #336
@coderanger Interesting use case. In your case you checked `localhost` only. Is your idea to verify that a service is up and running?

From an implementation point of view: In case we would allow to check http resources, we could start with offering a new resource for normal urls aka `http('http://example.com')` that provides all the features you need.

To implement `localhost` will be interesting

[2015-12-30 09:37] chris-rock commented on #338
@willejs Is your use-case reflected in this issue: https://github.com/chef/kitchen-inspec/issues/25 ?

[2015-12-30 09:58] willejs commented on #338
Ah I dont think so @chris-rock.
I currently am testing a consul cluster, and have 3 nodes each in a suite, i want to run the same tests on these three suites, and not have to copy paste the code. I tried to symlink, relative_require and other tricks with no luck. Any suggestions?

[2015-12-30 10:33] chris-rock commented on #338
If I got you right, you are targeting production nodes instead of a cluster running via test-kitchen. Are you running inspec locally on each machine?

Why not use our new profile structure: https://github.com/chef/inspec/blob/master/docs/profiles.rst that will be released with the next inspec release. In combination with inspec`s remote functionality, you could test your cluster from your workstat

[2015-12-30 10:39] chris-rock commented on #338
You could also use public shared test profiles:
`inspec exec https://github.com/chris-rock/inspec-openstack-security.git`. This will load the tests directly from github at execution time.

[2015-12-31 11:38] arlimus commented on #300
Great update, cheers @chris-rock !

[2015-12-31 12:02] chris-rock opened #343 "Check on archives is broken"
Check works on directories:

[code]

Generate an archive:

[code]

But check does not work on archives anymore

[code]

[2016-01-03 08:28] #282 closed, assigned to arlimus

[2016-01-03 08:29] arlimus commented on #323
Train 0.9.3 has been released and fixes this.
Please reopen this ticket if the issue persists.

[2016-01-03 08:29] #323 closed, assigned to chris-rock

[2016-01-04 02:41] #310 closed, assigned to chris-rock

[2016-01-04 20:54] geerzo opened #346 "Windows 2008 isn't being detected."
Split out from #323

I have a similar problem on Windows through Test Kitchen via the Chef DK 0.10.0. The os object doesn't seem to be functioning properly.

The following commands all return false.

puts os.redhat?
puts os.debian?
puts os.suse?
puts os.bsd?
puts os.solaris?
puts os.linux?
puts os.unix?
puts os.windows?

Below is the gem list from running `chef gem list`. There are definitely outd

[2016-01-06 05:50] srenatus opened #349 "Logging in profile processing"
With #347, it turns out that using `inspec check` on a profile (path) that has an inspec.yml with the undocumented old-style

[code]

[this line](https://github.com/chef/inspec/pull/347/files#diff-0bdee087faa99fbed7459cc5302e01efR81) is not actually output. Somewhere in the call chain, something may be wrong with passing the `logger` argument.

[2016-01-06 09:59] chris-rock commented on #346
@geerzo Windows detections was only solved within the latest 0.9.8 release, which will be released within the next days. Once it is released, you get this installed via `chef gem install inspec`. Afterwards, you should see inspec version 0.9.8 in that list.

[2016-01-06 15:53] geerzo commented on #346
Thanks @chris-rock. I'll give it a shot when it comes out.

[2016-01-07 21:10] srenatus opened #351 "Inspec doesn't read controls"
What used to be

[code]

is now

[code]

This is wrong.

[2016-01-08 21:50] arothian opened #353 "Sharing custom resources?"
I see that you can add your custom resources to a libraries folder within a profile, but is there a way to include custom resources provided by another gem? It seems like you should be able to build up a library of custom resources, publish as a gem, and then include in a variety of inspec situations.

[2016-01-11 05:11] chris-rock opened #354 "supports does not mark resources as skipped"
If a profile uses

[code]

All rules are ignored by inspect before running. While this is correct, the expected output is a skipped rule, instead of no rule execution.

[2016-01-11 05:14] #351 closed, assigned to nobody

[2016-01-11 05:21] chris-rock commented on #353
@arothian At this moment, InSpec does not support this addition of global resource from outside of the InSpec gem. We are thinking about an extension system. Could you share your use case?

[2016-01-11 13:52] arothian commented on #353
@chris-rock thanks for the reply. I realize this is outside the original design/use for inspec, but I'd like to be able to develop resources that interact with AWS infrastructure to do some validation/testing. For example, it would be nice to be able to write controls that target AWS resources such as security groups, IAM roles/policies, VPC routing, etc. These inspec resources would just run with

[2016-01-11 19:47] chris-rock commented on #346
@geerzo We just pushed the latest version. We may used some powershell scripts that run on Win 2012 only. We plan to add more integration tests for Windows. Let us know if you run into any issues

[2016-01-11 20:30] geerzo commented on #346
Still having problems. Here is my spec file

[code]

Here are the results

[code]

[2016-01-11 23:40] chris-rock commented on #346
You are running this locally right?

[2016-01-12 16:48] geerzo commented on #346
I'm running using test-kitchen...so I guess the answer is no. Looking at the VM spun up by kitchen, it doesn't even have the inspec gem on it at all.

[2016-01-12 18:30] chris-rock commented on #346
Got you. `kitchen-inspec` uses winrm connection to the windows server and does not require to install ruby on the Windows machine. We need to have a look, why Windows 2008 is not detected properly. Do you have a publicly available Windows 2008 machine that I can use for testing?

[2016-01-12 19:05] geerzo commented on #346
I don't have a publicly available one. But I used this packer repo to build mine. https://github.com/joefitzgerald/packer-windows

FYI - Windows updates take up to 8 hours so that variable needs to be tweaked potentially. Maybe you can turn them off though.

[2016-01-13 19:11] arlimus opened #358 "Clarify `impact` of controls"
At the moment `impact` is defined as a number from 0 - 1. A couple of things have come up that should be solved (either by implementing, rejecting, or pushing them):
- [x] ~Define impact via names, e.g. `impact critical`.~ This will become a separate RFC!
- [x] Define what impact terms are associated with impact ranges, e.g. 0 - 0.3 minor, 0.3 - 0.7 major, 0.7 - 1.0 critical ==> this is now docume

[2016-01-14 01:40] arothian commented on #353
@chris-rock So I dug into the code a little but and discovered a working method. If you define a file in your libraries folder of a profile, you can use `require 'yourresourcesgem'` to load a gem that just has other inspec resources. This seems to work just fine. Not sure if you want to close this out or document the 'feature'.

[2016-01-14 04:27] chris-rock commented on #353
@arothian Thanks for sharing the use-case. We are currently thinking about a proper plugin system, that would support your use case. One core design goal is to make make profiles portable.

Your approach is great, but requires the gem to be available on the running machine beforehand, which may leads to problems. Therefore we cannot support your solution officially yet.

I mark your issue as a fea

[2016-01-14 05:31] chris-rock opened #360 "Looks like supports is ignored from tar files"
I run the example profile on Mac, where the `inspec.yml` contains

[code]

The tests are not executed:

[code]

If I generate an archive with `inspec archive`, the tests are executed:

[code]

This also highlights the importance for #354. Otherwise the user is not able to track down, why tests are not executed.

[2016-01-14 16:37] hack2learn opened #362 "run tests as a different user then the ssh login user"
Is there a way that i can execute a test on a remote machine with sudo command or switch to a given user?

For example our postgresql configs and folders are all owned by postgres user without read rights for other users.
To perform those tests it would be nice if we could switch to the postgres user and execute the tests.

[2016-01-14 23:00] chris-rock commented on #346
Thanks for sharing this. We are currently working on appveyor integration to make windows testing a lot easier for each PR. I apologize for the delay.

[2016-01-15 05:26] chris-rock commented on #322
solved with #364 please reopen if this stays a problem after this release

[2016-01-15 05:26] #322 closed, assigned to chris-rock

[2016-01-19 21:37] chris-rock opened #373 "security_policy is not returning the right value"
[code]

[2016-01-20 11:44] arthurbarr opened #374 "Specify non-default package systems"
I have a case where I am using RPMs on Ubuntu.  The `package` resource always uses the default package type for the OS, which in this case is apt/deb.  It would be useful if there were a way of overriding this (like `yum_package`).

[2016-01-20 13:00] srenatus commented on #374
Great idea. :+1:

We're working on a similar enhancement for services in #242. (This one can then be handled in an analogous way.)

[2016-01-20 21:22] gsandie opened #377 "How to access the impact of a test failure?"
Sorry if this isn't the right place to ask.

I'm looking to implement inspec and been working with the cli to perform some initial testing. I can see that when I write tests with controls and impact the json summary (via `inspec json .` in my test directory) will display the rules with their impact. When I run the tests via `inspect exec` I don't see the impact of failing checks.

I've experimente

[2016-01-21 10:25] chris-rock commented on #362
@hack2learn Sorry, that I missed your issue.

Currently, you have two ways:
- you can pass sudo options like `-u`
- add a public key to the postgres user

[code]

[2016-01-21 10:31] chris-rock commented on #377
@gsandie Would love to hear more about the use case that you are trying to tackle.

Since we use RSpec under the hood as executor, we are somehow limited with the features that RSpec offers. We are thinking a lot about improvements. The current way would be to combine the json output with the test output.

[2016-01-21 12:35] #242 closed, assigned to nobody

[2016-01-21 12:41] srenatus commented on #309
Actually, [our mock](https://github.com/chef/inspec/blob/master/test/unit/mock/cmd/auditctl) does not at all resemble what CentOS 7.1. `auditctl -l` returns:

[code]

[2016-01-21 13:43] srenatus commented on #309
https://lists.fedorahosted.org/pipermail/scap-security-guide/2014-October/006237.html This is how/when it happened.

[2016-01-21 13:53] gsandie commented on #377
@chris-rock Thanks for the feedback.

I was looking at how we can integrate with our internal tools. So we could run the tests against the infrastructure and if there are any failures we can alert with the control and it's impact. We'd also have the information available on a dashboard.

[2016-01-21 14:00] srenatus commented on #309
[code]

Looks like the old syntax is gone. auditd_rules needs an update.

[2016-01-21 14:04] username-is-already-taken2 opened #383 "Windows OS Detection"
Hi there

This might be related to issue #346 but I'm finding that the OS on my workstation is not being detected correctly

[code]

I'm using Windows 10 Version 1511 (OS Build 10586.63)

Thanks

Gary

[2016-01-21 14:24] username-is-already-taken2 commented on #383
I think this issue is affecting my ability to write and test certain resources

I've written a basic check to test the state of a service.

[code]

Yet I get this

[code]

Do you know if there is anyway I can force it (maybe within the inspec shell?) to windows?

Thanks

Gary

[2016-01-21 15:30] chris-rock commented on #383
@username-is-already-taken2 thanks for reporting this. This has high-priority for the next release

[2016-01-21 15:31] chris-rock opened #384 "Support file uris"
InSpec should understand file uris as a target like:

[code]

[2016-01-22 15:17] srenatus commented on #312
Currently, the resource just exposes the lines it reads. The user experience would be way better if this supported something handier.

I'd also propose renaming the resource to `audit`, e.g.:

[code]

[2016-01-24 01:17] ryancurrah commented on #229
+1 would like to know if inspec supersedes sever spec.

[2016-01-24 15:36] chris-rock commented on #383
@username-is-already-taken2 I cannot error where InSpec is not able to detect the OS.

[code]

Could you paste the inspec version you are using?

[2016-01-25 14:19] chris-rock commented on #383
In combination with a [fix in train](https://github.com/chef/train/pull/57), this works on my machine now.

[code]

Please ensure you have `inspec 0.9.9` and `train 0.9.4` installed, otherwise it does not work properly if executed locally. The execution via WinRM was not affected.

[2016-01-25 14:19] #383 closed, assigned to chris-rock

[2016-01-25 14:19] chris-rock commented on #383
username-is-already-taken2 Please reopen if this is still an issue

[2016-01-25 14:20] chris-rock commented on #373
Cannot reproduce this on Windows 2012 R2. Please reopen if this is still an issue.

[2016-01-25 14:20] #373 closed, assigned to chris-rock

[2016-01-25 14:33] chris-rock commented on #346
@geerzo we improved the windows support a lot during the last release cycle, especially if InSpec is used locally on Windows. We started adding continuous Windows tests in appveyor for InSpec and Train to ensure better quality for Windows. Unfortunately we could not fix all issues for Windows 2008 this week, but we continue working on this topic during the coming week.

[2016-01-25 14:40] chris-rock commented on #362
@hack2learn does that solve your problem?

[2016-01-25 14:56] hack2learn commented on #362
Hi Chris,

Didn't see the sudo option before. This will definitely solve the issue!
Thank you!

[2016-01-25 16:07] chris-rock commented on #362
@hack2learn That sounds great. I am going to close this issue. Please reopen if this does not solve your need.

[2016-01-25 16:07] #362 closed, assigned to nobody

[2016-01-25 16:14] jzohrab commented on #231
@arlimus - where did you have trouble finding docs?  I can open a PR with you if you explain where the trouble was.

[2016-01-25 16:42] chris-rock commented on #302
@paulmakl This should be fixed with #381 If you still experience issues, please let us know.

[2016-01-25 16:42] #302 closed, assigned to nobody

[2016-01-25 16:55] geerzo commented on #346
@chris-rock Thanks for the update. Let me know what I can do to help.

[2016-01-26 09:14] srenatus commented on #312
Since there can be multiple rules relating to one syscall (or one file), I wonder what a good strategy for writing tests would be.

For example, two rules for `open`:

[code]

Now e.g. `audit.syscall('open').rules` could be

[code]

but then we cannot use RSpec's [default `include` matcher](https://www.relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/include-matcher), because it works

[2016-01-26 10:57] arlimus commented on #312
I fully agree with your assessment of multiple rules, especially the part about the include matcher and similar ones. We should find a better way to expose those. I also think it's conceptually similar to other areas that have multiple very similar looking lines (e.g. iptables to a limited degree).

Let's consider use-cases:
- User wants to test if rules for syscall open exist; that could be done

[2016-01-27 16:10] srenatus commented on #349
So with #347, `inspec check` never hits "that line". That said, `inspec exec` does, and there's no output. So this issue is still valid, I'm investigating.

[2016-01-27 16:55] #349 closed, assigned to srenatus

[2016-01-27 23:26] sean-horn opened #393 "Improve SSH Sudo Inspec Checks Error Output"
The results are different for the `file` inspec resource when running identical checks against identical systems when the failing system happens to be remote.

Most/all of the checks one would reasonably do against a remote sshd/ssh config are similarly afflicted.
## Versions

[code]
## Testing

If I do an inspec run local to the compliance server with the [1] test.rb file shown below, I get a suc

[2016-01-28 03:18] jzohrab opened #394 "Create docs for using InSpec in Chef for newcomers"
I've run through the example but am having some trouble getting this working in a toy Chef project.  I'm not sure what Gems are really required, and what each does.  I don't use Bundler much.  There seems to be much to know to get this running, would be nice to have a short intro for people like me getting started out using it, so I can get up and running quickly.  This example should include:
- w

[2016-01-28 10:06] alexpop commented on #393
Hi Sean, thanks for the bug report. Did you have any test succeed on that remote system?

I tried to reproduce this issue with your `test.rb` from the same source machine against a local CentOS 6.7 VM and an ec2 RHEL 7.2 instance. No issue. Here's what I've got:

[code]

I'm trying with a RHEL 6 in ec2 now...

[2016-01-28 10:18] alexpop commented on #393
RHEL 6 remote instance:

[code]

Can you run these two commands on your compliance server?

[code]

[2016-01-28 10:25] alexpop commented on #393
Please also attach the `/etc/sudoers`file and `/etc/sudoers.d/` contents from `rhel6-compliance1`

[2016-01-28 15:46] chris-rock commented on #393
@sean-horn you are using "inspec exec test.rb -t ssh://dev-lxc@rhel6-compliance1 -i /root/dev/rhel6keypair.pem". It may be possible that the user `dev-lxc` has no access to `/etc/ssh/ssh_config`. Try the `--sudo` option.

To verify that everything works without inspec:

[code]

If you receive a permission error, the user is not able to read the file. If that is the case we need to improve our erro

[2016-01-28 15:51] chris-rock commented on #394
Awesome idea @jzohrab
Maybe the best way is to add a tutorial to our repo. Topics that come into my mind:
- Installation
  - standalone
  - with Chef DK
- cookbook tests with test-kitchen
  - create a new cookbook
  - add inspec tests
  - run test-kitchen
- use inspec cli
  - run commands
  - use inspec shell
- best practices
  - how to write tests
  - test and compliance controls
  - expect vs sh

[2016-01-28 19:08] sean-horn commented on #393
On the rhel-compliance1 target, I see the following

[code]

Ahhh, thanks for the tip. The dev-lxc user is denied read access to /etc/ssh/ssh_config, but should be able to sudo and cannot.

When I configure sudo with no password in the Compliance console, the system is unable to connect and gives the message

[code]

The following attached files should show that dev-lxc ought to be able to sudo
[s

[2016-01-28 21:10] arlimus opened #397 "remove leftover OS check methods from the file resource"
this is dupication of code which is exposed as the file's interface; i.e. things to maintain

[2016-01-28 22:40] chris-rock commented on #346
@geerzo Okay, I analyzed the problem and I found the root cause. Our version detection uses features that require at least Powershell 3.

At this point of time I recommend to install the newer [Windows Management Framework](http://social.technet.microsoft.com/wiki/contents/articles/20623.step-by-step-upgrading-the-powershell-version-4-on-2008-r2.aspx). Could you try that @geerzo in you vbox?

Curr

[2016-02-01 08:47] #397 closed, assigned to nobody

[2016-02-01 15:41] chris-rock opened #406 "Integration test for apache config"
addresses issues mentioned in https://github.com/chef/kitchen-inspec/issues/37

[2016-02-02 02:22] conorsch commented on #360
Running into this issue with a Linux host as well. Yes, the `inspec.yml` file declares support for Linux. I'm also seeing debug output about `No controls or tests were defined`, even though they're clearly there.

[code]

Unfortunately, even running against the archive doesn't solve the problem—at least not when I'm using SSH:

[code]

For both the archive and the local directory, running them wit

[2016-02-02 13:47] chris-rock opened #408 "InSpec check crashes on tarball"
[code]

[2016-02-02 21:24] chris-rock opened #410 "generate profile CLI command"
We should make a generate profile command to ease the initial setup of the folder structure like `inspec.yml`, `controls`, and a sample test `test.rb`

[2016-02-03 03:07] arothian commented on #377
To be honest, I expected some of the output to include the control information. I don't quite get the usefulness of the control related meta-data without it other than to point at the test suite to provide evidence that various controls are being checked.

I think it makes sense to have some sort of report that could be generated when running exec that ties back to the control metadata.

[2016-02-03 09:19] srenatus commented on #408
Hm. `Inspec::Runner#add_tests` does use the target helpers, but all of Inspec::Profile expects to talk to files present.

[2016-02-03 10:25] chris-rock commented on #377
@arothian Yes, I agree, again this has to do with some internals of RSpec. We want to fix this, but it is not so easy to do. For now, I recommend to use Chef Compliance to generate a report.

[2016-02-03 12:33] scarolan opened #412 "SSHv1 falsely detected when not enabled"
This is the setting in sshd_config, commented out because it's the default:

[code]

This throws a warning about sshv1 until you uncomment that line and explicitly specify SSHv2.  Perhaps we can find a more accurate way to detect whether sshv1 is really enabled or not.

[2016-02-03 18:51] mhedgpeth opened #414 "Why is the yml file required?"
I'm learning the code and the tool and wanted to start out with a hello_world_spec.rb. When I did that, I got an error that the metadata.rb is not there. Looking at the code, it's really looking for a yml file. I suggest that this should be changed.

This exposes what I see to be a major architectural question: is inspec a testing framework that can be cataloged within a compliance language or is

[2016-02-03 19:01] chris-rock commented on #414
@mhedgpeth you describe inspec design. Therefore perfect match :+1:

Double-check that you have the latest version installed

[code]

## Step 1:

[code]

## Step 2:

Adapt the test and re-run it with inspec `inspec exec port_test.rb`

[code]

[2016-02-03 19:11] chris-rock commented on #414
## Step 3

[code]

Now you are able to upload the profile to Chef Compliance.

[2016-02-03 19:11] chris-rock commented on #414
Is that what you are thinking of? I would love to understand what went wrong, because that should not happen.

[2016-02-03 19:17] chris-rock commented on #412
That is a good discussion. We can have different opinions here:
- the test is right, because `Protocol 2` is not mentioned within the config file
- the test is wrong, because `Protocol 2` is the default for the current openssh package

For reference, CIS is recommending the following test:

[code]

[2016-02-03 19:20] chris-rock commented on #412
Just looked up the defaults for ssh:

[code]

Therefore the test is actually right, because Version 1 should not be used anymore. It still allows to run a fallback.

The real question: Should `ssh_config` know the defaults for each specific operation system package?

[2016-02-03 19:22] chris-rock commented on #412
My current opinion: It should not know the defaults, because that is to much magic. I am open for other opinions.

[2016-02-03 20:08] mhedgpeth commented on #414
Chris, it was a pathing problem. I was using the ChefDK version but within the path of the code I pulled from master and made that mistake. Sorry about that. The steps above is exactly what I'm looking for and what Dominic and I were talking about at CfgMgmtCamp on Tuesday. I'm really excited about this tool.

[2016-02-03 20:38] chris-rock commented on #414
anything we can do to improve the situation with ChefDK?

[2016-02-03 20:44] mhedgpeth commented on #414
Oh you're fine, it was just a noob move on my part.

[2016-02-03 20:46] chris-rock commented on #414
@mhedgpeth Thanks for reporting, if you experience any further issues, please keep us posted.

[2016-02-03 20:46] #414 closed, assigned to nobody

[2016-02-03 21:36] arlimus commented on #414
Btw: I find the whole requirement on `inspec.yml` an interesting topic. If supporting inspec without that comes up as a requirement anywhere, please open an issue and let us know exactly you're doing.

Thank you @chris-rock for that awesome help! :+1:

[2016-02-03 22:11] mhedgpeth commented on #414
See my attempts here: https://github.com/mhedgpeth/inspec/tree/better_noob_documentation

I think the problem is that you really have 3 main things happening and the flow isn't easy and it's packed into one executable.
1. Infrastructure tests - I run with inspec test . in a folder where my tests are
2. Compliance tests - I run the same command but this is for the compliance/security workflow, not

[2016-02-04 07:52] #408 closed, assigned to nobody

[2016-02-04 09:04] srenatus commented on #343
Duplicate #408.

[2016-02-04 09:04] #343 closed, assigned to chris-rock

[2016-02-04 18:40] fletchowns opened #417 "be_enabled for upstart service on RHEL 6 not working correctly"
I'm running CentOS 6.5 with inspec <x>

I run uwsgi as an upstart service. I had the following inspec test:

[code]

[code]

Apparently it uses [initctl show-config](https://github.com/chef/inspec/blob/07936e965dccd83d99673538142c59b2e67638cb/lib/resources/service.rb#L244) to do this check, but the RHEL 6 version of upstart doesn't seem to support that:

[code]

[2016-02-04 19:20] chris-rock commented on #417
@fletchowns thanks for reporting. Can you provide installation instructions for upstart on CentOS?

[2016-02-04 19:24] fletchowns commented on #417
@chris-rock I don't remember doing anything special to install upstart on CentOS, I think it came with it. I'm using the chef/bento box for centos 6.5: http://opscode-vm-bento.s3.amazonaws.com/vagrant/virtualbox/opscode_centos-6.5_chef-provisionerless.box

[2016-02-04 20:02] chris-rock commented on #417
if its in the bento box, that is great, that eases the testing. thanks for sharing.

[2016-02-05 07:46] srenatus commented on #417
Yup, seems like [`show-config` was added in 1.3](http://upstart.ubuntu.com/cookbook/#initctl-commands-summary).

[2016-02-05 09:00] richardlock opened #420 "Inspec iptables should have_rule tests not working"
chefdk (0.10.0)
inspec (0.9.11)
kitchen-inspec (0.10.1)

When using verifier: name: inspec in .kitchen.yml instead of serverspec, none of the iptables tests work.  E.g.

[code]

[code]

[2016-02-05 09:09] chris-rock commented on #420
Thanks for reporting @richardlock . Could you share the result of `iptables -S`

[2016-02-05 09:29] richardlock commented on #420
Thanks.

sudo iptables -S
-P INPUT ACCEPT
-P FORWARD ACCEPT
-P OUTPUT ACCEPT
-N derby-base
-N derby-cognos-web
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -m comment --comment "established" -j ACCEPT
-A INPUT -p icmp -m comment --comment "icmp" -j ACCEPT
-A INPUT -i lo -m comment --comment "loopback" -j ACCEPT
-A INPUT -j derby-base
-A INPUT -j derby-cognos-web
-A INPUT -p tcp -m tcp --dpo

[2016-02-05 13:06] #417 closed, assigned to nobody

[2016-02-05 15:41] chris-rock commented on #360
fixed with #413

@conorsch please re-open if this still persist with the latest version

[2016-02-05 15:41] #360 closed, assigned to chris-rock

[2016-02-05 20:11] fletchowns commented on #417
New version works great guys, thanks for the lightning fast turnaround!

[2016-02-07 20:40] jzohrab commented on #394
@chris-rock - I'm going to spend a bit of time looking at this today.  I'm tracking this in a branch on my repo, https://github.com/jzohrab/inspec/tree/WIP_add_tutorial.  I'll throw some points in there, and we can discuss it in this issue or in the branch itself.  I'll rebase/squash the commits when we get close to completion - I usually commit a _lot_ of "wip" commits.

I'll be writing this tuto

[2016-02-07 22:15] jzohrab commented on #394
Currently failing on my mac due to dependency issues.  This was where I got to before and then stopped.

[code]

I've opened https://github.com/chef/chef-dk/issues/668 in the Chef-DK, the problem may arise from there.

[2016-02-08 01:15] jzohrab commented on #394
I've submitted a patch to serverspec, per the notes in the chef-dk issue 668.

I'm now getting a test failure error, even though the file actually exists!

[code]

pushed current readme content, with details on the failure, to repo.  Ref "current status" heading at https://github.com/jzohrab/inspec/tree/WIP_add_tutorial/tutorial/chef_cookbooks

[2016-02-08 02:56] jzohrab commented on #394
Looks like `kitchen verify` runs the InSpec examples against the local machine, and _not_ against the created VM.  If I run `kitchen create; kitchen converge` with my sample cookbook, the file /demo.txt is created on the VM, but running `kitchen verify` fails with error `InSpecDemo::default File "/demo.txt" should exist`, even though the file exists when I `kitchen login` to the VM.  If I run `tou

[2016-02-08 03:24] jzohrab commented on #394
Still no good.  Will check with @echohack about this.  I've pushed details to my repo readme, https://github.com/jzohrab/inspec/tree/WIP_add_tutorial/tutorial/chef_cookbooks

[2016-02-08 04:26] jzohrab commented on #394
Finally got the tests working by comparing with a working demo, https://github.com/fnichol/chef-inspec_example/blob/master/test/integration/default/default_spec.rb

My spec file was this:

[code]

The above fails.  The below works:

[code]

I'm not sure why the outer "describe" block causes the tests to fail.  This is a bit concerning as InSpec looks very similar to serverspec, and both serverspec

[2016-02-08 09:15] chris-rock commented on #394
@jzohrab Could you share your tests? Normally, you need to remove the whole `spec_helper`, since inspec does not require it. Its also a challenge to load serverspec and inspec at the same time, since both register resources in rspec.

[2016-02-08 14:55] chris-rock opened #430 "File stats are not always working properly"

[2016-02-08 15:02] legal90 commented on #336
+1 for `http` resource.
We'd like to use it to verify different responses from HTTP server:
https://github.com/parallels-cookbooks/confluence/blob/7dc271ed/test/integration/helpers/serverspec/spec_helper.rb#L26-L45

Currently we have to use "serverspec" + "infrataster", which is not so convenient to install.

[2016-02-08 15:17] jzohrab commented on #394
Thanks @chris-rock.  The `spec_helper` is actually blank.  I'll create a Vagrantfile, which I wanted as part of this demo, which should give you the detail you want.  I'll push that up today and will ping you here.

[2016-02-08 16:14] Fodoj opened #431 "Bastion host"
What is the best way to forward specs through bastion host?

[2016-02-08 16:17] chris-rock commented on #431
@Fodoj If I get you right, you need some kind of gateway setting right?

[2016-02-08 16:21] chris-rock commented on #336
@legal90 For now I propose to write your own `http` resource and put it into an InSpec profile as documented here: https://github.com/chef/inspec/blob/master/docs/dsl_resource.rst

[2016-02-08 18:43] chris-rock commented on #394
I am confused because it shows `Unable to activate specinfra-2.43.9`. We do not need specinfra.

[2016-02-08 18:54] Fodoj commented on #431
Yep

On 8 Feb 2016 19:39 +0100, Christoph Hartmannnotifications@github.com, wrote:

[2016-02-08 20:13] chris-rock commented on #431
InSpec has no native gateway setting yet. At this point, I propose to use ssh to bind the remote ssh port via the gateway ssh to a local port with `-L`. Then just let inspec connect to ssh://127.0.0.1:yourport

[2016-02-08 20:28] jzohrab commented on #394
I'm running this with ChefDK v0.10.0 ... maybe it's automatically pulling in dependencies.  I don't have any gemfile in my test.  I'll set this up with a new Vagrant VM and fresh dk install with no gems, and will see where that takes me.

_UPDATE:_ can't do this simply, b/c I'd need vagrant to spin up the new environment, and then would need to run test kitchen _inside_ of there.  There are workar

[2016-02-08 22:42] jzohrab commented on #394
@chris-rock - I actually still had a `require 'server_spec'`.  Sorry for the confusion ... was getting lost in the files and gem issues.  I'm boiling down a simple example and will be pushing it soon.

[2016-02-09 08:20] chris-rock opened #436 "Follow Gnu Standards for Command Line Interfaces"
See section: http://www.gnu.org/prep/standards/html_node/Command_002dLine-Interfaces.html

In our case this should be specifically:
- `inspec --help`
- `inspec --version`

[2016-02-09 08:40] chris-rock opened #437 "Simplify error output"
[code]

[2016-02-09 09:14] chris-rock opened #438 "Update port documentation to use `cmp` matcher"
It should be easier to check for port processes. Instead of

[code]

you should be able to write

[code]

Docs need to be updated as well:
https://github.com/chef/inspec/blob/master/docs/resources.rst#examples-33

[2016-02-09 10:57] #312 closed, assigned to nobody

[2016-02-09 12:20] chris-rock commented on #430
This was actually no stats error, it was an error in `kitchen-inspec` https://github.com/chef/kitchen-inspec/pull/43

[2016-02-09 12:20] #430 closed, assigned to nobody

[2016-02-09 12:21] chris-rock commented on #309
@arlimus @srenatus is this done?

[2016-02-09 13:01] srenatus commented on #309
@chris-rock yup :smile:

[2016-02-09 13:01] #309 closed, assigned to nobody

[2016-02-09 14:22] username-is-already-taken2 opened #440 "chef-compliance postgres installation"
Hi there

Sorry if this is the wrong place, I couldn't find a hub for the compliance server itself.

I performed a fresh install today "chef-compliance-0.11.1-1.el6.x86_64.rpm"

I then ran the built in "Basic PostgreSQL" compliance profile (version 1.1.0) against the compliance server itself

the report came back with 8 critical issues, I thought I would share to see if the postgres install could

[2016-02-09 14:31] chris-rock commented on #440
:facepunch: Thanks @username-is-already-taken2 for reporting this. we will improve this to make our own software compliant with our own profiles :-) It's always good to have visibility.

[2016-02-09 16:32] srenatus commented on #420
Hi @richardlock!

I've looked into [this](https://github.com/chef/inspec/pull/442) and it turns out that the output of `iptables -S` on a Ubuntu 14.04 does not seem to _include those quotes_ around one word comments.

What platform are you working on?

[2016-02-09 16:34] richardlock commented on #420
This is RHEL 6.x.  Thanks.

[2016-02-09 16:37] srenatus commented on #420
Thanks for the quick feedback. Ok, I can verify that CentOS 6.7 has those quotes, too...

[2016-02-09 16:45] srenatus commented on #420
Yup, integration tests fail on centos6. Will dig deeper tomorrow. I bet it's the comments ;)

[2016-02-09 16:49] #406 closed, assigned to nobody

[2016-02-09 17:46] chris-rock opened #444 "InSpec `check` should work on cookbooks, playbooks etc"
we have multiple examples in https://github.com/chef/inspec/tree/master/examples but `inspec check` is only able to validate profiles.

It should support test-kitchen integration tests as well, e.g. check
- that `test/integration/%suite%` or `test/integration/%suite%/inspec` is available (required for kitchen-inspec)
  - no Serverspec spec_helper is used
  - Serverspec and Specinfra should not be

[2016-02-09 18:23] srenatus commented on #420
The bug is fixed in https://github.com/chef/inspec/pull/442:

Turns out separate **lines** of the `iptables -S` output on CentOS 6 may or may not have an extra _trailing_ space. :-1:

@richardlock please let me know if this fix works for you :)

[2016-02-09 20:57] conorsch opened #445 "Lackluster type coercion"
As of `v0.10.1`, the following inspec test fails:

[code]

with the traceback:

[code]

However, this inspec test passes just fine:

[code]

The only difference is whether a string or an int was passed to the function. Surely the library can learn to accommodate inputs of both types and treat them accordingly. Admittedly, the [port docs](https://github.com/chef/inspec/blob/master/docs/resources.rs

[2016-02-09 21:07] arlimus commented on #445
+1 :)

this looks like a theme that'll come up more often; we have recently introduced a fantastic helper at the other end of the equation: https://github.com/chef/inspec/pull/318 . So this issue covers input, which the resource would have to consider itself; but if we create something that other people can use, including we can use on our resources, to make these cases easier, that'd be helpful.

[2016-02-10 09:02] #420 closed, assigned to nobody

[2016-02-10 09:35] richardlock commented on #420
Thanks for fixing this Stephan and Dominik.  I'm having trouble running bundler with chefdk on Windows so can't test building from source.  I'll wait for the next inspec release to test.

[2016-02-11 12:45] username-is-already-taken2 opened #448 "Adding support for additional SSH enabled devices"
Hello there

I would like to be able to run compliance checks natively against my ssh enabled firewall (Juniper Netscreen) but I'm having a problem getting inspec to open a shell on the device. (I can ssh to the device using putty fine)

![inspec-error1](https://cloud.githubusercontent.com/assets/13700297/12976586/22363afc-d0bd-11e5-855d-e6f46a7da990.PNG)

![inspec-error2](https://cloud.githubuser

[2016-02-11 13:18] srenatus commented on #448
Hi Gary,

Thanks for the report and your offer of assistance. Talking to _any_ ssh-enabled device is certainly the goal for inspec, or rather train.

As you noticed, the `--diagnose` command is of little use beyond helping with the question _"where does this configuration value come from"_.

On the internet, people seem to be able to talk successfully with JunOS devices and Net::SSH. [This project

[2016-02-11 16:08] jeremymv2 opened #450 "resource 'command' not including PATH items '/sbin' and '/usr/sbin'"
When I use the 'command' resource I need to specify the entire path to the command when the command exists in /sbin or /usr/sbin or /usr/local/sbin.

With serverspec I can optionally define a PATH this way:
PATH environment variable
You can add PATH environment variable in spec_helper.rb or other places like this.
`set :path, '/sbin:/usr/local/sbin:$PATH'`

Is this something that can be added to i

[2016-02-11 16:18] jeremymv2 opened #451 "`os` resource not accessible within a `describe`"
For the purpose of not having to duplicate `describe` items, would it be possible to make the `os` resource available inside a describe?  This way you  can write a concise and elegant test that handles different architectures and releases, all from within a single `describe`.

For example:

[code]

[2016-02-11 17:38] geerzo commented on #346
@chris-rock It took a bit to get Powershell installed properly using test-kitchen but it appears as if things work much better now.

[2016-02-11 17:38] #346 closed, assigned to chris-rock

[2016-02-11 17:52] chris-rock commented on #346
@geerzo Thanks for trying out the solution. Could you share how you have done it. It may helps other until we improved Windows 2008 OS Detection

[2016-02-12 00:19] chris-rock commented on #450
@jeremymv2 Thank you very much for bringing this topic up. I have some questions, I'd like to understand:

Is the PATH set, when you log into the machine directly? Could you please elaborate a little bit more, why you need the PATH? Is the reason multi os support? May it happen, that the command is available in various locations on the same systems?

I get the use case and I can see value in addin

[2016-02-12 00:30] geerzo commented on #346
I used this driver config in my kitchen.yml file

[code]

Then I created the Vagrant file to include the following

[code]

[2016-02-12 10:10] username-is-already-taken2 commented on #448
Thanks Stephan for your reply

I tried what you suggested using a openssh on an ubuntu vm, here are the results. The last two commands are a repeat of the one with and without the -tt but with the -verbose flag set.

**`eeyore@ubuntu:~$ dpkg -s openssh-client | grep Version:`**
`Version: 1:6.6p1-2ubuntu2.6`

**`eeyore@ubuntu:~$ ssh netscreen@x.x.x.x "get system version"`**
`netscreen@x.x.x.x's pas

[2016-02-12 10:35] srenatus commented on #448
Hey Gary,

thanks for your input, it's very comprehensive. :+1:

And it is quite interesting, and not what I was expecting: so irregardless of whether you request a PTY or not, _it fails_. It's correct that _success_ would have meant some output in one of the three cases?

One item I forgot on my wishlist -- could you try `ssh -T netscreen@172.31.4.67 "get system version"`? This will explicitly _n

[2016-02-12 16:41] username-is-already-taken2 opened #453 "Windows 2008 Still not detected correctly"
Hi there

Sorry to reopen this issue but I just wanted to confirm the status, for windows 2008 support do I need to install the windows management framework 3+ on my boxes?
My local machine detects fine
`PS C:\WINDOWS\system32> inspec version`
`0.9.11`
`PS C:\WINDOWS\system32> inspec detect`
`{"name":null,"family":"windows","release":"10","arch":null}`

but when I winrm to 2008 r2 box I get unknow

[2016-02-12 17:31] username-is-already-taken2 commented on #448
Hello Again

I tried the -T parameter, but it ended up like the others :(

`eeyore@ubuntu:~$ ssh -T -v netscreen@x.x.x.x "get system version"`
`...`
`netscreen@x.x.x.x's password:`
`debug1: Authentication succeeded (password).`
`Authenticated to x.x.x.x ([x.x.x.x]:22).`
`debug1: channel 0: new [client-session]`
`debug1: Entering interactive session.`
`debug1: Sending environment.`
`debug1: Sending

[2016-02-14 11:34] chris-rock commented on #346
@geerzo Awesome, we are going to fix the version detection with https://github.com/chef/train/pull/70
Windows-specific resources like `registry_key` or `security_policy` will still require an updated Windows Management Framework, but basic resources like `file` and `command` will work out of the box then.

[2016-02-14 18:38] chris-rock opened #456 "add documentation for new server runlevel support"
#455 introduced new runlevel support, but misses the docs adaption

[2016-02-15 11:49] srenatus commented on #448
Hey Gary,

So, examining your results (please correct me if I am misled), I come to the conclusion that with your netscreen devices, non-interactive ssh fails, regardless of the use of `-t`, `-tt`, `-T` (i.e. pty-related things). Interactive use of openssh-client works. (We haven't verified that `ssh netscreen@xx.x.x.` actually works, but since `-2` works and should be the default, I'd conclude it

[2016-02-16 14:01] jeremymv2 commented on #450
@chris-rock
- Testing primarily with the centos-6.6 and centos-7.1 images I see that the PATH for the 'vagrant' user does include the sbin dirs: `/usr/local/sbin:/usr/sbin:/sbin`.
- The command resource for things in sbin dirs only seems to work if I specify the full path like: `describe command('/usr/sbin/sestatus -v') do`
- The `sestatus` command only exists as `/usr/sbin/sestatus`
- With server

[2016-02-16 14:08] jeremymv2 commented on #451
@chris-rock
For large organizations that have many existing serverspec tests that may include DSL syntax like the above, this will be enticing; making their conversion from serverspec to inspec easier and more delightful.

[2016-02-17 04:05] coderanger opened #459 "No way to reload the add resources from test code"
Currently the DSL is baked in to an anonymous module at the start of test execution. This means that if you require a gem that adds new resource types, they aren't visible. This makes packaging custom resources strangely difficult given that it is a defining feature of InSpec.

[2016-02-17 12:03] #456 closed, assigned to nobody

[2016-02-17 13:41] username-is-already-taken2 commented on #448
Hello Again.

You are correct with your summary, if it will help I can stand-up a netscreen for you to connect to and test with?  Ideally even though it will be a default device, if I could protect it with an IP filter that would be cool.  Let me know if this will help, I could DM the details via twitter.

I've worked my way through some other devices within my enviroment to test connectivity

![d

[2016-02-17 14:56] username-is-already-taken2 opened #464 "Thank You"
Hi there
I just wanted to say a quick “Thank You” for your effort with chef-compliance and inspec.  I’m sold on the product and can see the potential and I’ve been able to successfully demonstrate its value to my manager.

Even though I wasn’t able to directly add my firewalls as nodes to chef compliance (yet #448 :)  I was able to come up with a method of running my compliance checks via a proxy.

[2016-02-17 15:26] chris-rock commented on #464
@username-is-already-taken2 That is awesome. We would love to ship you some swag like T-Shirts. Please send an email to chartmann@chef.io

[2016-02-17 15:34] alexpop commented on #448
This reminds me of the [Expect](http://expect.sourceforge.net/) based automation I've done with network devices at Opsware.

[2016-02-17 15:34] arlimus opened #465 "Unify deprecation handling in resources"
Get here:

[code]

Which leads to

[code]

Global access for deprecation call
Ability to enable/disable deprecations

[2016-02-17 15:54] srenatus commented on #448
Thank you so much, Gary! :+1:

This table is very helpful. For one thing, it shows us that PTY's are not an issue when it comes to talking to (this sample of) network devices -- the last four columns are always equal.

And it gives us a great todo list when comparing the **InSpec Shell** column with the one to it's right. The ones where `openssh` works but `inspec` doesn't might be low-hanging fru

[2016-02-17 17:06] arlimus commented on #464
@username-is-already-taken2 Thank you for your awesome feedback, much appreciated!! :smile:
That's some extra incentive for solving that other issue

[2016-02-17 17:14] chris-rock commented on #464
:100:

[2016-02-17 17:33] chris-rock commented on #459
Duplicate of #353

[2016-02-17 17:33] #459 closed, assigned to nobody

[2016-02-17 17:36] chris-rock commented on #353
The only official solution that we offer at this moment is via InSpec profiles: https://github.com/chef/inspec/blob/master/docs/profiles.rst

Therefore you can write your own resources as part of InSpec profiles

[2016-02-17 17:39] chris-rock commented on #453
@username-is-already-taken2 Your are right, this is not yet fix unless you updated the Windows Management Framework on Windows 2008. This is addressed here: https://github.com/chef/train/pull/70

Even if the detection has been fixed and do not require powershell, the most windows resources will still require an up-to-date WMF, since we rely on `Convert-ToJson` a lot. `command`, `file` and `script`

[2016-02-17 17:40] chris-rock commented on #453
brings up again #346

[2016-02-18 03:13] arothian commented on #353
@chris-rock This is very much still a work in progress, but some of my initial resources are up at https://github.com/arothian/inspec-aws

[2016-02-18 13:01] chris-rock commented on #353
@arothian that looks really good. we work on a solution that will integrate much better. Stay tuned.

[2016-02-18 23:19] jdgoins opened #469 "Unable to Handle Spaced Windows File Paths"
The file resource is unable resolve a path with any spaces in it like 'C:\Program Files\test.txt'.

Both of these assertions fail:

[code]

[code]

[code]

[2016-02-19 13:41] chris-rock commented on #453
This is solved with https://github.com/chef/train/pull/70 now

[2016-02-19 13:41] #453 closed, assigned to nobody

[2016-02-23 11:44] chris-rock commented on #469
Hi @jdgoins Thank you very much for your report. We will double-check why this happens.

[2016-02-23 14:06] jcreedcmu opened #485 "Inspec check fails on `examples/profile`"
[code]

(at commit 16c0e0c471d6540e9d2cad88dbcc5b7ba30f1c29)

[2016-02-23 14:07] jcreedcmu commented on #485
(assume this is something to do with the recent big rewrite)

[2016-02-23 14:49] srenatus commented on #485
This might have something to do with your symlinked `inspec-scap` in `~/.inspec/plugins` - is it up to date, too?

Asking because I cannot reproduce it

[code]

[2016-02-23 17:23] username-is-already-taken2 commented on #485
Hi there,

I cant seem to be able to use check on either my windows or Ubuntu box, I tried 3 different paths in case its a windows idiosyncrasy :)

[code]

[code]

[code]

[code]

[code]

[2016-02-23 18:05] jcreedcmu commented on #485
@vjeffrey reports getting

[code]

but I can't reproduce it. All my problems went away when I pulled `inspec-scap`, derp.

Is this something weird with ruby or dependency versions? I don't know how pessimistic/paranoid I should even be about that.

[2016-02-23 20:42] chris-rock opened #486 "Escape whitespace for compliance upload"
[code]

The problem is, that `http://localhost:2134/owners/admin/compliance/WS2012 File Server Security/tar` is not a valid url

[2016-02-24 06:25] chris-rock opened #489 "Cryptic error output if authentication with Chef Compliance fails"
If authentication fails with Chef Compliance (e.g. due to an outdated token), the user error message is not indicating the real issue

[code]

[2016-02-24 13:43] goncalopereira opened #490 "Question: Cron?"
Any way to replace the serverspec cron resource? Any plans for it?

[2016-02-24 15:11] username-is-already-taken2 opened #491 "[directory] when using winrm I'm unable to validate a directory with a space"
Hi there

I'm been trying to use both the directory and file resources today, to validate that a directories exist.

I seem to have come across an issue if the path has a space in it

my control works fine if I use the inspec shell on my local machine but if I invoke a shell on another host using winrm as the transport it fails.

`
inspec version = 0.14.2
`

either of these controls will fail over

[2016-02-24 15:25] username-is-already-taken2 commented on #491
Hi it helps anyone else, in the mean time I got round it using the script resource

[code]

This works on both my local shell and a remote winrm host

[2016-02-24 16:07] srenatus commented on #491
Thanks for reporting this. #469 already noticed this for `file`, so I'd tend to close this one as a duplicate and we'll pursue this as #469.

Feel free to reopen this issue when you don't agree here :smile:

[2016-02-24 16:07] #491 closed, assigned to nobody

[2016-02-24 16:08] srenatus commented on #469
As mentioned by @username-is-already-taken2 in #491, this seems to also affects directories.

[2016-02-24 21:08] jblaine opened #494 "RHEL postgres data dir is not /var/lib/postgres as coded"
[code]

See: https://github.com/chef/inspec/blob/master/lib/resources/postgres.rb#L26-L30

[2016-02-25 09:04] arlimus opened #495 "Document special service resources"

[2016-02-25 09:05] srenatus commented on #495
Note that something's here already https://github.com/chef/inspec/pull/463/files

[2016-02-25 09:06] arlimus opened #496 "Add documentation for shadow resource"

[2016-02-25 17:43] username-is-already-taken2 commented on #485
Hi there

Since I have upgraded to 0.14.3 I don't get that error any more

Would you be able to confirm if this output is correct?

[code]

I used it to check the example file generated with inspec init profile, should this pass cleanly?

from the 'inspec help check' it looked like I should just be able to point it at the profile folder but I couldn't get any combination of path to work

[code]

a

[2016-02-25 22:02] joegoggins opened #498 "How can you use inspec matchers and resources in an existing Rspec project?"
I have an existing cucumber/rspec project that I'd like to use Inspec matchers and resources on, but I'm not sure what `require` and module `include` statements I need to put in my `env.rb`/`spec_helper.rb` to make it work. I tried various different `config.include` statements and permutations against `Inspec` modules and couldn't quite get it to work. Any recommendations here would be much apprec

[2016-02-26 18:38] tas50 opened #502 "Docs for command use eq instead of match"
The docs for command seem to show a regex against stdout, but they're doing it with eq and the regex in quotes.  This doesn't seem to work.  Changing the commands over to match seems to resolve it.

[2016-02-26 18:38] tas50 commented on #113
This would be helpful for testing some of our community cookbooks that include Suse support.

[2016-02-29 09:30] epcim opened #504 "mysql_conf parsing"
I got the issue on parse config files, using mysql_conf and parse_config_file.

Beside that:
**Feature req 1**, regarding the issue below, it would be handy if the comment_char in the parse_config/_file would allow specify array of comment chars or rather _re for lines exclusion.
**Feature req 2,** In the case we know what format is the config like `my.cnf`. we should parse it natively, so be able

[2016-02-29 10:57] chris-rock commented on #502
@tas50 could you add a reference where you see the error?

[2016-02-29 11:39] chris-rock commented on #498
@joegoggins How do you call cucumber and rspec? We need to understand the setup, before we are able to provide an answer that works for you.

[2016-02-29 20:11] tas50 commented on #502
https://github.com/chef/inspec/blob/master/docs/resources.rst#examples-6

[2016-03-01 07:48] srenatus opened #507 "support `mode` what is more than just three octals"
Reported by @binamov:
In chef's file resources, the mode can consist of more than just the last three octals, for example it can be `1777`. In inspec, this is not possible because train [cuts of the leading bits](https://github.com/chef/train/blob/968563f246d4b2175e422ef7cb303a546df9b9b6/lib/train/extras/stat.rb#L51).

For users of both systems, this is confusing.

[2016-03-01 16:00] username-is-already-taken2 opened #509 "check error - digest: no implicit conversion of nil into String (TypeError)"
Hi there

I have come across an error when trying to uploaded my compliance profile to chef-compliance.  I got a server response of 500. Tailing the log it would seem that my profile is failing the inspec check command.
If I run it manually, it looks

[code]

It would seem that the check has a problem with line 6 in my example control

[code]

With a bit of testing it looks like it has an issue th

[2016-03-01 16:06] username-is-already-taken2 commented on #509
forgot to say I'm running inspec version 0.14.3

[2016-03-01 16:11] arlimus commented on #509
Hi @username-is-already-taken2 , great catch, bug confirmed! We'll get it straightened out in train.

[2016-03-01 16:14] username-is-already-taken2 commented on #509
:) that's good.  I thought you where going to tell me to rewrite my controls :)

[2016-03-01 16:26] arlimus commented on #509
It's an oversight, and I guess not the last one considering that we are trying to read ruby during `inspec check` without any actual data (since there's no target backend yet ;) ). Happy to find and solve these!

[2016-03-01 18:07] #509 closed, assigned to arlimus

[2016-03-01 18:09] chris-rock opened #511 "`compliance` command does not work with self-signed https"
The solution is to introduce a `-k/--insecure.` option like curl

[2016-03-01 18:37] joegoggins commented on #498
Was simply looking to include the inspec DSL and use it in cucumber step definitions. If you could provide a snippet of Ruby that injects the DSL into the current context, I could figure the rest out. I'd be happy to share what that looks like in a cucumber or rspec project.

[2016-03-01 20:29] #511 closed, assigned to nobody

[2016-03-02 09:28] chris-rock commented on #498
The saves way to run inspec tests is to run InSpec directly (`inspec exec`) or use `kitchen-inspec`. Alternatively you can use our Runner interface as used here https://github.com/chef/kitchen-inspec/blob/master/lib/kitchen/verifier/inspec.rb#L68-L73, but I'd like to mention, that the Runner interface is an internal API and may change without any further notice.

[2016-03-02 14:49] squaresurf opened #514 "Question: Where is the serverspec migration guide?"
There is mention of a migration guide from serverspec at the end of  the [inspec_and_friends.rst](https://github.com/chef/inspec/blob/master/docs/inspec_and_friends.rst) document. Where is that guide?

Also, is there a freenode irc channel for inspec or some other community chat tool?

[2016-03-02 15:08] chris-rock commented on #514
Thanks @squaresurf

Unfortunately we have not finalized the Serverspec migration guide. In general it includes the following steps:
- remove `spec_helper.rb`
- if used in test-kitchen, rename `test/integration/%suite%/serverspec` to `test/integration/%suite%/inspec`
- ensure the `serverspec` gem is not loaded, since inspec and serverspec add types to the RSpec runtime
- most test should work out o

[2016-03-02 15:55] joegoggins commented on #498
Thank you very much, this is exactly what I was looking for, closing this issue.
I'll likely give this a approach whirl in a cucumber context and share my code here if there is anything tricky/worth sharing.

[2016-03-02 15:57] chris-rock commented on #498
Thanks @joegoggins that is a great idea

[2016-03-02 16:49] squaresurf commented on #514
Awesome! Thank you @chris-rock. Is there a public place that list is posted? I'd love to start using inspec and implement the missing resources as if I have a need.

[2016-03-02 18:33] chris-rock commented on #514
You could just open a PR to add this to our docs. PRs are always welcome. I just compiled it for you.It may make sense to start the Serverspec migration guide in our docs. Just add everything you encounter and that I have not covered. This would also a great help for our community.

[2016-03-02 19:01] squaresurf commented on #514
Awesome. I'll look into it.

[2016-03-02 19:01] #514 closed, assigned to nobody

[2016-03-02 19:22] supertylerc opened #515 "Better Output/Error for Profile OS Families"
Recently, I created a profile and gave it a supported os-family.  I tried to test it against something that wasn't being detected correctly.  I spent a good bit of time chasing my own tail, then decided to spin up an Ubuntu VM and test.  I was mildly annoyed to see that it worked with Ubuntu, with led to more tail-chasing.  Finally, I changed the supported OS to Windows and tried to run a profile

[2016-03-03 09:00] jrake-revelant opened #516 "describe pip not working for packages in virtualenv?"
Hi,

I am testing

[code]

while installing it via

[code]

works fine, the test fails:

[code]

Is this just not supported or am I doing sth wrong?

Cheers
Jannis

[2016-03-03 11:34] username-is-already-taken2 opened #517 "[chef-compliance] Page Refresh using IE or Edge"
Hi there

I've come across an issue using IE and Edge with the chef compliance gui.

After successfully adding a profile (or a node) the webpage doesn't refresh, it displays a message at the bottom of the screen saying that it added the profile successfully but it doesn’t refresh the page with the new version number.

If I click off the compliance page, say to dashboard and then back again it stil

[2016-03-03 11:43] chris-rock commented on #517
Thanks Gary, I understand this is annoying and we will have a look.

[2016-03-03 11:44] chris-rock commented on #516
Hi Jannis, thanks for reporting this. It has just not been implemented yet :-) I agree that this should be supported.

[2016-03-03 11:50] chris-rock commented on #515
@supertylerc Thanks for sharing your feedback. InSpec `check` is right to highlight, that one control is part of the profile, because it only verifies the profile for sanity.

InSpec `exec` should really throw an error an say that this could not be executed. There are two ways to solve it:
- throw an error message and exit code (may not be a good solution, if you run 10 profiles)
- skip all contro

[2016-03-03 11:51] chris-rock commented on #502
@tas50 awesome find. Would you like to compose a PR to fix that?

[2016-03-03 11:53] chris-rock commented on #490
@goncalopereira We highlighted the current state of the Serverspec resources here: https://github.com/chef/inspec/issues/514 We intend to support a smooth migration and `cron` is part of it. We are happy to accept PRs to bring this feature into InSpec

[2016-03-03 11:54] goncalopereira commented on #490
Thank you

[2016-03-03 11:54] #490 closed, assigned to nobody

[2016-03-03 11:56] chris-rock commented on #504
This should not happen and it has something to do with the grouping `[mysqld]`. This is similar to ini files where you group values. It looks weird, we need to have a look.

[2016-03-03 16:25] jjasghar opened #518 "Colo[u]r those dots and Fs!"
It's pretty common now to see colo[u]rs for "." and "F"s in tests.

I'd like to ask that this is added to the runs, so something like the following would be colo[u]red.

[code]

This would also put the Failures in RED so you can could identify issues quickly.

[2016-03-03 19:11] conorsch commented on #518
It's obviously superficial, but lack of color in the documentation format for inspec test runs is one of the reasons I'm still using serverspec. When performing an extremely repetitious task like running tests, colored output really reduces the cognitive burden for parsing the results.

[2016-03-03 19:13] conorsch commented on #464
This isn't even my project, but what a heartwarming issue. Thanks for the cheer, @username-is-already-taken2!

[2016-03-04 15:59] chris-rock opened #521 "InSpec fails if one check is written wrongly"
Let's say I have two tests and one uses a resource that is not available (e.g. may it be an older version of inspec):

[code]

This :boom:

[code]

My expectation would be, that this test is marked as failed or skipped, but the rest continues. The same applies for the `inspec check` command. This should always return in a good state, no matter what is in the ruby file.

[2016-03-05 18:59] supertylerc commented on #515
@chris-rock, I think that this would work.

[2016-03-07 21:14] chris-rock commented on #518
+1 lets get this in

[2016-03-07 21:30] #518 closed, assigned to nobody

[2016-03-07 21:30] arlimus commented on #518
Color is the default now; use `--no-color` to deactivate

[2016-03-07 21:34] jjasghar commented on #518
Rock on guys! Fast turn around and great thanks!

[2016-03-10 15:21] iiro opened #531 "inspec failing to connect to Compliance (SSL certificate error)"
Hi,

is there a way around to make inspect accept self-signed SSL-certificates?

[code]

[2016-03-10 15:24] srenatus commented on #531
Hello @iiro!

Thanks for your report. Indeed, Inspec 0.15.0 has an `--insecure` flag for this:

[code]

Does that work for you?

Cheers
Stephan

[2016-03-10 17:49] iiro commented on #531
Super! Works like charm! :)

Thanks @srenatus ! :)

[2016-03-10 17:49] #531 closed, assigned to nobody

[2016-03-10 17:57] srenatus commented on #531
Good to hear. :+1:

[2016-03-10 19:43] arlimus opened #532 "Create proper CLI report on running a scan (formatter)"
something along the lines of

[code]

Steps to get this done:
- [x] Create a CLI formatter for reports with a simple report structure (--format summary)
  - [x] Basic formatter https://github.com/chef/inspec/pull/790
  - [x] Provide backend information https://github.com/chef/inspec/pull/796
  - [x] @chris-rock Come on, it's 2016, use UTF-8 symbols already https://github.com/chef/inspec/pull/792

[2016-03-10 19:43] arlimus commented on #532
As reported by @micgo

[2016-03-10 19:46] arlimus opened #533 "Dependency resolution for inheritance and resource packs"
wip... wip....

[2016-03-10 19:55] aaronlippold opened #534 "Resources to support SElinux"
We should add an selinux resource that can check the status of selinux configs, mode, status and perhaps ones for selinux_rule as well?

[2016-03-10 21:37] kevindickerson opened #535 "CLI: Specifying --profiles-path on check succeeds but displays usage error on archive"
CLI: Specifying `--profiles-path` on `check` succeeds but displays usage error on `archive` with our without `--profiles-path` argument.

**Affected versions**
- inspec 0.15.0

**To reproduce**

Create a simple profile that inherits from an existing profile.

[code]

**Checking the profile succeeds**

[code]

**Archiving the profile fails with `--profiles-path` argument**

[code]

**Archiving the

[2016-03-11 03:30] aaronlippold opened #536 "Add additional metadata to the control definition to allow for more complete mapping to security guidance documents"
I would like to propose that we add four additional non-required elements to the control to enhance the ability for chef compliance profiles to be more fully mapped to existing security guidance policies. Security guidance documents group elements and security concerns by larger meta groups - such as Authentication or Access Control. The guidance then decomposes those areas into more specific acti

[2016-03-11 20:27] aaronlippold commented on #536
updated the example code per feedback from Galen

[2016-03-14 14:44] mhedgpeth opened #538 "A resource to test http GET calls"
As a part of audit mode or in test kitchen my colleagues have asked for a mechanism to test HTTP GET calls and test the return code, response, or JSON response. It would be similar to [this server spec class](https://github.com/jantman/serverspec-extended-types/blob/master/spec/types/http_get_spec.rb).

I'd be happy to add a resource and create a PR for you, but before I did I wanted to know if yo

[2016-03-14 16:51] username-is-already-taken2 opened #539 "[script] Is there a limit on the number of char's within a script block"
Hi there

I've come across an issue with regards to the script resouce.

I'm targeting a windows server using WINRM, my script is written in PowerShell and I'm using inspec version 0.15.0

The error I was getting was that when using the inspec shell the stdout of my script would return nothing ""

e.g.

`inspec> script(script).stdout
=> ""
`
I know my script is OK, after a bit of troubleshooting I

[2016-03-14 17:30] iiro commented on #531
Hi @srenatus,

should this apply for `inspec compliance exec` too? We're getting this error when trying to run exec with a remote Compliance profile...

[code]

[2016-03-15 17:12] jdgoins commented on #469
Has there been any movemnet on this @chris-rock ? This seems like a pretty fundamental capability.

[2016-03-15 21:06] scalp42 opened #541 "Read Chef attributes within the tests ?"
I'm curious if there's a way to parse a JSON (from test-kitchen) and be able to use it within inspec ?

See this blog post: http://www.hurryupandwait.io/blog/accessing-chef-node-attributes-from-kitchen-tests

TLDR: read test-kitchen data JSON, store it in a variable with Rspec and leverage it later, or pretty much can you use Rspec DSL I guess?

Thanks in advance!

[2016-03-16 14:46] arlimus commented on #535
Hi @kevindickerson , sorry we took a bit longer. I noticed that we had an issue with these functional tests, which are now addressed ^^. I'll add the fix for this issue next.

[2016-03-16 15:06] kevindickerson commented on #535
Awesome!!! Thanks @arlimus !! :+1:

[2016-03-16 15:19] arlimus commented on #535
Once that's in, it'll be this branch: https://github.com/chef/inspec/compare/dr/check-check

[2016-03-16 15:22] kevindickerson commented on #535
Cool! Thank you!

[2016-03-16 15:30] gsandie commented on #377
@chris-rock @arlimus  - Thanks for 903b0597 it helps me a lot :+1:

[2016-03-16 18:38] chris-rock opened #544 "Improve error output for compliance plugin"
As highlighted by @aaronlippold we should not have such a strange output. Who wrote that in the first place :-)

[code]

[2016-03-16 20:00] arlimus commented on #541
We will have all that data exposed to everyone who needs it (and much more), but with a cleaner attributes interface in the very near future.

However, in the meantime, Matt's method will still work, with tiny adjustments. When test-kitchen does the converge step and all the data is written to the file, you can access it via inspec. Instead of reading via `IO.read` and `JSON.parse` just use native

[2016-03-16 20:00] #541 closed, assigned to nobody

[2016-03-16 20:01] arlimus commented on #541
@mwrock your awesome trick still works :smile:

[2016-03-16 20:24] arlimus commented on #538
:+1: :smile:

I don't think we'll get to it in the team in the 2.5 weeks (due to compliance release), but this is welcome!

I think it should be part of inspec core, so the place is great!

As an additional thought: We need to consider how it will work in different targeting types, i.e. `inspec exec -t ssh://...` or do you just `inspec exec -t 192.168.0.1` in that case. We can reflect that, btw, s

[2016-03-16 20:31] arlimus commented on #536
We had a great discussion in Gitter/WebConf on tuesday, here's the outcome: We should opt for generalized tags and references with the following syntax:

[code]

for the use-case reported by @aaronlippold this could then be implemented as:

[code]

all tags and references can then be exposed via the API and become fully searchable and have some nice views and links in reports and the UI.

Thank yo

[2016-03-16 22:47] mwrock commented on #541
:+1: sweet!

[2016-03-16 23:54] #535 closed, assigned to nobody

[2016-03-17 16:31] aaronlippold commented on #536
[code]

[2016-03-17 19:24] arlimus commented on #536
This looks great ^^
We'll have a rerun on severity later on, but tag + ref is great :)

[2016-03-17 19:25] aaronlippold commented on #536
+1, agreed. I know severity may be old / deprecated lingo but just keeping it in the conversation scope until we have a way / path on where we will go with it.

[2016-03-17 19:26] aaronlippold commented on #536
+1

[2016-03-17 19:29] aaronlippold commented on #536
added a corner case where the nist value can have '.' and 'i...' in it from some of the older 800-53 revisons.

[2016-03-18 00:20] chris-rock commented on #536
I am not convinced of

[code]

From my perspective, it reads easier if we use:

[code]

[2016-03-18 00:28] aaronlippold commented on #536
I agree. That was just me using the same pattern that we used before. But Dom and I agreed that just a simple key value works there.

[2016-03-18 00:29] aaronlippold commented on #536
We have a gist link we have been pushing on. Let me find there link.

[2016-03-18 00:31] aaronlippold commented on #536
The gist link with these test file is in the chat room.

[2016-03-18 00:38] chris-rock commented on #534
This resource implementation should also be compatible with http://serverspec.org/resource_types.html#selinux and http://serverspec.org/resource_types.html#selinux_module

[2016-03-18 00:40] chris-rock commented on #536
Just for reference, the discussed gist is available here: https://gist.github.com/aaronlippold/dbe6701085dafadfaa7f

[2016-03-18 00:50] #536 closed, assigned to nobody

[2016-03-18 00:51] arlimus commented on #536
Thank you everyone and have fun testing it! :smile:

[2016-03-18 00:52] arlimus commented on #536
@aaronlippold i'll open a separate issue in time to talk about severity and impact :)

[2016-03-18 02:52] aaronlippold commented on #536
OK. Happy to talk the issue. Shouldn't be hard to come to the right solution.

[2016-03-18 16:27] mhedgpeth commented on #538
Fantastic @arlimus I'll give it a shot. I'm going through the code to determine an approach. The discussion of where to run it is a great one; I didn't think about that part yet. I'll follow up as I have more questions, and will work to add the resource.

[2016-03-18 20:18] chris-rock commented on #469
@jdgoins Thanks for checking the status. We identified the bug in [train](https://github.com/chef/train). This will be solved with the next release next week.

[2016-03-18 20:22] chris-rock commented on #539
@username-is-already-taken2 yes, at the moment there is a 8k upload limit as highlighted by @mwrock in https://github.com/WinRb/WinRM/pull/87

So far we have not implemented a native upload feature, because we didn't had the need. I assume you want to use some powershell modules?

[2016-03-18 20:27] chris-rock commented on #538
This is a duplicate of #336

+1 that we need that resource. Also have a look how https://github.com/ryotarai/infrataster is doing it

[2016-03-18 20:27] #538 closed, assigned to nobody

[2016-03-18 23:44] scalp42 opened #554 "Can't get sub key in YAML"
Assuming this YAML:

[code]

Here is the spec:

[code]

I'm getting the following error:

[code]

Any idea how to access `['mesos']['master']` ?

[2016-03-18 23:52] scalp42 opened #555 "undefined method `addresses' for Port"
Assuming a java app listening on port `8090`:

[code]

I'm getting the following error:

[code]

I can get around it by using `netcat` or something but figured should open an issue :innocent:

[2016-03-19 09:58] chris-rock commented on #554
This is a challenge with RSpec `its`, because it evals the string. Instead it should work with:

[code]

Can you highlight, where the docs may not be up-to-date?

[2016-03-19 10:02] chris-rock commented on #555
Thanks @scalp42 for reporting this missing feature. It has not been implemented yet :-)

[2016-03-19 10:18] iiro commented on #531
...or shall I raise a new issue? Has anyone bumped into this?

[2016-03-19 10:30] #469 closed, assigned to nobody

[2016-03-19 18:03] #555 closed, assigned to nobody

[2016-03-19 19:38] chris-rock opened #562 "Use text values for `severity`"
As proposed by @aaronlippold we use human-readable names for `impact`. At the moment a control impact is defined by as following:

[code]

It would be nice to use words for it like:
- High, Medium, Low, Critical
- crit, high, med, low

We need to ensure:
- all human-readable numbers are mapped to a number
- the number scheme is well defined (e.g. CVSS score as we use it at the moment)

[2016-03-19 20:20] chris-rock opened #563 "Numerous new resource requests"
@aaronlippold reported via [gitter](https://gitter.im/chef/inspec)

Missing documentation:
- [x] tags, refs #562
- [ ] update all the examples in the subpages to be with the current lang and style. #562
- [ ] Where are the man pages - what if I want to RTFM.

Suggested InSpec Resources
- [ ] selinux : For enabling/disabling/checking status #534
- [ ] selinux_rule : ... #534
- [ ] apparmor : same a

[2016-03-19 20:30] chris-rock opened #564 "Requirement template for Compliance profiles"
As discusses with @aaronlippold

We need a to find a way to define a requirement template e.g. DOD requires profiles where all controls have a cce, cci, nist, disa tag. This should be customizable.

[2016-03-19 21:21] scalp42 commented on #555
Saw it in the docs, actually thought it was :innocent:

Thanks @chris-rock !

[2016-03-19 21:22] scalp42 commented on #554
hey @chris-rock thanks a lot for the feedback!

I think the doc is fine as it's referring to a string: https://docs.chef.io/inspec_reference.html (look for `Test a kitchen.yml file driver`).

[2016-03-21 13:03] grdnrio opened #565 "mysql_session: add ability to specify session"
I would like to be able to specify the socket to connect to in the MySQL_session resource.

[code]

[2016-03-21 15:45] aaronlippold commented on #563
For Suggested Resources:
- sudoers
  - enable disable
  - with_pass , without_pass
  - groups
    etc.

[2016-03-21 16:30] srenatus opened #566 "create human-friendly permission output"
Besides what we gained with `cmp '0644'`, it'd be great to display a more human-friendly output when matches fail: e.g. `rw-r--r--` or `o:rw,g:r,w:r`.

/cc @ncerny @ricardolupo

[2016-03-22 16:39] aaronlippold opened #568 "--controls flag should be supported in all inspec commands"
@arlimus / @chris-rock : Support for the new --controls flag seems to have been left out for the other inspec subcommands.

My team is using the inspec json subcommand to parse out the elements of a profile for application integration and the ability to slice out specific controls would be very useful.

inspec json <profile> --controls="a b c"
inspec supermarket <profile>  --controls=...
inspec co

[2016-03-22 16:58] arlimus commented on #568
:+1: , we can tackle it for json fairly quickly ;)
We'll need to collect a list of all the places where this is relevant, but can get started with something as specific as `json` right away.

[2016-03-22 17:31] aaronlippold opened #569 "inspec exec error on new install"
I am getting a strange error running some inspec profiles.
# : inspec exec fails
# : inspec json works

[ec2-user@ip-10-204-0-80 ssg-rhel6-c2s]$ inspec version
0.16.1

[ec2-user@ip-10-204-0-80 ssg-rhel6-c2s]$ rpm -q ruby
ruby-2.0.0.598-25.el7_1.x86_64
[ec2-user@ip-10-204-0-80 ssg-rhel6-c2s]$ rpm -q ruby-devel
ruby-devel-2.0.0.598-25.el7_1.x86_64
[ec2-user@ip-10-204-0-80 ssg-rhel6-c2s]$ rpm -q ruby

[2016-03-22 17:32] aaronlippold commented on #569
[code]

[2016-03-22 17:37] aaronlippold commented on #569
[code]

[2016-03-22 17:41] aaronlippold commented on #569
[code]

[2016-03-22 17:41] aaronlippold commented on #569
[code]

[2016-03-22 18:23] #569 closed, assigned to nobody

[2016-03-22 18:31] aaronlippold commented on #568
I would say that json, then compliance then supermarket would be the right order. Given that would be the way the product line would want to grow the support.

[2016-03-23 14:18] aaronlippold opened #572 "Issues with 'inspec compliance upload'"
[code]

[2016-03-23 15:31] aaronlippold commented on #572
per @srenatus - I edited the ~/.inspec/compliance/config.json file to remove the extra '/' after /api but still no go.

[code]

[2016-03-23 15:39] #572 closed, assigned to nobody

[2016-03-23 16:39] aaronlippold commented on #572
Still having issues with upload. Looks like a possible issue with the web server

[2016-03-23 18:54] rndmh3ro opened #577 "kitchen-inspec error when verifying concurrencly: Train::Transports::SSH does not implement #connect()"
When running the verify-step on hosts sequentially, it works:

[code]

But when running verify on multiple hosts in parallel, the following error occurs:

[code]

inspec version:

[code]

`.kitchen.yml`:

[code]

[2016-03-23 20:23] aaronlippold opened #578 "Chef Compliance Server - Users and Roles"
A user and I ran into an issue where I was able to add them to a team/organization but those changes are not flowing over to their user account. They cannot see profiles that have been uploaded or the changes in their team membership.

On the most current chef compliance.

[2016-03-23 20:24] aaronlippold opened #579 "Compliance Server: ssh-key login"
There seems to be an issue with using ssh-keys to log into nodes. User/pass works fine but when I copy in the RSA pem private key for the login I always get connection failed.

[2016-03-23 20:25] aaronlippold commented on #579
The error is sshkey: /// failed. Error code -1

[2016-03-23 22:28] alexpop commented on #579
Thanks for the report Aaron. We've released a new version today that gives a full stack trace on connection failures:
https://www.chef.io/blog/2016/03/23/chef-compliance-0-16-19-release/

Please upgrade and let us know the full error message.

[2016-03-24 07:26] srenatus commented on #579
Just a thought -- the key doesn't have a passphrase, does it? (Those aren't supported.)

[2016-03-24 15:22] spuranam commented on #579
Make sure that your RSA pem is not protected by passphrase, i ran into the same issue with a passphrase protected SSH key.

[2016-03-24 20:23] YarNhoj opened #584 "sshd_config Banner not proerly parsed"
I've noticed that several of the sshd_config checks fail.

Comparison failures.

[code]

These Checks say they aren't responding to exist? or exists?

[code]

And here we get an array error.

[code]

Relative System Info

[code]

sshd_config file

[code]

[2016-03-24 21:25] aaronlippold commented on #579
I upgraded to the new version today as well. 16.19 and did a cleanse and a reconfigure. I then uploaded the RSA key agian and it worked. I think before there were some newline issues and all that jazz. ( I wonder if there is a way to make sure other users done have that cut/paste issue ). Can't say if it was the version 14 server that was the issue or how I pasted my key.

If someone can point me

[2016-03-24 21:29] aaronlippold opened #585 "Add note about multiple inspec gem versions installed on the compliance server"
@srenatus and @aaronlippold tracked down and issue in 16.19 with the cli and web upload of profiles to the compliance server that was connected to the fact that I had multiple versions of inspec installed into /opt/chef-compliance/embedded/bin. Removing the extra installs and leaving only the most current version of inspec resolved the issue and should perhaps be added as a note to the docs and pe

[2016-03-24 21:32] aaronlippold commented on #564
This could also be framed as a more general requirement that organizations may want to define content guides for their own compliance profiles - which may include a set of 'tags' or 'refs' that is useful in their business domain.

[2016-03-24 21:40] aaronlippold opened #586 "Multiple logins to compliance server"
The compliance server seems to have issues if you try to login multiple times. I ran into this when I was working with profiles and logged in via the web fronted and via the cli. This also caused challenges when I was working with automating the update of profiles on the server triggered by a git push.

Just a note and perhaps working though a set of workflows could be useful to make sure a seemly

[2016-03-24 22:03] alexpop opened #587 "Additional InSpec status codes"
InSpec controls can have three outcomes at the moment. This forces a number of _grey_ outcomes to be labeled either:
- Success
- Failure
- Skipped

Here's an example where the execution gave no useful information when the profile was skipped due to unsupported OS:

[code]

Would be great to have the ability to specify additional outcomes for situations like:

[code]

[2016-03-24 23:08] #486 closed, assigned to nobody

[2016-03-25 01:01] arlimus commented on #568
let's use your list:
- [x] inspec json --controls a b c https://github.com/chef/inspec/pull/589
- [x] inspec supermarket exec --controls a b c
- [x] inspec compliance exec --controls a b c

[2016-03-25 01:05] arlimus commented on #568
from cursory checking (@chris-rock is off right now) I can see controls support in both compliance and supermarket:

[code]

@aaronlippold please let me know if this isn't working, we should track it in a separate issue

[2016-03-25 02:05] arlimus commented on #568
Covered all items. Please let us know if there is more to cover. If any of the existing methods have bugs, let's create new issues. Thank you @aaronlippold ! :+1:

[2016-03-25 02:05] #568 closed, assigned to nobody

[2016-03-25 02:17] aaronlippold opened #590 "Update the readme.md file to include new cli output"
inspec --help
Commands:
  inspec archive PATH                # archive a profile to tar.gz (default) ...
  inspec check PATH                  # verify all tests at the specified PATH
  inspec compliance SUBCOMMAND ...   # Chef Compliance commands
  inspec detect                      # detect the target OS
  inspec exec PATHS                  # run all test files at the specified PATH.
  inspec hel

[2016-03-25 02:19] aaronlippold commented on #587
:+1:

[2016-03-28 17:55] aaronlippold commented on #590
This can be closed now with the last merge.

[2016-03-28 18:50] warroyo commented on #584
I also have this error, The reason it is failing is because the control is looking at `etc/ssh/sshd_config` rather than `/etc/ssh/sshd_config`. it is missing the starting `/` so the file it is describing does not exist

[2016-03-28 19:00] warroyo opened #595 "sshd_config resource no method error"
I am seeing the following error when using the sshd_config resource. The below output is from running inspec cli. I also have the output from inspec shell.

[code]

Shell output:

[code]

[2016-03-28 19:16] YarNhoj commented on #584
So that explains the first set of problems anyway.

[2016-03-28 19:38] chris-rock opened #596 "Make profile/example more self-explanatory"
As highlighted in https://discourse.chef.io/t/inspec-profile-library-classes/8044 the example is not perfect and may open some questions:
- Can I use any ruby code here
- Can I use chef dsl here (regular chef not InSpec)
- Can I put multiple classes in the same file or e.g. gordon_config1, something_else2,etc
- How do I return data to the test case say for example a simple string.
- Who the heck i

[2016-03-28 19:38] #590 closed, assigned to nobody

[2016-03-28 19:38] chris-rock commented on #590
Thanks @aaronlippold for bringing this up and for solving it.

[2016-03-28 23:28] warroyo opened #597 "readable.by not working on RHEL7"
I am attempting to use the `readable.by` and `readable.by_user` neither of which seems to be working. Here are the two problems I am seeing for each method.

readable.by: not sure if there is something else I need to set in order for this to work but `mask` is always nil

[code]

readable.by_user: This just hangs and does not return. I see the command running on the linux box but it is not returni

[2016-03-28 23:49] warroyo commented on #597
i needed to add the `--sudo` option

[2016-03-28 23:50] #597 closed, assigned to nobody

[2016-03-29 00:00] warroyo commented on #595
turning on the --sudo option fixed this

[2016-03-29 00:00] #595 closed, assigned to nobody

[2016-03-29 01:37] AnotherNerdHere commented on #534
I would like to see this as well.
thanks

[2016-03-29 08:09] alexpop commented on #579
You can find the logs under `/var/log/chef-compliance/core/`
At some point, we will implement private key validation on upload.

[2016-03-29 14:02] chris-rock commented on #597
@warroyo Should we think about a better cli output that indicates a missing sudo option?

[2016-03-29 14:34] warroyo commented on #597
Yes I think that would be great. The reason I did not find this sooner was due to mismatched documentation actually. The Chef Docs say there is a `--disable_sudo` option that is defaulted to false. and the documentation [here](https://github.com/chef/inspec/blob/master/docs/ctl_inspec.rst) says there is a `--sudo` option which is false. These two are conflicting so I thought I was using sudo the e

[2016-03-29 14:47] kdshah1 opened #598 "auditd_rules resource does not seem to be working correctly"
It looks like auditd_rules resource is not working correctly. I don't have any rules but running the following inspec resource, the rule passes. It should have failed.
 describe auditd_rules do
  its('lines') {
    should contain_match(/^exit,always arch=.\* key=time-change syscall=adjtimex,settimeofday/)  }

[2016-03-29 15:30] chris-rock commented on #598
Can you do the following on the machine you are inspecting:

[code]

I would like to verify what the output of `lines` is

[2016-03-29 16:21] kdshah1 opened #599 "add dhcpd_conf resource"
There are few security rules related to DHCP server and client and it will be useful to have a dhcpd_conf resource.

[2016-03-29 16:40] chris-rock commented on #599
@kdshah1 could you share an example that you would like to test. How you are testing it at the moment via CLI?

[2016-03-29 18:11] kdshah1 commented on #598
inspec> auditd_rules.lines
=> ["No rules"]
inspec> auditd_conf.lines
=> nil
inspec>

[2016-03-29 18:15] kdshah1 commented on #599
These are some of the security requirements that I am trying to test:
1. Do Not Use Dynamic DNS

To prevent the DHCP server from receiving DNS information from clients, edit /etc/dhcp/dhcpd.conf, and add or correct the following global option: ddns-update-style none;

2.Deny Decline Messagesrule

Edit /etc/dhcp/dhcpd.conf and add or correct the following global option to prevent the DHCP server fr

[2016-03-29 18:45] warroyo commented on #584
It looks like this is happening becuase the Banner method returns a string not an array.

from inspec shell

[code]

the test should be

[code]

this would catch both issue and issue.net

[2016-03-29 20:58] AnotherNerdHere commented on #532
it would be nice if this could be formatted in such a way to use the control, title  and result would be nice.
something on the order of:
ctl# title result
for example:
Profile: name
Version: version
Target: ssh://blah

[code]

Summary:  13/24 passed

being able to get that in json or html would be wonderful

[2016-03-29 23:06] elijah opened #600 "service resource should better support servicectl scripts in nonstandard locations"
Today I was trying to use the inspec service resource to test status of services bundled by an enterprise software vendor's software.

I tried using sysv_service('myservice', '/opt/vendor/etc/init.d/myservicescript') as suggested by the docs and a read of the source - this didn't work out, and I'm not completely sure why... but I did find some things in a read-through of the code that I think are

[2016-03-29 23:49] elijah opened #601 "processes: Clarify docs to indicate it searches using a Regexp"
Working with the processes resource today - I had quite a bit of trouble getting it to properly match on my test VM's executables.

Backstory - building integration tests using inspec for a product that runs multiple java services in an all-in-one VM under certain configurations.

I wrote several resources that looked like this:

[code]

And some of them matched, and some of them did not.

The pro

[2016-03-31 14:28] stuartpreston opened #605 "Windows: registry_value resource and type matcher?"
I'd like to do something like this:

[code]

or keeping with registry_key (???)

[code]

We had similar capability in ServerSpec (test by 'name', 'data' and 'type' but would be good to have an InSpec equivalent...)

[2016-03-31 14:35] chris-rock commented on #605
Hi Stuart,

have you seen the examples located in https://github.com/chef/inspec/blob/master/test/integration/default/registry_key_spec.rb:

[code]

Does it cover your needs? Is that not compatible with Serverspec? Let me know if something is missing

[2016-03-31 14:39] chris-rock commented on #586
@aaronlippold I use both at the same time, could you describe the errors in more detail?

[2016-03-31 14:47] stuartpreston commented on #605
Thank you! (I had not thoroughly looked through the integration tests - doh!)  Can we have the docs updated? -they only reference the Name matcher).

There's still some disjointed terminology...  Registry keys have registry **values** that are objects that hold **data** of a specific **type**.  The term **value** has been overloaded a lot here (and in ServerSpec).  Would be good to get this sorted

[2016-03-31 16:28] aaronlippold opened #606 "Odd Error with inspec shell"
inspec shell
WARN: Unresolved specs during Gem::Specification.reset:
      net-ssh (< 4.0, >= 2.6.5, >= 2.9)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
Sorry, you can't use Pry without Readline or a compatible library.
Possible solutions:
- Rebuild Ruby with Readline support using `--with-readline`
- Use the rb-readline gem, which is a pure-Ruby port of Readl

[2016-03-31 16:31] aaronlippold commented on #579
That would be a very good usability enhancement - especially given a mix of win, linux and OS X users.

[2016-03-31 16:32] aaronlippold commented on #606
Doing a 'gem update' to see if that resolves the issue

[2016-03-31 16:40] aaronlippold commented on #606
Ok. I broke my inspec ... :(

inspec shell
WARN: Unresolved specs during Gem::Specification.reset:
      net-ssh (< 4.0, >= 2.6.5, >= 2.9)
      winrm-fs (~> 0.3)
      excon (>= 0.38.0)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
Sorry, you can't use Pry without Readline or a compatible library.
Possible solutions:
- Rebuild Ruby with Readline support using `

[2016-03-31 16:41] aaronlippold commented on #606
Well my inspec shell anyway. Exec, json, detect, init, etc all seem to work still.

[2016-03-31 16:51] aaronlippold opened #607 "tab-completion support in the inspec command line and in the inspec shell :)"
Tab-completion ... at least limited support may be good for the release.

I will see if I can grok bash-complete and add it in.

[2016-03-31 21:09] AnotherNerdHere opened #609 "inspec with chef vault"
We use chef vault in most of of our cookbooks for sensitive user ids and passwords and other info.
I need a way to be able to use the valult in the inspec profiles but I don't see it documented anywhere. passwords in clear text is unacceptable and will not be allowed by the powers that be.

[2016-03-31 21:29] AnotherNerdHere commented on #587
The ones @alexpop suggested are good I would also like to add:
skipped do to app not installed
skipped to due to profile inheritance
failed due to user permissions / privileges
failed - system unavailable. (for example host test,  mysql_session or something like that)

[2016-03-31 21:36] AnotherNerdHere commented on #358
I would also like to see documentation regarding where this is used. currently If I set a impact 1.0 or 0.1 is doesn't appear to have any effect.

[2016-03-31 21:38] AnotherNerdHere commented on #268
this would be very valuable to what I'm doing.

[2016-04-01 00:21] chris-rock commented on #607
+1 on that feature!

[2016-04-04 12:34] chris-rock commented on #609
@AnotherNerdHere Thanks for the feedback. And YES, we agree that sensitive data should not be part of profiles. That is one of the reasons, why we have not yet reached 1.0. For the next iterations we envision an attributes interface that allows you to call inspec with the required parameters. Once that is done, an integration with chef-vault or other secrets systems is possible. For now, you could

[2016-04-04 12:41] chris-rock commented on #606
Thanks for reporting @aaronlippold We will investigate that issue!

[2016-04-04 14:11] chris-rock commented on #563
Proposed additions by @aaronlippold in Gitter to add flexible query/check
- [ ] profile tag/element query - show me all the controls that have this tag, over impact .5 etc.
- [ ] profile ‘structure’ enforcement, i.e. profile X controles require elements x,y,z’, need control tags a,b,c which leads to the ‘compiance coverage’ we were talking about. ( i.e. For CIS you could have a list of all the con

[2016-04-04 14:38] chris-rock commented on #605
@stuartpreston At this point, we mainly established compatibility with Serverspec. Could you share your view on how that should look like? (e.g. via examples)

[2016-04-04 15:09] stuartpreston commented on #605
Understood. I was imagining something like this, so not a million miles away what you have:

[code]

`have_value` would need 3 overloads though, one to test the **value** exists, one to test the **value** exists of the required **type**, and one to test the **value** exists of the required type and matching the specified **data**.  There's no such thing as a "property" in registry terminology real

[2016-04-04 15:20] kdshah1 opened #611 "How to -Check a rule in if then else block / Attributes for profiles"
Is there a way in inspec to check for a particular rule and only if that rule passes execute the rest of the rules?
trying to do something like if a service exists, only then execute the rest of the rules.

[code]

But this is not the right way. Trying to find the right way ..

[2016-04-04 15:42] chris-rock commented on #611
At this point of time, you could do two things:
- `only_if` as highlighted above, but that skips all tests within the same .rb file
- use a ruby syntax to test for the criteria like:

[code]

We should maybe think about something like:

[code]

Would the last example meet your needs?

[2016-04-04 18:13] kdshah1 commented on #611
@chris-rock yes, it will satisfy one of the use case.
The other use case that I was think was can we assign a boolean value true or false to a test and if that test passed, execute one or more test otherwise execute another set of test.
i.e

[code]

[2016-04-04 20:48] kdshah1 opened #612 "add named.conf resource"
For DNS security requirements, it will be very useful to have a named.conf resource for checking the clauses, and directives.

[2016-04-04 20:53] AnotherNerdHere commented on #611
I would like to be able to so something like the above but for app, service or host for example below in my bad pseudo code.

#myapp could be mysql, nginx, gpg, tree, ruby, pretty much thing that responds to which

[code]

[2016-04-05 08:54] arlimus opened #613 "overhaul skip"
**Problems:**
1. `skip` is used for both errors and intended skips => cannot differentiate between intended and unexpected exceptions
2. `only_if` throws out controls instead of marking them as skipped
3. `only_if` is missing for controls
4. `supports` silently skips all controls
5. **optional** ruby conditionals (`if` / `else`) completely cut off controls from `inspec json` generation; either off

[2016-04-05 09:46] chris-rock commented on #613
#611

[2016-04-05 10:00] chris-rock commented on #611
@kdshah1 I would propose a syntax as following:

[code]

I would try to make a test as flat as possible, by attaching the execution condition to the test, we can display easily why a test has not been executed. Otherwise this will be very difficult to display the reason for non-execution in a compliance report. This would lead to a state, where its hard to debug controls and profiles. I try to avo

[2016-04-05 10:11] chris-rock commented on #613
I am all in on: a), b) and c)

I see some additional issues with d):
- attributes are missing (UserError? or ArgumentError?)
- dependencies could not be resolved (ExecutionError?)

I would like to handle e) as a separate issue. I get the point that we need some kind of grouping, but this also adds complexity to a compliance profile. Before we decide to take a keyword, I would like to understand th

[2016-04-05 13:53] alexpop opened #614 "inspec exec format json backtrace"
I've executed the following control:

[code]

with the `--format json` options and received the following output: [output.json.txt](https://github.com/chef/inspec/files/204558/output.json.txt)

This is the character count of the content with and without the backtrace content:

[code]

This enhancement request is to explore when to provide the backtrace output. For example have it in `--format full

[2016-04-05 14:11] aaronlippold opened #615 "Ensure that the package resource operates with the expected names"
I have noticed that with the package resource we are actually using the service name rather than the formal package name - at least with RHEL - which makes things a bit inconsistent. I think this would also help us better manage how we use the Service resource as well considering the complexity of supporting different init systems.

IMHO:

describe package('dhcpd') do
   it { should_not be_install

[2016-04-05 14:15] aaronlippold opened #616 "Service resource should have a fail code - "package not installed" - when failing 'should be_enabled' test fails"
When we test that a service should be enabled we should keep in mind the case where the service package is not installed and perhaps we should have that as part of the output - we could even suggest adding a test for the installation of the package.

[2016-04-05 14:16] aaronlippold commented on #613
👍

[2016-04-05 14:21] aaronlippold commented on #615
I believe this will also improve inspec's overall adherence to establish standards with the package management systems etc - i.e. more gnu-proper.

[2016-04-05 14:49] aaronlippold commented on #611
@chris-rock does

if command('sshd').exist? currently work? Or are you suggesting that it can be added?

[2016-04-05 14:50] aaronlippold commented on #611
Also, would the more natural logic be:

if service('sshd').exist? ....

Isn't that what we are really asking ?

[2016-04-05 15:20] aaronlippold commented on #611
@chris-rock @arlimus I think this ties back to the idea that a profile itself has different logical use cases - i.e. run time options that the profile supports.
- Is the system allowed to use dhcp - or needs to at the moment ...
- is it a web-server
- does it act as a mail relay?
- does it use remote monitoring

Looking at: http://people.redhat.com/swells/scap-security-guide/RHEL/6/output/ssg-cent

[2016-04-05 15:27] kdshah1 commented on #611
@AnotherNerdHere , yes, I like what you are suggesting, exposing the only_if as a feature for controls. That will work for the scenarios that I am talking about. Is this feature something you are targeting to add in near future?

[2016-04-05 15:34] aaronlippold commented on #611
Note the logic here is:

If the system is not using NFS mounts ... then ...

[code]

[2016-04-05 15:37] aaronlippold opened #617 "Example of a "user action" test"
[code]

This really should not be a 'skip' test, does it make sense to have a concept of 'user_action' or a needed profile param?

[2016-04-05 16:25] AnotherNerdHere commented on #609
@chris-rock Thanks for the reply and code. I'll give that a try. the biggest hiccup may be the last sentence, the location of the secrets file.

[2016-04-05 16:50] chris-rock commented on #611
@aaronlippold  That works already. If you call the resource from ruby directly, you can call all methods that are defined in that resource:

[code]

IF has some disadvantages compared to `only_if`. Would you prefer to use `if` around the checks compared to an `only_id` condition attached to controls?

I agree, that the params play a role in how we execute profiles, but the params will be well defi

[2016-04-05 16:58] chris-rock commented on #616
@aaronlippold how would you build up the relationship between a service and a package. Lets say we detect a service is not installed, how should we determine the associated package? Do you have any ideas around that?

[2016-04-05 17:04] chris-rock commented on #617
@aaronlippold This specific use cases leads to profile attributes. Attributes are assigned to an environment or node and are filled in during execution time. This is something that we have on our agenda for our next releases.

From my perspective, this example would not require a user interaction, since the port must be defined before we run the test.

[2016-04-05 17:11] chris-rock commented on #615
@aaronlippold package should always use the same name as you use with yum or dnf. If that is not the behavior, it should be considered as a bug. We've never implemented a way to use a service name for packages, this may just happen coincidental e.g. on Ubuntu systems.

[2016-04-05 19:56] arlimus commented on #611
@aaronlippold Great point on inheritance! It's breaking my head too atm, i.e. how does skip behave on inheritance. Let's cover this separately, inheritance + skip is a tricky one to get right :smile: . Love your example, we should use this as the basis.

@AnotherNerdHere I finished that `control do ... only_if xyz?` section on my flight, will have it up later tonight (PDT) and reviewed by @chris-r

[2016-04-05 21:06] kdshah1 commented on #611
@AnotherNerdHere , Awesome!

[2016-04-06 04:01] arlimus commented on #614
:+1: interesting, with `--controls` and that whole `fulljson` piece merged, we are starting to see more of these filter-that-json problems, or also: jq-soluble :grin:

I'm not sure yet about the correct way...

that `--format json` formatter is still 100% rspec-oriented, with just 2 extra fields that don't hurt. but in the end: `fulljson` is the more complete one. idea: we might opt to rebrand our

[2016-04-06 12:10] arlimus commented on #611
And here it is, cheers to Chris for reviewing so quickly:
https://github.com/chef/inspec/pull/619

It's not yet released, but feel free to use the latest master; We'll have inspec 0.18 out by the end of the week.

[2016-04-06 18:13] aaronlippold commented on #611
So, I think we are all on the same page with this. As a first step, I think we should be able to have basic params in profiles so that we can properly implement tests such as these for individual profiles. I think that the complexity of inheritance and overriding can be addressed later.

[code]

[2016-04-06 18:17] aaronlippold commented on #617
@chris-rock I hear you and we are in agreement. The "user" in this case was the person doing the review, in our case, that is inspec. I think we are on the same page, 'params', 'attributes' etc. all the same concept and would allow us to use inspec answer this test. This was just an example for us to work from to say, how / which data would we need to define in the 'profile structure' to allow thi

[2016-04-06 18:28] aaronlippold commented on #616
@chris-rock well my first instinct said we could try to use the --whatprovides of yum/rpm and the equ in dpkg etc. but then I got to thinking that perhaps we could look and see if init.d, systemd, etc may have the ability to help answer that question. I would see if @fcaviggia has any input on this.

[2016-04-06 18:29] aaronlippold commented on #616
@fcavigga is now with MITRE and working on the 'codename: compliance project'

[2016-04-06 18:38] chris-rock commented on #617
yes @aaronlippold , we are on the same page. That is a very good example!

[2016-04-06 18:38] aaronlippold commented on #615
Ok. Then it seems to be a bug with the yum packages. I think with openssh-server as an example really wants sshd as the input. I think that is what @kdshah1 told me.

[2016-04-06 18:40] chris-rock commented on #616
I am really open to see a solution. Maybe we can ask yum to retrieve that information from packages. I think it really depends on how we are able to pull the required data. If we get that, I would love to see that in InSpec

[2016-04-06 18:41] chris-rock commented on #615
Could you share the InSpec test and the specific OS, so that I am able to reproduce it?

[2016-04-06 18:46] aaronlippold commented on #616
I would look at a combination of rpm,dpkg,init.d and systemd. I know that I have tried to start a service and it has told me to install a package before.

[2016-04-06 19:35] aaronlippold commented on #616
RPM:https://docs.fedoraproject.org/ro/Fedora_Draft_Documentation/0.1/html/RPM_Guide/ch05s02s04.html
DPKG:http://www.cyberciti.biz/faq/equivalent-of-rpm-qf-command/
PACMAN: https://wiki.archlinux.org/index.php/Pkgfile#Command_not_found
Windows: :laughing:

[2016-04-07 15:05] aaronlippold opened #623 "Error with Chef Compliance 1.0.11 upgrade - expected given inspec upgrade"
### Description

Given that our work with inspec is moving beyond the release of the compliance server's version of inspec the upgrade scripts are tripping on the "upgrade/remove" portion and are throwing expected errors.
### InSpec and Platform Version

inspec 0.17.1
### Replication Case

Upgrade inspec on the compliance server beyond 0.16.1 and do an upgrade via rpm
### Possible Solutions

I wou

[2016-04-07 15:08] aaronlippold opened #624 "The Chef Compliance server should direct users to use yum rather than rpm"
### Description

The upgrade instructions provide instructions on upgrade for the compliance server, however, it is not good form or standard convention to upgrade a package outside yum. ( old habits die hard Ja )

Does the instructions for ubuntu, packman, etc?
### Possible Solutions

Update the documentation to use the:

[code]

[2016-04-07 16:21] aaronlippold commented on #615
Ok. Will do. Let me see if I can find it.

[2016-04-07 16:24] aaronlippold commented on #617
[code]

[2016-04-07 16:35] chris-rock commented on #606
@aaronlippold could you try the following:

`gem install rb-readline`

Which OS are you using?

[2016-04-08 13:46] aaronlippold opened #626 "Needed: Profile Attributes: IFF and Named Resource - bind vs bind-chroot logic flow - if and only if - control logic conflicts"
### Description

So the security guidance says that we should not run bind outside a chroot environment. So they say that the bind and bind9 packages should not be installed, and that the bind-chroot package should be installed. The issue is that the bind-chroot package uses the bind package. So we have one test that says bind should not be installed but another that says bind-chroot should be ins

[2016-04-08 20:40] spuranam opened #627 "Checking on services on SLES 11 fails"
### Description

Checking on services on SLES 11 fails. The services resource as [currently implemented](https://github.com/chef/inspec/blob/master/lib/resources/service.rb#L138) only supports opensuse. SLES 11 uses SysV init whereas SLES 12 like latest version of opensuse uses Systemd.
### InSpec and Platform Version

Insepc Verison: 0.17.1
Chef Compliance: 1.0.4
OS version: SLES 11 SP3
### Repli

[2016-04-09 04:21] coderanger opened #628 "Can't use os helper from example group context"
It would be nice to map the `os` method helper in to all contexts. Currently you can't do this:

[code]

It fails with `undefined local variable or method 'os' for RSpec::ExampleGroups::FileApp:Class`. Pulling the `os.windows?` into a local variable from the top level fixes this, but is clunky. I think we can probably define an `os` method in the resource base class that leaves this as a valid ali

[2016-04-09 07:09] chris-rock commented on #628
Thanks Noah for reporting. Indeed that is an issue we need!

[2016-04-11 02:03] coderanger opened #630 "Can't use nested describe blocks"
InSpec appears to be incompatible with nested example groups like:

[code]

[code]

The RSpec DSL code should either declare the resource methods more globally or just override `describe` and `context` and inject the DSL there.

[2016-04-11 08:40] chris-rock commented on #630
@coderanger we use control for that:

[code]

[2016-04-11 08:43] alexpop opened #631 "Inspec json resource . example not working"
### Description

The json inspec resource not working with '.' as separators.
### InSpec and Platform Version

[code]

OS X 10.11.3
### Replication Case

With the following json file:

[code]

The json inspec resource [documentation](https://docs.chef.io/inspec_reference.html#json) and [example](https://github.com/chef/inspec/blob/67251d2982c719bd3f869b820850e0194db90a41/lib/resources/json.rb#L12-

[2016-04-11 08:44] chris-rock commented on #627
@spuranam Thank you very much for reporting. Your fix looks very good, but I would split out arch and let arch just use systemd. That makes the code simpler. Could you open up a PR?

[2016-04-11 08:45] chris-rock commented on #624
The installation for packages via repositories is documented here: https://docs.chef.io/packages.html I agree that we need to make this more prominent in our install and upgrade instructions.

[2016-04-11 08:47] coderanger commented on #630
Yes, I'm saying you should fix the standard RSpec syntax to work correctly. Also AFAIK `control` can't be nested and doesn't support the `context` helper.

[2016-04-11 13:47] arlimus commented on #630
:+1: good point

[2016-04-11 14:15] chris-rock commented on #612
@kdshah1 that is a really good idea. We are also open to accept PRs :-)

[2016-04-11 14:17] chris-rock commented on #609
@AnotherNerdHere I agree this is not a perfect solution yet. The improvement of secret management is high on our list.

[2016-04-11 14:18] chris-rock commented on #606
@aaronlippold I cannot reproduce your issue. Could you share more details?

[2016-04-11 14:20] chris-rock commented on #605
@stuartpreston I am not sure about adding more RSpec matchers. I would like to find a more direct access. I need to think further about it...

[2016-04-11 14:29] chris-rock commented on #626
is related to #611

[2016-04-11 14:31] chris-rock commented on #584
@YarNhoj I am confused why its not using `/etc/ssh/sshd_config`. It looks good from source code https://github.com/chef/inspec/blob/master/lib/resources/ssh_conf.rb#L80. Do you use the `sshd_config` resource or do you overwrite the config path manually?

[2016-04-11 14:32] chris-rock commented on #585
That is a good point @aaronlippold

[2016-04-11 14:46] YarNhoj commented on #584
@chris-rock The checks above are straight out of the stock Compliance profiles from Chef. The first issue was a poorly written control that doesn't have an / at the beginning of the path. The 'banner' issue is because inspec returns an string not an array. Again that is a control issue.

The exists? errors I'm still not sure about. This is all bone stock, I don't overwrite anything.

[2016-04-11 14:48] chris-rock commented on #601
@elijah Thanks for reporting. I get the point that this is annoying and we should find a way to improve the behavior.

[2016-04-11 14:54] chris-rock commented on #600
@elijah Thanks for reporting. I agree the run-level support is not perfect yet and this needs to be improved. Could you share or add a test that makes it really easy to reproduce this behavior on our side?

[2016-04-11 15:37] chris-rock commented on #584
Thanks for reporting @YarNhoj At this point of time we are already improve the RHEL profiles. Those improvement will be shipped within the next weeks.

Indeed we need to improve the ssh parsing and parse banner as an array.

[2016-04-11 15:51] kdshah1 commented on #615
So, inspec is working as designed and it does pass the test if a correct package name is given irrespective of version specified or not.
But this could be future enhancement, the ability to when a required service fails - it returns the needed package to be installed.

[2016-04-11 17:04] chris-rock opened #633 "Add warning of missing Powershell 5"
### Description

Powershell shipped with Windows 2008 R2 does not ship with a Convert-To-JSON command. That is heavily used in our resources
### InSpec and Platform Version

0.17.1
### Replication Case
- Install Windows 2008 R2
### Possible Solutions

Add a Warning that highlights that Windows Management Framework 5.0 https://www.microsoft.com/en-us/download/details.aspx?id=50395 is not installed

[2016-04-11 17:47] chris-rock commented on #615
@kdshah1 thanks for your feedback. That behavior is tracked in #616 I close this one. Do not hesitate to reopen, if you think its required

[2016-04-12 05:59] chris-rock commented on #489
this may also happen, if an newer version of Chef Compliance is used #576

[2016-04-12 14:56] arlimus opened #634 "failing gracefully on missing things in resources"
We are currently returning nil at some places where things are missing, e.g.

[code]

inside of tests this really gets us bad output:

[code]

erroring out with `nil` cannot respond to `include?` instead of giving a straight answer.

Use proper resource skipping here.

[2016-04-14 23:28] chris-rock opened #640 "Show error stacktrace only if --debug is used"
### Description

RSpec errors are displayed with stacktrace by default. This confuses user
### InSpec and Platform Version

All
### Replication Case

Just run a test that fails, eg.

[code]
### Possible Solutions

Do not display the stacktrace by default, but we should be able to enable that for debugging

[2016-04-15 04:53] #627 closed, assigned to nobody

[2016-04-15 07:54] gregelin opened #641 "Install failed on Ubuntu with Ruby 2.1"
### Description

`gem install inspec` failed when ran as root on Ubuntu 15 with Ruby 2.1 installed.
### InSpec and Platform Version

Distributor ID: Ubuntu
Description:    Ubuntu 15.10
Release:    15.10
Codename:   wily
### Replication Case
1. Start with Ubuntu 15.10 64 bit on Digital Ocean
2. Assume root
3. Run `apt-get update` to update packages
4. Run `apt-get install ruby -y`
5. Check ruby ver

[2016-04-15 08:01] gregelin commented on #641
Install error was result of not having ruby dev files and can be checked corrected with:

[code]

But an example execution then fails on same server. See issue #642.

[2016-04-15 08:12] gregelin opened #642 "`add_test': undefined method error on Ubuntu 15.10 with Ruby 2.1"
### Description

Created simple example `test.rb` using code from README (see below). Ran `inspec exec test.rb` and received an error with stack trace when I expected to see the tests executed and results.
### InSpec and Platform Version

Distributor ID: Ubuntu
Description: Ubuntu 15.10
Release: 15.10
Codename: wily
### Replication Case
1. Install Ruby, Ruby-Dev, InSpec on Ubuntu (see #641)
2. Cre

[2016-04-15 08:14] srenatus commented on #642
Hmm curious case. Thanks for reporting. Could you share the output of `gem list rspec`, please?

[2016-04-15 18:51] chris-rock opened #644 "Add required inspec version to inspec.yml"
### Description

Inspec profiles may use newer features that have been added to latest version of inspec. Therefore profiles may require features from newer versions. This minimum version should be included in the inspec.yml
### InSpec and Platform Version

latest
### Replication Case

install an older version, use a resource that is not available
### Possible Solutions

[code]
### Stacktrace

Ple

[2016-04-16 06:49] mafr commented on #642
Same error here on Ubuntu 15.10 with ruby 2.1.5p273.

[code]

[2016-04-16 11:31] chris-rock commented on #642
I just tried this on a new ubuntu wily box (vagrant). I had no troubles installing inspec:

[code]

Therefore its not a ruby 2.1 issue, since we tests this regularly.
@gregelin could you share your ruby and rspec versions?
@mafr How come that you have the rspec beta gems installed?

[2016-04-16 11:35] chris-rock opened #646 "InSpec OS package"
### Description

Current installation for inspec may be a hassle. It may not work if other gems are installed that use the same dependencies but in different versions.
### InSpec and Platform Version

0.18.0
### Replication Case

As reported in #642, a newer beta version of Rspec is able to break inspec.
### Possible Solutions

InSpec should be shipped as native deb, rpm and msi package, to ease t

[2016-04-16 11:37] chris-rock commented on #641
@gregelin Thank you very much for the feedback. I close this issue in favor for https://github.com/chef/inspec/issues/646 Do not hesitate to reopen if required.

[2016-04-16 11:37] #641 closed, assigned to nobody

[2016-04-16 11:41] chris-rock commented on #631
Unfortunately, this is an issue with `its`. We need to update the documentation for the resource to use:

[code]

for now

[2016-04-16 11:51] chris-rock commented on #485
@username-is-already-taken2 This output is correct. I'd like to mention that you can also get the result as json:

[code]

[2016-04-16 11:51] #485 closed, assigned to arlimus

[2016-04-16 16:55] mafr commented on #642
There was nothing Ruby-related on my machine and I was just following instructions :)

I end up with beta versions of rspec reliably - here's how to reproduce this in Docker:

[code]

When running "gem install rspec", I get version 3.4.0, but via "gem install inspec", I end up with the beta versions. Downgrading to rspec 3.4.0 fixes the problem, BTW.

[2016-04-17 00:31] #631 closed, assigned to nobody

[2016-04-17 04:03] #642 closed, assigned to nobody

[2016-04-17 04:21] chris-rock commented on #642
In addition we also added support for our own docker container in #649

[2016-04-17 12:48] #644 closed, assigned to nobody

[2016-04-17 17:29] DonPwrShellHunt opened #653 "gem install failure on RHEL 7.2 Ruby 2.0"
### Description

The documented way to install inSpec fails on a fresh install of RHEL 7.2
Similar to #641

README indicates that inSpec requires ruby (>1.9)
and lists the following command to install via rubygems.org
gem install inspec

The failure output I received follows:
`# gem install inspec`

[code]
### InSpec and Platform Version

$ inspec version
0.18.0

$ cat /etc/redhat-release
Red Hat

[2016-04-17 22:04] arlimus commented on #646
Also helpful for https://github.com/chef/inspec/issues/653

[2016-04-17 22:10] #653 closed, assigned to nobody

[2016-04-17 22:11] arlimus commented on #641
@gregelin We added instructions for installation from source to the readme:

[code]

Feel free to reopen this if it still fails.

[2016-04-17 22:13] arlimus commented on #653
@DonPwrShellHunt We added instructions for installation requirements to the readme:

[code]

Feel free to reopen if this still fails. Tested on CentOS 7.2.1511

Thank you for reporting this issue! :smile:

[2016-04-18 05:05] jkerry opened #660 "windows_resource requires ConvertTo-Json ( PS3+ ) precluding stock win 2k8r2"
### Description

in inspec/lib/resources/windows_feature.rb the value of features_cmd contains the powershell 3+ commandlet: ConvertTo-Json.  This means a stock windows server 2k8r2 install will need to upgrade powershell in order to use the windows_feature inspec resource.
### InSpec and Platform Version

Inspec: 0.15.0
Platform: Windows Server 2k8R2, framework 4.5.2, powershell (win mgmt framewo

[2016-04-18 05:05] jkerry commented on #660
@mwrock Here's the issue

[2016-04-18 06:57] srenatus commented on #646
This means shipping all of Ruby, right?

[2016-04-18 07:08] mwrock commented on #660
That gist looks promising. Because that function is so widespread in this gem, it might be the simplest approach.

[2016-04-19 10:51] hajee opened #664 "Question: How to use variables in controls"
### Description

I would like to use inspec controls to check the configuration of things on a system. Let me make this more clear by using an example.

I want to check if an Oracle database is running. Oracle databases have a name The name of the database is however different on different machine. I would like to make one control and resuse it.

[code]

Right now the database name is `DEMO` and i

[2016-04-19 15:13] vjeffrey opened #665 "file permissions for symlinked files are not checked correctly"
this test fails:
control "xccdf_org.cisecurity.benchmarks_rule_1.5.2_Set_Permissions_on_etcgrub.conf" do
  title "Set Permissions on /etc/grub.conf"
  desc  "Set permission on the /etc/grub.conf file to read and write for root only."
  impact 1.0
  describe file("/etc/grub.conf") do
    it { should exist  }
  end
  describe file("/etc/grub.conf") do
    it { should_not be_executable.by "group" }

[2016-04-19 15:15] srenatus commented on #665
:tada: good catch 😨

[2016-04-19 16:21] fcaviggia opened #666 "Octal Permissions Match"
### Description

Inspec should be able to allow more restrictive permissions in checking the octal permission value of a file. For example,  the following test should work:

[code]

This test should allow the check to allow either 0000 or 0400 as valid.
### InSpec and Platform Version

$ inspec version
0.14.2

[2016-04-20 05:52] arlimus commented on #665
@vjeffrey @srenatus Good use-case! the way that `file` currently works, is that it will check the item you are pointing to, without resolving any fancy links:

[code]

The actual target is behind the api:

[code]

This is great for being specific and not wasting effort each time we need to resolve a `file`, but you may be pointing to an underlying difficulty in that model, which is: Users might be

[2016-04-20 11:50] grdnrio opened #672 "Windows default path format causes errors with inspec check"
### Description

Inspec check using autocomplete for paths in Powershell causes an error. Deleting the .<directory>\ dot and slashes works.
### InSpec and Platform Version

Inspec version: 0.19.1
Windows 10 x64 1511
### Replication Case

[code]
### Possible Solutions

Workaround is to manually remove the backslahes and dot.

[2016-04-20 15:05] #665 closed, assigned to vjeffrey

[2016-04-20 16:08] arlimus commented on #666
@fcaviggia Mode comes in the form of an integer, which makes means that you cannot `match` it to a regex. Even with the integer-regex matcher in #667, it remains tricky, since mode comes in the form of an octal. @alexpop presented one workaround via `mode.to_s(8)` and `cmp` in that MR. Another would require a special matcher for mode...

[2016-04-20 16:31] fcaviggia commented on #666
Very awesome work - I saw the commits a few seconds ago!  That will allow me to compare for more restrictive permissions (which should satisfy requirements).

[2016-04-20 16:34] #666 closed, assigned to nobody

[2016-04-22 15:22] justindossey commented on #507
Should be fixed when we get a new release of train.

[2016-04-27 13:43] chris-rock opened #685 "RSpec World teardown"
### Description

@alexpop brought up an issue, where InSpec is used with Serverspec at the same time in chef-client audit mode.
### InSpec and Platform Version

audit cookbook 0.5.0
### Replication Case

See https://github.com/chef-cookbooks/audit/issues/34
### Possible Solutions

Teardown of RSpec world and configuration

[2016-04-27 14:19] chris-rock commented on #664
@hajee That is a wonderful question. The current version of InSpec does not support this yet. This feature is high on our priolist and we expect to solve it within the next couple of weeks. Our approach will allow you to use attributes (similar to chef recipe attributes, but more like a clear interface) within a profile. So you just have to wait a little bit longer :-)

I like to add kudos to your

[2016-04-27 14:32] chris-rock commented on #660
@jkerry That is a very cool approach. Current recommendation was to upgrade Powershell, since Windows 2008 is already in extended support.

I would like to ensure the following:
- Therefore we should only load it, if powershell 2 is detected
- we only load it once for multiple resources

[2016-04-27 14:40] chris-rock commented on #672
Huh. That is a bumper. We need to fix this. Thanks for reporting @grdnrio

[2016-04-27 14:58] mwrock commented on #660
Fyi: 2008 r2 goes into extended support in 2020. https://support.microsoft.com/en-us/lifecycle?p1=14134

[2016-04-27 15:38] mhedgpeth commented on #672
@chris-rock something I could take, perhaps? If so at what level would you change it?

[2016-04-27 18:12] joshbrand commented on #577
seeing this with 0.12.2 as well, but only with concurrency > 2

[2016-04-27 20:39] nathenharvey opened #686 "Specifying an invalid target protocol should give a failure message"
### Description

When running InSpec against a remote target but not specifying the protocol (e.g., `inspec exec -t foo.example.com`) does not warn and executes the tests locally.
### InSpec and Platform Version

InSpec version 0.19.3 on Mac OSX 10.11.4
### Replication Case

https://gist.github.com/nathenharvey/9882c13871ff793cc6dff382c8615e5a

The InSpec test fails when running:

`inspec exec fil

[2016-04-27 20:48] nathenharvey opened #687 "parse_config_file fails when it encounters a '['"
### Description

The `parse_config_file` resource seems unable to handle lines that start with `[`
### InSpec and Platform Version

0.19.3 on Mac OSX 10.11.4
### Replication Case

Given [this yum.conf](https://gist.github.com/nathenharvey/ac24b5ccabccdfc1282aca0005c05566#file-yum-conf) and this [InSpec test](https://gist.github.com/nathenharvey/ac24b5ccabccdfc1282aca0005c05566#file-gpgcheck-rb), t

[2016-04-28 07:43] hajee commented on #664
We are not yet certain what to as far as licensing is concerned. Right now we have two PoC implementations for controls. One for [Oracle](https://github.com/enterprisemodules/inspec_oracle) and one for [WebLogic](https://github.com/enterprisemodules/inspec_weblogic). Idea is to build this into a control to check all sorts of Oracle stuff

[2016-04-28 08:00] mhedgpeth opened #689 "inspec compliance login fails"
### Description

I am unable to log in with inspec compliance login
### InSpec and Platform Version

0.19.3 (latest)
### Replication Case

Run the following command:

[code]
### Possible Solutions

I wonder if this has something to do with the server https not working. I tried adding the --insecure flag and got the same results.
### Stacktrace

Please include the stacktrace output or link to a gis

[2016-04-28 08:01] mhedgpeth opened #690 "How do I download a profile from a compliance server?"
### Description

I can't see how I would download a profile from a compliance server. I see that the upload is available.
### InSpec and Platform Version

0.19.3

[2016-04-28 08:03] mhedgpeth opened #691 "How do I inherit a profile from another profile?"
### Description

I want to take the CIS benchmark on the compliance server and inherit from it, but remove two rules. I want to test this locally. How do I do this?

[2016-04-28 08:19] mhedgpeth opened #692 "How do I run an inspec profile in chef audit mode?"
### Description

I want to be able to run an inspec profile during an audit mode run as a part of a chef-client run. Yes @chris-rock I know there is possibly a design flaw with this :), but for certain workflows it might be the easiest. How do I do this?

[2016-04-28 08:22] mhedgpeth opened #693 "How to run a single unit test within inspec"
### Description

When I try to run a single unit test following instructions in README.md, it doesn't work
### InSpec and Platform Version

Latest master code pull
### Replication Case

Run this command:

[code]

I get an error: test/unit/fetchers_test.rb:5:in `require': cannot load such file -- helper (LoadError)
any idea on what I might be doing wrong to get the test working?
### Possible Soluti

[2016-04-28 11:16] chris-rock commented on #693
Interesting. Haven't used bundler in combination with Chef DK. Have you installed all dependencies before?

[code]

Bundle is a tool to install gem development dependencies. This includes also build or test depdencies

[2016-04-28 11:17] chris-rock commented on #691
Is this helpful? https://github.com/chef/inspec/blob/master/docs/profiles.rst#profile-inheritance

[2016-04-28 11:37] mhedgpeth commented on #691
Yes that does help. One other question: Where is the base profile? On the
file system? On the compliance server? Supermarjet? This may relate to how
I download a profile

On Thu, Apr 28, 2016, 06:17 Christoph Hartmann notifications@github.com
wrote:

[2016-04-28 11:41] srenatus commented on #689
Which version of compliance do you use? While this looks like a real bug in the backwards-compatibility of inspec-compliance, using the old auth way hints at a not-quite-recent Compliance version...

[2016-04-28 12:14] mhedgpeth commented on #689
I downloaded it and loaded it last night. The auth method could be my
ignorance; where can I read more about the new auth?

On Thu, Apr 28, 2016, 06:41 Stephan Renatus notifications@github.com
wrote:

[2016-04-28 12:15] chris-rock commented on #691
[code]

Since we have no profile dependency resolution yet, you need to vendor all profiles into a directory. Then  you need to use the `--profiles-path=PROFILES_PATH` option to tell Inspec the directory of the referenced directory.

[2016-04-28 12:16] chris-rock commented on #690
The video at https://asciinema.org/a/37803 should demonstrate the usage. We have some known issues with the compliance plugin and the latest version of Chef Compliance 1.0. Those will be resolved within the next days.

[2016-04-28 12:17] chris-rock commented on #689
@mhedgpeth I know we have some bugs there. I am already in the process of fixing the bug...

[2016-04-28 12:24] chris-rock commented on #692
@mhedgpeth I fully agree that the chef client needs a converge and a audit phase. I was just saying, that I do not like the mix of converge and test resource in one directory. At this point of time, the audit mode is based on Serverspec and does not use InSpec under the hood.

We developed the audit cookbook https://github.com/chef-cookbooks/audit to catch the compliance use case of the audit mode

[2016-04-28 12:47] mhedgpeth commented on #692
That works for us. Is the plan to support the ServerSpec audit mode for the forseeable future, to support the cookbook-based tests? I think we would want to define the profiles and upload them to a compliance server, so the model works great for us.

[2016-04-28 12:49] chris-rock commented on #672
@mhedgpeth for sure. I try to write down the call history to help identifying the issue:
- lib/inspec/cli.rb: https://github.com/chef/inspec/blob/master/lib/inspec/cli.rb#L113
- lib/utils/base_cli.rb: https://github.com/chef/inspec/blob/master/lib/utils/base_cli.rb#L69
- lib/inspec/runner.rb: https://github.com/chef/inspec/blob/master/lib/inspec/runner.rb#L50
- lib/inspec/profile.rb: https://githu

[2016-04-28 12:50] mhedgpeth commented on #693
Yes I did those two commands before coming across the error. I'm using ChefDK 0.12. Is it perhaps a windows thing? Unfortunately I don't understand how the dependencies go together to know how to troubleshoot.

[2016-04-28 12:53] chris-rock commented on #692
We are thinking about two things:
- turn audit-mode into an full audit-phase where multiple compliance profiles can be executed (current approach with audit cookbook is well percieved, because the execution can be customized, but users need to ensure manually, that it is the last cookbook in the runlist)
- be able to run tests located in `test/integration` directory within that audit phase. That w

[2016-04-28 12:54] mhedgpeth commented on #690
That is a helpful video, but I'm really asking about how to vendor a profile locally. As you state in #691 you have to do this in order to properly test inheritance. So I would want to download the CIS benchmark profile locally, create another profile and inherit it, then upload my new profile to the compliance server to run on everything. Does that make better sense?

[2016-04-28 12:54] chris-rock commented on #693
I just tried this on my machine and it is working. I am going to test this on my windows machine as well.

[2016-04-28 12:56] chris-rock commented on #690
Currently the vendoring has to be done manually. We know that this step is way to complicated. Therefore it is very difficult to test it locally at this point of time. The automatic dependency resolution is already in works.

[2016-04-28 13:00] mhedgpeth commented on #691
That makes sense. The missing piece is how to vendor a profile from a compliance server. Once I know that I'll be able to follow the workflow.

[2016-04-28 13:04] mhedgpeth commented on #690
One thing that confused me is why the default profiles I found on the
compliance server aren't on github and located on the supermarket. Is there
a reason for this? That would make it easier for me to see it work and
avoid the need (in the short term) for an easy vendoring workflow. There
are only four found on the chef supermarket here:
https://supermarket.chef.io/tools?type=compliance_profile an

[2016-04-28 13:09] mhedgpeth commented on #672
As I looked at it I thought that adding this line to `fetchers_test.rb` would test it:

[code]

And in local, I would either just explicitly get rid of a ".\" at the start of the target or I would find a ruby-friendly way to understand that path.

Is that the right approach?

[2016-04-28 13:13] mhedgpeth commented on #692
I never got into audit mode too much until now, but my perception was that the audit mode ran separate of the run list and even upon failures. So it would be nice if there were an audit run list of profiles that could be specified and run separate of the converge itself.

I'm not sure about the kitchen tests. It does seem nice to be able to reuse your infrastructure and that feature would bring in

[2016-04-28 13:14] mhedgpeth commented on #689
Fantastic, I'm looking forward to seeing it working :+1:

[2016-04-28 13:33] chris-rock commented on #672
Yeah, that is the right approach. Looks like ruby does not resolve the relative paths properly. Once we know how to tackle it properly we should add that feature to the local fetcher.

[2016-04-28 13:37] chris-rock commented on #692
@mhedgpeth You are absolutely right. That is the reason why we think we need a more generic audit-phase that runs independently of a successful converge.

I like the separation you described between security folks and devops folks. Could you explain what you are not sure about with the kitchen-tests?

[2016-04-28 14:26] mhedgpeth commented on #692
Yes, I have the security person saying he wants it locked down and my operations person who wants to write inspec tests to test infrastructure. That separation is really essential to drive security adoption.

I don't have much experience with test kitchen tests, but it would seem that one would have to be careful that the tests are performant enough to not upset the system. It's a great idea, I've

[2016-04-28 14:26] #692 closed, assigned to nobody

[2016-04-28 23:55] chris-rock commented on #690
@mhedgpeth compliance plugin updates have been merged to master #695

At this point of time, we do not allow to login with username and password anymore via the api. We extended Chef Compliance to use full OpenID Connect in preparation to easily integrate with LDAP and Active Directory. It could also be federated with other OAuth2 providers. Therefore we cannot ensure, that the cli has access to a

[2016-04-28 23:55] chris-rock commented on #690
Please let me know if this works

[2016-04-29 00:03] chris-rock commented on #691
In our examples we include a profile called `inheritance`. If you try to run it, you get an error that highlights the missing `--profiles-path`. If you set this path to `examples`, inspec is able to load the `examples/profile` (`inspec exec examples/profile`)

[code]

[2016-04-29 00:06] chris-rock commented on #689
fixed in #695

[2016-04-29 01:04] #686 closed, assigned to nobody

[2016-05-02 13:28] mhedgpeth commented on #691
That makes sense, thanks.

[2016-05-02 13:28] #691 closed, assigned to nobody

[2016-05-04 12:44] arlimus opened #709 "add directories resource"
### Use-Case
- Test all dot-files (`\..*`) in user's home directories.
- Test all directories in a path (`/**/`)
- Test all files owned by user `adam` in a path

Stop running manual `find` commands.
Unify this across operating systems

[2016-05-04 12:51] arlimus commented on #709
Interface ideas:

[code]

Then there's the power-component to this task: regex/glob:

[code]

[2016-05-04 12:57] arlimus commented on #709
Glob seems to be well-established by now, not just in Unix-world but also on Windows:

http://stackoverflow.com/questions/8677628/recursive-file-search-using-powershell

It feels like the right interface to use. Although regex is more powerful, an idea might be to glob by default and offer regex as an option on top. When translating this into the different systems, it's also easier to glob than to

[2016-05-04 16:11] kdshah1 opened #710 "auditd_rules :lines resource not working correctly"
### Description

 I am using the following test to check one of the auditd rules configuration  and it passes with or without the rule configured.

describe auditd_rules do
    its(:lines) {
      should contain_match(/^exit,always arch=.\* key=audit_time_rules syscall=adjtimex/)
  }
 end
end

.### InSpec and Platform Version
 Inspec version = 0.19.3
auditd version 2.3.7
Platform: Centos 6.7

Tell

[2016-05-04 16:34] fcaviggia commented on #710
Here is some example code for testing:

[code]

That code is based the regular expressions contained in scap-security-guide content here:

https://github.com/OpenSCAP/scap-security-guide/blob/master/RHEL/6/input/oval/audit_rules_dac_modification_lremovexattr.xml

[2016-05-04 21:47] supertylerc commented on #268
This would be lovely.  Right now, my only option seems to be to write a wrapper script that somehow knows which servers run which things, then shell out to InSpec to run against those things in serial.

[2016-05-04 21:58] mhedgpeth commented on #690
Chris, that worked, thanks.

[2016-05-04 21:58] #690 closed, assigned to nobody

[2016-05-04 22:29] mhedgpeth commented on #689
Verified that this is fixed.

[2016-05-04 22:29] #689 closed, assigned to nobody

[2016-05-04 22:30] mhedgpeth commented on #693
Were you able to reproduce on a windows machine @chris-rock? I just tried again and it's not working.

[2016-05-05 13:34] arlimus opened #711 "Support nested describe.one blocks"
[code]

as encountered in SCAP

[2016-05-05 16:24] kdshah1 opened #712 "Chef Compliance Server UI - Need capability to remove an uploaded profile"
### Description

Once we upload a custom profile, there's no way to remove it. I made some modification to a profile after uploading it and was trying to upload it again which was failing so wanted to remove the profile to start from scratch and there was no way to remove it. So adding that capability will help.

Briefly describe the issue and the expected behavior
### InSpec and Platform Version

[2016-05-05 16:25] dh2mom247 commented on #712
+1

[2016-05-05 16:49] devopsrick opened #713 "Chef Compliance UI performance"
We are primarily using Compliance with the audit cookbook submitting to the Compliance server on every chef run.

After enough chef runs submit reports, the Reports tab in the UI becomes very slow/unresponsive due to it loading all reports over all time, rather than paginating after a certain number of results.

This behavior has persisted at least through 1.1.9, though I have not tested 1.1.23 ye

[2016-05-05 17:10] chris-rock commented on #709
It would also be interesting to cover a use-case reported by @aaronlippold:

[code]

[2016-05-05 19:03] alexpop commented on #712
Thank you for the request. Deleting profiles is available via the [Compliance API](https://docs.chef.io/api_compliance.html#delete), example:

[code]

Will try to include a `Delete` button in the Web UI in the next release. Thanks!

[2016-05-05 20:32] aaronlippold commented on #709
ontrol 'filepermission-mask-05.01' do
  impact 0.5
  tag severity: 'medium'

  title 'System must Verify that Shared Library Files Have Root Ownership'
  desc 'Files from shared library directories are loaded into the address space of processes
        (including privileged ones) or of the kernel itself at runtime. Proper ownership is
        necessary to protect the integrity of the system. '

[2016-05-05 20:33] aaronlippold commented on #709
This takes way way too long. Each loops takes about 3 to 5 min per loops.

[2016-05-05 20:34] aaronlippold commented on #709
describe command ('find /lib ! -user root -type f') do
 its('stdout') { should eq ''}
end

Is our current work around...

[2016-05-06 00:16] arlimus commented on #711
Not necessary, as SCAP focuses on `OR` combination of tests, while we do `at_least_one(...)` calls.

i.e.:

[code]

[2016-05-06 00:16] #711 closed, assigned to nobody

[2016-05-06 08:11] st739 commented on #412
sshd provides the -T flag. This emits sshd's parsed output of the sshd_config file.
If the 'Protocol 2' line is missing or commented, sshd -T reports 'protocol 2'. If a valid protocol entry exists in the file, sshd -T will display it.
/etc/ssh/sshd_config is not actually case sensitive. The CIS recommendation is not perfect.
Simon

[2016-05-06 12:06] alexpop commented on #712
A quick update. We've added a profiles delete button in the Web UI and will be available in the next release(planned for next week).

[2016-05-06 14:27] chris-rock commented on #614
solved with #671

[2016-05-06 14:27] #614 closed, assigned to nobody

[2016-05-06 14:29] chris-rock commented on #489
fixed by #696

[2016-05-06 14:29] #489 closed, assigned to nobody

[2016-05-06 14:31] chris-rock commented on #377
@gsandie and @arothian we updated the json formatter in #671 It will be released with the next version of inspec. That should provide all the information necessary to parse it properly. Please reopen if we forgot something.

[2016-05-06 14:31] #377 closed, assigned to nobody

[2016-05-06 14:32] chris-rock commented on #210
A lot has improved with #671 Please reopen, if InSpec is still not delivering all information you require.

[2016-05-06 14:32] #210 closed, assigned to nobody

[2016-05-06 14:33] chris-rock commented on #544
fixed with #696

[2016-05-06 14:33] #544 closed, assigned to nobody

[2016-05-06 14:42] chris-rock commented on #709
I agree with @aaronlippold That we should find a way to improve the test time.

[2016-05-06 15:21] arlimus opened #719 "RFC Attributes"
InSpec requires attributes to configure:
- per-machine information
- secrets / credentials

At the same time the philosophy here should be to keep attributes to a bare minimum, as more attributes raise complexity and more complex tests will likely lead to false positives/negatives in inspec.

The current idea for the interface from internal testing has been:

[code]

attributes are always scoped t

[2016-05-06 16:06] kdshah1 commented on #712
Awesome! Thanks for the update, Alex!

[2016-05-06 17:06] chris-rock opened #722 "Return IP address of tested node"
### Description

I would expect, that inspec is providing an easy way to return the node ip address. This was reported by @cwebberOps
### InSpec and Platform Version

InSpec 0.20.1
### Possible Solutions

At this point, a solution is to run a native command:

[code]

Serverspec is offering this via the `interface` resource:

[code]

I would expect the same for InSpec.

Aha! Link: https://chef.aha.

[2016-05-08 08:53] chris-rock commented on #719
Things we should consider:
- default values for attributes
- description

[code]

Also I propose that we allow different input methods for attributes. This could be done as following:

[code]

We should also think about an interactive-mode for quick testing different results:

[code]

During my work on #723, a couple of questions came up:
- What happens if required is set to false? Should the prof

[2016-05-09 12:28] #300 closed, assigned to chris-rock

[2016-05-09 13:07] aaronlippold commented on #719
I like @chris-rock suggestions of an interactive mode. 👍  That paired with the --controls= should make it very easy to actively test. 👍

"_**What happens if required is set to false?**_
In thinking about this 'Required == false' is the same as saying the attrib will always have a default value. Required == true is saying 'requiring the user to provide a value or else we can't execute the test.'  S

[2016-05-09 14:46] chris-rock opened #725 "passwd resource does not ignore comments"
### Description

[code]

I would expect that the comments are not parsed as users:

[code]
### InSpec and Platform Version

Mac OS 10.10
InSpec 0.20.1
### Replication Case

Ensure the `/etc/passwd` includes comments.
### Possible Solutions

Extend https://github.com/chef/inspec/blob/master/lib/utils/parser.rb#L20 to handle comments properly

[2016-05-09 17:44] chris-rock opened #726 "Read SELinux labels for processes"
### Description

The current implementation of `processes` returns a wide range of information already:

[code]

Unfortunately that does not include and selinux labels for processes.
### InSpec and Platform Version

InSpec 0.20.1
### Possible Solutions

I would expect a user to be able to use:

[code]

The `processes` resource uses `ps aux` to retrieve all processes for Unix systems. This is very

[2016-05-09 18:36] chef09210 opened #727 "What does 'should cmp' mean?"
This is listed in the documentation but not specified anywhere. What does 'should cmp' mean?

[2016-05-09 18:55] chef09210 opened #728 "Chef Compliance Server UI - Need capability to remove reports"
### Description

Once we receive a Report, there's no way to remove it. Reports screen in Compliance UI fills up but no way to remove old reports.
### InSpec and Platform Version

Compliance Server Version 1.1.23
Inspec version: 0.20.1
### Replication Case
### Possible Solutions

Add Delete button to Reports GUI
### Stacktrace

[2016-05-09 19:04] alexpop commented on #727
It's a matcher like `eq`, but on steroids :)
https://github.com/chef/inspec/blob/master/docs/matchers.rst

[2016-05-10 16:53] tpetchel opened #731 "Login succeeds but later commands fail"
### Description

I am able to login to my Compliance server:

[code]

But `inspec compliance profiles` fails like this:

[code]
### InSpec and Platform Version

[code]

I am running Mac OS 10.11.3.

[2016-05-10 17:07] tpetchel commented on #731
**Update**

I tried logging in again, this time supplying my token:

[code]

Now this works:

[code]

Apologies if you're supposed to always supply the token - the examples I saw used `--token ''` so I thought I was supposed to do exactly that (and perhaps a later CLI command would prompt me for my password or something to that effect.)

Regardless, perhaps we can make the error message clearer, e

[2016-05-10 20:48] anniehedgpeth opened #734 "Why file content test fails"
### Description

I'm going through Nathen Harvey's workshop to learn more, and I came across this issue.

When I run the command from the CIS documentation with sudo...

[code]

...it returns with...

[code]

But when I run the InSpec code...

[code]

...the test fails (see below).
### InSpec and Platform Version

I'm on InSpec version 0.21.0.
I'm testing on a MacBook Pro against a CentOS 6.7.
###

[2016-05-11 11:15] chris-rock commented on #734
@anniehedgpeth You are right, InSpec has only the rights of the user. Since you can grab the file with sudo only, you need to pass the sudo options for each run. You see all available options via:

[code]

In your case, you need to run the test with the `--sudo` option. If required, we also support the `--sudo-password` option. In your case this should look like:

[code]

The same is available if

[2016-05-11 11:16] chris-rock commented on #728
@chef09210 Thanks for the feedback. We scheduled this for our next releases. May I ask, why you would like to delete reports?

[2016-05-11 11:29] chris-rock commented on #727
@chef09210 Thanks for highlighting that question. The challenge that we faced a lot, is type conversion. Take one example:

[code]

Users complained, that they have to type `'2'` instead `2`. And they are right. We had two options to achieve that goal:
1) auto-convert the datatypes
2) resource returns the native datatype and we do the conversion within the matcher

We decided for 2, because the me

[2016-05-11 11:30] #726 closed, assigned to chris-rock

[2016-05-11 11:51] chris-rock commented on #693
@mhedgpeth I've been successful with `bundle exec ruby -W -Itest test/unit/fetchers_test.rb`

[2016-05-11 13:20] chris-rock opened #738 "Deprecation of array matcher"
### Description

We should use plain Ruby mechanism instead of re-inventing the wheel. RSpec matchers have the disadvantage that they split up the implementation (resource + matcher). Instead the goal is to cover the use case without requiring matchers. Therefore we will deprecate 3 matcher:
- `contain_duplicates`
- `contain_match`
- `contain_legacy_plus`
### InSpec and Platform Version

0.20.1
##

[2016-05-11 18:10] aaronlippold commented on #734
I wonder if this is a good case where more specific failure feedback would be useful. i.e. should the test have failed with 'couldn't read file' or 'need escalated privilege' etc?

[2016-05-11 18:44] aaronlippold commented on #726
Just a note, depending on the linux you are on, especially embedded systems, 'ps' may not have all the flags. I have found that sometimes is doesn't have x or u ... sometimes not even 'a'. Just something to keep in mind if we are looking to support something like busybox based systems or alpine etc etc.

[2016-05-11 20:53] chef09210 commented on #728
Cleaning? The same reason I would want to delete e-mails? Is the request really that strange?

[2016-05-11 20:54] chef09210 commented on #727
Yes, thank you both.

[2016-05-11 20:54] #727 closed, assigned to nobody

[2016-05-11 22:23] chris-rock opened #740 "Extend InSpec matcher documentation"
### Description

As highlighted in #727, our documentation leaves some open points in https://github.com/chef/inspec/blob/master/docs/matchers.rst

[2016-05-12 00:06] arlimus commented on #738
Let's add a solution to test either all or at least one item in a list:

Describe at least one item from the list, for which the following condition succeeds:

[code]

Describe all items from a list and make sure they pass the test:

[code]

Let's think some more on duplicate checking. It may end up sticking with the matcher, but i feel there may also be a different pattern...

[2016-05-12 12:31] viyew opened #741 "How to include helper methods in context to inspec file"
### Description

Currently, self is passed into the helper method in order to be in the correct context.
### InSpec and Platform Version

0.21.3
### Replication Case

[Helper file](https://gist.github.com/viyew/6f930c790a253efadc0f27fff87be250)
[Spec file](https://gist.github.com/viyew/6f930c790a253efadc0f27fff87be250)

Run inspec exec on the spec file with the helper file in the same directory

T

[2016-05-12 16:20] dh2mom247 opened #742 "Better informational error message"
### Description

I was running inspec tests on a docker container, checking that the container was listening on a port. The container was running a minimal centos 7.1 but didn't include the netstat command so the test failed. It would be really helpful to know it failed due to missing command rather than not listening on the port (especially since I could access the UI on the port)
### InSpec and

[2016-05-12 18:31] tpcwang commented on #742
I have a similar example where it would be useful to print out the stderr when the command fails. The registry_key resource on Windows uses the ConvertTo-Json cmdlet to transfer the results to json, and that cmdlet isn't available on vanilla Windows 7 SP1 because it is using powershell 2 instead of powershell 3.

Having each resource types check the command explicitly doesn't seem to scale well. P

[2016-05-12 18:46] anniehedgpeth commented on #734
Yes, exactly. We discussed the issue, and I believe that's the plan - to have better feedback for failed tests. Thanks!

[2016-05-12 18:46] #734 closed, assigned to nobody

[2016-05-13 17:31] fcaviggia commented on #710
Additional code would be needed because the rules are architecture dependent (e.g. 32- or 64-bit):

[code]

[2016-05-13 17:38] kdshah1 commented on #710
Thanks, Frank for the workaround. Yes, I agree.

---

From: Frank Caviggia notifications@github.com
Sent: Friday, May 13, 2016 1:31:56 PM
To: chef/inspec
Cc: Shah, Kina D; Author
Subject: Re: [chef/inspec] auditd_rules :lines resource not working correctly (#710)

Additional code would be needed because the rules are architecture dependent (e.g. 32- or 64-bit):

if command('uname -p').stdout =~ /x

[2016-05-13 22:21] lamont-granquist opened #749 "systemd is-enabled check does not handle backcompat with sysv-init scripts (e.g. ntp on Ubuntu 16.04)"
### Description

False failure for ntp and nscd services being enabled.
### InSpec and Platform Version

Ubuntu 16.04
inspec (0.20.1)
kitchen-inspec (0.12.5)
### Replication Case
- use the default nscd and/or ntp chef cookbooks to configure nscd/ntp.
- service[ntp] will run with :enable and :start actions
- service[nscd] will run with :enable and :start actions
- inspec tests will fail with these

[2016-05-13 22:21] lamont-granquist commented on #749
but 'fail2ban' and 'ssh' seem to work, so.....    ???

[2016-05-13 23:18] lamont-granquist opened #752 "etc_group and passwd resources are inconsistent"
considering this bit of code:

[code]

i'd expect:
- consistency around etc_group and etc_passwd (or without the 'etc_' but it looks like 'group' was used/will be used for something else..)
- consistency around `#where` vs `#filter`
- consistency in the uids/gids being either strings or integers

[2016-05-13 23:27] lamont-granquist opened #753 "need stricter type checking on arguments with better error messages and/or coercion"
this (incorrect) inspec code:

[code]

produces unhelpful error messages.  either the argument should be coerced to an int, or else strict type checking should be used so that if the user does not enter an integer that it raises a more useful error.

[code]

[2016-05-15 11:37] jeremymv2 opened #755 "Add support for alternate sudo command"
### Description

When an authorization layer such as Centrify is configured on a system a custom 'sudo' command can be required for sudo-like access.

We should be able to support this scenario and allow users to specify an alternative sudo command.

[2016-05-15 11:39] jeremymv2 commented on #755
There are 3 pull requests that together implement this ':sudo_command' feature.
- [x] Train: https://github.com/chef/train/pull/107
- [x] Inspec: https://github.com/chef/inspec/pull/754
- [x] Kitchen-Inspec: https://github.com/chef/kitchen-inspec/pull/86

[2016-05-16 15:26] lamont-granquist commented on #752
Now I seem to be getting:

[code]

did this get fixed?  if so, docs need updating.

[2016-05-16 16:40] lamont-granquist opened #759 "ssh_config and sshd_config matchers should be case-insensitive"
ssh itself does case insensitive parsing of its options, so these should both pass if the config file parser finds 'gssapiauthentication no', 'GssapiAuthentication no' or 'GSSAPIAuthentication no'

[code]

[2016-05-16 16:55] chris-rock commented on #759
We introduced the `cmp` matcher to cover this, just do not check with `eq`:

[code]

[2016-05-16 17:00] chris-rock commented on #752
`passwd` has been updated to the new syntax https://github.com/chef/inspec/pull/699/files Can you point us to the documentation? `passwd.where(user: 'adam')` should work